USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procManageAdvanceCollection]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[procManageAdvanceCollection]
	@flag char(1),
	@advanceId varchar(10)=null,
	@paidAmt varchar(10)=null,
	@paidDate varchar(10)=null,
	@narration varchar(1000)=null,
	@user varchar(50)=null
AS

set nocount on ;
DECLARE @ID VARCHAR(100);
if @flag ='i'
BEGIN
		declare @totalPaid as money
		declare @remainBal as money
		INSERT INTO AdvanceCollection(ADVANCE_ID,PAID_AMOUNT,PAID_DATE,NARRATION,CREATED_BY,CREATED_DATE)VALUES 
			(@advanceId,@paidAmt,@paidDate,@narration,@user,GETDATE())
			
		select @totalPaid=SUM(PAID_AMOUNT) from AdvanceCollection where ADVANCE_ID=@advanceId
		
		update Advance set REMAINING_BAL=AMOUNT-@totalPaid where ID=@advanceId
		
		Select @remainBal=REMAINING_BAL from Advance where ID=@advanceId
		if(@remainBal=0)
		begin
			update Advance set IS_FULLYPAID=1 where ID=@advanceId
		end
		
		SELECT @ID = SCOPE_IDENTITY()
		SELECT @ID ID

END
GO
