USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_LeaveStatus]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[proc_LeaveStatus](  
  
    @flag   CHAR(1)  
   ,@brainchId  VARCHAR(100) = NULL  
   ,@deptId   VARCHAR(100) = NULL  
   ,@Empid   VARCHAR(100) = NULL  
   ,@bsdate   VARCHAR(100) = NULL  
  
  
)  
AS  
  
/*  
 C  -> CURRENT LEAVE STATUS  
 L -> PREVIOUS LEAVE STATUS  
   
*/  
  
SET NOCOUNT ON   
DECLARE @SQL  VARCHAR(MAX)  
  
 BEGIN   
  
    IF @flag ='c'  
    BEGIN  
     SET @SQL =   
        'SELECT   
      E.EMPLOYEE_ID as ''Employee ID''  
      ,FIRST_NAME +'' '' + MIDDLE_NAME+'' ''+ LAST_NAME as Employee  
      ,T.NAME_OF_LEAVE as ''Name Of Leave''  
      ,isnull(l.LAST_YEAR_LEAVE,0) as ''Balance Brought Forward From Last Year''  
      ,L.NO_OF_DAYS_ACTUAL as ''Leave Assignment This Year''  
      ,isnull(L.LEAVE_TAKEN_THIS_YEAR,0) as ''Leaves taken This year''  
      ,ISNULL(l.LAST_YEAR_LEAVE,0)+ISNULL(l.NO_OF_DAYS_ACTUAL,0)-ISNULL(l.LEAVE_TAKEN_THIS_YEAR,0) as ''Total Remaining Leave''  
      from leaveAssignment L  
      join Employee E on L.EMPLOYEE_ID=E.EMPLOYEE_ID  
      join LeaveTypes T on L.LEAVE_TYPE_ID = T.ID  
      where E.EMPLOYEE_ID <>''1000'''  
       
     IF @brainchId<>0 AND @brainchId IS NOT NULL  
     SET @SQL=@SQL+' AND E.BRANCH_ID ='''+@brainchId+''''   
       
     IF @deptId<>0 AND @deptId IS NOT NULL  
     SET @SQL=@SQL+' AND E.DEPARTMENT_ID ='''+@deptId+''''   
       
     IF @Empid<>0 AND @Empid IS NOT NULL  
     SET @SQL=@SQL+' AND E.EMPLOYEE_ID ='''+@Empid+''''   
       
       
     SET @SQL= @SQL + '  Order by E.FIRST_NAME'  
  EXEC (@SQL)  
   --PRINT @SQL  
  
   END  
  
  IF @flag ='l'  
  BEGIN  
      SET  @SQL  =  
     'SELECT   
     E.EMPLOYEE_ID as ''Employee ID''  
     ,FIRST_NAME +'' '' + MIDDLE_NAME+'' ''+ LAST_NAME as Employee  
     ,T.NAME_OF_LEAVE as ''Name Of Leave''  
     ,isnull(l.LAST_YEAR_LEAVE,0) as ''Balance Brought Forward From Last Year''  
     ,L.NO_OF_DAYS_ACTUAL as ''Leave Assignment This Year''  
     ,isnull(L.LEAVE_TAKEN_THIS_YEAR,0) as ''Leaves taken This year''  
     ,CASE WHEN l.MAX_ACCUMULATION=0 THEN 0   
     ELSE leave_carried_forward END as  ''Carried Forward to Next Year''  
     from leaveAssignmentHistory L  
     join Employee E on L.EMPLOYEE_ID=E.EMPLOYEE_ID  
     join LeaveTypes T on L.LEAVE_TYPE_ID = T.ID  
     where E.EMPLOYEE_ID <>''1000'' AND L.BS_YEAR = '''+@bsdate+''''  
       
     IF @brainchId<>0 AND @brainchId IS NOT NULL  
     SET @SQL=@SQL+' AND E.BRANCH_ID ='''+@brainchId+''''   
       
     IF @deptId<>0 AND @deptId IS NOT NULL  
     SET @SQL=@SQL+' AND E.DEPARTMENT_ID ='''+@deptId+''''   
       
     IF @Empid<>0 AND @Empid IS NOT NULL  
     SET @SQL=@SQL+' AND E.EMPLOYEE_ID ='''+@Empid+''''   
     SET @SQL= @SQL + '  Order by E.FIRST_NAME'  
  --print (@SQL)  
  EXEC (@SQL)  
  END  
  
END
GO
