USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_in_branch]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[proc_in_branch]
				@flag char(1),
				@id int=null,
				@user varchar(50)=null,
				@sales_ac varchar(50)=null,
				@purchase_ac varchar(50)=null,
				@inventory_ac varchar(50)=null,
				@comm_ac varchar(50)=null,	
				@branchid  varchar(10)=null,
				@productid  varchar(20)=null,
				@reorderlever varchar(20)=null,
				@isactive varchar(5)=null,
				@REORDER_QTY VARCHAR(50)=NULL,
				@MAX_HOLDING_QTY VARCHAR(50)=NULL
as				
set nocount on;


if(@flag='i')
begin
		if @branchid is not null
		begin
			IF EXISTS(SELECT * FROM IN_BRANCH WHERE BRANCH_ID=@branchid AND PRODUCT_ID=@productid)
			BEGIN
				SELECT 'Already Assigned!' as msg
				RETURN;
			END
			ELSE
			BEGIN
				INSERT INTO IN_BRANCH(SALES_AC, PURCHASE_AC, INVENTORY_AC, COMM_AC, BRANCH_ID, PRODUCT_ID, 
				CREATED_DATE, CREATED_BY, REORDER_LEVEL, IS_ACTIVE,REORDER_QTY,MAX_HOLDING_QTY)
				   VALUES (@sales_ac, @purchase_ac, @inventory_ac, @comm_ac, @branchid, @productid, 
				   GETDATE(), @user, @reorderlever, @isactive,@REORDER_QTY,@MAX_HOLDING_QTY)		
			   
				SELECT 'SUCCESS!' AS MSG	
			END
		end
		else
		begin
			
			INSERT INTO IN_BRANCH(SALES_AC, PURCHASE_AC, INVENTORY_AC, COMM_AC, BRANCH_ID, PRODUCT_ID, 
				CREATED_DATE, CREATED_BY, REORDER_LEVEL, IS_ACTIVE,REORDER_QTY,MAX_HOLDING_QTY)
			select @sales_ac, @purchase_ac, @inventory_ac, @comm_ac, BRANCH_ID, @productid, 
				   GETDATE(), @user, @reorderlever, @isactive,@REORDER_QTY,@MAX_HOLDING_QTY
			from Branches with(nolock)  		
			where branch_id not in (select branch_id from IN_BRANCH where PRODUCT_ID = @productid)
			SELECT 'SUCCESS!' AS MSG
		end
end	 

if(@flag='u')
begin
	update IN_BRANCH set SALES_AC = @sales_ac, PURCHASE_AC=@purchase_ac, 
		 INVENTORY_AC=@inventory_ac, COMM_AC=@comm_ac,
		 MODIFIED_DATE=GETDATE(), MODIFIED_BY=@user, REORDER_LEVEL = @reorderlever,
		IS_ACTIVE = @isactive,REORDER_QTY=@REORDER_QTY,MAX_HOLDING_QTY=@MAX_HOLDING_QTY where id = @id
end


if(@flag='s')
begin

	SELECT   A.SALES_AC
			,dbo.[FunGetAC_Name](SALES_AC) SALES_NAME
			,A.PURCHASE_AC
			,dbo.[FunGetAC_Name](PURCHASE_AC) PURCHASE_NAME
			,A.INVENTORY_AC
			,dbo.[FunGetAC_Name](INVENTORY_AC)   EXPENSES_NAME
			,A.COMM_AC
			,dbo.[FunGetAC_Name](COMM_AC) COMMISSION_NAME 
			,A.BRANCH_ID
			,A.REORDER_LEVEL
			,A.IS_ACTIVE
			,REORDER_QTY
			,MAX_HOLDING_QTY 
			,item_name
	 FROM IN_BRANCH A
	INNER JOIN IN_PRODUCT B ON B.ID = A.PRODUCT_ID 
	INNER JOIN IN_ITEM C ON C.id = B.item_id WHERE A.ID = @id

end


 IF @flag='d'
 BEGIN
		IF((SELECT ISNULL(stock_in_hand,0) FROM IN_BRANCH WHERE ID=@id)='0')
		BEGIN
			DELETE FROM IN_BRANCH WHERE ID=@id
			SELECT 'SUCCESS!' AS MSG
			RETURN;
		END
		ELSE
		BEGIN
			SELECT 'Sorry, No Delete! It Has Already Stock In Hand!' AS MSG
			RETURN;
		END
 END
GO
