USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_In_Itemsetup]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[proc_In_Itemsetup]
		@flag char(1),
		@ID int=null,
		@user varchar(50)=null,
		@itemname varchar(50)=null,
		@itemdesc varchar(50)=null,
		@parentid varchar(50)=null
AS
set nocount on;


 if @flag='i'
begin
		
		
		if exists(
					select id from IN_ITEM where parent_id = @parentid and is_product='true'
		)
		begin
					SELECT 'This Group Has Product, Can Not Add Group and Product on Same Group' as MSG
					return
		end
			
		
		INSERT INTO IN_ITEM(item_name, item_desc, parent_id,  created_date, created_by, is_product) 
		VALUES (@itemname, @itemdesc, @parentid,  GETDATE(), @user, 'false')
		
		
		SELECT 'SUCESS' as MSG
		
end
if @flag='u'
	begin
	
	
		update IN_ITEM set item_name=@itemname, item_desc = @itemdesc,
		modified_by = @user, modified_date = GETDATE()  where id = @id
		
		
		SELECT 'SUCESS' as MSG
		
	end
	
if @flag='r'
	begin
		select i.id,'<img style="border-width: 0pt;" alt="" src="../../Images/iconFolderClosed.gif"> ' + i.item_name as item_name,
		 (select count(*) FROM IN_ITEM with(nolock) 
		WHERE parent_id  = i.id) 'childnodecount' from IN_ITEM i with(nolock) where i.parent_id is null
	end
if @flag='c'
	begin
	
		 select i.is_product, p.id from IN_ITEM i with(nolock) 
		 left join IN_PRODUCT p with(nolock) on i.id=p.item_id 
		 where i.id = @ID
		 	
	end
if @flag='s'
	begin
		
		
		select i.id, 
		case when is_product='false' then
			 '<img style="border-width: 0pt;" alt="" src="../../Images/iconFolderClosed.gif"> ' 
		else	
			'<img style="border-width: 0pt;" alt="" src="../../Images/iconInfo.gif"> '
		 end 
		+ i.item_name as item_name ,
		
		(select count(*) from IN_ITEM a where parent_id=i.id) 'childnodecount' 
		from IN_ITEM i with(nolock) where i.parent_id = @parentid
	end
	
if @flag='t'
	begin
		select id, parent_id,item_name, item_desc, is_product from IN_ITEM with(nolock) where id = @ID
	end
GO
