USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procPayrollCalDetail]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*

Exec procPayrollCalDetail 'a','69-70','4'
  
 */
 
CREATE PROC [dbo].[procPayrollCalDetail]
	@flag varchar(1),
	@Year varchar(20)=null,
	@month varchar(10)=null
AS

SET NOCOUNT ON;

IF @flag = 'a'
BEGIN


DECLARE
	 @sql							VARCHAR(MAX)
	,@heading						VARCHAR(MAX)
	,@heading_select				VARCHAR(MAX)

DECLARE 
	@remainMonth varchar(3),
	@yearStartDate varchar(12),
	@yearEndDate varchar(12),
	@monthStartDate varchar(12),
	@monthEndDate varchar(12),
	@monthname VARCHAR (20),
	@previousmonthStartDate varchar(12),
	@previousmonthEndDate varchar(12),
	@previousfy VARCHAR(10),
	@days INT,
	@day_diff int,
	@PreviousMonth INT,
	@NextMonthenddate varchar(10),
	@nextmonth INT

	SET @monthStartDate=dbo.GetMonthStartDateEng(@year,@month) 
	SET @monthEndDate=dbo.GetMonthEndDateEng(@year,@month)

	---Year Start Date
	SELECT 
		@yearStartDate = EN_YEAR_START_DATE 
	FROM FiscalYear 
	WHERE FISCAL_YEAR_NEPALI=@Year

	---Year End Date
	SELECT 
		@yearEndDate	= EN_YEAR_END_DATE 
	FROM FiscalYear 
	WHERE FISCAL_YEAR_NEPALI=@Year

	---Run Month Name
	SELECT 
		@monthname = Name 
	FROM MonthList 
	WHERE Month_Number=@month

	SELECT 
		@previousfy = FISCAL_YEAR_NEPALI 
	FROM FiscalYear 
	WHERE EN_YEAR_END_DATE=DATEADD(D,-1,@yearStartDate)

	SELECT @previousfy				= CASE WHEN CAST(@month AS INT)=4 THEN @previousfy ELSE @Year END
	SELECT @monthStartDate			= dbo.GetMonthStartDateEng(@Year,@month) 
	SELECT @monthEndDate			= dbo.GetMonthEndDateEng(@Year,@month)
	SELECT @previousfy				= CASE WHEN CAST(@month AS INT)=4 THEN @previousfy ELSE @Year END
	SELECT @previousmonthStartDate	= dbo.GetMonthStartDateEng(@previousfy,@month-1) 
	SELECT @previousmonthEndDate	= dbo.GetMonthEndDateEng(@previousfy,@month-1) 
	SELECT @PreviousMonth			= Case @month when 4 then 12 when 1 then 12 else @month-1 end

---- Contribution (PF)
SELECT EMPLOYEE_ID, AMOUNT, headings, SN
INTO #TEMPCONTRIBUTION FROM 
( 
			SELECT 
				EMPLOYEE_ID
				,ROUND(SUM(AMOUNT),2) AMOUNT
				,'EMPLOYER-' + DETAIL_TITLE+'-HISTORY' [headings], 1  SN
			FROM (
				SELECT
					 c.EMPLOYEE_ID
					,ISNULL(ch.AMOUNT_EMPLOYER, 0) [AMOUNT]
					,sdd.DETAIL_TITLE 	
				FROM ContributionHistory ch
				INNER JOIN Contribution c ON ch.CONTRIBUTION_ID = c.ID
				INNER JOIN StaticDataDetail sdd ON sdd.ROWID = c.CONTRIBUTED_TO
					WHERE (from_date between @yearStartDate and @previousmonthEndDate
					and to_date between @yearStartDate and @previousmonthEndDate)
					AND ISNULL(ch.AMOUNT_EMPLOYER, 0)>0
					
				UNION ALL
					
				SELECT
					 ch.EMPLOYEE_ID
					,ISNULL(ch.CONTB_AMOUNT_EMPLOYER, 0) [AMOUNT]
					,sdd.DETAIL_TITLE [headings]	
				FROM ADHOC_CONTRIBUTION ch
				INNER JOIN StaticDataDetail sdd ON sdd.ROWID = ch.CONTB_TO
				WHERE 1=1
				AND ISNULL(CH.IS_PAID,0)=0
				and ch.CONTB_DATE between @yearStartDate and @previousmonthEndDate
				AND ISNULL(ch.CONTB_AMOUNT_EMPLOYER, 0)>0
			) YX GROUP BY EMPLOYEE_ID,DETAIL_TITLE
			
			Union All
			
			SELECT 
				EMPLOYEE_ID
				,ROUND(SUM(AMOUNT),2) AMOUNT
				,'EMPLOYER-' + DETAIL_TITLE+'-CURRENT' [headings], 2  SN
			FROM (
				SELECT
					 c.EMPLOYEE_ID
					,ISNULL(ch.AMOUNT_EMPLOYER, 0) [AMOUNT]
					,sdd.DETAIL_TITLE 	
				FROM ContributionHistory ch
				INNER JOIN Contribution c ON ch.CONTRIBUTION_ID = c.ID
				INNER JOIN StaticDataDetail sdd ON sdd.ROWID = c.CONTRIBUTED_TO
					WHERE ch.RUN_MONTH = @month AND ch.FY_ID = @year
					AND ISNULL(ch.AMOUNT_EMPLOYER, 0)>0
					
				UNION ALL
					
				SELECT
					 ch.EMPLOYEE_ID
					,ISNULL(ch.CONTB_AMOUNT_EMPLOYER, 0) [AMOUNT]
					,sdd.DETAIL_TITLE [headings]	
				FROM ADHOC_CONTRIBUTION ch
				INNER JOIN StaticDataDetail sdd ON sdd.ROWID = ch.CONTB_TO
				WHERE 1=1
				AND ISNULL(CH.IS_PAID,0)=0
				and ch.CONTB_DATE between @monthStartDate and @monthEndDate
				AND ISNULL(ch.CONTB_AMOUNT_EMPLOYER, 0)>0
			) YX GROUP BY EMPLOYEE_ID,DETAIL_TITLE
			
			Union All
			
			SELECT 
				EMPLOYEE_ID
				,ROUND(SUM(AMOUNT),2) AMOUNT
				,'EMPLOYER-' + DETAIL_TITLE+'-TO_BE_PAID' [headings], 3  SN
			FROM (
				SELECT
					 c.EMPLOYEE_ID
					,ISNULL(ch.AMOUNT_EMPLOYER, 0) [AMOUNT]
					,sdd.DETAIL_TITLE 	
				FROM ContributionFutureHistory ch
				INNER JOIN Contribution c ON ch.CONTRIBUTION_ID = c.ID
				INNER JOIN StaticDataDetail sdd ON sdd.ROWID = c.CONTRIBUTED_TO
					WHERE ch.RUN_MONTH = @month AND ch.FY_ID = @year
					AND ISNULL(ch.AMOUNT_EMPLOYER, 0)>0
					
			) YX GROUP BY EMPLOYEE_ID,DETAIL_TITLE

			UNION ALL
				
			SELECT 
			EMPLOYEE_ID
			,ROUND(SUM(AMOUNT),2) AMOUNT
			,'EMPLOYEE-'+ DETAIL_TITLE+'-PAID' [headings], 4 SN
			FROM (
				SELECT
					 c.EMPLOYEE_ID
					,ISNULL(ch.AMOUNT_EMPLOYEE, 0) [AMOUNT]
					,sdd.DETAIL_TITLE 	
				FROM ContributionHistory ch
				INNER JOIN Contribution c ON ch.CONTRIBUTION_ID = c.ID
				INNER JOIN StaticDataDetail sdd ON sdd.ROWID = c.CONTRIBUTED_TO
					WHERE  (from_date between @yearStartDate and @previousmonthEndDate
					and to_date between @yearStartDate and @previousmonthEndDate)
					AND ISNULL(ch.AMOUNT_EMPLOYEE, 0)>0
									
				UNION ALL
					
					SELECT
					 ch.EMPLOYEE_ID
					,ISNULL(ch.CONTB_AMOUNT_EMPLOYEE, 0) [AMOUNT]
					,sdd.DETAIL_TITLE [headings]	
				FROM ADHOC_CONTRIBUTION ch
				INNER JOIN StaticDataDetail sdd ON sdd.ROWID = ch.CONTB_TO
				WHERE 1=1
				AND ISNULL(CH.IS_PAID,0)=0
				and ch.CONTB_DATE between @yearStartDate and @previousmonthenddate
				AND ISNULL(ch.CONTB_AMOUNT_EMPLOYEE, 0)>0
			) YX GROUP BY EMPLOYEE_ID,DETAIL_TITLE
					
			
			Union All
			SELECT 
			EMPLOYEE_ID
			,ROUND(SUM(AMOUNT),2) AMOUNT
			,'EMPLOYEE-'+ DETAIL_TITLE+'-CURRENT' [headings], 5 SN
			FROM (
				SELECT
					 c.EMPLOYEE_ID
					,ISNULL(ch.AMOUNT_EMPLOYEE, 0) [AMOUNT]
					,sdd.DETAIL_TITLE 	
				FROM ContributionHistory ch
				INNER JOIN Contribution c ON ch.CONTRIBUTION_ID = c.ID
				INNER JOIN StaticDataDetail sdd ON sdd.ROWID = c.CONTRIBUTED_TO
					WHERE  ch.RUN_MONTH = @month AND ch.FY_ID = @year
					AND ISNULL(ch.AMOUNT_EMPLOYEE, 0)>0
									
				UNION ALL
					
					SELECT
					 ch.EMPLOYEE_ID
					,ISNULL(ch.CONTB_AMOUNT_EMPLOYEE, 0) [AMOUNT]
					,sdd.DETAIL_TITLE [headings]	
				FROM ADHOC_CONTRIBUTION ch
				INNER JOIN StaticDataDetail sdd ON sdd.ROWID = ch.CONTB_TO
				WHERE 1=1
				AND ISNULL(CH.IS_PAID,0)=0
				and ch.CONTB_DATE between @monthStartDate and @monthEndDate
				AND ISNULL(ch.CONTB_AMOUNT_EMPLOYEE, 0)>0
			) YX GROUP BY EMPLOYEE_ID,DETAIL_TITLE


			Union All

			SELECT 
			EMPLOYEE_ID
			,ROUND(SUM(AMOUNT),2) AMOUNT
			,'EMPLOYEE-'+ DETAIL_TITLE+'-TO_BE_PAID' [headings], 6 SN
			FROM (
				SELECT
					 c.EMPLOYEE_ID
					,ISNULL(ch.AMOUNT_EMPLOYEE, 0) [AMOUNT]
					,sdd.DETAIL_TITLE 	
				FROM ContributionFutureHistory ch
				INNER JOIN Contribution c ON ch.CONTRIBUTION_ID = c.ID
				INNER JOIN StaticDataDetail sdd ON sdd.ROWID = c.CONTRIBUTED_TO
					WHERE  ch.RUN_MONTH = @month AND ch.FY_ID = @year
					AND ISNULL(ch.AMOUNT_EMPLOYEE, 0)>0

			) YX GROUP BY EMPLOYEE_ID,DETAIL_TITLE

) Z

---- History Basic Salary
SELECT
	 @heading = ISNULL(@heading + ', ', '') + '[' + [headings] + ']'
	,@heading_select = ISNULL(@heading_select + ', ', '') + 'ISNULL([' + [headings] + '], 0) ' + '[' + [headings] + ']'
	
FROM (

	SELECT DISTINCT DETAIL_TITLE+'-PAID' [headings] , TYPE_ID FROM 
	(
		SELECT 	TYPE_ID,	
		sdd.DETAIL_TITLE 		
		FROM PayableHistory ph
		INNER JOIN StaticDataDetail sdd ON ph.BENEFIT_ID = sdd.ROWID
		INNER JOIN Employee emp ON emp.EMPLOYEE_ID = ph.EMPLOYEE_ID
		WHERE (FROM_DATE between @yearStartDate and @previousmonthEndDate
		and TO_DATE between @yearStartDate and @previousmonthEndDate)
		AND TYPE_ID =36
		
		UNION ALL
		
		SELECT TYPE_ID,S.DETAIL_TITLE FROM AdhocPayment A JOIN StaticDataDetail S ON A.HEAD_ID=S.ROWID 
		WHERE S.TYPE_ID =36
		AND APPLIED_DATE BETWEEN @yearStartDate AND @previousmonthEndDate

		)Z
			
	) regular_payable_headings  ORDER BY TYPE_ID

---- Current Basic Salary
SELECT
	 @heading = ISNULL(@heading + ', ', '') + '[' + [headings] + ']'
	,@heading_select = ISNULL(@heading_select + ', ', '') + 'ISNULL([' + [headings] + '], 0) ' + '[' + [headings] + ']'
	
FROM (

	SELECT DISTINCT DETAIL_TITLE+'-CURRENT' [headings] , TYPE_ID FROM (
		SELECT 	TYPE_ID,	
		sdd.DETAIL_TITLE 		
		FROM PayableHistory ph
		INNER JOIN StaticDataDetail sdd ON ph.BENEFIT_ID = sdd.ROWID
		INNER JOIN Employee emp ON emp.EMPLOYEE_ID = ph.EMPLOYEE_ID
		WHERE RUN_MONTH =@month AND FY_ID=@year
		AND TYPE_ID=36
		
		UNION ALL
		
		SELECT TYPE_ID,S.DETAIL_TITLE FROM Adhocpayment A JOIN StaticDataDetail S ON A.HEAD_ID=S.ROWID 
		WHERE S.TYPE_ID =36 
		AND APPLIED_DATE BETWEEN @monthStartDate AND @monthEndDate

		--UNION ALL
		
		--SELECT TYPE_ID,S.DETAIL_TITLE FROM Adhocpayment A JOIN StaticDataDetail S ON A.HEAD_ID=S.ROWID 
		--WHERE S.TYPE_ID =36 
		--AND APPLIED_DATE BETWEEN @monthStartDate AND @monthEndDate

		)Z
			
	) regular_payable_headings  ORDER BY TYPE_ID

---- Future Basic Salary

SELECT
	 @heading = ISNULL(@heading + ', ', '') + '[' + [headings] + ']'
	,@heading_select = ISNULL(@heading_select + ', ', '') + 'ISNULL([' + [headings] + '], 0) ' + '[' + [headings] + ']'
	
FROM 
(
		SELECT DISTINCT DETAIL_TITLE+'-TO_BE_PAID'  [headings], TYPE_ID FROM 
		(
			SELECT 	TYPE_ID,	
			sdd.DETAIL_TITLE 		
			FROM PayableHistory_Future ph
			INNER JOIN StaticDataDetail sdd ON ph.BENEFIT_ID = sdd.ROWID
			INNER JOIN Employee emp ON emp.EMPLOYEE_ID = ph.EMPLOYEE_ID
			WHERE RUN_MONTH =@month AND FY_ID=@year
			AND TYPE_ID=36
		)Z
			
) regular_payable_headings  ORDER BY TYPE_ID

---- History Grade

SELECT
	 @heading = ISNULL(@heading + ', ', '') + '[' + [headings] + ']'
	,@heading_select = ISNULL(@heading_select + ', ', '') + 'ISNULL([' + [headings] + '], 0) ' + '[' + [headings] + ']'
	
FROM (

	SELECT DISTINCT DETAIL_TITLE+'-PAID' [headings] , TYPE_ID FROM 
	(
		SELECT 	TYPE_ID,	
		sdd.DETAIL_TITLE 		
		FROM PayableHistory ph
		INNER JOIN StaticDataDetail sdd ON ph.BENEFIT_ID = sdd.ROWID
		INNER JOIN Employee emp ON emp.EMPLOYEE_ID = ph.EMPLOYEE_ID
		WHERE (FROM_DATE between @yearStartDate and @previousmonthEndDate
		and TO_DATE between @yearStartDate and @previousmonthEndDate)
		AND TYPE_ID =37
		
		UNION ALL
		
		SELECT TYPE_ID,S.DETAIL_TITLE FROM AdhocPayment A JOIN StaticDataDetail S ON A.HEAD_ID=S.ROWID 
		WHERE S.TYPE_ID =37
		AND APPLIED_DATE BETWEEN @yearStartDate AND @previousmonthEndDate

		)Z
			
	) regular_payable_headings  ORDER BY TYPE_ID

---- Current Grade
SELECT
	 @heading = ISNULL(@heading + ', ', '') + '[' + [headings] + ']'
	,@heading_select = ISNULL(@heading_select + ', ', '') + 'ISNULL([' + [headings] + '], 0) ' + '[' + [headings] + ']'
	
FROM (
		SELECT DISTINCT DETAIL_TITLE+'-CURRENT' [headings] , TYPE_ID FROM 
		(
			SELECT 	TYPE_ID,	
			sdd.DETAIL_TITLE 		
			FROM PayableHistory ph
			INNER JOIN StaticDataDetail sdd ON ph.BENEFIT_ID = sdd.ROWID
			WHERE RUN_MONTH =@month AND FY_ID=@year
			AND TYPE_ID=37
		
			UNION ALL
		
			SELECT TYPE_ID,S.DETAIL_TITLE FROM AdhocPayment A JOIN StaticDataDetail S ON A.HEAD_ID=S.ROWID 
			WHERE S.TYPE_ID =37
			AND APPLIED_DATE between @monthStartDate and @monthEndDate

			--UNION ALL
		
			--SELECT TYPE_ID,S.DETAIL_TITLE FROM Adhocpayment A JOIN StaticDataDetail S ON A.HEAD_ID=S.ROWID 
			--WHERE S.TYPE_ID =37
			--AND APPLIED_DATE BETWEEN @monthStartDate AND @monthEndDate

		)Z		
	) regular_payable_headings  ORDER BY TYPE_ID

---- Future Grade

SELECT
	 @heading = ISNULL(@heading + ', ', '') + '[' + [headings] + ']'
	,@heading_select = ISNULL(@heading_select + ', ', '') + 'ISNULL([' + [headings] + '], 0) ' + '[' + [headings] + ']'
	
FROM 
(
		SELECT DISTINCT DETAIL_TITLE+'-TO_BE_PAID'  [headings], TYPE_ID FROM 
		(
			SELECT 	TYPE_ID,	
			sdd.DETAIL_TITLE 		
			FROM PayableHistory_Future ph
			INNER JOIN StaticDataDetail sdd ON ph.BENEFIT_ID = sdd.ROWID
			INNER JOIN Employee emp ON emp.EMPLOYEE_ID = ph.EMPLOYEE_ID
			WHERE RUN_MONTH =@month AND FY_ID=@year
			AND TYPE_ID=37
		)Z
			
) regular_payable_headings  ORDER BY TYPE_ID

---- History Allowance

SELECT
	 @heading = ISNULL(@heading + ', ', '') + '[' + [headings] + ']'
	,@heading_select = ISNULL(@heading_select + ', ', '') + 'ISNULL([' + [headings] + '], 0) ' + '[' + [headings] + ']'
	
FROM (

	SELECT DISTINCT DETAIL_TITLE+'-PAID' [headings] , TYPE_ID FROM 
	(
		SELECT 	TYPE_ID,	
		sdd.DETAIL_TITLE 		
		FROM PayableHistory ph
		INNER JOIN StaticDataDetail sdd ON ph.BENEFIT_ID = sdd.ROWID
		INNER JOIN Employee emp ON emp.EMPLOYEE_ID = ph.EMPLOYEE_ID
		WHERE (FROM_DATE between @yearStartDate and @previousmonthEndDate
		and TO_DATE between @yearStartDate and @previousmonthEndDate)
		AND TYPE_ID =38
		
		UNION ALL
		
		SELECT TYPE_ID,S.DETAIL_TITLE FROM AdhocPayment A JOIN StaticDataDetail S ON A.HEAD_ID=S.ROWID 
		WHERE S.TYPE_ID =38
		AND APPLIED_DATE BETWEEN @yearStartDate AND @previousmonthEndDate
	)Z
			
	) regular_payable_headings  ORDER BY TYPE_ID

---- Current Allowance
SELECT
	 @heading = ISNULL(@heading + ', ', '') + '[' + [headings] + ']'
	,@heading_select = ISNULL(@heading_select + ', ', '') + 'ISNULL([' + [headings] + '], 0) ' + '[' + [headings] + ']'
	
FROM (
		SELECT DISTINCT DETAIL_TITLE+'-CURRENT' [headings] , TYPE_ID FROM 
		(
			SELECT 	TYPE_ID,	
			sdd.DETAIL_TITLE 		
			FROM PayableHistory ph
			INNER JOIN StaticDataDetail sdd ON ph.BENEFIT_ID = sdd.ROWID
			WHERE RUN_MONTH =@month AND FY_ID=@year
			AND TYPE_ID=38
		
			UNION ALL
		
			SELECT TYPE_ID,S.DETAIL_TITLE FROM AdhocPayment A JOIN StaticDataDetail S ON A.HEAD_ID=S.ROWID 
			WHERE S.TYPE_ID =38
			AND APPLIED_DATE between @monthStartDate and @monthEndDate

			--UNION ALL
		
			--SELECT TYPE_ID,S.DETAIL_TITLE FROM Adhocpayment A JOIN StaticDataDetail S ON A.HEAD_ID=S.ROWID 
			--WHERE S.TYPE_ID =38
			--AND APPLIED_DATE BETWEEN @monthStartDate AND @monthEndDate

		)Z		
	) regular_payable_headings  ORDER BY TYPE_ID

---- Future Allowance

SELECT
	 @heading = ISNULL(@heading + ', ', '') + '[' + [headings] + ']'
	,@heading_select = ISNULL(@heading_select + ', ', '') + 'ISNULL([' + [headings] + '], 0) ' + '[' + [headings] + ']'
	
FROM 
(
		SELECT DISTINCT DETAIL_TITLE+'-TO_BE_PAID'  [headings], TYPE_ID FROM 
		(
			SELECT 	TYPE_ID,	
			sdd.DETAIL_TITLE 		
			FROM PayableHistory_Future ph
			INNER JOIN StaticDataDetail sdd ON ph.BENEFIT_ID = sdd.ROWID
			INNER JOIN Employee emp ON emp.EMPLOYEE_ID = ph.EMPLOYEE_ID
			WHERE RUN_MONTH =@month AND FY_ID=@year
			AND TYPE_ID=38
		)Z
			
) regular_payable_headings  ORDER BY TYPE_ID

--- Adhoc Benifits

SELECT
	 @heading = ISNULL(@heading + ', ', '') + '[' + [headings] + ']'
	,@heading_select = ISNULL(@heading_select + ', ', '') + 'ISNULL([' + [headings] + '], 0) ' + '[' + [headings] + ']'
FROM (

		---- Adhoc Benefits Paid
		SELECT
			DISTINCT
			sdd.DETAIL_TITLE+'-PAID' [headings]	
		FROM AdhocPayment ap
		INNER JOIN StaticDataDetail sdd ON sdd.ROWID = ap.HEAD_ID
		WHERE ADD_DEDUCT = 'A' AND TYPE_ID ='41'
		AND ap.APPLIED_DATE BETWEEN @yearStartDate AND @previousmonthEndDate

		UNION ALL

		---- Adhoc Benefits current
		SELECT
			DISTINCT
			sdd.DETAIL_TITLE+'-CURRENT' [headings]	
		FROM AdhocPayment ap
		INNER JOIN StaticDataDetail sdd ON sdd.ROWID = ap.HEAD_ID
		WHERE ADD_DEDUCT = 'A' AND TYPE_ID ='41'
		AND ap.APPLIED_DATE BETWEEN @monthStartDate AND @monthEndDate

	) Adhoc_headings

--- Other Benefits && Total Benefit

SELECT
	 @heading = ISNULL(@heading + ', ', '') + '[' + [headings] + ']'
	,@heading_select = ISNULL(@heading_select + ', ', '') + 'ISNULL([' + [headings] + '], 0) ' + '[' + [headings] + ']'
FROM 
(
		Select 'Vehicle Benefit' AS [headings] 

		UNION ALL
		Select 'House Benefit' AS [headings]

		UNION ALL
		Select 'Interest Benefit' AS [headings]

		UNION ALL
		Select distinct Sdd.detail_title AS [headings]
		from Insurance I
		INNER JOIN StaticDataDetail sdd on I.Insurance_For=sdd.ROWID
		where PREMIUM_PAYER='employer'

		UNION ALL
		SELECT 'TOTAL GRATUITY' AS [headings]

		UNION ALL
		Select 'Absorbed Gratuity' AS [headings]

		UNION ALL 

		SELECT 'Unabsorbed Gratuity' AS [headings]
		
		UNION ALL

		SELECT 'Monthly Gratuity Provision' AS [headings]

		UNION ALL
		SELECT DISTINCT headings 
		FROM #TEMPCONTRIBUTION where headings like 'Employer%'
		
		UNION ALL
		Select 'Total Benefit' AS [headings]

) Other_Tax_Benefit

--- Deduction Heads && Total Deduction

SELECT
	 @heading = ISNULL(@heading + ', ', '') + '[' + [headings] + ']'
	,@heading_select = ISNULL(@heading_select + ', ', '') + 'ISNULL([' + [headings] + '], 0) ' + '[' + [headings] + ']'
FROM 
(
		SELECT Distinct 'PF Deposit Paid' AS [headings]
		from #TEMPCONTRIBUTION where headings like '%-History'

		UNION ALL

		SELECT Distinct 'PF Deposit Current' AS [headings]
		from #TEMPCONTRIBUTION where headings like '%-Current'

		UNION ALL
		SELECT Distinct 'PF Deposit Remaining' AS [headings]
		from #TEMPCONTRIBUTION where headings like '%-To_Be_Paid'

		UNION ALL
		Select 'Donation Normal' AS [headings]
		
		UNION ALL
		Select 'Donation Special' AS [headings]

		UNION ALL
		SELECT 'Life Insurance'  
		
		UNION ALL
		SELECT 'HOUSE Loan Insurance'
		
		Union ALL
		SELECT 'Self Life Insurance'

		UNION ALL
		Select 'Premium Deduction' AS [headings]

		UNION ALL
		Select 'Disable Deduction' AS [headings]

		UNION ALL
		Select 'Rural Allowance Deduction' AS [headings]
		
		UNION ALL
		SELECT 'Minimum of 1/3|300000'
		
		UNION ALL 
		SELECT 'Actual Contribution Made' AS [headings]
		
		UNION ALL
		Select 'Retirement Deduction' AS [headings]

		UNION ALL
		Select 'Total Deduction' AS [headings]

) Deduction_Headings

--- Taxation

SELECT
	 @heading = ISNULL(@heading + ', ', '') + '[' + [headings] + ']'
	,@heading_select = ISNULL(@heading_select + ', ', '') + 'ISNULL([' + [headings] + '], 0) ' + '[' + [headings] + ']'
FROM (

		Select 'Taxable Income' AS [headings]
		
		UNION ALL
		Select 'Slab1 Amount' AS [headings]

		UNION ALL
		Select 'Slab2 Amount' AS [headings]

		UNION ALL
		Select 'Remaining' AS [headings]

		UNION ALL
		Select 'Additional Slab Amount' AS [headings]

		UNION ALL
		Select 'Tax Amount' AS [headings]

		UNION ALL
		Select 'Tax Collected' AS [headings]

		UNION ALL
		Select 'Female Discount' AS [headings]

		UNION ALL
		Select 'Medical Tax Limit' AS [headings]

		UNION ALL
		Select 'Tax for The month' AS [headings]

	) Tax_Headings

--- Adhoc Deduction
	
SELECT
	@heading = ISNULL(@heading + ', ', '') + '[' + [headings] + ']'
	,@heading_select = ISNULL(@heading_select + ', ', '') + 'ISNULL([' + [headings] + '], 0) ' + '[' + [headings] + ']'
FROM (
		SELECT
			DISTINCT
			sdd.DETAIL_TITLE+'-Deducted' [headings]	
		FROM AdhocPayment ap
		INNER JOIN StaticDataDetail sdd ON sdd.ROWID = ap.HEAD_ID
			WHERE ADD_DEDUCT = 'D' AND TYPE_ID ='40'
			AND ap.APPLIED_DATE BETWEEN @yearStartDate AND @previousmonthEndDate

		UNION ALL
		
		SELECT
			DISTINCT
			sdd.DETAIL_TITLE+'-Current' [headings]	
		FROM AdhocPayment ap
		INNER JOIN StaticDataDetail sdd ON sdd.ROWID = ap.HEAD_ID
			WHERE ADD_DEDUCT = 'D' AND TYPE_ID ='40'
			AND ap.APPLIED_DATE between @monthStartDate and @monthEndDate
	) adhoac_deduction_headings

--- Loan Collection for the month

SELECT
	 @heading = ISNULL(@heading + ', ', '') + '[' + [headings] + ']'
	,@heading_select = ISNULL(@heading_select + ', ', '') + 'ISNULL([' + [headings] + '], 0) ' + '[' + [headings] + ']'
FROM (
		SELECT
			DISTINCT
			sdd.DETAIL_TITLE [headings]	
		FROM loan_collection lc
		INNER JOIN Loan l ON lc.loan_id = l.ID
		INNER JOIN StaticDataDetail sdd ON sdd.ROWID = l.LOAN_TYPE
			WHERE lc.PAID_DATE BETWEEN @monthStartDate AND @monthEndDate
	) loan_deduction_headings

--- Advance Collection for the month && Net Salary
	
SELECT
	 @heading = ISNULL(@heading + ', ', '') + '[' + [headings] + ']'
	,@heading_select = ISNULL(@heading_select + ', ', '') + 'ISNULL([' + [headings] + '], 0) ' + '[' + [headings] + ']'
FROM (
		SELECT
			DISTINCT
			sdd.DETAIL_TITLE [headings]	
		FROM AdvanceCollection ap
		INNER JOIN Advance a ON ap.ADVANCE_ID = a.ID
		INNER JOIN StaticDataDetail sdd ON sdd.ROWID = a.ADVANCE_TYPE
			WHERE ap.PAID_DATE BETWEEN @monthStartDate AND @monthEndDate
			
		UNION ALL
		
		Select DISTINCT sdd.DETAIL_TITLE+' '+sdd1.DETAIL_TITLE
		From Insurance I
		Inner join StaticDataDetail sdd on I.INSURER=sdd.ROWID
		Inner join StaticDataDetail sdd1 on I.Insurance_For=sdd1.ROWID
		Where SALARY_DEDUCTION='Y'
		and frequency='M'

		UNION ALL
		
		SELECT 'Net Salary'	[headings]
		
	) advance_deduction_headings


SET @sql = '
	SELECT
		ROW_NUMBER() OVER(order by main.[position_id] asc) as [S.N.],main.[Staff ID] as [Emp Code],main.Emp_Name as [Employee Name],main.rl_group [Rural Area]
		,' + @heading_select +
		'
	FROM (
			SELECT * FROM (
				
				------- Payable HiStory
		SELECT 
			 EMPLOYEE_ID
			,Sum(Amount) Amount
			,DETAIL_TITLE+''-PAID'' [headings]  
		FROM 
		(
			SELECT 	
				 EMPLOYEE_ID
				,PAID_AMOUNT Amount	
				,sdd.DETAIL_TITLE 		
			FROM PayableHistory ph
			INNER JOIN StaticDataDetail sdd ON ph.BENEFIT_ID = sdd.ROWID
			WHERE (FROM_DATE between '''+@yearStartDate+''' AND '''+@previousmonthEndDate+'''
			and TO_DATE between '''+@yearStartDate+''' AND '''+@previousmonthEndDate+''')	

			UNION ALL
		
			SELECT 
				 EMPLOYEE_ID
				,AMOUNT
				,S.DETAIL_TITLE 
			FROM AdhocPayment A 
			JOIN StaticDataDetail S ON A.HEAD_ID=S.ROWID 
			WHERE S.TYPE_ID IN (36,37,38) 
			AND APPLIED_DATE BETWEEN '''+@yearStartDate+''' AND '''+@previousmonthEndDate+'''
		)Z	
		Group By EMPLOYEE_ID,DETAIL_TITLE
		
		UNION ALL
		------- Payable for the Month
		SELECT 
			 EMPLOYEE_id
			,SUM(AMOUNT) Amount
			,DETAIL_TITLE+''-CURRENT'' [headings]  FROM 
		(
			SELECT 
				 EMPLOYEE_ID	
				,PAID_AMOUNT AMOUNT
				,sdd.DETAIL_TITLE 		
			FROM PayableHistory ph
			INNER JOIN StaticDataDetail sdd ON ph.BENEFIT_ID = sdd.ROWID
			WHERE RUN_MONTH ='''+@month+''' AND FY_ID='''+@year+'''
		
			UNION ALL
		
			SELECT 
				 EMPLOYEE_ID
				, case when Add_deduct=''D'' Then AMOUNT*(-1) else Amount END AMOUNT
				, S.DETAIL_TITLE 
			FROM AdhocPayment A JOIN StaticDataDetail S ON A.HEAD_ID=S.ROWID 
			WHERE S.TYPE_ID IN (36,37,38) 
			AND APPLIED_DATE BETWEEN '''+@monthStartDate+''' AND '''+@monthEndDate+'''

			--UNION ALL
		
			--SELECT 
			--	 EMPLOYEE_ID
			--	,case when Add_deduct=''D'' Then AMOUNT*(-1) else Amount END AMOUNT
			--	,S.DETAIL_TITLE FROM AdhocPayment A JOIN StaticDataDetail S ON A.HEAD_ID=S.ROWID 
			--WHERE S.TYPE_ID IN (36,37,38) 
			--AND APPLIED_DATE BETWEEN '''+@monthStartDate+''' AND '''+@monthEndDate+'''

		)Z
		Group By EMPLOYEE_ID,DETAIL_TITLE

		UNION ALL
		------- Payable Remaining
		SELECT 
			 Employee_ID 
			,Sum(AMOUNT) Amount
			,DETAIL_TITLE+''-TO_BE_PAID''  [headings] FROM 
		(
			SELECT 	
				 Employee_ID	
				,Amount
				,sdd.DETAIL_TITLE 		
			FROM PayableHistory_Future ph
			INNER JOIN StaticDataDetail sdd ON ph.BENEFIT_ID = sdd.ROWID
			WHERE RUN_MONTH ='''+@month+''' AND FY_ID='''+@year+'''
		)Z
		Group By EMPLOYEE_ID,DETAIL_TITLE

		UNION ALL
		---- Adhoc Benefits Paid
		SELECT
			 EMPLOYEE_ID
			,sum(AMOUNT) Amount
			,sdd.DETAIL_TITLE+''-PAID'' [headings]	
		FROM AdhocPayment ap
		INNER JOIN StaticDataDetail sdd ON sdd.ROWID = ap.HEAD_ID
		WHERE ADD_DEDUCT = ''A'' AND TYPE_ID =''41''
		AND ap.APPLIED_DATE BETWEEN '''+@yearStartDate+''' AND '''+@previousmonthEndDate+'''
		group by EMPLOYEE_ID,DETAIL_TITLE

		UNION ALL
		---- Adhoc Benefits current
		SELECT
			EMPLOYEE_ID
			,sum(AMOUNT) Amount
			,sdd.DETAIL_TITLE+''-CURRENT'' [headings]	
		FROM AdhocPayment ap
		INNER JOIN StaticDataDetail sdd ON sdd.ROWID = ap.HEAD_ID
		WHERE ADD_DEDUCT = ''A'' AND TYPE_ID =''41''
		AND ap.APPLIED_DATE BETWEEN '''+@monthStartDate+''' AND '''+@monthEndDate+'''
		group by EMPLOYEE_ID,DETAIL_TITLE
		

		UNION ALL
		--- Vehicle Benefit
		Select Emp_Id, Vehicle_Benift , ''Vehicle Benefit'' AS [headings] 
		From TaxCalculation
		where FY_ID='''+@Year+''' and Run_Month='''+@month+'''

		UNION ALL
		--- House Benefit
		Select  Emp_Id, House_Benefit ,''House Benefit'' AS [headings]
		From TaxCalculation
		where FY_ID='''+@Year+''' and Run_Month='''+@month+'''

		UNION ALL
		--- Interest Benefit
		Select Emp_Id, Interest_Benefit ,''Interest Benefit'' AS [headings]
		From TaxCalculation 
		where FY_ID='''+@Year+''' and Run_Month='''+@month+'''

		UNION ALL
		--- Pension Income
		Select Emp_Id, Pension_Income ,''Pension Income'' AS [headings]
		From TaxCalculation 
		where FY_ID='''+@Year+''' and Run_Month='''+@month+'''

		UNION ALL 
		
		Select employee_id,sum(ANNUAL_PREMIUM_AMT) amount, Sdd.detail_title AS [headings]
		from Insurance I 
		Inner join StaticdataDetail sdd on I.Insurance_For=sdd.rowid
		where PREMIUM_PAYER=''employer''
		group by employee_id,Sdd.detail_title

		UNION ALL

		Select Emp_Id, Total_gratuity ,''Total Gratuity'' AS [headings]
		From TaxCalculation
		where FY_ID='''+@Year+''' and Run_Month='''+@month+'''

		UNION ALL

		Select Emp_Id, INCLUSIVE_GRATUITY ,''Absorbed Gratuity'' AS [headings]
		From TaxCalculation
		where FY_ID='''+@Year+''' and Run_Month='''+@month+'''

		UNION ALL
		
		Select T.Emp_Id,(TOTAL_GRATUITY-isnull(gratuityAmt,0))/(R_SMONTH+1) ,''Monthly Gratuity Provision'' AS [headings]
		From TaxCalculation T
		left join 
			(
				select Emp_Id, isnull(Sum(gratuityAmt),0) gratuityAmt
				from Gratuity_History 
				where Created_Date between '''+@yearStartDate+''' and '''+@previousmonthEndDate+'''
				group by Emp_Id
			) GH on T.Emp_id=GH.Emp_Id
		where FY_ID='''+@Year+''' and Run_Month='''+@month+'''

		UNION ALL
		
		Select Emp_Id, EXCESS_GRATUITY ,''Unabsorbed Gratuity'' AS [headings]
		From TaxCalculation
		where FY_ID='''+@Year+''' and Run_Month='''+@month+'''

		UNION ALL

		SELECT EMPLOYEE_ID, AMOUNT ,''PF Deposit Current'' headings 
		FROM #TEMPCONTRIBUTION where headings like ''%-HISTORY''

		UNION ALL

		SELECT EMPLOYEE_ID, AMOUNT ,''PF Deposit Current'' headings 
		FROM #TEMPCONTRIBUTION where headings like ''%-CURRENT''
		

		UNION ALL

		SELECT EMPLOYEE_ID, AMOUNT ,''PF Deposit Remaining'' headings 
		FROM #TEMPCONTRIBUTION where headings like ''%-TO_BE_PAID''

		UNION ALL

		Select 
			 emp_id
			,Basic_Salary_Paid+Basic_Salary_Current+Basic_Salary_Remaining+Grade_Paid+Grade_Current+Grade_Remaining+Allowance_Paid+Allowance_Current+Allowance_Remaining
			 +Adhoc_Benefits_Paid+Adhoc_Benefits_This_Month+Interest_Benefit+Vehicle_Benift+House_Benefit+Pension_Income+Premium_Paid_Employer+INCLUSIVE_GRATUITY
			 +Contri_Paid_Employer+Contri_This_Month_Employer+Contri_To_Be_Paid_Employer Amount
			,''Total Benefit'' AS [headings]
		From TaxCalculation
		where FY_ID='''+@Year+''' and Run_Month='''+@month+'''

		UNION ALL

		Select 
			 emp_id
			,dbo.FuncGetMIN((Basic_Salary_Paid+Basic_Salary_Current+Basic_Salary_Remaining+Grade_Paid+Grade_Current+Grade_Remaining+Allowance_Paid+Allowance_Current+Allowance_Remaining
			 +Adhoc_Benefits_Paid+Adhoc_Benefits_This_Month+Interest_Benefit+Vehicle_Benift+House_Benefit+Pension_Income+Premium_Paid_Employer+INCLUSIVE_GRATUITY
			 +Contri_Paid_Employer+Contri_This_Month_Employer+Contri_To_Be_Paid_Employer)/3,300000,NULL,NULL,NULL) Amount
			,''Minimum of 1/3|300000'' AS [headings]
		From TaxCalculation
		where FY_ID='''+@Year+''' and Run_Month='''+@month+'''

		UNION ALL

		SELECT EMPLOYEE_ID, AMOUNT ,headings 
		FROM #TEMPCONTRIBUTION where headings like ''Employer%''

		UNION ALL
		
		SELECT 
			EMP_ID 
			,Contri_Paid_Employer+Contri_This_Month_Employer+Contri_To_Be_Paid_Employer+Contri_Deducted_Employee+Contri_Current_Employee+Contri_Remaining_Employee+INCLUSIVE_GRATUITY
			,''Actual Contribution Made''
		FROM Taxcalculation
		WHERE FY_ID='''+@Year+''' and Run_Month='''+@month+'''
		
		UNION ALL

		Select emp_id, Donation_Normal ,''Donation Normal'' AS [headings]
		From TaxCalculation
		where FY_ID='''+@Year+''' and Run_Month='''+@month+'''
		
		UNION ALL

		Select emp_id,Donation_Special ,''Donation Special'' AS [headings]
		From TaxCalculation
		where FY_ID='''+@Year+''' and Run_Month='''+@month+'''

		UNION ALL
		
		SELECT Employee_id,sum(ANNUAL_PREMIUM_AMT) ,''Life Insurance'' 
		FROM INSURANCE I
		Inner join Staticdatadetail sdd on I.Insurance_For=sdd.rowid
		where PREMIUM_PAYER=''Employer''
		AND sdd.detail_title like ''LIFE%''
		group by Employee_id,PREMIUM_PAYER,sdd.detail_title
		
		UNION ALL
		SELECT Employee_id,sum(ANNUAL_PREMIUM_AMT),''HOUSE Loan Insurance''
		FROM INSURANCE I
		Inner join Staticdatadetail sdd on I.Insurance_For=sdd.rowid
		where PREMIUM_PAYER=''Employer''
		AND sdd.detail_title like ''House%''
		group by Employee_id,PREMIUM_PAYER,sdd.detail_title
		
		Union ALL
		SELECT Employee_id,sum(pd.Deduction_Amt),''Self Life Insurance''
		FROM INSURANCE I
		Inner join PremiumDeduction PD on I.ID=pd.Insurance_ID
		where PREMIUM_PAYER=''Employee''
		AND PD.Deduction_Date between '''+@monthStartDate+''' And '''+@monthEndDate+'''
		group by Employee_id,PREMIUM_PAYER

		UNION ALL

		Select emp_id, Premium_Deduction , ''Premium Deduction'' AS [headings]
		From TaxCalculation
		where FY_ID='''+@Year+''' and Run_Month='''+@month+'''

		UNION ALL

		Select Emp_Id,Disabled_Deduction ,''Disable Deduction'' AS [headings]
		From TaxCalculation
		where FY_ID='''+@Year+''' and Run_Month='''+@month+'''

		UNION ALL

		Select  Emp_Id, Pension_Deduction ,''Pension Deduction'' AS [headings]
		From TaxCalculation
		where FY_ID='''+@Year+''' and Run_Month='''+@month+'''

		UNION ALL

		Select Emp_Id, Rural_Allowance_Deduction ,''Rural Allowance Deduction'' AS [headings]
		From TaxCalculation
		where FY_ID='''+@Year+''' and Run_Month='''+@month+'''
		
		UNION ALL

		Select Emp_Id, Retirement_Deduction ,''Retirement Deduction'' AS [headings]
		From TaxCalculation
		where FY_ID='''+@Year+''' and Run_Month='''+@month+'''

		UNION ALL

		Select 
			 emp_id
			,Donation_Normal+Donation_Special+Premium_Deduction+Disabled_Deduction+Pension_Deduction+Rural_Allowance_Deduction+Retirement_Deduction
			,''Total Deduction'' AS [headings]
		From TaxCalculation
		where FY_ID='''+@Year+''' and Run_Month='''+@month+'''

		UNION ALL

		Select emp_id,Taxable_Amount,''Taxable Income'' AS [headings]
		From TaxCalculation
		where FY_ID='''+@Year+''' and Run_Month='''+@month+'''
		
		UNION ALL

		Select emp_id,Taxable_Slab1,''Slab1 Amount'' AS [headings]
		From TaxCalculation
		where FY_ID='''+@Year+''' and Run_Month='''+@month+'''

		UNION ALL

		Select emp_id,Taxable_Slab2,''Slab2 Amount'' AS [headings]
		From TaxCalculation
		where FY_ID='''+@Year+''' and Run_Month='''+@month+'''

		UNION ALL

		Select emp_id,Remaining,''Remaining'' AS [headings]
		From TaxCalculation
		where FY_ID='''+@Year+''' and Run_Month='''+@month+'''
		
		UNION ALL
		Select emp_id,case when Taxable_Amount-tr.AMT_FOR_ADD_TAX<0 then 0 else Taxable_Amount-tr.AMT_FOR_ADD_TAX END AMOUNT ,''Additional Slab Amount'' AS [headings]
		From TaxCalculation T
		Inner join TaxRuleSetup tr on T.FY_ID=tr.FY_ID
		where T.FY_ID='''+@Year+''' and Run_Month='''+@month+'''
	
		UNION ALL

		Select emp_id,Tax_Amount,''Tax Amount'' AS [headings]
		From TaxCalculation
		where FY_ID='''+@Year+''' and Run_Month='''+@month+'''

		UNION ALL

		Select emp_id,Tax_Collected,''Tax Collected'' AS [headings]
		From TaxCalculation
		where FY_ID='''+@Year+''' and Run_Month='''+@month+'''

		UNION ALL

		Select emp_id,Tax_Discount,''Female Discount'' AS [headings]
		From TaxCalculation
		where FY_ID='''+@Year+''' and Run_Month='''+@month+'''

		UNION ALL

		Select emp_id,Medical_Tax_Credit,''Medical Tax Limit'' AS [headings]
		From TaxCalculation
		where FY_ID='''+@Year+''' and Run_Month='''+@month+'''

		UNION ALL

		Select emp_id,Tax_This_Month,''Tax for The month'' AS [headings]
		From TaxCalculation
		where FY_ID='''+@Year+''' and Run_Month='''+@month+'''

		UNION ALL

		SELECT
			 EMPLOYEE_ID
			,sum(AMOUNT)
			,sdd.DETAIL_TITLE+''-Deducted'' [headings]	
		FROM AdhocPayment ap
		INNER JOIN StaticDataDetail sdd ON sdd.ROWID = ap.HEAD_ID
		WHERE ADD_DEDUCT = ''D'' AND TYPE_ID =''40''
		AND ap.APPLIED_DATE BETWEEN '''+@yearStartDate+''' AND '''+@previousmonthEndDate+'''
		group by EMPLOYEE_ID,DETAIL_TITLE
		
		UNION ALL
		
		SELECT
			 EMPLOYEE_ID
			,sum(AMOUNT)
			,sdd.DETAIL_TITLE+''-Current'' [headings]	
		FROM AdhocPayment ap
		INNER JOIN StaticDataDetail sdd ON sdd.ROWID = ap.HEAD_ID
		WHERE ADD_DEDUCT = ''D'' AND TYPE_ID =''40''
		AND ap.APPLIED_DATE BETWEEN '''+@monthStartDate+''' AND '''+@monthEndDate+'''
		group by EMPLOYEE_ID,DETAIL_TITLE
		
		
		UNION ALL

		SELECT
			 EMPLOYEE_ID
			,sum(lc.paid_amount) Amount
			,sdd.DETAIL_TITLE [headings]	
		FROM loan_collection lc
		INNER JOIN Loan l ON lc.loan_id = l.ID
		INNER JOIN StaticDataDetail sdd ON sdd.ROWID = l.LOAN_TYPE
		WHERE lc.PAID_DATE BETWEEN '''+@monthStartDate+''' AND '''+@monthEndDate+'''
		group by EMPLOYEE_ID,DETAIL_TITLE

		UNION ALL

		SELECT
			 EMPLOYEE_ID
			,sum(ap.PAID_AMOUNT) Amount
			,sdd.DETAIL_TITLE [headings]	
		FROM AdvanceCollection ap
		INNER JOIN Advance a ON ap.ADVANCE_ID = a.ID
		INNER JOIN StaticDataDetail sdd ON sdd.ROWID = a.ADVANCE_TYPE
		WHERE ap.PAID_DATE BETWEEN '''+@monthStartDate+''' AND '''+@monthEndDate+'''
		group by EMPLOYEE_ID,DETAIL_TITLE

		UNION ALL
		
		Select emp_id,Sum(Deduction_Amt) Deduction_Amt,sdd.detail_title+'' ''+sdd1.detail_title from PremiumDeduction P
		Inner join Insurance I on P.insurance_id=I.id
		Inner join StaticDataDetail sdd on I.INSURER=sdd.ROWID
		Inner join StaticDataDetail sdd1 on I.Insurance_For=sdd1.ROWID
		where Deduction_Date between '''+@monthStartDate+''' and '''+@monthEndDate+'''
		and SALARY_DEDUCTION=''Y''
		and frequency=''M''
		and I.expiry_date>'''+@yearstartdate+'''
		group by emp_id,sdd.detail_title,Insurance_For,sdd1.detail_title
			
		UNION ALL
		
		
		SELECT 
		 T.Emp_Id
		, Basic_Salary_Current+Grade_Current+Allowance_Current+Adhoc_Benefits_This_Month+Contri_This_Month_Employer
		  -Contri_This_Month_Employer-Contri_Current_Employee-Adhoc_Deduction_Current-Loan_Deduction-Advance_Deduction-isnull(Deduction_Amt,0)-Tax_This_Month Amount
		,''Net Salary''	[headings]
		FROM TaxCalculation T
		Left Join (
			select EMP_ID, SUM(Deduction_Amt) Deduction_Amt from PremiumDeduction
			where Deduction_Date between '''+@monthStartDate+''' and '''+@monthEndDate+'''
			group by EMP_ID
		) pd on pd.EMP_ID=T.Emp_Id
		where t.FY_ID='''+@Year+''' and Run_Month='''+@month+'''
	
			) x 
		) dataList
		PIVOT
		(
			SUM(AMOUNT)
			FOR headings IN(' + @heading+ ')
	) x 
	
	INNER JOIN (
				SELECT 
					 e.EMPLOYEE_ID
					,e.EMP_CODE AS [Staff ID]
					,e.FIRST_NAME + '' '' + MIDDLE_NAME + '' '' + LAST_NAME AS Emp_Name
					,e.position_id
					,t.rl_group
				FROM TaxCalculation t 
				INNER JOIN Employee e ON e.EMPLOYEE_ID = t.Emp_Id 
				where RUN_MONTH = '''+@month+''' AND FY_ID = '''+@year+'''
				) main ON main.EMPLOYEE_ID = x.EMPLOYEE_ID order by main.position_id'

PRINT @sql
EXEC (@sql)
 			
END
GO
