USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procViewAttendanceForOverTime]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Exec [procViewAttendanceForOverTime] 'a','2012-09-2','1000'
CREATE Proc [dbo].[procViewAttendanceForOverTime]
(
	 @flag varchar(1),
	 @date varchar(20),
	 @empID INT
)
AS

set nocount on;
if @flag='a'
begin
--select * from atttendance

	SELECT 
		 [dbo].[FNADateFormat](@date, 'd') LOGINDATE
		,CONVERT(varchar(5),ISNULL(MIN(login_time), 0), 108) [Login Time]
		,CONVERT(varchar(5),ISNULL(MAX(logout_time), 0), 108) [Logout Time]
		,CONVERT(VARCHAR(5), ISNULL(DATEADD(MINUTE, SUM(DATEDIFF(MINUTE, login_time, logout_time)), 0),0), 108) [Total Hours]
		,CASE WHEN MIN(login_time) IS NOT NULL THEN 'Present' ELSE 'Absent' END [Attendance Status]	
	FROM atttendance a
	WHERE [dbo].[FNADateFormat](att_date, 'd') = [dbo].[FNADateFormat](@date ,'d')
	AND emp_id = @empID

end
GO
