USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Travel]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Proc_Travel] 
			 @flag					char(2)=null
			,@emp_id				int=null
			,@id					int= null
			,@branch_id				int=null
			,@department_id			int=null
			,@position_id			int =null
			,@destination_city		VARCHAR(25)=null
			,@destination_country	VARCHAR(25)=null
			,@reason_for_travel		int=null
			,@duration_FROM			date =null
			,@duration_to			date =null
			,@extensiON				VARCHAR(25)=null 
			,@durex_FROM			date=null 
			,@durex_to				date=null
			,@durex_city			VARCHAR(25)=null
			,@durex_country			VARCHAR(25)=null
			,@dur_leave				VARCHAR(25) =null
			,@mode_of_travel		int =null
			,@trasportation			int=null
			,@acomodatiON			int=null
			,@fooding				int=null
			,@cashadvance			VARCHAR(25)=null
			,@currency				int=null 
			,@amount				money=null 
			,@authorised_by			int				=null
			,@user					int				= null
			,@rowid					varchar(10)		= null
			,@session_id			varchar(100)	= null
			,@tadaId				varchar(10)		= null
			,@travelDesc			varchar(max)	= null
			,@FLG					VARCHAR(2)		= NULL
			,@flightDate			date			= NULL
			,@FromPlace				varchar(500)	= NULL
			,@ToPlace				varchar(500)	= NULL
			,@flightTime			varchar(500)	= NULL
			,@returnFlightDate		varchar(500)	= NULL
			,@returnFromPlace		varchar(500)	= NULL
			,@returnToPlace			varchar(500)	= NULL
			,@returnFlightTime		varchar(500)	= NULL
			,@ccList				varchar(max)	= null
			,@extFromDate			date			= NULL
			,@extToDate				date			= NULL
			,@extRemarks			varchar(max)	= NULL
			,@isManual				varchar(1)		= NULL
			,@extApproveBy			int				= NULL
			,@YEAR					int				=NULL
	AS 
	

	IF @flag='cl'
	BEGIN
		IF @extension='Yes'
		BEGIN
		
			IF NOT EXISTS(SELECT * FROM LeaveRequest where REQUESTED_BY = @emp_id and FROM_DATE = @durex_FROM AND TO_DATE = @durex_to)
			BEGIN
				SELECT 'Please apply leave for your extension travel' AS msg;
				RETURN;
			END	
		END
	END

	IF @flag='fc'
	BEGIN

		SELECT @position_id=POSITION_ID FROM Employee where EMPLOYEE_ID=@emp_id

		SELECT Distinct sdd.ROWID,DETAIL_TITLE FROM tadaMatrix tm
		INNER JOIN tadaPositionCategory tp ON tm.categoryId = tp.categoryId
		INNER JOIN tadaClassificationOfAreas ta ON tm.zoneId = ta.zoneId
		INNER JOIN StaticDataDetail sdd ON tm.currencyId = sdd.ROWID
		WHERE tp.positionId = @position_id and ta.countriesId = @destination_country

	END
	
	IF @flag='i'
	BEGIN
			
		INSERT  INTO TADA
		(
			 emp_id
			,branch_id
			,department_id
			,position_id
			,destination_city
			,destination_country
			,reason_for_travel
			,duration_from
			,duration_to
			,extension
			,durex_from
			,durex_to
			,durex_city
			,durex_country
			,dur_leave
			,mode_of_travel
			,transportation
			,accomodation
			,fooding
			,cashadvance
			,travelDescription
			,tada_status
			,flightDate
			,fromPlace
			,toPlace
			,flightTime
			,returnFlightDate
			,ReturnFromPlace
			,returnToPlace
			,returnFlightTime
			,cclist
		)				
		SELECT 
			@emp_id 
			,branch_id 
			,department_id 
			,position_id  
			,@destination_city 
			,@destination_country 
			,@reason_for_travel 
			,@duration_FROM  
			,@duration_to  
			,@extensiON  
			,@durex_FROM 
			,@durex_to 
			,@durex_city 
			,@durex_country 
			,@dur_leave  
			,@mode_of_travel 
			,@trasportatiON 
			,@acomodatiON 
			,@fooding 
			,@cashadvance
			,@travelDesc
			,'pending'
			,@flightDate
			,@FromPlace
			,@ToPlace
			,@flightTime
			,@returnFlightDate
			,@returnFromPlace
			,@returnToPlace
			,@returnFlightTime
			,@ccList
		FROM Employee WHERE EMPLOYEE_ID = @emp_id				
		-- select 'Success' as msg;
		SET @rowid = @@IDENTITY  
			
		UPDATE TADA_Authorization   
		SET  tada_id = @rowid   
			,Session_id = NULL  
		WHERE Session_id = @session_id AND tada_id IS NULL
		 
		UPDATE tada_currency
		SET  tada_id = @rowid
			,Session_id = NULL
		WHERE Session_id = @session_id

		DECLARE @reqChkpoint INT = NULL

		SELECT @reqChkpoint = COUNT(id) from TADA_Authorization where Forward = 'Y' AND tada_id = @rowid AND Created_By = @user
		
		if @reqChkpoint = 0
			BEGIN 
		/*Start Send Mail*/

				Declare @reqmsg varchar(max),@reqrecipient varchar(max), @reqEmp_Info varchar(500), @reqpurpose varchar(100),@reqstrList varchar(MAX),@reqHrlist varchar(max)
				Declare @autho varchar(max),@dest_city varchar(max),@dest_country varchar(max),@reason varchar(max)
				
				select @autho=ISNULL(@autho+';','')+cast(authorised_by as varchar) from TADA_Authorization where tada_id=@rowid and Session_id is null
				SELECT @reqstrList = ISNULL(@reqstrList + '; ', '') +
				CAST(isnull(OFFICIAL_EMAIL,'') AS varchar(200))
				FROM Employee where EMPLOYEE_ID in (select Name from dbo.split(@autho, ';'))

 				select  @emp_id = emp_id,
						@dest_city=isnull(destination_city,''),
						@dest_country=dbo.GetDetailTitle(isnull(destination_country,'')),
						@flightDate = flightDate,
						@reason=dbo.GetDetailTitle(ISNULL(reason_for_travel,'')),
						@reqpurpose = ISNULL(travelDescription,'')
						from tada where ID = @rowid

				select @reqEmp_Info= FIRST_NAME+isnull(' '+MIDDLE_NAME+' ',' ')+LAST_NAME+' ('+rtrim(dbo.GetBranchOfId(BRANCH_ID))+' - '+
						rtrim(dbo.GetDeptName(DEPARTMENT_ID))+' - '+rtrim(dbo.GetDetailTitle(POSITION_ID))+')' 
						from Employee 
						where EMPLOYEE_ID=@emp_id

				if (@mode_of_travel = '1416' and @trasportation = '1420')
					BEGIN
						SET @reqmsg=
						'Dear Sir/Madam '+ ','+char(10)+

						ISNULL(@reqEmp_Info,'') +' has requested for Travel for the'

						+char(10)+ 'Date:'+ convert(varchar,ISNULL(@flightDate,''),109)	

						+char(10)+'Place :'+ISNULL(@dest_city,'')+','+isnull(@dest_country,'')

						+char(10)+'PURPOSE:'+ISNULL(@reason,'')+','+isnull(@reqpurpose,'')

						+char(10)+ISNULL(@reqEmp_Info,'') +'is seeking your approval for above concerned details.'
						
					END
				ELSE
				BEGIN
					
					SET @reqmsg=
					'Dear Sir/Madam '+','+CHAR(10)+

					@reqEmp_Info +'has requested his/her TADA.'+CHAR(10)+
	
					@reqEmp_Info +' is seeking your approval for above concerned details.

					Click here to go in system: http://hrms.nabilbank.com/'
					
				END	
						
				SELECT @reqrecipient=@reqstrList

					Exec procEmailNotes @flag='Insert',@sendTo=@reqrecipient,@subject='Travel Order Request',@notesText=@reqmsg
				--EXEC PROC_MAIL_SEND @recipient=@reqrecipient, @subject_text='Travel Order Request', @msg_text=@reqmsg

						

				/*End Send Mail*/

			END
			ELSE
			BEGIN
					SELECT '1'[return_id], 'Sorry Message Has Been Forwarded' [return_message]
			END
			

		
		-- Exec procManageFlightDetails 'i',@emp_id,@flightDate,@FromPlace,@ToPlace,@flightTime,@user
	END 
			  
	IF @flag='b'
	BEGIN		  
			  SELECT Employee.EMPLOYEE_ID,
				Employee.FIRST_NAME+Employee.MIDDLE_NAME+Employee.LAST_NAME as empname,
				Branches.BRANCH_ID,
				Branches.BRANCH_NAME,
				Departments.DEPARTMENT_ID,
				Departments.DEPARTMENT_NAME,
				StaticDataDetail.ROWID,
				StaticDataDetail.DETAIL_TITLE
				FROM Employee LEFT JOIN Branches ON Employee.BRANCH_ID = Branches.BRANCH_ID
				LEFT JOIN Departments ON Departments.DEPARTMENT_ID = Employee.DEPARTMENT_ID
				LEFT JOIN StaticDataDetail ON StaticDataDetail.ROWID = Employee.POSITION_ID
				where @emp_id = Employee.EMPLOYEE_ID
	end

	IF @flag='a'
	BEGIN
		SELECT top 1
				employee.employee_id,emp_id,
				Employee.FIRST_NAME+ ' '+Employee.MIDDLE_NAME+ ' '+Employee.LAST_NAME as empname,
				TADA.destination_city,
				TADA.destination_country,
				dbo.GetDetailTitle(destination_country) country,
				StaticDataDetail.DETAIL_TITLE as reason_for_travel,
				CONVERT(VARCHAR,TADA.duration_from,107)  [duration_from],
				CONVERT(VARCHAR,TADA.duration_to,107)  [duration_to],
				TADA.extension,
				CONVERT(VARCHAR,TADA.durex_from,107)  [durex_from],
				CONVERT(VARCHAR,TADA.durex_to,107)  [durex_to],
				TADA.durex_city,
				TADA.durex_country,
				dbo.GetDetailTitle(durex_country) extension_country,
				TADA.dur_leave,
				TADA.tada_status,
				ta.Authorised_By as authorised_id,
				s.DETAIL_TITLE  mode_of_travel,
				s1.DETAIL_TITLE accomodation,
				s2.DETAIL_TITLE	fooding,
				s3.DETAIL_TITLE transportation,
				TADA.cashadvance,
				--dbo.GetEmployeeFullNameOfId(ta.Authorised_By) authorised_by,
				Branches.BRANCH_NAME,
				Branches.BRANCH_ID,
				Departments.DEPARTMENT_ID,
				StaticDataDetail.ROWID,
				s4.DETAIL_TITLE,
				Departments.DEPARTMENT_NAME,
				'(' + cast(tc.Amount as varchar(10)) + ')',
				TADA.travelDescription [Travel Description],
				case when tada.mode_of_travel = '1416' and tada.transportation = '1420' then 'Yes (Bank)'
					 when tada.mode_of_travel = '1416' and TADA.transportation = '1419' then 'Yes (Self)'
					 else 'No' end as air_ticket,
				DATEDIFF(D,tada.duration_from,tada.duration_to)+1 as duration,
				CONVERT(varchar,flightDate,107) flightDate,
				fromPlace,
				toPlace,
				flightTime,
				CONVERT(varchar,returnFlightDate,107) returnFlightDate,
				ReturnFromPlace,
				returnToPlace,
				returnFlightTime
			FROM TADA 
			LEFT JOIN Employee ON TADA.emp_id = Employee.EMPLOYEE_ID 
			LEFT JOIN Departments ON TADA.department_id = Departments.DEPARTMENT_ID 
			LEFT JOIN Branches ON Branches.BRANCH_ID = TADA.branch_id
			LEFT JOIN StaticDataDetail ON TADA.reason_for_travel = StaticDataDetail.ROWID
			LEFT JOIN StaticDataDetail s ON TADA.mode_of_travel = s.ROWID
			LEFT JOIN StaticDataDetail s1 ON TADA.accomodation = s1.ROWID
			LEFT JOIN StaticDataDetail s2 ON TADA.fooding = s2.ROWID
			LEFT JOIN StaticDataDetail s3 ON TADA.transportation = s3.ROWID
			LEFT JOIN StaticDataDetail s4 ON TADA.position_id = s4.ROWID
			INNER JOIN TADA_Authorization ta on ta.tada_id = TADA.id
			LEFT JOIN tada_currency tc on tc.tada_id = tada.id
			--LEFT JOIN Employee e ON TADA.authorised_by=e.EMPLOYEE_ID
			--LEFT JOIN StaticDataDetail scurrency ON tada.currency=scurrency.ROWID
			WHERE ta.tada_id=@id order by ta.Id
			--WHERE TADA.id=@id
			
			SELECT ROW_NUMBER() OVER(ORDER BY id ASC) AS SNO, dbo.GetEmployeeFullNameOfId(ta.Authorised_By) authorised_by from TADA_Authorization ta where tada_id = @id
			select ROW_NUMBER() OVER(ORDER BY id ASC) [SNO], s.DETAIL_TITLE + ' (' + CAST(t.Amount as varchar(10)) + ')' as DETAIL_TITLE from StaticDataDetail s inner join tada_currency t on t.Currency = s.ROWID where t.tada_id = @id
	END
	
	if @flag='z'
	begin
			SELECT top 1
				employee.employee_id,
				Employee.FIRST_NAME+Employee.MIDDLE_NAME+Employee.LAST_NAME as empname,
				TADA.destination_city,
				TADA.destination_country,
				TADA.reason_for_travel,
				CONVERT(VARCHAR,TADA.duration_from,107)  [duration_from],
				CONVERT(VARCHAR,TADA.duration_to,107)  [duration_to],
				TADA.extension,
				CONVERT(VARCHAR,TADA.durex_from,107)  [durex_from],
				CONVERT(VARCHAR,TADA.durex_to,107)  [durex_to],
				TADA.durex_city,
				TADA.durex_country,
				TADA.dur_leave,
			    TADA.mode_of_travel,
				TADA.accomodation,
			    TADA.fooding,
				TADA.transportation,
				TADA.cashadvance,
				TADA.tada_status,
				Branches.BRANCH_NAME,
				Branches.BRANCH_ID,
				Departments.DEPARTMENT_ID,
				StaticDataDetail.ROWID,
				StaticDataDetail.detail_title,
				Departments.DEPARTMENT_NAME,
				TADA.travelDescription [Travel Description],
				tada.tada_status,
				CONVERT(VARCHAR,TADA.flightDate,107) as flightDate,
				fromPlace,
				toPlace,
				flightTime,
				CONVERT(VARCHAR,TADA.returnFlightDate,107) as returnFlightDate,
				ReturnFromPlace,
				returnToPlace,
				returnFlightTime
			FROM TADA LEFT JOIN Employee ON TADA.emp_id=Employee.EMPLOYEE_ID 
			LEFT JOIN Departments ON TADA.department_id=Departments.DEPARTMENT_ID 
			LEFT JOIN Branches ON Branches.BRANCH_ID=TADA.branch_id
			LEFT JOIN StaticDataDetail ON StaticDataDetail.ROWID=Employee.POSITION_ID
			WHERE TADA.id = @id
	end
	     
	if @flag='c'
	begin
		select detail_title FROM staticdatadetail where rowid = 1368
	end
	
	IF @flag='d'
	BEGIN
		SELECT detail_title FROM staticdatadetail WHERE rowid = 1369
	END
	
	IF @flag='x'
	BEGIN 
		 DELETE FROM TADA WHERE id = @id
		 SELECT 'Success' AS MSG
	END
		 
	IF @flag='f'
	BEGIN
		  SELECT DATEDIFF(DAY,from_date,to_date)+1 FROM LeaveRequest WHERE REQUESTED_BY=@emp_id
	END
		
	IF @flag='u'
	BEGIN
		UPDATE TADA set destination_city		=	@destination_city
							,destination_country=	@destination_country
							,reason_for_travel	=	@reason_for_travel
							,duration_from		=	@duration_from
							,duration_to		=	@duration_to
							,extension			=	@extension
							,durex_from			=	@durex_from
							,durex_to			=	@durex_to
							,durex_city			=	@durex_city
							,durex_country		=	@durex_country
							,dur_leave			=	@dur_leave
							,mode_of_travel		=	@mode_of_travel
							,transportation		=	@trasportation
							,accomodation		=	@acomodation
							,fooding			=	@fooding
							,cashadvance		=	@cashadvance
							,travelDescription	=	@travelDesc
							,flightDate			=	@flightDate
							,fromPlace			=	@FromPlace
							,toPlace			=	@ToPlace
							,flightTime			=	@flightTime
							,returnFlightDate	=	@returnFlightDate
							,ReturnFromPlace	=	@returnFromPlace
							,returnToPlace		=	@returnToPlace
							,returnFlightTime	=	@returnFlightTime
							,cclist				=	@cclist
							WHERE id=@id
		
		UPDATE TADA_Authorization SET
							 tada_id = @id
							,Session_id = NULL
			WHERE Session_id = @session_id
		SELECT 'SUCCESS!' AS MSG
		RETURN;
	END
	
	IF @flag='L' --Yearwise Tada Report
	BEGIN
	DECLARE 
		 @YearStartDate		VARCHAR(10)
		,@YearEndDate		VARCHAR(10)
		

	SELECT 
		 @YearStartDate=engDateBaisakh
		,@YearEndDate= DATEADD(DD,baisakh+jestha+ashadh+shrawan+bhadra+ashwin+kartik+mangshir+poush+magh+falgun+chaitra-1,engDateBaisakh)
	FROM Fiscal_Month
	WHERE nplYear =@YEAR 
	
	SELECT 
			id
			,emp_id
			,E.EMP_CODE
			,e.first_name+' '+e.middle_name+' '+e.last_name as empname
			,destination_city
			,DETAIL_TITLE
			,CONVERT(VARCHAR,TADA.duration_from,107)  [duration_from]
			,CONVERT(VARCHAR,TADA.duration_to,107) [duration_to]
			,tada_status
			,dbo.GetDetailtitle(reason_for_travel) Reason_Travel from TADA 
		LEFT JOIN employee e on e.employee_id=emp_id 
        INNER JOIN StaticDataDetail s on s.ROWID=destination_country 
        WHERE  employee_id=@emp_id and TADA.duration_from BETWEEN @YearStartDate 
			AND @YearEndDate AND Tada.duration_to BETWEEN @YearStartDate AND @YearEndDate 
	
	END
		
	IF @flag = 's'
	BEGIN	
		SELECT
		   Id  
		  ,dbo.GetEmployeeFullNameOfId(Authorised_By) [Authorised By]
	   FROM TADA_Authorization
	   WHERE tada_id = @id
	END
	
	IF @flag = 'as'
	BEGIN	
		SELECT
		   tada_status [status]
	   FROM tada
	   WHERE id = @id
	END
	
	IF @flag = 'ic'-- Inserting Currency and amount
	BEGIN
		INSERT INTO tada_currency(
					 Currency
					,Amount
					,Session_Id
					,created_by
					,created_date)
			VALUES (
					 @currency
					,@amount
					,@session_id
					,@user
					,GETDATE())
		SELECT
		   Id  
		  ,dbo.GetDetailTitle(Currency) Currency
		  ,Amount
	   FROM tada_Currency WHERE Session_id = @session_id --and tada_id is null
	END
	
	IF @flag = 'ia'--Inserting Authorised person
	BEGIN
	DECLARE @Counter int = NULL,
	@Counter1 int = NULL,
	@counter2 int = NULL
	
			SELECT @Counter = COUNT(id) FROM TADA_Authorization WHERE forward = 'Y' AND tada_id = @tadaId
			SELECT @Counter1 = COUNT(id) FROM TADA_Authorization WHERE forward = 'Y' AND Created_By = @user  and tada_id = @tadaId 
			SELECT @counter2 = COUNT(id) FROM TADA_Authorization WHERE Created_By = @user AND Authorised_By = @authorised_by AND tada_id = @tadaId
		
		--print @Counter
		--print @Counter1
		--print @counter2
		
		IF @Counter1=0 AND @counter2=0 AND @Counter <= 3
			BEGIN
				INSERT INTO TADA_Authorization(
											tada_id --Added
											, authorised_by
											,Session_id
											,created_by
											,created_date
										)
				SELECT  @tadaId
						,@authorised_by
						,@session_id
						,@user
						,GETDATE()
						
				SELECT
				   Id  
				  ,dbo.GetEmployeeFullNameOfId(Authorised_By) [Authorised By]  
			   FROM TADA_Authorization WHERE session_id=@session_id AND tada_id IS NULL 
	
			   IF @FLG ='af'
			   BEGIN
					DECLARE @check INT = NULL,
					@FrCnter	INT = NULL
						select @check = COUNT(id)from tada where id=@tadaId and tada_status = 'approved'
						select @FrCnter = COUNT(id) from TADA_Authorization where forward = 'Y' AND tada_id=@tadaId
							IF @check=0 AND @FrCnter <= 3
								BEGIN
									UPDATE TADA_Authorization SET 
												Forward='Y'
												,IsApproved = 'Y'
												,Modified_By = @user
												,Modified_Date = GETDATE() 
										where tada_id = @tadaId
									SELECT '0'[return_id], 'Request has been forwarded' [return_message]
								END
							ELSE
								BEGIN
									SELECT '1' [return_id], 'Request has been approved or forward out of range' [return_message]
								END
			   END
			   
			END
			ELSE
			BEGIN
				SELECT '1' [return_id], 'Sorry!!'[return_message]
			END
	END
	-- EXEC Proc_Travel @flag='ae', @user=1315, @tadaId=60

	if @flag='ae'
		BEGIN
			DECLARE @Chkpoint INT = NULL
			SELECT @Chkpoint = COUNT(id) from TADA_Authorization where Forward = 'Y' AND tada_id = @tadaId AND Created_By = @user
			if @Chkpoint = 0
				BEGIN 
					update tada set tada_status = 'approved',approved_by = @user where  id=@tadaId
					update TADA_Authorization set IsApproved = 'Y' where tada_id = @tadaId
					SELECT '0' [return_id],'Request Has Been Approved' [return_message]

					Declare @msg varchar(max),@recipient varchar(max), @Emp_Info varchar(500), @purpose varchar(100),@strList varchar(MAX),@hrlist varchar(max),@personal varchar(max)
					Declare @perPlusHrlist varchar(max),@strPersonList varchar(max)
					select @personal = isnull(@personal+';','')+cast(DETAIL_DESC as varchar) from StaticDataDetail where TYPE_ID=206
					select @hrlist = isnull(@hrlist+';','')+cast(EMPLOYEE_ID as varchar) from employee where department_id='28'
					set @perPlusHrlist=@hrlist+';'+@personal

					--Get Official Mail Of HR only
					SELECT @strList = ISNULL(@strList + '; ', '') +
						CAST(isnull(OFFICIAL_EMAIL,'') AS varchar(200))
						FROM Employee where EMPLOYEE_ID in (select Name from dbo.split(@hrlist, ';'))
					
					
					--Get official Mail Of HR and Ticket Personal--------
					SELECT @strPersonList = ISNULL(@strPersonList + '; ', '') +
						CAST(isnull(OFFICIAL_EMAIL,'') AS varchar(200))
						FROM Employee where EMPLOYEE_ID in (select Name from dbo.split(@perPlusHrlist, ';'))
					
					select @emp_id = emp_id,
					@flightDate = flightDate,
					@FromPlace = fromPlace,
					@ToPlace = toPlace,
					@flightTime = flightTime,
					@returnFlightDate = ISNULL(returnFlightDate,''),
					@returnFromPlace = ISNULL(ReturnFromPlace,''),
					@returnToPlace = ISNULL(returnToPlace,''),
					@returnFlightTime = ISNULL(returnFlightTime,''),
					@purpose = ISNULL(travelDescription,''),
					@mode_of_travel = mode_of_travel,
					@trasportation = transportation,
					@cashadvance =cashadvance
					from tada where ID = @tadaId

					select 
					@Emp_Info= FIRST_NAME+isnull(' '+MIDDLE_NAME+' ',' ')+LAST_NAME+' ('+rtrim(dbo.GetBranchOfId(BRANCH_ID))+' - '+
					rtrim(dbo.GetDeptName(DEPARTMENT_ID))+' - '+rtrim(dbo.GetDetailTitle(POSITION_ID))+')' 
					from Employee 
					where EMPLOYEE_ID=@emp_id

				--------------	Cash Advance Approval Email Notification to HR Department---------------------------
			
					IF @cashadvance='Yes'
					BEGIN
						SET @msg=
						'Dear Sir/Madam '+','+
						ISNULL(@Emp_Info,'') +' had requested Tada with Cash Advance.'+char(10)+
						+'The  request has been Approved.'
						+'You are kindly requested to take necessary action.'
				
						SELECT @recipient=@strList
						Exec procEmailNotes @flag='Insert',@sendTo=@recipient,@subject='Cash In Advance Approved',@notesText=@msg
					END
			-----------------Cash Advance Approval Email Notification to HR Department Terminated------------------------------------
			-----------------FIght Detail Approval EMail Notification to HR and Ticket Personal Department---------------------------
					IF (@mode_of_travel = '1416' and @trasportation = '1420')
						BEGIN
							SET @msg=
'Dear Sir/Madam
'+ISNULL(@Emp_Info,'') +' has requested for Air Ticket with the following detail.

Purpose of Travel: '+ @purpose+ char(10)+	
'Flight Details

Flight Date : '+ convert(varchar,ISNULL(@flightDate,''),109)+CHAR(9)+CHAR(9)+' Flight Time/Schedule: '+ ISNULL(@flightTime,'')
+ char(10) +' From(Place): '+ISNULL(@FromPlace,'') +CHAR(9)+CHAR(9)+'To(Place): ' + ISNULL(@ToPlace,'')

+ char(10)++ char(10) +'Return Flight Details 

Return Flight Date: '+CONVERT(varchar, ISNULL(@returnFlightDate,''),109)+CHAR(9)++CHAR(9)+' Flight Time/Schedule: '+ ISNULL(@returnFlightTime,'')
+ char(10)+' From (Place): '+ ISNULL(@returnFromPlace ,'')+CHAR(9)++CHAR(9)++CHAR(9)+' To (Place): '+ ISNULL(@returnToPlace ,'')+ char(10) 							

+ char(10) +'The request has been Approved.

You are kindly requested to take necessary action.'

							SELECT @recipient=@strPersonList
							EXEC procEmailNotes @flag='Insert',@sendTo=@recipient,@subject='Travel Order Approved',@notesText=@msg
						END
			-----------------FIght Detail Approval EMail Notification to HR and Ticket Personal Department Terminated----------------
				END
				ELSE
					BEGIN
						SELECT '1'[return_id], 'Sorry Message Has Been Forwarded' [return_message]
					END
	END
		
	IF @flag = 'ap'
	BEGIN
		SELECT top 1
				employee.employee_id,emp_id,
				Employee.FIRST_NAME+ ' '+Employee.MIDDLE_NAME+ ' '+Employee.LAST_NAME as empname,
				TADA.destination_city,
				TADA.destination_country,
				dbo.GetDetailTitle(destination_country) country,
				StaticDataDetail.DETAIL_TITLE as reason_for_travel,
				CONVERT(VARCHAR,TADA.duration_from,107)  [duration_from],
				CONVERT(VARCHAR,TADA.duration_to,107)  [duration_to],
				TADA.extension,
				CONVERT(VARCHAR,TADA.durex_from,107)  [durex_from],
				CONVERT(VARCHAR,TADA.durex_to,107)  [durex_to],
				TADA.durex_city,
				TADA.durex_country,
				dbo.GetDetailTitle(durex_country) extension_country,
				TADA.dur_leave,
				TADA.tada_status,
				ta.Authorised_By as authorised_id,
				s.DETAIL_TITLE  mode_of_travel,
				s1.DETAIL_TITLE accomodation,
				s2.DETAIL_TITLE	fooding,
				s3.DETAIL_TITLE transportation,
				TADA.cashadvance,
				Branches.BRANCH_NAME,
				Branches.BRANCH_ID,
				Departments.DEPARTMENT_ID,
				StaticDataDetail.ROWID,
				s4.DETAIL_TITLE,
				Departments.DEPARTMENT_NAME,
				'(' + cast(tc.Amount as varchar(10)) + ')',
				TADA.travelDescription [Travel Description],
				case when tada.mode_of_travel = '1416' and tada.transportation = '1420' then 'Yes (Bank)'
					 when tada.mode_of_travel = '1416' and TADA.transportation = '1419' then 'Yes (Self)'
					 else 'No' end as air_ticket,
				DATEDIFF(D,tada.duration_from,tada.duration_to)+1 as duration,
				CONVERT(varchar,flightDate,107) flightDate,
				fromPlace,
				toPlace,
				flightTime,
				CONVERT(varchar,returnFlightDate,107) returnFlightDate,
				ReturnFromPlace,
				returnToPlace,
				returnFlightTime
			FROM TADA 
			LEFT JOIN Employee ON TADA.emp_id = Employee.EMPLOYEE_ID 
			LEFT JOIN Departments ON TADA.department_id = Departments.DEPARTMENT_ID 
			LEFT JOIN Branches ON Branches.BRANCH_ID = TADA.branch_id
			LEFT JOIN StaticDataDetail ON TADA.reason_for_travel = StaticDataDetail.ROWID
			LEFT JOIN StaticDataDetail s ON TADA.mode_of_travel = s.ROWID
			LEFT JOIN StaticDataDetail s1 ON TADA.accomodation = s1.ROWID
			LEFT JOIN StaticDataDetail s2 ON TADA.fooding = s2.ROWID
			LEFT JOIN StaticDataDetail s3 ON TADA.transportation = s3.ROWID
			LEFT JOIN StaticDataDetail s4 ON TADA.position_id = s4.ROWID
			INNER JOIN TADA_Authorization ta on ta.tada_id = TADA.id
			LEFT JOIN tada_currency tc on tc.tada_id = tada.id
			WHERE ta.tada_id=@id order by ta.Id
			
			SELECT ROW_NUMBER() OVER(ORDER BY id ASC) AS SNO, dbo.GetEmployeeFullNameOfId(ta.Authorised_By) authorised_by from TADA_Authorization ta where tada_id = @id and IsApproved = 'Y'
			select ROW_NUMBER() OVER(ORDER BY id ASC) [SNO], s.DETAIL_TITLE + ' (' + CAST(t.Amount as varchar(10)) + ')' as DETAIL_TITLE from StaticDataDetail s inner join tada_currency t on t.Currency = s.ROWID where t.tada_id = @id
	END

	----------------------------- Inserting offcial extention of visit --------------------------------
	-- EXEC Proc_travel @flag='y',@tadaId='1',@emp_id='1628',@extFromDate='5/7/2013',@extToDate='5/21/2013',@extRemarks='eretrth'
	IF @flag = 'y'
	BEGIN
		UPDATE tada SET IsExtention = 'Y',
						ExtFromDate = @extFromDate,
						ExtToDate = @extToDate,
						ExtRemarks = @extRemarks,
						ExtStatus  = 'Approved',
						ExtApproveBy = @extApproveBy
			WHERE id = @tadaId
		
		SELECT 'Success' AS msg
	END

	----------------------------- Displaying Official extention of visit -------------------------

	IF @flag = 'ex'
	BEGIN
		SELECT ISNULL(CONVERT(varchar,ExtFromDate,101),'') ExtFromDate, ISNULL(CONVERT(varchar,ExtToDate,101),'') ExtToDate, ISNULL(ExtRemarks,'') ExtRemarks
		FROM tada WHERE id = @tadaId
	END
	----------------------------- Delete Official extention of visit -------------------------
	
	if @flag='De'
	BEGIN
		UPDATE tada SET IsExtention = NULL,
						ExtFromDate = NULL ,
						ExtToDate = NULL,
						ExtRemarks = NULL
			WHERE id = @tadaId
		
		SELECT 'Success' AS msg
	END


	--------------------------- check the approval ----------------------------------------------

	IF @flag = 'al'
	BEGIN
		IF EXISTS(SELECT * FROM tada WHERE id = @tadaId AND (tada_status = 'approved' or tada_status = 'verified'))
		BEGIN
			SELECT '1' AS MSG
		END
		ELSE
		BEGIN
			SELECT '0' AS MSG
		END
	END
	
	-- exec proc_travel @flag = 'al', @tadaId = '5'
	
	----------------------------- Inserting offcial extention of visit (approval flow)--------------------------------
	IF @flag = 'v'
	BEGIN
		UPDATE tada SET IsExtention = 'Y',
						ExtFromDate = @extFromDate,
						ExtToDate = @extToDate,
						ExtRemarks = @extRemarks,
						ExtStatus  = 'Pending',
						ExtApproveBy=@extApproveBy
			WHERE id = @tadaId
		
		SELECT 'Success' AS msg
	END
GO
