USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procManageGradeSetup]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- EXEC [procManageGradeSetup] @flag='s',@salarySetId='8',@post_id='788',@gradeType='2'		
-- EXEC [procManageGradeSetup] @flag='set',@salarySetId='4',@post_id='1320'

-- EXEC [procManageGradeSetup] @flag='head',@salarySetId='4'


CREATE Proc [dbo].[procManageGradeSetup]    
			@flag varchar(10),
			@id bigint = null,    
			@post_id varchar(50) = null,
			@rate varchar(50) = null,
			@user varchar(100)= null,
			@gradeType varchar(20)=null,
			@salarySetId int=null 
AS    
SET NOCOUNT ON;   
SET XACT_ABORT ON   


IF @flag='set'    
BEGIN   
	select sdd.ROWID head_id,sdd.DETAIL_TITLE [PAYABLE HEAD],cast(replace(payableValue,',','') as float) AMOUNT 
		from salarySetDetails a inner join StaticDataDetail sdd on sdd.ROWID=a.payableHead 
	where salarySetMasterId=@salarySetId
	
END  

IF @flag='head'
BEGIN
	Select distinct rowid BENEFIT_ID , DETAIL_TITLE benefit_name
	from StaticDataDetail 
	where TYPE_ID in (36,38) 
END
GO
