USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_lateAttendanceNotificaton]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXEC [PROC_LATEATTENDANCENOTIFICATON]    
	CREATE PROCEDURE [dbo].[proc_lateAttendanceNotificaton]          
	AS     
	SET NOCOUNT ON;     
	SET XACT_ABORT ON;      

	BEGIN     
	DECLARE @DATE AS DATE,@DATE1 AS VARCHAR(20),@DATE2 AS VARCHAR(20),@INTPARTID INT,    
	@INTTOTALROWS INT,@RECIPIENT VARCHAR(200),@ATTDATE AS VARCHAR(20)    
	,@MSGCONTENT VARCHAR(MAX),@EMPID AS INT,@TIME AS VARCHAR(20)
	SET @DATE=GETDATE()   
	SET @TIME=CONVERT(TIME,'09:30:00')  
	 
	SELECT @DATE1= CAST(CONVERT(DATE,GETDATE(),101) AS VARCHAR)+' '+CAST('09:30:00' AS VARCHAR)  
		
	SELECT @DATE2= CAST(CONVERT(DATE,GETDATE(),101) AS VARCHAR)+' '+'10:30:00' 
	
	IF OBJECT_ID('TEMPDB..#TEMPTABLE') IS NOT NULL    
	DROP TABLE #TEMPTABLE    

	CREATE TABLE #TEMPTABLE    
	(     
	EMPID INT,    
	LOGINDATE DATETIME    
	)     
	INSERT INTO #TEMPTABLE(EMPID,LOGINDATE)    
	SELECT 
	EMP_ID
	,LOGIN_TIME 
	FROM ATTTENDANCE ATT
	INNER JOIN EMPLOYEE E ON ATT.EMP_ID=E.EMPLOYEE_ID
	WHERE LOGIN_TIME BETWEEN @DATE1 AND @DATE2
	AND E.POSITION_ID<>780

	ALTER TABLE #TEMPTABLE ADD ROWID INT IDENTITY(1,1)    
	SELECT @INTPARTID=MAX(ROWID) FROM #TEMPTABLE    
	SET @INTTOTALROWS=1    
	WHILE @INTPARTID >=  @INTTOTALROWS    
	BEGIN    

	SELECT @EMPID=EMPID,@ATTDATE=CONVERT(VARCHAR,LOGINDATE,100) FROM #TEMPTABLE  WHERE ROWID=@INTTOTALROWS    
	SELECT @RECIPIENT=OFFICIAL_EMAIL FROM EMPLOYEE WHERE EMPLOYEE_ID=@EMPID    

	SET @MSGCONTENT=     
	'DEAR SIR/MADAM,    

	YOUR LOGIN TIME OF ATTENDANCE FOR TODAY ('+CONVERT(VARCHAR,@DATE1,100)+') HAS BEEN RECORDED AS '+@ATTDATE+'.  

	THUS, YOU ARE LATE BY '+CONVERT(VARCHAR,DATEDIFF(MI,@TIME,CONVERT(TIME,@ATTDATE)))+' MINUTES.

	WE EXPECT YOUR TIMELY ATTENDANCE.    

	THANKS & REGARDS    
	NABIL BANK LIMITED (HR DEPARTMENT)'   


	INSERT INTO EMAILNOTES   
	(SENDTO,SUBJECT,NOTESTEXT,SENTDATE)    
	SELECT
	@RECIPIENT
	,'LATE IN ATTENDANCE NOTIFICATION'
	,@MSGCONTENT
	,GETDATE() 
	--EXEC PROC_MAIL_SEND @RECIPIENT=@RECIPIENT,     
	--@SUBJECT_TEXT='LATE IN ATTENDANCE NOTIFICATION', @MSG_TEXT=@MSGCONTENT    


	SET @INTTOTALROWS=@INTTOTALROWS+1    
	END    


	DROP TABLE #TEMPTABLE      
	END
GO
