USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_salarySet]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[proc_salarySet]
		 @flag				   CHAR(3)
		,@salarySetMasterId    INT			 = NULL
		,@payableHead		   VARCHAR(200)  = NULL
		,@payableValue		   VARCHAR(200)  = NULL
		,@valuefor			   VARCHAR(50)	 = NULL
		,@salaryTitle          INT           = NULL
		,@description		   VARCHAR(200)  = NULL
		,@grades			   VARCHAR(50)	 = NULL
		,@gradeFrom			   INT			 = NULL
		,@GRADETO			   INT			 = NULL
		,@AMOUNT			   MONEY		 = NULL
		,@user				   VARCHAR(50)   = NULL

AS 
SET NOCOUNT ON;

BEGIN TRY

	IF @flag = 'i'
	BEGIN
		INSERT INTO salarySetMaster (
							 Salary_Title
							,Desccription
							,No_of_Grades
							,createdBy
							,createddate
							)
				SELECT     @salaryTitle
						  ,@description
						  ,@grades
						  ,@user
						  ,GETDATE()
			SELECT '0' error_code, 'Data Save Successfully' msg 
	END
	
    ELSE IF @flag = 'ii'
    BEGIN
    
    IF EXISTS(SELECT * FROM salarySetDetails WHERE salarySetMasterId = @salarySetMasterId AND payableHead = @payableHead)
    BEGIN
      
      SELECT '1' error_code, 'Payable head is already assign!' msg 
      RETURN
    
    END
    
    INSERT INTO salarySetDetails (
							 salarySetMasterId
							,payableHead
							,payableValue
							,value_for
							,createdBy
							,createddate
							)
				SELECT     @salarySetMasterId
						  ,@payableHead
						  ,@payableValue
						  ,@valuefor
						  ,@user
						  ,GETDATE()
			SELECT '0' error_code, 'Data Save Successfully' msg 
    END
    --Exec [proc_salarySet] @flag ='ig', @salarySetMasterId = '2', @gradeFrom='1', @gradeTo='3', @amount='3000', @user='1000'
    ELSE IF @flag = 'ig'
    BEGIN
    
    IF EXISTS(SELECT * FROM Grade_Setup WHERE Salary_set_id=@salarySetMasterId AND (grade = @gradeFrom OR grade=@gradeTo) OR (@gradeFrom > @gradeTo) OR (@gradeTo > @grades))
    BEGIN
      
      SELECT '1' error_code, 'The grade assignment is greater than the grade limit assigned.' msg 
      RETURN
    
    END
	DECLARE @num INT, @num1 INT
	SET @num = 0
	SET @num1 = (@gradeTo - @gradeFrom)
	
	WHILE @num <= @num1
	BEGIN
    INSERT INTO Grade_Setup (
							 Salary_set_id
							,grade
							,amount
							,created_by
							,created_date
							)
				SELECT     @salarySetMasterId
						  ,@gradeFrom
						  ,@amount
						  ,@user
						  ,GETDATE()
			SET @gradeFrom = @gradeFrom + 1
			SET @num = @num + 1
	END
			SELECT '0' error_code, 'Data Save Successfully' msg 
    END
    
    ELSE IF @flag = 'u'
    BEGIN
          
           UPDATE salarySetMaster SET 
				 Salary_Title	 = @salaryTitle
				,Desccription	 = @description
				,No_of_Grades	 = @grades
				,modifiedBy		 = @user
				,modifiedDate	 = GETDATE()
			WHERE salarySetMasterId = @salarySetMasterId
	
	SELECT '0' error_code, 'Data Update Successfully' msg 
    END

END TRY

BEGIN CATCH
	 IF @@TRANCOUNT > 0
	 ROLLBACK TRANSACTION
	 
	 SELECT '1' ERROR_CODE , ERROR_MESSAGE() MSG , @salarySetMasterId ID  

END CATCH
GO
