USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procEmplyeeDetailReport]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[procEmplyeeDetailReport]
	@fields varchar(2000)
AS
begin
set nocount on;
	set @fields=REPLACE(@fields,'EMP_TYPE',' S2.DETAIL_TITLE AS [EMP TYPE] ')
	set @fields=REPLACE(@fields,'EMP_STATUS',' S3.DETAIL_TITLE AS [EMP STATUS] ')
	set @fields=REPLACE(@fields,'DESIGNATION',' S1.DETAIL_TITLE AS DESIGNATION ')
	set @fields=REPLACE(@fields,'GENDER',' S.DETAIL_TITLE AS GENDER ')
	set @fields=REPLACE(@fields,'EMP_CODE','EMP_CODE AS [EMP CODE]')
	set @fields=REPLACE(@fields,'EMPLOYEE_NAME','FIRST_NAME +'' ''+ MIDDLE_NAME +'' ''+ LAST_NAME as [EMPLOYEE NAME]')
	set @fields=REPLACE(@fields,'BRANCH_NAME','B.BRANCH_NAME AS [BRANCH NAME]')
	set @fields=REPLACE(@fields,'DEPARTMENT_NAME','D.DEPARTMENT_NAME AS [DEPARTMENT NAME]')
	set @fields=REPLACE(@fields,'HOME_PHONE','HOME_PHONE AS [HOME PHONE]')
	set @fields=REPLACE(@fields,'OFFICE_MOBILE','OFFICE_MOBILE AS [OFFICE MOBILE]')
	set @fields=REPLACE(@fields,'PERSONAL_MOBILE','PERSONAL_MOBILE AS [PERSONAL MOBILE]')
	set @fields=REPLACE(@fields,'OFFICIAL_EMAIL','OFFICIAL_EMAIL AS [OFFICIAL EMAIL]')
	set @fields=REPLACE(@fields,'BIRTH_DATE','convert(varchar,BIRTH_DATE,107) AS [DATE OF BIRTH]')
	set @fields=REPLACE(@fields,'APPOINTMENT_DATE','convert(varchar,APPOINTMENT_DATE,107) AS [APPOINMENT DATE]')
	set @fields=REPLACE(@fields,'MARITAL_STATUS','S6.DETAIL_TITLE AS [MARITAL STATUS]')
	
	set @fields=REPLACE(@fields,'TEMP_ADDRESS','
	ISNULL(CAST(NULLIF(TEMP_WARD_NO, ''0'') AS VARCHAR) +  '', '', '''') + 
	ISNULL(NULLIF(LTRIM(RTRIM(TEMP_MUNICIPALITY_VDC)), '''') + '', '', '''') +  
	ISNULL(NULLIF(LTRIM(RTRIM(S5.DETAIL_TITLE)), '''') , '''')	[TEMP ADDRESS]
	')
	
	set @fields=REPLACE(@fields,'PERMANENT_ADDRESS','
	ISNULL(CAST(NULLIF(PER_WARD_NO, ''0'') AS VARCHAR) +  '', '', '''') + 
	ISNULL(NULLIF(LTRIM(RTRIM(PER_MUNICIPALITY_VDC)), '''') + '', '', '''') + 
	ISNULL(NULLIF(LTRIM(RTRIM(S4.DETAIL_TITLE)), '''') , '''')	[PERMANENT ADDRESS]
	'
	)
	
                     
 exec('SELECT ROW_NUMBER() OVER( order by EMP_CODE) AS SN, '+ @fields +'
  
		FROM Employee AS E with(nolock)
		INNER JOIN Branches AS B with(nolock) ON E.BRANCH_ID=B.BRANCH_ID 
		INNER JOIN Departments D with(nolock) ON D.DEPARTMENT_ID=E.DEPARTMENT_ID
		INNER JOIN StaticDataDetail AS S with(nolock) ON S.ROWID=E.GENDER
		INNER JOIN StaticDataDetail AS S1 with(nolock) ON S1.ROWID=E.POSITION_ID
		INNER JOIN StaticDataDetail AS S2 with(nolock) ON S2.ROWID=E.EMP_TYPE
		INNER JOIN StaticDataDetail AS S3 with(nolock) ON S3.ROWID=E.EMP_STATUS
		LEFT JOIN StaticDataDetail AS S4 with(nolock) ON S4.ROWID=E.PER_DISTRICT
		LEFT JOIN StaticDataDetail AS S5 with(nolock) ON S5.ROWID=E.TEMP_DISTRICT
		LEFT JOIN StaticDataDetail AS S6 with(nolock) ON S6.ROWID=E.MERITAL_STATUS
		where EMP_STATUS=458 and E.EMPLOYEE_ID<>''1000''
 ')
 
 --SELECT @fields
 end
 
 --select * from Employee where EMP_STATUS='458'
GO
