USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[PROCINSERTUPDATECUSTOMER]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROCINSERTUPDATECUSTOMER]    
 (  @ID                     INT          = NULL     
      ,@CUSTOMERCODE        VARCHAR(50)  = NULL     
      ,@CUSTOMERNAME        VARCHAR(50)  = NULL     
      ,@CUSTOMERADDRESS     VARCHAR(250) = NULL     
      ,@CUSTOMERTELNO       VARCHAR(20)  = NULL 
      ,@CUSTOMERTELNOSEC	VARCHAR(20)	 = NULL    
      ,@CUSTOMERMOBILENO    VARCHAR(20)  = NULL     
      ,@CUSTOMEFAX          VARCHAR(20)  = NULL     
      ,@CONTACTPERSONFIRST  VARCHAR(50)  = NULL     
      ,@CONTACTPERSONSEC    VARCHAR(50)  = NULL     
      ,@CONTACTPERSONTHIRD  VARCHAR(50)  = NULL     
      ,@CUSTOMEREMAIL       VARCHAR(50)  = NULL     
      ,@CUSTOMERWEBSITE     VARCHAR(50)  = NULL     
      ,@BUSINESSDETAILS     VARCHAR(250) = NULL     
      ,@FACILITYDETAILS     VARCHAR(250) = NULL   
      ,@CONTMOBILE1   VARCHAR(20)  = NULL  
      ,@CONTMOBILE2   VARCHAR(20)  = NULL    
      ,@CONTMOBILE3   VARCHAR(20)  = NULL  
      ,@CONTEMAIL1   VARCHAR(20)  = NULL  
      ,@CONTEMAIL2   VARCHAR(20)  = NULL  
      ,@CONTEMAIL3   VARCHAR(20)  = NULL  
      ,@MODE                VARCHAR(5)   = NULL )    
 AS    
 BEGIN    
       IF (@MODE = 'I')    
       BEGIN    
         IF NOT EXISTS (SELECT CUSTOMERCODE FROM WF_CUSTOMER WHERE CUSTOMERCODE = @CUSTOMERCODE)    
         BEGIN    
     INSERT INTO  WF_CUSTOMER ( CUSTOMERCODE     
            , CUSTOMERNAME     
            , CUSTOMERADDRESS     
            , CUSTOMERTELNO  
            , CUSTOMERTELNOSEC   
            , CUSTOMERMOBILENO     
            , CUSTOMEFAX     
            , CONTACTPERSONFIRST     
            , CONTACTPERSONSEC     
            , CONTACTPERSONTHIRD     
            , CUSTOMEREMAIL     
            , CUSTOMERWEBSITE     
            , BUSINESSDETAILS     
            , FACILITYDETAILS   
            , CONTACTPERSONMOBILE1  
            , CONTACTPERSONEMAIL1  
            , CONTACTPERSONMOBILE2  
            , CONTACTPERSONEMAIL2  
            , CONTACTPERSONMOBILE3  
            , CONTACTPERSONEMAIL3 )  
        VALUES ( @CUSTOMERCODE    
           ,@CUSTOMERNAME    
           ,@CUSTOMERADDRESS    
           ,@CUSTOMERTELNO 
           ,@CUSTOMERTELNOSEC   
           ,@CUSTOMERMOBILENO    
           ,@CUSTOMEFAX    
           ,@CONTACTPERSONFIRST    
           ,@CONTACTPERSONSEC    
           ,@CONTACTPERSONTHIRD    
           ,@CUSTOMEREMAIL    
           ,@CUSTOMERWEBSITE    
           ,@BUSINESSDETAILS    
           ,@FACILITYDETAILS  
           ,@CONTMOBILE1  
           ,@CONTEMAIL1  
           ,@CONTMOBILE2  
           ,@CONTEMAIL2  
           ,@CONTMOBILE3  
           ,@CONTEMAIL3 )       
    END    
    END    
   
 IF (@MODE='U')    
  
   BEGIN        
               
  UPDATE WF_CUSTOMER    
  SET [CUSTOMERCODE]  = @CUSTOMERCODE    
  ,[CUSTOMERNAME]   = @CUSTOMERNAME    
  ,[CUSTOMERADDRESS]  = @CUSTOMERADDRESS    
  ,[CUSTOMERTELNO]   = @CUSTOMERTELNO    
  ,[CUSTOMERTELNOSEC] = @CUSTOMERTELNOSEC
  ,[CUSTOMERMOBILENO]  = @CUSTOMERMOBILENO     
  ,[CUSTOMEFAX]    = @CUSTOMEFAX    
  ,[CONTACTPERSONFIRST]  = @CONTACTPERSONFIRST     
  ,[CONTACTPERSONSEC]  = @CONTACTPERSONSEC    
  ,[CONTACTPERSONTHIRD]  = @CONTACTPERSONTHIRD    
  ,[CUSTOMEREMAIL]   = @CUSTOMEREMAIL    
  ,[CUSTOMERWEBSITE]  = @CUSTOMERWEBSITE    
  ,[BUSINESSDETAILS]  = @BUSINESSDETAILS    
  ,[FACILITYDETAILS]  = @FACILITYDETAILS    
  ,[CONTACTPERSONMOBILE1] = @CONTMOBILE1  
  ,[CONTACTPERSONEMAIL1] = @CONTEMAIL1  
  ,[CONTACTPERSONMOBILE2] = @CONTMOBILE2  
  ,[CONTACTPERSONEMAIL2] = @CONTEMAIL2  
  ,[ContactPersonMobile3] = @CONTMOBILE3  
  ,[ContactPersonEmail3] = @CONTEMAIL3  
    
 WHERE ID = @ID    
  END    
    
    IF (@MODE = 'D')    
    BEGIN  
  DELETE FROM WF_CUSTOMER WHERE ID = @ID  
    END  
 END
GO
