USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_GradeSetup]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*

exec [proc_GradeSetup] 's',@ID=null

exec proc_GradeSetup @flag='i',@GradeType='883',@GradeFlag='D'
,@Amount='12',@positionId='786',@user='1000', @sessionId='dp1agggngz5bg4nxa51uizbc'


*/
  
  
CREATE PROC [dbo].[proc_GradeSetup]  
      @flag                               VARCHAR(50)    = NULL  
     ,@user                               VARCHAR(30)    = NULL  
     ,@ID                                 VARCHAR(30)    = NULL  
     ,@GradeType                          INT            = NULL  
     ,@GradeFlag                          VARCHAR(2)     = NULL  
     ,@Amount                             varchar(100)   = NULL  
     ,@positionId                         INT            = NULL  
     ,@sessionId                          VARCHAR(100)   = NULL  
     ,@gradeBasic        VARCHAR(10)    = NULL  
      
  
  
AS  
SET NOCOUNT ON  
SET XACT_ABORT ON  
BEGIN TRY  
       
     IF @flag = 'i'  
     BEGIN  
     IF EXISTS(SELECT 'X' FROM GradeSetup WHERE positionId = @positionId AND GradeType=@GradeType AND sessionId=sessionId and gradeBasic= @gradeBasic)  
     BEGIN  
         SELECT 'Grade is already assign to this position.' msg  
         RETURN  
       
     END  
          BEGIN TRANSACTION  
               INSERT INTO GradeSetup (  
                     GradeType  
                    ,GradeFlag  
                    ,Amount  
                    ,positionId  
                    ,sessionId  
                    ,gradeBasic  
                    ,createdBy  
                    ,createdDate  
               )  
               SELECT  
                     @GradeType  
                    ,@GradeFlag  
                    ,@Amount  
                    ,@positionId  
                    ,@sessionId  
                    ,@gradeBasic  
                   ,@user  
                    ,GETDATE()  
               SET @ID = SCOPE_IDENTITY()  
               IF @@TRANCOUNT > 0  
               COMMIT TRANSACTION  
               SELECT  'Record has been added successfully' mes  
          END  
        ELSE IF @flag = 'f'  
        BEGIN  
            UPDATE GradeSetup SET   
            sessionId = ''  
            WHERE sessionId = @sessionId  
          
        END  
     ELSE IF @flag = 'u'  
     BEGIN  
          BEGIN TRANSACTION  
               UPDATE GradeSetup SET  
                           
                         Amount                        = @Amount  
                         
                     WHERE ID = @ID  
               IF @@TRANCOUNT > 0  
               COMMIT TRANSACTION  
          SELECT 0 errorCode, 'Record updated successfully.' mes, @ID id   
     END  
       
 ELSE IF @flag = 's'  
 BEGIN  
  SELECT   
       ID  
      ,S1.DETAIL_TITLE [POSITION]   
   ,S.DETAIL_TITLE [GRADE TYPE]   
   ,CASE gradeBasic when 'f' then 'Flat' else 'Percentage' end [Grade Basic]  
   ,DBO.SHOWDECIMAL(AMOUNT) RATE  
     
  FROM GRADESETUP G   
  INNER JOIN StaticDataDetail s   
  ON g.GradeType = s.ROWID   
  INNER JOIN StaticDataDetail s1   
  on s1.ROWID = g.positionId  
  WHERE G.sessionId = @sessionId  
   
 END  
  
 ELSE IF @flag='D'    
 BEGIN    
  DELETE GradeSetup WHERE ID=@ID    
 END  
  
  
       
END TRY  
BEGIN CATCH  
     IF @@TRANCOUNT > 0  
     ROLLBACK TRANSACTION  
     SELECT 1 errorCode, ERROR_MESSAGE() mes, null id  
END CATCH
GO
