USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procUploadAssetType]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec procUploadAssetType 'a','D:\PROJECTS\AssetMGMT_NCC\AssetMGMT_NCC\SwiftHrManagement.web\doc\Asset_Doc\asset_type\asset_type-oe.csv','8','True','admin'
CREATE proc [dbo].[procUploadAssetType]	
	@flag char(1),
	@file_path varchar(2000),
	@parent_id int,
	@is_product varchar(20),
	@user varchar(50)
AS

if @flag='a'
begin

	set nocount on;
	declare @SQL varchar(1000)	
	declare @intTotalRows as int,@intPartId as int

	set @file_path = replace(@file_path,'\\','\')	

create table #tempNumberUpload
	(
		asset_type varchar(100) null,
		asset_desc varchar(100) null,
		asset_code varchar(100) null
	)

SET @SQL = ' BULK INSERT #tempNumberUpload  FROM '''+@file_path+''' 
				 WITH (FIELDTERMINATOR = '','',FIRSTROW  = 2, ROWTERMINATOR =''\n'') '
				 
exec(@SQL)

Alter table #tempNumberUpload add RowID INT IDENTITY(1,1)
select @intPartId=max(RowID) from #tempNumberUpload	


--########### Start loop count
set @intTotalRows=1
while @intPartId >=  @intTotalRows
begin
		DECLARE @item_id as int
		
		INSERT INTO ASSET_ITEM(item_name, item_desc, parent_id,  created_date, created_by, is_product)   
			SELECT asset_type,asset_desc,@parent_id,GETDATE(),@user,@is_product FROM  #tempNumberUpload where RowID=@intTotalRows

		SET @item_id =@@IDENTITY;
		
		INSERT INTO ASSET_PRODUCT(porduct_code,product_desc,ASSET_CODE,item_id,created_date,created_by)  
			SELECT asset_type,asset_desc,asset_code,@item_id,GETDATE(),@user FROM  #tempNumberUpload where RowID=@intTotalRows
			
		SET @intTotalRows=@intTotalRows+1	
end

	DROP TABLE #tempNumberUpload
	select 'Asset Code Has Been Uploaded!' as msg
end
GO
