USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procCheckProduct]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--select id,product_code from Temp_Purchase


--Exec procCheckProduct 'c','17'
CREATE PROCEDURE [dbo].[procCheckProduct]
		@flag char(5),	
		@rowid int
		
AS
	SET NOCOUNT ON;

IF(@flag ='c')
BEGIN	
	declare @isSerialed bit
	
	--select * from Temp_Sales
	
	select @isSerialed=p.serial_no from Temp_Sales t inner join IN_PRODUCT p on t.product_code=p.id where t.id=@rowid
	
	if(@isSerialed=1)
	begin
		select 'Y' as IsSerialed
	end
	else
	begin
		select 'N' as IsSerialed
	end

END	


IF(@flag ='b')
BEGIN	
	declare @isBatch bit
	
	select @isBatch=p.batch_condition from Temp_Sales t inner join IN_PRODUCT p on t.product_code=p.id where t.id=@rowid
	
	if(@isBatch=1)
	begin
		select 'Y' as IsBatch
	end
	else
	begin
		select 'N' as IsBatch
	end

END

IF(@flag ='rs')
BEGIN	
	declare @serialed bit
	
	select * from IN_Requisition
	
	select @serialed=p.serial_no 
	from IN_Requisition t inner join IN_PRODUCT p on t.item=p.id 
	where t.id=@rowid
	
	if(@serialed=1)
	begin
		select 'Y' as IsSerialed
	end
	else
	begin
		select 'N' as IsSerialed
	end

END	


IF(@flag ='rb')
BEGIN	
	declare @batch bit
	
	select @batch=p.batch_condition from IN_Requisition t inner join IN_PRODUCT p on t.item=p.id where t.id=@rowid
	
	if(@batch=1)
	begin
		select 'Y' as IsBatch
	end
	else
	begin
		select 'N' as IsBatch
	end

END
GO
