USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procGetAssetDetails]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Exec procGetAssetDetails '1'
CREATE PROCEDURE [dbo].[procGetAssetDetails]
 (
 @flag AS VARCHAR(1), 
 @ASSETID	VARCHAR(30) 
 )
 AS
 IF @flag='a'
 BEGIN
	 
		SELECT id,(purchase_value-acc_depriciation) AS book_value,dbo.ShowDecimal(acc_depriciation) AS acc_dep,
		dbo.ShowDecimal(purchase_value) AS purchase_value,narration,CONVERT(VARCHAR,booked_date,101) AS  booked_date
		FROM ASSET_INVENTORY 
		WHERE id=@ASSETID
 END
GO
