USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_OfficeTimeSetup]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Exec proc_OfficeTimeSetup @flag = 'i' ,@timeFlag = 's', @fromDate = '8/1/2012', @toDate = '8/31/2012', @fromTime = '10:00', @toTime = '18:00', @createdBy = '1000'
--Exec proc_OfficeTimeSetup @flag ='u', @id = '5', @timeFlag = 's', @fromDate = '15/08/2012', @toDate = '8/9/2012', @fromTime = '09:00:00', @toTime = '15:00:00', @createdBy = '1000', @modifiedBy = '1000'

CREATE PROCEDURE [dbo].[proc_OfficeTimeSetup]
         @flag							varchar(50)			= NULL
        ,@id							int					= NULL
        ,@timeFlag						char(1)				= NULL
        ,@fromDate						date				= NULL 
        ,@toDate						date				= NULL
	    ,@fromTime						time(7)				= NULL
	    ,@toTime						time(7)				= NULL
	    ,@toleranceFromTime				time(7)				= NULL
	    ,@toleranceToTime				time(7)				= NULL
	    ,@createdBy						int					= NULL
		,@createdDate					date				= NULL
		,@modifiedBy					int					= NULL
		,@modifiedDate					date				= NULL
	   
AS
SET NOCOUNT ON 
BEGIN TRY 
	if @flag='c'
	begin
			declare @FDate date, @TDate date
			if(@timeFlag='w')
			begin
				select @FDate = from_date,@TDate = to_date from OfficeTimeSetup where flag='s'
				if @fromDate between @FDate and @TDate  
					begin
						select 'From Date is overlapping with Summer time date' as msg
						return;
					end
			end
			else if(@timeFlag='s')
			begin
				select @FDate = from_date,@TDate = to_date from OfficeTimeSetup where flag='w'
				if @fromDate between @FDate and @TDate  
					begin
						select 'From Date is overlapping with Winter time date'
						return;
					end
			end
			
			select '0' as msg
	  end
    --truncate table OfficeTimeSetup
	IF @flag='i'
	BEGIN
			insert into OfficeTimeSetup (
					 flag
					,from_date
					,to_date
					,from_time
					,to_time
					,created_by
					,created_date
					,toleranceFromTime
					,toleranceToTime
					)
					SELECT
					@timeFlag
				   ,@fromDate
				   ,@toDate
				   ,@fromTime
				   ,@toTime
				   ,@createdBy
				   ,GETDATE()
				   ,@toleranceFromTime
				   ,@toleranceToTime
				 SELECT  'Data has been added successfully.' mes
		END	
		
	ELSE IF @flag='u'
	BEGIN
		   UPDATE OfficeTimeSetup SET 
		             flag			=@timeFlag
					,from_date		=@fromDate
					,to_date		=@toDate
					,from_time      =@fromTime
					,to_time		=@toTime
					,modified_by	=@modifiedBy
					,modified_date	=GETDATE()
					,toleranceFromTime= @toleranceFromTime
					,toleranceToTime=@toleranceToTime
					WHERE id		=@id
		END	 
				 
		ELSE IF  @flag='s'
		BEGIN
		
		  select id,flag,convert(varchar,from_date,101) from_date,convert(varchar,to_date,101) to_date,from_time,to_time,toleranceFromTime,toleranceToTime
		   from OfficeTimeSetup WHERE id=@id
		
		END		
		
	   ELSE	IF @flag='d'
		BEGIN
		   
		   DELETE OfficeTimeSetup where id=@id
		
		END 
		
		ELSE IF @flag='startTime'
		BEGIN
		/*
		exec [proc_OfficeTimeSetup] @flag='startTime'
		*/
			declare @dayname as varchar(50),@login_time as time(7),@logout_time as time(7),@friday_logout_time as time(7)			   
			
			select @login_time=a.from_time,@logout_time=a.to_time,@friday_logout_time=b.to_time from
			(
				select from_time,to_time from OfficeTimeSetup where CAST(GETDATE() AS DATE) between from_date and to_date and flag<>'f'
			)a,
			(
				select to_time from OfficeTimeSetup where CAST(GETDATE() AS DATE) between from_date and to_date and flag='f'
			)b
	
			select 
			isnull(@login_time,'09:00:00.0000000') login_time,
			isnull(@logout_time,'16:30:00.0000000') logout_time,
			isnull(@friday_logout_time,'14:30:00.0000000') friday_logout_time
		
		END 
				
		ELSE IF @flag='endTime'
		BEGIN
		   
		   DELETE OfficeTimeSetup where id=@id
		
		END 
		
END TRY

BEGIN CATCH

           SELECT ERROR_MESSAGE() mgs
           
END CATCH
GO
