USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procEmployeePromotion_Schedule]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- exec [procEmployeePromotion_Schedule]

CREATE Proc [dbo].[procEmployeePromotion_Schedule]    

AS    
SET NOCOUNT ON;   
SET XACT_ABORT ON   

DECLARE @CURRENT_DATE AS DATE=GETDATE(),@branch_id AS INT,@dept_id AS INT,@current_post AS INT,@rowid AS INT
 
BEGIN   
		BEGIN TRANSACTION   

	  		IF EXISTS(SELECT top 1 * FROM Promotion 
	  		WHERE convert(varchar,PROMOTION_DATE,102) <= convert(varchar,@CURRENT_DATE,102) AND UPDATE_FLAG IS NULL and UPDATE_DATE is null)
			BEGIN    

					---### Updating Employee position
					UPDATE Employee SET POSITION_ID=B.POSITION_ID from Employee A,
					(       
						SELECT  EMP_ID,POSITION_ID FROM Promotion 
	  					WHERE PROMOTION_DATE<=GETDATE() AND UPDATE_FLAG IS NULL and UPDATE_DATE is null
	  					
	  				)B WHERE A.EMPLOYEE_ID=B.EMP_ID
	  				
					---### Diactivate Existing Supervisor						
					update SuperVisroAssignment set record_status='n' from SuperVisroAssignment a,
					(
						SELECT a.empId,a.Current_Supervisor,a.Current_Supervisor_Type,c.EMP,c.SUPERVISOR,c.SUPERVISOR_TYPE
						FROM transfer_supervisor a inner join Promotion b on a.Transfer_ID=b.ROWID	
										inner join SuperVisroAssignment c on c.SUPERVISOR=a.Current_Supervisor
										and c.SUPERVISOR_TYPE=a.Current_Supervisor_Type and record_status='y' 
										WHERE PROMOTION_DATE<=GETDATE() AND UPDATE_FLAG IS NULL and UPDATE_DATE is null
										
					 )b where a.SUPERVISOR=b.Current_Supervisor and a.SUPERVISOR_TYPE=b.Current_Supervisor_Type	AND A.EMP=B.EMP
				       
					---### Inserting new supervisor  
					INSERT INTO SuperVisroAssignment(  
									  BRANCH  
									 ,DEPT  
									 ,EMP  
									 ,SUPERVISOR  
									 ,SUPERVISOR_TYPE  
									 ,CREATED_BY  
									 ,CREATED_DATE  
									 ,record_status
									 ,POSITION
													) 
					SELECT  
						 C.BRANCH_ID 
						,C.DEPARTMENT_ID  
						,A.empId  
						,A.New_Supervisor  
						,A.New_Supervisor_type  
						,'1000'  
						,GETDATE()  
						,'y'  
						,C.POSITION_ID 
					FROM  transfer_supervisor A
					INNER JOIN Promotion B ON A.Transfer_ID=B.ROWID
					INNER JOIN Employee C ON C.EMPLOYEE_ID=A.empId
					WHERE A.Transfer_Type='P' AND PROMOTION_DATE<=GETDATE() AND UPDATE_FLAG IS NULL and UPDATE_DATE is null 
				    

	  				
					---### Updating Promotion record is executed 
					/*        
					UPDATE Promotion SET  UPDATE_FLAG='Y', UPDATE_DATE=GETDATE() 
					WHERE PROMOTION_DATE<=GETDATE() AND UPDATE_FLAG IS NULL and UPDATE_DATE is null 
					*/
					
					UPDATE transfer_supervisor SET F_EXEC='Y',F_EXEC_DATE=GETDATE() FROM transfer_supervisor A,
					(
						SELECT * FROM Promotion 
						where PROMOTION_DATE<=GETDATE() AND UPDATE_FLAG IS NULL and UPDATE_DATE is null 
					)B WHERE A.Transfer_ID=B.ROWID  
					
					
					---### EXECUTING SALARY UPDATES INCLUDING SALARY SET & GRADE SET  
					EXEC [procPromotionPayable_Schedule] 
				          
				END  
			
		COMMIT TRANSACTION  
 END
GO
