USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[Proc_CEAssignment]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[Proc_CEAssignment]

As

Insert into CEA_Assignment (Emp_ID,Amount,StartDate,No_of_Children,Created_by,Created_date)

SELECT A.EMPLOYEE_ID,SUM(Amount) AMOUNT,cast(GETDATE() as date),COUNT(*) COUNTCHILD,'1000',cast(GETDATE() as date) FROM
(
 SELECT a.EMPLOYEE_ID,c.Amount,c.Category_for,d.ID FAMILY_ID,DATE_OF_BIRTH,DATEDIFF(YEAR,d.DATE_OF_BIRTH,GETDATE()) AGE
 FROM Employee a with(nolock) INNER JOIN tadaPositionCategory b with(nolock) on a.POSITION_ID=b.positionId
 INNER JOIN PayRateSetup c with(nolock) on c.Category_for=b.category_for and b.categoryId=c.Category
 INNER JOIN FamilyMembers d with(nolock) on d.EMPLOYEE_ID=a.EMPLOYEE_ID
 WHERE b.category_for=394 and RELATION in (1457,1458) AND DATEDIFF(YEAR,d.DATE_OF_BIRTH,GETDATE())<=18
 
)A GROUP BY A.EMPLOYEE_ID
GO
