USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[ProdDisplayItemForVendor]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[ProdDisplayItemForVendor]
AS

begin

	set nocount on;
	SELECT a.ID,a.item_desc FROM IN_ITEM a  where id in
	(SELECT parent_id FROM IN_ITEM WHERE is_product='1')
end
GO
