USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_travelOrderSettlement]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[proc_travelOrderSettlement](
   
			 @flag						VARCHAR(10)
			,@travelOrdSetId			INT				= NULL
		    ,@travelOrderId			    INT				= NULL
		    ,@traOrdAllowanceId			INT				= NULL
			,@reqBy					    INT				= NULL
		    ,@recommendedBy				INT				= NULL
			,@recommendedDate			Date			= NULL
			,@approveToVerify			INT				= NULL
			,@approveToVerifyDate		Date			= NULL
			,@finalApproveBy			INT				= NULL
			,@finalApproveByDate		DATE			= NULL
			,@recommendedRemarks		VARCHAR(MAX)	= NULL
			,@verifyRemarks				VARCHAR(MAX)	= NULL
			,@finalRemarks				VARCHAR(MAX)	= NULL
			,@days					    VARCHAR(100)	= NULL
			,@total						VARCHAR(100)	= NULL
		    ,@approveFrom				VARCHAR(100)	= NULL	
			,@approveTo					VARCHAR(100)	= NULL
			,@requestRemarks			VARCHAR(MAX)    = NULL
			,@advance					VARCHAR(100)	= NULL
			,@status					VARCHAR(100)	= NULL
			,@allowanceType				VARCHAR(100)	= NULL
			,@perDays					VARCHAR(100)	= NULL
			,@settlementfromDate		VARCHAR(100)	= NULL
			,@settlementtoDate			VARCHAR(100)	= NULL
			,@sessionId					VARCHAR(100)	= NULL
			,@ccList					VARCHAR(100)	= NULL
			,@currency					VARCHAR(20)		= NULL
			,@positionId				VARCHAR(50)		= NULL
						
			
			  
				

)
AS 
SET NOCOUNT ON 
/*
 
 s -> select travelOrder
 sa ->select travelOrderAllowance 
 ia -> insert into travelOrderAllowance
 @perdays = rate 
 @days    = datedifference
 ss -> select travelOrderAllowance but settlement
 fs -> insert travelOrderSettlement
 sr -> recommend travelOrderSettlement
 sv -> varrify  travelOrderSettlement

 sa -> final  travelOrderSettlement
 st -> Populate date  for  Settlement select query 
 se -> update for travelOrderAllowance table for settlement


*/

BEGIN TRY
    IF @flag = 's'
    BEGIN
		 SELECT 
				  placeOfVisit
				 ,CONVERT(varchar,reqDate,107)reqDate
				 ,e.FIRST_NAME +' '+MIDDLE_NAME +' '+LAST_NAME+' | '+ CAST(reqBy as varchar) as reqBy
				 ,purposeOfVisit
				 ,s1.DETAIL_TITLE region
				 ,region regionId
				 ,CONVERT(varchar,approveFrom,101)approveFrom 
				 ,convert(varchar,approveTo,101) approveTo
				 ,s.DETAIL_TITLE transportation
				 ,dbo.ShowDecimal(advance) advance
				 ,region [regionId]
		 FROM travelOrder t
		 INNER JOIN StaticDataDetail s 
		 ON t.transportation = s.ROWID
		 INNER JOIN StaticDataDetail s1
		 ON t.region = s1.ROWID
		INNER JOIN Employee e 
		 ON e.EMPLOYEE_ID = t.reqBy
		 WHERE travelOrderId = @travelOrderId
    
    END
    
  IF @flag = 'sa'
  BEGIN
  
		 SELECT 
			 S.DETAIL_TITLE Allowance
			,currency [Currency]
			,[days] [Day]
			,dbo.ShowDecimal(perDays) [Rate]
			,dbo.ShowDecimal(total) Total 
		FROM travelOrderAllowance TA 
		INNER JOIN  StaticDataDetail S 
		ON TA.allowanceType = S.ROWID
    WHERE travelOrderId = @traOrdAllowanceId AND flag IS NULL
  
  END
  
    IF @flag = 'st'
  BEGIN
  
    
  SELECT   allowanceType ,perDays rate,total,[days]
		FROM travelOrderAllowance 
    WHERE traOrdAllowanceId = @traOrdAllowanceId and flag ='s'
  
  END
  
     IF @flag = 'se'
  BEGIN
             UPDATE travelOrderAllowance SET 
					allowanceType = @allowanceType
				   ,perDays       = @perDays
				   ,[days]        = @days
				   ,total		  = @total
			 WHERE traOrdAllowanceId = @traOrdAllowanceId
			 SELECT 'Data Save Successfully' msg
		  
  END
  
    IF @flag = 'ia'
  BEGIN
  
    IF EXISTS( 
				SELECT * FROM 
				travelOrderAllowance WHERE allowanceType = @allowanceType 
				AND sessionId in(case isnull(@sessionId,'') when '' then '' else @sessionId end) 
				and flag ='s'
				)
	   BEGIN
		  SELECT 'Allowance Type is already Added!' MSG
		  RETURN
	    
	   
	   END
    INSERT INTO travelOrderAllowance(
    
						 allowanceType 
						,travelOrderId 
						,perDays
						,total
						,sessionId
						,[days]
						,flag
						,currency
    
					)
				SELECT
					@allowanceType
				   ,@travelOrderId
				   ,@perDays
				   ,@total
				   ,@sessionId
				   ,@days
				   ,'s'	
				   ,@currency
				 SELECT 'Record Save Successfully' msg
  
  END
  
    IF @flag = 'fs'
  BEGIN
    INSERT INTO travelOrderSettlement(
    
					
					 travelOrderId
					,reqBy
					,reqDate
					,travelSettleReqDate
					,settlementfromDate
					,settlementtoDate
					,recommendedBy
					,requestRemarks
					
				
    
					)
				SELECT
					@travelOrderId
				   ,@reqBy
				   ,GETDATE()
				   ,GETDATE()
				   ,@settlementfromDate
				   ,@settlementtoDate
				   ,@recommendedBy
				   ,@requestRemarks
				 SELECT 'Record Save Successfully Save' msg
				 
				 UPDATE travelOrder SET
				   [status] = 'O' WHERE travelOrderId = @travelOrderId
				   
				UPDATE travelOrderAllowance SET
						sessionId = ''
					   ,travelOrderId = @travelOrderId
				 WHERE sessionId = @sessionId AND travelOrderId = @travelOrderId
				   
				   
  
  END
  
    IF @flag = 'ss'
  BEGIN
  
    SELECT S.DETAIL_TITLE Allowance
			,currency Currency
			,[days] [Days]
			,dbo.ShowDecimal(perDays) Rate
			,dbo.ShowDecimal(total) Total
			,'<img onclick = "EditTravelAllowance(' + CAST(traOrdAllowanceId AS VARCHAR(50)) + ')" class = "showHand" border = "0" title = "Delete Notification" src="../../../Images/but_edit.gif" />' [Edit] 
			,'<img onclick = "DeleteNotification(' + CAST(traOrdAllowanceId AS VARCHAR(50)) + ')" class = "showHand" border = "0" title = "Delete Notification" src="../../../Images/delete.gif" />' [Delete] 
		FROM travelOrderAllowance TA 
		INNER JOIN  StaticDataDetail S 
		ON TA.allowanceType = S.ROWID
    WHERE isnull(sessionId,'') = isnull(@sessionId,'') AND travelOrderId = @travelOrderId AND flag ='s'
  
  
  END
  
      IF @flag = 'sp'
  BEGIN
  
    SELECT S.DETAIL_TITLE Allowance
			,currency Currency
			,[days] [Days]
			,dbo.ShowDecimal(perDays) Rate
			,dbo.ShowDecimal(total) Total
			,'<img onclick = "DeleteNotification(' + CAST(traOrdAllowanceId AS VARCHAR(50)) + ')" class = "showHand" border = "0" title = "Delete Notification" src="../../../Images/delete.gif" />' [Delete] 
		FROM travelOrderAllowance TA 
		INNER JOIN  StaticDataDetail S 
		ON TA.allowanceType = S.ROWID
    WHERE isnull(sessionId,'') = isnull(@sessionId,'') AND travelOrderId = @travelOrderId AND flag ='s'
  
  
  END
  
  IF @flag = 'd'
  BEGIN
  
    DELETE travelOrderAllowance WHERE traOrdAllowanceId = @traOrdAllowanceId AND flag = 's'
    SELECT 'Record Delate Successfully' msg
    
    
  
  END
  
  IF @flag = 'sl'
  BEGIN
  
		 SELECT 
			 AllowanceType
			,currency [Currency]
			,[days] [days]
			,dbo.ShowDecimal(perDays) [rate]
			,dbo.ShowDecimal(total) total 
		FROM travelOrderAllowance TA 
		INNER JOIN  StaticDataDetail S 
		ON TA.allowanceType = S.ROWID
    WHERE TA.traOrdAllowanceId = @traOrdAllowanceId
  
  END
  
    IF @flag = 'sr'
  BEGIN
     UPDATE travelOrderSettlement SET 
                        settlementfromDate = @settlementfromDate
                       ,settlementtoDate   = @settlementtoDate
                       ,recommendedDate    = GETDATE()
                       ,approveToVerify    = @approveToVerify
                       ,recommendedRemarks = @recommendedRemarks
             WHERE travelOrdSetId   = @travelOrdSetId

  END
  
  
 IF @flag = 'sv'
  BEGIN
     UPDATE travelOrderSettlement SET 
                        settlementfromDate	= @settlementfromDate
                       ,settlementtoDate	= @settlementtoDate
                       ,approveToVerifyDate = GETDATE()
                       ,finalApproveBy      = @finalApproveBy
                       ,verifyRemarks		= @verifyRemarks
                       ,ccList				= @ccList
                       ,approveToVerify		= @approveToVerify
               WHERE travelOrdSetId   = @travelOrdSetId
	SELECT 'Record Updated Successfully' AS MSG
  END

IF @flag = 'su'
  BEGIN
     UPDATE travelOrderSettlement SET 
                        settlementfromDate	= @settlementfromDate
                       ,settlementtoDate	= @settlementtoDate
                       ,finalApproveByDate  = GETDATE()
                       ,finalRemarks		= @finalRemarks
                       
             WHERE travelOrdSetId   = @travelOrdSetId
             
             UPDATE travelOrder SET
				   [status] = 'S' WHERE travelOrderId = @travelOrderId
	SELECT 'Record Updated Successfully' AS MSG
  END



END TRY


BEGIN CATCH
	 IF @@TRANCOUNT > 0
	 ROLLBACK TRANSACTION
	 
	 SELECT '1' ERROR_CODE , ERROR_MESSAGE() MSG , @travelOrderId ID  

END CATCH
GO
