USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procBalancesheet]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Exec procBalancesheet 'p','2010-10-28','1','2010-10-28'

create  proc [dbo].[procBalancesheet]
	@flag char(1),
	@date1 varchar(20),
	@company_id varchar(20)=null,
	@date2 varchar(20)=null

as
	set nocount on;
	-- set @date1=@date1 +' 23:59:59'

if @flag='b'
begin

-- ########## Create Balance Table

select b.gl_code,Total,CR,DR,bal_grp 
into #TempBalnce 
from (
select a.gl_code,Total,CR,DR  
	from(
		
		select gl_sub_head_code as gl_code,sum(Total) as Total,
			sum(case when Total < 0 then Total else 0 end) as DR, 
			sum(case when Total > 0 then Total else 0 end) as CR
	from (
	select gl_sub_head_code,acc_num,
				sum (case when part_tran_type='DR' then tran_amt*-1 else tran_amt end) Total
				from tran_master m with(nolock)
				where convert(varchar,cast(tran_date as datetime),102) < =
					convert(varchar,cast(@date1 +' 23:59:59' as datetime),102)
					--and company_id like isnull(@company_id, '%') 
				group by gl_sub_head_code,acc_num
		)a group by gl_sub_head_code
	) a
)b, GL_GROUP g where g.gl_code=b.gl_code


select * from (

	select lable as head,sum (isnull(b.total,0)) as Total,
		reportid,'a' as typ, grp_main,grp,b.bal_grp
		from report_format h left join #TempBalnce b on h.reportid=b.bal_grp
	where [type]='a' group by lable,reportid,grp_main,grp,b.bal_grp
		
	union all
	
	select lable as head,sum (isnull(b.total,0)) as Total,
		reportid,'l' as typ, grp_main,grp,b.bal_grp
		from report_format h left join #TempBalnce b on h.reportid=b.bal_grp
	where [type]='l' group by lable,reportid,grp_main,grp,b.bal_grp
		
) a order by reportid,grp_main,grp


end

if @flag='p'
begin

	-- Exec procBalancesheet 'p','04/01/2009',Null,'4/2/2010' 

	select gl_name as GL_DESC,gl_code ,(sum(isnull(YTotal,0))) YEARTODATE,
		(sum(isnull(MTotal,0))) THISMONTH,
	x.TREE_SAPE, LEFT(X.TREE_SAPE, 10) AS fILTER
	from(
	
		select sum(a.Total) as MTotal,0 as YTotal, left(b.tree_sape,LEN('0012.06')+10) TREE_SAPE from (
		select acct_num,acct_name,gl_code,sum(total)as Total from(	
						select a.acct_num,a.acct_name,a.gl_code,
							sum(case when part_tran_type='dr' then tran_amt*(-1) else tran_amt end) Total
							from ac_master a  with(nolock) 
								join tran_master e with(nolock) on a.acct_num=e.acc_num
							where tran_date BETWEEN cast( @date1 as datetime)  
								AND  cast( @date2 +' 23:59:59' as datetime)
								and a.company_id like isnull(1, '%')
						group by a.acct_num,a.acct_name,a.gl_code
				) a group by acct_num,acct_name,a.gl_code
		)a right join (select * from GL_GROUP with (nolock))b on a.gl_code=b.gl_code
		where left(b.tree_sape,LEN('0012.06'))='0012.06'
		group by left(b.tree_sape,LEN('0012.06')+ 10)
		
		UNION ALL
		
		select 0, sum(a.Total) as YTotal, left(b.tree_sape,LEN('0012.06')+10) TREE_SAPE from (
			select acct_num,acct_name,gl_code,sum(total)as Total from(	
							select a.acct_num,a.acct_name,a.gl_code,
								sum(case when part_tran_type='dr' then tran_amt*(-1) else tran_amt end) Total
								from ac_master a  with(nolock) 
									join tran_master e with(nolock) on a.acct_num=e.acc_num
								where tran_date <= cast( @date2 +' 23:59:59' as datetime)
								and a.company_id like isnull(1, '%')
							group by a.acct_num,a.acct_name,a.gl_code
					) a group by acct_num,acct_name,a.gl_code
			)a right join (select * from GL_GROUP with (nolock))b on a.gl_code=b.gl_code
	where left(b.tree_sape,LEN('0012.06'))='0012.06'
	group by left(b.tree_sape,LEN('0012.06')+10)
		
	) x, GL_GROUP g where x.TREE_SAPE=g.TREE_SAPE
	and gl_code not in ('41','36','40','30' ) 
	group by gl_name,gl_code,x.TREE_SAPE


end
GO
