USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procBatchUpload]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Exec [procBatchUpload] 'a','68-69','5'


CREATE proc [dbo].[procBatchUpload]
	@flag varchar(1),
	@fiscalYear varchar(20)=null,
	@runMonth varchar(10)=null


AS

	SET NOCOUNT ON;

Declare @sql varchar(3000)
if @flag='a'
BEGIN
	
	
DECLARE 
@monthStartDate DATE,
@monthEndDate DATE,
@TDS_AC VARCHAR(20),
@monthname Varchar(20)
	

SET @fiscalYear=@fiscalYear
SET @runmonth=@runMonth
SET @monthStartDate =dbo.GetMonthStartDateEng(@fiscalYear , @runMonth )
SET @monthEndDate =dbo. GetMonthEndDateEng(@fiscalYear , @runMonth)
SET @monthname = dbo.FNAGetNepMonthName(@runMonth)
SELECT @TDS_AC =DETAIL_DESC FROM StaticDataDetail WITH (NOLOCK) WHERE DETAIL_TITLE='TDS'


CREATE TABLE #Salary_Dump(
	 [Company Code]			VARCHAR(20)
	,[A/C No]				VARCHAR(20)
	,[PL Category]			VARCHAR(20)
	,[SIGN (Dr/Cr)]			VARCHAR(2)
	,[AMOUNT]				DECIMAL(38, 2)
	,[Transaction Code]		VARCHAR(20)
	,[Currency]				VARCHAR(10)
	,[Amount FCY]			DECIMAL(38, 2)
	,[Product Category]		VARCHAR(20)
	,[Department Code/ Ac]	VARCHAR(20)
	,[ADDL_TEXT]			VARCHAR(2000)
)

INSERT #Salary_Dump

SELECT 
	 [Company Code] = CAST(TT.BRANCH_SHORT_NAME AS VARCHAR)
	,[A/C No] = TT.ACCOUT_NUMBER 
	,[PL Category] = TT.[PL CATEGORY]
	,[SIGN (Dr/Cr)] = TT.DRCR
	,AMOUNT = ROUND(TT.AMOUNT,2)
	,[Transaction Code] = CASE WHEN TT.DRCR='D' THEN '9' ELSE '51' END
	,Currency = NULL 
	,[Amount FCY] = NULL
	,[Product Category] = NULL
	,[Department Code/ Ac] = CASE WHEN TT.DRCR='C' THEN '' ELSE '1' END 
	,ADDL_TEXT = TT.DETAIL_DESC +'::'+@monthname +' '+REPLACE(@fiscalYear,'-','')
FROM
(
SELECT C.BRANCH_SHORT_NAME,'' ACCOUT_NUMBER,D.LEDGER_NUMBER [PL CATEGORY],A.BENEFIT_ID,SUM(A.PAID_AMOUNT) AS AMOUNT, 'D' DRCR,
ZY.DETAIL_DESC
FROM 
	(	
		SELECT EMPLOYEE_ID ,BENEFIT_ID, SUM(ROUND(PAID_AMOUNT,2) ) AS  PAID_AMOUNT  FROM
		(
			SELECT  EMPLOYEE_ID ,BENEFIT_ID, PAID_AMOUNT 
			FROM PayableHistory A WITH ( NOLOCK)
			WHERE A.FY_ID=@fiscalYear
			AND A.RUN_MONTH = @runmonth
					
			UNION ALL
				
			SELECT EMPLOYEE_ID ,A.HEAD_ID, 
			CASE WHEN A.ADD_DEDUCT='A' THEN ROUND(A.AMOUNT ,2)ELSE ROUND(A.AMOUNT*-1,2) END AS AMOUNT
			FROM AdhocPayment A WITH ( NOLOCK )	INNER JOIN StaticDataDetail B WITH ( NOLOCK ) ON A.HEAD_ID= B .ROWID
			WHERE A.APPLIED_DATE IS NULL
			AND isnull(a.IS_PAID,0)=0
			AND B.TYPE_ID IN ('36','37','38','41')
			and A.HEAD_ID<>'395'
			
			UNION ALL
			
			SELECT B.EMPLOYEE_ID ,A . CONTRIBUTED_TO,CAST(ISNULL(B. AMOUNT_EMPLOYER ,0.00) AS MONEY)
			FROM Contribution A WITH ( NOLOCK ) INNER JOIN ContributionHistory B WITH ( NOLOCK )
			ON A . ID=B. CONTRIBUTION_ID
			WHERE B . FY_ID=@fiscalYear AND B .RUN_MONTH = @runmonth
			
			UNION ALL
			
			SELECT EMPLOYEE_ID, CONTB_TO ,CAST(ISNULL( CONTB_AMOUNT_EMPLOYER ,0.00) AS MONEY)
			FROM Adhoc_Contribution WITH ( NOLOCK)
			WHERE CONTB_DATE IS NULL
			AND ISNULL(IS_Paid,0)=0
			) XY
			GROUP BY EMPLOYEE_ID ,BENEFIT_ID
		
		) A
		INNER JOIN TaxCalculation B WITH ( NOLOCK ) ON A.EMPLOYEE_ID=B.Emp_Id
		INNER JOIN Branches C WITH (NOLOCK) ON 	C.BRANCH_ID=B.Branch_Id	
		Left JOIN SalaryLeadgerMapping D WITH (NOLOCK) ON C.BRANCH_ID=D.Branch_ID
		INNER JOIN StaticDataDetail ZY ON A.BENEFIT_ID=ZY.ROWID
		WHERE A.BENEFIT_ID=D.Head_ID
		AND B.FY_ID=@fiscalYear AND B.Run_Month=@runmonth
		GROUP BY C.BRANCH_SHORT_NAME,D.LEDGER_NUMBER,A.BENEFIT_ID,ZY.DETAIL_DESC
	
	UNION ALL
	
	
	--LOAN PAYMENT--
	SELECT 'NP0010002' AS BRANCH, B.LEDGER_CODE ACCOUNT_NUMBER,'' [PL CATEGORY],B.LOAN_TYPE, SUM(paid_amount) AS AMOUNT ,'C' AS DRCR,
	ZY.DETAIL_DESC 
	FROM loan_collection A WITH (NOLOCK)
	INNER JOIN LOAN B WITH (NOLOCK)ON A.loan_id=B.ID
	Inner JOIN Employee E WITH (NOLOCK) ON E.EMPLOYEE_ID=B.EMPLOYEE_ID
	Inner Join Branches S WITH (NOLOCK) ON E.BRANCH_ID=S.Branch_ID
	INNER JOIN StaticDataDetail ZY WITH (NOLOCK )ON B.LOAN_TYPE=ZY.ROWID
	AND A.paid_date BETWEEN @monthStartDate AND @monthEndDate
	AND A.NARRATION LIKE '%BY SYSTEM%'
	GROUP BY B.LEDGER_CODE,B.LOAN_TYPE,ZY.DETAIL_DESC	
	
	UNION ALL
	
	--ADVANCE PAYMENT---
	SELECT CASE WHEN B.ADVANCE_TYPE<>'385' THEN S.BRANCH_SHORT_NAME ELSE 'NP0010001' END AS BRANCH, B.LEDGER_CODE,'' [PL CATEGORY],B.ADVANCE_TYPE, SUM(paid_amount) AS AMOUNT ,'C' AS DRCR,
	ZY.DETAIL_DESC 
	FROM AdvanceCollection A WITH (NOLOCK)
	INNER JOIN ADVANCE B WITH (NOLOCK) ON A.ADVANCE_ID=B.ID
	INNER JOIN StaticDataDetail ZY WITH (NOLOCK )ON B.ADVANCE_TYPE=ZY.ROWID
	Inner JOIN Employee E WITH (NOLOCK) ON E.EMPLOYEE_ID=B.EMPLOYEE_ID
	Inner Join Branches S WITH (NOLOCK) ON E.BRANCH_ID=S.Branch_ID
	AND A.paid_date BETWEEN @monthStartDate AND @monthEndDate 
	AND A.NARRATION LIKE '%by system%'
	GROUP BY B.LEDGER_CODE,B.ADVANCE_TYPE,ZY.DETAIL_DESC,S.BRANCH_SHORT_NAME
	

	UNION ALL
		
	---TDS PAYABLE---
	SELECT 'NP0010001' AS BRANCH,@TDS_AC AS LEDGER_CODE,'' [PL CATEGORY],604 as P_TYPE,SUM(ROUND(Tax_This_Month,2))AS AMOUNT, 'C' AS DRCR,
	'TDS ON SALARY'
	FROM TaxCalculation T WITH (NOLOCK)
	Inner Join Branches S WITH (NOLOCK) ON T.Branch_Id=S.Branch_ID
	WHERE  FY_ID =@fiscalYear AND Run_Month= @runMonth
	
	
	
	UNION ALL
	
	SELECT 'NP0010001' AS BRANCH_SHORT_NAME,B.DETAIL_DESC,'' [PL CATEGORY],A.CONTRIBUTED_TO, SUM(A.AMT) AS AMOUNT, 'C' AS DRCR,
	ZY.DETAIL_DESC 
	FROM 
	(
		SELECT B.EMPLOYEE_ID ,A . CONTRIBUTED_TO,
		CAST(ISNULL(B. AMOUNT_EMPLOYER ,0.00)+ISNULL(B. AMOUNT_EMPLOYEE ,0.00) AS MONEY) AMT
		FROM Contribution A WITH ( NOLOCK ) INNER JOIN ContributionHistory B WITH ( NOLOCK )
		ON A . ID=B. CONTRIBUTION_ID
		WHERE B . FY_ID=@fiscalYear AND B .RUN_MONTH = @runmonth
		
		UNION ALL
			
		SELECT EMPLOYEE_ID, CONTB_TO ,
		CAST(ISNULL(CONTB_AMOUNT_EMPLOYER ,0.00) + ISNULL( CONTB_AMOUNT_EMPLOYEE ,0.00) AS MONEY)AMT
		FROM Adhoc_Contribution WITH ( NOLOCK)
		WHERE CONTB_DATE IS NULL
		AND ISNULL(IS_Paid,0)=0
		
	) A
	Inner JOIN Employee E WITH (NOLOCK) ON E.EMPLOYEE_ID=A.EMPLOYEE_ID
	Inner Join Branches S WITH (NOLOCK) ON E.BRANCH_ID=S.Branch_ID
	INNER JOIN StaticDataDetail B ON CAST(A.CONTRIBUTED_TO AS VARCHAR)=B.DETAIL_TITLE
	INNER JOIN StaticDataDetail ZY WITH (NOLOCK )ON A . CONTRIBUTED_TO=ZY.ROWID
	GROUP BY  B.DETAIL_DESC,A.CONTRIBUTED_TO,ZY.DETAIL_DESC

	UNION ALL
	
	SELECT 'NP0010002', B.ACCOUNT_NUMBER ,'' [PL CATEGORY],999,
		(BASIC_SALARY_CURRENT+GRADE_CURRENT+ ALLOWANCE_CURRENT
		+ADHOC_BENEFITS_THIS_MONTH+ROUND(CONTRI_THIS_MONTH_EMPLOYER,2) -
		(ROUND(CONTRI_THIS_MONTH_EMPLOYER,2)+ ROUND(CONTRI_CURRENT_EMPLOYEE,2)+ROUND(TAX_THIS_MONTH,2)+
		ADHOC_DEDUCTION_CURRENT+LOAN_DEDUCTION+ADVANCE_DEDUCTION+isnull(a.AMOUNT,0))) AS  AMOUNT, 'C' AS DRCR,
		'SALARY'
    FROM TaxCalculation t
		left join (select EMPLOYEE_ID,AMOUNT from AdhocPayment where APPLIED_DATE between @monthStartDate and @monthEndDate
		And HEAD_ID=(select rowid from StaticDataDetail where DETAIL_TITLE='LFA' AND isnull(IS_PAID,0)=0 )) a on a.EMPLOYEE_ID=t.Emp_Id
		left join BankAccounts b on b.EMPLOYEE_ID=t.Emp_Id
		Inner Join Branches S WITH (NOLOCK) ON T.BRANCH_ID=S.Branch_ID
		WHERE T.FY_ID=@fiscalYear
		AND T.Run_Month=@runmonth
		AND ISNULL(B.IS_DEFAULT,0)=1
    
    ) TT
    WHERE TT.AMOUNT<>0
    ORDER BY [Company Code]
    
    
    CREATE TABLE #summary (
		 RowId			INT IDENTITY(1, 1)
		,Batch_code		INT		
		,Branch_Code	VARCHAR(20)
		,Dr				DECIMAL(38, 2)
		,Cr				DECIMAL(38, 2)
    )
    
 
    INSERT INTO #summary (
		 Branch_Code
		,Dr
		,Cr   
    )
	SELECT 
		 sd.[Company Code] 
		,dr = SUM(CASE WHEN sd.[SIGN (Dr/Cr)] = 'D' THEN ISNULL(sd.AMOUNT, 0) ELSE 0 END)
		,cr = SUM(CASE WHEN sd.[SIGN (Dr/Cr)] = 'C' THEN ISNULL(sd.AMOUNT, 0) ELSE 0 END)
	FROM #Salary_Dump sd
	GROUP BY [Company Code]

	DECLARE 
		 @rowId INT = 0
		,@dr DECIMAL(38, 2)
		,@cr DECIMAL(38, 2)
		,@branch_code VARCHAR(20)
		,@IBTAC VARCHAR(20)
		,@Batch_Code INT
		,@balanceAmount DECIMAL(38, 2)

	WHILE EXISTS(SELECT 'X' FROM #summary WHERE RowId > @rowId)
	BEGIN
		SELECT TOP 1 @rowId = rowId FROM #summary WHERE RowId > @rowId ORDER BY RowId ASC
		
		SELECT 
			 @dr = Dr
			,@cr = Cr
			,@branch_code = Branch_Code
		FROM #summary WHERE RowId = @rowId
	
		SELECT 
			 @IBTAC = IBT_Account
			,@Batch_Code = Batch_Code
		FROM Branches WHERE BRANCH_SHORT_NAME = @branch_code
	
		UPDATE #summary SET 
			Batch_code = @Batch_Code 
		WHERE Branch_Code = @branch_code 
		
		IF @dr <> @cr
		BEGIN
			INSERT INTO #Salary_Dump
			SELECT 
				-- @Batch_Code + 1
				--,
				 @branch_code
				,@IBTAC
				,null
				,CASE WHEN @dr > @cr THEN 'C' ELSE 'D' END
				,ABS(@cr - @dr)
				,CASE WHEN @dr > @cr THEN 51 ELSE 9 END
				,null
				,null
				,null
				,null
				,'IBT ADJ'
		
		
		END
	
	END
	
	--SELECT * FROM #summary
	--UPDATE Branches
	--SET Batch_Code = 1 + ISNULL(Batch_Code, 0) 
	
	SELECT
		 
		Batch_code = RIGHT('0000000' +  CAST(s.Batch_code AS VARCHAR(50)), 7)
		,sd.* 
	FROM #Salary_Dump sd
	INNER JOIN #summary s ON sd.[Company Code] = s.Branch_Code 
	ORDER BY Batch_code ASC, [SIGN (Dr/Cr)] DESC

END
GO
