USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[ProcDocumentSetup]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Exec [ProcDocumentSetup] @flag='V',@CatId='1',@JobId='1'
-- Exec ProcDocumentSetup @flag='V',@CatId='3', @user='1000',@JobId='3'
CREATE PROC [dbo].[ProcDocumentSetup]
(
	@flag		CHAR(1),
	@JobId	VARCHAR(50)=NULL,
	@CatId  VARCHAR(20) = NULL,
	@RowId		VARCHAR(100)	= NULL,
	@DocId		INT			= NULL,
	@DocType	VARCHAR(20)		= NULL,
	@DocStatus VARCHAR(50)=NULL,
	@DocSubDate VARCHAR(10)=NULL,
	@DocExpiryDate VARCHAR(10)=NULL,
	@DocReceivedDate VARCHAR(20)=NULL,
	@Remarks VARCHAR(MAX)=NULL,
	@user		VARCHAR(20)	= NULL 
	
)
AS
DECLARE @StaticId INT=60
DECLARE @Doctypestr VARCHAR(MAX)
	SET @Doctypestr=''
	IF @DocSubDate='' 
		SET @DocSubDate=NULL
	IF @DocExpiryDate=''
		SET @DocExpiryDate=NULL
	IF  @DocReceivedDate=''
		SET @DocReceivedDate=NULL

IF @flag='V'
BEGIN
	----select * from DocumnetSetup 
	----delete from DocumnetSetup where ID=5
	--IF NOT EXISTS(SELECT TOP 1 * FROM DocumnetSetup WHERE Cat_ID=@CatId AND Job_ID=@JobId)
	--BEGIN
		INSERT INTO DocumnetSetup(Job_ID,Cat_ID,Doc_ID,Created_By,Created_Date)
		--SELECT @JobId,Job_Type_ID,Doc_Type_Code,@user,GETDATE() FROM RelnLoan_TypeNDoc WHERE Job_Type_ID=@CatId		
		SELECT @JobId,Job_Type_ID,Doc_Type_Code,@user,GETDATE() FROM RelnLoan_TypeNDoc WHERE Doc_Type_Code NOT IN 
		(SELECT Doc_ID FROM DocumnetSetup WHERE Job_ID=@JobId) AND Job_Type_ID=@CatId
	--END
	
	SET @Doctypestr='<select ID="DocId_0" name="DocId_" class="CMBDesign">
	<option value="">Select</option>'+CHAR(13)
	SELECT @Doctypestr=@Doctypestr+'<option value="'+CAST(ROWID AS VARCHAR)+'">'+DETAIL_TITLE+'</option>'+CHAR(13) 
		FROM StaticDataDetail SD
		WHERE TYPE_ID = @StaticId 
		AND ROWID NOT IN (SELECT Doc_ID FROM DocumnetSetup WHERE Job_ID=@JobId)
	SET @Doctypestr=@Doctypestr+'</select>'


	SELECT ROW_NUMBER() OVER(ORDER BY R.id) AS [S.N.],SD.DETAIL_TITLE [Documnet Name]

		,'<select ID="DocType_'+CAST(R.ID AS VARCHAR)+'" name="DocType_'+CAST(R.ID AS VARCHAR)+'" class="FltCMBDesign" width="50px">
				<option value="Required"'+ CASE WHEN R.Doc_Type='Required' THEN 'selected' ELSE '' END +'>Required</option>
				<option value="Not Required"'+ CASE WHEN R.Doc_Type='Not Required' THEN 'selected' ELSE '' END +'>Not Required</option>
		 </select>' [Doc TYPE]
		 
		,'<select ID="DocStatus_'+CAST(R.ID AS VARCHAR)+'" name="DocStatus_'+CAST(R.ID AS VARCHAR)+'" class="FltCMBDesign" width="100px">
				<option value="Not Received"'+ CASE WHEN R.Doc_Status='Not Received' THEN 'selected' ELSE '' END +'>Not Received</option>
				<option value="Received"'+ CASE WHEN R.Doc_Status='Received' THEN 'selected' ELSE '' END +'>Received</option>
		 </select>' [Status]
		
		,'<input type="text" name="Rec_Date_'+CAST(R.ID AS VARCHAR)+'" id="Rec_Date_'+CAST(R.ID AS VARCHAR)+'" value="'+ CASE WHEN R.Doc_Received_Date IS NULL THEN '' ELSE  CONVERT(VARCHAR,R.Doc_Received_Date,101) END+'"/><script language="JavaScript"> new tcal ({ ''formname'': ''aspnetForm'',''controlname'': ''Rec_Date_'+CAST(R.ID AS VARCHAR)+'''});</script>' AS [Received DATE] 
		,'<input type="text" name="Sub_Date_'+CAST(R.ID AS VARCHAR)+'" id="Sub_Date_'+CAST(R.ID AS VARCHAR)+'" value="'+ CASE WHEN R.Doc_Submit_Date IS NULL THEN '' ELSE  CONVERT(VARCHAR,R.Doc_Submit_Date,101) END+'"/><script language="JavaScript"> new tcal ({ ''formname'': ''aspnetForm'',''controlname'': ''Sub_Date_'+CAST(R.ID AS VARCHAR)+'''});</script>' AS [Submission Due DATE]
		,'<input type="text" name="Exp_Date_'+CAST(R.ID AS VARCHAR)+'" id="Exp_Date_'+CAST(R.ID AS VARCHAR)+'" value="'+ CASE WHEN R.Doc_Expiry_Date IS NULL THEN '' ELSE  CONVERT(VARCHAR,R.Doc_Expiry_Date,101) END+'"/><script language="JavaScript"> new tcal ({ ''formname'': ''aspnetForm'',''controlname'': ''Exp_Date_'+CAST(R.ID AS VARCHAR)+'''});</script>' AS [Doc Expiry DATE]
		,'<input type="text" name="remarks_'+CAST(R.ID AS VARCHAR)+'" id="remarks_'+CAST(R.ID AS VARCHAR)+'" value="'+ CASE WHEN R.Remarks IS NULL THEN '' ELSE  CAST(R.Remarks AS VARCHAR) END+'"/>' AS [Remarks]
		,'<input type="button" name="Update" class="button" Value="Update" onClick="doUpdate('''+CAST(@JobId AS VARCHAR)+''','+CAST(R.ID AS VARCHAR)+')">' aS[ ]
	FROM DocumnetSetup R
		JOIN StaticDataDetail SD ON R.Doc_ID=SD.ROWID	
	WHERE R.Job_ID=@JobId

	UNION ALL

	SELECT '' AS [ ]
	,@Doctypestr

	,'<select ID="DocType_0" name="DocType_0" class="FltCMBDesign" width="100px">
		<option value="Required">Required</option>
		<option value="Not Required">Not Required</option>
	</select>'
	,'<select ID="DocStatus_0" name="DocStatus_0" class="FltCMBDesign" width="100px">
		<option value="Not Received">Not Received</option>
		<option value="Received">Received</option>
	</select>'
	,'<input type="text" name="Rec_Date_0" id="Rec_Date_0"/><script language="JavaScript"> new tcal ({ ''formname'': ''aspnetForm'',''controlname'': ''Rec_Date_0''});</script>' AS [Received DATE]
	,'<input type="text" name="Sub_Date_0" id="Sub_Date_0"/><script language="JavaScript"> new tcal ({ ''formname'': ''aspnetForm'',''controlname'': ''Sub_Date_0''});</script>' AS [Submission Due DATE]
	,'<input type="text" name="Exp_Date_0" id="Exp_Date_0"/><script language="JavaScript"> new tcal ({ ''formname'': ''aspnetForm'',''controlname'': ''Exp_Date_0''});</script>' AS [Doc Expiry DATE]
	,'<input type="text" name="remarks_0" id="remarks_0"/>' AS [Remarks]
	,'<input type="button" name="Update" class="button" Value="Add New" onClick="doInsert('''+CAST(@JobId AS VARCHAR(10))+''',0)">'
	
END
--Exec DocumnetSetup @flag='u',@JobTypeID='387',@rowid='0',@docId='',@mandatory='M',@active='A' 
IF @flag='u'
BEGIN
DECLARE @Job_Id AS INT,@Cat_Id AS INT
IF @RowId>0
	BEGIN
				
		UPDATE DocumnetSetup
		SET 
		 Doc_Type=@DocType
		,Doc_Status=@DocStatus
		,Doc_Submit_Date=@DocSubDate
		,Doc_Expiry_Date=@DocExpiryDate
		,Doc_Received_Date=@DocReceivedDate
		,Remarks=@Remarks
		WHERE ID=@RowId	
		
	END	
	ELSE--- select * from DocumnetSeTUP
	BEGIN
		
		SELECT TOP 1 @Cat_Id= WF_CatID FROM WF_Job WHERE WF_JobID=@JobId	
		
		INSERT INTO DocumnetSetup
		(Job_ID,Cat_ID,Doc_ID,Doc_Type,Doc_Status,Doc_Submit_Date,Doc_Received_Date,Doc_Expiry_Date,Remarks,Created_By,Created_Date)
		VALUES(
		@JobId,@Cat_Id,@DocId,@DocType,@DocStatus,@DocSubDate,@DocReceivedDate,@DocExpiryDate,@Remarks,@user,GETDATE())
		
	END	
END
GO
