USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procGetBranchList]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[procGetBranchList]      
    @flag CHAR(10),      
    @branch_id INT=NULL  
AS          
SET NOCOUNT ON;     
      
IF(@flag='i')      
BEGIN  
	 SELECT BRANCH_ID, BRANCH_NAME+' ('+BRANCH_SHORT_NAME+')' BRANCH_NAME FROM Branches 
	 WHERE BRANCH_ID=ISNULL(@branch_id,BRANCH_ID)
	 ORDER BY BRANCH_NAME
END
IF(@flag='A')  -- ALL BRANCHES   
BEGIN  
	 SELECT BRANCH_ID, BRANCH_NAME FROM Branches 
	 ORDER BY BRANCH_NAME
END
IF(@flag='B') --SELF /HEADOFFICE ELIGIBLE REQUISITION BRANCHES     
BEGIN  
	 SELECT BRANCH_ID, BRANCH_NAME FROM Branches 
	 WHERE BRANCH_ID IN (1,@branch_id)
	 ORDER BY BRANCH_NAME
END
IF(@flag='N')  -- SELEF ONLY    
BEGIN  
	 SELECT BRANCH_ID, BRANCH_NAME FROM Branches 
	 WHERE BRANCH_ID=@branch_id
	 ORDER BY BRANCH_NAME
END
GO
