USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Asset_ProductSetup]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Proc_Asset_ProductSetup]  
     @flag char(1),  
     @id int=null,  
     @user varchar(50)=null,  
     @porduct_code varchar(50)=null, 
     @product_desc varchar(500)=null,
     @assetcode varchar(30) = null,
     @parentid  varchar(50)=null  
as  
 set nocount on;       
if(@flag='i')  
begin  
  
  if exists(  
   select id from ASSET_ITEM where parent_id = @parentid and is_product = 'false'  
  )  
  begin  
     SELECT 'This Group Has Group So Can Not Add Group and Product Under Same Group' as MSG  
     return  
  end  
    
  
  IF EXISTS(  
   SELECT 'x' FROM ASSET_PRODUCT WHERE ASSET_CODE = @assetcode)   
  BEGIN  
     SELECT 'Sorry, '+@assetcode+' Asset Code Already in System!' AS MSG  
     RETURN  
  END  
     
  IF EXISTS(  
   SELECT 'x' FROM ASSET_PRODUCT WHERE porduct_code = @porduct_code)   
  BEGIN  
     SELECT 'Sorry, '+@porduct_code+' Asset Type Already in System!' AS MSG  
     RETURN  
  END  
   
  INSERT INTO ASSET_ITEM(item_name, item_desc, parent_id,  created_date, created_by, is_product)   
  VALUES (@porduct_code, @product_desc, @parentid,  GETDATE(), @user, 'true')  
   
  declare @item_id as int 
  set @item_id = @@IDENTITY;  
       
    
   insert into ASSET_PRODUCT(porduct_code, item_id, product_desc,ASSET_CODE)  
   values  
   (@porduct_code, @item_id, @product_desc,@assetcode)  
      
      
    SELECT 'SUCESS' as MSG  
      
end   
  
if(@flag='u')  
begin  

	  IF EXISTS(  
	   SELECT 'x' FROM ASSET_PRODUCT WHERE ASSET_CODE = @assetcode and id<>@id)   
	  BEGIN  
		 SELECT 'Sorry, '+@assetcode+' Asset Code Already in System!' AS MSG  
		 RETURN  
	  END  
	     
	  IF EXISTS(  
	   SELECT 'x' FROM ASSET_PRODUCT WHERE porduct_code = @porduct_code and id<>@id)   
	  BEGIN  
		 SELECT 'Sorry, '+@porduct_code+' Asset Type Already in System!' AS MSG  
		 RETURN  
	  END  

    update ASSET_PRODUCT set porduct_code = @porduct_code, product_desc = @product_desc        
        ,modified_date = getdate(), ASSET_CODE=@assetcode,modified_by = @user        
        where id = @id  
     
     
    update ASSET_ITEM set item_desc=@product_desc, item_name=@porduct_code   
    where id= (select item_id from ASSET_PRODUCT where id = @id)   
      
      
    SELECT 'SUCESS' as MSG  
     
          
end  
if(@flag='s')  
begin  

     SELECT porduct_code,product_desc,ASSET_CODE FROM ASSET_PRODUCT WHERE id=@id

end
GO
