USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procApprovalDepreciationBooking]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[procApprovalDepreciationBooking]
	@flag VARCHAR(1)=NULL,
	@table_id VARCHAR(20)=NULL,
	@user VARCHAR(50)=NULL,
	@queue_id VARCHAR(10)=NULL
AS
	SET NOCOUNT ON;
	SET XACT_ABORT ON;	
	DECLARE @fiscalYear AS VARCHAR(20),@runMonth AS VARCHAR(10),@branchid VARCHAR(20)
	
	SELECT @fiscalYear=fiscal_year,@runMonth=run_month,@branchid=branch_id FROM DEPRECIATION_BOOKING_REQUEST with(nolock) WHERE id=@table_id
	
IF @flag='i'
BEGIN		

	IF LEFT(@runMonth,1)=0
	BEGIN
		SET @runMonth=RIGHT(@runMonth,1)
	END
	
	DECLARE @previousMonth AS INT
	DECLARE @SQL1 AS VARCHAR(5000),@SQL2 AS VARCHAR(5000),@previousFY AS VARCHAR(20),@fiscalYearENDDate AS VARCHAR(200)
	DECLARE @SQL AS VARCHAR(5000)
	DECLARE @monthStartDate AS DATE,@monthEndDate AS DATE
	DECLARE @isAmortised AS VARCHAR(2)
	SET @monthStartDate=dbo.GetMonthStartDateEng(@fiscalYear,@runMonth) 
	SET @monthEndDate=dbo.[GetMonthEndDateEng](@fiscalYear,@runMonth)
	SET @previousMonth=@runMonth-1
	IF(@runMonth=1)
	BEGIN
		SET @previousMonth=12
	END	
	
	SELECT @previousFY=FISCAL_YEAR_NEPALI FROM FiscalYear WHERE  en_year_end_date= DATEADD(DAY,-1,
		(SELECT en_year_start_date FROM FiscalYear WHERE FISCAL_YEAR_NEPALI=@fiscalYear))
	
	IF @previousFY<>''
	BEGIN
		
		SELECT @fiscalYearENDDate=en_year_end_date FROM FiscalYear WHERE FISCAL_YEAR_NEPALI=@previousFY
		SELECT A.id AS ASSET_ID
		INTO #TEMP_ASSET FROM
		(
			SELECT id FROM ASSET_INVENTORY WHERE depr_start_date<@fiscalYearENDDate AND is_amortised='N' AND asset_status='Active'
			AND BRANCH_ID = ISNULL(@branchid ,BRANCH_ID)
			UNION ALL
			SELECT id FROM ASSET_INVENTORY WHERE is_amortised='Y' AND remain_month>0
			AND depr_start_date=@fiscalYearENDDate AND asset_status='Active' AND BRANCH_ID = ISNULL(@branchid ,BRANCH_ID)
		)A
		IF EXISTS(SELECT ASSET_ID FROM #TEMP_ASSET WHERE ASSET_ID NOT IN (
						SELECT A.ASSET_ID FROM 	
						(SELECT ASSET_ID FROM #TEMP_ASSET
						)A INNER JOIN
						(
						SELECT ASSET_ID FROM depreciation_status 
							WHERE run_month=3 AND fiscal_year=@previousFY 
						)B ON A.ASSET_ID=B.ASSET_ID))
		BEGIN
			SELECT 'Depreciation booking is not completed for previous '+@previousFY+' fiscal year!' AS MSG
			RETURN;
		END
	END
	
	IF @runMonth<>4
	BEGIN
		IF EXISTS(				
			SELECT ID
				FROM ASSET_INVENTORY with(nolock) WHERE is_amortised='Y'
				AND depr_start_date <@monthStartDate AND asset_status='Active'
				AND BRANCH_ID = ISNULL(@branchid ,BRANCH_ID) AND id NOT IN(SELECT asset_id FROM depreciation_status with(nolock)
				WHERE fiscal_year=@fiscalYear AND run_month=@previousMonth)
				AND acc_depriciation<>purchase_value)
		BEGIN	
			SELECT 'Some Assets are still pending for previous month!' AS msg
			RETURN;
		END
	END
	
	IF @runMonth=4
	BEGIN
		IF EXISTS(				
			SELECT ID
				FROM ASSET_INVENTORY with(nolock) WHERE is_amortised='Y'
				AND depr_start_date <@monthStartDate AND asset_status='Active'
				AND BRANCH_ID = ISNULL(@branchid ,BRANCH_ID) AND id NOT IN(SELECT asset_id FROM depreciation_status with(nolock)
				WHERE fiscal_year=@previousFY AND run_month=@previousMonth)
				AND acc_depriciation<>purchase_value)
		BEGIN	
			SELECT 'Some Assets are still pending for previous fiscal year!' AS msg
			RETURN;
		END
	END
	
	IF NOT EXISTS(SELECT * FROM depreciation_setup with(nolock) WHERE fiscal_year=@fiscalYear)
	BEGIN
			SELECT 'NO DATA FOUND FOR '+@fiscalYear+' FISCAL YEAR' AS REMARKS
			RETURN;
	END	
		 
	IF @branchId IS NOT NULL
	BEGIN
		IF NOT EXISTS(SELECT TOP 1 * FROM ASSET_INVENTORY with(nolock) WHERE branch_id=@branchId AND asset_status='Active')
		BEGIN				
			SELECT 'No Asset Found for This Branch!' AS REMARKS
			RETURN;	
		END 
	END
	
	--- CHECKING PREVOIUS MONTH BRANCH WISE CALCULATION
	IF @branchId IS NOT NULL AND @runMonth<>4
	IF NOT EXISTS(SELECT TOP 1 * FROM depreciation_status with(nolock) WHERE run_month=@previousMonth AND fiscal_year=@fiscalYear 
		AND BRANCH_ID =@branchId)
		AND @runMonth<>4
	BEGIN
		SELECT 'Process Not Run For Previous Month!' AS REMARKS
		RETURN;	
	END
	
	CREATE TABLE #temp_dep_amount
	(
		asset_id VARCHAR(50) NULL,
		branch_id VARCHAR(10) NULL,
		fiscal_year VARCHAR(20) NULL,
		run_month VARCHAR(10) NULL,			
		created_by VARCHAR(100) NULL,			
		created_date DATE NULL,
		dep_type VARCHAR(10) NULL,
		dep_value MONEY NULL
	)	
		
		---START AMORTISED ASSET---
		INSERT INTO #temp_dep_amount(asset_id,branch_id,fiscal_year,run_month,created_by,created_date,dep_type,dep_value)
		SELECT ID,branch_id,@fiscalYear,@runMonth,@user,GETDATE(),'A',
		ROUND((purchase_value/life_in_month/(DATEDIFF(DAY,@monthStartDate,@monthEndDate)+1))*(DATEDIFF(DAY,depr_start_date,@monthEndDate)+1),2)			
			FROM ASSET_INVENTORY WHERE is_amortised='Y' AND remain_month > 1 
			AND depr_start_date BETWEEN @monthStartDate AND @monthEndDate AND asset_status='Active'
			AND BRANCH_ID = ISNULL(@branchid ,BRANCH_ID)
		
		INSERT INTO #temp_dep_amount(asset_id,branch_id,fiscal_year,run_month,created_by,created_date,dep_type,dep_value)
		SELECT ID,branch_id,@fiscalYear,@runMonth,@user,GETDATE(),'A',ROUND(purchase_value/life_in_month,2) 			
			FROM ASSET_INVENTORY WHERE is_amortised='Y' AND remain_month > 1 
			AND depr_start_date < @monthStartDate AND asset_status='Active'
			AND BRANCH_ID = ISNULL(@branchid ,BRANCH_ID)

		INSERT INTO #temp_dep_amount(asset_id,branch_id,fiscal_year,run_month,created_by,created_date,dep_type,dep_value)
		SELECT ID,branch_id,@fiscalYear,@runMonth,@user,GETDATE(),'A',ROUND(purchase_value-acc_depriciation,2)
		FROM ASSET_INVENTORY WHERE is_amortised='Y' AND remain_month = 1 
				AND depr_start_date <= @monthEndDate AND asset_status='Active'
				AND BRANCH_ID = ISNULL(@branchid ,BRANCH_ID)	
		---END AMORTISED ASSET---
		
		IF @branchId IS NOT NULL
		BEGIN
			SET @SQL2='
				INSERT INTO #temp_dep_amount(asset_id,branch_id,fiscal_year,run_month,created_by,created_date,dep_type,dep_value)
				SELECT A.asset_id ,B.BRANCH_ID,'''+@fiscalYear+''','''+@runMonth+''','''+@user+''',GETDATE(),''D'',A.m'+@runMonth+'
					FROM depreciation_setup A with(nolock) 
					INNER JOIN ASSET_INVENTORY B with(nolock) ON A.ASSET_ID=B.ID
					where A.fiscal_year='''+@fiscalYear+''' and B.asset_status=''Active'' AND B.BRANCH_ID = isnull('+@branchid+' ,B.BRANCH_ID)'	
					
			EXEC (@SQL2);
		END
		IF @branchId IS NULL
		BEGIN
			SET @SQL2='
				INSERT INTO #temp_dep_amount(asset_id,branch_id,fiscal_year,run_month,created_by,created_date,dep_type,dep_value)
				SELECT A.asset_id,B.BRANCH_ID,'''+@fiscalYear+''','''+@runMonth+''','''+@user+''',GETDATE(),''D'',A.m'+@runMonth+'
				FROM depreciation_setup A with(nolock)
					INNER JOIN ASSET_INVENTORY B ON A.ASSET_ID=B.ID
					WHERE A.fiscal_year='''+@fiscalYear+''' and B.asset_status=''Active'' AND B.BRANCH_ID = ISNULL(NULL ,B.BRANCH_ID)'	
					
			EXEC (@SQL2);
		END
					
		DELETE FROM #temp_dep_amount 						
		FROM #temp_dep_amount t
		INNER JOIN depreciation_status ds ON t.asset_id = ds.asset_id
		AND  ds.fiscal_year = t.fiscal_year AND ds.fiscal_year = @fiscalYear AND ds.run_month=t.run_month and t.dep_value=0
				
		IF NOT EXISTS(SELECT TOP 1 * FROM #temp_dep_amount)
		BEGIN
				SELECT 'No Data Found!' AS MSG
				RETURN;
		END
		BEGIN TRANSACTION		
		--INSERTING DATA FROM TEMP TO DEP HISTORY TABLE
		INSERT INTO depreciation_status(asset_id,branch_id,fiscal_year,run_month,run_by,run_date,dep_type,dep_value)
		SELECT asset_id,branch_id,fiscal_year,run_month,created_by,created_date,dep_type,dep_value FROM #temp_dep_amount
			
		UPDATE ASSET_INVENTORY SET acc_depriciation=A.acc_depriciation+B.dep_value FROM ASSET_INVENTORY A,
		(
			SELECT asset_id,dep_value FROM #temp_dep_amount 
				WHERE fiscal_year=@fiscalYear AND run_month=@runMonth AND BRANCH_ID = ISNULL(@branchid ,BRANCH_ID)
			
		)B WHERE A.id=B.asset_id 
		
		UPDATE ASSET_INVENTORY SET REMAIN_MONTH=REMAIN_MONTH-1 WHERE REMAIN_MONTH>0 AND is_amortised='Y'
			AND depr_start_date <=@monthEndDate AND asset_status='Active'
			AND BRANCH_ID = ISNULL(@branchid ,BRANCH_ID)
					
		IF (@@ERROR <> 0) GOTO QuitWithRollback 
		DECLARE @monthName AS VARCHAR(200)
		
		IF LEN(@runMonth)=1
		BEGIN
			SET @runMonth='0'+CAST(@runMonth AS VARCHAR)
		END
		SELECT @monthName=dbo.[GetNepaliMonthName](@runMonth)
		
		DROP TABLE #temp_dep_amount
		
		DELETE FROM changesApprovalQueue WHERE dataid=@table_id AND rowId=@queue_id
		
		UPDATE DEPRECIATION_BOOKING_REQUEST SET status='Approved',approved_by=@user,approved_date=GETDATE() WHERE id=@table_id
		
		SELECT 'Depreciation has been updated sucessfully for '+@monthName+' month !' AS MSG

COMMIT TRANSACTION

GOTO EndSave	
QuitWithRollback:
ROLLBACK TRANSACTION 
			
	SELECT  'ERROR TO COMPLETE THIS TRANSACTION' AS MSG	
			 	
EndSave:			
				
END
GO
