USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procInsertUpdateWorkFlowCat]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[procInsertUpdateWorkFlowCat]  
  (   
    @CatID  INT  = NULL       ,   
    @CatName     VARCHAR(50) = NULL,  
    @CatDetails VARCHAR(250)= NULL,  
    @user    VARCHAR(50) = NULL,  
    @Mode   VARCHAR(5)  = NULL  ,
    @dept varchar(200)=null
  )  
AS  
  
BEGIN  
  IF (@Mode = 'I')  
      BEGIN  
    INSERT INTO [WF_Category]  
       ([WF_DeptName]
       ,[WF_CatName]  
       ,[WF_CatDetails]  
       ,[CreatedBy]  
       ,[CreatedDate])  
    VALUES  
       (@dept
       ,@CatName  
       ,@CatDetails  
       ,@user  
       ,GETDATE())  
      END   
    
   IF (@Mode = 'U')  
    
   BEGIN  
    UPDATE [WF_Category]  
    SET [WF_DeptName]=@dept
    ,[WF_CatName] = @CatName  
    ,[WF_CatDetails] = @CatDetails  
    ,[CreatedBy] =     @user  
    ,[CreatedDate] =   GETDATE()  
   WHERE WF_CATEGORYID = @catid  
  
   END  
   
   IF (@MODE = 'D')  
   BEGIN
		DELETE FROM [WF_Category] WHERE WF_CategoryID = @CatID
   END
END
-----------------------------------------***********Ends here------------
GO
