USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procExternalTrainingReport]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- exec [procExternalTrainingReport]'s','2011-01-30','2011-02-01'



create proc [dbo].[procExternalTrainingReport]
	@flag varchar(1),
	@from varchar(20)=null,
	@to varchar(20)=null,
	@Branch varchar(20)=null,
	@dpt Varchar(20)=null,
	@empId Varchar(50)=null,
	@TrainingId Varchar(50)=null
	
AS
Declare @sql varchar(3000)

if @flag='e'
begin

/***************** EXTERNALTRAININGSUMMARYREPORT  ************************/

	SET @sql='	
				select Conducted_By[Conducted By],Program_Name[Program Name],
				Convert( varchar,Start_date,101) [From Date],Convert( varchar,End_Date,101) [To Date],
				No_of_days [No of days]
				from externalTrainingInfo Ext
				inner join externalTraineeAssign A
				on Ext.external_traingin_id=A.external_training_id
			'

     IF (@from<>'' or @from is not null) and (@to<>'' or @to is not null)
				SET @SQL=@SQL+ ' AND Start_date BETWEEN '''+ @from +''' AND '''+ @to+''''
				
	 if @Branch is not null
	 set @sql=@sql + ' AND A.BRANCH = '+ @Branch	
	 
	  if @dpt is not null
	 set @sql=@sql + ' AND A.departmant = '+ @dpt	
	 
	  if @empId is not null
	 set @sql=@sql + ' AND A.employee = '+ @empId		
	
	 if @TrainingId is not null
	 set @sql=@sql + ' AND A.external_training_id = '+ @TrainingId		
	
	set @sql=@sql + ' ORDER BY Program_Name asc'
	Exec (@sql)

end


if @flag='t'
begin

/***************** EXTERNAL TRAINING DETAIL REPORT  ************************/

	SET @sql='	
				select dbo.GetEmployeeFullNameOfId(Employee) [Employee Name],
				dbo.GetBranchName(branch) [Branch Name],
				dbo.GetDeptName(departmant)[Departmant Name]
				from externalTraineeAssign A
				inner join externalTrainingInfo Ext
				on Ext.external_traingin_id=A.external_training_id
			'

     IF (@from<>'' or @from is not null) and (@to<>'' or @to is not null)
				SET @SQL=@SQL+ ' AND Start_date BETWEEN '''+ @from +''' AND '''+ @to+''''
				
	 if @Branch is not null
	 set @sql=@sql + ' AND A.BRANCH = '+ @Branch	
	 
	  if @dpt is not null
	 set @sql=@sql + ' AND A.departmant = '+ @dpt	
	 
	  if @empId is not null
	 set @sql=@sql + ' AND A.employee = '+ @empId		
	
	 if @TrainingId is not null
	 set @sql=@sql + ' AND A.external_training_id = '+ @TrainingId		
	
	set @sql=@sql + ' ORDER BY Program_Name asc'
	Exec (@sql)


end
GO
