USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[ProcyearlyPayrollReport_Dyanamic]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*

 exec [ProcyearlyPayrollReport_Dyanamic] 'a','69-70',null,null,NULL,null
 exec [ProcMonthlyPayrollReport] 'a',null,null,null,'67-68','8'
  
 */
 
CREATE PROC [dbo].[ProcyearlyPayrollReport_Dyanamic]
	@flag VARCHAR(10)=NULL,
	@year VARCHAR(100)=NULL,
	@month VARCHAR(20)=NULL,
	@branch VARCHAR(5)=NULL,
	@dept VARCHAR(5)=NULL,
	@emp VARCHAR(5)=NULL
AS

SET NOCOUNT ON;

IF @flag = 'a'
BEGIN
	DECLARE @yearStartDate as Varchar(20),@yearEndDate varchar(20)
	--SET @yearStartDate=dbo.GetMonthStartDateEng(@year,@month) 
	--SET @yearEndDate=dbo.GetMonthEndDateEng(@year,@month)
	SELECT @yearStartDate=EN_YEAR_START_DATE FROM FiscalYear WHERE FISCAL_YEAR_NEPALI=@Year
	SELECT @yearEndDate=EN_YEAR_END_DATE FROM FiscalYear WHERE FISCAL_YEAR_NEPALI=@Year

	set @month='03'


DECLARE
	 @sql							VARCHAR(MAX)
	,@heading						VARCHAR(MAX)
	,@heading_select				VARCHAR(MAX)


SELECT EMPLOYEE_ID, AMOUNT, headings, SN
INTO #TEMPCONTRIBUTION FROM ( 


	SELECT 
				EMPLOYEE_ID
				,ROUND(SUM(AMOUNT),2) AMOUNT
				,'EMPLOYER-' + DETAIL_TITLE [headings], 1  SN
				
				FROM (
				SELECT
					 c.EMPLOYEE_ID
					,ISNULL(ch.AMOUNT_EMPLOYER, 0) [AMOUNT]
					,sdd.DETAIL_TITLE 	
				FROM ContributionHistory ch
				INNER JOIN Contribution c ON ch.CONTRIBUTION_ID = c.ID
				INNER JOIN StaticDataDetail sdd ON sdd.ROWID = c.CONTRIBUTED_TO
					WHERE ch.FY_ID = @year
					AND ISNULL(ch.AMOUNT_EMPLOYER, 0)>0
					
				UNION ALL
					
				SELECT
					 ch.EMPLOYEE_ID
					,ISNULL(ch.CONTB_AMOUNT_EMPLOYER, 0) [AMOUNT]
					,sdd.DETAIL_TITLE [headings]	
				FROM ADHOC_CONTRIBUTION ch
				INNER JOIN StaticDataDetail sdd ON sdd.ROWID = ch.CONTB_TO
				WHERE 1=1
				--AND ISNULL(CH.IS_PAID,0)=0
				and ch.CONTB_DATE between @yearStartDate and @yearEndDate
				AND ISNULL(ch.CONTB_AMOUNT_EMPLOYER, 0)>0
				) YX GROUP BY EMPLOYEE_ID,DETAIL_TITLE
				
				UNION ALL
				
				SELECT 
				EMPLOYEE_ID
				,ROUND(SUM(AMOUNT),2) AMOUNT
				,'EMPLOYEE-'+ DETAIL_TITLE [headings], 2 SN
				FROM (
				SELECT
					 c.EMPLOYEE_ID
					,ISNULL(ch.AMOUNT_EMPLOYEE, 0) [AMOUNT]
					,sdd.DETAIL_TITLE 	
				FROM ContributionHistory ch
				INNER JOIN Contribution c ON ch.CONTRIBUTION_ID = c.ID
				INNER JOIN StaticDataDetail sdd ON sdd.ROWID = c.CONTRIBUTED_TO
					WHERE  ch.FY_ID = @year
					AND ISNULL(ch.AMOUNT_EMPLOYEE, 0)>0
									
				UNION ALL
					
					SELECT
					 ch.EMPLOYEE_ID
					,ISNULL(ch.CONTB_AMOUNT_EMPLOYEE, 0) [AMOUNT]
					,sdd.DETAIL_TITLE [headings]	
				FROM ADHOC_CONTRIBUTION ch
				INNER JOIN StaticDataDetail sdd ON sdd.ROWID = ch.CONTB_TO
				WHERE 1=1
				--AND ISNULL(CH.IS_PAID,0)=0
				and ch.CONTB_DATE between @yearStartDate and @yearEndDate
				AND ISNULL(ch.CONTB_AMOUNT_EMPLOYEE, 0)>0
				) YX GROUP BY EMPLOYEE_ID,DETAIL_TITLE
					

				---Total EPF
		UNION ALL
		SELECT 
				EMPLOYEE_ID
				,ROUND(SUM(AMOUNT),2) AMOUNT
				,'TOTAL-'+ DETAIL_TITLE as[headings], 3 SN
				FROM (
		
		SELECT
					 c.EMPLOYEE_ID
					,ISNULL(ch.AMOUNT_EMPLOYER, 0)  as AMOUNT 
					,sdd.DETAIL_TITLE 	
				FROM ContributionHistory ch
				INNER JOIN Contribution c ON ch.CONTRIBUTION_ID = c.ID
				INNER JOIN StaticDataDetail sdd ON sdd.ROWID = c.CONTRIBUTED_TO
					WHERE ch.FY_ID = @year
					AND ISNULL(ch.AMOUNT_EMPLOYER, 0)>0
					
					UNION ALL
					
					SELECT
					 ch.EMPLOYEE_ID
					,ISNULL(ch.CONTB_AMOUNT_EMPLOYER, 0) [AMOUNT]
					,sdd.DETAIL_TITLE [headings]	
				FROM ADHOC_CONTRIBUTION ch
				INNER JOIN StaticDataDetail sdd ON sdd.ROWID = ch.CONTB_TO
				WHERE 1=1
			    --AND ISNULL(CH.IS_PAID,0)=0
				and ch.CONTB_DATE between @yearStartDate and @yearEndDate
				AND ISNULL(ch.CONTB_AMOUNT_EMPLOYER, 0)>0
				
				UNION ALL
				
				SELECT
					 c.EMPLOYEE_ID
					,ISNULL(ch.AMOUNT_EMPLOYEE, 0) [AMOUNT]
					,sdd.DETAIL_TITLE 	
				FROM ContributionHistory ch
				INNER JOIN Contribution c ON ch.CONTRIBUTION_ID = c.ID
				INNER JOIN StaticDataDetail sdd ON sdd.ROWID = c.CONTRIBUTED_TO
				WHERE ch.FY_ID = @year
				AND ISNULL(ch.AMOUNT_EMPLOYEE, 0)>0
					
					
				UNION ALL
					
					SELECT
					 ch.EMPLOYEE_ID
					,ISNULL(ch.CONTB_AMOUNT_EMPLOYEE, 0) [AMOUNT]
					,sdd.DETAIL_TITLE [headings]	
				FROM ADHOC_CONTRIBUTION ch
				INNER JOIN StaticDataDetail sdd ON sdd.ROWID = ch.CONTB_TO
				WHERE 1=1
				--AND ISNULL(CH.IS_PAID,0)=0
				and ch.CONTB_DATE between @yearStartDate and @yearEndDate
				AND ISNULL(ch.CONTB_AMOUNT_EMPLOYEE, 0)>0
				) YX GROUP BY EMPLOYEE_ID,DETAIL_TITLE

) Z

SELECT
	 @heading = ISNULL(@heading + ', ', '') + '[' + [headings] + ']'
	,@heading_select = ISNULL(@heading_select + ', ', '') + 'dbo.ShowDecimal(MAX(ISNULL([' + [headings] + '], 0))) ' + '[' + [headings] + ']'
	
FROM (

	SELECT DISTINCT DETAIL_TITLE [headings] , TYPE_ID FROM (
		SELECT 	TYPE_ID,	
		sdd.DETAIL_TITLE 		
		FROM PayableHistory ph
		INNER JOIN StaticDataDetail sdd ON ph.BENEFIT_ID = sdd.ROWID
		INNER JOIN Employee emp ON emp.EMPLOYEE_ID = ph.EMPLOYEE_ID
		WHERE FY_ID=@year
		and TYPE_ID in (36,37)
		
		UNION ALL
		
		SELECT TYPE_ID,S.DETAIL_TITLE FROM AdhocPayment A JOIN StaticDataDetail S ON A.HEAD_ID=S.ROWID 
		WHERE S.TYPE_ID IN (36,37) 
		AND APPLIED_DATE BETWEEN @yearStartDate AND @yearEndDate
		AND ISNULL(IS_PAID,0)=0)Z
			
		) regular_payable_headings  ORDER BY TYPE_ID

SELECT
	 @heading = ISNULL(@heading + ', ', '') + '[' + [headings] + ']'
	,@heading_select = ISNULL(@heading_select + ', ', '') + 'dbo.ShowDecimal(MAX(ISNULL([' + [headings] + '], 0))) ' + '[' + [headings] + ']'
FROM (
		
		SELECT DISTINCT headings FROM #TEMPCONTRIBUTION where headings like 'EMPLOYER%'		
	) EPF

SELECT
	 @heading = ISNULL(@heading + ', ', '') + '[' + [headings] + ']'
	,@heading_select = ISNULL(@heading_select + ', ', '') + 'dbo.ShowDecimal(MAX(ISNULL([' + [headings] + '], 0))) ' + '[' + [headings] + ']'
	
FROM (

	SELECT DISTINCT DETAIL_TITLE [headings] , TYPE_ID FROM (
		SELECT 	TYPE_ID,	
		sdd.DETAIL_TITLE 		
		FROM PayableHistory ph
		INNER JOIN StaticDataDetail sdd ON ph.BENEFIT_ID = sdd.ROWID
		INNER JOIN Employee emp ON emp.EMPLOYEE_ID = ph.EMPLOYEE_ID
		WHERE FY_ID=@year
		and TYPE_ID =38
		
		UNION ALL
		
		SELECT TYPE_ID,S.DETAIL_TITLE FROM AdhocPayment A JOIN StaticDataDetail S ON A.HEAD_ID=S.ROWID 
		WHERE S.TYPE_ID = 38
		AND APPLIED_DATE BETWEEN @yearStartDate AND @yearEndDate
		AND ISNULL(IS_PAID,0)=0)Z
			
		) regular_payable_headings  ORDER BY TYPE_ID
	
SELECT
	 @heading = ISNULL(@heading + ', ', '') + '[' + [headings] + ']'
	,@heading_select = ISNULL(@heading_select + ', ', '') + 'dbo.ShowDecimal(MAX(ISNULL([' + [headings] + '], 0))) ' + '[' + [headings] + ']'
FROM (

		SELECT
			DISTINCT
			sdd.DETAIL_TITLE [headings]	
		FROM AdhocPayment ap
		INNER JOIN StaticDataDetail sdd ON sdd.ROWID = ap.HEAD_ID
		WHERE TYPE_ID ='41'
		AND ap.APPLIED_DATE BETWEEN @yearStartDate AND @yearEndDate
				
		UNION All
		
		SELECT
			'Vehicle Benefit' [headings]
	
		UNION All
		
		SELECT
			'House Benefit' [headings]
			
		UNION All
		
		SELECT
			'Interest Benefit' [headings]

	) Benefit_headings
	
SELECT
	@heading = ISNULL(@heading + ', ', '') + '[' + [headings] + ']'
	,@heading_select = ISNULL(@heading_select + ', ', '') + 'dbo.ShowDecimal(MAX(ISNULL([' + [headings] + '], 0))) ' + '[' + [headings] + ']'
FROM (
		
		SELECT DISTINCT headings FROM #TEMPCONTRIBUTION where headings like 'Total%'
		
		Union All
		
		Select 'Total Retirement Deduction'	[headings]	
		
		Union All
		
		Select 'Total Premium Deduction'	[headings]	

		Union ALL

		Select 'Remote Location Rebate' [headings]	

		Union ALL

		Select 'Donation' [headings]	
		
		
	) deduction_headings

SELECT
	 @heading = ISNULL(@heading + ', ', '') + '[' + [headings] + ']'
	,@heading_select = ISNULL(@heading_select + ', ', '') + 'dbo.ShowDecimal(MAX(ISNULL([' + [headings] + '], 0))) ' + '[' + [headings] + ']'
FROM (
		
		SELECT 'Net Tax'	[headings]
			
	) tax


SET @sql = '
	SELECT
		main.[Staff ID] as [Emp Code],main.Emp_Name as [Employee Name]
		--,[Bank Account]
		,' + @heading_select +
		'
	FROM (
			SELECT * FROM (
				
				SELECT 
					EMPLOYEE_ID
					,SUM(AMOUNT) AMOUNT
					,DETAIL_TITLE [headings]
					FROM
					(	
						SELECT
							 ph.EMPLOYEE_ID
							,ph.PAID_AMOUNT AMOUNT
							,sdd.DETAIL_TITLE 	
						FROM PayableHistory ph
						INNER JOIN StaticDataDetail sdd ON ph.BENEFIT_ID = sdd.ROWID
						INNER JOIN Employee emp ON emp.EMPLOYEE_ID = ph.EMPLOYEE_ID
						WHERE FY_ID='''+@year+'''
				
						UNION ALL
						SELECT EMPLOYEE_ID,case when ADD_DEDUCT=''A'' then  AMOUNT ELSE AMOUNT*-1 END AS AMOUNT, 
						S.DETAIL_TITLE AS HEAD FROM AdhocPayment A JOIN StaticDataDetail S ON A.HEAD_ID=S.ROWID 
						WHERE S.TYPE_ID IN (36,37,38) 
						AND APPLIED_DATE BETWEEN '''+@yearStartDate+''' AND '''+@yearEndDate+'''
					) XY GROUP BY EMPLOYEE_ID,DETAIL_TITLE
				
				Union All
		
				Select emp_id, Retirement_Deduction amount,''Total Retirement Deduction''	[headings]	from Taxcalculation 
				where FY_ID = '''+@year+''' and run_month='''+@month+'''
	
				
				UNION All
				 
				SELECT Emp_Id,Vehicle_Benift as amount,''Vehicle Benefit'' [headings] from TaxCalculation where FY_ID = '''+@year+'''  and run_month='''+@month+'''
		
				UNION All
				
				SELECT Emp_Id,House_Benefit as amount,''House Benefit'' [headings] from TaxCalculation where FY_ID = '''+@year+'''  and run_month='''+@month+'''
		
				
				UNION All
				SELECT Emp_Id,Taxable_Amount as amount,''Taxable Amount'' AS [headings] from TaxCalculation where FY_ID = '''+@year+'''  and run_month='''+@month+'''
		
						
				UNION ALL
				
				SELECT Emp_Id,Tax_Discount as amount,''Tax Discount'' AS [headings] from TaxCalculation where FY_ID = '''+@year+''' and run_month='''+@month+'''
			
				
				UNION ALL
				
				select employee_id,sum(amount),''Net Tax'' as [headings] from 
				(
					select Emp_Id as employee_id,Tax_This_Month as amount from TaxCalculation where FY_ID='''+@year+'''
					Union all
					select EMPLOYEE_ID, TAX_DEDUCTED as AMOUNT from AdhocPayment
					where TAX_DEDUCTED<>0 
					and APPLIED_DATE between '''+@yearstartdate+''' and '''+@yearEndDate+'''
				)a 
				Group by EMPLOYEE_ID

				UNION All
		
				SELECT Emp_Id,Interest_Benefit as amount,''Interest Benefit'' [headings] 
				from TaxCalculation where FY_ID = '''+@year+'''  and run_month='''+@month+'''
	
				
				Union All
		
				Select emp_id, Premium_Deduction amount,''Total Premium Deduction''	[headings]	
				from Taxcalculation where FY_ID = '''+@year+'''  and run_month='''+@month+'''

				Union All
		
				Select emp_id, Rural_Allowance_Deduction amount,''Remote Location Rebate''	[headings]	
				from Taxcalculation where FY_ID = '''+@year+'''  and run_month='''+@month+'''

				Union All
		
				Select emp_id, Donation_Normal amount,''Donation''	[headings]	
				from Taxcalculation where FY_ID = '''+@year+'''  and run_month='''+@month+'''
			
				
				--contribution
				UNION ALL
				
				SELECT 
				EMPLOYEE_ID
				,AMOUNT
				,headings AS [headings]
				FROM #TEMPCONTRIBUTION

				--adhoc_addition
				UNION ALL
				Select  EMPLOYEE_ID,SUM(AMOUNT) Amount,headings from (
				SELECT
					 ap.EMPLOYEE_ID
					,case when ADD_DEDUCT=''A'' then  ap.AMOUNT ELSE AMOUNT*-1 END AS AMOUNT
					,sdd.DETAIL_TITLE [headings]	
				FROM AdhocPayment ap
				INNER JOIN StaticDataDetail sdd ON sdd.ROWID = ap.HEAD_ID
					WHERE sdd.TYPE_ID=''41''
					and APPLIED_DATE between '''+@yearstartdate+''' and '''+@yearEndDate+'''
				) A group by EMPLOYEE_ID,headings

				
				UNION ALL
			
				SELECT
					I.EMPLOYEE_ID,
					sum(Deduction_Amt) [AMOUNT],
					''Insurance Deduction'' [headings]
				FROM PremiumDeduction Ip
				inner join Insurance I on Ip.INSURANCE_ID=I.ID
				INNER JOIN StaticDataDetail sdd ON sdd.ROWID = I.INSURER
				WHERE ip.Deduction_Date BETWEEN '''+@yearStartDate+''' AND '''+@yearEndDate+'''
				group by I.EMPLOYEE_ID
									
			) x 
		) dataList
		PIVOT
		(
			SUM(AMOUNT)
			FOR headings IN(' + @heading+ ')
	) x 
	
	INNER JOIN (
				SELECT 
					 e.EMPLOYEE_ID
					,e.EMP_CODE AS [Staff ID]
					,e.FIRST_NAME + '' '' + MIDDLE_NAME + '' '' + LAST_NAME AS Emp_Name
					--,b.ACCOUNT_NUMBER as [Bank Account]
				FROM TaxCalculation t 
				INNER JOIN Employee e ON e.EMPLOYEE_ID = t.Emp_Id 
				LEFT JOIN BankAccounts b ON b.EMPLOYEE_ID = t.Emp_Id where FY_ID = '''+@year+''''
		
		if @branch<>0 and @branch is not null
					set @SQl=@SQl + ' and t.BRANCH_ID = '''+ @branch +''''

				if @dept<>0 and @dept is not null
					set @SQl=@SQl + ' and t.dept_id= '''+ @dept +''''

				if @emp<>'' and @emp is not null and @emp<>0
					set @SQl=@SQl + ' and t.emp_id= '''+ @emp +'''' 
					
					SET @sql= @sql+') main ON main.EMPLOYEE_ID = x.EMPLOYEE_ID group by main.[Staff ID] ,main.Emp_Name order by main.[Staff ID]'
PRINT @sql
EXEC (@sql)
 			
END
GO
