USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procEmailNotes]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Exec procEmailNotes @flag='Insert',@sendFrom='erbthakuri@gmail.com',@sendTo='',@sendCc=null,@sendBcc=null,@subject='Test check',@notesText='just a test check',@notesAttachmentFilename=null
--SELECT * FROM emailNotes order by notesID desc
CREATE PROCEDURE [dbo].[procEmailNotes]
	 @notesId						INT					=NULL
	,@flag							varchar(20)			=NULL
	,@sendFrom						VARCHAR(100)		=NULL
	,@sendTo						VARCHAR(500)		=NULL
	,@sendCc						VARCHAR(500)		=NULL
	,@sendBcc						VARCHAR(500)		=NULL
	,@subject						VARCHAR(250)		=NULL
	,@notesText						VARCHAR(MAX)		=NULL
	,@notesAttachmentFilename		VARCHAR(500)		=NULL
	,@activeFlag					CHAR(1)				=NULL
	,@sendStatus					CHAR(1)				=NULL
	,@sentDate						DATETIME			=NULL
AS														
BEGIN
	
	SET NOCOUNT ON;
		----------------------Insert Into EmailNotes For Queing of Email Notification----------------------------------------
	IF @flag='Insert'
			BEGIN
				INSERT INTO emailNotes VALUES
							(
								@sendFrom,
								@sendTo,
								'hrtest@nabilbank.com',
								@sendBcc,
								@subject,
								@notesText,
								@notesAttachmentFilename,
								'y',
								'n',
								GETDATE()
							)
			END
   
END
GO
