USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procWorkHistory]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* 
	(1)Procedure Definition:
    ------------------------
	THIS PROCEDURE PREPARES WORK HISTORY REPORT OF AN EMPLOYEE
	 	  based on EmployeeId
	   		
	(2) Relational Overview:
	------------------------
	(a) relation between dbo.Employee and dbo.WorkHistory
	
	Select * from workHistory
	
	*/

--  exec procWorkHistory 1019

CREATE PROCEDURE [dbo].[procWorkHistory]
	@employeeId varchar(25) =null
	
AS
SET NOCOUNT ON; 
BEGIN

 if @employeeId is not null
	begin	
		select [Employee Name],[Service Type],[Service Start Date],[Current Branch],[Current Department],Position from 
		(

			select STAFF_ID Employee_id,rtrim(dbo.GetEmployeeFullNameOfId(STAFF_ID)) [Employee Name]
		,case when TRANSFER_TYPE='e' then 'External' else 'Internal' End as [Service Type]
		,EFFECTIVE_DATE as [Service Start Date],B.BRANCH_NAME [Current Branch], D.DEPARTMENT_NAME [Current Department],sdd.DETAIL_DESC [Position]
		from ExternalTransferPlan ETP
		inner join Employee E on ETP.STAFF_ID=E.EMPLOYEE_ID
		inner join Branches B on ETP.WHICH_BRANCH=B.BRANCH_ID
		inner join Departments D on ETP.WHICH_DEPARTMENT=D.DEPARTMENT_ID
		inner join StaticDataDetail sdd on E.POSITION_ID=sdd.ROWID

		Union All

		Select  TT.Employee_id,rtrim(dbo.GetEmployeeFullNameOfId(TT.Employee_id)),'Temporary Transfer' as [Service Type]
		,EFFECTIVE_DATE as [Service Start Date],B.BRANCH_NAME [Current Branch], D.DEPARTMENT_NAME [Current Department],sdd.DETAIL_DESC [Position]
		from Temporary_Transfer TT 
		inner join Employee E on TT.EMPLOYEE_ID=E.EMPLOYEE_ID
		inner join Branches B on TT.WHICH_BRANCH=B.BRANCH_ID
		inner join Departments D on TT.WHICH_DEPARTMENT=D.DEPARTMENT_ID
		inner join StaticDataDetail sdd on E.POSITION_ID=sdd.ROWID
		
		Union All
		
		Select  Emp_id,rtrim(dbo.GetEmployeeFullNameOfId(Emp_id)),'Promotion' as [Service Type]
		,PROMOTION_DATE as [Service Start Date],B.BRANCH_NAME [Current Branch], D.DEPARTMENT_NAME [Current Department],sdd.DETAIL_DESC [Position]
		from Promotion P
		Inner join Employee E on P.EMP_ID=E.EMPLOYEE_ID
		inner join Branches B on E.BRANCH_ID=B.BRANCH_ID
		inner join Departments D on E.DEPARTMENT_ID=D.DEPARTMENT_ID
		inner join StaticDataDetail sdd on E.POSITION_ID=sdd.ROWID

		)z where z.Employee_id =@employeeId
		order by z.[Service Start Date]
	
	end

  else
	begin	
		return 'Employee Not Selected';		 
	end
			
END
GO
