USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_ActiveNotifications]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[proc_ActiveNotifications]
			@flag char(1),
			@user	char(100)=null,
			@emp_id varchar(10)=null,
			@branch int=null

As
set nocount on;
if @flag='a'
begin
	
	
	select * from(
	
	select '<i class="fa fa-bell-o" style="color:red; font-size:font-size:15px"><a href ="/Inventory/Requisition/List.aspx"> Approve Requisition </i></a>' as [Notification],  count(*) as [Pending Job]
	from IN_Requisition_Message  where Approved_Date is null and approver_id = @emp_id
	
	UNION ALL
	
	select '<i class="fa fa-bell-o" style="color:red; font-size:font-size:15px"><a href ="/Inventory/Requisition/Receive/ViewReceived.aspx"> Acknowledge Requisition </i></a>' as [Notification],  count(*) as [Pending Job]
	from IN_Requisition_Message  where 
	Delivered_Date is not null and Acknowledged_Date is null and Requ_by=@emp_id
	
	UNION ALL
	
	select '<i class="fa fa-bell-o" style="color:red; font-size:font-size:15px"><a href ="/Inventory/Requisition/Deliver/ViewDelivery.aspx"> Dispatch Requisition </i></a>' as [Notification],case when @emp_id='1093' Or 
	@emp_id='1094' then count(*) else 0 end
	from IN_Requisition_Message  where 
	Delivered_Date is null and Approved_Date is not null and Forwarded_To =@branch
	
	union all
	
	select '<i class="fa fa-bell-o" style="color:red; font-size:font-size:15px"><a href ="/LeaveManagementModule/LeaveRequestIndivisual/List.aspx">Pending Leave Request</i></a>' as [Notification], count(*) as TOTAL 
	from LeaveRequest where REQUESTED_BY = @emp_id and LEAVE_STATUS='Pending'
	
	union all
	
	select '<i class="fa fa-bell-o" style="color:red; font-size:font-size:15px"><a href ="/LeaveManagementModule/LeaveRequestIndivisual/List.aspx">Recommended Leave Request</i></a>' as [Notification], count(*) as TOTAL 
	from LeaveRequest where REQUESTED_BY = @emp_id and LEAVE_STATUS='Recommended'
	
	union all

	select '<i class="fa fa-bell-o" style="color:red; font-size:font-size:15px"><a href ="/LeaveManagementModule/LeaveApprove/List.aspx"> Leave Request For Recommend </i></a>' as [Notification], count(*) as TOTAL 
	from LeaveRequest where REQUESTED_WITH = @emp_id and REQUESTED_WITH_date is null
	
	union all

	select '<i class="fa fa-bell-o" style="color:red; font-size:font-size:15px"><a href ="/LeaveManagementModule/LeaveApprove/List.aspx"> Leave Request For Approval </i></a>' as [Notification], count(*) as TOTAL 
	from LeaveRequest where APPROVED_BY=@emp_id and APRPROVED_DATE is null and LEAVE_STATUS='Recommended'
	
	union all
	
	select '<i class="fa fa-bell-o" style="color:red; font-size:font-size:15px"><a href ="/TrainingManagement/BranchTrainingParticipant/ActiveProgramList.aspx">Current Training </i></a>' as [Notification], count(*) as TOTAL 
	from TrainingParticipants where STAFF_ID = @emp_id
	
	union all
	
	select '<i class="fa fa-bell-o" style="color:red; font-size:font-size:15px"><a href ="/PerformanceAppraisal/AppraisalSearch.aspx?flag=notify">Appraisal Rating For Self </i></a>' as [Notification], count(*) as TOTAL 
	from Appraisal where APPRAISEE_DATE is null and EMPLOYEE_ID = @emp_id
	
	union all
	
	select '<i class="fa fa-bell-o" style="color:red; font-size:font-size:15px"><a href ="/PerformanceAppraisal/AppraisalSearch.aspx?flag=notify">Appraisal Pending For Supervisor </i></a>' as [Notification], count(*) as TOTAL 
	from Appraisal where APPRAISER_DATE is null AND APPRAISEE_DATE IS NOT NULL and SUPERVISIOR_ID = @emp_id
	
	union all
	
	select '<i class="fa fa-bell-o" style="color:red; font-size:font-size:15px"><a href ="/PerformanceAppraisal/AppraisalSearch.aspx?flag=notify">Appraisal Pending For Reviewer </i></a>' as [Notification], count(*) as TOTAL 
	from Appraisal where REVIEWER_DATE is null AND APPRAISER_DATE IS NOT NULL AND REVIEWER_ID = @emp_id
	
	union all
	
	select '<i class="fa fa-bell-o" style="color:red; font-size:font-size:15px"><a href ="/PerformanceAppraisal/AppraisalSearch.aspx?flag=notify">Appraisal Pending For HR Committee </i></a>' as [Notification], count(*) as TOTAL 
	from Appraisal AP INNER JOIN (SELECT SUPERVISOR,EMP FROM SuperVisroAssignment WHERE SUPERVISOR_TYPE = 'h' and record_status = 'y') su 
	ON AP.EMPLOYEE_ID = su.EMP where HRC_DATE IS NULL AND REVIEWER_DATE IS NOT NULL AND su.SUPERVISOR =  @emp_id
	
	)a
	where [Pending Job] >0

end

if @flag='h'
begin

	if (select DEPARTMENT_ID from Employee where EMPLOYEE_ID=@emp_id)=36
	begin
	
		select '<a href ="/LeaveManagementModule/LeaveRequest/ListForHRNotification.aspx?q=PENDING LEAVE"> Today''s Pending Leave</a>' 
		as [HR Notification], count(*) as TOTAL 
		from LeaveRequest where APRPROVED_DATE is null And LEAVE_STATUS<>'Cancelled'
		
		union all
		
		select '<a href ="/LeaveManagementModule/LeaveRequest/ListForHRNotification.aspx?q=ON LEAVE"> Today''s Aproved Leave</a>' 
		as [Notification], count(*) as TOTAL 
		from LeaveRequest 
		where GETDATE() between APPROVED_FROM and cast( (convert(varchar, APPROVED_TO, 111)+' 23:59') as datetime)
		AND LEAVE_STATUS='Approved'

	end
	else
	begin
	
		select '' as [Notification], '0' as TOTAL 
		
	end
end
GO
