USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procLFAStatus]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[procLFAStatus]
@flag char(1),
@empid varchar(20),
@leavetype varchar(20),
@rowid varchar(10) =null,
@approvedDays int=null,
@isLFA as varchar(1)=null,
@requestdays as varchar(10)=null,
@remainDays as varchar(10)=null
as

set nocount on;
declare @ForceLeaveDays varchar(5)
if @rowid is null
set @rowid=0
if @flag='c' and @leavetype=1
BEGIN
set @ForceLeaveDays=(select FORCE_LEAVE_DEDUCT from leaveAssignment where EMPLOYEE_ID=@empid and LEAVE_TYPE_ID=1)
--select @ForceLeaveDays as force,@requestdays as request,@remainDays remain
if @isLFA='1'-- if leave request choosen as LFA
begin

if exists(select IS_LFA from LeaveRequest where REQUESTED_BY=@empid and LEAVE_TYPE_ID=1 and IS_LFA=1 and ID<>@rowid)
begin
select 'LFA Aready taken' as result--LFA Aready taken
return
end
else if cast(@remainDays as int)<cast(@ForceLeaveDays as int)
begin
select 'LFA days not sufficient' as result--LFA days not sufficient
return

end
--else if cast(@requestdays as int)>cast(@ForceLeaveDays as int) and (@ForceLeaveDays<10)
--begin
--select 'Requested LFA days is invalid..(more)' as result--LFA days not sufficient
--return

--end
else if cast(@requestdays as int)<cast(@ForceLeaveDays as int)
begin
select 'Requested LFA days is invalid..(less)' as result--LFA days not sufficient
return

end


end
else--leave request choosen as normal
begin
--confirm... coz u won't be able to make LFA again this year(remain leave days not sufficient for LFA)
if not exists(select IS_LFA from LeaveRequest where REQUESTED_BY=@empid and LEAVE_TYPE_ID=1 and IS_LFA=1)
if cast(@remainDays as int)-cast(@requestdays as int)<cast(@ForceLeaveDays as int)
begin
select 'You must take LFA..' as result
return
end
end
END

select 'success'
GO
