USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procPromotionPayable_Schedule]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec [procPromotionPayable_Schedule] 
CREATE PROC [dbo].[procPromotionPayable_Schedule]

AS      
SET NOCOUNT ON;     
SET XACT_ABORT ON 
BEGIN  
		DECLARE @intTotalRows AS INT,@intPartId AS INT
		CREATE TABLE #TEMP_TABLE
		(
			ID varchar(200) null,
			EMP_ID varchar(500) null,
			PROMOTION_DATE VARCHAR(50) NULL,
			POST_ID varchar(100) null,
			SALARY_SET_ID VARCHAR(200) NULL,
			GRADE_TYPE VARCHAR(200) NULL
		)
		INSERT INTO	 #TEMP_TABLE(ID,EMP_ID,POST_ID,SALARY_SET_ID,GRADE_TYPE,PROMOTION_DATE)
		SELECT ROWID,EMP_ID,POSITION_ID,salarySetMasterId,grade,PROMOTION_DATE
		FROM Promotion	 
		WHERE PROMOTION_DATE<=GETDATE() AND UPDATE_FLAG IS NULL and UPDATE_DATE is null

		ALTER TABLE #TEMP_TABLE ADD ROWID INT IDENTITY(1,1)
		SELECT @intPartId=max(ROWID) from #TEMP_TABLE
		
		
			--########### Start loop count
		SET @intTotalRows=1
		WHILE @intPartId >=  @intTotalRows
		BEGIN 
		 
		 
			DECLARE @CURRENT_DATE AS DATE=GETDATE(),@MONTH_NAME VARCHAR(20),@effective_date VARCHAR(20),
					@EFY_YR AS VARCHAR(50),@ENEPLI_MONTH INT,@EMonthStartDate AS VARCHAR(20),
					@EMonthEndDate AS VARCHAR(20),@CFY_YR AS VARCHAR(20),@CNEPLI_MONTH AS VARCHAR(20),
					@CMonthStartDate AS VARCHAR(20),@CMonthEndDate AS VARCHAR(20),@post_id AS VARCHAR(20),@salary_setId AS VARCHAR(20),
					@emp_id INT,@grade_id INT,@ROW_ID INT

			SELECT @effective_date=PROMOTION_DATE,@post_id=POST_ID,@ROW_ID=ID,
			@salary_setId=SALARY_SET_ID,@grade_id=GRADE_TYPE,@emp_id=EMP_ID FROM #TEMP_TABLE WHERE ROWID=@intTotalRows
			
			BEGIN TRY   
					SET @EFY_YR=dbo.FNAReturnCurrentFiscalYear(@effective_date)
					SET @ENEPLI_MONTH=dbo.GetNepaliMonth(@effective_date)
					SET @EMonthStartDate= dbo.GetMonthStartDateEng(@EFY_YR,@ENEPLI_MONTH)
					SET @EMonthEndDate= dbo.GetMonthEndDateEng(@EFY_YR,@ENEPLI_MONTH)

					SET @CFY_YR=dbo.FNAReturnCurrentFiscalYear(@CURRENT_DATE)
					SET @CNEPLI_MONTH=dbo.GetNepaliMonth(@CURRENT_DATE)
					SET @CMonthStartDate= dbo.GetMonthStartDateEng(@CFY_YR,@CNEPLI_MONTH)
					SET @CMonthEndDate= dbo.GetMonthEndDateEng(@CFY_YR,@CNEPLI_MONTH)
					DECLARE @RATE AS FLOAT
					SELECT @RATE=RATE FROM GRADE_SETUP WHERE POSITION_ID=@post_id
					
					IF CONVERT(VARCHAR,@effective_date,102)<=CONVERT(VARCHAR,@CMonthStartDate,102)
					BEGIN
							IF @salary_setId IS NOT NULL
							BEGIN
			   					--updating matched head amount
								UPDATE Payable SET AMOUNT=B.payableValue,Set_ID=B.salarySetMasterId,MODIFIED_BY='1000',MODIFIED_DATE=GETDATE()
								FROM Payable A, 
								( 
									SELECT payableHead,payableValue,salarySetMasterId FROM salarySetDetails 
									where salarySetMasterId=@salary_setId					
									
								)B where a.BENEFIT_ID=b.payableHead	and A.EMPLOYEE_ID=@emp_id
								
								-- inserting unpatched salary head amount of salary set details
								if exists(select * from salarySetDetails 
											where payableHead not in 
											(select BENEFIT_ID from Payable where EMPLOYEE_ID=@emp_id) AND salarySetMasterId=@salary_setId
									)
								begin
										  insert into Payable (EMPLOYEE_ID,BENEFIT_ID,AMOUNT,CREATED_BY,CREATED_DATE,Set_ID)
										  select @emp_id,payableHead,payableValue,'1000',GETDATE(),@salary_setId 
										  from salarySetDetails 
										  where payableHead not in (select BENEFIT_ID from Payable where EMPLOYEE_ID=@emp_id)
										  and salarySetMasterId=@salary_setId  
								end 
							END
							IF @grade_id IS NOT NULL
							BEGIN
			   					--updating matched head amount
								UPDATE Payable SET AMOUNT=B.AMOUNT,GRADE_ID=@grade_id,MODIFIED_BY='1000',MODIFIED_DATE=GETDATE()
								FROM Payable A, 
								( 							
									select '391' GRADE,ROUND(SUM(((CAST(AMOUNT AS FLOAT)*@RATE)/100)*@grade_id),2) AMOUNT from Payable 
									where EMPLOYEE_ID=@emp_id and BENEFIT_ID=390
									
								)B where a.BENEFIT_ID=b.GRADE and A.EMPLOYEE_ID=@emp_id
								
								-- inserting INTO PAYABLE GRADE amount FROM GRADE SET details
								if NOT EXISTS(select * from payable where EMPLOYEE_ID=@emp_id AND BENEFIT_ID=391)							
								begin
									  insert into Payable (EMPLOYEE_ID,BENEFIT_ID,AMOUNT,CREATED_BY,CREATED_DATE,GRADE_ID)
									  select @emp_id,'391' GRADE,ROUND(SUM(((CAST(AMOUNT AS FLOAT)*@RATE)/100)*@grade_id),2) AMOUNT,'1000',GETDATE(),@grade_id
									  from Payable  where EMPLOYEE_ID=@emp_id and BENEFIT_ID=390
								end 
							END
							
							IF @grade_id IS NULL 
							BEGIN
								DELETE FROM Payable WHERE EMPLOYEE_ID=@emp_id AND BENEFIT_ID=391
							END
					END
					IF CONVERT(VARCHAR,@CMonthStartDate,102) < CONVERT(VARCHAR,@effective_date,102)
					BEGIN			
					
						DECLARE	@DAYS_SAL float,@DAYS_NOT_SAL AS float,@tot_days float
						SELECT @DAYS_SAL=(dbo.gettotaldaysofmonth(@effective_date)-DATEDIFF(DD,@CMonthStartDate,@effective_date))+1,
								@DAYS_NOT_SAL=DATEDIFF(DD,@CMonthStartDate,@effective_date),@tot_days=dbo.gettotaldaysofmonth(@effective_date)+1 
						
						IF @salary_setId IS	NOT	NULL
						BEGIN
						
							INSERT INTO	AdhocPayment (EMPLOYEE_ID,ADD_DEDUCT,HEAD_ID,AMOUNT,NARRATION,CREATED_BY,CREATED_DATE) 
							
							SELECT EMPLOYEE_ID,'A' ADD_DEDUCT,BENEFIT_ID,ROUND((@DAYS_NOT_SAL/@tot_days)*a.AMOUNT,2) Added,
							'Auto Salary Adjustment-Added' remark,'1000',GETDATE()
							FROM Payable A INNER JOIN salarySetDetails B ON	A.BENEFIT_ID=b.payableHead
							where a.EMPLOYEE_ID=@emp_id	and	b.salarySetMasterId=@salary_setId
							
							UNION ALL
							
							SELECT EMPLOYEE_ID,'D' ADD_DEDUCT,BENEFIT_ID,ROUND((@DAYS_NOT_SAL/@tot_days)*b.payableValue,2) deducted,
							'Auto Salary Adjustment-Deduced' remarks,'1000',GETDATE()				
							FROM Payable A INNER JOIN salarySetDetails B ON	A.BENEFIT_ID=b.payableHead
							where a.EMPLOYEE_ID=@emp_id	and	b.salarySetMasterId=@salary_setId
							
							UNION ALL
							
							select @emp_id,'D' ADD_DEDUCT,payableHead BENEFIT_ID,ROUND((@DAYS_NOT_SAL/@tot_days)*b.payableValue,2) deducted,
							'Auto Salary Adjustment-Deduced' remarks,1000,GETDATE()	
							from salarySetDetails b	where salarySetMasterId=@salary_setId and payableHead 
							not	in (select BENEFIT_ID from Payable where EMPLOYEE_ID=@emp_id) 
							
							
							UPDATE Payable SET AMOUNT=B.payableValue,Set_ID=B.salarySetMasterId,MODIFIED_BY='1000',MODIFIED_DATE=GETDATE()
							FROM Payable A,	
							( 
								SELECT payableHead,payableValue,salarySetMasterId FROM salarySetDetails	
								where salarySetMasterId=@salary_setId					
								
							)B where a.BENEFIT_ID=b.payableHead	and	A.EMPLOYEE_ID=@emp_id
							   return;
							-- inserting unMatched salary head amount of salary	set	details
							if exists(select * from	salarySetDetails 
										where payableHead not in 
										(select	BENEFIT_ID from	Payable	where EMPLOYEE_ID=@emp_id) AND salarySetMasterId=@salary_setId
								)
							begin
									  insert into Payable (EMPLOYEE_ID,BENEFIT_ID,AMOUNT,CREATED_BY,CREATED_DATE,Set_ID)
									  select @emp_id,payableHead,payableValue,1000,GETDATE(),@salary_setId 
									  from salarySetDetails	
									  where	payableHead	not	in (select BENEFIT_ID from Payable where EMPLOYEE_ID=@emp_id) 
									  and salarySetMasterId=@salary_setId 
							end	
						END
						IF @grade_id IS	NOT	NULL
						BEGIN
						
								-- GRADE INCREMENT
								INSERT INTO	AdhocPayment(EMPLOYEE_ID,ADD_DEDUCT,HEAD_ID,AMOUNT,NARRATION,CREATED_BY,CREATED_DATE)
								 
								SELECT @emp_id,'D' ADD_DEDUCT,'391'	BENEFIT_ID,
									ROUND((@DAYS_NOT_SAL/@tot_days)*(SUM(((CAST(AMOUNT AS FLOAT)*@RATE)/100)*@grade_id)),2) DEDUCTED,
								'Auto GRADE	Adjustment-Deduced'	remarks,'1000',GETDATE()
								from Payable 
								where EMPLOYEE_ID=@emp_id and BENEFIT_ID=390--BASIC	SALARY
								union all

								SELECT EMPLOYEE_ID,'A' ADD_DEDUCT,'391'	BENEFIT_ID,
								ROUND((@DAYS_NOT_SAL/@tot_days)*CAST(AMOUNT AS FLOAT),2) ADDED,
								'Auto GRADE	Adjustment-Added' remarks,'1000',GETDATE()
								from Payable 
								where EMPLOYEE_ID=@emp_id and BENEFIT_ID=391--GRADE				
								
	   							--updating matched head	amount
								UPDATE Payable SET AMOUNT=B.AMOUNT,GRADE_ID=@grade_id,MODIFIED_BY='1000',MODIFIED_DATE=GETDATE()
								FROM Payable A, 
								( 							
									select '391' GRADE,ROUND(SUM(((CAST(AMOUNT AS FLOAT)*@RATE)/100)*@grade_id),2)	AMOUNT from	Payable	
									where EMPLOYEE_ID=@emp_id and BENEFIT_ID=390
									
								)B where a.BENEFIT_ID=b.GRADE and A.EMPLOYEE_ID=@emp_id
								
								-- inserting INTO PAYABLE GRADE	amount FROM	GRADE SET details
								if NOT EXISTS(select * from	payable	where EMPLOYEE_ID=@emp_id AND BENEFIT_ID=391)							
								begin
									  insert into Payable (EMPLOYEE_ID,BENEFIT_ID,AMOUNT,CREATED_BY,CREATED_DATE,GRADE_ID)
									  select @emp_id,'391' GRADE,ROUND(SUM(((CAST(AMOUNT AS FLOAT)*@RATE)/100)*@grade_id),2) AMOUNT,'1000',GETDATE(),@grade_id
									  from Payable	where EMPLOYEE_ID=@emp_id and BENEFIT_ID=390
								end	
						END
						IF @grade_id IS NULL 
						BEGIN
							SELECT EMPLOYEE_ID,'A' ADD_DEDUCT,'391' BENEFIT_ID,
								ROUND((@DAYS_NOT_SAL/@tot_days)*AMOUNT,2) ADDED,
								'Auto GRADE Adjustment-Added' remarks,'1000',GETDATE()
								from Payable 
								where EMPLOYEE_ID=@emp_id and BENEFIT_ID=391--GRADE	ADDED
								
							DELETE FROM Payable WHERE EMPLOYEE_ID=@emp_id AND BENEFIT_ID=391
						END
							
					END	 
					
					---### Updating Promotion record is executed
					UPDATE Promotion SET  UPDATE_FLAG='Y', UPDATE_DATE=GETDATE() 
					WHERE ROWID=@ROW_ID 
					
					SET @intTotalRows=@intTotalRows+1 
			END TRY 
		  
			BEGIN CATCH  
					IF @@TRANCOUNT > 0  
					ROLLBACK TRANSACTION  
					SELECT  ERROR_MESSAGE() AS MSG   
			  
			END CATCH

		END
	DROP TABLE #TEMP_TABLE
	
END
GO
