USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_purchaseOrder]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_purchaseOrder]
		@flag char(50),		
		@orderId varchar(100) = null,
		@productId int = null,
		@qty int = null,
		@rate money = null,
		@amount money = null,
		@session_id varchar(200) = null,
		@user varchar(50) = null
AS
SET NOCOUNT ON;
set xact_abort on;	
	
IF(@flag ='delete-po')
BEGIN
	if exists(select top 1 * from Purchase_Order_Message where id = @orderId and status = 'Requested')
	begin
		delete from Purchase_Order_Message where id = @orderId
		delete from Purchase_Order where order_message_id = @orderId

		EXEC proc_errorHandler '0', 'Record has been deleted successfully.', @orderId
		return;
	end
	EXEC proc_errorHandler '1', 'Record has not been deleted successfully.', @orderId
	
END	

IF(@flag ='i')
BEGIN

	if exists(select 'x' from Temp_Purchase with(nolock)
		 where session_id = @session_id and flag= 'p' and product_code = @productId)
	begin
			select 'Product has been already added!' as msg
			return;
	end
	
	INSERT INTO Temp_Purchase(session_id,product_code,qty,rate,amount,flag,created_by,created_date)VALUES(
	@session_id,@productId,@qty,@rate,@amount,'p',@user,GETDATE())
	
END	
 
IF(@flag ='o')
BEGIN
	if exists(select 'x' from Temp_Purchase with(nolock)
		 where session_id=@session_id and flag='o' and product_code=@productId)
	begin
			select 'Product has been already added!' as msg
			return;
	end
	INSERT INTO Temp_Purchase(session_id,product_code,qty,rate,amount,flag,created_by,created_date)VALUES(
	@session_id,@productId,@qty,@rate,@amount,'o',@user,GETDATE())
	
END
GO
