USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_TrainingFeedBack]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec [proc_TrainingFeedBack] @flag='e',  @trainingProgramId='82'
CREATE PROCEDURE [dbo].[proc_TrainingFeedBack](

     @flag VARCHAR(2)
	,@staticRowId				INT				= NULL
	,@responseId				INT				= NULL
	,@sessionId					VARCHAR(100)	= NULL
	,@subjectiveRemarks		    VARCHAR(MAX)	= NULL
	,@user						VARCHAR(100)	= NULL
	,@trainingProgramId         VARCHAR(100)    = NULL
	,@branch					VARCHAR(100)    = NULL
	,@dept						VARCHAR(100)    = NULL
	,@empId						VARCHAR(100)    = NULL
	,@trainingFbId				INT				= NULL
	,@ROWIDS					VARCHAR(MAX)    = NULL
	
	

)

AS 
SET NOCOUNT ON

BEGIN TRY 
 
	IF @flag='a'
	begin
	   select ROWID,ROW_NUMBER() OVER(ORDER BY ROWID) [S.N.],DETAIL_TITLE [Questions], '' Answer from StaticDataDetail where TYPE_ID =72
	end
	IF @flag='b'
	begin
			
			--select * from trainingFeedbackDetails
			insert into trainingFeedbackDetails(traningFbId,staticRowId,subjectiveRemarks,createdBy,createdDate)
			SELECT @trainingFbId,a.value rowid,b.value comment,@user,GETDATE() 
			FROM 
			(
				SELECT id,name value FROM DBO.split(@rowids,',')
			)A inner join
			(
				SELECT id, name value FROM DBO.split(@subjectiveRemarks,',')
			)B   on a.id=b.id
			
			select 'Success!' as msg;
		
	end
	IF @flag='c'
	begin
				DECLARE @FEEDBACK_ID INT
				insert into TrainingFeedback(trainingProgramId,branch,dept,empId,createdBy,createdDate)
				SELECT @trainingProgramId,BRANCH_ID,DEPARTMENT_ID,EMPLOYEE_ID,@empId,GETDATE()
				FROM Employee WHERE EMPLOYEE_ID=@empId 

				SET @FEEDBACK_ID=@@IDENTITY
				SELECT	@FEEDBACK_ID
	end
	IF @flag ='s'
	BEGIN	
		SELECT 
			 ROWID
			,DETAIL_TITLE
			,'<input type = "hidden" ID = "rowIdfirst_' + CAST(ROWID AS VARCHAR) + '" name = "rowIdfirst" value = "' + CAST(ROWID as varchar) + '">' rowId_hidden
			,'<select ID = "Response_' + CAST(ROWID AS VARCHAR) + '" name = "Response_" width = "50px" class = "FltCMBDesign">	
				<option value = "5" ' + CASE WHEN [ROWID] = '5' THEN 'selected' ELSE '' END + '>Strongly Agree</option>
				<option value = "4" ' + CASE WHEN [ROWID] = '4' THEN 'selected' ELSE '' END +'>Agree</option>
				<option value = "3" ' + CASE WHEN [ROWID] = '3' THEN 'selected' ELSE '' END +'>Satisfy</option>
				<option value = "2" ' + CASE WHEN [ROWID] = '2' THEN 'selected' ELSE '' END +'>Disagree</option>
				<option value = "1" ' + CASE WHEN [ROWID] = '1' THEN 'selected' ELSE '' END +'>Strongly Disagree</option>
			</select>' [Response]
			,[TYPE_ID] 
		FROM StaticDataDetail WHERE TYPE_ID IN (67,68,69,70,71)
	END	

	IF @flag='sq'
	BEGIN
	SELECT	 ROW_NUMBER() over(order by trainingFedDetailId) [Sn]
			,sdd.DETAIL_TITLE [Question]
			,subjectiveRemarks [Ans]
			,'<img onclick = "DeleteNotification(' + CAST(trainingFedDetailId AS VARCHAR(50)) + ')" class = "showHand" border = "0" title = "Delete Training FeedBack" src="../../Images/delete.gif" />' [delete] 
	FROM trainingFeedbackDetails tfd
		INNER JOIN StaticDataDetail sdd ON sdd.ROWID = tfd.staticRowId
	WHERE isnull(sessionId,'') in( case isnull(sessionId,'') when '' then '' else  @sessionId end) 
	 AND ISNULL(traningFbId,'') in (case ISNULL(traningFbId,'') when '' then '' else @trainingFbId end) 
	 AND sdd.TYPE_ID = 72 AND flag = 's'
				
	END
	
	
	IF @flag='ii'
	BEGIN
	
	IF EXISTS(SELECT staticRowId FROM trainingFeedbackDetails 
		WHERE isnull(sessionId,'') in(case isnull(sessionId,'') when '' then '' else  @sessionId end) 
		AND isnull(traningFbId,'') in (case isnull(traningFbId,'') when '' then '' else  @trainingFbId end) 
		AND flag = 's' AND staticRowId = @staticRowId
		)
	BEGIN
	   SELECT 'Record Is Already Save' msg
	   RETURN
	
	END
	INSERT INTO trainingFeedbackDetails(
				  staticRowId
				,subjectiveRemarks
				,sessionId
				,traningFbId
				,flag
				,createdDate
				,createdBy
		)
			SELECT   @staticRowId
					,@subjectiveRemarks
					,@sessionId
					,@trainingFbId
					,'s'
					,GETDATE()
					,@user
	SELECT 'Record Save Successfully' msg
			
	END
	
	
	IF @flag='fi'
	BEGIN
	INSERT INTO TrainingFeedback (
					 trainingProgramId
					,branch
					,dept
					,empId
					,createdDate
					,createdBy
				)
			   SELECT 
			         @trainingProgramId
			        ,@branch
			        ,@dept
			        ,@empId
			        ,GETDATE()
			        ,@user
			
	     SELECT @trainingFbId = @@IDENTITY
	     
	     
	     
	     UPDATE trainingFeedbackDetails  SET 
				traningFbId = @trainingFbId
				,sessionId   = ''
	      WHERE sessionId = @sessionId

				
	END
	
	
	IF @flag='eb'
	BEGIN
			SELECT 
			 ROWID
			,DETAIL_TITLE
			,'<input type = "hidden" ID = "rowId_' + CAST(ROWID AS VARCHAR) + '" name = "rowId" value = "' + CAST(ROWID as varchar) + '">' rowId_hidden
			,'<select ID = "Response_' + CAST(ROWID AS VARCHAR) + '" name = "Response_" width = "50px" class = "FltCMBDesign"> 
				<option value = "5" ' + CASE WHEN [responseId] = '5' THEN 'selected' ELSE '' END + '>Strongly Agree</option>
				<option value = "4" ' + CASE WHEN [responseId] = '4' THEN 'selected' ELSE '' END +'>Agree</option>
				<option value = "3" ' + CASE WHEN [responseId] = '3' THEN 'selected' ELSE '' END +'>Satisfy</option>
				<option value = "2" ' + CASE WHEN [responseId] = '2' THEN 'selected' ELSE '' END +'>Disagree</option>
				<option value = "1" ' + CASE WHEN [responseId] = '1' THEN 'selected' ELSE '' END +'>Strongly Disagree</option>
			</select>' [Response]
			,'<span onclick = "SaveOrUpdateTraining(' + CAST(ROWID AS VARCHAR(50)) + ')" class = "showHand">Update</span>' [Edit]  
			,[TYPE_ID] 
		FROM StaticDataDetail s inner join trainingFeedbackDetails tf on s.ROWID = tf.staticRowId
		WHERE TYPE_ID IN (67,68,69,70,71) 
		AND isnull(tf.sessionId,'') in(case  isnull(tf.sessionId,'') when '' then '' else @sessionId end) 
		AND isnull(tf.traningFbId,'') in(case  isnull(tf.traningFbId,'') when '' then '' else @trainingFbId end) 		
	END
	
	IF @flag='u'
	BEGIN
		UPDATE trainingfeedbackDetails SET	
				 responseId     = @responseId
		WHERE    isnull(sessionId,'') = @sessionId  and staticRowId = @staticRowId
       SELECT 'Record Save Successfully' msg
	
	END
	
	IF @flag='e'
	begin
	
		select dbo.GetBranchName(branch) branch,
		dbo.GetDeptName(dept) dept,dbo.GetEmployeeFullNameOfId(empId) emp,
		b.programName program
		from TrainingFeedback a inner join training b on b.id=a.trainingProgramId
		where a.trainingFbId=@trainingFbId
		
		--select * from TrainingFeedback
		
		select sdd.TYPE_ID
			,dbo.GetDetailTitle(staticRowId) Question
			,case 
			when responseId='5' then 'Strongly Agree' 
			when  responseId='4' then 'Agree' when responseId='3' then 'Satisfy' 
			when responseId='2' then 'Disagree' when responseId='1' then 'Strongly Disagree' end
			Answer
		from trainingFeedbackDetails a inner join TrainingFeedback b on a.traningFbId=b.trainingFbId
		inner join StaticDataDetail sdd on sdd.ROWID=a.staticRowId	
		where responseId is not null and a.traningFbId=@trainingFbId 

		select ROW_NUMBER() over (order by trainingFedDetailId) [S.N.],dbo.GetDetailTitle(staticRowId) Question,
		subjectiveRemarks  Answer
		from trainingFeedbackDetails a inner join TrainingFeedback b on a.traningFbId=b.trainingFbId
		where responseId is null and a.traningFbId=@trainingFbId 
		
	end
END TRY

BEGIN CATCH
  IF @@TRANCOUNT >0
  ROLLBACK TRANSACTION 
  


END CATCH
GO
