USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[spa_acmaster]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create  proc [dbo].[spa_acmaster]
	@flag char(1),
	@acct_id varchar(50) =null,
	@acct_num varchar(16)=null ,
	@acct_name varchar(100)=null ,
	@gl_code varchar(10)=null ,
	@agent_id varchar(50)=null ,
	@branch_id varchar(50)=null ,
	@acct_ownership varchar(1)=null ,
	@dr_bal_lim varchar(50)=null ,
	@lim_expiry varchar(50) =null,
	@acct_rpt_code varchar(10) =null,
	@acct_type_code varchar(10) =null,
	@frez_ref_code varchar(5) =null,
	@acct_cls_flg varchar(1) =null,
	@clr_bal_amt varchar(50) =null,
	@system_reserved_amt varchar(50)=null ,
	@system_reserver_remarks varchar(80)=null ,
	@lien_amt varchar(50) =null,
	@lien_remarks varchar(80) =null,
	@utilised_amt varchar(50) =null,
	@available_amt varchar(50)=null,
	@ac_currency varchar(10)=null,
	@ac_group varchar(100)=null,
	@ac_sub_group varchar(100)=null,
	@user varchar(10)=null,
	@company_id varchar(10)=null,
	@bill_bybill varchar(5)=null
As

set nocount on;

if @flag='a'
begin
	select * from ac_master with (nolock)
end

if @flag='t'
begin


	select * from ac_master with (nolock)  where acct_id=@acct_id

end 

if @flag='s'
begin



	select *,
	case 
		 when dr_bal_lim=0 then 0
		 when dr_bal_lim >0 and clr_bal_amt<= 0  then system_reserved_amt + lien_amt - clr_bal_amt
		 when dr_bal_lim >0 and clr_bal_amt>0 and (clr_bal_amt-(system_reserved_amt+ lien_amt))>0 then 0
		 when dr_bal_lim >0 and clr_bal_amt>0 and (clr_bal_amt-(system_reserved_amt+ lien_amt))< 0 then system_reserved_amt + lien_amt - clr_bal_amt
		 else 0 
		 end as 'UtlAmt'
	from ac_master with (nolock) where acct_id=@acct_id



end

if @flag='i'
begin

	insert into ac_master (acct_num, acct_name,gl_code, agent_id, branch_id, acct_ownership, 
	dr_bal_lim, lim_expiry, acct_rpt_code, acct_type_code, frez_ref_code, acct_opn_date, 
	clr_bal_amt, system_reserved_amt, system_reserver_remarks, 
	lien_amt, lien_remarks, utilised_amt, available_amt,created_date,created_by,
	ac_currency,ac_group,ac_sub_group, company_id, usd_amt,flc_amt,bill_by_bill)
	Values	( @acct_num,@acct_name, @gl_code, @agent_id, @branch_id, @acct_ownership, 
	isnull(@dr_bal_lim,0), @lim_expiry, @acct_rpt_code, @acct_type_code, @frez_ref_code, getdate(), 
	0, isnull(@system_reserved_amt,0), @system_reserver_remarks, 
	isnull(@lien_amt,0), @lien_remarks, 0, 0, getdate(),@user,@ac_currency,@ac_group, @ac_sub_group, 
	1,
	0,0,@bill_bybill)

		set @acct_id=@@identity

		update ac_master set 
		AVAILABLE_AMT= isnull(DR_BAL_LIM,0) +  isnull(CLR_BAL_AMT,0) -  isnull(SYSTEM_RESERVED_AMT,0) -  isnull(LIEN_AMT,0)
		where acct_id=@acct_id
	--###### Exec JobHistoryRecord 'i','JOB NAME','OLD VALUE','NEW VALUE','REMARKS','UPDATED ROW','user'
		Exec JobHistoryRecord 'i','ACCOUNT ADDED',@acct_name,@gl_code,@acct_ownership ,@acct_id,@user

end

if @flag='u'
begin

	update ac_master set
	acct_name=@acct_name,
	agent_id=@agent_id,
	branch_id=@branch_id,
	acct_ownership=@acct_ownership,
	acct_rpt_code=@acct_rpt_code,
	acct_type_code=@acct_type_code,
	system_reserver_remarks=@system_reserver_remarks,
	modified_by=@user,
	ac_currency=@ac_currency,
	ac_group=@ac_group,
	ac_sub_group=@ac_sub_group,
	modified_date=getdate(),
	bill_by_bill= @bill_bybill
	where acct_id=@acct_id

	--###### Exec JobHistoryRecord 'i','JOB NAME','OLD VALUE','NEW VALUE','REMARKS','UPDATED ROW','user'
		Exec JobHistoryRecord 'i','ACCOUNT MODIFIED',@acct_name,@gl_code,@acct_ownership ,@acct_id,@user

end
GO
