USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_Emp_Detail]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- exec proc_Emp_Detail '2009-01-14','2009-12-14','7','1','1'

CREATE proc [dbo].[proc_Emp_Detail](
	@frmdate varchar(10)=null,
	@todate varchar(10)=null,
	@branch varchar(10)=null,
	@dept varchar(10)=null,
	@post varchar(10)=null
)
AS
set nocount on;
begin

		SELECT FIRST_NAME, MIDDLE_NAME, LAST_NAME,
			OFFICE_PHONE, HOME_PHONE, OFFICE_MOBILE, 
			PERSONAL_MOBILE , OFFICE_FAX, PERSONAL_FAX, OFFICIAL_EMAIL,
			PERSONAL_EMAIL, GENDER, BLOOD_GROUP, NATIONALITY, PASSPORT_NUMBER, 
			BIRTH_DATE, JOINED_DATE ,MERITAL_STATUS,
			PAN_NUMBER, B.BRANCH_NAME 
		from Employee as E, Branches as B 
		where E.BRANCH_ID = B.BRANCH_ID 
		and E.JOINED_DATE between 
		@frmdate and @todate and E.BRANCH_ID = @branch and E.DEPARTMENT_ID = @dept and E.POSITION_ID = @post 
end
GO
