USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[ProcUpdateAppraisalFeedback]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ProcUpdateAppraisalFeedback]    
(    
 @ID			   INT,	  
 @FeedbackDetails  VARCHAR(MAX),    
 @UserName         VARCHAR(30) = NULL,    
 @CreatedDate      DATETIME = NULL  	
 )     
AS    
BEGIN    
 SET NOCOUNT ON;      
 
  UPDATE APPRAISALFEEDBACK SET FEEDBACK_DETAILS=@FeedbackDetails,  
  MODIFIEDBY=@UserName,MODIFIEDDATE=@CreatedDate WHERE ID=@ID
END
GO
