USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_AppriasalReviewDetails]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[proc_AppriasalReviewDetails](

	 @flag			VARCHAR(20)
	,@type_id		VARCHAR(20)=NULL
	,@rowId			VARCHAR(20)=NULL
	,@reviewType	VARCHAR(50)=NULL
	,@memPosition	VARCHAR(20)=NULL
	,@memName		VARCHAR(20)=NULL
	,@frmDate		VARCHAR(20)=NULL
	,@toDate		VARCHAR(20)=NULL
	,@user			VARCHAR(20)=NULL
	,@isFirstRater	VARCHAR(20)=NULL	
	,@typeDescription   varchar(50)=NULL
	,@createdDate       varchar(20)=NULL
	,@createdBy			varchar(20)=NULL
	,@maxPosition       varchar(20)=NULL
	,@minPosition       varchar(20)=NULL
	,@isActive			varchar(20)=NULL
	

)
AS
BEGIN TRY

		IF @flag ='sl'  -- select position type
			BEGIN  			 
				   BEGIN
					 select ROWID , DETAIL_TITLE, DETAIL_DESC,value from StaticDataDetail with (nolock)    
					 where [TYPE_ID]=@type_id 
					END 				
			   
			END 

		IF @flag ='slm'  -- select position type minimum
				BEGIN  
				  
					   BEGIN
						 select ROWID , DETAIL_TITLE, DETAIL_DESC,value from StaticDataDetail with (nolock)    
						 where [TYPE_ID]=@type_id  and ROWID > @rowId
						END 					
			END 

		IF @flag ='sn'  --select member name
			BEGIN  			 
				   BEGIN
					 SELECT EMPLOYEE_ID ,(ISNULL(FIRST_NAME,' ') + ISNULL(' '+MIDDLE_NAME,' ') + ISNULL(LAST_NAME,' ')) AS  NAME  FROM EMPLOYEE with (nolock)    
					 WHERE POSITION_ID=@type_id
					END 							   
			END 

		IF @flag='addMember'
				BEGIN
				
				IF EXISTS (select 'x' from reviewCommitteeMembers where memberTypeId = @reviewType and isFirstRater='Y' and @isFirstRater ='Y' and ISNULL(isDelete ,'N')<>'Y')
				BEGIN
					SELECT 1 errorCode,'First rater is already adjusted !!!' msg, null id
					RETURN
				END
				
					INSERT INTO reviewCommitteeMembers (
					
							 empId
							,memberTypeId
							,memberFrom
							,memberTo
							,memberPosition
							,isFirstRater
							,createdDate
							,createdBy										
					)
					values(					
							 @memName	
							,@reviewType						
							,@frmDate		
							,@toDate
							,@memPosition	
							,@isFirstRater	
							,GETDATE()		
							,@user			
					
					)
					
					SELECT 0 errorCode,'Member added successfully',null id
				END
				
			IF @flag ='getMemberDetails'
					BEGIN
					
						select empId
						,ee.FIRST_NAME+ISNULL(' '+ee.MIDDLE_NAME,' ')+LAST_NAME	+'|'+rcm.empId as name											
						,arc.typeDescription as typ
						,ISNULL(isFirstRater,'N') as   isFirstRater    
						,convert(varchar(10),memberFrom,101) as frmMem
						,convert(varchar(10),memberTo,101) as ToMem
						from reviewCommitteeMembers rcm                       		        
							inner join appriasalReviewCommittee arc on arc.rowid = rcm.memberTypeId 
							inner join employee ee on ee.EMPLOYEE_ID = rcm.empId
							where rcm.rowId=@rowId and ISNULL(rcm.isDelete ,'N')<>'Y'
					END
					
			IF @flag='getTypeDetails'
				BEGIN
					select reviewType as typ
					,typeDescription as [description] 
					,ISNULL(isActive,'Y') as isActive
					
					from appriasalReviewCommittee where rowId=@rowId
				END
				
				
			IF @flag='updateType'
				BEGIN
					update appriasalReviewCommittee set 
					reviewType=@reviewType
					,typeDescription=@typeDescription
					,isActive=@isActive
					,modifiedBy=@user
					,modifiedDate=GETDATE()
					where rowId=@rowId
					
					SELECT 0 errorCode,'Successfully Updated !!!',null id
				END	
				
				
			IF @flag='updateMember'
				BEGIN
					UPDATE reviewCommitteeMembers 
						SET  empId =	@memName					
							,memberFrom =@frmDate
							,memberTo =@toDate
							,memberPosition =@memPosition
							,isFirstRater =@isFirstRater
							,modifiedDate = GETDATE()
							,modifiedBy =@user
									where rowId = @rowId
									
					SELECT 0 errorCode,'Successfully Updated !!!',null id
							
				END
				
			IF @flag='deleteMem'
				BEGIN
					Update reviewCommitteeMembers set isDelete='Y' where rowId=@rowId
					select '0'
				END
				
				
			IF @flag ='deleteType'  
				BEGIN  
				  	DELETE FROM appriasalReviewCommittee where rowId=@rowId
				  	Update reviewCommitteeMembers set isDelete='Y' where memberTypeId=@rowId				  				   
				  	DELETE FROM  appriasalReviewPosition  where memberType=@rowId				  				   
				END 
				
			IF @flag ='deleteTypePos'  
				BEGIN  
				  	DELETE FROM appriasalReviewPosition where rowId=@rowId	
				  	select '0','deleted' msg,null id			  					  				   
				END 
			
			IF  @flag='addTypePos'
				BEGIN
				
				IF EXISTS(select 'x' from appriasalReviewPosition where position=@maxPosition)
					BEGIN
					SELECT 1 errorCode ,'Position is already Assigned to another review type!' msg,null id
					RETURN
				END
				INSERT INTO appriasalReviewPosition(
				
				 memberType
				,position
				,createdDate
				,createdBy							
				)
				values
				(
					@reviewType       
					,@maxPosition 
					,GETDATE()      
					,@user						                                       
				)
				
				SELECT 0 errorCode,'Operation Successfully executed !!!',null id
			END
			
			
			IF @flag='addType'
				BEGIN
				INSERT INTO appriasalReviewCommittee(
				
				 reviewType
				,typeDescription
				,createdDate
				,createdBy			
				,maxPosition
				,minPosition
				,isActive

				)
				values
				(
					@reviewType       
					,@typeDescription  
					,GETDATE()      
					,@user	
					,@maxPosition      
					,@minPosition  
					,@isActive                                       
				)
				
				SELECT 0 errorCode,'Operation Successfully executed !!!',null id
			END

END TRY
BEGIN CATCH
	IF @@TRANCOUNT > 0
	select 1 errorCode , ERROR_MESSAGE() msg , null id
	RETURN
END CATCH
GO
