USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[ProcApprisalWeight]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[ProcApprisalWeight]
@POSITION_ID varchar(50)

as

if exists (select top(1)* from AppraisalMatrix
WHERE POSITION_ID=@POSITION_ID)
begin
	SELECT SUM(ISNULL(weightage,0)) AS WEIGHTAGE FROM AppraisalMatrix WHERE POSITION_ID=@POSITION_ID
end
else
begin
	select '0' as WEIGHTAGE;
end
GO
