USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_travelOrderReport]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[proc_travelOrderReport]
	@flag CHAR(2) = NULL
	,@branch VARCHAR(200) = NULL
	,@OrderId INT = NULL
    ,@fromDate VARCHAR(100) = NULL
    ,@toDate   VARCHAR(100) = NULL
    ,@status VARCHAR(100) = NULL
    ,@flg VARCHAR(5)= NULL
AS 

SET NOCOUNT ON 
/*
EXEC [proc_travelOrderReport] @FLAG='S', @BRANCH =1, @status='b',@fromDate = '2011-05-31',@toDate = '2011-06-30'
Exec [proc_travelOrderReport] @flag='sd',@OrderId='2'
*/


IF @flag = 's'
BEGIN 
	SELECT t.travelOrderId [Order Id], dbo.GetEmployeeFullNameOfId(t.reqBy)[Employee Name],convert(varchar,t.travelorderReqDate,107) [Request Date]
			,convert(varchar,t.fromDate,107) [From],convert(varchar,t.toDate,107) [To], t.placeOfVisit [Place],t.purposeOfVisit [Purpose],
			convert(decimal(9,2),projected,102)[Projected], CONVERT(decimal(9,2),t.advance,102) [Advance],CONVERT(decimal(9,2),Actual,102) [Actual] FROM travelOrder t 
			INNER JOIN(
			select * from(SELECT tto.travelOrderId,case isnull(flag,'') when 's' then 'Actual' when '' then 'Projected' end flag,SUM(total)Total FROM travelOrder tto WITH(NOLOCK)
			INNER JOIN travelOrderAllowance toa WITH(NOLOCK) ON tto.travelOrderId = toa.travelOrderId
			GROUP BY tto.travelOrderId,flag)x 
			PIVOT
				(
				max(Total) for flag in([Actual],[Projected])
				)as s)d on d.travelOrderId = t.travelOrderId 
			
			WHERE t.branch= @branch 
				AND status in (select case when @status = 'b' then status else @status end from travelOrder where status in ('O','S')) 
				AND reqDate BETWEEN @fromDate AND @toDate
		
END

IF @flag = 'd'
BEGIN
	SELECT travelOrderId,dbo.GetBranchName(branch)[Branch],dbo.GetDeptName(dept) [dept], dbo.GetEmployeeFullNameOfId(reqby)[Emp],convert(varchar,travelorderReqDate,107) travelorderReqDate
		,convert(varchar,fromDate,107)fromDate,convert(varchar,toDate,107) toDate,placeOfVisit,sdd.DETAIL_TITLE [transportation],purposeOfVisit
		,advance,dbo.GetEmployeeFullNameOfId(recommendedBy) recommendedBy,convert(varchar,recommendedDate,107)recommendedDate,recommendedRemarks
		,dbo.GetEmployeeFullNameOfId(approveByHr) approveByHr,convert(varchar,approveByHrDate,107) approveByHrDate,hrRemarks,
		dbo.GetEmployeeFullNameOfId(finalApproveBy) finalApproveBy,convert(varchar,finalApproveByDate,107)finalApproveByDate,finalRemarks FROM travelOrder t
		INNER JOIN StaticDataDetail sdd on sdd.ROWID = t.transportation
	WHERE t.travelOrderId = @OrderId 

	SELECT sdd1.DETAIL_TITLE [Allowance],toa.days, perDays[Rate], total [Total] FROM travelOrderAllowance toa
	INNER JOIN StaticDataDetail sdd1 on sdd1.ROWID = toa.allowanceType
	WHERE toa.travelOrderId = @OrderId and toa.flag IS NULL
END

IF @flag='sd'
BEGIN
	
	
	SELECT dbo.GetBranchName(t.branch)[Branch],dbo.GetDeptName(t.dept)[Dept],t.advance,t.purposeOfVisit,t.placeOfVisit,sdd.DETAIL_TITLE [transportation],dbo.GetEmployeeFullNameOfId(tos.reqBy)[ReqBy],convert(varchar,tos.travelSettleReqDate,107) [ReqDate]
		,convert(varchar,tos.settlementfromDate,107)[fromDate],convert(varchar,tos.settlementtoDate,107)[toDate],dbo.GetEmployeeFullNameOfId(tos.recommendedBy)[RecoBy],convert(varchar,tos.recommendedDate,107)[RecoDate],tos.recommendedRemarks
		,dbo.GetEmployeeFullNameOfId(tos.approveToVerify)[VerifyBy],convert(varchar,tos.approveToVerifyDate,107)[VerifyDate],tos.verifyRemarks
		,dbo.GetEmployeeFullNameOfId(tos.finalApproveBy)[ApproveBy],convert(varchar,tos.finalApproveByDate,107)[ApproveDate],tos.finalRemarks,x.Total FROM travelOrderSettlement tos
		inner join travelOrder t on t.travelOrderId = tos.travelOrderId
		INNER JOIN(SELECT tto.travelOrderId,SUM(total)Total FROM travelOrder tto WITH(NOLOCK)
		INNER JOIN travelOrderAllowance toa WITH(NOLOCK) ON tto.travelOrderId = toa.travelOrderId
		GROUP BY tto.travelOrderId) x 
		ON x.travelOrderId = t.travelOrderId 
		INNER JOIN StaticDataDetail sdd on sdd.ROWID = t.transportation
	where tos.travelOrderId = @OrderId
	
	SELECT sdd1.DETAIL_TITLE [Allowance],toa.days[Days], perDays[Rate], total [Total] FROM travelOrderAllowance toa
		INNER JOIN StaticDataDetail sdd1 on sdd1.ROWID = toa.allowanceType
	WHERE toa.travelOrderId = @OrderId and toa.flag='s'
	 
	select * from(SELECT tto.travelOrderId,flag,SUM(total)Total FROM travelOrder tto WITH(NOLOCK)
		INNER JOIN travelOrderAllowance toa WITH(NOLOCK) ON tto.travelOrderId = toa.travelOrderId
	GROUP BY tto.travelOrderId,flag)x where x.flag is null and x.travelOrderId = @OrderId 
END



/* 
select * from travelorder
select * from travelordersettlement
select * from travelorderallowance
delete travelorderallowance where traordallowanceid = 12
*/
GO
