USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_EmployeeFileUpload_delete]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[proc_EmployeeFileUpload_delete](
	@rowIds		varchar(6000)
)

as
set nocount on;
set xact_abort on;


declare @sql varchar(8000)

begin transaction
	set @sql='select cast(RowId as varchar) + ''.'' + file_type as fileName from EmployeeFileUpload where RowId in (' + @rowIds + ')'
	exec(@sql)
	set @sql='delete from EmployeeFileUpload where RowId in (' + @rowIds + ')'
	exec(@sql)
commit transaction
GO
