USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_getmonth_year]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[proc_getmonth_year]
(
@flag char(1)= null
)

as 
set nocount on;

If @flag = 'y' 
BEGIN
	select nplYear from Fiscal_Month
END

IF @flag = 'm'
BEGIN
	select Name,Id from MonthList order by Month_Number
END

IF @flag = 'f'
BEGIN
	select FISCAL_YEAR_NEPALI,FISCAL_YEAR_ID from FiscalYear order by FISCAL_YEAR_ID
END
GO
