USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_gratuity]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[proc_gratuity]
		 @flag		CHAR(3)
		,@id		INT				= null
		,@fromYear	FLOAT			= NULL
		,@toYear	FLOAT			= NULL
		,@rate		FLOAT			= null
		,@rateOn	VARCHAR(100)	= NULL
		,@user		VARCHAR(50)		= NULL

AS 
SET NOCOUNT ON;

BEGIN TRY

	IF @flag = 'i'
    BEGIN
    
    IF EXISTS(SELECT * FROM GratuitySetup WHERE (start_year = @fromYear AND end_year = @toYear AND rate=@rate AND rate_on=@rateOn) OR (@toYear < @fromYear) OR (@fromYear BETWEEN start_year AND end_year) OR (@toYear BETWEEN start_year AND end_year))
    BEGIN
      
      SELECT '1' error_code, 'Value already assign! OR Invalid data!' msg 
      RETURN
    
    END
    
    INSERT INTO GratuitySetup (
							 start_year
							,end_year
							,rate
							,rate_on
							,created_by
							,created_date
							)
				SELECT     @fromYear
						  ,@toYear
						  ,@rate
						  ,@rateOn
						  ,@user
						  ,GETDATE()
			SELECT '0' error_code, 'Data Saved Successfully' msg 
    END

END TRY

BEGIN CATCH
	 IF @@TRANCOUNT > 0
	 ROLLBACK TRANSACTION
	 
	 SELECT '1' ERROR_CODE , ERROR_MESSAGE() MSG , @id ID  

END CATCH
GO
