USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[ProcLeaveSummaryRecords]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[ProcLeaveSummaryRecords]  
	 @branch_id			INT		= NULL
	,@department_id		INT		= NULL
	,@Employee_id		INT		= NULL
	,@fromDate			DATE
	,@toDate			DATE
  
AS  
  
SET NOCOUNT ON
DECLARE
	 @sql VARCHAR(MAX)
	,@fields VARCHAR(MAX)
	,@fields_NoNull VARCHAR(MAX) 
	
DECLARE @defaultYrFirstDay varchar(20)
select @defaultYrFirstDay=engDateBaisakh from Fiscal_Month where DefaultYr = 'Y'
set @defaultYrFirstDay=@defaultYrFirstDay+' 00:00'

DECLARE @leaveMain TABLE(EMPLOYEE_ID INT, LEAVE_TYPE_ID INT, A_Earned REAL, B_Used REAL, C_Balance REAL)
IF OBJECT_ID('tempdb..#leaveDetails') IS NOT NULL
	DROP TABLE #leaveDetails


	CREATE TABLE #leaveDetails (LEAVE_ID INT,EMPLOYEE_ID INT, NAME_OF_LEAVE VARCHAR(50), pivotField VARCHAR(250), Field VARCHAR(50), Data REAL)
	
IF DATEDIFF(DAY,@fromDate,@defaultYrFirstDay)<=0 AND DATEDIFF(DAY,@fromDate,@defaultYrFirstDay)<=0
BEGIN

	INSERT @leaveMain(EMPLOYEE_ID, LEAVE_TYPE_ID, A_Earned, B_Used, C_Balance)
	SELECT
		la.EMPLOYEE_ID
		,lt.ID
		,ISNULL(la.NO_OF_DAYS_ACTUAL, 0)+ISNULL(la.LAST_YEAR_LEAVE,0) Earned
		,ISNULL(lr.APPROVED_DAYS, 0) Used
		,ISNULL(la.NO_OF_DAYS_ACTUAL, 0)+ISNULL(la.LAST_YEAR_LEAVE,0) - ISNULL(lr.APPROVED_DAYS, 0) Balance
	FROM LeaveTypes lt WITH(NOLOCK)
	LEFT JOIN leaveAssignment la WITH(NOLOCK) ON la.LEAVE_TYPE_ID = lt.ID AND lt.IS_ACTIVE = 1
	INNER JOIN Employee e WITH(NOLOCK) ON la.EMPLOYEE_ID = e.EMPLOYEE_ID AND e.EMP_STATUS = '458' AND e.EMPLOYEE_ID <> '1000'
	INNER JOIN Departments d WITH(NOLOCK) ON e.DEPARTMENT_ID = d.DEPARTMENT_ID
	INNER JOIN Branches b WITH(NOLOCK) ON e.BRANCH_ID = b.BRANCH_ID

	LEFT JOIN (
				select EMPLOYEE_ID,LEAVE_TYPE_ID,SUM(APPROVED_DAYS)APPROVED_DAYS from
					( SELECT
							lr.REQUESTED_BY EMPLOYEE_ID
							,lr.LEAVE_TYPE_ID
							,SUM(isnull(lr.APPROVED_DAYS,0))--+isnull(lr.APPROVED_HOUR,0)/8)
							-isnull((select SUM(isnull(CALL_BACK_DAYS,0)) from LeaveCallBack where LEAVE_REQUEST_ID=lr.ID),0) 
							APPROVED_DAYS
							FROM LeaveRequest lr WITH(NOLOCK)
							WHERE lr.APRPROVED_DATE IS NOT NULL AND lr.APPROVED_TO BETWEEN @fromDate AND @toDate
							GROUP BY lr.REQUESTED_BY, lr.LEAVE_TYPE_ID
							,lr.ID
					)T 
				GROUP BY EMPLOYEE_ID, LEAVE_TYPE_ID
	) lr ON lr.EMPLOYEE_ID = la.EMPLOYEE_ID AND lr.LEAVE_TYPE_ID = la.LEAVE_TYPE_ID

	WHERE
		b.BRANCH_ID = ISNULL(@branch_id, b.BRANCH_ID)
		AND e.DEPARTMENT_ID = ISNULL(@department_id, e.DEPARTMENT_ID)
		AND la.EMPLOYEE_ID = ISNULL(@Employee_id ,e.EMPLOYEE_ID)
	order by lt.ID

	INSERT #leaveDetails(
		LEAVE_ID,
		 EMPLOYEE_ID
		,NAME_OF_LEAVE
		,Field
		,Data
	)
	SELECT 
		ID,
		 EMPLOYEE_ID
		,NAME_OF_LEAVE
		,Field
		,Data
	FROM
		(
			SELECT EMPLOYEE_ID,lt.ID, lt.NAME_OF_LEAVE, A_Earned, B_Used, C_Balance 
			FROM @leaveMain lm
			INNER JOIN LeaveTypes lt WITH(NOLOCK) ON lm.LEAVE_TYPE_ID = lt.ID
			
		) p
		UNPIVOT (
			Data FOR Field IN(A_Earned, B_Used, C_Balance)
		)AS unPVT
		ORDER BY ID
		
	UPDATE #leaveDetails SET
	pivotField = NAME_OF_LEAVE + '_' + Field
	
		--SELECT * FROM #leaveDetails


	SELECT
		 @fields = ISNULL(@fields + ',', '') + CHAR(13) + '[' + pivotField + ']'
		,@fields_NoNull = ISNULL(@fields_NoNull + ',', '') + CHAR(13) + 'ISNULL([' + pivotField + '], 0) [' + pivotField + ']'
	FROM
		(
			SELECT DISTINCT
				ld.pivotField,ld.LEAVE_ID
			FROM #leaveDetails ld
		) pivotField
		ORDER BY LEAVE_ID, pivotField

	SET @sql = 'SELECT * FROM ( SELECT
					 EMPLOYEE_ID
					,Name
					,' + @fields_NoNull + '
				FROM (
						SELECT
							e.EMPLOYEE_ID
							,REPLACE(ISNULL(e.first_name, '''') + '' '' + ISNULL(e.middle_name, '''') + '' '' + ISNULL(e.last_name, ''''), '' '', '' '') [Name]
							,pivotField, Data 
						FROM #leaveDetails ld
						INNER JOIN Employee e WITH(NOLOCK) ON e.EMPLOYEE_ID = ld.EMPLOYEE_ID
				) p

				PIVOT (
					MAX([Data]) FOR pivotField IN( ' + @fields + ' )
				)AS pvt) x ORDER BY x.Name ASC'

		SELECT DISTINCT
			ld.NAME_OF_LEAVE,ld.LEAVE_ID
		FROM #leaveDetails ld
		ORDER BY ld.LEAVE_ID
		

	PRINT @sql
	EXEC(@sql)

END

ELSE
BEGIN
	INSERT @leaveMain(EMPLOYEE_ID, LEAVE_TYPE_ID, A_Earned, B_Used, C_Balance)
	SELECT
		la.EMPLOYEE_ID
		,lt.ID
		,ISNULL(la.NO_OF_DAYS_ACTUAL, 0)+ISNULL(la.LAST_YEAR_LEAVE,0) Earned
		,ISNULL(lr.APPROVED_DAYS, 0) Used
		,ISNULL(la.NO_OF_DAYS_ACTUAL, 0)+ISNULL(la.LAST_YEAR_LEAVE,0) - ISNULL(lr.APPROVED_DAYS, 0) Balance
	FROM LeaveTypes lt WITH(NOLOCK)
	LEFT JOIN leaveAssignmentHistory la WITH(NOLOCK) ON la.LEAVE_TYPE_ID = lt.ID AND lt.IS_ACTIVE = 1
	INNER JOIN Employee e WITH(NOLOCK) ON la.EMPLOYEE_ID = e.EMPLOYEE_ID AND e.EMP_STATUS = '458' AND e.EMPLOYEE_ID <> '1000'
	INNER JOIN Departments d WITH(NOLOCK) ON e.DEPARTMENT_ID = d.DEPARTMENT_ID
	INNER JOIN Branches b WITH(NOLOCK) ON e.BRANCH_ID = b.BRANCH_ID

	LEFT JOIN (
				select EMPLOYEE_ID,LEAVE_TYPE_ID,SUM(APPROVED_DAYS)APPROVED_DAYS from
					( SELECT
							lr.REQUESTED_BY EMPLOYEE_ID
							,lr.LEAVE_TYPE_ID
							,SUM(isnull(lr.APPROVED_DAYS,0))--+isnull(lr.APPROVED_HOUR,0)/8)
							-isnull((select SUM(isnull(CALL_BACK_DAYS,0)) from LeaveCallBack where LEAVE_REQUEST_ID=lr.ID),0) 
							APPROVED_DAYS
							FROM LeaveRequestHistory lr WITH(NOLOCK)
							WHERE lr.APRPROVED_DATE IS NOT NULL AND lr.APPROVED_TO BETWEEN @fromDate AND @toDate
							GROUP BY lr.REQUESTED_BY, lr.LEAVE_TYPE_ID
							,lr.ID
					)T 
				GROUP BY EMPLOYEE_ID, LEAVE_TYPE_ID
	) lr ON lr.EMPLOYEE_ID = la.EMPLOYEE_ID AND lr.LEAVE_TYPE_ID = la.LEAVE_TYPE_ID

	WHERE
		b.BRANCH_ID = ISNULL(@branch_id, b.BRANCH_ID)
		AND e.DEPARTMENT_ID = ISNULL(@department_id, e.DEPARTMENT_ID)
		AND e.EMPLOYEE_ID = ISNULL(@Employee_id ,e.EMPLOYEE_ID)
	order by lt.ID

	INSERT #leaveDetails(
	LEAVE_ID,
		 EMPLOYEE_ID
		,NAME_OF_LEAVE
		,Field
		,Data
	)
	SELECT
		ID
		,EMPLOYEE_ID
		,NAME_OF_LEAVE
		,Field
		,Data
	FROM
		(
			SELECT EMPLOYEE_ID,LT.ID, lt.NAME_OF_LEAVE, A_Earned, B_Used, C_Balance FROM @leaveMain lm
			INNER JOIN LeaveTypes lt WITH(NOLOCK) ON lm.LEAVE_TYPE_ID = lt.ID
		) p
		UNPIVOT (
			Data FOR Field IN(A_Earned, B_Used, C_Balance)
		)AS unPVT
		ORDER BY ID
		
	UPDATE #leaveDetails SET
	pivotField = NAME_OF_LEAVE + '_' + Field


	SELECT
		 @fields = ISNULL(@fields + ',', '') + CHAR(13) + '[' + pivotField + ']'
		,@fields_NoNull = ISNULL(@fields_NoNull + ',', '') + CHAR(13) + 'ISNULL([' + pivotField + '], 0) [' + pivotField + ']'
	FROM
		(
			SELECT DISTINCT
				ld.pivotField, ld.LEAVE_ID
			FROM #leaveDetails ld
			
		) pivotField
		ORDER BY LEAVE_ID

	SET @sql = 'SELECT * FROM ( SELECT
					 EMPLOYEE_ID
					,Name
					,' + @fields_NoNull + '
				FROM (
						SELECT
							e.EMPLOYEE_ID
							,REPLACE(ISNULL(e.first_name, '''') + '' '' + ISNULL(e.middle_name, '''') + '' '' + ISNULL(e.last_name, ''''), '' '', '' '') [Name]
							,pivotField, Data 
						FROM #leaveDetails ld
						INNER JOIN Employee e WITH(NOLOCK) ON e.EMPLOYEE_ID = ld.EMPLOYEE_ID
				) p

				PIVOT (
					MAX([Data]) FOR pivotField IN( ' + @fields + ' )
				)AS pvt) x ORDER BY x.Name ASC'

		SELECT DISTINCT
			ld.NAME_OF_LEAVE,ld.LEAVE_ID
		FROM #leaveDetails ld
		ORDER BY ld.LEAVE_ID

	PRINT @sql
	EXEC(@sql)

END
GO
