
/*
EXEC procEmployeePromotion @flag = 'i', @user = '1000', @id='0', @emp_id='1315'
, @promote_Post='788', @promotion_date='1/1/2017', @ApplyOn='1/1/2017'
, @salary_setID='8', @salaryBasic=null, @grade_Id=null, @session_id='j5mo2hz43tr35oioguvdzrff'

select * from promotion where emp_id='1315'

delete  from promotion where emp_id='1315'


select dbo.getdetailtitle(position_id) from employee where employee_id='1315'
						
*/
--EXEC [procEmployeePromotion] @FLAG='NEW_SAL',@salary_setID='8',@emp_id='1342'
Alter Proc [dbo].[procEmployeePromotion]    
			@flag varchar(50),
			@id bigint = null,    
			@emp_id varchar(50) = null,    
			@ApplyOn date=null,
			@promotion_date date= null,
			@promote_Post varchar(50)=null,
			@Current_Supervisor_Type varchar(100) = null , 
			@Current_Supervisor varchar(100) = null , 
			@New_Supervisor_type varchar(100) = null , 
			@New_Supervisor varchar(100) = null , 
			@session_id varchar(100) = null  ,
			@salary_setID int=null, 
			@grade_Id INT =NULL,
			@salaryBasic money=null,
			@user varchar(100)= null,
			@promotion_type	varchar(10) = null  
AS    
SET NOCOUNT ON;   
SET XACT_ABORT ON   

BEGIN TRY
	DECLARE @CURRENT_DATE AS DATE=GETDATE(),@branch_id AS INT,@dept_id AS INT,@subdept AS INT,@current_post AS INT,@rowid AS INT,@OLD_SAL AS MONEY,@NEW_SAL AS MONEY
	DECLARE @GRADE_YEAR AS INT,@INT AS INT,@GRADE_AMT AS MONEY,@NEW_BASIC AS MONEY,@SAL_EXCEPT_BASIC AS MONEY,@EMP_TYPE AS INT
	
	IF @flag='OLD_SAL'
	BEGIN
		select 'Salary Set' as head ,dbo.GetDetailTitle(Salary_Title) data from Employee where EMPLOYEE_ID=@emp_id
		union all
		select 'Grade Year' as head ,cast(Grade as varchar) from Employee where EMPLOYEE_ID=@emp_id
		union all
		select Dbo.GetDetailTitle(BENEFIT_ID) head,cast(AMOUNT as varchar) AMOUNT from Payable where EMPLOYEE_ID=@emp_id and is_Active='Y'
		union all
		select 'Total' head,cast(sum(AMOUNT) as varchar) AMOUNT from Payable where EMPLOYEE_ID=@emp_id and is_Active='Y'
	END

	IF @flag='NEW_SAL'
	BEGIN


		SELECT @OLD_SAL=SUM(AMOUNT) FROM Payable WHERE EMPLOYEE_ID=@emp_id and is_Active='Y' AND BENEFIT_ID=390
		SELECT @NEW_SAL=SUM(payableValue) FROM salarySetDetails WHERE salarySetMasterId=@salary_setID AND payableHead=390
		SELECT @SAL_EXCEPT_BASIC=SUM(payableValue) FROM salarySetDetails WHERE salarySetMasterId=@salary_setID AND payableHead<>390	

		IF @OLD_SAL>=@NEW_SAL
		BEGIN
			
				SET @INT=1			
				WHILE (@OLD_SAL>=@NEW_SAL AND 20>@INT)
				BEGIN			
					SET @INT=@INT+1		
					SELECT @GRADE_AMT=Amount FROM Grade_Setup WHERE Grade=@INT AND Salary_set_id=@salary_setID
					SET @NEW_SAL=@NEW_SAL+@GRADE_AMT
				END

				-- INCREMENTED BY 1 GRADE 
				SET @INT=@INT+1
				SELECT @GRADE_AMT=Amount FROM Grade_Setup WHERE Grade=@INT AND Salary_set_id=@salary_setID
				SET @NEW_SAL=@NEW_SAL+@GRADE_AMT
				
				--SET @NEW_BASIC=@NEW_SAL-@SAL_EXCEPT_BASIC
				
				SELECT 'Grade Year' HEAD,CAST(@INT AS VARCHAR) VALUE
				UNION ALL
				SELECT 'Basic Salary',CAST(@NEW_SAL AS VARCHAR)
				UNION ALL
				SELECT Dbo.GetDetailTitle(payableHead),CAST(payableValue AS VARCHAR) 
				FROM salarySetDetails WHERE salarySetMasterId=@salary_setID AND payableHead<>390 
				UNION ALL
				SELECT 'Total' HEAD,cast(@NEW_SAL+@SAL_EXCEPT_BASIC as varchar) VALUE 
			
		END
		ELSE
		BEGIN
				SELECT 'Grade Year' AS HEAD ,'1' VALUE
				UNION ALL
				SELECT Dbo.GetDetailTitle(payableHead),CAST(payableValue AS VARCHAR) 
				FROM salarySetDetails WHERE salarySetMasterId=@salary_setID 
				UNION ALL
				SELECT 'Total',CAST(SUM(payableValue) AS VARCHAR) 
				FROM salarySetDetails WHERE salarySetMasterId=@salary_setID 
			
		END
	END

	IF @flag='i'    
	BEGIN   
 
					SELECT @branch_id=BRANCH_ID,@dept_id=DEPARTMENT_ID,@subdept=SUB_DEPARTMENT,@current_post=POSITION_ID,@EMP_TYPE=EMP_TYPE
					FROM Employee WHERE EMPLOYEE_ID=@emp_id
					---### INSERTING INTO PROMOTION TABLE
					INSERT INTO promotion 
										(    EMP_ID
											,POSITION_ID
											,PROMOTION_DATE
											,OLD_POSITION
											,BRANCH_ID
											,DETP_ID
											,SUB_DEPT
											,CREATED_DATE
											,CREATED_BY
											,emp_type
											,salarySetMasterId
											,ApplyOn
										)     
							SELECT @emp_id
									,@promote_Post
									,@promotion_date
									,@current_post
									,@branch_id
									,@dept_id
									,@subdept
									,GETDATE()
									,@user
									,@EMP_TYPE
									,@salary_setID
									,@ApplyOn 

					SET @rowid = @@IDENTITY    
					
					---### IF EFFECTIVE DATE(PROMOTED DATE) IS EQUAL TO CURRENT DATE OR LESS THAN GETDATE()
					IF CONVERT(VARCHAR(20), cast(@promotion_date as DATE), 102) <= CONVERT(VARCHAR(20), @CURRENT_DATE, 102)
					BEGIN    

						---### Updating Employee position,last promotion and salary set
						UPDATE Employee 
							SET POSITION_ID=@promote_Post, Salary_Title=@salary_setID, LASTPROMOTED=@promotion_date 
						WHERE EMPLOYEE_ID=@emp_id   
						
						
						
						
						---### Diactivate Existing Supervisor			      

						update SuperVisroAssignment set record_status='n' from SuperVisroAssignment a,
						(
							SELECT a.empId,a.Current_Supervisor,a.Current_Supervisor_Type,c.EMP,c.SUPERVISOR,c.SUPERVISOR_TYPE
							FROM transfer_supervisor a 
								inner join SuperVisroAssignment c on c.SUPERVISOR=a.Current_Supervisor
								and c.SUPERVISOR_TYPE=a.Current_Supervisor_Type and record_status='y' 
								WHERE a.session_id = @session_id  AND a.empId = @emp_id AND a.Transfer_Type = 'p'
											
						 )b where a.SUPERVISOR=b.Current_Supervisor and a.SUPERVISOR_TYPE=b.Current_Supervisor_Type	AND A.EMP=B.EMP
					       
						---### Inserting new supervisor  
						INSERT INTO SuperVisroAssignment(  
										  BRANCH  
										 ,DEPT  
										 ,EMP  
										 ,SUPERVISOR  
										 ,SUPERVISOR_TYPE  
										 ,CREATED_BY  
										 ,CREATED_DATE  
										 ,record_status
										 ,POSITION
														) 
						SELECT  ep.BRANCH_ID 
							,ep.DEPARTMENT_ID  
							,ts.empId  
							,ts.New_Supervisor  
							,ts.New_Supervisor_type  
							,@user  
							,GETDATE()  
							,'y'  
							,ep.POSITION_ID 
						FROM  transfer_supervisor ts
						INNER JOIN Employee ep ON ep.EMPLOYEE_ID = ts.empId  
						WHERE ts.session_id = @session_id  AND empId = @emp_id AND ts.Transfer_Type ='p'  

						---### Updating Promotion record is executed         
						UPDATE Promotion SET  UPDATE_FLAG='Y', UPDATE_DATE=GETDATE()  WHERE ROWID=@rowid 
						
						UPDATE transfer_supervisor SET  Transfer_ID = @rowid ,session_id = NULL,F_EXEC='Y',F_EXEC_DATE=GETDATE() 
							WHERE session_id = @session_id  AND empId = @emp_id AND Transfer_Type = 'p' 
						
						end
											
		declare @LASTPROMOTED date
		SELECT TOP 1 @LASTPROMOTED= convert(varchar,cast(PROMOTION_DATE as date),101) FROM Promotion WHERE EMP_ID=@emp_id ORDER BY PROMOTION_DATE DESC 
								
		IF EXISTS(
				select 'X' from Promotion P
				inner join
				(
					select 
						a.employee_id,ac.incrementEffectedOn,ac.soleComment from appraisal a
					inner join appraisalComments ac on a.ID=ac.appraisalId
					where ratertypeflag='h' and flag='f' and a.employee_id=@emp_id
				)app on p.EMP_ID=app.employee_id
				where p.ROWID=@rowid
				and DATEDIFF(mm,app.incrementEffectedOn, @LASTPROMOTED) > 6
				)
				BEGIN

						
						---### EXECUTING SALARY UPDATES INCLUDING SALARY SET & GRADE SET	
						IF @salary_setID IS NOT NULL 
						BEGIN  
								SELECT @OLD_SAL=SUM(AMOUNT) FROM Payable WHERE EMPLOYEE_ID=@emp_id and is_Active='Y' and BENEFIT_ID=390
								SELECT @NEW_SAL=SUM(payableValue) FROM salarySetDetails WHERE salarySetMasterId=@salary_setID and payableHead=390
								
								SELECT @SAL_EXCEPT_BASIC=SUM(payableValue) 
								FROM salarySetDetails WHERE salarySetMasterId=@salary_setID AND payableHead<>390


								IF @OLD_SAL>@NEW_SAL --new basic
								BEGIN
									SET @INT=1			
									WHILE (@OLD_SAL>@NEW_SAL AND 20>@INT)
									BEGIN			
										SET @INT=@INT+1		
										SELECT @GRADE_AMT=Amount FROM Grade_Setup WHERE Grade=@INT AND Salary_set_id=@salary_setID
										SET @NEW_SAL=@NEW_SAL+@GRADE_AMT
									END

									-- INCREMENTED BY 1 GRADE 
									SET @INT=@INT+1
									SELECT @GRADE_AMT=Amount FROM Grade_Setup WHERE Grade=@INT AND Salary_set_id=@salary_setID
									SET @NEW_SAL=@NEW_SAL+@GRADE_AMT										
									

									SET @NEW_BASIC=@NEW_SAL
									
									UPDATE Payable SET effective_upto=PAID_UPTO,IS_ACTIVE='N' FROM Payable WHERE
									EMPLOYEE_ID=@emp_id AND IS_ACTIVE='Y'
									
									
									--### INSERT INTO PAYABLE TABLE NEW SALARY SET WITH GRADE 
									INSERT INTO Payable(EMPLOYEE_ID,BENEFIT_ID,AMOUNT,EFFECTIVE_FROM,APPLY_FROM,SET_ID,
									BRANCH_ID,DEPT_ID,POSITION_ID,CREATED_BY,CREATED_DATE,effective_upto,is_Active)
									
									SELECT @emp_id,payableHead,payableValue,@promotion_date,@ApplyOn,@salary_setID,@branch_id,@dept_id,@current_post,
									@user,GETDATE(),'2999-08-16','Y' FROM
									(							
										SELECT '390' payableHead ,@NEW_BASIC payableValue
										UNION ALL
										SELECT payableHead,payableValue
										FROM salarySetDetails WHERE salarySetMasterId=@salary_setID AND payableHead<>390 
									)A		
									
									UPDATE Employee SET GRADE=@INT WHERE EMPLOYEE_ID=@emp_id							
					
								END
								ELSE IF @OLD_SAL=@NEW_SAL --new basic
								BEGIN
									SET @INT=1	
									SELECT @GRADE_AMT=Amount FROM Grade_Setup WHERE Grade=@INT AND Salary_set_id=@salary_setID
									SET @NEW_SAL=@NEW_SAL+@GRADE_AMT
									

									
									set @INT=@INT+1
									SELECT @GRADE_AMT=Amount FROM Grade_Setup WHERE Grade=@INT AND Salary_set_id=@salary_setID
									set @NEW_SAL=@NEW_SAL+@GRADE_AMT										
									

									SET @NEW_BASIC=@NEW_SAL
									
									UPDATE Payable SET effective_upto=PAID_UPTO,IS_ACTIVE='N' FROM Payable WHERE
									EMPLOYEE_ID=@emp_id AND IS_ACTIVE='Y'
									
									
									--### INSERT INTO PAYABLE TABLE NEW SALARY SET WITH GRADE 
									INSERT INTO Payable(EMPLOYEE_ID,BENEFIT_ID,AMOUNT,EFFECTIVE_FROM,APPLY_FROM,SET_ID,
									BRANCH_ID,DEPT_ID,POSITION_ID,CREATED_BY,CREATED_DATE,effective_upto,is_Active)
									
									SELECT @emp_id,payableHead,payableValue,@promotion_date,@ApplyOn,@salary_setID,@branch_id,@dept_id,@current_post,
									@user,GETDATE(),'2999-07-16','Y' FROM
									(							
										SELECT '390' payableHead ,@NEW_BASIC payableValue
										UNION ALL
										SELECT payableHead,payableValue
										FROM salarySetDetails WHERE salarySetMasterId=@salary_setID AND payableHead<>390 
									)A		
									
									UPDATE Employee SET GRADE=@INT WHERE EMPLOYEE_ID=@emp_id							
					
								END
								ELSE
								BEGIN
										UPDATE Payable SET effective_upto=PAID_UPTO,IS_ACTIVE='N' FROM Payable WHERE
										EMPLOYEE_ID=@emp_id AND IS_ACTIVE='Y'
									
										--### INSERT INTO PAYABLE TABLE NEW SALARY SET WITH GRADE 
										INSERT INTO Payable(EMPLOYEE_ID,BENEFIT_ID,AMOUNT,EFFECTIVE_FROM,APPLY_FROM,SET_ID,
										BRANCH_ID,DEPT_ID,POSITION_ID,CREATED_BY,CREATED_DATE,effective_upto,is_Active)
										
										SELECT @emp_id,payableHead,payableValue,@promotion_date,@ApplyOn,@salary_setID,@branch_id,@dept_id,@current_post,
										@user,GETDATE(),'2999-07-16','Y' 
										FROM salarySetDetails WHERE salarySetMasterId=@salary_setID 
										
										UPDATE 	EMPLOYEE SET GRADE='1' WHERE EMPLOYEE_ID=@emp_id

								END
						END	   
					END      
				 
				           
				  UPDATE transfer_supervisor SET  Transfer_ID = @rowid ,session_id = NULL
				  WHERE session_id = @session_id  AND empId = @emp_id AND Transfer_Type = 'p' 
				  
				
			EXEC proc_errorHandler 0, 'PROMOTION HAS BEEN DONE SUCCESSFULLY!', @emp_id
			
			--EXEC proc_errorHandler 1, 'Ooops.., Error Occurs', @emp_id
	 END    
     
	 IF @flag='u'  --UPDATATING PROMOTION   
	 BEGIN  
	     
		 UPDATE promotion SET     
			  POSITION_ID = @promote_Post,    
			  PROMOTION_DATE = @promotion_date,
			  MODIFIED_BY = @user,    
			  MODIFIED_DATE = GETDATE()     
			WHERE rowid = @id    
    
     
       
		IF CONVERT(VARCHAR(20), cast(@promotion_date as DATE), 102)  = CONVERT(VARCHAR(20),@CURRENT_DATE, 102)   
		BEGIN    
	       
			---### Diactivate Existing Supervisor
			UPDATE  SuperVisroAssignment  SET record_status =  'n'  
				FROM SuperVisroAssignment s   
			INNER JOIN transfer_supervisor t ON  s.EMP = t.empId AND s.SUPERVISOR_TYPE = t.New_Supervisor_type  
			WHERE s.record_status = 'y' and t.Transfer_ID = @id  


			---### INSERTING INTO SUPERVSOR PROGRAM  
			INSERT INTO SuperVisroAssignment(  
				  BRANCH  
				 ,DEPT  
				 ,EMP  
				 ,SUPERVISOR  
				 ,SUPERVISOR_TYPE  
				 ,CREATED_BY  
				 ,CREATED_DATE  
				 ,record_status 
				 ,POSITION
			)  
			SELECT  
				 ep.BRANCH_ID  
				,ep.DEPARTMENT_ID  
				,p.EMP_ID  
				,ts.New_Supervisor  
				,ts.New_Supervisor_type  
				,@user  
				,GETDATE()  
				,'y'
				,ep.POSITION_ID
			FROM Promotion p  
			INNER JOIN transfer_supervisor ts   
			ON p.ROWID = ts.Transfer_ID AND p.EMP_ID = ts.empId  
			INNER JOIN Employee ep on ep.EMPLOYEE_ID = p.EMP_ID  
			WHERE ts.Transfer_ID=@id AND empId = @emp_id AND ts.Transfer_Type ='p'  
	   
			---### UPDATING EMPLOYEE PROFILE
			UPDATE Employee  SET POSITION_ID=@promote_Post    
			WHERE EMPLOYEE_ID=@emp_id     
			
			---### UPDATING PROMOTION RECORDS
			UPDATE Promotion SET  UPDATE_FLAG='Y',UPDATE_DATE=GETDATE()    
			WHERE ROWID=@id 
			
			UPDATE transfer_supervisor SET  Transfer_ID = @id ,session_id = NULL,F_EXEC='Y',F_EXEC_DATE=GETDATE() 
			WHERE session_id = @session_id  AND empId = @emp_id AND Transfer_Type = 'p' 
			
			IF @salary_setID IS NOT NULL OR @grade_Id IS NOT NULL
			BEGIN  
				EXEC [procPromotionPayable] @promotion_date,@salary_setId ,@grade_Id,@promote_Post,@emp_id,@user 
			END			   
		END      
	END    
   
	IF @flag ='a'  
	BEGIN  
	     
		IF EXISTS(SELECT 'X' FROM transfer_supervisor where Transfer_Type = 'P'
		and session_id = @session_id and New_Supervisor = @New_Supervisor and New_Supervisor_type=@New_Supervisor_type)  
		BEGIN  
			EXEC proc_errorHandler 1, 'You cannot add multiple supervisor on same supervisor type!', @emp_id
			RETURN  
		END  
	       
		  INSERT INTO transfer_supervisor(  
	            
			   Transfer_ID    
			  ,Transfer_Type  
			  ,Current_Supervisor_Type  
			  ,Current_Supervisor  
			  ,New_Supervisor_type  
			  ,New_Supervisor  
			  ,session_id  
			  ,empId  
	        
			   )  
			SELECT   
				 @id  
				,'P'  
				,@Current_Supervisor_Type  
				,@Current_Supervisor  
				,@New_Supervisor_type  
				,@New_Supervisor  
				,@session_id  
				,@emp_id 
		EXEC proc_errorHandler 0, 'Successfully Added!', @emp_id
	  END  
	    
	 IF @flag ='au'  
	BEGIN     
	        
		  IF EXISTS(SELECT 'X' FROM transfer_supervisor where Transfer_Type = 'P' and Transfer_ID = @id 
				and New_Supervisor = @New_Supervisor and New_Supervisor_type=@New_Supervisor_type)  
		  BEGIN  
				EXEC proc_errorHandler 1, 'You cannot add multiple supervisor on same supervisor type!', @emp_id
				RETURN  
		    
		  END  
		  INSERT INTO transfer_supervisor(  
				            
										   Transfer_ID    
										  ,Transfer_Type  
										  ,Current_Supervisor_Type  
										  ,Current_Supervisor  
										  ,New_Supervisor_type  
										  ,New_Supervisor  
										  ,empId         
										)  
			SELECT   
				 @id  
				,'P'  
				,@Current_Supervisor_Type  
				,@Current_Supervisor_Type  
				,@New_Supervisor_type  
				,@New_Supervisor  
				,@emp_id  
            
          EXEC proc_errorHandler 0, 'Successfully Added!', @emp_id
  
  END  
   
	 IF @flag = 's'  
	 BEGIN  
	  
	  SELECT   
	   RowId  
	  ,CASE Current_Supervisor_Type WHEN 'i' THEN 'Immediate' WHEN 's' THEN 'Supervisor' END [Current Supervisor Type]  
	  ,dbo.GetEmployeeFullNameOfId(Current_Supervisor) [Current Supervisor]  
	  ,CASE New_Supervisor_type WHEN 'i' THEN 'Immediate' WHEN 's' THEN 'Supervisor' END [New Supervisor Type]  
	  ,dbo.GetEmployeeFullNameOfId(New_Supervisor) [New Supervisor]   
	   FROM transfer_supervisor WHERE session_id = @session_id AND empId = @emp_id AND Transfer_Type ='p'  
	 END  
	  
	   
	 IF @flag = 'ss'  
	 BEGIN  
	  
	  SELECT   
	   RowId  
	  ,CASE Current_Supervisor_Type WHEN 'i' THEN 'Immediate' WHEN 's' THEN 'Supervisor' END [Current Supervisor Type]  
	  ,dbo.GetEmployeeFullNameOfId(Current_Supervisor) [Current Supervisor]  
	  ,CASE New_Supervisor_type WHEN 'i' THEN 'Immediate' WHEN 's' THEN 'Supervisor' END [New Supervisor Type]  
	  ,dbo.GetEmployeeFullNameOfId(New_Supervisor) [New Supervisor]   
	   FROM transfer_supervisor WHERE Transfer_ID =@id AND  Transfer_Type ='p'  
	 END  
	 
	 IF @flag='DS'
	 BEGIN
			DELETE transfer_supervisor WHERE RowId = @id
			EXEC proc_errorHandler 0, 'DELETE SUCCESSFULLY!', @id
	 END
END TRY 
BEGIN CATCH

     IF @@TRANCOUNT > 0
     ROLLBACK TRANSACTION
     DECLARE @errorMessage VARCHAR(MAX)
     SET @errorMessage = ERROR_MESSAGE()
     EXEC proc_errorHandler 1, @errorMessage, @rowId

END CATCH
GO
