USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_mdsInventoryRpt]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREate proc [dbo].[proc_mdsInventoryRpt]
	@flag varchar(50),
	@fromDate varchar(20)		= null,
	@toDate varchar(20)			= null,
	@fromBranch varchar(20)		= null,
	@toBranch varchar(10)		= null,
	@user varchar(50)			= null

AS
Declare 
	@sql varchar(max)

	if @flag = 'mds'
	begin
		set @sql ='
		select 
			[S.N.] = row_number() over(order by a.entered_date),
			[Product Code] = prod_code,
			[Product Name] = c.porduct_code,
 			[QTY] = p_qty,
			[Rate] = p_rate,
			[Amount] = isnull(p_qty,0) * isnull(p_rate,0),
			[Requested By] = dbo.GetEmployeeFullNameOfId(b.Requ_by),
			[From Branch] = dbo.GetBranchName(b.Forwarded_To),
			[To Branch] = dbo.GetBranchName(b.branch_id),
			[Dispatched By] = dbo.GetEmployeeFullNameOfId(b.Delivered_By),
			[Dispatched Date] = a.entered_date,
			[Remarks] = b.Requ_Message
		from IN_PURCHASE a  
		inner join IN_Requisition_Message b on a.req_id = b.id
		inner join in_product c on c.id = a.prod_code
		inner join Branches d on b.Forwarded_To = d.BRANCH_ID
		where req_id is not null  and a.entered_date between '''+@fromDate+''' and '''+@toDate+' 23:59:59'''

		if @fromBranch is not null
			set @sql = @sql+' and b.Forwarded_To = '''+@fromBranch+''''

		if @toBranch is not null
			set @sql = @sql+' and b.branch_id = '''+@toBranch+''''

		exec(@sql)
		EXEC proc_errorHandler '0', 'Report has been prepared successfully.', NULL
			
		
		SELECT 'Date Range', case when @fromDate is not null and @toDate is not null then @fromDate +' to '+ @toDate else ' - ' end value
		UNION ALL
		SELECT 'From Branch' head,case when @fromBranch is null then 'All' else (select branch_name from dbo.Branches with(nolock) where branch_id = @fromBranch) end VALUE
		UNION ALL
		SELECT 'To Branch' head,case when @toBranch is null then 'All' else (select item_name from asset_item with(nolock) where id = @toBranch) end VALUE
		
		SELECT 'Inventory Transfer Report - MDS' title	
		return;
	end
GO
