USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_getAppraisalReviewCommittee]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[proc_getAppraisalReviewCommittee](    
  @appraisalId  INT    
 ,@user    VARCHAR(50) = NULL    
     
)    
AS     
BEGIN    
 DECLARE @position_id INT ,@memberId varchar(10)   
 SELECT @position_id = POSITION_ID FROM appraisal WHERE ID = @appraisalId   
 SELECT @memberId =  memberType FROM appriasalReviewPosition WHERE position=@position_id  
     
   --BEGIN           
   --SELECT  DISTINCT  
   --ISNULL(ee.FIRST_NAME,' ')+ISNULL(' '+ee.MIDDLE_NAME,' ') +ISNULL(ee.LAST_NAME,' ') as name    
   -- ,convert(varchar(10),GETDATE(),101) as appDate       
   -- ,ac.soleComment AS comment      
   --   FROM   
   --appraisalComments ac WITH(NOLOCK)  
   --INNER JOIN EMPLOYEE ee on ee.EMPLOYEE_ID = ac.commentBy   
   --INNER JOIN reviewCommitteeMembers rm on ac.commentBy = rm.empId     
   --WHERE  appraisalId = @appraisalId AND comments IS NULL and raterTypeFlag='rc'      
   -- RETURN    
   --END    
     
   BEGIN  
     
    SELECT * INTO #temp FROM (  
      SELECT   
      rm.empId  
      ,rm.memberTypeId    
      FROM reviewCommitteeMembers rm WHERE memberTypeId=@memberId    
    )x   
          
    SELECT * INTO #temp1 FROM (  
     SELECT DISTINCT  
     CAST(commentDate AS DATE) AS appdate  
     ,soleComment AS comment  
     ,commentBy  
      FROM appraisalComments   
      WHERE appraisalId=@appraisalId   
      AND raterTypeFlag='rc'   
      AND comments IS NULL  AND  soleComment NOT IN ('Substandard','Acceptable','Good','Very Good','Excellent')   
    )y  
     
   SELECT   
      a.empId  
     ,b.appdate  
     ,b.comment   
     INTO #temp2 FROM #temp a   
     LEFT JOIN #temp1 b   
     ON a.empId = b.commentBy  
    
    
   SELECT   
     ISNULL(ee.FIRST_NAME,' ')+ISNULL(' '+ee.MIDDLE_NAME,' ') +ISNULL(ee.LAST_NAME,' ') AS name   
     ,c.comment AS comment  
     ,convert(varchar(10),c.appdate,101) AS appdate  
    FROM #temp2 c INNER JOIN employee ee   
    ON ee.EMPLOYEE_ID= c.empId  
     
   END  
    
 END
GO
