USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_externalTraineeAssign]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
exec [proc_externalTraineeAssign]  @flag='i',@external_training_id='2' ,@branch='1',@flagApproved='a',@employee='1102',@branch='6',
@departmant='94',@designation='163'
SELECT * FROM externalTraineeAssign

exec [proc_externalTraineeAssign] @flag='i',
@external_training_id='1',@branch='1',@departmant='1',@employee='1102',@designation='164',@user='admin'

exec [proc_externalTraineeAssign] @flag='p',@user='admin', 
@external_training_id='1',@external_assign_id_chk=1,2

*/

create proc [dbo].[proc_externalTraineeAssign](
             @flag char(1)
			,@external_assign_id  varchar(100)=null
			,@external_training_id  varchar(100)=null
			,@branch  varchar(100)=null
			,@departmant  varchar(100)=null
			,@employee  varchar(100)=null
			,@designation  varchar(100)=null
			,@external_assign_id_chk varchar(max)=null
			,@user varchar(200)=null
			,@flagApproved char(1)=null
)
AS
set nocount on;
BEGIN TRY
DECLARE @sql VARCHAR(MAX)
DECLARE @RequestSendToCoo VARCHAR(MAX)
DECLARE @programName varchar(max)
DECLARE @status varchar(max)


  IF(@flag='s')
  
  BEGIN
  
  if @flagApproved='a'
  begin
   select @status= isnull([status],0) from externalTraineeAssign where external_training_id=@external_training_id 
   and Approved_dateBy_Coo is not null
   print @status
   end 
   else if @flagApproved='z'
   begin
     select @status= isnull([status],0) from externalTraineeAssign where external_training_id=@external_training_id 
   and Approved_dateBy_Coo is not null
   end
   else
   select @status= isnull([status],0) from externalTraineeAssign where  Approved_dateBy_Coo is  null
     print @status
  

   set @sql=   'SELECT
				''<input type = "checkbox" name = "chk_traineeAssign_id" id = "chk_traineeAssign_id" value ="'' + CAST(external_assign_id AS VARCHAR(50)) + ''" />&nbsp;&nbsp;&nbsp;'' +
				+ CAST(ROW_NUMBER() OVER(ORDER BY REPLACE(ISNULL(c.first_name, '''') + '' '' + ISNULL(c.middle_name, '''') + '' '' + ISNULL(c.last_name, ''''), '' '', '' '') + ''|'' + CAST(c.EMPLOYEE_ID AS VARCHAR) ASC) as VARCHAR) [SN]
				,REPLACE(ISNULL(c.first_name, '''') + '' '' + ISNULL(c.middle_name, '''') + '' '' + ISNULL(c.last_name, ''''), '' '', '' '') [employee name],

				b.BRANCH_NAME as [Branch Name],d.DEPARTMENT_NAME as [Department Name],s.DETAIL_TITLE as Designation FROM externalTraineeAssign e
				inner join StaticDataDetail s on s.ROWID=e.designation
				inner join Branches b on b.BRANCH_ID=e.branch
				inner join Departments d on d.DEPARTMENT_ID=e.departmant
				inner join Employee c on e.employee= c.EMPLOYEE_ID

				WHERE e.[external_training_id]='''+@external_training_id+'''  and e.request_sendBy='''+@user+''' '
				
				if @status='a' and @status is not null
				set @sql=@sql +'and e.[status]=''a'''
				
				if @status='0' 
				set @sql=@sql +'and e.[status] is null'
				
				
				--print @sql
				Exec(@sql)
			
 
  END
  
   IF(@flag='a')
  
  BEGIN
  
  if @flagApproved='a'
  begin
   select @status= isnull([status],0) from externalTraineeAssign where external_training_id=@external_training_id 
   and Approved_dateBy_Coo is not null
   print @status
   end 
   else if @flagApproved='z'
   begin
     select @status= isnull([status],0) from externalTraineeAssign where external_training_id=@external_training_id 
   and Approved_dateBy_Coo is not null
   end
   else
   select @status= isnull([status],0) from externalTraineeAssign where  Approved_dateBy_Coo is  null
     print @status
  

   set @sql=   'SELECT
				''<input type = "checkbox" name = "chk_traineeAssign_id" id = "chk_traineeAssign_id" value ="'' + CAST(external_assign_id AS VARCHAR(50)) + ''" />&nbsp;&nbsp;&nbsp;'' +
				+ CAST(ROW_NUMBER() OVER(ORDER BY REPLACE(ISNULL(c.first_name, '''') + '' '' + ISNULL(c.middle_name, '''') + '' '' + ISNULL(c.last_name, ''''), '' '', '' '') + ''|'' + CAST(c.EMPLOYEE_ID AS VARCHAR) ASC) as VARCHAR) [SN]
				,REPLACE(ISNULL(c.first_name, '''') + '' '' + ISNULL(c.middle_name, '''') + '' '' + ISNULL(c.last_name, ''''), '' '', '' '') [employee name],

				b.BRANCH_NAME as [Branch Name],d.DEPARTMENT_NAME as [Department Name],s.DETAIL_TITLE as Designation FROM externalTraineeAssign e
				inner join StaticDataDetail s on s.ROWID=e.designation
				inner join Branches b on b.BRANCH_ID=e.branch
				inner join Departments d on d.DEPARTMENT_ID=e.departmant
				inner join Employee c on e.employee= c.EMPLOYEE_ID

				WHERE e.[external_training_id]='''+@external_training_id+'''   '
				
				if @status='a' and @status is not null
				set @sql=@sql +'and e.[status]=''a'''
				
				if @status='0' 
				set @sql=@sql +'and e.[status] is null'
				
				
				--print @sql
				Exec(@sql)
			
	
  
  
  END



  ELSE IF(@flag='i')
  BEGIN
	select @programName=Program_Name from externalTrainingInfo where external_traingin_id=@external_training_id
		if exists (select e.[Program_Name] from externalTrainingInfo e 
		inner join externalTraineeAssign a on e.external_traingin_id=a.external_training_id 
		where e.[Program_Name]=@programName and external_traingin_id=@external_training_id 
		and a.employee=@employee)
		
	    BEGIN 
		SELECT  
		   'Already Assign Trainee'   msg
		 RETURN;
		END
		
		BEGIN
        
        
     SELECT 
		@RequestSendToCoo=request_sendDate_Coo 
		from externalTrainingInfo 
		where  external_traingin_id=@external_training_id

		if @RequestSendToCoo is  null 
			UPDATE externalTrainingInfo 
				SET request_sendDate_Coo=GETDATE()
				,request_sendBy=@user 
				where external_traingin_id=@external_training_id
		   
		   
  
	INSERT INTO externalTraineeAssign(

		   [external_training_id]
		  ,[branch]
		  ,[departmant]
		  ,[employee]
		  ,[designation]
		  ,[request_sendBy]
		  ,[request_sendDate_Coo]
			 )
		   SELECT 
		   @external_training_id
		  ,@branch
		  ,@departmant
		  ,@employee
		  ,@designation
		  ,@user  
		  ,GETDATE() 
	         
		   SET @external_assign_id=SCOPE_IDENTITY()
	     
		   SELECT 0 error_code, 'New trainee has been successfully added' mes, @external_assign_id id
		   
		
		 END  
		   
		   
    END

	ELSE IF(@flag='d')

		BEGIN
			IF @external_assign_id_chk IS NULL SET @external_assign_id_chk = '-1'
		SET @sql = 'DELETE externalTraineeAssign WHERE external_assign_id IN (' + @external_assign_id_chk + ')'
		EXEC(@sql)
		SELECT 0 error_code, 'New trainee has been successfully deleted' mes, @external_assign_id id

		END
		
	 ELSE IF(@flag='p')
	 BEGIN
	 
		 UPDATE externalTrainingInfo 
		 SET 
			Approved_by=@user
		   ,Approved_dateBy_Coo=GETDATE() 
		   WHERE external_traingin_id=@external_training_id 
		 
		   
		   SET  @sql =  '
		     update externalTraineeAssign set [status]=''a'' ,[Approved_by]='''+@user+''',[Approved_dateBy_Coo]=GETDATE() 
		     where external_training_id = ' + CAST(@external_training_id AS VARCHAR)   +'
		     and external_assign_id IN (' + @external_assign_id_chk + ')'
			
			PRINT @sql
			EXEC (@sql)	 
	 
	 END



END TRY


BEGIN CATCH

SELECT 1 error_code, ERROR_MESSAGE() mes, @external_assign_id id

END CATCH
GO
