USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_LeaveTypeSetUp]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- EXEC proc_LeaveTypeSetUp @flag = 'd', @ID = '15'
--select * from LeaveTypes
-- EXEC proc_LeaveTypeSetUp @flag = 's', @ID = '2'
CREATE proc [dbo].[proc_LeaveTypeSetUp]
	@flag					char(2)
	,@LeaveType				varchar(50)			=	null
	,@Leave_Details			varchar(100)		=	null
	,@DefaultDays			decimal(4, 1)		=	null
	,@Occurrence			varchar(15)			=	null
	,@MaxDays				decimal(4,1)		=	null
	,@MaxAccumulation		decimal(4, 1)		=	null
	,@Nature				varchar(50)			=	null
	,@ApplyLFA				int					=	null
	,@LFAdays				decimal(4, 1)		=	null
	,@Active				int					=	null
	,@Cashable				int					=	null
	,@Unlimited				int					=	null
	,@HalfDay				int					=	null
	,@Saturday				int					=	null
	,@Holiday				int					=	null
	,@Substituted			int					=	null
	,@Relieving				int					=	null
	,@entryUser				varchar(10)			=	null
	,@entryDate				date				=	null
	,@ID					int					=	null
	,@MAX_REQ_DAYS			int					=	NULL
	,@min_req_days			int					=   null
	
as
set nocount on;

	--DECLARE @SUCCESS		INT					=	1 --## (1/0) 1->SUCCESS 0-->FAIL ##
	--DECLARE @REMARKS		VARCHAR(500)		=	''
	
	SET @DefaultDays				=	ISNULL(@DefaultDays,0)
	SET @MaxAccumulation			=	ISNULL(@MaxAccumulation,0)
	SET @MaxDays					=	ISNULL(@MaxDays,0)
	SET @LFAdays					=	ISNULL(@LFAdays,0)
	SET @entryDate					=	GETDATE()
	
	-- int -->> 1 for Yes and 0 for No
	/*
	--###########"Fields of table LeaveTypes"##########--
	ID,NAME_OF_LEAVE,LEAVE_DETAILS,NO_OF_DAYS_DEFAULT,OCCURRENCE,MAX_ACCUMULATION
	,NATURE,IS_ACTIVE,IS_CASHABLE,CREATED_BY,CREATED_DATE,MODIFIED_BY,MODIFIED_DATE
	,IS_UNLIMITED,IS_HOURLY,TOTAL_WORKING_HOUR,LFADAYS,IS_SUBSTITUTED

	select * from leavetypes
	1. Insertion
	Validations:
	a. Check whether particular leave has been added.
	b. 
	*/
	--VALIDATION
	BEGIN
		--Check if Days are valid
		--##begin
		IF ISNUMERIC(@DefaultDays)=0
		BEGIN
			SELECT '0' SUCCESS
					,'You have assigned INVALID Default Days..' REMARKS
			RETURN
		END
		ELSE
		BEGIN
			IF @DefaultDays * 10 % 5 <> 0
			BEGIN
				SELECT '0' SUCCESS
						,'You have assigned INVALID Default Days..' REMARKS
				RETURN
			END	
		END
		
		IF ISNUMERIC(@LFAdays)=0
		BEGIN
			SELECT '0' SUCCESS
					,'You have assigned INVALID LFA Days..' REMARKS
			RETURN
		END
		ELSE
		BEGIN
			IF @LFAdays * 10 % 5 <> 0
			BEGIN
				SELECT '0' SUCCESS
						,'You have assigned INVALID LFA Days..' REMARKS
				RETURN
			END	
		END
		
		IF @LFAdays > @DefaultDays
		BEGIN
			SELECT '0' SUCCESS
						,'LFA Days can''t be greater than default days' REMARKS
				RETURN
		END
		
		IF ISNUMERIC(@MaxAccumulation)=0
		BEGIN
			SELECT '0' SUCCESS
					,'You have assigned INVALID MaxAccumulation Days..' REMARKS
			RETURN
		END
		ELSE
		BEGIN
			IF @MaxAccumulation * 10 % 5 <> 0
			BEGIN
				SELECT '0' SUCCESS
						,'You have assigned INVALID MaxAccumulation Days..' REMARKS
				RETURN
			END	
		END
		--##end
		
		--LFA	
		IF @ApplyLFA = 0
		BEGIN
			SET @LFAdays = 0
		END
		IF @ApplyLFA = 1 AND @LFAdays = 0
		BEGIN
			SELECT '0' SUCCESS
					,'You have not assigned LFA Days..' REMARKS
			RETURN
		END
		
		--Unlimited
		IF @Unlimited = 1 AND (@Cashable = 1 OR @Holiday =1 
								OR @Saturday =1 OR @ApplyLFA = 1)
		BEGIN
			SELECT '0' SUCCESS
					,'Unlimited Leave does not appear with Cashable or Holiday or Saturday or LFA..' REMARKS
			RETURN
		END
		
		IF @Unlimited = 1 AND (ISNULL(@DefaultDays,0) >0 OR ISNULL(@MaxAccumulation,0) >0)
		BEGIN
			SELECT '0' SUCCESS
					,'Unlimited Leave does not have default days or max accumulation' REMARKS
			RETURN
		END
		
		--Substitute Date
		IF @Substituted = 1
		BEGIN
			IF @Unlimited = 0
			BEGIN
				SELECT '0' SUCCESS
						,'Substituted Leave must be Unlimited...' REMARKS
				RETURN
			END
		END
		
		-- Unpaid Leave
		IF @LeaveType = 'Unpaid Leave' AND (@Saturday = 0 or @Holiday = 0)
		BEGIN
			SELECT '0' SUCCESS
						,'Unpaid Leave must consider Saturday and Holidays...' REMARKS
			RETURN
		END
		
		/*--Relieving (By Default YES for all leave)
		IF @Relieving = 0
		BEGIN
			SELECT '0' SUCCESS
					,'Set Releiving YES...' REMARKS
			RETURN
		END
		*/
	
	END
	
	
	
	IF @flag = 'p' --POPULATE LEAVE TYPES
	BEGIN
	
		SELECT DETAIL_TITLE FROM StaticDataDetail
			WHERE [TYPE_ID] = 19
			AND DETAIL_TITLE NOT IN (SELECT NAME_OF_LEAVE FROM LeaveTypes)
		
	END
	
	
	BEGIN TRY
		
		IF @flag = 'i' -- insertion
		BEGIN
			/*
			1. Check whether particular leave has been added.
			*/
			IF EXISTS (SELECT ID FROM LeaveTypes WHERE NAME_OF_LEAVE = @LeaveType)
			BEGIN
				SELECT '0' SUCCESS
						,'This Leave has already been added...' REMARKS
				RETURN
			END
			
			INSERT INTO LeaveTypes
			(
				NAME_OF_LEAVE,LEAVE_DETAILS,NO_OF_DAYS_DEFAULT,
				OCCURRENCE,MAX_DAYS,MAX_ACCUMULATION
				,NATURE,IS_ACTIVE,IS_CASHABLE,IS_UNLIMITED,IS_HOURLY
				--,TOTAL_WORKING_HOUR
				,IS_LFA,LFADAYS,IS_SUBSTITUTED,RELIEVING
				,IS_SATURDAY,IS_HOLIDAY
				,CREATED_BY,CREATED_DATE,MAX_REQ_DAYS,min_req_days
			)
			VALUES
			(
				@LeaveType,@Leave_Details,@DefaultDays,@Occurrence,@MaxDays,@MaxAccumulation
				,@Nature,@Active,@Cashable,@Unlimited,@HalfDay
				--,8.00
				,@ApplyLFA,@LFAdays,@Substituted,@Relieving
				,@Saturday,@Holiday
				,@entryUser,@entryDate,@MAX_REQ_DAYS,@min_req_days
			)
			
			
			SELECT '1' SUCCESS
					,'ADDED SUCCESSFULLY..' REMARKS
			RETURN
			
		END
		
		IF @flag = 'u' -- update
		BEGIN
			IF NOT EXISTS(SELECT ID FROM LeaveTypes WHERE ID = @ID) --AND NAME_OF_LEAVE = @LeaveType)
			BEGIN
				SELECT '0' SUCCESS
						,'THIS LEAVE DOES NOT EXIST...' REMARKS
				RETURN
			END
			
			--IF LEAVE IS BEING DISABLED
			--IF EXISTS(SELECT ID FROM leaveAssignment 
			--			WHERE LEAVE_TYPE_ID = @ID AND IS_DISABLED = 1)
			--BEGIN
			--	SELECT '0' SUCCESS
			--			,'THIS LEAVE HAS BEEN ASSIGNED...<BR> FIRST DISABLE ASSIGNMENT' REMARKS
			--	RETURN
			--END
			
			UPDATE LeaveTypes
				SET		LEAVE_DETAILS				=	@Leave_Details
						,NO_OF_DAYS_DEFAULT			=	@DefaultDays
						,OCCURRENCE					=	@Occurrence
						,MAX_DAYS					=	@MaxDays
						,MAX_ACCUMULATION			=	@MaxAccumulation
						--,NATURE						=	@Nature
						,IS_ACTIVE					=	@Active
						,IS_CASHABLE				=	@Cashable
						,IS_UNLIMITED				=	@Unlimited
						,IS_HOURLY					=	@HalfDay
						,IS_LFA						=   @ApplyLFA
						,LFADAYS					=	@LFAdays
						,IS_SUBSTITUTED				=	@Substituted
						,RELIEVING					=	@Relieving
						,IS_SATURDAY				=	@Saturday
						,IS_HOLIDAY					=	@Holiday
						,MAX_REQ_DAYS				=	@MAX_REQ_DAYS
						,MODIFIED_BY				=	@entryUser
						,MODIFIED_DATE				=	@entryDate
						,min_req_days					=   @min_req_days
			WHERE ID = @ID --AND NAME_OF_LEAVE = @LeaveType
			
			SELECT '1' SUCCESS
					,'UPDATED SUCCESSFULLY..' REMARKS
			RETURN
		END
		
		
		IF @flag = 's' -- select
		BEGIN
			
			SELECT ID,NAME_OF_LEAVE,
					LEAVE_DETAILS,
					ISNULL(NO_OF_DAYS_DEFAULT,0) [NO_OF_DAYS_DEFAULT],
					ISNULL(OCCURRENCE,'Yearly') OCCURRENCE,
					ISNULL(MAX_DAYS,0)	[MAX_DAYS],
					ISNULL(MAX_ACCUMULATION,0)	[MAX_ACCUMULATION],
					ISNULL(IS_CASHABLE,0)		[IS_CASHABLE],
					ISNULL(IS_ACTIVE,0)			[IS_ACTIVE],
					ISNULL(IS_UNLIMITED,0)		[IS_UNLIMITED],
					ISNULL(IS_HOURLY,0)			[IS_HOURLY],
					ISNULL(IS_LFA,0)			[IS_LFA],
					ISNULL(LFADAYS,0)			[LFADAYS],
					ISNULL(IS_SUBSTITUTED ,0)	[IS_SUBSTITUTED],
					ISNULL(RELIEVING,0)			[RELIEVING],
					ISNULL(IS_SATURDAY,0)		[IS_SATURDAY],
					ISNULL(IS_HOLIDAY,0)		[IS_HOLIDAY],
					ISNULL(MAX_REQ_DAYS,0)		[MAX_REQ_DAYS],
					ISNULL(min_req_days,0)		[MIN_REQ_DAYS]	
          FROM LeaveTypes 
          with (nolock) where ID=@ID

		END
		
		IF @flag = 'd'
		BEGIN
			IF NOT EXISTS(SELECT ID FROM LeaveTypes WHERE ID = @ID) --AND NAME_OF_LEAVE = @LeaveType)
			BEGIN
				SELECT '0' SUCCESS
						,'THIS LEAVE DOES NOT EXIST...' REMARKS
				RETURN
			END
			
			IF EXISTS(SELECT ID FROM leaveAssignment 
						WHERE LEAVE_TYPE_ID = @ID AND IS_DISABLED = 1)
			BEGIN
				SELECT '0' SUCCESS
						,'THIS LEAVE HAS BEEN ASSIGNED...<BR> FIRST DISABLE ASSIGNMENT' REMARKS
				RETURN
			END
			
			IF EXISTS(SELECT ID FROM LeaveRequest
						WHERE LEAVE_TYPE_ID = @ID)
			BEGIN
				SELECT '0' SUCCESS
						,'THIS LEAVE HAS BEEN REQUESTED...<BR> FIRST ADJUST THEM' REMARKS
				RETURN
			END
			
			DELETE FROM LeaveTypes
			WHERE ID = @ID
			
			SELECT '1' SUCCESS
					,'LEAVE IS DISABLED SUCCESSFULLY..' REMARKS
			RETURN
		END
	END TRY
	
	
	BEGIN CATCH
		SELECT '1' AS SUCCESS
						,'FAILED TO REACH SERVER' AS REMARKS					
		RETURN
	END CATCH
GO
