USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procContributionProjectionReport]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
EXEC [procContributionProjectionReport] '67-68','4','10','1','1001'

EXEC [procContributionProjectionReport] '67-68','4','5'

*/

create proc [dbo].[procContributionProjectionReport]

@fiscalyear varchar(20)=null,
@month varchar(20)=null,
@barnchid varchar(20)=null,
@department_id varchar(20)=null,
@emp_id varchar(20)=null

as
Set nocount on;
declare @SQL as varchar(7000)


begin

       set @SQL='SELECT A.EMP_CODE AS [Emp Code],A.name as Name,dbo.ShowDecimal( A.AMT1) [Projected Contribution Amt],dbo.ShowDecimal((A.AMT2*B.UP)/B.DOWN) AS [Calculated Amt From Benefits],dbo.ShowDecimal(B.AMT3) as [Allowed Amt As per Tax],
			case
			WHEN (AMT3>((A.AMT2*B.UP)/B.DOWN) and ((A.AMT2*B.UP)/B.DOWN)>AMT1) THEN dbo.ShowDecimal(((A.AMT2*B.UP)/B.DOWN)-AMT1)
			WHEN (AMT3<((A.AMT2*B.UP)/B.DOWN) and ((A.AMT2*B.UP)/B.DOWN)>AMT1) and AMT1<AMT3 THEN dbo.ShowDecimal(AMT3-AMT1)
			WHEN (AMT3<((A.AMT2*B.UP)/B.DOWN) and ((A.AMT2*B.UP)/B.DOWN)>AMT1) and AMT3<AMT1 THEN dbo.ShowDecimal(''0'')
			END AS [Additional Eligible Amt]
			FROM 
					(SELECT FY_id,e.EMP_CODE,e.FIRST_NAME+'' ''+e.MIDDLE_NAME +'' ''+e.LAST_NAME as Name,TaxCalculation.Branch_Id,e.DEPARTMENT_ID,e.EMPLOYEE_ID,
					(Contri_Paid_Employer+Contri_This_Month_Employer+Contri_To_Be_Paid_Employer+Contri_Deducted_Employee+
					Contri_Current_Employee+Contri_Remaining_Employee) as AMT1,
					(Basic_Salary_Paid+Basic_Salary_Current+Basic_Salary_Remaining+Grade_Paid+Grade_Current+
					Grade_Remaining+Allowance_Paid+Allowance_Current+Allowance_Remaining+Adhoc_Benefits_Paid+
					Adhoc_Benefits_This_Month+Interest_Benefit+Vehicle_Benift+House_Benefit+Pension_Income+
					Premium_Paid_Employer+Contri_Paid_Employer+Contri_This_Month_Employer+Contri_To_Be_Paid_Employer) as AMT2
					FROM  TaxCalculation 
					inner join Employee e with(nolock) on e.EMPLOYEE_ID=TaxCalculation.Emp_Id
					where Run_Month='''+@month+''' 
					
					)A,
					
				(SELECT FY_ID,CONTRIBUTION_COMP_AMT AS AMT3, 
				cast(substring(CONTRIBUTION_FRACTION,1,CHARINDEX(''/'', CONTRIBUTION_FRACTION,1)-1)as int)as UP,
				cast(substring(CONTRIBUTION_FRACTION,CHARINDEX(''/'', CONTRIBUTION_FRACTION,1)+1, LEN(CONTRIBUTION_FRACTION))as int)as DOWN
				FROM TaxRuleSetup 
				WHERE FY_ID='''+@fiscalyear+''') B
				WHERE A.FY_ID=B.FY_ID '
				
				

				if @barnchid<>0 and @barnchid is not null  
				set @SQl=@SQl + ' and  A.Branch_Id = '''+ @barnchid +''''  
				
				
				if @department_id<>0 and @department_id is not null  
				set @SQl=@SQl + ' and  A.DEPARTMENT_ID = '''+ @department_id +''''  
				
					if @emp_id<>0 and @emp_id is not null  
				set @SQl=@SQl + ' and  A.EMPLOYEE_ID = '''+ @emp_id +''''  



				set @SQL=@SQL+'order by A.EMP_CODE'
				

exec(@SQL)
--print @SQL;
				
				
end
GO
