USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[ProcUpdateNewPayable]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
EXEC ProcUpdateNewPayable @flag = 'i',@empId ='1856',@effectiveFrom ='7/16/2012',@applyFrom ='7/16/2012',@set_Id ='4',@user ='admin'

EXEC ProcUpdateNewPayable  @flag = 'i' ,@empId ='1321' ,@effectiveFrom ='10/1/2012' ,@applyFrom ='10/1/2012' ,@set_Id ='4' ,@payablehead ='1455' ,@payableamount ='900',@user ='admin'
*/

CREATE Proc [dbo].[ProcUpdateNewPayable]    
			@flag VARCHAR(10),
			@empId INT,
			@post_id VARCHAR(50) = NULL,
			@user VARCHAR(100)= NULL,
			@salaryTitle VARCHAR(20)=NULL,
			@set_Id VARCHAR(10) = NULL,
			@amount INT = NULL,
			@effectiveFrom DATE,
			@applyFrom DATE,
			@payablehead int = null,
			@payableamount money = null,
			@option varchar(10) = NULL
AS    
SET NOCOUNT ON;   
SET XACT_ABORT ON

IF @payablehead is not null
	Set @option='Yes'
Else
	Set @option='NO'
	
select @set_Id =SET_ID from Payable where EMPLOYEE_ID=@empId and BENEFIT_ID=390 and is_Active='Y'

IF @option='NO'
BEGIN

	IF @flag = 'i'
	BEGIN
		DECLARE @previous_eff_from date,@id int,@intId int,@intTotalRows int,@previousAmount int,@benefit_Id VARCHAR(20),@count_bId int
	
		--select COUNT(ssd.payableHead) from salarySetMaster ssm
		--inner join salarySetDetails ssd
		--on ssm.salarySetMasterId = ssd.salarySetMasterId
		--where ssm.Salary_Title = @salaryTitle
	
		--select @benefit_Id = ssd.payableHead  from salarySetDetails ssd
		--inner join salarySetMaster ssm on ssm.salarySetMasterId = ssd.salarySetMasterId
		--inner join Employee e on e.Salary_Title = ssm.salarySetMasterId
		--where 
		
		SELECT @previous_eff_from = EFFECTIVE_FROM,@id = ID,@previousAmount = AMOUNT,@benefit_Id = BENEFIT_ID
		FROM Payable WHERE EMPLOYEE_ID = @empId AND SET_ID = @set_Id and Is_Active = 'Y'
	
		IF OBJECT_ID(N'tempdb..##tempActiveEmp') IS NOT NULL
		DROP TABLE #tempActiveEmp
	
		create table #tempActiveEmp
		(
			EMPLOYEE_ID INT NULL,
			BENEFIT_ID INT NULL,
			AMOUNT INT NULL,
			EFFECTIVE_FROM DATE NULL,
			APPLY_FROM DATE NULL,
			SET_ID INT NULL,
			BRANCH_ID INT NULL,
			DEPT_ID INT NULL,
			POSITION_ID INT NULL,
			CREATED_BY varchar(30) NULL,
			CREATED_DATE DATE NULL,
			EFFECTIVE_UPTO DATE NULL,
			Is_Active varchar(3) null
		)
		
		INSERT INTO #tempActiveEmp(EMPLOYEE_ID,BENEFIT_ID,AMOUNT,EFFECTIVE_FROM,APPLY_FROM,SET_ID,BRANCH_ID,DEPT_ID,POSITION_ID,CREATED_BY,CREATED_DATE,EFFECTIVE_UPTO,Is_Active)
		SELECT @empId,payableHead,payableValue,@effectiveFrom,@applyFrom,@set_Id,e.BRANCH_ID,e.DEPARTMENT_ID,e.POSITION_ID,@user,GETDATE(),'2999-07-16','Y'
		FROM salarySetDetails ssd inner join salarySetMaster ssm 
		on ssd.salarySetMasterId = ssm.salarySetMasterId
		inner join Employee e on e.Salary_Title = ssm.Salary_Title
		WHERE ssd.salarySetMasterId = @set_Id AND e.EMPLOYEE_ID = @empId
	
		ALTER TABLE #tempActiveEmp
		ADD RowID INT IDENTITY(1,1)
	
		--SELECT @intId = MAX(RowID) FROM #tempActiveEmp
		--select * from #tempActiveEmp
		--return;
		--SET @intTotalRows = 1
		--select * from #tempActiveEmp
	
		IF EXISTS(SELECT 'X' FROM Payable P
				inner join salarySetDetails ssd on ssd.salaryDetailId = P.SET_ID
				WHERE BENEFIT_ID = @benefit_Id AND EMPLOYEE_ID = @empId and Is_Active = 'Y')
			BEGIN
				WHILE @intId >=  @intTotalRows
				BEGIN
					IF @effectiveFrom <= @previous_eff_from
					BEGIN
						INSERT INTO Payable(EMPLOYEE_ID,BENEFIT_ID,AMOUNT,EFFECTIVE_FROM,APPLY_FROM,SET_ID,BRANCH_ID,DEPT_ID,POSITION_ID,CREATED_BY,CREATED_DATE,EFFECTIVE_UPTO)
						SELECT
							EMPLOYEE_ID,BENEFIT_ID,AMOUNT,EFFECTIVE_FROM,APPLY_FROM,SET_ID,BRANCH_ID,DEPT_ID,POSITION_ID,@user,GETDATE(),'2999-07-16'
						FROM #tempActiveEmp
				
						-- UPDATE Payable SET Is_Active = 'N' WHERE ID = @id
					END
					ELSE
					BEGIN				
						INSERT INTO Payable(EMPLOYEE_ID,BENEFIT_ID,AMOUNT,EFFECTIVE_FROM,APPLY_FROM,SET_ID,BRANCH_ID,DEPT_ID,POSITION_ID,CREATED_BY,CREATED_DATE,EFFECTIVE_UPTO)
						SELECT
							EMPLOYEE_ID,BENEFIT_ID,AMOUNT,EFFECTIVE_FROM,APPLY_FROM,SET_ID,BRANCH_ID,DEPT_ID,POSITION_ID,CREATED_BY,CREATED_DATE,'2999-07-16'
						FROM #tempActiveEmp
				
						--UPDATE Payable SET Is_Active = 'N',EFFECTIVE_UPTO = DATEADD(D,-1,@effectiveFrom) WHERE ID = @id
					END
					SET @intTotalRows = @intTotalRows + 1
				END
				SELECT 'Success!' AS msg
			END
		ELSE
			BEGIN
				INSERT INTO Payable(EMPLOYEE_ID,BENEFIT_ID,AMOUNT,EFFECTIVE_FROM,APPLY_FROM,SET_ID,BRANCH_ID,DEPT_ID,POSITION_ID,CREATED_BY,CREATED_DATE,EFFECTIVE_UPTO,Is_Active)
				SELECT
					EMPLOYEE_ID,BENEFIT_ID,AMOUNT,EFFECTIVE_FROM,APPLY_FROM,SET_ID,BRANCH_ID,DEPT_ID,POSITION_ID,CREATED_BY,CREATED_DATE,EFFECTIVE_UPTO,Is_Active
				FROM #tempActiveEmp
				SELECT 'Success!' AS msg
			END

	END

END

IF @option='Yes'
BEGIN
	IF EXISTS(SELECT 'X' FROM Payable P WHERE BENEFIT_ID = @benefit_Id AND EMPLOYEE_ID = @empId and Is_Active = 'Y')
	BEGIN
		SELECT 'System doesnot allow multiple active benefit head!' AS msg
	END
	Else
	BEGIN
		INSERT INTO Payable(EMPLOYEE_ID,BENEFIT_ID,AMOUNT,EFFECTIVE_FROM,APPLY_FROM,SET_ID,BRANCH_ID,DEPT_ID,POSITION_ID,CREATED_BY,CREATED_DATE,EFFECTIVE_UPTO,Is_Active)
		SELECT
			EMPLOYEE_ID,@payablehead,@payableamount,@effectiveFrom,@applyFrom,@set_Id,BRANCH_ID,DEPARTMENT_ID,POSITION_ID,CREATED_BY,CREATED_DATE,'2999-12-31','Y'
		From Employee
		Where EMPLOYEE_ID=@empId

		SELECT 'Success!' AS msg
	END
END
GO
