USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[Proc_MonthlyPaySlip]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Exec Proc_MonthlyPaySlip @flag='ed',@year='69-70',@month='06',@EmpID=1604

CREATE Proc [dbo].[Proc_MonthlyPaySlip]
	 @flag VARCHAR(2)
	,@empid INT
	,@year Varchar(20)
	,@month INT

AS

SET NOCOUNT ON;

		DECLARE 
			@remainMonth INT, 
			@yearStartDate DATE,
			@previousmonthEndDate DATE,
			@previousfy VARCHAR(10), 
			@monthStartDate VARCHAR(20), 
			@monthEndDate Varchar(20)

		SELECT @remainMonth	= (CASE WHEN @Month=1 THEN 2 WHEN @Month=2 THEN 1 WHEN @Month=3 THEN 0 ELSE 12-@Month+3 END)

		--- Previous Year
			SELECT 
				@previousfy = FISCAL_YEAR_NEPALI 
			FROM FiscalYear 
			WHERE EN_YEAR_END_DATE=DATEADD(D,-1,@yearStartDate)

		---Year START Date
		SELECT 
			@yearStartDate = EN_YEAR_START_DATE 
		FROM FiscalYear 
		WHERE FISCAL_YEAR_NEPALI=@Year

		SELECT @previousmonthEndDate = dbo.GetMonthEndDateEng(@previousfy,@Month-1),
			   @monthStartDate			= dbo.GetMonthStartDateEng(@Year,@Month),
			   @monthEndDate			= dbo.GetMonthEndDateEng(@Year,@Month) 

IF @flag='ed'
BEGIN

	Declare @monthName VARCHAR(20), @date varchar(50)

	select @monthName=NAME from MonthList where Month_Number=@month

	select @date= SUBSTRING(nep_date,4,2)+' '+@monthName+','+right(nep_date,4) from TaxCalculation T 
	Inner Join tbl_calendar C on T.Run_Date=C.eng_date 
	where FY_ID=@year and Run_Month=@month

	SELECT 
		 E.EMP_CODE+' '+E.FIRST_NAME+ISNULL(' '+MIDDLE_NAME+' ',' ')+ E.LAST_NAME AS NAME
		,B.BRANCH_SHORT_NAME+' '+BRANCH_NAME BRANCH
		,sdd.DETAIL_TITLE POSITION
		,BA.ACCOUNT_NUMBER
		,@monthName MONTH_NAME
		,@date nep_date
	FROM Employee E
	INNER JOIN TaxCalculation T on E.EMPLOYEE_ID=T.Emp_Id
	INNER JOIN Branches B on T.Branch_Id=B.BRANCH_ID
	INNER JOIN StaticDataDetail sdd on E.POSITION_ID=sdd.ROWID
	INNER JOIN BankAccounts BA on T.Emp_Id=BA.EMPLOYEE_ID
	
	Where T.FY_ID=@year
	AND T.Run_Month=@month
	AND BA.IS_DEFAULT='1'
	AND T.Emp_Id=@empid


END

if(@flag='tc')
BEGIN

	Select * from 
	(
			select '(+) Insurance Premium' Head,Premium_Paid_Employer Amount, 
			 Basic_Salary_Paid+Basic_Salary_Current+Basic_Salary_Remaining+Grade_Paid+Grade_Current+Grade_Remaining+Allowance_Paid+Allowance_Current+Allowance_Remaining
			+Adhoc_Benefits_Paid+Adhoc_Benefits_This_Month+Interest_Benefit+Vehicle_Benift+House_Benefit+Pension_Income+Premium_Paid_Employer+INCLUSIVE_GRATUITY
			+Contri_Paid_Employer+Contri_This_Month_Employer+Contri_To_Be_Paid_Employer Total
			from TaxCalculation where FY_ID=@year and Run_Month=@month and Emp_Id=@EmpID
			Union ALL
			select '(-) Life Insurance Rebate' Head, Premium_Deduction,
			Basic_Salary_Paid+Basic_Salary_Current+Basic_Salary_Remaining+Grade_Paid+Grade_Current+Grade_Remaining+Allowance_Paid+Allowance_Current+Allowance_Remaining
			+Adhoc_Benefits_Paid+Adhoc_Benefits_This_Month+Interest_Benefit+Vehicle_Benift+House_Benefit+Pension_Income+Premium_Paid_Employer+INCLUSIVE_GRATUITY
			+Contri_Paid_Employer+Contri_This_Month_Employer+Contri_To_Be_Paid_Employer-Premium_Deduction
			from TaxCalculation where FY_ID=@year and Run_Month=@month and Emp_Id=@EmpID
			Union ALL
			select '(-) RF Contribution' Head, Retirement_Deduction,
			Basic_Salary_Paid+Basic_Salary_Current+Basic_Salary_Remaining+Grade_Paid+Grade_Current+Grade_Remaining+Allowance_Paid+Allowance_Current+Allowance_Remaining
			+Adhoc_Benefits_Paid+Adhoc_Benefits_This_Month+Interest_Benefit+Vehicle_Benift+House_Benefit+Pension_Income+Premium_Paid_Employer+INCLUSIVE_GRATUITY
			+Contri_Paid_Employer+Contri_This_Month_Employer+Contri_To_Be_Paid_Employer-Premium_Deduction-Retirement_Deduction
			from TaxCalculation where FY_ID=@year and Run_Month=@month and Emp_Id=@EmpID
			Union ALL
			select '(-) Exemption for Couple' Head, Taxable_Slab1,
			Basic_Salary_Paid+Basic_Salary_Current+Basic_Salary_Remaining+Grade_Paid+Grade_Current+Grade_Remaining+Allowance_Paid+Allowance_Current+Allowance_Remaining
			+Adhoc_Benefits_Paid+Adhoc_Benefits_This_Month+Interest_Benefit+Vehicle_Benift+House_Benefit+Pension_Income+Premium_Paid_Employer+INCLUSIVE_GRATUITY
			+Contri_Paid_Employer+Contri_This_Month_Employer+Contri_To_Be_Paid_Employer-Premium_Deduction-Retirement_Deduction-Taxable_Slab1
			from TaxCalculation where FY_ID=@year and Run_Month=@month and Emp_Id=@EmpID
			Union ALL
			select '(-) Income Tax' Head, (Tax_Amount-SOCIAL_SECURITY_TAX) tax_amount, (Tax_Amount-SOCIAL_SECURITY_TAX) total
			from TaxCalculation where FY_ID=@year and Run_Month=@month and Emp_Id=@EmpID
			Union ALL
			select '(-) Social Security Tax' Head,cast(Taxable_Slab1*0.01 as money) SOCIAL_SECURITY_TAX, Tax_Amount
			from TaxCalculation where FY_ID=@year and Run_Month=@month and Emp_Id=@EmpID
	) z
	Where Amount<>0

END

if(@flag='tg')
BEGIN
		

		SELECT 'Income Tax' Head, ROUND(Tax_Collected,2) Up_to_Previous_Month, ROUND(Tax_This_Month,2) This_month, 
			ROUND(Tax_Remaining,2)-ROUND(Tax_This_Month,2) -ROUND(Tax_Discount,2) Remaining,
			ROUND(Tax_Amount,2)-ROUND(Tax_Discount,2) Total
		from TaxCalculation
		WHERE Emp_Id=@empid AND FY_ID=@year	AND Run_Month=@month

		--Union All

		--Select 'Gratuity',Gm.Gratuity_Till_Date+isnull(Gh.gratuityAmt,0) Gratuity_Till_Date, H.gratuityAmt, H.gratuityAmt*(@remainMonth+1)
		--,(Gm.Gratuity_Till_Date+isnull(Gh.gratuityAmt,0))+H.gratuityAmt+(H.gratuityAmt*(@remainMonth+1))
		--From Gratuity_Master GM
		--left join 
		--	(
		--		select MasterID, isnull(Sum(gratuityAmt),0) gratuityAmt
		--		from Gratuity_History 
		--		where Created_Date between @yearStartDate and @previousmonthEndDate
		--		group by MasterID
		--	) GH 
		-- on Gm.ID=Gh.MasterID
		-- Inner join 
		--		 Gratuity_History H on GM.ID=H.MasterID and Created_Date between @monthStartDate and @monthEndDate
		--Where gm.EMP_ID=@EmpID 

END

if(@flag='f') --- Loan Advance and Other Facility
BEGIN

	Select sdd.DETAIL_DESC,L.LOAN_AMOUNT,isnull(Manual_paid_Amount,0) Manual_paid_Amount,isnull(Sys_Ded_Amount,0) Sys_Ded_Amount,isnull(L.remaining_amt,0) remaining_amt
	from Loan L
	Inner join 
		(
			select loan_id, sum(paid_amount) Sys_Ded_Amount
			from loan_collection 
			where paid_date between @monthStartDate and @monthEndDate
			and narration like '%by system'
			group by loan_id
		)LC 
	on L.ID=LC.loan_id
	left join 
		(
			select loan_id, sum(paid_amount) Manual_paid_Amount
			from loan_collection 
			where paid_date between @monthStartDate and @monthEndDate
			and narration not like '%by system'
			group by loan_id
		)LC1 
	on L.ID=LC1.loan_id
	left join StaticDataDetail Sdd on L.LOAN_TYPE=Sdd.ROWID
	where EMPLOYEE_ID=@EmpID
	
	UNION All

	Select  sdd.DETAIL_DESC,A.AMOUNT,isnull(Manual_paid_Amount,0),isnull(Sys_Ded_Amount,0),A.REMAINING_BAL
	from Advance A
	Left join 
		(
			select ADVANCE_ID, sum(paid_amount) Sys_Ded_Amount
			from AdvanceCollection 
			where paid_date between @monthStartDate and @monthEndDate
			and narration like '%by system'
			group by ADVANCE_ID
		)AC 
	on A.ID=AC.ADVANCE_ID
	Left join 
		(
			select ADVANCE_ID, sum(paid_amount) Manual_paid_Amount
			from AdvanceCollection 
			where paid_date between @monthStartDate and @monthEndDate
			and narration not like '%by system'
			group by ADVANCE_ID
		)AC1
	on A.ID=AC1.ADVANCE_ID
	Inner join StaticDataDetail Sdd on A.ADVANCE_TYPE=Sdd.ROWID
	where EMPLOYEE_ID=@EmpID


END 

if(@flag='sr') -- Estimated Self RF 
BEGIN

	Declare @1third money,@actual money,@gratuity money,@pf money

	Select 
		 @1third = round((Basic_Salary_Paid+Basic_Salary_Current+Basic_Salary_Remaining+Grade_Paid+Grade_Current+Grade_Remaining+Allowance_Paid+Allowance_Current+Allowance_Remaining
					+Adhoc_Benefits_Paid+Adhoc_Benefits_This_Month+Interest_Benefit+Vehicle_Benift+House_Benefit+Pension_Income+Premium_Paid_Employer+INCLUSIVE_GRATUITY
					+Contri_Paid_Employer+Contri_This_Month_Employer+Contri_To_Be_Paid_Employer)/3,2) 
		,@actual = (TOTAL_GRATUITY+Contri_Paid_Employer+Contri_This_Month_Employer+Contri_To_Be_Paid_Employer
					+Contri_Deducted_Employee+Contri_Current_Employee+Contri_Remaining_Employee)
		,@gratuity = TOTAL_GRATUITY
		,@pf = Contri_Paid_Employer+Contri_This_Month_Employer+Contri_To_Be_Paid_Employer
					+Contri_Deducted_Employee+Contri_Current_Employee+Contri_Remaining_Employee
	From TaxCalculation
	where FY_ID=@year and Run_Month=@month AND Emp_Id=@EmpID
	

	Select 
		'One third of Income' as Head,  
		 @1third Amount

	UNION ALL

	Select 
		'Gratuity' as Head,  
		@gratuity Amount

	UNION ALL

	Select
		'PF' as Head,
		@pf Amount

	UNION ALL

	Select 
		'Gratuity & PF' as Head,  
		@actual Amount

	UNION ALL

	Select 
		'Self Contribution Amount' as Head,
		Case When @actual>@1third Then 0 
			When @actual>300000 Then 0
			When (@actual < @1third AND @1third< 300000) Then @1third-@actual
			When (@actual <@1third AND @1third >300000) Then 300000-@actual
		ELSE 0 END Amount

END

IF @flag='ar'
BEGIN

	Declare 
		 @eff_date varchar(40)
		,@app_date varchar(40)

	Select @eff_date=substring(nep_date,4,2)+' '+Name+' '+right(t1.nep_date,4) from Grade G 
	Inner join tbl_calendar t1 on t1.eng_date=Effective_Date
	Inner join MonthList m on m.Month_Number=left(t1.nep_date,2)
	Where Emp_Id=@empid order by g.id asc 

	Select @app_date=substring(nep_date,4,2)+' '+Name+' '+right(t1.nep_date,4) from Grade G 
	Inner join tbl_calendar t1 on t1.eng_date=Apply_Date
	Inner join MonthList m on m.Month_Number=left(t1.nep_date,2)
	Where Emp_Id=@empid order by g.id asc 

	Select 
		 sdd.DETAIL_TITLE 
		,Grade_Year
		,@eff_date Effective_Date
		,@app_date Apply_Date
		,Amount-OLD_BASIC incre_amount 
	from Grade G 
	inner join StaticDataDetail sdd on G.App_Rating=Sdd.ROWID
	Inner join tbl_calendar t1 on t1.eng_date=Effective_Date
	inner join tbl_calendar t2 on t2.eng_date=Apply_Date
	Where 
		Emp_Id=@empid
	AND Apply_Date between @monthStartDate and @monthEndDate

END
GO
