USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procTrainingTakenByEmployeeOrAllEmployeesInDepartment]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* 
	(1)Procedure Definition:
    ------------------------
	THIS PROCEDURE PREPARES REPORT OF ABOUT TRAINING PROGRAMS
	 taken by an employee or several employee in particular department
	  based on EmployeeId, or DepartmentId
	   in relation with 
		
	(2) Relational Overview:
	------------------------
	(a) relation between dbo.Employee and dbo.TrainingProgram
	(b) relation between dbo.Department, dbo.Employee and dbo.TrainingProgram
	*/
-- exec  procTrainingTakenByEmployeeOrAllEmployeesInDepartment 19 , null
-- exec  procTrainingTakenByEmployeeOrAllEmployeesInDepartment null , 1006

create PROCEDURE [dbo].[procTrainingTakenByEmployeeOrAllEmployeesInDepartment]
	@departmentId	varchar(25) = null,
	@employeeId		varchar(25) = null
AS
SET NOCOUNT ON; 
BEGIN

 if @employeeId is not null
	begin	
		SELECT 
			e.FIRST_NAME + ' ' + e.MIDDLE_NAME + ' ' + e.LAST_NAME+ ' - [' + CAST(e.EMPLOYEE_ID AS VARCHAR(50)) +']' AS 'Full Name - GUID',
			tp.TRAINING_PROGRAM_TITLE 'Training Program',
			tl.CATEGORY		 'Category',
			tl.TRAINING_NAME 'Training Name'			
 	  
 	  from TrainingParticipants as tPar
 			inner join TrainingProgram as tp on tp.ID=tPar.TRAINING_PROGRAM_ID
 	  		 inner join TrainingList as tl on tl.ID=tp.TRAINING_ID
			  inner join Employee	 as e  on e.EMPLOYEE_ID=@employeeId
	  where
			 tPar.STAFF_ID=@employeeId
	end

  else
	begin	
		SELECT 
			d.DEPARTMENT_NAME 'Department',
			e.FIRST_NAME + ' ' + e.MIDDLE_NAME + ' ' + e.LAST_NAME+ ' - [' + CAST(e.EMPLOYEE_ID AS VARCHAR(50)) +']' AS 'Full Name - GUID',
			tp.TRAINING_PROGRAM_TITLE 'Training Title',
			tl.CATEGORY		 'Category',
			tl.TRAINING_NAME 'Training Name'
		from TrainingProgram as tp
			 inner join TrainingParticipants as tParticipants on tParticipants.TRAINING_PROGRAM_ID= tp.ID
			 inner join Employee			 as e  on e.EMPLOYEE_ID=tParticipants.STAFF_ID
			 inner join Departments			 as d  on d.DEPARTMENT_ID=e.DEPARTMENT_ID
			 inner join TrainingList		 as tl on tl.ID=tp.TRAINING_ID
			 
		where 
			d.DEPARTMENT_ID=@departmentId
				order by 
					d.DEPARTMENT_NAME									
			 
	end
			
END
GO
