USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_CEA]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---Exec [proc_CEA]  @flag =  'i', @id = null, @empid='1040', @childId='696', @billdate='5/19/2016', @billamount='12354', @frm_FY='2072', @frm_month='03', @to_FY='2072', @to_month='06', @desc ='asda', @file_desc='adf', @file_type='jpg', @user='1040'

CREATE Proc [dbo].[proc_CEA]                  
   @flag   AS VARCHAR(2)                  
     ,@id   AS INT   = NULL                  
     ,@empid  AS INT   = NULL                  
     ,@childId  AS INT   = NULL                  
     ,@billdate  AS DATE   = NULL                  
     ,@billamount AS MONEY  = NULL                  
     ,@frm_FY  AS VARCHAR(10) = NULL                  
     ,@frm_month AS VARCHAR(4) = NULL                  
     ,@to_FY  AS VARCHAR(10) = NULL                  
     ,@to_month  AS VARCHAR(4) = NULL                  
     ,@approved_by  AS INT   = NULL                  
     ,@desc   AS VARCHAR(MAX) = NULL                  
     ,@file_desc AS VARCHAR(100) = NULL                  
     ,@file_type AS VARCHAR(10) = NULL                
     ,@idlist AS varchar(100)=NULL                
     ,@user   AS INT   = NULL
                    
AS                  
                   
DECLARE @FROM_DATE DATE, @TO_DATE DATE ,@FROM_DATE_NEPALI VARCHAR(20), @TO_DATE_NEPALI VARCHAR(20) , @AGE DECIMAL                

SELECT @FROM_DATE_NEPALI=@FRM_MONTH+'-'+DBO.GETNEPALIDATESTART(@FRM_FY,@FRM_MONTH)+'-'+@FRM_FY,
	   @TO_DATE_NEPALI=@TO_MONTH+'-'+DBO.GETNEPALIDATEEND(@TO_FY,@TO_MONTH)+'-'+@TO_FY

SELECT @FROM_DATE=ENG_DATE FROM TBL_CALENDAR WHERE NEP_DATE=@FROM_DATE_NEPALI
SELECT @TO_DATE=ENG_DATE FROM TBL_CALENDAR WHERE NEP_DATE=@TO_DATE_NEPALI

SELECT @AGE = DATEDIFF(M,CONVERT(DATETIME, DATE_OF_BIRTH),GETDATE())/12.0 FROM FAMILYMEMBERS WHERE ID = @CHILDID            
                  
IF @flag='i'                  
BEGIN      
             
IF (@age <3 or @age > 18)            
  BEGIN              
  SELECT '0' SUCCESS              
    ,'CEA can be applied for children with age between 3 to 18!!!' REMARKS              
  RETURN              
    END            
                
 IF EXISTS (SELECT id FROM CEA_Reimbursment WHERE             
  --(@frm_month between from_month and to_month)             
  --and  (@to_month between from_month and to_month) 
  (@FROM_DATE between from_date and to_date)             
  and  (@TO_DATE between from_date and to_date) 
  and from_FY=@FRM_FY and to_FY=@to_fy              
  and emp_id = @empid            
  and child_name = @childId   
  and cea_status<>'Rejected'
  and cea_status<>'Deleted')            
   BEGIN              
  SELECT '0' SUCCESS              
    ,'You have already requested CEA for this month!!!' REMARKS              
  RETURN              
    END  
    
 IF @FRM_FY=@TO_FY AND @TO_MONTH < @frm_month     
 BEGIN
 SELECT '0' SUCCESS
 ,'YOU CANNOT SELECT TO MONTH LESS THAN FROM MONTH FOR THE SELECTED YEAR' REMARKS
 RETURN
 END
                    
 INSERT INTO CEA_Reimbursment(                  
   emp_id,                  
   Child_Name,                  
   Bill_Date,                  
   Bill_Amount,                  
   From_FY,                  
   From_month,                  
   From_date,                  
   To_FY,                  
   To_month,                  
   To_date,                  
   Description,                  
   File_desc,                  
   File_type,                  
   Created_by,                  
   Created_date,                  
   Approve_BY,                  
   cea_status                  
                     
  )                  
 Select                   
    @empid                  
   ,@childId                  
   ,@billdate                  
   ,@billamount                  
   ,@frm_FY                  
   ,@frm_month                  
   ,@from_date                  
   ,@to_FY                  
   ,@to_month                  
   ,@to_date                  
   ,@desc                  
   ,@file_desc                  
   ,@file_type                  
   ,@user                  
   ,GETDATE()                  
   ,@approved_by                  
   ,'Pending'         
         
                  
select @empid=SCOPE_IDENTITY()       
       
 SELECT '1' SUCCESS        
      ,'CEA REQUEST SUCCESSFULLY UPDATED..' REMARKS  ,@empid as id      
   RETURN                
END                  
                  
IF @flag='s'                  
BEGIN             
                 
 DECLARE @child_name varchar(20),@fromMonth varchar(20),@toMonth varchar(20)                  
 select @child_name = RTRIM(f.FIRST_NAME+ ' ' + isnull(f.MIDDLE_NAME,'') + ' ' + f.LAST_NAME) from FamilyMembers f 
      inner join CEA_Reimbursment c on f.employee_id = c.emp_id                   
      where f.id =c.child_name and c.ID=@id                  
                      
 -- select @fromMonth = Name from monthlist m inner join CEA_Reimbursment c on c.From_month = m.Month_Number  where c.id = @id                
 --select @toMonth  = Name from monthlist m inner join CEA_Reimbursment c on c.To_month = m.Month_Number   where c.id = @id                
                  
 select ID                  
   ,rtrim(dbo.GetEmployeeFullNameOfId(emp_id))[emp_name]                  
   ,emp_id                  
   ,@child_name [Full_Name]                  
   ,convert(varchar,Bill_Date,101)  [Bill_Date]                
 ,Bill_Amount                  
   ,From_FY                  
   ,From_Month                  
   ,convert(varchar,From_date,101)[From_date]                
   ,To_FY                  
   ,To_Month                 
   ,convert(varchar,To_date,101)[To_date]                  
   ,Description                  
   ,File_desc                  
   ,File_type                  
   ,Modified_by             
   ,Modified_date                  
   ,Approve_BY                  
   ,cea_status                  
 from CEA_Reimbursment where ID = @id                  
END                  
                  
IF @flag='u'                  
BEGIN                  
                   
 update CEA_Reimbursment set                 
   emp_id=@empid,                  
   child_name = @childId,                  
   Bill_Date=@billdate,                  
   Bill_Amount=@billamount,                  
   From_FY=@frm_FY,                  
   From_month=@frm_month,                  
   From_date=@From_date,                  
   To_FY=@to_FY,                  
   To_month=@to_month,                  
   To_date=@to_date,                  
   Description=@desc,                  
   Modified_by=@user,                  
   Modified_date=GETDATE(),                  
   Approve_BY=@approved_by                  
  Where id=@id                  
                  
END                  
                  
IF @flag='d'                  
BEGIN                  
                  
 Update CEA_Reimbursment                   
  set cea_status='Deleted'                   
 where id=@id                  
                  
END                  
                  
IF @flag='a'                  
BEGIN                  
 Update CEA_Reimbursment                   
  set cea_status='Approved by HR',Bill_Amount=@billamount                   
 where id=@id                
              
END                  
                  
IF @flag='r'                  
BEGIN                  
 Update CEA_Reimbursment                   
  set cea_status='Rejected'                   
 where id=@id                  
END              
              
IF @flag = 'p'              
BEGIN              
 BEGIN TRANSACTION              
   INSERT INTO AdhocPayment               
    (EMPLOYEE_ID              
    ,ADD_DEDUCT              
    ,HEAD_ID              
    ,AMOUNT              
    ,IS_PAID              
    ,NARRATION              
    ,CREATED_BY              
    ,CREATED_DATE              
    ,APPLY_ON              
    ,APPLIED_FOR_YEAR              
    ,APPLIED_FOR_MONTH              
    ,FROM_DATE              
    ,TO_DATE)                  
   SELECT               
    Emp_id              
    ,'A'              
    ,'394'              
    ,Bill_Amount              
    ,0              
    ,'CEA Reimbursment'              
    ,Approve_BY              
    ,GETDATE()              
    ,GETDATE()              
    ,To_FY              
    ,To_month              
    ,From_date              
    ,To_date               
   FROM CEA_Reimbursment WHERE id IN (select name from dbo.split(@idlist,','))              
                 
   UPDATE CEA_Reimbursment SET cea_status='Posted'                   
   WHERE id in (SELECT name FROM dbo.split(@idlist,','))              
 COMMIT TRANSACTION              
END
GO
