USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procStockSummaryRptBranchWise]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
EXEC [procStockSummaryRptBranchWise] @flag='a',	@startdate='2011-11-1',@enddate='2012-12-18',   @branchid=NULL
EXEC [procStockSummaryRptBranchWise] @flag='b',	@startdate='2011-11-11',@enddate='2012-12-18',   @branchid=NULL
   */
CREATE PROC [dbo].[procStockSummaryRptBranchWise]
	@flag VARCHAR(1),
	@startdate VARCHAR(20)=NULL,
	@enddate VARCHAR(20)=NULL,
	@branchid VARCHAR(20)=NULL,
	@product_id VARCHAR(20)=NULL,
	@vendor_id varchar(20)=null
AS

IF @flag='a'
BEGIN
				 
	SELECT 
	 ROW_NUMBER() OVER(ORDER BY B.BRANCH_NAME) [S.N.]
	,B.BRANCH_SHORT_NAME [Branch Code]
	,B.BRANCH_NAME [Branch Name]
	,A.AMOUNT_OPENING [Opening Balance]
	,A.AMOUNT_PURCHASE Purchased
	,A.AMOUNT_P_PURCHASE [Partial Purchased]
	,A.AMOUNT_TRANSFERIN [Transfer In]
	,A.AMOUNT_CONSUMED  [Consumed]
	,A.AMOUNT_TRANSFEROUT [Transfered Out]
	,A.AMOUNT_DISPOSED [Disposed]
	,A.AMOUNT_CLOSING [Closing Balance] 
	,A.AMOUNT_INTRANSIT [Not Acknowledged]
	FROM 
	(  
		SELECT branch_id
		,SUM(AMOUNT_OPENING) AS AMOUNT_OPENING
		,SUM(AMOUNT_PURCHASE) AS AMOUNT_PURCHASE
		,SUM(AMOUNT_P_PURCHASE) AS AMOUNT_P_PURCHASE
		,SUM(AMOUNT_TRANSFERIN) AMOUNT_TRANSFERIN
		,SUM(AMOUNT_CONSUMED) AMOUNT_CONSUMED
		,SUM(AMOUNT_TRANSFEROUT) AMOUNT_TRANSFEROUT
		,SUM(AMOUNT_DISPOSED) AMOUNT_DISPOSED
		,SUM(AMOUNT_OPENING)+SUM(AMOUNT_PURCHASE)+SUM(AMOUNT_TRANSFERIN)-SUM(AMOUNT_CONSUMED)-SUM(AMOUNT_TRANSFEROUT)-
		 SUM(AMOUNT_DISPOSED) AS AMOUNT_CLOSING
		,SUM(ISNULL(AMOUNT_INTRANSIT,0)) AS AMOUNT_INTRANSIT

		FROM 
		(
			SELECT	branch_id
				,SUM(OPENING) AS AMOUNT_OPENING
				,0 AMOUNT_PURCHASE
				,0 AMOUNT_P_PURCHASE
				,0 AMOUNT_TRANSFERIN 
				,0 AMOUNT_CONSUMED
				,0 AMOUNT_TRANSFEROUT
				,0 AMOUNT_DISPOSED
				,0 AMOUNT_INTRANSIT
			FROM (
					SELECT 
						 branch_id
						,SUM(p_rate*P_QTY) AS OPENING 																			 
					 FROM IN_PURCHASE
					 WHERE branch_id like isnull(@branchid,'%')
					 AND entered_date<@startdate 
					 GROUP BY branch_id
					 
					UNION ALL

					SELECT from_branch
						,SUM(S_QTY*s_rate)*-1 AS AMOUNT 
					FROM IN_SALES
					WHERE from_branch like isnull(@branchid,'%')
					AND entered_date<@startdate 
					GROUP BY from_branch
					 
					UNION ALL

					SELECT branch_id
						,SUM(p_qty*p_rate)*-1 AS AMOUNT 
					FROM IN_DISPOSAL
					WHERE branch_id like isnull(@branchid,'%')
					 AND entered_date<@startdate 
					 GROUP BY branch_id
					 
				) XY GROUP BY branch_id
				
				
		 
		 UNION ALL
		 
			 SELECT a.branch_id
				, 0 OPENING	
				, SUM(P_QTY*P_RATE) PURCHASE
				,0 AMOUNT_P_PURCHASE
				,0 AMOUNT_TRANSFERIN 
				,0 AMOUNT_CONSUMED
				,0 AMOUNT_TRANSFEROUT
				,0 AMOUNT_DISPOSED
				,0 InTransitAmount
			FROM IN_PURCHASE a with(nolock) inner join Purchase_Order_Message b with(nolock) on a.order_msg_id= b.id
			 WHERE a.branch_id = isnull(@branchid,a.branch_id)
			 AND entered_date BETWEEN @startdate AND @enddate+' 23:59:59'
			 AND req_id IS NULL 
			 and b.status = 'Received'
			 GROUP BY a.branch_id
		 
		UNION ALL
		 
			 SELECT a.branch_id
				, 0 OPENING	
				, 0 PURCHASE
				,SUM(P_QTY*P_RATE) AMOUNT_P_PURCHASE
				,0 AMOUNT_TRANSFERIN 
				,0 AMOUNT_CONSUMED
				,0 AMOUNT_TRANSFEROUT
				,0 AMOUNT_DISPOSED
				,0 InTransitAmount
			FROM IN_PURCHASE a with(nolock) inner join Purchase_Order_Message b with(nolock) on a.order_msg_id= b.id
			 WHERE a.branch_id = isnull(@branchid,a.branch_id)
			 AND entered_date BETWEEN @startdate AND @enddate+' 23:59:59'
			 AND req_id IS NULL 
			 and b.status = 'Approved'
			 GROUP BY a.branch_id

		 UNION ALL
		 
			 SELECT   branch_id
					,0 OPENING
					,0 PURCHASE
					,0 AMOUNT_P_PURCHASE
					, SUM(P_QTY*P_RATE) AMOUNT_TRANSFERIN
					,0 AMOUNT_CONSUMED
					,0 AMOUNT_TRANSFEROUT
					,0 AMOUNT_DISPOSED
					,0 InTransitAmount
			 FROM IN_PURCHASE
			 WHERE branch_id LIKE ISNULL(@branchid,'%')
			 AND entered_date BETWEEN @startdate AND @enddate+' 23:59:59'
			 AND req_id IS NOT NULL 
			 GROUP BY branch_id
		 
		 
		 UNION ALL
		 
			SELECT from_branch
					,0 OPENING
					,0 PURCHASE
					,0 AMOUNT_P_PURCHASE
					,0 AMOUNT_TRANSFERIN
					,SUM(S_QTY*S_RATE) CONSUMED 
					,0 AMOUNT_TRANSFEROUT
					,0 AMOUNT_DISPOSED	
					,0 InTransitAmount	
			 FROM IN_SALES
			 WHERE from_branch = ISNULL(@branchid,from_branch)
			 AND to_branch=from_branch
			 AND entered_date  BETWEEN @startdate AND @enddate+' 23:59:59' 
			 GROUP BY from_branch
		 
		 
		 UNION ALL
		 
			 SELECT from_branch
			 		,0 OPENING
					,0 PURCHASE
					,0 AMOUNT_P_PURCHASE
					,0 AMOUNT_TRANSFERIN
					,0 CONSUMED
					,SUM(S_QTY*S_RATE) TRANSFER_OUT 
					,0 AMOUNT_DISPOSED
					,0 InTransitAmount
			 FROM IN_SALES
			 WHERE from_branch LIKE ISNULL(@branchid,'%')
			 AND to_branch<>from_branch
			 AND entered_date  BETWEEN @startdate AND @enddate+' 23:59:59'
			 GROUP BY from_branch
		 
		UNION ALL

			SELECT branch_id
					,0 OPENING
					,0 PURCHASE
					,0 AMOUNT_P_PURCHASE
					,0 AMOUNT_TRANSFERIN
					,0 CONSUMED
					,0 TRANSFER_OUT 					
					,SUM(P_QTY*P_RATE) DISPOSED
					,0 InTransitAmount
			FROM IN_DISPOSAL
			WHERE branch_id LIKE ISNULL(@branchid,'%')
			 AND entered_date BETWEEN @startdate AND @enddate+' 23:59:59' 
			 GROUP BY branch_id
			 
		UNION ALL
		
			select	
					a.to_branch
					,0 OPENING
					,0 PURCHASE
					,0 AMOUNT_P_PURCHASE
					,0 AMOUNT_TRANSFERIN
					,0 CONSUMED
					,0 TRANSFER_OUT 
					,0 AMOUNT_DISPOSED
					,sum(isnull(a.InTransitAmount,0)) InTransitAmount 
			from 
			(
				SELECT
						to_branch
					   ,SUM(dispatched_qty*Rate) InTransitAmount 
				FROM IN_DISPATCH a with(nolock) inner join
				(
					select branch_id from Branches where isnull(isDirectExp,'N')='N'
				)b on a.to_branch=b.BRANCH_ID
				WHERE dispatched_date BETWEEN @startdate AND @enddate+' 23:59:59' 
				AND from_branch<>to_branch
				GROUP BY to_branch
			
				union all
			
				SELECT
						to_branch
					   ,SUM(dispatched_qty*Rate)*-1 InTransitAmount 
				FROM IN_DISPATCH a with(nolock) inner join
				(
					select branch_id from Branches where isnull(isDirectExp,'N')='N'
				)b on a.to_branch=b.BRANCH_ID
				WHERE received_date BETWEEN @startdate AND @enddate+' 23:59:59' 
				AND from_branch<>to_branch
				GROUP BY to_branch
			)a  group by to_branch
			 	 
		 ) Z GROUP BY branch_id
	)A 
	INNER JOIN 
	(
		SELECT BRANCH_ID,BRANCH_NAME,BRANCH_SHORT_NAME FROM Branches
	
	)B ON A.branch_id=B.BRANCH_ID order by B.BRANCH_SHORT_NAME
	
END

IF	@flag='b'
BEGIN

	
	SELECT DBO.GetBranchName(A.to_branch) [Branch Name],b.id [Prod Code],b.porduct_code [Product Name],b.package_unit [Unit]
	,sum(a.s_qty) Qty,sum(a.s_qty*a.s_rate)/sum(a.s_qty) [Rate],sum(a.s_qty*a.s_rate) [Amount]	
	FROM IN_SALES a inner join IN_PRODUCT b on a.s_prod_id=b.id
	WHERE from_branch=1 AND to_branch = @branchid
	AND entered_date between @startdate and @enddate+' 23:59:59'
	and sales_type='T'
	GROUP BY b.id,b.porduct_code,b.package_unit,A.to_branch
	ORDER BY A.to_branch
	
END

IF	@flag='C'
BEGIN
	
	SELECT A.to_branch,dbo.GetBranchName(A.to_branch) [Branch Name]
	FROM IN_SALES a inner join IN_PRODUCT b on a.s_prod_id=b.id
	WHERE from_branch=1 AND to_branch like isnull(@branchid,'%') 
	AND entered_date between @startdate and @enddate+' 23:59:59'
	and sales_type='T'
	GROUP BY A.to_branch
	ORDER BY A.to_branch
	
END
GO
