USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procUploadAssetBooking]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
	exec [procUploadAssetBooking] 'a', 'D:\Swifterp\FixedAsset\janakpur.csv','1000'	                                 
*/

CREATE PROC [dbo].[procUploadAssetBooking]
	@flag CHAR(1),
	@file_path VARCHAR(2000),
	@user VARCHAR(50)
AS
	SET XACT_ABORT ON;
	SET NOCOUNT ON;
	
IF @flag='a'
BEGIN

			SET NOCOUNT ON;
			DECLARE @SQL VARCHAR(1000)	
			DECLARE @intTotalRows AS INT,@intPartId AS INT,@FY_YR AS VARCHAR(10),@NEPLI_MONTH AS INT,@default_nep_month AS INT
			SET @file_path = REPLACE(@file_path,'\\','\')	
			
			CREATE TABLE #temAssetNum
			(
				asset_number VARCHAR(500)
			)

			CREATE TABLE #tempNumberUpload
				(
					assetType VARCHAR(10) NULL,
					branchId VARCHAR(10) NULL,
					bookingDate VARCHAR(100) NULL,
					purchaseValue VARCHAR(50) NULL,	
					accDep VARCHAR(200) NULL,
					depStartDate VARCHAR(100) NULL,	
					deptId varchar(50) null,
					assetHolderId varchar(50) null,	
					serialNo varchar(500) null,				
					isAmortised VARCHAR(1) NULL,
					totalLife VARCHAR(20) NULL,	
					remainLife varchar(20) null,
					narration VARCHAR(MAX) NULL,
					oldAssetCode VARCHAR(50) NULL,
					oldAssetNumber VARCHAR(100) NULL,
					brand VARCHAR(100) NULL,
					model VARCHAR(100) NULL
				)

			SET @SQL = ' BULK INSERT #tempNumberUpload  FROM '''+@file_path+''' 
							 WITH (FIELDTERMINATOR = '','',FIRSTROW  = 2, ROWTERMINATOR =''\n'') '
			
		 
			EXEC(@SQL)
			
			ALTER TABLE #tempNumberUpload ADD RowID INT IDENTITY(1,1)
			SELECT @intPartId=MAX(RowID) FROM #tempNumberUpload	

			UPDATE #tempNumberUpload
					SET 
					assetType =REPLACE(LTRIM(assetType),'á',''),
					branchId =REPLACE(LTRIM(branchId),'á',''),
					bookingDate =REPLACE(LTRIM(bookingDate),'á',''),
					purchaseValue =REPLACE(LTRIM(purchaseValue),'á',''),	
					accDep =REPLACE(LTRIM(accDep),'á',''),
					depStartDate =REPLACE(LTRIM(depStartDate),'á',''),
					deptId =REPLACE(LTRIM(deptId),'á',''),
					assetHolderId =REPLACE(LTRIM(assetHolderId),'á',''),
					serialNo =REPLACE(LTRIM(serialNo),'á',''),			
					isAmortised =REPLACE(LTRIM(isAmortised),'á',''),
					totalLife =REPLACE(LTRIM(totalLife),'á',''),
					remainLife =REPLACE(LTRIM(remainLife),'á',''),
					narration =REPLACE(LTRIM(narration),'á',''),
					oldAssetCode =REPLACE(LTRIM(oldAssetCode),'á',''),
					oldAssetNumber =REPLACE(LTRIM(oldAssetNumber),'á',''),
					brand =REPLACE(LTRIM(brand),'á',''),
					model =REPLACE(LTRIM(model),'á','')

			UPDATE #tempNumberUpload
					SET 
					assetType =REPLACE((assetType),' ',''),
					branchId =REPLACE((branchId),' ',''),
					bookingDate =REPLACE((bookingDate),' ',''),
					purchaseValue =REPLACE((purchaseValue),' ',''),
					accDep =REPLACE((accDep),' ',''),
					depStartDate =REPLACE((depStartDate),' ',''),
					deptId =REPLACE((deptId),' ',''),
					assetHolderId =REPLACE((assetHolderId),' ',''),
					serialNo =REPLACE((serialNo),' ','')	,
					isAmortised =REPLACE((isAmortised),' ',''),
					totalLife =REPLACE((totalLife),' ',''),
					remainLife =REPLACE((remainLife),' ',''),
					narration =REPLACE((narration),' ',''),	
					oldAssetCode =REPLACE((oldAssetCode),' ',''),
					oldAssetNumber =REPLACE((oldAssetNumber),' ',''),
					brand =REPLACE((brand),' ',''),
					model =REPLACE((model),' ','')						
		
			update #tempNumberUpload set bookingDate=REPLACE(bookingDate,'/','-')
			update #tempNumberUpload set bookingDate=REPLACE(bookingDate,'.','-')
			update 	#tempNumberUpload set bookingDate = CASE 
						   WHEN LEN(REPLACE(LEFT(bookingDate,3),'-',''))=1 
							THEN '0'+REPLACE(LEFT(bookingDate,3),'-','') 
						  ELSE 
						  CASE WHEN LEN(REPLACE(LEFT(bookingDate,2),'-',''))=1 
						   THEN '0'+REPLACE(LEFT(bookingDate,2),'-','') 
						  ELSE REPLACE(LEFT(bookingDate,2),'-','') END
							 END+'/'+CASE WHEN LEN(REPLACE( SUBSTRING (bookingDate, CHARINDEX('-',bookingDate,1), 3),'-',''))=1 
						   THEN '0'+REPLACE( SUBSTRING (bookingDate, CHARINDEX('-',bookingDate,1), 3),'-','') 
						  ELSE 
						   REPLACE( SUBSTRING (bookingDate, CHARINDEX('-',bookingDate,1), 3),'-','') END+'/'+RIGHT(bookingDate,4) 
   
			update #tempNumberUpload set bookingDate=replace(SUBSTRING (bookingDate, charindex('/',bookingDate,2), 3),'/','')+'/'+
					replace(left(bookingDate,2),'/','')+'/'+
					right(bookingDate,4) 
					
			
			IF EXISTS (SELECT * FROM #tempNumberUpload 
						WHERE ISDATE(bookingDate)=0)
			BEGIN
				SELECT 'Invalid Some Booking Date! (MM/DD/YYYY)' AS msg
				RETURN;
			END 

			IF EXISTS (SELECT * FROM #tempNumberUpload 
						WHERE assetType NOT IN (SELECT ID FROM ASSET_PRODUCT WHERE id=assetType))
			BEGIN
				SELECT 'Invalid Asset Type ID!' AS msg
				RETURN;
			END 

			IF EXISTS (SELECT * FROM #tempNumberUpload 
						WHERE branchId NOT IN (SELECT branch_id FROM ASSET_BRANCH WHERE PRODUCT_ID=assetType))
			BEGIN
				SELECT 'Some Asset ID Is Not Assign To Branch!' AS msg
				RETURN;
			END

			IF EXISTS(SELECT * FROM #tempNumberUpload WHERE ISNUMERIC(purchaseValue)=0) 
			BEGIN
				SELECT 'INVALID PURCHASE VALUE!' AS msg
				RETURN;
			END
			
			IF EXISTS(SELECT * FROM #tempNumberUpload WHERE ISNUMERIC(accDep)=0) 
			BEGIN
				SELECT 'INVALID ACC_DEP VALUE!' AS msg
				RETURN;
			END
			IF EXISTS(SELECT * FROM #tempNumberUpload 
							WHERE ISDATE(bookingDate)=0) 			
			BEGIN
				SELECT 'INVALID DATE FORMAT IN BOOK_DATE, PLEASE USE MM/DD/YYY FORMAT!'	AS MSG;
				RETURN;
			END
				
			IF EXISTS(SELECT * FROM #tempNumberUpload WHERE ISDATE(depStartDate)=0)		
			BEGIN
					SELECT 'INVALID DATE FORMAT IN DEP_START_DATE, PLEASE USE MM/DD/YYY FORMAT!'	AS MSG;
					RETURN;
			END
			
			BEGIN TRANSACTION
			--########### Start loop count
			SET @intTotalRows=1
			WHILE @intPartId >=  @intTotalRows
			BEGIN
					
				DECLARE @asset_id AS INT,@DEP_VALUE AS MONEY,@RowId AS INT,
						@group_id AS INT
						
						
				DECLARE @purchase_value AS MONEY,@is_amortised AS VARCHAR(10),@depre_pct AS	FLOAT,@booking_date AS VARCHAR(20),@branch_id AS INT,
						@asset_number AS VARCHAR(500),@asset_type AS VARCHAR(20),@dep_start_date AS VARCHAR(20),@acc_dep AS MONEY,@life_month AS INT,
						@remain_life as int

				SELECT	@purchase_value=ROUND(purchaseValue,2),				
						@booking_date=bookingDate,
						@dep_start_date=depStartDate,
						@branch_id=branchId,
						@asset_type=assetType,
						@acc_dep=ROUND(accDep,2),
						@is_amortised=isAmortised,
						@life_month=totalLife,
						@remain_life=remainLife									
				FROM  #tempNumberUpload 
				WHERE RowID=@intTotalRows					

				
				INSERT #temAssetNum
				EXEC procGenerateAssetNumber @branch_id,@asset_type,@booking_date
				
				
				SET @FY_YR=dbo.FNAReturnCurrentFiscalYear(@dep_start_date)
				SET @NEPLI_MONTH=dbo.GetNepaliMonth(@dep_start_date)
				
				SET @default_nep_month = @NEPLI_MONTH	
				
				SELECT @asset_number=asset_number FROM #temAssetNum	
							
					IF (@@ERROR <> 0) GOTO QuitWithRollback 
					
				SELECT @depre_pct=DBO.FNAGetDepPrcnt(@asset_type)
					IF (@@ERROR <> 0) GOTO QuitWithRollback 

				SET @group_id=dbo.GetGroupID(@asset_type)
					
				SET @FY_YR=dbo.FNAReturnCurrentFiscalYear(@dep_start_date)
				SET @NEPLI_MONTH=dbo.GetNepaliMonth(@dep_start_date)
				SET @default_nep_month = @NEPLI_MONTH				
			
				INSERT INTO ASSET_INVENTORY(branch_id,narration,product_id,booked_date,asset_number,purchase_value,acc_depriciation,depr_start_date,
				asset_status,depre_pct,is_amortised,life_in_month,remain_month,created_by,created_date,group_id,dept_id,asset_holder,asset_serial,old_asset_no,old_asset_code,model,brand)
				
				SELECT branchId,narration,@asset_type,@booking_date,@asset_number,ROUND(@purchase_value,2),ROUND(@acc_dep,2),@dep_start_date,'Active'
				,@depre_pct,@is_amortised,@life_month,@remain_life,@user,GETDATE(),@group_id,deptId,assetHolderId,serialNo,oldAssetNumber,oldAssetCode,model,brand
					FROM  #tempNumberUpload WHERE RowID=@intTotalRows
				
				SET @asset_id=@@IDENTITY		
						
				IF (@@ERROR <> 0) GOTO QuitWithRollback
				
				--#################INSERTING ASSET DETAILS FOR OPENING BALANCE######################---
				INSERT INTO asset_opening_balance(asset_id,booked_date,dep_start_date,fiscal_year,branch_id,acc_dep,purchase_value,created_by,created_date)
				SELECT @asset_id,@booking_date,@dep_start_date,@FY_YR,@branch_id,ROUND(@acc_dep,2),ROUND(@purchase_value,2),@user,GETDATE()
					
				IF (@@ERROR <> 0) GOTO QuitWithRollback
				
				IF @is_amortised='N'
				BEGIN					
					SET @DEP_VALUE=ROUND((((@purchase_value-@acc_dep)*@depre_pct)/100)/12,2)
					IF @DEP_VALUE>=0
					BEGIN							
					IF NOT EXISTS (SELECT * FROM depreciation_setup with(nolock) WHERE asset_id=@asset_id AND fiscal_year=@FY_YR)
					BEGIN
					
						INSERT INTO depreciation_setup(asset_id,fiscal_year,m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12,dep_pct,acc_dep,base_price)
						VALUES (@asset_id,@FY_YR,0,0,0,0,0,0,0,0,0,0,0,0,@depre_pct,@acc_dep,@purchase_value)		
							
						
						SET @RowId=@@IDENTITY	
							
						IF (@@ERROR <> 0) GOTO QuitWithRollback 
							
						IF @NEPLI_MONTH<=3
						BEGIN
								WHILE @NEPLI_MONTH <=3 
								BEGIN									
									SET @SQL= 'update depreciation_setup set M'+ CAST(@NEPLI_MONTH AS VARCHAR) +' = '+ CAST(@DEP_VALUE AS VARCHAR) +' 
									where id='+CAST(@RowId AS VARCHAR)
									
									EXECUTE (@SQL)								
									SET @NEPLI_MONTH=@NEPLI_MONTH+1
									IF (@@ERROR <> 0) GOTO QuitWithRollback 									
								END	
						END	
						ELSE
						BEGIN
								WHILE @NEPLI_MONTH <=12 
								BEGIN
									
									SET @SQL= 'update depreciation_setup set M'+ CAST(@NEPLI_MONTH AS VARCHAR) +' = '+ CAST(@DEP_VALUE AS VARCHAR) +' 
									where id='+CAST(@RowId AS VARCHAR)
									
									EXECUTE (@SQL)			
									SET @NEPLI_MONTH=@NEPLI_MONTH+1		
									IF (@@ERROR <> 0) GOTO QuitWithRollback 	
									
								END	
								
								UPDATE depreciation_setup SET m1=@DEP_VALUE,m2=@DEP_VALUE WHERE ID=@RowId
										
								IF @default_nep_month=4
								BEGIN
									DECLARE @DEP_VALUE3 AS MONEY								
									SET @DEP_VALUE3=ROUND(((@purchase_value-@acc_dep)*@depre_pct/100),2)-@DEP_VALUE*11
									UPDATE depreciation_setup SET m3=@DEP_VALUE3 WHERE id=@RowId	
									IF (@@ERROR <> 0) GOTO QuitWithRollback 							
								END	
								ELSE
								BEGIN
									UPDATE depreciation_setup SET m3=@DEP_VALUE WHERE id=@RowId
									IF (@@ERROR <> 0) GOTO QuitWithRollback 
								END					
						END
						
						---updating start month dep value (Day Wise)---
						SET @SQL= 'update depreciation_setup set M'+ CAST(@default_nep_month AS VARCHAR) +' = '+ CAST(@DEP_VALUE AS VARCHAR) +' 
									where id='+CAST(@RowId AS VARCHAR)									
						EXECUTE (@SQL)		
					END		
					
					END
					ELSE
					BEGIN
						INSERT INTO depreciation_setup(asset_id,fiscal_year,m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12,dep_pct,acc_dep,base_price)
						VALUES (@asset_id,@FY_YR,0,0,0,0,0,0,0,0,0,0,0,0,0,0,@purchase_value)
						IF (@@ERROR <> 0) GOTO QuitWithRollback 
					END
				END
				
				UPDATE ASSET_BRANCH SET ASSET_NEXT_NUM = ASSET_NEXT_NUM +1  WHERE PRODUCT_ID=@asset_type  AND BRANCH_ID=@branch_id		
				IF (@@ERROR <> 0) GOTO QuitWithRollback 
							
				TRUNCATE TABLE #temAssetNum		
				
				SET @intTotalRows=@intTotalRows+1					
		END
		
COMMIT TRANSACTION

		DROP TABLE #temAssetNum
		DROP TABLE #tempNumberUpload
		SELECT 'Asset Booking Completed Sucessfully!' AS msg
		
		GOTO  EndSave
		QuitWithRollback:
		ROLLBACK TRANSACTION 
		EndSave: 
END
GO
