USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_AppCheckRole]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Exec [proc_AppCheckRole] @flag='a',@emp_id='1090', @app_id='1',@role_flag='743'
CREATE PROC [dbo].[proc_AppCheckRole]    
	 @flag VARCHAR(2)    
	,@emp_id				int = null    
	,@app_id				int = null    
	,@role_flag				varchar(5) = null 
	,@role_name				varchar(200)=null

  
AS     
SET NOCOUNT ON;    
	if @role_flag='740'
		SET @role_name='sf'
		
	if @role_flag='741'
		SET @role_name='s'
		
	if @role_flag='742'
		SET @role_name='r'
	
	if @role_flag='743'
		SET @role_name='hrc'
	
	if @role_flag='744'
		SET @role_name='c'
		
IF @flag='a'    
BEGIN 		
    IF EXISTS(select Top 1 * 
		from  appraisalSupervisorAssignment 
		where appraisal_id =@app_id and SUPERVISOR_TYPE =@role_name and SUPERVISOR=@emp_id
		and record_status='y')
	BEGIN
		SELECT '1' AS MSG
		RETURN;
	END
	ELSE
	BEGIN
		SELECT '0' AS MSG
		RETURN;
	END
END
  
IF @flag='b'    
BEGIN     
    IF EXISTS(select Top 1 * 
		from  appraisalSupervisorAssignment 
		where appraisal_id =@app_id and SUPERVISOR_TYPE ='hrc' and SUPERVISOR=@emp_id
		and record_status='y')
	BEGIN
		SELECT '1' AS MSG
		RETURN;
	END
	ELSE
	BEGIN
		SELECT '0' AS MSG
		RETURN;
	END
END
GO
