USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procEmployeeLogin]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*

 Exec procEmployeeLogin 'admin','admin+123','622','due'
Exec procEmployeeLogin 'admin','admin@Mega','593','Just checking into system'
--select * from ATT_REASON_DETAIL


*/
CREATE PROC [dbo].[procEmployeeLogin]
	@username VARCHAR(20),
	@password VARCHAR(20),
	@reason_type VARCHAR(100)=NULL,
	@reason_detail VARCHAR(500)=NULL

AS
DECLARE @Emp_Id AS INT;
DECLARE @userId AS INT;
DECLARE @ATT_ID AS INT;

SET NOCOUNT ON;

BEGIN
	--CHECKING FOR INVALID USER
	IF NOT EXISTS(SELECT AdminID FROM Admins WHERE  UserName =@username AND dbo.decryptDb(UserPassword)=@password)
	BEGIN
		SELECT '-1' AS REMARKS
		RETURN;		
	END 
	
	SELECT @userId= AdminID FROM  Admins  WHERE UserName=@username
	SELECT @Emp_Id=Name FROM Admins WHERE AdminID=@userId 
	
	IF EXISTS(
				SELECT ATTENDENCE_ID FROM [Attendence] 
				WHERE CONVERT(VARCHAR,[ATT_DATE_IN],102) = CONVERT(VARCHAR,GETDATE(),102)
				AND ATT_DATE_OUT IS NULL
				AND EMPLOYEE_ID=@Emp_Id
			 )
	BEGIN	
			IF @reason_type IS NOT NULL	
			BEGIN
					DECLARE @id INT
					SELECT @id=ATTENDENCE_ID FROM Attendence 
						WHERE CONVERT(VARCHAR,[ATT_DATE_IN],102) = CONVERT(VARCHAR,GETDATE(),102) AND ATT_DATE_OUT IS NULL
						AND EMPLOYEE_ID=@Emp_Id
					
					IF NOT EXISTS(SELECT * FROM  ATT_REASON_DETAIL WHERE att_id=@id)
					BEGIN
							INSERT INTO ATT_REASON_DETAIL ([att_id],[reason_type_out],reason_detail_out) 
							VALUES(@id,@reason_type,@reason_detail)
					END
					ELSE
					BEGIN
							UPDATE ATT_REASON_DETAIL SET reason_type_out=@reason_type,reason_detail_out=@reason_detail
							WHERE att_id=@id
					END
			END

		UPDATE [Attendence] 
			SET ATT_DATE_OUT =GETDATE()
		WHERE
			EMPLOYEE_ID=@Emp_Id
			AND CONVERT(VARCHAR,[ATT_DATE_IN],102) = CONVERT(VARCHAR,GETDATE(),102)
			AND ATT_DATE_OUT IS NULL
			
		SELECT '1' AS REMARKS
		
	END
	ELSE
	BEGIN
	
		INSERT INTO [Attendence]([EMPLOYEE_ID],[ATT_DATE_IN])
		VALUES(@Emp_Id, GETDATE())
	
		SET @ATT_ID =@@IDENTITY
		
		IF @reason_type IS NOT NULL
		BEGIN
		
			INSERT INTO ATT_REASON_DETAIL ([att_id],[reason_type_in],[reason_detail_in]) 
			VALUES(@ATT_ID,@reason_type,@reason_detail)
			
		END
		SELECT '2' AS REMARKS
	
	END
END
GO
