USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_uploadAssetType]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
	exec proc_uploadAssetType 'a', 'D:\\assetTypeSetup.csv','1000'
 
	                        
*/

CREATE PROC [dbo].[proc_uploadAssetType]
	@flag CHAR(1),
	@file_path VARCHAR(2000),
	@user VARCHAR(50)
AS
	SET XACT_ABORT ON;
	SET NOCOUNT ON;
	
IF @flag='a'
BEGIN
			DECLARE @SQL AS VARCHAR(MAX)
						
			IF OBJECT_ID('tempdb..#tempTableCode') IS NOT NULL
				DROP TABLE #tempTableCode
				
			IF OBJECT_ID('tempdb..#tempTable') IS NOT NULL
				DROP TABLE #tempTable
			
			IF OBJECT_ID('tempdb..#tempNumberUpload') IS NOT NULL
				DROP TABLE #tempNumberUpload
				
			CREATE TABLE #tempNumberUpload
			(
				groupId INT NULL,
				asset_code VARCHAR(100) NULL,
				asset_name VARCHAR(200) NULL
			)
			CREATE TABLE #tempTableCode
			(
				RowID INT IDENTITY(1,1),
				asset_code VARCHAR(100) NULL,
				asset_name VARCHAR(200) NULL
			)
			
			SET @file_path = REPLACE(@file_path,'\\','\')	

			
			SET @SQL = ' BULK INSERT #tempNumberUpload  FROM '''+@file_path+''' 
							 WITH (FIELDTERMINATOR = '','',FIRSTROW  = 2, ROWTERMINATOR =''\n'') '
			
		 
			EXEC(@SQL)	
			
		
			SELECT DISTINCT groupId
			INTO #tempTable
			FROM #tempNumberUpload ORDER BY groupId
			
			DECLARE @intTotalRows AS INT,@intPartId AS INT,@groupId AS INT,@item_id AS INT
			DECLARE @intTotalRows1 AS INT,@intPartId1 AS INT

			ALTER TABLE #tempTable ADD RowID INT IDENTITY(1,1)

			SELECT @intPartId=MAX(RowID) FROM #tempTable

			SET @intTotalRows=1
			WHILE @intPartId >=  @intTotalRows
			BEGIN	
					SELECT @groupId=groupId FROM #tempTable WHERE RowId=@intTotalRows
					
					INSERT INTO #tempTableCode
					SELECT DISTINCT asset_Code,asset_name	
					FROM #tempNumberUpload WHERE groupId=@groupId

					SELECT @intPartId1=MAX(RowID) FROM #tempTableCode
					
					SET @intTotalRows1=1
					WHILE @intPartId1 >=  @intTotalRows1
					BEGIN	
					
						INSERT INTO ASSET_ITEM(item_name, item_desc, parent_id,  created_date, created_by, is_product)		  
						SELECT asset_name,asset_name,@groupId,GETDATE(),'admin','True' FROM #tempTableCode WHERE RowId=@intTotalRows1

						SET @item_id =@@IDENTITY;

						INSERT INTO ASSET_PRODUCT(porduct_code,product_desc,ASSET_CODE,item_id,created_date,created_by)  
						SELECT asset_name,asset_name,asset_code,@item_id,GETDATE(),'admin' FROM #tempTableCode	WHERE RowId=@intTotalRows1
						

						SET @intTotalRows1=@intTotalRows1+1	
						
					END
				
					SET @intTotalRows=@intTotalRows+1	
					DELETE FROM #tempTableCode
			END

END
--SELECT * FROM ASSET_PRODUCT
GO
