USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procPayRollReport_Trial]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[procPayRollReport_Trial]
	@flag varchar(10)=null,
	@brach varchar(20)=null,
	@dept varchar(20)=null,
	@empid varchar(20) =null,
	@year varchar(100)=null,
	@month varchar(20)=null
as

set nocount on;

if @flag = 'a'
begin


declare @sql varchar(MAX), @sqlcon varchar(2000)

set @sqlcon=''


					if @brach is not null
					set @sqlcon= @sqlcon + ' and E.BRANCH_ID = '+ @brach
					
					if @dept is not null
					set @sqlcon= @sqlcon + ' and E.DEPARTMENT_ID = '+ @dept
					
					if @empid is not null
					set @sqlcon= @sqlcon + ' and E.EMPLOYEE_ID = '+ @empid
					
					if @month is not null
					set @sqlcon= @sqlcon + ' and cast(RUN_MONTH as int) = cast('+ @month +' as int)' 


	set @sql = 'SELECT 
		EMP_ID,EMPNAME as [Description]
		  ,dbo.ShowDecimal(case when cast(RUN_MONTH as int) = 1 then NET_SALARY else 0 end) BAISAKHA
		   ,case when cast(RUN_MONTH as int) = 2 then NET_SALARY else 0.00 end  JESTHA
			,case when cast(RUN_MONTH as int) = 3 then NET_SALARY else 0.00 end  ASHAD
			 ,case when cast(RUN_MONTH as int) = 4 then NET_SALARY else 0.00 end  SHRAWAN
			  ,case when cast(RUN_MONTH as int) = 5 then NET_SALARY else 0.00 end  BHADRA
			   ,case when cast(RUN_MONTH as int) = 6 then NET_SALARY else 0.00 end  ASHOJ
				,case when cast(RUN_MONTH as int) = 7 then NET_SALARY else 0.00 end  KARTIK
				 ,case when cast(RUN_MONTH as int) = 8 then NET_SALARY else 0.00 end  MANGSHIR
				  ,case when cast(RUN_MONTH as int) = 9 then NET_SALARY else 0.00 end  PAUSH
				   ,case when cast(RUN_MONTH as int) = 10 then NET_SALARY else 0.00 end  MAGH
					,case when cast(RUN_MONTH as int) = 11 then NET_SALARY else 0.00 end  FALGUN
					 ,case when cast(RUN_MONTH as int) = 12 then NET_SALARY else 0.00 end  CHAITRA
				           
			FROM(

				SELECT EMP_ID,FIRST_NAME+'' ''+MIDDLE_NAME+'' ''+ LAST_NAME AS EMPNAME,
					(BASIC_SALARY_CURRENT+GRADE_CURRENT+ ALLOWANCE_CURRENT+
					ADHOC_BENEFITS_THIS_MONTH+CONTRI_THIS_MONTH_EMPLOYER-
					dbo.showdecimal(CONTRI_THIS_MONTH_EMPLOYER+CONTRI_CURRENT_EMPLOYEE+TAX_THIS_MONTH+
					ADHOC_DEDUCTION_CURRENT+LOAN_DEDUCTION+ADVANCE_DEDUCTION)) AS NET_SALARY,
					RUN_MONTH
				FROM TAXCALCULATION_Trial TC  with(nolock)
					INNER JOIN EMPLOYEE E with(nolock) ON E.EMPLOYEE_ID =TC.EMP_ID
				WHERE  FY_ID = '''+ @year +'''' + @sqlcon
				
					
			set @sql = @sql + ' )a'
			
			exec(@sql)
			
end
GO
