USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_ApproveLeaveRequest]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[proc_ApproveLeaveRequest]	
	@flag					char(2)
	,@Employee_ID			int					=	NULL
	,@LeaveType				int					=	null
	,@AppFromDate			VARCHAR(10)			=	null
	,@AppToDate				VARCHAR(10)			=	null
	,@AppDays				decimal(4,1)		=	null
	,@HalfDay				int					=	null
	,@LFA					int					=	null	
	,@SubstituteDate		date				=	null
	,@Relieving				int					=	null
	,@Status				varchar(50)			=	null
	,@Remarks				varchar(300)		=	null
	,@entryUser				varchar(10)			=	null
	,@entryDate				date				=	null
	,@ID					int

as

SET NOCOUNT ON;

	select @entryDate = GETDATE()
	
	DECLARE @IS_HALFDAY INT
	,@IS_LFA INT
	,@IS_SUBSTITUTED INT
	,@IS_RELIEVING INT
	,@FORCE_LEAVE_DEDUCT INT
	,@BRANCH INT
	,@DEPARTMENT INT
	,@POSITION	INT
	
	DECLARE @Remdays decimal(4,1)
	,@ReqFromDate VARCHAR(10)
	,@ReqToDate VARCHAR(10)
	,@ReqDays decimal(4,1)
	,@lfa_amount int
	,@LFA_DAYS decimal(4,1)
	,@YEAR VARCHAR(5)
	
	SET @HalfDay = ISNULL(@HalfDay,'0')
	SET @LFA = ISNULL(@LFA,0)
	
	SELECT TOP 1
		 @Employee_ID	=	REQUESTED_BY
		,@LeaveType		=	LEAVE_TYPE_ID
		,@Remdays		=	REMAINING_DAYS
		,@ReqFromDate	=	FROM_DATE
		,@ReqToDate		=	TO_DATE
		,@ReqDays		=	REQUESTED_DAYS 
	FROM LeaveRequest
	WHERE ID = @ID
	
	SELECT Top 1 
		 @IS_HALFDAY			=	ISNULL(IS_HALFDAY,0)
		,@IS_LFA			=	ISNULL(IS_LFA,0)
		,@IS_SUBSTITUTED	=	ISNULL(IS_SUBSTITUTED,0)
		,@IS_RELIEVING		=	ISNULL(RELIEVING,0)
		,@FORCE_LEAVE_DEDUCT=	ISNULL(FORCE_LEAVE_DEDUCT,0)
	FROM leaveAssignment
	WHERE LEAVE_TYPE_ID = @LeaveType
		AND EMPLOYEE_ID = @Employee_ID	 
		
	---### Declare variables for E-Mail Notification(Recommend)			
		
	DECLARE 
			 @empname AS VARCHAR(20)
			,@leaveName AS VARCHAR(500)
			,@msgContent AS VARCHAR(MAX)
			,@recipient AS VARCHAR(500)
			,@receommed_by AS VARCHAR(10)
			,@leave_id AS VARCHAR(10)
			,@from_date AS VARCHAR(20)
			,@to_date AS VARCHAR(20)
			,@REQUESTED_DAYS AS VARCHAR(10)
			,@requested_by AS VARCHAR(10)
			,@approve_by as varchar(10)
			,@msgContent1 as varchar(max)
			,@sender as varchar(50)
			,@receiver as varchar(50)
			,@approved_by varchar(50)	
	
	--VALIDATION
	IF @flag = 'r' or @flag ='a'
	BEGIN
		--Releiving person and requested by person different
		IF @Relieving = @Employee_ID
		BEGIN
			SELECT '0' SUCCESS
					,'SUBSTITUTED PERSON CAN''T BE REQUESTING PERSON HIMSELF' REMARKS
			RETURN
		END
		
		IF NOT EXISTS (SELECT ID FROM LeaveRequest WHERE ID = @ID)
		BEGIN
			SELECT '0' AS SUCCESS
				,'NO LEAVE REQUEST FOUND' AS REMARKS
			RETURN
		END
	
		IF (DATEDIFF(DAY,@ReqFromDate,@AppFromDate) < 0
			OR DATEDIFF(DAY,@ReqToDate,@AppToDate) > 0)
		BEGIN
			SELECT '0' AS SUCCESS
				,'APPROVED DAYS MUSN''T BE OTHER THAN REQUESTED' AS REMARKS
			RETURN
		END
		
		IF NOT EXISTS (SELECT ID FROM LeaveRequest
					WHERE ID = @ID
					AND isnull(REQUESTED_HRS_STATUS,'0') = @HalfDay
					AND isnull(IS_LFA,0) = @LFA
					AND (SUBSTITUTED_FROM = @SubstituteDate 
						or (SUBSTITUTED_FROM is null and @SubstituteDate is null)
						)
					)
		BEGIN
			SELECT '0' AS SUCCESS
				,'HALFDAY STATUS, LFA STATUS, SUBSTITUTED DATE CAN''T BE CHANGED' AS REMARKS
			
			RETURN
		END
		
		IF @LFA = 1
		BEGIN
			IF NOT EXISTS (SELECT 'A' FROM leaveAssignment
							WHERE LEAVE_TYPE_ID = @LeaveType
							AND EMPLOYEE_ID = @Employee_ID
							AND FORCE_LEAVE_DEDUCT <= @AppDays)
			BEGIN
				SELECT '0' AS SUCCESS
						,'INVALID LFA DAYS' AS REMARKS
				RETURN			
			END
			
		END
		
		--COMPULSORY FIELDS
		IF @flag <> 'c'
		BEGIN
			IF @AppFromDate IS NULL OR @AppToDate IS NULL
			BEGIN
				SELECT '0' AS SUCCESS
					,'PLEASE FILL APPROVE DATES' AS REMARKS
				RETURN
			END
			
			IF @Remarks IS NULL
			BEGIN
				SELECT '0' AS SUCCESS
					,'PLEASE GIVE REMARKS' AS REMARKS
				RETURN
			END
			
		END
	END			


	-- Declare variables for E-mail Notification.
	
BEGIN TRY
	
		--populate
		IF @flag = 's'
		BEGIN
			SELECT	REQUESTED_BY
					,dbo.GetEmployeeInfoById(REQUESTED_BY) REQUESTED_FULLNAME
					,R.LEAVE_TYPE_ID
					,REMAINING_DAYS
					,LEAVE_STATUS
					,convert(varchar(10),FROM_DATE,101) FROM_DATE
					,convert(varchar(10),TO_DATE,101) TO_DATE
					,REQUESTED_DAYS
					,ISNULL(REQUESTED_HRS_STATUS,'0') REQUESTED_HRS_STATUS
					,R.IS_LFA
					,ISNULL(A.IS_LFA,0)							[APPLY_LFA]
					,ISNULL(A.IS_SUBSTITUTED,0)					[IS_SUBSTITUTED]
					,SUBSTITUTED_FROM
					,dbo.GetEmployeeInfoById(substituted_with) as substituted_withName					
					,substituted_with
					,LEAVE_PURPOSE
					,REQUESTED_WITH,APPROVED_BY
					,convert(varchar(10),APPROVED_FROM,101) APPROVED_FROM
					,convert(varchar(10),APPROVED_TO,101) APPROVED_TO
					,APPROVED_DAYS
					,RECOMMEND_REMARKS,REMARKS 
			FROM LeaveRequest R
			join leaveAssignment A 
				on R.LEAVE_TYPE_ID = A.LEAVE_TYPE_ID and R.REQUESTED_BY=A.EMPLOYEE_ID
			WHERE R.ID = @ID
		END
		
		--RECOMMEND
		IF @flag = 'r'
		BEGIN
		
			UPDATE LeaveRequest
				SET LEAVE_STATUS = 'Recommended'
					,RECOMMEND_REMARKS = @Remarks
					,REQUESTED_WITH_date = @entryDate
			WHERE ID = @ID
			
			SELECT '1' AS SUCCESS
				,'RECOMMENDED SUCCESSFULLY' AS REMARKS
				

			

			SELECT @receommed_by=REQUESTED_WITH
				,@from_date=FROM_DATE
				,@to_date=TO_DATE
				,@REQUESTED_DAYS=REQUESTED_DAYS
				,@requested_by=REQUESTED_BY
				,@approve_by=APPROVED_BY FROM LeaveRequest WHERE ID=@ID
			select @empname=FIRST_NAME+' '+MIDDLE_NAME+' '+LAST_NAME from Employee where EMPLOYEE_ID=@receommed_by
			SELECT @sender=FIRST_NAME+' '+MIDDLE_NAME+' '+LAST_NAME FROM Employee WHERE EMPLOYEE_ID=@requested_by
			SELECT @leaveName=NAME_OF_LEAVE FROM LeaveTypes WHERE ID=@LeaveType
			
			---##### Set Email Message for the Requester
			SET @msgContent=
			'Dear Sir/Madam
			
				Your '+@leaveName+' has been recommended by '+@empname+' from '+CONVERT(VARCHAR,@FROM_DATE,107)+' To
				'+ CONVERT(VARCHAR,@TO_DATE,107)+' ('+CAST(@REQUESTED_DAYS AS VARCHAR)+' days) and is now ready for approval.
		
				click here to go in system : http://hrms.nabilbank.com/

				Thanks & Regards
				Nabil Bank Limited (HR Department)'
			
			---##### Set Email Message for the Approver
			SET @msgContent1=
				'Dear Sir/Madam
				
				The '+@leaveName+' applied by '+@sender+' from '+CONVERT(VARCHAR,@FROM_DATE,107)+' to '+ CONVERT(VARCHAR,@TO_DATE,107)+'('+CAST(@REQUESTED_DAYS AS VARCHAR)+' days)
				has been recommended by '+@empname+'.
				He/She is seeking your approval for above concerned details.
				
				click here to go in system : http://hrms.nabilbank.com/

				Thanks & Regards
				Nabil Bank Limited (HR Department)'
				
			--### Set reciptient to send mail ###--			
			SELECT @recipient=OFFICIAL_EMAIL FROM Employee WHERE EMPLOYEE_ID=@requested_by
			SELECT @receiver=OFFICIAL_EMAIL FROM Employee WHERE EMPLOYEE_ID=@approve_by
			
			--### Send Mail ###--
			--EXEC PROC_MAIL_SEND @recipient=@recipient, @subject_text='Leave Status', @msg_text=@msgContent	
			
			Exec procEmailNotes @flag='Insert',@sendTo=@recipient,@subject='Leave Status',@notesText=@msgContent	
			--EXEC PROC_MAIL_SEND @recipient=@receiver, @subject_text='Approve Leave Request', @msg_text=@msgContent1

			Exec procEmailNotes @flag='Insert',@sendTo=@receiver,@subject='Approve Leave Request',@notesText=@msgContent1
			
	
		END
		
		--APPROVE
		IF @flag = 'a'
		BEGIN
			
			select @LFA=IS_LFA from LeaveRequest where ID=@ID

			if exists(select * from LeaveRequest where LEAVE_STATUS='Approved' and ID=@ID)
			begin
				Select 'Your Leave has been already approved!'
				return;
			end

			UPDATE LeaveRequest
				SET  LEAVE_STATUS = 'Approved'
					,APPROVED_FROM = @AppFromDate
					,APPROVED_TO = @AppToDate
					,APPROVED_DAYS = @AppDays
					,substituted_with = @Relieving
					,APRPROVED_DATE = @entryDate
					,REMARKS = @Remarks
					,REQUESTED_WITH_date = @entryDate
			WHERE ID = @ID
			
			UPDATE leaveAssignment
				SET LEAVE_TAKEN_THIS_YEAR = isnull(LEAVE_TAKEN_THIS_YEAR,0) + @AppDays
				,LFA_Taken = CASE WHEN @LFA = 1 THEN 1 ELSE LFA_Taken END
			WHERE LEAVE_TYPE_ID = @LeaveType AND EMPLOYEE_ID = @Employee_ID
			

			IF @LFA = '1'
			Begin
			--Calculation of LFA Amount
			
					SELECT @BRANCH=BRANCH_ID,@DEPARTMENT=DEPARTMENT_ID,@POSITION=POSITION_ID FROM Employee WHERE EMPLOYEE_ID=@Employee_ID
					
					SELECT @YEAR=FISCAL_YEAR_NEPALI 
					FROM FiscalYear 
					WHERE GETDATE() BETWEEN EN_YEAR_START_DATE AND EN_YEAR_END_DATE
					
					SELECT @LFA_DAYS=ISNULL(FORCE_LEAVE_DEDUCT,0) 
					FROM leaveAssignment WITH(NOLOCK) 
					WHERE EMPLOYEE_ID=@Employee_ID 
					AND LEAVE_TYPE_ID=@leavetype
		
					SELECT @lfa_amount=ISNULL(CAST(value AS MONEY),0) FROM StaticDataDetail 
					WHERE ROWID=@POSITION

					INSERT INTO LFAHistory
						(emp_ID,Req_ID,LFADays,Amount,Dept_ID,Branch_ID,Position_ID,Fiscal_year,CreatedBy,CreatedDate)
					SELECT @Employee_ID,@ID,@AppDays,@lfa_amount,@DEPARTMENT,@BRANCH,@POSITION,@year,@entryUser,@entryDate

			END
			
			SELECT '1' AS SUCCESS
				,'APPROVED SUCCESSFULLY' AS REMARKS
			
			-----------------------sending mail after approval-----------------------------------------------
		
			-- Declare variables for E-mail Notification.
			DECLARE @msgContent2 AS VARCHAR(MAX),@msgContent3 as varchar(max)
			DECLARE @strList varchar(MAX),@REQUESTER_Name as Varchar (100)
			DECLARE @ccList AS VARCHAR(MAX)
			
			select @REQUESTER_Name=FIRST_NAME+ ' ' + MIDDLE_NAME + ' ' + LAST_NAME  from employee WHERE EMPLOYEE_ID =@Employee_ID
			select @leave_Id=LEAVE_TYPE_ID from LeaveRequest where ID=@ID
			SELECT @leaveName=NAME_OF_LEAVE FROM LeaveTypes WHERE ID=@leave_Id
			SELECT @empname = FIRST_NAME+ ' ' + MIDDLE_NAME + ' ' + LAST_NAME  
			from employee WHERE EMPLOYEE_ID =(select APPROVED_BY from LeaveRequest where ID=@ID)
			select @ccList=REPLACE(ccList,',',';') from LeaveRequest where ID=@ID
			SELECT @strList = ISNULL(@strList + '; ', '') +
			CAST(isnull(OFFICIAL_EMAIL,'') AS varchar(200))
			FROM Employee where EMPLOYEE_ID in (select Name from dbo.split(@ccList, ';'))
			
			SET @msgContent1=
			'Dear Sir/Madam

			'+@leaveName+' applied by '+@REQUESTER_Name+' has been approved by '+@empname+' from '+CONVERT(VARCHAR,@AppFromDate,107)+' To
			'+ CONVERT(VARCHAR,@AppToDate,107)+' ('+CAST(@AppDays AS VARCHAR)+' days).

		click here to go in system : http://hrms.nabilbank.com/

		Thanks & Regards
		Nabil Bank Limited (HR Department)'

			SELECT @recipient=OFFICIAL_EMAIL FROM Employee WHERE EMPLOYEE_ID=@Employee_ID
			--select @recipient=@recipient+'; '+isnull(@strList,'')

			--EXEC PROC_MAIL_SEND @recipient=@recipient, @subject_text='Leave Approved', @msg_text=@msgContent1

			Exec procEmailNotes @flag='Insert',@sendTo=@recipient,@subject='Leave Approved',@notesText=@msgContent1


			-------------------------Sending E-Mail Notification to Hr after approval of LFA leaves--------------------------------
			If @LFA='1'
			BEGIN
						Declare @recipientLFA varchar(max)
				SET @msgContent2=
				'Dear Sir/Madam

				The '+@leaveName+' (LFA) applied by '+@REQUESTER_Name+' has been approved by '+@empname+' from '+CONVERT(VARCHAR,@AppFromDate,107)+' To '+
				CONVERT(VARCHAR,@AppToDate,107)+' ('+cast(@AppDays as varchar)+' days).
				Please take necessary action.

				click here to go in system : http://hrms.nabilbank.com/

				Thanks & Regards
				Nabil Bank Limited (HR Department)'

				SELECT @recipientLFA = ISNULL(@recipientLFA + '; ', '') +
				CAST(isnull(OFFICIAL_EMAIL,'') AS varchar(200)) FROM Employee WHERE DEPARTMENT_ID='28'

			--EXEC PROC_MAIL_SEND @recipient=@recipient, @subject_text='LFA Approved Leaves', @msg_text=@msgContent2

			Exec procEmailNotes @flag='Insert',@sendTo=@recipientLFA,@subject='LFA Approved Leaves',@notesText=@msgContent2

			
			--SELECT @recipient
			
		END
		

		END
		
		
		--CANCELLED / REJECTED
		IF @flag = 'c'
		BEGIN
		
			if @Status = 'Pending'
				UPDATE LeaveRequest
					SET LEAVE_STATUS = 'Cancelled'
						,RECOMMEND_REMARKS = @Remarks
						,REQUESTED_WITH_date= @entryDate
				WHERE ID = @ID
			else
				UPDATE LeaveRequest
					SET LEAVE_STATUS = 'Cancelled'
						,REMARKS = @Remarks
				WHERE ID = @ID
			
			SELECT '1' AS SUCCESS
				,'CANCELLED SUCCESSFULLY' AS REMARKS
				
			SELECT 
				 @from_date=FROM_DATE
				,@to_date=TO_DATE
				,@REQUESTED_DAYS=REQUESTED_DAYS
				,@requested_by=REQUESTED_BY
				,@approve_by=APPROVED_BY FROM LeaveRequest WHERE ID=@ID
				
			select @empname=FIRST_NAME+' '+MIDDLE_NAME+' '+LAST_NAME from Employee where EMPLOYEE_ID=@entryUser
			
			SELECT @sender=FIRST_NAME+' '+MIDDLE_NAME+' '+LAST_NAME FROM Employee WHERE EMPLOYEE_ID=@requested_by
			SELECT @leaveName=NAME_OF_LEAVE FROM LeaveTypes WHERE ID=@LeaveType	
			SELECT @recipient=OFFICIAL_EMAIL FROM Employee WHERE EMPLOYEE_ID=@requested_by
			
			---##### Set Email Message for the Requester
			SET @msgContent=
			'Dear Sir/Madam
			
				Your '+lower(@leaveName)+' has been rejected by '+@empname+' from '+CONVERT(VARCHAR,@FROM_DATE,107)+' To
				'+ CONVERT(VARCHAR,@TO_DATE,107)+' ('+CAST(@REQUESTED_DAYS AS VARCHAR)+' days).
		
				Thank You!
				
				click here to go in system : http://hrms.nabilbank.com/

				Thanks & Regards
				Nabil Bank Limited (HR Department)'	
		
			--EXEC PROC_MAIL_SEND @recipient=@recipient, @subject_text='Leave Rejected!', @msg_text=@msgContent
			Exec procEmailNotes @flag='Insert',@sendTo=@recipient,@subject='Leave Rejected!',@notesText=@msgContent		
		END
		
END TRY
	
	
	BEGIN CATCH
		SELECT '0' SUCCESS
						,'SORRY, FAILED TO PROCESS.' REMARKS
			RETURN
	END CATCH
GO
