USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[Proc_In_ProductSetup]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[Proc_In_ProductSetup]
				 @flag char(1),
				 @id int,
				 @user varchar(50)=null,
				 @porduct_code varchar(50)=null,
				 @item_id int=null,
				 @product_desc varchar(200)=null,
				 @is_tangible varchar(5)=null,
				 @package_unit varchar(5)=null,
				 @batch_condition varchar(5)=null,
				 @serial_no varchar(5)=null,
				 @is_active varchar(5)=null,
				 @sales_tol_plus varchar(10)=null,
				 @sales_tol_minus varchar(10)=null,
				 @pur_tol_plus varchar(10)=null,
				 @pur_tol_minus varchar(10)=null,
				 @ext_fld1 varchar(100)=null,
				 @ext_fld2 varchar(100)=null,
				 @single_unit varchar(50)=null,
				 @unit_discount varchar(50)=null,
				 @bulk_discount varchar(50)=null,
				 @conversion_rate varchar(50)=null,
				 @purchase_base_price varchar(50)=null,
				 @sales_base_price varchar(50)=null,
				 @model varchar(50)=null,
				 @make varchar(50)=null,
				 @parentid  varchar(50)=null
as
	set nocount on;				 
if(@flag='i')
begin

		if exists(
			select id from IN_ITEM where parent_id = @parentid and is_product = 'false'
		)
		begin
					SELECT 'This Group Has Group So Can Not Add Group and Product Under Same Group' as MSG
					return
		end
		
		
		INSERT INTO IN_ITEM(item_name, item_desc, parent_id,  created_date, created_by, is_product) 
		VALUES (@porduct_code, @product_desc, @parentid,  GETDATE(), @user, 'true')
		
		SET @item_id = @@IDENTITY;
				 
		
		INSERT INTO IN_PRODUCT(porduct_code, item_id, product_desc, is_taxable, package_unit, batch_condition, serial_no, is_active, created_date, created_by, purchase_tolerence_minus, purchase_tolerence_plus
			  , sales_tolerence_minus, sales_tolerence_plus, ext_fld1, ext_fld2, single_unit, unit_discount, bulk_discount, conversion_rate,
			  purchase_base_price, sales_base_price, model, make)
		VALUES
		(@porduct_code, @item_id, @product_desc, @is_tangible, @package_unit,
		@batch_condition, @serial_no, @is_active, GETDATE(), @user, @pur_tol_minus, @pur_tol_plus,
		@sales_tol_minus, @sales_tol_plus, @ext_fld1, @ext_fld2, @single_unit, @unit_discount, @bulk_discount, @conversion_rate,
		@purchase_base_price, @sales_base_price, @model, @make)


		SELECT 'SUCESS' as MSG
			 
end	

if(@flag='u')
begin
				update IN_PRODUCT set porduct_code = @porduct_code, product_desc = @product_desc,is_taxable = @is_tangible, purchase_tolerence_minus = @pur_tol_minus,
						  purchase_tolerence_plus = @pur_tol_plus, sales_tolerence_minus = @sales_tol_minus, sales_tolerence_plus = @sales_tol_plus,	
						  package_unit = @package_unit, batch_condition = @batch_condition, serial_no = @serial_no, is_active = @is_active
						  ,modified_date = getdate(),modified_by = @user, single_unit=@single_unit, unit_discount=@unit_discount, bulk_discount=@bulk_discount,
						  conversion_rate=@conversion_rate, purchase_base_price=@purchase_base_price, sales_base_price=@sales_base_price 
						  ,model = @model, make=@make, ext_fld1 = @ext_fld1, ext_fld2 = @ext_fld2  
						  where id = @id
			
			
				update IN_ITEM set item_desc=@product_desc, item_name=@porduct_code 
				where id= (select item_id from IN_PRODUCT where id = @id) 
				
				
				SELECT 'SUCESS' as MSG
			
						  
end
if(@flag='s')
begin
			select p.porduct_code, i.item_name, p.product_desc, p.is_tangible, p.package_unit, p.batch_condition,
			p.ext_fld1,p.ext_fld2,p.purchase_tolerence_minus, p.purchase_tolerence_plus, p.sales_tolerence_minus, p.sales_tolerence_plus,
			p.serial_no, p.is_active, p.make, p.model, p.bulk_discount, p.single_unit, p.unit_discount, p.conversion_rate,p.sales_base_price,
			p.purchase_base_price, p.reorder_level from IN_PRODUCT p, IN_ITEM i where i.id = p.item_id and p.id= @id
			
			--select * from IN_PRODUCT
end

if(@flag='t')
begin
			select p.porduct_code, i.item_name, p.product_desc, p.is_tangible, p.package_unit, p.batch_condition,
			p.ext_fld1,p.ext_fld2,p.purchase_tolerence_minus, p.purchase_tolerence_plus, p.sales_tolerence_minus, p.sales_tolerence_plus,
			p.serial_no, p.is_active, p.make, p.model, p.bulk_discount, p.single_unit, p.unit_discount, p.conversion_rate,p.sales_base_price,
			p.purchase_base_price, p.reorder_level from IN_PRODUCT p, IN_ITEM i where i.id = p.item_id and p.item_id= @id
			
			--select * from IN_PRODUCT
end
GO
