USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[ProcCheckSessionUserLogin]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Exec ProcUserLogin 'dipesh', 'dipesh','1'

CREATE PROC [dbo].[ProcCheckSessionUserLogin]
	@user VARCHAR(50),
	@pass VARCHAR(50),
	@SESSION_ID VARCHAR(100)
AS

SET NOCOUNT ON;
BEGIN

	IF EXISTS(SELECT AdminID,SESSION FROM Admins WHERE UserName=@user AND dbo.decryptDb(UserPassword)=@pass AND ISNULL(session,'')<>'')
	BEGIN
		SELECT 'User Already Login!' AS MSG
		RETURN
	END
	ELSE
	BEGIN
		UPDATE Admins SET session='' WHERE UserName=@user AND dbo.decryptDb(UserPassword)=@pass
		SELECT 'Loign Sucess!' as MSG
		RETURN;
	END 

END
GO
