USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[PROC_CUST_DOC_HISTORY_DELETE]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PROC_CUST_DOC_HISTORY_DELETE](    
 @ROWIDS  VARCHAR(6000)    
)    
    
AS    
 SET NOCOUNT ON;    
 SET XACT_ABORT ON;    
    
    
DECLARE @SQL VARCHAR(8000)    
BEGIN TRANSACTION    
 SET @SQL='SELECT CAST(DOC_ID AS VARCHAR) + ''.'' + FILE_EXTENSION AS FILENAME FROM CUST_DOC_HISTORY WHERE DOC_ID IN (' + @ROWIDS + ')'    
 EXEC(@SQL)    
 SET @SQL='DELETE FROM CUST_DOC_HISTORY WHERE DOC_ID IN (' + @ROWIDS + ')'    
 EXEC(@SQL)    
COMMIT TRANSACTION
GO
