USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procManageINReqSchedule]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[procManageINReqSchedule]
		@FLAG VARCHAR(1),
		@ID INT =NULL,
		@BRANCH_ID INT =NULL,
		@DAY_NUM INT =NULL,
		@USER VARCHAR(50)=NULL

AS
SET NOCOUNT ON;
IF @FLAG='I'
BEGIN 
	IF EXISTS(SELECT TOP 1 * FROM IN_REQ_SCHEDULE 
		WHERE BRANCH_ID=@BRANCH_ID AND DAY_NUM=@DAY_NUM)
	BEGIN
		SELECT 'SORRY, ALREADY EXISTS!' AS MSG
		RETURN;
	END
	INSERT INTO IN_REQ_SCHEDULE(BRANCH_ID,DAY_NUM,CREATED_BY,CREATED_DATE)
	VALUES
	(@BRANCH_ID,@DAY_NUM,@USER,GETDATE())
	
	SELECT 'SUCCESS' AS MSG
END
IF @FLAG='U'
BEGIN 
	IF EXISTS(SELECT TOP 1 * FROM IN_REQ_SCHEDULE 
				WHERE BRANCH_ID=@BRANCH_ID AND DAY_NUM=@DAY_NUM
				AND ID<>@ID
			  )
	BEGIN
		SELECT 'SORRY, ALREADY EXISTS!' AS MSG
		RETURN;
	END
	UPDATE IN_REQ_SCHEDULE SET  BRANCH_ID=@BRANCH_ID,DAY_NUM=@DAY_NUM,
								MODIFIED_BY=@USER,MODIFIED_DATE=GETDATE()
	WHERE ID=@ID
	SELECT 'SUCCESS' AS MSG
END
IF @FLAG='D'
BEGIN
	DELETE FROM IN_REQ_SCHEDULE WHERE ID=@ID
	SELECT 'SUCCESS' AS MSG
END
IF @FLAG='S'
BEGIN
	SELECT  ID,
			BRANCH_ID,
			DAY_NUM
	FROM IN_REQ_SCHEDULE A WHERE A.ID=@ID

END
GO
