USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procAssetTransfer]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
exec procAssetTransfer '3','6','6','1007','2010-5-28'
*/
--select * from ASSET_INVENTORY

CREATE proc [dbo].[procAssetTransfer]
	@asset_id varchar(20),
	@from_branch_id varchar(20),
	@to_branch_id varchar(20),
	@user varchar(50),
	@date varchar(20)
AS
begin

	SET NOCOUNT ON;

	declare @item varchar(20),	@Received_Quantity float, @INVENTORY_AC varchar(20),
		@COMM_AC varchar(20),@pur_id varchar(20), @p_rate float, @p_stk_remain float, @intPartId int,
		@intTotalRows int, @strAgentID varchar(20), @tempID int, @temp_item int, 
		@strRefNum as varchar(20), @intBillid as int,
		@strAccountNum as varchar(25), @dblTotalAmt as float, @strTranType as varchar(50)

	SELECT ACCT_NUM,isnull(amount,0)as AMT,TRN_TYPE
		into #_tzRemittanceTranHit
		FROM (
		
			 -- TRANSFER BRANCH	 
	
			 
			 select B.ASSET_AC as ACCT_NUM, A.purchase_value as amount, 'CR'  TRN_TYPE from ASSET_INVENTORY A , ASSET_BRANCH B
			 where A.product_id = B.PRODUCT_ID
			 and B.BRANCH_ID=@from_branch_id and A.id =@asset_id
			 
			 union all
			 
			 select ACCUMULATED_DEP_AC, A.acc_depriciation , 'DR'  TRN_TYPE from ASSET_INVENTORY A , ASSET_BRANCH B
			 where A.product_id = B.PRODUCT_ID
			 and B.BRANCH_ID=@from_branch_id and A.id =@asset_id
			 
			 union all
			 
			 -- RECIVING BRANCH
			 select B.ASSET_AC, A.purchase_value, 'DR'  TRN_TYPE from ASSET_INVENTORY A , ASSET_BRANCH B
			 where A.product_id = B.PRODUCT_ID
			 and B.BRANCH_ID=@to_branch_id and A.id = @asset_id
			 
			 union all
			 
			 select ACCUMULATED_DEP_AC, A.acc_depriciation , 'CR'  TRN_TYPE from ASSET_INVENTORY A , ASSET_BRANCH B
			 where A.product_id = B.PRODUCT_ID
			 and B.BRANCH_ID=@to_branch_id and A.id = @asset_id
			 
		)a


	
	--DR Or CR Exist or not checcking
	if not exists(
		Select  trn_type from #_tzRemittanceTranHit where trn_type='DR'
	)
	Or 
	not exists(
		Select  trn_type from #_tzRemittanceTranHit where trn_type='CR'
	)
	begin
			Select  'DR or CR Balance not exists' as REMARKS
			return;	
	
	end

	if (Select  cast(sum(AMT)as money) from #_tzRemittanceTranHit where trn_type='DR' group by trn_type)
		<> (select  cast(sum(AMT) as money) from #_tzRemittanceTranHit  where trn_type='CR' group by trn_type)
	begin

			Select  'DR and CR Balance is not Equal' as REMARKS
			return;			
	end	
	
	
	
	Alter table #_tzRemittanceTranHit add RowID INT IDENTITY(1,1)
	select @intPartId=max(RowID) from #_tzRemittanceTranHit
	
--########## CREATE SUMMARY SEND TRANSACTION 

BEGIN TRANSACTION
	
	select @strRefNum=purchase_voucher from billSetting where company_id=1
		IF (@@ERROR <> 0) GOTO QuitWithRollback 
		
	update billSetting set purchase_voucher=cast(purchase_voucher as float)+1 where company_id=1
		IF (@@ERROR <> 0) GOTO QuitWithRollback 
     
         
 
         
         -- ############### TRAN MASTER DETAIL
		insert into tran_master (entry_user_id,acc_num
			,part_tran_type,ref_num,tran_amt, tran_date,
			tran_type,company_id,part_tran_srl_num,created_date,rpt_code, billno)
		Select @user,c.ACCT_NUM,
			TRN_TYPE,@strRefNum ,AMT,@date,
			'p','1',ROW_NUMBER() OVER(ORDER BY TRN_TYPE desc) AS SrNo, GETDATE(),'s',@intBillid
		from #_tzRemittanceTranHit c 
		
		IF (@@ERROR <> 0) GOTO QuitWithRollback 
			
		-- ############### TRAN MASTER DETAIL ENTRY
		INSERT INTO [tran_masterDetail]([ref_num] ,[tran_particular],tran_type, company_id,tranDate )
		Select  @strRefNum,'Send Transaction ','p','1',@date
		

COMMIT TRANSACTION

	SELECT  'Voucher Save Successfully, Voucher No: '+ @strRefNum AS REMARKS

--########## Drop TEMP TABLE
	drop table #_tzRemittanceTranHit
	
	
GOTO  EndSave

QuitWithRollback:
ROLLBACK TRANSACTION 


EndSave: 


end
GO
