USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_InventoryReqHistory]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
Exec proc_InventoryReqHistory @flag='a',@branchId=null, @deptId=null,@fromDate='2013-7-28', 
@toDate='2013-8-28',@productId='85',@fromBranch = '1'
*/
create PROC [dbo].[proc_InventoryReqHistory]
	@flag VARCHAR(1),
	@fromDate VARCHAR(20)=NULL,
	@toDate VARCHAR(20)=NULL,
	@fromBranch	varchar(20)	= null,
	@branchId	varchar(20) = null,
	@deptId	varchar(20)	= null,
	@productId VARCHAR(20)=NULL
AS
	IF @flag='a'
	begin
		select
			 [S.N.] = ROW_NUMBER() over(order by b.Delivered_Date) 
			,[Requisition ID] = b.id
			,[Dispatched Date] = convert(varchar,Delivered_Date,101)
			,[To Branch] = dbo.GetBranchName(b.branch_id)
			,[To Dept] = dbo.GetDeptName(b.dept_id)			
			,[Product] = c.porduct_code +' ('+ cast(c.id as varchar)+')'
			,[Req. Qty] = isnull(a.quantity,0)
			,[App. Qty] = isnull(a.Approved_Quantity,0)
			,[Dis. Qty] = isnull(a.Delivered_Quantity,0)
			,[Ack. Qty] = isnull(a.Received_Quantity,0)
			,[Dispatched Notes] = b.Delivery_Message
		from IN_Requisition a with(nolock) 
			inner join IN_Requisition_Message b with(nolock) on a.Requistion_message_id = b.id
			inner join IN_PRODUCT c with(nolock) on a.item = c.id
		where b.Delivered_Date between @fromDate and @toDate+' 23:59:59'
		and a.item = isnull(@productId,a.item)
		and b.Forwarded_To = @fromBranch
		and b.branch_id = isnull(@branchId,b.branch_id)
		and b.dept_id = isnull(@deptId,b.dept_id)
		and a.Delivered_Quantity is not null
		order by Delivered_Date
	end

	--select  * from IN_Requisition
	--select * from IN_Requisition_Message
	--select distinct status from IN_Requisition_Message
GO
