USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_LeaveAssignment]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[proc_LeaveAssignment]
	@flag					char(2)
	,@Employee_ID			int					=	NULL
	,@LeaveType				int					=	null
	,@DefaultDays			float		=	null
	,@LastYrDays			float		=	null
	,@LFAdays				float		=	null
	,@ApplyLFA				int					=	null
	,@Active				int					=	null
	,@Cashable				int					=	null
	,@Unlimited				int					=	null
	,@HalfDay				int					=	null
	,@Saturday				int					=	null
	,@Holiday				int					=	null
	,@Substituted			int					=	null
	,@Relieving				int					=	null
	,@entryUser				varchar(10)			=	null
	,@entryDate				date				=	null
	,@ID					int					=	null
	,@IsPersonal			char(1)				=	null
	,@NxtYrDays				float					=	null
	,@NxtYrDefault			float			=	null
	,@fromDate				varchar(50)			=	null
	,@toDate				varchar(50)			=   null
	,@max_req_days			float	= null
	,@min_req_days			float = null
	
as
set nocount on;

	DECLARE @MAXACCUMULATION	INT
	
	DECLARE @WORKINGDAYS float
	
	SET @entryDate					=	GETDATE()
	SET @DefaultDays				=	ISNULL(@DefaultDays,0)
	SET @LFAdays					=	ISNULL(@LFAdays,0)
	SET @LastYrDays					=	ISNULL(@LastYrDays,0)
	
	IF ISNULL(@ApplyLFA,0) = 0
		SET @LFAdays = 0
	
	SELECT @MAXACCUMULATION	= ISNULL(MAX_ACCUMULATION,0) FROM LeaveTypes
			WHERE ID = @LeaveType
	
	IF @flag = 'p' --POPULATE LEAVE TYPES
	BEGIN
		if @LeaveType is null
		begin
			SELECT LT.ID,LT.NAME_OF_LEAVE FROM LeaveTypes LT
			WHERE LT.IS_ACTIVE = 1
			AND LT.ID NOT IN (SELECT LEAVE_TYPE_ID FROM leaveAssignment 
								WHERE EMPLOYEE_ID = @Employee_ID and IS_DISABLED = 1)
			return
		end
		else
			begin
			SELECT LT.ID,LT.NAME_OF_LEAVE FROM LeaveTypes LT
			return
		end
		
	END
	
	IF @flag = 'g' --SELECT
		BEGIN
		
			if @LeaveType in (1,2,3)
				begin		
					select @WORKINGDAYS = dbo.FNAGetCurrentYrWorkDaysForEmployee(@Employee_ID)	
				end
			else 
				begin
					set @WORKINGDAYS=365
				end		
				
				
			--(default values OF THAT LEAVETYPE)
			SELECT
				CASE WHEN @WORKINGDAYS < 365 THEN ROUND(((CASE WHEN ISNULL(MAX_DAYS,0)<>0 THEN MAX_DAYS ELSE NO_OF_DAYS_DEFAULT END)*@WORKINGDAYS)/365,0)
				ELSE (CASE WHEN ISNULL(MAX_DAYS,0)<>0 THEN MAX_DAYS ELSE NO_OF_DAYS_DEFAULT END) END AS DEFAULTDAYS
				
				,CASE WHEN @WORKINGDAYS < 365 THEN ROUND((LFADAYS*@WORKINGDAYS)/365,0)
					ELSE LFADAYS END AS DEFAULTLFA
				
				,MAX_ACCUMULATION AS DEFAULTMAXACUM
				,ISNULL(IS_LFA,0) IS_LFA
				,ISNULL(IS_CASHABLE,0) IS_CASHABLE
				,ISNULL(IS_SATURDAY,0) IS_SATURDAY
				,ISNULL(IS_HOLIDAY,0) IS_HOLIDAY
				,ISNULL(IS_UNLIMITED,0) IS_UNLIMITED
				,ISNULL(RELIEVING,0) RELIEVING
				,ISNULL(IS_HOURLY,0)  AS IS_HALFDAY
				,ISNULL(IS_SUBSTITUTED,0) IS_SUBSTITUTED
				, min_req_days
				,max_req_days
				,dbo.[GetEngDateBaisakhFirst](@Employee_ID) Fromdate
				,dbo.GetEngDateChaitraEnd(@Employee_ID) Todate
			FROM LeaveTypes			
			WHERE ID = @LeaveType
			
			return
			
		END
	
	IF @flag = 'd'
	BEGIN
		SELECT @Employee_ID = EMPLOYEE_ID
			,@LeaveType = LEAVE_TYPE_ID FROM leaveAssignment
			WHERE ID = @ID
		
		IF EXISTS(
				Select ID 
				from LeaveRequest 
				where leaveAssignId=@ID 
				AND LEAVE_TYPE_ID=@LeaveType
				and LEAVE_STATUS in ('Pending','Recommended')
						)
			BEGIN
				SELECT '0' AS SUCCESS
						,'LEAVE REQUEST YET TO BE APPROVED!' AS REMARKS					
				RETURN
			END
		
		DELETE FROM leaveAssignment
			WHERE ID = @ID
		SELECT '1' AS SUCCESS
						,'SUCCESSFULLY DELETED' AS REMARKS					
		RETURN
	END	
	--EXEC proc_LeaveAssignment @flag = 's', @ID = '3'
		IF @flag = 's' --SELECT
		BEGIN
			SELECT @Employee_ID = EMPLOYEE_ID FROM leaveAssignment WHERE ID = @ID

			SELECT dbo.GetEmployeeInfoById(EMPLOYEE_ID) EMPLOYEE_ID
				,LEAVE_TYPE_ID
				,LA.IS_DISABLED AS IS_ACTIVE
				,ISNULL(LA.NO_OF_DAYS_ACTUAL,0) AS ASSIGNEDDAYS
				,ISNULL(LT.NO_OF_DAYS_DEFAULT,0) AS DEFAULTDAYS
				,ISNULL(LA.IS_LFA,0) AS ApplyLFA
				,ISNULL(LA.FORCE_LEAVE_DEDUCT,0) AS ASSIGNEDLFA
				,ISNULL(LT.LFADAYS,0) AS DEFAULTLFA
				,ISNULL(LA.LAST_YEAR_LEAVE,0) AS LASTYRLEAVE
				,ISNULL(LA.IS_CASHABLE,0) AS IS_CASHABLE
				,ISNULL(LA.IS_SATURDAY,0) AS IS_SATURDAY
				,ISNULL(LA.IS_HOLIDAY,0) AS IS_HOLIDAY
				,ISNULL(LA.IS_UNLIMITED,0) AS IS_UNLIMITED
				,ISNULL(LA.RELIEVING,0) AS RELIEVING
				,ISNULL(LA.IS_HALFDAY,0) AS IS_HALFDAY
				,ISNULL(LA.IS_SUBSTITUTED,0) AS IS_SUBSTITUTED
				,ISNULL(LA.NxtYrDefault,0) AS NxtYrDefault
				,ISNULL(LA.NxtYrDays,0) AS NxtYrDays
				,convert(varchar,LA.FromDate,101) AS FromDate
				,convert(varchar,LA.ToDate,101) AS ToDate
				, LA.min_req_days
				, LA.max_req_days
			FROM leaveAssignment LA
				JOIN LeaveTypes LT ON LA.LEAVE_TYPE_ID = LT.ID and LA.IS_DISABLED = 1
				--JOIN Employee E ON LA.EMPLOYEE_ID = E.EMPLOYEE_ID
			WHERE LA.ID = @ID
			
			--TABLE2 (ASSIGNED LEAVE OF EMPLOYEE)
			SELECT ROW_NUMBER() OVER (ORDER BY NAME_OF_LEAVE) AS [SN]
				,NAME_OF_LEAVE [LEAVE]
				,ISNULL(NO_OF_DAYS_ACTUAL,0) [ASSIGNED]
				,ISNULL(LAST_YEAR_LEAVE,0) [LAST YR]
				,ISNULL(LEAVE_TAKEN_THIS_YEAR,0) [TAKEN]
				,CASE WHEN isnull(La.IS_UNLIMITED,0)=1 THEN 0  ELSE
					isnull(LA.NO_OF_DAYS_ACTUAL,0)+ISNULL(LAST_YEAR_LEAVE,0)-isnull(LA.LEAVE_TAKEN_THIS_YEAR,0) END REMAIN_LEAVE
				,CASE WHEN IS_DISABLED =1 THEN 'ACTIVE' ELSE 'INACTIVE' END [STATUS]
				
				,CASE WHEN @IsPersonal='Y' THEN
				 '<a class="tool btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" title="View" href="/LeaveManagementModule/LeaveAssignment/Manage.aspx?ID='
				+ CAST(LA.ID AS VARCHAR) + '&EmpID=' + CAST(LA.EMPLOYEE_ID AS VARCHAR) 
				+ '"><i class="fa fa-eye"></i></a>' 
				ELSE 
				'<a class="tool btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" title="View" href="/LeaveManagementModule/LeaveAssignment/Manage.aspx?ID='
				+ CAST(LA.ID AS VARCHAR)
				+ '"><i class="fa fa-eye"></i></a>'
				END [SELECT]
			FROM leaveAssignment LA
				 JOIN LeaveTypes LT ON LA.LEAVE_TYPE_ID = LT.ID
			WHERE EMPLOYEE_ID = @Employee_ID and LA.IS_DISABLED = 1
			
			return
		END
		
		if @flag = 'sl' --select assigned leave by empid
		begin
			--(ASSIGNED LEAVE OF EMPLOYEE)
			SELECT ROW_NUMBER() OVER (ORDER BY NAME_OF_LEAVE) AS [SN]
				,NAME_OF_LEAVE [LEAVE]
				,ISNULL(NO_OF_DAYS_ACTUAL,0) [ASSIGNED]
				,ISNULL(LAST_YEAR_LEAVE,0) [LAST YR]
				,ISNULL(LEAVE_TAKEN_THIS_YEAR,0) [TAKEN]
				,CASE WHEN isnull(La.IS_UNLIMITED,0)=1 THEN 0  ELSE
					isnull(LA.NO_OF_DAYS_ACTUAL,0)+ISNULL(LAST_YEAR_LEAVE,0)-isnull(LA.LEAVE_TAKEN_THIS_YEAR,0) END REMAIN_LEAVE
				,CASE WHEN IS_DISABLED =1 THEN 'ACTIVE' ELSE 'INACTIVE' END [STATUS]
				
				,CASE WHEN @IsPersonal='Y' THEN
				 '<a class="tool btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" title="View" href="/LeaveManagementModule/LeaveAssignment/Manage.aspx?ID='
				+ CAST(LA.ID AS VARCHAR) + '&EmpID=' + CAST(LA.EMPLOYEE_ID AS VARCHAR) 
				+ '"><i class="fa fa-eye"></i></a>' 
				ELSE 
				'<a class="tool btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" title="View" href="/LeaveManagementModule/LeaveAssignment/Manage.aspx?ID='
				+ CAST(LA.ID AS VARCHAR)
				+ '"><i class="fa fa-eye"></i></a>'
				END [SELECT]
			FROM leaveAssignment LA
				 JOIN LeaveTypes LT ON LA.LEAVE_TYPE_ID = LT.ID
			WHERE EMPLOYEE_ID = @Employee_ID and LA.IS_DISABLED = 1
			
			return
		end
	
	--VALIDATION
	BEGIN
	--IS LEAVE ACTIVE?
	IF NOT EXISTS(SELECT ID FROM LeaveTypes WHERE ID =@LeaveType AND IS_ACTIVE = 1)
	BEGIN
		SELECT '0' AS SUCCESS
				,'LEAVE TYPE DOES NOT EXIST' AS REMARKS				
		RETURN
	END
	
	-- VOID EMPLOYEE
	IF @Employee_ID IS NULL
	BEGIN
		SELECT '0' AS SUCCESS
				,'NO EMPLOYEE SELECTED' AS REMARKS				
		RETURN
	END
	
	-- VOID LEAVE TYPE
	IF @LeaveType IS NULL
	BEGIN
		SELECT '0' AS SUCCESS
				,'NO LEAVE SELECTED!' AS REMARKS				
		RETURN
	END
	
	-- VOID DEFAULT DAY
	IF @DefaultDays IS NULL AND @Unlimited = 0
	BEGIN
		SELECT '0' AS SUCCESS
				,'DEFAULT DAY MISSING!' AS REMARKS				
		RETURN
	END
	
	
	--Does Employee exist?
	IF NOT EXISTS (SELECT EMPLOYEE_ID FROM Employee WHERE EMPLOYEE_ID = @Employee_ID)
	BEGIN
		SELECT '0' AS SUCCESS
				,'EMPLOYEE DOES NOT EXIST!' AS REMARKS				
		RETURN
	END
	
	--##LEAVETYPE AND LEAVEASSIGNMENT MATCH BEGIN
		--CASHABLE
		IF EXISTS(SELECT ID FROM LeaveTypes 
					WHERE  IS_CASHABLE = 0 AND ID = @LeaveType AND @Cashable = 1)
		BEGIN
			SELECT '0' AS SUCCESS
					,'THIS LEAVE CAN''T BE CASHABLE!' AS REMARKS				
			RETURN
		END
		
		--SATURDAY
		IF EXISTS(SELECT ID FROM LeaveTypes 
					WHERE  IS_SATURDAY = 0 AND ID = @LeaveType AND @Saturday = 1)
		BEGIN
			SELECT '0' AS SUCCESS
					,'THIS LEAVE CAN''T CONSIDER SATURDAY!' AS REMARKS				
			RETURN
		END
		
		--HOLIDAY
		IF EXISTS(SELECT ID FROM LeaveTypes 
					WHERE  IS_HOLIDAY = 0 AND ID = @LeaveType AND @Holiday = 1)
		BEGIN
			SELECT '0' AS SUCCESS
					,'THIS LEAVE CAN''T CONSIDER HOLIDAY!' AS REMARKS				
			RETURN
		END
		
		--UNLIMITED
		IF EXISTS(SELECT ID FROM LeaveTypes 
					WHERE  IS_UNLIMITED = 0 AND ID = @LeaveType AND @Unlimited = 1)
		BEGIN
			SELECT '0' AS SUCCESS
					,'THIS LEAVE MUST BE LIMITED!' AS REMARKS				
			RETURN
		END
		
		--SUBSTITUTED
		IF EXISTS(SELECT ID FROM LeaveTypes 
					WHERE  IS_SUBSTITUTED = 0 AND ID = @LeaveType AND @Substituted = 1)
		BEGIN
			SELECT '0' AS SUCCESS
					,'THIS LEAVE CAN''T BE SUBSTITUTED!' AS REMARKS				
			RETURN
		END
		
		--HALFDAY
		IF EXISTS(SELECT ID FROM LeaveTypes 
					WHERE  IS_HOURLY = 0 AND ID = @LeaveType AND @HalfDay = 1)
		BEGIN
			SELECT '0' AS SUCCESS
					,'THIS LEAVE DOES NOT HAVE HALFDAY!' AS REMARKS				
			RETURN
		END
		
		--RELIEVING
		IF EXISTS(SELECT ID FROM LeaveTypes 
					WHERE  RELIEVING = 1 AND ID = @LeaveType AND @Relieving = 0)
		BEGIN
			SELECT '0' AS SUCCESS
					,'THIS LEAVE MUST BE RELIEVING!' AS REMARKS				
			RETURN
		END
	
	--##LEAVETYPE AND LEAVEASSIGNMENT MATCH END
	--Check if Days are valid
	--##begin
		-- DEFAULT DAYS
		IF ISNUMERIC(@DefaultDays)=0
		BEGIN
			SELECT '0' SUCCESS
					,'YOU HAVE ASSIGNED INVALID DEFAULT DAYS!' REMARKS
			RETURN
		END
		--ELSE
		--BEGIN
		--	IF @DefaultDays * 10 % 5 <> 0
		--	BEGIN
		--		SELECT '0' SUCCESS
		--				,'YOU HAVE ASSIGNED INVALID DEFAULT DAYS!' REMARKS
		--		RETURN
		--	END	
		--END
		
		--LFA DAYS
		IF ISNUMERIC(@LFAdays)=0
		BEGIN
			SELECT '0' SUCCESS
					,'YOU HAVE ASSIGNED INVALID LFA DAYS!' REMARKS
			RETURN
		END
		--ELSE
		--BEGIN
		--	IF @LFAdays * 10 % 5 <> 0
		--	BEGIN
		--		SELECT '0' SUCCESS
		--				,'YOU HAVE ASSIGNED INVALID LFA DAYS!' REMARKS
		--		RETURN
		--	END	
		--END
		
		--LASTYR DAYS
		IF ISNUMERIC(@LastYrDays)=0
		BEGIN
			SELECT '0' SUCCESS
					,'YOU HAVE ASSIGNED INVALID LAST YEAR DAYS!' REMARKS
			RETURN
		END
		--IF @LastYrDays * 10 % 5 <> 0
		--BEGIN
		--	SELECT '0' SUCCESS
		--			,'YOU HAVE ASSIGNED INVALID LAST YEAR DAYS!' REMARKS
		--	RETURN
		--END
		
		--Days##BEGIN
		--DEFAULT DAYS				
			IF EXISTS(SELECT ID FROM LeaveTypes 
						WHERE NO_OF_DAYS_DEFAULT < @DefaultDays AND ID = @LeaveType
					)
			BEGIN
				SELECT '0' AS SUCCESS
						,'DEFAULT DAYS GREATER THAN DEFAULT VALUE' AS REMARKS				
				RETURN
			END
		
		--LFA DAYS
			IF EXISTS(SELECT ID FROM LeaveTypes 
						WHERE LFADAYS = 0 AND ID = @LeaveType AND @ApplyLFA = 1
					)
			BEGIN
				SELECT '0' AS SUCCESS
						,'LFA DAYS CAN''T BE ASSIGNED' AS REMARKS				
				RETURN
			END
		
			IF EXISTS(SELECT ID FROM LeaveTypes 
						WHERE LFADAYS < @LFAdays AND ID = @LeaveType
					)
			BEGIN
				SELECT '0' AS SUCCESS
						,'LFA DAYS GREATER THAN DEFAULT VALUE' AS REMARKS				
				RETURN
			END
			
			IF @LFAdays > @DefaultDays
			BEGIN
				SELECT '0' AS SUCCESS
						,'LFA DAYS GREATER THAN DEFAULT VALUE' AS REMARKS				
				RETURN
			END
		
	--DAYS##END
		
		IF @LastYrDays + @DefaultDays > @MAXACCUMULATION AND @MAXACCUMULATION <> 0
		BEGIN
			SELECT '0' SUCCESS
					,'LAST YEAR DAYS IS MORE...'
					/*+'@LastYrDays='+ cast(@LastYrDays as varchar)
					+'@DefaultDays='+cast(@DefaultDays as varchar)
					+'@MAXACCUMULATION='+cast(@MAXACCUMULATION as varchar) 
					*/REMARKS
			RETURN
		END
		
	--##end
	
	--Unlimited
	IF @Unlimited = 1 AND (@Cashable = 1 OR @Holiday =1 OR @Saturday =1 OR @ApplyLFA = 1)
	BEGIN
		SELECT '0' SUCCESS
				,'Unlimited Leave does not appear with Cashable or Holiday or Saturday or LFA..' REMARKS
		RETURN
	END
	
	--Substitute Date
	IF @Substituted = 1
	BEGIN
		IF @Unlimited = 0
		BEGIN
			SELECT '0' SUCCESS
					,'Substituted Leave must be Unlimited...' REMARKS
			RETURN
		END
	END
	
	/*--Relieving (By Default YES for all leave)
	IF @Relieving = 0
	BEGIN
		SELECT '0' SUCCESS
				,'Set Releiving YES...' REMARKS
		RETURN
	END*/
	
	
	END
	
	
	
	
	
	BEGIN TRY
		IF @flag ='i' --INSERT
		BEGIN
			--Is Leave Already Assigned?
			IF EXISTS (SELECT EMPLOYEE_ID FROM leaveAssignment 
						WHERE EMPLOYEE_ID = @Employee_ID AND LEAVE_TYPE_ID = @LeaveType and IS_DISABLED = 1)
			BEGIN
				SELECT '0' AS SUCCESS
						,'LEAVE ALREADY ASSIGNED FOR THIS EMPLOYEE' AS REMARKS					
				RETURN
			END
			
			/*
			EMPLOYEE_ID,LEAVE_TYPE_ID,NO_OF_DAYS_ACTUAL,IS_DISABLED
			,IS_SATURDAY,IS_HOLIDAY,LAST_YEAR_LEAVE,FORCE_LEAVE_DEDUCT
			,LEAVE_TAKEN_THIS_YEAR
			,CREATED_BY,CREATED_DATE,MODIFIED_BY,MODIFIED_DATE,IS_LFA
			*/
			
			INSERT INTO leaveAssignment
			(
				EMPLOYEE_ID,LEAVE_TYPE_ID,NO_OF_DAYS_ACTUAL,IS_DISABLED
				,IS_SATURDAY,IS_HOLIDAY,IS_LFA
				,IS_CASHABLE,IS_UNLIMITED,IS_HALFDAY,IS_SUBSTITUTED,RELIEVING
				,LAST_YEAR_LEAVE,FORCE_LEAVE_DEDUCT,NxtYrDays,NxtYrDefault,fromDate,toDate
				,CREATED_BY,CREATED_DATE
				,min_req_days,max_req_days
			)
			VALUES
			(
				@Employee_ID,@LeaveType,@DefaultDays,@Active
				,@Saturday,@Holiday,@ApplyLFA
				,@Cashable,@Unlimited,@HalfDay,@Substituted,@Relieving
				,@LastYrDays,@LFAdays,@NxtYrDays,@NxtYrDefault,@fromDate,@toDate
				,@entryUser,@entryDate,@min_req_days,@max_req_days
			)
			
			SELECT '1' AS SUCCESS
						,'LEAVE SUCCESSFULLY ASSIGNED' AS REMARKS					
			RETURN
		
		END
		
		IF @flag ='u' --Update
		BEGIN
			--Is Leave Assigned?
			IF NOT EXISTS (SELECT EMPLOYEE_ID FROM leaveAssignment 
						WHERE EMPLOYEE_ID = @Employee_ID AND LEAVE_TYPE_ID = @LeaveType)
			BEGIN
				SELECT '0' AS SUCCESS
						,'LEAVE NOT YET ASSIGNED FOR THIS EMPLOYEE' AS REMARKS					
				RETURN
			END
			
			IF EXISTS(
					Select ID 
						from LeaveRequest 
						where leaveAssignId=@ID 
						AND LEAVE_TYPE_ID=@LeaveType
						and LEAVE_STATUS in ('Pending','Recommended')
								)
					BEGIN
						SELECT '0' AS SUCCESS
								,'LEAVE REQUEST YET TO BE APPROVED!' AS REMARKS					
						RETURN
					END

			UPDATE leaveAssignment
			SET EMPLOYEE_ID=@Employee_ID
				,LEAVE_TYPE_ID=@LeaveType
				,NO_OF_DAYS_ACTUAL=@DefaultDays
				,IS_DISABLED=@Active
				,IS_SATURDAY=@Saturday
				,IS_HOLIDAY=@Holiday
				,IS_LFA=@ApplyLFA
				,IS_CASHABLE=@Cashable
				,IS_UNLIMITED=@Unlimited
				,IS_HALFDAY=@HalfDay
				,IS_SUBSTITUTED=@Substituted
				,RELIEVING=@Relieving
				,LAST_YEAR_LEAVE=@LastYrDays
				,FORCE_LEAVE_DEDUCT=@LFAdays
				,MODIFIED_BY=@entryUser
				,MODIFIED_DATE=@entryDate
				,NxtYrDays=@NxtYrDays
				,NxtYrDefault=@NxtYrDefault
				,FromDate=@fromDate
				,toDate=@toDate
				,min_req_days=@min_req_days
				,max_req_days=   @max_req_days
			WHERE ID = @ID
			
			SELECT '1' AS SUCCESS
						,'LEAVE ASSIGN SUCCESSFULLY UPDATED' AS REMARKS					
			RETURN		
		
		END
		
		
	
	END TRY
	
	BEGIN CATCH
		SELECT '1' AS SUCCESS
						,'FAILED TO REACH SERVER' AS REMARKS					
		RETURN
	END CATCH
GO
