USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[ProcDateWiseRpt]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Exec [ProcDateWiseRpt] @flag='a',@from_date='2011-01-26', @to_date='2011-03-26',@group_id=null,@branch_id=null,@type_id=null
CREATE proc [dbo].[ProcDateWiseRpt]
	@flag char(1),
	@from_date varchar(20),
	@to_date varchar(20) ,
	@group_id varchar(20)=null,
	@branch_id varchar(20)=null,
	@type_id varchar(20)=null

	AS
	set nocount on;
	set xact_abort on;

	if @flag='a'
	begin
			SELECT ROW_NUMBER() OVER(ORDER BY A.ID) [S.N.]
					,dbo.GetBranchName(branch_id) [Branch Name]
					,b.porduct_code [Asset Type]
					,A.asset_number [Asset Number]
					,CONVERT(varchar,a.booked_date,107) [Book Date]
					,CONVERT(varchar,a.depr_start_date,107) [Dep. Start Date]
					,dbo.ShowDecimal(purchase_value) [Purchase Value]
					,dbo.ShowDecimal(acc_depriciation) [Acc. Dep]
					,dbo.ShowDecimal(purchase_value-acc_depriciation) [Book Value]
					,depre_pct [Dep (%)]
					,c.CustomerName [Vendor Name]
					,case when is_amortised='N' then 'No' else 'Yes' end [Is Amortised]
					,a.asset_status [Asset Status]
					,a.narration [Narration] 
			FROM ASSET_INVENTORY	a 
			inner join ASSET_PRODUCT b on a.product_id=b.id
			inner join Customer c on c.id=a.VendorId
			WHERE a.booked_date 
			BETWEEN @from_date AND @to_date+' 23:23:59'
			AND group_id like isnull(@group_id,'%') 
			AND product_id like ISNULL(@type_id,'%') 
			AND a.branch_id like ISNULL(@branch_id,'%')			
	end
GO
