USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_TempSuperVisroAssignment]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*

 Exec [proc_SuperVisroAssignment] @flag='i',@BRANCH='6',@DEPT=94,@EMP =1194
 ,@SUPERVISOR=1000,@SUPERVISOR_TYPE ='I',@USER='1000',@OPERATION_TYPE ='f',@NEW_SUPERVISOR = 1096
 
Exec [proc_SuperVisroAssignment] @flag='i',@BRANCH='6',@DEPT='94',@EMP ='1194'
,@SUPERVISOR='1134',@SUPERVISOR_TYPE='s',@OPERATION_TYPE='N',@USER='1000',@NEW_SUPERVISOR=null
 
    select * from SuperVisroAssignment

	EXEC [proc_TempSuperVisroAssignment] '6',
	94,1194,1134,'I','1000','N',null
	
	SELECT * FROM SuperVisroAssignment WHERE SUPERVISOR_TYPE='S' AND BRANCH=6 AND DEPT = 94 AND EMP = 1194
	
	select * from Employee where BRANCH_ID = 6 and EMPLOYEE_ID = 1114 and DEPARTMENT_ID = 122
	
	
  --truncate table SuperVisroAssignment


*/


CREATE PROCEDURE [dbo].[proc_TempSuperVisroAssignment](
					
					 @BRANCH				varchar(20)				=	NULL	
					,@DEPT					varchar(20)				=	NULL
					,@EMP					varchar(20)				=	NULL
					,@SUPERVISOR			varchar(20)				=	NULL
					,@SUPERVISOR_TYPE		VARCHAR(1)				=	NULL
					,@USER					varchar(20)				=	NULL
					,@OPERATION_TYPE		VARCHAR(1)				=   NULL
					,@NEW_SUPERVISOR		VARCHAR(100)			=   NULL
		)
		AS
		SET NOCOUNT ON;
        DECLARE @sql VARCHAR(2000)

       /*
       
         N -> NEW ONLY
         R -> REPLACE ALL(INCLUDE NEW EMP)
         F -> FIND AND REPLACE 
       
       */


		CREATE TABLE #TempSuperVisorAssignment
		(
				TEMP_SV_ASSIGN_ID			INT IDENTITY(1,1)		
				,BRANCH						INT		
				,DEPT						INT		
				,EMP						INT		
				,SUPERVISOR					INT		
				,SUPERVISOR_TYPE			VARCHAR(1)
				,record_status				VARCHAR(1)
				,CREATED_BY					INT		
				,CREATED_DATE				DATE			
		)
			
			
			
	SET @sql = 'INSERT INTO #TempSuperVisorAssignment (
				 BRANCH								
				,DEPT								
				,EMP								
				,SUPERVISOR							
				,SUPERVISOR_TYPE
				,record_status			
				,CREATED_BY							
				,CREATED_DATE	
				)
			(
					SELECT	e.BRANCH_ID
							,e.DEPARTMENT_ID
							,e.EMPLOYEE_ID
							,'+@SUPERVISOR +'
							,'''+ @SUPERVISOR_TYPE +'''
							,''y''
							,'+@USER +'
							,GETDATE()
						
						FROM Employee e WITH (NOLOCK)
						 INNER JOIN Branches b
							ON e.BRANCH_ID=b.BRANCH_ID
						 INNER JOIN Departments d 
							ON d.DEPARTMENT_ID=e.DEPARTMENT_ID
						 WHERE e.BRANCH_ID='''+@BRANCH+''''
					 
					IF @DEPT<>0 AND @DEPT IS NOT NULL
					SET @sql = @sql + ' AND e.DEPARTMENT_ID = '''+@DEPT+'''' 
					
					IF @EMP <> 0 AND @EMP IS NOT NULL
					SET @sql = @sql + 'AND e.EMPLOYEE_ID='''+@EMP+''''
					
					SET @sql = @sql + ')'
													
				EXEC (@sql)
					
				IF @OPERATION_TYPE ='N'
				BEGIN
				
				-- IF @SUPERVISOR_TYPE ='i'
				--  BEGIN
				
			 -- --   IF  EXISTS(SELECT * FROM SuperVisroAssignment WHERE SUPERVISOR_TYPE= 'I' AND EMP = @EMP  AND record_status='y')
				--	--BEGIN
				--	-- RETURN;
				--	--END
					
				--END
			     
			    
			       DELETE #TempSuperVisorAssignment
						FROM #TempSuperVisorAssignment AS T
						 INNER JOIN SuperVisroAssignment AS SA 
						ON SA.BRANCH = T.BRANCH 
						AND SA.DEPT = T.DEPT 
						AND SA.EMP = T.EMP
						AND SA.SUPERVISOR	= @SUPERVISOR
						AND SA.SUPERVISOR_TYPE=@SUPERVISOR_TYPE
						AND SA.record_status = 'y' 
						
						SELECT BRANCH,DEPT,EMP,SUPERVISOR,SUPERVISOR_TYPE,record_status,CREATED_BY,CREATED_DATE
						FROM #TempSuperVisorAssignment
					
						
					
						--IF NOT EXISTS (SELECT TOP 1 * FROM #TempSuperVisorAssignment)
						-- BEGIN 
						--	SELECT 'NO DATA FOUND' as REMARKS
						--	return;		
						--END

						 
				
				END
				
				IF @OPERATION_TYPE = 'R'
				BEGIN
					
				SET @sql = 'UPDATE SuperVisroAssignment SET record_status = ''N'' 
							WHERE BRANCH = '''+@BRANCH+''' AND SUPERVISOR_TYPE = '''+@SUPERVISOR_TYPE+''''
								 
							IF @DEPT<>0 AND @DEPT IS NOT NULL
							SET @sql = @sql + ' AND DEPT = '''+@DEPT+'''' 
							
							IF @EMP <> 0 AND @EMP IS NOT NULL
							SET @sql = @sql + 'AND  EMP='''+@EMP+''''
							EXEC (@sql)
							--print @sql
							
				
				SET @sql = 	'SELECT BRANCH,DEPT,EMP,SUPERVISOR,SUPERVISOR_TYPE,record_status,CREATED_BY,CREATED_DATE
							FROM #TempSuperVisorAssignment WHERE 1=1'
							
						IF @DEPT<>0 AND @DEPT IS NOT NULL
						SET @sql = @sql + ' AND DEPT = '''+@DEPT+'''' 
						
						IF @EMP <> 0 AND @EMP IS NOT NULL
						SET @sql = @sql + 'AND  EMP='''+@EMP+''''
						
						EXEC (@sqL)
					
				
				END
				/*
				
				Exec [proc_SuperVisroAssignment] @flag='i',@BRANCH='6',@DEPT='94',@EMP =null,@SUPERVISOR='1221',
					@SUPERVISOR_TYPE='i',@OPERATION_TYPE='F',@USER='1000',@NEW_SUPERVISOR='1204'
					
								
				Exec [proc_SuperVisroAssignment] @flag='i',@BRANCH='6',@DEPT='94',@EMP ='1194',@SUPERVISOR='1122'
				,@SUPERVISOR_TYPE='i',@OPERATION_TYPE='F',@USER='1000',@NEW_SUPERVISOR='1151'
				
				
				EXEC [proc_TempSuperVisroAssignment] '6',
				94,1194,1107,'i','1000','F',1151
				
				 select * from SuperVisroAssignment
				*/
				
				IF @OPERATION_TYPE ='F'
				BEGIN
				
				
				SELECT 
					* INTO 
					#TempHistorySuperVisorAssignment 
					FROM SuperVisroAssignment 
					WHERE BRANCH = @BRANCH
					AND DEPT = CASE WHEN NULLIF(@DEPT, 0) IS NOT NULL THEN @DEPT ELSE DEPT END
					AND EMP = CASE WHEN NULLIF(@EMP, 0) IS NOT NULL THEN @EMP ELSE EMP END
					AND SUPERVISOR = @SUPERVISOR
					AND record_status ='y' and SUPERVISOR_TYPE =@SUPERVISOR_TYPE
					
					
				
					
				    UPDATE SuperVisroAssignment SET  record_status = 'n'
				    FROM SuperVisroAssignment SV 
				    INNER JOIN 
				    #TempHistorySuperVisorAssignment  T 
				    ON SV.SV_ASSIGN_ID = T.SV_ASSIGN_ID where SV.SUPERVISOR_TYPE = @SUPERVISOR_TYPE
				    
					UPDATE #TempHistorySuperVisorAssignment set SUPERVISOR=@NEW_SUPERVISOR
					  
					ALTER TABLE #TempHistorySuperVisorAssignment ADD FLAG INT
					  
					UPDATE #TempHistorySuperVisorAssignment SET FLAG=1 FROM   #TempHistorySuperVisorAssignment A
					INNER JOIN SuperVisroAssignment B ON A.EMP=B.EMP
					AND A.BRANCH = B.BRANCH
					AND A.DEPT=B.DEPT
					AND A.SUPERVISOR = B.SUPERVISOR
					AND A.SUPERVISOR_TYPE=B.SUPERVISOR_TYPE
					AND B.record_status ='y' 
					
					DELETE #TempHistorySuperVisorAssignment FROM #TempHistorySuperVisorAssignment WHERE FLAG=1
					  
					  
					SELECT BRANCH,DEPT,EMP,SUPERVISOR,SUPERVISOR_TYPE,'y',CREATED_BY,CREATED_DATE FROM #TempHistorySuperVisorAssignment 
					
			
				   
				   
				
				END
GO
