USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_OverTimeDetails]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_OverTimeDetails]  
         @flag       varchar(10)  = NULL  
        ,@OtRequest_id                  int    = NULL   
        ,@requested_by     varchar(50)  = NULL  
     ,@requested_with    varchar(50)  = NULL  
  ,@requested_date    date   = NULL  
     ,@request_in_time    time   = NULL --1-24  
  ,@request_out_time    time   = NULL ---1-60  
  ,@approved_by     int    = NULL  
  ,@status      varchar(1)  = NULL  
  ,@approved_date     date   = NULL  
  ,@supervisor_approv_time        time   = NULL  
  ,@Rate_type      varchar   = NULL--Hourly/Flat  
  ,@Rate_amount     decimal   = NULL--1.5  
  ,@ot_amount      money   = NULL--Calculated  
  ,@hr_approve_time    time   = NULL  
  ,@paid_by      int    = NULL  
  ,@paid_date      date   = NULL  
  ,@is_holiday     bit    = NULL  
  ,@paid_id      varchar(50)  = NULL---identity from adhoc_payment  
  ,@user       varchar(200) = NULL  
  ,@request_remark    varchar(500)    = NULL  
  ,@supervisor_approved_remark varchar(500)    = NULL  
  ,@hr_paid_remark    varchar(500)    = NULL  
  ,@ot_rate_id     int    = NULL  
  ,@EMPLOYEEID     int    = NULL  
  ,@sessionId      varchar(50)  = NULL  
  ,@statusFlag     varchar(1)  = NULL  
  ,@requesting_type    varchar(100) = NULL  
  ,@head_id      varchar(10)  = NULL -- Head Id for hardship   
  ,@from_date      date   = NULL -- from date for hardship  
  ,@to_date      date   = NULL -- to date for hardship  
AS  
/*  
 @flag  
 s -> select all   
 i -> insert  
 u -> update  
 a -> select by OtRequest_id  
 d -> delete by OtRequest_id  
 sp   -> supervisor approved  
 t   -> supervisor time update  
 H   ->HR APPROVED TIME  
 fa  -> Final Approved  
 ca -> Check Attendance  
  
  
*/  
  
 SET NOCOUNT ON   
 DECLARE @rateType VARCHAR(2)  
 DECLARE @Amt MONEY  
 DECLARE @DAYS INT  
 DECLARE @HOUR  float    
 DECLARE @OVERTIMEON VARCHAR(50)   
 DECLARE @RATE  MONEY  
 DECLARE @BASEAMOUNT MONEY  
 DECLARE @FinalCalcAmount MONEY,@POSITION_ID AS INT  
 DECLARE @gender int  
 --declare @Logouttime date  
 --declare @Logintime date  
   
     
 SET XACT_ABORT ON  
  
 BEGIN TRY  
   
 IF @flag = 'a' -- display  
 BEGIN  
  SELECT    
   requested_by,requested_with,requested_date,request_in_time,request_out_time,[status],is_holiday,created_by,modified_by  
  FROM OverTimeDetails   
  WHERE OtRequest_id= @OtRequest_id  
       
 END  
   
 ELSE IF @flag = 'i' -- insert  
    BEGIN  
  -- ## Requested hardship allowance    
    
  SELECT @gender = GENDER FROM EMPLOYEE WHERE EMPLOYEE_ID=@requested_by    
  --select @Logouttime = logout_time from atttendance where emp_id =@requested_by and convert(varchar,att_date,101)=@from_date  
  --select @Logintime = login_time from atttendance where emp_id =@requested_by and convert(varchar,att_date,101)=@from_date  
     
  if @requesting_type='1453' and @statusFlag='r'  
  begin  
    
   --if (@Logintime<>@Logouttime)  
   --begin  
   -- select 'Sorry! You have no logout time for the requested date!'  
   -- return;  
   --end  
    
   if exists(select * from OverTimeDetails where requested_by=@requested_by   
     and requesting_type='650' and  convert(varchar,requested_date,101)=@requested_date)  
   begin  
    select 'Sorry! You have already applied OT for the requested date!'  
    return;  
   end  
     
   if not exists( select * from atttendance WHERE (cast(att_date as date) between  cast(@from_date as date)and cast(@to_date as date)) and emp_id = @requested_by)  
   begin  
    select 'Sorry! You have no attendance record for the requested date!'  
    return;  
   end  
   if exists(select * from OverTimeDetails where requested_by=@requested_by   
     and requesting_type=@requesting_type and  (requested_date between @from_date and @to_date) )  
   begin  
    select 'Sorry! You have already applied hardship allowance for the requested date!'  
    return;  
   end  
    
   IF (EXISTS(SELECT * FROM LeaveAssignSubstitute WHERE EMP_ID=@requested_by AND  (WORKING_DATE between @from_date and @to_date)) AND @gender='109')  
   BEGIN  
    select 'Sorry! You have applied for a Subtitute leave for the requested date!'  
    return;  
      
   END  
     
   --select * from OverTimeDetails  
   INSERT INTO OverTimeDetails(  
         requested_date  
         ,requested_by  
        ,requested_with  
        ,request_in_time  
        ,request_out_time  
        ,requesting_type  
        ,head_id  
        ,[status]   
        ,request_remark  
              ,created_by  
        ,created_date  
        )  
        SELECT  
          *  
         ,@requested_by  
               ,@requested_with  
               ,@request_in_time  
               ,@request_out_time  
               ,@requesting_type  
         ,@head_id  
               ,'p'  
               ,@request_remark  
               ,@user  
               ,GETDATE() from  
          (select convert(varchar,att_date,101) as [Attendance Date]  from atttendance  
           where (convert(varchar,att_date,101) between @from_date and @to_date) and emp_id= @requested_by) x  
           
   SELECT 'SUCCESS' AS MSG    
  
   --------------------Email Notification After Requesting Hardship ---------------------  
   Declare @msg varchar(max), @emp_info varchar(500),@recipient varchar(max)  
   select @Emp_Info= FIRST_NAME+isnull(' '+MIDDLE_NAME+' ',' ')+LAST_NAME+' ('+rtrim(dbo.GetBranchOfId(BRANCH_ID))+' - '+  
   rtrim(dbo.GetDeptName(DEPARTMENT_ID))+' - '+rtrim(dbo.GetDetailTitle(POSITION_ID))+')' from Employee   
   where EMPLOYEE_ID=@requested_by  
  
   SET @msg=  
   'Dear Sir/Madam '+','+CHAR(10)+  
  
   @Emp_Info +'has requested his/her hardship from: '+cast(isnull(@from_date,'') as varchar)+','+'to:'+cast(isnull(@to_date,'') as varchar)+char(10)+  
   
   @Emp_Info +' is seeking your approval for above concerned details.  
  
   Click here to go in system: http://hrms.nabilbank.com/'  
  
   SELECT @recipient= isnull(official_email,'') from employee where EMPLOYEE_ID=@requested_with  
  
   Exec procEmailNotes @flag='Insert',@sendTo=@recipient,@subject='Hardship Allowance Request',@notesText=@msg  
   --------------------Email Notification Terminated-------------------------------------  
  
  
  
  end       
        IF @statusFlag='r' and @requesting_type='650'  
        BEGIN  
          
         SELECT @POSITION_ID=POSITION_ID FROM Employee WHERE EMPLOYEE_ID =@requested_by  
     
   IF @POSITION_ID NOT IN (SELECT ROWID FROM StaticDataDetail WHERE TYPE_ID=4 AND add_PF>=40) and @POSITION_ID<>'791'  
   BEGIN  
    SELECT 'Sorry! You are not authorized to apply OT!'  
    RETURN;  
   END  
         if exists(select * from OverTimeDetails where requested_by=@requested_by   
     and requesting_type='1453' and  convert(varchar,requested_date,101)=@requested_date)  
   begin  
    select 'Sorry! You have already applied hardship allowance for the requested date!'  
    return;  
   end  
         IF EXISTS(SELECT * FROM LeaveAssignSubstitute WHERE EMP_ID=@requested_by AND convert(varchar,WORKING_DATE,101)=@requested_date)  
   BEGIN  
    select 'Sorry! You have applied for a Subtitute leave for the requested date!'  
    return;  
   END  
     
         if not exists(select * from atttendance where convert(varchar,att_date,101)=@requested_date and emp_id=@requested_by)  
   begin  
    select 'Sorry! You have no attendance record for the requested date!'  
    return;  
   end  
     
   if exists(select * from OverTimeDetails   
        where requested_by=@requested_by   
        and requesting_type=@requesting_type   
        and convert(varchar,requested_date,101)=@requested_date)  
   begin  
      
    if exists(select 'X' from OverTimeDetails   
       where requested_by=@requested_by   
       and requesting_type=@requesting_type   
       and convert(varchar,requested_date,101)=@requested_date   
       and CAST(@request_in_time AS DATETIME) between CAST(request_in_time AS DATETIME) and CAST(request_out_time AS DATETIME)  
       )  
    begin  
      select 'Sorry! OT for requested date & time has already been requested before!'  
      return;  
    end   
    if exists(select 'X' from OverTimeDetails   
      where requested_by=@requested_by   
       and requesting_type=@requesting_type   
       and convert(varchar,requested_date,101)=@requested_date          
       AND CAST(@request_out_time AS DATETIME) between CAST(request_in_time AS DATETIME) and CAST(request_out_time AS DATETIME))  
    begin  
      select 'Sorry! OT for requested date & time has already been requested before!'  
      return;  
    end   
   end  
     
   -- ### CHECKING GUARD OR DRVER  
   if exists(select POSITION_ID from  Employee where EMPLOYEE_ID=@requested_by and POSITION_ID in (797,798,799,800,801,835))  
   begin  
     IF( CAST(cast(datediff(minute, @request_in_time, @request_out_time )/60 as varchar(5)) + ':' +  
         RIGHT('0' + cast(datediff(minute, @request_in_time, @request_out_time )%60 as varchar(2)), 2) AS DATETIME) > CAST('08:00' AS DATETIME))  
     BEGIN  
      select 'Sorry! You can not request more than 8 hours of OT!'  
      return;  
     END  
   end  
     
   -- ### CHECKING EMPLOYEE IS NOT A GUARD OR DRVER  
   IF EXISTS(SELECT POSITION_ID FROM  Employee WHERE EMPLOYEE_ID=@requested_by AND POSITION_ID NOT in (797,798,799,800,801,835))  
   BEGIN  
    DECLARE @DAY_NAME AS VARCHAR(20)  
    SELECT @DAY_NAME = upper(DATENAME(dw,@requested_date))  
    IF EXISTS(SELECT * FROM OfficialCalendar WHERE convert(VARCHAR,DATE,101)= @requested_date AND TYPE='H')  
    BEGIN  
     IF( CAST(cast(datediff(minute,@request_in_time,@request_out_time )/60 as varchar(5)) + ':' +  
        RIGHT('0' + cast(datediff(minute, @request_in_time, @request_out_time )%60 as varchar(2)), 2) AS DATETIME) > CAST('05:00' AS DATETIME))  
     BEGIN  
      SELECT 'Sorry! You can not request more than 5 hours of OT!'  
      RETURN;  
     END  
    END  
    ELSE if (@DAY_NAME = 'SATURDAY')  
    BEGIN  
     IF( CAST(cast(datediff(minute,@request_in_time,@request_out_time)/60 as varchar(5)) + ':' +  
        RIGHT('0' + cast(datediff(minute,@request_in_time,@request_out_time)%60 as varchar(2)), 2) AS DATETIME) > CAST('05:00' AS DATETIME))  
     BEGIN  
      SELECT 'Sorry! You can not request more than 5 hours of OT!'  
      RETURN;  
     END  
    END  
    ELSE  
    BEGIN  
     IF( CAST(cast(datediff(minute,@request_in_time,@request_out_time)/60 as varchar(5)) + ':' +  
        RIGHT('0' + cast(datediff(minute,@request_in_time,@request_out_time)%60 as varchar(2)), 2) AS DATETIME) > CAST('03:00' AS DATETIME))  
     BEGIN  
      SELECT 'Sorry! You can not request more than 3 hours of OT!'  
      RETURN;  
     END  
    END  
   END  
     
         INSERT INTO OverTimeDetails(  
         requested_by  
        ,requested_with  
        ,requested_date  
        ,request_in_time  
        ,request_out_time  
        ,requesting_type  
        ,[status]   
        ,request_remark  
              ,created_by  
        ,created_date  
        )  
        SELECT   
                @requested_by  
               ,@requested_with  
               ,@requested_date  
               ,@request_in_time  
               ,@request_out_time  
               ,@requesting_type  
               ,'p'  
               ,@request_remark  
               ,@user  
               ,GETDATE()  
   SELECT 'SUCCESS' AS MSG   
  
   --------------------Email Notification After Requesting Overtime ---------------------  
   Declare @Otmsg varchar(max), @otemp_info varchar(500),@otrecipient varchar(max)  
   select @otemp_info= FIRST_NAME+isnull(' '+MIDDLE_NAME+' ',' ')+LAST_NAME+' ('+rtrim(dbo.GetBranchOfId(BRANCH_ID))+' - '+  
   rtrim(dbo.GetDeptName(DEPARTMENT_ID))+' - '+rtrim(dbo.GetDetailTitle(POSITION_ID))+')' from Employee   
   where EMPLOYEE_ID=@requested_by  
  
   SET @Otmsg=  
   'Dear Sir/Madam '+','+CHAR(10)+  
  
   @otemp_info +'has requested his/her Overtime for date: '+cast(isnull(@requested_date,'') as varchar)+char(10)+  
   
   @otemp_info +' is seeking your approval for above concerned details.  
   Click here to go in system: http://hrms.nabilbank.com/'  
  
   SELECT @otrecipient= isnull(official_email,'') from employee where EMPLOYEE_ID=@requested_with  
  
   Exec procEmailNotes @flag='Insert',@sendTo=@otrecipient,@subject='Overtime Request',@notesText=@Otmsg  
  
   -------------Email Notification terminated-----------------------------------------------------------------------  
        END  
        ELSE  
        BEGIN  
   INSERT INTO OverTimeDetails(  
         requested_by  
        ,requested_with  
        ,requested_date  
        ,request_in_time  
        ,request_out_time  
        ,requesting_type  
        ,[status]   
                   ,request_remark  
              ,created_by  
        ,created_date  
        ,head_id          
           )  
     SELECT   
       requested_by  
       ,requested_with  
       ,requested_date  
       ,request_in_time  
       ,request_out_time  
       ,requesting_type  
       ,[status]  
       ,request_remark  
       ,created_by  
       ,created_date  
       ,HeadId  
         
     FROM TempOverTimeDetails   
     WHERE  seseion_Id = @sessionId  
       
     DELETE TempOverTimeDetails WHERE seseion_Id = @sessionId  
  END  
         
    SET @OtRequest_id=SCOPE_IDENTITY()  
    SELECT 0 error_code, 'New Ot has been added successfully.' mes, @OtRequest_id id  
 END          
         
 ELSE IF @flag='u' -- update OT  
 BEGIN  
      UPDATE OverTimeDetails  SET  
      requested_by     =@requested_by  
      , requested_with   =@requested_with  
      ,requested_date   =GETDATE()  
      ,request_in_time  =@request_in_time  
      ,request_out_time =@request_out_time  
      ,is_holiday       =@is_holiday  
      ,modified_by      =@user  
      ,modified_date    =GETDATE()  
      ,request_remark   =@request_remark  
      ,requesting_type  = @requesting_type  
        
    WHERE OtRequest_id=@OtRequest_id    
   
          
    SELECT 0 error_code, 'New Ot has been updated successfully.' mes, @OtRequest_id id  
         
    END  
         
 ELSE IF @flag = 'd' -- delete  
 BEGIN  
     DELETE FROM OverTimeDetails WHERE OtRequest_id   = @OtRequest_id  
  SELECT 0 error_code, 'OverTimeDetails successfully deleted.' mes, @OtRequest_id id   
 END  
     
 ELSE IF @flag='sp' -- Approve OT by Supervisor  
 BEGIN  
     IF (SELECT CAST(supervisor_approv_time AS VARCHAR(20)) FROM OverTimeDetails WHERE OtRequest_id = @OtRequest_id) IS NULL  
     BEGIN  
       UPDATE OverTimeDetails SET  
        approved_by      =@approved_by   
       ,approved_date      =GETDATE()  
       ,[status]       ='s'  
       ,supervisor_approv_time    = @supervisor_approv_time  
       ,supervisor_approved_remark   =@supervisor_approved_remark  
        WHERE   OtRequest_id    =@OtRequest_id  
      END  
     ELSE  
     BEGIN  
       
       UPDATE OverTimeDetails SET  
        approved_by      =@approved_by   
       ,approved_date      =GETDATE()  
       ,[status]       ='s'  
       ,supervisor_approved_remark   =@supervisor_approved_remark  
        WHERE   OtRequest_id    =@OtRequest_id  
    END  
 END  
  
  
 ELSE IF @flag='rr' -- Reject OT by Supervisor  
 BEGIN  
     IF (SELECT CAST(supervisor_approv_time AS VARCHAR(20)) FROM OverTimeDetails WHERE OtRequest_id = @OtRequest_id) IS NULL  
    BEGIN  
     UPDATE OverTimeDetails SET  
       approved_by    = @approved_by   
      ,approved_date    = GETDATE()  
      ,[status]     = 'x'  
      ,supervisor_approv_time  = @supervisor_approv_time  
     WHERE   OtRequest_id   = @OtRequest_id  
    END  
     ELSE  
    BEGIN  
     UPDATE OverTimeDetails SET  
       approved_by      =@approved_by   
      ,approved_date      =GETDATE()  
      ,[status]       ='x'  
      ,supervisor_approv_time    = @supervisor_approv_time  
     WHERE   OtRequest_id    =@OtRequest_id  
    END  
    
    --------------------Email Notification After rejecting Hardship by supervisor ---------------------  
   Declare @HardshipMsg varchar(max), @Htemp_info varchar(50),@hardshipRecipient varchar(max) ,@hardshipDate date  
   select @Htemp_info=e.employee_id from Employee e  
   inner join overtimedetails ot on ot.requested_by = e.employee_id 
   where ot.OtRequest_id=@OtRequest_id 
   
   select @hardshipDate= requested_date from overtimedetails 
   where OtRequest_id=@OtRequest_id 
  
   SET @HardshipMsg=  
   'Dear Sir/Madam '+','+CHAR(10)+  
  
   'Hardship requested  for date: '+cast(isnull(@hardshipDate,'') as varchar)+char(10)+  
   
   'has been rejected by supervisor with remarks '+@supervisor_approved_remark+' .  
   Click here to go in system: http://hrms.nabilbank.com/' +CHAR(10)+
   
   'Regards,
	HR Department' 
  
   SELECT @hardshipRecipient= isnull(official_email,'') from employee where EMPLOYEE_ID=@Htemp_info  
  
   Exec procEmailNotes @flag='Insert',@sendTo=@hardshipRecipient,@subject='Rejection of Hardship Request',@notesText=@HardshipMsg  
 END   
   
 ELSE IF @flag='HdA' -- Approve Hardship by Supervisor  
 BEGIN  
      
       UPDATE OverTimeDetails SET  
        approved_by      =@approved_by   
       ,approved_date      =GETDATE()  
       ,[status]       ='s'  
       ,supervisor_approved_remark   =@supervisor_approved_remark  
        WHERE   OtRequest_id    =@OtRequest_id  
      
 END  
  
 ELSE IF @flag='HdR' -- Reject Hardship by Supervisor  
 BEGIN  
     UPDATE OverTimeDetails SET  
       approved_by      =@approved_by   
      ,approved_date      =GETDATE()  
      ,[status]       ='x'  
      ,supervisor_approved_remark   =@supervisor_approved_remark  
     WHERE   OtRequest_id    =@OtRequest_id  
     
    --------------------Email Notification After rejecting hardship by HR ---------------------  
   Declare @HardshipMsgSup varchar(max), @HrequestedBy varchar(50),@hardshipRecipientSup varchar(max) ,@hardshipDateSup date  
   select @HrequestedBy=e.employee_id from Employee e  
   inner join overtimedetails ot on ot.requested_by = e.employee_id 
   where ot.OtRequest_id=@OtRequest_id 
   
   select @hardshipDateSup= requested_date from overtimedetails 
   where OtRequest_id=@OtRequest_id 
  
   SET @HardshipMsgSup=  
   'Dear Sir/Madam '+','+CHAR(10)+  
  
   'Hardship requested  for date: '+cast(isnull(@hardshipDate,'') as varchar)+char(10)+  
   
   'has been rejected by HR with remarks '+@supervisor_approved_remark+' .  
   Click here to go in system: http://hrms.nabilbank.com/' +CHAR(10)+
   
   'Regards,
	HR Department' 
  
   SELECT @hardshipRecipientSup= isnull(official_email,'') from employee where EMPLOYEE_ID=@HrequestedBy  
  
   Exec procEmailNotes @flag='Insert',@sendTo=@hardshipRecipient,@subject='Rejection of Hardship Request',@notesText=@HardshipMsgSup  
     
     
 END   
  
 ELSE IF @flag='t' -- Supervisor time update  
 BEGIN  
      UPDATE OverTimeDetails SET  
         supervisor_approv_time    =@supervisor_approv_time  
        ,supervisor_approved_remark         =@supervisor_approved_remark  
   WHERE   OtRequest_id      =@OtRequest_id  
   END   
      
 ELSE IF @flag='h'  
 BEGIN  
  SELECT   
   @rateType = rate_type, @Rate = AMOUNT, @overtimeon = overtime_on   
  FROM OtRateSetUp WHERE ot_rate_id=@ot_rate_id  
  SELECT @DAYS = DAYS_IN_MONTH,@HOUR=HOUR_IN_DAY FROM OtRuleSetUp  
    
  IF @rateType = 'f'  
  BEGIN  
   SELECT @FinalCalcAmount = @Rate FROM OtRateSetUp where ot_rate_id=@ot_rate_id  
  END        
  IF @rateType = 'h'   
  BEGIN  
   SELECT @BASEAMOUNT = SUM(ISNULL([AMOUNT],0)) FROM   
    (     
     SELECT   
      ISNULL (AMOUNT,0) [AMOUNT]   
     FROM Payable a   
      INNER JOIN StaticDataDetail s on a.BENEFIT_ID=s.ROWID   
       WHERE EMPLOYEE_ID=@EMPLOYEEID  
        AND s.TYPE_ID= ISNULL(SUBSTRING(@overtimeon,1,2),0) and is_Active = 'Y'  
     UNION ALL  
     SELECT   
      ISNULL (AMOUNT,0) [AMOUNT]    
     FROM Payable a   
     INNER JOIN StaticDataDetail s ON a.BENEFIT_ID = s.ROWID   
      WHERE EMPLOYEE_ID = @EMPLOYEEID  
       AND s.TYPE_ID = ISNULL(SUBSTRING(@overtimeon,4,2),0) and is_Active = 'Y'  
     UNION ALL  
     SELECT   
      ISNULL (AMOUNT,0) [AMOUNT]   
     FROM Payable a   
     INNER JOIN StaticDataDetail s ON a.BENEFIT_ID = s.ROWID  
      WHERE EMPLOYEE_ID = @EMPLOYEEID   
       AND s.TYPE_ID = ISNULL(SUBSTRING(@overtimeon,7,2),0) and is_Active = 'Y'  
    ) XY  
  ---CALCULATION START  
  
   SELECT @FinalCalcAmount = ROUND((((@BASEAMOUNT/@DAYS)/@HOUR)*@RATE)*replace(datepart(hour, @hr_approve_time)+(cast(datepart(minute, @hr_approve_time)as decimal)/60),':00.00','') ,2)  
     
  END  
  IF @rateType='d'  
  BEGIN  
   SELECT @BASEAMOUNT=SUM(ISNULL([AMOUNT],0)) FROM   
   (     
    SELECT ISNULL (AMOUNT,0) [AMOUNT] from Payable a   
    inner join StaticDataDetail s on a.BENEFIT_ID=s.ROWID   
    WHERE EMPLOYEE_ID=@EMPLOYEEID  
    and s.TYPE_ID= ISNULL(SUBSTRING(@overtimeon,1,2),0)  
    UNION ALL  
    SELECT ISNULL (AMOUNT,0) [AMOUNT]  from Payable a   
    inner join StaticDataDetail s on a.BENEFIT_ID=s.ROWID   
    WHERE EMPLOYEE_ID=@EMPLOYEEID  
    and s.TYPE_ID= ISNULL(SUBSTRING(@overtimeon,4,2),0)  
    UNION ALL  
    SELECT ISNULL (AMOUNT,0) [AMOUNT] from Payable a   
    inner join StaticDataDetail s on a.BENEFIT_ID=s.ROWID  
    WHERE EMPLOYEE_ID=@EMPLOYEEID   
    and s.TYPE_ID= ISNULL(SUBSTRING(@overtimeon,7,2),0)  
   ) XY  
    
    --CALCULATION START  
   SELECT @FinalCalcAmount = ROUND((@BASEAMOUNT/@DAYS)*@RATE,2)         
  END  
          
        SELECT @FinalCalcAmount totalAmount  
        --return;  
  UPDATE OverTimeDetails SET   
    hr_approve_time = @hr_approve_time  
   ,hr_paid_remark  = @hr_paid_remark  
   ,rate_type_status = @rateType  
   ,ot_amount   = @FinalCalcAmount  
   ,[status]   = 'a'  
   ,paid_id   = @paid_id   
   ,head_id   = '650'  
   ,hr_approve_by  =@user  
   ,hr_approve_date =getdate()  
  WHERE  OtRequest_id  = @OtRequest_id     
    
  --select * from OverTimeDetails  
        
     
 END  
   
 ELSE IF @flag='hs' -- Hardship approved by HR  
 BEGIN  
   
  if exists(select 'x' from OverTimeDetails with(nolock) where OtRequest_id = @OtRequest_id and status ='x')  
  begin  
   select 'Already rejected' msg  
   return;  
  end  
    
  --else if exists(select 's' from OverTimeDetails with(nolock) where OtRequest_id = @OtRequest_id and status ='s')  
  --begin  
  -- select 'Already Approved' msg  
  -- return;  
  --end  
    
  declare @amount money,@branch_id int,@dayName varchar(50),@date date,@emp_id int,@sup varchar(10)  
  select @date=requested_date,@emp_id=requested_by,@requesting_type =head_id from OverTimeDetails where otRequest_id=@OtRequest_id  
  select @branch_id=BRANCH_ID from Employee where EMPLOYEE_ID=@emp_id  
  select @dayName=DATENAME(DW,@date)  
  set @amount=0  
    
    
    
    
  if @sup='Y'  
  begin  
    -- ## Supervisor Allowance     
    if exists(select * from OfficialCalendar where DATE=@date and TITLE like '%Dashain%' and TYPE='H' and BRANCHID=@branch_id)  
    begin  
     -- ## Dashian Hardship  
       
     select @amount=Amount from PayRateSetup where Category_for=@requesting_type and Category=  
     (select categoryId from tadaPositionCategory where positionId=(select position_id from Employee where EMPLOYEE_ID=@emp_id)  
     and categoryId in (select Category from PayRateSetup where Category_for='579' and Category='1506')and Category_for=579)   
       
     update OverTimeDetails set head_id=579 where OtRequest_id=@OtRequest_id    
     
    end  
      
    else if exists(select * from OfficialCalendar where DATE=@date and TYPE='H' and BRANCHID=@branch_id)  
    begin    
     -- ## Public Holiday & Friday                                                                               
     select @amount=Amount from PayRateSetup where Category_for=@requesting_type and Category=  
     (select categoryId from tadaPositionCategory where positionId=(select position_id from Employee where EMPLOYEE_ID=@emp_id)  
     and categoryId in (select Category from PayRateSetup where Category_for='407' and Category='1506')and Category_for=407)  
       
     update OverTimeDetails set head_id=@requesting_type where OtRequest_id=@OtRequest_id   
     
    end    
      
    else if @dayName='Saturday'  
    begin  
     -- ## Saturday                                                                               
     select @amount=Amount from PayRateSetup where Category_for=@requesting_type and Category=  
     (select categoryId from tadaPositionCategory where positionId=(select position_id from Employee where EMPLOYEE_ID=@emp_id)  
     and categoryId in (select Category from PayRateSetup where Category_for='407' and Category='1506')and Category_for=407)  
       
     update OverTimeDetails set head_id=@requesting_type where OtRequest_id=@OtRequest_id   
  
    end  
      
    else if @dayName='Friday'  
    begin  
     -- ## Public Holiday & Friday                                                                               
     select @amount=Amount from PayRateSetup where Category_for=@requesting_type and Category=  
     (select categoryId from tadaPositionCategory where positionId=(select position_id from Employee where EMPLOYEE_ID=@emp_id)  
     and categoryId in (select Category from PayRateSetup where Category_for='407' and Category='1506')and Category_for=407)   
       
     update OverTimeDetails set head_id=@requesting_type where OtRequest_id=@OtRequest_id    
  
    end  
      
    else if not exists(select * from OfficialCalendar where DATE=@date and TYPE='H' and BRANCHID=@branch_id)  
    begin  
     -- ## Normal Hardship  
     select @amount=Amount from PayRateSetup where Category_for=406 and Category=  
     (select categoryId from tadaPositionCategory where positionId=(select position_id from Employee where EMPLOYEE_ID=@emp_id)  
     and categoryId in (select Category from PayRateSetup where Category_for='406' and Category='1506')and Category_for=406)  
       
     update OverTimeDetails set head_id=406 where OtRequest_id=@OtRequest_id    
      
    end    
   
  end  
  else  
  begin   
    if exists(select * from OfficialCalendar where DATE=@date and TITLE like '%Dashain%' and TYPE='H' and BRANCHID=@branch_id)  
    begin  
     -- ## Dashian Hardship  
     select @amount=Amount from PayRateSetup where Category_for=@requesting_type and Category=  
     (select categoryId from tadaPositionCategory where positionId=(select position_id from Employee where EMPLOYEE_ID=@emp_id)  
     and categoryId in (select Category from PayRateSetup where Category_for='579' and Category<>'1506')and Category_for=579)   
           
     update OverTimeDetails set head_id=579 where OtRequest_id=@OtRequest_id       
    end  
      
    else if exists(select * from OfficialCalendar where DATE=@date and TYPE='H' and BRANCHID=@branch_id)  
    begin    
     -- ## Public Holiday & Friday                                                                               
     select @amount=Amount from PayRateSetup where Category_for=@requesting_type and Category=  
     (select categoryId from tadaPositionCategory where positionId=(select position_id from Employee where EMPLOYEE_ID=@emp_id)  
     and categoryId in (select Category from PayRateSetup where Category_for='407' and Category<>'1506')and Category_for=407)  
       
     update OverTimeDetails set head_id=@requesting_type where OtRequest_id=@OtRequest_id    
    end    
      
    else if @dayName='Saturday'  
    begin  
     -- ## Saturday                                                                               
     select @amount=Amount from PayRateSetup where Category_for=@requesting_type and Category=  
     (select categoryId from tadaPositionCategory where positionId=(select position_id from Employee where EMPLOYEE_ID=@emp_id)  
     and categoryId in (select Category from PayRateSetup where Category_for='407' and Category<>'1506')and Category_for=407)   
       
     update OverTimeDetails set head_id=@requesting_type where OtRequest_id=@OtRequest_id   
    end  
      
    else if @dayName='Friday'  
    begin  
     -- ## Public Holiday & Friday       
     --select @amount=Amount from PayRateSetup where Category_for=407 and Category                                                                          
     select @amount=Amount from PayRateSetup where Category_for=@requesting_type and Category=  
     (select categoryId from tadaPositionCategory where positionId=(select position_id from Employee where EMPLOYEE_ID=@emp_id)  
     and categoryId in (select Category from PayRateSetup where Category_for='407' and Category<>'1506') and Category_for=407)   
       
     update OverTimeDetails set head_id=@requesting_type where OtRequest_id=@OtRequest_id    
  
    end  
      
    else if not exists(select * from OfficialCalendar where DATE=@date and TYPE='H' and BRANCHID=@branch_id)  
    begin  
     -- ## Normal Hardship  
     select @amount=Amount from PayRateSetup where Category_for=@requesting_type and Category=  
     (select categoryId from tadaPositionCategory where positionId=(select position_id from Employee where EMPLOYEE_ID=@emp_id)  
     and categoryId in (select Category from PayRateSetup where Category_for='406' and Category<>'1506')  
     and Category_for=406)  
       
     update OverTimeDetails set head_id=@requesting_type where OtRequest_id=@OtRequest_id   
       
    end  
  end  
  
     
  UPDATE OverTimeDetails SET       
    ot_amount   = @amount  
   ,[status]   = 'a'  
   ,paid_id   = @paid_id   
   ,hr_approve_by  =@user  
   ,hr_approve_date =GETDATE()   
  WHERE  OtRequest_id  = @OtRequest_id     
    
  SELECT dbo.ShowDecimal(@amount) totalAmount  
 END  
   
 ELSE IF @flag='Hr'--Hardship reject by HR  
 BEGIN  
  UPDATE OverTimeDetails SET  
   approved_by      =@approved_by   
   ,approved_date      =GETDATE()  
   ,[status]       ='x'  
   ,supervisor_approved_remark   =@supervisor_approved_remark  
   WHERE   OtRequest_id    =@OtRequest_id  
 END  
   
 ELSE IF @flag='fa'   
 BEGIN  
  --Read employeewise extra hours and OT in temp table  
  SELECT  
    IDENTITY(INT, 1, 1) rowId  
   ,requested_by  
   ,head_id  
   ,SUM(ot_amount) AMOUNT  
  INTO #TEMP  
  FROM OverTimeDetails WITH (NOLOCK)  
   WHERE paid_id = @sessionId  
   GROUP BY requested_by, head_id  
   ORDER BY requested_by ASC  
        
  DECLARE @NEPLI_MONTH AS INT,@DEP_VALUE AS MONEY,@FY_YR AS VARCHAR(20)  
  DECLARE @monthStartDate AS VARCHAR(20),@monthEndDate as varchar(20)   
    
  SET @FY_YR=dbo.FNAReturnCurrentFiscalYear(GETDATE())    
  SET @NEPLI_MONTH=dbo.GetNepaliMonth(convert(varchar,GETDATE(),101))  
  SET @monthStartDate= dbo.GetMonthStartDateEng(@FY_YR,@NEPLI_MONTH)  
  SET @monthEndDate= dbo.GetMonthEndDateEng(@FY_YR,@NEPLI_MONTH)  
     
  SET @EMPLOYEEID = 0  
  WHILE EXISTS(SELECT 'x' FROM #TEMP WHERE requested_by > @EMPLOYEEID)  
  BEGIN  
   SELECT TOP 1 @EMPLOYEEID = requested_by FROM #TEMP WHERE requested_by > @EMPLOYEEID ORDER BY requested_by ASC  
     
   --FOR OVERTIME  
     
   --selecT * from AdhocPayment  
   --select * from StaticDataDetail where ROWID=394  
   INSERT INTO AdhocPayment(  
      EMPLOYEE_ID, ADD_DEDUCT, HEAD_ID  
      ,AMOUNT, IS_PAID, CREATED_BY, CREATED_DATE,NARRATION,APPLIED_FOR_YEAR,APPLIED_FOR_MONTH,FROM_DATE,TO_DATE  
   )  
   SELECT requested_by, 'A', head_id  
     ,AMOUNT, '0', @user, GETDATE(),'OT / Hardship Allowance',@FY_YR,@NEPLI_MONTH,@monthStartDate,@monthEndDate  
   FROM #TEMP   
    WHERE requested_by = @EMPLOYEEID  
       
      
   SET @paid_id = SCOPE_IDENTITY()  
     
   UPDATE OverTimeDetails SET   
     paid_id  = @paid_id  
    ,paid_by  = @paid_by  
    ,paid_date  = GETDATE()      
   WHERE requested_by = @EMPLOYEEID   
    AND paid_id = @sessionId  
      
  
     
    
  END  
    END  
      
    ELSE IF @flag='ca'  
    BEGIN  
  IF NOT EXISTS(SELECT * FROM atttendance WHERE emp_id=@EMPLOYEEID AND  convert(varchar,att_date,101)=@requested_date and logout_time<>'')  
  BEGIN     
    SELECT 'ABSENT' AS MSG  
    RETURN;     
  END  
  ELSE  
  BEGIN  
    
   SELECT 'PRESENT' AS MSG  
   RETURN;  
  END  
    END  
  
   
 IF @flag = 'att' -- display attendance  
 BEGIN  
  SELECT    
    convert(varchar(5),login_time,108) as [Login Time]  
   ,convert(varchar(5),logout_time,108) as [Logout TIme]  
  FROM atttendance   
  WHERE cast(att_date as date) = cast(@requested_date as date) and emp_id = @requested_by  
 END  
      
 IF @flag ='har' -- display attendance for hardship  
 BEGIN  
  select ROW_NUMBER() over (order by  att_date asc) as [S.NO] ,  
  convert(varchar,att_date,101) as [Attendance Date] ,  
  'Present' as Status from atttendance  
   --where (att_date between @from_date and @to_date) and emp_id= @requested_by  
   WHERE (cast(att_date as date) between  cast(@from_date as date)and cast(@to_date as date)) and emp_id = @requested_by and logout_time <> ''  
     
  
 END  
   
END TRY  
BEGIN CATCH  
 IF @@TRANCOUNT > 0  
 ROLLBACK TRANSACTION  
  
   SELECT 1 ErrorCode,ERROR_MESSAGE() mgs  
  
END CATCH
GO
