USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procExternalTransferPlanSummary]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*

exec procExternalTransferPlanSummary '2009-11-06', '2009-10-30'
exec procExternalTransferPlanSummary '11/6/2010','10/30/2011'
*/

CREATE PROC [dbo].[procExternalTransferPlanSummary]
(
	@fromDate DATE,
	@ToDate DATE
)
AS
SET NOCOUNT ON;
	BEGIN
			SELECT
				 ROW_NUMBER()OVER(ORDER BY ETP.EFFECTIVE_DATE DESC) [S.N.]
				,E.EMP_CODE
				,E.FIRST_NAME+' '+E.MIDDLE_NAME+' '+LAST_NAME AS EMPLOYEE_NAME
				,B.BRANCH_NAME FROM_BRANCH
				,D.DEPARTMENT_NAME FROM_DEPARTMENT
				,B1.BRANCH_NAME TO_BRANCH
				,D1.DEPARTMENT_NAME TO_DEPARTMENT
				,CONVERT(VARCHAR,ETP.EFFECTIVE_DATE,107) AS EFFECTIVE_DATE
				,CONVERT(VARCHAR,ETP.ACTUAL_REPORT_DATE,107) AS ACTUAL_REPORT_DATE
				,ETP.TRANSFER_DESCRIPTION
			FROM ExternalTransferPlan ETP INNER JOIN Employee E ON E.EMPLOYEE_ID=ETP.STAFF_ID
				INNER JOIN Branches B ON B.BRANCH_ID=ETP.FROM_BRANCH 
				INNER JOIN Branches B1 ON B1.BRANCH_ID=ETP.WHICH_BRANCH
				INNER JOIN Departments D ON D.DEPARTMENT_ID=FROM_DEPARTMENT
				INNER JOIN Departments D1 ON D1.DEPARTMENT_ID=ETP.WHICH_DEPARTMENT
			WHERE EFFECTIVE_DATE BETWEEN @fromDate AND @ToDate AND TRANSFER_TYPE='e'
				ORDER BY ETP.EFFECTIVE_DATE DESC

	END
	--SELECT * FROM ExternalTransferPlan
GO
