USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procEmployeeLogin_New]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
Exec [procEmployeeLogin_New] 
	@FLAG='b',
	@USER_NAME='dinesh.dangol',
	@USER_PSW=null,
	@LOGOUT_TIME='11/24/2011 4:50:23 AM',
	@OT_FROM_DATE='11/24/2011 1:49:00',
	@OT_TO_DATE='11/24/2011 4:50:00', 
	@IS_OT='Y',@REMARKS='testyy',
	@requested_with='1034', 
	@hod_approved_by='1034'
*/


CREATE PROC [dbo].[procEmployeeLogin_New]
	@FLAG VARCHAR(1),
	@USER_NAME VARCHAR(20),
	@USER_PSW VARCHAR(20),
	@REASON_TYPE VARCHAR(100)=NULL,
	@REASON_DETAIL VARCHAR(MAX)=NULL,
	@ATT_TYPE VARCHAR(10)=NULL,
	@LOGOUT_TIME DATETIME=NULL,
	@OT_FROM_DATE DATETIME =NULL,
	@OT_TO_DATE DATETIME=NULL,
	@IS_OT VARCHAR(10)=NULL,
	@REMARKS VARCHAR(MAX)=NULL,
	@requested_with VARCHAR(10)=NULL,
	@hod_approved_by VARCHAR(10)=NULL,
	@IP_Address		VARCHAR(50) =NULL
	
	
AS

	DECLARE @EMP_ID AS INT;
	DECLARE @USER_ID AS INT;
	DECLARE @ATT_ID AS INT;
	DECLARE @ID INT;

	SET NOCOUNT ON;
	SELECT @USER_ID= AdminID FROM  Admins  WHERE UserName=@USER_NAME
	SELECT @EMP_ID=Name FROM Admins WHERE AdminID=@USER_ID 
	
IF @FLAG='a'---LOGOUT NORMAL
BEGIN
	IF @ATT_TYPE='OUT'
	BEGIN
		SELECT @ID=id FROM atttendance WHERE logout_time IS NULL AND emp_id=@EMP_ID

		IF @REASON_TYPE IS NOT NULL	
		BEGIN								
				IF NOT EXISTS(SELECT * FROM  attendance_reason WHERE att_id=@ID)
				BEGIN
						--select * from attendance_reason
						INSERT INTO attendance_reason ([att_id],logout_reason_id,logout_reason) 
						VALUES(@id,@reason_type,@reason_detail)
				END
				ELSE
				BEGIN
				
						UPDATE attendance_reason SET logout_reason_id=@reason_type,logout_reason=@reason_detail
						WHERE att_id=@ID
				END
		END

		UPDATE atttendance SET logout_time =GETDATE(),logout_ip=@IP_Address WHERE id=@ID

		SELECT 'Successfully Logged Out! @'+CAST(GETDATE()AS VARCHAR) AS REMARKS
	END

	IF @ATT_TYPE='IN'
	BEGIN
		INSERT INTO atttendance(emp_id,login_time,att_date,created_by,created_date,login_ip)
		VALUES(@EMP_ID, GETDATE(),GETDATE(),@EMP_ID,GETDATE(),@IP_Address)
	
		SET @ATT_ID =@@IDENTITY
		
		IF @reason_type IS NOT NULL
		BEGIN
		
			INSERT INTO attendance_reason ([att_id],login_reason_id,login_reason) 
			VALUES(@ATT_ID,@reason_type,@reason_detail)
			
		END
		SELECT 'Successfully Logged In! @'+CAST(GETDATE()AS VARCHAR) AS REMARKS
	
	END
END
/*

Exec [procEmployeeLogin_New] @FLAG='b',@USER_NAME='kritika.bista', @USER_PSW=null,@LOGOUT_TIME='8/29/2011 6:01:48 PM',
 @OT_FROM_DATE='8/29/2011 10:01:26 AM',@IS_OT='Y'
 
 */
IF @FLAG='b'
BEGIN
	IF EXISTS(SELECT id FROM atttendance WHERE  logout_time IS NULL AND emp_id=@EMP_ID)
		BEGIN				
			SELECT @ID=id FROM atttendance WHERE logout_time IS NULL	AND emp_id=@EMP_ID

			IF @REASON_TYPE IS NOT NULL	
			BEGIN								
					IF NOT EXISTS(SELECT * FROM  attendance_reason WHERE att_id=@ID)
					BEGIN
							INSERT INTO attendance_reason ([att_id],logout_reason_id,logout_reason) 
							VALUES(@id,@reason_type,@reason_detail)
					END
					ELSE
					BEGIN
					
							UPDATE attendance_reason SET logout_reason_id=@reason_type,logout_reason=@reason_detail
							WHERE att_id=@ID
					END
			END
			
			UPDATE atttendance SET logout_time =GETDATE(),ot_reason=@REMARKS,logout_ip=@IP_Address WHERE id=@ID
		
			
			IF @IS_OT='Y'
			BEGIN		
					
				IF @requested_with IS NULL AND @hod_approved_by IS NULL
				BEGIN
					UPDATE atttendance SET ot_reason='System can not apply your OT, you have no supervisor assigned for OT!',
						is_applied='N' WHERE id=@ID
					
					SELECT 'Successfully Logged Out! Sorry OT can not be applied, Please assign supervisor next time! @'+CAST(GETDATE()AS VARCHAR) AS REMARKS
					RETURN;	
				END
				
				if @requested_with is null
					set @requested_with=@hod_approved_by

				IF @hod_approved_by IS NULL
					SET @hod_approved_by=@requested_with
				
				IF @requested_with<>@hod_approved_by
				BEGIN
					 
					INSERT INTO OverTimeDetails(requested_by,requested_with,requested_date,request_in_time,
									request_out_time,status,request_remark,hod_approved_by,requested_to_date,created_date,created_by)										
					
					SELECT @EMP_ID,@requested_with,@OT_FROM_DATE,@OT_FROM_DATE,@OT_TO_DATE,'p','OT Auto Requested',@hod_approved_by,@OT_TO_DATE,GETDATE(),@EMP_ID								
				END
				IF @requested_with=@hod_approved_by
				BEGIN
					declare @OtRequest_id as int
				
					INSERT INTO OverTimeDetails(requested_by,requested_with,requested_date,request_in_time,
									request_out_time,status,request_remark,hod_approved_by,requested_to_date,created_date,created_by)
					
					SELECT @EMP_ID,@requested_with,@OT_FROM_DATE,@OT_FROM_DATE,@OT_TO_DATE,'p','OT Auto Requested',@requested_with,@OT_TO_DATE,GETDATE(),@EMP_ID		
					
					set @OtRequest_id= @@IDENTITY
					
					UPDATE OverTimeDetails SET 
						  supervisor_approved_remark='Recommended'
						  ,approved_date=GETDATE()
						  ,supervisor_approv_time=case isnull(supervisor_approv_time,'') when '' then
							 cast(datediff(minute, request_in_time, request_out_time )/60 as varchar(5)) + ':' +
							  RIGHT('0' + cast(datediff(minute, request_in_time, request_out_time )%60 as varchar(2)), 2)
							 else  replace(supervisor_approv_time,':00.00','') end 
							,status='s'
						  ,approved_by=@hod_approved_by
						  WHERE OtRequest_id=@OtRequest_id								
				END		
				
				UPDATE atttendance SET ot_reason=@REMARKS,is_applied='Y' WHERE id=@ID		
				
				SELECT 'Successfully Logged Out! OT is applied, @'+CAST(GETDATE()AS VARCHAR) AS REMARKS
			END
			else
			BEGIN	
				UPDATE atttendance SET ot_reason=@REMARKS,
						is_applied='N' WHERE id=@ID	
				SELECT 'Successfully Logged Out! @'+CAST(GETDATE()AS VARCHAR) AS REMARKS
			END

		END
END
GO
