USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procInsuranceDetailReport]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[procInsuranceDetailReport]
	@fields varchar(2000)
AS
begin
set nocount on; 
 
	set @fields=REPLACE(@fields,'EMPLOYEE_NAME','E.FIRST_NAME +'' ''+ E.MIDDLE_NAME +'' ''+ E.LAST_NAME as [EMPLOYEE NAME]')
	set @fields=REPLACE(@fields,'INSURER','S.DETAIL_TITLE AS [INSURER COMPANY]')
	set @fields=REPLACE(@fields,'INSURED_AMOUNT','DBO.SHOWDECIMAL(INSURED_AMOUNT) AS [INSURED AMOUNT]')
	set @fields=REPLACE(@fields,'INSURED_DATE','CONVERT(VARCHAR,INSURED_DATE,107) AS [INSURED DATE]')
	set @fields=REPLACE(@fields,'EXPIRY_DATE','CONVERT(VARCHAR,EXPIRY_DATE,107) AS [EXPIRY DATE]')
	set @fields=REPLACE(@fields,'PREMIUM_PAYER','PREMIUM_PAYER AS [PREMIUM PAYER]')
	set @fields=REPLACE(@fields,'INSURANCE_POLICY','INSURANCE_POLICY AS [INSURANCE POLICY]')
	set @fields=REPLACE(@fields,'PAYMENT_AMOUNT','SUM(ip.PAYMENT_AMOUNT) AS [PAID AMOUNT]')
	
                     
 exec('SELECT ROW_NUMBER() OVER( order by FIRST_NAME) AS SN, '+ @fields +'
  
		FROM Insurance i LEFT JOIN InsurancePremium ip ON ip.INSURANCE_ID=i.ID
		INNER JOIN StaticDataDetail AS S with(nolock) ON S.ROWID=I.INSURER
		INNER JOIN EMPLOYEE E ON E.EMPLOYEE_ID =I.EMPLOYEE_ID
		GROUP BY I.EMPLOYEE_ID,INSURER,INSURED_AMOUNT,INSURED_DATE,EXPIRY_DATE,PREMIUM_PAYER,INSURANCE_POLICY,E.FIRST_NAME,E.MIDDLE_NAME,E.LAST_NAME,
		S.DETAIL_TITLE
		
		
 ')
 
 --SELECT @fields
 end
GO
