USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_manageAccountMaintainance]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[proc_manageAccountMaintainance]
 (
	 @id	int
	,@accountnumber	varchar(30) = null
	,@accountname	varchar(250) = null
	,@acctcurrency	varchar(5) = null
	,@branchid	int = null
	,@accttype	varchar(20) = null
	,@actionby	int = null
	,@actiondate	datetime
	,@mode	varchar(1) = null
	)
	
	as
	begin
		
		--set nocount on
		
		if (@mode = 'I')
		begin
		
		
			INSERT INTO [INV_FIXEDASST_MGMT].[dbo].[ac_master]
           ([acct_num],[acct_name],[acct_currency],[acct_branch_id],[acct_type_code],[acct_balance]
           ,[created_by],[created_date])
            VALUES
           (@accountnumber,@accountname,@acctcurrency,@branchid,@accttype,'0',@actionby,@actiondate)
           		
		end
		
		if (@mode='U')
		begin
			UPDATE [INV_FIXEDASST_MGMT].[dbo].[ac_master]
			SET [acct_name] = @accountname
			 ,[acct_currency] = @acctcurrency
			 ,[acct_branch_id] = @branchid
			 ,[acct_type_code] = @accttype			 
			 ,[modified_by] = @actionby
			 ,[modified_date] = @actiondate
		WHERE acct_id = @id
				
		end
		
	end
GO
