USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procExternalTrainingSummaryReport]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- exec [procExternalTrainingSummaryReport] 's','2011-01-30','2011-02-01'
-- exec [procExternalTrainingSummaryReport] 'd','2011-01-30','2011-02-26'


create proc [dbo].[procExternalTrainingSummaryReport]
	@flag varchar(1),
	@from varchar(20)=null,
	@to varchar(20)=null,
	@Branch varchar(20)=null,
	@dpt Varchar(20)=null,
	@empId Varchar(50)=null,
	@TrainingId Varchar(50)=null
	
AS
Declare @sql varchar(3000)

if @flag='s'
begin

/***************** EXTERNALTRAININGSUMMARYREPORT  ************************/

	SET @sql='	
			SELECT [Program Name],[Start Date],[End Date],Venue,[Approved By],[No. of Approved Participants] from 
			   ( 
					SELECT external_training_id,
					COUNT(Approved_dateBy_Coo) [No. of Approved Participants]
					FROM externalTraineeAssign 
					GROUP BY external_training_id
				) a
				 INNER JOIN 
			   (
				  SELECT external_traingin_id, Program_Name [Program Name],CONVERT(varchar,Start_date,101)[Start Date],
				   CONVERT(varchar,End_Date,101)[End Date],dbo.GetEmployeeFullNameOfId(Approved_by)[Approved By],
				   Venue FROM externalTrainingInfo
			   )ExtInfo 
			ON a.external_training_id=ExtInfo.external_traingin_id
			'

     IF (@from<>'' or @from is not null) and (@to<>'' or @to is not null)
				SET @SQL=@SQL+ ' AND cast([Start Date] as date) BETWEEN '''+ @from +''' AND '''+ @to+''''	
	
	set @sql=@sql + ' ORDER BY [Program Name] asc'
	Exec (@sql)

end


if @flag='d'
begin

/***************** EXTERNAL TRAINING DETAIL REPORT  ************************/

	SET @sql='	
			SELECT [Program Name],[Start Date],[End Date],Venue,[Approved By],[No. of Approved Participants],[No. of Participants] from 
			   ( 
					SELECT external_training_id,
					COUNT(Approved_dateBy_Coo) [No. of Approved Participants]
					,[No. of Participants] = COUNT(*)
					FROM externalTraineeAssign 
					GROUP BY external_training_id
				) a
				INNER JOIN 
			   (
				  SELECT external_traingin_id, Program_Name [Program Name],CONVERT(varchar,Start_date,101)[Start Date],
				   CONVERT(varchar,End_Date,101)[End Date],dbo.GetEmployeeFullNameOfId(Approved_by)[Approved By],
				   Venue FROM externalTrainingInfo
			   )ExtInfo 
			ON a.external_training_id=ExtInfo.external_traingin_id
		'
		    -- and Start_date between '''+@from+''' and '''+@to+' 23:59:59''' 

     IF (@from<>'' or @from is not null) and (@to<>'' or @to is not null)
				SET @SQL=@SQL+ ' AND cast([Start Date] as date) BETWEEN '''+ @from +''' AND '''+ @to+''''
		
	 --if @Branch is not null
	 --set @sql=@sql + ' AND b.BRANCH_ID = '+ @Branch	
	
	set @sql=@sql + ' ORDER BY [Program Name] asc'
	--print(@sql)
	Exec (@sql)

end
GO
