ALTER proc [dbo].[proc_ManageTransferRequest]
	@flag varchar(20),
	@id int=null,
	@emp_id int=null,
	@from_branch int=null,
	@from_dept int=null,
	@from_subdept int=null,
	@to_branch int=null,
	@to_dept int=null,
	@to_subdept int=null,
	@effective_date date=null,
	@actual_report_date	 varchar(20)=null,
	@desc varchar(max)=null,
	@recommend_by int=null,
	@recommend_date varchar(20)=null,
	@session_id varchar(50)=null,
	@New_Supervisor_type varchar(50)=null,    
    @Current_Supervisor varchar(20)=null,   
    @New_Supervisor varchar(20)=null, 
    @user varchar(50)=null 	
as
	set nocount on;
	declare	 @transfer_type as varchar(50),@rowid as int,@today_date as date
	SET @today_date=GETDATE()
	if @flag='i'
	begin
			if @from_branch=@to_branch
				set  @transfer_type='i'
			else
				set  @transfer_type='e'
			 
			INSERT INTO ExternalTransferPlan(TRANSFER_TYPE,STAFF_ID,FROM_BRANCH,FROM_DEPARTMENT,WHICH_BRANCH,WHICH_DEPARTMENT
			,EFFECTIVE_DATE,ACTUAL_REPORT_DATE,TRANSFER_DESCRIPTION,STATUS,RECOMMEND_BY,CREATED_BY,CREATED_DATE,FROM_SUBDEPARTMENT,WHICH_SUBDEPARTMENT)VALUES
			(@transfer_type,@emp_id,@from_branch,@from_dept,@to_branch,@to_dept,@effective_date,@actual_report_date,@desc,'Requested',
			@recommend_by,@user,GETDATE(),@from_subdept,@to_subdept) 

			SELECT 'SUCCESS!' AS MSG;

	end
	
	if @flag='u'
	begin
		
			UPDATE ExternalTransferPlan SET 
				 TRANSFER_TYPE=@transfer_type
				,STAFF_ID				=@emp_id
				,FROM_BRANCH			=@from_branch
				,FROM_DEPARTMENT		=@from_dept
				,WHICH_BRANCH			=@to_branch
				,WHICH_DEPARTMENT		=@to_dept
				,EFFECTIVE_DATE			=@effective_date
				,ACTUAL_REPORT_DATE		=@actual_report_date
				,TRANSFER_DESCRIPTION	=@desc
				,STATUS					='Requested'
				,RECOMMEND_BY			=@recommend_by
				,MODIFIED_BY			=@user
				,CREATED_DATE			=GETDATE() 
				,FROM_SUBDEPARTMENT     =@from_subdept 
				,WHICH_SUBDEPARTMENT	=@to_subdept
			WHERE ID=@ID
		
			SELECT 'SUCCESS!' AS MSG;

	end
	
	if @flag='d'
	begin
		
			DELETE FROM ExternalTransferPlan 
			WHERE ID=@ID
		
			SELECT 'SUCCESS!' AS MSG;

	end
	if @flag='s'
	begin
		
			SELECT ID,STAFF_ID,FROM_BRANCH,FROM_DEPARTMENT,WHICH_BRANCH,WHICH_DEPARTMENT,FROM_SUBDEPARTMENT,WHICH_SUBDEPARTMENT,TRANSFER_TYPE,
			CONVERT(VARCHAR,EFFECTIVE_DATE,101) EFFECTIVE_DATE
			,CONVERT(VARCHAR,ACTUAL_REPORT_DATE,101) ACTUAL_REPORT_DATE
			,TRANSFER_DESCRIPTION,dbo.GetEmployeeInfoById(RECOMMEND_BY)RECOMMEND_BY
			,CONVERT(VARCHAR,recommend_date,101)RECOMMEND_DATE 
			,TRANSFER_DESCRIPTION,dbo.GetEmployeeInfoById(STAFF_ID)EMPLOYEE_NAME
			FROM ExternalTransferPlan  WHERE ID=@id
	end
	if @flag='REC'
	begin
		
			UPDATE ExternalTransferPlan SET STATUS='Recommended',recommend_date=GETDATE() WHERE ID=@id
			SELECT 'SUCCESS!' AS MSG;
	end
	if @flag='REJ'
	begin
		
			UPDATE ExternalTransferPlan SET STATUS='Rejected',recommend_date=GETDATE() WHERE ID=@id
			SELECT 'SUCCESS!' AS MSG;
	end
	
	--#####  APPROVING TRANSFER REQUEST (HR USER)
	/*
	Exec proc_ManageTransferRequest @flag='APPROVE', @id='2', @emp_id='1130',@from_branch='1', @from_dept='28',@to_branch='4', 
	@to_dept='265',@effective_date='3/15/2012', @actual_report_date='3/15/2012',@desc='test', @recommend_by='1257',@recommend_date='3/2/2012', 
	@session_id='2gyikcqjvvexkultyewpu5mi',@user='1257'
	*/ 
	if @flag='APPROVE'
	begin	
			declare @emp_type  int,@post_id int		
			select @emp_type=emp_type,@post_id=POSITION_ID from employee where EMPLOYEE_ID=@emp_id
			
			UPDATE ExternalTransferPlan 
			SET 
				STATUS='Approved',
				EFFECTIVE_DATE=@effective_date,
				ACTUAL_REPORT_DATE=@actual_report_date,
				MODIFIED_BY=@user,
				MODIFIED_DATE=GETDATE(),
				emp_type=@emp_type,
				from_position=@post_id								 
			WHERE ID=@id
			
			UPDATE transfer_supervisor SET Transfer_ID=@id ,session_id=''
			WHERE session_id=@session_id AND empId=@emp_id
			
			
			--######--- IF EFFECTIVE DATE = TODAY'S DATE --######--- 
			
			IF CONVERT(VARCHAR(20),@effective_date,102)<=CONVERT(VARCHAR(20),@today_date,102)
			BEGIN
					--#### MAKING INACTIVE SUPERVISOR        
					UPDATE  SuperVisroAssignment     
						SET record_status =  'n'    
					FROM SuperVisroAssignment s     
					 INNER JOIN transfer_supervisor t     
					ON  s.EMP = t.empId AND s.SUPERVISOR_TYPE = t.New_Supervisor_type    
					 WHERE s.record_status = 'y' 
					 AND s.EMP=@emp_id
					 AND T.Transfer_ID=@id    
		         
					--### INSERTING NEW SUPERVISOR  
					  INSERT INTO SuperVisroAssignment(    
					  BRANCH    
					 ,DEPT    
					 ,EMP    
					 ,SUPERVISOR    
					 ,SUPERVISOR_TYPE    
					 ,CREATED_BY    
					 ,CREATED_DATE    
					 ,record_status    
				    
					)    
				        
					 SELECT    
					  ep.BRANCH_ID    
					  ,ep.DEPARTMENT_ID    
					  ,ts.empId    
					  ,ts.New_Supervisor    
					  ,ts.New_Supervisor_type    
					  ,@user    
					  ,GETDATE()    
					  ,'y'     
					  FROM  transfer_supervisor ts     
				         
					 INNER JOIN Employee ep on ep.EMPLOYEE_ID = ts.empId    
					 where ts.empId = @emp_id 
					 AND TS.Transfer_ID=@id
				     
					 update transfer_supervisor set F_EXEC_DATE=GETDATE(),F_EXEC='Y'
					 where	 Transfer_ID=@id 
						AND empId = @emp_id 
					 
					 
							        
					--### UPDATING NEW BRANCH & DEPARTMENT  : IF EFFECTIVE DATE = TODAY'S DATE     
					 UPDATE Employee     
					 SET 
							 BRANCH_ID=@to_branch    
							,DEPARTMENT_ID=@to_dept
							,MODIFIED_BY=@user
							,MODIFIED_DATE=GETDATE()  
							  
					 WHERE EMPLOYEE_ID=@emp_id  
					 
					  --### UPDATING NEW contact person BRANCH  : IF EFFECTIVE DATE <= TODAY'S DATE
					 IF (select DEPARTMENT_NAME from Departments where department_id=@to_dept)='Branch Manager '
					 BEGIN
						Update Branches set CONTACT_PERSON=rtrim(dbo.GetEmployeeFullNameOfId(@emp_id))
						where BRANCH_ID=@to_branch
					 END
					          
					--### UPDATING TRANSFER TABLE IF EFFECTIVE DATE = TODAY'S DATE   
					 update ExternalTransferPlan set    
					  F_EXECUTED='Y',    
					  EXECUTED_DATE=getdate()    
					 where ID=@id    
			 END
			 SELECT 'SUCCESS!' AS MSG
	end
	
	-- ######  INSERTING & APPROVING TRANSFER REQUEST (HR USER)

	if @flag='INSERT'
	begin				

			if @from_branch=@to_branch
				set  @transfer_type='i'
			else
				set  @transfer_type='e'

			INSERT INTO ExternalTransferPlan(TRANSFER_TYPE,STAFF_ID,FROM_BRANCH,FROM_DEPARTMENT,WHICH_BRANCH,WHICH_DEPARTMENT
			,EFFECTIVE_DATE,ACTUAL_REPORT_DATE,TRANSFER_DESCRIPTION,STATUS,RECOMMEND_BY,recommend_date,CREATED_BY,CREATED_DATE,
			emp_type,from_position,FROM_SUBDEPARTMENT,WHICH_SUBDEPARTMENT)
			
			select @transfer_type,@emp_id,@from_branch,@from_dept,@to_branch,@to_dept,@effective_date,@actual_report_date,@desc,'Approved',
			@recommend_by,@recommend_date,@user,GETDATE(),EMP_TYPE,POSITION_ID,@from_subdept,@to_subdept from Employee where EMPLOYEE_ID=@emp_id 

			set @rowid=@@IDENTITY
				
			UPDATE transfer_supervisor SET Transfer_ID=@rowid ,session_id=''
			WHERE session_id=@session_id AND empId=@emp_id
			
			--######--- IF EFFECTIVE DATE = TODAY'S DATE --######--- 
			
			IF CONVERT(VARCHAR(20),@effective_date,102)<=CONVERT(VARCHAR(20),@today_date,102)
			BEGIN
					--#### MAKING INACTIVE SUPERVISOR        
					UPDATE  SuperVisroAssignment     
						SET record_status =  'n'    
					FROM SuperVisroAssignment s     
					 INNER JOIN transfer_supervisor t     
					ON  s.EMP = t.empId AND s.SUPERVISOR_TYPE = t.New_Supervisor_type    
					 WHERE s.record_status = 'y' 
					 AND t.session_id = @session_id 
					 AND s.EMP=@emp_id
					 AND T.Transfer_ID=@rowid    
		         
					--### INSERTING NEW SUPERVISOR  
					  INSERT INTO SuperVisroAssignment(    
					  BRANCH    
					 ,DEPT    
					 ,EMP    
					 ,SUPERVISOR    
					 ,SUPERVISOR_TYPE    
					 ,CREATED_BY    
					 ,CREATED_DATE    
					 ,record_status    
				    
					)    
				        
					 SELECT    
					   ep.BRANCH_ID    
					  ,ep.DEPARTMENT_ID    
					  ,ts.empId    
					  ,ts.New_Supervisor    
					  ,ts.New_Supervisor_type    
					  ,@user    
					  ,GETDATE()    
					  ,'y'     
					  FROM  transfer_supervisor ts     
				         
					 INNER JOIN Employee ep on ep.EMPLOYEE_ID = ts.empId    
					 where  ts.empId = @emp_id 
					 AND TS.Transfer_ID=@rowid
				     
					 update transfer_supervisor set F_EXEC_DATE=GETDATE(),F_EXEC='Y'
					 where	 Transfer_ID=@rowid 
						AND empId = @emp_id 
		        
					--### UPDATING NEW BRANCH & DEPARTMENT  : IF EFFECTIVE DATE = TODAY'S DATE     
					 UPDATE Employee     
					 SET 
							 BRANCH_ID=@to_branch    
							,DEPARTMENT_ID=@to_dept
							,SUB_DEPARTMENT= @to_subdept
							,MODIFIED_BY=@user
							,MODIFIED_DATE=GETDATE()  		  
					 WHERE EMPLOYEE_ID=@emp_id  


					 --### UPDATING NEW contact person BRANCH  : IF EFFECTIVE DATE <= TODAY'S DATE
					 IF (select DEPARTMENT_NAME from Departments where department_id=@to_dept)='Branch Manager '
					 BEGIN
						Update Branches set CONTACT_PERSON=rtrim(dbo.GetEmployeeFullNameOfId(@emp_id))
						where BRANCH_ID=@to_branch
					 END
					          
					--### UPDATING TRANSFER TABLE IF EFFECTIVE DATE = TODAY'S DATE   
					 update ExternalTransferPlan set    
					  F_EXECUTED='Y',    
					  EXECUTED_DATE=getdate()    
					 where ID=@rowid    
			 END
			SELECT 'SUCCESS!' AS MSG	
				
	end
	
 IF @flag ='SUP_ADD'    
 BEGIN
	  IF EXISTS(
	  SELECT top 1 * FROM transfer_supervisor 
	  where session_id = @session_id 
	  and New_Supervisor = @New_Supervisor 
	  and New_Supervisor_type=@New_Supervisor_type
	  and empId=@emp_id and Transfer_ID is null
	  )    
	  BEGIN    
		 SELECT 'Already Added!' AS MSG    
		 RETURN   
	      
	  END    
         
      INSERT INTO transfer_supervisor(   
			   Current_Supervisor_Type    
			  ,Current_Supervisor    
			  ,New_Supervisor_type    
			  ,New_Supervisor    
			  ,session_id    
			  ,empId         
           )    
        SELECT     
             @New_Supervisor_type    
            ,@Current_Supervisor    
            ,@New_Supervisor_type    
            ,@New_Supervisor    
            ,@session_id    
            ,@emp_id 
            
		SELECT 'SUCCESS!' AS MSG
  END 
	if @flag='SUP_VIEW'
	begin
		SELECT     
		   RowId    
		  ,CASE Current_Supervisor_Type WHEN 'i' THEN 'Immediate' 
			WHEN 's' THEN 'Supervisor' END [Current Supervisor Type]    
		  ,dbo.GetEmployeeFullNameOfId(Current_Supervisor) [Current Supervisor]    
		  ,CASE New_Supervisor_type WHEN 'i' THEN 'Immediate' WHEN 's' THEN 'Supervisor' END [New Supervisor Type]    
		  ,dbo.GetEmployeeFullNameOfId(New_Supervisor) [New Supervisor]     
		   FROM transfer_supervisor WHERE session_id = @session_id AND empId = @emp_id and Transfer_ID is null
	end
	if @flag='DIS_SUP'
	begin
		SELECT     
		   RowId    
		  ,CASE Current_Supervisor_Type WHEN 'i' THEN 'Immediate' 
			WHEN 's' THEN 'Supervisor' END [Current Supervisor Type]    
		  ,dbo.GetEmployeeFullNameOfId(Current_Supervisor) [Current Supervisor]    
		  ,CASE New_Supervisor_type WHEN 'i' THEN 'Immediate' WHEN 's' THEN 'Supervisor' END [New Supervisor Type]    
		  ,dbo.GetEmployeeFullNameOfId(New_Supervisor) [New Supervisor]     
		   FROM transfer_supervisor WHERE Transfer_ID =@id 
	end
	if @flag='DEL'
	begin
		delete from ExternalTransferPlan where ID=@id
		delete from transfer_supervisor where Transfer_ID=@id
		SELECT 'SUCCESS!' AS MSG
	end

