USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[ProcExecuteOrganizationChart]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ProcExecuteOrganizationChart]
	@flag char,
	@parentId int =null
	as

set nocount on;
	declare @sql varchar(8000)
if @flag='i'
	begin
		select o.id,'<img style="border-width:0pt;" src="../../Images/iconFolderClosed.gif">' + o.unit_name as unit_name,
		
		 (select count(*) FROM OrgChart with(nolock) 
		 
			WHERE linked_id  = o.id) 'childnodecount' 
				from OrgChart o with(nolock) 
			where o.linked_id is null
	end


if @flag='r'
	begin
		select o.id,'<img style="border-width:0pt;" src="../../Images/iconFolderClosed.gif">' + o.unit_name as unit_name,
		
		 (select count(*) FROM OrgChart with(nolock) 
		 
			WHERE linked_id  = o.id) 'childnodecount' 
				from OrgChart o with(nolock) 
			where o.linked_id is null
	end

if @flag='s'
	begin
				
		select oc.id,
					 '<img style="border-width:0pt;" src="../../Images/iconFolderClosed.gif">' + 
		 oc.unit_name as unit_name,
		 
		(select count(*) from OrgChart o 
				where linked_id=oc.id) 'childnodecount' 
		from OrgChart oc with(nolock) 

		where oc.linked_id = @parentid	

	end
GO
