USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procGetCustomerFileInfo]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[procGetCustomerFileInfo]  
  ( @CUSTID INT  
  )  
  --SELECT * FROM WF_DOC_HISTORY  
  AS  
  BEGIN  
  SELECT DOC_ID,DOC_NAME,DOC_DESCRIPTION,FILE_EXTENSION FROM CUST_DOC_HISTORY  
  WHERE Cust_ID = @CUSTID  
  END
GO
