USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procManageAttendanceShift]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[procManageAttendanceShift]
	@flag varchar(1),
	@id int=null,
	@name varchar(500)=null,
	@desc varchar(max)=null,
	@weeklySchId int=null,
	@status varchar(50)=null,
	@user varchar(50)=null
as
set nocount on;

if @flag='i'
begin 
	insert into attendance_shift(name,description,status,att_ws_id,created_by,created_date)values
	(@name,@desc,@status,@weeklySchId,@user,GETDATE()) 
	select 'Success' as msg
end

if @flag='u'
begin 
	update attendance_shift set name=@name,description=@desc,status=@status,att_ws_id=@weeklySchId,modified_by=@user,modified_date=GETDATE()
	where id=@id 
	select 'Success' as msg
end

if @flag='d'
begin 
	delete from attendance_shift 
	where id=@id 
	select 'Success' as msg
end

if @flag='s'
begin 
	select name,description,status,att_ws_id from attendance_shift	
	where id=@id 
end
GO
