USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[ProcManageRevAssetBooking]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
	Exec ProcManageRevAssetBooking 'i',null,'1','17','78','1/6/2011',null,'2','90000',null,null,
	'Active',null,null, null,'TESTING',null,'1000'
	
	EXEC ProcManageRevAssetBooking 's','400'
	
	Exec prcManageInventoryMaster 'i',null,'1','38','96','2/15/2011','2/16/2011','2', '59000',null, null,
	'Active',null,null, null,'The testing',null,'1000'
	
	Exec ProcManageRevAssetBooking 'u','400','1','2/8/2011','2/8/2011', null,null,'Active',null,'1091',null, 'This testing','345','1000'
*/
CREATE PROC [dbo].[ProcManageRevAssetBooking]
	@flag VARCHAR(1),
	@row_id INT=NULL,
	@branch_id INT=NULL,
	@dept_id INT=NULL,
	@product_id INT=NULL,
	@booked_date VARCHAR(40)=NULL,
	@purchase_date VARCHAR(50)=NULL,
	@qty INT=NULL,
	@purchase_value MONEY=NULL,
	@ins_id INT=NULL,
	@bill_id INT=NULL,
	@asset_status VARCHAR(50)=NULL,
	@warr_expiry VARCHAR(40)=NULL,
	@asset_holder INT=NULL,
	@next_maintenance_date VARCHAR(40)=NULL,
	@narration VARCHAR(1000)=NULL,
	@asset_serial VARCHAR(200)=NULL,
	@user AS VARCHAR(50)=NULL
	
AS
	SET NOCOUNT ON;
	SET XACT_ABORT ON;	
	
IF @flag='i'
BEGIN	

	DECLARE @intTotalRows AS INT,@asset_number AS VARCHAR(500),@group_id AS INT

	SET @group_id=dbo.GetGroupID(@product_id)
	
	CREATE TABLE #temAssetNum
	(
		asset_number VARCHAR(500)
	)
	
BEGIN TRANSACTION	
	SET @intTotalRows=1
	WHILE @qty >=  @intTotalRows
	BEGIN	

		INSERT #temAssetNum
				EXEC procGenerateAssetNumber @branch_id,@product_id,@booked_date
		SELECT @asset_number=asset_number FROM #temAssetNum	
			
		
		INSERT INTO ASSET_INVENTORY(branch_id,dept_id,product_id,booked_date,asset_number,purchase_value,ins_id,bill_id,asset_status,warr_expiry,
							asset_holder,next_maintenance_date,narration,asset_serial,purchase_date,created_by,created_date,group_id,asset_type)
					VALUES(@branch_id,@dept_id,@product_id,@booked_date,@asset_number,@purchase_value,@ins_id,
					@bill_id,@asset_status,@warr_expiry,@asset_holder,@next_maintenance_date,@narration,@asset_serial,
					@purchase_date,@user,GETDATE(),@group_id,'R')    
	    
	            
		IF (@@ERROR <> 0) GOTO QuitWithRollback 
		
		UPDATE ASSET_BRANCH SET ASSET_NEXT_NUM = ASSET_NEXT_NUM +1  
		WHERE PRODUCT_ID=@product_id  AND BRANCH_ID=@branch_id
		
		IF (@@ERROR <> 0) GOTO QuitWithRollback 
			

		SET @intTotalRows=@intTotalRows+1
	END
	
	SELECT  'SUCCESS' AS REMARKS
	
COMMIT TRANSACTION

GOTO EndSave	
QuitWithRollback:
ROLLBACK TRANSACTION 
			
	SELECT  'ERROR TO COMPLETE THIS TRANSACTION' AS MSG	
			 	
EndSave:			
END


IF @flag='u'
BEGIN	
	UPDATE ASSET_INVENTORY SET dept_id=@dept_id,ins_id=@ins_id,bill_id=@bill_id,asset_status=@asset_status,
					purchase_date=@purchase_date,warr_expiry=@warr_expiry,next_maintenance_date=@next_maintenance_date,asset_holder=@asset_holder,
					narration=@narration,asset_serial=@asset_serial WHERE id=@row_id
					

END

IF @flag='s'
BEGIN

		SELECT a.branch_id,dept_id,a.product_id,p.ASSET_CODE+'('+p.product_desc +')|'+CAST(p.id AS VARCHAR) AS prductName,
			CONVERT(VARCHAR,booked_date,101) AS booked_date,asset_number,purchase_value,
			s.DETAIL_TITLE+'-'+CONVERT(VARCHAR,i.insured_date,107)+'|'+CAST(A.id AS VARCHAR) AS InsuranceName,ins_id,
			CONVERT(VARCHAR,purchase_date,101) AS purchase_date,
			CAST(b.bill_no AS VARCHAR)+' - '+c.CustomerName+' ('+CONVERT(VARCHAR,b.bill_date,107)+') |'+CAST(a.id AS VARCHAR) AS BillName,
			bill_id,e.FIRST_NAME + ' ' + e.MIDDLE_NAME + ' ' + e.LAST_NAME + ' -' +e.EMP_CODE + ' ('+b1.BRANCH_NAME +') ' +  '|' + CONVERT(VARCHAR,
			e.EMPLOYEE_ID) AS AssetHolderName,asset_holder,asset_status,CONVERT(VARCHAR,warr_expiry,101) AS warr_expiry,
			CONVERT(VARCHAR,next_maintenance_date,101) AS next_maintenance_date,a.narration,a.asset_serial 
		 
			FROM ASSET_INVENTORY a LEFT JOIN ASSET_PRODUCT p ON a.product_id=p.id 
			LEFT JOIN ASSET_INSURENCE i ON i.id=a.ins_id 
			LEFT JOIN StaticDataDetail s ON s.ROWID=i.insurer 
			LEFT JOIN ASSET_BILL b ON b.id=a.bill_id 
			LEFT JOIN Customer c ON c.ID=b.vendor_id 
			LEFT JOIN Employee e ON e.EMPLOYEE_ID=a.asset_holder 
			LEFT JOIN Branches b1 ON b1.BRANCH_ID=e.BRANCH_ID
			
		WHERE A.id=@row_id

END
GO
