USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procInsurancePremimum]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[procInsurancePremimum](
   
	@flag varchar(2),	
	@insurance_id int=null,
    @amount money=null,
    @payment_date date,
    @premium_receipt int=null,
    @row_id int =null,
    @user varchar(100)=null

)
AS
set nocount on;
DECLARE @OLD_AMT AS MONEY

if @flag='i'
BEGIN
	INSERT INTO InsurancePremium(INSURANCE_ID,PAYMENT_AMOUNT,PAYMENT_DATE,PREMIUM_RECEIPT_NUMBER,CREATED_BY,CREATED_DATE)
	VALUES(@insurance_id,@amount,@payment_date,@premium_receipt,@user,GETDATE())
	SELECT @row_id = SCOPE_IDENTITY()
	SELECT @row_id ID

END
if @flag='u'
BEGIN
	
	
	SELECT @OLD_AMT=PAYMENT_AMOUNT FROM InsurancePremium WHERE ID=@row_id
	UPDATE InsurancePremium SET INSURANCE_ID=@insurance_id,PAYMENT_AMOUNT=@amount,PAYMENT_DATE=@payment_date,PREMIUM_RECEIPT_NUMBER=@premium_receipt,MODIFIED_BY=@user,MODIFIED_DATE=GETDATE() WHERE ID=@row_id
	
	INSERT INTO job_history(job_name,job_time,job_user,job_value,job_remarks,update_row,old_value)
		VALUES('Insurance Premimum',GETDATE(),@user,@amount,'UPDATED',@row_id,@OLD_AMT)

END

IF @flag='d'
BEGIN

	SELECT @OLD_AMT= PAYMENT_AMOUNT FROM InsurancePremium WHERE ID=@row_id
	
	DELETE FROM InsurancePremium WHERE ID=@row_id	
	
	INSERT INTO job_history(job_name,job_time,job_user,job_value,job_remarks,update_row,old_value)
		VALUES('Insurance Premimum',GETDATE(),@user,@OLD_AMT,'DELETED',@row_id,0)
END
GO
