USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_Get_AssetNumbers]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- SELECT * FROM ASSET_INVENTORY
-- [proc_Get_AssetNumbers] 'w'

CREATE PROCEDURE [dbo].[proc_Get_AssetNumbers]
 ( @PREFIX	VARCHAR(30) )
 AS
 BEGIN
 
	-- ######### GET OWN PRODUCT FROM INVENTORY
	
	 SELECT  ASSET_NUMBER +' | ' + CAST(ID AS VARCHAR) AS ASSET_NUMBER
	 FROM ASSET_INVENTORY 	 
	 WHERE ASSET_NUMBER LIKE @PREFIX+'%'
 
 END
GO
