USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[ProcChkReqForStock]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--  EXEC [ProcChkReqForStock] 'a','1'
CREATE PROCEDURE [dbo].[ProcChkReqForStock]
				@flag CHAR(1),				
				@req_id  INT
AS				
SET NOCOUNT ON;

IF(@flag='a')
BEGIN

	DECLARE	@from_branch AS INT, @to_branch AS INT,@IS_DIRECT_EXP AS VARCHAR(20)
	
	SELECT @from_branch=Forwarded_To,@to_branch=branch_id 
	FROM IN_Requisition_Message WHERE id=@req_id
	
	SELECT @IS_DIRECT_EXP=ISNULL(isDirectExp,'N') FROM Branches WHERE BRANCH_ID=@to_branch
	
	IF @from_branch=@to_branch
	BEGIN	
		SELECT 'Y'
		RETURN;
	END
	
	IF @from_branch<>@to_branch 
	BEGIN
		IF @IS_DIRECT_EXP='Y'
		BEGIN
			SELECT 'Y'
			RETURN;
		END		
		SELECT 'N'
		RETURN;
	END
END
GO
