USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_parseLetterTemplate]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*

Exec proc_parseLetterTemplate @Employee_id=1147,@lt_id=3

*/


CREATE PROC[dbo].[proc_parseLetterTemplate](
	 @Employee_id VARCHAR (100)
	,@lt_id INT
	,@body VARCHAR(MAX) = null OUTPUT
)
AS 
SET NOCOUNT ON;

	DECLARE @variableList TABLE(variable_name VARCHAR(50), table_name VARCHAR(MAX), field_name VARCHAR(100), field_condition VARCHAR(100), letter_type VARCHAR(50), field_names VARCHAR(MAX) )
	
			
	INSERT INTO @variableList(variable_name, table_name, field_name, field_condition, letter_type, field_names)
	SELECT 
		letter_key_words, table_name, field_name, field_condition,letter_type, field_names  
	FROM LETTER_KEYWORD_SETTING lks WHERE ISNULL(lks.letter_type, '')  IN('f', 't', 'd')
		
	DECLARE 
		 @variable_name VARCHAR(100)
		,@variable_value VARCHAR(MAX)
		,@table_name VARCHAR(MAX)
		,@field_name VARCHAR(100)		
		,@field_condition VARCHAR(100)
		,@letter_type VARCHAR(10)
		,@field_names VARCHAR(MAX)
		,@sql VARCHAR(MAX)
		
		
	DECLARE @value TABLE(value VARCHAR(MAX))
	SELECT @body =  letter_detail from LetterTempleteDetails WHERE lt_id = @lt_id
	

	WHILE EXISTS (SELECT 'X' FROM @variableList)
	BEGIN
		SELECT TOP 1
			 @variable_name = variable_name
			,@table_name = table_name
			,@field_name = field_name
			,@field_names = field_names
			,@letter_type = letter_type
			,@field_condition = field_condition
		FROM @variableList
		
		IF CHARINDEX('{filter_id}', @table_name) > 0
		BEGIN	
			SET @sql = REPLACE(@table_name,'{filter_id}', CAST(@Employee_id AS VARCHAR))	
		END
		ELSE		
			SET @sql = @table_name + ' WHERE ' +  @field_condition + '  = '  + @Employee_id
		

		IF @letter_type = 'f' --single data from one or more table
		BEGIN				
			DELETE FROM @value
			INSERT @value(value)
			EXEC (@sql)
			
			SET @variable_value = ''
			SELECT @variable_value = value FROM @value			
		END
		
		ELSE IF @letter_type = 'd' --current date
		BEGIN		
			DECLARE @format INT
			IF ISNUMERIC(@table_name) = 1
				SET @format = CAST(@table_name AS INT)
			ELSE
				SET @format = 107
			
			SET @variable_value = CONVERT(VARCHAR, GETDATE(), @format)
			
		END
		ELSE IF @letter_type = 't' -- tabular data
		BEGIN
			
			SET @variable_value = ''
			DECLARE @fileList TABLE(field VARCHAR(50))
			
			DELETE FROM @fileList			
			INSERT @fileList
			SELECT name FROM dbo.Split(@field_names, ',')
			
			DECLARE @cols INT = 1
			SELECT @cols = COUNT(*) FROM @fileList
			DECLARE @tdWidth VARCHAR(50)
			
			SET @tdWidth = 'width = "' + CAST(100/ISNULL(NULLIF(@cols, 0), 1) AS VARCHAR(2)) + '%"'
			DECLARE 
				 @getRow VARCHAR(MAX) = NULL
				,@addFieldNames VARCHAR(MAX) = NULL
			
			SELECT
				 @getRow = ISNULL(@getRow + '+', '') + '''<td ' + @tdWidth + '>'' + CAST(ISNULL(' + LTRIM(RTRIM(field)) + ', '''') AS VARCHAR(8000)) + ''</td>'''
				,@addFieldNames = ISNULL(@addFieldNames + ', ', '') +  LTRIM(RTRIM(field)) + ' VARCHAR(MAX)'
			FROM @fileList
						
			IF OBJECT_ID('tempdb..#DataSource') IS NOT NULL
				DROP TABLE #DataSource

			CREATE TABLE #DataSource(id INT IDENTITY(1, 1))
	
			DECLARE @str VARCHAR(MAX)			
			SET @str = 'ALTER TABLE #DataSource ADD ' + @addFieldNames
			EXEC(@str)
			SET @str = 'ALTER TABLE #DataSource	DROP COLUMN id'
			EXEC(@str)
			
			INSERT #DataSource
			EXEC (@sql)
			
			
			SET @str = NULL
			SELECT @str = ISNULL(@str, '') + '''<tr>''+' + @getRow + '+''</tr>''' + CHAR(13)
		
			
			SET @str = 'SELECT ' + @str + ' FROM #DataSource'
			
			PRINT @str
			
			
			DECLARE @rows TABLE(data VARCHAR(MAX))
			INSERT @rows
			EXEC(@str)
			
			
			SELECT @variable_value = ISNULL(@variable_value, '') + ISNULL(data, '') + CHAR(13) FROM @rows
			
			DECLARE	@trHeading VARCHAR(MAX) = ''
			
			IF LTRIM(RTRIM(@variable_name)) = '#BASIC_SALARY_DETAILS#'
			BEGIN			
				SET @trHeading = '<tr> 
									<td colspan = "2" align = "center"> <b> Existing Salary </b> </td>
									<td colspan = "2" align = "center"> <b> Revised Salary </b> </td>
								 </tr>'
			END

			
			
			SELECT @variable_value = '<table style="margin-left:30px;">' + @trHeading + @variable_value + '</table>'

		END
	
		IF @letter_type IN ('f', 't', 'd')
			SET @body = REPLACE(@body, @variable_name, @variable_value)		
		
		DELETE FROM @variableList WHERE variable_name = @variable_name		
		
	END
	SET @body = REPLACE(@body, '  ', ' ')	

    SELECT @body
GO
