USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[ProcManageComment]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/****** Script for SelectTopNRows command from SSMS  ******/
-- Exec [ProcManageComment] 'a','1'
CREATE PROC [dbo].[ProcManageComment]
	   @flag CHAR(1)
	  ,@ProcessId INT=NULL
	  ,@comment AS VARCHAR(MAX)=NULL
	  ,@user VARCHAR(50)=NULL

AS
IF @flag='a'
BEGIN

	SELECT dbo.GetEmployeeFullNameOfId(CREATED_BY) AS [Commentted By],CREATED_DATE AS [Commentted Date],COMMENT AS [Comment] 
	 FROM WF_COMMENT WHERE WF_DETAIL_ID=@ProcessId
  
END
IF @flag='i'
BEGIN
	
	--SELECT * FROM WF_COMMENT
	INSERT INTO WF_COMMENT (WF_DETAIL_ID,COMMENT,CREATED_BY,CREATED_DATE)VALUES(@ProcessId,@comment,@user,GETDATE())
  
END
GO
