USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[PROCINSERTUPDATEWFJOB]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROCINSERTUPDATEWFJOB]              
 (               
   @JOBID            INT          = NULL,              
   @CATID         INT             = NULL,              
   @JOBDESCRIPTION   VARCHAR(250) = NULL,              
   @CREATEDEMPID     INT          = NULL,      
   @CREATEDBY   varchar(50)          = NULL,              
   @CREATEDDATE      VARCHAR(30)  = NULL,              
   @CLOSEDDATE       VARCHAR(30)  = NULL,              
   @JOBCODE          VARCHAR(30)  = NULL,          
   @CUSTCODE   VARCHAR(50)  = NULL,               
   @MODE             VARCHAR(5)   = NULL )              
AS              
BEGIN             
            
 DECLARE @IJOBID   INT = NULL            
             
             
 IF (@MODE = 'I')              
 BEGIN             
             
 BEGIN TRANSACTION INSERTJOBINFO            
              
   INSERT INTO WF_JOB(WF_CATID,WF_JOB_DESCRIPTION,CREATEDBY,CREATEDDATE,JOB_CODE,CUSTOMERCODE)              
   VALUES(@CATID,@JOBDESCRIPTION,@CREATEDBY,@CREATEDDATE,@JOBCODE,@CUSTCODE)              
               
   SELECT @IJOBID  = @@IDENTITY            
               
   ------------            
               
               
      INSERT INTO WF_Details            
        ([WF_JobID]            
        ,[Forward_To]             
        ,[Action_Date]                                            
        ,[Job_Status]      
        ,[Action_By_EmpID]         
        ,[Comments]      
        ,Mode)            
     VALUES            
        (@IJOBID            
        ,@CREATEDEMPID            
        ,@CREATEDDATE                           
        ,'Creation'      
        ,@CREATEDBY      
        ,@JOBDESCRIPTION      
        ,'Created')            
                       
               
   -----------            
               
COMMIT TRANSACTION INSERTJOBINFO               
               
 END              
               
 IF (@MODE = 'U')              
 BEGIN              
             
            
   UPDATE WF_JOB SET WF_CATID = @CATID,WF_JOB_DESCRIPTION = @JOBDESCRIPTION,ModifiedBy = @CREATEDBY,ModifiedDate=GETDATE(),CUSTOMERCODE = @CUSTCODE              
    WHERE WF_JOBID = @JOBID                
            
     --SELECT * from WF_Job                
 END              
   
 IF (@MODE = 'D')  
 BEGIN  
 DELETE FROM WF_JOB WHERE WF_JOBID = @JOBID    
 END  
                
END
GO
