USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procGetProductHistory]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Exec [procGetProductHistory] @flag='a',@branch='1',@msg_id='4'
-- Exec [procGetProductHistory] @flag='b',@branch='1',@msg_id='4'
-- Exec [procGetProductHistory] @flag='c',@branch='1',@msg_id='1'
CREATE proc [dbo].[procGetProductHistory]
	@flag varchar(10)=null,
	@branch varchar(20)= null,
	@msg_id varchar(200)=null
as
set nocount on;

--	PRODUCT HISTORY
if @flag='a'
begin

	select a.product_code as [Prod Code],a.porduct_code [Product Code],a.qty [Req. Qty],
		  dbo.ShowDecimal(a.amount) [Amount],isnull(b.qty,0) [Montly Cons.],isnull(a.REORDER_LEVEL,0) [Reorder Level]
		   ,isnull(a.stock_in_hand,0) [Current Stock] 
	from
	(
		select a.product_code,c.porduct_code,a.qty,d.REORDER_LEVEL,d.stock_in_hand,
		a.amount from Purchase_Order a 
		inner join Purchase_Order_Message b on a.order_message_id=b.id
		inner join IN_PRODUCT c on c.id=a.product_code
		inner join IN_BRANCH d on c.id=d.PRODUCT_ID
		where a.order_message_id=@msg_id and d.BRANCH_ID=@branch
	)a
	left join
	(
		select s_prod_id,SUM(s_qty) as qty from IN_SALES 
		where entered_date between DATEADD(dd,30,getdate()) and GETDATE()
		group by s_prod_id
	)b on a.product_code=b.s_prod_id
	
end

-- PRODUCT PURCHASE HISTORY
if @flag='b'
begin

	select a.prod_code [Prod Code],a.porduct_code [Product Name],convert(varchar,a.entered_date,107) [Purchase Date],a.p_qty [Qty],
	dbo.ShowDecimal(a.p_qty*a.p_rate) [Amount],b.CustomerName [Vendor Name] 
	from 
	(
		select pur_id,bill_id,prod_code,p_qty,p_rate,b.porduct_code,entered_date 
		from IN_PURCHASE a inner join IN_PRODUCT b on a.prod_code=b.id
		where pur_id in 
		(
			select max(pur_id) from IN_PURCHASE a inner join Purchase_Order b 
			on a.prod_code=b.product_code
			where b.order_message_id=@msg_id and branch_id=@branch 
			group by prod_code
		)	
	)a
	inner join 
	(
		select b.CustomerName,a.bill_id 
		from Bill_info a inner join Customer b on a.party_code=b.ID
	)b on a.bill_id=b.bill_id

end
if @flag='c'
begin

			SELECT IP.Id as [Prod Code],IP.porduct_code AS [Product Name],IP.package_unit [Unit],qty [Qty],dbo.ShowDecimal(rate) as [Rate],
			dbo.ShowDecimal(amount) as [Amount] FROM Purchase_Order p inner join IN_PRODUCT IP ON IP.id=P.product_code WHERE 
			order_message_id=@msg_id

end
GO
