USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_ListSupervisor]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[proc_ListSupervisor]
					@flag char
					,@empId int

as
set nocount on;
/*
EXEC [proc_ListSupervisor] @flag ='r',@fname = 'a'
*/
IF @flag='s'
BEGIN
select distinct(SUPERVISOR)[supervisorId] , dbo.GetEmployeeFullNameOfId(SUPERVISOR)[supervisor] from SuperVisroAssignment s with(nolock)
 inner join Employee e on s.EMP=e.EMPLOYEE_ID
 where SUPERVISOR_TYPE ='i' and record_status='y' and EMP=@empId
order by supervisor
END


IF @flag='r'
begin

select distinct(SUPERVISOR)[reviewerId], dbo.GetEmployeeFullNameOfId(SUPERVISOR)[reviewer] from SuperVisroAssignment s with(nolock)
 inner join Employee e on s.EMP=e.EMPLOYEE_ID
 where SUPERVISOR_TYPE ='r' and record_status='y' and EMP=@empId
order by reviewer
	
end
GO
