USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[ProcLeaveDetailReportIndividuals]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--select * from LeaveRequest

-- Exec ProcLeaveDetailReportIndividuals '1001' , '2010-1-1' , '2011-12-30'

CREATE Proc [dbo].[ProcLeaveDetailReportIndividuals]
	@employee varchar(20),
	@datefrom varchar(20),
	@dateto varchar(20)

AS
begin

		-- Casual Leave
		SELECT 
			CONVERT(varchar,APPROVED_FROM,107) as [APPROVE FROM],CONVERT(varchar,APPROVED_TO,107)as [APPROVE TO],
		     isnull(APPROVED_DAYS,0)+cast((ISNULL(APPROVED_HOUR,0)/8) as decimal(3,1)) AS [DAYS]
		    ,isnull(LAST_YEAR_LEAVE,0) LAST_YEAR_LEAVE,NO_OF_DAYS_ACTUAL
		    ,NO_OF_DAYS_ACTUAL-(LEAVE_TAKEN_THIS_YEAR+cast((ISNULL(HOUR_TAKEN,0)/8) as decimal(3,1))) as REMAINING_DAYS
			FROM LeaveRequest R with(nolock) 
				join LeaveTypes T with(nolock) on R.LEAVE_TYPE_ID=T.ID
				join leaveAssignment a with (nolock) on T.ID=a.LEAVE_TYPE_ID and R.REQUESTED_BY=a.EMPLOYEE_ID
			Where REQUESTED_BY =@employee
			and APPROVED_FROM between @datefrom and @dateto
			and R.LEAVE_TYPE_ID='2'

		--Annual Leave
		SELECT 
			CONVERT(varchar,APPROVED_FROM,107) as [APPROVE FROM],
				CONVERT(varchar,APPROVED_TO,107)as [APPROVE TO]
				, isnull(APPROVED_DAYS,0)+cast((ISNULL(APPROVED_HOUR,0)/8) as decimal(3,1)) AS [DAYS]
				,isnull(LAST_YEAR_LEAVE,0) LAST_YEAR_LEAVE,NO_OF_DAYS_ACTUAL,
				NO_OF_DAYS_ACTUAL-(LEAVE_TAKEN_THIS_YEAR+cast((ISNULL(HOUR_TAKEN,0)/8) as decimal(3,1))) as REMAINING_DAYS
			FROM LeaveRequest R with(nolock) 
				join LeaveTypes T with(nolock) on R.LEAVE_TYPE_ID=T.ID
				join leaveAssignment a with (nolock) on T.ID=a.LEAVE_TYPE_ID and R.REQUESTED_BY=a.EMPLOYEE_ID
			Where REQUESTED_BY = @employee 
			and APPROVED_FROM between @datefrom and @dateto
			and R.LEAVE_TYPE_ID='1'

		--Sick Leave
		SELECT 
			CONVERT(varchar,APPROVED_FROM,107) as [APPROVE FROM],
			CONVERT(varchar,APPROVED_TO,107)as [APPROVE TO]
			, isnull(APPROVED_DAYS,0)+cast((ISNULL(APPROVED_HOUR,0)/8) as decimal(3,1)) AS [DAYS]
			,isnull(LAST_YEAR_LEAVE,0) LAST_YEAR_LEAVE,NO_OF_DAYS_ACTUAL,
			NO_OF_DAYS_ACTUAL-(LEAVE_TAKEN_THIS_YEAR+cast((ISNULL(HOUR_TAKEN,0)/8) as decimal(3,1))) as REMAINING_DAYS
			FROM LeaveRequest R with(nolock)
		   join LeaveTypes T  with(nolock)on R.LEAVE_TYPE_ID=T.ID
		   join leaveAssignment a with (nolock) on T.ID=a.LEAVE_TYPE_ID and R.REQUESTED_BY=a.EMPLOYEE_ID
			Where REQUESTED_BY = @employee 
			and APPROVED_FROM between @datefrom and @dateto
			and R.LEAVE_TYPE_ID='3'

		--Other Leave
		SELECT 
			NAME_OF_LEAVE as LEAVE,CONVERT(varchar,APPROVED_FROM,107) as [APPROVE FROM],
			CONVERT(varchar,APPROVED_TO,107)as [APPROVE TO]
			, isnull(APPROVED_DAYS,0)+cast((ISNULL(APPROVED_HOUR,0)/8) as decimal(3,1)) AS [DAYS]
			,isnull(LAST_YEAR_LEAVE,0) LAST_YEAR_LEAVE,NO_OF_DAYS_ACTUAL,
			NO_OF_DAYS_ACTUAL-(LEAVE_TAKEN_THIS_YEAR+cast((ISNULL(HOUR_TAKEN,0)/8) as decimal(3,1))) as REMAINING_DAYS
			FROM LeaveRequest R with(nolock) 
			join LeaveTypes T with(nolock) on R.LEAVE_TYPE_ID=T.ID
			join leaveAssignment a with (nolock) on T.ID=a.LEAVE_TYPE_ID and R.REQUESTED_BY=a.EMPLOYEE_ID
			Where REQUESTED_BY = @employee 
			and APPROVED_FROM between @datefrom and @dateto
			and R.LEAVE_TYPE_ID <> '2' 
			and R.LEAVE_TYPE_ID <> '1' 
			and R.LEAVE_TYPE_ID <> '3' 

end
GO
