USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_InsrBillFileUpload]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
exec proc_InsrBillFileUpload 's',@ROWID=1,@mode='i'
*/
CREATE proc [dbo].[proc_InsrBillFileUpload]
(
	@flag			varchar(1),
	@ROWID			int = 0 output,
	@user			int = 0,
	@FILE_DESC		varchar(200) = null,
	@UPLOAD_BY		varchar(50) = null,	
	@FILE_TYPE		varchar(50) = null,
	@jobid			int=0,
	@jobflag		char(1)=null,
	@mode			char(1)=null
)

as
--select * from Asset_Bill_Insr_Upload
if @flag = 'i'
begin
	INSERT INTO [Asset_Bill_Insr_Upload]
			   (job_id,[FILE_DESC],[uploaded_by],
			   [uploaded_date],[FILE_TYPE], job_flag)
		 VALUES
			   (
				@jobid,@FILE_DESC,@UPLOAD_BY,
				GETDATE(),@FILE_TYPE, @jobflag	
			   )
	set @ROWID = SCOPE_IDENTITY()
end
if(@flag='s')
begin
	select id,file_type, file_desc from Asset_Bill_Insr_Upload where job_id = @ROWID and job_flag = @mode
end
else if @flag = 'd'
begin
	delete from Asset_Bill_Insr_Upload where ID=@ROWID and job_flag = @mode
end
GO
