USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procManageAttendanceGroupDetails]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[procManageAttendanceGroupDetails]
	@flag varchar(1),
	@id int=null,
	@att_group_id int=null,
	@emp_id int=null,
	@status varchar(50)=null,
	@user varchar(50)=null
as
set nocount on;

if @flag='i'
begin 
	insert into attendance_group_details(att_group_id,emp_id,status,created_by,created_date)values
	(@att_group_id,@emp_id,@status,@user,GETDATE()) 
	select 'Success' as msg
end

if @flag='u'
begin 
	update attendance_group_details set att_group_id=@att_group_id,emp_id=@emp_id,status=@status,modified_by=@user,modified_date=GETDATE()
	where id=@id 
	select 'Success' as msg
end

if @flag='d'
begin 
	delete from attendance_group_details 
	where id=@id 
	select 'Success' as msg
end
if @flag='s'
begin 
	select a.id,a.emp_id,sdd.DETAIL_TITLE [group_name],c.FIRST_NAME+' '+c.MIDDLE_NAME+' '+LAST_NAME+ ' -' +EMP_CODE + ' ('+d.BRANCH_NAME +') ' +  '|' + cast(c.EMPLOYEE_ID as varchar)  emp_name,a.status
	from attendance_group_details a inner join attendance_group b on a.att_group_id=b.id
	inner join StaticDataDetail sdd on sdd.ROWID=b.name inner join Employee c on c.EMPLOYEE_ID=a.emp_id
	inner join Branches d on d.BRANCH_ID=c.BRANCH_ID
	where a.id=@id 
end
GO
