USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procManageApplicantSchedule]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- exec procManageApplicantSchedule 1, '01/01/2010'
CREATE PROCEDURE [dbo].[procManageApplicantSchedule] 
	@id int,
	@scheduled_date datetime
AS
BEGIN
	
	SET NOCOUNT ON;
	if @scheduled_date <> '01/01/1990' 
	
		update Jobapplicant set STATUS = 'Scheduled For Interview',  SCHEDULED_DATE = @scheduled_date 
		where ID = @id
		
	else
		update Jobapplicant set  STATUS = 'Rejected', SCHEDULED_DATE = NULL
		where ID = @id
END
GO
