USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procTemporaryManageEmployeeMovement]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[procTemporaryManageEmployeeMovement]  
 @flag varchar(10),  
 @empId varchar(10)=null,  
 @fromBranchId varchar(10)=null,  
 @fromDeptId varchar(10)=null,  
 @toBranchId varchar(10)=null,  
 @toDeptId varchar(10)=null,  
 @effectiveDate varchar(20)=null,  
 @END_DATE varchar(20)=null,  
 @transferDesc varchar(300)=null,  
 @user varchar(50)=null,   
 @rowid varchar(10)=null,  
 @session_id varchar(100)=null,  
 @Transfer_ID varchar(100)=null,  
 @Transfer_Type varchar(100)=null,  
 @Current_Supervisor_Type varchar(100)=null,  
 @Current_Supervisor varchar(100)=null,  
 @New_Supervisor_type varchar(100)=null,  
 @New_Supervisor varchar(100)=null ,
 @service_event varchar(3) = null
AS  
  
SET NOCOUNT ON ;  
  
BEGIN  
  
IF @flag ='i'  
BEGIN  
	

	  IF NOT EXISTS(SELECT 'x'FROM transfer_supervisor WHERE session_id = @session_id AND empId = @empId AND Transfer_Type =@Transfer_Type)  
	  BEGIN  
		   SELECT 'Please Assign Supervisor!' as msg   
		   RETURN;  
	  END 

  
	   INSERT INTO [Temporary_Transfer] (EMPLOYEE_ID,FROM_BRANCH,FROM_DEPARTMENT,WHICH_BRANCH,WHICH_DEPARTMENT,TRANSFER_DESCRIPTION,  
	    EFFECTIVE_DATE,END_DATE,CREATED_BY,CREATED_DATE,service_flag,emp_type,position_id)   
	   select @empId,@fromBranchId,@fromDeptId,@toBranchId,@toDeptId,@transferDesc,@effectiveDate,@END_DATE,@user,GETDATE(),@Transfer_Type,emp_type,
	   POSITION_ID from
	   employee where employee_id=@empId     
	    
	   set @rowid = @@IDENTITY  
	     
	 
	    
	  if CONVERT(VARCHAR(20), cast(@effectivedate as DATE), 102)  = CONVERT(VARCHAR(20), getdate(), 102) and @Transfer_Type='T' 
	  BEGIN 
	   
	  	---------------diactivate current supervisor---------------------
				
				  	UPDATE  SuperVisroAssignment 
					SET record_status =  'n'
				FROM SuperVisroAssignment s 
					INNER JOIN transfer_supervisor t 
				ON  s.EMP = t.empId AND s.SUPERVISOR_TYPE = t.New_Supervisor_type
					WHERE s.record_status = 'y' and t.session_id = @session_id
					
			-----------insert into supervisor table-------------------------------
					 INSERT INTO SuperVisroAssignment(
					 BRANCH
					,DEPT
					,EMP
					,SUPERVISOR
					,SUPERVISOR_TYPE
					,CREATED_BY
					,CREATED_DATE
					,record_status

				)
				
					SELECT
						ep.BRANCH_ID
						,ep.DEPARTMENT_ID
						,ts.empId
						,ts.New_Supervisor
						,ts.New_Supervisor_type
						,@user
						,GETDATE()
						,'y' 
						FROM  transfer_supervisor ts 
					INNER JOIN Employee ep on ep.EMPLOYEE_ID = ts.empId
					where ts.session_id = @session_id  AND empId = @empId AND ts.Transfer_Type ='t'

            ---------------------------------------------------------------------------
	    
		   UPDATE Employee   
		   SET BRANCH_ID=@fromBranchId,  
			DEPARTMENT_ID=@toDeptId  
		   WHERE EMPLOYEE_ID=@empId  
		     
		   update Temporary_Transfer set  
			START_FLAG='Y' ,
			Start_Executed_Date=GETDATE()
		   where ID=@rowid  
	     
	  END 
	  
	  ELSE IF CONVERT(VARCHAR(20), cast(@effectivedate as DATE), 102)  = CONVERT(VARCHAR(20), getdate(), 102) and @Transfer_Type <> 'T' 
	  BEGIN 
					
			-----------insert into supervisor table-------------------------------
					 INSERT INTO SuperVisroAssignment(
					 BRANCH
					,DEPT
					,EMP
					,SUPERVISOR
					,SUPERVISOR_TYPE
					,CREATED_BY
					,CREATED_DATE
					,record_status
				)
					SELECT
						ep.BRANCH_ID
						,ep.DEPARTMENT_ID
						,ts.empId
						,ts.New_Supervisor
						,ts.New_Supervisor_type
						,@user
						,GETDATE()
						,'y' 
						FROM  transfer_supervisor ts 
					INNER JOIN Employee ep on ep.EMPLOYEE_ID = ts.empId
					where ts.session_id = @session_id  AND empId = @empId AND ts.Transfer_Type = @Transfer_Type

            ---------------------------------------------------------------------------
		     
		   update Temporary_Transfer set  
			START_FLAG='Y' ,
			Start_Executed_Date=GETDATE()
		   where ID=@rowid  
	  END 
	  

		UPDATE transfer_supervisor   
		 SET Transfer_ID = @rowid   
		 ,session_id = NULL  
		 WHERE session_id = @session_id   
		AND empId = @empId AND Transfer_Type = @Transfer_Type   
END  
  
  
IF @flag ='u'  
BEGIN  


	IF NOT EXISTS(SELECT 'x'FROM transfer_supervisor WHERE Transfer_ID = @Transfer_ID AND Transfer_Type =@Transfer_Type )  
	BEGIN  
		SELECT 'Please Assign Supervisor!' as msg   
		RETURN;  
	END
	 declare @emp_type int,@post_id int
	 select @emp_type=EMP_TYPE,@post_id=POSITION_ID from Employee where EMPLOYEE_ID=@empId 
	 
     UPDATE Temporary_Transfer SET 
		EMPLOYEE_ID=@empId,  
		FROM_BRANCH=@fromBranchId,  
		FROM_DEPARTMENT=@fromDeptId,  
        WHICH_DEPARTMENT=@toDeptId,  
		TRANSFER_DESCRIPTION=@transferDesc,  
		EFFECTIVE_DATE =@effectiveDate,  
		END_DATE=@END_DATE,  
		MODIFIED_DATE=GETDATE(),  
		MODIFIED_BY=@user ,
		emp_type=@emp_type,
		position_id=@post_id
    WHERE ID =@rowid  
      
  if CONVERT(VARCHAR(20), cast(@effectivedate as DATE), 102)  = CONVERT(VARCHAR(20), getdate(), 102) and @Transfer_Type='T'
  BEGIN  
  ----------------disactivate current supervisor--------------
	         	UPDATE  SuperVisroAssignment 
					SET record_status =  'n'
				FROM SuperVisroAssignment s 
					INNER JOIN transfer_supervisor t 
				ON  s.EMP = t.empId AND s.SUPERVISOR_TYPE = t.New_Supervisor_type
					WHERE s.record_status = 'y' and t.Transfer_ID = @rowid
					
				
				--------------update supervisor table ------------------
				  INSERT INTO SuperVisroAssignment(
					 BRANCH
					,DEPT
					,EMP
					,SUPERVISOR
					,SUPERVISOR_TYPE
					,CREATED_BY
					,CREATED_DATE
					,record_status

				)
				SELECT
						ep.BRANCH_ID
						,ep.DEPARTMENT_ID
						,e.EMPLOYEE_ID
						,ts.New_Supervisor
						,ts.New_Supervisor_type
						,@user
						,GETDATE()
						,'y' 
						
					FROM Temporary_Transfer e
						INNER JOIN transfer_supervisor ts 
					ON e.ID = ts.Transfer_ID and e.EMPLOYEE_ID = ts.empId
					INNER JOIN Employee ep on ep.EMPLOYEE_ID = e.EMPLOYEE_ID
					where ts.Transfer_ID=@rowid AND empId = @empId AND ts.Transfer_Type ='t'
			-----------------------------update employeee----------------------------------------------------------------
    
			   UPDATE Employee   
			   SET BRANCH_ID=@fromBranchId,  
			   DEPARTMENT_ID=@toDeptId  
			   WHERE EMPLOYEE_ID=@empId  
			     
			   update Temporary_Transfer set  
				START_FLAG='Y'  
			   where ID=@rowid  
     
  END 
  
  Else  if CONVERT(VARCHAR(20), cast(@effectivedate as DATE), 102)  = CONVERT(VARCHAR(20), getdate(), 102) and @Transfer_Type<>'T'
  BEGIN  
				
				--------------update supervisor table ------------------
				  INSERT INTO SuperVisroAssignment(
					 BRANCH
					,DEPT
					,EMP
					,SUPERVISOR
					,SUPERVISOR_TYPE
					,CREATED_BY
					,CREATED_DATE
					,record_status

				)
				SELECT
						ep.BRANCH_ID
						,ep.DEPARTMENT_ID
						,e.EMPLOYEE_ID
						,ts.New_Supervisor
						,ts.New_Supervisor_type
						,@user
						,GETDATE()
						,'y' 
						
					FROM Temporary_Transfer e
						INNER JOIN transfer_supervisor ts 
					ON e.ID = ts.Transfer_ID and e.EMPLOYEE_ID = ts.empId
					INNER JOIN Employee ep on ep.EMPLOYEE_ID = e.EMPLOYEE_ID
					where ts.Transfer_ID=@rowid AND empId = @empId AND ts.Transfer_Type =@Transfer_Type
			     
			   update Temporary_Transfer set  
				START_FLAG='Y'  
			   where ID=@rowid  
     
  END 
  
 END 
 
  
 IF @flag = 'd'  
 BEGIN  
  DELETE Temporary_Transfer WHERE ID = @rowid   
  
 END  
  
 IF @flag ='a'  
   BEGIN  
     
   IF EXISTS(SELECT 'X' FROM transfer_supervisor where Transfer_Type = @Transfer_Type and session_id = @session_id and New_Supervisor = @New_Supervisor and New_Supervisor_type=@New_Supervisor_type)  
   BEGIN  
      SELECT 'You cannot add multiple supervisor on same supervisor type!' AS MSG  
      RETURN  
     
   END  
       
    INSERT INTO transfer_supervisor(  
             
            Transfer_ID    
           ,Transfer_Type  
           ,Current_Supervisor_Type  
           ,Current_Supervisor  
           ,New_Supervisor_type  
           ,New_Supervisor  
           ,session_id  
           ,empId  
         
            )  
         SELECT   
              @Transfer_ID  
             ,@Transfer_Type  
             ,@Current_Supervisor_Type  
             ,@Current_Supervisor  
             ,@New_Supervisor_type  
             ,@New_Supervisor  
             ,@session_id  
             ,@empId  
             
         
  
   END  
     
  IF @flag ='au'  
  BEGIN  
    
  IF EXISTS(SELECT 'X' FROM transfer_supervisor where Transfer_Type = @Transfer_Type and Transfer_ID = @Transfer_ID and New_Supervisor = @New_Supervisor and New_Supervisor_type=@New_Supervisor_type)  
  BEGIN  
     SELECT 'You cannot add multiple supervisor on same supervisor type!' AS MSG  
     RETURN  
    
  END  
       
      INSERT INTO transfer_supervisor(  
            
           Transfer_ID    
          ,Transfer_Type  
          ,Current_Supervisor_Type  
          ,Current_Supervisor  
          ,New_Supervisor_type  
          ,New_Supervisor  
          ,empId  
        
           )  
        SELECT   
            @Transfer_ID  
            ,@Transfer_Type  
            ,@Current_Supervisor_Type  
            ,@Current_Supervisor  
            ,@New_Supervisor_type  
            ,@New_Supervisor  
            ,@empId  
            
        
  
  END  
    
 IF @flag = 's'  
 BEGIN  
  SELECT   
   RowId  
  ,CASE Current_Supervisor_Type WHEN 'i' THEN 'Immediate' WHEN 's' THEN 'Supervisor' END [Current Supervisor Type]  
  ,dbo.GetEmployeeFullNameOfId(Current_Supervisor) [Current Supervisor]  
  ,CASE New_Supervisor_type WHEN 'i' THEN 'Immediate' WHEN 's' THEN 'Supervisor' END [New Supervisor Type]  
  ,dbo.GetEmployeeFullNameOfId(New_Supervisor) [New Supervisor]   
   FROM transfer_supervisor WHERE session_id = @session_id AND empId = @empId AND Transfer_Type =@Transfer_Type
 END  
   
 IF @flag = 'ss'  
 BEGIN  
  SELECT   
   RowId  
  ,CASE Current_Supervisor_Type WHEN 'i' THEN 'Immediate' WHEN 's' THEN 'Supervisor' END [Current Supervisor Type]  
  ,dbo.GetEmployeeFullNameOfId(Current_Supervisor) [Current Supervisor]  
  ,CASE New_Supervisor_type WHEN 'i' THEN 'Immediate' WHEN 's' THEN 'Supervisor' END [New Supervisor Type]  
  ,dbo.GetEmployeeFullNameOfId(New_Supervisor) [New Supervisor]   
   FROM transfer_supervisor WHERE Transfer_ID = @Transfer_ID AND Transfer_Type =@Transfer_Type
 END  
  
END
GO
