USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procManageDisposalVoucher]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Exec [procManageDisposalVoucher] 'i','3','8','1.0170','8.14', 'fc1t3ijw0ynfrjuqk5jx3nyx','1000'
CREATE PROCEDURE [dbo].[procManageDisposalVoucher]
		@flag CHAR(5),
		@product_code VARCHAR(100),
		@qty INT,
		@rate MONEY,
		@amount MONEY,
		@session_id VARCHAR(200),
		@user VARCHAR(50)
AS
	SET NOCOUNT ON;

IF(@flag ='i')
BEGIN

	IF EXISTS(SELECT * FROM  Temp_Disposal WHERE session_id=@session_id AND ac_type='cr' AND flag='d')
	BEGIN	
		SELECT 'Sorry you can not add other products, Only one product can be dispose at once!' AS MSG
		RETURN;
	END
	
	INSERT INTO Temp_Disposal(session_id,product_code,qty,rate,amount,flag,created_by,created_date,ac_type)VALUES(
		@session_id,@product_code,@qty,@rate,@amount,'d',@user,GETDATE(),'cr')
		
	SELECT 'SUCCESS!' AS MSG	
	
END	
 
IF(@flag ='o')
BEGIN

	INSERT INTO Temp_Disposal(session_id,product_code,qty,rate,amount,flag,created_by,created_date)VALUES(
	@session_id,@product_code,@qty,@rate,@amount,'o',@user,GETDATE())
	
END
GO
