USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_AppraisalReport]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  proc [dbo].[proc_AppraisalReport]              
 @flag varchar(10)              
 ,@branchId int = null              
 ,@departmentId varchar(25) = null              
 ,@employeeId varchar(25) = null              
 ,@fromDate datetime = null              
 ,@toDate datetime = null              
 ,@appraisalId int = null              
 ,@empId  int = null              
 ,@superType varchar(5) = null              
              
/*              
Exec [proc_AppraisalReport] @flag='s',@branchId='1',@fromDate='1/1/2010',@toDate='7/28/2011'              
Exec [proc_AppraisalReport] @flag='al', @appraisalId=1,@empId=1000,@superType='r'              
Exec [proc_AppraisalReport] @flag='e',@branchId='1', @employeeId='1090',@fromDate='11/2/2011 12:00:00 AM', @toDate='11/4/2011 12:00:00 AM'            
*/              
AS              
SET NOCOUNT ON;              
  declare @appraiserPer as float, @reviewerPer as float, @empPosition varchar(10)            
          
          
IF @flag='s'              
BEGIN             
              
          
              
  SELECT DISTINCT trm.percentage AS supPer, trm1.percentage revPer, a.EMPLOYEE_ID INTO #pecentTable from Appraisal a              
  inner join appraisalPosition ap on ap.position = a.POSITION_ID              
  inner join templateRecord t on t.templateId = ap.templateId              
  inner join templateRecordMarking trm on trm.templateId = t.templateId and trm.markingBy= '1832'              
  inner join templateRecordMarking trm1 on trm1.templateId = t.templateId and trm1.markingBy= '1833'            
  where a.FROM_DATE between @fromDate and @toDate             
  and a.TO_DATE between @fromDate and @toDate             
              
  select a.ID, ROW_NUMBER() over (order by a.ID) SN,e.EMP_CODE[Employee Code],dbo.GetEmployeeFullNameOfId(a.EMPLOYEE_ID)[Employee Name]              
   ,t.templateName [Template Name]              
   ,convert(varchar,FROM_DATE,101) [Appraisal From],convert(varchar,TO_DATE,101) [Appraisal To]              
   --,ar.a [Self]              
   --,round(((per.supPer*0.01)* ar.s),2) [Supervisor]             
   --,round(((per.revPer*0.01)* ar.r),2) [Reviewer]            
   --,((ar.s*(per.supPer*0.01))+(ar.r*(per.revPer*0.01)))[Total Weight Average]            
               
   --,round(((@supervisor*0.01)* ar.s),2) [Supervisor] --round(((@supervisor/100)*ar.s),2) [Supervisor]              
   --,round(((@reviewer*0.01)* ar.r),2) [Reviewer] --round(((@reviewer*0.01)*ar.r),2) [Reviewer]              
   --,((ar.s*(@supervisor*0.01))+(ar.r*(@reviewer*0.01)))[Total Weight Average]  --((ar.s*(@supervisor*0.01))+(ar.r*(@reviewer*0.01)))[Total Weight Average]              
   ,[Employee Id] = a.EMPLOYEE_ID             
  from Appraisal a              
  inner join Employee e on e.EMPLOYEE_ID = a.EMPLOYEE_ID              
  inner join appraisalPosition ap on ap.position=a.POSITION_ID              
  inner join templateRecord t on t.templateId = ap.templateId             
  inner join appraisalComments ac on ac.appraisalId =a.ID            
  LEFT JOIN #pecentTable per on per.EMPLOYEE_ID = a.EMPLOYEE_ID            
  inner join (select appraisalId,s,r,a from               
   (            
    select appraisalId,raterType,sum(jobElementWeight * rating * appraisalSubTopicWeight)/ (100*100) [Average]             
    from appraisalRating ar              
    inner join performanceAppMatrixSetup pam on pam.perAppMatSetUpId = ar.matrixId              
    group by appraisalId,raterType              
   )rt           
   pivot(              
     MAX(Average)              
     FOR raterType IN ([s], [r], [a])              
    ) p ) ar on ar.appraisalId = a.ID              
                     
  where a.FROM_DATE between @fromDate and @toDate             
  and ac.raterTypeFlag='a' and ac.flag='f'            
  and a.TO_DATE between @fromDate and @toDate             
  and a.BRANCH_ID=isnull(@branchId,a.BRANCH_ID)            
  and a.DEPARTMENT_ID like ISNULL(@departmentId,'%')       and a.EMPLOYEE_ID like ISNULL(@employeeId,'%')              
              
END             
            
IF @flag='r'  -- appraisal report all            
BEGIN             
              
      
  SELECT DISTINCT trm.percentage AS supPer, trm1.percentage revPer, a.EMPLOYEE_ID INTO #pecentTableAll from Appraisal a              
  inner join appraisalPosition ap on ap.position = a.POSITION_ID              
  inner join templateRecord t on t.templateId = ap.templateId              
  inner join templateRecordMarking trm on trm.templateId = t.templateId and trm.markingBy= '1832'              
  inner join templateRecordMarking trm1 on trm1.templateId = t.templateId and trm1.markingBy= '1833'            
  where a.FROM_DATE between @fromDate and @toDate             
  and a.TO_DATE between @fromDate and @toDate             
          
select distinct x.id,ROW_NUMBER() over (order by x.ID) SN,[Employee Code],[Employee Name],[Template Name],[Appraisal From],[Appraisal To],[Employee Id]        
 from (           
 select a.ID, ROW_NUMBER() over (order by a.ID) SN,e.EMP_CODE[Employee Code],dbo.GetEmployeeFullNameOfId(a.EMPLOYEE_ID)[Employee Name]              
   ,t.templateName [Template Name]              
   ,convert(varchar,FROM_DATE,101) [Appraisal From],convert(varchar,TO_DATE,101) [Appraisal To]              
   --,ar.a [Self]              
   --,round(((per.supPer*0.01)* ar.s),2) [Supervisor]             
   --,round(((per.revPer*0.01)* ar.r),2) [Reviewer]            
   --,((ar.s*(per.supPer*0.01))+(ar.r*(per.revPer*0.01)))[Total Weight Average]            
               
   --,round(((@supervisor*0.01)* ar.s),2) [Supervisor] --round(((@supervisor/100)*ar.s),2) [Supervisor]              
   --,round(((@reviewer*0.01)* ar.r),2) [Reviewer] --round(((@reviewer*0.01)*ar.r),2) [Reviewer]              
   --,((ar.s*(@supervisor*0.01))+(ar.r*(@reviewer*0.01)))[Total Weight Average]  --((ar.s*(@supervisor*0.01))+(ar.r*(@reviewer*0.01)))[Total Weight Average]              
   ,[Employee Id] = a.EMPLOYEE_ID             
  from Appraisal a              
  inner join Employee e on e.EMPLOYEE_ID = a.EMPLOYEE_ID              
  inner join appraisalPosition ap on ap.position=a.POSITION_ID              
  inner join templateRecord t on t.templateId = ap.templateId             
  inner join appraisalComments ac on ac.appraisalId =a.ID            
  LEFT JOIN #pecentTableAll per on per.EMPLOYEE_ID = a.EMPLOYEE_ID            
  inner join (select appraisalId,s,r,a from               
   (            
    select appraisalId,raterType,sum(jobElementWeight * rating * appraisalSubTopicWeight)/ (100*100) [Average]             
    from appraisalRating ar              
    inner join performanceAppMatrixSetup pam on pam.perAppMatSetUpId = ar.matrixId              
    group by appraisalId,raterType              
   )rt              
   pivot(              
     MAX(Average)              
     FOR raterType IN ([s], [r], [a])              
    ) p ) ar on ar.appraisalId = a.ID              
                     
  where a.FROM_DATE between @fromDate and @toDate             
  and ac.raterTypeFlag='a'            
  and a.TO_DATE between @fromDate and @toDate             
  and a.BRANCH_ID=isnull(@branchId,a.BRANCH_ID)            
  and a.DEPARTMENT_ID like ISNULL(@departmentId,'%')             
  and a.EMPLOYEE_ID like ISNULL(@employeeId,'%') )x             
              
END       
    
If @flag = 'f' --appraisal report final      
BEGIN      
SELECT DISTINCT trm.percentage AS supPer, trm1.percentage revPer, a.EMPLOYEE_ID INTO #pecentTableFinal from Appraisal a              
  inner join appraisalPosition ap on ap.position = a.POSITION_ID              
  inner join templateRecord t on t.templateId = ap.templateId            
  inner join templateRecordMarking trm on trm.templateId = t.templateId and trm.markingBy= '1832'              
  inner join templateRecordMarking trm1 on trm1.templateId = t.templateId and trm1.markingBy= '1833'            
  where a.FROM_DATE between @fromDate and @toDate             
  and a.TO_DATE between @fromDate and @toDate    
                  
select distinct id,[Employee Code],[Employee Name],[Template Name],[Appraisal From],[Appraisal To],[Employee Id]        
 from (           
 select a.ID, ROW_NUMBER() over (order by a.ID) SN,e.EMP_CODE[Employee Code],dbo.GetEmployeeFullNameOfId(a.EMPLOYEE_ID)[Employee Name]              
   ,t.templateName [Template Name]              
   ,convert(varchar,FROM_DATE,101) [Appraisal From],convert(varchar,TO_DATE,101) [Appraisal To]              
  ,[Employee Id] = a.EMPLOYEE_ID             
  from Appraisal a              
  inner join Employee e on e.EMPLOYEE_ID = a.EMPLOYEE_ID              
  inner join appraisalPosition ap on ap.position=a.POSITION_ID              
  inner join templateRecord t on t.templateId = ap.templateId             
  inner join appraisalComments ac on ac.appraisalId =a.ID            
  LEFT JOIN #pecentTableFinal per on per.EMPLOYEE_ID = a.EMPLOYEE_ID            
  inner join (select appraisalId,s,r,a from               
   (            
    select appraisalId,raterType,sum(jobElementWeight * rating * appraisalSubTopicWeight)/ (100*100) [Average]             
    from appraisalRating ar              
    inner join performanceAppMatrixSetup pam on pam.perAppMatSetUpId = ar.matrixId              
    group by appraisalId,raterType              
   )rt              
   pivot(              
     MAX(Average)              
     FOR raterType IN ([s], [r], [a])              
    ) p ) ar on ar.appraisalId = a.ID              
                     
  where a.FROM_DATE between @fromDate and @toDate             
  and ac.raterTypeFlag='rc'            
  and a.TO_DATE between @fromDate and @toDate             
  and a.BRANCH_ID=isnull(@branchId,a.BRANCH_ID)            
  and a.DEPARTMENT_ID like ISNULL(@departmentId,'%')             
  and a.EMPLOYEE_ID like ISNULL(@employeeId,'%') )x      
      
 END     
              
    
IF @flag='e'              
BEGIN              
              
declare @supervisor1 as float, @reviewer1 as float              
              
select @supervisor1 = trm.percentage,@reviewer1=trm1.percentage from Appraisal a              
inner join appraisalPosition ap on ap.position = a.POSITION_ID              
inner join templateRecord t on t.templateId = ap.templateId              
inner join templateRecordMarking trm on trm.templateId = t.templateId and trm.markingBy= '1832'              
inner join templateRecordMarking trm1 on trm1.templateId = t.templateId and trm1.markingBy= '1833'              
where a.BRANCH_ID = @branchId and a.EMPLOYEE_ID = @employeeId             
            
--SELECT @supervisor1 as superVisor, @reviewer1 as reviwer            
              
select a.ID,e.EMP_CODE [Employee Code],dbo.GetEmployeeFullNameOfId(a.EMPLOYEE_ID)[Employee Name]              
,t.templateName [Template Name]              
,convert(varchar,FROM_DATE,101) [Appraisal From],convert(varchar,TO_DATE,101) [Appraisal To]               
,ar.a [Self]              
,round(((@supervisor1*0.01)* ar.s),2) [Supervisor]  --round(((@supervisor1/100)*ar.s),2) [Supervisor]              
,round(((@reviewer1*0.01)* ar.r),2) [Reviewer]              
,((ar.s*(@supervisor1*0.01))+(ar.r*(@reviewer1*0.01)))[Total Weight Average]              
,a.EMPLOYEE_ID              
from Appraisal a              
inner join Employee e on e.EMPLOYEE_ID = a.EMPLOYEE_ID              
inner join appraisalPosition ap on ap.position=a.POSITION_ID              
inner join templateRecord t on t.templateId = ap.templateId               
inner join (select appraisalId,s,r,a from               
    (select appraisalId,raterType,sum(jobElementWeight * rating * appraisalSubTopicWeight)/ (100*100) [Average] from appraisalRating ar              
    inner join performanceAppMatrixSetup pam on pam.perAppMatSetUpId = ar.matrixId              
    group by appraisalId,raterType            
    )rt              
    pivot(              
      MAX(Average)              
      FOR raterType IN ([s], [r], [a])              
     ) p ) ar on ar.appraisalId = a.ID              
                   
where a.FROM_DATE between @fromDate and @toDate and a.TO_DATE between @fromDate and @toDate and a.BRANCH_ID = @branchId and a.EMPLOYEE_ID = @employeeId              
              
END              
          
          
IF @flag = 'al'              
BEGIN           
 select dbo.GetEmployeeFullNameOfId(a.EMPLOYEE_ID)[empName],dbo.GetBranchName(a.BRANCH_ID)[branch]              
 ,dbo.GetDeptName(a.DEPARTMENT_ID)[department],sdd.DETAIL_TITLE[Designation]              
 ,CONVERT(varchar,a.FROM_DATE,101) FROM_DATE,CONVERT(varchar,a.TO_DATE,101) TO_DATE,a.TITLE              
 ,convert(varchar,a.previousAppraisalDate,101)[previousAppraisalDate]              
 ,supervisor=  dbo.GetEmployeeFullNameOfId(sup.SUPERVISOR),reviewer = dbo.GetEmployeeFullNameOfId(rev.SUPERVISOR)            
 ,DATEDIFF(DAY,e.JOINED_DATE,a.CREATED_DATE)[totalDays] from Appraisal a               
 inner join StaticDataDetail sdd on sdd.ROWID = a.POSITION_ID              
 inner join Employee e on e.EMPLOYEE_ID = a.EMPLOYEE_ID              
 inner join appraisalSupervisorAssignment sup on a.ID=sup.appraisal_id and sup.SUPERVISOR_TYPE='s'            
 inner join appraisalSupervisorAssignment rev on a.ID=rev.appraisal_id and rev.SUPERVISOR_TYPE='r'            
 where a.ID=@appraisalId              
               
             
 SELECT ao.appOtherSectionId, sdd.DETAIL_DESC [Title],sdd.DETAIL_TITLE[sectionId],ao.section,ao.question,ao.answerType,x.templateId              
  , ac.comments               
  FROM               
              (SELECT ap.templateId,a.ID FROM Appraisal a INNER JOIN appraisalPosition ap ON a.POSITION_ID = ap.position) x               
              INNER JOIN appraisalOtherSection ao ON ao.templateId = x.templateId              
              LEFT JOIN appraisalComments ac ON ac.questionId = ao.appOtherSectionId and ac.appraisalId = x.ID              
              INNER JOIN StaticDataDetail sdd ON sdd.ROWID = ao.section                                 
              WHERE ac.appraisalId = @appraisalId order by ao.section              
                            
 SELECT soleComment,comments FROM appraisalComments               
 where appraisalId = @appraisalId and questionId is null               
 and commentBy in (select SUPERVISOR from SuperVisroAssignment              
       where EMP = @empId  and record_status='y'               
  )                    
                    
 SELECT soleComment,comments FROM appraisalComments               
 where appraisalId = @appraisalId and questionId is null               
 and commentBy = @empId                    
               
 select ROW_NUMBER() over (order by SV_ASSIGN_ID)[SN], dbo.GetEmployeeFullNameOfId(SUPERVISOR)[HRMember] from SuperVisroAssignment where EMP=@empId and SUPERVISOR_TYPE='h'                                     
END            
            
IF @flag ='sl'            
BEGIN            
            
  declare @supervisor3 as float, @reviewer3 as float             
            
select @branchId = BRANCH_ID from Employee where EMPLOYEE_ID =@employeeId            
              
              
select @supervisor3=trm.percentage,@reviewer3=trm1.percentage from Appraisal a              
inner join appraisalPosition ap on ap.position = a.POSITION_ID              
inner join templateRecord t on t.templateId = ap.templateId              
inner join templateRecordMarking trm on trm.templateId = t.templateId and trm.markingBy='741'              
inner join templateRecordMarking trm1 on trm1.templateId = t.templateId and trm1.markingBy='742'              
where a.BRANCH_ID = @branchId and a.EMPLOYEE_ID = @employeeId              
              
select  ROW_NUMBER() over (order by a.ID) SN            
,t.templateName [Template Name]              
,convert(varchar,FROM_DATE,107) [Appraisal From],convert(varchar,TO_DATE,107) [Appraisal To]               
,ar.a [Self]              
,round(((isnull(@supervisor3,0)/100)*isnull(ar.s,0)),9) [Supervisor]              
,round(((isnull(@reviewer3,0)*0.01)*isnull(ar.r,0)),9) [Reviewer]              
,((isnull(ar.s,0)*(isnull(@supervisor3,0)*0.01))+(isnull(ar.r,0)*(isnull(@reviewer3,0)*0.01)))[Total Weight Average]             
             
from Appraisal a              
inner join Employee e on e.EMPLOYEE_ID = a.EMPLOYEE_ID              
inner join appraisalPosition ap on ap.position=a.POSITION_ID              
inner join templateRecord t on t.templateId = ap.templateId               
inner join (select appraisalId,s,r,a from               
    (select appraisalId,raterType,sum(jobElementWeight * rating * appraisalSubTopicWeight)/ (100*100) [Average] from appraisalRating ar              
    inner join performanceAppMatrixSetup pam on pam.perAppMatSetUpId = ar.matrixId              
    group by appraisalId,raterType              
    )rt              
    pivot(              
      MAX(Average)              
      FOR raterType IN ([s], [r], [a])              
     ) p             
                 
     ) ar on ar.appraisalId = a.ID              
    where a.BRANCH_ID = @branchId and a.EMPLOYEE_ID = @employeeId             
            
END            
            
IF @flag ='ar' -- Average Rating            
BEGIN            
 --DECLARE @sumSuperVisior INT , @sumReviewr INT            
 --SELECT @empPosition = POSITION_ID FROM appraisal WHERE ID =  @appraisalId            
              
 -- SELECT             
 --   @appraiserPer = cast((trm.percentage/100.0) as decimal(10,2))            
 --   ,@reviewerPer= cast((trm1.percentage/100.0) as decimal(10,2))            
 --FROM templateRecordMarking trm WITH(NOLOCK)             
 --INNER JOIN appraisalPosition ap WITH(NOLOCK)            
 --ON trm.templateId = ap.templateId            
 --INNER JOIN templateRecordMarking trm1 ON trm1.templateId = ap.templateId            
 --WHERE ap.position = @empPosition             
 --AND trm.markingBy = 711 and trm1.markingBy = 712            
             
 SELECT            
 [Supervisor] = SUM(ar.rating *((appraisalSubTopicWeight * jobElementWeight)/100.0))/100.0            
 ,[Reviewer] = SUM(ar1.rating *((appraisalSubTopicWeight * jobElementWeight)/100.0))/100.0            
             
  from performanceAppMatrixSetup pas            
 INNER JOIN appraisalRating ar WITH(NOLOCK) ON pas.perAppMatSetUpId = ar.matrixId and ar.raterType='s'            
 INNER JOIN appraisalRating ar1 WITH(NOLOCK) ON pas.perAppMatSetUpId = ar1.matrixId and ar1.raterType='r'            
 WHERE ar.appraisalId = @appraisalId and ar1.appraisalId = @appraisalId            
END            
            
IF @flag='matrix'            
BEGIN            
 SELECT @empPosition = POSITION_ID FROM appraisal WHERE ID =  @appraisalId            
              
  SELECT @appraiserPer = cast((trm.percentage/100.0) as decimal(10,2))            
  , @reviewerPer= cast((trm1.percentage/100.0) as decimal(10,2))            
 FROM templateRecordMarking trm WITH(NOLOCK)             
 INNER JOIN appraisalPosition ap WITH(NOLOCK)            
 ON trm.templateId = ap.templateId            
 INNER JOIN templateRecordMarking trm1 ON trm1.templateId = ap.templateId            
 WHERE ap.position = @empPosition             
 AND trm.markingBy = 1832 and trm1.markingBy = 1833            
 SELECT                
 ROW_NUMBER() OVER(PARTITION BY appraisalSubTopic ORDER BY appraisalSubTopic ASC) SN                
 ,p.perAppMatSetUpId                 
 ,p.appraisalSubTopic                
 ,s.DETAIL_DESC [appraisal Sub Topic]                
 ,appraisalSubTopicWeight [Weight(%)]                
 ,s1.DETAIL_DESC [Job Element]                
 ,jobElementWeight [WeightJE(%)] --[jobElementWeight(%)]                
 ,(appraisalSubTopicWeight * jobElementWeight)/100 [Total Weight (%)]             
 ,ar.a            
 ,ar.s             
 ,ar.r            
 ,ar.matrixId            
 ,sComment = src.s            
 ,rComment = src.r            
 ,(((@appraiserPer*isnull(ar.s,0))*(((appraisalSubTopicWeight * jobElementWeight)/100)/100.0)))+(((@reviewerPer*isnull(ar.r,0))*(((appraisalSubTopicWeight * jobElementWeight)/100)/100.0))) [weightedAverage]            
 --,(((@appraiserPer*isnull(ar.s,0))+(@reviewerPer* ISNULL(ar.r,0))) * ISNULL(jobElementWeight,0)/100.0) [weightedAverage]            
 FROM performanceAppMatrixSetup p                 
 INNER JOIN StaticDataDetail s ON s.ROWID = p.appraisalSubTopic                
 INNER JOIN StaticDataDetail s1 ON s1.ROWID = p.jobElement                
 INNER JOIN templateRecord t ON t.templateId = p.templateId                
 INNER JOIN appraisalPosition a ON a.templateId=p.templateId                
 INNER JOIN Appraisal a2 ON a2.POSITION_ID = a.position                
 LEFT JOIN (                
   SELECT                 
    matrixId               
    ,[s]                
    ,[r]                
    ,[a]                
    FROM (                
       SELECT                    
      matrixId               
      ,raterType                
      ,nullif(ltrim(rating), '') as rating--ISNULL(rating,'')rating                
      FROM appraisalRating  where appraisalId = @appraisalId             
  ) st              
  PIVOT(                
    MAX(rating)                
    FOR raterType IN ([s], [r], [a])                
    ) p                 
  )ar on  ar.matrixId = p.perAppMatSetUpId            
              
  LEFT JOIN (                
   SELECT                 
    matrixId               
    ,[s]                
    ,[r]            
    FROM (                
       SELECT                    
      matrixId               
      ,raterType                
      ,ISNULL(srComments, '') as comment            
      FROM appraisalRating  where appraisalId = @appraisalId             
  ) st              
  PIVOT(                
    MAX(comment)                
    FOR raterType IN ([s], [r])                
    ) p                 
  )src on  src.matrixId = p.perAppMatSetUpId            
            
WHERE a2.ID= @appraisalId              
RETURN            
END   

IF @flag = 'Final' --Final Report
BEGIN
	
	select distinct rtrim(dbo.GetEmployeeFullNameOfId(a.EMPLOYEE_ID))[Employee Name]
	,B.BRANCH_NAME [Branch]
	,D.DEPARTMENT_NAME [Department]
	,convert(varchar,a.FROM_DATE,107) [From Date]
	,convert(varchar,a.TO_DATE,107)   [To Date]
	,dbo.GetEmployeeFullNameOfId(sup.SUPERVISOR) [Supervisor]
	,dbo.getSupervisorRating(a.id) [Supervisor Overall Marks]
	,dbo.GetEmployeeFullNameOfId(rev.SUPERVISOR) [Reviewer]
	,dbo.getReviewerRating(a.id) [Reviewer Overall Marks]
	,ac1.soleComment [Overall Rating by Reviewer]
	,ac.soleComment [Acceptance By Appraisee]
	from appraisal as a
	inner join Employee as E on e.EMPLOYEE_ID = a.EMPLOYEE_ID 
	inner join Branches as B on B.BRANCH_ID=a.BRANCH_ID 
	inner join Departments as D on D.DEPARTMENT_ID = a.DEPARTMENT_ID 
	inner join appraisalSupervisorAssignment as sup on sup.appraisal_id = a.ID 
	inner join appraisalSupervisorAssignment as rev on rev.appraisal_id = a.ID
	inner join appraisalComments as ac on ac.appraisalId = a.id
	inner join appraisalComments as ac1 on ac1.appraisalId = a.id
	where sup.SUPERVISOR_TYPE='s'and rev.SUPERVISOR_TYPE='r' 
	and ac.raterTypeFlag='a' and  ac.flag = 'f' 
	and ac1.raterTypeFlag='r' and ac1.questionId is null 
	and a.TO_DATE between @fromDate and @toDate       
	and a.BRANCH_ID=isnull(@branchId,a.BRANCH_ID)      
	and a.DEPARTMENT_ID like ISNULL(@departmentId,'%')      
	and a.EMPLOYEE_ID like ISNULL(@employeeId,'%')
END      
          
IF @flag='t'          
BEGIN           
 select rtrim(dbo.GetEmployeeFullNameOfId(a.EMPLOYEE_ID)) [Employee],rtrim(comments) [Training Recommended]           
 from appraisalcomments ac inner join appraisal a on ac.appraisalId=a.ID where ac.questionId='62'           
 and commentDate between convert (varchar,@fromDate,107)and  convert(varchar,@toDate,107)           
 and a.EMPLOYEE_ID like ISNULL(@employeeId,'%')           
 and a.BRANCH_ID=isnull(@branchId,a.BRANCH_ID)           
 and a.DEPARTMENT_ID like ISNULL(@departmentId,'%')           
END
GO
