USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_SetloanDocs]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Exec proc_SetloanDocs @flag='V',@JobTypeID='1'
CREATE PROC [dbo].[proc_SetloanDocs](
	@flag		CHAR(1),
	@JobTypeID  VARCHAR(20) = NULL,
	@rowid		VARCHAR(100)			= NULL,
	@docId		INT			= NULL,
	@active		CHAR(1)		= NULL,
	@user		VARCHAR(20)	= NULL 
	
)
AS
DECLARE @StaticId INT=60
DECLARE @Doctypestr VARCHAR(MAX)
	SET @Doctypestr=''

IF @flag='V'
BEGIN
	

	SET @Doctypestr='<select ID="DoctypeCode_0" name="DoctypeCode_" class="CMBDesign">
	<option value="">Select</option>'+CHAR(13)
	SELECT @Doctypestr=@Doctypestr+'<option value="'+CAST(ROWID AS VARCHAR)+'">'+DETAIL_TITLE+'</option>'+CHAR(13) 
		FROM StaticDataDetail SD
		WHERE TYPE_ID = @StaticId 
		AND ROWID NOT IN (SELECT Doc_Type_Code FROM RelnLoan_TypeNDoc WHERE Job_Type_ID=@JobTypeID)
	SET @Doctypestr=@Doctypestr+'</select>'


	SELECT ROW_NUMBER() over(order by R.id) as [S.N.],SD.DETAIL_TITLE [Documnet Name]

	,'<select ID="Activeflag_'+CAST(R.ID AS VARCHAR)+'" name="Activeflag_'+CAST(R.ID AS VARCHAR)+'">
	<option value="A"'+ CASE WHEN R.Active_flag='A' THEN 'selected' ELSE '' END +'>Active</option>
	<option value="I"'+ CASE WHEN R.Active_flag='I' THEN 'selected' ELSE '' END +'>Inactive</option>
	</select>' [Status]
	,'<input type="button" name="Update" class="button" Value="Update" onClick="doUpdate('''+CAST(@JobTypeID AS VARCHAR(10))+''','+CAST(R.ID AS VARCHAR)+')">' as[ ],
	'<input type="checkbox" id="chkDel'+CAST(R.ID AS VARCHAR)+'" name="chkDel" value="'+CAST(R.ID AS VARCHAR)+'"/>' as [Check For Delete]
	FROM RelnLoan_TypeNDoc R
	JOIN StaticDataDetail SD ON R.Doc_type_Code=SD.ROWID	
	WHERE R.JOb_Type_ID=@JobTypeID

	UNION ALL

	SELECT '' as [ ]
	,@Doctypestr

	,'<select ID="Activeflag_0" name="Activeflag_0">
	<option value="A">Active</option>
	<option value="I">Inactive</option>
	</select>'
	,'<input type="button" name="Update" class="button" Value="Add New" onClick="doInsert('''+CAST(@JobTypeID AS VARCHAR(10))+''',0)">',
	'<input type="button" name="Delete" class="button" Value="Delete" onClick="doDelete('''+CAST(@JobTypeID AS VARCHAR(10))+''')">'
	
END
--Exec proc_SetloanDocs @flag='u',@JobTypeID='387',@rowid='0',@docId='',@mandatory='M',@active='A' 
IF @flag='u'
BEGIN
	
	IF @rowid>0
	BEGIN
		UPDATE RelnLoan_TypeNDoc
		SET 
		 Active_flag=@active
		,ModifiedBy=@user
		,ModifiedDate=GETDATE()
		WHERE ID=@rowid
		
	END	
	ELSE
	BEGIN
		INSERT INTO RelnLoan_TypeNDoc
		(JOb_Type_ID
		,Doc_type_Code
		,Active_flag
		,CreatedBy
		,CreatedDate)
		VALUES(
		@JobTypeID
		,@docId
		,@active
		,@user
		,GETDATE())
		
	END
	
	EXEC proc_SetloanDocs @flag='V',@JobTypeID=@JobTypeID
END


IF @flag='d'
BEGIN
	DECLARE @SQL VARCHAR(800)
	set @rowid=SUBSTRING(@rowid,2,LEN(@rowid)-1)
	
	SET @SQL='DELETE FROM RelnLoan_TypeNDoc WHERE ID IN ('+@rowid+')'
	EXEC (@SQL)
	
	EXEC proc_SetloanDocs @flag='V',@JobTypeID=@JobTypeID
END
GO
