USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[ProcUploadAdhocPaymentFile]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
select * from AdhocPayment
select * from employee
truncate table AdhocPayment

exec ProcUploadAdhocPaymentFile 'a','A', '390','D:\Asp_Projects\DotNetProjects\ERP_NEW\SwiftHrManagement.web\doc\payroll_upload\Book1.csv'
,'1000', 'True'
,'6/1/2012', '11','6/1/2012', '6/1/2012','2064'

exec ProcUploadAdhocPaymentFile 'b',null,'390', 'D:\\PROJECTS\\JANATA_BANK\\ERP\\SwiftHrManagement.web\\doc\\payroll_upload\\payable\\excel_upload.csv','1000'
exec ProcUploadAdhocPaymentFile 'a','D:\PROJECTS\JANATA_BANK\ERP\SwiftHrManagement.web\doc\payroll_upload\excel_upload.csv','1000'
exec ProcUploadAdhocPaymentFile 'a',A,390,'D:\\PROJECTS\\JANATA_BANK\\ERP\\SwiftHrManagement.web\\doc\\payroll_upload\\excel_upload.csv','1000'
exec ProcUploadAdhocPaymentFile 'a','A', '390','D:\\PROJECTS\\JANATA_BANK\\ERP\\SwiftHrManagement.web\\doc\\payroll_upload\\PAYMENT.csv','1000'

exec ProcUploadAdhocPaymentFile 'a','A', '597','D:\\shift allowance.csv','1000', 'False',null
exec ProcUploadAdhocPaymentFile @flag='a'
,@type='A'
, @head='390'
,@file_path='D:\Asp_Projects\DotNetProjects\ERP_NEW\SwiftHrManagement.web\doc\payroll_upload\Book1.csv'
,@user='1000'
,@isApplied= 'True'
,@AppliedDate='6/1/2012'
, @month='10'
,@applied_on= '5/30/2012'
,@year='2070'


exec ProcUploadAdhocPaymentFile @flag='a',@type='A', @head='390',@file_path='D:\Asp_Projects\DotNetProjects\ERP_NEW\SwiftHrManagement.web\doc\payroll_upload\file.csv',@user='1000',@isApplied= 'True',@AppliedDate='6/1/2012', @month='12',@applied_on= '6/13/2012',@year='2069'
*/

CREATE proc [dbo].[ProcUploadAdhocPaymentFile]
	@flag char(1),
	@type as varchar(1),
	@head as int,
	@file_path varchar(200),
	@user varchar(50),
	@isApplied varchar(10)=null,
	@AppliedDate varchar(20)=null,
	@month varchar(20) = null,
	@year varchar(20) = null,
	@applied_on varchar(20) = null, 
	@fy_id varchar(10)=null,
	@status varchar(20)=null,
	@eff_up varchar(20) = null,
	@eff_from varchar(20)=null,
	@apply_from varchar(20)=null
AS

if @flag='a'
begin

	set nocount on;
	declare @SQL varchar(1000)	
	set @file_path = replace(@file_path,'\\','\')	

create table #tempNumberUpload
	(
		emp_id int null,
		amount money null,
		tax_deducted_amt money null,
		narration varchar(max) null
	)

SET @SQL = ' BULK INSERT #tempNumberUpload  FROM '''+@file_path+''' 
				 WITH (FIELDTERMINATOR = '','',FIRSTROW  = 2, ROWTERMINATOR =''\n'') '
				 
exec(@SQL)

--select * from #tempNumberUpload
--return;

update #tempNumberUpload
    	set 
		emp_id=replace(ltrim(emp_id),'á',''),
		amount=replace(ltrim(amount),'á',''),
		tax_deducted_amt=replace(ltrim(tax_deducted_amt),'á','')

update #tempNumberUpload
    	set 
		emp_id=replace((emp_id),' ',''),
		amount=replace((amount),' ',''),		
		tax_deducted_amt=replace((tax_deducted_amt),' ','')	

	if exists(select * from #tempNumberUpload where isnumeric(amount)<=0) 
	begin

		select 'Some wrong amount!' as remarks
		return;

	end
	if exists(select * from #tempNumberUpload where isnumeric(tax_deducted_amt)<0) 
	begin

		select 'Some wrong amount!' as remarks
		return;

	end
	if exists (select * from #tempNumberUpload where emp_id not in (select EMPLOYEE_ID from Employee))
	begin
		select 'Some Employee ID is Invalid!' as remarks
		return;
	end

	INSERT INTO AdhocPayment (HEAD_ID,EMPLOYEE_ID,AMOUNT,CREATED_BY,CREATED_DATE,ADD_DEDUCT,IS_PAID,APPLIED_DATE,TAX_DEDUCTED
	,NARRATION,APPLY_ON,APPLIED_FOR_YEAR,APPLIED_FOR_MONTH	)
		SELECT @head,emp_id,amount,@user,GETDATE(),@type,@isApplied,@AppliedDate,tax_deducted_amt,narration,@applied_on
		,@year,@month FROM #tempNumberUpload

	DROP TABLE #tempNumberUpload
	select 'Upload Completed Sucessfully!' as msg;
end


/*
 exec ProcUploadAdhocPaymentFile 'b',null,'390', 'D:\PROJECTS\ERP_NABIL\SwiftHrManagement.web\doc\payroll_upload\payable\textNabil.csv',
'8/16/2013','8/17/2013','8/17/2013','1000',null,null
*/

if @flag='b'
begin

	set nocount on;
	declare @SQL1 varchar(1000)	
	set @file_path = replace(@file_path,'\\','\')	

	create table #tempNumberUpload1
		(
			emp_id int null,
			amount money null
		)

	SET @SQL1 = ' BULK INSERT #tempNumberUpload1  FROM '''+@file_path+''' 
					 WITH (FIELDTERMINATOR = '','',FIRSTROW  = 2, ROWTERMINATOR =''\n'') '
					 
	exec(@SQL1)

	update #tempNumberUpload1
    		set 
			emp_id=replace(ltrim(emp_id),'á',''),
			amount=replace(ltrim(amount),'á','')


	update #tempNumberUpload1
    		set 
			emp_id=replace((emp_id),' ',''),
			amount=replace((amount),' ','')		
		

	if exists(select * from #tempNumberUpload1 where isnumeric(amount)=0) 
	begin

		select 'Some wrong amount!' as remarks
		return;

	end

	if exists (select * from #tempNumberUpload1 where emp_id not in (select EMPLOYEE_ID from Employee))
	begin
		select 'Some Employee ID is Invalid!' as remarks
		return;
	end

	IF EXISTS (select * from Payable where EMPLOYEE_ID not in (select emp_id from #tempNumberUpload1) and BENEFIT_ID=@head and is_Active='Y'  )
	BEGIN
		Update Payable set effective_upto=@eff_up,is_Active='N'
		from Payable p inner join #tempNumberUpload1 t 
		on p.EMPLOYEE_ID=t.emp_id and BENEFIT_ID=@head and is_Active='Y' 
	END

		INSERT INTO payable (EMPLOYEE_ID,BENEFIT_ID,AMOUNT,EFFECTIVE_FROM,APPLY_FROM,effective_upto,is_Active,CREATED_BY,CREATED_DATE)
		SELECT emp_id,@head,amount,@eff_from,@apply_from,'2999-07-16','Y',@user,GETDATE() FROM #tempNumberUpload1

	DROP TABLE #tempNumberUpload1
	select 'Upload Completed Sucessfully!' as msg;

end

if @flag='f'  --for futurepayable table
begin

	set nocount on;
	declare @SQL2 varchar(1000)	
	set @file_path = replace(@file_path,'\\','\')	

	create table #tempNumberUpload2
		(
			emp_id int null,
			amount money null
		)

	SET @SQL2 = ' BULK INSERT #tempNumberUpload2  FROM '''+@file_path+''' 
					 WITH (FIELDTERMINATOR = '','',FIRSTROW  = 2, ROWTERMINATOR =''\n'') '
					 
	exec(@SQL2)

	update #tempNumberUpload2
    		set 
			emp_id=replace(ltrim(emp_id),'á',''),
			amount=replace(ltrim(amount),'á','')


	update #tempNumberUpload2
    		set 
			emp_id=replace((emp_id),' ',''),
			amount=replace((amount),' ','')		
		

	if exists(select * from #tempNumberUpload2 where isnumeric(amount)=0) 
	begin

		select 'Some wrong amount!' as remarks
		return;

	end

	if exists (select * from #tempNumberUpload2 where emp_id not in (select EMPLOYEE_ID from Employee))
	begin
		select 'Some Employee ID is Invalid!' as remarks
		return;
	end
	
	alter table #tempNumberUpload2 add flag int
	
	update #tempNumberUpload2 set flag=1 from #tempNumberUpload2 temp, FuturePayable fp
	where temp.emp_id=fp.EMPLOYEE_ID and fp.BENEFIT_ID=@head and fp.FY_ID=@fy_id and fp.status is not null
		
		declare @strMissingList varchar(max)
		
	IF EXISTS( 
				  select count(Emp_id)as Total from #tempNumberUpload2 
				  group by Emp_id 
				  having count(Emp_id) >1 
				) 
				BEGIN 

					   select @strMissingList = COALESCE(@strMissingList + '     <br>', '') +    
						CAST(Emp_id AS varchar(20))   
						from ( 
			             
						  select count(Emp_id)as Total from #tempNumberUpload2 
						  group by Emp_id 
						  having count(Emp_id) >1 
			               
						)a 

						set @strMissingList= '<br><B> Duplicate Employee ID in your file </B> <br> '+@strMissingList      
						select remarks=@strMissingList
			           
					   return;
			            
			         
				END 
	
	
		
		if exists (select * from #tempNumberUpload2 where flag=1)
	begin
	
		 select @strMissingList = COALESCE(@strMissingList + '     <br>', '') +    
						CAST(Emp_id AS varchar(10))   
						from ( 
			             
						  select emp_id from #tempNumberUpload2 where flag=1
			               
						)a 

						set @strMissingList= '<br><B> Benefit Already Paid for the Employees </B> <br> '+@strMissingList      
						select remarks=@strMissingList
			           
					   return;
		
		end
	

	INSERT INTO FuturePayable (EMPLOYEE_ID,BENEFIT_ID,AMOUNT,CREATED_BY,CREATED_DATE,FY_ID,STATUS)
		SELECT emp_id,@head,amount,@user,GETDATE(),@fy_id,@status FROM #tempNumberUpload2
	
	
	DROP TABLE #tempNumberUpload2
	select 'Upload Completed Sucessfully!' as msg;

end
GO
