USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_ClassificationOfAreas]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec proc_travelOrderPostCategory @flag='i',@categoryId='1',@positionId='12,456,878,5454,541,54',@user='admin'
create PROC [dbo].[proc_ClassificationOfAreas]
				@flag varchar(10), 
				@rowId int=null,
				@zoneId int=null,
				@countriesId	varchar(max)=null,
				@user varchar(50)=null,
				@isActive varchar(50)=null,
				@id int =null
				
AS	
if @flag='i'
BEGIN 
--select * from tadapositioncategory
--truncate table tadapositioncategory
--select id,dbo.GetDetailTitle(categoryId) categoryName,dbo.GetDetailTitle(positionId) positionName
--,dbo.GetEmployeeFullNameOfId(createdBy) createdBy,CONVERT(varchar,createdDate,107) createdDate
--from tadapositioncategory where isActive='Yes'
		if @countriesId='' or @countriesId is null or @zoneId='' or	 @zoneId is null
		begin
			SELECT 'INVALID POSITION ASSIGN TO CATEGORY!' as REMARKS
			return;
		end
		
		INSERT INTO TadaClassificationOfAreas
				(   
					zoneId,
					countriesId,
					isActive,
					createdBy,
					createdDate
				)	
				
		   
		select @zoneId,name,'Yes',@user,GETDATE() 
		from dbo.split(@countriesId,',') 
		where name not in (select countriesId from TadaClassificationOfAreas where isActive='Yes')
	
		
		select 'Success' as msg

END 

if @flag ='z'
begin
	
	select ROWID , DETAIL_TITLE, DETAIL_DESC from StaticDataDetail with (nolock)  
	where ROWID not in (select countriesId from TadaClassificationOfAreas)
	and [TYPE_ID]=@rowId ORDER BY DETAIL_TITLE ASC
	
end

if @flag ='b'
begin
	
	select dbo.GetDetailTitle(zoneId) zoneName,dbo.GetDetailTitle(countriesId) countriesName,countriesId
	from TadaClassificationOfAreas where zoneId=@zoneId
	
end

if @flag='u'
begin

     update TadaClassificationOfAreas set zoneId=@zoneId, isActive=@isActive where id=@id

end
GO
