USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[PROCMANAGEGATEENTRY]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROCMANAGEGATEENTRY]  
( @ID INT = NULL,  
 @TOKENNO INT = NULL,  
 @BRANCHID INT = NULL,  
 @VEHICLENO VARCHAR(50) = NULL,  
 @VEHICLENAME VARCHAR(50) = NULL,  
 @INFLG BIT = 0,   
 @OUTFLG  BIT = 0,   
 @REMARKS VARCHAR(MAX) = NULL,   
 @ACTIONBY VARCHAR(50) = NULL,  
 @ACIONDATETIME DATETIME = NULL,  
 @MODE VARCHAR(1) = NULL)  
  
AS  
BEGIN  
   
 SET NOCOUNT ON  
  
 IF (@MODE = 'I')  
 BEGIN  
    
 INSERT INTO [WSEntry]  
           ([TokenNumber]  
           ,[BranchID]  
           ,[VehicleNumber]  
           ,[VehicleName]  
           ,[InFlg]  
           ,[InDateTime]             
           ,[Remarks]  
           ,[CreatedBy]  
           ,[CreatedDate])  
     VALUES  
           (@TOKENNO  
           ,@BRANCHID  
           ,@VEHICLENO  
           ,@VEHICLENAME  
           ,@INFLG  
           ,@ACIONDATETIME             
           ,@REMARKS  
           ,@ACTIONBY  
           ,@ACIONDATETIME)   
 END  
   
 IF (@MODE = 'U')  
 BEGIN  
  UPDATE [WSEntry]  
   SET [TokenNumber] = @TOKENNO  
   ,[BranchID] = @BRANCHID  
   ,[VehicleNumber] = @VEHICLENO  
   ,[VehicleName] = @VEHICLENAME        
   ,[OutFlg] = @OUTFLG  
   ,[OutDateTime] = @ACIONDATETIME  
   ,[Remarks] = @REMARKS  
   ,[ModifyBy] = @ACTIONBY  
   ,[ModifiedDate] = @ACIONDATETIME  
   WHERE ID = @ID  
   
 END  
   
 IF (@MODE = 'D')  
 BEGIN  
  DELETE FROM WSENTRY WHERE ID = @ID  
 END  
   
  
END
GO
