USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[ProcPopulateAssetDetails]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Exec ProcPopulateAssetDetails '1'
CREATE PROCEDURE [dbo].[ProcPopulateAssetDetails]
 ( 
	@ASSETID	VARCHAR(30) 
 )
 AS
 BEGIN
	 
	SELECT id,(purchase_value-acc_depriciation) AS book_value,acc_depriciation as acc_dep,
		 purchase_value,narration,next_maintenance_date
		 FROM ASSET_INVENTORY 
		 WHERE id=@ASSETID
 
 END
GO
