USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procUpdateDepreciationStatus]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
		EXEC procUpdateDepreciationStatus 'i','66-67','11','1006'
*/
CREATE PROC [dbo].[procUpdateDepreciationStatus]
	@flag VARCHAR(1),
	@fiscalYear VARCHAR(20),
	@runMonth VARCHAR(20),
	@user VARCHAR(20)
AS
	SET NOCOUNT ON;
	set xact_abort on;	
	
IF @flag='i'
BEGIN	
	
	if not exists(SELECT * FROM depreciation_setup WHERE fiscal_year=@fiscalYear)
	BEGIN
			SELECT 'NO DATA FOUND FOR '+@fiscalYear+' FISCAL YEAR' as REMARKS
			return;
	END
	
	IF exists(SELECT * FROM depreciation_status WHERE fiscal_year=@fiscalYear and run_month=@runMonth)
	BEGIN
				
			SELECT 'Already Exists Updated For This Month' as REMARKS
			return;	
	END 
			
	DECLARE @previousMonth AS INT
	SET @previousMonth=@runMonth-1

	IF(@runMonth=1)
	BEGIN
		set @previousMonth=12
	END
			
	IF not exists(SELECT TOP 1 * FROM depreciation_status WHERE run_month=@previousMonth and fiscal_year=@fiscalYear)
	AND @runMonth<>4
	BEGIN

		SELECT 'Process Not Run for Previous Month' as REMARKS
		return;	
	END			

BEGIN TRANSACTION	
		
		DECLARE @SQL1 AS VARCHAR(5000)
		DECLARE @SQL AS VARCHAR(5000)
		DECLARE @Run_Month as varchar(30),@monthStartDate AS DATE
		declare @isAmortised as varchar(2)
		SET @monthStartDate=dbo.GetMonthStartDateEng(@fiscalYear,@runMonth) 
		
		INSERT INTO depreciation_status(fiscal_year,run_month,run_by,run_date)VALUES(@fiscalYear,@runMonth,@user,GETDATE())
		IF (@@ERROR <> 0) GOTO QuitWithRollback 
		
		--UPDATING DEPRECIATION SETUP TABLE FOR DM METHOD---
		set @SQL1='update depreciation_setup set acc_dep=acc_dep+m'+@runMonth+' where fiscal_year='''+@fiscalYear+''''		
		EXEC(@SQL1)		
		IF (@@ERROR <> 0) GOTO QuitWithRollback 
		
		-----DEMINISHING METHOD DEPRECIATION UPDATE		
		UPDATE ASSET_INVENTORY SET acc_depriciation=isnull(B.acc_dep,0) FROM ASSET_INVENTORY A,  
			(SELECT acc_dep,asset_id FROM depreciation_setup where fiscal_year=@fiscalYear)B 
				WHERE A.id =B.asset_id 		
		IF (@@ERROR <> 0) GOTO QuitWithRollback 
		
		-----REMAINING MONTH DEPRECIATION UPDATE STRAIGHT LINE METHOD-------
		UPDATE ASSET_INVENTORY SET acc_depriciation=acc_depriciation+B.DEP_VALUE FROM ASSET_INVENTORY A,		
			(SELECT C.id,ROUND(C.purchase_value/C.life_in_month,2) AS DEP_VALUE FROM ASSET_INVENTORY C 
				WHERE is_amortised='Y')B WHERE A.ID=B.ID AND A.REMAIN_MONTH>1 AND is_amortised='Y' AND A.depr_start_date<=@monthStartDate
		IF (@@ERROR <> 0) GOTO QuitWithRollback 
		
		-----LAST MONTH DEPRECIATION UPDATE-----
		UPDATE ASSET_INVENTORY SET acc_depriciation=acc_depriciation+B.DEP_VALUE FROM ASSET_INVENTORY A,		
			(SELECT C.id,purchase_value-ROUND(purchase_value/life_in_month,2)*(life_in_month-1) AS DEP_VALUE FROM ASSET_INVENTORY C 
				WHERE is_amortised='Y')B WHERE A.ID=B.ID AND A.REMAIN_MONTH=1 AND is_amortised='Y' AND A.depr_start_date<=@monthStartDate
		IF (@@ERROR <> 0) GOTO QuitWithRollback 
		
	
		
		
		
		--##### ACCOUNTING GL ENTRIES #####--------------		
		declare	@intPartId int,@intTotalRows int, @strAgentID varchar(20), @tempID int, @temp_item int, 
		@strRefNum as varchar(20), @intBillid as int,
		@strAccountNum as varchar(25), @dblTotalAmt as float, @strTranType as varchar(50)			
		
		SET @Run_Month=CASE WHEN @runMonth> 3 THEN @runMonth-3
			WHEN @runMonth<4 THEN @runMonth-3 +12 END
	
		SET @SQL='SELECT ACCT_NUM,isnull(amount,0)as AMT,TRN_TYPE
			INTO ##_tzRemittanceTranHit FROM (	
						
			SELECT DEPRECIATION_EXP_AC AS  ACCT_NUM ,''DR'' AS TRN_TYPE,C.M4 AS amount FROM ASSET_BRANCH  A WITH (NOLOCK) 
				INNER JOIN ASSET_INVENTORY B WITH (NOLOCK) ON A.PRODUCT_ID=B.product_id
				AND A.BRANCH_ID=B.BRANCH_ID	INNER JOIN depreciation_setup C WITH (NOLOCK) ON B.id=C.asset_id
				
			UNION ALL	
			
			SELECT DEPRECIATION_EXP_AC AS  ACCT_NUM,''DR'' AS TRAN_TYPE,ROUND(B.purchase_value/B.life_in_month,2) AS AMOUNT FROM ASSET_BRANCH  A WITH (NOLOCK) 
				INNER JOIN ASSET_INVENTORY B WITH (NOLOCK) ON A.PRODUCT_ID=B.product_id	AND A.BRANCH_ID=B.BRANCH_ID
				WHERE B.is_amortised=''Y'' AND REMAIN_MONTH>1
			
			UNION ALL
			
			SELECT DEPRECIATION_EXP_AC AS  ACCT_NUM,''DR'' AS TRAN_TYPE,B.purchase_value-ROUND(B.purchase_value/B.life_in_month,2)*(B.life_in_month-1) AS AMOUNT FROM ASSET_BRANCH  A WITH (NOLOCK) 
				INNER JOIN ASSET_INVENTORY B WITH (NOLOCK) ON A.PRODUCT_ID=B.product_id	AND A.BRANCH_ID=B.BRANCH_ID
				WHERE B.is_amortised=''Y'' AND REMAIN_MONTH=1
						
			UNION ALL
			
			SELECT ACCUMULATED_DEP_AC AS  ACCT_NUM,''CR'' AS TRAN_TYPE,C.M4 AS AMOUNT FROM ASSET_BRANCH  A WITH (NOLOCK) 
				INNER JOIN ASSET_INVENTORY B WITH (NOLOCK) ON A.PRODUCT_ID=B.product_id	AND A.BRANCH_ID=B.BRANCH_ID
				INNER JOIN depreciation_setup C WITH (NOLOCK) ON B.id=C.asset_id
			
			UNION ALL
			
			SELECT ACCUMULATED_DEP_AC AS  ACCT_NUM,''CR'' AS TRAN_TYPE,ROUND(B.purchase_value/B.life_in_month,2) AS AMOUNT FROM ASSET_BRANCH  A WITH (NOLOCK) 
				INNER JOIN ASSET_INVENTORY B WITH (NOLOCK) ON A.PRODUCT_ID=B.product_id	AND A.BRANCH_ID=B.BRANCH_ID
				WHERE B.is_amortised=''Y'' AND REMAIN_MONTH>1
			
			UNION ALL
			
			SELECT ACCUMULATED_DEP_AC AS  ACCT_NUM,''CR'' AS TRAN_TYPE,B.purchase_value-ROUND(B.purchase_value/B.life_in_month,2)*(B.life_in_month-1) AS AMOUNT FROM ASSET_BRANCH  A WITH (NOLOCK) 
				INNER JOIN ASSET_INVENTORY B WITH (NOLOCK) ON A.PRODUCT_ID=B.product_id	AND A.BRANCH_ID=B.BRANCH_ID
				WHERE B.is_amortised=''Y'' AND REMAIN_MONTH=1
			)a'

		EXEC(@SQL)
		
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
		--DR Or CR Exist or not checcking
		if not exists(
			Select  trn_type from ##_tzRemittanceTranHit where trn_type='DR'
		)
		Or 
		not exists(
			Select  trn_type from ##_tzRemittanceTranHit where trn_type='CR'
		)
		begin
				Select  'DR or CR Balance not exists' as REMARKS
				GOTO QuitWithRollback	
		
		end

		if (Select  cast(sum(AMT)as money) from ##_tzRemittanceTranHit where trn_type='DR' group by trn_type)
			<> (select  cast(sum(AMT) as money) from ##_tzRemittanceTranHit  where trn_type='CR' group by trn_type)
		begin

				Select  'DR and CR Balance is not Equal' as REMARKS
				GOTO QuitWithRollback			
		end	
		
		
		Alter table ##_tzRemittanceTranHit add RowID INT IDENTITY(1,1)
		select @intPartId=max(RowID) from ##_tzRemittanceTranHit
	
		--########## CREATE SUMMARY SEND TRANSACTION 
	
		select @strRefNum=depreciation_voucher from billSetting where company_id=1
		IF (@@ERROR <> 0) GOTO QuitWithRollback 

		update billSetting set depreciation_voucher=cast(depreciation_voucher as float)+1 where company_id=1
		IF (@@ERROR <> 0) GOTO QuitWithRollback 

		 
		 -- ############### TRAN MASTER DETAIL
		insert into tran_master (entry_user_id,acc_num
			,part_tran_type,ref_num,tran_amt, tran_date,
			tran_type,company_id,part_tran_srl_num,created_date,rpt_code, billno)
		Select @user,c.ACCT_NUM,
			TRN_TYPE,@strRefNum ,AMT,GETDATE(),
			'd','1',ROW_NUMBER() OVER(ORDER BY TRN_TYPE desc) AS SrNo, GETDATE(),'DEP_CAL FOR:'+@fiscalYear+'-'+@runMonth,@strRefNum
		from ##_tzRemittanceTranHit c 

		IF (@@ERROR <> 0) GOTO QuitWithRollback 
			
		-- ############### TRAN MASTER DETAIL ENTRY
		INSERT INTO [tran_masterDetail]([ref_num] ,[tran_particular],tran_type, company_id,tranDate )
		Select  @strRefNum,'DEPRECIATION CALCULATED','d','1',GETDATE()
		IF (@@ERROR <> 0) GOTO QuitWithRollback 
		
		------REMAIN MONTH UPDATE----------------
		UPDATE ASSET_INVENTORY SET REMAIN_MONTH=REMAIN_MONTH-1 WHERE REMAIN_MONTH>0 AND is_amortised='Y'		
		IF (@@ERROR <> 0) GOTO QuitWithRollback 
		
		UPDATE depreciation_status SET ref_num=@strRefNum WHERE fiscal_year=@fiscalYear AND run_month=@runMonth
		
--########## Drop TEMP TABLE
		drop table ##_tzRemittanceTranHit		
		SELECT 'Depreciation has been updated sucessfully!' AS MSG
		
COMMIT TRANSACTION

goto EndSave	
QuitWithRollback:
ROLLBACK TRANSACTION 
			
	SELECT  'ERROR TO COMPLETE THIS TRANSACTION' AS MSG	
			 	
EndSave:			
				
END

ROLLBACK
GO
