USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procBudgetEntry]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[procBudgetEntry]     
 (  @DOCID INT = NULL,      
 @FY VARCHAR(50) = NULL,      
 @BRANCH_ID VARCHAR(50) = NULL,      
 @PRODUCT_ID VARCHAR(50) = NULL,      
 @BUDGET_QTY VARCHAR(50) = NULL,      
 @RATE VARCHAR(50) = NULL, 
 @REMARKS varchar(max)=null,  
 @IS_ACTIVE varchar(10)=null,         
  @CREATED_BY varchar(20)=NULL,
  @MODE VARCHAR(5) = NULL ,
 @CREATEDDATE DATETIME = NULL     
 )      
 AS      
 BEGIN      
  IF (@MODE = 'I')      
  BEGIN      
   INSERT INTO [IN_BUDGET]      
           (
				FY
				,BRANCH_ID
				,PRODUCT_ID
				,BUDGET_QTY
				,RATE
				,REMARKS
				,IS_ACTIVE
				,CREATED_BY
				,CREATED_DATE)      
        VALUES      
           (	@FY
				,@BRANCH_ID
				,@PRODUCT_ID
				,@BUDGET_QTY
				,@RATE
				,@REMARKS
				,@IS_ACTIVE
				,@CREATED_BY
				,GETDATE()
				)      
  END   
  
  IF (@MODE = 'U')    
  BEGIN
		UPDATE [IN_BUDGET] 
		SET 
				FY=@FY
				,BRANCH_ID=@BRANCH_ID
				,PRODUCT_ID=@PRODUCT_ID
				,BUDGET_QTY=@BUDGET_QTY
				,RATE=@RATE
				,REMARKS=@REMARKS
				,IS_ACTIVE=@IS_ACTIVE
		
		where ID = @DOCID
  END
   
   IF (@MODE = 'D')
   BEGIN
		DELETE FROM [IN_BUDGET] where ID = @DOCID
   END
 END
GO
