USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procTrialBalanceReport]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- exec [procTrialBalanceReport] 'a', '8/24/2009','1' 

create proc [dbo].[procTrialBalanceReport]
@flag char(1),
@date varchar(20),
@company_id varchar(20)=null

AS
set nocount on;

if @flag='a'
begin
set @date= @date +' 23:59:59'

select f.lable, r.gl_code GL,r.gl_name as gl_desec,d.CR as cr_amt,d.DR as dr_amt from GL_GROUP r with (nolock)   join (
		select gl_sub_head_code as gl_code,sum(Total) as Total,
			sum(case when Total < 0 then Total else 0 end) as DR, 
			sum(case when Total > 0 then Total else 0 end) as CR
	from (
	select gl_sub_head_code,acc_num,
				sum (case when part_tran_type='DR' then tran_amt*-1 else tran_amt end) Total
				from tran_master m with(nolock) 
				where tran_date  < = @date
				and company_id like isnull(1, '%')
			group by gl_sub_head_code,acc_num
		)a group by gl_sub_head_code
) d on d.gl_code=r.gl_code
join  report_format f  with (nolock) on f.reportid=r.bal_grp
where right(d.gl_code,2)<>'00'
order by f.lable


end
GO
