USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procCheckUserAlreadyExists]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Exec procCheckUserAlreadyExists '10000','admwin'
CREATE proc [dbo].[procCheckUserAlreadyExists]
	@emp_id varchar(200),
	@user varchar(100)
	
	
AS

set nocount on;
begin
	if exists(select * from Admins where Name=@emp_id)
	begin
		select 'employee already exists' as msg	
		return;	
	end
	else
	begin
		if exists(SELECT AdminID FROM Admins WHERE UserName=@user)
		begin
			select 'user already exists' as msg
			return;
		end
		else
		begin
			select 'insert' as msg
			return;
		end
	end
end
GO
