USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procManageEmployeeDiscontinuous]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[procManageEmployeeDiscontinuous]
	@flag char(10),
	@empId varchar(10)=null,
	@reasonMode varchar(20)=null,
	@effectiveDate varchar(20)=null,
	@Discription varchar(300)=null,
	@user varchar(50)=null,
	@rowid varchar(10)=null
AS

	SET NOCOUNT ON ;    
	SET XACT_ABORT ON   
	DECLARE @ID INT,@BRANCH_ID INT,@DEPT_ID INT,@POST_ID INT,@EMP_TYPE INT

	---### INSERT OPERATION
	BEGIN TRY
	if @flag ='i'
	BEGIN
			BEGIN TRANSACTION
			
			INSERT INTO EmployeeDiscontinuousPlan (STAFF_ID,DISCONTINUOUS_REASON,DISCRIPTION,EFFECTIVE_DATE,CREATED_BY,CREATED_DATE,
			BRANCH_ID,DEPT_ID,POST_ID,EMP_TYPE) 
			
			SELECT @empId,@reasonMode,@Discription,@effectiveDate,@user,GETDATE(),BRANCH_ID,DEPARTMENT_ID,POSITION_ID,EMP_TYPE
			FROM EMPLOYEE WHERE EMPLOYEE_ID=@empId  
			
			SET @ID =@@IDENTITY
			
			IF CONVERT(VARCHAR(20), cast(@effectivedate as DATE), 102)  = CONVERT(VARCHAR(20), getdate(), 102)
			BEGIN
				UPDATE Employee SET EMP_STATUS='459' WHERE EMPLOYEE_ID=@empId
				UPDATE EmployeeDiscontinuousPlan SET EXECUTED_DATE=GETDATE(),IS_EXECUTED='Y' WHERE ID=@ID 	
				UPDATE Payable SET effective_upto=@effectiveDate WHERE EMPLOYEE_ID=@empId AND effective_upto='2999-07-16' AND is_Active='Y'
						
			END     
			SELECT 'SUCCESS!' AS MSG
			
			COMMIT TRANSACTION
	END

	-- ### SELECT OPERATION
	if @flag ='u'
	BEGIN
		
		SELECT @BRANCH_ID=BRANCH_ID,@DEPT_ID=DEPARTMENT_ID,@POST_ID=POSITION_ID,@EMP_TYPE=EMP_TYPE 
		FROM Employee WHERE EMPLOYEE_ID=@rowid
		
		UPDATE EmployeeDiscontinuousPlan 
				SET	STAFF_ID=@empId, 
					EFFECTIVE_DATE =@effectiveDate,
					DISCONTINUOUS_REASON=@reasonMode,
					DISCRIPTION=@Discription,
					MODIFIED_DATE=GETDATE(),
					MODIFIED_BY=@user ,
					BRANCH_ID=@BRANCH_ID,
					DEPT_ID=@DEPT_ID,
					POST_ID=@POST_ID,
					EMP_TYPE=@EMP_TYPE
				WHERE ID =@rowid
		
			SELECT 'SUCCESS!' AS MSG

	END
	-- ### SELECT OPERATION
	if @flag ='s'
	BEGIN
		
		SELECT ID,dbo.GetEmployeeInfoById(STAFF_ID) EMP_NAME,STAFF_ID,DISCONTINUOUS_REASON,DISCRIPTION,
		CONVERT(VARCHAR,EFFECTIVE_DATE,101) EFFECTIVE_DATE
		FROM EmployeeDiscontinuousPlan WHERE ID=@rowid

	END
	-- ### DELETE OPERATION
	if @flag ='d'
	BEGIN
		
		DELETE 
		FROM EmployeeDiscontinuousPlan WHERE ID=@rowid
		SELECT 'SUCCESS!' AS MSG

	END
	
	END TRY
	
	BEGIN CATCH
			 SELECT 'SORRY, FAIL TO PREOCESS!'   AS MSG
	END CATCH
GO
