USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procManageTrainingSchedule]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[procManageTrainingSchedule]
(
	@flag VARCHAR(10)=NULL,
	@id int=null,
	@trainingId INT =NULL,
	@schDate date=NULL,
	@fromTime varchar(50) = NULL,
	@toTime varchar(50)=null,
	@topic varchar(max)=null,
	@trainer varchar(max)=null,
	@user varchar(50)=null
)
AS

SET NOCOUNT ON;

IF @flag = 'a'	  --### insert schedule data 
BEGIN
	--select * from trainingSchedule
	insert into trainingSchedule(trainingId,schDate,fromTime,toTime,topic,trainer,createdBy,createdDate)
	values(@trainingId,@schDate,@fromTime,@toTime,@topic,@trainer,@user,GETDATE())
	
	select 'Success' as msg;
	
END
if @flag='b'	 --### select schedule data
begin
	select a.id,ROW_NUMBER()over(order by a.id) [S.N.],
	convert(varchar,a.schDate,107) [Schedule Date],a.fromTime [From Time],
	a.toTime [To Time],topic [Topic],trainer[Trainer Name] 
	from trainingSchedule	a inner join training b on a.trainingId=b.id
	where b.id=@trainingId	and a.schStatus is null
end

if @flag='c'     --### delete schedule data
begin
	update trainingSchedule set schStatus='n',modifiedBy=@user,modifiedDate=GETDATE()
	where id =@id
	select 'Success' as msg;
end
GO
