USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Circulars]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--  exec Proc_Circulars @flag = 'b', @func_id = '1'

CREATE proc [dbo].[Proc_Circulars]  
 @flag char (1),
 @func_id INT = NULL
AS  
IF @flag='a'	--all circulars  
	BEGIN  
		SELECT TOP 5 id, func_type, func_head, func_detail FROM dbo.CMS_functions ORDER BY id DESC
	END

IF @flag='b'	--selected circulars description
	BEGIN
		SELECT func_type, func_head, func_detail FROM dbo.CMS_functions WHERE id = @func_id
		
			SELECT 
				 dbo.GetEmployeeFullNameOfId(E.EMPLOYEE_ID) AS Name
				, C.doc_desc 
				, C.doc_ext
				,'/doc/CMS_Management/'+CAST(C.funct_id AS VARCHAR(10))+'/'+CAST(C.rowid AS VARCHAR(10))+'.'+C.doc_ext AS Location
				, C.created_date 
			FROM dbo.CMS_document C 
			INNER JOIN dbo.Employee E ON E.EMP_CODE = C.created_by 
			WHERE funct_id = 1	

		
	END
GO
