USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procExecuteSQLString]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[procExecuteSQLString]
	@flag varchar(1),
	@SQL varchar(max),
	@condition varchar(max)='',
	@user_name varchar(50)=null
as

set nocount on;
-- Delete string 

if @flag='n'
begin

	set @SQL= @SQL + @condition
	--print @SQL
	exec (@SQL)
	
end


if @flag='s'
begin

	set @SQL= @SQL +' where 1=1 ' + @condition
	--print @SQL
	exec (@SQL)
	
end

-- Delete string

if @flag='d'
begin

	if @condition=''
	begin
		select 'Invalide condition to Delete'
		return;
	end
	
	set @SQL= @SQL +' where 1=1 ' + @condition
	exec (@SQL)
	
	Exec JobHistoryRecord 'i','DELETED','','SQL String',@SQL,'',@user_name
	
	
	select 'Process complete'
	
	
end

-- Update string 
if @flag='u'
begin

	if @condition=''
	begin
		select 'Invalide condition to Update'
		return;
	end
	
	set @SQL= @SQL +' where 1=1 ' + @condition
	exec (@SQL)
	
	Exec JobHistoryRecord 'i','UPDATED','','SQL String',@SQL,'',@user_name
	
	select 'Process complete'
	
	
end
GO
