USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_applicationLogs]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[proc_applicationLogs]
	 @flag				varchar(1)
	,@rowId				BIGINT			= NULL
	,@log_type			VARCHAR(50)		= NULL
	,@table_name		VARCHAR(100)	= NULL	
	,@data_id			VARCHAR(50)		= NULL
	,@user				VARCHAR(50)		= NULL
	,@old_data			VARCHAR(MAX)	= NULL
	,@new_data			VARCHAR(MAX)	= NULL
	,@created_by        VARCHAR(200)    = NULL
	,@created_date      date            = NULL
	
AS

/*
	@flag,	
	i				= Insert
	auditRole		= Audit Role Report
	auditFunction	= Audit Function Report
	
*/
DECLARE @sql VARCHAR(MAX)

 IF @flag = 'i'
 BEGIN
	INSERT INTO applicationLogs (	
		log_type
		,table_name
		,data_id
		,old_data
		,new_data
		,created_by
		,created_date
	)
	SELECT @log_type, @table_name, @data_id, @old_data, @new_data, @user, GETDATE()
	SET @rowId = SCOPE_IDENTITY()
	--SELECT 0 error_code, 'Log recorded successfully.' mes, @rowId id	
  END
  
  IF @flag = 'a'
  BEGIN
  	SELECT 
		rowId [log_Id],log_type ,
		table_name,data_id,old_data,
		new_data,created_by,created_date
	FROM  applicationLogs 
	WHERE rowId=@rowId
  
  
  END
GO
