USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_OtRateSetUp]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
Exec [proc_OtRateSetUp] @flag ='u', @description = 'monthly', @rate_type = 'h', @amount = '1.5', @created_by = 'admin'

*/

create PROCEDURE [dbo].[proc_OtRateSetUp]
         @flag							varchar(10)			= NULL
        ,@ot_rate_id					int					= NULL 
        ,@description					varchar(200)		= NULL
	    ,@rate_type						varchar(10)			= NULL
	    ,@amount						money				= NULL
	    ,@overtime_on					varchar(200)		= NULL
		,@user							varchar(200)		= NULL
	   
	    

		


AS
/*
	@flag
	s	-> select all 
	i	-> insert
	u	-> update
	a	-> select by OtRequest_id
	d	-> delete by OtRequest_id
	sp   -> supervisor approved


*/

SET NOCOUNT ON 

BEGIN TRY 
    

		
		
	  IF @flag='i'
		BEGIN
		insert into OtRateSetUp (
					description
					,rate_type
					,amount
					,overtime_on
					,created_by
					,created_date
					
					
					)
					SELECT
					@description
				   ,@rate_type
				   ,@amount
				   ,@overtime_on
				   ,@user
				   ,GETDATE()
				 SELECT  'Data has been added successfully.' mes
		END	
		
		ELSE IF @flag='u'
		BEGIN
		   UPDATE OtRateSetUp SET 
		            [description]			=@description
					,rate_type			=@rate_type
					,amount				=@amount
					,overtime_on         =@overtime_on
					,modified_by		=@user
					,modified_date		=GETDATE()
					WHERE ot_rate_id=@ot_rate_id
					
		

		
		END	 
				 
		ELSE IF  @flag='s'
		BEGIN
		
		  SELECT description,rate_type,overtime_on, dbo.ShowDecimal(amount) [amount] FROM OtRateSetUp WHERE ot_rate_id=@ot_rate_id
		
		END		
		
	   ELSE	IF @flag='d'
		BEGIN
		   
		   DELETE OtRateSetUp where ot_rate_id=@ot_rate_id
		
		END 
		
		
	     

		
		
END TRY

BEGIN CATCH

           SELECT ERROR_MESSAGE() mgs
           
END CATCH
GO
