USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[ProcLeaveRecord]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
exec ProcLeaveRecord 'd', @id =16
exec ProcLeaveRecord i ,admin,null, @requested_by='1002'
,@fromdate='3/7/2011',@todate='3/7/2011',@leavetype=8
, @requested_days=null,@requested_date='3/7/2011',@requested_with='1001'
,@approved_date='3/7/2011', @leave_purpose='dasd',@leavestatus='Approved'
,@remaining_days='19', @remarks='asdad',@approveddays=null, @REQUESTED_HOUR='2' 
,@REMAINING_HOUR=null,@APPROVED_HOUR='2',  @approved_by='1041'
*/

--exec ProcLeaveRecord 'i',admin,null, '1000','10/1/2010','10/7/2010',2, '6','10/1/2010','1029','10/1/2010', 'chutti','Approved','8', 'chutti'
--exec ProcLeaveRecord u ,admin,'22', @requested_by='1000',@fromdate='10/7/2010',@todate='10/11/2010',@leavetype=2, @requested_days='4',@requested_date='10/7/2010',@requested_with='1029',@approved_date='10/7/2010', @leave_purpose='tested leave',@leavestatus='Approved',@remaining_days='8', @remarks='tested leave',@approveddays='4',@approved_by='1029'
CREATE Procedure [dbo].[ProcLeaveRecord]
				@flag char(1),
				@user varchar(10)=null,
				@id varchar(10)=null,
				@requested_by varchar(10)=null,
				@fromdate varchar(20)=null,
				@todate varchar(20)=null,
				@leavetype varchar(10)=null,
				@requested_days varchar(10)=null,
				@requested_date varchar(20)=null,
				@requested_with varchar(10)=null,
				@approved_date varchar(20)=null,
				@leave_purpose varchar(1000)=null,
				@approved_by varchar(20)=null,
				@leavestatus varchar(20)=null,
				@remaining_days varchar(10)=null,
				@remarks varchar(1000)=null,				
				@approveddays varchar(10)=null,
				@REQUESTED_HOUR varchar(10)=null,
				@REMAINING_HOUR varchar(10)=null,
				@APPROVED_HOUR varchar(10)=null	
AS
	set nocount on;
	declare @leavetaken float=null
	declare @dayleave float=null
	declare @hourleave float=null
					
if(@flag ='i')
	begin
		insert into LeaveRequest
		
				(LEAVE_TYPE_ID, REQUESTED_DAYS, REQUESTED_BY, REQUEST_DATE, REQUESTED_WITH, APPROVED_FROM, APPROVED_TO, FROM_DATE , TO_DATE,
				 LEAVE_PURPOSE, APPROVED_BY, LEAVE_STATUS, REMAINING_DAYS, REMARKS, CREATED_DATE, CREATED_BY,
				 APPROVED_DAYS, REQUESTED_HOUR ,REMAINING_HOUR,
                 APPROVED_HOUR, APRPROVED_DATE,ISMANUAL
                 ,REQUESTED_HRS_STATUS)
				
			values
			
				(@leavetype, isnull(@requested_days,0), @requested_by, @requested_date, @requested_with, @fromdate, @todate, @fromdate, @todate,
				 @leave_purpose, @approved_by, @leavestatus, @remaining_days, @remarks, GETDATE(), @user,
			     isnull(@approveddays,0)
			     ,case when isnull(@REQUESTED_HOUR,0)=0 then 0 else 4 end 
			     ,isnull(@REMAINING_HOUR,0)
			     ,case when isnull(@APPROVED_HOUR,0)=0 then 0 else 4 end 
				 ,@approved_date,'Y'
				 ,isnull(@REQUESTED_HOUR,0))		
				
				select @APPROVED_HOUR=case when isnull(@APPROVED_HOUR,0)=0 then 0 else 4 end
				--exec procLeaveRemain 'u', @requested_by , @leavetype , @id , @approveddays	
				exec procLeaveRemain @flag='u',@empid=@requested_by,@leavetype=@leavetype
				,@APPROVED_HOUR=@APPROVED_HOUR
				,@approvedDays=@approveddays
				
				select 'Save Success' as msg
	end				
	
if(@flag ='u')
begin
	update LeaveRequest
		set
	
			LEAVE_TYPE_ID = @leavetype, 
			REQUESTED_DAYS = @requested_days, 
			REQUESTED_BY = @requested_by, 
			REQUEST_DATE = @requested_date, 
			REQUESTED_WITH = @requested_with, 
			APPROVED_FROM = @fromdate, 
			APPROVED_TO = @todate, 
			FROM_DATE = @fromdate , 
			TO_DATE = @todate,
			LEAVE_PURPOSE = @leave_purpose, 
			APPROVED_BY = @approved_by, 
			LEAVE_STATUS = @leavestatus, 
			REMAINING_DAYS = @remaining_days, 
			REMARKS= @remarks, 
			CREATED_DATE = getdate(), 
			APPROVED_DAYS = @approveddays, 
			APRPROVED_DATE = @fromdate ,
			REQUESTED_HOUR = @REQUESTED_HOUR ,
			REMAINING_HOUR = @REMAINING_HOUR,
            APPROVED_HOUR  = @APPROVED_HOUR
			where ID = @id								
			
			select 'Success' as msg
end	

if(@flag='s')
	begin
	
		select LEAVE_TYPE_ID, REQUESTED_DAYS, 
			   reqtith.FIRST_NAME + ' ' + reqtith.MIDDLE_NAME + ' ' + reqtith.LAST_NAME + '-' + reqtith.EMP_CODE + ' (' + breqtith.BRANCH_NAME + ' )' + ' |' + convert(varchar,reqtith.EMPLOYEE_ID) as ReqWith,
			   appby.FIRST_NAME + ' ' + appby.MIDDLE_NAME + ' ' + appby.LAST_NAME + '-' + appby.EMP_CODE + ' (' + bappby.BRANCH_NAME + ' )' + ' |' + convert(varchar,appby.EMPLOYEE_ID) as Approvedby,
			   --reccom.FIRST_NAME + ' ' + reccom.MIDDLE_NAME + ' ' + reccom.LAST_NAME + '-' + reccom.EMP_CODE + ' (' + breccom.BRANCH_NAME + ' )' + ' |' + CONVERT(VARCHAR,reccom.EMPLOYEE_ID) as RecomBy,
			   reqby.FIRST_NAME + ' ' + reqby.MIDDLE_NAME + ' ' + reqby.LAST_NAME + '-' + reqby.EMP_CODE + ' (' + breqby.BRANCH_NAME + ' )' + ' |' + CONVERT(varchar, reqby.EMPLOYEE_ID) as ReqBy,
			    APPROVED_FROM, APPROVED_TO, FROM_DATE , TO_DATE,
			   LEAVE_PURPOSE, APPROVED_BY, LEAVE_STATUS, REMAINING_DAYS, REMARKS, REQUESTED_WITH, APPROVED_DAYS, 
			   APRPROVED_DATE, REQUESTED_HOUR ,REMAINING_HOUR,cast(APPROVED_HOUR as Int) as APPROVED_HOUR
			   ,REQUESTED_HRS_STATUS  
			   from LeaveRequest
			   inner join Employee reqtith on LeaveRequest.REQUESTED_WITH = reqtith.EMPLOYEE_ID
			   inner join Employee appby on LeaveRequest.APPROVED_BY = appby.EMPLOYEE_ID
			   --inner join Employee reccom on LeaveRequest.RECOMENDED_BY = reccom.EMPLOYEE_ID
			   inner join Employee reqby on LeaveRequest.REQUESTED_BY = reqby.EMPLOYEE_ID
			   inner join Branches breqtith on reqtith.BRANCH_ID = breqtith.BRANCH_ID
			   inner join Branches bappby on reqtith.BRANCH_ID = bappby.BRANCH_ID
			   --inner join Branches breccom on reqtith.BRANCH_ID = breccom.BRANCH_ID
			   inner join Branches breqby on reqtith.BRANCH_ID = breqby.BRANCH_ID
			   where ID = @id			   			   
	end
	
if(@flag='d')
begin

	select @approveddays=isnull(APPROVED_DAYS,0),@APPROVED_HOUR=isnull(APPROVED_HOUR ,0)
	,@requested_by=REQUESTED_BY,@leavetype=LEAVE_TYPE_ID
	from LeaveRequest where ID=@id
	
	select @leavetaken=isnull(Leave_taken_this_year,0)+ISNULL(HOUR_TAKEN,0)/8 from leaveAssignment where EMPLOYEE_ID=@requested_by and LEAVE_TYPE_ID=@leavetype
	
	set @leavetaken=@leavetaken-(convert(float,@approveddays)+convert(float,@APPROVED_HOUR)/8)
	
	if @leavetaken-ROUND(@leavetaken,0)=0
	begin
		
		set @hourleave=0
		set @dayleave=@leavetaken
	end
	else
	begin
		set @hourleave=abs(@leavetaken-ROUND(@leavetaken,0))*8
		set @dayleave=@leavetaken-abs(@leavetaken-ROUND(@leavetaken,0))
	end
	update leaveAssignment 
		set Leave_taken_this_year=@dayleave
		,HOUR_TAKEN=@hourleave
		where EMPLOYEE_ID=@requested_by and LEAVE_TYPE_ID=@leavetype		
	delete 
		from LeaveRequest 
		where ID = @id
				
end
GO
