USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procStockInHandGroupWise]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Exec procAssetReport 'a','1',null,null,null
--Exec [procStockInHandGroupWise] @flag='b',@branch=null,@productGroupId='2',@productGroupWiseID=null

CREATE PROC [dbo].[procStockInHandGroupWise]
	@FLAG VARCHAR(1),
	@GROUP_ID VARCHAR(20)=NULL,
	@FROM_DATE VARCHAR(20)=NULL,	
	@TO_DATE VARCHAR(20)=NULL,	
	@BRANCH_ID VARCHAR(20)=NULL,
	@PRODUCT_ID VARCHAR(10)=NULL


AS
DECLARE @SQL VARCHAR(3000)

----## GROUP WISE STOCK IN HAND REPORT ##---
IF @FLAG='a'
BEGIN

	SELECT	p.id AS [PROD CODE]
			,p.porduct_code AS  [PRODUCT NAME]
			,P.package_unit AS [PACKAGE UNIT]
			,ISNULL(SUM(b.p_stk_remain) , 0) AS STOCK
			,SUM( ISNULL(b.p_rate,0) * ISNULL(b.p_stk_remain,0))/CASE WHEN ISNULL(SUM(b.p_stk_remain),0)=0 THEN 1 ELSE ISNULL(SUM(b.p_stk_remain),0)END AS RATE
			,dbo.ShowDecimal(SUM( ISNULL(b.p_rate,0) * ISNULL(b.p_stk_remain,0))) AS [AMOUNT] 
		FROM IN_PURCHASE b INNER JOIN IN_PRODUCT p ON b.prod_code=p.id
		INNER JOIN Branches c ON c.BRANCH_ID=b.branch_id
	WHERE p.item_id IN (SELECT id FROM IN_ITEM WHERE parent_id=@GROUP_ID)	AND b.branch_id LIKE ISNULL(@BRANCH_ID,'%')
	AND b.prod_code LIKE ISNULL(@PRODUCT_ID,'%')
	GROUP BY p.id,p.porduct_code,b.p_rate,P.package_unit 
	order by p.id
	
END

---## GROUP WISE INVENTORY SUMMARY REPORT ##---
IF @flag='s'
BEGIN

	
	SELECT B.PRODUCT_ID [PROD CODE],B.PRODUCT_NAME [PRODUCT NAME],B.package_unit [PACKAGE UNIT]
	,A.OPENING QTY,ROUND(A.AMOUNT_OPENING/CASE WHEN A.OPENING=0 THEN 1 ELSE A.OPENING END,2) AS RATE,A.AMOUNT_OPENING AMOUNT
	,A.PURCHASE QTY,ROUND(A.AMOUNT_PURCHASE/CASE WHEN A.PURCHASE=0 THEN 1 ELSE A.PURCHASE END,2) AS RATE,A.AMOUNT_PURCHASE AMOUNT
	,A.TRANSFERIN QTY,ROUND(A.AMOUNT_TRANSFERIN/CASE WHEN A.TRANSFERIN=0 THEN 1 ELSE A.TRANSFERIN END,2) AS RATE,A.AMOUNT_TRANSFERIN AMOUNT
	,A.CONSUMED QTY,ROUND(A.AMOUNT_CONSUMED/CASE WHEN A.CONSUMED=0 THEN 1 ELSE A.CONSUMED END,2) AS RATE,A.AMOUNT_CONSUMED AMOUNT
	,A.TRANSFEROUT QTY,ROUND(A.AMOUNT_TRANSFEROUT/CASE WHEN A.TRANSFEROUT=0 THEN 1 ELSE A.TRANSFEROUT END,2) AS RATE,A.AMOUNT_TRANSFEROUT AMOUNT	
	,A.DISPOSED QTY,ROUND(A.AMOUNT_DISPOSED/CASE WHEN A.DISPOSED=0 THEN 1 ELSE A.DISPOSED END,2) AS RATE,A.AMOUNT_DISPOSED AMOUNT
	,A.CLOSING QTY,ROUND(A.AMOUNT_CLOSING/CASE WHEN A.CLOSING=0 THEN 1 ELSE A.CLOSING END,2) AS RATE,A.AMOUNT_CLOSING AMOUNT FROM 
	(

		SELECT prod_code, SUM(OPENING) OPENING,SUM(AMOUNT_OPENING) AS AMOUNT_OPENING,SUM(PURCHASE) PURCHASE,SUM(AMOUNT_PURCHASE) AS AMOUNT_PURCHASE,
		SUM(TRANSFERIN) TRANSFERIN,SUM(AMOUNT_TRANSFERIN) AMOUNT_TRANSFERIN, SUM(CONSUMED) CONSUMED,SUM(AMOUNT_CONSUMED) AMOUNT_CONSUMED,
		SUM(TRANSFEROUT) TRANSFEROUT,SUM(AMOUNT_TRANSFEROUT) AMOUNT_TRANSFEROUT, SUM(DISPOSED) DISPOSED,SUM(AMOUNT_DISPOSED) AMOUNT_DISPOSED
		,SUM(OPENING) + SUM(PURCHASE) + SUM(TRANSFERIN) - SUM(CONSUMED)- SUM(TRANSFEROUT)- SUM(DISPOSED) CLOSING
		,SUM(AMOUNT_OPENING)+SUM(AMOUNT_PURCHASE)+SUM(AMOUNT_TRANSFERIN)-SUM(AMOUNT_CONSUMED)-SUM(AMOUNT_TRANSFEROUT)-SUM(AMOUNT_DISPOSED) AS AMOUNT_CLOSING

		FROM 
		(
			SELECT prod_code, SUM(OPENING) OPENING,SUM(AMOUNT) AS AMOUNT_OPENING, 0 PURCHASE,0 AMOUNT_PURCHASE, 0 TRANSFERIN,0 AMOUNT_TRANSFERIN, 0 CONSUMED,0 AMOUNT_CONSUMED, 0 TRANSFEROUT, 0 AMOUNT_TRANSFEROUT,0 DISPOSED ,0 AMOUNT_DISPOSED
			FROM (
					SELECT PUR.prod_code,SUM(PUR.P_QTY) OPENING,SUM(PUR.p_rate*PUR.P_QTY) AS AMOUNT 
						FROM IN_PURCHASE PUR INNER JOIN IN_PRODUCT P ON P.id=PUR.prod_code
						WHERE branch_id=@BRANCH_ID 
							AND PUR.entered_date<@FROM_DATE AND PUR.prod_code LIKE ISNULL(@PRODUCT_ID ,'%') AND 
							P.item_id IN (SELECT id FROM IN_ITEM WHERE parent_id=@GROUP_ID)
						GROUP BY PUR.prod_code
						
					UNION ALL

					SELECT S_prod_ID,SUM(S_QTY)*-1,SUM(S_QTY*s_rate)*-1 AS AMOUNT 
						FROM IN_SALES SAL INNER JOIN IN_PRODUCT P ON P.id=SAL.s_prod_id
						WHERE from_branch=@BRANCH_ID 
						AND entered_date<@FROM_DATE AND S_prod_ID LIKE ISNULL(@PRODUCT_ID ,'%') AND
						P.item_id IN (SELECT id FROM IN_ITEM WHERE parent_id=@GROUP_ID)
					 GROUP BY S_prod_ID
					 
					UNION ALL

					SELECT prod_code,SUM(P_QTY)*-1,SUM(p_qty*p_rate)*-1 AS AMOUNT 
						FROM IN_DISPOSAL DIS INNER JOIN IN_PRODUCT P ON P.id=DIS.prod_code
						
					WHERE branch_id=@BRANCH_ID 
					 AND entered_date<@FROM_DATE AND prod_code LIKE ISNULL(@PRODUCT_ID ,'%')
					 AND P.item_id IN (SELECT id FROM IN_ITEM WHERE parent_id=@GROUP_ID) 
					 GROUP BY prod_code
					 
				) XY GROUP BY prod_code
		 
		 UNION ALL
		 
			 SELECT prod_code
				,0 OPENING
				,0 AMOUNT
				,SUM(P_QTY)  PURCHASE
				,SUM(P_QTY*P_RATE) AMOUNT
				,0 TRANSFERIN
				,0 AMOUNT
				,0 CONSUMED
				,0 AMOUNT
				,0 TRANSFEROUT
				,0 AMOUNT
				,0 DISPOSED
				,0 AMOUNT
			 FROM IN_PURCHASE PUR INNER JOIN IN_PRODUCT P ON P.id=PUR.prod_code
			 
			 WHERE branch_id=@BRANCH_ID 
				 AND entered_date BETWEEN @FROM_DATE AND @TO_DATE+' 23:59:59'
				 AND req_id IS NULL AND prod_code LIKE ISNULL(@PRODUCT_ID ,'%') 
				 AND P.item_id IN (SELECT id FROM IN_ITEM WHERE parent_id=@GROUP_ID) 
			 GROUP BY prod_code
		 
		 UNION ALL
		 
			 SELECT prod_code
				,0 OPENING
				,0 AMOUNT
				,0 PURCHASE
				,0 AMOUNT
				,SUM(P_QTY) TRANSFERIN
				,SUM(P_QTY*P_RATE) AMOUNT
				,0 CONSUMED
				,0 AMOUNT
				,0 TRANSFEROUT
				,0 AMOUNT
				,0 DISPOSED 
				,0 AMOUNT
			 FROM IN_PURCHASE PUR INNER JOIN IN_PRODUCT P ON P.id=PUR.prod_code
			 WHERE branch_id=@BRANCH_ID 
				 AND entered_date BETWEEN @FROM_DATE AND @TO_DATE+' 23:59:59'
				 AND req_id IS NOT NULL AND prod_code LIKE ISNULL(@PRODUCT_ID ,'%') 
				 AND P.item_id IN (SELECT id FROM IN_ITEM WHERE parent_id=@GROUP_ID) 
			 GROUP BY prod_code
		 
		 
		 UNION ALL
		 
			 SELECT S_prod_ID
				,0 OPENING
				,0 AMOUNT
				,0 PURCHASE
				,0 AMOUNT
				,0 TRANSFERIN
				,0 AMOUNT
				,SUM(S_QTY) CONSUMED
				,SUM(S_QTY*S_RATE) AMOUNT
				,0 TRANSFEROUT
				,0 AMOUNT
				,0 DISPOSED
				,0 AMOUNT 
			FROM IN_SALES SAL INNER JOIN IN_PRODUCT P ON P.id=SAL.s_prod_id
			WHERE from_branch=@BRANCH_ID 
				 AND to_branch=@BRANCH_ID
				 AND entered_date  BETWEEN @FROM_DATE AND @TO_DATE+' 23:59:59' AND S_prod_ID LIKE ISNULL(@PRODUCT_ID ,'%') 
				 AND P.item_id IN (SELECT id FROM IN_ITEM WHERE parent_id=@GROUP_ID) 
			GROUP BY S_prod_ID
		 
		 
		 UNION ALL
		 
			 SELECT S_prod_ID
				 ,0 OPENING
				 ,0 AMOUNT
				 ,0  PURCHASE
				 ,0 AMOUNT
				 ,0  TRANSFERIN
				 ,0 AMOUNT
				 ,0 CONSUMED
				 ,0 AMOUNT
				 ,SUM(S_QTY) TRANSFEROUT
				 ,SUM(S_QTY*S_RATE) AMOUNT
				 ,0 DISPOSED
				 ,0 AMOUNT 
			 FROM IN_SALES SAL INNER JOIN IN_PRODUCT P ON P.id=SAL.s_prod_id
			 WHERE from_branch=@BRANCH_ID 
				 AND to_branch<>from_branch
				 AND entered_date  BETWEEN @FROM_DATE AND @TO_DATE+' 23:59:59' 
				 AND S_prod_ID LIKE ISNULL(@PRODUCT_ID ,'%')
				 AND P.item_id IN (SELECT id FROM IN_ITEM WHERE parent_id=@GROUP_ID) 
			 GROUP BY S_prod_ID
		 
		UNION ALL

			SELECT prod_code
				,0 OPENING
				,0 AMOUNT
				,0 PURCHASE
				,0 AMOUNT
				,0 TRANSFERIN
				,0 AMOUNT
				,0 CONSUMED
				,0 AMOUNT
				,0 TRANSFEROUT
				,0 AMOUNT
				,SUM(P_QTY)DISPOSED
				,SUM(P_QTY*P_RATE) AMOUNT 
			FROM IN_DISPOSAL DIS INNER JOIN IN_PRODUCT P ON P.id=DIS.prod_code
			WHERE branch_id=@BRANCH_ID 
				 AND entered_date BETWEEN @FROM_DATE AND @TO_DATE+' 23:59:59' 
				 AND prod_code LIKE ISNULL(@PRODUCT_ID ,'%')
				 AND P.item_id IN (SELECT id FROM IN_ITEM WHERE parent_id=@GROUP_ID)
			GROUP BY prod_code
			 
		 ) Z GROUP BY prod_code
	)A 
	INNER JOIN 
	(
		SELECT A.PRODUCT_ID,A.porduct_code AS PRODUCT_NAME,A.package_unit FROM 
		(		
			SELECT ID AS PRODUCT_ID,porduct_code,package_unit FROM IN_PRODUCT 		
		)A
		INNER JOIN 
		(
			SELECT DISTINCT PROD_CODE  AS PRODUCT_ID FROM IN_PURCHASE
		)B ON A.PRODUCT_ID=B.PRODUCT_ID
	
	)B ON A.prod_code=B.PRODUCT_ID order by B.PRODUCT_ID
END

---## DATE WISE EXPENSES REPORT ##---
IF @flag='b'
BEGIN
	SELECT s_prod_id [PROD CODE]
		,IP.porduct_code AS [PRODUCT NAME]
		,IP.package_unit [PACKAGE UNIT]
		,SUM(s_qty) QTY,SUM(s_qty*s_rate)/SUM(s_qty) RATE
		,SUM(s_qty*s_rate) AMOUNT
	FROM IN_SALES SAL INNER JOIN IN_PRODUCT IP ON SAL.s_prod_id=IP.ID 
	WHERE from_branch=to_branch 
		AND from_branch LIKE ISNULL(@BRANCH_ID,'%') 
		AND entered_date BETWEEN @FROM_DATE AND @TO_DATE+' 23:59:59'
		AND IP.item_id IN (SELECT id FROM IN_ITEM WHERE parent_id=@GROUP_ID)
		AND SAL.s_prod_id LIKE ISNULL(@PRODUCT_ID,'%')
	GROUP BY s_prod_id,IP.porduct_code,IP.package_unit
	order by s_prod_id
END
GO
