USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_EmployeeFileUpload]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- EXEC [proc_EmployeeFileUpload] @flag='s',@EMP_ID='1090',@DOCTYPE=null
CREATE proc [dbo].[proc_EmployeeFileUpload]
(
	@flag			varchar(1),
	@ROWID			int = 0 output,
	@EMP_ID			int = 0,
	@FILE_DESC		varchar(200) = null,
	@UPLOAD_BY		varchar(50) = null,	
	@FILE_TYPE		varchar(50) = null,
	@DOCTYPE     VARCHAR(100)=NULL
	
)

as

if @flag = 'i'
begin
	INSERT INTO [EmployeeFileUpload]
			   ([EMP_ID],[FILE_DESC],[UPLOAD_BY],
			   [UPLOAD_DATE],[FILE_TYPE],DOC_TYPE)
		 VALUES
			   (
				@EMP_ID,@FILE_DESC,@UPLOAD_BY,
				GETDATE(),@FILE_TYPE,@DOCTYPE	
			   )
	set @ROWID = SCOPE_IDENTITY()
end

if @flag = 'd'
begin
	delete from EmployeeFileUpload where ROWID=@ROWID

end

if @flag = 's'
begin
	
	IF @DOCTYPE IS NULL
	BEGIN
		SELECT eu.ROWID
		,e.FIRST_NAME+' '+e.MIDDLE_NAME+' '+e.LAST_NAME FIRST_NAME
		,eu.FILE_DESC
		,eu.FILE_TYPE
		,EU.PROFILE_PICTURE_FLAG 
		,eu.doc_type
		FROM EmployeeFileUpload eu
		INNER JOIN Employee e on e.EMPLOYEE_ID = eu.EMP_ID 
		WHERE
		eu.EMP_ID=@EMP_ID  
	END
	ELSE
	BEGIN 	
		 SELECT eu.ROWID
		,e.FIRST_NAME+' '+e.MIDDLE_NAME+' '+e.LAST_NAME FIRST_NAME
		,eu.FILE_DESC
		,eu.FILE_TYPE
		,EU.PROFILE_PICTURE_FLAG 
		,eu.doc_type
		FROM EmployeeFileUpload eu
		INNER JOIN Employee e on e.EMPLOYEE_ID = eu.EMP_ID 
		WHERE
		eu.EMP_ID=@EMP_ID  AND EU.DOC_TYPE =@DOCTYPE
	END
end
GO
