USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procManageFutureContributionForTax]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Exec [procManageFutureContributionForTax] @flag='i',@emp_id='1001',@benifit_id='393' ,@amount='145516',@row_id=null,'admin'

CREATE PROC [dbo].[procManageFutureContributionForTax](
	@flag			VARCHAR(2),	
	@emp_id			INT=NULL,
	@contri_date	DATETIME=NULL,
	@amount			MONEY=NULL,
	@inactive		CHAR=NULL,
	@remarks		VARCHAR(MAX)=NULL,
	@status			VARCHAR(20)=NULL,
	@user			VARCHAR(100)=NULL,
	@id				INT = NULL

)
AS
SET NOCOUNT ON;
DECLARE @OLD_AMT AS MONEY

	--set @fy_id=(select FISCAL_YEAR_NEPALI from FiscalYear where FLAG=1)

IF @flag='i'
BEGIN
	INSERT INTO FutureContributionForTax(EMPLOYEE_ID,Contribution_Date,AMOUNT,Inactive,Remarks,CREATED_BY,CREATED_DATE,[Status])
	SELECT @emp_id,@contri_date,@amount,@inactive,@remarks,@user,GETDATE(),@status
	SELECT @id = SCOPE_IDENTITY()
	SELECT @id ID

END
IF @flag='u'
BEGIN
	
	
	SELECT @OLD_AMT=AMOUNT FROM FutureContributionForTax WHERE ID=@id
	UPDATE FutureContributionForTax SET EMPLOYEE_ID=@emp_id,Contribution_Date=@contri_date,AMOUNT=@amount,Inactive=@inactive,Remarks=@remarks,[Status]=@status,Modified_By=@user,Modified_Date=GETDATE() WHERE ID=@id
	
	INSERT INTO job_history(job_name,job_time,job_user,job_value,job_remarks,update_row,old_value)
		VALUES('FutureContributionForTax',GETDATE(),@user,@amount,'UPDATED',@id,@OLD_AMT)

END

IF @flag='s'
BEGIN
	SELECT * FROM FutureContributionForTax WHERE ID=@id
END

IF @flag='d'
BEGIN

	SELECT @OLD_AMT=AMOUNT FROM FutureContributionForTax WHERE ID=@id
	
	DELETE FROM FutureContributionForTax WHERE ID=@id	
	
	INSERT INTO job_history(job_name,job_time,job_user,job_value,job_remarks,update_row,old_value)
		VALUES('FutureContributionForTax',GETDATE(),@user,@OLD_AMT,'DELETED',@id,0)
END
GO
