USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procManageOrderedAsset]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[procManageOrderedAsset]
		@flag char(5),
		@order_message_id int,
		@session_id varchar(50)
		
AS
	SET NOCOUNT ON;

IF(@flag ='i')
BEGIN	

	if not exists (select * from asset_temp_order where order_message_id=@order_message_id and session_id=@session_id)
	BEGIN
	
				INSERT INTO asset_temp_order(order_id,order_message_id,asset_id,qty,rate,amount,req_id,session_id)
				(SELECT id,order_message_id,asset_id,(qty-ISNULL(received_qty,0)),rate,round(((qty-ISNULL(received_qty,0))*rate),2) as amount,req_id,@session_id 
				from ASSET_PURCHASE_ORDER  where order_message_id=@order_message_id and (qty-ISNULL(received_qty,0))<>0)

				
	END	
	ELSE
	BEGIN

				delete from asset_temp_order where order_message_id=@order_message_id and session_id=@session_id
				
				
				INSERT INTO asset_temp_order(order_id,order_message_id,asset_id,qty,rate,amount,req_id,session_id)
				(SELECT id,order_message_id,asset_id,(qty-ISNULL(received_qty,0)),rate,round(((qty-ISNULL(received_qty,0))*rate),2) as amount,req_id,@session_id 
				from ASSET_PURCHASE_ORDER  where order_message_id=@order_message_id and (qty-ISNULL(received_qty,0))<>0)
	
	END
END
GO
