USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_stockDisposalRpt]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[proc_stockDisposalRpt]
	@flag VARCHAR(1),
	@fromDate VARCHAR(20)=NULL,
	@toDate VARCHAR(20)=NULL,
	@productId VARCHAR(20)=NULL
AS

	IF @flag='a'
	begin
		select
			 [S.N.] = ROW_NUMBER() over(order by c.porduct_code) 
			,[Product] = c.porduct_code 
			,[Qty] = a.p_qty
			,[Rate] = a.p_rate
			,[Amount] = a.p_qty * a.p_rate
			,[Date] = convert(varchar,b.approval_date,101)
			,[Approval No.] = b.approval_number
			,[Disposal Notes] = b.disposal_notes
			,[Created by] = dbo.GetEmployeeFullNameOfId(b.entered_by)
			,[Created Date] = b.entered_date
		from IN_DISPOSAL a with(nolock) 
			inner join IN_DISPOSAL_HISTORY b with(nolock) on a.disposal_id = b.disposal_id
			inner join IN_PRODUCT c with(nolock) on a.prod_code = c.id
		where b.entered_date between @fromDate and @toDate+' 23:59:59'
		and a.prod_code = isnull(@productId,a.prod_code)
	end
GO
