USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procPayrollUploadGL]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--select * from TaxCalculation where Run_Month=10

-- Exec procPayrollUploadGL 'a','69-70','10'

CREATE proc [dbo].[procPayrollUploadGL]
	@flag varchar(1),
	@fiscalYear varchar(20)=null,
	@runMonth varchar(10)=null


AS
Declare @sql varchar(3000)
if @flag='a'
BEGIN
	
	
DECLARE 
@monthStartDate DATE,
@monthEndDate DATE,
@TDS_AC VARCHAR(20),
@monthname Varchar(20)
	

SET @fiscalYear=@fiscalYear
SET @runmonth=@runMonth
SET @monthStartDate =dbo.GetMonthStartDateEng(@fiscalYear , @runMonth )
SET @monthEndDate =dbo. GetMonthEndDateEng(@fiscalYear , @runMonth)
SET @monthname = dbo.FNAGetNepMonthName(@runMonth)
SELECT @TDS_AC =DETAIL_DESC FROM StaticDataDetail WITH (NOLOCK) WHERE DETAIL_TITLE='TDS ON SALARY'


select
		''''+TT.Ledger_Number AS ACCOUNT,
		'NPR' Currency_Code,
		'93' ACCOUNT_BRANCH,
		TT.DRCR as DR_CR,
		TT.AMOUNT as Amount,
		TT.DETAIL_DESC+' '+@monthname+' '+@fiscalYear as ADDL_TEXT,
		TT.AMOUNT as reference_Amount,
		'NPR' Reference_Currency_Code,
		'NCB' Rate_Code,
		'1.00' Rate,
		convert(varchar,GETDATE(),107) as VALUE_DATE
FROM
(
SELECT 
	 Br.BRANCH_SHORT_NAME
	,case when Br.BRANCH_SHORT_NAME=94 then S.LEDGER_NUMBER else Br.BRANCH_SHORT_NAME+S.LEDGER_NUMBER end Ledger_Number
	,A.BENEFIT_ID
	,CASE WHEN SUM(A.PAID_AMOUNT)<0 THEN SUM(A.PAID_AMOUNT)*(-1) ELSE SUM(A.PAID_AMOUNT) END AS AMOUNT
	,CASE WHEN SUM(A.PAID_AMOUNT)<0 THEN 'C' ELSE 'D' END DRCR
	,sdd.DETAIL_DESC
FROM 

	(	
	SELECT EMPLOYEE_ID ,BENEFIT_ID, SUM(ROUND(PAID_AMOUNT,2)) AS  PAID_AMOUNT  FROM
	(
		SELECT  EMPLOYEE_ID ,BENEFIT_ID, ROUND(PAID_AMOUNT,2) PAID_AMOUNT  
		FROM PayableHistory A WITH ( NOLOCK)
		WHERE A.FY_ID=@fiscalYear
		AND A.RUN_MONTH = @runmonth
				
		UNION ALL
			
		SELECT EMPLOYEE_ID ,A.HEAD_ID, 
		CASE WHEN A.ADD_DEDUCT='A' THEN ROUND(A.AMOUNT,2) ELSE ROUND(A.AMOUNT,2) *-1 END AS AMOUNT
		FROM AdhocPayment A WITH ( NOLOCK )	INNER JOIN StaticDataDetail B WITH ( NOLOCK ) ON A.HEAD_ID= B .ROWID
		WHERE A.APPLIED_DATE between @monthStartDate and @monthEndDate
		AND isnull(a.IS_PAID,0)=0
		AND B.TYPE_ID IN ('36','37','38','41')

		UNION ALL
		
		SELECT B.EMPLOYEE_ID ,A . CONTRIBUTED_TO,Round(ISNULL(B.AMOUNT_EMPLOYER ,0),2)
		FROM Contribution A WITH ( NOLOCK ) INNER JOIN ContributionHistory B WITH ( NOLOCK )
		ON A . ID=B. CONTRIBUTION_ID
		WHERE B . FY_ID=@fiscalYear AND B .RUN_MONTH = @runmonth
		
		UNION ALL
		
		SELECT EMPLOYEE_ID, CONTB_TO ,round(ISNULL( CONTB_AMOUNT_EMPLOYER ,0),2)
		FROM Adhoc_Contribution WITH ( NOLOCK)
		WHERE CONTB_DATE between @monthStartDate and @monthEndDate) XY
		GROUP BY EMPLOYEE_ID ,BENEFIT_ID
		) A
		INNER JOIN TaxCalculation B WITH ( NOLOCK ) ON A.EMPLOYEE_ID=B.Emp_Id
		Inner join SalaryLeadgerMapping S WITH ( NOLOCK ) ON B.Branch_Id=S.Branch_ID and A.BENEFIT_ID=S.Head_ID 
		Inner join Branches Br WITH ( NOLOCK ) ON B.Branch_Id=Br.BRANCH_ID
		Inner join StaticDataDetail sdd WITH ( NOLOCK ) ON sdd.ROWID=A.BENEFIT_ID
		AND B.FY_ID=@fiscalYear AND B.Run_Month=@runMonth
		group by BENEFIT_ID,Br.BRANCH_SHORT_NAME,Ledger_Number,A.BENEFIT_ID,sdd.DETAIL_DESC
		
	union all
	
	--LOAN PAYMENT--
	SELECT S.BRANCH_SHORT_NAME AS BRANCH, B.LEDGER_CODE,B.LOAN_TYPE, SUM(ROUND(paid_amount,2)-round(interest_amt,2)) AS AMOUNT ,'C' AS DRCR,
	ZY.DETAIL_DESC 
	FROM loan_collection A WITH (NOLOCK)
	INNER JOIN LOAN B WITH (NOLOCK)ON A.loan_id=B.ID
	INNER JOIN StaticDataDetail ZY WITH (NOLOCK )ON B.LOAN_TYPE=ZY.ROWID
	Inner JOIN Employee E WITH (NOLOCK) ON E.EMPLOYEE_ID=B.EMPLOYEE_ID
	Inner Join Branches S WITH (NOLOCK) ON E.BRANCH_ID=S.Branch_ID
	AND A.paid_date BETWEEN @monthStartDate AND @monthEndDate
	AND B.LOAN_TYPE<>'389'
	AND A.NARRATION LIKE '%BY SYSTEM%'
	GROUP BY B.LEDGER_CODE,B.LOAN_TYPE,ZY.DETAIL_DESC,S.BRANCH_SHORT_NAME
	
	union all
	
	--LOAN PAYMENT--
	SELECT '01' AS BRANCH, B.LEDGER_CODE,B.LOAN_TYPE, SUM(ROUND(paid_amount,2)-round(interest_amt,2)) AS AMOUNT ,'C' AS DRCR,
	ZY.DETAIL_DESC 
	FROM loan_collection A WITH (NOLOCK)
	INNER JOIN LOAN B WITH (NOLOCK)ON A.loan_id=B.ID
	INNER JOIN StaticDataDetail ZY WITH (NOLOCK )ON B.LOAN_TYPE=ZY.ROWID
	Inner JOIN Employee E WITH (NOLOCK) ON E.EMPLOYEE_ID=B.EMPLOYEE_ID
	Inner Join Branches S WITH (NOLOCK) ON E.BRANCH_ID=S.Branch_ID
	AND A.paid_date BETWEEN @monthStartDate AND @monthEndDate
	AND B.LOAN_TYPE='389'
	AND A.NARRATION LIKE '%BY SYSTEM%'
	GROUP BY B.LEDGER_CODE,B.LOAN_TYPE,ZY.DETAIL_DESC
	
	union all
	
	--LOAN PAYMENT--
	SELECT '93' AS BRANCH, '93346001001',B.LOAN_TYPE, SUM(ROUND(interest_amt,2)) AS AMOUNT ,'C' AS DRCR,
	ZY.DETAIL_DESC 
	FROM loan_collection A WITH (NOLOCK)
	INNER JOIN LOAN B WITH (NOLOCK)ON A.loan_id=B.ID
	INNER JOIN StaticDataDetail ZY WITH (NOLOCK )ON B.LOAN_TYPE=ZY.ROWID
	Inner JOIN Employee E WITH (NOLOCK) ON E.EMPLOYEE_ID=B.EMPLOYEE_ID
	Inner Join Branches S WITH (NOLOCK) ON E.BRANCH_ID=S.Branch_ID
	AND A.paid_date BETWEEN @monthStartDate AND @monthEndDate
	AND A.NARRATION LIKE '%BY SYSTEM%'
	GROUP BY B.LOAN_TYPE,ZY.DETAIL_DESC
	
	UNION ALL

	SELECT '93'AS BRANCH,'93752001003',0,ROUND(SUM(Deduction_Amt),2) AS AMOUNT,'C' AS DRCR,
	sdd.DETAIL_TITLE
	FROM PremiumDeduction A WITH (NOLOCK)
	INNER JOIN Insurance B WITH (NOLOCK)ON A.Insurance_ID=B.ID
	inner join StaticDataDetail sdd on B.Insurance_For=sdd.ROWID
	Inner join TaxCalculation_Trial T on B.EMPLOYEE_ID=T.Emp_Id
	INNER JOIN Branches BR ON T.BRANCH_ID=BR.BRANCH_ID
	WHERE 
	A.Deduction_Date BETWEEN @monthStartDate AND @monthEndDate AND 
	A.NARRATION LIKE '%BY SYSTEM%'
	AND SALARY_DEDUCTION='Y'
	AND FREQUENCY='M'
	GROUP BY sdd.DETAIL_TITLE
	
	
	UNION ALL
	
	--ADVANCE PAYMENT---
	SELECT S.BRANCH_SHORT_NAME AS BRANCH, B.LEDGER_CODE,B.ADVANCE_TYPE, SUM(ROUND(paid_amount,2)) AS AMOUNT ,'C' AS DRCR,
	ZY.DETAIL_DESC 
	FROM AdvanceCollection A WITH (NOLOCK)
	INNER JOIN ADVANCE B WITH (NOLOCK) ON A.ADVANCE_ID=B.ID
	INNER JOIN StaticDataDetail ZY WITH (NOLOCK )ON B.ADVANCE_TYPE=ZY.ROWID
	Inner JOIN Employee E WITH (NOLOCK) ON E.EMPLOYEE_ID=B.EMPLOYEE_ID
	Inner Join Branches S WITH (NOLOCK) ON E.BRANCH_ID=S.Branch_ID
	AND A.paid_date BETWEEN @monthStartDate AND @monthEndDate and A.NARRATION like '%by system%'
	GROUP BY B.LEDGER_CODE,B.ADVANCE_TYPE,ZY.DETAIL_DESC,S.BRANCH_SHORT_NAME
	

	UNION ALL 
	--DEDUCTION e.g. LUNCH--
	SELECT '93','001002000165501',A.HEAD_ID,SUM( ROUND(A.AMOUNT,2))*2 AS AMOUNT, 'C' AS DRCR,
	ZY.DETAIL_DESC 
	FROM AdhocPayment A WITH ( NOLOCK )	
	INNER JOIN StaticDataDetail B WITH ( NOLOCK ) ON A.HEAD_ID= B .ROWID
	INNER JOIN TaxCalculation C WITH (NOLOCK) ON A.EMPLOYEE_ID=C.Emp_Id
	INNER JOIN StaticDataDetail ZY WITH (NOLOCK )ON A.HEAD_ID=ZY.ROWID
	WHERE 1=1
	AND C.FY_ID=@fiscalYear
	AND C.Run_Month=@runMonth
	AND A.APPLIED_DATE between @monthStartDate and @monthEndDate
	AND isnull(a.IS_PAID,0)=0
	AND B.TYPE_ID ='40'
	AND HEAD_ID='601'
	GROUP BY A.HEAD_ID,ZY.DETAIL_DESC 

	UNION ALL 
	--DEDUCTION e.g. LUNCH--
	SELECT '93',SL.Ledger_Number,A.HEAD_ID,SUM( ROUND(A.AMOUNT,2)) AS AMOUNT, 'C' AS DRCR,
	ZY.DETAIL_DESC 
	FROM AdhocPayment A WITH ( NOLOCK )	
	INNER JOIN StaticDataDetail B WITH ( NOLOCK ) ON A.HEAD_ID= B .ROWID
	INNER JOIN TaxCalculation C WITH (NOLOCK) ON A.EMPLOYEE_ID=C.Emp_Id
	INNER JOIN StaticDataDetail ZY WITH (NOLOCK )ON A.HEAD_ID=ZY.ROWID
	inner join Employee E WITH (NOLOCK )ON A.EMPLOYEE_ID=E.EMPLOYEE_ID
	inner join Branches BR  WITH (NOLOCK ) ON E.BRANCH_ID=BR.BRANCH_ID
	Inner join SalaryLeadgerMapping SL WITH(NOLOCK) ON A.HEAD_ID=SL.Head_ID
	WHERE 1=1
	AND C.FY_ID=@fiscalYear
	AND C.Run_Month=@runMonth
	and sl.Branch_ID=br.BRANCH_ID
	AND A.APPLIED_DATE between @monthStartDate and @monthEndDate
	AND isnull(a.IS_PAID,0)=0
	AND B.TYPE_ID =40
	AND A.HEAD_ID<>'601'
	GROUP BY A.HEAD_ID,ZY.DETAIL_DESC,SL.Ledger_Number

	UNION ALL
		
	---TDS PAYABLE---
	SELECT '93' AS BRANCH,@TDS_AC AS LEDGER_CODE,604 as P_TYPE,SUM(ROUND(Tax_This_Month,2))AS AMOUNT, 'C' AS DRCR,
	'TDS ON SALARY'
	FROM TaxCalculation WITH (NOLOCK)  
	WHERE  FY_ID =@fiscalYear AND Run_Month= @runMonth
	AND Branch_Id<>6

	UNION ALL
		
	---TDS PAYABLE---
	SELECT '93' AS BRANCH,'3506017500005' AS LEDGER_CODE,604 as P_TYPE,SUM(ROUND(Tax_This_Month,2))AS AMOUNT, 'C' AS DRCR,
	'TDS ON SALARY'
	FROM TaxCalculation WITH (NOLOCK)  
	WHERE  FY_ID =@fiscalYear AND Run_Month= @runMonth
	AND Branch_Id=6

	UNION ALL
	
	SELECT '999' AS BRANCH_SHORT_NAME,B.DETAIL_DESC,A.CONTRIBUTED_TO, SUM(Round(A.AMT,2)) AS AMOUNT, 'C' AS DRCR,
	ZY.DETAIL_DESC 
	FROM 
	(
	SELECT B.EMPLOYEE_ID ,A . CONTRIBUTED_TO,
	ROUND(ISNULL(B.AMOUNT_EMPLOYER ,0),2)+ROUND(ISNULL(B.AMOUNT_EMPLOYEE ,0),2) AMT
	FROM Contribution A WITH ( NOLOCK ) INNER JOIN ContributionHistory B WITH ( NOLOCK )
	ON A . ID=B. CONTRIBUTION_ID
	WHERE B . FY_ID=@fiscalYear AND B .RUN_MONTH = @runmonth
		
	UNION ALL
		
	SELECT EMPLOYEE_ID, CONTB_TO ,
	CAST(ROUND(ISNULL(CONTB_AMOUNT_EMPLOYER ,0.00),2) + ROUND(ISNULL( CONTB_AMOUNT_EMPLOYEE ,0.00),2) AS MONEY)AMT
	FROM Adhoc_Contribution WITH ( NOLOCK)
	WHERE CONTB_DATE between @monthStartDate and @monthEndDate
	) A
	INNER JOIN StaticDataDetail B ON CAST(A.CONTRIBUTED_TO AS VARCHAR)=B.DETAIL_TITLE
	INNER JOIN StaticDataDetail ZY WITH (NOLOCK )ON A . CONTRIBUTED_TO=ZY.ROWID
	GROUP BY  B.DETAIL_DESC,A.CONTRIBUTED_TO,ZY.DETAIL_DESC 

	UNION ALL
	SELECT SUBSTRING(B.ACCOUNT_NUMBER,1,3),B.ACCOUNT_NUMBER,999,
	(ROUND(BASIC_SALARY_CURRENT,2)+ROUND(GRADE_CURRENT,2) + ROUND(ALLOWANCE_CURRENT,2)
	+ROUND(ADHOC_BENEFITS_THIS_MONTH,2) +ROUND(CONTRI_THIS_MONTH_EMPLOYER,2) -
    (ROUND(CONTRI_THIS_MONTH_EMPLOYER,2)+ ROUND(CONTRI_CURRENT_EMPLOYEE,2) +ROUND(TAX_THIS_MONTH,2) +
     ROUND( ADHOC_DEDUCTION_CURRENT,2) + ROUND(LOAN_DEDUCTION,2) +ROUND(ADVANCE_DEDUCTION,2)+ROUND(isnull(a.AMOUNT,0),2)+Round(isnull(pd.Deduction_Amt,0),2) )) AS  AMOUNT
	 , 'C' AS DRCR
	 , 'SALARY'
    FROM TaxCalculation t
    left join 
	(
		select EMPLOYEE_ID,AMOUNT from AdhocPayment where APPLIED_DATE between @monthStartDate and @monthEndDate
		And HEAD_ID=(select rowid from StaticDataDetail where DETAIL_TITLE='LFA') AND isnull(IS_PAID,0)=0
	) a on a.EMPLOYEE_ID=t.Emp_Id
    left join BankAccounts b on b.EMPLOYEE_ID=t.Emp_Id
	left join 
		(select EMP_ID,SUM(Deduction_Amt) Deduction_Amt
				from PremiumDeduction
				where Deduction_Date 
					between @monthStartDate and @monthEndDate
				group by EMP_ID
		) pd on t.Emp_Id=pd.EMP_ID
    WHERE T.FY_ID=@fiscalYear
    AND T.Run_Month=@runmonth
    --AND ISNULL(B.IS_DEFAULT,0)=1
    --Group by ACCOUNT_NUMBER
    
    ) TT
    WHERE TT.AMOUNT<>0
	order by DRCR,ADDL_TEXT

END
GO
