USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_TempOverTimeDetails]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*

exec [proc_TempOverTimeDetails] @flag='i',@requested_with ='1097',@requested_date='2/24/2011',
 @request_in_time='12:19:00', @request_out_time='17:23:00',@request_remark='test',@requested_by='1122',
@user=1000,@seseion_Id='uhhnxuryqwclow55q0bazo55'
select * from TempOverTimeDetails
 


*/

CREATE PROCEDURE [dbo].[proc_TempOverTimeDetails](
					 @Flag								varchar(1)		= null
					,@Temp_OtRequest_id					int				= null
					,@seseion_Id						varchar(100)	= null
					,@requested_by						int				= null
					,@requested_with					int				= null
					,@requested_date					date			= null
					,@request_in_time					time			= null
					,@request_out_time					time			= null
					,@status							varchar(1)		= null
					,@request_remark					varchar(200)	= null
					,@user								int				= null
					,@requesting_type					int				= null
					,@headId							int				= null
)

AS
SET NOCOUNT ON


  --select * from TempOverTimeDetails
  
  BEGIN TRY
  
	IF @Flag='i'
	BEGIN
		INSERT INTO TempOverTimeDetails(
						
						seseion_Id
						,requested_by
						,requested_with
						,requested_date
						,request_in_time
						,request_out_time
						,requesting_type
						,HeadId
						,[status]
						,request_remark
						,created_by
						,created_date
			)
			SELECT 
						@seseion_Id
						,@requested_by
						,@requested_with
						,@requested_date
						,@request_in_time
						,@request_out_time
						,@requesting_type
						,@headId
						,'p'
						,@request_remark
						,@user
						,GETDATE()
				SELECT @Temp_OtRequest_id =SCOPE_IDENTITY()
				
				SELECT 0 error_code,ERROR_MESSAGE() msg, @Temp_OtRequest_id id	

	END
	
	
	ELSE IF @flag='t'
	BEGIN
	
	 	SELECT 
			ROW_NUMBER() over( order by Temp_OtRequest_id)[s.n]
			,dbo.GetEmployeeFullNameOfId(requested_by)  [requested by],
			dbo.GetEmployeeFullNameOfId(requested_with)  [requested with] ,
			CONVERT(VARCHAR,
			requested_date,101)  [requested date],
			request_in_time	[request in time],
			request_out_time [request out time],
			'<img onclick = "DeleteNotification(' + CAST(Temp_OtRequest_id AS VARCHAR(50)) + ')" class = "showHand" border = "0" title = "Delete Notification" src="../../Images/delete.gif" />' [Delet] 
	
			FROM TempOverTimeDetails
		 WHERE seseion_Id=@seseion_Id
		 
	END
	
	ELSE IF @Flag='d'
	 BEGIN
	    
	    DELETE TempOverTimeDetails WHERE Temp_OtRequest_id = @Temp_OtRequest_id
	 
	 END

	 ELSE IF @flag='h'
	BEGIN
	
	 	SELECT 
			ROW_NUMBER() over( order by Temp_OtRequest_id)[s.n]
			,dbo.GetEmployeeFullNameOfId(requested_by)  [requested by],
			dbo.GetEmployeeFullNameOfId(requested_with)  [requested with] ,
			CONVERT(VARCHAR,
			requested_date,101)  [requested date],
			'<img onclick = "DeleteNotification(' + CAST(Temp_OtRequest_id AS VARCHAR(50)) + ')" class = "showHand" border = "0" title = "Delete Notification" src="../../Images/delete.gif" />' [Delet] 
	
			FROM TempOverTimeDetails
		 WHERE seseion_Id=@seseion_Id
		 
	END
	
	ELSE IF @Flag='d'
	 BEGIN
	    
	    DELETE TempOverTimeDetails WHERE Temp_OtRequest_id = @Temp_OtRequest_id
	 
	 END
  
	IF @flag = 'att' -- display attendance
	BEGIN
		SELECT 	
			 convert(varchar(5),login_time,108) as [Login Time]
			,convert(varchar(5),logout_time,108) as [Logout TIme]
		FROM atttendance 
		WHERE cast(att_date as date) = cast(@requested_date as date) and emp_id = @requested_by
	END
  
  IF  @Flag ='x' -- display attendance for hardship
	BEGIN
		SELECT 	
			 convert(varchar,att_date,101) [Attendance Date]
			 ,'Present'[Status]
		FROM atttendance 
		WHERE cast(att_date as date) = cast(@requested_date as date) and emp_id = @requested_by
		
	END

  END TRY
  
  
  BEGIN CATCH
  
				SELECT 1 error_code,ERROR_MESSAGE() msg, @Temp_OtRequest_id id
  
  END CATCH
GO
