USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_EmployeeAttendanceUpload]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
Exec [proc_EmployeeAttendanceUpload] @flag='a',
@file_path='D:\PROJECTS\MEGA_BANK\ERP_MEGA\SwiftHrManagement.web\doc\attendancefile\DIPESH-TEST.csv',@user='admin'

*/
CREATE PROC [dbo].[proc_EmployeeAttendanceUpload]
	@flag CHAR(1),
	@file_path VARCHAR(200),
	@user VARCHAR(50)
AS

IF @flag='a'
BEGIN

	SET NOCOUNT ON;
	DECLARE @SQL VARCHAR(1000),@intTotalRows AS INT,@intPartId AS INT
	SET @file_path = REPLACE(@file_path,'\\','\')	

	CREATE TABLE #tempNumberUpload
	(
		EMPLOYEE_ID VARCHAR(20) NULL,
		ATT_DATE_IN VARCHAR(20) NULL,
		ATT_DATE_OUT VARCHAR(20) NULL,
		ATT_REMARKS VARCHAR(MAX) NULL
	)

	SET @SQL = ' BULK INSERT #tempNumberUpload  FROM '''+@file_path+''' 
					 WITH (FIELDTERMINATOR = '','',FIRSTROW  = 2, ROWTERMINATOR =''\n'') '
					 
	EXEC(@SQL)
	
	UPDATE #tempNumberUpload
    		SET 
			EMPLOYEE_ID=REPLACE(LTRIM(EMPLOYEE_ID),'á',''),
			ATT_DATE_IN=REPLACE(LTRIM(ATT_DATE_IN),'á',''),
			ATT_DATE_OUT=REPLACE(LTRIM(ATT_DATE_OUT),'á',''),
			ATT_REMARKS=REPLACE(LTRIM(ATT_REMARKS),'á','')

	UPDATE #tempNumberUpload
    		SET 
			EMPLOYEE_ID=REPLACE((EMPLOYEE_ID),' ','')

	IF EXISTS (SELECT * FROM #tempNumberUpload WHERE EMPLOYEE_ID NOT IN (SELECT EMPLOYEE_ID FROM Employee))
	BEGIN
		SELECT 'Some Employee ID is Invalid!' AS remarks
		RETURN;
	END
	
	ALTER TABLE #tempNumberUpload ADD RowID INT IDENTITY(1,1)
	SELECT @intPartId=MAX(RowID) FROM #tempNumberUpload		
	SET @intTotalRows=1	
	

	DECLARE @EMPLOYEE_ID AS INT,@ATTEN_DATEIN AS DATE,@ATTEN_DATEOUT AS DATE,@ATTEN_ID AS INT,@REMARKS AS VARCHAR(MAX)
	WHILE @intPartId >=  @intTotalRows
	BEGIN	
		
		SELECT @EMPLOYEE_ID=EMPLOYEE_ID,@ATTEN_DATEIN=CONVERT(DATE,CAST(ATT_DATE_IN AS DATETIME),101)
		FROM #tempNumberUpload WHERE RowID=@intTotalRows
		
		
		IF NOT EXISTS(SELECT TOP 1 * FROM Attendence WHERE EMPLOYEE_ID=@EMPLOYEE_ID 
						AND CONVERT(VARCHAR,ATT_DATE_IN,101) = CONVERT(VARCHAR,@ATTEN_DATEIN,101))
		BEGIN
			INSERT INTO Attendence (EMPLOYEE_ID,ATT_DATE_IN,ATT_DATE_OUT,ATT_REMARKS,CREATED_BY,CREATED_DATE)
			SELECT EMPLOYEE_ID,ATT_DATE_IN,ATT_DATE_OUT,ATT_REMARKS,@user,GETDATE() FROM #tempNumberUpload WHERE RowID=@intTotalRows
		END
		
		IF EXISTS(SELECT TOP 1 * FROM Attendence WHERE EMPLOYEE_ID=@EMPLOYEE_ID AND CONVERT(VARCHAR,ATT_DATE_IN,101)=CONVERT(VARCHAR,@ATTEN_DATEIN,101) AND
							ATT_DATE_OUT IS NULL)
		BEGIN
		
			SELECT @ATTEN_ID=ATTENDENCE_ID FROM Attendence WHERE EMPLOYEE_ID=@EMPLOYEE_ID 
					AND CONVERT(VARCHAR,ATT_DATE_IN,101)=CONVERT(VARCHAR,@ATTEN_DATEIN,101) AND ATT_DATE_OUT IS NULL
					
			UPDATE Attendence SET ATT_DATE_OUT=B.ATT_DATE_OUT,ATT_REMARKS=B.ATT_REMARKS,MODIFIED_BY=@user,MODIFIED_DATE=GETDATE() 
			FROM Attendence A,
			(
				SELECT ATT_DATE_OUT,ATT_REMARKS FROM #tempNumberUpload WHERE RowID=@intTotalRows
			)B WHERE A.ATTENDENCE_ID=@ATTEN_ID

		END
						
	SET @intTotalRows=@intTotalRows+1
	END	
	
	DROP TABLE #tempNumberUpload
	SELECT 'Upload Completed Sucessfully!' AS msg;
END
GO
