USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procManageAttendanceRequest]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Exec procManageAttendanceRequest @flag='c',@id='3846'
CREATE proc [dbo].[procManageAttendanceRequest]
	@flag varchar(20)=null,
	@id int=null,
	@emp_id int=null,
	@logoutDateTime datetime=null ,
	@loginDateTime datetime=null,
	@remarks varchar(max)=null,
	@approved_by varchar(50)=null,
	@user varchar(50)=null
as
set nocount on;

	if @flag='a'
	begin

			UPDATE atttendance SET att_status ='Requested',r_logout_time =@logoutDateTime,remarks=@remarks,approved_by=@approved_by
			WHERE id = @id
			select 'Success' as msg

		/*Start Send Mail*/

		Declare @msg varchar(max),@recipient varchar(max), @Emp_Info varchar(500),@empid int 
		select @empid =emp_id from atttendance where id=@id
		select 
			@Emp_Info= FIRST_NAME+isnull(' '+MIDDLE_NAME+' ',' ')+LAST_NAME+' ('+rtrim(dbo.GetBranchOfId(BRANCH_ID))+' - '+
			rtrim(dbo.GetDeptName(DEPARTMENT_ID))+' - '+rtrim(dbo.GetDetailTitle(POSITION_ID))+')' 
		from Employee 
		where EMPLOYEE_ID=@empid
	
		SET @msg=
					'Dear Sir/Madam '+','+CHAR(10)+

					@Emp_Info +'has requested for his/her update of pending attendance.'+CHAR(10)+
	
					@Emp_Info +' is seeking your approval for above concerned details.

					Click here to go in system: http://hrms.nabilbank.com/'
		
		SELECT @recipient= isnull(official_email,'') from employee where EMPLOYEE_ID=@approved_by

		--EXEC PROC_MAIL_SEND @recipient=@recipient, @subject_text='Travel Order Request', @msg_text=@msg

		Exec procEmailNotes @flag='Insert',@sendTo=@recipient,@subject='Pending Attendance Request',@notesText=@msg
		/*End Send Mail*/

	end
--select top 10 * from atttendance order by created_date desc
	if @flag='b'
	begin
			INSERT INTO atttendance(emp_id,r_login_time,r_logout_time,remarks,att_status,approved_by) 
			VALUES(@emp_id,@loginDateTime,@logoutDateTime,@remarks,'Requested',@approved_by)
			select 'Success' as msg

			/*Start Send Mail*/
			Declare @reqmsg varchar(max),@reqrecipient varchar(max), @reqEmp_Info varchar(500)

		select 
			@reqEmp_Info= FIRST_NAME+isnull(' '+MIDDLE_NAME+' ',' ')+LAST_NAME+' ('+rtrim(dbo.GetBranchOfId(BRANCH_ID))+' - '+
			rtrim(dbo.GetDeptName(DEPARTMENT_ID))+' - '+rtrim(dbo.GetDetailTitle(POSITION_ID))+')' 
		from Employee 
		where EMPLOYEE_ID=@emp_id

		
	SET @reqmsg=
			'Dear Sir/Madam '+','+CHAR(10)+

	@reqEmp_Info +'has requested his/her pending attendance for the '+convert(varchar,isnull(@loginDateTime,''),107)+'.'+CHAR(10)+
	
    @reqEmp_Info +' is seeking your approval for above concerned details.

		Click here to go in system: http://hrms.nabilbank.com/'
		
		
		SELECT @reqrecipient= official_email from employee where EMPLOYEE_ID=@approved_by

		--EXEC PROC_MAIL_SEND @recipient=@recipient, @subject_text='Travel Order Request', @msg_text=@msg

		Exec procEmailNotes @flag='Insert',@sendTo=@reqrecipient,@subject='Pending Attendance Request',@notesText=@reqmsg
		/*End Send Mail*/

	end

	if @flag='c'
	begin
			declare @login_time as datetime
			select	@login_time=case when login_time is null then r_login_time else login_time end  from atttendance where id=@id

			SELECT  id,emp_id,rtrim(ltrim(DBO.GetEmployeeInfoById(emp_id))) AS EMP_NAME,
			CONVERT(VARCHAR,@login_time,101) FROM_DATE,DATEPART(HH,@login_time) FROM_HOUR ,DATEPART(MI,@login_time) FROM_MINUTE,
			CONVERT(VARCHAR,r_logout_time,101) TO_DATE,DATEPART(HH,r_logout_time) TO_HOUR,
			DATEPART(MI,r_logout_time) TO_MINUTE,remarks,approved_by 
			FROM atttendance WHERE id=@id
	end
	
	if @flag='d'
	begin

			UPDATE atttendance SET att_status ='Approved',login_time =@loginDateTime,logout_time=@logoutDateTime,att_date=@loginDateTime
			WHERE id = @id
			select 'Success' as msg
	end

	if @flag='e'
	begin

			UPDATE atttendance SET att_status ='Rejected'
			WHERE id = @id
			select 'Success' as msg
	end
GO
