USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procOrganizationChart]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec [procOrganizationChart] 'i','0','admin','Human Resource Department','Human Resource Department','17'
--exec procOrganizationChart 'c',@id='3'
--exec procOrganizationChart 's',@id='3'
create procedure [dbo].[procOrganizationChart]
		@flag char(1),
		@ID int,
		@user varchar(50)=null,
		@unitname varchar(50)=null,
		@unitdesc varchar(50)=null,
		@linkedid varchar(50)=null,
		@empid varchar(50)=null
AS
set nocount on;
 if @flag='i'
 begin
	
		INSERT INTO OrgChart(unit_name, unit_desc, linked_id,  create_date, created_by, isleaf, empid) 
		VALUES (@unitname, @unitdesc, @linkedid,  GETDATE(), @user, 1, @empid)
		
		update OrgChart set isleaf = 'false' where id = @linkedid
		
end
if @flag='u'
	begin
		update OrgChart set unit_name=@unitname, unit_desc = @unitdesc,--, linked_id = @linkedid,
		modify_by = @user, modify_date = GETDATE(), empid = @empid  where id = @id
	end
	
if @flag='s'
	begin
		select id, unit_name, unit_desc,isnull(empid,'') as Name from OrgChart  where id=@ID
	end
if @flag='c'
	begin
	declare @leaf as varchar(5)
	
		 select @leaf = isleaf from OrgChart where id = @ID	--or linked_id is not null
		 if(@leaf ='0')
			select 'No' 'leaf'
		else
			select 'Yes' 'leaf'	
	end
GO
