USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_allowApprisalRating]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_allowApprisalRating](  
  @flag varchar(30)   = NULL  
 ,@apprisalId varchar(10) = NULL  
 ,@ratingTypeId varchar(10) = NULL  
 ,@postionId varchar(10) = NULL  
 ,@employeeId varchar(10) = NULL  
 ,@userId varchar(10) = NULL  
)  
AS   
BEGIN  
   
 DECLARE @Appraisee VARCHAR(10)  
,@Appraiser VARCHAR(10)  
,@Reviewer VARCHAR(10)  
,@ratingStatusAP VARCHAR(10)  
,@ratingStatusSP VARCHAR(10)  
,@ratingStatusRV VARCHAR(10)  
,@allowMarking VARCHAR(10)  
,@allowAppraisee VARCHAR(10)  
,@empPosition VARCHAR(10)  
,@reviewCommitte VARCHAR(10)  
,@hrDepartment VARCHAR(10)  
   
 IF @flag = 'allowRating'  
 BEGIN  
  SELECT @empPosition = POSITION_ID FROM appraisal WITH(NOLOCK) WHERE ID =  @apprisalId  
    
 SET @allowMarking = 'TRUE'  
   
 --SELECT @allowMarking = CASE WHEN markingType = 'y' THEN 'TRUE' ELSE 'FALSE' END  
 --FROM templateRecordMarking trm WITH(NOLOCK)   
 --INNER JOIN appraisalPosition ap WITH(NOLOCK)  
 --ON trm.templateId = ap.templateId  
 --WHERE ap.position = @postionId   
 --AND trm.markingBy = @ratingTypeId  
   
 SELECT @allowAppraisee = CASE WHEN markingType = 'y' THEN 'TRUE' ELSE 'FALSE' END  
 FROM templateRecordMarking trm WITH(NOLOCK)   
 INNER JOIN appraisalPosition ap WITH(NOLOCK)  
 ON trm.templateId = ap.templateId  
 WHERE ap.position = @empPosition   
 AND trm.markingBy = 710  
 --AND trm.markingBy = 1831  
    
 IF(ISNULL(@allowAppraisee,'FALSE')<>'FALSE')    
  SELECT @Appraisee = CASE WHEN SUPERVISOR = @userId THEN 'TRUE' ELSE 'FALSE' END FROM appraisalSupervisorAssignment WHERE SUPERVISOR_TYPE = 'sf' AND appraisal_id = @apprisalId  
 ELSE   
  SET @Appraisee = 'FALSE'  
    
 SELECT @Appraiser = CASE WHEN SUPERVISOR = @userId and days >= getdate() THEN 'TRUE' ELSE 'FALSE' END FROM appraisalSupervisorAssignment WHERE SUPERVISOR_TYPE = 's' AND appraisal_id = @apprisalId  
 SELECT @Reviewer  = CASE WHEN SUPERVISOR = @userId  and days >= getdate() THEN 'TRUE' ELSE 'FALSE' END FROM appraisalSupervisorAssignment WHERE SUPERVISOR_TYPE = 'r' AND appraisal_id = @apprisalId  
 SELECT @reviewCommitte  = CASE WHEN SUPERVISOR IS NOT NULL THEN 'TRUE' ELSE 'FALSE' END FROM appraisalSupervisorAssignment WHERE SUPERVISOR_TYPE = 'rc' AND SUPERVISOR = @userId --AND appraisal_id = @apprisalId  
 SELECT @hrDepartment  = CASE WHEN SUPERVISOR IS NOT NULL THEN 'TRUE' ELSE 'FALSE' END FROM appraisalSupervisorAssignment WHERE SUPERVISOR_TYPE = 'h' AND SUPERVISOR = @userId --AND appraisal_id = @apprisalId  
   
 IF NOT EXISTS(SELECT 'X' FROM appraisalComments WITH(NOLOCK) WHERE appraisalId = @apprisalId AND raterTypeFlag = 'a' AND flag= 't')  
 BEGIN  
  SET @Appraiser = 'FALSE'  
 END  
    
 SELECT DISTINCT @ratingStatusAP = setFlag FROM appraisalRating WHERE appraisalId = @apprisalId  AND raterType = 'a'   
 IF(@allowAppraisee = 'TRUE' AND (ISNULL(@ratingStatusAP,'N') <> 'sf'))  
 BEGIN  
  SET @Appraiser = 'FALSE'  
 END   
   
 SELECT DISTINCT @ratingStatusSP = setFlag FROM appraisalRating WHERE appraisalId = @apprisalId  and raterType = 's'  
 IF(@allowMarking = 'TRUE' AND (ISNULL(@ratingStatusSP,'N') <> 'sf'))  
 BEGIN  
  SET @Reviewer ='FALSE'  
 END  
    
 SELECT DISTINCT @ratingStatusRV = setFlag FROM appraisalRating WHERE appraisalId = @apprisalId  and raterType = 'r'  
 IF(ISNULL(@ratingStatusRV,'N') <> 'sf')  
 BEGIN  
  SELECT @reviewCommitte = 'FALSE', @hrDepartment = 'FALSE'  
 END  
  
 SELECT   
  allowMarking  = @allowMarking  
 ,appraisee   = @Appraisee  
 ,appraiser   = @Appraiser  
 ,reviewer   = @Reviewer  
 ,reviewCommitte  = @reviewCommitte  
 ,hrDepartment  = @hrDepartment  
 RETURN  
 END  
   
 ELSE IF @flag = 'chekSelfRating'  
 BEGIN  
 SELECT @empPosition = POSITION_ID FROM appraisal WHERE ID =  @apprisalId  
 SELECT CASE WHEN markingType = 'y' THEN 'TRUE' ELSE 'FALSE' END  
 FROM templateRecordMarking trm WITH(NOLOCK)   
 INNER JOIN appraisalPosition ap WITH(NOLOCK)  
 ON trm.templateId = ap.templateId  
 WHERE ap.position = @empPosition   
 AND trm.markingBy = 710  
 --AND trm.markingBy = 1831   
 END  
  
END
GO
