USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procRptTempTransfer]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[procRptTempTransfer]
	 @flag varchar(1)
	,@startDate as varchar(20)=null
	,@endDate as varchar(20)=null
	,@frmBranch varchar(20)=null
	,@frmDepartment varchar(20)=null
	,@staffId int=null
AS
SET NOCOUNT ON
 if @flag='a'
 BEGIN
	select ROW_NUMBER() over(order by id ) [S.N.]
	,E.EMP_CODE [EMPLOYEE CODE]
	,dbo.GetEmployeeFullNameOfId(tt.EMPLOYEE_ID) [EMPLOYEE NAME]
	,convert(varchar,EFFECTIVE_DATE,107) [EFEECTIVE START DATE]
	,convert(varchar,END_DATE,107) [EFEECTIVE END DATE]
	,dbo.GetBranchName(FROM_BRANCH) [FROM BRANCH]
	,dbo.GetDeptName(FROM_DEPARTMENT) [FROM DEPARTMENT]
	,dbo.GetBranchName(WHICH_BRANCH) [TO BRANCH]
	,dbo.GetDeptName(WHICH_DEPARTMENT) [TO DEPARTMENT]
	,TRANSFER_DESCRIPTION [TRANSFER DESCRIPTION]
	from Temporary_Transfer tt
	Inner join Employee E On tt.EMPLOYEE_ID= E.EMPLOYEE_ID
	where EFFECTIVE_DATE between '@startDate' and '@endDate'+' 23:59:59'
	and FROM_BRANCH = ISNULL(@frmBranch,FROM_BRANCH) 
	and FROM_DEPARTMENT=ISNULL(@frmDepartment,FROM_DEPARTMENT)
	and tt.EMPLOYEE_ID=ISNULL(@staffId,tt.EMPLOYEE_ID)
END
	
	--select * from Temporary_Transfer
GO
