USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procYearlyPF]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Exec [procYearlyPF] 'a','68-69',null,null

CREATE PROC [dbo].[procYearlyPF]
	@flag VARCHAR(10)=NULL,
	@year VARCHAR(100)=NULL,
	@brach VARCHAR(20)=NULL,
	@dept VARCHAR(30) = NULL
	
	
AS
SET NOCOUNT ON;
IF @flag = 'a'
			Declare  @monthstartdate4 varchar(10), @monthenddate4 varchar(10)
					,@monthstartdate5 varchar(10), @monthenddate5 varchar(10)
					,@monthstartdate6 varchar(10), @monthenddate6 varchar(10)
					,@monthstartdate7 varchar(10), @monthenddate7 varchar(10)
					,@monthstartdate8 varchar(10), @monthenddate8 varchar(10)
					,@monthstartdate9 varchar(10), @monthenddate9 varchar(10)
					,@monthstartdate10 varchar(10), @monthenddate10 varchar(10)
					,@monthstartdate11 varchar(10), @monthenddate11 varchar(10)
					,@monthstartdate12 varchar(10), @monthenddate12 varchar(10)
					,@monthstartdate1 varchar(10), @monthenddate1 varchar(10)
					,@monthstartdate2 varchar(10), @monthenddate2 varchar(10)
					,@monthstartdate3 varchar(10), @monthenddate3 varchar(10)
			
			select   @monthstartdate4= dbo.GetMonthStartDateEng(@year,4),@monthenddate4= dbo.GetMonthEndDateEng(@year,4)
					,@monthstartdate5= dbo.GetMonthStartDateEng(@year,5),@monthenddate5= dbo.GetMonthEndDateEng(@year,5)
					,@monthstartdate6= dbo.GetMonthStartDateEng(@year,6),@monthenddate6= dbo.GetMonthEndDateEng(@year,6)
					,@monthstartdate7= dbo.GetMonthStartDateEng(@year,7),@monthenddate7= dbo.GetMonthEndDateEng(@year,7)
					,@monthstartdate8= dbo.GetMonthStartDateEng(@year,8),@monthenddate8= dbo.GetMonthEndDateEng(@year,8)
					,@monthstartdate9= dbo.GetMonthStartDateEng(@year,9),@monthenddate9= dbo.GetMonthEndDateEng(@year,9)
					,@monthstartdate10= dbo.GetMonthStartDateEng(@year,10),@monthenddate10= dbo.GetMonthEndDateEng(@year,10)
					,@monthstartdate11= dbo.GetMonthStartDateEng(@year,11),@monthenddate11= dbo.GetMonthEndDateEng(@year,11)
					,@monthstartdate12= dbo.GetMonthStartDateEng(@year,12),@monthenddate12= dbo.GetMonthEndDateEng(@year,12)
					,@monthstartdate1= dbo.GetMonthStartDateEng(@year,1),@monthenddate1= dbo.GetMonthEndDateEng(@year,1)
					,@monthstartdate2= dbo.GetMonthStartDateEng(@year,2),@monthenddate2= dbo.GetMonthEndDateEng(@year,2)
					,@monthstartdate3= dbo.GetMonthStartDateEng(@year,3),@monthenddate3= dbo.GetMonthEndDateEng(@year,3)
		BEGIN
	SELECT ROW_NUMBER() over(order by mas.POSITION_ID) as [S.N.],mas.[Employee Name]
		,dbo.ShowDecimal(Isnull(shawan.NET_SALARY,'0.00')) AS [Shawan]
		,dbo.ShowDecimal(Isnull(bhadra.NET_SALARY,'0.00')) [Bhadra]
		,dbo.ShowDecimal(Isnull(ashoj.NET_SALARY,'0.00')) [Ashoj]
		,dbo.ShowDecimal(Isnull(kartik.NET_SALARY,'0.00')) AS [Kartik]
		,dbo.ShowDecimal(Isnull(mangsir.NET_SALARY,'0.00')) AS [Mangshir]
		,dbo.ShowDecimal(Isnull(poush.NET_SALARY,'0.00')) AS [Poush]
		,dbo.ShowDecimal(Isnull(magh.NET_SALARY,'0.00')) AS [Magh]
		,dbo.ShowDecimal(Isnull(falgun.NET_SALARY,'0.00')) AS [Falgun]
		,dbo.ShowDecimal(Isnull(chaitra.NET_SALARY,'0.00')) AS [Chaitra]
		,dbo.ShowDecimal(Isnull(baishak.NET_SALARY,'0.00')) AS [Baishak]
		,dbo.ShowDecimal(Isnull(jestha.NET_SALARY,'0.00')) AS [Jestha]
		,dbo.ShowDecimal(Isnull(ashad.NET_SALARY,'0.00')) AS [Ashad] 
		,dbo.ShowDecimal((Isnull(shawan.NET_SALARY,'0.00')+Isnull(bhadra.NET_SALARY,'0.00')+Isnull(ashoj.NET_SALARY,'0.00')+Isnull(kartik.NET_SALARY,'0.00')
		+Isnull(mangsir.NET_SALARY,'0.00')+Isnull(poush.NET_SALARY,'0.00')+Isnull(magh.NET_SALARY,'0.00')+Isnull(falgun.NET_SALARY,'0.00')
		+Isnull(chaitra.NET_SALARY,'0.00')+Isnull(baishak.NET_SALARY,'0.00')+Isnull(jestha.NET_SALARY,'0.00')+Isnull(ashad.NET_SALARY,'0.00'))) as [Total EPF]
		FROM 
		(
			SELECT EMPLOYEE_ID,EMP_CODE,FIRST_NAME+' '+MIDDLE_NAME+' '+LAST_NAME AS [Employee Name],e.POSITION_ID FROM Employee E
			Inner Join StaticDataDetail s on e.POSITION_ID=s.ROWID
			WHERE EMPLOYEE_ID IN 
			(
			SELECT DISTINCT emp_id FROM TaxCalculation WHERE FY_ID=@year 
			    AND BRANCH_ID =  ISNULL(@brach, BRANCH_ID)
				AND Dept_Id =  ISNULL(@dept, Dept_Id) 
			)
		)mas 
		LEFT JOIN
		(
			select EMPLOYEE_ID,NET_SALARY from 
				(
					select 
						c.EMPLOYEE_ID , AMOUNT_EMPLOYEE+AMOUNT_EMPLOYER as NET_SALARY 
					from Contribution C
					inner join ContributionHistory H on c.ID=h.CONTRIBUTION_ID
					Inner Join Employee E on c.EMPLOYEE_ID=e.EMPLOYEE_ID
					where RUN_MONTH =4 And c.CONTRIBUTED_TO='263' And FY_ID=@year and ISNULL(VALUE_EMPLOYEE,0)<>0
					AND BRANCH_ID = ISNULL(@brach,BRANCH_ID)
					AND DEPARTMENT_ID = ISNULL(@dept,DEPARTMENT_ID)

					union all

					Select 
						EMPLOYEE_ID, isnull(CONTB_AMOUNT_EMPLOYEE,0)+isnull(CONTB_AMOUNT_EMPLOYER,0) as NET_SALARY 
					from Adhoc_Contribution 
					where CONTB_DATE between @monthstartdate4 and @monthenddate4
				)a
		)shawan ON shawan.EMPLOYEE_ID=mas.EMPLOYEE_ID
		LEFT JOIN 
		(
			select EMPLOYEE_ID,NET_SALARY from 
				(
					select 
						c.EMPLOYEE_ID , AMOUNT_EMPLOYEE+AMOUNT_EMPLOYER as NET_SALARY 
					from Contribution C
					inner join ContributionHistory H on c.ID=h.CONTRIBUTION_ID
					Inner Join Employee E on c.EMPLOYEE_ID=e.EMPLOYEE_ID
					where RUN_MONTH =5 And c.CONTRIBUTED_TO='263' And FY_ID=@year and ISNULL(VALUE_EMPLOYEE,0)<>0
					AND BRANCH_ID = ISNULL(@brach,BRANCH_ID)
					AND DEPARTMENT_ID = ISNULL(@dept,DEPARTMENT_ID)


					union all

					Select 
						EMPLOYEE_ID, isnull(CONTB_AMOUNT_EMPLOYEE,0)+isnull(CONTB_AMOUNT_EMPLOYER,0) as NET_SALARY 
					from Adhoc_Contribution 
					where CONTB_DATE between @monthstartdate5 and @monthenddate5
				)a
		)bhadra ON mas.EMPLOYEE_ID=bhadra.EMPLOYEE_ID
		LEFT JOIN 
		(
			select EMPLOYEE_ID,NET_SALARY from 
				(
					select 
						c.EMPLOYEE_ID , AMOUNT_EMPLOYEE+AMOUNT_EMPLOYER as NET_SALARY 
					from Contribution C
					inner join ContributionHistory H on c.ID=h.CONTRIBUTION_ID
					Inner Join Employee E on c.EMPLOYEE_ID=e.EMPLOYEE_ID
					where RUN_MONTH =6 And c.CONTRIBUTED_TO='263' And FY_ID=@year and ISNULL(VALUE_EMPLOYEE,0)<>0
					AND BRANCH_ID = ISNULL(@brach,BRANCH_ID)
					AND DEPARTMENT_ID = ISNULL(@dept,DEPARTMENT_ID)

					union all

					Select 
						EMPLOYEE_ID, isnull(CONTB_AMOUNT_EMPLOYEE,0)+isnull(CONTB_AMOUNT_EMPLOYER,0) as NET_SALARY 
					from Adhoc_Contribution 
					where CONTB_DATE between @monthstartdate6 and @monthenddate6
				)a
		)ashoj ON mas.EMPLOYEE_ID=ashoj.EMPLOYEE_ID
		LEFT JOIN 
		(
			select EMPLOYEE_ID,NET_SALARY from 
				(
					select 
						c.EMPLOYEE_ID , AMOUNT_EMPLOYEE+AMOUNT_EMPLOYER as NET_SALARY 
					from Contribution C
					inner join ContributionHistory H on c.ID=h.CONTRIBUTION_ID
					Inner Join Employee E on c.EMPLOYEE_ID=e.EMPLOYEE_ID
					where RUN_MONTH =7 And c.CONTRIBUTED_TO='263' And FY_ID=@year and ISNULL(VALUE_EMPLOYEE,0)<>0
					AND BRANCH_ID = ISNULL(@brach,BRANCH_ID)
					AND DEPARTMENT_ID = ISNULL(@dept,DEPARTMENT_ID)


					union all

					Select 
						EMPLOYEE_ID, isnull(CONTB_AMOUNT_EMPLOYEE,0)+isnull(CONTB_AMOUNT_EMPLOYER,0) as NET_SALARY 
					from Adhoc_Contribution 
					where CONTB_DATE between @monthstartdate7 and @monthenddate7
				)a
		)kartik ON kartik.EMPLOYEE_ID=mas.EMPLOYEE_ID
		LEFT JOIN 
		(
			select EMPLOYEE_ID,NET_SALARY from 
				(
					select 
						c.EMPLOYEE_ID , AMOUNT_EMPLOYEE+AMOUNT_EMPLOYER as NET_SALARY 
					from Contribution C
					inner join ContributionHistory H on c.ID=h.CONTRIBUTION_ID
					Inner Join Employee E on c.EMPLOYEE_ID=e.EMPLOYEE_ID
					where RUN_MONTH =8 And c.CONTRIBUTED_TO='263' And FY_ID=@year and ISNULL(VALUE_EMPLOYEE,0)<>0
					AND BRANCH_ID = ISNULL(@brach,BRANCH_ID)
					AND DEPARTMENT_ID = ISNULL(@dept,DEPARTMENT_ID)

					union all

					Select 
						EMPLOYEE_ID, isnull(CONTB_AMOUNT_EMPLOYEE,0)+isnull(CONTB_AMOUNT_EMPLOYER,0) as NET_SALARY 
					from Adhoc_Contribution 
					where CONTB_DATE between @monthstartdate8 and @monthenddate8
				)a
		)mangsir ON mangsir.EMPLOYEE_ID=mas.EMPLOYEE_ID
		LEFT JOIN 
		(
			select EMPLOYEE_ID,NET_SALARY from 
				(
					select 
						c.EMPLOYEE_ID , AMOUNT_EMPLOYEE+AMOUNT_EMPLOYER as NET_SALARY 
					from Contribution C
					inner join ContributionHistory H on c.ID=h.CONTRIBUTION_ID
					Inner Join Employee E on c.EMPLOYEE_ID=e.EMPLOYEE_ID
					where RUN_MONTH =9 And c.CONTRIBUTED_TO='263' And FY_ID=@year and ISNULL(VALUE_EMPLOYEE,0)<>0
					AND BRANCH_ID = ISNULL(@brach,BRANCH_ID)
					AND DEPARTMENT_ID = ISNULL(@dept,DEPARTMENT_ID)

					union all

					Select 
						EMPLOYEE_ID, isnull(CONTB_AMOUNT_EMPLOYEE,0)+isnull(CONTB_AMOUNT_EMPLOYER,0) as NET_SALARY 
					from Adhoc_Contribution 
					where CONTB_DATE between @monthstartdate9 and @monthenddate9
				)a
		)poush ON mas.EMPLOYEE_ID=poush.EMPLOYEE_ID
		LEFT JOIN 
		(
			select EMPLOYEE_ID,NET_SALARY from 
				(
					select 
						c.EMPLOYEE_ID , AMOUNT_EMPLOYEE+AMOUNT_EMPLOYER as NET_SALARY 
					from Contribution C
					inner join ContributionHistory H on c.ID=h.CONTRIBUTION_ID
					Inner Join Employee E on c.EMPLOYEE_ID=e.EMPLOYEE_ID
					where RUN_MONTH =10 And c.CONTRIBUTED_TO='263' And FY_ID=@year and ISNULL(VALUE_EMPLOYEE,0)<>0
					AND BRANCH_ID = ISNULL(@brach,BRANCH_ID)
					AND DEPARTMENT_ID = ISNULL(@dept,DEPARTMENT_ID)

					union all

					Select 
						EMPLOYEE_ID, isnull(CONTB_AMOUNT_EMPLOYEE,0)+isnull(CONTB_AMOUNT_EMPLOYER,0) as NET_SALARY 
					from Adhoc_Contribution 
					where CONTB_DATE between @monthstartdate10 and @monthenddate10
				)a
		)magh ON magh.EMPLOYEE_ID=mas.EMPLOYEE_ID
		LEFT JOIN 
		(
			select EMPLOYEE_ID,NET_SALARY from 
				(
					select 
						c.EMPLOYEE_ID , AMOUNT_EMPLOYEE+AMOUNT_EMPLOYER as NET_SALARY 
					from Contribution C
					inner join ContributionHistory H on c.ID=h.CONTRIBUTION_ID
					Inner Join Employee E on c.EMPLOYEE_ID=e.EMPLOYEE_ID
					where RUN_MONTH ='11' And c.CONTRIBUTED_TO='263' And FY_ID=@year and ISNULL(VALUE_EMPLOYEE,0)<>0
					AND BRANCH_ID = ISNULL(@brach,BRANCH_ID)
					AND DEPARTMENT_ID = ISNULL(@dept,DEPARTMENT_ID)

					union all

					Select 
						EMPLOYEE_ID, isnull(CONTB_AMOUNT_EMPLOYEE,0)+isnull(CONTB_AMOUNT_EMPLOYER,0) as NET_SALARY 
					from Adhoc_Contribution 
					where CONTB_DATE between @monthstartdate11 and @monthenddate11
				)a
		)falgun ON mas.EMPLOYEE_ID=falgun.EMPLOYEE_ID
		LEFT JOIN 
		(
			select EMPLOYEE_ID,NET_SALARY from 
				(
					select 
						c.EMPLOYEE_ID , AMOUNT_EMPLOYEE+AMOUNT_EMPLOYER as NET_SALARY 
					from Contribution C
					inner join ContributionHistory H on c.ID=h.CONTRIBUTION_ID
					Inner Join Employee E on c.EMPLOYEE_ID=e.EMPLOYEE_ID
					where RUN_MONTH =12 And c.CONTRIBUTED_TO='263' And FY_ID=@year and ISNULL(VALUE_EMPLOYEE,0)<>0
					AND BRANCH_ID = ISNULL(@brach,BRANCH_ID)
					AND DEPARTMENT_ID = ISNULL(@dept,DEPARTMENT_ID)

					union all

					Select 
						EMPLOYEE_ID, isnull(CONTB_AMOUNT_EMPLOYEE,0)+isnull(CONTB_AMOUNT_EMPLOYER,0) as NET_SALARY 
					from Adhoc_Contribution 
					where CONTB_DATE between @monthstartdate12 and @monthenddate12
				)a
		)chaitra ON chaitra.EMPLOYEE_ID=mas.EMPLOYEE_ID
		LEFT JOIN 
		(
			select EMPLOYEE_ID,NET_SALARY from 
				(
					select 
						c.EMPLOYEE_ID , AMOUNT_EMPLOYEE+AMOUNT_EMPLOYER as NET_SALARY 
					from Contribution C
					inner join ContributionHistory H on c.ID=h.CONTRIBUTION_ID
					Inner Join Employee E on c.EMPLOYEE_ID=e.EMPLOYEE_ID
					where RUN_MONTH =1 And c.CONTRIBUTED_TO='263' And FY_ID=@year and ISNULL(VALUE_EMPLOYEE,0)<>0
					AND BRANCH_ID = ISNULL(@brach,BRANCH_ID)
					AND DEPARTMENT_ID = ISNULL(@dept,DEPARTMENT_ID)

					union all

					Select 
						EMPLOYEE_ID, isnull(CONTB_AMOUNT_EMPLOYEE,0)+isnull(CONTB_AMOUNT_EMPLOYER,0) as NET_SALARY 
					from Adhoc_Contribution 
					where CONTB_DATE between @monthstartdate1 and @monthenddate1
				)a
		)baishak ON mas.EMPLOYEE_ID=baishak.EMPLOYEE_ID
		LEFT JOIN 
		(
			select EMPLOYEE_ID,NET_SALARY from 
				(
					select 
						c.EMPLOYEE_ID , AMOUNT_EMPLOYEE+AMOUNT_EMPLOYER as NET_SALARY 
					from Contribution C
					inner join ContributionHistory H on c.ID=h.CONTRIBUTION_ID
					Inner Join Employee E on c.EMPLOYEE_ID=e.EMPLOYEE_ID
					where RUN_MONTH =2 And c.CONTRIBUTED_TO='263' And FY_ID=@year and ISNULL(VALUE_EMPLOYEE,0)<>0
					AND BRANCH_ID = ISNULL(@brach,BRANCH_ID)
					AND DEPARTMENT_ID = ISNULL(@dept,DEPARTMENT_ID)

					union all

					Select 
						EMPLOYEE_ID, isnull(CONTB_AMOUNT_EMPLOYEE,0)+isnull(CONTB_AMOUNT_EMPLOYER,0) as NET_SALARY 
					from Adhoc_Contribution 
					where CONTB_DATE between @monthstartdate2 and @monthenddate2
				)a
		)jestha ON jestha.EMPLOYEE_ID=mas.EMPLOYEE_ID
		LEFT JOIN 
		(
			select EMPLOYEE_ID,NET_SALARY from 
				(
					select 
						c.EMPLOYEE_ID , AMOUNT_EMPLOYEE+AMOUNT_EMPLOYER as NET_SALARY 
					from Contribution C
					inner join ContributionHistory H on c.ID=h.CONTRIBUTION_ID
					Inner Join Employee E on c.EMPLOYEE_ID=e.EMPLOYEE_ID
					where RUN_MONTH =3 And c.CONTRIBUTED_TO='263' And FY_ID=@year and ISNULL(VALUE_EMPLOYEE,0)<>0
					AND BRANCH_ID = ISNULL(@brach,BRANCH_ID)
					AND DEPARTMENT_ID = ISNULL(@dept,DEPARTMENT_ID)

					union all

					Select 
						EMPLOYEE_ID, isnull(CONTB_AMOUNT_EMPLOYEE,0)+isnull(CONTB_AMOUNT_EMPLOYER,0) as NET_SALARY 
					from Adhoc_Contribution 
					where CONTB_DATE between @monthstartdate3 and @monthenddate3
				)a
		)ashad ON mas.EMPLOYEE_ID=ashad.EMPLOYEE_ID
		WHERE 
			(Isnull(shawan.NET_SALARY,'0.00')+Isnull(bhadra.NET_SALARY,'0.00')+Isnull(ashoj.NET_SALARY,'0.00')+Isnull(kartik.NET_SALARY,'0.00')
			+Isnull(mangsir.NET_SALARY,'0.00')+Isnull(poush.NET_SALARY,'0.00')+Isnull(magh.NET_SALARY,'0.00')+Isnull(falgun.NET_SALARY,'0.00')
			+Isnull(chaitra.NET_SALARY,'0.00')+Isnull(baishak.NET_SALARY,'0.00')+Isnull(jestha.NET_SALARY,'0.00')+Isnull(ashad.NET_SALARY,'0.00')) <> 0

END
GO
