USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[ProcDrCrUpdateFinal]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Exec ProcDrCrUpdateFinal 'CR',4500,'2405021112154'
CREATE Proc [dbo].[ProcDrCrUpdateFinal]
	@TRN_TYPE as Varchar(5),
	@AC_NUM as Varchar(30),
	@TRN_AMT as money,
	@TRN_AMT_USD as money=null

AS
BEGIN 

SET NOCOUNT ON;

				-- ############### Update CLR_BAL_AMT
				update ac_master set 

						acct_balance=case when @TRN_TYPE='DR' 
						then isnull(acct_balance,0) - isnull(@TRN_AMT,0)
						else isnull(acct_balance,0) -  isnull(-@TRN_AMT,0) 
						end
						where acct_num=@AC_NUM
		

end
GO
