USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[ProcUploadLeaveRecord]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
exec ProcUploadLeaveRecord 'a','E:\\swifterp\\Application\\doc\\leave\\leaveRecord.csv','1000'
*/

create proc [dbo].[ProcUploadLeaveRecord]
	@flag char(1),
	@file_path varchar(200),
	@user varchar(50)
AS

if @flag='a'
begin

	set nocount on;
	declare @SQL varchar(1000)	
	declare @intTotalRows as int,@intPartId as int,@REQUESTED_DAYS AS int,@requested_by  as int,@from_date as varchar(200),
	@to_date as varchar(20),@leave_type as int,@remain_day as int
	set @file_path = replace(@file_path,'\\','\')	

create table #tempNumberUpload
	(
		requested_by int null,
		leavetype int null,	
		fromdate varchar(20) null,
		todate varchar(20) null
	)
create table #TempTakenDays
(
	taken_days int
)

SET @SQL = ' BULK INSERT #tempNumberUpload  FROM '''+@file_path+''' 
				 WITH (FIELDTERMINATOR = '','',FIRSTROW  = 2, ROWTERMINATOR =''\n'') '
				 
exec(@SQL)

Alter table #tempNumberUpload add RowID INT IDENTITY(1,1)
select @intPartId=max(RowID) from #tempNumberUpload	
	

	if exists (select * from #tempNumberUpload where requested_by not in (select EMPLOYEE_ID from Employee))
	begin
		select 'Some Employee ID is Invalid!' as remarks
		return;
	end
	
	set @intTotalRows=1
	while @intPartId >=  @intTotalRows
	begin
		
		select	@requested_by=requested_by,
				@from_date=fromdate,
				@to_date=todate,
				--@from_date=replace( SUBSTRING (fromdate, charindex('/',fromdate,2), 3),'/','')+'/'+replace(left(fromdate,2),'/','')+'/'+right(fromdate,4) ,
				--@to_date=replace( SUBSTRING (todate, charindex('/',todate,2), 3),'/','')+'/'+replace(left(todate,2),'/','')+'/'+right(todate,4) ,
				@leave_type=leavetype
		from  #tempNumberUpload 
		where RowID=@intTotalRows	
			
		insert into #TempTakenDays
		EXEC ProcGetLeaveTakenDays @from_date,@to_date,@requested_by,@leave_type

		select @REQUESTED_DAYS=taken_days from #TempTakenDays
		
		select @remain_day=(isnull(NO_OF_DAYS_ACTUAL,0) + isnull(LAST_YEAR_LEAVE,0) - isnull(LEAVE_TAKEN_THIS_YEAR,0))
		FROM leaveAssignment WITH (NOLOCK) WHERE EMPLOYEE_ID=@requested_by and LEAVE_TYPE_ID=@leave_type
		
		
		INSERT INTO LeaveRequest			
					(LEAVE_TYPE_ID, REQUESTED_DAYS, REQUESTED_BY, REQUEST_DATE, REQUESTED_WITH, APPROVED_FROM, APPROVED_TO, FROM_DATE , TO_DATE,
					 LEAVE_PURPOSE, APPROVED_BY, LEAVE_STATUS, REMAINING_DAYS, REMARKS, CREATED_DATE, CREATED_BY, APPROVED_DAYS, 
					 APRPROVED_DATE,ISMANUAL)
					
		SELECT @leave_type, @REQUESTED_DAYS, requested_by, GETDATE(), '1090', @from_date, @to_date, @from_date, @to_date,
				'Leave History Record', '1090', 'Approved',@remain_day, 'Leave History Record', GETDATE(), 'admin', @REQUESTED_DAYS, 
				GETDATE(),'Y' FROM #tempNumberUpload WHERE RowID=@intTotalRows			
					
				
		update leaveAssignment 
			set Leave_taken_this_year=isnull(Leave_taken_this_year,0)+@REQUESTED_DAYS 
			where EMPLOYEE_ID=@requested_by and LEAVE_TYPE_ID=@leave_type
		
		set @intTotalRows=@intTotalRows+1
		TRUNCATE TABLE #TempTakenDays
	end
	
	DROP TABLE #TempTakenDays
	DROP TABLE #tempNumberUpload
	
	select 'update sucessfully!' as msg
end
GO
