USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procGetRemainApprovedAsset]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
--Exec procGetRemainApprovedAsset 'i','8','a2qv4045ihtm11ak4cwfqv55'
select * from asset_temp_order where req_message_id='8' and session_id='a2qv4045ihtm11ak4cwfqv55'
*/
CREATE PROCEDURE [dbo].[procGetRemainApprovedAsset]
		@flag char(5),
		@req_mess_id int,
		@session_id varchar(200)
		
AS
	SET NOCOUNT ON;

IF(@flag ='i')
BEGIN	
	if not exists (select * from asset_temp_order where req_message_id=@req_mess_id and session_id=@session_id)
	begin
		Insert into asset_temp_order(asset_id,qty,rate,amount,req_message_id,req_id,session_id)
		(SELECT asset_id,(approved_qty-ISNULL(order_qty,0)),'','0',@req_mess_id,id,@session_id FROM ASSET_REQUISITION
			where requistion_message_id=@req_mess_id)
		
		select t.id,a.porduct_code+'-'+a.ASSET_CODE  AS 'Asset Type',t.qty as Qty,'' as Rate,'0' as Amount
		from asset_temp_order t with(nolock) inner join ASSET_PRODUCT a with(nolock) on t.asset_id=cast(a.id as varchar) 
			WHERE t.req_message_id=@req_mess_id 
		and t.qty<>0 and session_id=@session_id
	end
	else
	begin
		select t.id,a.porduct_code+'-'+a.ASSET_CODE  AS 'Asset Type',t.qty as Qty,dbo.ShowDecimal(t.rate) as Rate,dbo.ShowDecimal(t.amount) as Amount
		from asset_temp_order t with(nolock) inner join ASSET_PRODUCT a with(nolock) on t.asset_id=cast(a.id as varchar) 
		
		WHERE t.req_message_id=@req_mess_id 
		and t.qty<>0 and session_id=@session_id
	end
	
END	

--select * from asset_temp_order
GO
