USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_LetterTempleteDetails]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[proc_LetterTempleteDetails](
	@flag					char(1),
	@lt_id					int         = null,
	@letter_type			varchar(100)=null,
	@letter_detail			varchar(max)=null,
	@created_by				varchar(100)=null,
	@modified_by			varchar(100)=null

)




AS
set nocount on;

    IF @flag = 'i'
	BEGIN
	  
	  INSERT INTO  LetterTempleteDetails(
								
								 letter_type
								,letter_detail
								,created_by
								,created_date
					
								) 
						SELECT  @letter_type
							   ,@letter_detail
							   ,@created_by
							   ,GETDATE()  
										
			
	END		
	
	
	IF @flag = 'u'
	
	BEGIN
	  UPDATE LetterTempleteDetails SET 
							
								letter_type  = @letter_type
								,letter_detail = @letter_detail
								,modified_by   = @modified_by
								,modified_date = GETDATE()
								
						WHERE lt_id=@lt_id
	
	
	END
	
  IF @flag = 's'
  BEGIN
		SELECT 
			letter_type,
			letter_detail 
		FROM LetterTempleteDetails
		WHERE lt_id = @lt_id

  
  END
  
  IF @flag = 'k'
  BEGIN
  
   SELECT letter_key_words[Key Word],key_desc[Key Description] FROM LETTER_KEYWORD_SETTING WHERE 1=1
   
  END
  
   IF @flag = 'm'
  BEGIN
  
   SELECT letter_detail FROM LetterTempleteDetails WHERE lt_id = @lt_id
   
  END
GO
