USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procManageSalesVoucher]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Exec [procManagePurchaseVoucher] 'i','2','12','10','126.256', 'tth0usrqlxwf3445nhzpyk22','admin'
CREATE PROCEDURE [dbo].[procManageSalesVoucher]
		@flag char(5),
		@product_code varchar(100),
		@qty int,
		@rate money,
		@amount money,
		@session_id varchar(200),
		@user varchar(50)
AS
	SET NOCOUNT ON;

IF(@flag ='i')
BEGIN

	INSERT INTO Temp_Sales(session_id,product_code,qty,rate,amount,flag,created_by,created_date)VALUES(
	@session_id,@product_code,@qty,@rate,@amount,'s',@user,GETDATE())
	
END	
 
IF(@flag ='o')
BEGIN

	INSERT INTO Temp_Sales(session_id,product_code,qty,rate,amount,flag,created_by,created_date)VALUES(
	@session_id,@product_code,@qty,@rate,@amount,'o',@user,GETDATE())
	
END
GO
