USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_IndividualDetailedAssetReport]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_IndividualDetailedAssetReport](
     @flag varchar(20)=null
	,@assetNoType varchar(20)=NULL	
	,@assetNo varchar(50)=NULL
)AS
BEGIN
	Declare @date varchar(20),@currMonth varchar(2),@sql1 varchar(max),@sql2 varchar(max),@sql3 varchar(max),@fy varchar(50),@assetId varchar(50)

	set @date=convert(varchar,getDate(),101)
	set @fy=dbo.FNAReturnCurrentFiscalYear(@date)	

	IF @assetNoType='o'
	BEGIN
		select @assetId=id from ASSET_INVENTORY A WITH(NOLOCK) where a.old_asset_no=@assetNo
	END
	ELSE
	BEGIN
		select @assetId=id from ASSET_INVENTORY A WITH(NOLOCK) where a.asset_number=@assetNo
	END
	
	SELECT 
			 [OldAssetNo]=A.old_asset_no
			,[Asset Number] = A.asset_number 			
			,[Asset Type] = AP.porduct_code 
			,[Narration] = isnull(A.narration,'')+isnull(model,'')+isnull(asset_serial,'')
			,[Vendor Name]=cust.CustomerName
			,[Asset Group] = f.item_name
			,[BranchDepartment] = b.branch_name+' | '+dbo.getdeptName(a.dept_id)						
			,[Booked Date] = CONVERT(VARCHAR,A.booked_date,107)  			
			,[Origional Value] = dbo.ShowDecimal(A.purchase_value) 		
			,[Booked Value] = dbo.ShowDecimal(A.purchase_value-A.acc_depriciation)			
			,[Status] = A.asset_status 
			,[Dep. Per] = A.depre_pct 						
			,[Accumulated Depreciation_For Last Year] = dbo.showdecimal(isnull(ly.accDepTillLastYr,0))
			,[Accumulated Depreciation_This Year]=dbo.showdecimal(isnull(ty.accDepThisYr,0))
			,[Accumulated Depreciation_Till Date]=dbo.showdecimal(isnull(td.accDepTillDate,0))
			
	FROM ASSET_INVENTORY A WITH(NOLOCK)
	INNER JOIN ASSET_PRODUCT AP WITH(NOLOCK) ON A.product_id=AP.ID
	inner join ASSET_ITEM c on c.id=AP.item_id 
	inner join ASSET_ITEM f on c.parent_Id = f.id
	left join Branches b on b.branch_id=A.branch_id
	LEFT JOIN Departments D ON D.DEPARTMENT_ID=A.dept_id
	LEFT JOIN Employee E ON E.EMPLOYEE_ID=A.asset_holder 
	LEFT JOIN Customer cust on cust.ID=a.VendorId
	left join 
	(
		select 
				 asset_id = op.asset_id
				,accDepTillLastYr = op.acc_dep  
			from asset_opening_balance op with(nolock)
			where op.fiscal_year = @fy and op.asset_id=@assetId 
	)ly on a.id = ly.asset_id
	left join
	(
		
			select 
				 asset_id
				,accDepThisYr= sum(ds.dep_value)  
			from depreciation_status ds with(nolock) 
		where ds.fiscal_year = @fy AND asset_id=@assetId group by ds.asset_id
	)ty on a.id =ty.asset_id
	left join
	(
		
		select ds.asset_id,
		accDepTillDate = sum(ds.dep_value)  from depreciation_status ds with(nolock) 
		where ds.fiscal_year < @fy AND ds.asset_id=@assetId 
		group by ds.asset_id
	)td on a.id = td.asset_id
	where asset_status='Active' and  asset_type is null and a.id=@assetId

----transfer
	select 
		 [SN]=ROW_NUMBER()over (order by sub.created_date desc )
		,[Date]=sub.created_date
		,[From]=RTRIM(dbo.GetBranchName(sub.from_branch))+' | '+dbo.GetDeptName(sub.from_dept)
		,[To]=RTRIM(dbo.GetBranchName(sub.to_branch))+' | '+dbo.GetDeptName(sub.to_dept)
	from ASSET_INVENTORY A with(nolock) 
	inner join asset_transfer_History sub on a.id=sub.asset_id
	left join Branches b on b.branch_id=A.branch_id
	LEFT JOIN Departments D ON D.DEPARTMENT_ID=A.dept_id
	where a.id=@assetId	

----writeoff
	select
		[SN]=ROW_NUMBER()over (order by a.asset_number asc ),
		[Old Assest No.]=a.asset_number,
		[Date]=sub.created_date,
		[Disposal Amount]=sub.Scrap_Value,
		[Book Value]=sub.book_value,
		[Net Profit_Loss]=sub.Net_Profit_Loss

	from ASSET_WRITEOF_HISTORY sub with(nolock) 
	inner join asset_inventory a with(nolock) on sub.asset_id = a.id
	INNER JOIN ASSET_PRODUCT AP WITH(NOLOCK) on a.product_id = AP.ID
	inner join ASSET_ITEM c with(nolock) on c.id = AP.item_id 
	inner join dbo.Branches b with(nolock) on b.branch_id = a.branch_id		
	where a.id=@assetId		

----maintance
	select 
	     [SN]=ROW_NUMBER()over (order by sub.created_date desc )	 
		,[Description]	=sub.narration
		,[Date]			=sub.created_date
		,[Value]		=sub.expense_amt 
	from ASSET_MAINTENANCE_HISTORY sub with(nolock) 
	inner join asset_inventory a with(nolock) on sub.asset_id = a.id
	INNER JOIN ASSET_PRODUCT AP WITH(NOLOCK) on a.product_id = AP.ID
	inner join ASSET_ITEM c with(nolock) on c.id = AP.item_id 
	inner join dbo.Branches b with(nolock) on b.branch_id = a.branch_id
	where a.id=@assetId	

----capatalization
	select
		 [SN]=ROW_NUMBER()over (order by sub.Created_date desc )	 
		,[Description]=sub.narration	
		,[Date]=sub.Created_date			
		,[Value]=sub.Capitalization_amt	
	from ASSET_CAPITALIZATION_TEMP sub with(nolock) 
	inner join asset_inventory a with(nolock) on sub.asset_id = a.id
	INNER JOIN ASSET_PRODUCT AP WITH(NOLOCK) on a.product_id = AP.ID
	inner join ASSET_ITEM c with(nolock) on c.id = AP.item_id 
	inner join dbo.Branches b with(nolock) on b.branch_id = a.branch_id	
	where a.id=@assetId

-----deperation
	select 	
		 [SN]=ROW_NUMBER()over (order by run_month asc )	
		,[Till Date]=dbo.showdecimal(acc_dep)
		,[Year]=ds.fiscal_year
		,[Month]=ds.run_month
		,[Book Value]=dbo.showdecimal(ds.dep_value) 
	from asset_opening_balance op
	inner join depreciation_status ds on ds.asset_id=op.asset_id
	where op.asset_id=@assetId



END
GO
