USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_datewiseMonthlyReport]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
Exec [proc_datewiseMonthlyReport] @flag='A',@BRANCH_ID='20',@FROM_DATE='09/30/2011',@TO_DATE='12/01/2012'
Exec [proc_datewiseMonthlyReport] @flag='B',@BRANCH_ID='1',@FROM_DATE='09/30/2012',@TO_DATE='10/01/2012'
Exec [proc_datewiseMonthlyReport] @flag='C',@BRANCH_ID='1',@FY='69-70',@FROM_DATE='09/30/2012',@TO_DATE='10/01/2012'
Exec proc_datewiseMonthlyReport @flag='D',@userName=null,@userType='admin'
*/
CREATE PROC [dbo].[proc_datewiseMonthlyReport]
	@flag varchar(1),
	@BRANCH_ID varchar(20)=null,
	@FROM_DATE varchar(20)=null,
	@TO_DATE varchar(20)=null,
	@FY	VARCHAR(20)=NULL,
	@PRODUCT_ID	INT =NULL,
	@userName varchar(200) =null,
	@userType varchar(100) =null
AS
IF @flag='A'
BEGIN	
	SELECT ROW_NUMBER()OVER(ORDER BY [TRAN TYPE]) [S.N.],* FROM 
	(
		SELECT B.transitAc [LEDGER HEAD],SUM(s_amt) [DR AMOUNT] ,'0' [CR AMOUNT],'DR' [TRAN TYPE],'STOCK IN TRANSIT' [NARRATION] 
		FROM IN_SALES A WITH(NOLOCK) INNER JOIN Branches B WITH(NOLOCK) ON A.from_branch=B.BRANCH_ID
		WHERE from_branch=@BRANCH_ID AND to_branch<>@BRANCH_ID AND entered_date BETWEEN @FROM_DATE AND @TO_DATE+' 23:59:59'
		GROUP BY  from_branch,B.transitAc
		
		UNION ALL
		
		SELECT B.stockAc,'0' DR_AMOUNT,SUM(s_amt) Amount,'CR' DRTYPE,ltrim(rtrim(dbo.GetBranchName(from_branch)))+'- STOCK'  [NARRATION] 
		FROM IN_SALES A WITH(NOLOCK) INNER JOIN Branches B WITH(NOLOCK) ON A.from_branch=B.BRANCH_ID
		WHERE from_branch=@BRANCH_ID AND entered_date BETWEEN @FROM_DATE AND @TO_DATE+' 23:59:59'
		GROUP BY from_branch,B.stockAc
		
		UNION ALL
		
		SELECT B.expensesAc,SUM(s_amt) Amount,'0' CR_AMOUNT,'DR' DRTYPE ,ltrim(rtrim(dbo.GetBranchName(from_branch)))+'- EXPENSES'
		FROM IN_SALES  A WITH(NOLOCK) INNER JOIN Branches B WITH(NOLOCK) ON A.from_branch=B.BRANCH_ID
		WHERE from_branch=@BRANCH_ID AND to_branch=@BRANCH_ID AND entered_date BETWEEN @FROM_DATE AND @TO_DATE+' 23:59:59'
		GROUP BY from_branch,B.expensesAc
		
		UNION ALL
		
		SELECT B.stockAc,SUM(p_rate*p_qty) Amount,'0' CR_AMOUNT,'DR' DRTYPE ,dbo.GetBranchName(A.branch_id)+' -STOCK'
		FROM IN_PURCHASE A WITH(NOLOCK) 
		INNER JOIN Branches B WITH(NOLOCK) ON A.branch_id=B.BRANCH_ID
		INNER JOIN IN_Requisition_Message C WITH(NOLOCK) ON C.id=A.req_id
		WHERE A.branch_id<>@BRANCH_ID  AND C.Forwarded_To=@BRANCH_ID
		AND entered_date BETWEEN @FROM_DATE AND @TO_DATE+' 23:59:59'
		GROUP BY A.branch_id,B.stockAc
		
		UNION ALL
		
		SELECT  B.transitAc ,'0' DR_AMOUNT,isnull(SUM(p_rate*p_qty),0) Amount,'CR' DRTYPE ,'STOCK IN TRANSIT' [NARRATION] 
		FROM IN_PURCHASE  A WITH(NOLOCK) INNER JOIN Branches B WITH(NOLOCK) ON A.branch_id=B.BRANCH_ID
		INNER JOIN IN_Requisition_Message C WITH(NOLOCK) ON C.id=A.req_id
		WHERE A.branch_id<>@BRANCH_ID AND C.Forwarded_To=@BRANCH_ID
		AND entered_date BETWEEN @FROM_DATE AND @TO_DATE+' 23:59:59'
		GROUP BY B.transitAc
		
	)A 
	
END

IF @flag='B'
BEGIN	
			SELECT	
					 ROW_NUMBER() OVER(ORDER BY to_branch) [S.N.] 
					,dbo.GetBranchName(a.to_branch) [BRANCH NAME]
					,sum(isnull(a.InTransitAmount,0)) AMOUNT 
			FROM 
			(
				SELECT
						to_branch
					   ,SUM(dispatched_qty*Rate) InTransitAmount 
				FROM IN_DISPATCH a with(nolock) inner join
				(
					select branch_id from Branches where isnull(isDirectExp,'N')='N'
				)b on a.to_branch=b.BRANCH_ID
				WHERE dispatched_date BETWEEN @FROM_DATE AND @TO_DATE+' 23:59:59'
				AND from_branch<>to_branch
				AND to_branch = ISNULL(@BRANCH_ID,to_branch)
				GROUP BY to_branch
			
				UNION ALL
			
				SELECT
						to_branch
					   ,SUM(dispatched_qty*Rate)*-1 InTransitAmount 
				FROM IN_DISPATCH a with(nolock) inner join
				(
					select branch_id from Branches WITH(NOLOCK) where isnull(isDirectExp,'N')='N'
				)b on a.to_branch=b.BRANCH_ID
				WHERE received_date BETWEEN @FROM_DATE AND @TO_DATE+' 23:59:59' 
				AND from_branch<>to_branch
				AND to_branch = ISNULL(@BRANCH_ID,to_branch)
				GROUP BY to_branch
				
			)a  group by to_branch
	
END

IF @flag='C'
BEGIN

		---Year START Date
	SELECT 
		@FROM_DATE = EN_YEAR_START_DATE 
	FROM FiscalYear 
	WHERE FISCAL_YEAR_NEPALI=@FY

	---Year END Date
	SELECT 
		@TO_DATE	= EN_YEAR_END_DATE 
	FROM FiscalYear 
	WHERE FISCAL_YEAR_NEPALI=@FY
	
	
	SELECT A.id [PROD CODE],A.porduct_code[PRODUCT NAME],A.package_unit [PCK UNIT],
	ISNULL(B.QTY,0) PQTY,
	ISNULL(B.RATE,0) PRATE,
	ISNULL(B.AMOUNT,0) PAMOUNT,
	ISNULL(C.QTY,0) BQTY,
	ISNULL(C.RATE,0) BRATE,
	ISNULL(C.AMOUNT,0) BAMOUNT,
	ISNULL(C.QTY,0)-ISNULL(B.QTY,0) DQTY,
	ISNULL(C.RATE,0)-ISNULL(B.RATE,0) DRATE,
	ISNULL(C.AMOUNT,0)-ISNULL(B.AMOUNT,0) DAMOUNT
	FROM 
	(
		SELECT * FROM IN_PRODUCT WHERE id = ISNULL(@PRODUCT_ID,id)
	)A
	LEFT JOIN
	(
		SELECT prod_code,SUM(P_QTY) QTY,SUM(P_QTY*P_RATE)/SUM(P_QTY) RATE,SUM(P_QTY*P_RATE) AMOUNT 
		FROM IN_PURCHASE WHERE entered_date BETWEEN @FROM_DATE AND @TO_DATE
		AND prod_code = ISNULL(@PRODUCT_ID,prod_code) and order_msg_id is not null
		GROUP BY prod_code
	)B ON A.id=B.prod_code
	LEFT JOIN
	(
		SELECT PRODUCT_ID,SUM(BUDGET_QTY) QTY,SUM(BUDGET_QTY*RATE)/SUM(BUDGET_QTY) RATE,SUM(BUDGET_QTY*RATE) AMOUNT 
		FROM IN_BUDGET 
		WHERE FY=@FY AND BRANCH_ID=@BRANCH_ID 
		AND PRODUCT_ID = ISNULL(@PRODUCT_ID,PRODUCT_ID)
		GROUP BY PRODUCT_ID
		
	)C ON A.id=C.PRODUCT_ID

	--select * from IN_PURCHASE
END

IF @flag='D'
BEGIN
		DECLARE @SQL AS VARCHAR(MAX)
		
		SET @SQL='SELECT ROW_NUMBER() OVER(ORDER BY [USER NAME]) [S.N.],* FROM 
		(
			SELECT 
			a.UserName [USER NAME],
			LTRIM(RTRIM(dbo.GetEmployeeFullNameOfId(EMPLOYEE_ID))) [EMPLOYEE NAME],
			C.BRANCH_SHORT_NAME [BRANCH CODE],
			LTRIM(RTRIM(dbo.GetBranchName(C.BRANCH_ID))) [BRANCH NAME],
			LTRIM(RTRIM(dbo.GetDeptName(DEPARTMENT_ID))) [DEPARTMENT],
			CASE WHEN a.user_type=''A'' THEN ''All Branch Access'' WHEN user_type=''B'' THEN ''HO & Self Branch Access'' ELSE ''Self Branch Only'' END [USER ACCESS]
			FROM Admins a WITH(NOLOCK) INNER JOIN Employee b WITH(NOLOCK) ON a.Name=b.EMPLOYEE_ID
			INNER JOIN Branches C WITH(NOLOCK) ON C.BRANCH_ID=B.BRANCH_ID
		)X WHERE 1=1'
		
		IF @userName IS NOT NULL
			SET @SQL=@SQL+ ' AND X.[EMPLOYEE NAME] LIKE ''%' + @userName + '%'''
			
		IF @userType IS NOT NULL
			SET @SQL=@SQL+ ' AND X.[USER ACCESS] LIKE ''%' + @userType + '%'''
			
			
		 SET @SQL=@SQL+ ' ORDER BY [BRANCH CODE]'
	
		EXEC(@SQL)
		 
END
GO
