USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[Proc_IndividualMonthlyAttRpt]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*

EXEC Proc_MonthlyIndividualAttendance @flag='i',@year='69-70',@month='05',@emp='1411'

*/

CREATE PROC [dbo].[Proc_IndividualMonthlyAttRpt]
	 @flag	CHAR(1)
	,@emp	INT = NULL
	,@year	VARCHAR(10)=NULL
	,@month	VARCHAR(4)= NULL
	,@date  DATE =NULL
	

AS

IF @flag ='i'
BEGIN

	DECLARE @fromdate VARCHAR(20),@todate VARCHAR(20)
	DECLARE 
		 @ABSENT		VARCHAR(10)
		,@ONTIME		VARCHAR(10)
		,@ONLEAVE		VARCHAR(10)
		,@INTOLERANCE	VARCHAR(10)
		,@LATEIN		VARCHAR(10)
		,@SAT			VARCHAR(10)
	
	SELECT 
		@ABSENT='#FF1635',
		@ONTIME='White', 
		@ONLEAVE='#11C3DB',
		@INTOLERANCE='White',
		@LATEIN='White',
		@SAT='#6493EA'
	
	DECLARE @intStartValue AS INT
	DECLARE @intEndValue AS INT
	DECLARE @intIncremental AS INT

	SELECT @fromdate=DBO.GetMonthStartDateEng(@year,@month), @todate=DBO.GetMonthEndDateEng(@year,@month)

	SET @intStartValue =DAY(@fromdate)
	SET @intEndValue =DATEDIFF(dd,@fromdate,@todate)
	
	IF OBJECT_ID('tempdb..#REPORT') IS NOT NULL
	DROP TABLE #REPORT
	
	IF OBJECT_ID('tempdb..#DATELIST') IS NOT NULL
	DROP TABLE #DATELIST
	
	IF OBJECT_ID('tempdb..#EMPLIST') IS NOT NULL
	DROP TABLE #EMPLIST
	
	CREATE TABLE #EMPLIST
	(
		Emp_id INT,
		emp_name VARCHAR(70) ,
		BRANCH_ID VARCHAR(20),
		JOINED_DATE VARCHAR(20)
	)
	
	CREATE TABLE #REPORT
	(	
		Emp_id INT,
		ATT_DATE DATETIME,
		ATT_DAY VARCHAR(20),
		emp_name VARCHAR(70),
		BRANCH_ID VARCHAR(20),
		CARD_NUMBER VARCHAR(200),
		LOGIN_DATE VARCHAR(20),
		LOGOUT_DATE VARCHAR(20),
		LOGIN_TIME VARCHAR(20),
		LOGOUT_TIME VARCHAR(20),
		ATT_STATUS VARCHAR(20),
		ATT_HOUR VARCHAR(20),
		REASON_IN VARCHAR(500),
		REASON_OUT VARCHAR(500),
		OFFICE_START VARCHAR(8),
		OFFICE_END	VARCHAR(8),
		TOLERANCE	VARCHAR(8),
		JOINED_DATE VARCHAR(20)
	)
	
	CREATE TABLE #DATELIST
	(
		Emp_id INT,
		ATT_DATE DATETIME,
		ATT_DAY VARCHAR(20),
		OFFICE_START VARCHAR(20),
		OFFICE_END VARCHAR(20),
		ATT_STATUS VARCHAR(20)

	)

	------------------ insert into #employee list-------------------

	INSERT INTO #EMPLIST(Emp_id,emp_name,BRANCH_ID,JOINED_DATE)
	SELECT EMPLOYEE_ID, FIRST_NAME + ' ' + MIDDLE_NAME + ' ' + LAST_NAME,BRANCH_ID,JOINED_DATE  FROM Employee
	WHERE EMPLOYEE_ID LIKE ISNULL(@emp,'%')
	AND EMPLOYEE_ID <> '1000' 
	AND EMP_STATUS=458
	
	--select * from #EMPLIST
	------------------------------insert into #datelist----------------------------
	
	SET @intIncremental=0
	WHILE @intIncremental <=  @intEndValue
	BEGIN

		INSERT INTO #DATELIST(ATT_DATE,ATT_DAY,ATT_STATUS,Emp_id)
		SELECT CONVERT(VARCHAR,CAST( DATEADD(dd,@intIncremental,@fromdate) AS DATETIME) ,102) , 
		DATENAME(dw, DATEADD(dd,@intIncremental,@fromdate)),'ABSENT',0
		
		
		SET @intIncremental=@intIncremental+1

		--select * from OfficeTimeSetup
		
	END
	
	-------------------------------Insert into Main report---------------------------------------
	
	INSERT INTO #REPORT(ATT_DATE,ATT_DAY,ATT_STATUS,Emp_id,emp_name,LOGIN_TIME,LOGOUT_TIME,REASON_IN,REASON_OUT,ATT_HOUR,BRANCH_ID,OFFICE_START,OFFICE_END,JOINED_DATE)
	SELECT d.ATT_DATE, d.ATT_DAY, d.ATT_STATUS, r.Emp_id,r.emp_name,'00:00:00','00:00:00',' ',' ','',r.BRANCH_ID,OFFICE_START,OFFICE_END,JOINED_DATE FROM #EMPLIST r,  #DATELIST d 
	

	
	UPDATE #REPORT SET
		ATT_STATUS='PRESENT'
		,LOGIN_TIME=ISNULL(a.[LOGINTIME],'00:00:00')
		,LOGOUT_TIME=ISNULL(a.[LOGOUTTIME],'00:00:00')
		,REASON_IN=a.ReasonDetailIn
		,REASON_OUT=a.ReasonDetailOut
		,ATT_HOUR=a.TOTALHOURS
		,LOGIN_DATE=A.LOGIN_DATE
		,LOGOUT_DATE=A.LOGOUT_DATE
	FROM #REPORT r, 
	(
		SELECT emp_id
				,CONVERT(DATE,att_date,101) ATT_DATE
				,a.CARD_NUMBER
				,a.login_ip
				,a.logout_ip
				,CONVERT(DATE,login_time,101)  LOGIN_DATE
				,CONVERT(DATE,logout_time,101)	LOGOUT_DATE
				,CAST(CONVERT(TIME,login_time,101) AS VARCHAR(8)) AS [LOGINTIME]
				,CAST(CONVERT(TIME,logout_time,101) AS VARCHAR(8)) AS [LOGOUTTIME]
				,''	  [TOTALHOURS]
				,ISNULL(a.reason_detail_in,'') AS [ReasonDetailIn]
				,ISNULL(a.reason_detail_out,'') AS [ReasonDetailOut]
			FROM 
				(	
					SELECT 
						emp_id,
						att_date,
						a.CARD_NUMBER,
						a.login_ip,
						a.logout_ip,
						CAST(login_time AS DATETIME) login_time,
						CAST(logout_time AS DATETIME) logout_time,
						ISNULL(ard.login_reason,'') reason_detail_in ,
						ISNULL(ard.logout_reason,'') reason_detail_out
					FROM atttendance a LEFT JOIN attendance_reason ard ON A.id = ard.att_id  WHERE emp_id <> '1000'
						 
				) a 
			WHERE dbo.FNADateFormat(login_time,'d') BETWEEN dbo.FNADateFormat(@fromdate,'d') AND dbo.FNADateFormat(@todate,'d')+ ' 23:59'
			
			GROUP BY  emp_id,a.login_time,A.login_time,A.logout_time,a.reason_detail_in,a.reason_detail_out,att_date,a.CARD_NUMBER,a.login_ip,a.logout_ip
			
	)a
	WHERE  a.emp_id=r.Emp_id AND  CONVERT(DATE,r.ATT_DATE,101) = CONVERT(DATE,a.ATT_DATE,101)
	
	UPDATE #REPORT SET
		ATT_STATUS='ON LEAVE'
		,LOGIN_TIME='00:00:00'
		,LOGOUT_TIME='00:00:00'
		,REASON_IN=a.NAME_OF_LEAVE
		,REASON_OUT=''
		,ATT_HOUR='0'
	FROM #REPORT r, 
	(
	
		SELECT REQUESTED_BY	,b.NAME_OF_LEAVE
			,l.APPROVED_FROM, l.APPROVED_TO
		FROM LeaveRequest l	INNER JOIN LeaveTypes b ON l.LEAVE_TYPE_ID=b.id
		WHERE LEAVE_STATUS='Approved' AND APPROVED_DAYS>0.5
	
	)a	WHERE  a.REQUESTED_BY=r.Emp_id AND r.ATT_DATE BETWEEN a.APPROVED_FROM AND a.APPROVED_TO


	 -------------------
	 
	UPDATE #REPORT SET
		ATT_STATUS='ON HALF DAY LEAVE'
		,REASON_IN=a.NAME_OF_LEAVE
	FROM #REPORT r, 
	(
	
		SELECT REQUESTED_BY	,b.NAME_OF_LEAVE
			,l.APPROVED_FROM, l.APPROVED_TO
		FROM LeaveRequest l	INNER JOIN LeaveTypes b ON l.LEAVE_TYPE_ID=b.id
		WHERE LEAVE_STATUS='Approved' AND APPROVED_DAYS=0.5
	
	)a	WHERE  a.REQUESTED_BY=r.Emp_id AND r.ATT_DATE BETWEEN a.APPROVED_FROM AND a.APPROVED_TO
	
	UPDATE #REPORT SET
		ATT_STATUS='ON SITE DUTY'
		,REASON_IN=a.purpose
	FROM #REPORT r, 
	(
	
		SELECT EMPID,purpose
			,l.sitedatefrom, l.sitedateto 
		FROM onsiteDuty l
		
	)a	WHERE  a.EMPID=r.Emp_id AND r.ATT_DATE BETWEEN a.sitedatefrom AND a.sitedateto
	 
	UPDATE #REPORT SET
		ATT_STATUS='ON TRAINING'
		,REASON_IN=a.narration
	FROM #REPORT r, 
	(		
		SELECT P.employeeId,T.plannedStartDate,T.plannedEndDate,T.narration
		FROM trainingParticipation P, training T WHERE P.trainingId=T.ID
	
	)a	WHERE  a.employeeId=r.Emp_id AND r.ATT_DATE BETWEEN a.plannedStartDate AND a.plannedEndDate
	
	-- EXEC ProcMonthlyReport 'i','4/13/2012', '3/25/2013','1','28', '1144'

	UPDATE #REPORT SET
	 ATT_STATUS=CASE WHEN ATT_STATUS='ABSENT' THEN 'HOLIDAY'  ELSE	ATT_STATUS END
	,REASON_IN=CASE WHEN ATT_STATUS='ABSENT' THEN B.TITLE  ELSE	REASON_IN  END
	FROM  #REPORT A	,
	(
		SELECT DATE ATT_DATE,TITLE FROM OfficialCalendar WHERE TYPE='H'
	)B 
	WHERE CONVERT(VARCHAR,A.ATT_DATE,102)=CONVERT(VARCHAR,B.ATT_DATE,102)	 

	UPDATE #REPORT SET ATT_STATUS= 'NOT JOINED'  
	WHERE CAST(ATT_DATE AS DATE)<CAST(JOINED_DATE AS DATE)
		
	UPDATE #REPORT 
		SET OFFICE_START=FROM_TIME, OFFICE_END=TO_TIME,TOLERANCE=toleranceFromTime
	FROM #REPORT r 
	INNER JOIN OfficeTimeSetup ots ON r.ATT_DATE BETWEEN from_date AND to_date
	WHERE r.ATT_DAY<>'friday'
	AND OTS.flag<>'F'

	UPDATE #REPORT 
		SET OFFICE_START=FROM_TIME, OFFICE_END=TO_TIME,TOLERANCE=toleranceFromTime
	FROM #REPORT r 
	INNER JOIN OfficeTimeSetup ots ON r.ATT_DATE BETWEEN from_date AND to_date
	WHERE r.ATT_DAY='friday'
	AND OTS.flag='F'

	UPDATE #REPORT SET ATT_STATUS= CASE WHEN ATT_DAY='SATURDAY' THEN 'SATURDAY' ELSE ATT_STATUS END
	
	
	--select * from #REPORT
	--return;
	
	
	 SELECT	
		CONVERT(VARCHAR,ATT_DATE,107) [Attendence DATE],
		CASE 
		WHEN ATT_STATUS ='ABSENT' 
			THEN '<span style="background-color:'+@absent+'; display:block; padding:2px 3px;">'+LOGIN_TIME+'</span>' 
		WHEN ATT_STATUS = 'SATURDAY'
			THEN '<span style="background-color:'+@SAT+'; display:block; padding:2px 3px;">'+LOGIN_TIME+'</span>'
		WHEN (ATT_STATUS ='ON LEAVE' OR ATT_STATUS='ON TRAINING' OR ATT_STATUS='ON SITE DUTY' OR ATT_STATUS='HOLIDAY' OR ATT_STATUS='NOT JOINED' OR ATT_STATUS='ON HALF DAY LEAVE')
			THEN '<span style="background-color:'+@ONLEAVE+'; display:block; padding:2px 3px;">'+LOGIN_TIME+'</span>'
		WHEN ATT_STATUS='PRESENT' AND LOGIN_TIME<Office_start 
			THEN '<span style="background-color:'+@ONTIME+'; display:block; padding:2px 3px;">'+LOGIN_TIME+'</span>'
		WHEN  ATT_STATUS='PRESENT' AND LOGIN_TIME BETWEEN Office_start AND TOLERANCE
			THEN '<span style="background-color:'+@INTOLERANCE+'; display:block; padding:2px 3px;">'+LOGIN_TIME+'</span>'
		WHEN  ATT_STATUS='PRESENT' AND LOGIN_TIME > TOLERANCE
			THEN '<span style="background-color:'+@LATEIN+'; display:block; padding:2px 3px;">'+LOGIN_TIME+'</span>'
		END [LOGIN TIME],
		CASE 
		WHEN ATT_STATUS ='ABSENT' 
			THEN '<span style="background-color:'+@absent+'; display:block; padding:2px 3px;">'+LOGOUT_TIME+'</span>' 
		WHEN ATT_STATUS = 'SATURDAY'
			THEN '<span style="background-color:'+@SAT+'; display:block; padding:2px 3px;">'+LOGIN_TIME+'</span>'
		WHEN (ATT_STATUS ='ON LEAVE' OR ATT_STATUS='ON TRAINING' OR ATT_STATUS='ON SITE DUTY' OR ATT_STATUS='HOLIDAY' OR ATT_STATUS='NOT JOINED' OR ATT_STATUS='ON HALF DAY LEAVE')
			THEN '<span style="background-color:'+@ONLEAVE+'; display:block; padding:2px 3px;">'+LOGOUT_TIME+'</span>'
		WHEN ATT_STATUS='PRESENT' AND LOGOUT_TIME='00:00:00'
			THEN '<span style="background-color:'+@absent+'; display:block; padding:2px 3px;">'+LOGOUT_TIME+'</span>' 
		WHEN ATT_STATUS='PRESENT' AND LOGOUT_TIME>office_end
			THEN '<span style="background-color:'+@ONTIME+'; display:block; padding:2px 3px;">'+LOGOUT_TIME+'</span>'
		WHEN  ATT_STATUS='PRESENT' AND LOGOUT_TIME < office_end
			THEN '<span style="background-color:'+@LATEIN+'; display:block; padding:2px 3px;">'+LOGOUT_TIME+'</span>'
		END [Logout TIME],
		ATT_STATUS [Status]
	 FROM #REPORT tr 
	 INNER JOIN Employee e ON e.EMPLOYEE_ID=tr.Emp_id
	 INNER JOIN Branches b ON b.BRANCH_ID=e.BRANCH_ID
	 ORDER BY ATT_DATE

	 SELECT ATT_STATUS [Status], COUNT(Att_Status) [Status COUNT] FROM #REPORT
	 GROUP BY ATT_STATUS

	 UNION ALL

	 SELECT 'PENDING ATTENDANCE' [Status], COUNT(LOGOUT_TIME) [Status COUNT] 
	 FROM #report 
	 WHERE ATT_STATUS='PRESENT'
	 AND LOGOUT_TIME='00:00:00'
	 GROUP BY ATT_STATUS,LOGOUT_TIME

END

IF @flag='a'
BEGIN
		SELECT 
		 [TIME]=CAST(a.ATN_HOUR AS VARCHAR(10))+':'+CAST(a.ATN_MINUTE AS VARCHAR(10))+':'+CAST(a.ATN_SECOND AS VARCHAR(10))
		,[Address] = a.DEVICE_ADDRESS
		FROM AID_ATN_DEVICE_DATA a
		INNER JOIN
		Employee e ON e.CARD_NUMBER COLLATE DATABASE_DEFAULT  =a.CARD_NUMBER  COLLATE DATABASE_DEFAULT
		WHERE   e.EMPLOYEE_ID=@emp AND CONVERT(VARCHAR,ATTENDANCE_DATE,101)  =CONVERT(VARCHAR,@date,101)
		
		SELECT Name=dbo.GetEmployeeFullNameOfId(@emp)
			,Branch = dbo.GetBranchName(BRANCH_ID)
			,Department = dbo.GetDeptName(DEPARTMENT_ID) 
		FROM Employee 
		WHERE EMPLOYEE_ID=@emp
END
GO
