USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[Proc_AssetGatepassIn]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
exec Proc_AssetGatepassIn 'i',1070,'1,2',1,'5/5/2010' ,'returned successfully'
*/
CREATE procedure [dbo].[Proc_AssetGatepassIn]
				@flag			char(1),
				@user			varchar(50),
				@id				varchar(100),
				@getpass_id		varchar(50)=null,
				@return_date	varchar(10),
				@inmessage		varchar(500)
As
set nocount on;				
if(@flag ='i')
begin
	declare @sql as varchar(8000)

	insert into Asset_Getpass_In_Message (Get_Pass_Message_Id, Return_Date, In_Message, created_by, created_date, Acknowledged_By)
			values (@getpass_id, @return_date, @inmessage, @user, GETDATE(), @user)
						
	set @getpass_id = SCOPE_IDENTITY()
	 			
	set @sql='update Asset_Get_Pass set Get_pass_In_messageid = '+ @getpass_id +', in_out = ''i'' where Id in(' + @Id + ')'
	print @sql
	exec(@sql)
	--select * from Asset_Get_Pass		
	update ASSET_INVENTORY set in_out = 'i' where id in( select asset_id from Asset_Get_Pass where Get_pass_message_id=@getpass_id)
end
GO
