USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[PROC_TadaRpt]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Exec PROC_TadaRpt @empId=null,@branchId=null,@deptId=null,@destination=null,@reasonTravel=null,@status=null,@reimstatus=null,@fromdate='2011-04-15',@todate='2012-09-15'

CREATE PROCEDURE [dbo].[PROC_TadaRpt]
@empId int				= null,
@branchId int			=null,
@deptId int				=null,
@destination int		=null,
@reasonTravel int		=null,
@status varchar(50)		=null,
@reimstatus varchar(50) =null,
@fromdate date,
@todate date

as
begin

	if @reimstatus='Pending'
	BEGIN
		set @status='Verified'
	END	

	select
		ROW_NUMBER() over (order by a.id) [SNo], 
		a.id,a.employee_name Name,reason_for_travel [Travel Reason],Travelled_From [Travelled From],
		Travelled_To [Travelled To],destination_country [Destination Country],destination_city [Destination City],
		Advance_Taken [Advance Taken],
		case when b.tadaId is null and a.tada_status='Pending' then 'Tada Requested'
			 When b.tadaId is null and a.tada_status='Approved' then 'Tada Approved'
			 When b.tadaId is null and a.tada_status='Verified' then 'Tada Verified'
			 when b.tadaId is not null and b.status_tr='Pending' then 'Reimbursement Requested'
			 When b.tadaId is not null and b.status_tr='Approved' then 'Reimbursement Approved'
			 When b.tadaId is not null and b.status_tr='Verified' then 'Reimbursement Verified' end as 'Reimbursement Status'
	from
	(
		select 
			tada.id,
			dbo.GetEmployeeFullNameOfId(tada.emp_id)as employee_name,
			dbo.getdetailtitle(tada.reason_for_travel)as reason_for_travel,
			CONVERT(VARCHAR,TADA.duration_from,107) as Travelled_From,
			CONVERT(VARCHAR,TADA.duration_to,107) as Travelled_To,
			dbo.getdetailtitle(tada.destination_country) as destination_country,
			tada.destination_city as destination_city,
			tada.cashadvance as Advance_Taken,tada_status
		from tada
		where emp_id =ISNULL(@empId,emp_id)
		and branch_id=ISNULL(@branchId,branch_id)
		and department_id=ISNULL(@deptId,department_id)
		and destination_country=ISNULL(@destination,destination_country)
		and reason_for_travel=ISNULL(@reasonTravel,reason_for_travel)
		and tada_status=ISNULL(@status,tada_status)
		and duration_from between ISNULL(@fromdate,duration_from) and ISNULL(@todate ,duration_to)
		and duration_to between ISNULL(@fromdate,duration_from) and ISNULL(@todate,duration_to)
	) a
	left join
	(
	select distinct tadaId,status_tr from tadaReimbersement where isdelete='N' and status_tr= isnull(@reimstatus,status_tr) 
	)b on a.id = b.tadaId

end
GO
