USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[Proc_DashainAllowance]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Exec Proc_DashainAllowance

CREATE Proc [dbo].[Proc_DashainAllowance]

AS

Declare @todate date,@yearstartdate date,@yearendDate date

select @yearstartdate=EN_YEAR_START_DATE,@yearendDate=EN_YEAR_END_DATE from FiscalYear where isnull(Flag,0)=1

Select @todate=DATEADD(D,-1,Date) from OfficialCalendar where TITLE='Ghatasthapana'
And DATE between @yearstartdate AND @yearendDate

IF OBJECT_ID('tempdb..#TempTable') IS NOT NULL
		DROP TABLE #TempTable
		
		
		CREATE TABLE #TempTable
		(
			EMPLOYEE_ID			INT				NULL,
			Name				Varchar(200)	NUll,
			JOINED_DATE			Varchar(50)		NULL,
			Years				Float			NULL,
			Months				Float			NULL,
			Sdays				Float			NULL,
			TMonths				FLOAT			NULL,
			Tdays				FLOAT			NULL,
			Day_till_Dashain	Float			NULL,
			Basic				Money			NULL,
			Allowance			MONEY			NULL,
			Salary				MOney			NULL,
			Amount				Money			NULL				
		) 	

Insert into #TempTable(EMPLOYEE_ID,Name,JOINED_DATE,Years,Months,Sdays,TMonths,Tdays,Day_till_Dashain,Basic,Allowance,Salary,Amount)

Select
	 EMPLOYEE_ID
	,rtrim(dbo.GetEmployeeFullNameOfId(EMPLOYEE_ID)) Name
	,convert(varchar,JOINED_DATE ,107) [APPOINTMENT DATE]
	,Datediff(YYYY,JOINED_DATE,ISNULL(@todate,GETDATE())) years
	,DATEPART(MM,@todate)-DATEPART(MM,JOINED_DATE) months
	,DATEPART(DD,@todate)-DATEPART(DD,JOINED_DATE) Sdays
	,round((Cast((Datediff(YYYY,JOINED_DATE,ISNULL(@todate,GETDATE())))as float)*12)+(cast(DATEPART(MM,@todate)as float)-cast(DATEPART(MM,JOINED_DATE) as float))+((cast(DATEPART(DD,@todate) as float)-cast(DATEPART(DD,JOINED_DATE)as float))/12),2) Tmonths
	,0,0,0,0,0,0
 from Employee
 where EMPLOYEE_ID <>1000
 AND JOINED_DATE is not null
 AND EMP_TYPE not in (188,189,519)
 And EMP_STATUS=458

 Update #TempTable set Tdays= DATEDIFF(DD,JOINED_DATE,@todate)+1, Day_till_Dashain=DATEDIFF(DD,@yearstartdate,@todate)+1

 update #TempTable set Basic=x.amount from #TempTable T
 Inner join 
 (
 select EMPLOYEE_ID,Sum(AMOUNT) amount 
 from payable P
 Inner join StaticDataDetail Sdd on P.BENEFIT_ID=sdd.rowid
 Where is_Active='Y'
 AND (BENEFIT_ID in (select Distinct payableHead from salarySetDetails)
 OR BENEFIT_ID=1768)
 AND TYPE_ID=36
 Group by EMPLOYEE_ID
 )x on T.EMPLOYEE_ID=x.EMPLOYEE_ID

 update #TempTable set Allowance=isnull(x.amount,0) from #TempTable T
 Inner join 
 (
 select EMPLOYEE_ID,Sum(isnull(AMOUNT,0)) amount 
 from payable P
 Inner join StaticDataDetail Sdd on P.BENEFIT_ID=sdd.rowid
 Where is_Active='Y'
 AND (BENEFIT_ID in (select Distinct payableHead from salarySetDetails))
 AND TYPE_ID=38
 Group by EMPLOYEE_ID
 )x on T.EMPLOYEE_ID=x.EMPLOYEE_ID

 update #TempTable set Salary=Isnull(Basic,0)+Isnull(Allowance,0)

 update #TempTable set Amount=Salary 
 Where TMonths>=3

 update #TempTable set Amount=Round((x.amount/Day_till_Dashain)*Tdays,2) 
 from #TempTable T
 Inner join 
 (
 select EMPLOYEE_ID,Sum(AMOUNT) amount from payable 
 Where is_Active='Y'
 AND BENEFIT_ID in (select Distinct payableHead from salarySetDetails)
 Group by EMPLOYEE_ID
 )x on T.EMPLOYEE_ID=x.EMPLOYEE_ID
 Where T.TMonths<3


 Select * from #TempTable
 where Years>1
 Order by TMonths
GO
