USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procTaskReport]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec procTaskReport 12
--exec procTaskReport
create PROCEDURE [dbo].[procTaskReport] 
	--@Task_Id int
	AS
	SET NOCOUNT ON;
	BEGIN
	--at.FIRST_NAME + ' ' + at.MIDDLE_NAME + ' ' + at.LAST_NAME AS ASSIGNTO
SELECT  ab.Name AS ASSIGNBY, rt.Name AS REPORTTO, t.TASK_ID, t.START_DATE, t.END_DATE, t.CATEGORY, t.PRIORITY, 
CASE WHEN t.COMPLETED='0' THEN 'No' WHEN t.COMPLETED='1' THEN 'Yes' end 'COMPLETED', t.TITLE, dbo.Projects.PROJECT_TITLE
AS PROJECT_ID, AGT.TASK_ID AS GROUP_TASK_ID, AGT.FNAME AS ASSIGNTO
           
FROM dbo.Tasks AS t INNER JOIN dbo.Admins AS ab ON t.ASSIGNED_BY = ab.UserName left outer JOIN
dbo.Admins AS at ON t.ASSIGNED_TO = at.UserName INNER JOIN dbo.Admins AS rt ON t.REPORT_TO = rt.UserName left outer JOIN
dbo.Projects ON t.PROJECT_ID = dbo.Projects.PROJECT_ID INNER JOIN dbo.Assigned_Group_Task AS AGT ON T.TASK_ID = AGT.TASK_ID
END
GO
