USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[ProcLeaveDetailedDatewise]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Exec [ProcLeaveSummaryReport] 'i','6','1','1001','2009-12-18','2010-12-18'
--EXEC ProcLeaveSummaryReport 'a', @empID='1047',@datefrom='11/1/2010',@dateto='11/29/2010'
--EXEC [ProcLeaveDetailedDatewise] @flag='i',@fromDate='2012-01-02',@ToDate='2012-05-05'
CREATE proc [dbo].[ProcLeaveDetailedDatewise]
	@flag char(1),	
	@fromDate varchar(20)=null,
	@ToDate varchar(20)=null,
	@emp_id int=null
AS
set nocount on;
declare @SQL as varchar(7000)


set @ToDate=@ToDate +' 23:59'


if @flag='i'
BEGIN 

			SELECT ROW_NUMBER() OVER(ORDER BY A.ID) [S.N.] ,A.[EMPLOYEE NAME] [Employee Name],A.[LEAVE NAME] [Leave Name],
				CONVERT(VARCHAR,A.APPROVED_FROM,107) [From Date],CONVERT(VARCHAR,A.APPROVED_TO,107) [To Date],A.APPROVED_DAYS [Approved Days],
				RECOMMENDED_BY [Recommended By],A.APPROVED_BY [Approved By],LEAVE_STATUS [Status] FROM 
				(
					SELECT A.ID,REQUESTED_BY,dbo.GetEmployeeFullNameOfId(REQUESTED_BY) [EMPLOYEE NAME],B.NAME_OF_LEAVE [LEAVE NAME],
					A.APPROVED_FROM,A.APPROVED_TO,APPROVED_DAYS,dbo.GetEmployeeFullNameOfId(REQUESTED_WITH) RECOMMENDED_BY,LEAVE_STATUS,
					dbo.GetEmployeeFullNameOfId(APPROVED_BY) APPROVED_BY,FROM_DATE,TO_DATE
					from LeaveRequest A INNER JOIN LeaveTypes B ON A.LEAVE_TYPE_ID=B.ID
				)A
					 
				WHERE A.REQUESTED_BY = ISNULL(@EMP_ID,A.REQUESTED_BY) and A.FROM_DATE BETWEEN @fromDate AND @ToDate
				ORDER BY A.ID asc

END
GO
