
/****** Object:  StoredProcedure [dbo].[PROC_MAIL_SEND]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec [PROC_MAIL_SEND] @recipient='dipesh@swifttech.com.np',@subject_text='test',@msg_text='test message'
CREATE Proc [dbo].[PROC_MAIL_SEND]
@recipient varchar(MAX)=null,
@subject_text varchar(500)=null,
@msg_text varchar(MAX)=null

AS
begin

		---Sending E-Mail Notification
	if @recipient is null or @recipient=''
		set @recipient='janardan@swifttech.com.np'		

		EXEC msdb.dbo.sp_send_dbmail @profile_name='SwiftAutoMail',@recipients=@recipient,
				@subject=@subject_text,@body=@msg_text


end
GO
