USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[ProcMonthlyPayrollReport]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- exec [ProcMonthlyPayrollReport] 'a',null,null,null,'67-68','7'
create proc [dbo].[ProcMonthlyPayrollReport]
	@flag varchar(10)=null,
	@brach varchar(20)=null,
	@dept varchar(20)=null,
	@empid varchar(20) =null,
	@year varchar(100)=null,
	@month varchar(20)=null
as

set nocount on;

if @flag = 'a'
begin
	declare @monthStartDate as date,@monthEndDate as date
	SET @monthStartDate=dbo.GetMonthStartDateEng(@year,@month) 
	SET @monthEndDate=dbo.GetMonthEndDateEng(@year,@month)


	SELECT ROW_NUMBER() OVER(order by A.[Staff ID] asc) as [S.N.] ,A.[Staff ID],A.Emp_Name as [Staff Name],
			round(A.Basic_Salary,2) as [Basic Salary],round(isnull(Z.[General Allowance],0),2) as [General Allowance],
			round(isnull(Z.CONTRACT,0),2) as Contract,round(isnull(Z.Stipend,0),2) as Stipend,round(isnull(Z.[Rice Allowance],0),2) as [Rice Allowance],A.PF_Contribution as [PF],
			round(A.Gross_Salary,2) as [Gross Salary],A.[Total PF],
			A.Tax,CAST(ISNULL(B.[Vehicle Loan],0) AS MONEY) AS [Vechile Loan],
			CAST(ISNULL(C.[Home Loan],0) AS MONEY) AS [Home Loan],A.Advance,
			round(cast(isnull(E.Adhoc_Added_Amt,0) as money)+cast(isnull(D.Adhoc_Deducted_Amt,0) as money),2) as [ADD/DEDUCT],
			--cast(round(isnull(E.Amount,0),2) as money) AS [Add/Deduct on Basic Salary],
			--CAST(round(isnull(F.Amount,0),2) as money) as [Add/Deduct on Allowance],
			A.[Net Salary] as [Net Salary],A.ACCOUNT_NUMBER as [Bank Account] from 
			(
				SELECT e.EMPLOYEE_ID,e.EMP_CODE as [Staff ID],e.FIRST_NAME+' '+MIDDLE_NAME+' '+LAST_NAME as Emp_Name,
					Basic_Salary_Current as Basic_Salary,Grade_Current as Grade,
					Basic_Salary_Current+Grade_Current+Allowance_Current+Contri_This_Month_Employer as Gross_Salary,
					Contri_This_Month_Employer as PF_Contribution,Contri_This_Month_Employer+Contri_This_Month_Employer as [Total PF],
					round(Tax_This_Month,2) as Tax,
					dbo.ShowDecimal(Tax_Collected) as Tax_Collected,Adhoc_Deduction_Current as [Canteen],Advance_Deduction as Advance,
					round((BASIC_SALARY_CURRENT+GRADE_CURRENT+ ALLOWANCE_CURRENT+ADHOC_BENEFITS_THIS_MONTH+CONTRI_THIS_MONTH_EMPLOYER)-
					(CONTRI_THIS_MONTH_EMPLOYER+ CONTRI_CURRENT_EMPLOYEE+TAX_THIS_MONTH+ADHOC_DEDUCTION_CURRENT+LOAN_DEDUCTION+
					ADVANCE_DEDUCTION),2) AS [Net Salary],Loan_Deduction as [Vechile Loan],b.ACCOUNT_NUMBER,t.Branch_Id,t.Dept_Id
					from TaxCalculation t inner join Employee e on e.EMPLOYEE_ID=t.Emp_Id left join BankAccounts b on b.EMPLOYEE_ID=t.Emp_Id
					where FY_ID=@year and Run_Month=@month 
					AND  t.Branch_Id like isnull(@brach ,'%')
					AND t.Dept_Id like isnull(@dept ,'%') 
				)A

			left join 

		(SELECT G.EMPLOYEE_ID,G.[EMPLOYEE NAME],ISNULL(B.BASIC,0) AS BASIC ,ISNULL(A.CONTRACT,0) AS CONTRACT,ISNULL(C.[General Allowance],0)
			AS [General Allowance],ISNULL(D.[Rice Allowance],0) AS [Rice Allowance],ISNULL(E.Stipend,0) AS Stipend FROM 
				(

				SELECT E.EMP_CODE,E.EMPLOYEE_ID,E.FIRST_NAME+' '+E.MIDDLE_NAME+' '+E.LAST_NAME AS [EMPLOYEE NAME],'' AS HEAD,'' AS AMOUNT
				FROM Employee E WHERE EMP_STATUS='458')G

				LEFT JOIN

				(SELECT E.EMPLOYEE_ID,E.FIRST_NAME+' '+E.MIDDLE_NAME+' '+E.LAST_NAME AS [EMPLOYEE NAME],DBO.GetDetailTitle(P.allowance_head) HEAD,isnull(P.AMOUNT,0) CONTRACT
				FROM allowance_history P INNER JOIN Employee E ON E.EMPLOYEE_ID=P.emp_id WHERE P.allowance_head='583' and run_month=@month
				)A ON G.EMPLOYEE_ID=A.EMPLOYEE_ID

				LEFT JOIN

				(SELECT E.EMPLOYEE_ID,E.FIRST_NAME+' '+E.MIDDLE_NAME+' '+E.LAST_NAME AS [EMPLOYEE NAME],DBO.GetDetailTitle(P.allowance_head) HEAD,isnull(P.AMOUNT,0) BASIC
				FROM allowance_history P INNER JOIN Employee E ON E.EMPLOYEE_ID=P.emp_id WHERE P.allowance_head='390'
				and run_month=@month)B ON G.EMPLOYEE_ID=B.EMPLOYEE_ID

				LEFT JOIN
				(SELECT E.EMPLOYEE_ID,E.FIRST_NAME+' '+E.MIDDLE_NAME+' '+E.LAST_NAME AS [EMPLOYEE NAME],DBO.GetDetailTitle(P.allowance_head) HEAD,isnull(P.AMOUNT,0) 
					AS [General Allowance] FROM allowance_history P INNER JOIN Employee E ON E.EMPLOYEE_ID=P.emp_id 
					WHERE P.allowance_head='575' and run_month=@month
					)C 
					ON G.EMPLOYEE_ID=C.EMPLOYEE_ID

				LEFT JOIN
				(SELECT E.EMPLOYEE_ID,E.FIRST_NAME+' '+E.MIDDLE_NAME+' '+E.LAST_NAME AS [EMPLOYEE NAME],DBO.GetDetailTitle(P.allowance_head) HEAD,isnull(P.AMOUNT,0) AS 
					[Rice Allowance] FROM allowance_history P INNER JOIN Employee E ON E.EMPLOYEE_ID=P.emp_id WHERE P.allowance_head='576' and 
					run_month=@month	)D ON G.EMPLOYEE_ID=D.EMPLOYEE_ID

				LEFT JOIN
				(SELECT E.EMPLOYEE_ID,E.FIRST_NAME+' '+E.MIDDLE_NAME+' '+E.LAST_NAME AS [EMPLOYEE NAME],DBO.GetDetailTitle(P.allowance_head) HEAD,isnull(P.AMOUNT,0) [Stipend]
					FROM allowance_history P INNER JOIN Employee E ON E.EMPLOYEE_ID=P.emp_id WHERE P.allowance_head='577'
					and run_month=@month)E	 
				
					ON G.EMPLOYEE_ID=E.EMPLOYEE_ID
					
	)Z on Z.EMPLOYEE_ID=A.EMPLOYEE_ID
	
	LEFT JOIN
		
		(SELECT B.EMPLOYEE_ID,dbo.ShowDecimal(SUM(isnull(paid_amount,0))) AS [Vehicle Loan] FROM loan_collection A WITH (NOLOCK),LOAN B WITH (NOLOCK ), 
		StaticDataDetail C WITH (NOLOCK) WHERE A.loan_id=B.ID
			AND B. LOAN_TYPE=C.ROWID
			AND A.paid_date BETWEEN @monthStartDate AND @monthEndDate	and DETAIL_TITLE='Vehicle Loan'	
		GROUP BY EMPLOYEE_ID,DETAIL_TITLE,LOAN_TYPE	)B on A.EMPLOYEE_ID=B.EMPLOYEE_ID 
				AND  A.Branch_Id like isnull(@brach ,'%')
				AND A.Dept_Id like isnull(@dept ,'%') 
	
		left join 
		
		(SELECT B.EMPLOYEE_ID,dbo.ShowDecimal(SUM(isnull(paid_amount,0))) AS [Home Loan] FROM loan_collection A WITH (NOLOCK),LOAN B WITH (NOLOCK ), 
		StaticDataDetail C WITH (NOLOCK) WHERE A.loan_id=B.ID
			AND B. LOAN_TYPE=C.ROWID
			AND A.paid_date BETWEEN @monthStartDate AND @monthEndDate	and DETAIL_TITLE='Home Loan'	
		GROUP BY EMPLOYEE_ID,DETAIL_TITLE,LOAN_TYPE	)C on A.EMPLOYEE_ID=C.EMPLOYEE_ID 
				AND  A.Branch_Id like isnull(@brach ,'%')
				AND A.Dept_Id like isnull(@dept ,'%') 
	
		LEFT JOIN	
			
		(
		
		SELECT EMPLOYEE_ID , SUM(AMOUNT)*-1 as Adhoc_Deducted_Amt
			FROM AdhocPayment A WITH ( NOLOCK )
			INNER JOIN StaticDataDetail B WITH ( NOLOCK ) ON A.HEAD_ID= B .ROWID
			WHERE APPLIED_DATE BETWEEN @monthStartDate AND @monthEndDate
			AND ADD_DEDUCT = 'D' 
			And isnull(a.IS_PAID,0)=0 group by EMPLOYEE_ID			
			
			) D ON D.EMPLOYEE_ID=A.EMPLOYEE_ID
				AND  A.Branch_Id like isnull(@brach ,'%')
				AND A.Dept_Id like isnull(@dept ,'%') 
			

		left join 
		
		(SELECT EMPLOYEE_ID ,  sum(AMOUNT) AS Adhoc_Added_Amt
			FROM AdhocPayment A WITH ( NOLOCK )
			INNER JOIN StaticDataDetail B WITH ( NOLOCK ) ON A.HEAD_ID= B .ROWID
			WHERE APPLIED_DATE BETWEEN @monthStartDate AND @monthEndDate
			AND ADD_DEDUCT = 'A' 
			And isnull(a.IS_PAID,0)=0 group by EMPLOYEE_ID
			) E ON E.EMPLOYEE_ID=A.EMPLOYEE_ID
				AND  A.Branch_Id like isnull(@brach ,'%')
				AND A.Dept_Id like isnull(@dept ,'%') 
			
  order by A.Emp_Name
	
	
	
			
end
GO
