USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[ProcStockExpensesSummaryRpt]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXEC [ProcStockExpensesSummaryRpt] 'a','2010-01-01','2011-11-02'
CREATE PROC [dbo].[ProcStockExpensesSummaryRpt]
	@flag VARCHAR(10)=NULL,
	@from_date varchar(20)=null,
	@to_date varchar(20)=null

AS

SET NOCOUNT ON;

IF @flag = 'a'
BEGIN

	DECLARE
		 @sql							VARCHAR(MAX)
		,@heading						VARCHAR(MAX)
		,@heading_select				VARCHAR(MAX)
		
	SELECT
		 @heading = ISNULL(@heading + ',', '') + '[' + [headings] + ']'
		,@heading_select = ISNULL(@heading_select + ', ', '') + 'ISNULL([' + [headings] + '], 0) ' + '[' + [headings] + ']'
		
	FROM(
			SELECT item_name [headings] FROM IN_ITEM WHERE id IN(SELECT DISTINCT(parent_id) FROM IN_ITEM WHERE is_product='1')
		
		 ) HEAD

	SET @sql = '
	SELECT Y.BRANCH_NAME AS [Branch Name],' + @heading_select + '
	FROM (
			SELECT * FROM 
			(							
				SELECT 
						x.item_name [headings]
						,b.BRANCH_ID
						,SUM(a.s_qty*a.s_rate) as [Amount]
						FROM IN_SALES a 
						INNER JOIN IN_PRODUCT ap ON a.s_prod_id = ap.id
						INNER JOIN IN_ITEM ai ON ap.item_id = ai.id
						inner join IN_Requisition_Message r on r.id=a.msg_id
						Inner join Branches b on b.BRANCH_ID=r.branch_id
						INNER JOIN 
							(
								SELECT id, item_name 
								FROM IN_ITEM
								WHERE id IN(SELECT DISTINCT parent_id FROM IN_ITEM WHERE is_product = ''1'')					 
							) x ON x.id = ai.parent_id

						WHERE from_branch=to_branch and a.entered_date between '''+@from_date+''' and '''+@to_date+' 23:59:59''
						
						GROUP BY x.id, x.item_name,b.BRANCH_ID
							
			) x 					
			
		) dataList
		PIVOT
		(
			SUM(Amount)
			FOR headings IN(' + @heading+ ')
	) x 
	INNER JOIN 
	(
		SELECT BRANCH_ID,BRANCH_SHORT_NAME,BRANCH_NAME FROM Branches WHERE BRANCH_ID IN 
		(select distinct(from_branch) from IN_SALES) 
	)Y ON x.BRANCH_ID=Y.BRANCH_ID ORDER BY Y.BRANCH_SHORT_NAME'
	
	EXEC(@sql)
		
END
GO
