USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_changesApprovalQueue]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[proc_changesApprovalQueue](
	 @flag				VARCHAR(30)
	,@user				VARCHAR(30)		= NULL
	,@rowId				BIGINT			= NULL
	,@dataId			VARCHAR(30)		= NULL
	,@tableName			VARCHAR(100)	= NULL
	,@identifierField	VARCHAR(100)	= NULL
	,@modType			VARCHAR(6)		= NULL
	,@description		VARCHAR(400)	= NULL
	,@functionId		INT				= NULL
	,@addEditFunctionId INT				= NULL
	,@module			VARCHAR(50)		= NULL
	,@chanageStatus		VARCHAR(50)		= NULL
	,@tableDescription	VARCHAR(50)		= NULL
	,@reasonForRejection VARCHAR(MAX)	= NULL
	,@editLink			VARCHAR(50)		= NULL	
	,@createdBy			VARCHAR(50)		= NULL
	,@createdDate		DATETIME		= NULL
	,@sortBy			VARCHAR(50)		= NULL
	,@sortOrder			VARCHAR(5)		= NULL
	,@pageSize			INT				= NULL
	,@pageNumber		INT				= NULL  
	,@forwarded_to		INT				= NULL
	
)
AS

/*
	@flag
	s	= select all (with dynamic filters)
	i	= insert
	u	= update
	a	= select by id
	d	= delete by id	
	r	= Rejected List	
	
	EXEC proc_changesApprovalQueue  @flag = 'changelog', @user = 'netra', @rowId = '2'
	EXEC proc_changesApprovalQueue  @flag = 'changelog', @user = 'netra', @rowId = '5'
	
*/

SET NOCOUNT ON
BEGIN TRY
	DECLARE
        @sql VARCHAR(MAX)
       ,@oldValue VARCHAR(MAX)
	   ,@newValue VARCHAR(MAX)
		   
	CREATE TABLE #msg(errorCode INT, msg VARCHAR(100), id INT)
	
	IF @flag IN ('s', 'r')
	BEGIN
		DECLARE 
			 @selectFieldList	VARCHAR(MAX)
			,@extraFieldList	VARCHAR(MAX)
			,@table				VARCHAR(MAX)
			,@sqlFilter			VARCHAR(MAX)
			
		IF @sortBy IS NULL 
		BEGIN
			SET @sortBy = 'createdDate'
			SET @sortOrder = 'DESC'
		END
	

		SET @table = '(
						SELECT 
							* 
						FROM changesApprovalQueue WITH(NOLOCK)
						WHERE ISNULL(changeStatus, ''s'') =
					   '
					   + 
					    CASE @flag 
							WHEN 's' THEN  '''s'''
							WHEN 'r' THEN '''r'''
						END
						+
						CASE  @flag
							WHEN 's' THEN ' AND (
										functionId IN (
											SELECT 
												arf.functionId functionId
											FROM applicationRoleFunctions arf WITH(NOLOCK)
												WHERE roleId IN (SELECT roleId FROM applicationUserRoles WHERE userName = ''' + @user + ''')
											UNION
											SELECT
												auf.functionId  functionId
											FROM applicationUserFunctions auf WITH(NOLOCK)
											WHERE userName = ''' + @user + '''
										)
										OR ''Y'' = dbo.FNAIsAdmin(''' + @user + ''')
									)'						
											
							WHEN 'r' THEN 'AND ''Y'' = dbo.FNACreatorOrAdmin(createdBY, ''' + @user + ''')'													
						END
						+
						'
						) x'
	
					
		SET @sqlFilter = ''	
		
		SET @selectFieldList = '
							 rowId, dataId,tableName, tableDescription, modType, description, module
							,functionId, createdBy, createdDate, editLink, reasonForRejection'						
		
		IF @tableDescription IS NOT NULL
			SET @sqlFilter = @sqlFilter + ' AND tableDescription LIKE ''' + @tableDescription + '%'''
		
		IF @modType IS NOT NULL
			SET @sqlFilter = @sqlFilter + ' AND modType LIKE ''' + @modType + '%'''
			
		IF @createdBy IS NOT NULL
			SET @sqlFilter = @sqlFilter + ' AND createdBy LIKE ''' + @createdBy + '%'''
		
		IF @createdDate IS NOT NULL
			SET @sqlFilter = @sqlFilter + ' AND createdDate = ''' + dbo.FNADateFormat(@createdDate, 'd') + ''''
			
		IF @module IS NOT NULL
			SET @sqlFilter = @sqlFilter + ' AND module LIKE ''' + @module + '%'''
		
		
			
		SET @extraFieldList = ', ''''' 
			+ ' + ''<a href ="'' + CASE WHEN tableName = ''operations'' AND tableDescription = ''PF Upload'' THEN ''manageDetail'' ELSE ''manage'' END + ''.aspx?rowId='' + CAST(rowId AS VARCHAR(50)) + ''"><img border = "0" title = "View Changes" src="../../../images/but_view.gif" /></a>'''
			+ ' + CASE 
					WHEN editLink IS NULL THEN ''''
					ELSE ''&nbsp;&nbsp;<a href ="'' + editLink + ''"><img border = "0" title = "Edit" src="../../../images/but_edit.gif" /></a>''
					END
				'		
			+ ' [edit]'
		
 	END
	ELSE IF @flag = 'changelog'
	BEGIN
		DECLARE @tableNameMode VARCHAR(100)		
		SELECT
			 @dataId			= dataId
			,@tableName			= tableName
			,@modType			= modType
			,@identifierField	= identifierField
			,@tableNameMode		= tableName + 'Mod'
			,@createdBy			= createdBy
			,@createdDate		= createdDate
			,@reasonForRejection = reasonForRejection
			,@tableDescription	= tableDescription
		FROM changesApprovalQueue WITH(NOLOCK)
		WHERE rowId = @rowId

		IF @tableName = 'operations'
			SET @tableName = @tableDescription
		
		IF @tableName = 'PF Upload'
		BEGIN
			--select 'EXEC [dbo].proc_GetColumnToRow  ',@tableName, @identifierField, @dataId
			EXEC [dbo].proc_GetColumnToRow  @tableName, @identifierField, @dataId, @newValue OUTPUT
		END
		ELSE
		BEGIN		
			IF @modType = 'insert'
			BEGIN
			    --SELECT 'EXEC [dbo].proc_GetColumnToRow',  @tableName, @identifierField, @dataId--, @newValue OUTPUT		
				EXEC [dbo].proc_GetColumnToRow  @tableName, @identifierField, @dataId, @newValue OUTPUT				
			END	
			IF @modType = 'delete'
			BEGIN
				EXEC [dbo].proc_GetColumnToRow  @tableName, @identifierField, @dataId, @oldValue OUTPUT	
			END
			ELSE IF @modType = 'update'
			BEGIN			
				EXEC [dbo].proc_GetColumnToRow  @tableName, @identifierField, @dataId, @oldValue OUTPUT			
				EXEC [dbo].proc_GetColumnToRow  @tableNameMode, @identifierField, @dataId, @newValue OUTPUT
			END		
		END
			
		SELECT
			 @tableName				tableName			
			,@modType				logType			  
			,@dataId				dataId
			,ISNULL(@oldValue, '')	oldData
			,ISNULL(@newValue, '')	newData
			,@createdBy				createdBy
			,@createdDate			createdDate
			,@reasonForRejection    reasonForRejection
			,@tableDescription		tableDescription
		
	END
	
	ELSE IF @flag IN('approve', 'reject', 'terminate')
	BEGIN	
		SELECT
			 @dataId			= dataId
			,@tableName			= tableName
			,@modType			= modType
			,@identifierField	= identifierField
			,@tableNameMode		= tableName + 'Mod'
			,@createdBy			= createdBy
			,@createdDate		= createdDate
			,@tableDescription	= tableDescription
		FROM changesApprovalQueue WITH(NOLOCK) 
			WHERE rowId = @rowId
			
		--	SELECT
		--	 *
		--FROM changesApprovalQueue WITH(NOLOCK) 
		--	WHERE rowId = @rowId
		
		IF @tableName = 'operations'
			SET @tableName = @tableDescription
			
		IF @dataId IS NULL
		BEGIN
			SELECT 1 errorCode, 'No Approval is pending.' mes, @rowId id	
			RETURN		
		END
				
		IF @tableName = 'PF Upload'
		BEGIN		
			SET @tableName = 'rfUpload'
		END
		ELSE IF @tableName = 'Fund Movement'
		BEGIN		
			SET @tableName = 'fundMovement'
		END
		ELSE IF @tableName = 'Interest Receive'
		BEGIN		
			SET @tableName = 'interestReceive'
		END
		ELSE IF @tableName = 'Interest Distribution'
		BEGIN		
			SET @tableName = 'interestDistribution'
		END
		ELSE IF @tableName = 'Withdrawal'
		BEGIN		
			SET @tableName = 'rfWithdrawal'
		END
		ELSE IF @tableName = 'Retirement'
		BEGIN		
			SET @tableName = 'retirement'
		END
		ELSE IF @tableName = 'Employee Movement'
		BEGIN		
			SET @tableName = 'employeeMovement'
		END
		ELSE IF @tableName = 'applicationUsersUpload'
		BEGIN
			SET @tableName = 'applicationUsers'
		END
		
		--SELECT 
		--@tableName
		--,@flag
		--,@user
		--,@identifierField
		--,@dataId
		--,@rowId
		--,@reasonForRejection
		
		SET @sql = 'EXEC proc_' + @tableName + '		
				    @flag = ''' + @flag + '''
				   ,@user =''' + @user + '''
				   ,@' + @identifierField + ' = ''' + @dataId + '''
				   ,@changesApprovalQueueRowId = ' + CAST(@rowId AS VARCHAR(20)) + '
				   ,@reasonForRejection = ''' + ISNULL(@reasonForRejection, '') + ''''
		
		PRINT @sql	
		EXEC (@sql)		
		
	END
	
	ELSE IF @flag = 'i'
	BEGIN
		DELETE FROM changesApprovalQueue 
			WHERE 
			identifierField = @identifierField
			AND tableName = @tableName
			AND tableDescription = @tableDescription
			AND dataId = @dataId
			AND module = @module
	
		INSERT INTO changesApprovalQueue(
			 dataId
			,tableName
			,identifierField
			,modType			
			,description
			,functionId
			,addEditFunctionId
			,changeStatus
			,tableDescription
			,editLink
			,module	
			,createdDate
			,createdBy	
			,forwarded_to		
			,forwarded_date
		)
		SELECT 	
			 @dataId
			,@tableName
			,@identifierField
			,@modType
			,@description
			,@functionId
			,@addEditFunctionId
			,@chanageStatus
			,@tableDescription
			,@editLink		
			,@module	
			,GETDATE()
			,@user
			,@forwarded_to
			,GETDATE()

		SET @rowId = SCOPE_IDENTITY()			
		
		SELECT 0 errorCode, 'New audit log has been added successfully.' mes, @rowId id	
	END
	ELSE IF @flag = 'd'
	BEGIN
		DELETE FROM changesApprovalQueue WHERE rowId = @rowId
		SELECT 0 errorCode, 'Log has been deleted successfully.' mes, @rowId id		
	END
	ELSE IF @flag = 'delete'
	BEGIN
		DELETE FROM operations WHERE rowId IN (SELECT dataId FROM changesApprovalQueue WHERE rowId = @rowId)
		DELETE FROM changesApprovalQueue WHERE rowId = @rowId
		SELECT 0 errorCode, 'Log has been deleted successfully.' mes, @rowId id		
	END	
	
		
END TRY
BEGIN CATCH
	IF @@TRANCOUNT > 0 
	ROLLBACK TRANSACTION
	SELECT 1 errorCode, ERROR_MESSAGE() mes, @rowId id
END CATCH
GO
