USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procManagemessageBoard]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[procManagemessageBoard]	
	@FLAG VARCHAR(2),
	@MSG_SUBJECT varchar(500),
	@MSG_HEAD VARCHAR(MAX),
	@FORUM varchar(max),
	@USER varchar(20),
	@REPLY_ID INT	
	
AS

IF @FLAG = 'i'
BEGIN
	SET NOCOUNT ON;
		Insert into Message_Board(MSG_SUBJECT,MSG_HEAD,FORUM,CREATED_BY,CREATED_DATE,REPLY_ID)values
		(@MSG_SUBJECT,@MSG_HEAD,@FORUM,@USER,GETDATE(),@REPLY_ID)
END
GO
