USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_Get_monthList_for_payroll]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[proc_Get_monthList_for_payroll]
as
select Month_Number,Name from monthList
GO
