USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procGlobalLeaveSetup]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Exec [procGlobalLeaveSetup] @flag='s',@emp_type='185'
create proc [dbo].[procGlobalLeaveSetup]
	@flag varchar(20),
	@id int=null,
	@emp_type int=null,
	@leave_type int=null,
	@default_days varchar(200)=null,
	@user int	=null
	
as
set nocount on;
if @flag='i'
begin	
	if exists(select * from globalLeaveSetup 
				where emp_typeId=@emp_type and leave_typeId=@leave_type and flag='y')
	begin
		 select 'Already Added!' as msg
		 return;
	end			
	insert into globalLeaveSetup(emp_typeId,leave_typeId,default_days,created_by,created_date,flag)values
	 (@emp_type,@leave_type,@default_days,@user,GETDATE(),'y') 
	 
	 select 'Success!' as msg
end
if @flag='s'
begin	

	select a.id,ROW_NUMBER() over(order by a.id) [S.N.],
	sdd.DETAIL_TITLE [Employee Type],b.NAME_OF_LEAVE [Leave Type],
	a.default_days [Default Days],dbo.GetEmployeeFullNameOfId(a.created_by) [Added By],
	CONVERT(varchar,a.created_date,107) [Added Date]
	from globalLeaveSetup a inner join StaticDataDetail sdd on sdd.ROWID=a.emp_typeId 
				inner join LeaveTypes b on b.ID=a.leave_typeId
	where a.emp_typeId=@emp_type and a.flag='y'
	--select * from globalLeaveSetup

end
GO
