USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[ProcPastExp]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[ProcPastExp]
				@flag char(1),
				@id varchar(10),
				@EMPLOYEE_ID int=null,
				@comp_name varchar(100)=null,
				@location varchar(500)=null,
				@last_designation varchar(100)=null,
				@service_from varchar(50)=null,
				@service_to varchar(10)=null,
				@last_salary varchar(15)=null,
				@remarks varchar(500)=null

as 
	set nocount on;	
	
IF @flag='s'
		BEGIN
			SELECT 
			    EMPLOYEE_ID
			   ,comp_name
               ,location
               ,last_designation
               ,convert(varchar,service_from,101) as service_from
               ,convert(varchar,service_to,101) as service_to
               ,last_salary
               ,remarks							
			FROM Employee_PastExp
			WHERE Id = @id;
		END		

if(@flag='i')
begin
	insert into Employee_PastExp
					(EMPLOYEE_ID,comp_name, location, last_designation, service_from, service_to, last_salary, remarks)
			values (@EMPLOYEE_ID,@comp_name, @location, @last_designation, @service_from, @service_to, @last_salary, @remarks)
end	
if(@flag='u')
begin
	update Employee_PastExp
			set EMPLOYEE_ID=@EMPLOYEE_ID,
			    comp_name = @comp_name,
				location = @location,
				last_designation = @last_designation,
				service_from = @service_from,
				service_to = @service_to,
				last_salary = @last_salary,
				remarks = @remarks
	where Id = @id;
end
if(@flag='d')
begin
	delete 
		from Employee_PastExp
		where Id = @id
	
end
GO
