USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[Proc_GratuityCalculation]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*

 EXEC Proc_GratuityCalculation @GratuityEndDate='2013-09-16',@user='1109'

select dbo.getmonthenddateeng('70-71','05')

 select * from taxcalculation_trial where emp_id=1420

*/


CREATE PROC [dbo].[Proc_GratuityCalculation] 
	 --@Emp_ID			INT			= NULL
	 @GratuityEndDate	DATE		= NULL
	,@user				INT			= NULL	
	,@flag				char(1)		= NULL			
AS

SET NOCOUNT ON;

IF OBJECT_ID('tempdb..#TEMPGratuity') IS NOT NULL
	drop table #TEMPGratuity

CREATE TABLE #TEMPGratuity
(
	 Emp					INT
	,Master_ID				INT
	,GratuityStartDate		DATE
	,GratuityEndDate		DATE
	,maturedYear			INT	
	,maturedMonth			FLOAT
	,maturedDays			FLOAT
	,totalyears				FLOAT
	,unpaidLeave_TilDate	FLOAT
	,unpaidLeaveDays		FLOAT
	,GratuityRate			FLOAT
	,GratuityRateOn			VARCHAR(50)
	,Baseamt				MONEY
	,Gratuity_til_date		MONEY
	,GratuityAmt			MONEY
	,lastCr_Date			Date
)

Insert into #TEMPGratuity (Emp,GratuityStartDate,GratuityEndDate)
SELECT EMPLOYEE_ID,GRATUITY_EFFECTIVE_DATE,@GratuityEndDate FROM Employee WHERE GRATUITY_EFFECTIVE_DATE IS NOT NULL
and EMP_STATUS= 458

	UPDATE #TEMPGratuity 
	SET
		 maturedYear	= Datediff(YYYY,GratuityStartDate,ISNULL(GratuityEndDate,GETDATE()))
		,maturedMonth	= (month(ISNULL(GratuityEndDate,GETDATE()))-month(GratuityStartDate))
		,maturedDays	= (DAY(ISNULL(GratuityEndDate,GETDATE()))-DAY(GratuityStartDate))+1

	--- Get the history from the Master Table

	UPDATE #TEMPGratuity 
	SET
		 unpaidLeave_TilDate=G.Unpaid_leave_Days
		,Gratuity_til_date=G.Gratuity_Till_Date
		,lastCr_Date=G.Cr_Date 
	FROM #TEMPGratuity T INNER JOIN Gratuity_Master  g 
	ON T.Emp=G.EMP_ID

	--- Get value for unpaid Leave from the last Gratuity Calculation date to current Gratuity Calculation Date
	UPDATE #TEMPGratuity 
	SET
		unpaidLeaveDays=APPROVED_DAYS
	FROM  #TEMPGratuity T INNER JOIN
	(
		SELECT
			 REQUESTED_BY
			,SUM(APPROVED_DAYS) APPROVED_DAYS
		FROM LeaveRequest LR INNER JOIN #TEMPGratuity T ON LR.REQUESTED_BY=T.Emp
		WHERE LEAVE_TYPE_ID=8
		AND
		(
			FROM_DATE between lastCr_Date and ISNULL(GratuityEndDate,GETDATE())
			AND TO_DATE between lastCr_Date and ISNULL(GratuityEndDate,GETDATE())
		)
		AND LEAVE_STATUS='APPROVED'
		AND ID NOT IN (SELECT LEAVE_REQUEST_ID FROM leavecallback)
		GROUP BY REQUESTED_BY
	) lR ON lR.REQUESTED_BY=T.Emp

		--select * from #TEMPGratuity

	--- Get Total working Years
	UPDATE #TEMPGratuity 
	SET 
		totalyears=(maturedYear+maturedMonth/12+maturedDays/365)-(ISNULL(unpaidLeaveDays,0)/365)-(ISNULL(unpaidLeave_TilDate,0)/365)

	--- Get Values of rate and the base for the Gratuity calculation
	UPDATE #TEMPGratuity 
	SET 
		GratuityRateOn=Calculate_On 
	FROM GratuityMaster_Setup 

	UPDATE #TEMPGratuity 
	SET 
		 GratuityRate=Rate
	FROM #TEMPGratuity T INNER JOIN GratuitySetup G
	ON totalyears between G.Start_year and G.End_year

	--- Calculate Base Amount
	UPDATE #TEMPGratuity 
	SET Baseamt =AMOUNT FROM #TEMPGratuity T
	iNNER JOIN 
	(
		SELECT EMP, isnull(sum(BASIC),0)+isnull(sum(Grade),0)+isnull(sum(ALLOWANCE),0) AMOUNT
		FROM  #TEMPGratuity T 
		INNER JOIN
		(
			SELECT  
				 EMPLOYEE_ID
				,CASE WHEN ISNULL(SUBSTRING(GratuityRateOn,1,2),0)='36' THEN BASIC		ELSE 0 END BASIC
				,CASE WHEN ISNULL(SUBSTRING(GratuityRateOn,4,2),0)='37' THEN GRADE		ELSE 0 END GRADE
				,CASE WHEN ISNULL(SUBSTRING(GratuityRateOn,7,2),0)='38' THEN ALLOWANCE ELSE 0 END ALLOWANCE
			FROM 
			(
				select 
					 EMPLOYEE_ID
					,CASE WHEN sdd.TYPE_ID=36 THEN round(sum(AMOUNT),2) ELSE 0 END BASIC
					,CASE WHEN sdd.TYPE_ID=37 THEN round(sum(AMOUNT),2) ELSE 0 END GRADE
					,CASE WHEN sdd.TYPE_ID=38 THEN round(sum(AMOUNT),2) ELSE 0 END ALLOWANCE
				from Payable P
				Inner join StaticDataDetail sdd on p.BENEFIT_ID=sdd.ROWID
				INNER JOIN #TEMPGratuity T ON P.EMPLOYEE_ID=T.Emp
				where is_Active='Y'
				Group by sdd.TYPE_ID,EMPLOYEE_ID
			 ) P INNER JOIN #TEMPGratuity T ON P.EMPLOYEE_ID=T.Emp
		)a ON T.Emp=A.EMPLOYEE_ID
		GROUP BY EMP
	) p ON t.Emp=p.Emp

	UPDATE #TEMPGratuity SET GratuityAmt=ROUND(baseAmt*GratuityRate*totalyears,2)-isnull(Gratuity_til_date,0)

/*
--SELECT * FROM #TEMPGratuity where emp in (1081,
--1096,
--1104,
--1109,
--1119,
--1126,
--1133,
--1308,
--1309,
--1311,
--1312,
--1315,
--1320,
--1330)

--rETURN;

	-- Update Gratuity Master Table
	--IF EXISTS(select 'x' from #TEMPGratuity where EMP IN (SELECT EMP_ID FROM Gratuity_Master))
	--BEGIN
	--	Update  Gratuity_Master
	--	Set
	--			GRATUITY_TILL_DATE=G.GRATUITY_TILL_DATE+GratuityAmt
	--			,Cr_Date=ISNULL(@GratuityEndDate,GETDATE())	
	--	FROM Gratuity_Master G INNER JOIN #TEMPGratuity T ON G.EMP_ID=T.Emp
	--	where GratuityAmt <> 0
		
	--END

	--IF EXISTS(select 'x' from #TEMPGratuity where EMP NOT IN (SELECT EMP_ID FROM Gratuity_Master))
	--BEGIN
	
	--	Insert INTO Gratuity_Master
	--	select Emp,GratuityStartDate,isnull(unpaidLeaveDays,0),GratuityAmt,GETDATE()
	--	FROM #TEMPGratuity WHERE EMP NOT IN (SELECT EMP_ID FROM Gratuity_Master)
	--	AND GratuityAmt <> 0

	--END

	--- Insert into History Table
	--INSERT INTO Gratuity_History

	--select * from Gratuity_History
	*/

	--INSERT INTO Gratuity_History
	
	SELECT
		 G.ID,
		 Emp
		,T.GratuityStartDate
		,GratuityEndDate
		,maturedYear
		,maturedMonth
		,maturedDays
		,totalyears
		,isnull(unpaidLeaveDays,0)+unpaidLeave_TilDate
		,GratuityRate
		,GratuityRateOn
		,Baseamt
		,GratuityAmt
		--,@user
		--,GETDATE()
	FROM #TEMPGratuity T LEFT JOIN Gratuity_Master G
	ON T.Emp=G.EMP_ID
	where GratuityAmt <> 0 

	--and EMP_ID=1347 

	--INSERT INTO monthlygratuityprovision(MasterID,Emp_ID,FY_ID,RUN_Month, GratuityAmt,ProvisionAmt,CreatedBy,CreatedDate)
	--SELECT
	--	 g.ID,
	--	 g.Emp_Id
	--	,'70-71'
	--	,'05'
	--	,G.GratuityAmt
	--	,case when G.GratuityAmt-isnull(ProvisionAmt,0)<0 then GratuityAmt else G.GratuityAmt-isnull(ProvisionAmt,0) end
	--	,1000
	--	,GETDATE()
	--FROM Gratuity_History G
	--LEFT JOIN 
	--(
	--	SELECT Emp_Id, Sum(ProvisionAmt) ProvisionAmt
	--	FROM monthlygratuityprovision 
	--	GROUP BY Emp_Id
	--) GH on G.Emp_Id=GH.Emp_Id
	--WHERE G.ID is not null
	--and GratuityEndDate between '2013-08-17' and '2013-09-16'
GO
