USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_relative]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[proc_relative](
		 @flag					VARCHAR(1)
		,@ID         			INT				=   NULL		
		,@EMP_ID				INT				=	NULL
		,@REL_ID				INT				=	NULL
		,@RELATION				VARCHAR(50)		=	NULL
		,@USER					varchar(50)		=	NULL
)
AS 

SET NOCOUNT ON;

	IF @flag='i'
	BEGIN
		
		IF EXISTS(SELECT * FROM EMP_RELATIVE 
		WHERE EMP_ID=@EMP_ID AND RELATIVE_ID=@REL_ID AND STATUS='Y')
		BEGIN
		   SELECT 'ALREADY EXISTS!' AS MSG
		   RETURN;
		END
		
		INSERT INTO EMP_RELATIVE(									
									 EMP_ID
									,RELATIVE_ID
									,RELATION_ID
									,STATUS
									,CREATED_BY
									,CREATED_DATE
								)
			SELECT @EMP_ID,@REL_ID,@RELATION,'Y',@USER,GETDATE()
			FROM Employee WHERE EMPLOYEE_ID=@EMP_ID
			
		SELECT 'SUCCESS!' AS MSG
		RETURN;
					
	END	
	IF @flag='S'
	BEGIN
		
		SELECT ID,dbo.GetEmployeeFullNameOfId(EMP_ID) [EMPLOYEE NAME],dbo.GetEmployeeFullNameOfId(RELATIVE_ID) [RELATIVE NAME],
		dbo.GetDetailTitle(RELATION_ID) RELATION,dbo.GetEmployeeFullNameOfId(CREATED_BY) [CREATED BY],CONVERT(VARCHAR,CREATED_DATE,107)
		[CREATED DATE] FROM EMP_RELATIVE 
		WHERE EMP_ID=@EMP_ID AND STATUS='y'
					
	END			
	if @flag='a'
	begin
		select 
					ID [id]
					,ROW_NUMBER() over(order by ID asc) [S.N]
					,dbo.GetEmployeeFullNameOfId(RELATIVE_ID) [Relation Name]
					,dbo.GetDetailTitle(RELATION_ID) [Relation] 
					,dbo.GetEmployeeFullNameOfId(CREATED_BY)  [Created By]
					,CONVERT(varchar,CREATED_DATE,107) [Created Date]
		from EMP_RELATIVE
		where EMP_ID=@EMP_ID and STATUS='Y'
	end
	if @flag='b'
	begin

		select distinct dbo.GetBranchName(B.BRANCH_ID) BRANCH_ID,dbo.GetDeptName(B.DEPARTMENT_ID) DEPARTMENT_ID,
		dbo.GetDetailTitle(B.POSITION_ID)  POSITION_ID 
		FROM EMP_RELATIVE A INNER JOIN Employee B ON A.EMP_ID=B.EMPLOYEE_ID
		WHERE EMP_ID=@EMP_ID
					
	end
GO
