USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_lateOutAttendanceNotificaton]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXEC [proc_lateOutAttendanceNotificaton]
CREATE PROCEDURE [dbo].[proc_lateOutAttendanceNotificaton]      
AS 
SET NOCOUNT ON; 
SET XACT_ABORT ON;  
  
BEGIN 
		declare @date1 as date,@date as varchar(20),@intPartId int,
		@intTotalRows int,@recipient varchar(200),@attDate as varchar(20)
		,@attTime as varchar(20)
		,@msgContent varchar(max),@empId as int
		set @date1=cast(GETDATE() as date)
		select @date=cast(@date1 as varchar)+' 20:30:00'
	

		IF OBJECT_ID('tempdb..#tempTable') IS NOT NULL
		drop table #tempTable

		CREATE TABLE #tempTable
		(	
			empId int,
			loginDate DATETIME
		)	
		insert into #tempTable(empId,loginDate)
		select emp_id,login_time from atttendance where logout_time >@date
		
		Alter table #tempTable add RowID INT IDENTITY(1,1)
		select @intPartId=max(RowID) from #tempTable
		set @intTotalRows=1
		while @intPartId >=  @intTotalRows
		begin
			
			select @empId=empId,@attDate=CONVERT(DATE,loginDate,101),@attTime=CONVERT(TIME,loginDate)  from #tempTable	 where RowID=@intTotalRows
			select @recipient=OFFICIAL_EMAIL from Employee where EMPLOYEE_ID=@empId
			
			set @msgContent=	
			'Dear Sir/Madam
			
			Your logout time of attendance for '+@attDate+' has been recorded as '+@attTime+'.

			Thanks & Regards
			Nabil Bank Limited (HR Department)'
			
		EXEC PROC_MAIL_SEND @recipient=@recipient, 
			@subject_text='Late Out Attendance Notification', @msg_text=@msgContent
			
				
			set @intTotalRows=@intTotalRows+1
		end

		drop table #tempTable	 
END
GO
