USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procGenerateAssetNumber]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
	EXEC procGenerateAssetNumber '12','117','7/15/2010'
*/

CREATE Proc [dbo].[procGenerateAssetNumber]
	@branchCode varchar(20),
	@assetProdID Varchar(20),
	@date varchar(20)
AS
begin	
	SET NOCOUNT ON;	
	Declare 
	   @SeqDateFormat varchar(200),@NumSequence varchar(200),@IsSequenceSep varchar(2)
      ,@SequenceSep varchar(200),@IsCompShortCode varchar(2),@IsCompSep varchar(2)
      ,@CompSeparator varchar(200),@IsBranchCode varchar(2),@IsBranchSep varchar(2)
      ,@BranchSeparator varchar(200),@IsAssetCode varchar(2) ,@IsAssetCodeSep varchar(2)
      ,@AssetSeparator varchar(200),@CODE_RESULT varchar(200),@IsDateCode varchar(2)
      ,@NumSequence_br varchar(200)

	SELECT @SeqDateFormat=SeqDateFormat, @NumSequence = NumSequence--, @NumSequence = IsSequenceSep
      , @SequenceSep= SequenceSep, @IsCompShortCode = IsCompShortCode, @IsCompSep = IsCompSep
      , @CompSeparator= CompSeparator,@IsDateCode=IsDateCode
      , @IsBranchCode= IsBranchCode, @IsBranchSep=IsBranchSep, @BranchSeparator=BranchSeparator
      , @IsAssetCode=IsAssetCode, @IsAssetCodeSep=IsAssetCodeSep , @AssetSeparator=AssetSeparator
	FROM [ASSET_NumberSequence]

	set @CODE_RESULT=''
	-- ######### COMPANY SHORTCODE 
	if @IsCompShortCode = 'Y'
		select @CODE_RESULT=COMP_SHORT_NAME  from Company 


    -- ######### COMPANY SEPERATOR 
	if @IsCompSep = 'Y'
		set @CODE_RESULT= @CODE_RESULT + @CompSeparator
 
  
    -- ########### BRANCH SHORTCODE 
	if @IsBranchCode = 'Y'
		select @CODE_RESULT=@CODE_RESULT + BRANCH_SHORT_NAME   
		from Branches with(nolock) where BRANCH_ID=@branchCode
		
  
   -- ######### BRANCH SEPERATOR 
	if @IsBranchSep = 'Y'
		set @CODE_RESULT= @CODE_RESULT + @BranchSeparator
		
	
	-- ########### ASSET SHORTCODE 
	if @IsAssetCode = 'Y'
		select top 1 @CODE_RESULT=@CODE_RESULT + a.ASSET_CODE, @NumSequence_br=b.ASSET_NEXT_NUM 
		from dbo.ASSET_PRODUCT a with(nolock)
		left join dbo.ASSET_BRANCH b with(nolock) on a.id=b.PRODUCT_ID where a.id=@assetProdID and b.BRANCH_ID=@branchCode
	
	
	

	-- ######### ASSET SEPERATOR 
	if @IsDateCode = 'Y'
		set @CODE_RESULT= @CODE_RESULT + @SequenceSep
		
	
	-- ######### SEQUENCE SEPERATOR 
	if @IsDateCode = 'Y'
	begin
		
		if @SeqDateFormat='YYMMDD'
		set @CODE_RESULT= @CODE_RESULT + CONVERT(VARCHAR(8), cast(@date as datetime) , 12)
		
		if @SeqDateFormat='YYYYMMDD'
		set @CODE_RESULT= @CODE_RESULT + CONVERT(VARCHAR(8), cast(@date as datetime) , 112)
		
		if @SeqDateFormat='YYYY'
		set @CODE_RESULT= @CODE_RESULT + YEAR(cast(@date as datetime) )
		
		if @SeqDateFormat='YY'
		set @CODE_RESULT= @CODE_RESULT + RIGHT(YEAR(cast(@date as datetime) ),2)
		
		declare @mm varchar(20)
		set @mm = RIGHT(month(cast(@date as datetime) ),2)
		
		if LEN(@mm) =1
		set @mm= '0'+ @mm
		
		if @SeqDateFormat='YYMM'
		set @CODE_RESULT= @CODE_RESULT + RIGHT(YEAR(cast(@date as datetime) ),2) + @mm
	
	end
	
	-- ######### ASSET SEPERATOR 
	if @IsAssetCodeSep = 'Y'
		set @CODE_RESULT= @CODE_RESULT + @AssetSeparator
		
	
	 -- ########### SEQUENCE CODE 
	  if @NumSequence_br is not null
			--set @NumSequence=@NumSequence_br + 1
	  set @NumSequence=REPLICATE('0',LEN(@NumSequence)-len(@NumSequence_br))+@NumSequence_br
	
	 set @CODE_RESULT= @CODE_RESULT + @NumSequence


	SELECT @CODE_RESULT AS ASSET_NUMBER
	
	print @CODE_RESULT
	
end
GO
