USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[spa_sendemail]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[spa_sendemail] 
AS
	DECLARE @count						VARCHAR(10)
	DECLARE @notesId					INT
	DECLARE @sendFrom					VARCHAR(100)
	DECLARE @sendTo						VARCHAR(5000)
	DECLARE @sendCc						VARCHAR(5000)
	DECLARE @sendBcc					VARCHAR(5000)
	DECLARE @subject					VARCHAR(250)
	DECLARE @notesText					VARCHAR(MAX)
	DECLARE @notesAttachmentFilename	VARCHAR(500)
	DECLARE @message					VARCHAR(MAX)
	DECLARE @profileName				VARCHAR(100)
	
BEGIN
	SET @profileName = 'AutoE-Mail'

	CREATE TABLE #tmpEmail_Notes (
		tempId						INT IDENTITY(1,1),
		notesId						INT,
		sendFrom					VARCHAR(100),
		sendTo						VARCHAR(500),
		sendCc						VARCHAR(500),
		sendBcc						VARCHAR(500),
		[subject]					VARCHAR(250),
		notesText					VARCHAR(MAX),
		notesAttachmentFilename		VARCHAR(500)
	)

	INSERT INTO #tmpEmail_Notes 
	SELECT notesId, sendFrom, sendTo, sendCc, sendBcc, [subject], notesText, notesAttachmentFilename
	FROM emailNotes 
	WHERE activeFlag = 'y' and sendStatus = 'n'

	--select * from #tmpEmail_Notes
	--return;
	SELECT @count = @@ROWCOUNT

	WHILE @count > 0
	BEGIN
		SELECT 
			 @notesId					= notesId
			,@sendTo					= sendTo
			,@sendCc					= sendCc
			,@sendBcc					= sendBcc
			,@subject					= [subject]
			,@notesText					= notesText
			,@notesAttachmentFilename	= notesAttachmentFilename
			,@sendFrom					= sendFrom 
		FROM #tmpEmail_Notes WHERE tempId = @count

		SELECT @message = @notesText +  CHAR(13) + CHAR(13)		
		SET @message = replace(@message,char(13), '<br /><br />')
		
		
		EXEC msdb.dbo.sp_send_dbmail 
			@profile_name			= @profileName,
			@recipients				= @sendTo,
			@copy_recipients		= @sendCc,
			@subject				= @subject,
			@body					= @message,
			@body_format			= 'HTML',
			@file_attachments		= @notesAttachmentFilename;

		IF @@ERROR<>0
			BEGIN
				PRINT 'ERROR'
			END
		ELSE
			BEGIN
				UPDATE EmailNotes SET sendStatus =
				 'y' WHERE notesId = @notesId
        		PRINT 'SUCCESS'
		END
		SELECT @count = @count - 1
	END	
END

--drop procedure [dbo].[spa_sendemail]
GO
