USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[balancesheetDrilldown2]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Exec balancesheetDrilldown2 '2' , '1202','2009-9-5',1 
create proc [dbo].[balancesheetDrilldown2]
	@flag char(1),
	@mapcode varchar(20)=null,
	@date varchar(20)=null,
	@company_id varchar(20)=null,
	@tree_sape varchar(20)=null
AS

	set nocount on;
	set @date=@date+' 23:59:59';
	set @mapcode= cast(cast(@mapcode as float)as int)
	

if @flag='1'
begin

select gl_name as acct_name,gl_code as acct_num,Total,x.TREE_SAPE,
case when Total < 0 then Total else 0 end as DR, 
case when Total > 0 then Total else 0 end as CR 
from(
select sum(a.Total) as Total, left(b.tree_sape,7) TREE_SAPE from (
		select acct_num,acct_name,gl_code,sum(total)as Total from(	
					select a.acct_num,a.acct_name,a.gl_code,
						sum(case when part_tran_type='dr' then tran_amt*(-1) else tran_amt end) Total
						from tran_master e  with(nolock) ,ac_master a  with(nolock)  
						where a.acct_num=e.acc_num
						and tran_date <= cast( @date as datetime)
						and a.company_id like isnull(1, '%')
					group by a.acct_num,a.acct_name,a.gl_code
			) a group by acct_num,acct_name,a.gl_code
	)a ,(select * from GL_GROUP with (nolock) where bal_grp=@mapcode)b
where a.gl_code=b.gl_code 
group by left(b.tree_sape,7)
) x, GL_GROUP g where x.TREE_SAPE=g.TREE_SAPE
order by gl_name

end
if @flag='2'
begin

	select gl_name as acct_name ,gl_code as acct_num,  Total,x.TREE_SAPE,
		case when Total < 0 then Total else 0 end as DR, 
		case when Total > 0 then Total else 0 end as CR 
	from(
	select sum(a.Total) as Total, left(b.tree_sape,LEN(@tree_sape)+3) TREE_SAPE from (
				select acct_num,acct_name,gl_code,sum(total)as Total from(	
							select a.acct_num,a.acct_name,a.gl_code,
							sum(case when part_tran_type='dr' then tran_amt*(-1) else tran_amt end) Total
							from tran_master e  with(nolock) ,ac_master a  with(nolock)  
							where a.acct_num=e.acc_num
							and tran_date <= cast( @date as datetime)
							and a.company_id like isnull(1, '%')
						group by a.acct_num,a.acct_name,a.gl_code
				) a group by acct_num,acct_name,a.gl_code
		)a ,(select * from GL_GROUP with (nolock))b
	where a.gl_code=b.gl_code 
	and left(b.tree_sape,LEN(@tree_sape))=@tree_sape
	group by left(b.tree_sape,LEN(@tree_sape)+3)
	) x, GL_GROUP g where x.TREE_SAPE=g.TREE_SAPE
	order by gl_name
end

if @flag='a'
begin
		
		select acct_num,acct_name,sum(total)as Total from(	
				select a.acct_num,a.acct_name,
					sum(case when part_tran_type='dr' then tran_amt*(-1) else tran_amt end) Total
					from tran_master e  with(nolock) ,ac_master a  with(nolock)  
					where a.acct_num=e.acc_num
					and left(gl_sub_head_code,2) =@mapcode
					and tran_date <= cast( @date as datetime)
					and a.company_id like isnull(1, '%')
				group by a.acct_num,a.acct_name
		) a group by acct_num,acct_name
		order by acct_name

end

if @flag='3'
begin
		
		select acct_num,acct_name,sum(total)as Total from(	
				select a.acct_num,a.acct_name,
					sum(case when part_tran_type='dr' then tran_amt*(-1) else tran_amt end) Total
					from tran_master e  with(nolock) ,ac_master a  with(nolock)  
					where a.acct_num=e.acc_num
					and left(gl_sub_head_code,6) =@mapcode
					and tran_date <= cast( @date as datetime)
					and a.company_id like isnull(1, '%')
				group by a.acct_num,a.acct_name
		) a group by acct_num,acct_name
		order by acct_name
	
end

if @flag='d'
begin

	set @mapcode= cast(cast(@mapcode as float)as int)

	select acc_num,acct_name,
	isnull(sum(case when part_tran_type='dr' then tran_amt end),0) DRTotal,
	isnull(sum(case when part_tran_type='cr' then tran_amt end),0) cRTotal
	from tran_history  t with(nolock) ,ac_master a with(nolock)   
	where acc_num=acct_num and left(gl_sub_head_code,2) =@mapcode
	and t.company_id like isnull(@company_id, '%')
	group by acc_num,acct_name
	order by acct_name

end

if @flag='g'
begin

	select acct_num,acct_name,sum(total)as Total from(
		select a.acct_num,a.acct_name,
				sum(case when part_tran_type='dr' then tran_amt*(-1) else tran_amt end) Total
				from tran_master e  with(nolock) ,ac_master a  with(nolock)  
				where a.acct_num=e.acc_num
				and left(gl_sub_head_code,2) =@mapcode and tran_date <= cast( @date as datetime)
				and a.company_id like isnull(@company_id, '%')
				group by a.acct_num,a.acct_name
		) a group by acct_num,acct_name
		order by acct_name

end
GO
