USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procDepreciationRpt]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Exec procDepreciationRpt 'a','67-68','10','1'
--Exec procDepreciationRpt  'a','66-67','8','1'

CREATE proc [dbo].[procDepreciationRpt]
	@flag varchar(1),
	@fiscal_year varchar(20)=null,
	@runMonth varchar(10)=null,
	@branch_id varchar(10)=null

AS
if @flag='a'
begin
		select a.id,a.item_name as [Asset Group Name],isnull(b.dep_value,0) as [Depreciation Value] from 
		(
			select id, item_name from ASSET_ITEM a inner join 
			(
				select distinct group_id from ASSET_INVENTORY where branch_id=@branch_id
			)b on a.id=b.group_id
		)a
		left join
		(
			SELECT id, item_name,c.group_id,c.dep_value  from ASSET_ITEM a 
			inner join 
			(
					select distinct group_id,SUM(dep_value)as dep_value from ASSET_INVENTORY a inner join depreciation_status b on a.id=b.asset_id
					WHERE b.fiscal_year=@fiscal_year and b.run_month=@runMonth and b.branch_id=@branch_id and a.asset_status<>'Inactive'
					group by group_id
			)c on a.id=c.group_id
		)b on a.id=b.id where a.id<>241 order by a.item_name
end
GO
