USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procINReceiveProductVoucher]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Exec [procINReceiveProductVoucher] '2','1','10','admin','2011-03-24','Y'
CREATE PROC [dbo].[procINReceiveProductVoucher]
	@msg_id VARCHAR(20),
	@from_branch VARCHAR(20),
	@to_branch VARCHAR(20),
	@user VARCHAR(50),
	@date VARCHAR(20),
	@stkFlag VARCHAR(10)=NULL,
	@session_id varchar(50)=null,
	@dispatch_date varchar(20)=null,
	@approver_msg VARCHAR(MAX)=NULL
AS


	SET NOCOUNT ON;
	SET XACT_ABORT ON;

	DECLARE @item VARCHAR(20),	@Received_Quantity FLOAT, @INVENTORY_AC VARCHAR(20),
		@COMM_AC VARCHAR(20),@pur_id VARCHAR(20), @p_rate FLOAT, @p_stk_remain FLOAT, @intPartId INT,
		@intTotalRows INT, @strAgentID VARCHAR(20), @tempID INT, @temp_item INT, 
		@strRefNum AS VARCHAR(20), @intBillid AS INT,
		@strAccountNum AS VARCHAR(25), @dblTotalAmt AS FLOAT, @strTranType AS VARCHAR(50)
	

	DECLARE @dispatched_msg_id INT
	
	INSERT INTO IN_DISPATCH_MESSAGE(req_id,dispatch_message,dispatched_by,dispatched_date,status,stkFlag)
	SELECT @msg_id,@approver_msg,@user,@dispatch_date,'Not Acknowledge',@stkFlag
	SET @dispatched_msg_id=@@IDENTITY

IF @from_branch<>@to_branch 
BEGIN

	-- drop table #tempFIFOReceived1
	SELECT a.item,a.Received_Quantity,c.INVENTORY_AC,c.COMM_AC,REMAIN, 
			a.Requistion_message_id
		   INTO #tempFIFOReceived1
	FROM IN_Requisition_detail  a INNER JOIN IN_Requisition_Message b ON a.Requistion_message_id=b.id
		INNER JOIN IN_BRANCH c ON a.item=c.product_id
		AND  a.Requistion_message_id=@msg_id
		AND c.BRANCH_ID=b.branch_id
		AND REMAIN >0 and a.session_id=@session_id
	
		IF NOT EXISTS(SELECT * FROM #tempFIFOReceived1)
		BEGIN
		
			SELECT 'NO TRN FOUND' AS REMARKS
			RETURN
		END 
	
		ALTER TABLE #tempFIFOReceived1 ADD RowID INT IDENTITY(1,1)
		SELECT @intPartId=MAX(RowID) FROM #tempFIFOReceived1
			

BEGIN TRANSACTION


SET @intTotalRows=1
WHILE @intPartId > =  @intTotalRows
BEGIN

SELECT @temp_item=item FROM #tempFIFOReceived1 WHERE RowID=@intTotalRows
	
	START_CALCULATE1:

			SELECT
				@tempID= a.id,
				@item=item, 
				@Received_Quantity=
					CASE WHEN a.Remain<=b.p_stk_remain THEN  a.Remain ELSE p_stk_remain END,
				@INVENTORY_AC = inventory_ac, 
				@COMM_AC=Comm_AC, 
				@p_rate=b.p_rate, 
				@pur_id= b.pur_id
			FROM 
			(
				SELECT  a.id, a.item,a.Received_Quantity,c.INVENTORY_AC,c.COMM_AC,remain, 
				a.Requistion_message_id
				FROM IN_Requisition_detail  a WITH(NOLOCK)
				 INNER JOIN IN_Requisition_Message b WITH(NOLOCK) ON a.Requistion_message_id=b.id
				 INNER JOIN IN_BRANCH c WITH(NOLOCK) ON a.item=c.product_id
					AND  a.Requistion_message_id =@msg_id
					AND c.BRANCH_ID=b.branch_id
					AND item=@temp_item
					AND REMAIN > 0  and a.session_id=@session_id
				)a,
				(
					SELECT TOP 1 
						pur_id,prod_code,p_rate,p_stk_remain FROM IN_PURCHASE  WITH(NOLOCK)
						WHERE branch_id=@from_branch 
						AND p_stk_remain >0
						AND prod_code= @temp_item ORDER BY pur_id ASC
						
					)b
				WHERE a.item=b.prod_code
				
				
			--Expense out from Sending Branch
			INSERT INTO IN_SALES (s_prod_id,s_amt,s_qty,s_rate, msg_id, sales_type,entered_date,entered_by,from_branch,to_branch)
			SELECT @item, @Received_Quantity*@p_rate, @Received_Quantity, @p_rate,@msg_id, 'T',@dispatch_date,@user,@from_branch,@to_branch
			
			IF (@@ERROR <> 0) GOTO QuitWithRollback1 
			
				
			--### TRANSIT PART ###---
			
			if @stkFlag='Y'	
			begin		
				INSERT INTO IN_DISPATCH(dispatch_msg_id,product_id,dispatched_qty,Rate,received_qty,remain,from_branch,to_branch,dispatched_date,received_date)
				SELECT @dispatched_msg_id,@item,@Received_Quantity,@p_rate,0,@Received_Quantity,@from_branch,@to_branch,@dispatch_date ,@dispatch_date
			

				--Stock Maintain with 0 stock level in Receiving Branch
				INSERT INTO IN_PURCHASE(prod_code, p_qty, p_rate, p_stk_remain, branch_id,entered_by,entered_date,req_id)
				SELECT @item, @Received_Quantity, @p_rate,0,@to_branch,@user,@dispatch_date,@msg_id 

				
				INSERT INTO IN_SALES (s_prod_id,s_amt,s_qty,s_rate, msg_id, sales_type,entered_date,entered_by,from_branch,to_branch)
				SELECT @item, @Received_Quantity*@p_rate, @Received_Quantity,@p_rate,@msg_id,'E',@dispatch_date,@user,@to_branch,@to_branch
				
				
			end	
			else
			begin
					INSERT INTO IN_DISPATCH(dispatch_msg_id,product_id,dispatched_qty,Rate,received_qty,remain,from_branch,to_branch,dispatched_date)
					SELECT @dispatched_msg_id,@item,@Received_Quantity,@p_rate,0,@Received_Quantity,@from_branch,@to_branch,@dispatch_date 
			
			end 	
			
			
			IF (@@ERROR <> 0) GOTO QuitWithRollback1 
				
			-- ############ update IN_PURCHASE
			  UPDATE IN_PURCHASE SET  
					p_stk_remain=ISNULL(p_stk_remain,0)-@Received_Quantity
				WHERE pur_id = @pur_id
				
			-- ############ update IN_BRANCH	
				IF (@@ERROR <> 0) GOTO QuitWithRollback1 
				UPDATE  IN_BRANCH SET 
					stock_in_hand= ISNULL(stock_in_hand,0)-isnull(@Received_Quantity,0)
				where branch_id=@from_branch and PRODUCT_ID=@item

				IF (@@ERROR <> 0) GOTO QuitWithRollback1

	
			-- ############ update REQUISITION Table
			  UPDATE IN_Requisition_detail SET  
					REMAIN=ISNULL(REMAIN,0)-@Received_Quantity
				WHERE ID = @tempID and session_id=@session_id
				
				
				IF (@@ERROR <> 0) GOTO QuitWithRollback1 
				
				
				   SET @Received_Quantity=0
				  --select @temp_item
				
			-- ######## Check weather 0 is done or not
				IF (SELECT  COUNT(*)
					FROM IN_Requisition_detail  a INNER JOIN IN_Requisition_Message b ON a.Requistion_message_id=b.id
						INNER JOIN IN_BRANCH c ON a.item=c.product_id
						AND  a.Requistion_message_id =@msg_id
						AND c.BRANCH_ID=b.branch_id
						AND item= @temp_item
						AND REMAIN > 0 and a.session_id=@session_id
						)=0  OR 
				(SELECT COUNT(*)
							FROM IN_PURCHASE 
							WHERE branch_id=@from_branch							
							AND p_stk_remain>0
							AND prod_code= @temp_item )=0
				BEGIN
					
						GOTO ENDLoop1
						
				END
				ELSE
				BEGIN

					GOTO START_CALCULATE1

				END
		
		IF (@@ERROR <> 0) GOTO QuitWithRollback1 		
		
ENDLoop1:


SET @intTotalRows=@intTotalRows+1
END
	

COMMIT TRANSACTION
	
	
	SELECT ACCT_NUM,ISNULL(amount,0)AS AMT,TRN_TYPE
	INTO #_tzRemittanceTranHit1
	FROM (
			   SELECT c.INVENTORY_AC AS ACCT_NUM, 'DR' TRN_TYPE, SUM(s_amt) AS amount 
			   FROM IN_SALES S WITH(NOLOCK) , IN_BRANCH c WITH(NOLOCK)
				WHERE s.s_prod_id= c.PRODUCT_ID
					AND c.BRANCH_ID=@from_branch
					AND s.msg_id=@msg_id
				GROUP BY INVENTORY_AC
				UNION ALL
				SELECT c.INVENTORY_AC  AS ACCT_NUM, 'CR' TRN_TYPE, SUM(s_amt) AS AMT 
				FROM IN_SALES S  WITH(NOLOCK), IN_BRANCH c WITH(NOLOCK)
				WHERE s.s_prod_id= c.PRODUCT_ID
					AND c.BRANCH_ID=@to_branch
					AND s.msg_id=@msg_id
				GROUP BY INVENTORY_AC
		)a
	
	
	--DR Or CR Exist or not checcking
	IF NOT EXISTS(
		SELECT  trn_type FROM #_tzRemittanceTranHit1 WHERE trn_type='DR'
	)
	OR 
	NOT EXISTS(
		SELECT  trn_type FROM #_tzRemittanceTranHit1 WHERE trn_type='CR'
	)
	BEGIN
			SELECT  'DR or CR Balance not exists' AS REMARKS
			RETURN;	
	
	END

	IF (SELECT  CAST(SUM(AMT)AS MONEY) FROM #_tzRemittanceTranHit1 WHERE trn_type='DR' GROUP BY trn_type)
		<> (SELECT  CAST(SUM(AMT) AS MONEY) FROM #_tzRemittanceTranHit1  WHERE trn_type='CR' GROUP BY trn_type)
	BEGIN

			SELECT  'DR and CR Balance is not Equal' AS REMARKS
			RETURN;			
	END	
	
	ALTER TABLE #_tzRemittanceTranHit1 ADD RowID INT IDENTITY(1,1)
	SELECT @intPartId=MAX(RowID) FROM #_tzRemittanceTranHit1
	
--########## CREATE SUMMARY SEND TRANSACTION 

BEGIN TRANSACTION
	
	SELECT @strRefNum=sales_voucher FROM billSetting WHERE company_id=1
		IF (@@ERROR <> 0) GOTO QuitWithRollback1 
		
	UPDATE billSetting SET sales_voucher=CAST(sales_voucher AS FLOAT)+1 WHERE company_id=1
		IF (@@ERROR <> 0) GOTO QuitWithRollback1 
     
         -- ############### TRAN MASTER DETAIL
		INSERT INTO tran_master (entry_user_id,acc_num
			,part_tran_type,ref_num,tran_amt, tran_date,
			tran_type,company_id,part_tran_srl_num,created_date,rpt_code, billno)
		SELECT @user,c.ACCT_NUM,
			TRN_TYPE,@strRefNum ,AMT,@date,
			'p','1',ROW_NUMBER() OVER(ORDER BY TRN_TYPE DESC) AS SrNo, GETDATE(),'s',@intBillid
		FROM #_tzRemittanceTranHit1 c 
		
		IF (@@ERROR <> 0) GOTO QuitWithRollback1 
			
		-- ############### TRAN MASTER DETAIL ENTRY
		INSERT INTO [tran_masterDetail]([ref_num] ,[tran_particular],tran_type, company_id,tranDate )
		SELECT  @strRefNum,'INVENTORY TRANSFERED','p','1',@date
		

COMMIT TRANSACTION

	--SELECT  'Voucher Save Successfully, Voucher No: '+ @strRefNum AS REMARKS

--########## Drop TEMP TABLE
	DROP TABLE #_tzRemittanceTranHit1
	DROP TABLE #tempFIFOReceived1
	
GOTO  EndSave

QuitWithRollback1:
ROLLBACK TRANSACTION 


EndSave1: 


END

IF @from_branch=@to_branch 
BEGIN

	SELECT a.item,a.Received_Quantity,c.INVENTORY_AC,c.COMM_AC,REMAIN, 
			a.Requistion_message_id
			INTO #tempFIFOReceived
	FROM IN_Requisition_detail  a INNER JOIN IN_Requisition_Message b ON a.Requistion_message_id=b.id
		INNER JOIN IN_BRANCH c ON a.item=c.product_id
		AND  a.Requistion_message_id=@msg_id
		AND c.BRANCH_ID=b.branch_id
		AND ISNULL(REMAIN,0) > 0 and a.session_id=@session_id
	
		IF NOT EXISTS(SELECT * FROM #tempFIFOReceived)
		BEGIN
		
			SELECT 'NO TRN FOUND' AS REMARKS
			RETURN
		END 
	
		ALTER TABLE #tempFIFOReceived ADD RowID INT IDENTITY(1,1)
		SELECT @intPartId=MAX(RowID) FROM #tempFIFOReceived
		--select  @intPartId
			
BEGIN TRANSACTION


SET @intTotalRows=1
WHILE @intPartId > =  @intTotalRows
BEGIN



	SELECT @temp_item=item FROM #tempFIFOReceived WHERE RowID=@intTotalRows
	--select @temp_item
	
START_CALCULATE:

		SELECT
			@tempID= a.id,
			@item=item, 
			@Received_Quantity=
				CASE WHEN a.Remain<=b.p_stk_remain THEN  a.Remain ELSE p_stk_remain END,
			@INVENTORY_AC = inventory_ac, 
			@COMM_AC=Comm_AC, 
			@p_rate=b.p_rate, 
			@pur_id= b.pur_id
		FROM 
		(
			SELECT  a.id, a.item,a.Received_Quantity,c.INVENTORY_AC,c.COMM_AC,remain, 
			a.Requistion_message_id
			FROM IN_Requisition_detail  a WITH(NOLOCK)
			 INNER JOIN IN_Requisition_Message b WITH(NOLOCK) ON a.Requistion_message_id=b.id
			 INNER JOIN IN_BRANCH c WITH(NOLOCK) ON a.item=c.product_id
				AND  a.Requistion_message_id =@msg_id
				AND c.BRANCH_ID=b.branch_id
			    AND item=@temp_item
				AND REMAIN > 0 and a.session_id=@session_id
			)a,
			(
				SELECT TOP 1 
					pur_id,prod_code,p_rate,p_stk_remain FROM IN_PURCHASE  WITH(NOLOCK)
					WHERE branch_id=@from_branch					
					AND p_stk_remain >0
					AND prod_code= @temp_item ORDER BY pur_id
					
			)b
			WHERE a.item=b.prod_code
	 
		 INSERT INTO IN_SALES (s_prod_id,s_amt,s_qty,s_rate, msg_id, sales_type,entered_by,
								entered_date,from_branch,to_branch)
		 SELECT @item, @Received_Quantity*@p_rate, @Received_Quantity, @p_rate,@msg_id, 'E',@user,
								@dispatch_date,@from_branch,@to_branch
		
		IF (@@ERROR <> 0) GOTO QuitWithRollback 
					
		INSERT INTO IN_DISPATCH(dispatch_msg_id,product_id,dispatched_qty,Rate,received_qty,remain,from_branch,to_branch,dispatched_date,received_date)
		SELECT @dispatched_msg_id,@item,@Received_Quantity,@p_rate,0,@Received_Quantity,@from_branch,@to_branch,@dispatch_date ,@dispatch_date

	IF (@@ERROR <> 0) GOTO QuitWithRollback1 

		
	-- ############ update IN_PURCHASE
	  UPDATE IN_PURCHASE SET  
			p_stk_remain=ISNULL(p_stk_remain,0)-@Received_Quantity
		WHERE pur_id = @pur_id
		
	IF (@@ERROR <> 0) GOTO QuitWithRollback 
	
	UPDATE  IN_BRANCH SET 
					stock_in_hand= ISNULL(stock_in_hand,0)-isnull(@Received_Quantity,0)
				where branch_id=@from_branch and PRODUCT_ID=@item
				
	IF (@@ERROR <> 0) GOTO QuitWithRollback 				
	-- ############ update Temp Table
	  UPDATE IN_Requisition_detail SET  
			REMAIN=ISNULL(REMAIN,0)-@Received_Quantity
		WHERE ID = @tempID and session_id=@session_id
		
		IF (@@ERROR <> 0) GOTO QuitWithRollback 	
		
			
		SET @Received_Quantity=0

	-- ######## Check weather 0 is done or not
		IF (SELECT  COUNT(*)
			FROM IN_Requisition_detail  a INNER JOIN IN_Requisition_Message b ON a.Requistion_message_id=b.id
				INNER JOIN IN_BRANCH c ON a.item=c.product_id
				AND  a.Requistion_message_id =@msg_id
				AND c.BRANCH_ID=b.branch_id
			    AND item= @temp_item
			    AND REMAIN > 0 and a.session_id=@session_id
			    )=0  OR 
		(SELECT COUNT(*)
				    FROM IN_PURCHASE 
					WHERE branch_id=@from_branch 					
					AND p_stk_remain>0
					AND prod_code= @temp_item )=0
		BEGIN
			
				GOTO ENDLoop
				--select 'ENDLoop'
				
		END
		ELSE
		BEGIN

			GOTO START_CALCULATE
			-- select 'START_CALCULATE'
		END
		
		
		IF (@@ERROR <> 0) GOTO QuitWithRollback 
		
		
ENDLoop:


SET @intTotalRows=@intTotalRows+1
END
				

COMMIT TRANSACTION
	

	SELECT ACCT_NUM,ISNULL(amount,0)AS AMT,TRN_TYPE
	INTO #_tzRemittanceTranHit
	FROM (
			   SELECT PURCHASE_AC AS ACCT_NUM, 'DR' TRN_TYPE,ROUND(SUM(s_amt),2) AS amount 
			   FROM IN_SALES S WITH(NOLOCK) , IN_BRANCH c WITH(NOLOCK)
				WHERE s.s_prod_id= c.PRODUCT_ID
					AND c.BRANCH_ID=@from_branch
					AND s.msg_id=@msg_id
				GROUP BY PURCHASE_AC
				UNION ALL
				SELECT INVENTORY_AC AS ACCT_NUM, 'CR' TRN_TYPE, ROUND(SUM(s_amt),2) AS AMT 
				FROM IN_SALES S  WITH(NOLOCK), IN_BRANCH c WITH(NOLOCK)
				WHERE s.s_prod_id= c.PRODUCT_ID
					AND c.BRANCH_ID=@from_branch
					AND s.msg_id=@msg_id
				GROUP BY INVENTORY_AC
		)a
	
	IF NOT EXISTS(
		SELECT  trn_type FROM #_tzRemittanceTranHit WHERE trn_type='DR'
	)
	OR 
	NOT EXISTS(
		SELECT  trn_type FROM #_tzRemittanceTranHit WHERE trn_type='CR'
	)
	BEGIN
			SELECT  'DR or CR Balance not exists' AS REMARKS
			RETURN;	
	
	END

	IF (SELECT  CAST(SUM(AMT)AS MONEY) FROM #_tzRemittanceTranHit WHERE trn_type='DR' GROUP BY trn_type)
		<> (SELECT  CAST(SUM(AMT) AS MONEY) FROM #_tzRemittanceTranHit  WHERE trn_type='CR' GROUP BY trn_type)
	BEGIN

			SELECT  'DR and CR Balance is not Equal' AS REMARKS
			RETURN;			
	END	
	
	
	ALTER TABLE #_tzRemittanceTranHit ADD RowID INT IDENTITY(1,1)
	SELECT @intPartId=MAX(RowID) FROM #_tzRemittanceTranHit
	
--########## CREATE SUMMARY SEND TRANSACTION 

BEGIN TRANSACTION
	--SELECT * FROM BillSetting
	SELECT @strRefNum=sales_voucher FROM billSetting WHERE company_id=1
		IF (@@ERROR <> 0) GOTO QuitWithRollback 
		
	UPDATE billSetting SET sales_voucher=CAST(sales_voucher AS FLOAT)+1 WHERE company_id=1
		IF (@@ERROR <> 0) GOTO QuitWithRollback 
         
         -- ############### TRAN MASTER DETAIL
		INSERT INTO tran_master (entry_user_id,acc_num
			,part_tran_type,ref_num,tran_amt, tran_date,
			tran_type,company_id,part_tran_srl_num,created_date,rpt_code, billno)
		SELECT @user,c.ACCT_NUM,
			TRN_TYPE,@strRefNum ,AMT,@date,
			'p','1',ROW_NUMBER() OVER(ORDER BY TRN_TYPE DESC) AS SrNo, GETDATE(),'s',@intBillid
		FROM #_tzRemittanceTranHit c 
		
		IF (@@ERROR <> 0) GOTO QuitWithRollback 
			
		-- ############### TRAN MASTER DETAIL ENTRY
		INSERT INTO [tran_masterDetail]([ref_num] ,[tran_particular],tran_type, company_id,tranDate )
		SELECT  @strRefNum,'INVENTORY EXPENSES','p','1',@date
		

COMMIT TRANSACTION

	--SELECT  'Voucher Save Successfully, Voucher No: '+ @strRefNum AS REMARKS

--########## Drop TEMP TABLE
	DROP TABLE #_tzRemittanceTranHit
	DROP TABLE #tempFIFOReceived
	
	
GOTO  EndSave

QuitWithRollback:
ROLLBACK TRANSACTION 


EndSave: 


END
GO
