USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_EmployeeMovementSchedule]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*      
exec [proc_Requisition] 'j',@session_id='minvgw45iffa4v55fi0xouud',@user='admin',@message='test',@forwarded_to=6      

*/      
  
CREATE PROCEDURE [dbo].[proc_EmployeeMovementSchedule]      
AS  
  
  
 SET NOCOUNT ON; 
 SET XACT_ABORT ON;  
 /*  
    a ->  approved JO  
    u  ->  update JO before approved individually  
    r -> release JO  
   
 */     
  
BEGIN TRY  
  SELECT CAST(rowId AS INT) AS temp_rowId,STAFF_ID,EFFECTIVE_DATE,FROM_BRANCH,WHICH_BRANCH,FROM_DEPARTMENT,WHICH_DEPARTMENT,
			Transfer_Type,Current_Supervisor_Type,Current_Supervisor,New_Supervisor_type,New_Supervisor
	into #_EmpTransferDetails
	FROM (
		SELECT
		     ts.RowId
			,e.STAFF_ID,e.EFFECTIVE_DATE,e.FROM_BRANCH,e.WHICH_BRANCH,e.FROM_DEPARTMENT,e.WHICH_DEPARTMENT,
			ts.Transfer_Type,ts.Current_Supervisor_Type,ts.Current_Supervisor,ts.New_Supervisor_type,ts.New_Supervisor 
		FROM ExternalTransferPlan e
			INNER JOIN transfer_supervisor ts 
		ON e.ID = ts.Transfer_ID and e.STAFF_ID = ts.empId
		WHERE CONVERT(VARCHAR,e.EFFECTIVE_DATE,102) = CONVERT(VARCHAR, GETDATE(),102)
		)a
		
		select * from #_EmpTransferDetails
  
END TRY    
    
  
BEGIN CATCH  
   IF @@TRANCOUNT > 0  
   ROLLBACK TRANSACTION  
   SELECT ERROR_MESSAGE() MSG   
END CATCH
GO
