USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_ManageCapitalizationHistory]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXEC [proc_ManageCapitalizationHistory] NULL,'407','2011-03-31','8409.67','10000','TESTING','2011-03-24','1000','I'
CREATE PROCEDURE [dbo].[proc_ManageCapitalizationHistory]
(	
	 @flag	VARCHAR(1) = NULL 
	,@id INT = NULL
	,@assetid	INT = NULL
	,@capitalization_date DATETIME = NULL
	,@book_value	MONEY = NULL
	,@capitalization_amt	FLOAT = NULL
	,@narration	VARCHAR(MAX) = NULL
	,@user	VARCHAR(50)		= NULL
	,@forwarded_to varchar(50)=null
       	
)
AS
BEGIN
	DECLARE @ROW_ID AS INT
	CREATE TABLE #msg(errorCode INT, msg VARCHAR(100), id INT)
		
	DECLARE 
	 @sql			VARCHAR(MAX)
	,@oldValue		VARCHAR(MAX)
	,@newValue		VARCHAR(MAX)
	,@tableName		VARCHAR(50)	

	DECLARE 
	 @gridName				VARCHAR(50)		
	,@addEditFunctionId		INT
	,@deleteFunctionId		INT
	,@approveFunctionId		INT
	,@tableNameAudit		VARCHAR(100)
	,@identifierField		VARCHAR(100)
	,@modType				VARCHAR(6)
	,@tableDescription		VARCHAR(100)
	
	SELECT
	 @tableNameAudit	= 'ASSET_CAPITALIZATION_TEMP'
	,@identifierField	= 'Id'
	,@tableDescription	= 'ASSET CAPITALIZATION REQUEST'
	,@modType			= 'insert'
	
	IF (@flag = 'i')
	BEGIN	
		BEGIN TRANSACTION
		
			INSERT INTO ASSET_CAPITALIZATION_TEMP
			   ([Asset_id],[Capitalization_date],[Book_value],[Capitalization_amt],[Narration],[Created_date],[Created_by],forwarded_to,forwarded_date,status)
				VALUES(@assetid,@capitalization_date,@book_value,@capitalization_amt,@narration,GETDATE(),@user,@forwarded_to,GETDATE(),'Requested')
			SET @ROW_ID=@@IDENTITY
			
			INSERT INTO #msg(errorCode, msg, id)
					EXEC proc_changesApprovalQueue 
						 @flag = 'i'
						,@user = @user
						,@dataId = @ROW_ID
						,@identifierField = @identifierField
						,@tableName = @tableNameAudit
						,@modType = @modType			
						,@description = @tableDescription
						,@functionId = @approveFunctionId
						,@addEditFunctionId	= @addEditFunctionId
						,@forwarded_to=@forwarded_to
						
	 IF @@TRANCOUNT > 0
	 COMMIT TRANSACTION
	END
		
	IF (@flag = 'U')
	BEGIN
	
		BEGIN TRANSACTION 
			UPDATE ASSET_CAPITALIZATION_TEMP
			   SET [Asset_id] = @assetid
				  ,[Capitalization_date] = @capitalization_date
				  ,[Book_value] = @book_value
				  ,[Capitalization_amt] = @capitalization_amt
				  ,[Narration] = @narration      
				  ,[Modified_date] = GETDATE()
				  ,[Modified_by] = @user
				  ,[status]='Requested'
				  ,[forwarded_to]=@forwarded_to
				  ,[forwarded_date]=GETDATE()
			   WHERE ID = @id

			DELETE FROM changesApprovalQueue WHERE tableName=@tableNameAudit AND dataid=@id 
				
			INSERT INTO #msg(errorCode, msg, id)
			EXEC proc_changesApprovalQueue 
				 @flag = 'i'
				,@user = @user
				,@dataId = @id
				,@identifierField = @identifierField
				,@tableName = @tableNameAudit
				,@modType = @modType			
				,@description = @tableDescription
				,@functionId = @approveFunctionId
				,@addEditFunctionId	= @addEditFunctionId
				,@forwarded_to=@forwarded_to
				
		IF @@TRANCOUNT > 0
		COMMIT TRANSACTION
	END 
	IF @flag='s'
	BEGIN
		SELECT ai.id,ai.asset_number+'|'+cast(ai.id as varchar) as asset_number,ai.purchase_value,ai.purchase_value-ai.acc_depriciation as book_value,
		ai.acc_depriciation as acc_dep,ai.narration as asset_narration,at.capitalization_amt,CONVERT(varchar,at.capitalization_date,101) as capitalization_date,
		at.forwarded_to,at.narration,
		at.rejection_reason  FROM ASSET_CAPITALIZATION_TEMP at inner join ASSET_INVENTORY ai on ai.id=at.Asset_id
		where at.id=@id
	
	END
	
	IF @flag='d'
	BEGIN
		DELETE FROM ASSET_CAPITALIZATION_TEMP
		where id=@id
	
	END
END
GO
