USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procManageEmployeeMovement]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*    
exec procManageEmployeeMovement 'i','1040','1','4','1', '3','10/4/2011','10/6/2011','TEST', 'admin','ir0qzz450f1i3045bkz2aa55'    
    
exec procManageEmployeeMovement 'u','1008','1','2','1', '3','10/10/2011','10/21/2011','test', 'admin',6,'ir0qzz450f1i3045bkz2aa55'    
    
select * from ExternalTransferPlan      
select * from transfer_supervisor  WHERE EMPID = 1023 AND session_id= 'ir0qzz450f1i3045bkz2aa55'    
*/    
CREATE proc [dbo].[procManageEmployeeMovement]    
 @flag varchar(10),    
 @empId varchar(10)=null,    
 @fromBranchId varchar(10)=null,    
 @fromDeptId varchar(10)=null,    
 @toBranchId varchar(10)=null,    
 @toDeptId varchar(10)=null,    
 --@toPosition varchar(10)=null,    
 @effectiveDate varchar(20)=null,    
 @reportdate varchar(20)=null,    
 @transferDesc varchar(300)=null,    
 @user varchar(50)=null,    
 @rowid varchar(100)=null,    
 @session_id varchar(100)=null,    
 @Transfer_ID varchar(100)=null,    
 @Transfer_Type varchar(100)=null,    
 @Current_Supervisor_Type varchar(100)=null,    
 @Current_Supervisor varchar(100)=null,    
 @New_Supervisor_type varchar(100)=null,    
 @New_Supervisor varchar(100)=null    
     
AS    
    
SET NOCOUNT ON ;    
SET XACT_ABORT ON    
    
BEGIN    
         
  IF @flag ='i'    
  BEGIN    
  BEGIN TRANSACTION    
    
  IF NOT EXISTS(SELECT 'x' FROM transfer_supervisor WHERE session_id = @session_id AND empId = @empId AND Transfer_Type = @Transfer_Type)    
  BEGIN    
   SELECT 'Please Assign Supervisor!' as msg     
   RETURN;    
      
  END    
    
    INSERT INTO ExternalTransferPlan (STAFF_ID,FROM_BRANCH,FROM_DEPARTMENT,    
     WHICH_BRANCH,WHICH_DEPARTMENT,TRANSFER_DESCRIPTION,    
     EFFECTIVE_DATE,ACTUAL_REPORT_DATE,CREATED_BY,CREATED_DATE,TRANSFER_TYPE)VALUES     
     (@empId,@fromBranchId,@fromDeptId,@toBranchId,@toDeptId,@transferDesc,@effectiveDate,    
     @reportdate,@user,GETDATE(),@Transfer_Type)       
        
    set @rowid=SCOPE_IDENTITY()    
       
       
       
        
       
        
    IF CONVERT(VARCHAR(20), cast(@effectivedate as DATE), 102)  = CONVERT(VARCHAR(20), getdate(), 102)     
    BEGIN    
        
    ---------------diactivate current supervisor---------------------    
        
       UPDATE  SuperVisroAssignment     
     SET record_status =  'n'    
    FROM SuperVisroAssignment s     
     INNER JOIN transfer_supervisor t     
    ON  s.EMP = t.empId AND s.SUPERVISOR_TYPE = t.New_Supervisor_type    
     WHERE s.record_status = 'y' and t.session_id = @session_id    
         
   -----------insert into supervisor table-------------------------------    
       INSERT INTO SuperVisroAssignment(    
      BRANCH    
     ,DEPT    
     ,EMP    
     ,SUPERVISOR    
     ,SUPERVISOR_TYPE    
     ,CREATED_BY    
     ,CREATED_DATE    
     ,record_status    
    
    )    
        
     SELECT    
      ep.BRANCH_ID    
      ,ep.DEPARTMENT_ID    
      ,ts.empId    
      ,ts.New_Supervisor    
      ,ts.New_Supervisor_type    
      ,@user    
      ,GETDATE()    
      ,'y'     
      FROM  transfer_supervisor ts     
         
     INNER JOIN Employee ep on ep.EMPLOYEE_ID = ts.empId    
     where ts.session_id = @session_id  AND empId = @empId AND ts.Transfer_Type ='e'    
         
        
        
        
    ---------------------update employee table     
     UPDATE Employee     
     SET BRANCH_ID=@toBranchId    
     ,DEPARTMENT_ID=@toDeptId    
     --,POSITION_ID=@toPosition     
     WHERE EMPLOYEE_ID=@empId    
         
         
         
         
    ------------------update externalTransferplan     
     update ExternalTransferPlan set    
      F_EXECUTED='Y',    
      EXECUTED_DATE=getdate()    
     where ID=@rowid    
         
   END    
        
        
   ------------------------update transfer_supervisor     
         
    UPDATE transfer_supervisor SET     
        Transfer_ID = @rowid    
       ,session_id = NULL     
     WHERE session_id = @session_id     
    AND empId = @empId AND Transfer_Type = @Transfer_Type   
        
        
        
  COMMIT TRANSACTION    
  END    
    
    
 IF @flag ='u'    
 BEGIN    
     
  IF NOT EXISTS(SELECT 'x'FROM transfer_supervisor WHERE Transfer_ID = @Transfer_ID AND Transfer_Type =@Transfer_Type)    
  BEGIN    
   SELECT 'Please Assign Supervisor!' as msg     
   RETURN;    
      
  END    
    
   UPDATE ExternalTransferPlan SET STAFF_ID=@empId, EFFECTIVE_DATE =@effectiveDate,    
    ACTUAL_REPORT_DATE=@reportdate,WHICH_BRANCH=@toBranchId,    
    WHICH_DEPARTMENT=@toDeptId,FROM_BRANCH=@fromBranchId,    
    FROM_DEPARTMENT=@fromDeptId,TRANSFER_DESCRIPTION=@transferDesc,    
    MODIFIED_DATE=GETDATE(),    
    MODIFIED_BY=@user WHERE ID =@rowid    
      
         
  ------------check current date------------    
      
   IF CONVERT(VARCHAR(20), cast(@effectivedate as DATE), 102)  = CONVERT(VARCHAR(20), getdate(), 102)     
    BEGIN    
        
        
          
       ----------------disactivate current supervisor--------------    
           UPDATE  SuperVisroAssignment     
     SET record_status =  'n'    
    FROM SuperVisroAssignment s     
     INNER JOIN transfer_supervisor t     
    ON  s.EMP = t.empId AND s.SUPERVISOR_TYPE = t.New_Supervisor_type    
     WHERE s.record_status = 'y' and t.Transfer_ID = @rowid    
         
        
    --------------update supervisor table ------------------    
      INSERT INTO SuperVisroAssignment(    
      BRANCH    
     ,DEPT    
     ,EMP    
     ,SUPERVISOR    
     ,SUPERVISOR_TYPE    
     ,CREATED_BY    
     ,CREATED_DATE    
     ,record_status    
    
    )    
    SELECT    
      ep.BRANCH_ID    
      ,ep.DEPARTMENT_ID    
      ,e.STAFF_ID    
      ,ts.New_Supervisor    
      ,ts.New_Supervisor_type    
      ,@user    
      ,GETDATE()    
      ,'y'     
          
     FROM ExternalTransferPlan e    
      INNER JOIN transfer_supervisor ts     
     ON e.ID = ts.Transfer_ID and e.STAFF_ID = ts.empId    
     INNER JOIN Employee ep on ep.EMPLOYEE_ID = e.STAFF_ID    
     where ts.Transfer_ID=@rowid AND empId = @empId AND ts.Transfer_Type ='e'    
   -----------------------------update employeee----------------------------------------------------------------    
     UPDATE Employee     
     SET BRANCH_ID=@toBranchId    
     ,DEPARTMENT_ID=@toDeptId    
     --,POSITION_ID=@toPosition     
     WHERE EMPLOYEE_ID=@empId    
   ------------------------------------------------------------------------------------------------------------      
         
     update ExternalTransferPlan set    
      F_EXECUTED='Y',    
      EXECUTED_DATE=getdate()    
     where ID=@rowid    
         
    END    
        
         
 END    
    
 IF @flag ='a'    
  BEGIN    
       
  IF EXISTS(SELECT 'X' FROM transfer_supervisor where Transfer_Type = @Transfer_Type and session_id = @session_id and New_Supervisor = @New_Supervisor and New_Supervisor_type=@New_Supervisor_type)    
  BEGIN    
     SELECT 'You cannot add multiple supervisor on same supervisor type!' AS MSG    
     RETURN    
      
  END    
         
      INSERT INTO transfer_supervisor(    
              
           Transfer_ID      
          ,Transfer_Type    
          ,Current_Supervisor_Type    
          ,Current_Supervisor    
          ,New_Supervisor_type    
          ,New_Supervisor    
          ,session_id    
          ,empId    
          
           )    
        SELECT     
          @Transfer_ID    
            ,@Transfer_Type    
            ,@Current_Supervisor_Type    
            ,@Current_Supervisor    
            ,@New_Supervisor_type    
            ,@New_Supervisor    
            ,@session_id    
            ,@empId    
              
            
    
  END    
      
  IF @flag ='au'    
  BEGIN    
      
          
  IF EXISTS(SELECT 'X' FROM transfer_supervisor where Transfer_Type = @Transfer_Type and Transfer_ID = @Transfer_ID and New_Supervisor = @New_Supervisor and New_Supervisor_type=@New_Supervisor_type)    
  BEGIN    
     SELECT 'You cannot add multiple supervisor on same supervisor type!' AS MSG    
     RETURN    
      
  END    
      INSERT INTO transfer_supervisor(    
              
           Transfer_ID      
 ,Transfer_Type    
          ,Current_Supervisor_Type    
          ,Current_Supervisor    
          ,New_Supervisor_type    
          ,New_Supervisor    
          ,empId    
          
           )    
        SELECT     
          @Transfer_ID    
            ,@Transfer_Type    
            ,@Current_Supervisor_Type    
            ,@Current_Supervisor    
            ,@New_Supervisor_type    
            ,@New_Supervisor    
            ,@empId    
              
            
    
  END 
  
	IF @flag = 'd'    
	BEGIN 
	   IF EXISTS(SELECT 'X' FROM ExternalTransferPlan WHERE ID = @rowid AND  F_EXECUTED IS NOT NULL)
	   BEGIN
	       SELECT 'You cannot delete this record,The record is being used.' as msg
	       RETURN
	   END
        DELETE FROM ExternalTransferPlan WHERE ID = @rowid
        DELETE FROM transfer_supervisor WHERE Transfer_ID = @rowid
        
        
       Exec JobHistoryRecord 'i','DELETED','','SQL String','ExternalTransferPlan','',@user 
          
       Exec JobHistoryRecord 'i','DELETED','','SQL String','transfer_supervisor','',@user   

	END   
       
 IF @flag = 's'    
 BEGIN    
  SELECT     
   RowId    
  ,CASE Current_Supervisor_Type WHEN 'i' THEN 'Immediate' WHEN 's' THEN 'Supervisor' END [Current Supervisor Type]    
  ,dbo.GetEmployeeFullNameOfId(Current_Supervisor) [Current Supervisor]    
  ,CASE New_Supervisor_type WHEN 'i' THEN 'Immediate' WHEN 's' THEN 'Supervisor' END [New Supervisor Type]    
  ,dbo.GetEmployeeFullNameOfId(New_Supervisor) [New Supervisor]     
   FROM transfer_supervisor WHERE session_id = @session_id AND empId = @empId AND Transfer_Type =@Transfer_Type    
 END    
     
 IF @flag = 'ss'    
 BEGIN    
  SELECT     
   RowId    
  ,CASE Current_Supervisor_Type WHEN 'i' THEN 'Immediate' WHEN 's' THEN 'Supervisor' END [Current Supervisor Type]    
  ,dbo.GetEmployeeFullNameOfId(Current_Supervisor) [Current Supervisor]    
  ,CASE New_Supervisor_type WHEN 'i' THEN 'Immediate' WHEN 's' THEN 'Supervisor' END [New Supervisor Type]    
  ,dbo.GetEmployeeFullNameOfId(New_Supervisor) [New Supervisor]     
   FROM transfer_supervisor WHERE Transfer_ID =@Transfer_ID AND  Transfer_Type =@Transfer_Type    
 END    
    
END
GO
