USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[ProcManageTNARpt]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
Exec [ProcManageTNARpt] @FLAG='r',@EMPLOYEE_ID=1024,@FROM_DATE='2011-01-11',@TO_DATE='2011-09-09'
*/
create PROCEDURE [dbo].[ProcManageTNARpt]
	@FLAG VARCHAR(1),
    @EMPLOYEE_ID INT=NULL,
    @FROM_DATE VARCHAR(20)=NULL,
    @TO_DATE VARCHAR(20)=NULL
 
AS
	SET NOCOUNT ON
	DECLARE @TNA_ID AS INT

	SELECT @TNA_ID=ID FROM TRAINING_NEED_ASSESSMENT WHERE EMPLOYEE_ID=@EMPLOYEE_ID AND CREATED_DATE BETWEEN @FROM_DATE AND @TO_DATE
	IF @flag = 'r'
	BEGIN
			--REPORT COL-1
			SELECT TRAINING_NAME,LOCATION,DURATION FROM TNA_TRAINING_ATTENDED WHERE TRAIN_NEED_ASS_ID=@TNA_ID 

			--REPORT COL-3
			SELECT CASE WHEN ANS_ELEVEN_TRAINING=1 THEN 'TRAINING' ELSE '' END AS SOLUTION FROM TRAINING_NEED_ASSESSMENT WHERE EMPLOYEE_ID=@EMPLOYEE_ID
			AND CREATED_DATE BETWEEN @FROM_DATE AND @TO_DATE
			UNION ALL
			SELECT CASE WHEN ANS_ELEVEN_OTHER=1 THEN ANS_ELEVEN_OTHER_DETAIL END AS SOLUTION_OTHER FROM TRAINING_NEED_ASSESSMENT WHERE EMPLOYEE_ID=@EMPLOYEE_ID
			AND CREATED_DATE BETWEEN @FROM_DATE AND @TO_DATE

			--REPORT COL-4
			SELECT TRAINING_REQ_NAME FROM TNA_TRAINING_REQUIREMENT WHERE TRAIN_NEED_ASS_ID=@TNA_ID AND FLAG='TRAINING_REQ'

			--REPORT COL-5
			SELECT TRAINING_REQ_NAME FROM TNA_TRAINING_REQUIREMENT WHERE TRAIN_NEED_ASS_ID=@TNA_ID AND FLAG='TRAINING_REQ_SOFT'
	END
GO
