USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[ProcPrintAssetPurchaseOrder]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[ProcPrintAssetPurchaseOrder]
				@flag varchar(1)=null,
				@id int=null				 

As
Set Nocount on;

if @flag='o'
begin
	SELECT ROW_NUMBER() OVER(order by p.porduct_code) AS SN,p.porduct_code+'-'+p.ASSET_CODE  AS [ASSET TYPE],qty AS QTY,
	dbo.ShowDecimal(rate) AS [RATE(Rs.)],dbo.ShowDecimal(amount) AS [AMOUNT(Rs.)]
		 FROM ASSET_PURCHASE_ORDER a inner join ASSET_PRODUCT p ON p.id=a.asset_id WHERE order_message_id=@id
	

	select pom.narration as remarks,e.FIRST_NAME + ' ' + e.MIDDLE_NAME + ' ' + e.LAST_NAME as 'order_by',
		CONVERT(varchar, pom.order_date, 107) 'order_date', 		
		CONVERT(varchar, pom.deliver_date, 107) 'deliver_date' 
		from ASSET_PURCHASE_ORDER_MESSAGE pom 
		inner join Employee e on pom.created_by = e.EMPLOYEE_ID		
		where id = @id
		
	select  dbo.ShowDecimal(SUM(po.amount)) 'Total',dbo.ShowDecimal(SUM(po.amount)*0.13) as VAT
		from ASSET_PURCHASE_ORDER po
		inner join IN_PRODUCT ip on po.asset_id = ip.id
		where po.order_message_id =@id

end	
--if @flag='r'		
--begin
--	select ROW_NUMBER() OVER(order by P.porduct_code) AS SN,P.porduct_code AS [PRODUCT NAME],P.package_unit AS [PACKAGE UNIT],SUM(qty) as QTY,
--		dbo.ShowDecimal(AVG(Rate)) as RATE,dbo.ShowDecimal(SUM(amount)) AS AMOUNT 
--		from Purchase_Order_Received PR INNER JOIN IN_PRODUCT P ON P.id=PR.Product_Id
--		where PR.Order_Message_Id=@id group by P.porduct_code,P.package_unit
		
		
--	select pom.remarks,ob.FIRST_NAME + ' ' + ob.MIDDLE_NAME + ' ' + ob.LAST_NAME as received_by,
--		CONVERT(varchar, pom.received_date, 107) received_date  
--		from Purchase_Order_Message pom 
--		inner join HRManagement.dbo.Employee ob on pom.received_by = ob.EMPLOYEE_ID
--		where pom.id=@id
		
--	select  dbo.ShowDecimal(SUM(r.amount)) 'Total',dbo.ShowDecimal(SUM(r.amount)*0.13) as VAT
--		from Purchase_Order_Received r
--		inner join IN_PRODUCT ip on r.Product_Id = ip.id
--		where r.order_message_id = @id
--end
GO
