USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_rptSummery]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[proc_rptSummery](
	@flag varchar(10)=null,
	@branchId VARCHAR(20) =null,
	@departmentId VARCHAR(20)=null,
	@employeeId	VARCHAR(20) = null
)
as

set nocount on;

if @flag = 'a'
	begin
			select COMP_NAME as Company,TotalBranch,TotalDept,TotalEmp from Company, 
			(select count(*) as TOTALBRANCH from  Branches) br,
			(select count(*) as TOTALDEPT from  Departments d inner join Employee E on d.DEPARTMENT_ID=E.DEPARTMENT_ID) dp,
			(select count(*) as TOTALEMP from  Employee where EMP_STATUS='458') em
			
	end

else if @flag='b'
	begin		
		select Branch_Id as 'Branchid',BRANCH_NAME as Branch,
		(select count(*) from Departments with(nolock) where  BRANCH_ID=Branches.BRANCH_ID) as Departments,
		(select count(*) from Employee e with(nolock) 
			inner join Departments d with(nolock)  on e.DEPARTMENT_ID=d.DEPARTMENT_ID 
			where d.BRANCH_ID = Branches.BRANCH_ID and EMP_STATUS='458') as  Employee
		from Branches	
	end
else if @flag='d' 
	begin
	
		if @branchId is null
		begin
			
			select
				ROW_NUMBER() OVER(ORDER BY D.DEPARTMENT_NAME) AS SN,	
				D.DEPARTMENT_ID as 'DepartmentId', Branches.BRANCH_NAME ,DEPARTMENT_NAME as 'Department',
				(select count(*) from Employee  with(nolock) ) as Employee
			from Departments D with(nolock) 
			inner join Branches on D.BRANCH_ID = Branches.BRANCH_ID
			inner join Employee E on D.DEPARTMENT_id=E.DEPARTMENT_ID
			where EMP_STATUS='458'
			group by D.DEPARTMENT_NAME, D.DEPARTMENT_ID,Branches.BRANCH_ID, Branches.BRANCH_NAME
			order by Branches.BRANCH_NAME
				
		end 
		else	
		begin
			
			select ROW_NUMBER() Over(Order BY D.DEPARTMENT_ID) as SN
				,D.DEPARTMENT_ID, DEPARTMENT_NAME,
				COUNT(*) employee 
				from Departments D
				inner Join Employee E on D.DEPARTMENT_ID=E.DEPARTMENT_ID
				where D.BRANCH_ID=@branchId
				group by D.DEPARTMENT_ID, DEPARTMENT_NAME
			
			
		end	
	end
if @flag='e'
	BEGIN
	
				
			SELECT
				ROW_NUMBER() OVER(ORDER BY FIRST_NAME) AS SN,	
				EMP_CODE [EMPLOYEE CODE],
				DBO.GetDetailTitle(SALUTATION) SALUTATION, 
				FIRST_NAME + ' ' + MIDDLE_NAME + ' ' + LAST_NAME AS [EMPLOYEE NAME],
				DBO.GetBranchName(BRANCH_ID) [BRANCH NAME],
				DBO.GetDeptName(DEPARTMENT_ID) [DEPARTMENT NAME],
				DBO.GetDetailTitle(POSITION_ID) [POSITION NAME],
				DBO.GetDetailTitle(EMP_TYPE) [TYPE],
				CONVERT(varchar,JOINED_DATE, 107) as [JOIN DATE],
				CONVERT(varchar,APPOINTMENT_DATE, 107) as [APPOINTMENT DATE],
				CONVERT(varchar,PERMANENT_DATE, 107) AS [PERMANENT DATE],
				CONVERT(varchar,BIRTH_DATE, 107) AS [BIRTH DATE],
				DBO.GetDetailTitle(GENDER)GENDER,
				DBO.GetDetailTitle(MERITAL_STATUS) [MARITAL STATUS],
				OFFICIAL_EMAIL [OFFICIAL E-MAIL],								 
				PERSONAL_MOBILE AS [MOBILE], 
				PAN_NUMBER [PAN NUMBER],
				CARD_NUMBER [CARD NUMBER]
				 
				 
			FROM Employee WITH (NOLOCK)
			WHERE EMPLOYEE_ID LIKE ISNULL(@employeeId,'%') 
			AND DEPARTMENT_ID LIKE ISNULL(@departmentId,'%') 
			AND BRANCH_ID LIKE ISNULL(@branchId,'%')
			AND EMP_STATUS='458'
			

	END
GO
