USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procCheckEmployeeAttendance]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[procCheckEmployeeAttendance]
	@USER_NAME VARCHAR(200)=NULL,
	@USER_PASSWORD VARCHAR(200)=NULL,
	@ATTEN_TYPE VARCHAR(10)=NULL,
	@LOGIN_TIME DATETIME=NULL,
	@LOGOUT_TIME DATETIME=NULL,
	@HALFDAY_TIME DATETIME=NULL

AS
SET NOCOUNT ON;
DECLARE @EMP_ID AS INT;
DECLARE @USER_ID AS INT;
DECLARE @ATT_ID AS INT;
DECLARE @A_LOGIN_DATE AS DATETIME;

BEGIN

	SELECT @USER_ID= AdminID FROM  Admins  WHERE UserName=@USER_NAME AND dbo.decryptDb(UserPassword)=@USER_PASSWORD
	SELECT @EMP_ID=Name FROM Admins WHERE AdminID=@USER_ID 
	
	--CHECKING FOR INVALID USER
	DECLARE @TODAY_DATE AS DATE

	IF NOT EXISTS(SELECT AdminID FROM Admins WHERE  UserName =@USER_NAME AND dbo.decryptDb(UserPassword)=@USER_PASSWORD)
	BEGIN
		SELECT 'Invalid User!' AS REMARKS
		RETURN;			
	END	

	--CHECKING WEATHER USER ON LEAVE OR NOT			
	
	IF EXISTS(SELECT ID FROM LeaveRequest WHERE REQUESTED_BY=@EMP_ID 
				AND LEAVE_STATUS='Approved' 
				AND @TODAY_DATE BETWEEN APPROVED_FROM AND APPROVED_TO)
	BEGIN
		SELECT 'Sorry, You can not login! You are on leave.' AS REMARKS
		RETURN;
	END
	
	--CHECKING WEATHER USER ALREADY LOGDED IN OR NOT & REASON NEED TO BE CHECKED
	IF @ATTEN_TYPE='IN'
	BEGIN
		
		IF EXISTS(SELECT TOP 1 * FROM atttendance 
						WHERE emp_id=@EMP_ID AND logout_time IS NULL and r_logout_time is null
						)
			BEGIN
				SELECT 'Sorry, You have not logged out. Please logout first!' AS REMARKS
							--SELECT 'Sorry, You have not logged out. Please logout first 
							--to login or you can request logout date & time to your supervisor!.' AS REMARKS
				RETURN;
			END
		IF @LOGIN_TIME < GETDATE()
			BEGIN
				SELECT '1' AS REMARKS
				RETURN;
			END
		ELSE
			BEGIN
				SELECT '0' AS REMARKS
				RETURN;
			END
		
	END
	
	--CHECKING WEATHER USER ALREADY LOGGED OUT OR NOT & REASON NEED TO BE CHECKED
	/* 
EXEC [procCheckEmployeeAttendance] @USER_NAME='admin', @USER_PASSWORD='admin+123',@ATTEN_TYPE='OUT', @LOGIN_TIME='8/30/2011 9:30:00 AM',
@LOGOUT_TIME='8/30/2011 5:30:00 PM',@HALFDAY_TIME='8/30/2011 2:30:00 AM'
	*/
	IF @ATTEN_TYPE='OUT'
	BEGIN			 
				 
		IF NOT EXISTS(SELECT TOP 1 * FROM atttendance 
						WHERE emp_id=@EMP_ID AND logout_time IS NULL AND r_logout_time is null
						)
		BEGIN
			SELECT 'Sorry, You have not logged in. Please login first to logout!' AS REMARKS
						 
			--SELECT 'Sorry, You have not logged in. Please login first to logout
						 --or you can request login date & time to your supervisor!.' AS REMARKS
			RETURN;
		END
			
		SELECT @ATT_ID=id,@A_LOGIN_DATE=login_time FROM atttendance WHERE logout_time IS NULL AND emp_id=@Emp_Id			
		DECLARE @ATT_HOUR AS VARCHAR(10)		
		SELECT @ATT_HOUR=CONVERT(VARCHAR(5), DATEADD(s,DATEDIFF(s,login_time, GETDATE()),0), 108) FROM atttendance WHERE id=@ATT_ID
		
		DECLARE @DAY AS VARCHAR(20),@OT_HOUR AS VARCHAR(20),@P_LOGOUTTIME AS DATETIME,@POSITION_ID AS INT
		SELECT @DAY=DATENAME(DW,GETDATE()) 
		
		SELECT @POSITION_ID=POSITION_ID FROM Employee WHERE EMPLOYEE_ID=@EMP_ID
		
		IF @POSITION_ID IN (99999)
		BEGIN
				IF @DAY='Friday'
				BEGIN
					IF @HALFDAY_TIME > GETDATE()
						BEGIN
							SELECT '1' AS REMARKS,@LOGIN_TIME [LOGIN_TIME],@HALFDAY_TIME [LOGOUT_TIME] -- REASON ONLY
							RETURN;
						END
					ELSE 
						BEGIN					
							IF CAST(@ATT_HOUR AS DATETIME)>CAST('05:00' AS DATETIME)
							BEGIN
								SELECT @P_LOGOUTTIME=@A_LOGIN_DATE+'05:00' 
								SELECT @OT_HOUR=CONVERT(VARCHAR(5), DATEADD(s,DATEDIFF(s,@P_LOGOUTTIME, GETDATE()),0), 108)
								
								 --OT REQUEST & NORMAL LOGOUT
								SELECT '2' AS REMARKS,@LOGIN_TIME [LOGIN_TIME],@LOGOUT_TIME [LOGOUT_TIME],@OT_HOUR [OT_HOUR]
									  ,@P_LOGOUTTIME [OT_FROM_DATE],CONVERT(varchar,@P_LOGOUTTIME,101) FROM_DATE,DATEPART(HH,@P_LOGOUTTIME) FROM_HOUR
									  ,DATEPART(MI,@P_LOGOUTTIME) FROM_MINUTE,CONVERT(varchar,GETDATE(),101) TO_DATE,DATEPART(HH,GETDATE()) TO_HOUR
									  ,DATEPART(MI,GETDATE()) TO_MINUTE,GETDATE() [OT_TO_DATE],@OT_HOUR [OT_HOUR],@A_LOGIN_DATE [A_LOGIN_TIME],@EMP_ID as EMP_ID
									  
								RETURN;
							END
							ELSE
							BEGIN
								SELECT '0' AS REMARKS  --- ONLY NORMAL LOGOUT
								RETURN;
							END
						END	
				END
				ELSE
				BEGIN

					IF (@LOGOUT_TIME > GETDATE() AND CAST(@ATT_HOUR AS DATETIME)< CAST('09:00' AS DATETIME))
						BEGIN
							SELECT '1' AS REMARKS -- REASON ONLY
							RETURN;
						END
					ELSE 
						BEGIN				
							IF CAST(@ATT_HOUR AS DATETIME)>CAST('09:00' AS DATETIME)
							BEGIN

								SELECT @P_LOGOUTTIME=@A_LOGIN_DATE+'09:00' 
								SELECT @OT_HOUR=CONVERT(VARCHAR(5), DATEADD(s,DATEDIFF(s,@P_LOGOUTTIME, GETDATE()),0), 108)
								
							  
									  SELECT '2' AS REMARKS,@LOGIN_TIME [LOGIN_TIME],@LOGOUT_TIME [LOGOUT_TIME],@OT_HOUR [OT_HOUR]
									  ,@P_LOGOUTTIME [OT_FROM_DATE],CONVERT(varchar,@P_LOGOUTTIME,101) FROM_DATE,DATEPART(HH,@P_LOGOUTTIME) FROM_HOUR
									  ,DATEPART(MI,@P_LOGOUTTIME) FROM_MINUTE,CONVERT(varchar,GETDATE(),101) TO_DATE,DATEPART(HH,GETDATE()) TO_HOUR
									  ,DATEPART(MI,GETDATE()) TO_MINUTE
									  ,GETDATE() [OT_TO_DATE],@OT_HOUR [OT_HOUR],@A_LOGIN_DATE [A_LOGIN_TIME],@EMP_ID as EMP_ID
								RETURN;
							END
							ELSE
							BEGIN
								SELECT '0' AS REMARKS  --- ONLY NORMAL LOGOUT
								RETURN;
							END
						END		
				END
		END
		ELSE
		BEGIN
				IF @DAY='Friday'
				BEGIN
					IF @HALFDAY_TIME > GETDATE()
						BEGIN
							SELECT '1' AS REMARKS -- REASON ONLY
							RETURN;
						END
					ELSE 
						BEGIN
							SELECT '0' AS REMARKS  --- ONLY NORMAL LOGOUT
							RETURN;
						END	
				END
				ELSE
				BEGIN

					IF (@LOGOUT_TIME > GETDATE() AND CAST(@ATT_HOUR AS DATETIME)< CAST('09:00' AS DATETIME))
						BEGIN
							SELECT '1' AS REMARKS -- REASON ONLY
							RETURN;
						END
					ELSE 
						BEGIN			
							SELECT '0' AS REMARKS  --- ONLY NORMAL LOGOUT
							RETURN;
						END		
				END
		END
		
	END	
END
GO
