USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procPromotionPayable]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[procPromotionPayable]
		   @effective_date		date		= NULL       
		  ,@salary_setId		INT					= NULL   
		  ,@grade_id			INT					= NULL
		  ,@post_id				INT					=null
		  ,@emp_id				INT					=null
		  ,@user				VARCHAR(50)			=null
AS      
SET NOCOUNT ON;     
SET XACT_ABORT ON   
 
DECLARE @CURRENT_DATE AS DATE=GETDATE(),@MONTH_NAME VARCHAR(20),
		@EFY_YR AS VARCHAR(50),@ENEPLI_MONTH INT,@EMonthStartDate AS VARCHAR(20),
		@EMonthEndDate AS VARCHAR(20),@CFY_YR AS VARCHAR(20),@CNEPLI_MONTH AS VARCHAR(20),
		@CMonthStartDate AS VARCHAR(20),@CMonthEndDate AS VARCHAR(20)

	
BEGIN TRY   
	-- CHECKING IF EFFECTIVE DATE IS LESS THAN CURRENT DATE OR NOT	--IF YES THEN,
	 IF CONVERT(VARCHAR,@effective_date,102)<=CONVERT(VARCHAR,@CURRENT_DATE,102) 
	 BEGIN 
			SET @EFY_YR=dbo.FNAReturnCurrentFiscalYear(@effective_date)
			SET @ENEPLI_MONTH=dbo.GetNepaliMonth(@effective_date)
			SET @EMonthStartDate= dbo.GetMonthStartDateEng(@EFY_YR,@ENEPLI_MONTH)
			SET @EMonthEndDate= dbo.GetMonthEndDateEng(@EFY_YR,@ENEPLI_MONTH)

			SET @CFY_YR=dbo.FNAReturnCurrentFiscalYear(@CURRENT_DATE)
			SET @CNEPLI_MONTH=dbo.GetNepaliMonth(@CURRENT_DATE)
			SET @CMonthStartDate= dbo.GetMonthStartDateEng(@CFY_YR,@CNEPLI_MONTH)
			SET @CMonthEndDate= dbo.GetMonthEndDateEng(@CFY_YR,@CNEPLI_MONTH)
			DECLARE @RATE AS FLOAT
			SELECT @RATE=RATE FROM GRADE_SETUP WHERE POSITION_ID=@post_id
			
			IF CONVERT(VARCHAR,@effective_date,102)<=CONVERT(VARCHAR,@CMonthStartDate,102)
			BEGIN
					IF @salary_setId IS NOT NULL
					BEGIN
			   			--updating matched head amount
						UPDATE Payable SET AMOUNT=B.payableValue,Set_ID=B.salarySetMasterId FROM Payable A, 
						( 
							SELECT payableHead,payableValue,salarySetMasterId FROM salarySetDetails 
							where salarySetMasterId=@salary_setId					
							
						)B where a.BENEFIT_ID=b.payableHead	and A.EMPLOYEE_ID=@emp_id
						
						
						-- inserting unpatched salary head amount of salary set details
						if exists(select * from salarySetDetails 
									where payableHead not in 
									(select BENEFIT_ID from Payable where EMPLOYEE_ID=@emp_id) AND salarySetMasterId=@salary_setId
							)
						begin
								  insert into Payable (EMPLOYEE_ID,BENEFIT_ID,AMOUNT,CREATED_BY,CREATED_DATE,Set_ID)
								  select @emp_id,payableHead,payableValue,@user,GETDATE(),@salary_setId 
								  from salarySetDetails 
								  where payableHead not in (select BENEFIT_ID from Payable where EMPLOYEE_ID=@emp_id)
								  and salarySetMasterId=@salary_setId  
						end 
					END
					IF @grade_id IS NOT NULL
					BEGIN
			   			--updating matched head amount
						UPDATE Payable SET AMOUNT=B.AMOUNT,GRADE_ID=@grade_id FROM Payable A, 
						( 							
							select '391' GRADE,ROUND(SUM(((AMOUNT*@RATE)/100)*@grade_id),2) AMOUNT from Payable 
							where EMPLOYEE_ID=@emp_id and BENEFIT_ID=390
							
						)B where a.BENEFIT_ID=b.GRADE and A.EMPLOYEE_ID=@emp_id
						
						-- inserting INTO PAYABLE GRADE amount FROM GRADE SET details
						if NOT EXISTS(select * from payable where EMPLOYEE_ID=@emp_id AND BENEFIT_ID=391)							
						begin
							  insert into Payable (EMPLOYEE_ID,BENEFIT_ID,AMOUNT,CREATED_BY,CREATED_DATE,GRADE_ID)
							  select @emp_id,'391' GRADE,ROUND(SUM(((AMOUNT*@RATE)/100)*@grade_id),2) AMOUNT,@user,GETDATE(),@grade_id
							  from Payable  where EMPLOYEE_ID=@emp_id and BENEFIT_ID=390
						end 
					END
					IF @grade_id IS NULL 
					BEGIN
						DELETE FROM Payable WHERE EMPLOYEE_ID=@emp_id AND BENEFIT_ID=391
					END
					
			END
			IF CONVERT(VARCHAR,@CMonthStartDate,102) < CONVERT(VARCHAR,@effective_date,102)
			BEGIN			
			
				DECLARE @DAYS_SAL float,@DAYS_NOT_SAL AS float,@tot_days float
				SELECT @DAYS_SAL=(dbo.gettotaldaysofmonth(@effective_date)-DATEDIFF(DD,@CMonthStartDate,@effective_date))+1,
						@DAYS_NOT_SAL=DATEDIFF(DD,@CMonthStartDate,@effective_date),@tot_days=dbo.gettotaldaysofmonth(@effective_date)+1 
				
				IF @salary_setId IS NOT NULL
				BEGIN
					INSERT INTO AdhocPayment (EMPLOYEE_ID,ADD_DEDUCT,HEAD_ID,AMOUNT,NARRATION,CREATED_BY,CREATED_DATE) 
					
					SELECT EMPLOYEE_ID,'A' ADD_DEDUCT,BENEFIT_ID,ROUND((@DAYS_NOT_SAL/@tot_days)*a.AMOUNT,2) Added,
					'Auto Salary Adjustment-Added' remark,@user,GETDATE()
					FROM Payable A INNER JOIN salarySetDetails B ON A.BENEFIT_ID=b.payableHead
					where a.EMPLOYEE_ID=@emp_id and b.salarySetMasterId=@salary_setId
					
					UNION ALL
					
					SELECT EMPLOYEE_ID,'D' ADD_DEDUCT,BENEFIT_ID,ROUND((@DAYS_NOT_SAL/@tot_days)*b.payableValue,2) deducted,
					'Auto Salary Adjustment-Deduced' remarks,@user,GETDATE()				
					FROM Payable A INNER JOIN salarySetDetails B ON A.BENEFIT_ID=b.payableHead
					where a.EMPLOYEE_ID=@emp_id and b.salarySetMasterId=@salary_setId
					
					UNION ALL
					
					select @emp_id,'D' ADD_DEDUCT,payableHead BENEFIT_ID,ROUND((@DAYS_NOT_SAL/@tot_days)*b.payableValue,2) deducted,
					'Auto Salary Adjustment-Deduced' remarks,@user,GETDATE() 
					from salarySetDetails b where salarySetMasterId=@salary_setId and payableHead 
					not in (select BENEFIT_ID from Payable where EMPLOYEE_ID=@emp_id) 
					
					
					UPDATE Payable SET AMOUNT=B.payableValue,Set_ID=B.salarySetMasterId FROM Payable A, 
					( 
						SELECT payableHead,payableValue,salarySetMasterId FROM salarySetDetails 
						where salarySetMasterId=@salary_setId					
						
					)B where a.BENEFIT_ID=b.payableHead	and A.EMPLOYEE_ID=@emp_id
					
					-- inserting unMatched salary head amount of salary set details
					if exists(select * from salarySetDetails 
								where payableHead not in 
								(select BENEFIT_ID from Payable where EMPLOYEE_ID=@emp_id) AND salarySetMasterId=@salary_setId
						)
					begin
							  insert into Payable (EMPLOYEE_ID,BENEFIT_ID,AMOUNT,CREATED_BY,CREATED_DATE,Set_ID)
							  select @emp_id,payableHead,payableValue,@user,GETDATE(),@salary_setId 
							  from salarySetDetails 
							  where payableHead not in (select BENEFIT_ID from Payable where EMPLOYEE_ID=@emp_id) 
							  and salarySetMasterId=@salary_setId 
					end 
				END
				IF @grade_id IS NOT NULL
				BEGIN
				
						-- GRADE INCREMENT
						INSERT INTO AdhocPayment(EMPLOYEE_ID,ADD_DEDUCT,HEAD_ID,AMOUNT,NARRATION,CREATED_BY,CREATED_DATE)
						 
						SELECT @emp_id,'D' ADD_DEDUCT,'391' BENEFIT_ID,
							ROUND((@DAYS_NOT_SAL/@tot_days)*(SUM(((AMOUNT*@RATE)/100)*@grade_id)),2) DEDUCTED,
						'Auto GRADE Adjustment-Deduced' remarks,@user,GETDATE()
						from Payable 
						where EMPLOYEE_ID=@emp_id and BENEFIT_ID=390--BASIC SALARY
						
						union all

						SELECT EMPLOYEE_ID,'A' ADD_DEDUCT,'391' BENEFIT_ID,
						ROUND((@DAYS_NOT_SAL/@tot_days)*AMOUNT,2) ADDED,
						'Auto GRADE Adjustment-Added' remarks,@user,GETDATE()
						from Payable 
						where EMPLOYEE_ID=@emp_id and BENEFIT_ID=391--GRADE				
						
	   					--updating matched head amount
						UPDATE Payable SET AMOUNT=B.AMOUNT,GRADE_ID=@grade_id FROM Payable A, 
						( 							
							select '391' GRADE,ROUND(SUM(((AMOUNT*@RATE)/100)*@grade_id),2) AMOUNT from Payable 
							where EMPLOYEE_ID=@emp_id and BENEFIT_ID=390
							
						)B where a.BENEFIT_ID=b.GRADE and A.EMPLOYEE_ID=@emp_id
						
						-- inserting INTO PAYABLE GRADE amount FROM GRADE SET details
						if NOT EXISTS(select * from payable where EMPLOYEE_ID=@emp_id AND BENEFIT_ID=391)							
						begin
							  insert into Payable (EMPLOYEE_ID,BENEFIT_ID,AMOUNT,CREATED_BY,CREATED_DATE,GRADE_ID)
							  select @emp_id,'391' GRADE,ROUND(SUM(((AMOUNT*@RATE)/100)*@grade_id),2) AMOUNT,@user,GETDATE(),@grade_id
							  from Payable  where EMPLOYEE_ID=@emp_id and BENEFIT_ID=390
						end 
				END
				IF @grade_id IS NULL 
				BEGIN
					SELECT EMPLOYEE_ID,'A' ADD_DEDUCT,'391' BENEFIT_ID,
						ROUND((@DAYS_NOT_SAL/@tot_days)*AMOUNT,2) ADDED,
						'Auto GRADE Adjustment-Added' remarks,@user,GETDATE()
						from Payable 
						where EMPLOYEE_ID=@emp_id and BENEFIT_ID=391--GRADE	ADDED
						
					DELETE FROM Payable WHERE EMPLOYEE_ID=@emp_id AND BENEFIT_ID=391
				END
					
			END
					 
	 END
END TRY  
  
BEGIN CATCH  
  IF @@TRANCOUNT > 0  
   ROLLBACK TRANSACTION  
   SELECT  ERROR_MESSAGE() AS MSG   
  
END CATCH
GO
