USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_TicketList]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_TicketList] 

	@flag			VARCHAR(10)			=NULL
   ,@rowId			INT					=NULL
   ,@typeId			INT					=NULL
   ,@detailTitle	VARCHAR(50)			=NULL
   ,@detailDesc		VARCHAR(50)			=NULL
   ,@user			VARCHAR(50)			=NULL
   ,@createdDate	DATE				=NULL
   ,@modifiedDate	DATE				=NULL
   ,@sessionId		VARCHAR(100)		=NULL
   ,@empId			INT					=NULL
   ,@empName		VARCHAR(100)		=NULL
   ,@Xmldata		XML					=NULL
AS
  
BEGIN 


SET NOCOUNT ON


	IF @flag='i'
		BEGIN
			INSERT INTO StaticDataDetail(
										DETAIL_TITLE,
										TYPE_ID,
										DETAIL_DESC,
										CREATED_BY,
										CREATED_DATE)
			SELECT  p.value('(Employee_x0020_Name[1])','VARCHAR(max)') Employee_name,
					@typeId,
					p.value('(Employee_x0020_Id[1])','VARCHAR(max)') Employee_Id,
					@user
				   ,GETDATE()
			FROM @xmldata.nodes('/DocumentElement/TiEmpList') AS tmp(p)
			
			SELECT 'Inserted Successfully'AS msg
		END

	IF @flag='u'
		BEGIN
			UPDATE StaticDataDetail SET
									   DETAIL_TITLE  =     @detailTitle
									   ,DETAIL_DESC   =     @detailDesc 
									   ,MODIFIED_BY   =	    @user
									   ,MODIFIED_DATE =		GETDATE()
									WHERE ROWID       =     @rowId

			SELECT 'Updated Successfully'AS msg
		END

	IF @flag='d'
		BEGIN
			DELETE FROM StaticDataDetail WHERE ROWID=@rowId
		END

	IF @flag='s'
		BEGIN
			SELECT DETAIL_TITLE,DETAIL_DESC FROM StaticDataDetail WHERE ROWID=@rowId
		END
END
GO
