USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_Deposits]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- exec [proc_Deposits] 'e','68-69','4','2',null,null

CREATE proc [dbo].[proc_Deposits]
@flag varchar(1),
@fiscalyear varchar(20)=null,
@month varchar(20)=null,
@barnchid varchar(20)=null,
@deptId varchar(20)=null,
@empId varchar(20)=null

as
Set nocount on;
declare @SQL as varchar(7000)

DECLARE @monthStartDate AS VARCHAR(20),@monthEndDate AS VARCHAR(20)
			SET @monthStartDate=dbo.GetMonthStartDateEng(@fiscalyear,@month) 
			SET @monthEndDate=dbo.GetMonthEndDateEng(@fiscalyear,@month)

if(@flag='e')


begin

begin
		set @SQL='
				
select ROW_NUMBER() over(order by e.Emp_Code) [SN]
				,dbo.GetEmployeeFullNameOfId(e.EMPLOYEE_ID) AS [Emp Name]
				,Sdd.DETAIL_DESC Position
				,z.ContributionCode [PF Code]
				,round(SUM(AMOUNT_EMPLOYEE),2) as [PF Amount <br /> Employee]
				,round(SUM(AMOUNT_EMPLOYER),2) as [PF Amount <br /> Employer]
				,dbo.showdecimal(SUM(AMOUNT_EMPLOYEE)+ SUM(AMOUNT_EMPLOYER)) as [Total Amount] 
from 
(
				SELECT
					 c.EMPLOYEE_ID
					 ,CONTRIBUTION_CODE ContributionCode
					,round(ISNULL(ch.AMOUNT_EMPLOYER, 0),0)  as AMOUNT_EMPLOYER 
					,ROUND(ISNULL(ch.AMOUNT_EMPLOYEE, 0),0)  as AMOUNT_EMPLOYEE	
					,sdd.DETAIL_TITLE 	
				FROM ContributionHistory ch
				INNER JOIN Contribution c ON ch.CONTRIBUTION_ID = c.ID
				INNER JOIN StaticDataDetail sdd ON sdd.ROWID = c.CONTRIBUTED_TO
					WHERE ch.RUN_MONTH = '''+@month+''' AND ch.FY_ID = '''+@fiscalyear+'''
					AND ISNULL(ch.AMOUNT_EMPLOYER, 0)>0
					and c.CONTRIBUTED_TO=''263''
					
					UNION ALL
					
					SELECT
					 ch.EMPLOYEE_ID
					 ,ch.CONTB_CODE
					,ISNULL(ch.CONTB_AMOUNT_EMPLOYER, 0) AMOUNT_EMPLOYER
					,ISNULL(ch.CONTB_AMOUNT_EMPLOYEE, 0) AMOUNT_EMPLOYEE
					,sdd.DETAIL_TITLE [headings]	
				FROM ADHOC_CONTRIBUTION ch
				INNER JOIN StaticDataDetail sdd ON sdd.ROWID = ch.CONTB_TO
				WHERE 1=1
			    AND ISNULL(CH.IS_PAID,0)=0
				and ch.CONTB_DATE between '''+@monthStartDate+''' and '''+@monthEndDate+'''
				and ch.CONTB_TO=''263''
				AND ISNULL(ch.CONTB_AMOUNT_EMPLOYER, 0)>0
				)z	

				inner join Employee E on z.EMPLOYEE_ID=E.EMPLOYEE_ID
				inner join StaticDataDetail Sdd on Sdd.ROWID=E.POSITION_ID
				 Where 1=1													
			    '

				--set @SQL=@SQL+' and RUN_MONTH='''+@month+''''
				if @barnchid<>0 and @barnchid is not null
				set @SQL=@SQL+' and e.BRANCH_ID='''+@barnchid+''''

				if @deptId<>0 and @deptId is not null
				set @SQL=@SQL+' and e.DEPARTMENT_ID='''+@deptId+''''

				if @empId<>0 and @empId is not null
				set @SQL=@SQL+' and h.EMPLOYEE_ID='''+@empId+''''
				end
				set @SQL=@SQL+' group by e.Emp_Code, e.EMPLOYEE_ID,BRANCH_ID,
				DEPARTMENT_ID,z.ContributionCode,e.POSITION_ID,DETAIL_DESC 				
				'

Exec(@SQL);
print @SQL;

end

if(@flag='c')
begin
			set @SQL='
				select ROW_NUMBER() over(order by e.Emp_Code) [SN]
				,dbo.GetEmployeeFullNameOfId(e.EMPLOYEE_ID) AS [Emp Name]
				,s.DETAIL_DESC Position
				,c.CONTRIBUTION_CODE [CIT CODE]
				,dbo.showdecimal(SUM(isnull(AMOUNT_EMPLOYEE,0))+SUM(isnull(AMOUNT_EMPLOYER,0))) as [CIT Amount]
				from ContributionHistory H
				inner join Employee e on H.EMPLOYEE_ID=e.EMPLOYEE_ID
				inner join Contribution c on H.CONTRIBUTION_ID=c.ID
				inner join StaticDataDetail s on e.POSITION_ID=s.ROWID
				where FY_ID='''+@fiscalyear+''' and c.CONTRIBUTED_TO=''262'' and ISNULL(VALUE_EMPLOYEE,0)<>0
			    '

				set @SQL=@SQL+' and RUN_MONTH='''+@month+''''
				
				if @barnchid<>0 and @barnchid is not null
				set @SQL=@SQL+' and e.BRANCH_ID='''+@barnchid+''''

				if @deptId<>0 and @deptId is not null
				set @SQL=@SQL+' and e.DEPARTMENT_ID='''+@deptId+''''

				if @empId<>0 and @empId is not null
				set @SQL=@SQL+' and h.EMPLOYEE_ID='''+@empId+''''
	
				set @SQL=@SQL+' group by e.Emp_Code,e.EMPLOYEE_ID,RUN_MONTH,BRANCH_ID,DEPARTMENT_ID,c.CONTRIBUTION_CODE,e.POSITION_ID,DETAIL_DESC  '

Exec(@SQL);
print @SQL;
end

if(@flag='t')
begin

			set @SQL='
				select ROW_NUMBER() over(order by e.emp_code) [SN]
				,dbo.GetEmployeeFullNameOfId(e.EMPLOYEE_ID) AS [Emp Name]
				,s.DETAIL_DESC Position
				,ISNULL(e.PAN_NUMBER,'''') PAN_NUMBER
				,SUM(ISNULL(Tax_This_Month,0)) as [TDS Amount]
				,SUM(ISNULL(SOCIAL_SECURITY_TAX,0)) AS [Social Security Tax]
				from Employee e 
				inner join TaxCalculation T on T.Emp_Id=e.EMPLOYEE_ID
				inner join StaticDataDetail s on e.POSITION_ID=s.ROWID
				where FY_ID='''+@fiscalyear+''''

				set @SQL=@SQL+' and RUN_MONTH='''+@month+''''
				
				if @barnchid<>0 and @barnchid is not null
				set @SQL=@SQL+' and t.BRANCH_ID='''+@barnchid+''''

				if @deptId<>0 and @deptId is not null
				set @SQL=@SQL+' and e.DEPARTMENT_ID='''+@deptId+''''
	
				set @SQL=@SQL+' group by e.emp_code,e.EMPLOYEE_ID,RUN_MONTH,t.BRANCH_ID,DEPARTMENT_ID,e.POSITION_ID,DETAIL_DESC,e.PAN_NUMBER '

Exec(@SQL);
print @SQL;
end


if(@flag='i')
begin

			set @SQL='
				select  
					ROW_NUMBER() over(order by e.emp_code) [SN],
					dbo.GetEmployeeFullNameOfId(I.EMPLOYEE_ID) Name,
					INSURANCE_POLICY,PAYMENT_AMOUNT, 
					convert(varchar,PAYMENT_DATE,107) PAYMENT_DATE
				from Insurance I 
				inner join InsurancePremium IP on I.ID=IP.INSURANCE_ID
				inner join employee e on I.employee_id=e.employee_id
				where PAYMENT_DATE between '''+ @monthStartDate +'''
				and '''+ @monthStartDate+''''
							
				if @barnchid<>0 and @barnchid is not null
				set @SQL=@SQL+' and e.BRANCH_ID='''+@barnchid+''''

				if @deptId<>0 and @deptId is not null
				set @SQL=@SQL+' and e.DEPARTMENT_ID='''+@deptId+''''

Exec(@SQL);
print @SQL;
end
GO
