USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procCheckInOut]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Exec [procCheckInOut] 'admin'

create proc [dbo].[procCheckInOut]
	@username varchar(20)
AS
BEGIN
	
	SET NOCOUNT ON;
	

	DECLARE @Emp_Id AS INT;
	DECLARE @userId AS INT;

	select @userId= AdminID, @Emp_Id=Name from  Admins  
	where UserName=@username
	

	IF EXISTS(
			SELECT ATTENDENCE_ID from [Attendence] 
			WHERE convert(varchar,[ATT_DATE_IN],102) = CONVERT(varchar,GETDATE(),102)
			AND ATT_DATE_OUT IS NULL
			AND EMPLOYEE_ID=@Emp_Id
	)
	BEGIN
		
			SELECT 'OUT' as MSG
			
	END
	ELSE
	BEGIN
		
			SELECT 'IN' as MSG
		
	END

END
GO
