USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procGetJobProcDetailsByRowID]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[procGetJobProcDetailsByRowID]  
(  
 @ROWID INT  
)  
AS   
BEGIN  
  
 SET NOCOUNT ON;  
  
      
  
 SELECT  ACTION_BY_EMPID,FORWARD_TO,ACTION_DATE,E.FIRST_NAME + ' ' + E.MIDDLE_NAME + ' ' + E.LAST_NAME AS EMPNAME,COMMENTS,MODE,FLAG,JOB_STATUS FROM WF_DETAILS WITH(NOLOCK)  
 INNER JOIN EMPLOYEE E ON E.EMPLOYEE_ID = WF_DETAILS.ACTION_BY_EMPID  
 WHERE ID=@ROWID  
   
 SELECT ACTION_BY_EMPID,FORWARD_TO,CONVERT(VARCHAR,ACTION_DATE,101) AS ACTION_DATE,E.FIRST_NAME + ' ' + E.MIDDLE_NAME + ' ' + E.LAST_NAME AS EMPNAME,COMMENTS,MODE,FLAG,JOB_STATUS FROM WF_DETAILS WITH(NOLOCK)  
 INNER JOIN EMPLOYEE E ON E.EMPLOYEE_ID = WF_DETAILS.ACTION_BY_EMPID  
  
     WHERE ID = (SELECT PARENT_ID FROM WF_DETAILS WITH(NOLOCK) WHERE ID = @ROWID)  
         
    
END
GO
