USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procTDSEmployeeWiseReport]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Exec [procTDSEmployeeWiseReport] @flag='t',@year='69-70',@month=null


CREATE  proc [dbo].[procTDSEmployeeWiseReport]
    @flag varchar(1),
	@year varchar(50)=null,
	@month varchar(50)=null,
	@branch varchar(50)=null,
	@dept varchar(50)=null,
	@EmpID varchar(50)=null

AS

set nocount on;

declare @SQL as varchar(7000)

if(@flag='s')

begin
           			set @SQL='select dbo.FNAGetNepMonthName(Run_Month) AS Month ,
							  Tax_This_Month as [Tax For This Month]  from TaxCalculation
							  where FY_ID='''+@year+''''								

						if @branch<>0 and @branch is not null  
						set @SQl=@SQl + ' and  Branch_Id = '''+ @branch +''''  

						if @dept<>0 and @dept is not null  
						set @SQl=@SQl + ' and Dept_Id= '''+ @dept +''''  
						
						if @empid is not null
						set @SQl= @SQl + ' and Emp_Id = '''+ @empid+''''
						
						if @month is not null
						set @SQl= @SQl + ' and cast(Run_Month as int) = cast('+ @month +' as int)' 
	
				
			--print @SQL;
			exec(@SQL)

end

if(@flag='i')

begin
           			set @SQL=' select EMP_CODE,dbo.GetEmployeeFullNameOfId(t.Emp_Id) as NAME,
           			sum(t.Tax_This_Month) As [TAX PAID]								
	                from TaxCalculation t, 
	                Employee e 
	                where t.Emp_Id=e.EMPLOYEE_ID  and t.FY_ID='''+@year+''''								

						if @branch<>0 and @branch is not null  
						set @SQl=@SQl + ' and  t.Branch_Id = '''+ @branch +''''  

						if @dept<>0 and @dept is not null  
						set @SQl=@SQl + ' and Dept_Id= '''+ @dept +''''  
						
						if @empid is not null
						set @SQl= @SQl + ' and Emp_Id = '''+ @empid+''''
						
						if @month is not null
						set @SQl= @SQl + ' and cast(Run_Month as int) = cast('+ @month +' as int)' 
						
	                    set @SQl= @SQl+ 'group by EMP_CODE, t.Emp_Id'				
				
			--print @SQL;
			exec(@SQL)

end

if(@flag='t')

begin
           			
	          if(@month is null)    
	              begin
	                
					  set @SQL='SELECT A.EMP_CODE [Emp Code],dbo.GetEmployeeFullNameOfId(B.EMP_ID) NAME ,
							    ISNULL(PAN_NUMBER,0) as [PAN NUMBER],					
								sum(isnull(SOCIAL_SECURITY_TAX,0)) [SOCIAL SECURITY TAX],
								sum(ROUND(isnull(TAX_THIS_MONTH,0),2)- isnull(SOCIAL_SECURITY_TAX,0) )AS [SALARY TAX],
								sum(isnull(b.TAX_THIS_MONTH,0) ) [ Total Tax]				
								FROM  Employee A 
								INNER JOIN TaxCalculation B ON A.EMPLOYEE_ID=B.EMP_ID					
								where FY_ID='''+@year+''''		 				
							
							
							
						 set @SQl= @SQl+ 'group by dbo.GetEmployeeFullNameOfId(B.EMP_ID),A.EMP_CODE,PAN_NUMBER '				
						exec(@SQL)
						return
					end
					
					  set @SQL='SELECT A.EMP_CODE [Emp Code],dbo.GetEmployeeFullNameOfId(B.EMP_ID) NAME ,
							    ISNULL(PAN_NUMBER,0) as [PAN NUMBER],					
								isnull(SOCIAL_SECURITY_TAX,0) [SOCIAL SECURITY TAX],
								ROUND(isnull(TAX_THIS_MONTH,0),2)- isnull(SOCIAL_SECURITY_TAX,0) AS [SALARY TAX	],isnull(b.TAX_THIS_MONTH,0)  [ Total Tax]				
								FROM  Employee A 
								INNER JOIN TaxCalculation B ON A.EMPLOYEE_ID=B.EMP_ID					
								where FY_ID='''+@year+''''		 				
							
							if @month is not null
							set @SQl= @SQl + ' and cast(Run_Month as int) = cast('+ @month +' as int)' 
							
						 set @SQl= @SQl+ 'order by EMP_CODE '				
						exec(@SQL)
						
						
					
			

end
GO
