USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procInsertUpdateWorkFlowMember]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[procInsertUpdateWorkFlowMember]     
  (       
 @MemID INT = NULL,     
    @CatID  INT  = NULL,       
    @EmployeeID INT = NULL,     
    @Mode   VARCHAR(5)  = NULL      
  )      
AS      
      
BEGIN      
  IF (@Mode = 'I')      
      BEGIN      
          
      --    
                    IF NOT EXISTS ( SELECT EMPLOYEE_ID from [WF_Member] where Employee_ID = @EmployeeID AND WF_CategoryID = @CatID)    
                    BEGIN    
      --                     
                             INSERT INTO [WF_Member]    
                                ([WF_CategoryID]    
                                ,[Employee_ID])    
                             VALUES    
                               (@CatID    
                               ,@EmployeeID)    
                    END               
  END       
        
  IF (@Mode = 'U')      
        
                    BEGIN      
                                      UPDATE [WF_Member]                                          
                                      SET [Employee_ID] = @EmployeeID    
                                      WHERE WF_MEMBERID = @MemID     
                    END        
  IF (@Mode = 'D')
  BEGIN
		DELETE FROM WF_Member WHERE WF_MemberID = @MemID	
  END	                    
         
END
GO
