USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procStockStatement]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*

EXEC [procStockStatement] @flag='a',@product_id='174',@startdate='2010-11-11',
@enddate='2012-12-18',   @branchid=1
   */
CREATE PROC [dbo].[procStockStatement]
	@flag VARCHAR(1),
	@startdate VARCHAR(20)=NULL,
	@enddate VARCHAR(20)=NULL,
	@branchid VARCHAR(20)=NULL,
	@product_id VARCHAR(20)=NULL
AS

IF @flag='a'
BEGIN
				 
	SELECT 
	 ROW_NUMBER() OVER(ORDER BY A.entered_date) [S.N.]
	,convert(varchar,A.entered_date,107)entered_date
	,Narration
	,A.QTY_OPENING [Qty Opening]
	,A.AMOUNT_OPENING [Amount Opening]
	,A.QTY_PURCHASE [Qty Purchase]
	,A.AMOUNT_PURCHASE [Amount Purchase]
	,A.QTY_TRANSFERIN [Qty Transfer In]
	,A.AMOUNT_TRANSFERIN [Amount Transfer In]
	,A.QTY_CONSUMNED [Qty Consumed]
	,A.AMOUNT_CONSUMED  [Amount Consumed]
	,A.QTY_TRANSFEROUT [Qty Transfer Out]
	,A.AMOUNT_TRANSFEROUT [Amount Transfered Out]
	,A.QTY_DISPOSED [Qty Disposed]
	,A.AMOUNT_DISPOSED [Amount Disposed] 
	FROM 
	(  
		SELECT 
		 prod_code
		,Narration
		,entered_date
		,SUM(QTY) QTY_OPENING
		,SUM(AMOUNT_OPENING) AS AMOUNT_OPENING
		,SUM(QTY_PURCHASE) AS QTY_PURCHASE
		,SUM(AMOUNT_PURCHASE) AS AMOUNT_PURCHASE
		,SUM(QTY_TRANSFERIN) AS QTY_TRANSFERIN
		,SUM(AMOUNT_TRANSFERIN) AS AMOUNT_TRANSFERIN
		,SUM(QTY_CONSUMED) AS QTY_CONSUMNED
		,SUM(AMOUNT_CONSUMED) AS AMOUNT_CONSUMED
		,SUM(QTY_TRANSFEROUT) AS QTY_TRANSFEROUT
		,SUM(AMOUNT_TRANSFEROUT) AS AMOUNT_TRANSFEROUT
		,SUM(QTY_DISPOSED)AS QTY_DISPOSED
		,SUM(AMOUNT_DISPOSED) AMOUNT_DISPOSED


		FROM 
		(
			SELECT
				 prod_code
				,entered_date
				,'Opening Stock' Narration
				,SUM(QTY) QTY				
				,SUM(OPENING) AS AMOUNT_OPENING
				,0 QTY_PURCHASE
				,0 AMOUNT_PURCHASE
				,0 QTY_TRANSFERIN
				,0 AMOUNT_TRANSFERIN 
				,0 QTY_CONSUMED
				,0 AMOUNT_CONSUMED
				,0 QTY_TRANSFEROUT
				,0 AMOUNT_TRANSFEROUT
				,0 QTY_DISPOSED
				,0 AMOUNT_DISPOSED
			FROM (
					SELECT 
						 prod_code
						,@startdate [entered_date]						
						,SUM(isnull(p_qty,0)) QTY
						,SUM(isnull(p_rate,0)*isnull(p_qty,0)) AS OPENING 																			 
					 FROM IN_PURCHASE
					 WHERE branch_id =@branchid
					 AND prod_code=@product_id
					 AND entered_date<@startdate 
					 GROUP BY entered_date,prod_code
					 
					UNION ALL

					SELECT 
						s_prod_id
						,@startdate entered_date
						,SUM(s_qty)*-1 QTY
						,SUM(S_QTY*s_rate)*-1 AS AMOUNT 
					FROM IN_SALES
					WHERE from_branch=@branchid
					AND s_prod_id=@product_id
					AND entered_date<@startdate 
					GROUP BY entered_date,s_prod_id
					 
					UNION ALL

					SELECT 
						prod_code
						,@startdate entered_date
						,SUM(p_qty)*-1 QTY
						,SUM(p_qty*p_rate)*-1 AS AMOUNT 
					FROM IN_DISPOSAL
					WHERE branch_id =@branchid
					AND prod_code=@product_id
					 AND entered_date<@startdate 
					 GROUP BY entered_date,prod_code
					 
				) XY GROUP BY entered_date,prod_code
				
				
		 
		 UNION ALL
		 
			 SELECT
				 prod_code 
				,a.entered_date entered_date
				,'Purchased From '+c.CustomerName+',Bill No: '+b.billno Narration
				, 0 OPEN_QTY
				, 0 OPENING	
				,SUM(isnull(p_qty,0)) QTY
				,SUM(isnull(P_QTY,0)*isnull(P_RATE,0)) AMOUNT_PURCHASE
				,0 QTY_TRANSFERIN
				,0 AMOUNT_TRANSFERIN 
				,0 QTY_CONSUMED
				,0 AMOUNT_CONSUMED
				,0 QTY_TRANSFEROUT
				,0 AMOUNT_TRANSFEROUT
				,0 QTY_DISPOSED
				,0 AMOUNT_DISPOSED		

			FROM IN_PURCHASE a left join Bill_info b on a.bill_id=b.bill_id
			left join Customer c on c.ID=b.party_code
			 WHERE branch_id =@branchid
			 and prod_code=@product_id
			 AND a.entered_date BETWEEN @startdate AND @enddate+' 23:59:59'
			 AND req_id IS NULL 
			 GROUP BY a.entered_date,prod_code,c.CustomerName,b.billno
		 
		 UNION ALL
		 
			 SELECT 
					 prod_code 
					,entered_date entered_date
					,'From Branch '+dbo.GetBranchName(Forwarded_To) Narration
					,0 QTY_OPENING
					,0 OPENING
					,0 QTY_PURCHASE
					,0 AMOUNT_PURCHASE
				,SUM(p_qty) QTY
				,SUM(P_QTY*P_RATE) AMOUNT_TRANSFERIN
				,0 QTY_CONSUMED
				,0 AMOUNT_CONSUMED
				,0 QTY_TRANSFEROUT
				,0 AMOUNT_TRANSFEROUT
				,0 QTY_DISPOSED
				,0 AMOUNT_DISPOSED
				
			 FROM IN_PURCHASE a inner join IN_Requisition_Message b on a.req_id=b.id
			 WHERE a.branch_id =@branchid
			 and prod_code=@product_id
			 AND entered_date BETWEEN @startdate AND @enddate+' 23:59:59'
			 AND req_id IS NOT NULL 
			 GROUP BY entered_date,prod_code,Forwarded_To
		 
		 
		 UNION ALL
		 
			 SELECT s_prod_id
					,entered_date entered_date
					,'Consumed In Branch '+dbo.GetBranchName(to_branch)
					,0 QTY_OPENING
					,0 OPENING
					,0 QTY_PURCHASE
					,0 AMOUNT_PURCHASE
					,0 QTY_TRANSFERIN
					,0 AMOUNT_TRANSFERIN
					,SUM(S_QTY) QTY
					,SUM(S_QTY*S_RATE) CONSUMED 
					,0 QTY_TRANSFEROUT
					,0 AMOUNT_TRANSFEROUT
					,0 QTY_DISPOSED
					,0 AMOUNT_DISPOSED
							
			 FROM IN_SALES
			 WHERE from_branch =@branchid
			 AND from_branch=to_branch
			 and s_prod_id=@product_id
			 AND entered_date  BETWEEN @startdate AND @enddate+' 23:59:59' 
			 GROUP BY entered_date,s_prod_id,to_branch
		 
		 
		 UNION ALL
		 
			 SELECT s_prod_id
					,entered_date  entered_date
					,'Transfer Out Branch '+dbo.GetBranchName(to_branch)
					,0 QTY_OPENING
					,0 OPENING
					,0 QTY_PURCHASE
					,0 AMOUNT_PURCHASE
					,0 AMOUNT_TRANSFERIN
					,0 AMOUNT_TRANSFERIN
					,0 QTY_CONSUMED
					,0 AMOUNT_CONSUMED
					,SUM(S_QTY) QTY
					,SUM(S_QTY*S_RATE) TRANSFER_OUT 
					,0 QTY_DISPOSED
					,0 AMOUNT_DISPOSED
					
			 FROM IN_SALES
			 WHERE from_branch=@branchid
			 and s_prod_id=@product_id
			 AND to_branch<>@branchid
			 AND entered_date  BETWEEN @startdate AND @enddate+' 23:59:59'
			 GROUP BY  entered_date,s_prod_id,to_branch
		 
		UNION ALL

			SELECT	prod_code
					, entered_date  entered_date
					,'Disposed Out from '+dbo.GetBranchName(branch_id)
					,0 QTY_OPENING
					,0 OPENING
					,0 QTY_PURCHASE
					,0 AMOUNT_PURCHASE
					,0 AMOUNT_TRANSFERIN
					,0 AMOUNT_TRANSFERIN
					,0 QTY_CONSUMED
					,0 AMOUNT_CONSUMED
					,0 QTY_TRANSFEROUT
					,0 TRANSFER_OUT 	
					,SUM(P_QTY) QTY				
					,SUM(P_QTY*P_RATE) DISPOSED
			FROM IN_DISPOSAL
			WHERE branch_id=@branchid
			 AND entered_date BETWEEN @startdate AND @enddate+' 23:59:59' 
			 GROUP BY entered_date,prod_code,branch_id
			 
		 ) Z GROUP BY entered_date,prod_code,Narration
	)A 
	INNER JOIN 
	(
		SELECT porduct_code,id FROM IN_PRODUCT
	
	)B ON A.prod_code=B.id order by A.entered_date 
	
	
END
GO
