USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procStockInHandSummaryRpt]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
EXEC procStockInHandSummaryRpt 'a','2012-04-24','2012-04-24','1',null
*/

CREATE PROC [dbo].[procStockInHandSummaryRpt]
	@flag VARCHAR(1),
	@startdate VARCHAR(20)=NULL,
	@enddate VARCHAR(20)=NULL,
	@branchid VARCHAR(20)=NULL,
	@product_id VARCHAR(20)=NULL
AS

IF @flag='a'
BEGIN
				 
	SELECT B.PRODUCT_ID [PROD CODE],B.PRODUCT_NAME [PRODUCT NAME],B.package_unit [PACKAGE UNIT]
	,A.OPENING QTY,ROUND(A.AMOUNT_OPENING/CASE WHEN A.OPENING=0 THEN 1 ELSE A.OPENING END,2) AS RATE,A.AMOUNT_OPENING AMOUNT
	,A.PURCHASE QTY,ROUND(A.AMOUNT_PURCHASE/CASE WHEN A.PURCHASE=0 THEN 1 ELSE A.PURCHASE END,2) AS RATE,A.AMOUNT_PURCHASE AMOUNT
	,A.TRANSFERIN QTY,ROUND(A.AMOUNT_TRANSFERIN/CASE WHEN A.TRANSFERIN=0 THEN 1 ELSE A.TRANSFERIN END,2) AS RATE,A.AMOUNT_TRANSFERIN AMOUNT
	,A.CONSUMED QTY,ROUND(A.AMOUNT_CONSUMED/CASE WHEN A.CONSUMED=0 THEN 1 ELSE A.CONSUMED END,2) AS RATE,A.AMOUNT_CONSUMED AMOUNT
	,A.TRANSFEROUT QTY,ROUND(A.AMOUNT_TRANSFEROUT/CASE WHEN A.TRANSFEROUT=0 THEN 1 ELSE A.TRANSFEROUT END,2) AS RATE,A.AMOUNT_TRANSFEROUT AMOUNT	
	,A.DISPOSED QTY,ROUND(A.AMOUNT_DISPOSED/CASE WHEN A.DISPOSED=0 THEN 1 ELSE A.DISPOSED END,2) AS RATE,A.AMOUNT_DISPOSED AMOUNT
	,A.CLOSING QTY,ROUND(A.AMOUNT_CLOSING/CASE WHEN A.CLOSING=0 THEN 1 ELSE A.CLOSING END,2) AS RATE,A.AMOUNT_CLOSING AMOUNT 
	,A.TRANSIT QTY,ROUND(A.TRANSIT_AMOUNT/CASE WHEN A.TRANSIT=0 THEN 1 ELSE A.TRANSIT END,2) AS RATE,A.TRANSIT_AMOUNT AMOUNT
	FROM 
	(

		SELECT prod_code, 
			SUM(OPENING) OPENING,
			SUM(AMOUNT_OPENING) AS AMOUNT_OPENING,
			SUM(PURCHASE) PURCHASE,
			SUM(AMOUNT_PURCHASE) AS AMOUNT_PURCHASE,
			SUM(TRANSFERIN) TRANSFERIN,
			SUM(AMOUNT_TRANSFERIN) AMOUNT_TRANSFERIN, 
			SUM(CONSUMED) CONSUMED,
			SUM(AMOUNT_CONSUMED) AMOUNT_CONSUMED,
			SUM(TRANSFEROUT) TRANSFEROUT,
			SUM(AMOUNT_TRANSFEROUT) AMOUNT_TRANSFEROUT, 
			SUM(DISPOSED) DISPOSED,
			SUM(AMOUNT_DISPOSED) AMOUNT_DISPOSED,
			SUM(OPENING) + SUM(PURCHASE) + SUM(TRANSFERIN) - SUM(CONSUMED)- SUM(TRANSFEROUT)- SUM(DISPOSED) CLOSING,
			SUM(AMOUNT_OPENING)+SUM(AMOUNT_PURCHASE)+SUM(AMOUNT_TRANSFERIN)-SUM(AMOUNT_CONSUMED)-SUM(AMOUNT_TRANSFEROUT)-SUM(AMOUNT_DISPOSED) AS AMOUNT_CLOSING,
			SUM(TRANSIT) TRANSIT,SUM(TRANSIT_AMOUNT) TRANSIT_AMOUNT

		FROM 
		(
			SELECT prod_code, 
					SUM(OPENING) OPENING,
					SUM(AMOUNT) AS AMOUNT_OPENING, 
					0 PURCHASE,
					0 AMOUNT_PURCHASE, 
					0 TRANSFERIN,
					0 AMOUNT_TRANSFERIN, 
					0 CONSUMED,																								  
					0 AMOUNT_CONSUMED, 
					0 TRANSFEROUT, 
					0 AMOUNT_TRANSFEROUT,
					0 DISPOSED ,
					0 AMOUNT_DISPOSED,
					0 TRANSIT,
					0 TRANSIT_AMOUNT
			FROM (
					SELECT prod_code,SUM(P_QTY) OPENING,SUM(p_rate*P_QTY)  AS AMOUNT FROM IN_PURCHASE
					 WHERE branch_id=@branchid 
					 AND entered_date<@startdate AND prod_code LIKE ISNULL(@product_id ,'%') 
					 GROUP BY prod_code
					UNION ALL

					SELECT S_prod_ID,SUM(S_QTY)*-1,SUM(S_QTY*s_rate)*-1 AS AMOUNT FROM IN_SALES
					 WHERE from_branch=@branchid 
					 AND entered_date<@startdate AND S_prod_ID LIKE ISNULL(@product_id ,'%') 
					 GROUP BY S_prod_ID
					UNION ALL

					SELECT prod_code,SUM(P_QTY)*-1,SUM(p_qty*p_rate)*-1 AS AMOUNT FROM IN_DISPOSAL
					WHERE branch_id=@branchid 
					 AND entered_date<@startdate AND prod_code LIKE ISNULL(@product_id ,'%') 
					 GROUP BY prod_code
				) XY GROUP BY prod_code
				
				
		 
		 UNION ALL
		 
			 SELECT prod_code, 
					0 OPENING,
					0 AMOUNT,
					SUM(P_QTY)  
					PURCHASE,
					SUM(P_QTY*P_RATE) AMOUNT, 
					0 TRANSFERIN,
					0 AMOUNT, 
					0 CONSUMED,
					0 AMOUNT, 
					0 TRANSFEROUT,
					0 AMOUNT, 
					0 DISPOSED ,
					0 AMOUNT,
					0 TRANSIT,
					0 TRANSIT_AMOUNT
			 FROM IN_PURCHASE
			 WHERE branch_id=@branchid 
			 AND entered_date BETWEEN @startdate AND @enddate+' 23:59:59'
			 AND req_id IS NULL AND prod_code LIKE ISNULL(@product_id ,'%') 
			 GROUP BY prod_code
		 
		 UNION ALL
		 
			SELECT prod_code, 
				 0 OPENING,
				 0 AMOUNT, 
				 0 PURCHASE,
				 0 AMOUNT, 
				 SUM(P_QTY) TRANSFERIN,
				 SUM(P_QTY*P_RATE) AMOUNT, 
				 0 CONSUMED,0 AMOUNT, 
				 0 TRANSFEROUT,
				 0 AMOUNT, 
				 0 DISPOSED ,
				 0 AMOUNT,
				 0 TRANSIT,
				 0 TRANSIT_AMOUNT
			 FROM IN_PURCHASE
			 WHERE branch_id=@branchid 
			 AND entered_date BETWEEN @startdate AND @enddate+' 23:59:59'
			 AND req_id IS NOT NULL AND prod_code LIKE ISNULL(@product_id ,'%') 
			 GROUP BY prod_code
		 
		 
		 UNION ALL
		 
			 SELECT S_prod_ID, 
					 0 OPENING,
					 0 AMOUNT, 
					 0 PURCHASE,
					 0 AMOUNT,
					 0  TRANSFERIN,
					 0 AMOUNT, 
					 SUM(S_QTY) CONSUMED,
					 SUM(S_QTY*S_RATE) AMOUNT, 
					 0 TRANSFEROUT,
					 0 AMOUNT, 
					 0 DISPOSED,
					 0 AMOUNT,
					 0 TRANSIT,
				     0 TRANSIT_AMOUNT 
			 FROM IN_SALES
			 WHERE from_branch=@branchid 
			 AND to_branch=@branchid
			 AND entered_date  BETWEEN @startdate AND @enddate+' 23:59:59' AND S_prod_ID LIKE ISNULL(@product_id ,'%') 
			 GROUP BY S_prod_ID
		 
		 
		 UNION ALL
		 
			SELECT S_prod_ID, 
				0 OPENING,
				0 AMOUNT, 
				0  PURCHASE,
				0 AMOUNT,
				0  TRANSFERIN,
				0 AMOUNT, 
				0 CONSUMED,
				0 AMOUNT, 
				SUM(S_QTY) TRANSFEROUT,
				SUM(S_QTY*S_RATE) AMOUNT, 
				0 DISPOSED,
				0 AMOUNT, 
				0 TRANSIT,
				0 TRANSIT_AMOUNT 
			 FROM IN_SALES
			 WHERE from_branch=@branchid 
			 AND to_branch<>from_branch
			 AND entered_date  BETWEEN @startdate AND @enddate+' 23:59:59' AND S_prod_ID LIKE ISNULL(@product_id ,'%')
			 GROUP BY S_prod_ID
		 
		UNION ALL

			SELECT prod_code,
				0 OPENING,
				0 AMOUNT, 
				0 PURCHASE,
				0 AMOUNT,
				0 TRANSFERIN,
				0 AMOUNT, 
				0 CONSUMED,
				0 AMOUNT,
				0 TRANSFEROUT,
				0 AMOUNT,  
				SUM(P_QTY)DISPOSED,
				SUM(P_QTY*P_RATE) AMOUNT,
				0 TRANSIT,
				0 TRANSIT_AMOUNT 
			FROM IN_DISPOSAL
			WHERE branch_id=@branchid 
			 AND entered_date BETWEEN @startdate AND @enddate+' 23:59:59' AND prod_code LIKE ISNULL(@product_id ,'%')
			 GROUP BY prod_code
			 
		UNION ALL
		
		select	
				product_id, 
				0 OPENING,
				0 AMOUNT, 
				0 PURCHASE,
				0 AMOUNT,
				0 TRANSFERIN,
				0 AMOUNT, 
				0 CONSUMED,
				0 AMOUNT, 
				0 TRANSFEROUT,
				0 AMOUNT, 
				0 DISPOSED,
				0 AMOUNT,
				SUM(ISNULL(TRANSIT,0)) TRANSIT,
				SUM(ISNULL(TRANSIT_AMOUNT,0))  TRANSIT_AMOUNT 
				from 
				(
					SELECT product_id, 
						SUM(dispatched_qty) TRANSIT,
						SUM(dispatched_qty*Rate)  TRANSIT_AMOUNT 
					FROM IN_DISPATCH a with(nolock) inner join
					(
						select branch_id from Branches WITH(NOLOCK) where isnull(isDirectExp,'N')='N'
					)b on a.to_branch=b.BRANCH_ID
					 WHERE from_branch=@branchid
					 AND from_branch<>to_branch
					 AND dispatched_date BETWEEN @startdate AND @enddate+' 23:59:59'
					 AND product_id LIKE ISNULL(@product_id ,'%')
					 GROUP BY product_id	
				
					union all
				
					SELECT product_id, 
						SUM(dispatched_qty) *-1 TRANSIT,
						SUM(dispatched_qty*Rate)*-1  TRANSIT_AMOUNT 
					FROM IN_DISPATCH a with(nolock) inner join
					(
						select branch_id from Branches WITH(NOLOCK) where isnull(isDirectExp,'N')='N'
					)b on a.to_branch=b.BRANCH_ID
					 WHERE from_branch=@branchid
					 AND from_branch<>to_branch
					 AND received_date BETWEEN @startdate AND @enddate+' 23:59:59'
					 AND product_id LIKE ISNULL(@product_id ,'%')
					 GROUP BY product_id
					 	
				)a  group by product_id	 
			 
		 ) Z GROUP BY prod_code
	)A 
	INNER JOIN 
	(
		SELECT A.PRODUCT_ID,A.porduct_code AS PRODUCT_NAME,A.package_unit FROM 
		(		
			SELECT ID AS PRODUCT_ID,porduct_code,package_unit FROM IN_PRODUCT 		
		)A
		LEFT JOIN 
		(
			SELECT DISTINCT PROD_CODE  AS PRODUCT_ID FROM IN_PURCHASE
		)B ON A.PRODUCT_ID=B.PRODUCT_ID
	
	)B ON A.prod_code=B.PRODUCT_ID order by B.PRODUCT_ID
	
END

--alter table IN_DISPATCH	add from_branch int,to_branch int,dispatched_date date,received_date date,rate money
GO
