USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procHasAccess]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
	[procHasAccess] 1 , 101
	select * from user_function
*/

CREATE procedure [dbo].[procHasAccess]
	@userId int,
	@menuId int

as

set nocount on;


begin	

	 if @userId='1'
	 begin
	 
		select distinct menu.sno,menu.function_name,menu.dis_order,menu.menu_group,menu.link_file 
		from user_function menu  WITH (NOLOCK) order by dis_order 
		
	 end
	 else
	 begin
	 
		select distinct menu.sno,menu.function_name,menu.dis_order,menu.menu_group,menu.link_file from Admins a
			inner join user_role ur on a.AdminID = ur.[user_id]
			inner join (select ROWID,DETAIL_TITLE from StaticDataDetail with(nolock) where TYPE_ID=25) rm on ur.role_Id = rm.ROWID
			inner join roles_detail rd on rm.ROWID = rd.role_id	
			inner join user_function menu  on rd.function_id = menu.sno
		where a.AdminID=@userId and menu.sno=@menuId
	 end

end
GO
