USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[ProcManageBranchLinkage]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*

EXEC [ProcManageBranchLinkage] 'a','11','121','123123123',null,null,null,null,null,'true','admin'
select * from ASSET_BRANCH where BRANCH_ID=11
SELECT * FROM ASSET_BRANCH WHERE BRANCH_ID=11 AND PRODUCT_ID=285

*/
CREATE PROCEDURE [dbo].[ProcManageBranchLinkage]
				@FLAG CHAR(1),				
				@BRANCH_ID  INT=NULL,
				@GROUP_ID  INT=NULL,
				@ASSET_AC VARCHAR(50)=NULL,				
				@DEP_AC VARCHAR(50)=NULL,				
				@ACC_DEP_AC VARCHAR(5)=NULL,
				@WRITEOFF_AC VARCHAR(50)=NULL,
				@PROFIT_LOSS_AC VARCHAR(50)=NULL,
				@MAINTENANCE_AC VARCHAR(50)=NULL,
				@IS_ACTIVE AS VARCHAR(10)=NULL,
				@USER AS VARCHAR(20)=NULL
					
AS				
SET NOCOUNT ON;

IF(@flag='a')
BEGIN
		DECLARE @Group_Name AS VARCHAR(200),@branch_name AS VARCHAR(200)
		SELECT @branch_name=branch_name FROM Branches WHERE branch_id=@branch_id
		SELECT @Group_Name=item_name FROM ASSET_ITEM WHERE id=@group_id
		
        IF NOT EXISTS(SELECT id AS product_id FROM ASSET_PRODUCT WHERE item_id IN (SELECT id FROM ASSET_ITEM WHERE parent_id=@group_id)AND id NOT IN 
			(SELECT PRODUCT_ID FROM ASSET_BRANCH WHERE BRANCH_ID=@branch_id))
		BEGIN				
				
				SELECT 'All Asset Type Of '+@Group_Name+' Group Has Been Already Assigned With '+@branch_name +'!' AS msg
				RETURN;
		END	
        
		CREATE TABLE #temp_Product
		(
			product_id VARCHAR(500)
		)
		
        INSERT #temp_Product           
			SELECT id AS product_id FROM ASSET_PRODUCT WHERE item_id IN (SELECT id FROM ASSET_ITEM WHERE parent_id=@GROUP_ID)AND id NOT IN 
			(SELECT PRODUCT_ID FROM ASSET_BRANCH WHERE BRANCH_ID=@BRANCH_ID)

		INSERT INTO ASSET_BRANCH(ASSET_AC,DEPRECIATION_EXP_AC,ACCUMULATED_DEP_AC,WRITE_OFF_EXP_AC,SALES_PROFIT_LOSS_AC,MAINTAINANCE_EXP_AC,
					BRANCH_ID,PRODUCT_ID,IS_ACTIVE,ASSET_NEXT_NUM,CREATED_DATE,CREATED_BY)
		SELECT @ASSET_AC,@DEP_AC,@ACC_DEP_AC,@WRITEOFF_AC,@PROFIT_LOSS_AC,@MAINTENANCE_AC,@BRANCH_ID,PRODUCT_ID,@IS_ACTIVE,'1',GETDATE(),@user FROM #temp_Product
		
		SELECT 'All Asset Type Of '+@Group_Name+' Group Has Been Assigned With '+@branch_name +'!' AS msg		
		DROP TABLE #temp_Product
		
END
GO
