USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TadaAuthoriseBy]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[Proc_TadaAuthoriseBy] 
				@empid int ,
				@flag char(1),
				@type_id int=null,
				@mul_typeid varchar(200)=null,
				@rowid int=null,
				@DETAIL_TITLE varchar(200)=null,
				@DETAIL_DESC varchar(500)=null,
				@user varchar(100) =null
		

as 
if @flag='s'
begin 

	Select 
		 rtrim(dbo.GetEmployeeFullNameOfId(SUPERVISOR)) Supervisor_Name
		,SUPERVISOR 
	from SuperVisroAssignment 
	where emp=@empid 

end
GO
