USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_AttendenceSystem]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC  [dbo].[proc_AttendenceSystem]
(
    @flag varchar(1)= null
   ,@fromdate varchar(50)=null
)
as
SET NOCOUNT ON;
	
IF @flag is null
BEGIN
	-- declare @fromdate varchar(50)
     set @fromdate= CONVERT(varchar(20),GETDATE()-1, 111)
  
-------------------------------Insert into temp table ---------------------------------------
IF OBJECT_ID('tempdb..#TEMP_IMPORT_DATA') IS NOT NULL
		DROP TABLE #TEMP_IMPORT_DATA

			SELECT * 
			INTO #TEMP_IMPORT_DATA
			FROM 
			(
				SELECT
				CARDID
				,@fromdate+' '+ CONVERT(VARCHAR(5), (MIN(DT)), 108) [TIMEIN]
				,@fromdate+ ' '+ CONVERT(VARCHAR(5), (MAX(DT)), 108) [TIMEOUT]
				FROM
				(
					select CHECKTIME DT,USERID as CARDID from IME_ATT_SYS.dbo.CHECKINOUT 
					where CHECKTIME between @fromdate  and  @fromdate +' 23:59'
				)x
				GROUP BY CARDID
			)a left join
			( 
				select CardNo, USERID from IME_ATT_SYS.dbo.USERINFO where CardNo is not null
			)b
			on a.CARDID=b.USERID
			join 
			(select EMPLOYEE_ID,CARD_NO from EMPLOYEE_IDENTIFICATION where CARD_TYPE='673')ID
			on b.CardNo=ID.CARD_NO
			
-------------------------------delete from Attendance table ---------------------------------------				

			DELETE Attendence 
			FROM Attendence A,
			(
			
			   select * from #TEMP_IMPORT_DATA 
			   
			)TID
			where A.EMPLOYEE_ID=TID.EMPLOYEE_ID 
			and CONVERT(varchar(20),A.ATT_DATE_IN, 102) = CONVERT(varchar(20),cast(TID.TIMEIN as datetime), 102)
		
			
---------------------------------finally insert into Attendance table ---------------------------------------	
						  
			INSERT INTO Attendence(EMPLOYEE_ID,ATT_DATE_IN ,ATT_DATE_OUT )
			SELECT Tid.EMPLOYEE_ID,Tid.TIMEIN,Tid.TIMEOUT from #TEMP_IMPORT_DATA Tid 
			
------------------------------------2nd Block----------------------------------------------------------------

 set @fromdate= CONVERT(varchar(20),GETDATE(), 111)
  
-------------------------------Insert into temp table ---------------------------------------
IF OBJECT_ID('tempdb..#TEMP_IMPORT_DATA2') IS NOT NULL
		DROP TABLE #TEMP_IMPORT_DATA2

			SELECT * 
			INTO #TEMP_IMPORT_DATA2
			FROM 
			(
				SELECT
				CARDID
				,@fromdate+' '+ CONVERT(VARCHAR(5), (MIN(DT)), 108) [TIMEIN]
				,@fromdate+ ' '+ CONVERT(VARCHAR(5), (MAX(DT)), 108) [TIMEOUT]
				FROM
				(
					select CHECKTIME DT,USERID as CARDID from IME_ATT_SYS.dbo.CHECKINOUT 
					where CHECKTIME between @fromdate  and  @fromdate +' 23:59'
				)x
				GROUP BY CARDID
			)a left join
			( 
				select CardNo, USERID from IME_ATT_SYS.dbo.USERINFO where CardNo is not null
			)b
			on a.CARDID=b.USERID
			join 
			(select EMPLOYEE_ID,CARD_NO from EMPLOYEE_IDENTIFICATION where CARD_TYPE='673')ID
			on b.CardNo=ID.CARD_NO
			
-------------------------------delete from Attendance table ---------------------------------------				

			DELETE Attendence 
			FROM Attendence A,
			(
			
			   select * from #TEMP_IMPORT_DATA2
			   
			)TID
			where A.EMPLOYEE_ID=TID.EMPLOYEE_ID 
			and CONVERT(varchar(20),A.ATT_DATE_IN, 102) = CONVERT(varchar(20),cast(TID.TIMEIN as datetime), 102)
		
			
---------------------------------finally insert into Attendance table ---------------------------------------	
						  
			INSERT INTO Attendence(EMPLOYEE_ID,ATT_DATE_IN ,ATT_DATE_OUT )
			SELECT Tid.EMPLOYEE_ID,Tid.TIMEIN,Tid.TIMEOUT from #TEMP_IMPORT_DATA2 Tid 
					
		   drop table #TEMP_IMPORT_DATA2			
END

-------------------------------------Block for Any Date-------------------------------------------------------
if @flag ='d'
BEGIN
    
     --set @fromdate= CONVERT(varchar(20),@fromdate, 111)

  IF OBJECT_ID('tempdb..#TEMP_IMPORT_DATA3') IS NOT NULL
		DROP TABLE #TEMP_IMPORT_DATA3

			SELECT * 
			INTO #TEMP_IMPORT_DATA3
			FROM 
			(
				SELECT
				CARDID
				,@fromdate+' '+ CONVERT(VARCHAR(5), (MIN(DT)), 108) [TIMEIN]
				,@fromdate+ ' '+ CONVERT(VARCHAR(5), (MAX(DT)), 108) [TIMEOUT]
				FROM
				(
					select CHECKTIME DT,USERID as CARDID from IME_ATT_SYS.dbo.CHECKINOUT 
					where CHECKTIME between @fromdate  and  @fromdate +' 23:59'
				)x
				GROUP BY CARDID
			)a left join
			( 
				select CardNo, USERID from IME_ATT_SYS.dbo.USERINFO where CardNo is not null
			)b
			on a.CARDID=b.USERID
			join 
			(select EMPLOYEE_ID,CARD_NO from EMPLOYEE_IDENTIFICATION where CARD_TYPE='673')ID
			on b.CardNo=ID.CARD_NO
			
-------------------------------delete from Attendance table ---------------------------------------				

			DELETE Attendence 
			FROM Attendence A,
			(
			
			   select * from #TEMP_IMPORT_DATA3
			   
			)TID
			where A.EMPLOYEE_ID=TID.EMPLOYEE_ID 
			and CONVERT(varchar(20),A.ATT_DATE_IN, 102) = CONVERT(varchar(20),cast(TID.TIMEIN as datetime), 102)
		
			
---------------------------------finally insert into Attendance table ---------------------------------------	
						  
			INSERT INTO Attendence(EMPLOYEE_ID,ATT_DATE_IN ,ATT_DATE_OUT )
			SELECT Tid.EMPLOYEE_ID,Tid.TIMEIN,Tid.TIMEOUT from #TEMP_IMPORT_DATA3 Tid 
				
		   drop table #TEMP_IMPORT_DATA3
			
END
GO
