USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_emprefrences]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--select * from Employee_Refrences
create procedure [dbo].[proc_emprefrences]
				@flag char(1),
				@id int,
				@EMPLOYEE_ID int=null,
				@full_name varchar(500)=null,
				@address varchar(500)=null,
				@homephone varchar(500)=null,
				@officephone varchar(500)=null,
				@mobile varchar(50)=null,
				@fax varchar(50)=null,
				@email varchar(50)=null

as
	set nocount on;
	
	IF @flag='s'
		BEGIN
			SELECT
			    EMPLOYEE_ID
			   ,Full_Name
               ,Address
               ,home_phone
               ,office_phone
               ,mobile
               ,fax
              ,email				
			FROM Employee_Refrences 
			WHERE Id = @id;
		END		
if(@flag='i')
begin
	insert into Employee_Refrences 
					(EMPLOYEE_ID,Full_Name, [Address], home_phone, office_phone, mobile, fax, email)
			values (@EMPLOYEE_ID,@full_name, @address, @homephone, @officephone, @mobile, @fax, @email)
end
if(@flag='u')
begin
	update Employee_Refrences
			set EMPLOYEE_ID=@EMPLOYEE_ID,
			  Full_Name=@full_name,
               Address=@address,
               home_phone= @homephone,
               office_phone= @officephone,
               mobile= @mobile,
               fax= @fax,
              email=@email
	where Id = @id;
end
	
if(@flag='d')
begin
	delete 
		from Employee_Refrences
		where Id = @id
	
end
GO
