USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procManageEducation]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[procManageEducation]
	 @flag AS VARCHAR(2)
	,@ID AS INT						= NULL
	,@emp_id AS INT					= NULL
	,@level AS INT					= NULL
	,@degree AS VARCHAR(200)		= NULL
	,@faculty AS INT				= NULL
	,@division AS INT				= NULL
	,@percentage AS float			= NULL
	,@passedYear AS VARCHAR(50)		= NULL
	,@nameOfIns AS VARCHAR(1500)	= NULL
	,@country AS INT				= NULL
	,@user AS VARCHAR(50)			= NULL
AS

	SET NOCOUNT ON;
	set xact_abort on;
	SET ANSI_WARNINGS OFF;

BEGIN 

IF @flag='I'
BEGIN

	INSERT INTO Employee_Education
	(
		 EMPLOYEE_ID
		,LEVELS
		,DEGREE
		,FECULTY
		,DIVISION
		,PERCENTAGE
		,PASSED_YEAR
		,NAMEOF_INSTITUTION
		,COUNTRY_NAME
		,CREATED_BY
		,CREATED_DATE
	)
	SELECT 
		 @emp_id
		,@level
		,@degree
		,@faculty
		,@division
		,@percentage
		,@passedYear
		,@nameOfIns
		,@country
		,@user
		,GETDATE() 	
	SET @id= @@IDENTITY
	
	SELECT @id AS msg 

END

IF @flag='S'
BEGIN

	SELECT 
		 EDUCATION_ID
		,EMPLOYEE_ID
		,LEVELS
		,DEGREE
		,FECULTY
		,DIVISION
		,PERCENTAGE
		,PASSED_YEAR
		,NAMEOF_INSTITUTION
		,COUNTRY_NAME 
	FROM Employee_Education 
	where EDUCATION_ID=@ID
	

END

IF @flag='U'
BEGIN

	UPDATE Employee_Education SET
		 LEVELS=@level
		,DEGREE=@degree
		,FECULTY=@faculty
		,DIVISION=@division
		,PERCENTAGE=@percentage
		,PASSED_YEAR=@passedYear
		,NAMEOF_INSTITUTION=@nameOfIns
		,COUNTRY_NAME=@country
		,MODIFIED_BY=@user
		,MODIFIED_DATE=GETDATE()
	WHERE EDUCATION_ID=@ID

END

IF @flag='D'
BEGIN
	
	DELETE Employee_Education 
	WHERE EDUCATION_ID=@ID
	
END

END
GO
