USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[Proc_PayableRateSetup]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[Proc_PayableRateSetup]
		 @flag VARCHAR(2)			=null
		,@id INT					=null
		,@caterogy_for INT			=null
		,@category INT				=null
		,@amount MONEY				=null
		,@active CHAR(1)			=null
		,@user INT					=null
AS 
BEGIN
SET NOCOUNT ON;
	
	DECLARE @msg VARCHAR(100)

	IF @flag='i'
	BEGIN
		
		IF Exists(SELECT 'X' FROM PayRateSetup where Category_for=@caterogy_for and Category=@category and flag='Y')
		BEGIN
			SELECT 'An active data exists for this category.'
		END
		ELSE
		BEGIN
			INSERT INTO payRateSetup(category_for,category,amount,flag,created_by,created_date)

			SELECT @caterogy_for,@category,@amount,@active,@user,GETDATE()

			SET @msg='Success!'
		END
	END

	IF @flag='u'
	BEGIN
		UPDATE payRateSetup
			SET
			Flag=@active,
			Amount=@amount,
			modified_by=@user,
			Modified_Date=GETDATE()
		WHERE ID=@id

		SELECT 'Success!'
	END

	If @flag='d'
	BEGIN
		DELETE FROM  payRateSetup
		WHERE ID=@id

		SELECT 'Record Deleted Successfully!'
	END

END
GO
