USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procDepartmentalEvents]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Exec [procDepartmentalEvents] '2011', '10', 1, 6 

CREATE PROC [dbo].[procDepartmentalEvents]
	@year VARCHAR(20),
	@month VARCHAR(20)=NULL,
	@branchid VARCHAR(20)=NULL,
	@deptid VARCHAR(20)=NULL

AS
SET NOCOUNT ON;
BEGIN

	DECLARE @intStartValue AS INT
	DECLARE @intEndValue AS INT
	DECLARE @intIncremental AS INT
	
	DECLARE @dtDateFrom VARCHAR(20)
	DECLARE @dtDateto VARCHAR(20)
	
	SET @dtDateFrom = @year + '-' + @month + '-01'
	IF CAST(@month AS INT) = 12
		SET @dtDateto = CAST(CAST(@year AS INT)+ 1 AS VARCHAR) + '-01-01'
	ELSE
		SET @dtDateto = @year + '-' + CAST(CAST(@month AS INT) + 1 AS VARCHAR) + '-01'


	SET @intEndValue = DATEDIFF(dd,@dtDateFrom,@dtDateto)-1
	SET @intStartValue=DAY(@dtDateFrom)

	CREATE TABLE #tmpCalendar 
	(
		CAL_DATE	VARCHAR(20),
		CAL_DAY		VARCHAR(20),
		CAL_DAY_NUM	VARCHAR(20),
		DAY_NUMBER	VARCHAR(20),
		Dept_Id		INT DEFAULT 0,
		NOE			INT DEFAULT 0,
		leave		INT DEFAULT  0,
		leave_Description VARCHAR(Max) DEFAULT  '',
		DATE		DATETIME,
		leave_flag VARCHAR(20) DEFAULT ''
	)

	INSERT INTO #tmpCalendar(CAL_DATE,CAL_DAY,CAL_DAY_NUM,DAY_NUMBER)
	SELECT CONVERT(VARCHAR,CAST(@dtDateFrom AS DATETIME),101), DATENAME(dw, @dtDateFrom),
	DATEPART(weekday, @dtDateFrom),DAY(@dtDateFrom)

--##############  Creating Calendar
	
	SET @intIncremental=1
	WHILE @intIncremental <=  @intEndValue
	BEGIN

		INSERT INTO #tmpCalendar(CAL_DATE,CAL_DAY,CAL_DAY_NUM,DAY_NUMBER)
		SELECT CONVERT(VARCHAR, CAST( DATEADD(dd,@intIncremental,@dtDateFrom) AS DATETIME) ,101) , 
		DATENAME(dw, DATEADD(dd,@intIncremental,@dtDateFrom)),DATEPART(weekday, DATEADD(dd,@intIncremental,@dtDateFrom))
		,DAY(DATEADD(dd,@intIncremental,@dtDateFrom))
		
		SET @intIncremental=@intIncremental+1
		
	END
	
	----select * from OfficialCalendar
	

	--##############  Update Events
		update 	#tmpCalendar set
			leave = cnt,
			leave_Description = ld,leave_flag='E'
			from (
				select 0 as deptID,o.DATE as tDate,count(o.DATE) as cnt, 
					NATURE + ' - ' + DESCRIPTION as ld,TYPE 
				from OfficialCalendar o with(nolock)
				where year(o.DATE) =@year and MONTH(o.DATE)=@month
				and o.Type='E'
				group by o.DATE,NATURE + ' - ' + DESCRIPTION,o.TYPE
				) as tmp								
			where convert(varchar,#tmpCalendar.CAL_DATE,101) = convert(varchar,tmp.tDate,101)
	
	
	--##############  Update Holiday
			update 	#tmpCalendar set
			leave = cnt,
			leave_Description = ld,
			leave_flag=case when #tmpCalendar.leave_flag='E' then 'E,H' else 'H'end
			from (
				select 0 as deptID,o.DATE as tDate,count(o.DATE) as cnt, 
					NATURE + ' - ' + DESCRIPTION as ld,TYPE 
				from OfficialCalendar o with(nolock)
				where year(o.DATE) =@year and MONTH(o.Date)=@month
				and o.TYPE='H'
				group by o.DATE,NATURE + ' - ' + DESCRIPTION,o.TYPE
				) as tmp								
			where convert(varchar,#tmpCalendar.CAL_DATE,101) = convert(varchar,tmp.tDate,101)
		
	
		-- ######## Display Data
		SELECT * FROM #tmpCalendar
		
END
GO
