USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_travelOrderRate]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[proc_travelOrderRate]
	@flag CHAR(3)
	,@travelRateId INT				= NULL
	,@position INT					= NULL
	,@place INT						= NULL
	,@currency VARCHAR(200)				= NULL
	,@allowanceType INT				= NULL
	,@rate MONEY					= NULL
	,@createdBy VARCHAR(200)		= NULL
	,@createdDate DATETIME			= NULL
	,@modifiedBy VARCHAR(200)		= NULL
	,@modifiedDate DATETIME			= NULL
	
AS 
SET NOCOUNT ON;
/*
SELECT * FROM TRAVELORDERRATE
truncate table TRAVELORDERRATE
*/

BEGIN TRY

	IF @flag = 'i'
	BEGIN
		IF EXISTS(SELECT * FROM travelOrderRate WHERE allowanceType = @allowanceType AND position = @position AND place = @place )
		   BEGIN
			  SELECT 'Allowance Type is already Added!' MSG
			  RETURN
		    
		   
		   END
	
		INSERT INTO travelOrderRate(place
									,position
									,rate
									,allowanceType
									,currency
									,createdBy
									,createdDate
									)
							SELECT @place
									,@position
									,@rate
									,@allowanceType
									,@currency
									,@createdBy
									,GETDATE()
									
		SELECT 'DATA SAVED SUCCESSFULLY' AS MSG
	END

	IF @flag = 's'
	BEGIN
		SELECT place,position,rate,allowanceType,currency FROM travelOrderRate WHERE travelRateId = @travelRateId
	END
	
	IF @flag = 'u'
	BEGIN
		UPDATE travelOrderRate SET place = @place, position = @position, rate = @rate, allowanceType = @allowanceType
			, currency = @currency, modifiedBy = @modifiedBy, modifiedDate = GETDATE() WHERE travelRateId = @travelRateId
			
		SELECT 'DATA UPDATED SUCCESSFULLY' AS MSG
	END

	IF @flag = 'd'
	BEGIN
		DELETE travelOrderRate WHERE travelRateId = @travelRateId
	END

END TRY

BEGIN CATCH
	 IF @@TRANCOUNT > 0
	 ROLLBACK TRANSACTION
	 
	 SELECT '1' ERROR_CODE , ERROR_MESSAGE() MSG , @travelRateId ID  

END CATCH
GO
