USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[Proc_LeaveIndividualReport]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec Proc_LeaveIndividualReport @flag='h', @emp_id='1001'
--exec Proc_LeaveIndividualReport @flag='c', @emp_id='1001'
create proc [dbo].[Proc_LeaveIndividualReport]
	(
		@flag char(1)
		,@bs_year varchar(10) = null
		,@emp_id varchar(10) = null			
	)
as
set nocount on;

IF @flag = 'c'
BEGIN
	SELECT NAME_OF_LEAVE,
		ISNULL(LAST_YEAR_LEAVE,0)+CASE WHEN ISNULL(HOUR_BALANCE,0)<>0 THEN 0.5 ELSE 0 END AS [LAST YEAR LEAVE],
		ISNULL(NO_OF_DAYS_ACTUAL,0) AS [THIS YEAR LEAVE]
		,ISNULL(LAST_YEAR_LEAVE,0)+CASE WHEN ISNULL(HOUR_BALANCE,0)<>0 THEN 0.5 ELSE 0 END +
		ISNULL(NO_OF_DAYS_ACTUAL,0) AS [TOTAL LEAVE]
		,'' [APPROVE FROM], '' [APPROVE TO],0 [APPROVED DAYS]
		,'' [IS LFA?]
		,0 [CALL BACK DAYS]
		,0 [LEAVE TAKEN]
		, '' [LEAVE PURPOSE]
	FROM leaveAssignment LA
	JOIN LeaveTypes LT ON LA.LEAVE_TYPE_ID = LT.ID
	WHERE EMPLOYEE_ID=@emp_id   AND ISNULL(IS_DISABLED,0)=1

	UNION ALL

	SELECT LT.NAME_OF_LEAVE,
		0 [LAST YEAR LEAVE], 0 [THIS YEAR LEAVE],
		0  [TOTAL LEAVE],
		CONVERT(varchar,R.APPROVED_FROM,107) as [APPROVE FROM],CONVERT(varchar,R.APPROVED_TO,107)as [APPROVE TO],
		isnull(APPROVED_DAYS,0)+cast((ISNULL(APPROVED_HOUR,0)/8) as decimal(3,1)) AS [APPROVED DAYS]
		,[IS LFA?] = CASE WHEN R.IS_LFA = 1 THEN 'YES' ELSE 'NO' END
		,ISNULL(CALL_BACK_DAYS, 0) AS [CALL BACK DAYS]
		,isnull(APPROVED_DAYS,0)+cast((ISNULL(APPROVED_HOUR,0)/8) as decimal(3,1))-ISNULL(CALL_BACK_DAYS, 0) [LEAVE TAKEN]
		,LEAVE_PURPOSE [LEAVE PURPOSE]
	FROM LeaveRequest R with(nolock) LEFT JOIN
		( SELECT LEAVE_REQUEST_ID,SUM(CALL_BACK_DAYS) CALL_BACK_DAYS FROM
		LeaveCallBack C INNER JOIN LeaveRequest R  ON  R.ID=C.LEAVE_REQUEST_ID
	WHERE REQUESTED_BY =@emp_id
	GROUP BY LEAVE_REQUEST_ID)C
	ON R.ID=C.LEAVE_REQUEST_ID
	JOIN LeaveTypes LT ON R.LEAVE_TYPE_ID = LT.ID
	WHERE REQUESTED_BY =@emp_id
	AND LEAVE_STATUS='Approved'
	ORDER BY NAME_OF_LEAVE, [APPROVE FROM]

END

IF @flag = 'h'
BEGIN
	SELECT NAME_OF_LEAVE,
		ISNULL(LAST_YEAR_LEAVE,0)+CASE WHEN ISNULL(HOUR_BALANCE,0)<>0 THEN 0.5 ELSE 0 END AS [LAST YEAR LEAVE],
		ISNULL(NO_OF_DAYS_ACTUAL,0) AS [THIS YEAR LEAVE]
		,ISNULL(LAST_YEAR_LEAVE,0)+CASE WHEN ISNULL(HOUR_BALANCE,0)<>0 THEN 0.5 ELSE 0 END +
		ISNULL(NO_OF_DAYS_ACTUAL,0) AS [TOTAL LEAVE]
		,'' [APPROVE FROM], '' [APPROVE TO],0 [APPROVED DAYS]
		,'' [IS LFA?]
		,0 [CALL BACK DAYS]
		,0 [LEAVE TAKEN]
		, '' [LEAVE PURPOSE]
	FROM leaveAssignmentHistory LA
	JOIN LeaveTypes LT ON LA.LEAVE_TYPE_ID = LT.ID
	WHERE EMPLOYEE_ID=@emp_id   AND ISNULL(IS_DISABLED,0)=1 and BS_YEAR = @bs_year

	UNION ALL

	SELECT LT.NAME_OF_LEAVE,
		0 [LAST YEAR LEAVE], 0 [THIS YEAR LEAVE],
		0  [TOTAL LEAVE],
		CONVERT(varchar,R.APPROVED_FROM,107) as [APPROVE FROM],CONVERT(varchar,R.APPROVED_TO,107)as [APPROVE TO],
		isnull(APPROVED_DAYS,0)+cast((ISNULL(APPROVED_HOUR,0)/8) as decimal(3,1)) AS [APPROVED DAYS]
		,[IS LFA?] = CASE WHEN R.IS_LFA = 1 THEN 'YES' ELSE 'NO' END
		,ISNULL(CALL_BACK_DAYS, 0) AS [CALL BACK DAYS]
		,isnull(APPROVED_DAYS,0)+cast((ISNULL(APPROVED_HOUR,0)/8) as decimal(3,1))-ISNULL(CALL_BACK_DAYS, 0) [LEAVE TAKEN]
		,LEAVE_PURPOSE [LEAVE PURPOSE]
	FROM LeaveRequestHistory R with(nolock) LEFT JOIN
		( SELECT LEAVE_REQUEST_ID,SUM(CALL_BACK_DAYS) CALL_BACK_DAYS FROM
		LeaveCallBackHistory C INNER JOIN LeaveRequestHistory R  ON  R.ID=C.LEAVE_REQUEST_ID
	WHERE REQUESTED_BY =@emp_id and C.BS_YEAR = @bs_year and R.BS_YEAR = @bs_year
	GROUP BY LEAVE_REQUEST_ID)C
	ON R.ID=C.LEAVE_REQUEST_ID
	JOIN LeaveTypes LT ON R.LEAVE_TYPE_ID = LT.ID
	WHERE REQUESTED_BY =@emp_id
	AND LEAVE_STATUS='Approved' and R.BS_YEAR = @bs_year
	ORDER BY NAME_OF_LEAVE, [APPROVE FROM] 

END
GO
