USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procManageIdentification]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Exec procManageMedical @flag='u',@ID='6', @emp_id='1091', @card_type='289', @card_no='168789', @issue_place='Lagankhel, Lalitpur', @issue_date='07/06/2005 12:00:00 AM', @expire_date='01/01/1900 12:00:00 AM', @fileDesc='test',@fileType='xlsx', @user='1000'

CREATE PROC [dbo].[procManageIdentification]
	 @flag AS VARCHAR(2)
	,@ID AS INT							= NULL
	,@emp_id AS INT						= NULL
	,@card_type AS VARCHAR(200)			= NULL
	,@card_no AS VARCHAR(200)			= NULL
	,@issue_place AS VARCHAR(200)		= NULL
	,@issue_date AS DATE				= NULL
	,@expire_date AS DATE				= NULL
	,@fileDesc AS VARCHAR(200)			= NULL
	,@fileType AS VARCHAR(6)			= NULL
	,@user AS VARCHAR(50)				= NULL
AS

	SET NOCOUNT ON;
	set xact_abort on;
	SET ANSI_WARNINGS OFF;

BEGIN 

IF @flag='I'
BEGIN

	INSERT INTO EMPLOYEE_IDENTIFICATION
	(
		 EMPLOYEE_ID
		,CARD_TYPE
		,CARD_NO
		,ISSUE_PLACE
		,ISSUE_DATE
		,EXPIRY_DATE
		,CREATED_BY
		,CREATED_DATE
		,FILE_DESC
		,FILE_TYPE
		
	)
	SELECT 
		 @emp_id
		,@card_type
		,@card_no
		,@issue_place
		,@issue_date
		,@expire_date
		,@user
		,GETDATE()
		,@fileDesc
		,@fileType
	
	SET @id= @@IDENTITY
	
	SELECT @id AS msg 

END

IF @flag='S'
BEGIN

	SELECT 
		 ID
		,EMPLOYEE_ID
		,CARD_TYPE
		,CARD_NO
		,ISSUE_PLACE
		,ISSUE_DATE
		,EXPIRY_DATE
		,FILE_DESC
		,FILE_TYPE
	FROM EMPLOYEE_IDENTIFICATION 
	where ID=@ID

END

IF @flag='U'
BEGIN

	UPDATE EMPLOYEE_IDENTIFICATION SET
		 CARD_TYPE =@card_type
		,CARD_NO=@card_no
		,ISSUE_PLACE=@issue_place
		,ISSUE_DATE=@issue_date
		,EXPIRY_DATE=@expire_date
		,FILE_DESC=@fileDesc
		,FILE_TYPE=@fileType
		,MODIFIED_BY=@user
		,MODIFIED_DATE=GETDATE()
	WHERE ID=@ID

END

IF @flag='D'
BEGIN
	
	DELETE EMPLOYEE_IDENTIFICATION 
	WHERE ID=@ID
	
END

END
GO
