USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_Grade]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*

EXEC proc_Grade 
	@flag = 'i', 
	@user = '1000', 
	@gradeId = null, 
	@empId = '1206', 
	@effectiveDate = '3/21/2012', 
	@gradeFlag = 'i', 
	@grade = '933', 
	@amount = '690'

*/

CREATE PROC [dbo].[proc_Grade]
      @flag								VARCHAR(50)		= NULL
     ,@user                             VARCHAR(30)		= NULL
     ,@gradeId                          VARCHAR(30)		= NULL
     ,@empId                            VARCHAR(30)		= NULL
     ,@effectiveDate                    DATE			= NULL
     ,@gradeFlag                        VARCHAR(30)		= NULL
     ,@grade                            VARCHAR(30)		= NULL
     ,@amount                           VARCHAR(30)		= NULL
     

AS
SET NOCOUNT ON
SET XACT_ABORT ON
BEGIN TRY
	DECLARE  @day					FLOAT		--Day of the Nepali Effective Date e.g 1 is the day for 2068-2-1			
			,@totalDays				FLOAT		--Total number of Days in a month of Effective Date
			,@previousGradeAmt		MONEY		--Previous Grade Amount in the Payable Table
			,@currentGradeAmt		MONEY		--Current Grade Amount From the Grade Table
			,@deductAmt				MONEY		--Calculated for Adhoc_Payment
			,@addAmt				MONEY		--Calculated for Adhoc_Payment
			,@effNepaliDate			DATE		--English Effective Date converted to Nepali Effective Date
			,@contbAmt				MONEY		--Contribution Amount calculated for Adhoc_Contribution
			,@daysAfterGradeAssign	FLOAT		--Total no. of days from where the grade is assigned to the end day of the month
			,@basicSalary			MONEY		--Basic Salary of the employee
			,@fy_id					VARCHAR(5)	--Current Fiscal Year
			,@month					INT			--Current Month
			,@monthStartDate		DATE		--Current Month Start Date
			,@monthEndDate			DATE		--Current Month End Date
			,@post_id				INT			--Position of the Employee
			,@salarySetId			INT			--Current SalarySet of the Employee 		
			
	--Finding current fiscal year and month	
	SELECT @fy_id = fiscal_year_nepali 
		FROM fiscalYear 
	WHERE GETDATE() BETWEEN en_year_start_date AND en_year_end_date

	SELECT @month = MONTH(nep_date) 
		FROM tbl_calendar 
	WHERE eng_date = CAST(GETDATE() AS DATE)
	
	--Finding current month start and end date	
	SELECT @monthStartDate=dbo.GetMonthStartDateEng(@fy_id,@month)
	SELECT @monthEndDate=dbo.GetMonthEndDateEng(@fy_id,@month)			
			
	IF @flag = 'i'

	BEGIN

		BEGIN TRANSACTION
			--Inser into Grade Table
			INSERT INTO Grade
			(
				 empId
				,effectiveDate
				,gradeFlag
				,grade
				,amount
				,createdBy
				,createdDate
			)
				SELECT
				 @empId
				,@effectiveDate
				,@gradeFlag
				,@grade
				,@amount
				,@user
				,GETDATE()

			SET @gradeId = SCOPE_IDENTITY()

			SET @effNepaliDate = DBO.GetNepaliDate(@effectiveDate)  
			SELECT @day = DAY(@effNepaliDate)
		
		--check if the effective date is in current month	
		IF @effectiveDate BETWEEN @monthStartDate AND @monthEndDate
		BEGIN
			--Check if the effective date is before or is equal to current date
			IF (@effectiveDate <= CAST(GETDATE() AS DATE))
			BEGIN
				
				SET @totalDays = dbo.[GetTotalDaysOfMonth](@effectiveDate)
				SET @currentGradeAmt = @amount
				
				--Check if there is grade in payable table
				IF EXISTS(SELECT 'X' FROM Payable WHERE BENEFIT_ID IN (SELECT ROWID FROM StaticDataDetail WHERE TYPE_ID = 37) AND EMPLOYEE_ID = @empId)
				BEGIN
				
					--Assign previous grade amount to a variable
					SELECT 
						@previousGradeAmt = amount 
					FROM payable 
					WHERE EMPLOYEE_ID=@empId 
						AND BENEFIT_ID IN (SELECT ROWID FROM staticDataDetail WHERE TYPE_ID = 37)

					--Updating the Payable table with new grade amount
					UPDATE Payable SET
						AMOUNT = @amount
					WHERE EMPLOYEE_ID = @empId AND BENEFIT_ID IN (SELECT ROWID FROM StaticDataDetail WHERE TYPE_ID = 37)
					
					IF @day<>1
					BEGIN
						--Inserting adjustment amounts in the Adhoc Payable Table
						SET @addAmt = ((@day-1)/@totalDays) * @previousGradeAmt
						SET @deductAmt = ((@day-1)/@totalDays) * @currentGradeAmt
						
						--Insert Add Amount
						INSERT INTO AdhocPayment
						(
							 EMPLOYEE_ID
							,ADD_DEDUCT
							,HEAD_ID
							,AMOUNT
							,TAX_DEDUCTED
							,NARRATION
							,CREATED_BY
							,CREATED_DATE
						)
						SELECT 
							 @empId
							,'A'
							,391
							,@addAmt
							,0
							,'Grade Adjustment Added'
							,@user
							,GETDATE() 
						
						--Insert Deduct Amount	
						INSERT INTO AdhocPayment
						(
							 EMPLOYEE_ID
							,ADD_DEDUCT
							,HEAD_ID
							,AMOUNT
							,TAX_DEDUCTED
							,NARRATION
							,CREATED_BY
							,CREATED_DATE
						)
						SELECT 
							 @empId
							,'D'
							,391
							,@deductAmt
							,0
							,'Grade Adjustment Deducted'
							,@user
							,GETDATE()
						
						-- Check if the employee is eligible for contribution
						/*
						IF EXISTS(select 'X' from Contribution where EMPLOYEE_ID=@empId and VALUE_EMPLOYEE=VALUE_EMPLOYER)
						BEGIN
							
							
							SELECT 
								@basicSalary = amount 
							FROM payable 
							WHERE EMPLOYEE_ID = @empId 
							AND BENEFIT_ID IN (SELECT ROWID FROM staticDataDetail WHERE TYPE_ID = 36 ) 
							
							SET @daysAfterGradeAssign = @totalDays - (@day-1) 
							SET @currentGradeAmt = @amount 
							SET @contbAmt = ((@daysAfterGradeAssign/@totalDays) * (@currentGradeAmt - @previousGradeAmt) * 0.1) + 
											((@basicSalary + @previousGradeAmt) * 0.1) 
							
							--Insert contribution adjustment value into AdhocContribution table
							INSERT INTO adhoc_contribution
							(
								 EMPLOYEE_ID
								,CONTB_CODE
								,CONTB_TO
								,CONTB_DATE
								,CONTB_AMOUNT_EMPLOYEE
								,CONTB_AMOUNT_EMPLOYER
								,NARRATION
								,CREATED_BY
								,CREATED_DATE
								,IS_PAID
							)
							SELECT
								 @empId
								,1
								,263
								,@effectiveDate
								,@contbAmt
								,@contbAmt
								,'Adjusted By System'
								,@user
								,GETDATE()
								,0
								
							--Update contribution dates to next month  	
							UPDATE CONTRIBUTION 
							SET 
								 CONTRIBUTION_FROM_DATE_EMPLOYER = DATEADD(MONTH,1,@effectiveDate)
								,CONTRIBUTION_FROM_DATE_EMPLOYEE = DATEADD(MONTH,1,@effectiveDate)
							WHERE EMPLOYEE_ID = @empId 
						
						END	
						*/
						update Grade set isEffective='Y',isEffectiveDate=GETDATE() where gradeId=@gradeId
					END
					
				END

				--Check if there is no grade in payable table
				IF NOT EXISTS(SELECT 'X' FROM Payable WHERE BENEFIT_ID IN (SELECT ROWID FROM StaticDataDetail WHERE TYPE_ID = 37) AND EMPLOYEE_ID = @empId)
				BEGIN
					SET @previousGradeAmt = 0

					-- Insert into Payable Table
					INSERT INTO Payable
					(
						 EMPLOYEE_ID
						,BENEFIT_ID
						,AMOUNT
						,CREATED_BY
						,CREATED_DATE
					)
					SELECT 
						 @empId
						,'391'
						,@amount
						,@user
						,GETDATE()

					-- Check if effectiveDate is not the start date of the month	
					IF @day <> 1				
					BEGIN
						-- Insert amount to be adjusted into Adhocpayment table
						SET @deductAmt = ((@day-1)/@totalDays) * @currentGradeAmt
						
							INSERT INTO AdhocPayment
							(
								 EMPLOYEE_ID
								,ADD_DEDUCT
								,HEAD_ID
								,AMOUNT
								,TAX_DEDUCTED
								,NARRATION
								,CREATED_BY
								,CREATED_DATE
							)
							SELECT 
								 @empId
								,'D'
								,391
								,@deductAmt
								,0
								,'Grade Adjustment'
								,@user
								,GETDATE() 
								
						-- Check if the employee is eligible for contribution
						/*
						IF EXISTS(select 'X' from Contribution where EMPLOYEE_ID=@empId and VALUE_EMPLOYEE=VALUE_EMPLOYER)
						BEGIN
							SELECT 
								@basicSalary = amount 
							FROM payable 
							WHERE EMPLOYEE_ID = @empId 
							AND BENEFIT_ID IN (SELECT ROWID FROM staticDataDetail WHERE TYPE_ID = 36 ) 
							
							SET @daysAfterGradeAssign = @totalDays - (@day-1) 
							SET @currentGradeAmt = @amount 
							SET @contbAmt = ((@daysAfterGradeAssign/@totalDays) * (@currentGradeAmt - @previousGradeAmt) * 0.1) + 
											((@basicSalary + @previousGradeAmt) * 0.1) 
							
							--Insert contribution adjustment value into AdhocContribution table
							INSERT INTO adhoc_contribution
							(
								 EMPLOYEE_ID
								,CONTB_CODE
								,CONTB_TO
								,CONTB_DATE
								,CONTB_AMOUNT_EMPLOYEE
								,CONTB_AMOUNT_EMPLOYER
								,NARRATION
								,CREATED_BY
								,CREATED_DATE
								,IS_PAID
							)
							SELECT
								 @empId
								,1
								,263
								,@effectiveDate
								,@contbAmt
								,@contbAmt
								,'Adjusted By System'
								,@user
								,GETDATE()
								,0
								
							--Update contribution dates to next month  	
							UPDATE CONTRIBUTION 
							SET 
								 CONTRIBUTION_FROM_DATE_EMPLOYER = DATEADD(MONTH,1,@effectiveDate)
								,CONTRIBUTION_FROM_DATE_EMPLOYEE = DATEADD(MONTH,1,@effectiveDate)
							WHERE EMPLOYEE_ID = @empId 
						
						END
						*/
						update Grade set isEffective='Y',isEffectiveDate=GETDATE() where gradeId=@gradeId
					END

				END
				
				
				
			END
		END
		
		IF @effectiveDate < @monthStartDate
		--task to be processed incase effective date does not belong to current month
		BEGIN 
			-- Insert into Payable Table
			INSERT INTO Payable
			(
				 EMPLOYEE_ID
				,BENEFIT_ID
				,AMOUNT
				,CREATED_BY
				,CREATED_DATE
			)
			SELECT 
				 @empId
				,'391'
				,@amount
				,@user
				,GETDATE()
			
			update Grade set isEffective='Y',isEffectiveDate=GETDATE() where gradeId=@gradeId
		END
		
		IF @@TRANCOUNT > 0
		COMMIT TRANSACTION
		SELECT 0 errorCode, 'Record has been added successfully' mes, @gradeId id	
	END
	
	IF @flag = 'u'				--Update the Grade Assignment
	BEGIN
		SELECT 0 errorCode, 'Record cannot be updated' mes, @gradeId id
	END
	
	IF @flag = 'd'				--Delete the Grade Assigned
	BEGIN
		BEGIN TRANSACTION
		
			DELETE Grade
			WHERE gradeId = @gradeId
			
		IF @@TRANCOUNT > 0
		COMMIT TRANSACTION
		SELECT 0 errorCode, 'Record deleted successfully.' mes, @gradeId id
	END
	
	IF @flag = 'a'
	BEGIN
		SELECT 
			 CONVERT(VARCHAR,effectiveDate,101)effectiveDate
			,gradeFlag
			,dbo.ShowDecimal(amount) amount
			,grade 
		FROM grade 
		WHERE gradeId = @gradeId
	END

	-- EXEC proc_Grade @flag = 'la', @gradeId = '1', @empId = '1010'
	
	IF @flag = 'la'				--Load Amount according to Grade on the basis of Flag either Percent Or Flat
	BEGIN
		
		Select @post_id     = POSITION_ID from Employee where EMPLOYEE_ID=@empId
		select @salarySetId = salarySetMasterId from salarySetMaster where position=@post_id
	
		select dbo.GetDetailTitle(391) head_id,((cast(replace(b.payableValue,',','') as float)*cast(a.rate as float))/100)*@gradeId amount
		from 
		(
			select rate from grade_setup where position_id=@post_id
		)a,
		(
			select payableValue from salarySetDetails where salarySetMasterId=@salarySetId and payableHead=390
		)b

	END
	

	
END TRY
BEGIN CATCH
     IF @@TRANCOUNT > 0
     ROLLBACK TRANSACTION
     SELECT 1 errorCode, ERROR_MESSAGE() mes, null id
END CATCH
GO
