USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procCalculateMonthlyDepreciation]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
	EXEC [procCalculateMonthlyDepreciation] 'i','67-68','4',12,'1000'
*/
CREATE PROC [dbo].[procCalculateMonthlyDepreciation]
	@flag VARCHAR(1),
	@fiscalYear VARCHAR(20),
	@runMonth VARCHAR(20),
	@branchId varchar(10)=null,
	@user VARCHAR(20)
AS
	SET NOCOUNT ON;
	set xact_abort on;	
	
IF @flag='i'
BEGIN		
	
	DECLARE @previousMonth AS INT
	DECLARE @SQL1 AS VARCHAR(5000),@SQL2 AS VARCHAR(5000),@previousFY AS VARCHAR(20),@fiscalYearENDDate as varchar(200)
	DECLARE @SQL AS VARCHAR(5000),@p_monthStartDate as date,@p_monthEndDate as date
	DECLARE @monthStartDate AS DATE,@monthEndDate as date
	declare @isAmortised as varchar(2)
	SET @monthStartDate=dbo.GetMonthStartDateEng(@fiscalYear,@runMonth) 
	SET @monthEndDate=dbo.[GetMonthEndDateEng](@fiscalYear,@runMonth)
		
	SET @previousMonth=@runMonth-1
	IF(@runMonth=1)
	BEGIN
		set @previousMonth=12
	END	
	
	SELECT @previousFY=FISCAL_YEAR_NEPALI FROM FiscalYear WHERE  en_year_end_date= DATEADD(DAY,-1,
		(SELECT en_year_start_date FROM FiscalYear WHERE FISCAL_YEAR_NEPALI=@fiscalYear))
	
	SET @p_monthStartDate=dbo.GetMonthStartDateEng(@previousFY,@previousMonth) 
	SET @p_monthEndDate=dbo.[GetMonthEndDateEng](@previousFY,@previousMonth)
	
	
	IF @previousFY<>''
	BEGIN
		
		SELECT @fiscalYearENDDate=en_year_end_date FROM FiscalYear WHERE FISCAL_YEAR_NEPALI=@previousFY
		SELECT A.id AS ASSET_ID
		INTO #TEMP_ASSET FROM
		(
			SELECT id FROM ASSET_INVENTORY WHERE depr_start_date<@fiscalYearENDDate AND is_amortised='N' and asset_status='Active'
			AND BRANCH_ID like isnull(@branchid ,'%')
			UNION ALL
			SELECT id FROM ASSET_INVENTORY WHERE is_amortised='Y' AND remain_month>0
			AND depr_start_date=@fiscalYearENDDate and asset_status='Active' AND BRANCH_ID like isnull(@branchid ,'%')
		)A
		IF EXISTS(SELECT ASSET_ID FROM #TEMP_ASSET WHERE ASSET_ID NOT IN (
						SELECT A.ASSET_ID FROM 	
						(SELECT ASSET_ID FROM #TEMP_ASSET
						)A INNER JOIN
						(
						SELECT ASSET_ID FROM depreciation_status 
							WHERE run_month=3 AND fiscal_year=@previousFY 
						)B ON A.ASSET_ID=B.ASSET_ID))
		begin
			select 'Depreciation booking is not completed for previous '+@previousFY+' fiscal year!' as MSG
			return;
		end
	END
	IF EXISTS(				
		SELECT ID
			FROM ASSET_INVENTORY WHERE is_amortised='Y'
			AND depr_start_date <@monthStartDate AND asset_status='Active'
			AND BRANCH_ID LIKE ISNULL(@branchId ,'%') AND id NOT IN(SELECT asset_id FROM depreciation_status 
			WHERE fiscal_year=@fiscalYear AND run_month=@previousMonth)
			AND acc_depriciation<>purchase_value)
		BEGIN	
			SELECT 'Process Not Run for Previous Month!' AS msg
			return;
		END
	
	if @branchId is null and @runMonth<>4
	begin
		if not exists(SELECT TOP 1 * FROM depreciation_status WHERE run_month=@previousMonth and fiscal_year=@fiscalYear)
		begin
			SELECT 'Process Not Run for Previous Month!' as REMARKS
			return;	
		end
	end
	if not exists(SELECT * FROM depreciation_setup WHERE fiscal_year=@fiscalYear)
	BEGIN
			SELECT 'NO DATA FOUND FOR '+@fiscalYear+' FISCAL YEAR' as REMARKS
			return;
	END	

	if @branchId is not null
	IF exists(SELECT * FROM depreciation_status WHERE fiscal_year=@fiscalYear and run_month=@runMonth 
						AND BRANCH_ID =@branchId )
	BEGIN
				
			SELECT 'Already Exists Updated For This Month!' as REMARKS
			return;	
	END
	
	 
	if @branchId is not null
	BEGIN
		IF NOT EXISTS(SELECT TOP 1 * FROM ASSET_INVENTORY WHERE branch_id=@branchId and asset_status='Active')
		BEGIN				
			SELECT 'No Asset Setup for This Branch!' as REMARKS
			return;	
		END 
	END
	--- CHECKING PREVOIUS MONTH BRANCH WISE CALCULATION
	IF @branchId IS NOT NULL AND @runMonth<>4
	IF not exists(SELECT TOP 1 * FROM depreciation_status WHERE run_month=@previousMonth and fiscal_year=@fiscalYear 
		AND BRANCH_ID =@branchId)
		AND @runMonth<>4
	BEGIN
		SELECT 'Process Not Run for Previous Month!' as REMARKS
		return;	
	END
	
	--- CHECKING PREVIOUS MONTH DEP VALUE BRANCH WISE------
	if @branchId is null and @runMonth<>4
	BEGIN
		IF EXISTS(SELECT BRANCH_ID FROM ASSET_INVENTORY WHERE branch_id NOT IN 
		(SELECT DISTINCT(branch_id) FROM depreciation_status 
			WHERE fiscal_year=@fiscalYear AND run_month=@previousMonth AND BRANCH_ID like isnull(@branchid ,'%')) and depr_start_date<@MonthStartDate
			and asset_status='Active')
		BEGIN	
			DECLARE @strMissingList VARCHAR(200)
			SELECT @strMissingList =COALESCE(@strMissingList + ', ', '') + B.BRANCH_NAME FROM  				
						(SELECT DISTINCT(BRANCH_ID)  AS BRANCH_ID FROM ASSET_INVENTORY WHERE branch_id NOT IN 
							(SELECT DISTINCT(branch_id) FROM depreciation_status 
							WHERE fiscal_year=@fiscalYear AND run_month=@previousMonth AND BRANCH_ID like isnull(@branchid ,'%')) 
							AND depr_start_date<@MonthStartDate and asset_status='Active')A,			
						(SELECT BRANCH_ID,BRANCH_NAME FROM Branches )B WHERE A.BRANCH_ID=B.BRANCH_ID
			
			SELECT @strMissingList+' are still pending branches to book depreciation for the previous month!' AS REMARKS
			RETURN;
		END
	END
	
	
		CREATE TABLE #temp_dep_amount
		(
			asset_id varchar(50) null,
			branch_id varchar(10) null,
			fiscal_year varchar(20) null,
			run_month varchar(10) null,			
			created_by varchar(100) null,			
			created_date date null,
			dep_type varchar(10) null,
			dep_value money null
		)	
		
		---START AMORTISED ASSET---
		INSERT INTO #temp_dep_amount(asset_id,branch_id,fiscal_year,run_month,created_by,created_date,dep_type,dep_value)
		SELECT ID,branch_id,@fiscalYear,@runMonth,@user,GETDATE(),'A',
		ROUND((purchase_value/life_in_month/(DATEDIFF(DAY,@monthStartDate,@monthEndDate)+1))*(DATEDIFF(DAY,depr_start_date,@monthEndDate)+1),2)			
			FROM ASSET_INVENTORY WHERE is_amortised='Y' AND remain_month>1 
			AND depr_start_date BETWEEN @monthStartDate AND @monthEndDate AND asset_status='Active'
			AND BRANCH_ID LIKE ISNULL(@branchid ,'%')
		
		INSERT INTO #temp_dep_amount(asset_id,branch_id,fiscal_year,run_month,created_by,created_date,dep_type,dep_value)
		SELECT ID,branch_id,@fiscalYear,@runMonth,@user,GETDATE(),'A',ROUND(purchase_value/life_in_month,2) 			
			FROM ASSET_INVENTORY WHERE is_amortised='Y' AND remain_month>1 
			AND depr_start_date <@monthStartDate AND asset_status='Active'
			AND BRANCH_ID LIKE ISNULL(@branchid ,'%')

		INSERT INTO #temp_dep_amount(asset_id,branch_id,fiscal_year,run_month,created_by,created_date,dep_type,dep_value)
		SELECT ID,branch_id,@fiscalYear,@runMonth,@user,GETDATE(),'A',ROUND(purchase_value-ROUND(purchase_value/life_in_month,2)*(life_in_month-1),2)
		FROM ASSET_INVENTORY WHERE is_amortised='Y' AND remain_month=1 
				AND depr_start_date < @monthEndDate AND asset_status='Active'
				AND BRANCH_ID LIKE ISNULL(@branchid ,'%')		
		---END AMORTISED ASSET---
		
		IF @branchId IS NOT NULL
		BEGIN
			SET @SQL2='
				INSERT INTO #temp_dep_amount(asset_id,branch_id,fiscal_year,run_month,created_by,created_date,dep_type,dep_value)
				SELECT A.asset_id ,B.BRANCH_ID,'''+@fiscalYear+''','''+@runMonth+''','''+@user+''',GETDATE(),''D'',A.m'+@runMonth+'
					FROM depreciation_setup A 
					INNER JOIN ASSET_INVENTORY B ON A.ASSET_ID=B.ID
					where A.fiscal_year='''+@fiscalYear+''' and B.asset_status=''Active'' AND B.BRANCH_ID like isnull('+@branchid+' ,''%'')'	
					
			EXEC (@SQL2);
		END
		IF @branchId IS NULL
		BEGIN
			SET @SQL2='
				INSERT INTO #temp_dep_amount(asset_id,branch_id,fiscal_year,run_month,created_by,created_date,dep_type,dep_value)
				SELECT A.asset_id,B.BRANCH_ID,'''+@fiscalYear+''','''+@runMonth+''','''+@user+''',GETDATE(),''D'',A.m'+@runMonth+'
				FROM depreciation_setup A 
					INNER JOIN ASSET_INVENTORY B ON A.ASSET_ID=B.ID
					WHERE A.fiscal_year='''+@fiscalYear+''' and B.asset_status=''Active'' AND B.BRANCH_ID like ISNULL(NULL ,''%'')'	
					
			EXEC (@SQL2);
		END
					
		DELETE FROM #temp_dep_amount 						
		FROM #temp_dep_amount t
		INNER JOIN depreciation_status ds ON t.asset_id = ds.asset_id
		AND  ds.fiscal_year = t.fiscal_year AND ds.fiscal_year = @fiscalYear and ds.run_month=t.run_month	
				
		IF NOT EXISTS(SELECT TOP 1 * FROM #temp_dep_amount)
		BEGIN
				SELECT 'No Data Found!' AS MSG
				RETURN;
		END
BEGIN TRANSACTION		
		--INSERTING DATA FROM TEMP TO DEP HISTORY TABLE
		INSERT INTO depreciation_status(asset_id,branch_id,fiscal_year,run_month,run_by,run_date,dep_type,dep_value)
		SELECT asset_id,branch_id,fiscal_year,run_month,created_by,created_date,dep_type,dep_value FROM #temp_dep_amount
			
		UPDATE ASSET_INVENTORY SET acc_depriciation=A.acc_depriciation+B.dep_value FROM ASSET_INVENTORY A,
		(
			SELECT asset_id,dep_value FROM #temp_dep_amount 
				where fiscal_year=@fiscalYear and run_month=@runMonth and branch_id like isnull(@branchid ,'%')
			
		)B WHERE A.id=B.asset_id 
		
		UPDATE ASSET_INVENTORY SET REMAIN_MONTH=REMAIN_MONTH-1 WHERE REMAIN_MONTH>0 AND is_amortised='Y'
			AND depr_start_date <=@monthEndDate and asset_status='Active'
			AND BRANCH_ID like isnull(@branchid ,'%')
					
		IF (@@ERROR <> 0) GOTO QuitWithRollback 
		declare @monthName as varchar(200)
		select @monthName=dbo.[GetNepaliMonthName](@runMonth)
		
		drop table #temp_dep_amount
		
		SELECT 'Depreciation has been updated sucessfully for '+@monthName+' month !' AS MSG

COMMIT TRANSACTION

goto EndSave	
QuitWithRollback:
ROLLBACK TRANSACTION 
			
	SELECT  'ERROR TO COMPLETE THIS TRANSACTION' AS MSG	
			 	
EndSave:			
				
END
GO
