USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_calc_payrole]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
	[proc_calc_payrole] '2009', '1',null,null,'c'
	[proc_calc_payrole] 'a','2009','10',null,1000,'s'
	[proc_calc_payrole]'2009','5',null,null,'i'
	[proc_calc_payrole] 'i','2009',1,'i',null,'i'
*/
create proc [dbo].[proc_calc_payrole](
	@strflag varchar(1),
	@fiscalYear varchar(10),
	@monthNumber varchar(2),
	@flag varchar(5) ,
	@employeeId varchar(50) ,
	@mode varchar(1)
)
as

if(@strflag = 'a')
begin
	select EMPLOYEE_ID, FISCAL_YEAR_ID, Month_Number, TotalSalary, Deduction, Tax from SalarySheet where Month_Number = @monthNumber
	and FISCAL_YEAR_ID = @fiscalYear
end
if(@strflag = 'i')
begin
	set nocount on;	

	select EMPLOYEE_ID, FISCAL_YEAR_ID, Month_Number, TotalSalary, Deduction, Tax from SalarySheet where Month_Number = @monthNumber
	and FISCAL_YEAR_ID = @fiscalYear
	
end
GO
