USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_travelOrderPostCategory]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec proc_travelOrderPostCategory @flag='i',@categoryId='1',@positionId='12,456,878,5454,541,54',@user='admin'
-- Exec proc_travelOrderPostCategory @flag='i', @positionId='784,787,786,785',@categoryfor='1499', @categoryId='1432',@user='1000'
-- Exec proc_travelOrderPostCategory @flag='i', @positionId='783,780,782,781',@categoryfor='1500', @categoryId='1431',@user='1000'

CREATE PROC [dbo].[proc_travelOrderPostCategory]
				@flag varchar(10)=null, 
				@id int=null,
				@rowId int=null,
				@categoryfor int=null,
				@categoryId int=null,
				@isActive varchar(50)=null,
				@positionId	varchar(max)=null,
				@user varchar(50)=null
				
AS	
if @flag='i'
BEGIN 
		if @positionId='' or @positionId is null or @categoryId='' or @categoryId is null
		begin
			SELECT 'INVALID POSITION ASSIGN TO CATEGORY!' as REMARKS
			return;
		end
		
		INSERT INTO tadapositioncategory
				(   
					category_for,
					categoryId,
					positionId,
					isActive,
					createdBy,
					createdDate
				)	
				
		   
		select @categoryfor,@categoryId,name,'Yes',@user,GETDATE() 
		from dbo.split(@positionId,',') 
		where name not in (select positionId from tadapositioncategory where category_for=@categoryfor)

		select 'Success' as msg

END 



if @flag ='z'
begin
	
	select ROWID , DETAIL_TITLE, DETAIL_DESC from StaticDataDetail with (nolock)  
	where ROWID not in (select positionId from tadapositioncategory where  (categoryId=@categoryId and category_for=@categoryfor) and isActive='Yes')
	and [TYPE_ID]=@rowId ORDER BY DETAIL_TITLE ASC
	
end

if @flag ='b'
begin
	
	select dbo.GetDetailTitle(categoryId) categoryName,dbo.GetDetailTitle(positionId) positionName,positionId
	from tadapositioncategory where (categoryId=@categoryId and category_for=@categoryfor) and isActive='Yes'
	
end

if @flag='u'
begin

     update tadapositioncategory set categoryId=@categoryId, isActive=@isActive where id=@id

end
GO
