USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procManageAppraisalSupervisor]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROC [dbo].[procManageAppraisalSupervisor]    
	 @flag VARCHAR(2)    
	,@id	int = null
	,@rater_type varchar(10)=null
	,@rater_id varchar(20)=null
	,@status varchar(10)=null
	,@targetDays varchar(20)=null
	,@user varchar(50)=null

  
AS     
SET NOCOUNT ON;    
DECLARE @RATER_TYPE1 AS VARCHAR(20)	,@to_date as datetime
SELECT @RATER_TYPE1=SUPERVISOR_TYPE 
	FROM appraisalSupervisorAssignment WHERE SV_ASSIGN_ID=@id
		
IF @flag='a'    
BEGIN 

	if @RATER_TYPE1<>'rc' and @RATER_TYPE1<>'h'
	begin
		SELECT SV_ASSIGN_ID,SUPERVISOR_TYPE
				,rtrim(ltrim(dbo.GetEmployeeInfoById(EMP))) appraisee
				,rtrim(ltrim(dbo.GetEmployeeInfoById(SUPERVISOR))) rater_name
				,record_status
				,appraisal_id
				,datediff(dd,b.to_date,days) days
				,convert(varchar,b.FROM_DATE,101)   FROM_DATE
				,convert(varchar,b.TO_DATE ,101) TO_DATE
		FROM appraisalSupervisorAssignment a inner join appraisal b on a.appraisal_id=b.ID
		where SV_ASSIGN_ID=@id
	end
	else
	begin
		 SELECT SV_ASSIGN_ID,SUPERVISOR_TYPE
				,rtrim(ltrim(dbo.GetEmployeeInfoById(SUPERVISOR))) rater_name
				,record_status
		FROM appraisalSupervisorAssignment 
		where SV_ASSIGN_ID=@id
	end												 

END

if @flag='u'
begin
	/*
	  Exec procManageAppraisalSupervisor @flag='u',@id=3,@rater_id='1000', @rater_type='r',@status='y', @targetDays='10',@user='1000'
	
	*/
	if @RATER_TYPE1 ='rc' 
	begin
		update appraisalSupervisorAssignment set SUPERVISOR=@rater_id,record_status=@status,SUPERVISOR_TYPE=@rater_type 
		,MODIFY_BY=@user,MODIFY_DATE=GETDATE()
		where SV_ASSIGN_ID=@id 
		
	end
	else
	begin
	
		select @to_date=to_date from appraisal 
		where ID =(select appraisal_id from appraisalSupervisorAssignment where SV_ASSIGN_ID=@id)		
		update appraisalSupervisorAssignment set days=DATEADD(DAY, CAST(@targetDays AS Int),@to_date),SUPERVISOR=@rater_id 
		,MODIFY_BY=@user,MODIFY_DATE=GETDATE()
		where SV_ASSIGN_ID=@id 
		
	end
	
	select 'Success!' as msg
end
if @flag='i'
begin
	
	if @rater_type='sf' or @rater_type='s' or @rater_type='r'	
	begin
	   select 'Sorry, You can not add appraisee, supervisor & reviewer!' as msg;
	   return;
	end
	insert into	 appraisalSupervisorAssignment (BRANCH,DEPT,SUPERVISOR,SUPERVISOR_TYPE,CREATED_BY,CREATED_DATE,record_status)
	select BRANCH_ID,DEPARTMENT_ID,@rater_id,@rater_type,@user,GETDATE(),@status from Employee where EMPLOYEE_ID=@rater_id
	
	select 'Success!' as msg
end
if @flag='d'
begin
	IF @RATER_TYPE1='rc'
	begin
		delete from appraisalSupervisorAssignment where SV_ASSIGN_ID=@id
	end
	else
	begin
	   select 'Sorry, You can not delete!' as msg
	   return;
	end
	
	select 'Success!' as msg
end
GO
