USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procSalarysheetupload_trail]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- EXEC [procSalarysheetupload_trail] 'a',@year='67-68',@month='4'

create PROC [dbo].[procSalarysheetupload_trail]
	@flag varchar(10)=null,
	@year varchar(100)=null,
	@month varchar(20)=null
as

set nocount on;

if @flag = 'a'
begin

		
		declare @sql varchar(MAX), @des_monthname as varchar(200), @acct_num_cit as varchar(20)
		, @acct_num_tds as varchar(20), @acct_num_vech as varchar(20), @acct_num_house as varchar(20)
		, @acct_num_advanc as varchar(20), @acct_num_staff_sal_exp as varchar(20)
		
		
		SELECT @acct_num_cit=acct_num from INV_FIXEDASST_MGMT.dbo.ac_master with(nolock) where acct_type_code='CIT'
		SELECT @acct_num_tds=acct_num from INV_FIXEDASST_MGMT.dbo.ac_master with(nolock) where acct_type_code='TDS'
		SELECT @acct_num_vech=acct_num from INV_FIXEDASST_MGMT.dbo.ac_master with(nolock) where acct_type_code='vehicle_facility'
		SELECT @acct_num_house=acct_num from INV_FIXEDASST_MGMT.dbo.ac_master with(nolock) where acct_type_code='housing_facility'
		SELECT @acct_num_advanc=acct_num from INV_FIXEDASST_MGMT.dbo.ac_master with(nolock) where acct_type_code='staff_advance'
		SELECT @acct_num_staff_sal_exp=acct_num from INV_FIXEDASST_MGMT.dbo.ac_master with(nolock) where acct_type_code='staff_Exp'
		
		
		
		SET  @des_monthname = 'Salary for the month of: '+ 
				dbo.FNAGetNepMonthName(@month) +', FY: '+ @year
		
			
		CREATE TABLE [dbo].[#SALARY_BATCH_UPLOAD_PUMARY](
				[Employee Code] [varchar](30) NULL,
				[EmployeeName] [varchar](152) NULL,
				[Post] [char](100) NULL,
				[BasicSalary] [money] NOT NULL,
				[Grade] [money] NOT NULL,
				[Total Basic Salary] [money] NOT NULL,
				[Monthly Allowance] [money] NOT NULL,
				[Other Allowance] [money] NOT NULL,
				[Contribution to P.Fund] [money] NOT NULL,
				[CIT out of Salary] [money] not null,
				[Total Gross Salary] [money] NOT NULL,
				[CIT] [money] NOT NULL,
				[TDS] [money] NOT NULL,
				[Vechicle Facility] [money] NOT NULL,
				[Home Facility] [money] NOT NULL,
				[Advance] [money] NOT NULL,
				[Total Deduction] [money] NOT NULL,
				[NET SALARY] [money] NULL,
				[ACCOUNT NUMBER] [varchar](50) NOT NULL
		) ON [PRIMARY]


	INSERT INTO #SALARY_BATCH_UPLOAD_PUMARY([Employee Code]
				  ,[EmployeeName],[Post],[BasicSalary],[Grade]
				  ,[Total Basic Salary],[Monthly Allowance],[Other Allowance]
				  ,[Contribution to P.Fund],[CIT out of Salary]
				  ,[Total Gross Salary],[CIT],[TDS],[Vechicle Facility]
				  ,[Home Facility],[Advance],[Total Deduction],[NET SALARY],[ACCOUNT NUMBER]
			)
	EXEC [procSalaryReportForMonth] @flag='a',@month=@month,@year=@year



	SELECT 
		Batch,BB,TT,[ACCOUNT NUMBER], EmployeeName, 
		''''+Tran_code as Tran_code,AMOUNT, LCYAMOUNT,
		DESC1, DESC2, DESC3 

	FROM(
			select '' as Batch, '' as BB,'' as TT,[ACCOUNT NUMBER], EmployeeName,'555' as Tran_code,
			[NET SALARY] as AMOUNT, [NET SALARY] as LCYAMOUNT,
			@des_monthname as DESC1, '' as DESC2, '' as DESC3 
			from #SALARY_BATCH_UPLOAD_PUMARY

			UNION ALL

			SELECT 

			'' as Batch, '' as BB,'' as TT,@acct_num_cit, 'CIT AC','555' as Tran_code,
			sum(CIT-[CIT out of Salary]) as AMOUNT, sum(CIT-[CIT out of Salary]) as LCYAMOUNT,
			@des_monthname as DESC1, '' as DESC2, '' as DESC3 
			from #SALARY_BATCH_UPLOAD_PUMARY

			UNION ALL

			SELECT 
			'' as Batch, '' as BB,'' as TT,@acct_num_tds, 'TDS AC','555' as Tran_code,
			sum(TDS) as AMOUNT, sum(TDS) as LCYAMOUNT,
			@des_monthname as DESC1, '' as DESC2, '' as DESC3 
			from #SALARY_BATCH_UPLOAD_PUMARY

			UNION ALL

			SELECT 
			'' as Batch, '' as BB,'' as TT,@acct_num_vech, 'Vehicle Facility Payable AC','555' as Tran_code,
			sum([Vechicle Facility]) as AMOUNT, sum([Vechicle Facility]) as LCYAMOUNT,
			@des_monthname as DESC1, '' as DESC2, '' as DESC3 
			from #SALARY_BATCH_UPLOAD_PUMARY

			UNION ALL

			SELECT 
			'' as Batch, '' as BB,'' as TT,@acct_num_house, 'Housing Facility Payable AC','555' as Tran_code,
			sum([Home Facility]) as AMOUNT, sum([Home Facility]) as LCYAMOUNT,
			@des_monthname as DESC1, '' as DESC2, '' as DESC3 
			from #SALARY_BATCH_UPLOAD_PUMARY

			UNION ALL

			SELECT 
			'' as Batch, '' as BB,'' as TT,@acct_num_advanc, 'Advance Staff Payable AC','555' as Tran_code,
			sum(cast([Advance] as money)) as AMOUNT, sum(cast([Advance] as money)) as LCYAMOUNT,
			@des_monthname as DESC1, '' as DESC2, '' as DESC3 
			from #SALARY_BATCH_UPLOAD_PUMARY

			UNION ALL

			SELECT 
			'' as Batch, '' as BB,'' as TT,@acct_num_staff_sal_exp, 'Salary Expense AC','055' as Tran_code,
			sum(round([Total Gross Salary],2)) as AMOUNT, sum([Total Gross Salary]-[CIT out of Salary]) as LCYAMOUNT,
			@des_monthname as DESC1, '' as DESC2, '' as DESC3 
			FROM #SALARY_BATCH_UPLOAD_PUMARY
	)a

	
end
GO
