USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_JobFileUpload]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[proc_JobFileUpload]  
(  
 @flag   varchar(1),  
 @ROWID   int = 0 output,  
 @JOB_ID   int = 0,  
 @FILE_DESC  varchar(200) = null,  
 @UPLOAD_BY  varchar(50) = null,   
 @FILE_TYPE  varchar(50) = null  
   
)  
  
as  
  
if @flag = 'i'  
begin  
 INSERT INTO [WF_Doc_History]  
      ([WF_JobID],[Doc_Description],[UploadBy],  
      [CreatedDate],[File_Extension])  
   VALUES  
      (  
    @JOB_ID,@FILE_DESC,@UPLOAD_BY,  
    GETDATE(),@FILE_TYPE   
      )  
 set @ROWID = SCOPE_IDENTITY()  
end  
else if @flag = 'd'  
begin  
 delete from WF_Doc_History where DOC_ID=@ROWID  
end
GO
