USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[Proc_MonthlyIndividualAttendance]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*

EXEC Proc_MonthlyIndividualAttendance @flag='i',@year='69-70',@month='02',@emp='1040'

*/

CREATE PROC [dbo].[Proc_MonthlyIndividualAttendance]
	 @flag	CHAR(1)
	,@emp	INT
	,@year	VARCHAR(10)
	,@month	VARCHAR(4)

AS

IF @flag ='i'
BEGIN

	DECLARE @fromdate VARCHAR(20),@todate VARCHAR(20)
	DECLARE 
		 @ABSENT		VARCHAR(10)
		,@ONTIME		VARCHAR(10)
		,@ONLEAVE		VARCHAR(10)
		,@INTOLERANCE	VARCHAR(10)
		,@LATEIN		VARCHAR(10)
		,@SAT			vARCHAR(10)
	
	SELECT 
		@ABSENT='#FF1635',
		@ONTIME='White', 
		@ONLEAVE='#11C3DB',
		@INTOLERANCE='White',
		@LATEIN='White',
		@SAT='#6493EA'
	
	DECLARE @intStartValue AS INT
	DECLARE @intEndValue AS INT
	DECLARE @intIncremental AS INT

	SELECT @fromdate=DBO.GetMonthStartDateEng(@year,@month), @todate=DBO.GetMonthEndDateEng(@year,@month)

	SET @intStartValue =DAY(@fromdate)
	SET @intEndValue =DATEDIFF(dd,@fromdate,@todate)
	
	IF OBJECT_ID('tempdb..#REPORT') IS NOT NULL
	drop table #REPORT
	
	IF OBJECT_ID('tempdb..#DATELIST') IS NOT NULL
	drop table #DATELIST
	
	IF OBJECT_ID('tempdb..#EMPLIST') IS NOT NULL
	drop table #EMPLIST
	
	CREATE TABLE #EMPLIST
	(
		Emp_id int,
		emp_name varchar(70) ,
		BRANCH_ID VARCHAR(20),
		JOINED_DATE VARCHAR(20)
	)
	
	CREATE TABLE #REPORT
	(	
		Emp_id int,
		ATT_DATE DATETIME,
		ATT_DAY varchar(20),
		emp_name varchar(70),
		BRANCH_ID VARCHAR(20),
		CARD_NUMBER VARCHAR(200),
		LOGIN_DATE VARCHAR(20),
		LOGOUT_DATE VARCHAR(20),
		LOGIN_TIME varchar(20),
		LOGOUT_TIME varchar(20),
		ATT_STATUS VARCHAR(20),
		ATT_HOUR VARCHAR(20),
		REASON_IN VARCHAR(500),
		REASON_OUT VARCHAR(500),
		OFFICE_START VARCHAR(8),
		OFFICE_END	VARCHAR(8),
		TOLERANCE	VARCHAR(8),
		JOINED_DATE VARCHAR(20)
	)
	
	CREATE TABLE #DATELIST
	(
		Emp_id int,
		ATT_DATE DATETIME,
		ATT_DAY varchar(20),
		OFFICE_START VARCHAR(20),
		OFFICE_END VARCHAR(20),
		ATT_STATUS VARCHAR(20)

	)

	------------------ insert into #employee list-------------------

	insert into #EMPLIST(Emp_id,emp_name,BRANCH_ID,JOINED_DATE)
	select EMPLOYEE_ID, FIRST_NAME + ' ' + MIDDLE_NAME + ' ' + LAST_NAME,BRANCH_ID,JOINED_DATE  from Employee
	where EMPLOYEE_ID like ISNULL(@emp,'%')
	and EMPLOYEE_ID <> '1000' 
	AND EMP_STATUS=458
	
	--select * from #EMPLIST
	------------------------------insert into #datelist----------------------------
	
	set @intIncremental=0
	while @intIncremental <=  @intEndValue
	begin

		INSERT INTO #DATELIST(ATT_DATE,ATT_DAY,ATT_STATUS,Emp_id)
		select convert(varchar,cast( DATEADD(dd,@intIncremental,@fromdate) as datetime) ,102) , 
		DATENAME(dw, DATEADD(dd,@intIncremental,@fromdate)),'ABSENT',0
		
		
		set @intIncremental=@intIncremental+1

		--select * from OfficeTimeSetup
		
	end
	
	-------------------------------Insert into Main report---------------------------------------
	
	INSERT INTO #REPORT(ATT_DATE,ATT_DAY,ATT_STATUS,Emp_id,emp_name,LOGIN_TIME,LOGOUT_TIME,REASON_IN,REASON_OUT,ATT_HOUR,BRANCH_ID,OFFICE_START,OFFICE_END,JOINED_DATE)
	select d.ATT_DATE, d.ATT_DAY, d.ATT_STATUS, r.Emp_id,r.emp_name,'00:00:00','00:00:00',' ',' ','',r.BRANCH_ID,OFFICE_START,OFFICE_END,JOINED_DATE 
	from #EMPLIST r,  #DATELIST d 
	
	--select * from #REPORT
	--return;
	
	update #REPORT set
		ATT_STATUS='PRESENT'
		,LOGIN_TIME=isnull(a.[LOGINTIME],'00:00:00')
		,LOGOUT_TIME=isnull(a.[LOGOUTTIME],'00:00:00')
		,REASON_IN=a.ReasonDetailIn
		,REASON_OUT=a.ReasonDetailOut
		,ATT_HOUR=a.TOTALHOURS
		,LOGIN_DATE=A.LOGIN_DATE
		,LOGOUT_DATE=A.LOGOUT_DATE
	from #REPORT r, 
	(
		select emp_id
				,CONVERT(date,att_date,101) ATT_DATE
				,a.CARD_NUMBER
				,a.login_ip
				,a.logout_ip
				,CONVERT(date,login_time,101)  LOGIN_DATE
				,CONVERT(date,logout_time,101)	LOGOUT_DATE
				,cast(CONVERT(time,login_time,101) as varchar(8)) as [LOGINTIME]
				,cast(CONVERT(time,logout_time,101) as varchar(8)) AS [LOGOUTTIME]
				,''	  [TOTALHOURS]
				,ISNULL(a.reason_detail_in,'') AS [ReasonDetailIn]
				,ISNULL(a.reason_detail_out,'') AS [ReasonDetailOut]
			FROM 
				(	
					SELECT 
						emp_id,
						att_date,
						a.CARD_NUMBER,
						a.login_ip,
						a.logout_ip,
						cast(login_time as datetime) login_time,
						cast(logout_time as datetime) logout_time,
						isnull(ard.login_reason,'') reason_detail_in ,
						isnull(ard.logout_reason,'') reason_detail_out
					FROM atttendance a left join attendance_reason ard ON A.id = ard.att_id  WHERE emp_id <> '1000'
						 
				) a 
			where dbo.FNADateFormat(login_time,'d') between dbo.FNADateFormat(@fromdate,'d') and dbo.FNADateFormat(@todate,'d')+ ' 23:59'
			
			GROUP BY  emp_id,a.login_time,A.login_time,A.logout_time,a.reason_detail_in,a.reason_detail_out,att_date,a.CARD_NUMBER,a.login_ip,a.logout_ip
			
	)a
	where  a.emp_id=r.Emp_id and  CONVERT(date,r.ATT_DATE,101) = CONVERT(date,a.ATT_DATE,101)

	update #REPORT set
		ATT_STATUS='ON LEAVE'
		,LOGIN_TIME='00:00:00'
		,LOGOUT_TIME='00:00:00'
		,REASON_IN=a.NAME_OF_LEAVE
		,REASON_OUT=''
		,ATT_HOUR='0'
	from #REPORT r, 
	(
	
		select REQUESTED_BY	,b.NAME_OF_LEAVE
			,l.APPROVED_FROM, l.APPROVED_TO
		FROM LeaveRequest l	inner join LeaveTypes b on l.LEAVE_TYPE_ID=b.id
		where LEAVE_STATUS='Approved' and APPROVED_DAYS>0.5
	
	)a	where  a.REQUESTED_BY=r.Emp_id and r.ATT_DATE between a.APPROVED_FROM and a.APPROVED_TO

	 -------------------
	 
	update #REPORT set
		ATT_STATUS='ON HALF DAY LEAVE'
		,REASON_IN=a.NAME_OF_LEAVE
	from #REPORT r, 
	(
	
		select REQUESTED_BY	,b.NAME_OF_LEAVE
			,l.APPROVED_FROM, l.APPROVED_TO
		FROM LeaveRequest l	inner join LeaveTypes b on l.LEAVE_TYPE_ID=b.id
		where LEAVE_STATUS='Approved' and APPROVED_DAYS=0.5
	
	)a	where  a.REQUESTED_BY=r.Emp_id and r.ATT_DATE between a.APPROVED_FROM and a.APPROVED_TO
	 
	update #REPORT set
		ATT_STATUS='ON SITE DUTY'
		,REASON_IN=a.purpose
	from #REPORT r, 
	(
	
		select EMPID,purpose
			,l.sitedatefrom, l.sitedateto 
		FROM onsiteDuty l
		
	)a	where  a.EMPID=r.Emp_id and r.ATT_DATE between a.sitedatefrom and a.sitedateto
	
	update #REPORT set
		ATT_STATUS='ON TRAINING'
		,REASON_IN=a.narration
	from #REPORT r, 
	(		
		SELECT P.employeeId,T.plannedStartDate,T.plannedEndDate,T.narration
		FROM trainingParticipation P, training T WHERE P.trainingId=T.ID
	
	)a	where  a.employeeId=r.Emp_id and r.ATT_DATE between a.plannedStartDate and a.plannedEndDate
	
	-- EXEC ProcMonthlyReport 'i','4/13/2012', '3/25/2013','1','28', '1144'

	update #REPORT set
	 ATT_STATUS=CASE WHEN ATT_STATUS='ABSENT' THEN 'HOLIDAY'  ELSE	ATT_STATUS END
	,REASON_IN=CASE WHEN ATT_STATUS='ABSENT' THEN B.TITLE  ELSE	REASON_IN  END
	FROM  #REPORT A	,
	(
		SELECT DATE ATT_DATE,TITLE FROM OfficialCalendar WHERE TYPE='H'
	)B 
	WHERE CONVERT(VARCHAR,A.ATT_DATE,102)=CONVERT(VARCHAR,B.ATT_DATE,102)	 

	UPDATE #REPORT SET ATT_STATUS= 'NOT JOINED'  
	WHERE Cast(ATT_DATE as date)<cast(JOINED_DATE as date)

	UPDATE #REPORT 
		SET OFFICE_START=FROM_TIME, OFFICE_END=TO_TIME,TOLERANCE=toleranceFromTime
	from #REPORT r 
	inner join OfficeTimeSetup ots on r.ATT_DATE between from_date and to_date
	where r.ATT_DAY<>'friday'
	AND OTS.flag<>'F'

	UPDATE #REPORT 
		SET OFFICE_START=FROM_TIME, OFFICE_END=TO_TIME,TOLERANCE=toleranceFromTime
	from #REPORT r 
	inner join OfficeTimeSetup ots on r.ATT_DATE between from_date and to_date
	where r.ATT_DAY='friday'
	AND OTS.flag='F'

	UPDATE #REPORT SET ATT_STATUS= CASE WHEN ATT_DAY='SATURDAY' THEN 'SATURDAY' ELSE ATT_STATUS END

	UPDATE #REPORT 
		SET ATT_STATUS='LATE IN'
	where ATT_STATUS='PRESENT' 
	AND LOGIN_TIME > TOLERANCE

	UPDATE #REPORT 
		SET ATT_STATUS='EARLY OUT'
	where ATT_STATUS='PRESENT' 
	AND LOGOUT_TIME <> '00:00:00' 
	AND LOGOUT_TIME < office_end

	UPDATE #REPORT 
		SET ATT_STATUS='PENDING ATTENDANCE'
	where ATT_STATUS='PRESENT' 
	AND LOGOUT_TIME ='00:00:00'
		
	 SELECT	
		CONVERT(VARCHAR,ATT_DATE,107) [Attendence Date],
		ATT_DAY [Attendance day],
		CASE 
		WHEN ATT_STATUS ='ABSENT' 
			THEN '<span style="background-color:'+@absent+'; display:block; padding:2px 3px;">'+LOGIN_TIME+'</span>' 
		WHEN ATT_STATUS = 'SATURDAY'
			THEN '<span style="background-color:'+@SAT+'; display:block; padding:2px 3px;">'+LOGIN_TIME+'</span>'
		WHEN (ATT_STATUS ='ON LEAVE' OR ATT_STATUS='ON TRAINING' OR ATT_STATUS='ON SITE DUTY' OR ATT_STATUS='HOLIDAY' OR ATT_STATUS='NOT JOINED' or ATT_STATUS='ON HALF DAY LEAVE')
			THEN '<span style="background-color:'+@ONLEAVE+'; display:block; padding:2px 3px;">'+LOGIN_TIME+'</span>'
		WHEN ATT_STATUS='PRESENT' AND LOGIN_TIME<Office_start 
			THEN '<span style="background-color:'+@ONTIME+'; display:block; padding:2px 3px;">'+LOGIN_TIME+'</span>'
		WHEN  ATT_STATUS='PRESENT' AND LOGIN_TIME BETWEEN Office_start AND TOLERANCE
			THEN '<span style="background-color:'+@INTOLERANCE+'; display:block; padding:2px 3px;">'+LOGIN_TIME+'</span>'
		WHEN  ATT_STATUS='PRESENT' AND LOGIN_TIME > TOLERANCE
			THEN '<span style="background-color:'+@LATEIN+'; display:block; padding:2px 3px;">'+LOGIN_TIME+'</span>'
		END [Login Time],
		CASE 
		WHEN ATT_STATUS ='ABSENT' 
			THEN '<span style="background-color:'+@absent+'; display:block; padding:2px 3px;">'+LOGOUT_TIME+'</span>' 
		WHEN ATT_STATUS = 'SATURDAY'
			THEN '<span style="background-color:'+@SAT+'; display:block; padding:2px 3px;">'+LOGIN_TIME+'</span>'
		WHEN (ATT_STATUS ='ON LEAVE' OR ATT_STATUS='ON TRAINING' OR ATT_STATUS='ON SITE DUTY' OR ATT_STATUS='HOLIDAY' OR ATT_STATUS='NOT JOINED' or ATT_STATUS='ON HALF DAY LEAVE')
			THEN '<span style="background-color:'+@ONLEAVE+'; display:block; padding:2px 3px;">'+LOGOUT_TIME+'</span>'
		WHEN ATT_STATUS='PRESENT' AND LOGOUT_TIME='00:00:00'
			THEN '<span style="background-color:'+@absent+'; display:block; padding:2px 3px;">'+LOGOUT_TIME+'</span>' 
		WHEN ATT_STATUS='PRESENT' AND LOGOUT_TIME>office_end
			THEN '<span style="background-color:'+@ONTIME+'; display:block; padding:2px 3px;">'+LOGOUT_TIME+'</span>'
		WHEN  ATT_STATUS='PRESENT' AND LOGOUT_TIME < office_end
			THEN '<span style="background-color:'+@LATEIN+'; display:block; padding:2px 3px;">'+LOGOUT_TIME+'</span>'
		END [Logout Time],
		ATT_STATUS  [Status],
		REASON_IN [Login Reason],
		REASON_OUT[Logout Reason]
	 FROM #REPORT tr 
	 INNER JOIN Employee e ON e.EMPLOYEE_ID=tr.Emp_id
	 INNER JOIN Branches b ON b.BRANCH_ID=e.BRANCH_ID
	 ORDER BY ATT_DATE

	 --SELECT * FROM #REPORT

	 Select ATT_STATUS [Status], count(Att_Status) [Status Count] from #REPORT
	 group by ATT_STATUS

	 --Union All

	 --SELECT 'PENDING ATTENDANCE' [Status], COUNT(Att_Status) [Status Count] 
	 --FROM #report 
	 --WHERE ATT_STATUS='PRESENT'
	 --AND LOGOUT_TIME='00:00:00'
	 --GROUP BY ATT_STATUS,LOGOUT_TIME

	 --Union All

	 --SELECT 'LATE IN' [Status], COUNT(ATT_STATUS) [Status Count] 
	 --FROM #report 
	 --WHERE LOGIN_TIME > TOLERANCE
	 --GROUP BY ATT_STATUS,LOGIN_TIME

	 --Union All

	 --SELECT 'EARLY OUT' [Status], COUNT(ATT_STATUS) [Status Count] 
	 --FROM #report 
	 --WHERE ATT_STATUS='PRESENT'
	 --AND LOGOUT_TIME <> '00:00:00'
	 --AND LOGOUT_TIME < office_end
	 --GROUP BY ATT_STATUS,LOGOUT_TIME



END
GO
