USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procSavePurchaseOrderVoucher]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
Exec procSavePurchaseOrderVoucher @flag='i',@mesage='sadcasdc', @date='4/23/2012',
@sessionid='owb2onlahjlkwmixp4o2heei', @billno='1',@vendor='2', @msg_id='2',@user='1000', @branch_id='1',@isVat='False'
*/
CREATE Proc [dbo].[procSavePurchaseOrderVoucher]
	@flag char(1),
	@mesage varchar(20),
	@date varchar(20),
	@sessionid varchar(200),
	@billno varchar(200),
	@vendor varchar(300),
	@msg_id varchar(50),
	@user varchar(50),	
	@branch_id varchar(20),
	@isVat varchar(20)
	
AS
begin
	
	set xact_abort on;
	set nocount on;
	
	declare @intPartId int, @intTotalRows as int, @strRefNum as varchar(20), @intBillid as int
	declare @strAccountNum as varchar(25), @dblTotalAmt as float, @strTranType as varchar(5)
				
	
	SELECT ACCT_NUM,isnull(amount,0)as AMT,TRN_TYPE
	into #_tzRemittanceTranHit
	FROM (
		    select b.INVENTORY_AC as ACCT_NUM
		    ,ROUND((sum(t.amount) + sum(t.amount)* case when @isVat='false' then 0.130 else 0 end),2) as amount 
		    ,'DR' as TRN_TYPE 
			from IN_BRANCH b, IN_PRODUCT p, Temp_Purchase t
			where  b.PRODUCT_ID=p.id and b.BRANCH_ID=@branch_id
				and p.id=t.product_code
				and t.session_id =@sessionid and t.flag='p' and t.order_message_id=@msg_id
				group by b.INVENTORY_AC 
				
				UNION ALL
				
			select t.product_code as ACCT_NUM,ROUND(t.amount,2) as amount, 'CR' as TRN_TYPE 
			from Temp_Purchase t
			where t.session_id =@sessionid and t.flag='a'
		)a

	
	
	--DR Or CR Exist or not checcking
	if not exists(
		Select  trn_type from #_tzRemittanceTranHit where trn_type='DR'
	)
	Or 
	not exists(
		Select  trn_type from #_tzRemittanceTranHit where trn_type='CR'
	)
	begin
			Select  'DR or CR Balance not exists' as REMARKS
			return;	
	
	end

	if (Select  cast(sum(AMT)as money) from #_tzRemittanceTranHit where trn_type='DR' group by trn_type)
		<> (select  cast(sum(AMT) as money) from #_tzRemittanceTranHit  where trn_type='CR' group by trn_type)
	begin

			Select  'DR and CR Balance is not Equal' as REMARKS
			return;			
	end	

	Alter table #_tzRemittanceTranHit add RowID INT IDENTITY(1,1)
	select @intPartId=max(RowID) from #_tzRemittanceTranHit
	
--########## CREATE SUMMARY SEND TRANSACTION 

BEGIN TRANSACTION
	
	select @strRefNum=purchase_voucher from billSetting where company_id=1
		IF (@@ERROR <> 0) GOTO QuitWithRollback 
		
	update billSetting set purchase_voucher=cast(purchase_voucher as float)+1 where company_id=1
		IF (@@ERROR <> 0) GOTO QuitWithRollback 
			

--########### Start loop count
set @intTotalRows=1
while @intPartId >=  @intTotalRows
begin
			-- row wise trn values
			-- @strAccountNum, @dblTotalAmt, @strTranType

		 select @strAccountNum=ACCT_NUM,@dblTotalAmt=AMT,@strTranType=TRN_TYPE 
				from #_tzRemittanceTranHit where RowID=@intTotalRows
				IF (@@ERROR <> 0) GOTO QuitWithRollback 
				
		  Exec ProcDrCrUpdateFinal @strTranType ,@strAccountNum, @dblTotalAmt
				IF (@@ERROR <> 0) GOTO QuitWithRollback 


set @intTotalRows=@intTotalRows+1
end
		-- ############### TRAN BILLING INFO
		set @dblTotalAmt =(select DISTINCT SUM(AMT) from #_tzRemittanceTranHit where TRN_TYPE='DR') 
		
		
		INSERT INTO [Bill_info]
		([party_code] ,[billno] ,[bill_date],[bill_amount], vat_amt  ,[bill_type],[bill_notes]
           ,[entered_by],[entered_date])
         VALUES
           (@vendor ,@billno , @date , @dblTotalAmt,
            case when @isVat='false' then @dblTotalAmt- @dblTotalAmt/1.13 else 0 end,
            'p', @mesage ,@user,GETDATE() )
           
           set @intBillid= @@IDENTITY
           
          
         -- ############### TRAN MASTER DETAIL
		insert into tran_master (entry_user_id,acc_num,gl_sub_head_code
			,part_tran_type,ref_num,tran_amt, tran_date,
			tran_type,company_id,part_tran_srl_num,created_date,rpt_code, billno)
		Select @user,c.ACCT_NUM,dbo.FunGetGLCode(ACCT_NUM),
			TRN_TYPE,@strRefNum ,AMT,@date,
			'p','1',ROW_NUMBER() OVER(ORDER BY TRN_TYPE desc) AS SrNo, GETDATE(),'s',@intBillid
		from #_tzRemittanceTranHit c 
		
		IF (@@ERROR <> 0) GOTO QuitWithRollback 
			
		-- ############### TRAN MASTER DETAIL ENTRY
		INSERT INTO [tran_masterDetail]([ref_num] ,[tran_particular],tran_type, company_id,tranDate )
		Select  @strRefNum,'PO-Inventory Purchased','p','1',@date

		IF (@@ERROR <> 0) GOTO QuitWithRollback 
		
		-- ############### PURCHASE ENTRY
		INSERT INTO [IN_PURCHASE]
			([bill_id],[prod_code],[p_qty],[p_rate],[p_sn_from],[p_sn_to],[p_batch],
			 [p_stk_remain],branch_id,[entered_by],[entered_date],order_msg_id,foc_qty)
		
		SELECT @intBillid,t.product_code, 
			case when o.qty is null then t.qty else o.qty end Qty,
			case when @isVat='false' then rate*1.13 else rate end Rate,
			o.sn_from, o.sn_to,o.batch,case when o.qty is null then t.qty else o.qty end Qty
			, @branch_id,@user , GETDATE(),@msg_id,t.foc_qty 
		from IN_BRANCH b 
			join Temp_Purchase t on b.PRODUCT_ID =t.product_code
			left join Temp_Purchase_Other o on o.session_id=t.session_id 
			and t.id=o.temp_purchase_id 
		where 1=1
			and t.session_id =@sessionid 
			and t.flag='p' 
			and b.BRANCH_ID=@branch_id 
			and t.order_message_id=@msg_id

		
		IF (@@ERROR <> 0) GOTO QuitWithRollback
				
		--##############STOCK UPDATE
		update  IN_BRANCH set 
			stock_in_hand=  isnull(b.stock_in_hand,0) + isnull(t.qty,0)	
		from IN_BRANCH b, Temp_Purchase t
		where  b.PRODUCT_ID =t.product_code
			and t.session_id =@sessionid 
			and t.flag='p' 
			and b.BRANCH_ID=@branch_id 
			and t.order_message_id=@msg_id	
	
			
           IF (@@ERROR <> 0) GOTO QuitWithRollback 
            
         update Purchase_Order_Message 
			set received_by=@user,
				received_date=GETDATE(),
				received_desc=@mesage 
			where id=@msg_id
         
         
COMMIT TRANSACTION

	SELECT  'Voucher Save Successfully, Voucher No: '+ @strRefNum AS REMARKS

--########## Drop TEMP TABLE
	drop table #_tzRemittanceTranHit
	
	
GOTO  EndSave

QuitWithRollback:
ROLLBACK TRANSACTION 


EndSave: 

end
GO
