USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procUploadAssetBooking_SLM]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
exec procUploadAssetBooking_SLM 'a','D:\swifterp\application\doc\asset_doc\corporate\lease_hold.csv','1000'
exec procUploadAssetBooking_SLM 'a','D:\swifterp\application\doc\asset_doc\NarayanGhat\leasehold.csv','1000'
 */
CREATE PROC [dbo].[procUploadAssetBooking_SLM]	
	@flag CHAR(1),
	@file_path VARCHAR(2000),
	@user VARCHAR(50)
AS

IF @flag='a'
BEGIN

	SET NOCOUNT ON;
	DECLARE @SQL VARCHAR(1000)	
	DECLARE @intTotalRows AS INT,@intPartId AS INT,@FY_YR AS VARCHAR(10),@NEPLI_MONTH AS INT

	SET @file_path = REPLACE(@file_path,'\\','\')	


CREATE TABLE #temAssetNum
(
	asset_number VARCHAR(500)
)

CREATE TABLE #tempNumberUpload
	(
		asset_type VARCHAR(100) NULL,
		branch_id VARCHAR(10) NULL,
		booking_date VARCHAR(100) NULL,
		purchase_value VARCHAR(200) NULL,		
		acc_dep VARCHAR(50) NULL,
		dep_start_date VARCHAR(50) NULL,
		life_month VARCHAR(50) NULL,
		remain_month VARCHAR(50) NULL,
		narration VARCHAR(MAX) NULL
	)

SET @SQL = ' BULK INSERT #tempNumberUpload  FROM '''+@file_path+''' 
				 WITH (FIELDTERMINATOR = '','',FIRSTROW  = 2, ROWTERMINATOR =''\n'') '
				 
EXEC(@SQL)

--begin transaction
ALTER TABLE #tempNumberUpload ADD RowID INT IDENTITY(1,1)
SELECT @intPartId=MAX(RowID) FROM #tempNumberUpload	

UPDATE #tempNumberUpload
		SET 
		asset_type=REPLACE(LTRIM(asset_type),'á',''),
		branch_id=REPLACE(LTRIM(branch_id),'á',''),
		life_month=REPLACE(LTRIM(life_month),'á',''),
		remain_month=REPLACE(LTRIM(remain_month),'á',''),
		purchase_value=REPLACE(LTRIM(purchase_value),'á',''),
		acc_dep=REPLACE(LTRIM(acc_dep),'á','')
		

UPDATE #tempNumberUpload
		SET 
		asset_type=REPLACE((asset_type),' ',''),
		branch_id=REPLACE((branch_id),' ',''),
		life_month=REPLACE((life_month),' ',''),
		remain_month=REPLACE((remain_month),' ',''),
		purchase_value=REPLACE((purchase_value),' ',''),
		acc_dep=REPLACE((acc_dep),' ','')	
		
IF EXISTS (SELECT * FROM #tempNumberUpload WHERE branch_id NOT IN (SELECT branch_id FROM ASSET_BRANCH WHERE PRODUCT_ID=asset_type))
BEGIN
	SELECT 'Please assign asset type to branch with required account details!' AS msg
	RETURN;
END

--########### Start loop count


BEGIN TRANSACTION
		SET @intTotalRows=1
		WHILE @intPartId >=  @intTotalRows
		BEGIN
				DECLARE @asset_id AS INT,@purchase_value AS MONEY,@DEP_VALUE AS MONEY,@asset_type AS INT,
				@acc_depriciation AS MONEY,@depre_pct AS FLOAT,@booking_date AS VARCHAR(20),
				@branch_id AS INT,@asset_number AS VARCHAR(500),@dep_start_date AS VARCHAR(20),@group_id AS INT
				
				SELECT @depre_pct=DBO.FNAGetDepPrcnt(@asset_type)
						
				SELECT	@purchase_value=purchase_value,
						@booking_date=booking_date,
						@branch_id=branch_id,
						@acc_depriciation=acc_dep,
						@asset_type=asset_type ,
						@dep_start_date=dep_start_date
				FROM  #tempNumberUpload 
				WHERE RowID=@intTotalRows		
				
			
				
				INSERT INTO #temAssetNum
					EXEC procGenerateAssetNumber @branch_id,@asset_type,@booking_date
					SELECT @asset_number=asset_number FROM #temAssetNum

				SET @group_id=dbo.GetGroupID(@asset_type)
				IF (@@ERROR <> 0) GOTO QuitWithRollback
				
				INSERT INTO ASSET_INVENTORY(branch_id,narration,product_id,booked_date,asset_number,purchase_value,
				acc_depriciation,depr_start_date,asset_status,depre_pct,is_amortised,life_in_month,remain_month,created_by,created_date,group_id)
				SELECT branch_id,narration,@asset_type,@booking_date,@asset_number,
					ROUND(@purchase_value,2),ROUND(@acc_depriciation,2),@dep_start_date,'Active',@depre_pct,'Y',life_month,remain_month,@user,GETDATE(),@group_id
					FROM  #tempNumberUpload WHERE RowID=@intTotalRows		
				
				SET @asset_id=@@IDENTITY
				IF (@@ERROR <> 0) GOTO QuitWithRollback
				
				SET @FY_YR=dbo.FNAReturnCurrentFiscalYear(@dep_start_date)
				
					--#################INSERTING ASSET DETAILS FOR OPENING BALANCE######################---
				INSERT INTO asset_opening_balance(asset_id,booked_date,dep_start_date,fiscal_year,branch_id,acc_dep,purchase_value,created_by,created_date)
				SELECT @asset_id,@booking_date,@dep_start_date,@FY_YR,@branch_id,ROUND(@acc_depriciation,2),ROUND(@purchase_value,2),@user,GETDATE()
				IF (@@ERROR <> 0) GOTO QuitWithRollback
				
				UPDATE ASSET_BRANCH SET ASSET_NEXT_NUM = ASSET_NEXT_NUM +1  
					WHERE PRODUCT_ID=@asset_type  AND BRANCH_ID=@branch_id		
				IF (@@ERROR <> 0) GOTO QuitWithRollback
					
				TRUNCATE TABLE #temAssetNum		
					SET @intTotalRows=@intTotalRows+1
			
		END
COMMIT TRANSACTION

	DROP TABLE #temAssetNum
	DROP TABLE #tempNumberUpload
	SELECT 'Asset Booking Upload Completed Sucessfully!' AS msg
	
	GOTO  EndSave
	QuitWithRollback:
	ROLLBACK TRANSACTION 
	EndSave:
END
GO
