USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_lateAttendanceLogOutNotificaton]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXEC [PROC_LATEATTENDANCELOGOUTNOTIFICATON]        
	CREATE PROCEDURE [dbo].[proc_lateAttendanceLogOutNotificaton]              
	AS         
	SET NOCOUNT ON;         
	SET XACT_ABORT ON;          

	BEGIN  

	DECLARE @DATE AS DATE,@DATE1 AS VARCHAR(20),@DATE2 AS VARCHAR(20),@INTPARTID INT,        
	@INTTOTALROWS INT,@RECIPIENT VARCHAR(200),@ATTDATE AS VARCHAR(20)        
	,@MSGCONTENT VARCHAR(MAX),@EMPID AS INT,@TIME AS VARCHAR(20)    
	SET @DATE=GETDATE()        

	SELECT 
	@DATE1=CAST(CONVERT(DATE,DATEADD(DAY,-1,GETDATE()),101) AS VARCHAR) + ' ' +  CONVERT(VARCHAR(13),DATEADD(MI,30,TO_TIME),108) 
	FROM OFFICETIMESETUP WITH(NOLOCK)               
	WHERE CONVERT(DATE,DATEADD(DAY,-1,GETDATE()),101) BETWEEN FROM_DATE AND TO_DATE       

	SELECT @DATE2=CAST(CONVERT(DATE,DATEADD(DAY,-1,GETDATE()),101) AS VARCHAR) + ' ' +  '20:30:00' 

	IF OBJECT_ID('TEMPDB..#TEMPTABLE') IS NOT NULL        
	DROP TABLE #TEMPTABLE        

	CREATE TABLE #TEMPTABLE        
	(         
	EMPID INT,        
	LOGOUTDATE DATETIME        
	)         

	INSERT INTO #TEMPTABLE(EMPID,LOGOUTDATE)        
	SELECT 
	EMP_ID
	,LOGOUT_TIME 
	FROM ATTTENDANCE ATT
	INNER JOIN EMPLOYEE E ON ATT.EMP_ID=E.EMPLOYEE_ID
	WHERE LOGOUT_TIME BETWEEN @DATE1 AND @DATE2
	AND E.POSITION_ID<>780

	ALTER TABLE #TEMPTABLE ADD ROWID INT IDENTITY(1,1)        
	SELECT @INTPARTID=MAX(ROWID) FROM #TEMPTABLE        
	SET @INTTOTALROWS=1        
	WHILE @INTPARTID >=  @INTTOTALROWS        
	BEGIN        

	SELECT @EMPID=EMPID,@ATTDATE=CONVERT(VARCHAR,LOGOUTDATE,100) FROM #TEMPTABLE  WHERE ROWID=@INTTOTALROWS        
	SELECT @RECIPIENT=OFFICIAL_EMAIL FROM EMPLOYEE WHERE EMPLOYEE_ID=@EMPID        

	SET @MSGCONTENT=         
	'DEAR SIR/MADAM,        

	YOUR LOGOUT TIME OF ATTENDANCE FOR TODAY ('+CONVERT(VARCHAR,@DATE1,100)+') HAS BEEN RECORDED AS '+@ATTDATE+'.      

	THANKS & REGARDS        
	NABIL BANK LIMITED (HR DEPARTMENT)'       


	INSERT INTO EMAILNOTES       
	(SENDTO,SUBJECT,NOTESTEXT,SENTDATE)        
	SELECT    
	@RECIPIENT    
	,'LATE OUT ATTENDANCE NOTIFICATION'    
	,@MSGCONTENT    
	,GETDATE()     
	--EXEC PROC_MAIL_SEND @RECIPIENT=@RECIPIENT,         
	--@SUBJECT_TEXT='LATE IN ATTENDANCE NOTIFICATION', @MSG_TEXT=@MSGCONTENT        


	SET @INTTOTALROWS=@INTTOTALROWS+1        
	END        
	DROP TABLE #TEMPTABLE          
	END
GO
