USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procMedicalClaim]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*        
Exec [procMedicalClaim] @flag='s',@id='2',@empId=''        
Exec [procMedicalClaim] @flag='g',@id='2',@empId='1439'        
Exec [procMedicalClaim] @flag='report',@fromDate='2012-12-12',@toDate='2012-12-12'        
        
        
exec [procMedicalClaim] @flag='i',@id=null ,@empId='1144',@familyMemberId='1144',          
@claimType='Sickness',@accDateTime=null,          
@accPlace=null,@accOccur=null,  @accInjury=null,@accAttendingDoctor=null,         
 @sickDateTime='2012/11/09',@sickAttendingDoctor='sdgas',         
  @sickHospital=null,@sickDiagnosis='adsfg',  @leaveFrom=null,@leaveTo=null,  @USER='1144',@sessionId='xbtiyrsq13303qv1qwmphtxp'        
        
EXEC procMedicalClaim @flag = 'report', @user = '1000', @fromDate = '2011-2-6', @toDate = '2013-2-28', @claimType = 'Accident', @claimStatus = 'Requested'        
*/        
        
CREATE PROCEDURE [dbo].[procMedicalClaim]        
  @flag      VARCHAR(50)         
 ,@id      INT   =NULL        
 ,@empId      INT   =NULL        
 ,@familyMemberId   VARCHAR(500)=NULL        
 ,@claimType     VARCHAR(200)=NULL        
 ,@accDateTime    VARCHAR(50)=NULL        
 ,@accPlace     VARCHAR(50)=NULL         
 ,@accOccur     VARCHAR(500)=NULL        
 ,@accInjury     VARCHAR(200)=NULL         
 ,@accAttendingDoctor  VARCHAR(50)=NULL        
 ,@sickDateTime    VARCHAR(50)=NULL        
 ,@sickAttendingDoctor  VARCHAR(50)=NULL        
 ,@sickHospital    VARCHAR(50)=NULL        
 ,@sickDiagnosis    VARCHAR(50)=NULL        
 ,@leaveFrom     VARCHAR(50)=NULL        
 ,@leaveTo     VARCHAR(50)=NULL        
 ,@claimStatus    VARCHAR(50)=NULL        
 ,@USER      VARCHAR(50)=NULL        
 ,@sessionId     VARCHAR(50)=NULL        
 ,@headId      INT=NULL        
 ,@amount     VARCHAR(50)=NULL        
 ,@claimId     INT =NULL         
 ,@remarks     VARCHAR(MAX)=NULL        
 ,@fileDesc     VARCHAR(500) =NULL        
 ,@fileType     VARCHAR(50) =NULL        
 ,@docName     varchar(max)=null        
 ,@docType     varchar(50)=null        
 ,@fromDate     varchar(50) = null        
 ,@toDate     varchar(50) = null        
 ,@rptName     varchar(50)=null        
 ,@rptType     varchar(50)=null     
 ,@claimFor     varchar(50)=null     
 ,@hosDiagnosis varchar(50) = null     
 ,@hosAdmissionDate varchar(50) = null    
 ,@onProcRemarks  varchar(max) = null   
         
AS        
 declare  @branchId as int        
   ,@deptid as int        
   ,@positionId as int        
   ,@age as int        
   ,@dependendName as varchar(200)        
   ,@relationId as varchar(200)        
   ,@dependendAge as int        
   ,@empName as varchar(200)        
   ,@branchName as varchar(200)        
   ,@deptName as varchar(200)        
   ,@positionName as varchar(200)            
   ,@SQL2 as varchar(max)        
           
        
 select @branchId=BRANCH_ID,@deptid=DEPARTMENT_ID,@positionId=POSITION_ID,@age=DATEDIFF(YEAR,BIRTH_DATE,getdate()),        
 @empName=dbo.GetEmployeeFullNameOfId(EMPLOYEE_ID),@branchName=dbo.GetBranchName(BRANCH_ID),@deptName=dbo.GetDeptName(DEPARTMENT_ID),        
 @positionName=dbo.GetDetailTitle(POSITION_ID)          
 from Employee where EMPLOYEE_ID=@empId        
        
 SET NOCOUNT ON        
        
 if @flag='i'        
 begin          
           
         
  if @claimFor='Self'    
  BEGIN        
   set @claimFor='Self'        
        
   select          
     @dependendName=isnull(FIRST_NAME,'')+' '+isnull(MIDDLE_NAME,'')+' '+isnull(LAST_NAME,''),        
     @dependendAge=DATEDIFF(YEAR,BIRTH_DATE,getdate())        
   from Employee where EMPLOYEE_ID=@familyMemberId        
  END        
  ELSE        
  BEGIN        
   set @claimFor='Dependent'        
        
   select  @relationId=dbo.GetDetailTitle(RELATION) ,        
     @dependendName=isnull(FIRST_NAME,'')+' '+isnull(MIDDLE_NAME,'')+' '+isnull(LAST_NAME,''),        
     @dependendAge=DATEDIFF(YEAR,DATE_OF_BIRTH,getdate())        
   from FamilyMembers where ID=@familyMemberId        
        
  END        
        
        
  INSERT INTO medicalClaim(        
          empId   
         ,branchId        
         ,deptId        
         ,positionId        
         ,age        
         ,familyMemberId        
         ,dependendName        
         ,relationId        
         ,dependendAge        
         ,claimType        
         ,accDateTime        
         ,accPlace        
         ,accOccur        
   ,accInjury        
         ,accAttendingDoctor        
         ,sickDateTime        
         ,sickAttendingDoctor        
         ,sickHospital        
         ,sickDiagnosis        
         ,leaveFrom        
         ,leaveTo        
         ,claimStatus        
         ,createdBy        
         ,createdDate        
         ,claimFor  
         ,hosAddmissionDate  
         ,hosDiagnosis        
         )VALUES(            
         @empId                    
        ,@branchId        
        ,@deptid        
        ,@positionId        
        ,@age        
        ,@familyMemberId        
        ,@dependendName        
        ,ISNULL(@relationId,'Self')        
        ,@dependendAge        
        ,@claimType        
        ,@accDateTime        
        ,@accPlace        
        ,@accOccur        
        ,@accInjury        
        ,@accAttendingDoctor        
        ,@sickDateTime        
        ,@sickAttendingDoctor        
        ,@sickHospital        
        ,@sickDiagnosis        
        ,@leaveFrom        
        ,@leaveTo        
        ,'Requested'                  
        ,@USER            
        ,GETDATE()        
        ,@claimFor    
        ,@hosAdmissionDate  
        ,@hosDiagnosis      
       )         
               
  SET @claimId=@@IDENTITY        
          
  UPDATE claimDetail SET medicalClaimId = @claimId,sessionId = '' where sessionId = @sessionId  and empId=@empId           
  UPDATE claimDocument SET medicalClaimId = @claimId,sessionId = '' where sessionId = @sessionId and empId=@empId       
  UPDATE claimReport SET medicalClaimId = @claimId,sessionId = '' where sessionId = @sessionId       
          
  SELECT 'Success!' AS msg        
 end        
         
 if @flag='u'        
 begin          
  if @empId<>@familyMemberId        
  begin        
  select  @relationId=dbo.GetDetailTitle(RELATION) ,        
    @dependendName=isnull(FIRST_NAME,'')+' '+isnull(MIDDLE_NAME,'')+' '+isnull(LAST_NAME,''),        
    @dependendAge=DATEDIFF(YEAR,DATE_OF_BIRTH,getdate())        
  from FamilyMembers where ID=@familyMemberId        
  end        
  update medicalClaim set   empId=@empId        
         ,branchId=@branchId        
         ,deptId=@deptid        
         ,positionId=@positionId        
         ,age=@age        
         ,familyMemberId=@familyMemberId        
         ,dependendName=@dependendName        
         ,relationId=@relationId        
         ,dependendAge=@dependendAge        
         ,claimType=@claimType        
         ,accDateTime=@accDateTime        
         ,accPlace=@accPlace        
         ,accOccur=@accOccur        
         ,accInjury=@accInjury        
         ,accAttendingDoctor=@accAttendingDoctor        
         ,sickDateTime=@sickDateTime        
         ,sickAttendingDoctor=@sickAttendingDoctor        
         ,sickHospital=@sickHospital        
         ,sickDiagnosis=@sickDiagnosis        
         ,leaveFrom=@leaveFrom        
         ,leaveTo=@leaveTo                 
         ,modifiedBy=@USER        
         ,modifiedDate=GETDATE()   
         ,hosAddmissionDate=@hosAdmissionDate  
         ,hosDiagnosis = @hosDiagnosis  
         where id=@id        
                 
  SELECT 'Success!' AS msg        
 end        
        
 if @flag='s'        
 begin          
     
  select empId        
    ,rtrim(dbo.GetEmployeeFullNameOfId(empId)) empName        
    ,dbo.GetBranchName(branchId) branchId        
    ,dbo.GetDeptName(deptId) deptId        
    ,dbo.GetDetailTitle(positionId) positionId        
    ,age        
    ,familyMemberId        
    ,case when empId=familyMemberId Then rtrim(dbo.GetEmployeeFullNameOfId(empId)) ELSE dependendName END dependendName        
    ,case when empId=familyMemberId Then 'Self' Else relationId END relationId        
    ,case when empId=familyMemberId Then age Else dependendAge END dependendAge        
    ,claimType        
    ,accDateTime        
    ,accPlace        
    ,accOccur        
    ,accInjury        
    ,accAttendingDoctor        
    ,sickDateTime        
    ,sickAttendingDoctor        
    ,sickHospital        
    ,sickDiagnosis        
    ,sickLeaveName        
    ,leaveFrom        
    ,leaveTo        
    ,claimStatus        
    ,createdBy        
    ,createdDate          
    ,remarks as onProcRemarks        
    ,dbo.ShowDecimalNoComma(actAmount)actAmount     
   ,convert(varchar(10),hosAddmissionDate,101) as hosAddmissionDate  
 ,hosDiagnosis    
   from medicalClaim         
   where id=@id        
        
   --select * from medicalClaim        
        
 end        
        
 if @flag='e'        
 begin          
          
   select @age age,@empName empName,@branchName branchName,@deptName deptName,        
    @positionName postName          
           
        
   select  @relationId=dbo.GetDetailTitle(RELATION) ,@dependendName=FIRST_NAME+' '+MIDDLE_NAME+' '+LAST_NAME,        
   @dependendAge=DATEDIFF(YEAR,DATE_OF_BIRTH,getdate())        
   from FamilyMembers where ID=@familyMemberId        
        
 end        
        
 if @flag='f'        
 begin            
        
   --select  @relationId relationName,@dependendName,        
   --@dependendAge dAge     
       
    -- select @age age,@empName empName,@branchName branchName,@deptName deptName,        
    --@positionName postName          
           
        
   select  @relationId=dbo.GetDetailTitle(RELATION) ,@dependendName=FIRST_NAME+' '+MIDDLE_NAME+' '+LAST_NAME,        
   @dependendAge=DATEDIFF(YEAR,DATE_OF_BIRTH,getdate())        
   from FamilyMembers where ID=@familyMemberId      
       
    select  @relationId relationName,@dependendName,        
   @dependendAge dAge       
           
 end        
        
 if @flag='g'        
 begin            
        
   select ID,isnull(FIRST_NAME,'')+' '+isnull(MIDDLE_NAME,'')+' '+isnull(LAST_NAME,'') familyName         
   from FamilyMembers where EMPLOYEE_ID=@empId and RELATION in ('1334','1457','1458')       
           
           
   union all        
           
   select EMPLOYEE_ID,isnull(FIRST_NAME,'')+' '+isnull(MIDDLE_NAME,'')+' '+isnull(LAST_NAME,'') familyName         
   from Employee where EMPLOYEE_ID=@empId         
           
 end        
     
  if @flag='gd'        
 begin            
        
   select ID,isnull(FIRST_NAME,'')+' '+isnull(MIDDLE_NAME,'')+' '+isnull(LAST_NAME,'') familyName         
   from FamilyMembers where EMPLOYEE_ID=@empId and RELATION in ('1328','1329')       
           
           
 end       
        
 if @flag='h'        
 begin        
  insert into claimDetail(headid,amount,sessionId,empId)        
  values(@headId,@amount,@sessionId,@empId)        
          
 end        
        
 if @flag='j'        
 begin        
  SELECT id,ROW_NUMBER() OVER(order by medicalClaimId) [S.N.],        
  dbo.GetDetailTitle(headId) [Particulars of Treatment],        
  dbo.ShowDecimal(amount) [Amount]         
  FROM claimDetail WHERE medicalClaimId=@id         
 end        
        
 if @flag='k'        
 begin        
  SELECT id,ROW_NUMBER() OVER(order by medicalClaimId) [S.N.],        
  dbo.GetDetailTitle(headId) [Particulars of Treatment],        
  dbo.ShowDecimal(amount) [Amount]         
  FROM claimDetail WHERE sessionId=@sessionId AND empId=@empId     
 end        
        
 if @flag='d'        
 begin        
  delete from claimDetail where id=@id        
  select 'Success!' as msg        
 end   
      
 if @flag='p'        
 begin        
  update medicalClaim set claimStatus='On Process' , ProcessedBy = @user, ProcessedDate =getdate()
  where id=@id        
  select 'Success!' as msg        
 end        
         
 if @flag='approve'        
 begin        
  update medicalClaim set claimStatus='Approved',actAmount=@amount,remarks=@remarks        
  where id=@id        
  select 'Success!' as msg        
 end    
 
 if @flag = 'Reimburse'
 BEGIN
	update medicalClaim set  
		actAmount = @amount
		,claimStatus = 'Reimbursement'
		,ReimbrusedBy = @user
		,ReimbrusedDate =getdate()
	where id = @id 
	SELECT 'Success!' AS msg 
END   
        
 if @flag='reject'        
 begin        
  update medicalClaim set claimStatus='Rejected',actAmount=@amount,remarks=@remarks        
  where id=@id        
  select 'Success!' as msg        
 end        
        
 if @flag='delete'        
 begin        
  delete from medicalClaim         
  where id=@id        
  select 'Success!' as msg        
 end        
         
 if @flag='uploadI'        
 begin        
  declare @claimDocId as int        
  insert into medicalClaimDocs(claimId,docName,docDesc,docExt,createdBy,createdDate)        
  values(@id,@fileDesc,@fileDesc,@fileType,@user,GETDATE())        
        
  set @claimDocId= @@IDENTITY        
          
  select @claimDocId as msg        
 end        
         
 if(@flag='uploadS')           
 begin        
        
  SELECT id,claimId,docName,docDesc,docExt FROM medicalClaimDocs          
  WHERE claimId = @id          
        
 end        
         
 if(@flag='uploadD')           
 begin        
  declare @SQL as varchar(max)        
  SET @SQL='SELECT CAST(id AS VARCHAR) + ''.'' + docExt AS FILENAME FROM medicalClaimDocs WHERE id IN (' + CAST(@id as varchar)+ ')'          
  EXEC(@SQL)         
  SET @SQL='DELETE FROM medicalClaimDocs WHERE id IN (' + CAST(@id as varchar) + ')'          
  EXEC(@SQL)        
 end        
         
 if @flag='docType'        
 begin        
  insert into claimDocument(DocName,DocType,sessionId,empId)        
  values(@docName,@docType,@sessionId,@empId)        
 end        
        
 if @flag='docDisplayA'        
 begin        
  SELECT         
    id,        
    ROW_NUMBER() OVER(order by medicalClaimId) [S.N.],        
    DocName [Details Of Documents],        
    DocType [Document Type]         
   FROM claimDocument WHERE medicalClaimId=@id         
 end        
        
 if @flag='docDisplayB'        
 begin        
  SELECT         
    id,        
    ROW_NUMBER() OVER(order by id) [S.N.],        
    DocName [Details Of Documents],        
    DocType [Document Type]         
   FROM claimDocument WHERE sessionId=@sessionId and empId=@empId        
 end        
        
 if @flag='docDelete'        
 BEGIN        
  DELETE FROM claimDocument WHERE id=@id        
  SELECT 'Success!' as msg        
 end        
        
 if @flag='rptType'        
 begin        
  insert into claimReport(RptName,RptType,sessionId)        
  values(@rptName,@rptType,@sessionId)        
 end        
        
 if @flag='rptDisplayA'        
 begin        
  SELECT         
    id,        
    ROW_NUMBER() OVER(order by medicalClaimId) [S.N.],        
    RptName [Details Of Report],        
    RptType [Report Type]         
   FROM claimReport WHERE medicalClaimId = @id         
 end        
        
 if @flag='rptDisplayB'        
 begin        
  SELECT         
    id,        
    ROW_NUMBER() OVER(order by id) [S.N.],        
    RptName [Details Of Report],        
    RptType [Report Type]        
   FROM claimReport WHERE sessionId=@sessionId         
 end         
        
 if @flag='rptDelete'        
 BEGIN        
  DELETE FROM claimReport WHERE id=@id        
  SELECT 'Success!' AS msg        
 END        
         
 if @flag='report'        
 BEGIN        
  IF @claimType = 'Sickness'        
  BEGIN        
   SET @SQL2 = 'select * from        
        (SELECT a.id,a.[Employee Name],a.Department,a.Position,a.Age,a.[Claim of],a.[Depended Name (Relation)],sum(cd.amount) amount,a.Documents        
         ,a.Reports        
         ,a.[Sickness Date]        
         ,a.Disease        
         ,a.[Claim Type]        
         ,a.[Claim Status]        
         ,a.[View] from         
   (
   SELECT DISTINCT mc.id,dbo.GetEmployeeFullNameOfId(mc.empId) [Employee Name]        
     ,dbo.GetDeptName(deptId) [Department],dbo.GetDetailTitle(positionId) [Position]        
     ,age [Age],claimFor [Claim of]        
     ,CONVERT(varchar,dependendName,20) + '' ('' + rtrim(relationId) + '')'' as [Depended Name (Relation)]        
     ,ISNULL(STUFF( ( SELECT '', '' + DocName + '' ('' + DocType + '')''         
        FROM claimDocument t1 WHERE t1.medicalClaimId = t2.medicalClaimId        
        FOR XML PATH ( '''' ) ) , 1 , 2 , '''' ),''No'') as Documents        
                
     ,ISNULL(STUFF( ( SELECT '', '' + RptName + '' ('' + RptType + '')''        
        FROM claimReport t1 WHERE t1.medicalClaimId = t3.medicalClaimId        
        FOR XML PATH ( '''' ) ) , 1 , 2 , '''' ),''No'') as Reports        
     ,sickDateTime [Sickness Date],sickDiagnosis [Disease]        
     ,claimType [Claim Type],claimStatus [Claim Status]         
     ,''<a href="../MedicalClaim/ReportDetail.aspx?id= '' + cast(mc.id as varchar) + ''">View Detail</a> '' [View]        
   FROM medicalClaim mc        
   LEFT JOIN claimDocument t2 ON t2.medicalClaimId = mc.id        
   LEFT JOIN claimReport t3 ON t3.medicalClaimId = mc.id        
   WHERE createdDate BETWEEN ''' + @fromDate + ''' AND ''' + @toDate + '''        
   )a LEFT JOIN claimDetail cd on cd.medicalClaimId=a.id        
   group by a.id,a.Documents,a.Reports,a.[Employee Name],a.Department,a.Position,a.Age,a.[Claim of],a.[Depended Name (Relation)]        
   ,a.[Sickness Date],a.Disease,a.[Claim Type],a.[Claim Status],a.[View])b        
   where b.[Claim Type] = ''' + @claimType + ''''
   
   if @claimStatus<>'' and @claimStatus is not null        
     set @SQl2 = @SQl2 + ' and b.[Claim Status]= '''+ @claimStatus +''''        
        
  --PRINT @sql2        
   EXEC (@sql2)        
   EXEC proc_errorHandler '0', 'Report has been prepared successfully.', NULL        
        
   SELECT 'Medical Claim Report' title        
  END        
  ELSE IF @claimType = 'Accident'        
  BEGIN        
   Set @SQL2 = 'Select * from        
       (SELECT a.id,a.[Employee Name],a.Department,a.Position,a.Age,a.[Claim of],a.[Depended Name (Relation)],sum(cd.amount) amount,a.Documents,a.Reports        
     ,a.[Accident Date]        
     ,a.[Accident Injury]        
     ,a.[Claim Type]        
     ,a.[Claim Status]        
     ,a.[View] from         
   (SELECT DISTINCT mc.id,dbo.GetEmployeeFullNameOfId(mc.empId) [Employee Name]        
     ,dbo.GetDeptName(deptId) [Department],dbo.GetDetailTitle(positionId) [Position]        
     ,age [Age],claimFor [Claim of]        
     ,CONVERT(varchar,dependendName,20) + '' ('' + rtrim(relationId) + '')'' as [Depended Name (Relation)]        
     ,ISNULL(STUFF( ( SELECT '', '' + DocName + '' ('' + DocType + '')''         
        FROM claimDocument t1 WHERE t1.medicalClaimId = t2.medicalClaimId        
        FOR XML PATH ( '''' ) ) , 1 , 2 , '''' ),''No'') as Documents        
     ,ISNULL(STUFF( ( SELECT '', '' + RptName + '' ('' + RptType + '')''        
        FROM claimReport t1 WHERE t1.medicalClaimId = t3.medicalClaimId        
        FOR XML PATH ( '''' ) ) , 1 , 2 , '''' ),''No'') as Reports        
     ,accDatetime [Accident Date],accInjury [Accident Injury]        
     ,claimType [Claim Type],claimStatus [Claim Status]         
     ,''<a href="../MedicalClaim/ReportDetail.aspx?id= '' + cast(mc.id as varchar) + ''">View Detail</a> '' [View]        
   FROM medicalClaim mc        
   LEFT JOIN claimDocument t2 ON t2.medicalClaimId = mc.id        
   LEFT JOIN claimReport t3 ON t3.medicalClaimId = mc.id        
   WHERE createdDate BETWEEN''' + @fromDate + ''' AND ''' + @toDate + '''        
   )a LEFT JOIN claimDetail cd on cd.medicalClaimId=a.id        
   group by a.id,a.Documents,a.Reports,a.[Employee Name],a.Department,a.Position,a.Age,a.[Claim of],a.[Depended Name (Relation)]        
   ,a.[Accident Date],a.[Accident Injury],a.[Claim Type],a.[Claim Status],a.[View]) b        
   where b.[Claim Type] = ''' + @claimType + ''''        
        
   if @claimStatus<>'' and @claimStatus is not null        
     set @SQl2 = @SQl2 + ' and b.[Claim Status]= ''' + @claimStatus + ''''        
           
   --PRINT @sql2        
   EXEC (@sql2)        
   EXEC proc_errorHandler '0', 'Report has been prepared successfully.', NULL        
        
   SELECT 'Medical Claim Report' title        
        
  -- EXEC procMedicalClaim @flag = 'report', @user = '1000', @fromDate = '2011-1-1', @toDate = '2013-2-28', @claimType = 'Accident', @claimStatus = null        
  END        
  Else        
  begin        
   Set @SQL2 = 'Select * from        
       (SELECT a.id,a.[Employee Name],a.Department,a.Position,a.Age,a.[Claim of],a.[Depended Name (Relation)],sum(cd.amount) amount,a.Documents,a.Reports        
     ,a.[Sickness Date]        
     ,a.Disease        
     ,a.[Accident Date]        
     ,a.[Accident Injury]        
     ,a.[Claim Type]        
     ,a.[Claim Status]        
     ,a.[View] from         
   (SELECT DISTINCT mc.id,dbo.GetEmployeeFullNameOfId(MC.empId) [Employee Name]        
     ,dbo.GetDeptName(deptId) [Department],dbo.GetDetailTitle(positionId) [Position]        
     ,age [Age],claimFor [Claim of]        
     ,CONVERT(varchar,dependendName,20) + '' ('' + rtrim(relationId) + '')'' as [Depended Name (Relation)]        
     ,ISNULL(STUFF( ( SELECT '', '' + DocName + '' ('' + DocType + '')''        
        FROM claimDocument t1 WHERE t1.medicalClaimId = t2.medicalClaimId        
        FOR XML PATH ( '''' ) ) , 1 , 2 , '''' ),''No'') as Documents        
     ,ISNULL(STUFF( ( SELECT '', '' + RptName + '' ('' + RptType + '')''        
        FROM claimReport t1 WHERE t1.medicalClaimId = t3.medicalClaimId        
        FOR XML PATH ( '''' ) ) , 1 , 2 , '''' ),''No'') as Reports        
     ,accDatetime [Accident Date],accInjury [Accident Injury],sickDateTime [Sickness Date],sickDiagnosis [Disease]        
     ,claimType [Claim Type],claimStatus [Claim Status]         
     ,''<a href="../MedicalClaim/ReportDetail.aspx?id='' + cast(mc.id as varchar) + ''">View Detail</a> '' [View]        
   FROM medicalClaim mc        
   LEFT JOIN claimDocument t2 ON t2.medicalClaimId = mc.id        
   LEFT JOIN claimReport t3 ON t3.medicalClaimId = mc.id        
   WHERE createdDate BETWEEN''' + @fromDate + ''' AND ''' + @toDate + '''        
   )a LEFT JOIN claimDetail cd on cd.medicalClaimId=a.id        
   group by a.id,a.Documents,a.Reports,a.[Employee Name],a.Department,a.Position,a.Age,a.[Claim of],a.[Depended Name (Relation)]        
   ,a.[Accident Date],a.[Accident Injury],a.[Claim Type],a.[Claim Status],a.[View]        
   ,a.[Sickness Date],a.Disease) b        
   where 1 =1'        
        
   if @claimStatus<>'' and @claimStatus is not null        
     set @SQl2 = @SQl2 + ' and b.[Claim Status]= ''' + @claimStatus + ''''        
        
   EXEC (@sql2)        
   EXEC proc_errorHandler '0', 'Report has been prepared successfully.', NULL        
        
   SELECT 'Medical Claim Report' title        
  end        
 end        
         
         
         
         
--alter table medicalClaim add actAmount money,remarks varchar(max)        
        
        
--EXEC procMedicalClaim @flag = 'report', @user = '1000', @fromDate = '2011-1-1', @toDate = '2013-2-28', @claimType = '', @claimStatus = 'Rejected'
GO
