USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_ListPerformance_Appraisal]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[proc_ListPerformance_Appraisal](   
 @flag varchar(20), 
 @appraisalId int=null,
 @positionid int = null    
)    
AS    
   
 SET NOCOUNT ON;
 DECLARE @employeeId int
 
 
if @flag='v'
begin    

			  SELECT DISTINCT  am.TOPIC_ID,am.SUBTOPIC_ID,je.JOB_ELEMENT,am.ID as ID,
			  '' as [REMARKS], WEIGHTAGE ,PRIORITY_ID   
			  ,s.TITLE as SUBTOPICS, t.TITLE as TOPICS
			  
			  FROM (select ROWID as  ID,DETAIL_DESC as JOB_ELEMENT 
					from StaticDataDetail with(nolock) where TYPE_ID='30') je 
			   INNER JOIN AppraisalMatrix am ON je.ID= am.JOB_ELEMENT_ID   
			    
			    inner join (select ROWID as  ID,DETAIL_DESC as TITLE 
			   from StaticDataDetail with(nolock) where TYPE_ID='29') s  on  s.ID=am.SUBTOPIC_ID
			   
			    inner join (select ROWID as  ID,DETAIL_DESC as TITLE 
			   from StaticDataDetail with(nolock) where TYPE_ID='28') t  on  t.ID =am.TOPIC_ID
			   
			   INNER JOIN ( select ROWID as POSITION_ID ,DETAIL_TITLE as POSITION_NAME 
			from StaticDataDetail  WITH(NOLOCK) where [TYPE_ID]='4') p ON am.POSITION_ID=p.POSITION_ID        
			  WHERE p.POSITION_ID = @positionid ORDER BY am.PRIORITY_ID 
  
END

if @flag='a'
begin

		 SELECT TOP 1 @employeeId =ISNULL(a.EMPLOYEE_ID,0) ,@positionid= e.POSITION_ID 
			FROM Appraisal a WITH(NOLOCK),Employee e with(nolock) 
			WHERE  a.ID=@appraisalId    and a.EMPLOYEE_ID= e.EMPLOYEE_ID 
		 
		 
		 SELECT DISTINCT   e.EMPLOYEE_ID, e.FIRST_NAME + ' ' +e.MIDDLE_NAME+' '+ e.LAST_NAME  AS Name,p.POSITION_NAME as POSITION_NAME,
			convert(varchar,a.FROM_DATE,107) as FROM_DATE, convert(varchar,a.TO_DATE,107) as TO_DATE FROM Employee e WITH(NOLOCK) INNER JOIN  
			( select ROWID as POSITION_ID ,DETAIL_TITLE as POSITION_NAME from StaticDataDetail  WITH(NOLOCK) where [TYPE_ID]='4') p 
			ON e.POSITION_ID=p.POSITION_ID INNER JOIN Appraisal a  WITH(NOLOCK) ON e.EMPLOYEE_ID=a.EMPLOYEE_ID  WHERE a.ID=@appraisalId
		 
		 --SELECT * FROM EvaluationCriteria WITH(NOLOCK)  
		 
		 SELECT ROWID AS ID,DETAIL_TITLE AS NAME,ROWID AS WEIGHT FROM StaticDataDetail WHERE TYPE_ID=54  
		    
		    
		 SELECT DISTINCT t.ID,t.NAME FROM (select ROWID as  ID,DETAIL_DESC as NAME from StaticDataDetail with(nolock) where TYPE_ID='28') t    
			INNER JOIN AppraisalMatrix am WITH(NOLOCK) ON t.ID= am.TOPIC_ID INNER JOIN ( select ROWID as POSITION_ID ,DETAIL_TITLE as 
			POSITION_NAME from StaticDataDetail  WITH(NOLOCK) where [TYPE_ID]='4') p ON am.POSITION_ID=p.POSITION_ID    
			INNER JOIN Employee e WITH(NOLOCK) ON p.POSITION_ID = e.POSITION_ID    
			WHERE e.EMPLOYEE_ID = (SELECT a.EMPLOYEE_ID FROM Appraisal a WHERE   a.ID=@appraisalId) 
		      
		     
		 SELECT DISTINCT am.TOPIC_ID,s.ID,s.TITLE    
			FROM (select ROWID as  ID,DETAIL_DESC as TITLE from StaticDataDetail with(nolock) where TYPE_ID='29') s    
			INNER JOIN AppraisalMatrix am WITH(NOLOCK) ON s.ID= am.SUBTOPIC_ID    
			INNER JOIN ( select ROWID as POSITION_ID ,DETAIL_TITLE as POSITION_NAME 
			from StaticDataDetail  WITH(NOLOCK) where [TYPE_ID]='4') p  ON am.POSITION_ID=p.POSITION_ID    
			INNER JOIN Employee e WITH(NOLOCK) ON p.POSITION_ID = e.POSITION_ID    
			WHERE e.EMPLOYEE_ID =   (SELECT a.EMPLOYEE_ID FROM Appraisal a WHERE   a.ID=@appraisalId)  


	 	  
	  SELECT DISTINCT AM.TOPIC_ID,AM.SUBTOPIC_ID,J.DETAIL_DESC AS JOB_ELEMENT,AD.REMARKS AS REMARKS,Ad.APPRAISAL_MATRIC_ID AS ID,
			AD.WEIGHT AS WEIGHT,AM.PRIORITY_ID AS PRIORITY_ID from AppraisalDetails AD inner join 
			AppraisalMatrix AM on AD.APPRAISAL_MATRIC_ID=AM.ID INNER JOIN 
			StaticDataDetail T ON T.ROWID=AM.TOPIC_ID INNER JOIN 
			StaticDataDetail ST ON ST.ROWID=AM.SUBTOPIC_ID INNER JOIN StaticDataDetail J ON J.ROWID=AM.JOB_ELEMENT_ID
			where AD.APPRAISAL_ID=@appraisalId
		

	  
	  --SELECT DISTINCT AM.TOPIC_ID,AM.SUBTOPIC_ID,J.DETAIL_DESC AS JOB_ELEMENT,AD.REMARKS AS REMARKS,Ad.ID,
			--AD.WEIGHT AS WEIGHT,AM.PRIORITY_ID AS PRIORITY_ID from AppraisalDetails AD inner join 
			--AppraisalMatrix AM on AD.APPRAISAL_MATRIC_ID=AM.ID INNER JOIN 
			--StaticDataDetail T ON T.ROWID=AM.TOPIC_ID INNER JOIN 
			--StaticDataDetail ST ON ST.ROWID=AM.SUBTOPIC_ID INNER JOIN StaticDataDetail J ON J.ROWID=AM.JOB_ELEMENT_ID
			--
			 
END
GO
