USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procUploadProductDetails]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXEC [procUploadProductDetails] @flag='a',@user='1000'
CREATE proc [dbo].[procUploadProductDetails]
	@flag char(1),
	@file_path varchar(200)=null,
	@user varchar(50)
AS

if @flag='a'
begin

	set nocount on;
	declare @SQL varchar(1000)	
	declare @intTotalRows as int,@intPartId as int

	set @file_path = replace(@file_path,'\\','\')
	
	

create table #tempNumberUpload
	(
		parentId varchar(50) null,
		product_code varchar(200) null,
		product_desc varchar(500) null,
		package_unit varchar(100) null
	)

insert into #tempNumberUpload(parentId,product_code,product_desc,package_unit)
select distinct category,product,product,unit from Inventory$


Alter table #tempNumberUpload add RowID INT IDENTITY(1,1)
select @intPartId=max(RowID) from #tempNumberUpload
		
		
	--########### Start loop count
set @intTotalRows=1
while @intPartId >=  @intTotalRows
begin

	INSERT INTO IN_ITEM (item_name,item_desc,parent_id,created_date,created_by,is_product)
	SELECT product_code,product_desc,parentId,GETDATE(),@USER,'true' FROM #tempNumberUpload where RowID=@intTotalRows
	
	declare @item_id as int
	set @item_id =@@IDENTITY;
	
	
			
	INSERT INTO IN_PRODUCT(porduct_code,item_id,product_desc,is_taxable,package_unit,is_active,created_date,created_by,batch_condition,serial_no)
	select product_code,@item_id,product_desc,'true',package_unit,'true',GETDATE(),@user,'false','false' from #tempNumberUpload where RowID=@intTotalRows

	
	set @intTotalRows=@intTotalRows+1
end

	DROP TABLE #tempNumberUpload
end
GO
