USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_externalTrainingInfo]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
exec [proc_externalTrainingInfo] @flag='i',@session_id='bpwx3q55ytaxpvinutrj'
  select * from externalTrainingInfo
 exec [proc_externalTrainingInfo] @flag='u',@external_traingin_id='9'
 ,@user='admin',@Program_Name='as',@Start_date='3/1/2011'
 ,@End_Date='3/3/2011',@Conducted_By='TestWoman',@Venue='sdf',@Total_Capacity='3'
 ,@City='sdf',@Country='sdf',@No_of_days='2',@No_of_Hours='2',@Cost_Estimate='3333.0000'
 ,@Program_Description='testggg',@Nominate_within='2/27/2011'
 ,@session_id='bpwx3q55ytaxpvinutrj5enk',@ApprovedBy='1096'
 
 select * from externalTrainingInfo

*/

create PROCEDURE [dbo].[proc_externalTrainingInfo]
	 @flag							CHAR(1)	
	,@external_traingin_id			varchar(100)=null
	,@Program_Name					varchar(100)=null
	,@Start_date					varchar(100)=null
	,@End_Date						varchar(100)=null
	,@Conducted_By					varchar(100)=null
	,@Venue							varchar(100)=null
	,@Total_Capacity				varchar(100)=null
	,@City							varchar(100)=null
	,@Country						varchar(100)=null
	,@No_of_days					varchar(100)=null
	,@No_of_Hours					varchar(100)=null
	,@Cost_Estimate					varchar(100)=null
	,@Program_Description			varchar(100)=null
	,@user							varchar(100)=null
    ,@request_sendBy				varchar(100)=null
	,@request_sendTo_Coo			varchar(100)=null
	,@Approved_by					varchar(100)=null
	,@Nominate_within               varchar(100)=null
	,@session_id                    varchar(100)=null
	,@ApprovedBy					varchar(100)=null
	,@ccEmails						varchar(1000)=null

AS
/*
	@flag
	s	= select all (with dynamic filters)
	i	= insert
	u	= update
	a	= select by role id
	d	= delete by role id

	
	[proc_externalTrainingInfo]
	
*/

SET NOCOUNT ON



BEGIN TRY
 IF @flag = 'a'
	BEGIN
		select 
	         
			 [Program_Name]
			,convert(varchar,[Start_date],101) as [Start_date]
			,convert (varchar,[End_Date],101) as [End_Date]
			,[Conducted_By]
			,[Venue]
			,[Total_Capacity]
			,[City]
			,[Country]
			,[No_of_days]
			,[No_of_Hours]
			,[Cost_Estimate]
			,convert(varchar,Nominate_within,101) as Nominate_within
			,[Program_Description]
			,[created_by]
			,[created_date]
			,Approved_by
			
		    from [externalTrainingInfo] where external_traingin_id=@external_traingin_id
		
	END

	ELSE IF @flag = 'd'
	BEGIN
		DELETE FROM [externalTrainingInfo] WHERE external_traingin_id = @external_traingin_id
		SELECT 0 error_code, 'External Training  successfully deleted.' mes, @external_traingin_id id	
	END
	ELSE IF @flag = 'i'
	BEGIN
		INSERT INTO externalTrainingInfo(
					[Program_Name]
					,[Start_date]
					,[End_Date]
					,[Conducted_By]
					,[Venue]
					,[Total_Capacity]
					,[City]
					,[Country]
					,[No_of_days]
					,[No_of_Hours]
					,[Cost_Estimate]
					,Nominate_within
					,[Program_Description]
					,[created_by]
					,[created_date]
					,Approved_by
					,ccEmail
				
		)
		SELECT 
				     @Program_Name
					,@Start_date
					,@End_Date
					,@Conducted_By
					,@Venue
					,@Total_Capacity
					,@City
					,@Country
					,@No_of_days
					,@No_of_Hours
					,@Cost_Estimate
					,@Nominate_within
					,@Program_Description
					,@user
					,GETDATE()
					,@ApprovedBy
					,@ccEmails

			
		SET @external_traingin_id = SCOPE_IDENTITY()
		
		--replace recommender list field
		update extTraineeRecommendedBy
		set external_training_id=@external_traingin_id
		where external_training_id=@session_id
									
	
			update TrainingFileUpload set CUST_ID = @external_traingin_id,  session_id='' where session_id=@session_id 
	        SELECT 0 error_code, 'New Trainee has been added successfully.' mes, @external_traingin_id id	
	END

	ELSE IF @flag = 'u'
	BEGIN
		UPDATE externalTrainingInfo SET	
		            [Program_Name]     =@Program_Name
					,[Start_date]      =@Start_date
					,[End_Date]        =@End_Date
					,[Conducted_By]    =@Conducted_By
					,[Venue]           =@Venue
					,[Total_Capacity]  =@Total_Capacity
					,[City]            =@City
					,[Country]         =@Country
					,[No_of_days]      =@No_of_days
					,[No_of_Hours]     =@No_of_Hours
					,[Cost_Estimate]   =@Cost_Estimate
					,Nominate_within   =@Nominate_within
					,[Program_Description]=@Program_Description
					,[created_by]         =@user
					,[created_date]       =GETDATE()
					,Approved_by		=@ApprovedBy		
		WHERE external_traingin_id = @external_traingin_id
		
		
		SELECT 0 error_code, 'Trainee has been updated successfully.' mes, @external_traingin_id id	
	END
	
	ELSE IF @flag='m'
	BEGIN
	SELECT dbo.GetEmployeeFullNameOfId(request_sendBy)
		 FROM externalTrainingInfo 
			WHERE external_traingin_id=@external_traingin_id

	END
	
	
	

END TRY
BEGIN CATCH
	SELECT 1 error_code, ERROR_MESSAGE() mes, @external_traingin_id id
END CATCH
GO
