USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procGetDeptList]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXEC procGetDeptList @FLAG='I',@BRANCH_ID='1'     
create PROCEDURE [dbo].[procGetDeptList]    
    @FLAG CHAR(10),      
    @BRANCH_ID INT=NULL,
    @DEPT_ID INT=NULL  
AS          
SET NOCOUNT ON;     
      
IF(@flag='I')      
BEGIN  
	 SELECT DEPARTMENT_ID, DEPARTMENT_NAME FROM Departments 
	 WHERE BRANCH_ID=ISNULL(@branch_id,BRANCH_ID)
	 ORDER BY DEPARTMENT_NAME
END
GO
