USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procManageAttWeeklyScheduleDetails]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[procManageAttWeeklyScheduleDetails]
	@flag varchar(1),
	@id int=null,
	@att_ws_id int=null,
	@login_time datetime=null,
	@logout_time datetime=null,
	@day_name varchar(200)=null,
	@status varchar(50)=null,
	@user varchar(50)=null
as
set nocount on;


if @flag='i'
begin 
	if exists(select * from att_weekly_schedule_details where day_name=@day_name and att_ws_id=@att_ws_id)
	begin
		select 'Sorry, Already Exists!' as msg
		return;
	end
	insert into att_weekly_schedule_details(att_ws_id,login_time,logout_time,day_name,status,created_by,created_date)values
	(@att_ws_id,@login_time,@logout_time,@day_name,@status,@user,GETDATE())
	 
	select 'Success' as msg
end

if @flag='u'
begin 
	if exists(select * from att_weekly_schedule_details where day_name=@day_name and att_ws_id=@att_ws_id and id<>@id)
	begin
		select 'Sorry, Already Exists!' as msg
		return;
	end
	update att_weekly_schedule_details set att_ws_id=@att_ws_id,login_time=@login_time,logout_time=@logout_time,day_name=@day_name,
		status=@status,modified_by=@user,modified_date=GETDATE()
	where id=@id 
	select 'Success' as msg
	
end

if @flag='d'
begin 
	
	delete from att_weekly_schedule_details 
	where id=@id 
	select 'Success' as msg
end


if @flag='s'
begin 
		select a.id,a.att_ws_id,sdd.DETAIL_TITLE ws_name,a.login_time,a.login_time,a.day_name,a.status
		from att_weekly_schedule_details a inner join att_weekly_schedule b on a.att_ws_id=b.id 
		inner join StaticDataDetail sdd on sdd.ROWID=b.name 
		where a.id=@id 
end

if @flag='b'
begin 
		select a.id,a.att_ws_id,sdd.DETAIL_TITLE [Weekly Schedule Name],a.day_name [Day],convert(time,a.login_time,101) [Login Time],
		convert(time,a.logout_time,101) [Logout Time],a.status	[Status]
		from att_weekly_schedule_details a inner join att_weekly_schedule b on a.att_ws_id=b.id 
		inner join StaticDataDetail sdd on sdd.ROWID=b.name 
		where a.att_ws_id=@att_ws_id
end
GO
