USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_IN_Editrequisition]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_IN_Editrequisition]  
    @flag char(1),  
    @id int=NULL,  
    @item int = null,  
    @quantity varchar(50)= null,  
    @unit varchar(50) = null,  
    @msgid int = null,  
    @forwarded_to int=null,    
    @branch int=null,      
    @department int=null,      
    @priority char(1)=null,  
    @approverid  varchar(10)=null,
    @message varchar(max)=null,
    @unSchReason VARCHAR(MAX)=NULL
       
as  
 set nocount on; 
 DECLARE @COUNT_QTY INT,@STOCK_QTY INT,@MAX_HOLDING_QTY INT,@IS_SCHEDULE VARCHAR(20)  
if(@flag ='a')--add          
begin  

	if not exists(select id from IN_PRODUCT where id=@item)
	begin
		select 'Sorry, Invalid Product!'   as msg
		return;
	end
	if exists(select * from IN_Requisition where Item = @item and Requistion_message_id = @msgid)	
	begin
		select 'Sorry, Product Already Requested'
		RETURN;
	end
	
	SELECT @COUNT_QTY=COUNT(*) FROM IN_Requisition where Requistion_message_id = @msgid

	IF @COUNT_QTY>25
	BEGIN
	   SELECT 'Sorry, 25 products only per requisition!' AS MSG
	   RETURN;
	END
	
	SELECT @STOCK_QTY=ISNULL(stock_in_hand,0),@MAX_HOLDING_QTY=ISNULL(MAX_HOLDING_QTY,0) 
	FROM IN_BRANCH WHERE PRODUCT_ID=@item AND BRANCH_ID=(SELECT BRANCH_ID FROM IN_Requisition_Message WHERE ID=@msgid)
	
	IF @MAX_HOLDING_QTY<>0
	BEGIN
		IF (@STOCK_QTY+@quantity)>@MAX_HOLDING_QTY
		BEGIN
			SELECT 'Sorry! Current stock- '+CAST(@STOCK_QTY AS VARCHAR)+', Max Holding Qty- '+CAST(@MAX_HOLDING_QTY AS VARCHAR)+', Exceeded Max Holding Qty!' AS MSG
			RETURN;
		END
	END	
	INSERT INTO IN_Requisition(item, quantity, Approved_Quantity,unit, Requistion_message_id)  
	VALUES (@item, @quantity, @quantity, @unit, @msgid)    
		
end  
if (@flag ='d')--delete  

begin    
	 if exists(select Approved_Date from IN_Requisition_Message where id = @msgid and Approved_Date is null)  
	  begin  
		   DELETE FROM IN_Requisition WHERE id = @id  
		   select 'Operation Completed Successfully'  
	  end  
	 else  
	  begin  
	   select 'Product Already Has Been Approved'  
	  end   
end  

IF(@flag ='u')  
BEGIN  
	IF @unSchReason IS NOT NULL
		SET @IS_SCHEDULE='No'
	ELSE
		SET @IS_SCHEDULE='Yes'

	UPDATE IN_Requisition_Message SET 
		Forwarded_To = @forwarded_to, 
		priority = @priority, 
		recommed_by = @approverid, 
		Requ_Message = @message,
		IS_SCHEDULE=@IS_SCHEDULE,
		UNSCHEDULE_REASON=@unSchReason
	WHERE id = @msgid  

	SELECT 'Operation Completed Successfully'  
END
GO
