USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procUpdateEmployeeMovement]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[procUpdateEmployeeMovement]
	@flag char(1),
	@empId int=null,
	@branchId int=null,
	@deptId int=null,
	@user varchar(100)=null
AS

set nocount on ;

if @flag ='u'
BEGIN
	UPDATE Employee SET BRANCH_ID=@branchId,DEPARTMENT_ID=@deptId WHERE EMPLOYEE_ID=@empId
END
GO
