USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_exitInterview]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_exitInterview](
   
			 @flag						VARCHAR(10)
			,@exitIntId					INT					= NULL
		    ,@branch					INT					= NULL
		    ,@dept						INT					= NULL
			,@empId					    INT					= NULL
		    ,@exitReason				VARCHAR(MAX)	    = NULL
			,@comments					VARCHAR(MAX)		= NULL
			,@createdBy					VARCHAR(100)		= NULL
			,@exitIntQuesId				INT					= NULL
			,@questionType				INT					= NULL
			,@questionAns				VARCHAR(MAX)		= NULL
			,@sessionId					VARCHAR(100)		= NULL
			,@discountID				INT					= NULL	
			)
AS 
SET NOCOUNT ON 

BEGIN TRY


		IF @flag = 'iq'
		BEGIN
			IF EXISTS( SELECT * FROM exitInterviewQuestion WHERE questionType =@questionType  AND  ISNULL(sessionId, '') 
						in(case isnull(@sessionId,'') when  '' then '' else @sessionId end)
			AND ISNULL(exitIntId,'') in (case ISNULL(@exitIntId,'') when '' then '' else @exitIntId end ))

			BEGIN
				SELECT 'Question is already Added!' MSG
				RETURN   
			END
        
			INSERT INTO exitInterviewQuestion(questionType,questionAns,sessionId)
			SELECT @questionType,@questionAns,@sessionId
			SELECT 'Data Record Save Successfully' msg
		
		END

		IF @flag = 'ie'
		BEGIN
	    
	    --alter table ExitInterview add post_id int,emp_type int
	    
	    
			INSERT INTO ExitInterview(branch,dept,empId,exitReason,comments,createdDate,createdBy,discountID,post_id,emp_type)
			SELECT @branch,@dept,@empId,@exitReason,@comments,GETDATE(),@createdBy,@discountID,POSITION_ID,EMP_TYPE
			from Employee where EMPLOYEE_ID=@empId
					     
			SELECT @exitIntId = @@IDENTITY
					
			UPDATE exitInterviewQuestion SET exitIntId = @exitIntId,sessionId= ''
			WHERE sessionId = @sessionId
			
			update EmployeeDiscontinuousPlan set IS_EXIT_INTERVIEW='Y' where ID=@discountID
					  
		END
    
		IF @flag = 'ue'
		BEGIN
		
				UPDATE exitInterview SET branch  = @branch,dept= @dept,empId = @empId
								,exitReason = @exitReason,comments = @comments
								,modifiedDate = GETDATE(),createdBy   = @createdBy
								,discountID=@discountID
				WHERE exitIntId = @exitIntId
				
				SELECT 'Record Update Successfully' msg
		END
    
    
    IF @flag = 'sq'
    BEGIN
			SELECT 
				s.DETAIL_TITLE questionType
				,questionAns 
			,case  isnull(@exitIntId,'')when '' then '' else '<img onclick = "EditNotification(' + CAST(eq.exitIntQuesId AS VARCHAR(50)) + ')" class = "showHand" border = "0" title = "Edit Notification" src="../../../Images/but_edit.gif" />' end [Edit]  
			,'<img onclick = "DeleteNotification(' + CAST(eq.exitIntQuesId AS VARCHAR(50)) + ')" class = "showHand" border = "0" title = "Delete Notification" src="../../../Images/delete.gif" />' [Delete] 
			FROM exitInterviewQuestion eq 
				INNER JOIN StaticDataDetail s 
				ON eq.questionType = s.ROWID 
			WHERE isnull(sessionId,'') = @sessionId or isnull(exitIntId,'') = isnull(@exitIntId,'') 
    END
    
	IF @flag = 'e'
	BEGIN
	
		IF EXISTS(SELECT questionType FROM exitInterviewQuestion WHERE questionType = @questionType AND exitIntId = @exitIntId)			
		BEGIN
			
			UPDATE exitInterviewQuestion SET questionAns  = @questionAns
			WHERE exitIntQuesId = @exitIntQuesId
			SELECT 'Record Update Successfully' msg

			RETURN
		
		END
		ELSE
		BEGIN				
		
			INSERT INTO exitInterviewQuestion(questionType,questionAns,exitIntId)
			SELECT	@questionType,@questionAns,@exitIntId
			SELECT 'Data Record Save Successfully' msg		 
		 END
	END
    
	IF @flag = 'd'
	BEGIN
	
		DELETE exitInterviewQuestion WHERE exitIntQuesId = @exitIntQuesId

	END
	
	IF @flag = 's'   -- EMPLOYEE INFORMATION FOR PRINT
	BEGIN
	
		select dbo.GetBranchName(a.branch) branch_name,dbo.GetDeptName(dept) dept,
		dbo.GetEmployeeFullNameOfId(empId) empname,a.exitReason reason,a.comments,dbo.GetDetailTitle(b.POST_ID) post
		from exitInterview	a inner join EmployeeDiscontinuousPlan b on a.discountID=b.ID  
		where discountID=@discountID
	END
	IF @flag = 's1'   --QUESTION INFORMATION FOR PRINT
	BEGIN
		select ROW_NUMBER() over(order by a.exitintquesId) [S.N.],sdd.DETAIL_TITLE [Question],a.questionAns [Answer]
		from exitInterviewQuestion a inner join StaticDataDetail sdd on sdd.ROWID=a.questionType 
		where exitIntId =(select exitIntId from exitInterview where discountID=@discountID)

	END
	
	
END TRY


BEGIN CATCH
	 IF @@TRANCOUNT > 0
	 ROLLBACK TRANSACTION
	 
	 SELECT '1' ERROR_CODE , ERROR_MESSAGE() MSG , @exitIntId ID  

END CATCH
GO
