USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[ManageInsertIntoTemp]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Exec ManageInsertIntoTemp '1'
CREATE PROC [dbo].[ManageInsertIntoTemp]
	@ID VARCHAR(20),
	@SESSION_ID AS VARCHAR(50)
AS
BEGIN
	
	SET NOCOUNT ON;
	
	DELETE FROM IN_Requisition_detail  WHERE Requistion_message_id=@ID
	
	INSERT INTO IN_Requisition_detail(item,quantity,unit,Requistion_message_id,Approved_Quantity,Delivered_Quantity,Received_Quantity,REMAIN,SESSION_ID)
	SELECT item,quantity,unit,Requistion_message_id,ISNULL(Approved_Quantity,0),
	ISNULL(Delivered_Quantity,0)-ISNULL(Received_Quantity,0),ISNULL(Received_Quantity,0),
	ISNULL(REMAIN,0),@SESSION_ID FROM IN_Requisition
	WHERE Requistion_message_id=@ID  

END
GO
