USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procGetPurchaseInvoice]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Exec [procGetPurchaseInvoice] @flag='b',@bill_id='1'
CREATE proc [dbo].[procGetPurchaseInvoice]
	@flag char(1),
	@bill_id varchar(20)

	AS
set nocount on;
set xact_abort on;

if @flag='a'
begin
	select a.bill_id,a.billno,a.bill_date,b.CustomerName
	from Bill_info a inner join Customer b on a.party_code=b.ID
	where a.bill_id=@bill_id
end
if @flag='b'
begin
	select ROW_NUMBER() over(order by pur_id) as [S.N.],b.porduct_code [Product Name],
	a.p_qty [Qty],a.p_rate [Rate (With 13% VAT)],
	dbo.ShowDecimal(a.p_qty*a.p_rate) as [Amount],
	a.p_stk_remain [Remain Stock]
	from IN_PURCHASE a inner join IN_PRODUCT b 
	on a.prod_code=b.id where bill_id=@bill_id
end
if @flag='c'
begin
	select bill_notes,entered_by,entered_date,dbo.ShowDecimal(bill_amount) bill_amount
	,dbo.ShowDecimal(bill_amount-vat_amt) [SubTotal],
	dbo.ShowDecimal(vat_amt) vat_amt from Bill_info where bill_id=@bill_id
end
GO
