USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procTrainingSummaryRpt]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Exec [procTrainingSummaryRpt] @flag='a',@from_date='12/12/2011', @to_date='1/31/2012'
CREATE PROCEDURE [dbo].[procTrainingSummaryRpt]
	 @flag				VARCHAR(10)	
	,@id				int=null
	,@from_date			varchar(20)=null
	,@to_date			varchar(20)=null

	
	--select * from training
AS

SET NOCOUNT ON

if @flag='a'
begin
	 select id,ROW_NUMBER() over(order by id asc) [S.N.]
	,programType [Program Type],programName [Program Name],CONVERT(varchar,startDate,107) as [Start Date]
	,convert(varchar,endDate,107) as [End Date],conductedBy [Conducted By],venue [Venue],totCapacity [Total Capacity]
	,City,country [Country],noOfDays [Total Days],noOfHours [Total Hours],costEstimate [Estimate Cost]
	,convert(varchar,nomineeWithin,107) as [Nominee Within],
	narration [Narration],status [Status] from training
	where startDate between  @from_date and @to_date+' 23:59:59'
end

if @flag='b'
begin	

	select dbo.GetEmployeeFullNameOfId(employeeId) [Employee Name],dbo.GetBranchName(branchId) [Branch Name],dbo.GetDeptName(deptId) [Dept Name],
	dbo.GetDetailTitle(positionId)[Position]
	from trainingParticipation where trainingId=@id

end
GO
