USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_LeaveRecord]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
	EXEC proc_LeaveRecord @flag = 'i', @LeaveReq_ID = null, 
					@Employee_ID ='1001', @LeaveType_ID ='3', @ReqFromDate='5/1/2011',
					@ReqToDate ='5/3/2011', @ReqDays ='3', @HalfDay =null, 
					@LeavePurpose ='test', @RecommendedBy ='1001', @ApprovedBy ='1002',
					@Remdays ='16.0', @LFA ='0', @SubstitutedBy ='1003', @SubstitutedDate =null,
					@ApproveRemarks ='aaprd', @entryUser ='admin'
					
	EXEC proc_LeaveRecord @flag = 'p', @LeaveReq_ID = '2'	
	EXEC proc_LeaveRecord @flag = 'p', LeaveReq_ID = '2'	
		
*/
CREATE proc [dbo].[proc_LeaveRecord]	
	@flag					char(2)
	,@LeaveReq_ID			int					=	null
	,@Employee_ID			INT					=	NULL
	,@LeaveType_ID			INT					=	NULL
	,@RemDays				decimal(4,1)		=	NULL
	,@ReqFromDate			VARCHAR(10)			=	null
	,@ReqToDate				VARCHAR(10)			=	null
	,@ReqDays				decimal(4,1)		=	null
	,@Halfday				int					=	null
	,@LFA					int					=	null
	,@SubstitutedDate		date				=	null
	,@SubstitutedBy			int					=	null
	,@LeavePurpose			varchar(400)		=	null
	,@RecommendedBy			int					=	null
	,@ApprovedBy			int					=	null
	,@ApproveRemarks		varchar(400)		=	null
	,@ccList				varchar(500)		=	null
	,@entryUser				varchar(10)			=	null
	,@entryDate				date				=	null
	

as

SET NOCOUNT ON;

	DECLARE 
			@FORCE_LEAVE_DEDUCT	MONEY
			,@IS_HALFDAY INT
			,@IS_LFA INT
			,@IS_SUBSTITUTED INT
			,@IS_RELIEVING INT
			,@LFA_Taken INT
			,@BRANCH INT
			,@DEPARTMENT INT
			,@POSITION	INT
			,@ApprovedDays decimal(4,1)
			,@lfa_amount int
			,@LFA_DAYS decimal(4,1)
			,@leave_status varchar(1)
			,@Max_req_days float
			,@leaveAssign_ID INT
			
	SELECT Top 1
		@BRANCH = BRANCH_ID, @DEPARTMENT = DEPARTMENT_ID, @POSITION = POSITION_ID
	FROM Employee
	WHERE EMPLOYEE_ID = @Employee_ID
	
	IF @LeaveReq_ID IS NOT NULL
	BEGIN
		SELECT TOP 1
				@Employee_ID	= REQUESTED_BY
				,@LeaveType_ID	= LEAVE_TYPE_ID
				,@ApprovedDays	= APPROVED_DAYS
		FROM LeaveRequest
		WHERE ID = @LEAVEREQ_ID
	END
	
	SELECT Top 1 
		@IS_HALFDAY			=	ISNULL(IS_HALFDAY,0)
		,@IS_LFA			=	ISNULL(IS_LFA,0)
		,@IS_SUBSTITUTED	=	ISNULL(IS_SUBSTITUTED,0)
		,@IS_RELIEVING		=	ISNULL(RELIEVING,0)
		,@FORCE_LEAVE_DEDUCT=	ISNULL(FORCE_LEAVE_DEDUCT,0)
		,@LFA_Taken			=	ISNULL(LFA_Taken,0)
		,@leaveAssign_ID	=	ID
	FROM leaveAssignment
	WHERE LEAVE_TYPE_ID = @LeaveType_ID
		AND EMPLOYEE_ID = @Employee_ID
		AND IS_DISABLED=1
	
	
	IF @flag='i' OR @flag='u'
	BEGIN
	--DEFAULT VALUES
	BEGIN
		IF @IS_SUBSTITUTED = 0
		BEGIN
			SET @SubstitutedDate = NULL
		END
	END
	
	--COMPULSARY FIELDS
	BEGIN
		IF @Employee_ID IS NULL  OR	@RemDays IS NULL OR
			@ReqFromDate IS NULL OR @ReqToDate IS NULL OR
			@ReqDays IS NULL OR	@LeavePurpose IS NULL OR
			@RecommendedBy IS NULL OR @ApprovedBy IS NULL OR
			@ApproveRemarks IS NULL
			 
			--OR @LeaveType_ID IS NULL
			--OR @ccList IS NULL
			/*
			@SubstitutedDate IS NULL OR
			
			@SubstitutedBy IS NULL OR
			*/
			
		BEGIN
			SELECT '0' SUCCESS ,'COMPULSORY FIELS MUST BE SUPPLIED' REMARKS
			RETURN
		END
		
		IF @IS_SUBSTITUTED = 1 AND @SubstitutedDate IS NULL
		BEGIN
			SELECT '0' SUCCESS ,'SUBSTITUTED DATE MUST BE SUPPLIED' REMARKS
			RETURN
		END
		
		IF @IS_RELIEVING = 1 AND @SubstitutedBy IS NULL
		BEGIN
			SELECT '0' SUCCESS ,'SUBSTITUTED BY MUST BE SUPPLIED' REMARKS
			RETURN
		END
		
		--Releiving person and requested by person different
		IF @SubstitutedBy = @Employee_ID
		BEGIN
			SELECT '0' SUCCESS
					,'SUBSTITUTED PERSON CAN''T BE REQUESTING PERSON HIMSELF' REMARKS
			RETURN
		END
		
		
	END
	
	--VALIDATIONS
	BEGIN
		--Had Requested Leave been assigned to employee?
		IF NOT EXISTS (SELECT ID FROM leaveAssignment 
							WHERE EMPLOYEE_ID = @Employee_ID 
							AND LEAVE_TYPE_ID = @LeaveType_ID 
						)
		BEGIN
			SELECT '0' SUCCESS
					,'NO SUCH LEAVE BEEN ASSIGNED ' REMARKS
			RETURN
		END
			
		
		--DATE
		IF (
			(ISDATE(@ReqFromDate)=0 AND @ReqFromDate IS NOT NULL)
			OR
			(ISDATE(@ReqToDate)=0 AND @ReqToDate IS NOT NULL)
			)
		BEGIN
			SELECT '0' SUCCESS
					,'INVALID DATE' REMARKS
			RETURN
		END
		
		---CANT ASSING SAME REQ FROM - TO DATE
		IF EXISTS(SELECT * FROM LeaveRequest
		WHERE ((@ReqFromDate BETWEEN APPROVED_FROM AND APPROVED_TO)
		OR (@ReqToDate BETWEEN APPROVED_FROM AND APPROVED_TO))
		AND REQUESTED_BY = @Employee_ID
		--AND ID NOT IN (CASE @flag WHEN 'i' THEN 0 ELSE @ID END)
		)
		BEGIN
		SELECT '0' SUCCESS
		,'REQUESTED DAYS HAS ALREADY BEEN REQUESTED!' REMARKS
		RETURN

		END
		
		
		--REQ AND REM DAYS
		IF @ReqDays > @Remdays
		BEGIN
			SELECT '0' SUCCESS
					,'REQUESTED DAYS MORE THAN REMAINING DAYS' REMARKS
			RETURN
		END
		
		--- Check if the requested days is more than maximum days allowed to be requested
		select @Max_req_days=max_req_days from LeaveTypes where ID=@LeaveType_ID
		
		if @Max_req_days<@ReqDays
		BEGIN
			SELECT '0' SUCCESS
					,'REQUESTED DAYS MORE THAN MAXIMUM REQUEST DAYS ALLOWED' REMARKS
			RETURN
		END
		--- end Check
		
		--HALF DAY
		IF @IS_HALFDAY = 0 AND @HalfDay IS NOT NULL
		BEGIN
			SELECT '0' SUCCESS
					,'HALF DAY LEAVE NOT ALLOWED' REMARKS
			RETURN			
		END
		
		IF @ReqDays > 0.5 AND @HalfDay IS NOT NULL
		BEGIN
			SELECT '0' SUCCESS
					,'SORRY, REQUESTED DAY FOR HALF DAY LEAVE IS INVALID' REMARKS
			RETURN			
		END
		
		
		--LFA DAYS
		IF @IS_LFA = 0 AND @LFA = 1
		BEGIN
			SELECT '0' SUCCESS
					,'CAN''T REQUEST LFA' REMARKS
			RETURN
		END
		
		--IF @IS_LFA =1 AND @LFA = 1 AND 
		
		IF @ReqDays < @FORCE_LEAVE_DEDUCT and ISNULL(@LFA,0) = 1
		BEGIN
			SELECT '0' SUCCESS
					,'CAN''T REQUEST LESS LFA THAN ASSIGNED' REMARKS
			RETURN
		END
		
		
		IF @IS_LFA = 1 AND @LFA = 0 AND @Remdays - @ReqDays < @FORCE_LEAVE_DEDUCT
		BEGIN
			SELECT '0' SUCCESS
					,'YOU MUST TAKE LFA' REMARKS
			RETURN
		END 
		
		IF @LFA = 1 AND @LFA_Taken = 1
		BEGIN
			SELECT '0' SUCCESS
					,'YOU HAVE ALREADY TAKEN LFA' REMARKS
			RETURN
		END 
	
	END
	
	END
	BEGIN TRY
	
		IF @flag = 'p' --POPULATE FOR VIEWING AND UPDATES
		BEGIN
		
		SELECT dbo.GetEmployeeInfoById(REQUESTED_BY)			[REQUESTED_BY]
				,R.LEAVE_TYPE_ID								[LEAVE_TYPE_ID]
				,ISNULL(REMAINING_DAYS,0)						[REMAINING_DAYS]
				,LEAVE_STATUS									[LEAVE_STATUS]
				,ISNULL(REQUESTED_HRS_STATUS,0)					[REQUESTED_HRS_STATUS]
				,ISNULL(R.IS_LFA,0)								[IS_LFA]
				,ISNULL(A.IS_LFA,0)								[APPLY_LFA]
				,CONVERT(VARCHAR,SUBSTITUTED_FROM,101)			[SUBSTITUTED_FROM]
				,ISNULL(A.IS_SUBSTITUTED,0)						[IS_SUBSTITUTED]
				,dbo.GetEmployeeInfoById(substituted_with)		[substituted_with]
				,LEAVE_PURPOSE									[LEAVE_PURPOSE]
				,REQUESTED_WITH									[REQUESTED_WITH]
				,APPROVED_BY									[APPROVED_BY]
				,CONVERT(VARCHAR,APPROVED_FROM,101)				[APPROVED_FROM]
				,CONVERT(VARCHAR,APPROVED_TO,101)				[APPROVED_TO]
				,ISNULL(APPROVED_DAYS,0)						[APPROVED_DAYS]
				,RECOMMEND_REMARKS
				,REMARKS 
			FROM LeaveRequest R
			join leaveAssignment A 
				on R.LEAVE_TYPE_ID = A.LEAVE_TYPE_ID and R.REQUESTED_BY=A.EMPLOYEE_ID
			--JOIN Employee E ON R.REQUESTED_BY = E.EMPLOYEE_ID
			--LEFT JOIN Employee E1 ON R.substituted_with = E1.EMPLOYEE_ID
			WHERE R.ID = @LeaveReq_ID

			--LIST DISABLING FIELDS
			SELECT 'D' EMPLOYEE
			,'D' LEAVETYPE
			,'D' REMDAYS
		END
		
		IF @flag = 'i' --insert
		BEGIN
			INSERT INTO LeaveRequest
				(REQUESTED_BY,LEAVE_TYPE_ID,REMAINING_DAYS
				,FROM_DATE,TO_DATE,REQUESTED_DAYS,REQUEST_DATE
				,APPROVED_FROM,APPROVED_TO,APPROVED_DAYS
				,REQUESTED_HRS_STATUS,SUBSTITUTED_FROM,substituted_with
				,LEAVE_PURPOSE
				,REQUESTED_WITH,APPROVED_BY
				,REQUESTED_WITH_date
				,REMARKS
				,APRPROVED_DATE,LEAVE_STATUS
				,BRANCH_ID,DEPARTMENT_ID,POSITION_ID
				,IS_LFA,ISMANUAL
				,ccList,CREATED_BY,CREATED_DATE
				,leaveAssignId
				)
			VALUES
				(@Employee_ID,@LeaveType_ID,@RemDays
				,@ReqFromDate,@ReqToDate,@ReqDays,GETDATE()
				,@ReqFromDate,@ReqToDate,@ReqDays
				,@Halfday,@SubstitutedDate,@SubstitutedBy
				,@LeavePurpose
				,@RecommendedBy,@ApprovedBy
				,GETDATE()
				,@ApproveRemarks
				,GETDATE(),'Approved'
				,@BRANCH,@DEPARTMENT,@POSITION
				,@LFA,'Y'
				,@ccList,@entryUser,GETDATE(),@leaveAssign_ID
				)
			
			set @LeaveReq_ID = @@IDENTITY
			
			UPDATE leaveAssignment
				SET LEAVE_TAKEN_THIS_YEAR =	isnull(LEAVE_TAKEN_THIS_YEAR,0) + @ReqDays
			WHERE LEAVE_TYPE_ID = @LeaveType_ID AND EMPLOYEE_ID = @Employee_ID
			
			IF @LFA = 1
			
			--Calculation of LFA Amount
						SELECT @LFA_DAYS=isnull(FORCE_LEAVE_DEDUCT,0) 
						FROM leaveAssignment with(nolock) 
						WHERE EMPLOYEE_ID=@Employee_ID 
						AND LEAVE_TYPE_ID=@LeaveType_ID
						
						SELECT @lfa_amount=SUM(Amount) FROM Payable 
						WHERE BENEFIT_ID in (390,391,393) and EMPLOYEE_ID=@Employee_ID

						IF @ReqDays<@LFA_DAYS
						BEGIN
							SET @lfa_amount=(cast(@ReqDays as money)/10)*@lfa_amount
						END
						ELSE IF @ReqDays>=@LFA_DAYS
						BEGIN
							SET @lfa_amount=@lfa_amount
						END
			
			BEGIN
				INSERT INTO LFAHistory
					(emp_ID,Req_ID,LFADays,Amount,Dept_ID,Branch_ID,Position_ID,CreatedBy,CreatedDate)
				SELECT @Employee_ID,@LeaveReq_ID,@ReqDays,@lfa_amount,@DEPARTMENT,@BRANCH,@POSITION,@entryUser,GETDATE()
			END
			
			SELECT '1' SUCCESS ,'RECORDED SUCCESSFULLY' REMARKS
			RETURN
		END
		
		-- facility of update excluded
		IF @flag = 'u' --update
		BEGIN/*
			UPDATE LeaveRequest
			SET
				FROM_DATE=@ReqFromDate,TO_DATE=@ReqToDate
				,REQUESTED_DAYS=@ReqDays
				,APPROVED_FROM=@ReqFromDate,APPROVED_TO=@ReqToDate
				,APPROVED_DAYS=@ReqDays
				,REQUESTED_HRS_STATUS=@Halfday,SUBSTITUTED_FROM=@SubstitutedDate
				,substituted_with=@SubstitutedBy
				,LEAVE_PURPOSE=@LeavePurpose
				,REQUESTED_WITH=@RecommendedBy,APPROVED_BY=@ApprovedBy
				,REQUESTED_WITH_date = GETDATE()
				,REMARKS=@ApproveRemarks
				,APRPROVED_DATE=GETDATE()
				,BRANCH_ID=@BRANCH,DEPARTMENT_ID=@DEPARTMENT
				,POSITION_ID=@POSITION
				,IS_LFA=@LFA
				,ccList=@ccList,MODIFIED_BY=@entryUser,MODIFIED_DATE=GETDATE()
			WHERE ID = @LeaveReq_ID
			
			UPDATE leaveAssignment
				SET LEAVE_TAKEN_THIS_YEAR =isnull(LEAVE_TAKEN_THIS_YEAR,0) - @Approveddays + @ReqDays
			WHERE LEAVE_TYPE_ID = @LeaveType_ID AND EMPLOYEE_ID = @Employee_ID
			
			SELECT '1' SUCCESS ,'UPDATE SUCCESSFULLY' REMARKS
			RETURN
			*/
			SELECT '0' SUCCESS ,'UPDATE NOT ALLOWED' REMARKS
			RETURN
		END
		
		
		IF @flag = 'd'
		BEGIN
			
			SELECT @Employee_ID = REQUESTED_BY,@LeaveType_ID=LEAVE_TYPE_ID,@ApprovedDays=APPROVED_DAYS
			FROM LeaveRequest
			WHERE ID = @LeaveReq_ID
			
			
				INSERT INTO Delete_leave_RequestHistory
				(req_id,LEAVE_TYPE_ID, REQUESTED_DAYS, REQUESTED_BY, REQUEST_DATE, REQUESTED_WITH, APPROVED_FROM,
				APPROVED_TO, FROM_DATE , TO_DATE,
				LEAVE_PURPOSE, APPROVED_BY, LEAVE_STATUS, REMAINING_DAYS, REMARKS, CREATED_DATE, CREATED_BY, APPROVED_DAYS,
				APRPROVED_DATE,ISMANUAL,IS_LFA,REQUESTED_WITH_date,substituted_with)

				SELECT ID,LEAVE_TYPE_ID, REQUESTED_DAYS, REQUESTED_BY, REQUEST_DATE, REQUESTED_WITH, APPROVED_FROM,
				APPROVED_TO, FROM_DATE , TO_DATE,
				LEAVE_PURPOSE, APPROVED_BY, LEAVE_STATUS, REMAINING_DAYS, REMARKS, CREATED_DATE, CREATED_BY, APPROVED_DAYS,
				APRPROVED_DATE,ISMANUAL,IS_LFA,REQUESTED_WITH_date,substituted_with
				FROM LeaveRequest WHERE id=@LeaveReq_ID
				
				if exists(SELECT LEAVE_STATUS FROM LeaveRequest WHERE ID=@LeaveReq_ID and LEAVE_STATUS='Approved')
				BEGIN

					UPDATE leaveAssignment
					SET Leave_taken_this_year=CASE WHEN (isnull(Leave_taken_this_year,0) - @Approveddays)<0 
					THEN 0 ElSE isnull(Leave_taken_this_year,0) - @Approveddays END
					,LFA_Taken=CASE WHEN (SELECT IS_LFA FROM LeaveRequest WHERE ID=@LeaveReq_ID)=1 THEN 0
					ELSE LFA_Taken END
					WHERE EMPLOYEE_ID=@Employee_ID and LEAVE_TYPE_ID=@LeaveType_ID
				End
					IF (SELECT is_lfa FROM LeaveRequest WHERE ID=@LeaveReq_ID)=1
					DELETE FROM LFAHistory WHERE Req_ID=@LeaveReq_ID

				DELETE FROM LeaveRequest
				WHERE ID = @LeaveReq_ID
				
				
			
			
			SELECT '1' SUCCESS ,'DELETED SUCCESSFULLY' REMARKS
			RETURN
		
		END
		
	END TRY
	
	BEGIN CATCH
		SELECT '0' SUCCESS ,'SORRY, FAILED TO PROCESS.' REMARKS
		RETURN
	END CATCH
GO
