USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procresourceRpt]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[procresourceRpt] 
	 
AS
BEGIN

SET NOCOUNT ON;
declare @flag char(1)    

	SELECT ab.EMPLOYEE_FIRSTNAME + ' ' + ab.EMPLOYEE_LASTNAME AS FEEDBACK_TO, 
				at.EMPLOYEE_FIRSTNAME + ' ' + ab.EMPLOYEE_LASTNAME AS CREATED_BY, t.RESOURCE_ID, t.LINK_TO, 
				t.NOTES
	FROM  dbo.Resources AS t INNER JOIN
		dbo.Employee AS ab ON t.UPDATED_BY = ab.EMPLOYEE_ID INNER JOIN
        dbo.Employee AS at ON t.CREATED_BY = at.EMPLOYEE_ID INNER JOIN
        dbo.Projects ON t.PTS_ID = dbo.Projects.PROJECT_ID
                      


/*
select * from Resources


select r.* from Tasks t
left join Resources r on t.TASK_ID=r.PTS_ID


*/





end
GO
