USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[ProcUploadAdhocContribution]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
select * from adhoc_contribution
select * from employee

exec ProcUploadAdhocContribution 'a',262,'E:\\swifterp\\Application\\doc\\adhoc_contribution\\adhoc_contribution.csv','1000'
*/

create proc [dbo].[ProcUploadAdhocContribution]
	@flag char(1),
	@head as int,
	@file_path varchar(200),
	@user varchar(50)
AS

if @flag='a'
begin

	set nocount on;
	declare @SQL varchar(1000)	
	set @file_path = replace(@file_path,'\\','\')	

create table #tempNumberUpload
	(
		emp_id int null,
		contri_code varchar(100) null,
		contri_date datetime null,
		amount money null
	)

SET @SQL = ' BULK INSERT #tempNumberUpload  FROM '''+@file_path+''' 
				 WITH (FIELDTERMINATOR = '','',FIRSTROW  = 2, ROWTERMINATOR =''\n'') '
				 
exec(@SQL)

update #tempNumberUpload
    	set 
		emp_id=replace(ltrim(emp_id),'á',''),
		amount=replace(ltrim(amount),'á','')


update #tempNumberUpload
    	set 
		emp_id=replace((emp_id),' ',''),
		amount=replace((amount),' ','')		
		

	if exists(select * from #tempNumberUpload where isnumeric(amount)=0) 
	begin

		select 'Some wrong amount!' as remarks
		return;

	end

	if exists (select * from #tempNumberUpload where emp_id not in (select EMPLOYEE_ID from Employee))
	begin
		select 'Some Employee ID is Invalid!' as remarks
		return;
	end

	INSERT INTO Adhoc_Contribution(EMPLOYEE_ID,CONTB_CODE,CONTB_DATE,CONTB_TO,CONTB_AMOUNT_EMPLOYEE,NARRATION,CREATED_BY,CREATED_DATE)
		SELECT emp_id,contri_code,contri_date,@head,amount,'Retirement Fund',@user,GETDATE() FROM #tempNumberUpload
	
	--select * from Adhoc_Contribution
	DROP TABLE #tempNumberUpload
	
	select 'Upload Completed Sucessfully!' as msg
end
GO
