USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_GetSupervisorFA]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec proc_GetSupervisorFA @flag='a',@empId='1000'
CREATE PROCEDURE [dbo].[proc_GetSupervisorFA](
	 @flag		VARCHAR(20)=NULL
	,@empId	    VARCHAR(20)=NULL
)	
AS
SET NOCOUNT ON

if @flag='a'
BEGIN
		SELECT SUPERVISOR EMPLOYEE_ID ,dbo.GetEmployeeFullNameOfId(SUPERVISOR) Name 
		FROM SuperVisroAssignment WHERE EMP = @empId AND record_status='y'
		and SUPERVISOR is not null
END
GO
