USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procGetEmployeePersonalHistoryDetails]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[procGetEmployeePersonalHistoryDetails]  
 ( 
	@flag as varchar(3),
	@employeeID INT 
 )  
AS  
SET NOCOUNT ON;
	if @flag='p'
	BEGIN
		SELECT EMPLOYEE_ID,EMP_CODE,s.DETAIL_TITLE+'  '+FIRST_NAME + ' ' + MIDDLE_NAME + ' ' + LAST_NAME AS EmpName,TEMP_MUNICIPALITY_VDC,OFFICIAL_EMAIL,
			PERSONAL_EMAIL,dbo.getdetailtitle(GENDER) as Gender,D.DEPARTMENT_NAME as Department ,b.BRANCH_NAME as BranchName,dbo.getdetailtitle(POSITION_ID)
			as Position ,dbo.getdetailtitle(BLOOD_GROUP) As BloodGroup,PAN_NUMBER,OFFICE_PHONE,HOME_PHONE,PERSONAL_MOBILE,BIRTH_DATE,
			dbo.getdetailtitle(MERITAL_STATUS)AS MaritialStatus,NATIONALITY,dbo.getdetailtitle(BLOOD_GROUP) As BloodGroup,
			APPOINTMENT_DATE,JOINED_DATE,dbo.getdetailtitle(EMP_STATUS) AS EmpStatus,dbo.getdetailtitle(EMP_TYPE)As EmpType,dbo.getdetailtitle(GENDER)
			as Gender,dbo.getdetailtitle(MERITAL_STATUS) as merital_status,dbo.getdetailtitle(TEMP_COUNTRY)as Temporary_country	
			FROM Employee e with(nolock)
			inner join StaticDataDetail s with(nolock) on s.ROWID=e.SALUTATION inner join Departments As D with (nolock) on D.DEPARTMENT_ID=e.DEPARTMENT_ID  
			inner join Branches As b with (nolock) on b.BRANCH_ID=e.BRANCH_ID  
			WHERE e.EMPLOYEE_ID=@employeeID
				
				
		SELECT PER_STREET_NAME, dbo.getdetailtitle(PER_DISTRICT)as PerDistrict,dbo.getdetailtitle(PER_COUNTRY) as PerCountry,PER_MUNICIPALITY_VDC,PER_WARD_NO,
			TEMP_MUNICIPALITY_VDC,TEMP_WARD_NO,TEMP_STREET_NAME,dbo.getdetailtitle(TEMP_DISTRICT)as TempDistrict,dbo.getdetailtitle(TEMP_COUNTRY)as TempCountry,
			OFFICE_PHONE,PERSONAL_MOBILE,PERSONAL_EMAIL,EM_NAME, dbo.getdetailtitle(EM_RELATIONSHIP) as EmRelationship,EM_ADDRESS,EM_CONTACTNO1,EM_EMAIL 
			from  Employee 
			WHERE EMPLOYEE_ID=@employeeID
	END
	
	if @flag='e'	
	BEGIN		    
		SELECT  dbo.getdetailtitle(LEVELS) AS Level,DEGREE as Degree,dbo.getdetailtitle(FECULTY) as Faculty,NAMEOF_INSTITUTION as Institution,
			dbo.getdetailtitle(DIVISION) as Division,PASSED_YEAR as [Passed Year] 
			FROM Employee_Education 
			WHERE EMPLOYEE_ID=@employeeID
	END
	
	if @flag='m'	
	BEGIN	
		SELECT  PROBLEM AS Problem,DIAGNOSIS as Diagnosis,DESEASE as Desease,DOCTOR as Doctor,HOSPITAL as Hospital,
			convert(varchar,CHACHED_DATE,107) as [Checked Date] 
			FROM Employee_Medical 
			WHERE EMPLOYEE_ID=@employeeID

	END
	if @flag='i'
	BEGIN
		SELECT  dbo.getdetailtitle(INSURER) AS Insurer,dbo.ShowDecimal(INSURED_AMOUNT) as Amount,convert(varchar,INSURED_DATE,107) as [Insured Date],
			convert(varchar,EXPIRY_DATE,107) as [Expiry Date],insurance_policy as [Policy No.] 
			FROM Insurance 
			WHERE EMPLOYEE_ID=@employeeID
			--SELECT * FROM Insurance
	END
	
	if @flag='pay'
	BEGIN
		SELECT  dbo.getdetailtitle(BENEFIT_ID) AS [Benefit Title],dbo.ShowDecimal(AMOUNT) as Amount 
			FROM Payable 
			WHERE EMPLOYEE_ID=@employeeID
		--SELECT * FROM Payable
	END
	if @flag='l'
	BEGIN
		SELECT dbo.GetDetailTitle(LOAN_TYPE) as [Loan Type],convert(varchar,DATE_TAKEN,107) as [Taken Date],dbo.ShowDecimal(LOAN_AMOUNT) as [Amount],
		INTEREST_RATE as [Int. Rate],INSTALLMENT_AMT as [Ins. Amt],LEDGER_CODE as [Ledger Code],dbo.ShowDecimal(SUM(lc.paid_amount)) as [Paid Amt] 
		from Loan l with(nolock) inner join loan_collection lc
		on l.ID=lc.loan_id  where EMPLOYEE_ID=@employeeID group by LOAN_TYPE,DATE_TAKEN,LOAN_AMOUNT,INTEREST_RATE,INSTALLMENT_AMT,LEDGER_CODE
		--select * from loan
		--select * from loan_collection
		
	END
	if @flag='c'
	BEGIN

			SELECT dbo.GetDetailTitle(CONTRIBUTED_TO) [Cont. To],VALUE_EMPLOYEE as Value,
			CASE WHEN CONTRIBUTION_BASIS_EMPLOYEE='36' THEN 'Basic Salary'
			WHEN CONTRIBUTION_BASIS_EMPLOYEE='36,37' THEN 'Basic & Grade'
			WHEN CONTRIBUTION_BASIS_EMPLOYEE='36,37,38' THEN 'Gross Salary' ELSE '' END AS [contribution basis],
			'Percentage' as Type,'Employee' as [Cont. By]
			from Contribution c inner join StaticDataType t
			on t.ROWID = (select CASE WHEN ISNULL(SUBSTRING(CONTRIBUTION_BASIS_EMPLOYEE,1,2),0)='36' THEN '36'
			WHEN ISNULL(SUBSTRING(CONTRIBUTION_BASIS_EMPLOYEE,4,2),0)='37' THEN '37'
			WHEN ISNULL(SUBSTRING(CONTRIBUTION_BASIS_EMPLOYEE,7,2),0)='38' THEN '38' ELSE 0 END
			AS [contribution basis] from Contribution where FLAG_EMPLOYEE='P' and EMPLOYEE_ID=@employeeID)
			where FLAG_EMPLOYEE='P' and EMPLOYEE_ID=@employeeID

			union all

			SELECT dbo.GetDetailTitle(CONTRIBUTED_TO) [Cont. To],VALUE_EMPLOYEE as Value,
			'' AS [contribution basis],
			'Flat' as Type,'Employee' as [Cont. By]
			from Contribution c
			where FLAG_EMPLOYEE='F' and EMPLOYEE_ID=@employeeID

			union all

			SELECT dbo.GetDetailTitle(CONTRIBUTED_TO) [Cont. To],VALUE_EMPLOYER as Value,CASE WHEN CONTRIBUTION_BASIS_EMPLOYEE='36' THEN 'Basic Salary'
			WHEN CONTRIBUTION_BASIS_EMPLOYEE='36,37' THEN 'Basic & Grade'
			WHEN CONTRIBUTION_BASIS_EMPLOYEE='36,37,38' THEN 'Gross Salary' ELSE '' END AS [contribution basis],case when FLAG_EMPLOYER='P' then
			'Percentage' when FLAG_EMPLOYER='F' then 'Flat' end as Type,'Employer' as [Cont. By]
			from Contribution where FLAG_EMPLOYER='P' and EMPLOYEE_ID=@employeeID

	END
	
	if @flag='lev'
	BEGIN
		
		SELECT A.NAME_OF_LEAVE AS [Leave Name],B.[Approved Days] as [Leave Taken],A.NO_OF_DAYS_ACTUAL-B.[Approved Days] as [Remaining Days] from 
			(select LEAVE_TYPE_ID,NO_OF_DAYS_ACTUAL,lt.NAME_OF_LEAVE 
				from leaveAssignment la inner join LeaveTypes lt on lt.ID=la.LEAVE_TYPE_ID 
				where EMPLOYEE_ID=@employeeID)A,

			(select LEAVE_TYPE_ID ,SUM(approved_days) as [Approved Days] 
				from LeaveRequest 	
				where REQUESTED_BY=@employeeID group by LEAVE_TYPE_ID)B
				where A.LEAVE_TYPE_ID=B.LEAVE_TYPE_ID

	END
	if @flag='app'
	BEGIN
		
		SELECT dbo.GetEmployeeFullNameOfId(a.EMPLOYEE_ID) AS [Employee Name],ROUND(AVG(CAST(s.DETAIL_DESC AS FLOAT)),2) AS [Total Marks (%)]
			FROM AppraisalDetails ad INNER JOIN Appraisal a ON a.ID=ad.APPRAISAL_ID  inner join AppraisalMatrix am on
            ad.APPRAISAL_MATRIC_ID=am.ID inner join StaticDataDetail s on s.ROWID=ad.WEIGHT 
            where ad.WEIGHT<>'' and EMPLOYEE_ID=@employeeID
            GROUP BY APPRAISAL_ID,a.EMPLOYEE_ID

	END
	if @flag='ad'
	
	BEGIN
		select dbo.GetDetailTitle(ADVANCE_TYPE) [Advance Type],dbo.ShowDecimal(AMOUNT) as Amount,convert(varchar,DATE_TAKEN,107) as [Taken Date],
			dbo.ShowDecimal(REMAINING_BAL) as [Remaining Bal],
			dbo.GetDetailTitle(DEDUCTION_FREQUENCY) as [Payment Freq.] 
			from Advance 
			where EMPLOYEE_ID=@employeeID
		--select * from Advance
		--select * from AdvanceCollection

	END
	
	if @flag='ad'
	
	BEGIN
		select dbo.GetDetailTitle(ADVANCE_TYPE) [Advance Type],dbo.ShowDecimal(AMOUNT) as Amount,convert(varchar,DATE_TAKEN,107) as [Taken Date],
		dbo.ShowDecimal(REMAINING_BAL) as [Remaining Bal],
		dbo.GetDetailTitle(DEDUCTION_FREQUENCY) as [Payment Freq.] 
		from Advance 
		where EMPLOYEE_ID=@employeeID
		--select * from Advance
		--select * from AdvanceCollection

	END
	
	if @flag='don'
	BEGIN
		SELECT dbo.ShowDecimal(DONATION_AMOUNT) as [Donation Amount],convert(varchar,DONATION_DATE,107) as [Donation Date],
			GOVT_APPROVED_RATE as [Govt. Rate] 
			from Donations 
			where EMPLOYEE_ID=@employeeID

	END
	
	if @flag='t'---training
		BEGIN
			select f.DETAIL_TITLE 'Type' ,et.DURATION 'Duration (Days)', et.NAMEOF_INSTITUTION 'Institution'
				from Employee_Training et
				inner join Employee e on e.EMPLOYEE_ID = et.EMPLOYEE_ID
				inner join (select rowid, DETAIL_TITLE 
								from StaticDataDetail) f on et.FECULTY = f.ROWID
				where et.EMPLOYEE_ID=@employeeID
		END
	
	if @flag='exp'---training
		BEGIN
			select comp_name 'Company Name', last_designation 'Last Designation', service_from 'From', service_to 'To', last_salary 'Last Salary'
				from Employee_PastExp
				where EMPLOYEE_ID = @employeeID
		END
GO
