USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[ProcLeaveSummaryReportEmpWise]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Exec [ProcLeaveSummaryReportEmpWise] 'i','6','1','1001','2009-12-18','2010-12-18'
-- Exec [ProcLeaveSummaryReportEmpWise] 'i',null,null,null,'2009-12-18','2010-12-18'

CREATE proc [dbo].[ProcLeaveSummaryReportEmpWise]
	@flag char(1),
	@branch varchar(20)=null,
	@dept varchar(20)=null,
	@empID varchar(20)=null,	
	@datefrom varchar(20)=null,
	@dateto varchar(20)=null
AS
set nocount on;

if @flag='i'
begin 	
	declare @SQL as varchar(7000)

	set @SQL='select LR.from_date ''Leave From'',LR.TO_DATE ''Leave To'',LT.NAME_OF_LEAVE ''Leave Type'',LR.APPROVED_DAYS ''Total Days''
			from leaveAssignment LA inner join 
			LeaveTypes LT on LA.LEAVE_TYPE_ID=LT.ID INNER JOIN 
			LeaveRequest LR ON LR.EMPLOYEE_ID=LA.EMPLOYEE_ID INNER JOIN
			Employee E ON E.EMPLOYEE_ID= LA.EMPLOYEE_ID where		
			LR.LEAVE_STATUS=''Approved'''

			if @branch is not null
				set @SQl=@SQl + ' and E.BRANCH_ID = '''+ @branch +''''

			if @dept is not null
				set @SQl=@SQl + ' and E.DEPARTMENT_ID= '''+ @dept +''''

			if @empID is not null
				set @SQl=@SQl + ' and E.EMPLOYEE_ID= '''+ @empID +''''
			
			IF @datefrom is not null and @dateto is not null
				SET @SQL=@SQL+ ' AND LA.CREATED_DATE BETWEEN '''+ @datefrom +''' AND '''+ @dateto+''''
	
	--print @SQL;
	exec(@SQL)


end
GO
