USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[ProcLoanAndAdvanceSummeryReport]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  proc [dbo].[ProcLoanAndAdvanceSummeryReport]
	@flag char(1),
	@loanadvancetype varchar(20)=null,
	--@advancetype varchar(20)=null,
	@branch varchar(20)=null,
	@dept varchar(20)=null,
	@empID varchar(20)=null,	
	@datefrom varchar(20)=null,
	@dateto varchar(20)=null
AS
set nocount on;
declare @SQL as varchar(7000)

if(@flag='l')


begin
		set @SQL='select e.EMP_CODE as [Emp Code],
				e.FIRST_NAME+'' ''+e.MIDDLE_NAME +'' ''+e.LAST_NAME as Name,
				dbo.GetBranchName(e.BRANCH_ID) as [Branch Name],
				dbo.GetDeptName(e.DEPARTMENT_ID) as [Dept Name],
				l.LOAN_AMOUNT as [Loan Amt],
				l.INSTALLMENT_AMT as [Installment Amt],
				l.NO_OF_INSTALLMENTS as [TotalInstall],
				l.REMAINING_INSTALLMENT as [Rem.Install],
				dbo.ShowDecimal(sum(c.paid_amount)) as [Total Paid]
				from Loan l with(nolock), Employee e with(nolock), loan_collection c with(nolock),StaticDataDetail s with(nolock)
				where l.EMPLOYEE_ID= e.EMPLOYEE_ID
				and l.ID=c.loan_id and l.LOAN_TYPE=s.ROWID
				and l.LOAN_TYPE='''+@loanadvancetype+''' '


		if @branch<>0 and @branch is not null
					set @SQl=@SQl + ' and E.BRANCH_ID = '''+ @branch +''''

				if @dept<>0 and @dept is not null
					set @SQl=@SQl + ' and E.DEPARTMENT_ID= '''+ @dept +''''

				if @empID<>'' and @empID is not null and @empID<>0
					set @SQl=@SQl + ' and E.EMPLOYEE_ID= '''+ @empID +''''
				
				IF @datefrom<>'' and @datefrom is not null and @dateto<>'' and @dateto is not null
				SET @SQL=@SQL+ ' AND c.paid_date BETWEEN '''+ @datefrom +''' AND '''+ @dateto+''''
				
				set @SQL= @SQL+'group by e.FIRST_NAME, e.LAST_NAME,e.MIDDLE_NAME, e.EMP_CODE, e.BRANCH_ID,
				s.DETAIL_TITLE,l.LOAN_AMOUNT, l.INSTALLMENT_AMT,l.NO_OF_INSTALLMENTS,
				l.REMAINING_INSTALLMENT, l.INSTALLMENT_START_DATE,e.DEPARTMENT_ID
				order by e.EMP_CODE '

				
		
		--print @SQL;
		exec(@SQL)


end

if(@flag='d')
begin

    set @SQL='select e.EMP_CODE as [Emp Code],
			l.LOAN_AMOUNT as [Loan Amt],
			l.INSTALLMENT_AMT as [Install Amt],
			l.NO_OF_INSTALLMENTS as [TotalInstall],
			l.REMAINING_INSTALLMENT as [Rem.Install],
			convert(varchar,c.paid_date,101) as [Paid Date],
			dbo.ShowDecimal(c.paid_amount) as [Amt Paid]
			from Loan l with(nolock), loan_collection c with(nolock), StaticDataDetail s with(nolock), Employee e with(nolock)
			where l.EMPLOYEE_ID= e.EMPLOYEE_ID
			and l.ID=c.loan_id and l.LOAN_TYPE=s.ROWID
			and l.LOAN_TYPE='''+@loanadvancetype+''' and e.EMPLOYEE_ID='''+@empID+''''

            

			if @branch<>0 and @branch is not null
			set @SQl=@SQl + ' and E.BRANCH_ID = '''+ @branch +''''

			if @dept<>0 and @dept is not null
			set @SQl=@SQl + ' and E.DEPARTMENT_ID= '''+ @dept +''''	

			IF @datefrom<>'' and @datefrom is not null and @dateto<>'' and @dateto is not null
			SET @SQL=@SQL+ ' AND c.paid_date BETWEEN '''+ @datefrom +''' AND '''+ @dateto+''''		
			
					
					--print @SQL;
					exec(@SQL)	


end

if(@flag='a')
begin


		set @SQL='select e.EMP_CODE as [Emp Code],
					e.FIRST_NAME+'' ''+e.MIDDLE_NAME+'' ''+e.LAST_NAME as Name,
					dbo.GetBranchName(e.BRANCH_ID) as BranchName,
					dbo.GetDeptName(e.DEPARTMENT_ID) as DeptName,
					l.AMOUNT as [Advance Amt],
					l.DEDUCTION_AMT as [Ded. Amt],
					convert(varchar,l.DEDUCTION_START_DATE,107) as [Ded. Start Date],
					convert(varchar,MAX(c.paid_date),107) as [Latest Paid Date],
					dbo.ShowDecimal( sum(c.paid_amount)) as [Total Paid]
					from Advance l with(nolock), Employee e with(nolock),AdvanceCollection c with(nolock),StaticDataDetail s with(nolock)
					where l.EMPLOYEE_ID= e.EMPLOYEE_ID
					and l.ID=c.ADVANCE_ID and l.ADVANCE_TYPE=s.ROWID
					and l.ADVANCE_TYPE='''+@loanadvancetype+''''
					
					
					if @branch<>0 and @branch is not null
					set @SQl=@SQl + ' and E.BRANCH_ID = '''+ @branch +''''

					if @dept<>0 and @dept is not null
					set @SQl=@SQl + ' and E.DEPARTMENT_ID= '''+ @dept +''''

					if @empID<>'' and @empID is not null and @empID<>0
					set @SQl=@SQl + ' and E.EMPLOYEE_ID= '''+ @empID +''''

					IF @datefrom<>'' and @datefrom is not null and @dateto<>'' and @dateto is not null
					SET @SQL=@SQL+ ' AND c.PAID_DATE BETWEEN '''+ @datefrom +''' AND '''+ @dateto+''''
					
					
					
				 set @SQL=@SQL+'group by e.FIRST_NAME,e.MIDDLE_NAME, e.LAST_NAME, e.EMP_CODE, e.BRANCH_ID,
					s.DETAIL_TITLE,l.AMOUNT, l.DEDUCTION_AMT,l.DEDUCTION_FREQUENCY,l.DEDUCTION_START_DATE,e.DEPARTMENT_ID
					order by e.EMP_CODE'	
					
	exec(@SQL)	
	--print @SQL;





end

if(@flag='b')
begin


		set @SQL='select e.EMP_CODE as [Emp Code],
				a.AMOUNT as [Advance Taken],
				a.DEDUCTION_AMT as [Monthly Deduction],
				convert(varchar,c.PAID_DATE,107) as [Paid Date],
				dbo.ShowDecimal(c.PAID_AMOUNT) as [Paid Amt]
				from Advance a with(nolock), AdvanceCollection c with(nolock), StaticDataDetail s with(nolock), Employee e with(nolock)
				where a.EMPLOYEE_ID= e.EMPLOYEE_ID and a.ID=c.ADVANCE_ID and a.ADVANCE_TYPE=s.ROWID
				and a.ADVANCE_TYPE='''+@loanadvancetype+''' '
				
				
				
				   if @branch<>0 and @branch is not null
					set @SQl=@SQl + ' and E.BRANCH_ID = '''+ @branch +''''

					if @dept<>0 and @dept is not null
					set @SQl=@SQl + ' and E.DEPARTMENT_ID= '''+ @dept +''''

					if @empID<>'' and @empID is not null and @empID<>0
					set @SQl=@SQl + ' and E.EMPLOYEE_ID= '''+ @empID +''''

					IF @datefrom<>'' and @datefrom is not null and @dateto<>'' and @dateto is not null
					SET @SQL=@SQL+ ' AND c.PAID_DATE BETWEEN '''+ @datefrom +''' AND '''+ @dateto+''''

	exec(@SQL)	
	--print @SQL;




end
GO
