USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_extractData]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_extractData](
	 @flag		VARCHAR(20)=NULL
	,@branchId	VARCHAR(20)=NULL
	,@groupId	VARCHAR(20)=NULL
)	
AS
SET NOCOUNT ON

if @flag='branch'
BEGIN
	SELECT BRANCH_ID [BRANCH ID],BRANCH_SHORT_NAME [BRANCH CODE],BRANCH_NAME [BRANCH NAME]
	,BRANCH_ADDRESS [ADDRESS],BRANCH_PHONE [PHONE]
	FROM Branches WHERE BRANCH_ID=ISNULL(@branchId,BRANCH_ID)
END

if @flag='dept'
BEGIN
	SELECT dbo.GetBranchName(BRANCH_ID) [BRANCH NAME],DEPARTMENT_ID [DEPARTMENT ID],DEPARTMENT_NAME [DEPARTMENT NAME]
	FROM Departments WHERE BRANCH_ID=ISNULL(@branchId,BRANCH_ID)
END

if @flag='assetType'
BEGIN
	SELECT 
	 C.item_name [GROUP NAME]
	,A.id [ASSET TYPE ID]
	,ASSET_CODE [ASSET CODE]
	,porduct_code [ASSET TYPE]
	FROM ASSET_PRODUCT A WITH(NOLOCK) 
	INNER JOIN ASSET_ITEM B WITH(NOLOCK) ON A.item_id=B.id
	INNER JOIN ASSET_ITEM C WITH(NOLOCK) ON B.parent_id=C.id
	WHERE B.parent_id=ISNULL(@groupId,B.parent_id)	
END


if @flag='emp'
BEGIN
	SELECT 
		EMPLOYEE_ID,
		EMP_CODE,
		FIRST_NAME+' '+MIDDLE_NAME+' '+LAST_NAME EMPLOYEE_NAME,
		dbo.GetBranchName(BRANCH_ID) BRANCH_NAME,
		dbo.GetDeptName(DEPARTMENT_ID) DEPT_NAME,
		dbo.GetDetailTitle(POSITION_ID) POSITION		
	FROM Employee A WITH(NOLOCK) 
	WHERE A.BRANCH_ID=ISNULL(@branchId,A.BRANCH_ID)
END
GO
