USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procManageAssetBookingRequest]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[procManageAssetBookingRequest]
	@flag VARCHAR(1),
	@row_id INT=NULL,
	@branch_id INT=NULL,
	@dept_id INT=NULL,
	@product_id INT=NULL,
	@booked_date VARCHAR(40)=NULL,
	@purchase_date VARCHAR(50)=NULL,
	@qty AS INT=null,
	@purchase_value MONEY=NULL,
	@acc_depriciation MONEY=NULL,
	@dep_start_date VARCHAR(400)=NULL,
	@ins_id INT=NULL,
	@bill_id INT=NULL,
	@asset_status VARCHAR(50)=NULL,
	@warr_expiry VARCHAR(40)=NULL,
	@asset_holder INT=NULL,
	@next_maintenance_date VARCHAR(40)=NULL,
	@narration VARCHAR(1000)=NULL,
	@asset_serial VARCHAR(200)=NULL,
	@depre_pct VARCHAR(20)=NULL,
	@received_id VARCHAR(10)=NULL,
	@is_amortised VARCHAR(2)=NULL,
	@life_month AS INT=null,	
	@remian_month as int =null,
	@user AS VARCHAR(50)=null,
	@forward_to varchar(50)=null,
	@old_asset_no varchar(50)=null,
	@old_asset_code varchar(50) = null,
	@model varchar(200) = null,
	@brand varchar(200) = null,
	@vendor_id int = null,
	@remain_life int = null
	
AS
	SET NOCOUNT ON;
	SET XACT_ABORT ON;	
	
	CREATE TABLE #msg(errorCode INT, msg VARCHAR(100), id INT)
		
	DECLARE 
	 @sql			VARCHAR(MAX)
	,@oldValue		VARCHAR(MAX)
	,@newValue		VARCHAR(MAX)
	,@tableName		VARCHAR(50)	

	DECLARE 
	 @gridName				VARCHAR(50)		
	,@addEditFunctionId		INT
	,@deleteFunctionId		INT
	,@approveFunctionId		INT
	,@tableNameAudit		VARCHAR(100)
	,@identifierField		VARCHAR(100)
	,@modType				VARCHAR(6)
	,@tableDescription		VARCHAR(100)
	
	SELECT
	 @tableNameAudit	= 'ASSET_INVENTORY_TEMP'
	,@identifierField	= 'ID'
	,@tableDescription	= 'ASSET MASTER'
	IF @flag='i'
	BEGIN
		DECLARE @intTotalRows AS INT,@group_id AS INT,@assetId as int
		SET @intTotalRows=1
		WHILE @qty >=  @intTotalRows
		BEGIN			
			
			SET @group_id=dbo.GetGroupID(@product_id)
			
			BEGIN TRANSACTION
			
			INSERT INTO ASSET_INVENTORY_TEMP(branch_id,dept_id,product_id,booked_date,purchase_value,acc_depriciation,depr_start_date,
						ins_id,bill_id,asset_status,warr_expiry,asset_holder,next_maintenance_date,narration,asset_serial,depre_pct,is_amortised,
						life_in_month,remain_month,purchase_date,created_by,created_date,group_id,forwarded_by,forwarded_date,status,old_asset_no,
						old_asset_code,model,Brand,VendorId)
    				VALUES(@branch_id,@dept_id,@product_id,@booked_date,@purchase_value,@acc_depriciation,@dep_start_date,@ins_id,
    					@bill_id,@asset_status,@warr_expiry,@asset_holder,@next_maintenance_date,@narration,@asset_serial,@depre_pct,
    					@is_amortised,@life_month,@remian_month,@purchase_date,@user,GETDATE(),@group_id,@forward_to,GETDATE(),'Requested',@old_asset_no,
    					@old_asset_code,@model,@brand,@vendor_id)    
    					
    		SET @assetId = SCOPE_IDENTITY()	
    		
    	--inserting into approval queue-----	    	
    	
    		INSERT INTO #msg(errorCode, msg, id)
			EXEC proc_changesApprovalQueue 
				 @flag = 'i'
				,@user = @user
				,@dataId = @assetId
				,@identifierField = @identifierField
				,@tableName = @tableNameAudit
				,@modType = 'insert'			
				,@description = 'ASSET BOOKING REQUEST'
				,@functionId = @approveFunctionId
				,@addEditFunctionId	= @addEditFunctionId
				,@forwarded_to=@forward_to
				
    		
		    IF @@TRANCOUNT > 0
			COMMIT TRANSACTION
			
			SET @intTotalRows=@intTotalRows+1			
			
		END
	END
	IF @flag='u'
	BEGIN	
		
		BEGIN TRANSACTION
		
			SET @group_id=dbo.GetGroupID(@product_id)
			
			UPDATE ASSET_INVENTORY_TEMP SET branch_id=@branch_id,dept_id=@dept_id,product_id=@product_id,booked_date=@booked_date,
					purchase_value=@purchase_value,acc_depriciation=@acc_depriciation,depr_start_date=@dep_start_date,
					ins_id=@ins_id,bill_id=@bill_id,asset_status=@asset_status,warr_expiry=@warr_expiry,asset_holder=@asset_holder,
					next_maintenance_date=@next_maintenance_date,narration=@narration,asset_serial=@asset_serial,depre_pct=@depre_pct,
					is_amortised=@is_amortised,life_in_month=@life_month,remain_month=@remian_month,purchase_date=@purchase_date,
					created_by=@user,created_date=GETDATE(),group_id=@group_id,forwarded_by=@forward_to,forwarded_date=GETDATE(),
					status='Requested',rejection_reason='',old_asset_no=@old_asset_no,old_asset_code=@old_asset_code,model=@model,
					Brand=@brand ,VendorId=@vendor_id
			WHERE id=@row_id
			
			DELETE FROM changesApprovalQueue WHERE tableName=@tableNameAudit AND dataid=@row_id
			
			INSERT INTO #msg(errorCode, msg, id)
				EXEC proc_changesApprovalQueue 
					 @flag = 'i'
					,@user = @user
					,@dataId = @row_id
					,@identifierField = @identifierField
					,@tableName = @tableNameAudit
					,@modType = 'insert'			
					,@description = 'ASSET BOOKING REQUEST'
					,@functionId = @approveFunctionId
					,@addEditFunctionId	= @addEditFunctionId
					,@forwarded_to=@forward_to
    		
				IF @@TRANCOUNT > 0
			COMMIT TRANSACTION
						

	END
GO
