USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_travelOrder]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[proc_travelOrder](
   
             @flag						VARCHAR(10)
		    ,@travelOrderId			    INT				= NULL
			,@branch				    INT				= NULL
			,@dept					    INT				= NULL
			,@reqBy					    INT				= NULL
			,@travelorderReqDate		Date			= NULL
			,@placeOfVisit				VARCHAR(200)	= NULL
			,@purposeOfVisit			VARCHAR(200)	= NULL
			,@transportation			VARCHAR(200)	= NULL
			,@fromDate					Date			= NULL
			,@toDate					Date			= NULL
			,@recommendedBy				INT				= NULL
			,@recommendedDate			Date			= NULL
			,@approveByHr				INT				= NULL
			,@approveByHrDate			Date			= NULL
			,@finalApproveBy			INT				= NULL
			,@finalApproveByDate		DATE			= NULL
			,@recommendedRemarks		VARCHAR(MAX)	= NULL
			,@hrRemarks					VARCHAR(MAX)	= NULL
			,@finalRemarks				VARCHAR(MAX)	= NULL
			,@ccList					VARCHAR(200)	= NULL
			,@traOrdAllowanceId			VARCHAR(100)	= NULL
			,@allowanceType				VARCHAR(100)	= NULL
			,@days					    VARCHAR(100)	= NULL
			,@perDays					VARCHAR(100)	= NULL
			,@total						VARCHAR(100)	= NULL
			,@sessionId					VARCHAR(100)	= NULL
			,@approveFrom				VARCHAR(100)	= NULL	
			,@approveTo					VARCHAR(100)	= NULL
			,@requestRemarks			VARCHAR(MAX)    = NULL
			,@advance					VARCHAR(100)	= NULL
			,@currency					VARCHAR(30)		= NULL	
			,@region					VARCHAR(30)		= NULL	
			,@travelOrderRateId			INT				= NULL		
)

AS 

SET NOCOUNT ON 

/*

  i -> insert for travelOrder
  a -> insert for travelOrderAllowance
  si -> select for travelOrder
  sa -> select for travelOrderAllowance
  ra -> recommanded approved
  ha -> hr approved
  fa -> final approved
  d -> delete travelOrderAllowance
  ae -> edit travelOrderAllowance

*/


BEGIN TRY 
  IF @flag = 'i'
  BEGIN
   
   INSERT INTO  travelOrder(
						branch
						,dept
						,reqBy
						,reqDate
						,travelorderReqDate
						,placeOfVisit
						,purposeOfVisit
						,transportation
						,fromDate
						,toDate
						,recommendedBy
						,[status]
						,requestRemarks			
						,advance	
						,region
						)
                    SELECT  @branch
                            ,@dept
                            ,@reqBy
                            ,GETDATE()
                            ,@travelorderReqDate
                            ,@placeOfVisit
                            ,@purposeOfVisit
                            ,@transportation
                            ,@fromDate
                            ,@toDate
                            ,@recommendedBy
                            ,'request'
                            ,@requestRemarks			
							,@advance	
							,@region				
								
   
                SET @travelOrderId = SCOPE_IDENTITY()
                
                UPDATE  travelOrderAllowance SET 
							travelOrderId = @travelOrderId
						   ,sessionId     = ''
							
			    WHERE sessionId = @sessionId
                
                
                
                SELECT  'Data Save Successfully' MSG, @travelOrderId ID       
    
  
  
  END
  
  
  ELSE IF @flag = 'a'
  BEGIN
  
  --when session is not null
  IF EXISTS( SELECT * FROM travelOrderAllowance WHERE allowanceType =@allowanceType  AND  ISNULL(sessionId, '') in(case isnull(@sessionId,'') when  '' then '' else @sessionId end)
			AND ISNULL(travelOrderId,'') in (case ISNULL(@travelOrderId,'') when '' then '' else @travelOrderId end ))
 
   BEGIN
      SELECT 'Allowance Type is already Added!' MSG
      RETURN   
   END
 -- IF EXISTS(SELECT 'x' FROM travelOrderAllowance 
	--		WHERE allowanceType = @allowanceType 
	--		AND sessionId = @sessionId
	--)			
 --  BEGIN
 --     SELECT 'Allowance Type is already Added!' MSG
 --     RETURN   
 --  END
   
  
 -- IF EXISTS(SELECT 'x' FROM travelOrderAllowance 
	--		WHERE allowanceType = @allowanceType 			
	--		AND travelOrderId = @travelOrderId
	--)			
 --  BEGIN
 --     SELECT 'Allowance Type is already Added!' MSG
 --     RETURN   
 --  END 
   
   
   
 --  IF   EXISTS(SELECT place FROM travelOrderAllowance ta inner join travelOrderRate tr 
	--				on ta.travelOrderRateId = tr.travelRateId where sessionId = @sessionId and ta.travelOrderRateId  = @travelOrderRateId)
	--BEGIN 
	-- SELECT 'Multiple region cannot be assign' msg
	-- RETURN
	
	--END  
   
    SET  @total =  (cast(isnull(@perDays,0) as money) * cast(isnull(@days,0)as money))
     
     INSERT INTO travelOrderAllowance(
     				 allowanceType
					,perDays
					,[days]
					,total
					,sessionId
					,travelOrderId
					,currency
					,travelOrderRateId
    
			)
			SELECT 
			        @allowanceType
			       ,@perDays
			       ,@days
			       ,@total
			       ,@sessionId
			       ,@travelOrderId
			       ,@currency
			       ,@travelOrderRateId
			    
			SELECT 'Record Save Successfully' msg
   END
   
      ELSE IF @flag = 'd'
   BEGIN
		DELETE travelOrderAllowance where traOrdAllowanceId = @traOrdAllowanceId
		SELECT 'Record Is deleted successfully' msg

   END
   
   ELSE IF @flag = 'ae'
   BEGIN
		UPDATE travelOrderAllowance SET
				 allowanceType	 =  @allowanceType
				,perDays		 =  @perDays
				,[days]			 =  @days
				,total			 =  @total
		WHERE  traOrdAllowanceId = @traOrdAllowanceId
		SELECT 'Record Update  successfully' msg

   END
   
   ELSE IF @flag = 'si'
   
   BEGIN
   
			SELECT 			
					branch,dept,reqBy
					,reqDate,travelorderReqDate
					,placeOfVisit,purposeOfVisit
					,transportation,fromDate
					,toDate,recommendedBy
					,recommendedDate,approveByHr
					,approveByHrDate,finalApproveBy
					,finalApproveByDate,recommendedRemarks
					,hrRemarks,finalRemarks,ccList
					,requestRemarks	,advance
			 FROM travelOrder 	 
		     WHERE travelOrderId = @travelOrderId

   END
      ELSE IF @flag = 'sa'
   
   BEGIN
		 SELECT    
				s.DETAIL_TITLE allowanceType
				,[days] [Day]
				,currency [Currency]
				,dbo.ShowDecimal(perDays)Rate
				,dbo.ShowDecimal(total) Total 
			 ,'<img onclick = "DeleteNotification(' + CAST(traOrdAllowanceId AS VARCHAR(50)) + ')" class = "showHand" border = "0" title = "Delete Notification" src="../../Images/delete.gif" />' [Delete] 
				
			FROM travelOrderAllowance t 
			INNER JOIN StaticDataDetail s  
			ON t.allowanceType = s.ROWID
			
     	 WHERE  sessionId = @sessionId

   END
   
   ELSE IF @flag = 'al'
   BEGIN
     	SELECT 
					SDD.DETAIL_TITLE [Allowance Type]
					,TOA.days  [Days]
					,currency [Currency]
					,dbo.ShowDecimal(TOA.perDays) [Rate]
					,dbo.ShowDecimal(TOA.total)[Total]
					,'<img onclick = "EditTravelAllowance(' + CAST(traOrdAllowanceId AS VARCHAR(50)) + ')" class = "showHand" border = "0" title = "Edit Travel Order" src="../../Images/but_edit.gif" />' [Edit] 
					,'<img onclick = "DeleteTravelAllowance(' + CAST(traOrdAllowanceId AS VARCHAR(50)) + ')" class = "showHand" border = "0" title = "Delete Travel Order" src="../../Images/delete.gif" />' [Delete] 
				FROM travelOrderAllowance TOA 
                INNER JOIN StaticDataDetail SDD
                ON ROWID=TOA.allowanceType
                WHERE TOA.travelOrderId = @traOrdAllowanceId
   
   END
   
   ELSE IF @flag = 'ra'
   BEGIN
		UPDATE travelOrder SET
		    
		   recommendedDate = GETDATE()
		  ,recommendedRemarks = @recommendedRemarks
		  ,approveFrom        = @approveFrom
		  ,approveTo		  = @approveTo
		  ,[status] = 'Recommend'
		   
		 WHERE  travelOrderId = @travelOrderId

   END
   
   ELSE IF @flag = 'ha'
   BEGIN
		UPDATE travelOrder SET
		     approveByHr      = @approveByHr
		    ,finalApproveBy   = @finalApproveBy
			,approveByHrDate = GETDATE()
			,approveFrom        = @approveFrom
		    ,approveTo		  = @approveTo
			,hrRemarks		= @hrRemarks
			,ccList			= @ccList
			,[status]		= 'Varify'
		   
		 WHERE  travelOrderId = @travelOrderId

   END
   
   ELSE IF @flag = 'fa'
   BEGIN
		UPDATE travelOrder SET
			
		   finalApproveByDate = GETDATE()
		  ,approveFrom        = @approveFrom
		  ,approveTo		  = @approveTo
		  ,finalRemarks	      = @finalRemarks
		  ,[status]			  = 'O'
		   
		 WHERE  travelOrderId = @travelOrderId

   END
  
  
  


END TRY 

BEGIN CATCH

IF @@TRANCOUNT > 0

ROLLBACK TRANSACTION
SELECT '1' ERROR_CODE ,ERROR_MESSAGE() MSG, @travelOrderId ID

END CATCH
GO
