USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[ProcUploadTaxFile]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- exec ProcUploadTaxFile 'a','67-68', '4','E:\\dotPROJECT\\IMEREMIT\\APP\\SwiftHrManagement.web\\doc\\payroll_upload\\taxupload.csv','1000'
-- exec ProcUploadTaxFile 't','67-68', '5','E:\\Projects\\IME_Remit\\APP\\SwiftHrManagement.web\\doc\\payroll_upload\\tax.csv','1000'
-- exec ProcUploadTaxFile 'T','67-68', '12','D:\App\doc\payroll_upload\tax_upload.csv','1000'


CREATE proc [dbo].[ProcUploadTaxFile]
	@flag char(1),
	@year as varchar(10),
	@month as int,
	@file_path varchar(200),
	@user varchar(50)
AS


	set nocount on;
	
	declare @SQL varchar(max)
	declare @Wronglist varchar(max)=''
	declare @remarks varchar(max)=''
	declare @doUpload int = 1	
	set @file_path = replace(@file_path,'\\','\')	

	create table #tempNumberUpload
		(
			emp_id varchar(10) null,
			amount varchar(20) null
		)

	SET @SQL = ' BULK INSERT #tempNumberUpload  FROM '''+@file_path+''' 
					 WITH (FIELDTERMINATOR = '','',FIRSTROW  = 2, ROWTERMINATOR =''\n'') '
					 
	exec(@SQL)
	
	update #tempNumberUpload
    		set 
			emp_id=replace(ltrim(emp_id),'á',''),
			amount=replace(ltrim(amount),'á','')

	update #tempNumberUpload
    		set 
			emp_id=replace((emp_id),' ',''),
			amount=replace((amount),' ','')
--select * from  #tempNumberUpload
	--------------
	--##########  Duplicate Check 
	if exists(select emp_id from #tempNumberUpload group by emp_id having count(emp_id)>1 ) 
	begin
		set @Wronglist=''
		select @Wronglist=COALESCE(@Wronglist+' <BR>','')+emp_id
		FROM
		(select emp_id from #tempNumberUpload group by emp_id having count(emp_id)>1)a
		
		set @Wronglist='Duplicate Employee Ids :'+@Wronglist
		
		set @remarks = @remarks + @Wronglist
		set @doUpload = 0
		

	end
	
	--##########	
	--#Wrong Amounts
	if exists(select emp_id from #tempNumberUpload where isnumeric(amount)=0) 
	begin
		set @Wronglist=''
		select @Wronglist=COALESCE(@Wronglist+' <BR>','')+emp_id
		FROM
		(select emp_id from #tempNumberUpload where isnumeric(amount)=0)a
		
		set @Wronglist='<br><br>Wrong amounts for :'+@Wronglist
		
		set @remarks = @remarks + @Wronglist
		set @doUpload = 0

	end
	--#
	

if @flag='L'
begin	
	--#invalid employees
	
	if exists (select Emp_Id from #tempNumberUpload where emp_id not in 
	(select cast(Emp_Id as varchar(10))Emp_Id from TaxCalculation where Run_Month=@month and FY_ID=@year))
	begin
		set @Wronglist=''
		select @Wronglist=COALESCE(@Wronglist+' <BR>','')+emp_id
		FROM
		(select Emp_Id from #tempNumberUpload where emp_id not in 
	(select cast(Emp_Id as varchar(10))Emp_Id from TaxCalculation where Run_Month=@month and FY_ID=@year))a
		
		set @Wronglist='<br><br>Some Employee ID is Invalid!'+@Wronglist
		
		set @remarks = @remarks + @Wronglist
		set @doUpload = 0
		
	end
	--#
	if @doUpload=0
	begin
		select @remarks as msg
		DROP TABLE #tempNumberUpload
		return;
	end
	
	UPDATE TC
	set Tax_This_Month=TEMP.amount
	from TaxCalculation TC
	join #tempNumberUpload TEMP on TC.Emp_Id=TEMP.emp_id
	where Run_Month=@month and FY_ID=@year and TC.Emp_Id=TEMP.emp_id
end	

if @flag='T'
begin	
	--#invalid employees
	
	if exists (select Emp_Id from #tempNumberUpload where emp_id not in 
	(select cast(Emp_Id as varchar(10))Emp_Id from TaxCalculation_Trial where Run_Month=@month and FY_ID=@year))
	begin
		set @Wronglist=''
		select @Wronglist=COALESCE(@Wronglist+' <BR>','')+emp_id
		FROM
		(select Emp_Id from #tempNumberUpload where emp_id not in 
	(select cast(Emp_Id as varchar(10))Emp_Id from TaxCalculation_Trial where Run_Month=@month and FY_ID=@year))a
		
		set @Wronglist='<br><br>Some Employee ID is Invalid!'+@Wronglist
		
		set @remarks = @remarks + @Wronglist
		set @doUpload = 0
		
	end
	--#
	if @doUpload=0
	begin
		select @remarks as msg
		DROP TABLE #tempNumberUpload
		return;
	end
	
	UPDATE TC
	set Tax_This_Month=TEMP.amount
	from TaxCalculation_Trial TC
	join #tempNumberUpload TEMP on TC.Emp_Id=TEMP.emp_id
	where Run_Month=@month and FY_ID=@year and TC.Emp_Id=TEMP.emp_id
end	

	DROP TABLE #tempNumberUpload
	select 'Upload Completed Sucessfully!' as msg;
GO
