USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procAssetGroupWiseSummaryRpt]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[procAssetGroupWiseSummaryRpt]
	@flag VARCHAR(1),
	@branch_id VARCHAR(10)=NULL

AS
IF @flag='a'
BEGIN
	
			SELECT ROW_NUMBER()OVER(ORDER BY a.item_name) AS [S.N.],a.item_name as [Asset Group Name],isnull(a.purchase_value,0) as [Total Cost],
			isnull(a.acc_dep,0) as [Acc. Depreciation],isnull(a.net_value,0) as [Net Value]
				FROM 
				(	
						SELECT 
						x.id,x.item_name,SUM(purchase_value) as purchase_value,SUM(acc_depriciation) AS acc_dep,
						SUM(purchase_value)-SUM(acc_depriciation) AS net_value
						FROM ASSET_INVENTORY a 
						INNER JOIN ASSET_PRODUCT ap ON a.product_id = ap.id
						INNER JOIN ASSET_ITEM ai ON ap.item_id = ai.id

						INNER JOIN 
							(
							SELECT id, item_name 
							FROM ASSET_ITEM
							WHERE id IN(SELECT DISTINCT parent_id FROM ASSET_ITEM WHERE is_product = '1')					 
							) x ON x.id = ai.parent_id

							WHERE a.asset_status='Active' AND branch_id=@branch_id and asset_type is null
							 GROUP BY x.id, x.item_name
				) a 


END
GO
