USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[ProcManageDepartment]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Exec ProcManageDepartment 'u','1','HRD','171', '2','admin'

CREATE PROC [dbo].[ProcManageDepartment]
	   @flag CHAR(1),
	   @branch_id INT,
	   @dept_sort_name VARCHAR(100),
	   @static_id INT,
	   @row_id INT,
	   @user VARCHAR(50)

AS	
SET NOCOUNT ON;
SET XACT_ABORT ON;	

	DECLARE @DEPT_NAME VARCHAR(500)		
	SELECT @DEPT_NAME=DETAIL_TITLE FROM StaticDataDetail WHERE ROWID=@static_id
	
IF @flag='i'
BEGIN
	
	IF NOT EXISTS (SELECT * FROM Departments WHERE BRANCH_ID=@branch_id AND STATIC_ID=@static_id)
	BEGIN
		INSERT INTO Departments(BRANCH_ID,DEPARTMENT_SHORT_NAME,DEPARTMENT_NAME,STATIC_ID,CREATED_BY,CREATED_DATE)
		VALUES(@branch_id,@dept_sort_name,@DEPT_NAME,@static_id,@user,GETDATE())
		SELECT 'SUCCESS!' AS MSG
		RETURN;
	END
	ELSE
	BEGIN
		SELECT 'ALREADY EXISTS!' AS MSG
		RETURN;
	END
	
END
IF @flag='u'
BEGIN
	--IF NOT EXISTS (SELECT * FROM Departments WHERE BRANCH_ID=@branch_id AND STATIC_ID=@static_id)
	--BEGIN
		UPDATE Departments SET BRANCH_ID=@branch_id,DEPARTMENT_SHORT_NAME=@dept_sort_name,DEPARTMENT_NAME=@DEPT_NAME,
			STATIC_ID=@static_id,MODIFIED_BY=@user,MODIFIED_DATE=GETDATE() WHERE DEPARTMENT_ID=@row_id	
		SELECT 'SUCCESS!' AS MSG
--		RETURN;
--	END	
--	ELSE
--	BEGIN
--		SELECT 'ALREADY EXISTS!' AS MSG
--		RETURN;
--	END
END




--select * from Departments where BRANCH_ID=6
GO
