USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_Manage_assetTransferHistory]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
exec proc_Manage_assetTransferHistory '0',' 1','5/6/2010','1070','0.0000','25000.0000','6','31','1006','7','22','1009','Testing','I'
exec proc_Manage_assetTransferHistory '11','1','5/7/2010','1000','0.0000','2000.0000','1','20','1005','1','2','1006','Testing','U','1000'
*/
CREATE PROCEDURE [dbo].[proc_Manage_assetTransferHistory]
 ( 
	 @id	INT = NULL
	,@asset_id int = null
	,@transfer_date datetime = null
	,@transfer_by	int = null
	,@accumulated_dep float = null
	,@book_value	float = null
	,@from_branch	int = null
	,@from_dept int = null
	,@from_holder int = null
	,@to_branch	int = null
	,@to_dept	int=null
	,@to_holder	int =null
	,@narration	varchar(max)
	,@mode	varchar(1) = null
	,@forwarded_to	int=null
		)
  as
  begin
  
  set nocount on;
  set xact_abort on;
  	CREATE TABLE #msg(errorCode INT, msg VARCHAR(100), id INT)
		
	DECLARE 
	 @sql			VARCHAR(MAX)
	,@oldValue		VARCHAR(MAX)
	,@newValue		VARCHAR(MAX)
	,@tableName		VARCHAR(50)	

	DECLARE 
	 @gridName				VARCHAR(50)		
	,@addEditFunctionId		INT
	,@deleteFunctionId		INT
	,@approveFunctionId		INT
	,@tableNameAudit		VARCHAR(100)
	,@identifierField		VARCHAR(100)
	,@modType				VARCHAR(6)
	,@tableDescription		VARCHAR(100)
	
	SELECT
	 @tableNameAudit	= 'ASSET_TRANSFER_TEMP'
	,@identifierField	= 'ID'
	,@tableDescription	= 'ASSET TRANSFER REQUEST'
	,@modType			= 'insert'
  
  if (@mode = 'I')
  begin 
  
		if not exists(
  				select B.ASSET_AC, A.purchase_value, 'DR'  TRN_TYPE from ASSET_INVENTORY A , ASSET_BRANCH B
				 where A.product_id = B.PRODUCT_ID
				 and B.BRANCH_ID=@from_branch and A.id = @asset_id
		)
		begin		
			SELECT 'NO ACCOUNT SETUP FOR TRANSFER BRANCH' as REMARKS
			return;
		end 
	
		if not exists(
  				select B.ASSET_AC, A.purchase_value, 'DR'  TRN_TYPE from ASSET_INVENTORY A , ASSET_BRANCH B
				 where A.product_id = B.PRODUCT_ID
				 and B.BRANCH_ID=@to_branch and A.id = @asset_id
		)
		begin		
			SELECT 'NO ACCOUNT SETUP FOR RECEIVING BRANCH' as REMARKS
			return;
		end  
  
  begin transaction
		DECLARE @ROW_ID AS INT
		INSERT INTO [ASSET_TRANSFER_TEMP]
           ([asset_id]
           ,[created_date]
           ,[created_by]
           ,[accumulated_dep]
           ,[book_value]
           ,[from_branch]
           ,[from_dept]
           ,[from_holder]
           ,[to_branch]
           ,[to_dept]
           ,[to_holder]
           ,[narration]
           ,[status]
           ,[forwarded_to]
           ,[forwarded_date]
           )
     VALUES
           (@asset_id
           ,@transfer_date
           ,@transfer_by
           ,@accumulated_dep
           ,@book_value
           ,@from_branch
           ,@from_dept
           ,@from_holder
           ,@to_branch
           ,@to_dept
           ,@to_holder
           ,@narration
           ,'Requested'
		   ,@forwarded_to
		   ,GETDATE()
           )
           
    SET @ROW_ID = SCOPE_IDENTITY()	
          
	INSERT INTO #msg(errorCode, msg, id)
				EXEC proc_changesApprovalQueue 
					 @flag = 'i'
					,@user = @transfer_by
					,@dataId = @ROW_ID
					,@identifierField = @identifierField
					,@tableName = @tableNameAudit
					,@modType = @modType			
					,@description = @tableDescription
					,@functionId = @approveFunctionId
					,@addEditFunctionId	= @addEditFunctionId
					,@forwarded_to=@forwarded_to
					
IF (@@ERROR <> 0) GOTO QuitWithRollback 


COMMIT TRANSACTION


GOTO  EndSave

QuitWithRollback:
ROLLBACK TRANSACTION 


EndSave: 

end
 
 
 if (@mode = 'U')
 begin

		UPDATE [ASSET_TRANSFER_TEMP]
		SET [asset_id] = @asset_id
			,[created_date] = @transfer_date
			,[created_by] = @transfer_by
			,[accumulated_dep] = @accumulated_dep
			,[book_value] = @book_value
			,[from_branch] = @from_branch
			,[from_dept] = @from_dept
			,[from_holder] = @from_holder
			,[to_branch] = @to_branch
			,[to_dept] = @to_dept
			,[to_holder] = @to_holder
			,[narration] = @narration
			,[forwarded_to]=@forwarded_to
			,[status]='Requested'
			,forwarded_date=GETDATE()
		WHERE ID = @id
		
		DELETE FROM changesApprovalQueue WHERE tableName=@tableNameAudit AND dataid=@id 
		
		INSERT INTO #msg(errorCode, msg, id)
				EXEC proc_changesApprovalQueue 
					 @flag = 'i'
					,@user = @transfer_by
					,@dataId = @id
					,@identifierField = @identifierField
					,@tableName = @tableNameAudit
					,@modType = @modType			
					,@description = @tableDescription
					,@functionId = @approveFunctionId
					,@addEditFunctionId	= @addEditFunctionId
					,@forwarded_to=@forwarded_to
 end
 end
GO
