USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procGetSupervisor]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXEC [procGetSupervisor] @FLAG='a',@EMP_ID='1020'
CREATE PROC [dbo].[procGetSupervisor]
(
	@FLAG VARCHAR(10),
	@EMP_ID VARCHAR(200)
)
AS
SET NOCOUNT ON
SET XACT_ABORT ON
if @FLAG='a'
BEGIN

	select SUPERVISOR EMP_ID,dbo.GetEmployeeFullNameOfId(SUPERVISOR)SUPERVISOR 
	from SuperVisroAssignment where EMP = @EMP_ID and record_status='y'
END
GO
