USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_EmployeeMovementExtIntSchedule]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*      
  exec proc_EmployeeMovementExtIntSchedule

*/      
  
CREATE PROCEDURE [dbo].[proc_EmployeeMovementExtIntSchedule]      
AS  
  
  --exec proc_EmployeeMovementExtIntSchedule
 SET NOCOUNT ON; 
 SET XACT_ABORT ON;  
 /*  
    a ->  approved JO  
    u  ->  update JO before approved individually  
    r -> release JO  
   
 */     
  
BEGIN TRY  
	  SELECT CAST(rowId AS INT) AS temp_rowId,STAFF_ID,EFFECTIVE_DATE,FROM_BRANCH,WHICH_BRANCH,FROM_DEPARTMENT,WHICH_DEPARTMENT,
				Transfer_Type,Current_Supervisor_Type,Current_Supervisor,New_Supervisor_type,New_Supervisor
				,BRANCH_ID,DEPARTMENT_ID
		INTO #_EmpTransferDetails
		FROM (
					SELECT
						 ts.RowId
						,e.STAFF_ID,e.EFFECTIVE_DATE,e.FROM_BRANCH,e.WHICH_BRANCH,e.FROM_DEPARTMENT,e.WHICH_DEPARTMENT,
						ts.Transfer_Type,ts.Current_Supervisor_Type,ts.Current_Supervisor,ts.New_Supervisor_type,ts.New_Supervisor 
						,ep.BRANCH_ID,ep.DEPARTMENT_ID
					FROM ExternalTransferPlan e
						INNER JOIN transfer_supervisor ts 
					ON e.ID = ts.Transfer_ID and e.STAFF_ID = ts.empId
					INNER JOIN Employee ep on ep.EMPLOYEE_ID = e.STAFF_ID
					WHERE e.EFFECTIVE_DATE <= GETDATE() AND F_EXECUTED IS NULL
					AND e.TRANSFER_TYPE in ('i', 'e','d')
			)a
			
		IF NOT EXISTS(SELECT 'X' FROM #_EmpTransferDetails)
		BEGIN
			SELECT 'No Transaction is found' as msg
			RETURN
		
		END
		
		BEGIN TRANSACTION
		
		   -- ############### INSERT & UPDATE SuperVisroAssignment FOR INTERNAL AND EXTERNAL
		   
		
		   
					
			 	UPDATE  SuperVisroAssignment 
					SET record_status =  'n'
				FROM SuperVisroAssignment s 
					INNER JOIN #_EmpTransferDetails t 
				ON  s.EMP = t.STAFF_ID AND s.SUPERVISOR_TYPE = t.New_Supervisor_type
					WHERE s.record_status = 'y' 
		   
		   
		   
		   INSERT INTO SuperVisroAssignment(
				 BRANCH
				,DEPT
				,EMP
				,SUPERVISOR
				,SUPERVISOR_TYPE
				,CREATED_BY
				,CREATED_DATE
				,record_status

			)
			
			SELECT 
				 BRANCH_ID
				,DEPARTMENT_ID 
				,STAFF_ID
				,New_Supervisor
				,New_Supervisor_type
				,1001
				,GETDATE()
				,'y'
				FROM  #_EmpTransferDetails 
				
	 --########## UPDATE EMPLOYEE TABLE 
	
	    UPDATE Employee SET 
			  BRANCH_ID = t.WHICH_BRANCH
			 ,DEPARTMENT_ID = t.WHICH_DEPARTMENT
	     FROM  Employee e 
		 INNER JOIN #_EmpTransferDetails t 
		 ON  e.EMPLOYEE_ID = t.STAFF_ID
			
			
	  --########## UPDATE externaltransferplan
	  
	  
	     UPDATE ExternalTransferPlan SET 
	      F_EXECUTED = 'y'
	     ,EXECUTED_DATE = GETDATE()
	     WHERE EFFECTIVE_DATE <= GETDATE() AND F_EXECUTED IS NULL
	     
	    
					
					
		COMMIT TRANSACTION
		
		
		
	 --########## Drop TEMP TABLE
	  drop table #_EmpTransferDetails
	
  
END TRY    
    
  
BEGIN CATCH  
   IF @@TRANCOUNT > 0  
   ROLLBACK TRANSACTION  
   SELECT ERROR_MESSAGE() MSG   
END CATCH
GO
