USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procTrainingManageRecord]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[procTrainingManageRecord]
	 @flag				VARCHAR(10)	
	,@id				int=null
	,@type				varchar(100)=null
	,@name				varchar(500)=null
	,@startDate			varchar(20)=null
	,@endDate			varchar(20)=null
	,@conductedBy		varchar(200)=null
	,@venue				varchar(200)=null
	,@totcapacity		varchar(100)=null
	,@city				varchar(200)=null
	,@country			varchar(100)=null
	,@noOfDays			float=null
	,@noOfHours			float=null
	,@costEstimate		varchar(200)=null
	,@nomineeWithin		varchar(20)=null
    ,@narration			varchar(max)=null
	,@user				varchar(50)=null 
	,@nomineeId			int=null
	,@forwardEmp		int=null
	,@status            varchar(50)=null
	,@sessionId		varchar(50)=null
	,@categoryId		int=null
	,@trainerCost		money=null
	,@foodVenueCost		money=null
	,@perPersonCost		money=null
	,@otherCost			money=null
	,@plannedStartDate	varchar(50)=null
	,@plannedEndDate	varchar(50)=null
	
	--select * from training
AS

SET NOCOUNT ON
	declare @trainingId as int
	
	--INSERT TRAINING
	if @flag='i'
	begin  
		
		insert into training(
								 programType
								,programName
								,startDate
								,endDate
								,conductedBy
								,venue
								,totCapacity
								,city
								,country
								,noOfDays
								,noOfHours
								,costEstimate
								,nomineeWithin
								,narration
								,status
								,forwardWith
								,approvedBy
								,approvedDate
								,createdBy
								,createdDate
								,categoryId
								,trainerCost
								,foodVenueCost
								,perPersonCost
								,otherCost
								,plannedStartDate
								,plannedEndDate
								,isrecorded
								)values(				
								 @type				
								,@name				
								,@startDate			
								,@endDate			
								,@conductedBy		
								,@venue				
								,@totcapacity		
								,@city				
								,@country			
								,@noOfDays			
								,@noOfHours			
								,@costEstimate		
								,@nomineeWithin		
								,@narration	
								,@status
								,@forwardEmp	
								,@forwardEmp
								,GETDATE()	
								,@user	
								,getdate()
								,@categoryId
								,@trainerCost
								,@foodVenueCost
								,@perPersonCost
								,@otherCost
								,@plannedStartDate
								,@plannedEndDate
								,'Y'
							)	
		
		
		set @trainingId=@@IDENTITY
		
		update trainingParticipation set trainingId=@trainingId,sessionId='' 
		where sessionId=@sessionId
		select 'Success!' as msg
	end
	
	--DELETE
	
	if @flag='DEL_T'
	begin
		delete from training where id=@id
		delete from trainingDocs where training_id=@id
		delete from trainingParticipation where trainingId=@id
		select 'Success!' as msg
	end	

	--ADDING PARTICIPATION
	
	if @flag='ADD_N'
	begin
		declare @branch_id int,	@dept_id as int,@position_id as int	
		if exists(select id from trainingParticipation where sessionId=@sessionId and employeeId=@nomineeId)
		begin
		   select 'Already addded!'	 as msg
		   return;
		end
		select	@branch_id=branch_id,@dept_id=DEPARTMENT_ID,@position_id=POSITION_ID
		from Employee where EMPLOYEE_ID=@nomineeId
		
		insert into trainingParticipation(branchId,deptId,positionId
							,employeeId,createdBy,createdDate,sessionId)values
		(@branch_id,@dept_id,@position_id,@nomineeId,@user,GETDATE(),@sessionId)		
		
		select 'Success!' as msg
		
	end

	if @flag='DIS_N'
	begin
		select id,ROW_NUMBER() Over(order by dbo.GetEmployeeFullNameOfId(employeeId)) [S.N.]
		,dbo.GetBranchName(branchId) [Branch Name],dbo.GetDeptName(deptId) [Dept Name],
		dbo.GetDetailTitle(positionId)[Position],dbo.GetEmployeeFullNameOfId(employeeId) [Employee Name]
		from trainingParticipation where sessionId=@sessionId  
		order by dbo.GetEmployeeFullNameOfId(employeeId) 
	end
	
	if @flag='DEL_N'
	begin
		DELETE FROM trainingParticipation WHERE id=@id 
		select 'Success!' as msg
	end
GO
