USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procContributionProjection]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[procContributionProjection]
	@flag char(1),
	@fiscalYear varchar(20),

	@emp_id varchar(20)=null,
	@user varchar(50)
	
as
if @flag='i'
begin
	
	SET NOCOUNT ON ;	
	SET xact_abort on;
	
	DECLARE @remainMonth int
	DECLARE @yearStartDate date
	DECLARE @yearEndDate date
	DECLARE @monthStartDate date
	DECLARE @monthEndDate date
	DECLARE @monthname varchar(20)
	DECLARE @applieddate date
	declare @emp_type int
	declare @emp_name as varchar(200)
	declare	@runMonth int=	NUll

	SELECT  @runMonth=MAX(Run_Month) FROM TaxCalculation WHERE FY_ID=@fiscalYear and Run_Month between 4 and 12
	
	if  exists(select distinct Run_Month from TaxCalculation where FY_ID=@fiscalYear and Run_Month between 1 and 3 )
	begin
			SELECT  @runMonth=MAX(Run_Month) FROM TaxCalculation WHERE FY_ID=@fiscalYear and Run_Month between 1 and 3
	end
	
	if ISNULL(@runMonth,0)=3
	begin
			select 'Last salary run for fiscal year already done! Projection is not possible' as [Projection Report]
			return;
	end
	
	if ISNULL(@runMonth,0)=0 set @runMonth=4
	IF ISNULL(@runMonth,0)=12 set @runMonth=1
	IF ISNULL(@runMonth,0) between 4 and 11set @runMonth=@runMonth+1
	
	
	--SET @runMonth= (CASE WHEN @runMonth between 
	SET @remainMonth=(case when @runMonth=1 then 2 when @runMonth=2 then 1 when @runMonth=3 then 0 else 12-@runMonth+3 end)
	SELECT @yearStartDate=EN_YEAR_START_DATE from FiscalYear where FISCAL_YEAR_NEPALI=@fiscalYear
	SELECT @yearEndDate=EN_YEAR_END_DATE from FiscalYear where FISCAL_YEAR_NEPALI=@fiscalYear
	SET @monthStartDate=dbo.GetMonthStartDateEng(@fiscalYear,@runMonth) 
	SET @monthEndDate=dbo.GetMonthEndDateEng(@fiscalYear,@runMonth)
	SELECT @monthname=Name from MonthList where Month_Number=@runMonth
	SET @applieddate= CASE WHEN GETDATE() between @monthStartDate AND @monthEndDate THEN GETDATE() ELSE @monthEndDate END
	
	if not exists(select * from TaxRuleSetup where FY_ID=@fiscalYear)
	begin
			select 'You have no rule setup for '+@fiscalYear+' fiscal year!' as [Projection Report]
			return;
	end
	select @emp_name=FIRST_NAME+' '+MIDDLE_NAME+' '+LAST_NAME from Employee where EMPLOYEE_ID=@emp_id
	if exists(select * from Employee where EMP_TYPE not in (189,185) AND EMPLOYEE_ID=@emp_id)
	BEGIN
		select 'Sorry! No Contribution Projection, '+@emp_name+' Is Not a Permanent Employee!' as [Projection Report]
		return;
	END
	

	truncate table Contribution_Projection
	truncate table Contribution_Projection_FULL


	INSERT INTO Contribution_Projection(Emp_Id,Branch_Id,Dept_Id,Post_Id,Marital_Status,FY_ID,Run_Month,Run_By,Basic_Salary_Paid,Basic_Salary_Current,
	Basic_Salary_Remaining,Grade_Paid,Grade_Current,Grade_Remaining,Allowance_Paid,Allowance_Current,Allowance_Remaining,Adhoc_Benefits_Paid,
	Adhoc_Benefits_This_Month,Interest_Benefit,Vehicle_Benift,House_Benefit,Pension_Income,Premium_Paid_Employer,Contri_Paid_Employer,
	Contri_This_Month_Employer,Contri_To_Be_Paid_Employer,Contri_Deducted_Employee,Contri_Current_Employee,Contri_Remaining_Employee,
	Donation_Normal,Donation_Special,Premium_Deduction,Disabled_Deduction,Pension_Deduction,Retirement_Deduction,Taxable_Amount,Taxable_Slab1,
	Taxable_Slab2,Remaining,Tax_Amount,Tax_Collected,Tax_Discount,Tax_Remaining,Tax_This_Month)
	
	(SELECT EMPLOYEE_ID,BRANCH_ID,DEPARTMENT_ID,POSITION_ID,MARITAL_STATUS,@fiscalYear,@runMonth,@user,
	0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
	from Employee 
	where EMP_STATUS=458 
	AND EMPLOYEE_ID<>1000 and EMPLOYEE_ID=@emp_id
	)	


	
	IF (@@ERROR <> 0) GOTO QuitWithRollback	
	
/* Start Basic Salary*/
	--UPDATING BASIC SALARY PAID IN TAX CALCULATION
		UPDATE Contribution_Projection SET Basic_Salary_Paid=isnull(B.PAID_AMOUNT,0) FROM Contribution_Projection A,  
		(SElECT EMPLOYEE_ID,SUM(PAID_AMOUNT) as PAID_AMOUNT from (
			SELECT EMPLOYEE_ID,PAID_AMOUNT AS PAID_AMOUNT from PayableHistory a inner join StaticDataDetail s on a.BENEFIT_ID=s.ROWID 
			where s.TYPE_ID=36
				UNION ALL
			SELECT A.Employee_id, CASE WHEN ADD_DEDUCT='D' THEN amount*-1 ELSE AMOUNT END AS AMOUNT from AdhocPayment a with (nolock)
			INNER JOIN  StaticDataDetail c with (nolock)on a.HEAD_id=C.rowid
			WHERE C.TYPE_ID=36
			AND A.APPLIED_DATE BETWEEN @yearStartDate AND @monthEndDate) q 	GROUP BY EMPLOYEE_ID
		)B WHERE A.Emp_Id =B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth
	
	
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
		
		--UPDAING BASIC SALARY CURRENT IN TAX CALCULATION
		
		UPDATE Contribution_Projection SET Basic_Salary_Current=isnull(B.BASIC_CURRENT,0) FROM Contribution_Projection A,
		(SElECT EMPLOYEE_ID,SUM(PAID_AMOUNT) as BASIC_CURRENT from (
			SELECT EMPLOYEE_ID,AMOUNT AS PAID_AMOUNT from Payable a inner join StaticDataDetail s on a.BENEFIT_ID=s.ROWID 
			where s.TYPE_ID=36
				UNION ALL
			SELECT A.Employee_id, CASE WHEN ADD_DEDUCT='D' THEN amount*-1 ELSE AMOUNT END AS AMOUNT from AdhocPayment a with (nolock)
			INNER JOIN  StaticDataDetail c with (nolock)on a.HEAD_id=C.rowid
			WHERE C.TYPE_ID=36
			AND (A.APPLIED_DATE IS NULL )) q group by EMPLOYEE_ID 
		)B WHERE A.Emp_Id=B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth
	
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
	--UPDATING BASIC SALARY TO BE PAID IN TAX CALCULATION
					
		UPDATE Contribution_Projection SET Basic_Salary_Remaining=isnull(B.BASIC_CURRENT*@remainMonth,0) FROM Contribution_Projection A,
		(SELECT EMPLOYEE_ID,SUM(AMOUNT) as BASIC_CURRENT FROM Payable a inner join StaticDataDetail s on a.BENEFIT_ID=s.ROWID where s.TYPE_ID=36
		GROUP BY EMPLOYEE_ID )B WHERE A.Emp_Id=B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth
		
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
/* End Basic Salary*/

/* Start Grade*/		
		--UPDATING GRADE PAID IN TAX CALCULATION
		UPDATE Contribution_Projection SET Grade_Paid=isnull(B.GRADE_PAID,0) FROM Contribution_Projection A,  
		(SElECT EMPLOYEE_ID,SUM(PAID_AMOUNT) as GRADE_PAID from (
			SELECT EMPLOYEE_ID,PAID_AMOUNT from PayableHistory a inner join StaticDataDetail s on a.BENEFIT_ID=s.ROWID 
			where s.TYPE_ID=37
				UNION ALL
			SELECT A.Employee_id, CASE WHEN ADD_DEDUCT='D' THEN amount*-1 ELSE AMOUNT END AS AMOUNT from AdhocPayment a with (nolock)
			INNER JOIN  StaticDataDetail c with (nolock)on a.HEAD_id=C.rowid
			WHERE C.TYPE_ID=37
			AND A.APPLIED_DATE BETWEEN @yearStartDate AND  @monthEndDate) q 	GROUP BY EMPLOYEE_ID
		)B WHERE A.Emp_Id =B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth
	
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
		--UPDAING GRADE CURRENT IN TAX CALCULATION
		
		UPDATE Contribution_Projection SET Grade_Current=isnull(B.GRADE_CURRENT,0) FROM Contribution_Projection A,
		(SElECT EMPLOYEE_ID,SUM(AMOUNT) as GRADE_CURRENT from (
			SELECT EMPLOYEE_ID,AMOUNT from Payable a inner join StaticDataDetail s on a.BENEFIT_ID=s.ROWID 
			where s.TYPE_ID=37
				UNION ALL
			SELECT A.Employee_id, CASE WHEN ADD_DEDUCT='D' THEN amount*-1 ELSE AMOUNT END AS AMOUNT from AdhocPayment a with (nolock)
			INNER JOIN  StaticDataDetail c with (nolock)on a.HEAD_id=C.rowid
			WHERE C.TYPE_ID=37
			AND (A.APPLIED_DATE IS NULL)) q group by EMPLOYEE_ID 
		)B WHERE A.Emp_Id=B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth
	
	
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
	--UPDATING GRADE TO BE PAID IN TAX CALCULATION
					
		UPDATE Contribution_Projection SET Grade_Remaining=isnull(B.GRADE_REMAINING*@remainMonth,0) FROM Contribution_Projection A,
		(SELECT EMPLOYEE_ID,SUM(AMOUNT) as GRADE_REMAINING FROM Payable a inner join StaticDataDetail s on a.BENEFIT_ID=s.ROWID where s.TYPE_ID=37
		GROUP BY EMPLOYEE_ID )B WHERE A.Emp_Id=B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth
		
		
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
/* End Grade*/		

/* Start Allowance*/

		--UPDATING ALLOWANCE PAID IN TAX CALCULATION
		UPDATE Contribution_Projection SET Allowance_Paid=isnull(B.PAID_ALLOWANCE,0) FROM Contribution_Projection A,  
		(SElECT EMPLOYEE_ID,SUM(PAID_AMOUNT) as PAID_ALLOWANCE from (
		
			SELECT EMPLOYEE_ID,PAID_AMOUNT AS PAID_AMOUNT from PayableHistory a inner join StaticDataDetail s on a.BENEFIT_ID=s.ROWID 
			where s.TYPE_ID=38
			
				UNION ALL
				
			SELECT A.Employee_id, CASE WHEN ADD_DEDUCT='D' THEN amount*-1 ELSE AMOUNT END AS AMOUNT from AdhocPayment a with (nolock)
			INNER JOIN  StaticDataDetail c with (nolock)on a.HEAD_id=C.rowid
			WHERE C.TYPE_ID=38
			AND A.APPLIED_DATE BETWEEN @yearStartDate AND  @monthEndDate
			
			) q 	GROUP BY EMPLOYEE_ID
		)B WHERE A.Emp_Id =B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth
	
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
		--UPDAING ALLOWANCE CURRENT IN TAX CALCULATION
		
		UPDATE Contribution_Projection SET Allowance_Current=isnull(B.ALLOWANCE_CURRENT,0) FROM Contribution_Projection A,
		(SElECT EMPLOYEE_ID,SUM(PAID_AMOUNT) as ALLOWANCE_CURRENT from (
			SELECT EMPLOYEE_ID,AMOUNT AS PAID_AMOUNT from Payable a inner join StaticDataDetail s on a.BENEFIT_ID=s.ROWID 
			where s.TYPE_ID=38
				UNION ALL
			SELECT A.Employee_id, CASE WHEN ADD_DEDUCT='D' THEN amount*-1 ELSE AMOUNT END AS AMOUNT from AdhocPayment a with (nolock)
			INNER JOIN  StaticDataDetail c with (nolock)on a.HEAD_id=C.rowid
			WHERE C.TYPE_ID=38
			AND A.APPLIED_DATE IS NULL 
			
			) q group by EMPLOYEE_ID 
		)B WHERE A.Emp_Id=B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth
	
	
	IF (@@ERROR <> 0) GOTO QuitWithRollback
	
	
	--UPDATING ALLOWANCE TO BE PAID IN TAX CALCULATION
					
		UPDATE Contribution_Projection SET Allowance_Remaining=isnull(B.ALLOWANCE_REMAINING*@remainMonth,0) FROM Contribution_Projection A,
		(SELECT EMPLOYEE_ID,SUM(AMOUNT) as ALLOWANCE_REMAINING FROM Payable a inner join StaticDataDetail s on a.BENEFIT_ID=s.ROWID where s.TYPE_ID=38
		GROUP BY EMPLOYEE_ID )B WHERE A.Emp_Id=B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth
		
		
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
/* End Allowance*/

/* Start Adhoc Benefits Calculation*/
	--UPDATING ADHOC BENEFITS PAID IN TAX CALCULATION
		UPDATE Contribution_Projection SET Adhoc_Benefits_Paid=isnull(B.ADHOC_BENEFITS_PAID,0) FROM Contribution_Projection A,  
			(SELECT A.Employee_id, SUM(AMOUNT) AS ADHOC_BENEFITS_PAID from AdhocPayment a with (nolock)
			INNER JOIN  StaticDataDetail c with (nolock)on a.HEAD_id=C.rowid
			WHERE C.TYPE_ID=41
			AND A.APPLIED_DATE BETWEEN @yearStartDate AND @monthEndDate GROUP BY A.Employee_id
		)B WHERE A.Emp_Id =B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth
	
	--UPDATING ADHOC BENEFITS CURRENT MONTH IN TAX CALCULATION		
		UPDATE Contribution_Projection SET Adhoc_Benefits_This_Month=isnull(B.ADHOC_BENEFITS_CURRENT,0) 
		FROM Contribution_Projection A,  
			(SELECT A.Employee_id, SUM(AMOUNT) AS ADHOC_BENEFITS_CURRENT 
			from AdhocPayment a with (nolock)
			INNER JOIN  StaticDataDetail c with (nolock)on a.HEAD_id=C.rowid
			WHERE C.TYPE_ID=41
			AND A.APPLIED_DATE IS NULL 
			GROUP BY A.Employee_id
		)B WHERE A.Emp_Id =B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth
		
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
/* End Adhoc Benefits Calculation*/

/*Start Interest Benefits for Taxation*/
	--UPDATING INTEREST BENEFITS IN TAX CALCULATION
	UPDATE Contribution_Projection SET Interest_Benefit=isnull(B.INTEREST_BENEFITS,0) 
	FROM Contribution_Projection A,  
	(select EMPLOYEE_ID,SUM(TAXABLE_INT_AMT) as INTEREST_BENEFITS 
	from InterestBenefitsOnlyForTaxSetting 
	WHERE FISCAL_YEAR=@fiscalYear 
	GROUP BY EMPLOYEE_ID)B 
	WHERE A.Emp_Id=B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth
	
	IF (@@ERROR <> 0) GOTO QuitWithRollback
	
/*End Interest Benefits for Taxation*/

/*Start House Benefits for Taxation*/
	--UPDATING HOUSE BENEFITS IN TAX CALCULATION
		UPDATE Contribution_Projection SET House_Benefit=isnull(B.HOUSE_BENEFITS,0) FROM Contribution_Projection A,  
		 (SELECT Y.EMP_ID,(Y.HOUSE_FACILITY_RATE*(Y.BASIC+Y.GRADE+Y.ALLOWANCE))/100 AS HOUSE_BENEFITS   FROM 
		 (SELECT  A.EMP_ID, HOUSE_FACILITY_RATE,
		 CASE WHEN  ISNULL(SUBSTRING(HOUSE_FACILITY_OF,1,2),0)='36' THEN Basic_Salary_Paid +Basic_Salary_Current +Basic_Salary_Remaining  ELSE 0 END  AS BASIC ,
		 CASE WHEN  ISNULL(SUBSTRING(HOUSE_FACILITY_OF,4,2),0)='37' THEN Grade_Paid + Grade_Current +Grade_Remaining  ELSE 0 END  AS GRADE ,
		 CASE WHEN  ISNULL(SUBSTRING(HOUSE_FACILITY_OF,7,2),0)='38' THEN Allowance_Paid +Allowance_Current + Allowance_Remaining ELSE 0 END  AS ALLOWANCE
		 FROM Contribution_Projection A,TaxRuleSetup B
		 WHERE  A.FY_ID=B.FY_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth) Y INNER JOIN  Employee Z  ON  Y.Emp_Id=Z.EMPLOYEE_ID
		  AND Z.AVAILED_HOUSE_RENT_FACILITY='Y')B WHERE A.Emp_Id=B.Emp_Id AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth


		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
		
/*End House Benefits for Taxation*/


/*Start Vehicle Benefits for Taxation*/
	--UPDATING Vehicle BENEFITS IN TAX CALCULATION
	UPDATE Contribution_Projection SET Vehicle_Benift=isnull(B.VEHICLE_BENIFIT,0) FROM Contribution_Projection A,  
		 (SELECT Y.EMP_ID,(Y.VHCL_FACILITY_RATE*(Y.BASIC+Y.GRADE+Y.ALLOWANCE))/100 AS VEHICLE_BENIFIT   FROM 
		 (SELECT  A.EMP_ID, VHCL_FACILITY_RATE,
		 CASE WHEN  ISNULL(SUBSTRING(VHCL_FACILITY_OF,1,2),0)='36' THEN Basic_Salary_Paid +Basic_Salary_Current +Basic_Salary_Remaining  ELSE 0 END  AS BASIC ,
		 CASE WHEN  ISNULL(SUBSTRING(VHCL_FACILITY_OF,4,2),0)='37' THEN Grade_Paid + Grade_Current +Grade_Remaining  ELSE 0 END  AS GRADE ,
		 CASE WHEN  ISNULL(SUBSTRING(VHCL_FACILITY_OF,7,2),0)='38' THEN Allowance_Paid +Allowance_Current + Allowance_Remaining ELSE 0 END  AS ALLOWANCE
		 FROM Contribution_Projection A,TaxRuleSetup B
		 WHERE  A.FY_ID=B.FY_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth) Y INNER JOIN  Employee Z  ON  Y.Emp_Id=Z.EMPLOYEE_ID
		  AND Z.AVAAILED_VEHICLE_FACILITY='Y')B WHERE A.Emp_Id=B.Emp_Id AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth
	
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
		
/*End Vehicle Benefits for Taxation*/

/*Start Pension Benefits for Taxation*/
	UPDATE Contribution_Projection SET Pension_Income=isnull(B.PENSION_AMOUNT,0) FROM Contribution_Projection A,  
		 (SELECT EMPLOYEE_ID,PENSION_AMOUNT FROM Employee 
		 WHERE PENSION_AMOUNT>0)B WHERE A.Emp_Id=B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth

	IF (@@ERROR <> 0) GOTO QuitWithRollback
	
/*End Pension Benefits for Taxation*/



/*Start Insurance Benefits for Taxation*/

	UPDATE Contribution_Projection SET Premium_Paid_Employer=isnull(B.PREMIUM_PAID,0) 
	FROM Contribution_Projection A,  
		  (SELECT I.EMPLOYEE_ID,SUM(IP.PAYMENT_AMOUNT) AS PREMIUM_PAID 
		  from InsurancePremium IP INNER JOIN Insurance I ON IP.INSURANCE_ID=I.ID 
			WHERE I.PREMIUM_PAYER='EMPLOYER' AND 
		  IP.PAYMENT_DATE BETWEEN @yearStartDate and @yearEndDate 
		  GROUP BY I.EMPLOYEE_ID)B 
	  WHERE A.Emp_Id=B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth

	IF (@@ERROR <> 0) GOTO QuitWithRollback
	
/*End Insurance Benefits for Taxation*/


/*Start Contribution Paid  By Employer for Taxation*/

if cast(@runMonth as int)<>4
begin
	UPDATE Contribution_Projection SET Contri_Paid_Employer=isnull(B.CONTRI_PAID,0) 
	FROM Contribution_Projection A,  
	  (
		SELECT  EMPLOYEE_ID, SUM (CONTRI_PAID) AS CONTRI_PAID  
		FROM (
			  SELECT EMPLOYEE_ID,AMOUNT_EMPLOYER AS CONTRI_PAID 
			  FROM ContributionHistory
			  WHERE FY_ID=@fiscalYear  			   

			   UNION ALL
			   
			  SELECT EMPLOYEE_ID,cast(isnull(CONTB_AMOUNT_EMPLOYER,0) as money) as  CONTRI_PAID
			  FROM Adhoc_Contribution 
			  WHERE CONTB_DATE BETWEEN @yearStartDate AND DATEADD(DAY,-1, @monthStartDate)

			  
		) Q GROUP BY EMPLOYEE_ID
	  )B WHERE A.Emp_Id=B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth
end

	IF (@@ERROR <> 0) GOTO QuitWithRollback
	
/*End Contribution Paid By Employer for Taxation*/

/*Start Contribution Paid This Month By  Employer for Taxation*/
	UPDATE Contribution_Projection SET Contri_This_Month_Employer=isnull(B.CONTRI_THIS_MONTH,0) FROM Contribution_Projection A,  
	  (
			-----FOR FLAT AMOUNT BY EMPLOYER-----
			SELECT Z.EMPLOYEE_ID, SUM (Z.CONTRI_THIS_MONTH) AS CONTRI_THIS_MONTH FROM 			
			(			
			select a.EMPLOYEE_ID,  VALUE_EMPLOYER as CONTRI_THIS_MONTH
			from Contribution a with (nolock) inner join Employee b with (nolock)
			on a.EMPLOYEE_ID=b.EMPLOYEE_ID
			where a.FLAG_EMPLOYER='F'
			and b.EMP_STATUS=458
			and a.CONTRIBUTION_FROM_DATE_EMPLOYER<=@monthEndDate
			UNION ALL
		   
			SELECT EMPLOYEE_ID,isnull(CONTB_AMOUNT_EMPLOYER,0) 
			FROM Adhoc_Contribution 
			WHERE CONTB_DATE BETWEEN @monthStartDate AND @monthEndDate
			
			UNION ALL
			-----FOR % BASIS BY EMPLOYER-----
			SELECT EMPLOYEE_ID,(q.VALUE_EMPLOYER * (BASIC+GRADE+ALLOWANCE))/100 AS CONTRI_THIS_MONTH
			FROM (
			SELECT EMPLOYEE_ID, VALUE_EMPLOYER,
			CASE WHEN  ISNULL(SUBSTRING(CONTRIBUTION_BASIS_EMPLOYER,1,2),0)='36' THEN Basic_Salary_Current   ELSE 0 END  AS BASIC ,
			CASE WHEN  ISNULL(SUBSTRING(CONTRIBUTION_BASIS_EMPLOYER,4,2),0)='37' THEN Grade_Current   ELSE 0 END  AS GRADE ,
			CASE WHEN  ISNULL(SUBSTRING(CONTRIBUTION_BASIS_EMPLOYER,7,2),0)='38' THEN Allowance_Current  ELSE 0 END  AS ALLOWANCE
		 	FROM  Contribution A,  Contribution_Projection B
			WHERE A.EMPLOYEE_ID=B.Emp_Id
			AND B.FY_ID=@fiscalYear AND B.Run_Month=@runMonth
			AND A.FLAG_EMPLOYER='P'
			AND A.CONTRIBUTION_FROM_DATE_EMPLOYER<=@monthEndDate) Q
			) Z GROUP BY EMPLOYEE_ID
			  
	  )B WHERE A.Emp_Id=B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth

	 IF (@@ERROR <> 0) GOTO QuitWithRollback	 
	 
/*End Contribution Paid This Month By  Employer for Taxation*/

/*Start Contribution to be Paid By  Employer for Taxation*/
	UPDATE Contribution_Projection SET Contri_To_Be_Paid_Employer=isnull(B.CONTRI_TO_PAY,0) FROM Contribution_Projection A,  
	  (	  
			-----FOR FLAT AMOUNT BY EMPLOYER-----
			SELECT Z.EMPLOYEE_ID, SUM (Z.CONTRI_TO_PAY) AS CONTRI_TO_PAY 
			FROM 			
			(			
			select a.EMPLOYEE_ID,  VALUE_EMPLOYER*@remainMonth as CONTRI_TO_PAY
			from Contribution a with (nolock) inner join Employee b with (nolock)
			on a.EMPLOYEE_ID=b.EMPLOYEE_ID
			where a.FLAG_EMPLOYER='F'
			and b.EMP_STATUS=458
			and a.CONTRIBUTION_FROM_DATE_EMPLOYER<=@monthEndDate
			
			UNION ALL
			-----FOR % BASIS BY EMPLOYER-----
			SELECT EMPLOYEE_ID,(q.VALUE_EMPLOYER * (BASIC+GRADE+ALLOWANCE))/100 AS CONTRI_TO_PAY
			FROM (
			SELECT EMPLOYEE_ID, VALUE_EMPLOYER,
			CASE WHEN  ISNULL(SUBSTRING(CONTRIBUTION_BASIS_EMPLOYER,1,2),0)='36' THEN Basic_Salary_Remaining   ELSE 0 END  AS BASIC ,
			CASE WHEN  ISNULL(SUBSTRING(CONTRIBUTION_BASIS_EMPLOYER,4,2),0)='37' THEN Grade_Remaining   ELSE 0 END  AS GRADE ,
			CASE WHEN  ISNULL(SUBSTRING(CONTRIBUTION_BASIS_EMPLOYER,7,2),0)='38' THEN Allowance_Remaining  ELSE 0 END  AS ALLOWANCE
		 	FROM  Contribution A,  Contribution_Projection B
			WHERE A.EMPLOYEE_ID=B.Emp_Id
			AND B.FY_ID=@fiscalYear AND B.Run_Month=@runMonth
			AND A.FLAG_EMPLOYER='P'
			AND A.CONTRIBUTION_FROM_DATE_EMPLOYER<=@monthEndDate) Q
			) Z GROUP BY EMPLOYEE_ID
			  
	  )B WHERE A.Emp_Id=B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth

	  IF (@@ERROR <> 0) GOTO QuitWithRollback
	  
	  
/*End Contribution to be Paid  By  Employer for Taxation*/

/*Start Contribution Paid  By Employee for Taxation*/
if cast(@runMonth as int)<>4
begin
	UPDATE Contribution_Projection SET Contri_Deducted_Employee=isnull(B.CONTRI_PAID,0) FROM Contribution_Projection A,  
	  (
		SELECT  EMPLOYEE_ID, SUM (CONTRI_PAID) AS CONTRI_PAID  FROM (
			  SELECT EMPLOYEE_ID,AMOUNT_EMPLOYEE AS CONTRI_PAID 
			  FROM ContributionHistory
			  WHERE FY_ID=@fiscalYear 
			     UNION ALL
			  SELECT EMPLOYEE_ID,isnull(CONTB_AMOUNT_EMPLOYEE ,0)
			  FROM Adhoc_Contribution 
			  WHERE CONTB_DATE BETWEEN @yearStartDate AND DATEADD(DAY,-1,@monthStartDate)
		) Q GROUP BY EMPLOYEE_ID
	  )B WHERE A.Emp_Id=B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth
end
	  IF (@@ERROR <> 0) GOTO QuitWithRollback
	  
/*End Contribution Paid By Employee for Taxation*/

/*Start Contribution Paid This Month By  Employee for Taxation*/
	UPDATE Contribution_Projection SET Contri_Current_Employee=isnull(B.CONTRI_THIS_MONTH,0) 
	FROM Contribution_Projection A,  
	  (
			-----FOR FLAT AMOUNT BY EMPLOYEE-----
			SELECT Z.EMPLOYEE_ID, SUM (Z.CONTRI_THIS_MONTH) AS CONTRI_THIS_MONTH FROM 			
			(			
			select a.EMPLOYEE_ID,VALUE_EMPLOYEE as CONTRI_THIS_MONTH
			from Contribution a with (nolock) inner join Employee b with (nolock)
			on a.EMPLOYEE_ID=b.EMPLOYEE_ID
			where a.FLAG_EMPLOYEE='F'
			and b.EMP_STATUS=458
			and a.CONTRIBUTION_FROM_DATE_EMPLOYEE<=@monthEndDate
			
			 UNION ALL
			
			SELECT EMPLOYEE_ID,isnull(CONTB_AMOUNT_EMPLOYEE,0) 
			FROM Adhoc_Contribution 
			WHERE CONTB_DATE BETWEEN @monthStartDate AND @monthEndDate
			
			UNION ALL
			
			-----FOR % BASIS BY EMPLOYEE-----
			SELECT EMPLOYEE_ID,(q.VALUE_EMPLOYEE * (BASIC+GRADE+ALLOWANCE))/100 AS CONTRI_THIS_MONTH
			FROM (
			SELECT EMPLOYEE_ID, VALUE_EMPLOYEE,
			CASE WHEN  ISNULL(SUBSTRING(CONTRIBUTION_BASIS_EMPLOYEE,1,2),0)='36' THEN Basic_Salary_Current   ELSE 0 END  AS BASIC ,
			CASE WHEN  ISNULL(SUBSTRING(CONTRIBUTION_BASIS_EMPLOYEE,4,2),0)='37' THEN Grade_Current   ELSE 0 END  AS GRADE ,
			CASE WHEN  ISNULL(SUBSTRING(CONTRIBUTION_BASIS_EMPLOYEE,7,2),0)='38' THEN Allowance_Current  ELSE 0 END  AS ALLOWANCE
		 	FROM  Contribution A,  Contribution_Projection B
			WHERE A.EMPLOYEE_ID=B.Emp_Id
			AND B.FY_ID=@fiscalYear AND B.Run_Month=@runMonth
			AND A.FLAG_EMPLOYEE='P'
			AND A.CONTRIBUTION_FROM_DATE_EMPLOYEE<=@monthEndDate) Q
			) Z 
			GROUP BY EMPLOYEE_ID  
	  )B 
	  WHERE A.Emp_Id=B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth

	  IF (@@ERROR <> 0) GOTO QuitWithRollback
		
/*End Contribution Paid This Month By  Employee for Taxation*/


/*Start Contribution to be Paid By  Employee for Taxation*/
	UPDATE Contribution_Projection SET Contri_Remaining_Employee=isnull(B.CONTRI_TO_PAY,0) FROM Contribution_Projection A,  
	  (
			-----FOR FLAT AMOUNT BY EMPLOYEE-----
			SELECT Z.EMPLOYEE_ID, SUM (Z.CONTRI_TO_PAY) AS CONTRI_TO_PAY FROM 			
			(			
				select a.EMPLOYEE_ID,  VALUE_EMPLOYEE*@remainMonth as CONTRI_TO_PAY
				from Contribution a with (nolock) inner join Employee b with (nolock)
				on a.EMPLOYEE_ID=b.EMPLOYEE_ID
				where a.FLAG_EMPLOYEE='F'
				and b.EMP_STATUS=458
				and a.CONTRIBUTION_FROM_DATE_EMPLOYEE<=@monthEndDate
				
			UNION ALL
			
			-----FOR % BASIS BY EMPLOYEE-----
			SELECT EMPLOYEE_ID,(q.VALUE_EMPLOYEE * (BASIC+GRADE+ALLOWANCE))/100 AS CONTRI_TO_PAY
			FROM (
				SELECT EMPLOYEE_ID, VALUE_EMPLOYEE,
				CASE WHEN  ISNULL(SUBSTRING(CONTRIBUTION_BASIS_EMPLOYEE,1,2),0)='36' THEN Basic_Salary_Remaining   ELSE 0 END  AS BASIC ,
				CASE WHEN  ISNULL(SUBSTRING(CONTRIBUTION_BASIS_EMPLOYEE,4,2),0)='37' THEN Grade_Remaining   ELSE 0 END  AS GRADE ,
				CASE WHEN  ISNULL(SUBSTRING(CONTRIBUTION_BASIS_EMPLOYEE,7,2),0)='38' THEN Allowance_Remaining  ELSE 0 END  AS ALLOWANCE
		 		FROM  Contribution A,  Contribution_Projection B
				WHERE A.EMPLOYEE_ID=B.Emp_Id
				AND B.FY_ID=@fiscalYear AND B.Run_Month=@runMonth
				AND A.FLAG_EMPLOYEE='P'
				AND A.CONTRIBUTION_FROM_DATE_EMPLOYEE<=@monthEndDate) Q
			) Z GROUP BY EMPLOYEE_ID
	  )B WHERE A.Emp_Id=B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth

	  IF (@@ERROR <> 0) GOTO QuitWithRollback
	
/*End Contribution to be Paid  By  Employee for Taxation*/

/*Start Donation Deduction for Taxation*/
	
	--UPDATING DONATION SPECIAL FOR TAX CALCULATION
		UPDATE Contribution_Projection SET Donation_Special=isnull(B.AMOUNT_SPECIAL,0) 
		FROM Contribution_Projection A,  	
		(SELECT EMPLOYEE_ID,SUM((DONATION_AMOUNT*ISNULL(GOVT_APPROVED_RATE,0))/100) AS AMOUNT_SPECIAL  
			from Donations 
			WHERE DONATION_DATE
			BETWEEN @yearStartDate AND @yearEndDate 
			GROUP BY EMPLOYEE_ID)B 
		WHERE A.Emp_Id=B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth
		
		IF (@@ERROR <> 0) GOTO QuitWithRollback

	--UPDATING DONATION NORMAL FOR TAX CALCULATION	
		UPDATE Contribution_Projection SET Donation_Special=isnull(X.DONATION_AMT,0) FROM Contribution_Projection A, 
		(SELECT EMPLOYEE_ID,CASE WHEN DONATION_HIGH_LOW_FLG='L' THEN dbo.FuncGetMIN(AMT1,AMT2,AMT3,NULL,NULL)  WHEN DONATION_HIGH_LOW_FLG='H'
			 THEN dbo.FuncGetMax(AMT1,AMT2,AMT3,NULL,NULL) END AS DONATION_AMT FROM 
			(SELECT A.EMPLOYEE_ID,DONATION_HIGH_LOW_FLG, A.AMOUNT_NORMAL AS AMT1,(B.ADJUSTED_INCOME*C.DONATION_DED_RATE)/100  AS AMT2, C.DONATION_COMP_AMT AS AMT3 
			FROM 
				(SELECT EMPLOYEE_ID,@fiscalYear AS FY_ID, SUM(DONATION_AMOUNT) AS AMOUNT_NORMAL  
				from Donations 
				WHERE DONATION_DATE
					BETWEEN @yearStartDate AND @yearEndDate  AND GOVT_APPROVED_RATE=0
				GROUP BY EMPLOYEE_ID)A,
				(SELECT EMP_ID,FY_ID,(Basic_Salary_Paid+Basic_Salary_Current+Basic_Salary_Remaining+Grade_Paid+Grade_Current
					+Grade_Remaining+Allowance_Paid+Allowance_Current+Allowance_Remaining+Adhoc_Benefits_Paid+Adhoc_Benefits_This_Month
					+Interest_Benefit+Vehicle_Benift+House_Benefit+Pension_Income+Premium_Paid_Employer+Contri_Paid_Employer+Contri_This_Month_Employer
					+Contri_To_Be_Paid_Employer-Contri_Paid_Employer-Contri_This_Month_Employer-Contri_To_Be_Paid_Employer
					-Contri_Deducted_Employee-Contri_Current_Employee-Contri_Remaining_Employee) AS ADJUSTED_INCOME 
					FROM Contribution_Projection 
					WHERE FY_ID=@fiscalYear AND 
						Run_Month=@runMonth)B,
				(SELECT FY_ID,DONATION_DED_RATE,DONATION_COMP_AMT,DONATION_HIGH_LOW_FLG 
					FROM TaxRuleSetup 
					where FY_ID=@fiscalYear) C
					WHERE A.FY_ID=B.FY_ID AND B.FY_ID=C.FY_ID AND A.EMPLOYEE_ID=B.Emp_Id)D )X 
					WHERE A.Emp_Id=X.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth
			
					IF (@@ERROR <> 0) GOTO QuitWithRollback
					
/*End Donation Deduction for Taxation*/

/*Start Premium Deduction for Taxation*/

	--UPDATING PREMIMUM AMOUNT FOR TAX CULCULATION	
	UPDATE Contribution_Projection SET Premium_Deduction=isnull(X.PREMIUM_AMT,0) FROM Contribution_Projection A, 
	(SELECT EMPLOYEE_ID,CASE WHEN INSURANCE_HIGH_LOW_FLG='L' THEN dbo.FuncGetMIN(AMT1,AMT2,AMT3,NULL,NULL)  WHEN INSURANCE_HIGH_LOW_FLG='H'
			 THEN dbo.FuncGetMax(AMT1,AMT2,AMT3,NULL,NULL) END AS PREMIUM_AMT 
		FROM 
		(SELECT A.EMPLOYEE_ID,CASE WHEN INSURANCE_DED_RATE_OF='PREMIUM' THEN (B.PREMIUM_PAID*C.INSURANCE_DED_RATE)/100 ELSE 
		(A.INSURED_AMT*C.INSURANCE_DED_RATE)/100 END AS AMT1,C.INSURANCE_COMP_AMT AS AMT2,CASE WHEN 
		(INSURANCE_COMP_ACTUAL_FLG='Y' AND INSURANCE_DED_RATE_OF='PREMIUM') THEN B.PREMIUM_PAID WHEN 
		(INSURANCE_COMP_ACTUAL_FLG='Y' AND INSURANCE_DED_RATE_OF<>'PREMIUM') THEN  A.INSURED_AMT ELSE 0 END AS AMT3,INSURANCE_HIGH_LOW_FLG FROM 
		(SELECT EMPLOYEE_ID,@fiscalYear AS FY_ID,SUM(INSURED_AMOUNT) AS INSURED_AMT 
		FROM Insurance 
		WHERE EXPIRY_DATE>=@yearEndDate 
			GROUP BY EMPLOYEE_ID)A,
		(SELECT I.EMPLOYEE_ID,SUM(IP.PAYMENT_AMOUNT) AS PREMIUM_PAID 
			from InsurancePremium IP 
				INNER JOIN Insurance I ON IP.INSURANCE_ID=I.ID
			WHERE IP.PAYMENT_DATE BETWEEN @yearStartDate and @yearEndDate 
			GROUP BY I.EMPLOYEE_ID)B,
		(SELECT FY_ID,INSURANCE_COMP_ACTUAL_FLG,INSURANCE_COMP_AMT,INSURANCE_DED_RATE,INSURANCE_DED_RATE_OF,INSURANCE_HIGH_LOW_FLG  
			FROM TaxRuleSetup 
			WHERE FY_ID=@fiscalYear)C 
			WHERE A.EMPLOYEE_ID=B.EMPLOYEE_ID AND A.FY_ID= C.FY_ID)Z)X		
			 WHERE A.Emp_Id=X.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth	
			 
			 IF (@@ERROR <> 0) GOTO QuitWithRollback	
	
/*End Premium Deduction for Taxation*/

/* Start Disabled Deduction for Taxation*/
	--UPDATING DISABLED AMOUNT FOR TAX CULCULATION
	
	UPDATE Contribution_Projection SET Disabled_Deduction=isnull(D.DISABLED_AMT,0) FROM Contribution_Projection A, 
		(SELECT C.EMPLOYEE_ID,CASE WHEN C.DISABLE_HIGH_LOW_FLG='L' THEN dbo.FuncGetMIN(C.AMT1,C.AMT2,NULL,NULL,NULL) WHEN C.DISABLE_HIGH_LOW_FLG='H' THEN
		dbo.FuncGetMax(AMT1,AMT2,NULL,NULL,NULL) END AS DISABLED_AMT 
		FROM 
		(SELECT A.EMPLOYEE_ID,B.DISABLE_COMP_AMT AS AMT1,CASE WHEN A.MARITAL_STATUS='U' THEN B.UNMARRIED_DISABLED ELSE B.MARRIED_DISABLED 
			END AS AMT2,B.DISABLE_HIGH_LOW_FLG 
			FROM
			(SELECT @fiscalYear AS FY_ID,EMPLOYEE_ID,MARITAL_STATUS FROM Employee WHERE IS_DISABLED='Y')A,
			(SELECT FY_ID,DISABLE_COMP_AMT,CASE WHEN DISABLE_DED_RATE_OF='FIRST SLAB' THEN (MARRIED_SLAB1*DISABLE_DED_RATE)/100 ELSE (MARRIED_SLAB2*DISABLE_DED_RATE)/100 END 
			AS MARRIED_DISABLED ,CASE WHEN DISABLE_DED_RATE_OF='FIRST SLAB' THEN (UNMARRIED_SLAB1*DISABLE_DED_RATE)/100 ELSE (UNMARRIED_SLAB2*DISABLE_DED_RATE)/100 END 
			AS UNMARRIED_DISABLED,DISABLE_HIGH_LOW_FLG FROM TaxRuleSetup WHERE FY_ID=@fiscalYear)B WHERE A.FY_ID=B.FY_ID)C)D	
	WHERE A.Emp_Id=D.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth	

	IF (@@ERROR <> 0) GOTO QuitWithRollback
	
/* End Disabled Deduction for Taxation*/

/* Start Pension Deduction for Taxation*/
		--UPDATING PENSION AMOUNT FOR TAX CULCULATION
		UPDATE Contribution_Projection SET Pension_Deduction=isnull(D.PENSION_AMT,0) FROM Contribution_Projection A, 
		(SELECT C.EMPLOYEE_ID,CASE WHEN C.PENSION_HIGH_LOW_FLG='L' THEN dbo.FuncGetMIN(C.AMT1,C.AMT2,NULL,NULL,NULL) WHEN C.PENSION_HIGH_LOW_FLG='H' THEN
		dbo.FuncGetMax(AMT1,AMT2,NULL,NULL,NULL) END AS PENSION_AMT FROM 
		(SELECT A.EMPLOYEE_ID,A.PENSION_AMOUNT AS AMT1,CASE WHEN A.MARITAL_STATUS='U' THEN B.UNMARRIED_PENSION ELSE B.MARRIED_PENSION
			END AS AMT2,B.PENSION_HIGH_LOW_FLG FROM
			(SELECT @fiscalYear AS FY_ID,EMPLOYEE_ID,MARITAL_STATUS,PENSION_AMOUNT FROM Employee WHERE IS_PENSION_HOLDER='Y')A,
			(SELECT FY_ID,CASE WHEN PENSION_DED_RATE_OF='FIRST SLAB' THEN (MARRIED_SLAB1*PENSION_DED_RATE)/100 ELSE (MARRIED_SLAB2*PENSION_DED_RATE)/100 END 
				AS MARRIED_PENSION ,CASE WHEN PENSION_DED_RATE_OF='FIRST SLAB' THEN (UNMARRIED_SLAB1*PENSION_DED_RATE)/100 ELSE (UNMARRIED_SLAB2*PENSION_DED_RATE)/100 END 
				AS UNMARRIED_PENSION,PENSION_HIGH_LOW_FLG 
				FROM TaxRuleSetup 
				WHERE FY_ID=@fiscalYear)B 
				WHERE A.FY_ID=B.FY_ID)C)D		
			WHERE A.Emp_Id=D.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth	

		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
/* End Pension Deduction for Taxation*/
/* Start Retirement Deduction for Taxation*/
		UPDATE Contribution_Projection SET Retirement_Deduction=isnull(Z.RETIREMENT_AMT,0) 
		FROM Contribution_Projection A, 
		(SELECT X.EMPLOYEE_ID,CASE WHEN X.CONTRIBUTION_HIGH_LOW_FLG='L' THEN dbo.FuncGetMIN(X.AMT1,X.AMT2,X.AMT3,NULL,NULL) WHEN X.CONTRIBUTION_HIGH_LOW_FLG='H' THEN
			dbo.FuncGetMax(AMT1,AMT2,AMT3,NULL,NULL) END AS RETIREMENT_AMT FROM 
		
			(SELECT A.Emp_Id AS EMPLOYEE_ID,A.AMT1,(A.AMT2*B.UP)/B.DOWN AS AMT2,B.AMT3,B.CONTRIBUTION_HIGH_LOW_FLG 
			FROM 
					(SELECT FY_id,Emp_Id,
					Contri_Paid_Employer+Contri_This_Month_Employer+Contri_To_Be_Paid_Employer+Contri_Deducted_Employee+Contri_Current_Employee
					+Contri_Remaining_Employee as AMT1,(Basic_Salary_Paid+Basic_Salary_Current+Basic_Salary_Remaining+Grade_Paid+Grade_Current
					+Grade_Remaining+Allowance_Paid+Allowance_Current+Allowance_Remaining+Adhoc_Benefits_Paid+Adhoc_Benefits_This_Month+
					Interest_Benefit+Vehicle_Benift+House_Benefit+Pension_Income+Premium_Paid_Employer+
					Contri_Paid_Employer+Contri_This_Month_Employer+Contri_To_Be_Paid_Employer) as AMT2
					FROM  Contribution_Projection)A,
					(SELECT FY_ID,CONTRIBUTION_COMP_AMT AS AMT3, 
					cast(substring(CONTRIBUTION_FRACTION,1,CHARINDEX('/', CONTRIBUTION_FRACTION,1)-1)as int)as UP,
					cast(substring(CONTRIBUTION_FRACTION,CHARINDEX('/', CONTRIBUTION_FRACTION,1)+1, LEN(CONTRIBUTION_FRACTION))as int)as DOWN,
					CONTRIBUTION_HIGH_LOW_FLG  
				FROM TaxRuleSetup 
				WHERE FY_ID=@fiscalYear) B
				WHERE A.FY_ID=B.FY_ID) X)Z 
			WHERE A.Emp_Id=Z.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth	

			IF (@@ERROR <> 0) GOTO QuitWithRollback
			
/* End Retirement Deduction for Taxation*/

/* Start Taxable Income for Taxation*/
	--UPDATING TAXABLE AMOUNT FOR TAX CALCULATION
		UPDATE Contribution_Projection SET Taxable_Amount=isnull((Basic_Salary_Paid+Basic_Salary_Current+Basic_Salary_Remaining+Grade_Paid+Grade_Current
			+Grade_Remaining+Allowance_Paid+Allowance_Current+Allowance_Remaining+Adhoc_Benefits_Paid+Adhoc_Benefits_This_Month+
			Interest_Benefit+Vehicle_Benift+House_Benefit+Pension_Income+Premium_Paid_Employer+
			Contri_Paid_Employer+Contri_This_Month_Employer+Contri_To_Be_Paid_Employer-Premium_Deduction-Pension_Deduction-Disabled_Deduction
			-Retirement_Deduction-Donation_Normal-Donation_Special),0) 
		WHERE FY_ID=@fiscalYear AND Run_Month=@runMonth
		
		IF (@@ERROR <> 0) GOTO QuitWithRollback
			
/* End Taxable Income for Taxation*/

/* Start Taxable Slab1 for Taxation*/
	--UPDATING TAXABLE SLAB1 FOR TAX CALCULATION
			UPDATE Contribution_Projection SET Taxable_Slab1=isnull(Y.TAXABLE_SLAB1,0) FROM Contribution_Projection X, 
				(SELECT B.Emp_Id AS EMPLOYEE_ID,
				CASE 
				WHEN (Marital_Status='U' AND Taxable_Amount>=UNMARRIED_SLAB1) THEN UNMARRIED_SLAB1 
				WHEN (Marital_Status='U' AND Taxable_Amount<UNMARRIED_SLAB1 AND Taxable_Amount>0) THEN Taxable_Amount
				WHEN (Marital_Status='M' AND Taxable_Amount>=MARRIED_SLAB1) THEN MARRIED_SLAB1 
				WHEN (Marital_Status='M' AND Taxable_Amount<MARRIED_SLAB1 AND Taxable_Amount>0) THEN Taxable_Amount
				END AS TAXABLE_SLAB1
				FROM 
				(SELECT FY_ID,MARRIED_SLAB1,UNMARRIED_SLAB1 
					FROM TaxRuleSetup 
					WHERE FY_ID=@fiscalYear)A,
					(SELECT FY_ID,Emp_Id,Marital_Status,Taxable_Amount 
					FROM Contribution_Projection 
					WHERE FY_ID=@fiscalYear AND Run_Month=@runMonth)B
					WHERE A.FY_ID=B.FY_ID)Y 
				WHERE X.Emp_Id=Y.EMPLOYEE_ID AND X.FY_ID=@fiscalYear AND X.Run_Month=@runMonth	
	
	IF (@@ERROR <> 0) GOTO QuitWithRollback
	
/* End Taxable Slab1 for Taxation*/

/* Start Taxable Slab2 for Taxation*/
	--UPDATING TAXABLE SLAB2 FOR TAX CALCULATION
			UPDATE Contribution_Projection SET Taxable_Slab2=isnull(Y.TAXABLE_SLAB2,0) 
			FROM Contribution_Projection X, 
				(SELECT B.Emp_Id AS EMPLOYEE_ID,
				CASE 
				WHEN (Marital_Status='U' AND Taxable_Amount>=UNMARRIED_SLAB2) THEN UNMARRIED_SLAB2 
				WHEN (Marital_Status='U' AND Taxable_Amount<UNMARRIED_SLAB2 AND Taxable_Amount>0) THEN Taxable_Amount
				WHEN (Marital_Status='M' AND Taxable_Amount>=MARRIED_SLAB2) THEN MARRIED_SLAB2 
				WHEN (Marital_Status='M' AND Taxable_Amount<MARRIED_SLAB2 AND Taxable_Amount > 0) THEN Taxable_Amount
				END AS TAXABLE_SLAB2
				FROM 
				(SELECT FY_ID,MARRIED_SLAB2,UNMARRIED_SLAB2 
					FROM TaxRuleSetup 
					WHERE FY_ID=@fiscalYear)A,
				(SELECT FY_ID,Emp_Id,Marital_Status,(Taxable_Amount-Taxable_Slab1) AS Taxable_Amount 
					FROM Contribution_Projection 
					WHERE FY_ID=@fiscalYear AND Run_Month=@runMonth)B
					WHERE A.FY_ID=B.FY_ID)Y 
				WHERE X.Emp_Id=Y.EMPLOYEE_ID AND X.FY_ID=@fiscalYear AND X.Run_Month=@runMonth	
	
			IF (@@ERROR <> 0) GOTO QuitWithRollback
	
/* End Taxable Slab2 for Taxation*/

/* Start Taxable Remaining for Taxation*/
	--UPDATING TAXABLE REMAINING FOR TAX CALCULATION
			UPDATE Contribution_Projection SET Remaining=isnull(( CASE WHEN Taxable_Amount >0 THEN Taxable_Amount ELSE 0 END -Taxable_Slab1-Taxable_Slab2),0) WHERE FY_ID=@fiscalYear AND Run_Month=@runMonth	
			
/* End Taxable Remaining for Taxation*/

/* Start Tax Amount for Taxation*/
	--UPDATING TAX AMOUNT FOR TAX CALCULATION
		UPDATE Contribution_Projection SET Tax_Amount=isnull(Y.TAX_AMOUNT,0) FROM Contribution_Projection X, 
				(
				SELECT Emp_Id,CASE
				 WHEN Marital_Status='M' THEN ((Taxable_Slab1*MARRIED_RATE1)/100+(Taxable_Slab2*MARRIED_RATE2)/100 + (Remaining*MARRIED_RATE3)/100)
				 WHEN Marital_Status='U' THEN ((Taxable_Slab1*UNMARRIED_RATE1)/100+(Taxable_Slab2*UNMARRIED_RATE2)/100 + (Remaining*UNMARRIED_RATE3)/100)
				 END AS TAX_AMOUNT
				 FROM 
					(
					SELECT FY_ID,Emp_Id,Marital_Status,Taxable_Slab1,Taxable_Slab2,Remaining 
						FROM Contribution_Projection 
						WHERE FY_ID=@fiscalYear AND Run_Month=@runMonth)A,
					(
					SELECT FY_ID,MARRIED_RATE1,MARRIED_RATE2,MARRIED_RATE3,UNMARRIED_RATE1,UNMARRIED_RATE2,UNMARRIED_RATE3 
						FROM TaxRuleSetup WHERE 
						FY_ID=@fiscalYear)B 
						WHERE A.FY_ID=B.FY_ID)Y 
				WHERE X.Emp_Id=Y.Emp_Id AND X.FY_ID=@fiscalYear AND X.Run_Month=@runMonth	
				
			IF (@@ERROR <> 0) GOTO QuitWithRollback
			
/* End Tax Amount for Taxation*/

 --UPDATING ADDITIONAL TAX AMOUNT FOR TAX CALCULATION 
        UPDATE Contribution_Projection SET Tax_Amount= Tax_Amount +isnull(Y.ADD_TAX_AMOUNT,0) FROM Contribution_Projection X, 
                (SELECT Emp_Id,CASE 
                 WHEN Marital_Status='M' THEN ((A.Taxable_Amount-AMT_FOR_ADD_TAX)*ADD_TAX_RATE)/100
                 WHEN Marital_Status='U' THEN ((A.Taxable_Amount-AMT_FOR_ADD_TAX)*ADD_TAX_RATE)/100
                 END AS ADD_TAX_AMOUNT 
                 FROM 
                (SELECT FY_ID,Emp_Id,Marital_Status,Taxable_Amount,Remaining 
                    FROM Contribution_Projection 
                    WHERE FY_ID=@fiscalYear AND Run_Month=@runMonth                  
                    )A, 
                (SELECT FY_ID,MARRIED_RATE3,UNMARRIED_RATE3,AMT_FOR_ADD_TAX,ADD_TAX_RATE 
                    FROM TaxRuleSetup WHERE 
                    FY_ID=@fiscalYear)B 
                    WHERE A.FY_ID=B.FY_ID 
                    AND A.Taxable_Amount>B.AMT_FOR_ADD_TAX 
                    )Y 
                WHERE X.Emp_Id=Y.Emp_Id AND X.FY_ID=@fiscalYear AND X.Run_Month=@runMonth     
                 
            IF (@@ERROR <> 0) GOTO QuitWithRollback       

/* Start Tax Collected for Taxation*/
	--UPDATING TAX COLLECTED FOR TAX CALCULATION
		UPDATE Contribution_Projection SET Tax_Collected=isnull(Y.TAX_COLLECTED,0)
		FROM Contribution_Projection X, 
		(				
			SELECT EMP_ID,SUM(TAX_COLLECTED) AS TAX_COLLECTED FROM 
			(
			
			SELECT EMP_ID,cast(SUM(Tax_This_Month) as money) AS TAX_COLLECTED 
				FROM TaxCalculation 
				WHERE FY_ID=@fiscalYear 
				GROUP BY EMP_ID
				
			UNION ALL
			
			SELECT EMPLOYEE_ID,cast(SUM(isnull(TAX_DEDUCTED,0)) as money) AS TAX_COLLECTED 
				FROM AdhocPayment 
				WHERE APPLIED_DATE BETWEEN @yearStartDate AND @yearEndDate 
			GROUP BY EMPLOYEE_ID
			
			)B 
		GROUP BY Emp_Id				
		)Y WHERE X.Emp_Id=Y.Emp_Id AND X.FY_ID=@fiscalYear AND X.Run_Month=@runMonth	
				
	  IF (@@ERROR <> 0) GOTO QuitWithRollback
	  
/* End Tax Collected for Taxation*/

/* Start Tax Discount for Taxation*/
	--UPDATING TAX DISCOUNT FOR TAX CALCULATION
		UPDATE Contribution_Projection SET Tax_Discount=isnull(Y.TAX_DISCOUNT,0) FROM Contribution_Projection X, 
		(	
			SELECT B.EMPLOYEE_ID,(C.Tax_Amount*A.WOMAN_DISC_RATE)/100 AS TAX_DISCOUNT 
			FROM 
			(SELECT FY_ID,WOMAN_DISC_RATE 
				FROM TaxRuleSetup 
				WHERE FY_ID=@fiscalYear)A,
			(SELECT EMPLOYEE_ID 
				FROM Employee 
				WHERE GENDER=211
				)B,
			(SELECT FY_ID,Emp_Id,Tax_Amount 
				FROM Contribution_Projection
				WHERE FY_ID=@fiscalYear AND Run_Month=@runMonth)C 
		 WHERE A.FY_ID=C.FY_ID AND B.EMPLOYEE_ID=C.Emp_Id)Y		
		 WHERE X.Emp_Id=Y.EMPLOYEE_ID AND X.FY_ID=@fiscalYear AND X.Run_Month=@runMonth	
				
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
/* End Tax Discount for Taxation*/


/* Start Tax Remaining for Taxation*/
	--UPDATING TAX REMAINING FOR TAX CALCULATION
		UPDATE Contribution_Projection SET Tax_Remaining=isnull((Tax_Amount-Tax_Collected-Tax_Discount),0) 
		FROM Contribution_Projection 
		WHERE FY_ID=@fiscalYear AND Run_Month=@runMonth	
		
	    IF (@@ERROR <> 0) GOTO QuitWithRollback 
						
/* End Tax Remaining for Taxation*/

/* Start Tax This Month for Taxation*/
	--UPDATING TAX THIS MONTH(CURRENT) FOR TAX CALCULATION	
		--UPDATE Contribution_Projection SET Tax_This_Month=isnull(Tax_Remaining/(@remainMonth+1),0) 
		--FROM Contribution_Projection 
		--WHERE FY_ID=@fiscalYear AND Run_Month=@runMonth		
		/* Start Tax This Month for Taxation*/ 
    --UPDATING TAX THIS MONTH(CURRENT) FOR TAX CALCULATION    
        UPDATE Contribution_Projection SET Tax_This_Month=(CASE WHEN isnull(Tax_Remaining,0)<0 THEN 0 ELSE isnull(Tax_Remaining,0) END)  /(@remainMonth+1) 
        FROM Contribution_Projection 
        WHERE FY_ID=@fiscalYear AND Run_Month=@runMonth        
        
            IF (@@ERROR <> 0) GOTO QuitWithRollback
			
			
	--UPDATING TAX THIS MONTH(CURRENT) FOR NON NEPALI EMPLOYEE IN TAX CALCULATION		
		UPDATE Contribution_Projection SET Tax_This_Month=C.TAX_AMOUNT 
			FROM Contribution_Projection D,
		(SELECT Emp_Id,(BENEFIT_AMOUNT*NON_NEPALI_RATE)/100 AS TAX_AMOUNT 
		FROM 		
		(SELECT FY_ID,NON_NEPALI_RATE 
			FROM TaxRuleSetup 
			WHERE FY_ID=@fiscalYear)A,
		(SELECT FY_ID,Emp_Id,Basic_Salary_Current+Grade_Current+Allowance_Current+Adhoc_Benefits_This_Month+Premium_Paid_Employer AS BENEFIT_AMOUNT
		 FROM Contribution_Projection TC INNER JOIN Employee E ON E.EMPLOYEE_ID=TC.Emp_Id
		 WHERE  E.NATIONALITY='N' AND FY_ID=@fiscalYear AND Run_Month=@runMonth )B 
		 WHERE A.FY_ID=B.FY_ID)C
		 WHERE D.Emp_Id=C.Emp_Id AND D.FY_ID=@fiscalYear AND D.Run_Month=@runMonth	
				
		IF (@@ERROR <> 0) GOTO QuitWithRollback 
					
/* End Tax This Month for Taxation*/

----############ END OF CONTRIBUTION FIRST############
---------##################################################################################################################################----------



INSERT INTO Contribution_Projection_full(Emp_Id,Branch_Id,Dept_Id,Post_Id,Marital_Status,FY_ID,Run_Month,Run_By,Basic_Salary_Paid,Basic_Salary_Current,
	Basic_Salary_Remaining,Grade_Paid,Grade_Current,Grade_Remaining,Allowance_Paid,Allowance_Current,Allowance_Remaining,Adhoc_Benefits_Paid,
	Adhoc_Benefits_This_Month,Interest_Benefit,Vehicle_Benift,House_Benefit,Pension_Income,Premium_Paid_Employer,Contri_Paid_Employer,
	Contri_This_Month_Employer,Contri_To_Be_Paid_Employer,Contri_Deducted_Employee,Contri_Current_Employee,Contri_Remaining_Employee,
	Donation_Normal,Donation_Special,Premium_Deduction,Disabled_Deduction,Pension_Deduction,Retirement_Deduction,Taxable_Amount,Taxable_Slab1,
	Taxable_Slab2,Remaining,Tax_Amount,Tax_Collected,Tax_Discount,Tax_Remaining,Tax_This_Month)
	
	(SELECT EMPLOYEE_ID,BRANCH_ID,DEPARTMENT_ID,POSITION_ID,MARITAL_STATUS,@fiscalYear,@runMonth,@user,
	0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
	from Employee 
	where EMP_STATUS=458 
	AND EMPLOYEE_ID<>1000 and EMPLOYEE_ID=@emp_id
	)	


	
	IF (@@ERROR <> 0) GOTO QuitWithRollback	
	
/* Start Basic Salary*/
	--UPDATING BASIC SALARY PAID IN TAX CALCULATION
		UPDATE Contribution_Projection_full SET Basic_Salary_Paid=isnull(B.PAID_AMOUNT,0) FROM Contribution_Projection_full A,  
		(SElECT EMPLOYEE_ID,SUM(PAID_AMOUNT) as PAID_AMOUNT from (
			SELECT EMPLOYEE_ID,PAID_AMOUNT AS PAID_AMOUNT from PayableHistory a inner join StaticDataDetail s on a.BENEFIT_ID=s.ROWID 
			where s.TYPE_ID=36
				UNION ALL
			SELECT A.Employee_id, CASE WHEN ADD_DEDUCT='D' THEN amount*-1 ELSE AMOUNT END AS AMOUNT from AdhocPayment a with (nolock)
			INNER JOIN  StaticDataDetail c with (nolock)on a.HEAD_id=C.rowid
			WHERE C.TYPE_ID=36
			AND A.APPLIED_DATE BETWEEN @yearStartDate AND @monthEndDate) q 	GROUP BY EMPLOYEE_ID
		)B WHERE A.Emp_Id =B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth
	
	
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
		
		--UPDAING BASIC SALARY CURRENT IN TAX CALCULATION
		
		UPDATE Contribution_Projection_full SET Basic_Salary_Current=isnull(B.BASIC_CURRENT,0) FROM Contribution_Projection_full A,
		(SElECT EMPLOYEE_ID,SUM(PAID_AMOUNT) as BASIC_CURRENT from (
			SELECT EMPLOYEE_ID,AMOUNT AS PAID_AMOUNT from Payable a inner join StaticDataDetail s on a.BENEFIT_ID=s.ROWID 
			where s.TYPE_ID=36
				UNION ALL
			SELECT A.Employee_id, CASE WHEN ADD_DEDUCT='D' THEN amount*-1 ELSE AMOUNT END AS AMOUNT from AdhocPayment a with (nolock)
			INNER JOIN  StaticDataDetail c with (nolock)on a.HEAD_id=C.rowid
			WHERE C.TYPE_ID=36
			AND (A.APPLIED_DATE IS NULL )) q group by EMPLOYEE_ID 
		)B WHERE A.Emp_Id=B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth
	
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
	--UPDATING BASIC SALARY TO BE PAID IN TAX CALCULATION
					
		UPDATE Contribution_Projection_full SET Basic_Salary_Remaining=isnull(B.BASIC_CURRENT*@remainMonth,0) FROM Contribution_Projection_full A,
		(SELECT EMPLOYEE_ID,SUM(AMOUNT) as BASIC_CURRENT FROM Payable a inner join StaticDataDetail s on a.BENEFIT_ID=s.ROWID where s.TYPE_ID=36
		GROUP BY EMPLOYEE_ID )B WHERE A.Emp_Id=B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth
		
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
/* End Basic Salary*/

/* Start Grade*/		
		--UPDATING GRADE PAID IN TAX CALCULATION
		UPDATE Contribution_Projection_full SET Grade_Paid=isnull(B.GRADE_PAID,0) FROM Contribution_Projection_full A,  
		(SElECT EMPLOYEE_ID,SUM(PAID_AMOUNT) as GRADE_PAID from (
			SELECT EMPLOYEE_ID,PAID_AMOUNT from PayableHistory a inner join StaticDataDetail s on a.BENEFIT_ID=s.ROWID 
			where s.TYPE_ID=37
				UNION ALL
			SELECT A.Employee_id, CASE WHEN ADD_DEDUCT='D' THEN amount*-1 ELSE AMOUNT END AS AMOUNT from AdhocPayment a with (nolock)
			INNER JOIN  StaticDataDetail c with (nolock)on a.HEAD_id=C.rowid
			WHERE C.TYPE_ID=37
			AND A.APPLIED_DATE BETWEEN @yearStartDate AND  @monthEndDate) q 	GROUP BY EMPLOYEE_ID
		)B WHERE A.Emp_Id =B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth
	
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
		--UPDAING GRADE CURRENT IN TAX CALCULATION
		
		UPDATE Contribution_Projection_full SET Grade_Current=isnull(B.GRADE_CURRENT,0) FROM Contribution_Projection_full A,
		(SElECT EMPLOYEE_ID,SUM(AMOUNT) as GRADE_CURRENT from (
			SELECT EMPLOYEE_ID,AMOUNT from Payable a inner join StaticDataDetail s on a.BENEFIT_ID=s.ROWID 
			where s.TYPE_ID=37
				UNION ALL
			SELECT A.Employee_id, CASE WHEN ADD_DEDUCT='D' THEN amount*-1 ELSE AMOUNT END AS AMOUNT from AdhocPayment a with (nolock)
			INNER JOIN  StaticDataDetail c with (nolock)on a.HEAD_id=C.rowid
			WHERE C.TYPE_ID=37
			AND (A.APPLIED_DATE IS NULL)) q group by EMPLOYEE_ID 
		)B WHERE A.Emp_Id=B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth
	
	
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
	--UPDATING GRADE TO BE PAID IN TAX CALCULATION
					
		UPDATE Contribution_Projection_full SET Grade_Remaining=isnull(B.GRADE_REMAINING*@remainMonth,0) FROM Contribution_Projection_full A,
		(SELECT EMPLOYEE_ID,SUM(AMOUNT) as GRADE_REMAINING FROM Payable a inner join StaticDataDetail s on a.BENEFIT_ID=s.ROWID where s.TYPE_ID=37
		GROUP BY EMPLOYEE_ID )B WHERE A.Emp_Id=B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth
		
		
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
/* End Grade*/		

/* Start Allowance*/

		--UPDATING ALLOWANCE PAID IN TAX CALCULATION
		UPDATE Contribution_Projection_full SET Allowance_Paid=isnull(B.PAID_ALLOWANCE,0) FROM Contribution_Projection_full A,  
		(SElECT EMPLOYEE_ID,SUM(PAID_AMOUNT) as PAID_ALLOWANCE from (
		
			SELECT EMPLOYEE_ID,PAID_AMOUNT AS PAID_AMOUNT from PayableHistory a inner join StaticDataDetail s on a.BENEFIT_ID=s.ROWID 
			where s.TYPE_ID=38
			
				UNION ALL
				
			SELECT A.Employee_id, CASE WHEN ADD_DEDUCT='D' THEN amount*-1 ELSE AMOUNT END AS AMOUNT from AdhocPayment a with (nolock)
			INNER JOIN  StaticDataDetail c with (nolock)on a.HEAD_id=C.rowid
			WHERE C.TYPE_ID=38
			AND A.APPLIED_DATE BETWEEN @yearStartDate AND  @monthEndDate
			
			) q 	GROUP BY EMPLOYEE_ID
		)B WHERE A.Emp_Id =B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth
	
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
		--UPDAING ALLOWANCE CURRENT IN TAX CALCULATION
		
		UPDATE Contribution_Projection_full SET Allowance_Current=isnull(B.ALLOWANCE_CURRENT,0) FROM Contribution_Projection_full A,
		(SElECT EMPLOYEE_ID,SUM(PAID_AMOUNT) as ALLOWANCE_CURRENT from (
			SELECT EMPLOYEE_ID,AMOUNT AS PAID_AMOUNT from Payable a inner join StaticDataDetail s on a.BENEFIT_ID=s.ROWID 
			where s.TYPE_ID=38
				UNION ALL
			SELECT A.Employee_id, CASE WHEN ADD_DEDUCT='D' THEN amount*-1 ELSE AMOUNT END AS AMOUNT from AdhocPayment a with (nolock)
			INNER JOIN  StaticDataDetail c with (nolock)on a.HEAD_id=C.rowid
			WHERE C.TYPE_ID=38
			AND A.APPLIED_DATE IS NULL 
			
			) q group by EMPLOYEE_ID 
		)B WHERE A.Emp_Id=B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth
	
	
	IF (@@ERROR <> 0) GOTO QuitWithRollback
	
	
	--UPDATING ALLOWANCE TO BE PAID IN TAX CALCULATION
					
		UPDATE Contribution_Projection_full SET Allowance_Remaining=isnull(B.ALLOWANCE_REMAINING*@remainMonth,0) FROM Contribution_Projection_full A,
		(SELECT EMPLOYEE_ID,SUM(AMOUNT) as ALLOWANCE_REMAINING FROM Payable a inner join StaticDataDetail s on a.BENEFIT_ID=s.ROWID where s.TYPE_ID=38
		GROUP BY EMPLOYEE_ID )B WHERE A.Emp_Id=B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth
		
		
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
/* End Allowance*/

/* Start Adhoc Benefits Calculation*/
	--UPDATING ADHOC BENEFITS PAID IN TAX CALCULATION
		UPDATE Contribution_Projection_full SET Adhoc_Benefits_Paid=isnull(B.ADHOC_BENEFITS_PAID,0) FROM Contribution_Projection_full A,  
			(SELECT A.Employee_id, SUM(AMOUNT) AS ADHOC_BENEFITS_PAID from AdhocPayment a with (nolock)
			INNER JOIN  StaticDataDetail c with (nolock)on a.HEAD_id=C.rowid
			WHERE C.TYPE_ID=41
			AND A.APPLIED_DATE BETWEEN @yearStartDate AND @monthEndDate GROUP BY A.Employee_id
		)B WHERE A.Emp_Id =B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth
	
	--UPDATING ADHOC BENEFITS CURRENT MONTH IN TAX CALCULATION		
		UPDATE Contribution_Projection_full SET Adhoc_Benefits_This_Month=isnull(B.ADHOC_BENEFITS_CURRENT,0) 
		FROM Contribution_Projection_full A,  
			(SELECT A.Employee_id, SUM(AMOUNT) AS ADHOC_BENEFITS_CURRENT 
			from AdhocPayment a with (nolock)
			INNER JOIN  StaticDataDetail c with (nolock)on a.HEAD_id=C.rowid
			WHERE C.TYPE_ID=41
			AND A.APPLIED_DATE IS NULL 
			GROUP BY A.Employee_id
		)B WHERE A.Emp_Id =B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth
		
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
/* End Adhoc Benefits Calculation*/

/*Start Interest Benefits for Taxation*/
	--UPDATING INTEREST BENEFITS IN TAX CALCULATION
	UPDATE Contribution_Projection_full SET Interest_Benefit=isnull(B.INTEREST_BENEFITS,0) 
	FROM Contribution_Projection_full A,  
	(select EMPLOYEE_ID,SUM(TAXABLE_INT_AMT) as INTEREST_BENEFITS 
	from InterestBenefitsOnlyForTaxSetting 
	WHERE FISCAL_YEAR=@fiscalYear 
	GROUP BY EMPLOYEE_ID)B 
	WHERE A.Emp_Id=B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth
	
	IF (@@ERROR <> 0) GOTO QuitWithRollback
	
/*End Interest Benefits for Taxation*/

/*Start House Benefits for Taxation*/
	--UPDATING HOUSE BENEFITS IN TAX CALCULATION
		UPDATE Contribution_Projection_full SET House_Benefit=isnull(B.HOUSE_BENEFITS,0) FROM Contribution_Projection_full A,  
		 (SELECT Y.EMP_ID,(Y.HOUSE_FACILITY_RATE*(Y.BASIC+Y.GRADE+Y.ALLOWANCE))/100 AS HOUSE_BENEFITS   FROM 
		 (SELECT  A.EMP_ID, HOUSE_FACILITY_RATE,
		 CASE WHEN  ISNULL(SUBSTRING(HOUSE_FACILITY_OF,1,2),0)='36' THEN Basic_Salary_Paid +Basic_Salary_Current +Basic_Salary_Remaining  ELSE 0 END  AS BASIC ,
		 CASE WHEN  ISNULL(SUBSTRING(HOUSE_FACILITY_OF,4,2),0)='37' THEN Grade_Paid + Grade_Current +Grade_Remaining  ELSE 0 END  AS GRADE ,
		 CASE WHEN  ISNULL(SUBSTRING(HOUSE_FACILITY_OF,7,2),0)='38' THEN Allowance_Paid +Allowance_Current + Allowance_Remaining ELSE 0 END  AS ALLOWANCE
		 FROM Contribution_Projection_full A,TaxRuleSetup B
		 WHERE  A.FY_ID=B.FY_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth) Y INNER JOIN  Employee Z  ON  Y.Emp_Id=Z.EMPLOYEE_ID
		  AND Z.AVAILED_HOUSE_RENT_FACILITY='Y')B WHERE A.Emp_Id=B.Emp_Id AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth


		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
		
/*End House Benefits for Taxation*/


/*Start Vehicle Benefits for Taxation*/
	--UPDATING Vehicle BENEFITS IN TAX CALCULATION
	UPDATE Contribution_Projection_full SET Vehicle_Benift=isnull(B.VEHICLE_BENIFIT,0) FROM Contribution_Projection_full A,  
		 (SELECT Y.EMP_ID,(Y.VHCL_FACILITY_RATE*(Y.BASIC+Y.GRADE+Y.ALLOWANCE))/100 AS VEHICLE_BENIFIT   FROM 
		 (SELECT  A.EMP_ID, VHCL_FACILITY_RATE,
		 CASE WHEN  ISNULL(SUBSTRING(VHCL_FACILITY_OF,1,2),0)='36' THEN Basic_Salary_Paid +Basic_Salary_Current +Basic_Salary_Remaining  ELSE 0 END  AS BASIC ,
		 CASE WHEN  ISNULL(SUBSTRING(VHCL_FACILITY_OF,4,2),0)='37' THEN Grade_Paid + Grade_Current +Grade_Remaining  ELSE 0 END  AS GRADE ,
		 CASE WHEN  ISNULL(SUBSTRING(VHCL_FACILITY_OF,7,2),0)='38' THEN Allowance_Paid +Allowance_Current + Allowance_Remaining ELSE 0 END  AS ALLOWANCE
		 FROM Contribution_Projection_full A,TaxRuleSetup B
		 WHERE  A.FY_ID=B.FY_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth) Y INNER JOIN  Employee Z  ON  Y.Emp_Id=Z.EMPLOYEE_ID
		  AND Z.AVAAILED_VEHICLE_FACILITY='Y')B WHERE A.Emp_Id=B.Emp_Id AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth
	
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
		
/*End Vehicle Benefits for Taxation*/

/*Start Pension Benefits for Taxation*/
	UPDATE Contribution_Projection_full SET Pension_Income=isnull(B.PENSION_AMOUNT,0) FROM Contribution_Projection_full A,  
		 (SELECT EMPLOYEE_ID,PENSION_AMOUNT FROM Employee 
		 WHERE PENSION_AMOUNT>0)B WHERE A.Emp_Id=B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth

	IF (@@ERROR <> 0) GOTO QuitWithRollback
	
/*End Pension Benefits for Taxation*/



/*Start Insurance Benefits for Taxation*/

	UPDATE Contribution_Projection_full SET Premium_Paid_Employer=isnull(B.PREMIUM_PAID,0) 
	FROM Contribution_Projection_full A,  
		  (SELECT I.EMPLOYEE_ID,SUM(IP.PAYMENT_AMOUNT) AS PREMIUM_PAID 
		  from InsurancePremium IP INNER JOIN Insurance I ON IP.INSURANCE_ID=I.ID 
			WHERE I.PREMIUM_PAYER='EMPLOYER' AND 
		  IP.PAYMENT_DATE BETWEEN @yearStartDate and @yearEndDate 
		  GROUP BY I.EMPLOYEE_ID)B 
	  WHERE A.Emp_Id=B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth

	IF (@@ERROR <> 0) GOTO QuitWithRollback
	
/*End Insurance Benefits for Taxation*/


/*Start Contribution Paid  By Employer for Taxation*/

if cast(@runMonth as int)<>4
begin
	UPDATE Contribution_Projection_full SET Contri_Paid_Employer=isnull(B.CONTRI_PAID,0) 
	FROM Contribution_Projection_full A,  
	  (
		SELECT  EMPLOYEE_ID, SUM (CONTRI_PAID) AS CONTRI_PAID  
		FROM (
			  SELECT EMPLOYEE_ID,AMOUNT_EMPLOYER AS CONTRI_PAID 
			  FROM ContributionHistory
			  WHERE FY_ID=@fiscalYear  			   

			   UNION ALL
			   
			  SELECT EMPLOYEE_ID,cast(isnull(CONTB_AMOUNT_EMPLOYER,0) as money) as  CONTRI_PAID
			  FROM Adhoc_Contribution 
			  WHERE CONTB_DATE BETWEEN @yearStartDate AND DATEADD(DAY,-1, @monthStartDate)

			  
		) Q GROUP BY EMPLOYEE_ID
	  )B WHERE A.Emp_Id=B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth
end

	IF (@@ERROR <> 0) GOTO QuitWithRollback
	
/*End Contribution Paid By Employer for Taxation*/

/*Start Contribution Paid This Month By  Employer for Taxation*/
	UPDATE Contribution_Projection_full SET Contri_This_Month_Employer=isnull(B.CONTRI_THIS_MONTH,0) FROM Contribution_Projection_full A,  
	  (
			-----FOR FLAT AMOUNT BY EMPLOYER-----
			SELECT Z.EMPLOYEE_ID, SUM (Z.CONTRI_THIS_MONTH) AS CONTRI_THIS_MONTH FROM 			
			(			
			select a.EMPLOYEE_ID,  VALUE_EMPLOYER as CONTRI_THIS_MONTH
			from Contribution a with (nolock) inner join Employee b with (nolock)
			on a.EMPLOYEE_ID=b.EMPLOYEE_ID
			where a.FLAG_EMPLOYER='F'
			and b.EMP_STATUS=458
			and a.CONTRIBUTION_FROM_DATE_EMPLOYER<=@monthEndDate
			UNION ALL
		   
			SELECT EMPLOYEE_ID,isnull(CONTB_AMOUNT_EMPLOYER,0) 
			FROM Adhoc_Contribution 
			WHERE CONTB_DATE BETWEEN @monthStartDate AND @monthEndDate
			
			UNION ALL
			-----FOR % BASIS BY EMPLOYER-----
			SELECT EMPLOYEE_ID,(q.VALUE_EMPLOYER * (BASIC+GRADE+ALLOWANCE))/100 AS CONTRI_THIS_MONTH
			FROM (
			SELECT EMPLOYEE_ID, VALUE_EMPLOYER,
			CASE WHEN  ISNULL(SUBSTRING(CONTRIBUTION_BASIS_EMPLOYER,1,2),0)='36' THEN Basic_Salary_Current   ELSE 0 END  AS BASIC ,
			CASE WHEN  ISNULL(SUBSTRING(CONTRIBUTION_BASIS_EMPLOYER,4,2),0)='37' THEN Grade_Current   ELSE 0 END  AS GRADE ,
			CASE WHEN  ISNULL(SUBSTRING(CONTRIBUTION_BASIS_EMPLOYER,7,2),0)='38' THEN Allowance_Current  ELSE 0 END  AS ALLOWANCE
		 	FROM  Contribution A,  Contribution_Projection_full B
			WHERE A.EMPLOYEE_ID=B.Emp_Id
			AND B.FY_ID=@fiscalYear AND B.Run_Month=@runMonth
			AND A.FLAG_EMPLOYER='P'
			AND A.CONTRIBUTION_FROM_DATE_EMPLOYER<=@monthEndDate) Q
			) Z GROUP BY EMPLOYEE_ID
			  
	  )B WHERE A.Emp_Id=B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth

	 IF (@@ERROR <> 0) GOTO QuitWithRollback	 
	 
/*End Contribution Paid This Month By  Employer for Taxation*/

/*Start Contribution to be Paid By  Employer for Taxation*/
	UPDATE Contribution_Projection_full SET Contri_To_Be_Paid_Employer=isnull(B.CONTRI_TO_PAY,0) FROM Contribution_Projection_full A,  
	  (	  
			-----FOR FLAT AMOUNT BY EMPLOYER-----
			SELECT Z.EMPLOYEE_ID, SUM (Z.CONTRI_TO_PAY) AS CONTRI_TO_PAY 
			FROM 			
			(			
			select a.EMPLOYEE_ID,  VALUE_EMPLOYER*@remainMonth as CONTRI_TO_PAY
			from Contribution a with (nolock) inner join Employee b with (nolock)
			on a.EMPLOYEE_ID=b.EMPLOYEE_ID
			where a.FLAG_EMPLOYER='F'
			and b.EMP_STATUS=458
			and a.CONTRIBUTION_FROM_DATE_EMPLOYER<=@monthEndDate
			
			UNION ALL
			-----FOR % BASIS BY EMPLOYER-----
			SELECT EMPLOYEE_ID,(q.VALUE_EMPLOYER * (BASIC+GRADE+ALLOWANCE))/100 AS CONTRI_TO_PAY
			FROM (
			SELECT EMPLOYEE_ID, VALUE_EMPLOYER,
			CASE WHEN  ISNULL(SUBSTRING(CONTRIBUTION_BASIS_EMPLOYER,1,2),0)='36' THEN Basic_Salary_Remaining   ELSE 0 END  AS BASIC ,
			CASE WHEN  ISNULL(SUBSTRING(CONTRIBUTION_BASIS_EMPLOYER,4,2),0)='37' THEN Grade_Remaining   ELSE 0 END  AS GRADE ,
			CASE WHEN  ISNULL(SUBSTRING(CONTRIBUTION_BASIS_EMPLOYER,7,2),0)='38' THEN Allowance_Remaining  ELSE 0 END  AS ALLOWANCE
		 	FROM  Contribution A,  Contribution_Projection_full B
			WHERE A.EMPLOYEE_ID=B.Emp_Id
			AND B.FY_ID=@fiscalYear AND B.Run_Month=@runMonth
			AND A.FLAG_EMPLOYER='P'
			AND A.CONTRIBUTION_FROM_DATE_EMPLOYER<=@monthEndDate) Q
			) Z GROUP BY EMPLOYEE_ID
			  
	  )B WHERE A.Emp_Id=B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth

	  IF (@@ERROR <> 0) GOTO QuitWithRollback
	  
	  
/*End Contribution to be Paid  By  Employer for Taxation*/

/*Start Contribution Paid  By Employee for Taxation*/
if cast(@runMonth as int)<>4
begin
	UPDATE Contribution_Projection_full SET Contri_Deducted_Employee=isnull(B.CONTRI_PAID,0) FROM Contribution_Projection_full A,  
	  (
		SELECT  EMPLOYEE_ID, SUM (CONTRI_PAID) AS CONTRI_PAID  FROM (
			  SELECT EMPLOYEE_ID,AMOUNT_EMPLOYEE AS CONTRI_PAID 
			  FROM ContributionHistory
			  WHERE FY_ID=@fiscalYear 
			     UNION ALL
			  SELECT EMPLOYEE_ID,isnull(CONTB_AMOUNT_EMPLOYEE ,0)
			  FROM Adhoc_Contribution 
			  WHERE CONTB_DATE BETWEEN @yearStartDate AND DATEADD(DAY,-1,@monthStartDate)
		) Q GROUP BY EMPLOYEE_ID
	  )B WHERE A.Emp_Id=B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth
end
	  IF (@@ERROR <> 0) GOTO QuitWithRollback
	  
/*End Contribution Paid By Employee for Taxation*/

/*Start Contribution Paid This Month By  Employee for Taxation*/
	UPDATE Contribution_Projection_full SET Contri_Current_Employee=isnull(B.CONTRI_THIS_MONTH,0) 
	FROM Contribution_Projection_full A,  
	  (
			-----FOR FLAT AMOUNT BY EMPLOYEE-----
			SELECT Z.EMPLOYEE_ID, SUM (Z.CONTRI_THIS_MONTH) AS CONTRI_THIS_MONTH FROM 			
			(			
			select a.EMPLOYEE_ID,VALUE_EMPLOYEE as CONTRI_THIS_MONTH
			from Contribution a with (nolock) inner join Employee b with (nolock)
			on a.EMPLOYEE_ID=b.EMPLOYEE_ID
			where a.FLAG_EMPLOYEE='F'
			and b.EMP_STATUS=458
			and a.CONTRIBUTION_FROM_DATE_EMPLOYEE<=@monthEndDate
			
			 UNION ALL
			
			SELECT EMPLOYEE_ID,isnull(CONTB_AMOUNT_EMPLOYEE,0) 
			FROM Adhoc_Contribution 
			WHERE CONTB_DATE BETWEEN @monthStartDate AND @monthEndDate
			
			UNION ALL
			
			-----FOR % BASIS BY EMPLOYEE-----
			SELECT EMPLOYEE_ID,(q.VALUE_EMPLOYEE * (BASIC+GRADE+ALLOWANCE))/100 AS CONTRI_THIS_MONTH
			FROM (
			SELECT EMPLOYEE_ID, VALUE_EMPLOYEE,
			CASE WHEN  ISNULL(SUBSTRING(CONTRIBUTION_BASIS_EMPLOYEE,1,2),0)='36' THEN Basic_Salary_Current   ELSE 0 END  AS BASIC ,
			CASE WHEN  ISNULL(SUBSTRING(CONTRIBUTION_BASIS_EMPLOYEE,4,2),0)='37' THEN Grade_Current   ELSE 0 END  AS GRADE ,
			CASE WHEN  ISNULL(SUBSTRING(CONTRIBUTION_BASIS_EMPLOYEE,7,2),0)='38' THEN Allowance_Current  ELSE 0 END  AS ALLOWANCE
		 	FROM  Contribution A,  Contribution_Projection_full B
			WHERE A.EMPLOYEE_ID=B.Emp_Id
			AND B.FY_ID=@fiscalYear AND B.Run_Month=@runMonth
			AND A.FLAG_EMPLOYEE='P'
			AND A.CONTRIBUTION_FROM_DATE_EMPLOYEE<=@monthEndDate) Q
			) Z 
			GROUP BY EMPLOYEE_ID  
	  )B 
	  WHERE A.Emp_Id=B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth

	  IF (@@ERROR <> 0) GOTO QuitWithRollback
		
/*End Contribution Paid This Month By  Employee for Taxation*/


/*Start Contribution to be Paid By  Employee for Taxation*/
	UPDATE Contribution_Projection_full SET Contri_Remaining_Employee=isnull(B.CONTRI_TO_PAY,0) FROM Contribution_Projection_full A,  
	  (
			-----FOR FLAT AMOUNT BY EMPLOYEE-----
			SELECT Z.EMPLOYEE_ID, SUM (Z.CONTRI_TO_PAY) AS CONTRI_TO_PAY FROM 			
			(			
				select a.EMPLOYEE_ID,  VALUE_EMPLOYEE*@remainMonth as CONTRI_TO_PAY
				from Contribution a with (nolock) inner join Employee b with (nolock)
				on a.EMPLOYEE_ID=b.EMPLOYEE_ID
				where a.FLAG_EMPLOYEE='F'
				and b.EMP_STATUS=458
				and a.CONTRIBUTION_FROM_DATE_EMPLOYEE<=@monthEndDate
				
			UNION ALL
			
			-----FOR % BASIS BY EMPLOYEE-----
			SELECT EMPLOYEE_ID,(q.VALUE_EMPLOYEE * (BASIC+GRADE+ALLOWANCE))/100 AS CONTRI_TO_PAY
			FROM (
				SELECT EMPLOYEE_ID, VALUE_EMPLOYEE,
				CASE WHEN  ISNULL(SUBSTRING(CONTRIBUTION_BASIS_EMPLOYEE,1,2),0)='36' THEN Basic_Salary_Remaining   ELSE 0 END  AS BASIC ,
				CASE WHEN  ISNULL(SUBSTRING(CONTRIBUTION_BASIS_EMPLOYEE,4,2),0)='37' THEN Grade_Remaining   ELSE 0 END  AS GRADE ,
				CASE WHEN  ISNULL(SUBSTRING(CONTRIBUTION_BASIS_EMPLOYEE,7,2),0)='38' THEN Allowance_Remaining  ELSE 0 END  AS ALLOWANCE
		 		FROM  Contribution A,  Contribution_Projection_full B
				WHERE A.EMPLOYEE_ID=B.Emp_Id
				AND B.FY_ID=@fiscalYear AND B.Run_Month=@runMonth
				AND A.FLAG_EMPLOYEE='P'
				AND A.CONTRIBUTION_FROM_DATE_EMPLOYEE<=@monthEndDate) Q
			) Z GROUP BY EMPLOYEE_ID
	  )B WHERE A.Emp_Id=B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth

	  IF (@@ERROR <> 0) GOTO QuitWithRollback
	
/*End Contribution to be Paid  By  Employee for Taxation*/

/*Start Donation Deduction for Taxation*/
	
	--UPDATING DONATION SPECIAL FOR TAX CALCULATION
		UPDATE Contribution_Projection_full SET Donation_Special=isnull(B.AMOUNT_SPECIAL,0) 
		FROM Contribution_Projection_full A,  	
		(SELECT EMPLOYEE_ID,SUM((DONATION_AMOUNT*ISNULL(GOVT_APPROVED_RATE,0))/100) AS AMOUNT_SPECIAL  
			from Donations 
			WHERE DONATION_DATE
			BETWEEN @yearStartDate AND @yearEndDate 
			GROUP BY EMPLOYEE_ID)B 
		WHERE A.Emp_Id=B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth
		
		IF (@@ERROR <> 0) GOTO QuitWithRollback

	--UPDATING DONATION NORMAL FOR TAX CALCULATION	
		UPDATE Contribution_Projection_full SET Donation_Special=isnull(X.DONATION_AMT,0) FROM Contribution_Projection_full A, 
		(SELECT EMPLOYEE_ID,CASE WHEN DONATION_HIGH_LOW_FLG='L' THEN dbo.FuncGetMIN(AMT1,AMT2,AMT3,NULL,NULL)  WHEN DONATION_HIGH_LOW_FLG='H'
			 THEN dbo.FuncGetMax(AMT1,AMT2,AMT3,NULL,NULL) END AS DONATION_AMT FROM 
			(SELECT A.EMPLOYEE_ID,DONATION_HIGH_LOW_FLG, A.AMOUNT_NORMAL AS AMT1,(B.ADJUSTED_INCOME*C.DONATION_DED_RATE)/100  AS AMT2, C.DONATION_COMP_AMT AS AMT3 
			FROM 
				(SELECT EMPLOYEE_ID,@fiscalYear AS FY_ID, SUM(DONATION_AMOUNT) AS AMOUNT_NORMAL  
				from Donations 
				WHERE DONATION_DATE
					BETWEEN @yearStartDate AND @yearEndDate  AND GOVT_APPROVED_RATE=0
				GROUP BY EMPLOYEE_ID)A,
				(SELECT EMP_ID,FY_ID,(Basic_Salary_Paid+Basic_Salary_Current+Basic_Salary_Remaining+Grade_Paid+Grade_Current
					+Grade_Remaining+Allowance_Paid+Allowance_Current+Allowance_Remaining+Adhoc_Benefits_Paid+Adhoc_Benefits_This_Month
					+Interest_Benefit+Vehicle_Benift+House_Benefit+Pension_Income+Premium_Paid_Employer+Contri_Paid_Employer+Contri_This_Month_Employer
					+Contri_To_Be_Paid_Employer-Contri_Paid_Employer-Contri_This_Month_Employer-Contri_To_Be_Paid_Employer
					-Contri_Deducted_Employee-Contri_Current_Employee-Contri_Remaining_Employee) AS ADJUSTED_INCOME 
					FROM Contribution_Projection_full 
					WHERE FY_ID=@fiscalYear AND 
						Run_Month=@runMonth)B,
				(SELECT FY_ID,DONATION_DED_RATE,DONATION_COMP_AMT,DONATION_HIGH_LOW_FLG 
					FROM TaxRuleSetup 
					where FY_ID=@fiscalYear) C
					WHERE A.FY_ID=B.FY_ID AND B.FY_ID=C.FY_ID AND A.EMPLOYEE_ID=B.Emp_Id)D )X 
					WHERE A.Emp_Id=X.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth
			
					IF (@@ERROR <> 0) GOTO QuitWithRollback
					
/*End Donation Deduction for Taxation*/

/*Start Premium Deduction for Taxation*/

	--UPDATING PREMIMUM AMOUNT FOR TAX CULCULATION	
	UPDATE Contribution_Projection_full SET Premium_Deduction=isnull(X.PREMIUM_AMT,0) FROM Contribution_Projection_full A, 
	(SELECT EMPLOYEE_ID,CASE WHEN INSURANCE_HIGH_LOW_FLG='L' THEN dbo.FuncGetMIN(AMT1,AMT2,AMT3,NULL,NULL)  WHEN INSURANCE_HIGH_LOW_FLG='H'
			 THEN dbo.FuncGetMax(AMT1,AMT2,AMT3,NULL,NULL) END AS PREMIUM_AMT 
		FROM 
		(SELECT A.EMPLOYEE_ID,CASE WHEN INSURANCE_DED_RATE_OF='PREMIUM' THEN (B.PREMIUM_PAID*C.INSURANCE_DED_RATE)/100 ELSE 
		(A.INSURED_AMT*C.INSURANCE_DED_RATE)/100 END AS AMT1,C.INSURANCE_COMP_AMT AS AMT2,CASE WHEN 
		(INSURANCE_COMP_ACTUAL_FLG='Y' AND INSURANCE_DED_RATE_OF='PREMIUM') THEN B.PREMIUM_PAID WHEN 
		(INSURANCE_COMP_ACTUAL_FLG='Y' AND INSURANCE_DED_RATE_OF<>'PREMIUM') THEN  A.INSURED_AMT ELSE 0 END AS AMT3,INSURANCE_HIGH_LOW_FLG FROM 
		(SELECT EMPLOYEE_ID,@fiscalYear AS FY_ID,SUM(INSURED_AMOUNT) AS INSURED_AMT 
		FROM Insurance 
		WHERE EXPIRY_DATE>=@yearEndDate 
			GROUP BY EMPLOYEE_ID)A,
		(SELECT I.EMPLOYEE_ID,SUM(IP.PAYMENT_AMOUNT) AS PREMIUM_PAID 
			from InsurancePremium IP 
				INNER JOIN Insurance I ON IP.INSURANCE_ID=I.ID
			WHERE IP.PAYMENT_DATE BETWEEN @yearStartDate and @yearEndDate 
			GROUP BY I.EMPLOYEE_ID)B,
		(SELECT FY_ID,INSURANCE_COMP_ACTUAL_FLG,INSURANCE_COMP_AMT,INSURANCE_DED_RATE,INSURANCE_DED_RATE_OF,INSURANCE_HIGH_LOW_FLG  
			FROM TaxRuleSetup 
			WHERE FY_ID=@fiscalYear)C 
			WHERE A.EMPLOYEE_ID=B.EMPLOYEE_ID AND A.FY_ID= C.FY_ID)Z)X		
			 WHERE A.Emp_Id=X.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth	
			 
			 IF (@@ERROR <> 0) GOTO QuitWithRollback	
	
/*End Premium Deduction for Taxation*/

/* Start Disabled Deduction for Taxation*/
	--UPDATING DISABLED AMOUNT FOR TAX CULCULATION
	
	UPDATE Contribution_Projection_full SET Disabled_Deduction=isnull(D.DISABLED_AMT,0) FROM Contribution_Projection_full A, 
		(SELECT C.EMPLOYEE_ID,CASE WHEN C.DISABLE_HIGH_LOW_FLG='L' THEN dbo.FuncGetMIN(C.AMT1,C.AMT2,NULL,NULL,NULL) WHEN C.DISABLE_HIGH_LOW_FLG='H' THEN
		dbo.FuncGetMax(AMT1,AMT2,NULL,NULL,NULL) END AS DISABLED_AMT 
		FROM 
		(SELECT A.EMPLOYEE_ID,B.DISABLE_COMP_AMT AS AMT1,CASE WHEN A.MARITAL_STATUS='U' THEN B.UNMARRIED_DISABLED ELSE B.MARRIED_DISABLED 
			END AS AMT2,B.DISABLE_HIGH_LOW_FLG 
			FROM
			(SELECT @fiscalYear AS FY_ID,EMPLOYEE_ID,MARITAL_STATUS FROM Employee WHERE IS_DISABLED='Y')A,
			(SELECT FY_ID,DISABLE_COMP_AMT,CASE WHEN DISABLE_DED_RATE_OF='FIRST SLAB' THEN (MARRIED_SLAB1*DISABLE_DED_RATE)/100 ELSE (MARRIED_SLAB2*DISABLE_DED_RATE)/100 END 
			AS MARRIED_DISABLED ,CASE WHEN DISABLE_DED_RATE_OF='FIRST SLAB' THEN (UNMARRIED_SLAB1*DISABLE_DED_RATE)/100 ELSE (UNMARRIED_SLAB2*DISABLE_DED_RATE)/100 END 
			AS UNMARRIED_DISABLED,DISABLE_HIGH_LOW_FLG FROM TaxRuleSetup WHERE FY_ID=@fiscalYear)B WHERE A.FY_ID=B.FY_ID)C)D	
	WHERE A.Emp_Id=D.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth	

	IF (@@ERROR <> 0) GOTO QuitWithRollback
	
/* End Disabled Deduction for Taxation*/

/* Start Pension Deduction for Taxation*/
		--UPDATING PENSION AMOUNT FOR TAX CULCULATION
		UPDATE Contribution_Projection_full SET Pension_Deduction=isnull(D.PENSION_AMT,0) FROM Contribution_Projection_full A, 
		(SELECT C.EMPLOYEE_ID,CASE WHEN C.PENSION_HIGH_LOW_FLG='L' THEN dbo.FuncGetMIN(C.AMT1,C.AMT2,NULL,NULL,NULL) WHEN C.PENSION_HIGH_LOW_FLG='H' THEN
		dbo.FuncGetMax(AMT1,AMT2,NULL,NULL,NULL) END AS PENSION_AMT FROM 
		(SELECT A.EMPLOYEE_ID,A.PENSION_AMOUNT AS AMT1,CASE WHEN A.MARITAL_STATUS='U' THEN B.UNMARRIED_PENSION ELSE B.MARRIED_PENSION
			END AS AMT2,B.PENSION_HIGH_LOW_FLG FROM
			(SELECT @fiscalYear AS FY_ID,EMPLOYEE_ID,MARITAL_STATUS,PENSION_AMOUNT FROM Employee WHERE IS_PENSION_HOLDER='Y')A,
			(SELECT FY_ID,CASE WHEN PENSION_DED_RATE_OF='FIRST SLAB' THEN (MARRIED_SLAB1*PENSION_DED_RATE)/100 ELSE (MARRIED_SLAB2*PENSION_DED_RATE)/100 END 
				AS MARRIED_PENSION ,CASE WHEN PENSION_DED_RATE_OF='FIRST SLAB' THEN (UNMARRIED_SLAB1*PENSION_DED_RATE)/100 ELSE (UNMARRIED_SLAB2*PENSION_DED_RATE)/100 END 
				AS UNMARRIED_PENSION,PENSION_HIGH_LOW_FLG 
				FROM TaxRuleSetup 
				WHERE FY_ID=@fiscalYear)B 
				WHERE A.FY_ID=B.FY_ID)C)D		
			WHERE A.Emp_Id=D.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth	

		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
/* End Pension Deduction for Taxation*/
/* Start Retirement Deduction for Taxation*/
		UPDATE Contribution_Projection_full SET Retirement_Deduction=isnull(Z.RETIREMENT_AMT,0) 
		FROM Contribution_Projection_full A, 
		(
		SELECT X.EMPLOYEE_ID,CASE WHEN X.CONTRIBUTION_HIGH_LOW_FLG='L' THEN dbo.FuncGetMIN(NULL,X.AMT2,X.AMT3,NULL,NULL) WHEN X.CONTRIBUTION_HIGH_LOW_FLG='H' THEN
			dbo.FuncGetMax(NULL,AMT2,AMT3,NULL,NULL) END AS RETIREMENT_AMT FROM 
		
			(
			SELECT A.Emp_Id AS EMPLOYEE_ID,A.AMT1,(A.AMT2*B.UP)/B.DOWN AS AMT2,B.AMT3,B.CONTRIBUTION_HIGH_LOW_FLG 
			FROM 
				(SELECT FY_id,Emp_Id,
					Contri_Paid_Employer+Contri_This_Month_Employer+Contri_To_Be_Paid_Employer+Contri_Deducted_Employee+Contri_Current_Employee
					+Contri_Remaining_Employee as AMT1,
					(Basic_Salary_Paid+Basic_Salary_Current+Basic_Salary_Remaining+Grade_Paid+Grade_Current
					+Grade_Remaining+Allowance_Paid+Allowance_Current+Allowance_Remaining+Adhoc_Benefits_Paid+Adhoc_Benefits_This_Month+
					Interest_Benefit+Vehicle_Benift+House_Benefit+Pension_Income+Premium_Paid_Employer+
					Contri_Paid_Employer+Contri_This_Month_Employer+Contri_To_Be_Paid_Employer) as AMT2
					FROM  Contribution_Projection_full
				)A,
				(SELECT FY_ID,CONTRIBUTION_COMP_AMT AS AMT3, 
					cast(substring(CONTRIBUTION_FRACTION,1,CHARINDEX('/', CONTRIBUTION_FRACTION,1)-1)as int)as UP,
					cast(substring(CONTRIBUTION_FRACTION,CHARINDEX('/', CONTRIBUTION_FRACTION,1)+1, LEN(CONTRIBUTION_FRACTION))as int)as DOWN,
					CONTRIBUTION_HIGH_LOW_FLG FROM TaxRuleSetup 
					WHERE FY_ID=@fiscalYear
				) B
				WHERE A.FY_ID=B.FY_ID) X)Z 
				
				
			WHERE A.Emp_Id=Z.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth	

			IF (@@ERROR <> 0) GOTO QuitWithRollback
			
/* End Retirement Deduction for Taxation*/

/* Start Taxable Income for Taxation*/
	--UPDATING TAXABLE AMOUNT FOR TAX CALCULATION
		UPDATE Contribution_Projection_full SET Taxable_Amount=isnull((Basic_Salary_Paid+Basic_Salary_Current+Basic_Salary_Remaining+Grade_Paid+Grade_Current
			+Grade_Remaining+Allowance_Paid+Allowance_Current+Allowance_Remaining+Adhoc_Benefits_Paid+Adhoc_Benefits_This_Month+
			Interest_Benefit+Vehicle_Benift+House_Benefit+Pension_Income+Premium_Paid_Employer+
			Contri_Paid_Employer+Contri_This_Month_Employer+Contri_To_Be_Paid_Employer-Premium_Deduction-Pension_Deduction-Disabled_Deduction
			-Retirement_Deduction-Donation_Normal-Donation_Special),0) 
		WHERE FY_ID=@fiscalYear AND Run_Month=@runMonth
		
		IF (@@ERROR <> 0) GOTO QuitWithRollback
			
/* End Taxable Income for Taxation*/

/* Start Taxable Slab1 for Taxation*/
	--UPDATING TAXABLE SLAB1 FOR TAX CALCULATION
			UPDATE Contribution_Projection_full SET Taxable_Slab1=isnull(Y.TAXABLE_SLAB1,0) FROM Contribution_Projection_full X, 
				(SELECT B.Emp_Id AS EMPLOYEE_ID,
				CASE 
				WHEN (Marital_Status='U' AND Taxable_Amount>=UNMARRIED_SLAB1) THEN UNMARRIED_SLAB1 
				WHEN (Marital_Status='U' AND Taxable_Amount<UNMARRIED_SLAB1 AND Taxable_Amount>0) THEN Taxable_Amount
				WHEN (Marital_Status='M' AND Taxable_Amount>=MARRIED_SLAB1) THEN MARRIED_SLAB1 
				WHEN (Marital_Status='M' AND Taxable_Amount<MARRIED_SLAB1 AND Taxable_Amount>0) THEN Taxable_Amount
				END AS TAXABLE_SLAB1
				FROM 
				(SELECT FY_ID,MARRIED_SLAB1,UNMARRIED_SLAB1 
					FROM TaxRuleSetup 
					WHERE FY_ID=@fiscalYear)A,
					(SELECT FY_ID,Emp_Id,Marital_Status,Taxable_Amount 
					FROM Contribution_Projection_full 
					WHERE FY_ID=@fiscalYear AND Run_Month=@runMonth)B
					WHERE A.FY_ID=B.FY_ID)Y 
				WHERE X.Emp_Id=Y.EMPLOYEE_ID AND X.FY_ID=@fiscalYear AND X.Run_Month=@runMonth	
	
	IF (@@ERROR <> 0) GOTO QuitWithRollback
	
/* End Taxable Slab1 for Taxation*/

/* Start Taxable Slab2 for Taxation*/
	--UPDATING TAXABLE SLAB2 FOR TAX CALCULATION
			UPDATE Contribution_Projection_full SET Taxable_Slab2=isnull(Y.TAXABLE_SLAB2,0) 
			FROM Contribution_Projection_full X, 
				(SELECT B.Emp_Id AS EMPLOYEE_ID,
				CASE 
				WHEN (Marital_Status='U' AND Taxable_Amount>=UNMARRIED_SLAB2) THEN UNMARRIED_SLAB2 
				WHEN (Marital_Status='U' AND Taxable_Amount<UNMARRIED_SLAB2 AND Taxable_Amount>0) THEN Taxable_Amount
				WHEN (Marital_Status='M' AND Taxable_Amount>=MARRIED_SLAB2) THEN MARRIED_SLAB2 
				WHEN (Marital_Status='M' AND Taxable_Amount<MARRIED_SLAB2 AND Taxable_Amount > 0) THEN Taxable_Amount
				END AS TAXABLE_SLAB2
				FROM 
				(SELECT FY_ID,MARRIED_SLAB2,UNMARRIED_SLAB2 
					FROM TaxRuleSetup 
					WHERE FY_ID=@fiscalYear)A,
				(SELECT FY_ID,Emp_Id,Marital_Status,(Taxable_Amount-Taxable_Slab1) AS Taxable_Amount 
					FROM Contribution_Projection_full 
					WHERE FY_ID=@fiscalYear AND Run_Month=@runMonth)B
					WHERE A.FY_ID=B.FY_ID)Y 
				WHERE X.Emp_Id=Y.EMPLOYEE_ID AND X.FY_ID=@fiscalYear AND X.Run_Month=@runMonth	
	
			IF (@@ERROR <> 0) GOTO QuitWithRollback
	
/* End Taxable Slab2 for Taxation*/

/* Start Taxable Remaining for Taxation*/
	--UPDATING TAXABLE REMAINING FOR TAX CALCULATION
			UPDATE Contribution_Projection_full SET Remaining=isnull(( CASE WHEN Taxable_Amount >0 THEN Taxable_Amount ELSE 0 END -Taxable_Slab1-Taxable_Slab2),0) WHERE FY_ID=@fiscalYear AND Run_Month=@runMonth	
			
/* End Taxable Remaining for Taxation*/

/* Start Tax Amount for Taxation*/
	--UPDATING TAX AMOUNT FOR TAX CALCULATION
		UPDATE Contribution_Projection_full SET Tax_Amount=isnull(Y.TAX_AMOUNT,0) FROM Contribution_Projection_full X, 
				(
				SELECT Emp_Id,CASE
				 WHEN Marital_Status='M' THEN ((Taxable_Slab1*MARRIED_RATE1)/100+(Taxable_Slab2*MARRIED_RATE2)/100 + (Remaining*MARRIED_RATE3)/100)
				 WHEN Marital_Status='U' THEN ((Taxable_Slab1*UNMARRIED_RATE1)/100+(Taxable_Slab2*UNMARRIED_RATE2)/100 + (Remaining*UNMARRIED_RATE3)/100)
				 END AS TAX_AMOUNT
				 FROM 
					(
					SELECT FY_ID,Emp_Id,Marital_Status,Taxable_Slab1,Taxable_Slab2,Remaining 
						FROM Contribution_Projection_full 
						WHERE FY_ID=@fiscalYear AND Run_Month=@runMonth)A,
					(
					SELECT FY_ID,MARRIED_RATE1,MARRIED_RATE2,MARRIED_RATE3,UNMARRIED_RATE1,UNMARRIED_RATE2,UNMARRIED_RATE3 
						FROM TaxRuleSetup WHERE 
						FY_ID=@fiscalYear)B 
						WHERE A.FY_ID=B.FY_ID)Y 
				WHERE X.Emp_Id=Y.Emp_Id AND X.FY_ID=@fiscalYear AND X.Run_Month=@runMonth	
				
			IF (@@ERROR <> 0) GOTO QuitWithRollback
			
/* End Tax Amount for Taxation*/

 --UPDATING ADDITIONAL TAX AMOUNT FOR TAX CALCULATION 
        UPDATE Contribution_Projection_full SET Tax_Amount= Tax_Amount +isnull(Y.ADD_TAX_AMOUNT,0) FROM Contribution_Projection_full X, 
                (SELECT Emp_Id,CASE 
                 WHEN Marital_Status='M' THEN ((A.Taxable_Amount-AMT_FOR_ADD_TAX)*ADD_TAX_RATE)/100
                 WHEN Marital_Status='U' THEN ((A.Taxable_Amount-AMT_FOR_ADD_TAX)*ADD_TAX_RATE)/100
                 END AS ADD_TAX_AMOUNT 
                 FROM 
                (SELECT FY_ID,Emp_Id,Marital_Status,Taxable_Amount,Remaining 
                    FROM Contribution_Projection_full 
                    WHERE FY_ID=@fiscalYear AND Run_Month=@runMonth                  
                    )A, 
                (SELECT FY_ID,MARRIED_RATE3,UNMARRIED_RATE3,AMT_FOR_ADD_TAX,ADD_TAX_RATE 
                    FROM TaxRuleSetup WHERE 
                    FY_ID=@fiscalYear)B 
                    WHERE A.FY_ID=B.FY_ID 
                    AND A.Taxable_Amount>B.AMT_FOR_ADD_TAX 
                    )Y 
                WHERE X.Emp_Id=Y.Emp_Id AND X.FY_ID=@fiscalYear AND X.Run_Month=@runMonth     
                 
            IF (@@ERROR <> 0) GOTO QuitWithRollback       

/* Start Tax Collected for Taxation*/
	--UPDATING TAX COLLECTED FOR TAX CALCULATION
		UPDATE Contribution_Projection_full SET Tax_Collected=isnull(Y.TAX_COLLECTED,0)
		FROM Contribution_Projection_full X, 
		(				
			SELECT EMP_ID,SUM(TAX_COLLECTED) AS TAX_COLLECTED FROM 
			(
			
			SELECT EMP_ID,cast(SUM(Tax_This_Month) as money) AS TAX_COLLECTED 
				FROM TaxCalculation 
				WHERE FY_ID=@fiscalYear 
				GROUP BY EMP_ID
				
			UNION ALL
			
			SELECT EMPLOYEE_ID,cast(SUM(isnull(TAX_DEDUCTED,0)) as money) AS TAX_COLLECTED 
				FROM AdhocPayment 
				WHERE APPLIED_DATE BETWEEN @yearStartDate AND @yearEndDate 
			GROUP BY EMPLOYEE_ID
			
			)B 
		GROUP BY Emp_Id				
		)Y WHERE X.Emp_Id=Y.Emp_Id AND X.FY_ID=@fiscalYear AND X.Run_Month=@runMonth	
				
	  IF (@@ERROR <> 0) GOTO QuitWithRollback
	  
/* End Tax Collected for Taxation*/

/* Start Tax Discount for Taxation*/
	--UPDATING TAX DISCOUNT FOR TAX CALCULATION
		UPDATE Contribution_Projection_full SET Tax_Discount=isnull(Y.TAX_DISCOUNT,0) FROM Contribution_Projection_full X, 
		(	
			SELECT B.EMPLOYEE_ID,(C.Tax_Amount*A.WOMAN_DISC_RATE)/100 AS TAX_DISCOUNT 
			FROM 
			(SELECT FY_ID,WOMAN_DISC_RATE 
				FROM TaxRuleSetup 
				WHERE FY_ID=@fiscalYear)A,
			(SELECT EMPLOYEE_ID 
				FROM Employee 
				WHERE GENDER=211
				)B,
			(SELECT FY_ID,Emp_Id,Tax_Amount 
				FROM Contribution_Projection_full
				WHERE FY_ID=@fiscalYear AND Run_Month=@runMonth)C 
		 WHERE A.FY_ID=C.FY_ID AND B.EMPLOYEE_ID=C.Emp_Id)Y		
		 WHERE X.Emp_Id=Y.EMPLOYEE_ID AND X.FY_ID=@fiscalYear AND X.Run_Month=@runMonth	
				
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
/* End Tax Discount for Taxation*/


/* Start Tax Remaining for Taxation*/
	--UPDATING TAX REMAINING FOR TAX CALCULATION
		UPDATE Contribution_Projection_full SET Tax_Remaining=isnull((Tax_Amount-Tax_Collected-Tax_Discount),0) 
		FROM Contribution_Projection_full 
		WHERE FY_ID=@fiscalYear AND Run_Month=@runMonth	
		
	    IF (@@ERROR <> 0) GOTO QuitWithRollback 
						
/* End Tax Remaining for Taxation*/

/* Start Tax This Month for Taxation*/
	--UPDATING TAX THIS MONTH(CURRENT) FOR TAX CALCULATION	
		--UPDATE Contribution_Projection_full SET Tax_This_Month=isnull(Tax_Remaining/(@remainMonth+1),0) 
		--FROM Contribution_Projection_full 
		--WHERE FY_ID=@fiscalYear AND Run_Month=@runMonth		
		/* Start Tax This Month for Taxation*/ 
    --UPDATING TAX THIS MONTH(CURRENT) FOR TAX CALCULATION    
        UPDATE Contribution_Projection_full SET Tax_This_Month=(CASE WHEN isnull(Tax_Remaining,0)<0 THEN 0 ELSE isnull(Tax_Remaining,0) END)  /(@remainMonth+1) 
        FROM Contribution_Projection_full 
        WHERE FY_ID=@fiscalYear AND Run_Month=@runMonth        
        
            IF (@@ERROR <> 0) GOTO QuitWithRollback
			
			
	--UPDATING TAX THIS MONTH(CURRENT) FOR NON NEPALI EMPLOYEE IN TAX CALCULATION		
		UPDATE Contribution_Projection_full SET Tax_This_Month=C.TAX_AMOUNT 
			FROM Contribution_Projection_full D,
		(SELECT Emp_Id,(BENEFIT_AMOUNT*NON_NEPALI_RATE)/100 AS TAX_AMOUNT 
		FROM 		
		(SELECT FY_ID,NON_NEPALI_RATE 
			FROM TaxRuleSetup 
			WHERE FY_ID=@fiscalYear)A,
		(SELECT FY_ID,Emp_Id,Basic_Salary_Current+Grade_Current+Allowance_Current+Adhoc_Benefits_This_Month+Premium_Paid_Employer AS BENEFIT_AMOUNT
		 FROM Contribution_Projection_full TC INNER JOIN Employee E ON E.EMPLOYEE_ID=TC.Emp_Id
		 WHERE  E.NATIONALITY='N' AND FY_ID=@fiscalYear AND Run_Month=@runMonth )B 
		 WHERE A.FY_ID=B.FY_ID)C
		 WHERE D.Emp_Id=C.Emp_Id AND D.FY_ID=@fiscalYear AND D.Run_Month=@runMonth	
				
		IF (@@ERROR <> 0) GOTO QuitWithRollback 
					
/* End Tax This Month for Taxation*/

---------##################################################################################################################################----------
declare 
@diff_tax as money,
@diff_contribution as money,
@actual_tax_saving as money,
@tax_current_amt as money,
@month as int,
@maxContri_Amt as money
	
select @diff_tax=a.Tax_Amount-b.Tax_Amount, @diff_contribution=b.Retirement_Deduction-a.Retirement_Deduction,@tax_current_amt=a.Tax_Remaining ,
@actual_tax_saving= case when (a.tax_amount-b.tax_amount)<=a.tax_Remaining then (a.tax_amount-b.tax_amount) else a.tax_Remaining end
 from Contribution_Projection a inner join Contribution_Projection_full b on a.Emp_Id=b.Emp_Id
if @diff_tax=0
	begin
		select 'Sorry No Contribution Projection, '+@emp_name+' has already adjusted full contribution amount!' as [Projection Report]
		return;
	end
if @tax_current_amt<0
	begin
		select 'Sorry No Contribution Projection,tax already deducted in excess from '+@emp_name+' !' as [Projection Report]
		return;
	end
if @tax_current_amt=0
	begin
		select 'Sorry No Contribution Projection,tax already paid fully for '+@emp_name+' !' as [Projection Report]
		return;
	end	
	Select @tax_current_amt=Tax_This_Month from Contribution_Projection
	set @month=@actual_tax_saving/@tax_current_amt
	select @maxContri_Amt=Retirement_Deduction from Contribution_Projection_full
	
	select 'Calculated Contribution Amount (Present)' as [Projection Description],dbo.Showdecimal(cast(Retirement_Deduction as varchar)) as [Amount] from Contribution_Projection
	union all
	
	select 'Maximum Contribution Amount Allowed' as [Projection Description],dbo.Showdecimal(cast(Retirement_Deduction as varchar)) as [Amount/Month] from Contribution_Projection_full where Emp_Id=@emp_id
	union all
	
	select 'Additional Eligible Contribution Amount ' as [PF Amount],dbo.Showdecimal(cast((@diff_contribution) as varchar)) as [Amount/Month]
	
	union all
	select 'Projected Full Tax Saving' as [PF Amount],dbo.Showdecimal(cast(@diff_tax as varchar)) as [Amount/Month]
	
	union all
	select 'Required additional contribution' as [PF Amount],
	dbo.Showdecimal(cast(case when @diff_tax<=a.Tax_Remaining then @diff_contribution 
	else @diff_contribution -((@diff_tax-@actual_tax_saving)/(@diff_tax/@diff_contribution) )
	 end as varchar)) as [Amount/Month] from  Contribution_Projection a

	union all
	select 'Actual Tax Saving' as [PF Amount],dbo.Showdecimal(cast(@actual_tax_saving as varchar)) as [Amount/Month] from  Contribution_Projection a inner join Contribution_Projection_full b on a.emp_id=b.emp_id and a.emp_id=@emp_id

	union all
	
	select 'Tax Adjustable Within Month' as [Projection Description], dbo.GetRoundUPandMonth(@month)  as [Amount/Month]
	
GOTO  EndSave

QuitWithRollback:
ROLLBACK TRANSACTION 


EndSave: 
	
END
GO
