USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procCMSuploadFile]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[procCMSuploadFile]
(
	@flag			varchar(1),
	@ROWID			int = 0 output,
	@func_id		int = 0,
	@FILE_DESC		varchar(200) = null,
	@UPLOAD_BY		varchar(50) = null,	
	@FILE_TYPE		varchar(50) = null,
	@file_date datetime=null
)

as

if @flag = 'i'
begin
	INSERT INTO [CMS_document]
			   ([funct_id],[doc_name],[doc_desc],[doc_ext],created_by,created_date,file_date)
		 VALUES
			   (@func_id,@FILE_DESC,@FILE_DESC,@FILE_TYPE,@UPLOAD_BY,GETDATE(),@file_date)
	set @ROWID = SCOPE_IDENTITY()
end
else if @flag = 'd'
begin
	delete from CMS_document where ROWID=@ROWID
end
GO
