USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[Proc_TaxCalculationReport]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Exec [Proc_TaxCalculationReport] @fyid='69-70',@runmonth='3',@empid='1439'

CREATE proc [dbo].[Proc_TaxCalculationReport]( 
		 @empid varchar (20)
		,@fyid varchar(20)
		,@runmonth varchar(2))

as
begin

	Declare @1_3benifit money

		select * into #Benefits 
		from
		(
				SELECT 'Basic Salary' Head ,Basic_Salary_Paid as Up_to_Previous_Month    ,Basic_Salary_Current as This_Month,Basic_Salary_Remaining 'Remaining' , Basic_Salary_Paid+ Basic_Salary_Current+ Basic_Salary_Remaining TOTAL FROM TaxCalculation WHERE Emp_Id=@empid AND FY_ID=@fyid AND Run_Month=@runmonth
				UNION ALL
				SELECT 'Grade', Grade_Paid,Grade_Current,Grade_Remaining,Grade_Paid+Grade_Current+Grade_Remaining FROM TaxCalculation WHERE Emp_Id=@empid AND FY_ID=@fyid AND Run_Month=@runmonth
				UNION ALL
				SELECT 'Allowance',Allowance_Paid ,Allowance_Current, Allowance_Remaining, Allowance_Paid+Allowance_Current+Allowance_Remaining FROM TaxCalculation WHERE Emp_Id=@empid AND FY_ID=@fyid AND Run_Month=@runmonth
				UNION ALL
				SELECT 'Ad Hoc Benefits',    Adhoc_Benefits_Paid    ,Adhoc_Benefits_This_Month    ,    0, Adhoc_Benefits_Paid    +Adhoc_Benefits_This_Month     FROM TaxCalculation WHERE Emp_Id=@empid AND FY_ID=@fyid AND Run_Month=@runmonth
				UNION ALL
				SELECT 'Employer Contribution', Contri_Paid_Employer,Contri_This_Month_Employer,Contri_To_Be_Paid_Employer, Contri_Paid_Employer + Contri_This_Month_Employer + Contri_To_Be_Paid_Employer    FROM TaxCalculation WHERE Emp_Id=@empid AND FY_ID=@fyid AND Run_Month=@runmonth
				UNION ALL   
				SELECT 'Interest Benefit','0.0' ,'0.0','0.0', Interest_Benefit    FROM TaxCalculation WHERE Emp_Id=@empid AND FY_ID=@fyid AND Run_Month=@runmonth
				UNION ALL
				SELECT 'Vehicle Benift','0.0' ,'0.0','0.0', Vehicle_Benift FROM TaxCalculation WHERE Emp_Id=@empid AND FY_ID=@fyid AND Run_Month=@runmonth
				UNION ALL
				SELECT 'House Benefit' , '0.0' ,'0.0','0.0',House_Benefit FROM TaxCalculation WHERE Emp_Id=@empid AND FY_ID=@fyid AND Run_Month=@runmonth
				UNION ALL
				SELECT 'Pension Income', '0.0' ,'0.0','0.0',Pension_Income FROM TaxCalculation WHERE Emp_Id=@empid AND FY_ID=@fyid AND Run_Month=@runmonth
		)v
		where TOTAL<>0


		select * into #Retirement
		from 
		(
				SELECT 'Employee Contribution' Head, 
					Contri_Deducted_Employee as Up_to_Previous_Month
					,Contri_Current_Employee as This_Month
					,Contri_Remaining_Employee Remaining
					,Contri_Deducted_Employee+Contri_Current_Employee+Contri_Remaining_Employee TOTAL 
				FROM TaxCalculation WHERE Emp_Id=@empid AND FY_ID=@fyid AND Run_Month=@runmonth
		UNION ALL
				SELECT 'Total Contribution', 
					Contri_Deducted_Employee+Contri_Paid_Employer
					,Contri_Current_Employee+Contri_This_Month_Employer
					,Contri_Remaining_Employee+Contri_To_Be_Paid_Employer 
					,Contri_Deducted_Employee+Contri_Current_Employee+Contri_Remaining_Employee+Contri_Paid_Employer+Contri_This_Month_Employer+Contri_To_Be_Paid_Employer
				FROM TaxCalculation WHERE Emp_Id=@empid AND FY_ID=@fyid AND Run_Month=@runmonth
		)x


		Select * into #Deductions
		from
		(

				SELECT    'Donation Deduction' Head, '0.0' Up_to_Previous_Month,'0.0' This_Month,'0.0' Remaining, Donation_Normal+ Donation_Special TOTAL FROM TaxCalculation WHERE Emp_Id=@empid AND FY_ID=@fyid AND Run_Month=@runmonth
				UNION ALL
				SELECT    'Premium Deduction' , '0.0' ,'0.0','0.0', Premium_Deduction FROM TaxCalculation WHERE Emp_Id=@empid AND FY_ID=@fyid AND Run_Month=@runmonth
				UNION ALL
				SELECT    'Disabled Deduction' , '0.0' ,'0.0','0.0', Disabled_Deduction FROM TaxCalculation WHERE Emp_Id=@empid AND FY_ID=@fyid AND Run_Month=@runmonth
				UNION ALL
				SELECT    'Pension Deduction', '0.0' ,'0.0','0.0', Pension_Deduction FROM TaxCalculation WHERE Emp_Id=@empid AND FY_ID=@fyid AND Run_Month=@runmonth
		)x
		where TOTAL<>0
		
		
		
		select * from #Benefits
		
		Select * from #Retirement

		SELECT '','1/3 of Total Benefit','MAXIMUM','ACTUAL','Retirement Deduction'

		SELECT 'Retirement Deduction' head,(SELECT SUM(TOTAL)/3 FROM #Benefits) [1/3 of benefit],'300000' maximum,
		Contri_Deducted_Employee+Contri_Current_Employee+Contri_Remaining_Employee+Contri_Paid_Employer+Contri_This_Month_Employer+Contri_To_Be_Paid_Employer Actual, 
		Retirement_Deduction Retirment_deduction FROM TaxCalculation WHERE Emp_Id=@empid AND FY_ID=@fyid AND Run_Month=@runmonth

		select * from #Deductions
	
		SELECT 'Tax' Head, ROUND(Tax_Collected,2) Up_to_Previous_Month, ROUND(Tax_This_Month,2) This_month, 
			ROUND(Tax_Remaining,2)-ROUND(Tax_This_Month,2) -ROUND(Tax_Discount,2) Remaining,
			ROUND(Tax_Amount,2)-ROUND(Tax_Discount,2) Total
		from TaxCalculation
		WHERE Emp_Id=@empid AND FY_ID=@fyid AND Run_Month=@runmonth


SELECT
			 'Slab1' Col1
			,T.Taxable_Slab1 Amt
			,CASE WHEN T.Marital_Status='M' THEN R.MARRIED_RATE1 ELSE R.UNMARRIED_RATE1 END TaxRate
			,(Taxable_Slab1/100)*(CASE WHEN T.Marital_Status='M' THEN R.MARRIED_RATE1 ELSE R.UNMARRIED_RATE1 END) TaxAmt
		FROM TaxCalculation T
		INNER JOIN TaxRuleSetup R ON T.FY_ID = R.FY_ID
		WHERE Emp_Id = @empid 
			AND T.FY_ID = @fyid 
			AND Run_Month = @runmonth	
		
		UNION ALL		
		SELECT
			 'Slab2' Col1
			,T.Taxable_Slab2 AS Amt
			,CASE WHEN T.Marital_Status='M' THEN R.MARRIED_RATE2 ELSE R.UNMARRIED_RATE2 END TaxRate
			,(Taxable_Slab2/100)*(CASE WHEN T.Marital_Status='M' THEN R.MARRIED_RATE2 ELSE R.UNMARRIED_RATE2 END) TaxAmt
		FROM TaxCalculation T
		INNER JOIN TaxRuleSetup R ON T.FY_ID = R.FY_ID
		WHERE Emp_Id = @empid 
			AND T.FY_ID = @fyid 
			AND Run_Month = @runmonth	
		
		UNION ALL
		SELECT
			 'Remaining' Col1
			,T.Remaining Amt
			,CASE WHEN T.Marital_Status='M' THEN R.MARRIED_RATE3 ELSE R.UNMARRIED_RATE3 END TaxRate
			,(Remaining/100)*(CASE WHEN T.Marital_Status='M' THEN R.MARRIED_RATE3 ELSE R.UNMARRIED_RATE3 END) TaxAmt
		FROM TaxCalculation T
		INNER JOIN TaxRuleSetup R ON T.FY_ID = R.FY_ID
		WHERE Emp_Id = @empid 
			AND T.FY_ID = @fyid 
			AND Run_Month = @runmonth	
		UNION ALL
		SELECT
			 'Additional' Col1
			,CASE WHEN T.Taxable_Amount>R.AMT_FOR_ADD_TAX THEN (T.Taxable_Amount-R.AMT_FOR_ADD_TAX)*(CASE WHEN T.Marital_Status='M' THEN R.MARRIED_RATE3 ELSE R.UNMARRIED_RATE3 END)/100  ELSE 0 END Amt
			,ADD_TAX_RATE TaxRate
			,(CASE WHEN T.Taxable_Amount>R.AMT_FOR_ADD_TAX THEN (T.Taxable_Amount-R.AMT_FOR_ADD_TAX)*(CASE WHEN T.Marital_Status='M' THEN R.MARRIED_RATE3 ELSE R.UNMARRIED_RATE3 END)/100  ELSE 0 END) *
				(ADD_TAX_RATE/100) TaxAmt
		FROM TaxCalculation T
		INNER JOIN TaxRuleSetup R ON T.FY_ID = R.FY_ID
		WHERE Emp_Id = @empid 
			AND T.FY_ID = @fyid 
			AND Run_Month = @runmonth	
		
		UNION ALL
		SELECT
			 'Tax Amount' Col1
			,NULL
			,NULL
			,T.Tax_Amount TaxAmt
		FROM TaxCalculation T
		INNER JOIN TaxRuleSetup R ON T.FY_ID = R.FY_ID
		WHERE Emp_Id = @empid 
			AND T.FY_ID = @fyid 
			AND Run_Month = @runmonth	
		
		UNION ALL		
		SELECT
			 'Tax Discount' Col1
			,NULL
			,NULL
			,T.Tax_Discount TaxAmt
		FROM TaxCalculation T
		INNER JOIN TaxRuleSetup R ON T.FY_ID = R.FY_ID
		WHERE Emp_Id = @empid 
			AND T.FY_ID = @fyid 
			AND Run_Month = @runmonth	

end
GO
