USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[CHECK_DATEFOR_CEA]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[CHECK_DATEFOR_CEA]

AS

SET NOCOUNT ON;

IF (SELECT SUBSTRING(NEP_DATE,4,2) FROM TBL_CALENDAR WHERE ENG_DATE=CAST(GETDATE() AS DATE))='01'
BEGIN

	EXEC PROC_CEASSIGNMENT

END
GO
