USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_GratuityMasterSetup]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*

EXEC proc_GratuityMasterSetup 
	  @flag = 'i'
     ,@startFrom = 'jd'
     ,@calculateOn = '36'
     ,@startYear = '2'
     ,@endYear = '3'
     ,@user = 1000

*/
CREATE PROC [dbo].[proc_GratuityMasterSetup]
      @flag			VARCHAR(1)		= NULL
     ,@id			INT				= NULL
     ,@startFrom    VARCHAR(30)		= NULL
     ,@calculateOn  VARCHAR(30)		= NULL
     ,@startYear    FLOAT
     ,@endYear		FLOAT
     ,@user			VARCHAR(30)		= NULL

AS
SET NOCOUNT ON

BEGIN TRY

	IF @flag = 'i'
    BEGIN
    
    IF EXISTS(SELECT * FROM GratuityMaster_Setup WHERE (Start_From = @startFrom AND Calculate_On = @calculateOn AND Start_Year = @startYear AND End_Year = @endYear))
    BEGIN
      
      SELECT '1' error_code, 'Value already assign! OR Invalid data!' msg 
      RETURN
    
    END
    
    INSERT INTO GratuityMaster_Setup (
							 Start_From
							,Calculate_On
							,Start_Year
							,End_Year
							,CREATED_BY
							,CREATED_DATE
							)
				SELECT     @startFrom
						  ,@calculateOn
						  ,@startYear
						  ,@endYear
						  ,@user
						  ,GETDATE()
			SELECT '0' error_code, 'Data Saved Successfully' msg 
    END

END TRY

BEGIN CATCH
	 IF @@TRANCOUNT > 0
	 ROLLBACK TRANSACTION
	 
	 SELECT '1' ERROR_CODE , ERROR_MESSAGE() MSG , @id ID  

END CATCH
GO
