USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[ProcBrachAssignment]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec [ProcBrachAssignment] @flag='a',@branch_id=null,@group_id=null,@inventory_ac=null,@purchase_ac=null,@isactive='True' ,@user='admin'
CREATE PROCEDURE [dbo].[ProcBrachAssignment]
				@flag CHAR(1),				
				@branch_id  VARCHAR(10)=NULL,
				@group_id  VARCHAR(20)=NULL,
				@inventory_ac VARCHAR(50)=NULL,				
				@purchase_ac VARCHAR(50)=NULL,				
				@isactive VARCHAR(5)=NULL,
				@user VARCHAR(50)=NULL
AS				
SET NOCOUNT ON;

IF(@flag='a')
BEGIN
	create table #temp
	(
		 branch_id int,
		 product_id int
	)
 	CREATE TABLE #temp_Product
	(
		product_id VARCHAR(500)
	)
	declare @minBranchId as int,@maxBranchId as int
		
	DECLARE @Group_Name AS VARCHAR(200),@branch_name AS VARCHAR(200)
	SELECT @branch_name=branch_name FROM Branches WHERE branch_id=@branch_id
	SELECT @Group_Name=item_name FROM IN_ITEM WHERE id=@group_id
		
	if	@branch_id is null and	@group_id is null
	begin

			select @minBranchId=MIN(branch_id),@maxBranchId =MAX(branch_id) from Branches
			while @maxBranchId>=@minBranchId
			begin
				 if exists(select * from Branches where BRANCH_ID=@minBranchId)
				 begin
					insert into #temp(branch_id,product_id )
					select @minBranchId,id from IN_PRODUCT 
					where id not in (select product_id from IN_BRANCH where Branch_id=@minBranchId)
					
				 end
				 set @minBranchId=@minBranchId+1
			end

			INSERT INTO IN_BRANCH(PURCHASE_AC, INVENTORY_AC, BRANCH_ID, PRODUCT_ID, CREATED_DATE, CREATED_BY, IS_ACTIVE)
			SELECT @purchase_ac, @inventory_ac,branch_id, product_id, GETDATE(),@user, @isactive FROM #temp

			drop table #temp
			SELECT 'All Product has been added with all branches!' AS msg
	end
	else if @branch_id is not null and @group_id is not null
	begin

		
        IF NOT EXISTS(SELECT id AS product_id FROM IN_PRODUCT WHERE item_id IN (SELECT id FROM IN_ITEM WHERE parent_id=@group_id)AND id NOT IN 
			(SELECT PRODUCT_ID FROM IN_BRANCH WHERE BRANCH_ID=@branch_id))
		BEGIN				
				
				SELECT 'All Product of '+@Group_Name+' has been already added with '+@branch_name +'!' AS msg
				RETURN;
		END	          
		
        INSERT #temp_Product           
			SELECT id AS product_id FROM IN_PRODUCT WHERE item_id IN (SELECT id FROM IN_ITEM WHERE parent_id=@group_id)AND id NOT IN 
			(SELECT PRODUCT_ID FROM IN_BRANCH WHERE BRANCH_ID=@branch_id)

		INSERT INTO IN_BRANCH(PURCHASE_AC, INVENTORY_AC, BRANCH_ID, PRODUCT_ID, CREATED_DATE, CREATED_BY, IS_ACTIVE)
		SELECT @purchase_ac, @inventory_ac,@branch_id, product_id, GETDATE(),@user, @isactive FROM 	#temp_Product
		
		SELECT 'All Product of '+@Group_Name+' has been added with '+@branch_name +'!' AS msg		
		DROP TABLE #temp_Product
	
	end
	else if @branch_id is null and @group_id is not null
	begin
		select @minBranchId=MIN(branch_id),@maxBranchId =MAX(branch_id) from Branches
		while @maxBranchId>=@minBranchId

		begin
			 if exists(select * from Branches where BRANCH_ID=@minBranchId)
			 begin
				insert into #temp(branch_id,product_id )
				select @minBranchId,id  from IN_PRODUCT 
				where id not in (select product_id from IN_BRANCH where Branch_id=@minBranchId)
				and item_id IN (SELECT id FROM IN_ITEM WHERE parent_id=@group_id)
				
			 end
			 set @minBranchId=@minBranchId+1
		end
		INSERT INTO IN_BRANCH(PURCHASE_AC, INVENTORY_AC, BRANCH_ID, PRODUCT_ID, CREATED_DATE, CREATED_BY, IS_ACTIVE)
		SELECT @purchase_ac, @inventory_ac,branch_id, product_id, GETDATE(),@user, @isactive FROM #temp

		drop table #temp
		SELECT 'All Product of '+@Group_Name+' has been added with all branches!' AS msg
	end
	else if @branch_id is not null and @group_id is null
	begin
        INSERT #temp_Product           
			SELECT id AS product_id FROM IN_PRODUCT WHERE id NOT IN 
			(SELECT PRODUCT_ID FROM IN_BRANCH WHERE BRANCH_ID=@branch_id)

		INSERT INTO IN_BRANCH(PURCHASE_AC, INVENTORY_AC, BRANCH_ID, PRODUCT_ID, CREATED_DATE, CREATED_BY, IS_ACTIVE)
		SELECT @purchase_ac, @inventory_ac,@branch_id, product_id, GETDATE(),@user, @isactive FROM 	#temp_Product
		
		SELECT 'All Product has been added with '+@branch_name +'!' AS msg		
		DROP TABLE #temp_Product
	end
END
GO
