USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[porc_Asset_Bill]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--select * from ASSET_BILL
CREATE procedure [dbo].[porc_Asset_Bill]
				@flag char(1),
				@id int,
				@bill_info varchar(500)=null
As				
set nocount on;
if(@flag='b')--update for bill
begin
	update ASSET_BILL set uploaded_billinfo = @bill_info, flag ='b' where id = @id
end
if(@flag='i')--update for insurence
begin
	update ASSET_BILL set uploaded_billinfo = @bill_info, flag ='i' where id = @id
end
GO
