USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[Proc_GratuityCalculationReport]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*

 EXEC [Proc_GratuityCalculationReport] @fy_id='69-70',@month='04'

select * from monthlist

 select * from employee where first_name like '%samjhana%'

 select * from monthlist

 select * from taxcalculation_trial where emp_id=1420

*/


CREATE PROC [dbo].[Proc_GratuityCalculationReport] 
	 @fy_id			varchar(15)		= NULL
	,@month			varchar(5)		= NULL
AS

SET NOCOUNT ON;

Declare @monthEndDate date, @monthStartDate date

select @monthEndDate= dbo.GetMonthEndDateEng(@fy_id,@month)
select @monthStartDate= dbo.GetMonthStartDateEng(@fy_id,@month)

select 
	 ROW_NUMBER() over (order by EMP_CODE) SNO
	,''''+EMP_CODE,E.FIRST_NAME+isnull(' '+MIDDLE_NAME+' ',' ')+LAST_NAME Name 
	,convert(Varchar,E.JOINED_DATE,107) [Joining Date]
	,convert(Varchar,GH.GratuityStartDate,107) [Gratuity Start Date]
	,GM.Unpaid_leave_Days
	,GH.totalyears
	,gH.GratuityRate
	,gh.Baseamt
	,gm.Gratuity_Till_Date [Gratuity Booked Till 2069 Ashard]
	,gp.gratuityAmt [Estimated Gratuiy Amount for the year 69-70]
	,GP.provisionAmt  [Estimated Gratuiy Amount for the month(/12)]
from monthlygratuityprovision GP 
inner join Gratuity_History GH 
on GP.MasterID=GH.MasterID 
inner join Employee E on GP.emp_id=E.EMPLOYEE_ID
Inner join Gratuity_Master GM on GP.masterID=GM.ID
and GH.Created_Date between @monthStartDate and @monthEndDate
where gp.fy_id=@fy_id and gp.run_month=@month
AND provisionAmt <> 0
GO
