USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procDepGroupWiseDetailRpt]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Exec procDepGroupWiseDetailRpt 'a','67-68','8','1','8'
CREATE PROC [dbo].[procDepGroupWiseDetailRpt]
	@flag VARCHAR(1),
	@fiscal_year VARCHAR(20)=NULL,
	@runMonth VARCHAR(10)=NULL,
	@branch_id VARCHAR(10)=NULL,
	@group_id VARCHAR(10)=NULL

AS
IF @flag='a'
BEGIN
		SELECT b.asset_number as [Asset Number],convert(varchar,booked_date,107) as [Booked Date],
		dbo.showdecimal(a.dep_value) as [Monthly Dep.],dbo.showdecimal(b.purchase_value) as [Purchase Value],
		dbo.showdecimal(b.acc_depriciation) as [Acc. Dep.],b.old_asset_no [Old Asset Number],b.narration [Asset Narration]
		FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id INNER JOIN ASSET_PRODUCT c ON c.id=b.product_id
			WHERE fiscal_year=@fiscal_year AND run_month=@runMonth AND a.branch_id=@branch_id AND b.product_id IN
			(SELECT id FROM ASSET_PRODUCT WHERE item_id IN (SELECT id FROM ASSET_ITEM WHERE parent_id=@group_id))
END
GO
