USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procRequestDepreciationBooking]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Exec [procRequestDepreciationBooking] @flag='i',@id='1',@fiscalYear='69-70', @runMonth='4',@branchId='7', @user='1000',@forwarded_to='1000'
CREATE PROC [dbo].[procRequestDepreciationBooking]
	@flag VARCHAR(1),
	@id int =null,
	@fiscalYear VARCHAR(20)=null,
	@runMonth VARCHAR(20)=null,
	@branchId VARCHAR(10)=NULL,
	@user VARCHAR(20)=NULL,
	@forwarded_to INT=NULL
AS

IF @flag='i'
BEGIN		

	SET NOCOUNT ON;
	SET XACT_ABORT ON;
	DECLARE 
	 @sql			VARCHAR(MAX)
	,@oldValue		VARCHAR(MAX)
	,@newValue		VARCHAR(MAX)
	,@tableName		VARCHAR(50)	
	,@nepaliMonth varchar(50)	
	CREATE TABLE #msg(errorCode INT, msg VARCHAR(100), id INT)
	/*
	IF EXISTS(SELECT 'a' FROM DEPRECIATION_BOOKING_REQUEST WITH(NOLOCK)
		 WHERE fiscal_year=@fiscalYear AND run_month=@runMonth and branch_id = @branchId)
	BEGIN
			SELECT @nepaliMonth=dbo.[GetNepaliMonthName](@runMonth)
			SELECT 'Already Requested for this '+@nepaliMonth+' of '+@fiscalYear+' year!' AS MSG
			RETURN;
	END

	if @branchId is null
	begin
		IF EXISTS(SELECT 'a' FROM DEPRECIATION_BOOKING_REQUEST WITH(NOLOCK)
			 WHERE fiscal_year=@fiscalYear AND run_month=@runMonth)
		BEGIN
				SELECT @nepaliMonth=dbo.[GetNepaliMonthName](@runMonth)
				SELECT 'Already Requested of some branches on '+@nepaliMonth+' of '+@fiscalYear+' year!, So you can not request for all branches.' AS MSG
				RETURN;
		END
	end
	*/

	DECLARE 
	 @gridName				VARCHAR(50)		
	,@addEditFunctionId		INT
	,@deleteFunctionId		INT
	,@approveFunctionId		INT
	,@tableNameAudit		VARCHAR(100)
	,@identifierField		VARCHAR(100)
	,@modType				VARCHAR(6)
	,@tableDescription		VARCHAR(100)
	
	SELECT
	 @tableNameAudit	= 'DEPRECIATION_BOOKING_REQUEST'
	,@identifierField	= 'id'
	,@tableDescription	= 'REQUEST FOR DEPRECIATION BOOKING'
	,@modType			= 'insert'
	

	DECLARE @previousMonth AS INT
	DECLARE @previousFY AS VARCHAR(20),@fiscalYearENDDate AS VARCHAR(200)	
	DECLARE @monthStartDate AS DATE,@monthEndDate AS DATE
	DECLARE @isAmortised AS VARCHAR(2)
	SET @monthStartDate=dbo.GetMonthStartDateEng(@fiscalYear,@runMonth) 
	SET @monthEndDate=dbo.[GetMonthEndDateEng](@fiscalYear,@runMonth)
	SET @previousMonth=@runMonth-1
	IF(@runMonth=1)
	BEGIN
		SET @previousMonth=12
	END	
	
	SELECT @previousFY=FISCAL_YEAR_NEPALI FROM FiscalYear WHERE  en_year_end_date= DATEADD(DAY,-1,
		(SELECT en_year_start_date FROM FiscalYear with(nolock) WHERE FISCAL_YEAR_NEPALI=@fiscalYear))
	
	
---#### CHECKING BOOKING DEPRECIATION BEFORE REQUEST ####---
	IF @previousFY<>''
	BEGIN
		
		SELECT @fiscalYearENDDate=en_year_end_date FROM FiscalYear with(nolock) WHERE FISCAL_YEAR_NEPALI=@previousFY
		
		SELECT A.id AS ASSET_ID
		INTO #TEMP_ASSET FROM
		(
			SELECT id FROM ASSET_INVENTORY with(nolock) WHERE depr_start_date < @fiscalYearENDDate AND is_amortised='N' AND asset_status='Active'
			AND BRANCH_ID = ISNULL(@branchid ,BRANCH_ID)
			
			UNION ALL
			
			SELECT id FROM ASSET_INVENTORY with(nolock) WHERE is_amortised='Y' --AND remain_month>0
			AND depr_start_date<@fiscalYearENDDate  AND asset_status='Active' AND BRANCH_ID = ISNULL(@branchid ,BRANCH_ID)			
		)A
		IF EXISTS(SELECT ASSET_ID FROM #TEMP_ASSET 
						WHERE ASSET_ID NOT IN (
						SELECT A.ASSET_ID 
						FROM 	
						(
						SELECT ASSET_ID FROM #TEMP_ASSET
						)A INNER JOIN
						(
						SELECT ASSET_ID FROM depreciation_status 
							WHERE run_month=3 AND fiscal_year=@previousFY 
						)B ON A.ASSET_ID=B.ASSET_ID))
		BEGIN
			SELECT 'Depreciation booking is not completed for previous '+@previousFY+' fiscal year!' AS MSG
			RETURN;
		END
	END
	
	
	
	IF @runMonth<>4
	BEGIN
		IF EXISTS(				
			SELECT ID
				FROM ASSET_INVENTORY with(nolock) WHERE is_amortised='Y'
				AND depr_start_date <@monthStartDate AND asset_status='Active'
				AND BRANCH_ID = ISNULL(@branchId ,BRANCH_ID) AND id NOT IN(SELECT asset_id FROM depreciation_status  with(nolock)
				WHERE fiscal_year=@fiscalYear AND run_month=@previousMonth)
				AND acc_depriciation<>purchase_value)
		BEGIN	
			SELECT 'Some Assets are still pending for previous month!' AS msg
			RETURN;
		END
	END
	
	IF @runMonth=4
	BEGIN
		
		IF EXISTS(				
			SELECT ID
				FROM ASSET_INVENTORY with(nolock) WHERE is_amortised='Y'
				AND depr_start_date <@monthStartDate AND asset_status='Active'
				AND BRANCH_ID = ISNULL(@branchId ,BRANCH_ID) AND id NOT IN(SELECT asset_id FROM depreciation_status with(nolock)
				WHERE fiscal_year=@previousFY AND run_month=@previousMonth)
				AND acc_depriciation<>purchase_value)
		BEGIN	
		
			SELECT 'Some Assets are still pending for previous fiscal year!' AS msg
			RETURN;
		END
	END
	
	IF @branchId IS NULL AND @runMonth<>4
	BEGIN
		IF NOT EXISTS(SELECT TOP 1 * FROM depreciation_status with(nolock) WHERE run_month=@previousMonth AND fiscal_year=@fiscalYear)
		BEGIN
			SELECT 'Process Not Run for Previous Month!' AS REMARKS
			RETURN;	
		END
	END
	IF NOT EXISTS(SELECT * FROM depreciation_setup with(nolock) WHERE fiscal_year=@fiscalYear)
	BEGIN
			SELECT 'NO DATA FOUND FOR '+@fiscalYear+' FISCAL YEAR' AS REMARKS
			RETURN;
	END	
	 
	IF @branchId IS NOT NULL
	BEGIN
		IF NOT EXISTS(SELECT TOP 1 * FROM ASSET_INVENTORY with(nolock) WHERE branch_id = @branchId AND asset_status='Active')
		BEGIN				
			SELECT 'No Asset Found For This Branch!' AS REMARKS
			RETURN;	
		END 
	END
	--- CHECKING PREVOIUS MONTH BRANCH WISE CALCULATION
	IF @branchId IS NOT NULL AND @runMonth<>4
	
	IF NOT EXISTS(SELECT TOP 1 * FROM depreciation_status with(nolock) WHERE run_month=@previousMonth AND fiscal_year=@fiscalYear 
		AND BRANCH_ID =@branchId)
		AND @runMonth<>4
		BEGIN
			SELECT 'Process Not Run for Previous Month!' AS REMARKS
			RETURN;	
		END
	
	--- CHECKING PREVIOUS MONTH DEP VALUE BRANCH WISE------
	IF @branchId IS NULL AND @runMonth<>4
	BEGIN
		IF EXISTS(SELECT BRANCH_ID FROM ASSET_INVENTORY with(nolock) WHERE branch_id NOT IN 
		(SELECT DISTINCT(branch_id) FROM depreciation_status with(nolock)
			WHERE fiscal_year=@fiscalYear AND run_month=@previousMonth) AND depr_start_date<@MonthStartDate
			AND asset_status='Active')
		BEGIN	
			DECLARE @strMissingList VARCHAR(200)
			SELECT @strMissingList =COALESCE(@strMissingList + ', ', '') + B.BRANCH_NAME FROM  				
						(SELECT DISTINCT(BRANCH_ID)  AS BRANCH_ID FROM ASSET_INVENTORY with(nolock) WHERE branch_id NOT IN 
							(SELECT DISTINCT(branch_id) FROM depreciation_status with(nolock)
							WHERE fiscal_year=@fiscalYear AND run_month=@previousMonth) 
							AND depr_start_date<@MonthStartDate AND asset_status='Active')A,			
						(SELECT BRANCH_ID,BRANCH_NAME FROM Branches with(nolock))B WHERE A.BRANCH_ID=B.BRANCH_ID
			
			SELECT @strMissingList+' are still pending branches to book depreciation for the previous month!' AS REMARKS
			RETURN;
		END
	END
		BEGIN TRANSACTION
	--- ### AFTER CHEKING SUCESSFULLY COMPLETED ### ----

		--SELECT * FROM DEPRECIATION_BOOKING_REQUEST
		DECLARE @ROW_ID AS INT

		DELETE FROM DEPRECIATION_BOOKING_REQUEST WHERE id=@ID
		
		INSERT INTO DEPRECIATION_BOOKING_REQUEST(fiscal_year,run_month,branch_id,created_by,created_date,forwarded_to,forwarded_date,status)VALUES
		(@fiscalYear,@runMonth,@branchId,@user,GETDATE(),@forwarded_to,GETDATE(),'Requested')
		
		SET @ROW_ID=@@IDENTITY

		DELETE FROM changesApprovalQueue WHERE tableName=@tableNameAudit AND dataid=@id
		
		INSERT INTO #msg(errorCode, msg, id)
					EXEC proc_changesApprovalQueue 
						 @flag = 'i'
						,@user = @user
						,@dataId = @ROW_ID
						,@identifierField = @identifierField
						,@tableName = @tableNameAudit
						,@modType = @modType			
						,@description = @tableDescription
						,@functionId = @approveFunctionId
						,@addEditFunctionId	= @addEditFunctionId
						,@forwarded_to=@forwarded_to
		 IF @@TRANCOUNT > 0
		 
		 SELECT 'SUCCESS!' AS MSG
		 
		COMMIT TRANSACTION
	
	
	
	--- #### end requesting----
		
END
GO
