USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procDocAppointment]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[procDocAppointment]
	 @FLAG				VARCHAR(10)	
	,@ID				int=null
	,@EMP_ID			INT=NULL
	,@PATIENT_NAME		VARCHAR(500)=NULL
	,@SYMPTOMS			VARCHAR(MAX)=NULL
	,@EXTENSION_NUM		VARCHAR(50)=NULL
	,@IS_CONSULTED		VARCHAR(50)=NULL
	,@USER				VARCHAR(50)=NULL

AS

SET NOCOUNT ON

	if @flag='i'
	begin  

		INSERT INTO DOCTOR_APPOINTMENT(
								 EMP_ID
								,PATIENT_NAME
								,SYMPTOMS
								,EXTENSION_NUM
								,IS_CONSULTED
								,CREATED_BY
								,CREATED_DATE)VALUES(				
								 @EMP_ID				
								,@PATIENT_NAME				
								,@SYMPTOMS			
								,@EXTENSION_NUM			
								,@IS_CONSULTED		
								,@USER				
								,GETDATE()
							)	
		SELECT 'Success!' AS msg
	end
	
	if @flag='u'
	begin
	   update DOCTOR_APPOINTMENT set 
				 EMP_ID=@EMP_ID
				,PATIENT_NAME=@PATIENT_NAME
				,SYMPTOMS=@SYMPTOMS
				,EXTENSION_NUM=@EXTENSION_NUM
				,IS_CONSULTED=@IS_CONSULTED
				,MODIFIED_BY=@USER
				,MODIFIED_DATE=GETDATE()
				
		where ID=@ID
		
		select 'Success!' as msg
	end
	
	if @flag='d'
	begin
		delete from DOCTOR_APPOINTMENT where ID=@ID
		select 'Success!' as msg
	end
	
	if @flag='s'
	begin
		SELECT ID,dbo.GetEmployeeInfoById(EMP_ID) EMP_NAME,PATIENT_NAME,SYMPTOMS,EXTENSION_NUM,
		IS_CONSULTED 
		FROM DOCTOR_APPOINTMENT WHERE ID=@ID
	end
GO
