USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procContributionProjectionNEW]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[procContributionProjectionNEW]
	@flag char(1),
	@fiscalYear varchar(20),
	@emp_id varchar(20)=null,
	@user varchar(50),
	@projection1 money = null,
	@projection2 money = null,
	@projection3 money = null
	
as
if @flag='i'
begin
	
	SET NOCOUNT ON ;	
	SET xact_abort on;

---- Exec [procContributionProjectionNEW1] 'i','68-69','1036','admin',4000,5000,6000

DECLARE 
	@remainMonth INT,
	@yearStartDate DATE,
	@yearEndDate DATE,
	@monthStartDate DATE,
	@monthEndDate DATE,
	@monthname VARCHAR (20),
	@applieddate DATE,
	@previousmonthStartDate DATE,
	@previousmonthEndDate DATE,
	@previousfy VARCHAR(10),
	@days INT,
	@day_diff int,
	@PreviousMonthDays INT,
	@RunMonthDays INT,
	@emp_type INT,
	@emp_name VARCHAR(200),
	@runMonth int  =	NUll
	
	SELECT  @runMonth=MAX(Run_Month) FROM TaxCalculation WHERE FY_ID=@fiscalYear and Run_Month between 4 and 12
	
	if  exists(select distinct Run_Month from TaxCalculation where FY_ID=@fiscalYear and Run_Month between 1 and 3 )
	begin
			SELECT  @runMonth=MAX(Run_Month) FROM TaxCalculation WHERE FY_ID=@fiscalYear and Run_Month between 1 and 3
	end
	
	if ISNULL(@runMonth,0)=3
	begin
			select 'Last salary run for fiscal year already done! Projection is not possible' as [Projection Report]
			return;
	end
	
	if ISNULL(@runMonth,0)=0 set @runMonth=4
	IF ISNULL(@runMonth,0)=12 set @runMonth=1
	If ISNULL(@runMonth,0)>4 and ISNULL(@runMonth,0)<12
	begin
	IF ISNULL(@runMonth,0) between 4 and 11set @runMonth=@runMonth+1
	End

		
	SET @remainMonth=(case when @runMonth=1 then 2 when @runMonth=2 then 1 when @runMonth=3 then 0 else 12-@runMonth+3 end)
	SELECT @yearStartDate=EN_YEAR_START_DATE from FiscalYear where FISCAL_YEAR_NEPALI=@fiscalYear
	SELECT @yearEndDate=EN_YEAR_END_DATE from FiscalYear where FISCAL_YEAR_NEPALI=@fiscalYear
	SET @monthStartDate=dbo.GetMonthStartDateEng(@fiscalYear,@runMonth) 
	SET @monthEndDate=dbo.GetMonthEndDateEng(@fiscalYear,@runMonth)
	SELECT @monthname=Name from MonthList where Month_Number=@runMonth
	SET @applieddate= CASE WHEN GETDATE() between @monthStartDate AND @monthEndDate THEN GETDATE() ELSE @monthEndDate END
	
	if not exists(select * from TaxRuleSetup where FY_ID=@fiscalYear)
	begin
			select 'You have no rule setup for '+@fiscalYear+' fiscal year!' as [Projection Report]
			return;
	end
	select @emp_name=FIRST_NAME+' '+MIDDLE_NAME+' '+LAST_NAME from Employee where EMPLOYEE_ID=@emp_id
	
	if exists(select * from Employee where EMP_TYPE not in (189,185) AND EMPLOYEE_ID=@emp_id)
	BEGIN
		select 'Sorry! No Contribution Projection, '+@emp_name+' Is Not a Permanent Employee!' as [Projection Report]
		return;
	END
	
		if exists(select * from Employee where NATIONALITY='N' AND EMPLOYEE_ID=@emp_id)
	BEGIN
		select 'Sorry! No Contribution Projection, '+@emp_name+' Is Not a Resident of Nepal!' as [Projection Report]
		return;
	END
	
	


	SELECT @previousfy= FISCAL_YEAR_NEPALI FROM FiscalYear WHERE EN_YEAR_END_DATE=DATEADD(D,-1,@yearStartDate)
	SET @previousfy= CASE WHEN CAST(@runmonth AS INT)=4 THEN @previousfy ELSE @fiscalYear END
	SET @previousmonthStartDate=dbo.GetMonthStartDateEng(@previousfy,@runMonth-1) 
	SET @previousmonthEndDate=dbo.GetMonthEndDateEng(@previousfy,@runMonth-1) 
	
	SET @PreviousMonthDays = DATEDIFF(d,@previousmonthStartDate,@previousmonthEndDate)+1
	SET @RunMonthDays = DATEDIFF(d,@monthStartdate,@monthenddate)+1


	
 SELECT * INTO #TaxCalculationTEMP FROM TaxCalculation WHERE 1=2
 ALTER TABLE #TaxCalculationTEMP ADD FLAG INT
 ALTER TABLE #TaxCalculationTEMP
 DROP COLUMN Id


	INSERT INTO #TaxCalculationTEMP(Emp_Id,Branch_Id,Dept_Id,Post_Id,Marital_Status,FY_ID,Run_Month,Run_By,Basic_Salary_Paid,Basic_Salary_Current,
	Basic_Salary_Remaining,Grade_Paid,Grade_Current,Grade_Remaining,Allowance_Paid,Allowance_Current,Allowance_Remaining,Adhoc_Benefits_Paid,
	Adhoc_Benefits_This_Month,Interest_Benefit,Vehicle_Benift,House_Benefit,Pension_Income,Premium_Paid_Employer,Contri_Paid_Employer,
	Contri_This_Month_Employer,Contri_To_Be_Paid_Employer,Contri_Deducted_Employee,Contri_Current_Employee,Contri_Remaining_Employee,
	Donation_Normal,Donation_Special,Premium_Deduction,Disabled_Deduction,Pension_Deduction,Retirement_Deduction,Taxable_Amount,Taxable_Slab1,
	Taxable_Slab2,Remaining,Tax_Amount,Tax_Collected,Tax_Discount,Tax_Remaining,Tax_This_Month,Adhoc_Deduction,Adhoc_Deduction_Current,
	Loan_Deduction,Advance_Deduction,SOCIAL_SECURITY_TAX,SDAY,SMONTH,R_SMONTH, R_SDAY,M_DAY,FLAG,future_benefits)
	SELECT EMPLOYEE_ID,BRANCH_ID,DEPARTMENT_ID,POSITION_ID,MARITAL_STATUS,@fiscalYear,@runMonth,@user,
	0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,@remainMonth,0,@RunMonthDays,0,0
	FROM Employee WHERE EMP_STATUS=458 AND EMPLOYEE_ID<>'1000'
	AND JOINED_DATE<=@monthEndDate
	AND EMPLOYEE_ID LIKE ISNULL(@emp_id ,'%') 
	
		
	---FOR IDENTIFYING EMPLOYEE FOR WHOM PAYROL HAS NOT BEEN GENERATED IN PREVIOUS MONTH----
	UPDATE #TaxCalculationTEMP SET FLAG=1 FROM #TaxCalculationTEMP A 
	INNER JOIN TaxCalculation TC ON A.EMP_ID=TC.Emp_Id 
	AND TC.FY_ID=@previousfy AND TC.Run_Month=case when cast (@runMonth as int)=1 then 12 else @runMonth-1 end 
	
	
	---CALCULATION OF SDAY AND SMONTH FOR CALCULATING SALARY OF EMPLOYEE JOINING IN THE MID OF THE PREVIOUS MONTH AFTER SALARY GENERATION---
	UPDATE #TaxCalculationTEMP SET SDAY=DATEDIFF(D,JOINED_DATE,@monthStartDate), M_DAY=@PreviousMonthDays FROM 
	#TaxCalculationTEMP A INNER JOIN Employee E WITH (NOLOCK) ON A.EMP_ID=E.EMPLOYEE_ID
	AND E.JOINED_DATE BETWEEN @yearStartDate AND  DATEADD(D,-1,@monthStartDate ) AND FLAG=0
	
	---CALCULATION OF SDAY AND SMONTH FOR CALCULATING SALARY OF EMPLOYEE JOINING IN THE MID OF THE SALARY MONTH---
	UPDATE #TaxCalculationTEMP SET SMONTH=0, SDAY=DATEDIFF(D,JOINED_DATE,@monthEndDate)+1 FROM 
	#TaxCalculationTEMP A INNER JOIN Employee E WITH (NOLOCK) ON A.EMP_ID=E.EMPLOYEE_ID
	AND E.JOINED_DATE > @monthStartDate AND FLAG=0
	
	---CALCULATION OF SDAY AND SMONTH FOR CALCULATING SALARY RETIRING IN THE MID OF THE MONTH---
	UPDATE #TaxCalculationTEMP SET SDAY=DATEDIFF(D,@monthStartDate,EFFECTIVE_DATE), SMONTH=0 FROM 
	#TaxCalculationTEMP A INNER JOIN EmployeeDiscontinuousPlan E WITH (NOLOCK) ON A.EMP_ID=E.STAFF_ID
	AND E.EFFECTIVE_DATE BETWEEN @monthStartDate AND  DATEADD(D,-1,@monthEndDate) AND FLAG=1
	
	--select @remainMonth= CASE WHEN SMONTH=0 THEN 1 Else @remainMonth END  from #TaxCalculationTEMP
	
---CALCULATION OF R_SDAY AND R_SMONTH FOR CALCULATING REMAINING SALARY FOR RETIRING EMPLOYEE ---		
	
	IF @runMonth<>3
		BEGIN
	UPDATE #TaxCalculationTEMP 
	SET R_SMONTH=dbo.GetRemainMonthForRetirement(@fiscalYear,@runMonth,ED.EFFECTIVE_DATE),
	R_SDAY=dbo.GetRemainDaysForRetirement(@fiscalYear,@runMonth,ED.EFFECTIVE_DATE)
	FROM 	#TaxCalculationTEMP A INNER JOIN EmployeeDiscontinuousPlan ED WITH (NOLOCK) ON A.EMP_ID=ED.STAFF_ID
	AND ED.EFFECTIVE_DATE BETWEEN @monthStartDate AND  @yearEndDate 
		END
/* Start Basic Salary*/
	--UPDATING BASIC SALARY PAID IN TAX CALCULATION
		
		UPDATE #TaxCalculationTEMP SET Basic_Salary_Paid=ISNULL(B.PAID_AMOUNT,0) FROM #TaxCalculationTEMP A,  
		(SELECT EMPLOYEE_ID,SUM(PAID_AMOUNT) AS PAID_AMOUNT FROM (
			SELECT EMPLOYEE_ID,PAID_AMOUNT AS PAID_AMOUNT FROM PayableHistory a INNER JOIN StaticDataDetail s ON a.BENEFIT_ID=s.ROWID 
			WHERE s.TYPE_ID=36 AND FY_ID=@fiscalYear
						UNION ALL
			SELECT A.Employee_id, CASE WHEN ADD_DEDUCT='D' THEN amount*-1 ELSE AMOUNT END AS AMOUNT FROM AdhocPayment a WITH (NOLOCK)
			INNER JOIN  StaticDataDetail c WITH (NOLOCK)ON a.HEAD_id=C.rowid
			WHERE C.TYPE_ID=36
			AND A.APPLIED_DATE BETWEEN @yearStartDate AND @monthEndDate) q 	GROUP BY EMPLOYEE_ID
		)B WHERE A.Emp_Id =B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth
	
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
		
		--UPDAING BASIC SALARY CURRENT IN TAX CALCULATION
		
		UPDATE #TaxCalculationTEMP SET Basic_Salary_Current=ISNULL(B.BASIC_CURRENT,0) FROM #TaxCalculationTEMP A,
		(SELECT EMPLOYEE_ID,SUM(PAID_AMOUNT) AS BASIC_CURRENT FROM (
			SELECT EMPLOYEE_ID,AMOUNT*TC.SMONTH + ROUND((AMOUNT/M_DAY)*TC.SDAY,2) AS PAID_AMOUNT FROM Payable a 
			INNER JOIN  StaticDataDetail s ON a.BENEFIT_ID=s.ROWID 
			INNER JOIN #TaxCalculationTEMP TC ON A.EMPLOYEE_ID=TC.EMP_ID
			WHERE s.TYPE_ID=36
				UNION ALL
			SELECT A.Employee_id, CASE WHEN ADD_DEDUCT='D' THEN amount*-1 ELSE AMOUNT END AS AMOUNT FROM AdhocPayment a WITH (NOLOCK)
			INNER JOIN  StaticDataDetail c WITH (NOLOCK)ON a.HEAD_id=C.rowid
			WHERE C.TYPE_ID=36
			AND (A.APPLIED_DATE IS NULL)) q GROUP BY EMPLOYEE_ID 
		)B WHERE A.Emp_Id=B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth
	
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
	--UPDATING BASIC SALARY TO BE PAID IN TAX CALCULATION
					
		UPDATE #TaxCalculationTEMP SET Basic_Salary_Remaining=ISNULL((B.BASIC_CURRENT*A.R_SMONTH + (B.BASIC_CURRENT/M_DAY)*A.R_SDAY) ,0) FROM #TaxCalculationTEMP A,
		(SELECT EMPLOYEE_ID,SUM(AMOUNT) AS BASIC_CURRENT FROM Payable a 
		INNER JOIN StaticDataDetail s ON a.BENEFIT_ID=s.ROWID WHERE s.TYPE_ID=36
		GROUP BY EMPLOYEE_ID )B WHERE A.Emp_Id=B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth
		
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
/* End Basic Salary*/

/* Start Grade*/		
		--UPDATING GRADE PAID IN TAX CALCULATION
		UPDATE #TaxCalculationTEMP SET Grade_Paid=ISNULL(B.GRADE_PAID,0) FROM #TaxCalculationTEMP A,  
		(SELECT EMPLOYEE_ID,SUM(PAID_AMOUNT) AS GRADE_PAID FROM (
			SELECT EMPLOYEE_ID,PAID_AMOUNT FROM PayableHistory a INNER JOIN StaticDataDetail s ON a.BENEFIT_ID=s.ROWID 
			WHERE s.TYPE_ID=37 AND FY_ID=@fiscalYear
				UNION ALL 
			SELECT A.Employee_id, CASE WHEN ADD_DEDUCT='D' THEN amount*-1 ELSE AMOUNT END AS AMOUNT FROM AdhocPayment a WITH (NOLOCK)
			INNER JOIN  StaticDataDetail c WITH (NOLOCK)ON a.HEAD_id=C.rowid
			WHERE C.TYPE_ID=37
			AND A.APPLIED_DATE BETWEEN @yearStartDate AND  @monthEndDate) q 	GROUP BY EMPLOYEE_ID
		)B WHERE A.Emp_Id =B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth
	
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
		--UPDAING GRADE CURRENT IN TAX CALCULATION
		
		UPDATE #TaxCalculationTEMP SET Grade_Current=ISNULL(B.GRADE_CURRENT,0) FROM #TaxCalculationTEMP A,
		(SELECT EMPLOYEE_ID,SUM(PAID_AMOUNT) AS GRADE_CURRENT FROM (
			SELECT EMPLOYEE_ID,AMOUNT*TC.SMONTH + ROUND((AMOUNT/M_DAY )* TC.SDAY,2) AS PAID_AMOUNT FROM Payable a 
			INNER JOIN  StaticDataDetail s ON a.BENEFIT_ID=s.ROWID 
			INNER JOIN #TaxCalculationTEMP TC ON A.EMPLOYEE_ID=TC.EMP_ID 
			WHERE s.TYPE_ID=37
				UNION ALL
			SELECT A.Employee_id, CASE WHEN ADD_DEDUCT='D' THEN amount*-1 ELSE AMOUNT END AS AMOUNT FROM AdhocPayment a WITH (NOLOCK)
			INNER JOIN  StaticDataDetail c WITH (NOLOCK)ON a.HEAD_id=C.rowid
			WHERE C.TYPE_ID=37
			AND A.APPLIED_DATE IS NULL ) q GROUP BY EMPLOYEE_ID 
		)B WHERE A.Emp_Id=B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth
	
	
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
	--UPDATING GRADE TO BE PAID IN TAX CALCULATION
					
		UPDATE #TaxCalculationTEMP SET Grade_Remaining=ISNULL((B.GRADE_REMAINING*A.R_SMONTH +( B.GRADE_REMAINING/M_DAY)* A.R_SDAY ),0) FROM #TaxCalculationTEMP A,
		(SELECT EMPLOYEE_ID,SUM(AMOUNT) AS GRADE_REMAINING FROM Payable a INNER JOIN StaticDataDetail s ON a.BENEFIT_ID=s.ROWID WHERE s.TYPE_ID=37
		GROUP BY EMPLOYEE_ID )B WHERE A.Emp_Id=B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth
		
		
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
/* End Grade*/		

/* Start Allowance*/

		--UPDATING ALLOWANCE PAID IN TAX CALCULATION
		UPDATE #TaxCalculationTEMP SET Allowance_Paid=ISNULL(B.PAID_ALLOWANCE,0) FROM #TaxCalculationTEMP A,  
		(SELECT EMPLOYEE_ID,SUM(PAID_AMOUNT) AS PAID_ALLOWANCE FROM (
			SELECT EMPLOYEE_ID,PAID_AMOUNT AS PAID_AMOUNT FROM PayableHistory a INNER JOIN StaticDataDetail s ON a.BENEFIT_ID=s.ROWID 
			WHERE s.TYPE_ID=38 AND FY_ID=@fiscalYear
				UNION ALL
			SELECT A.Employee_id, CASE WHEN ADD_DEDUCT='D' THEN amount*-1 ELSE AMOUNT END AS AMOUNT FROM AdhocPayment a WITH (NOLOCK)
			INNER JOIN  StaticDataDetail c WITH (NOLOCK)ON a.HEAD_id=C.rowid
			WHERE C.TYPE_ID=38
			AND A.APPLIED_DATE BETWEEN @yearStartDate AND @monthEndDate) q 	GROUP BY EMPLOYEE_ID
		)B WHERE A.Emp_Id =B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth
	
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
		--UPDAING ALLOWANCE CURRENT IN TAX CALCULATION
		
		UPDATE #TaxCalculationTEMP SET Allowance_Current=ISNULL(B.ALLOWANCE_CURRENT,0) FROM #TaxCalculationTEMP A,
		(SELECT EMPLOYEE_ID,SUM(PAID_AMOUNT) AS ALLOWANCE_CURRENT FROM (
			SELECT EMPLOYEE_ID,AMOUNT*TC.SMONTH +  ROUND((AMOUNT/M_DAY )*TC.SDAY,2) AS PAID_AMOUNT FROM Payable a 
			INNER JOIN  StaticDataDetail s ON a.BENEFIT_ID=s.ROWID 
			INNER JOIN #TaxCalculationTEMP TC ON A.EMPLOYEE_ID=TC.EMP_ID
			WHERE s.TYPE_ID=38
				UNION ALL
			SELECT A.Employee_id, CASE WHEN ADD_DEDUCT='D' THEN amount*-1 ELSE AMOUNT END AS AMOUNT FROM AdhocPayment a WITH (NOLOCK)
			INNER JOIN  StaticDataDetail c WITH (NOLOCK)ON a.HEAD_id=C.rowid
			WHERE C.TYPE_ID=38
			AND A.APPLIED_DATE IS NULL 
			) q GROUP BY EMPLOYEE_ID 
		)B WHERE A.Emp_Id=B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth
	
	
	IF (@@ERROR <> 0) GOTO QuitWithRollback
	
	
	--UPDATING ALLOWANCE TO BE PAID IN TAX CALCULATION
					
		UPDATE #TaxCalculationTEMP SET Allowance_Remaining=ISNULL((B.ALLOWANCE_REMAINING*A.R_SMONTH +( B.ALLOWANCE_REMAINING/M_DAY)* A.R_SDAY ),0) FROM #TaxCalculationTEMP A,
		(SELECT EMPLOYEE_ID,SUM(AMOUNT) AS ALLOWANCE_REMAINING FROM Payable a INNER JOIN StaticDataDetail s ON a.BENEFIT_ID=s.ROWID WHERE s.TYPE_ID=38
		GROUP BY EMPLOYEE_ID )B WHERE A.Emp_Id=B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth
		
		
		
		
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
/* End Allowance*/

/* Start Adhoc Benefits Calculation*/
	--UPDATING ADHOC BENEFITS PAID IN TAX CALCULATION
		UPDATE #TaxCalculationTEMP SET Adhoc_Benefits_Paid=ISNULL(B.ADHOC_BENEFITS_PAID,0) FROM #TaxCalculationTEMP A,  
			(SELECT A.Employee_id, SUM(AMOUNT) AS ADHOC_BENEFITS_PAID FROM AdhocPayment a WITH (NOLOCK)
			INNER JOIN  StaticDataDetail c WITH (NOLOCK)ON a.HEAD_id=C.rowid
			WHERE C.TYPE_ID=41
			AND A.APPLIED_DATE BETWEEN @yearStartDate AND @monthEndDate GROUP BY A.Employee_id
		)B WHERE A.Emp_Id =B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth
	
	--UPDATING ADHOC BENEFITS CURRENT MONTH IN TAX CALCULATION		
		UPDATE #TaxCalculationTEMP SET Adhoc_Benefits_This_Month=ISNULL(B.ADHOC_BENEFITS_CURRENT,0) 
		FROM #TaxCalculationTEMP A,  
			(SELECT A.Employee_id, SUM(AMOUNT) AS ADHOC_BENEFITS_CURRENT 
			FROM AdhocPayment a WITH (NOLOCK)
			INNER JOIN  StaticDataDetail c WITH (NOLOCK)ON a.HEAD_id=C.rowid
			WHERE C.TYPE_ID=41
			AND A.APPLIED_DATE IS NULL 
			GROUP BY A.Employee_id
		)B WHERE A.Emp_Id =B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth
		
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
/* End Adhoc Benefits Calculation*/

/* Future Benefits Start*/

update futurepayable set status=cast(amt as varchar) from futurepayable f ,
(
select EMPLOYEE_ID,HEAD_ID,SUM(amount) amt  
from AdhocPayment
where 1=1
and(APPLIED_DATE between @yearStartDate and   @yearEndDate or APPLIED_DATE is null)
group by EMPLOYEE_ID,HEAD_ID) x
where f.employee_id=x.EMPLOYEE_ID and x.HEAD_ID=f.benefit_id
and f.fy_id=@fiscalYear

if @runMonth<>3
begin

UPDATE #TaxCalculationTEMP SET future_Benefits=ISNULL(B.future_benefit,0) 
		FROM #TaxCalculationTEMP A,  
			(SELECT Employee_id, SUM(AMOUNT) AS future_benefit 
			FROM futurepayable  WITH (NOLOCK)
			WHERE fy_id=@fiscalYear
			AND status is null
			GROUP BY Employee_id
		)B WHERE A.Emp_Id =B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth

end
/* Future Benefits End*/

/*Start Interest Benefits for Taxation*/
	--UPDATING INTEREST BENEFITS IN TAX CALCULATION
	UPDATE #TaxCalculationTEMP SET Interest_Benefit=ISNULL(B.INTEREST_BENEFITS,0) 
	FROM #TaxCalculationTEMP A,  
	(SELECT EMPLOYEE_ID,SUM(TAXABLE_INT_AMT) AS INTEREST_BENEFITS 
	FROM InterestBenefitsOnlyForTaxSetting 
	WHERE FISCAL_YEAR=@fiscalYear 
	GROUP BY EMPLOYEE_ID)B 
	WHERE A.Emp_Id=B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth
	
	IF (@@ERROR <> 0) GOTO QuitWithRollback
	
/*End Interest Benefits for Taxation*/

/*Start House Benefits for Taxation*/
	--UPDATING HOUSE BENEFITS IN TAX CALCULATION
		UPDATE #TaxCalculationTEMP SET House_Benefit=ISNULL(B.HOUSE_BENEFITS,0) FROM #TaxCalculationTEMP A,  
		 (SELECT Y.EMP_ID,(Y.HOUSE_FACILITY_RATE*(Y.BASIC+Y.GRADE+Y.ALLOWANCE))/100 AS HOUSE_BENEFITS   FROM 
		 (SELECT  A.EMP_ID, HOUSE_FACILITY_RATE,
		 CASE WHEN  ISNULL(SUBSTRING(HOUSE_FACILITY_OF,1,2),0)='36' THEN Basic_Salary_Paid +Basic_Salary_Current +Basic_Salary_Remaining  ELSE 0 END  AS BASIC ,
		 CASE WHEN  ISNULL(SUBSTRING(HOUSE_FACILITY_OF,4,2),0)='37' THEN Grade_Paid + Grade_Current +Grade_Remaining  ELSE 0 END  AS GRADE ,
		 CASE WHEN  ISNULL(SUBSTRING(HOUSE_FACILITY_OF,7,2),0)='38' THEN Allowance_Paid +Allowance_Current + Allowance_Remaining ELSE 0 END  AS ALLOWANCE
		 FROM #TaxCalculationTEMP A,TaxRuleSetup B
		 WHERE  A.FY_ID=B.FY_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth) Y INNER JOIN  Employee Z  ON  Y.Emp_Id=Z.EMPLOYEE_ID
		  AND Z.AVAILED_HOUSE_RENT_FACILITY='Y')B WHERE A.Emp_Id=B.Emp_Id AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth


		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
		
		
		
/*End House Benefits for Taxation*/


/*Start Vehicle Benefits for Taxation*/
	--UPDATING Vehicle BENEFITS IN TAX CALCULATION
	UPDATE #TaxCalculationTEMP SET Vehicle_Benift=ISNULL(B.VEHICLE_BENIFIT,0) FROM #TaxCalculationTEMP A,  
		 (SELECT Y.EMP_ID,(Y.VHCL_FACILITY_RATE*(Y.BASIC+Y.GRADE+Y.ALLOWANCE))/100 AS VEHICLE_BENIFIT   FROM 
		 (SELECT  A.EMP_ID, VHCL_FACILITY_RATE,
		 CASE WHEN  ISNULL(SUBSTRING(VHCL_FACILITY_OF,1,2),0)='36' THEN Basic_Salary_Paid +Basic_Salary_Current +Basic_Salary_Remaining  ELSE 0 END  AS BASIC ,
		 CASE WHEN  ISNULL(SUBSTRING(VHCL_FACILITY_OF,4,2),0)='37' THEN Grade_Paid + Grade_Current +Grade_Remaining  ELSE 0 END  AS GRADE ,
		 CASE WHEN  ISNULL(SUBSTRING(VHCL_FACILITY_OF,7,2),0)='38' THEN Allowance_Paid +Allowance_Current + Allowance_Remaining ELSE 0 END  AS ALLOWANCE
		 FROM #TaxCalculationTEMP A,TaxRuleSetup B
		 WHERE  A.FY_ID=B.FY_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth) Y INNER JOIN  Employee Z  ON  Y.Emp_Id=Z.EMPLOYEE_ID
		  AND Z.AVAAILED_VEHICLE_FACILITY='Y')B WHERE A.Emp_Id=B.Emp_Id AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth
	
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
		
/*End Vehicle Benefits for Taxation*/

/*Start Pension Benefits for Taxation*/
	UPDATE #TaxCalculationTEMP SET Pension_Income=ISNULL(B.PENSION_AMOUNT,0) FROM #TaxCalculationTEMP A,  
		 (SELECT EMPLOYEE_ID,PENSION_AMOUNT FROM Employee 
		 WHERE PENSION_AMOUNT>0)B WHERE A.Emp_Id=B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth

	IF (@@ERROR <> 0) GOTO QuitWithRollback
	
/*End Pension Benefits for Taxation*/



/*Start Insurance Benefits for Taxation*/

	UPDATE #TaxCalculationTEMP SET Premium_Paid_Employer=ISNULL(B.PREMIUM_PAID,0) 
	FROM #TaxCalculationTEMP A,  
		  (SELECT I.EMPLOYEE_ID,SUM(IP.PAYMENT_AMOUNT) AS PREMIUM_PAID 
		  FROM InsurancePremium IP INNER JOIN Insurance I ON IP.INSURANCE_ID=I.ID 
			WHERE I.PREMIUM_PAYER='EMPLOYER' AND 
		  IP.PAYMENT_DATE BETWEEN @yearStartDate AND @yearEndDate 
		  GROUP BY I.EMPLOYEE_ID)B 
	  WHERE A.Emp_Id=B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth

	IF (@@ERROR <> 0) GOTO QuitWithRollback
	
	
	
	
/*End Insurance Benefits for Taxation*/


/*Start Contribution Paid  By Employer for Taxation*/
IF CAST(@runmonth AS INT)<>4
BEGIN
	UPDATE #TaxCalculationTEMP SET Contri_Paid_Employer=ISNULL(B.CONTRI_PAID,0) 
	FROM #TaxCalculationTEMP A,  
	  (
		SELECT  EMPLOYEE_ID, SUM (CONTRI_PAID) AS CONTRI_PAID  
		FROM (
			  SELECT EMPLOYEE_ID,AMOUNT_EMPLOYER AS CONTRI_PAID 
			  FROM ContributionHistory 
			  WHERE FY_ID=@fiscalYear 
			  
			   UNION ALL
			   
			  SELECT EMPLOYEE_ID,CAST(ISNULL(CONTB_AMOUNT_EMPLOYER,0) AS MONEY) AS  CONTRI_PAID
			  FROM Adhoc_Contribution 
			  WHERE CONTB_DATE BETWEEN @yearStartDate AND  @monthEndDate
			  
		) Q GROUP BY EMPLOYEE_ID
	  )B WHERE A.Emp_Id=B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth
END
	IF (@@ERROR <> 0) GOTO QuitWithRollback
	
/*End Contribution Paid By Employer for Taxation*/

/*Start Contribution Paid This Month By  Employer for Taxation*/
	UPDATE #TaxCalculationTEMP SET Contri_This_Month_Employer=ROUND(ISNULL(B.CONTRI_THIS_MONTH,0),2) FROM #TaxCalculationTEMP A,  
	  (
			-----FOR FLAT AMOUNT BY EMPLOYER-----
			SELECT Z.EMPLOYEE_ID, SUM (Z.CONTRI_THIS_MONTH) AS CONTRI_THIS_MONTH FROM 			
			(			
							
			SELECT a.EMPLOYEE_ID,  VALUE_EMPLOYER*B.SMONTH +  (VALUE_EMPLOYER/M_DAY)*B.SDAY AS CONTRI_THIS_MONTH
			FROM Contribution a WITH (NOLOCK) INNER JOIN #TaxCalculationTEMP b WITH (NOLOCK)
			ON a.EMPLOYEE_ID=b.EMP_ID
			WHERE a.FLAG_EMPLOYER='F'
			AND a.CONTRIBUTION_FROM_DATE_EMPLOYEE<=@monthEndDate
			
			 UNION ALL
			SELECT EMPLOYEE_ID,ISNULL(CONTB_AMOUNT_EMPLOYER ,0)
			FROM Adhoc_Contribution 
			WHERE ISNULL(Is_Paid,0)=0
			And contb_date is null

			
			UNION ALL
			-----FOR % BASIS BY EMPLOYER-----
			SELECT EMPLOYEE_ID,(q.VALUE_EMPLOYER * (BASIC+GRADE+ALLOWANCE))/100 AS CONTRI_THIS_MONTH
			FROM (
					SELECT EMPLOYEE_ID, VALUE_EMPLOYER,
					CASE WHEN  ISNULL(SUBSTRING(CONTRIBUTION_BASIS_EMPLOYER,1,2),0)='36' THEN Basic_Salary_Current   ELSE 0 END  AS BASIC ,
					CASE WHEN  ISNULL(SUBSTRING(CONTRIBUTION_BASIS_EMPLOYER,4,2),0)='37' THEN Grade_Current    ELSE 0 END  AS GRADE ,
					CASE WHEN  ISNULL(SUBSTRING(CONTRIBUTION_BASIS_EMPLOYER,7,2),0)='38' THEN Allowance_Current   ELSE 0 END  AS ALLOWANCE
	 				FROM  Contribution A,  #TaxCalculationTEMP B
					WHERE A.EMPLOYEE_ID=B.Emp_Id
					AND B.FY_ID=@fiscalYear AND B.Run_Month=@runMonth
					AND A.FLAG_EMPLOYER='P'
					AND A.CONTRIBUTION_FROM_DATE_EMPLOYER<=@monthEndDate) Q
			) Z GROUP BY EMPLOYEE_ID
			  
	  )B WHERE A.Emp_Id=B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth

	 IF (@@ERROR <> 0) GOTO QuitWithRollback	 
	 
/*End Contribution Paid This Month By  Employer for Taxation*/

/*Start Contribution to be Paid By  Employer for Taxation*/
	UPDATE #TaxCalculationTEMP SET Contri_To_Be_Paid_Employer=ISNULL(B.CONTRI_TO_PAY,0)  FROM #TaxCalculationTEMP A,  
	  (	  
			-----FOR FLAT AMOUNT BY EMPLOYER-----
			SELECT Z.EMPLOYEE_ID, SUM (Z.CONTRI_TO_PAY) AS CONTRI_TO_PAY 
			FROM 			
			(			
			SELECT a.EMPLOYEE_ID,  VALUE_EMPLOYER* B.R_SMONTH + (VALUE_EMPLOYER/M_DAY)* B.R_SDAY  AS CONTRI_TO_PAY
			FROM Contribution a WITH (NOLOCK) INNER JOIN #TaxCalculationTEMP b WITH (NOLOCK)
			ON a.EMPLOYEE_ID=b.EMP_ID
			WHERE a.FLAG_EMPLOYER='F'
			AND a.CONTRIBUTION_FROM_DATE_EMPLOYER<=@monthEndDate
			
			UNION ALL
			-----FOR % BASIS BY EMPLOYER-----
			SELECT EMPLOYEE_ID,(q.VALUE_EMPLOYER * (BASIC+GRADE+ALLOWANCE))/100 AS CONTRI_TO_PAY
			FROM (
			SELECT EMPLOYEE_ID, VALUE_EMPLOYER,
			CASE WHEN  ISNULL(SUBSTRING(CONTRIBUTION_BASIS_EMPLOYER,1,2),0)='36' THEN Basic_Salary_Remaining   ELSE 0 END  AS BASIC ,
			CASE WHEN  ISNULL(SUBSTRING(CONTRIBUTION_BASIS_EMPLOYER,4,2),0)='37' THEN Grade_Remaining   ELSE 0 END  AS GRADE ,
			CASE WHEN  ISNULL(SUBSTRING(CONTRIBUTION_BASIS_EMPLOYER,7,2),0)='38' THEN Allowance_Remaining  ELSE 0 END  AS ALLOWANCE
	 		FROM  Contribution A,  #TaxCalculationTEMP B
			WHERE A.EMPLOYEE_ID=B.Emp_Id
			AND B.FY_ID=@fiscalYear AND B.Run_Month=@runMonth
			AND A.FLAG_EMPLOYER='P'
			AND A.CONTRIBUTION_FROM_DATE_EMPLOYER<=@monthEndDate
			) Q
			) Z GROUP BY EMPLOYEE_ID
			  
	  )B WHERE A.Emp_Id=B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth

	  IF (@@ERROR <> 0) GOTO QuitWithRollback
	  
	  
	

	  
/*End Contribution to be Paid  By  Employer for Taxation*/

/*Start Contribution Paid  By Employee for Taxation*/
IF CAST(@runmonth AS INT)<>4
BEGIN

	UPDATE #TaxCalculationTEMP SET Contri_Deducted_Employee=ISNULL(B.CONTRI_PAID,0) FROM #TaxCalculationTEMP A,  
	  (
		SELECT  EMPLOYEE_ID, SUM (CONTRI_PAID) AS CONTRI_PAID  FROM (
			  SELECT EMPLOYEE_ID,AMOUNT_EMPLOYEE AS CONTRI_PAID 
			  FROM ContributionHistory
			  WHERE FY_ID=@fiscalYear 
				 UNION ALL
			  SELECT EMPLOYEE_ID,ISNULL(CONTB_AMOUNT_EMPLOYEE ,0)
			  FROM Adhoc_Contribution 
			  WHERE CONTB_DATE BETWEEN @yearStartDate AND @monthEndDate
		) Q GROUP BY EMPLOYEE_ID
	  )B WHERE A.Emp_Id=B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth
	  
END
	  IF (@@ERROR <> 0) GOTO QuitWithRollback
	 
	  

	  
/*End Contribution Paid By Employee for Taxation*/

/*Start Contribution Paid This Month By  Employee for Taxation*/
	UPDATE #TaxCalculationTEMP SET Contri_Current_Employee=ROUND(ISNULL(B.CONTRI_THIS_MONTH,0),2)
	FROM #TaxCalculationTEMP A,  
	  (
			-----FOR FLAT AMOUNT BY EMPLOYEE-----
			SELECT Z.EMPLOYEE_ID, SUM (Z.CONTRI_THIS_MONTH) AS CONTRI_THIS_MONTH FROM 			
			(			
							
				SELECT a.EMPLOYEE_ID,  VALUE_EMPLOYEE*B.SMONTH +  (VALUE_EMPLOYEE/M_DAY)*B.SDAY AS CONTRI_THIS_MONTH
				FROM Contribution a WITH (NOLOCK) INNER JOIN #TaxCalculationTEMP b WITH (NOLOCK)
				ON a.EMPLOYEE_ID=b.EMP_ID
				WHERE a.FLAG_EMPLOYEE='F'
				AND a.CONTRIBUTION_FROM_DATE_EMPLOYEE<=@monthEndDate
			 
			UNION ALL
			
			SELECT EMPLOYEE_ID,ISNULL(CONTB_AMOUNT_EMPLOYEE,0) 
			FROM Adhoc_Contribution 
			WHERE ISNULL(Is_Paid,0)=0
			And contb_date is null
			
			UNION ALL
			
			-----FOR % BASIS BY EMPLOYEE-----
			SELECT EMPLOYEE_ID,(q.VALUE_EMPLOYEE * (BASIC+GRADE+ALLOWANCE))/100 AS CONTRI_THIS_MONTH
			FROM (
			SELECT EMPLOYEE_ID, VALUE_EMPLOYEE,
			CASE WHEN  ISNULL(SUBSTRING(CONTRIBUTION_BASIS_EMPLOYEE,1,2),0)='36' THEN Basic_Salary_Current    ELSE 0 END  AS BASIC ,
			CASE WHEN  ISNULL(SUBSTRING(CONTRIBUTION_BASIS_EMPLOYEE,4,2),0)='37' THEN Grade_Current    ELSE 0 END  AS GRADE ,
			CASE WHEN  ISNULL(SUBSTRING(CONTRIBUTION_BASIS_EMPLOYEE,7,2),0)='38' THEN Allowance_Current ELSE 0 END  AS ALLOWANCE
	 		FROM  Contribution A,  #TaxCalculationTEMP B
			WHERE A.EMPLOYEE_ID=B.Emp_Id
			AND B.FY_ID=@fiscalYear AND B.Run_Month=@runMonth
			AND A.FLAG_EMPLOYEE='P'
			AND A.CONTRIBUTION_FROM_DATE_EMPLOYEE<=@monthEndDate) Q
			) Z 
			GROUP BY EMPLOYEE_ID  
	  )B 
	  WHERE A.Emp_Id=B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth

	  IF (@@ERROR <> 0) GOTO QuitWithRollback
		
/*End Contribution Paid This Month By  Employee for Taxation*/


/*Start Contribution to be Paid By  Employee for Taxation*/
	UPDATE #TaxCalculationTEMP SET Contri_Remaining_Employee=ISNULL(B.CONTRI_TO_PAY,0) FROM #TaxCalculationTEMP A,  
	  (
			-----FOR FLAT AMOUNT BY EMPLOYEE-----
			SELECT Z.EMPLOYEE_ID, SUM (Z.CONTRI_TO_PAY) AS CONTRI_TO_PAY FROM 			
			(			
				SELECT a.EMPLOYEE_ID,  VALUE_EMPLOYEE*B.R_SMONTH +  (VALUE_EMPLOYEE/M_DAY)*B.R_SDAY AS CONTRI_TO_PAY
				FROM Contribution a WITH (NOLOCK) INNER JOIN #TaxCalculationTEMP b WITH (NOLOCK)
				ON a.EMPLOYEE_ID=b.EMP_ID
				WHERE a.FLAG_EMPLOYEE='F'
				AND a.CONTRIBUTION_FROM_DATE_EMPLOYEE<=@monthEndDate
				
			UNION ALL
			
			-----FOR % BASIS BY EMPLOYEE-----
			SELECT EMPLOYEE_ID,(q.VALUE_EMPLOYEE * (BASIC+GRADE+ALLOWANCE))/100 AS CONTRI_TO_PAY
			FROM (
				SELECT EMPLOYEE_ID, VALUE_EMPLOYEE,
				CASE WHEN  ISNULL(SUBSTRING(CONTRIBUTION_BASIS_EMPLOYEE,1,2),0)='36' THEN Basic_Salary_Remaining   ELSE 0 END  AS BASIC ,
				CASE WHEN  ISNULL(SUBSTRING(CONTRIBUTION_BASIS_EMPLOYEE,4,2),0)='37' THEN Grade_Remaining   ELSE 0 END  AS GRADE ,
				CASE WHEN  ISNULL(SUBSTRING(CONTRIBUTION_BASIS_EMPLOYEE,7,2),0)='38' THEN Allowance_Remaining  ELSE 0 END  AS ALLOWANCE
	 			FROM  Contribution A,  #TaxCalculationTEMP B
				WHERE A.EMPLOYEE_ID=B.Emp_Id
				AND B.FY_ID=@fiscalYear AND B.Run_Month=@runMonth
				AND A.FLAG_EMPLOYEE='P'
				AND A.CONTRIBUTION_FROM_DATE_EMPLOYEE<=@monthEndDate) Q
			) Z GROUP BY EMPLOYEE_ID
	  )B WHERE A.Emp_Id=B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth

	  IF (@@ERROR <> 0) GOTO QuitWithRollback
	
	  
	  
	
/*End Contribution to be Paid  By  Employee for Taxation*/

/*Start Donation Deduction for Taxation*/
	
	--UPDATING DONATION SPECIAL FOR TAX CALCULATION
		UPDATE #TaxCalculationTEMP SET Donation_Special=ISNULL(B.AMOUNT_SPECIAL,0) 
		FROM #TaxCalculationTEMP A,  	
		(SELECT EMPLOYEE_ID,SUM((DONATION_AMOUNT*ISNULL(GOVT_APPROVED_RATE,0))/100) AS AMOUNT_SPECIAL  
			FROM Donations 
			WHERE DONATION_DATE
			BETWEEN @yearStartDate AND @yearEndDate 
			GROUP BY EMPLOYEE_ID)B 
		WHERE A.Emp_Id=B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth
		
		IF (@@ERROR <> 0) GOTO QuitWithRollback

	--UPDATING DONATION NORMAL FOR TAX CALCULATION	
		UPDATE #TaxCalculationTEMP SET Donation_Special=ISNULL(X.DONATION_AMT,0) FROM #TaxCalculationTEMP A, 
		(SELECT EMPLOYEE_ID,CASE WHEN DONATION_HIGH_LOW_FLG='L' THEN dbo.FuncGetMIN(AMT1,AMT2,AMT3,NULL,NULL)  WHEN DONATION_HIGH_LOW_FLG='H'
			 THEN dbo.FuncGetMax(AMT1,AMT2,AMT3,NULL,NULL) END AS DONATION_AMT FROM 
			(SELECT A.EMPLOYEE_ID,DONATION_HIGH_LOW_FLG, A.AMOUNT_NORMAL AS AMT1,(B.ADJUSTED_INCOME*C.DONATION_DED_RATE)/100  AS AMT2, C.DONATION_COMP_AMT AS AMT3 
			FROM 
				(SELECT EMPLOYEE_ID,@fiscalYear AS FY_ID, SUM(DONATION_AMOUNT) AS AMOUNT_NORMAL  
				FROM Donations 
				WHERE DONATION_DATE
					BETWEEN @yearStartDate AND @yearEndDate  AND GOVT_APPROVED_RATE=0
				GROUP BY EMPLOYEE_ID)A,
				(SELECT EMP_ID,FY_ID,(Basic_Salary_Paid+Basic_Salary_Current+Basic_Salary_Remaining+Grade_Paid+Grade_Current
					+Grade_Remaining+Allowance_Paid+Allowance_Current+Allowance_Remaining+Adhoc_Benefits_Paid+Adhoc_Benefits_This_Month
					+Interest_Benefit+Vehicle_Benift+House_Benefit+Pension_Income+Premium_Paid_Employer+Contri_Paid_Employer+Contri_This_Month_Employer
					+Contri_To_Be_Paid_Employer-Contri_Paid_Employer-Contri_This_Month_Employer-Contri_To_Be_Paid_Employer
					-Contri_Deducted_Employee-Contri_Current_Employee-Contri_Remaining_Employee) AS ADJUSTED_INCOME 
					FROM #TaxCalculationTEMP 
					WHERE FY_ID=@fiscalYear AND 
						Run_Month=@runMonth)B,
				(SELECT FY_ID,DONATION_DED_RATE,DONATION_COMP_AMT,DONATION_HIGH_LOW_FLG 
					FROM TaxRuleSetup 
					WHERE FY_ID=@fiscalYear) C
					WHERE A.FY_ID=B.FY_ID AND B.FY_ID=C.FY_ID AND A.EMPLOYEE_ID=B.Emp_Id)D )X 
					WHERE A.Emp_Id=X.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth
			
					IF (@@ERROR <> 0) GOTO QuitWithRollback
					
/*End Donation Deduction for Taxation*/

/*Start Premium Deduction for Taxation*/

	--UPDATING PREMIMUM AMOUNT FOR TAX CULCULATION	
	UPDATE #TaxCalculationTEMP SET Premium_Deduction=ISNULL(X.PREMIUM_AMT,0) FROM #TaxCalculationTEMP A, 
	(SELECT EMPLOYEE_ID,CASE WHEN INSURANCE_HIGH_LOW_FLG='L' THEN dbo.FuncGetMIN(AMT1,AMT2,AMT3,NULL,NULL)  WHEN INSURANCE_HIGH_LOW_FLG='H'
			 THEN dbo.FuncGetMax(AMT1,AMT2,AMT3,NULL,NULL) END AS PREMIUM_AMT 
		FROM 
		(SELECT A.EMPLOYEE_ID,CASE WHEN INSURANCE_DED_RATE_OF='PREMIUM' THEN (B.PREMIUM_PAID*C.INSURANCE_DED_RATE)/100 ELSE 
		(A.INSURED_AMT*C.INSURANCE_DED_RATE)/100 END AS AMT1,C.INSURANCE_COMP_AMT AS AMT2,CASE WHEN 
		(INSURANCE_COMP_ACTUAL_FLG='Y' AND INSURANCE_DED_RATE_OF='PREMIUM') THEN B.PREMIUM_PAID WHEN 
		(INSURANCE_COMP_ACTUAL_FLG='Y' AND INSURANCE_DED_RATE_OF<>'PREMIUM') THEN  A.INSURED_AMT ELSE 0 END AS AMT3,INSURANCE_HIGH_LOW_FLG FROM 
		(SELECT EMPLOYEE_ID,@fiscalYear AS FY_ID,SUM(INSURED_AMOUNT) AS INSURED_AMT 
		FROM Insurance 
		WHERE EXPIRY_DATE>=@yearEndDate 
			GROUP BY EMPLOYEE_ID)A,
		(SELECT I.EMPLOYEE_ID,SUM(IP.PAYMENT_AMOUNT) AS PREMIUM_PAID 
			FROM InsurancePremium IP 
				INNER JOIN Insurance I ON IP.INSURANCE_ID=I.ID
			WHERE IP.PAYMENT_DATE BETWEEN @yearStartDate AND @yearEndDate 
			GROUP BY I.EMPLOYEE_ID)B,
		(SELECT FY_ID,INSURANCE_COMP_ACTUAL_FLG,INSURANCE_COMP_AMT,INSURANCE_DED_RATE,INSURANCE_DED_RATE_OF,INSURANCE_HIGH_LOW_FLG  
			FROM TaxRuleSetup 
			WHERE FY_ID=@fiscalYear)C 
			WHERE A.EMPLOYEE_ID=B.EMPLOYEE_ID AND A.FY_ID= C.FY_ID)Z)X		
			 WHERE A.Emp_Id=X.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth	
			 
			 IF (@@ERROR <> 0) GOTO QuitWithRollback	
	
/*End Premium Deduction for Taxation*/

/* Start Disabled Deduction for Taxation*/
	--UPDATING DISABLED AMOUNT FOR TAX CULCULATION
	
		
		
	UPDATE #TaxCalculationTEMP SET Disabled_Deduction=ISNULL(D.DISABLED_AMT,0) FROM #TaxCalculationTEMP A, 
		(SELECT C.EMPLOYEE_ID,CASE WHEN C.DISABLE_HIGH_LOW_FLG='L' THEN dbo.FuncGetMIN(C.AMT1,C.AMT2,NULL,NULL,NULL) WHEN C.DISABLE_HIGH_LOW_FLG='H' THEN
		dbo.FuncGetMax(AMT1,AMT2,NULL,NULL,NULL) END AS DISABLED_AMT 
		FROM 
		(SELECT A.EMPLOYEE_ID,B.DISABLE_COMP_AMT AS AMT1,CASE WHEN A.MARITAL_STATUS='U' THEN B.UNMARRIED_DISABLED ELSE B.MARRIED_DISABLED 
			END AS AMT2,B.DISABLE_HIGH_LOW_FLG 
			FROM
			(SELECT @fiscalYear AS FY_ID,EMPLOYEE_ID,MARITAL_STATUS FROM Employee WHERE IS_DISABLED='Y')A,
			(SELECT FY_ID,DISABLE_COMP_AMT,CASE WHEN DISABLE_DED_RATE_OF='FIRST SLAB' THEN (MARRIED_SLAB1*DISABLE_DED_RATE)/100 ELSE (MARRIED_SLAB2*DISABLE_DED_RATE)/100 END 
			AS MARRIED_DISABLED ,CASE WHEN DISABLE_DED_RATE_OF='FIRST SLAB' THEN (UNMARRIED_SLAB1*DISABLE_DED_RATE)/100 ELSE (UNMARRIED_SLAB2*DISABLE_DED_RATE)/100 END 
			AS UNMARRIED_DISABLED,DISABLE_HIGH_LOW_FLG FROM TaxRuleSetup WHERE FY_ID=@fiscalYear)B WHERE A.FY_ID=B.FY_ID)C)D	
	WHERE A.Emp_Id=D.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth	

	IF (@@ERROR <> 0) GOTO QuitWithRollback
	
/* End Disabled Deduction for Taxation*/

/* Start Pension Deduction for Taxation*/
		--UPDATING PENSION AMOUNT FOR TAX CULCULATION
		UPDATE #TaxCalculationTEMP SET Pension_Deduction=ISNULL(D.PENSION_AMT,0) FROM #TaxCalculationTEMP A, 
		(SELECT C.EMPLOYEE_ID,CASE WHEN C.PENSION_HIGH_LOW_FLG='L' THEN dbo.FuncGetMIN(C.AMT1,C.AMT2,NULL,NULL,NULL) WHEN C.PENSION_HIGH_LOW_FLG='H' THEN
		dbo.FuncGetMax(AMT1,AMT2,NULL,NULL,NULL) END AS PENSION_AMT FROM 
		(SELECT A.EMPLOYEE_ID,A.PENSION_AMOUNT AS AMT1,CASE WHEN A.MARITAL_STATUS='U' THEN B.UNMARRIED_PENSION ELSE B.MARRIED_PENSION
			END AS AMT2,B.PENSION_HIGH_LOW_FLG FROM
			(SELECT @fiscalYear AS FY_ID,EMPLOYEE_ID,MARITAL_STATUS,PENSION_AMOUNT FROM Employee WHERE IS_PENSION_HOLDER='Y')A,
			(SELECT FY_ID,CASE WHEN PENSION_DED_RATE_OF='FIRST SLAB' THEN (MARRIED_SLAB1*PENSION_DED_RATE)/100 ELSE (MARRIED_SLAB2*PENSION_DED_RATE)/100 END 
				AS MARRIED_PENSION ,CASE WHEN PENSION_DED_RATE_OF='FIRST SLAB' THEN (UNMARRIED_SLAB1*PENSION_DED_RATE)/100 ELSE (UNMARRIED_SLAB2*PENSION_DED_RATE)/100 END 
				AS UNMARRIED_PENSION,PENSION_HIGH_LOW_FLG 
				FROM TaxRuleSetup 
				WHERE FY_ID=@fiscalYear)B 
				WHERE A.FY_ID=B.FY_ID)C)D		
			WHERE A.Emp_Id=D.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth	

		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
/* End Pension Deduction for Taxation*/


DECLARE
		 @CONTRIBUTION_COMP_AMT MONEY
		,@UP INT
		,@DOWN INT
		,@CONTRIBUTION_HIGH_LOW_FLG CHAR(1)
		,@UNMARRIED_SLAB1 MONEY
		,@UNMARRIED_SLAB2 MONEY
		,@MARRIED_SLAB1 MONEY
		,@MARRIED_SLAB2 MONEY
		,@UNMARRIED_RATE1 MONEY
		,@UNMARRIED_RATE2 MONEY
		,@MARRIED_RATE1 MONEY
		,@MARRIED_RATE2 MONEY
		,@UNMARRIED_RATE3 MONEY
		,@MARRIED_RATE3 MONEY
		,@WOMAN_DISC_RATE MONEY
		,@AMT_FOR_ADD_TAX MONEY
		,@ADD_TAX_RATE MONEY
		,@R_SMONTH INT
		,@R_SDAY INT
		,@M_DAY INT
		,@Marital_Status CHAR(1)
		,@FRACTION MONEY

	SELECT		 @CONTRIBUTION_COMP_AMT=CONTRIBUTION_COMP_AMT
				,@UP=CAST(SUBSTRING(CONTRIBUTION_FRACTION,1,CHARINDEX('/', CONTRIBUTION_FRACTION,1)-1)AS INT)
				,@DOWN=CAST(SUBSTRING(CONTRIBUTION_FRACTION,CHARINDEX('/', CONTRIBUTION_FRACTION,1)+1, LEN(CONTRIBUTION_FRACTION))AS INT)
				,@CONTRIBUTION_HIGH_LOW_FLG=CONTRIBUTION_HIGH_LOW_FLG
				,@UNMARRIED_SLAB1=UNMARRIED_SLAB1
				,@UNMARRIED_SLAB2=UNMARRIED_SLAB2
				,@MARRIED_SLAB1=MARRIED_SLAB1
				,@MARRIED_SLAB2=MARRIED_SLAB2
				,@UNMARRIED_RATE1=UNMARRIED_RATE1
				,@UNMARRIED_RATE2=UNMARRIED_RATE2
				,@MARRIED_RATE1=MARRIED_RATE1
				,@MARRIED_RATE2=MARRIED_RATE2
				,@UNMARRIED_RATE3=UNMARRIED_RATE3
				,@MARRIED_RATE3=MARRIED_RATE3 
				,@WOMAN_DISC_RATE=WOMAN_DISC_RATE
				,@AMT_FOR_ADD_TAX=AMT_FOR_ADD_TAX
				,@ADD_TAX_RATE=ADD_TAX_RATE
				FROM TaxRuleSetup 
				WHERE FY_ID=@fiscalYear

SELECT @R_SMONTH=R_SMONTH,@R_SDAY=R_SDAY,@M_DAY=M_DAY,@Marital_Status=Marital_Status FROM #TaxCalculationTEMP WHERE EMP_ID=@emp_id


IF OBJECT_ID(N'tempdb..#TEMPCONTRIBUTION') IS NOT NULL
        DROP TABLE #TEMPCONTRIBUTION
CREATE TABLE #TEMPCONTRIBUTION

(
	SN						INT identity,	
	METHOD					VARCHAR(100),
	EMP_ID					INT,
	TOTAL_BENEFIT			MONEY,
	Retirement_Deduction	MONEY,
	Other_deduction			MONEY,
	ALLOWED_BY_RULE			MONEY,	
	Taxable_Amount			MONEY,
	Taxable_Slab1			MONEY,
	Taxable_Slab2			MONEY,
	Remaining				MONEY,
	Tax_Amount				MONEY,
	Tax_Discount			MONEY,	
	Tax_Collected			MONEY
	
)
	
INSERT  INTO #TEMPCONTRIBUTION (EMP_ID,METHOD,TOTAL_BENEFIT,Retirement_Deduction
,Other_deduction,ALLOWED_BY_RULE,Taxable_Amount,Taxable_Slab1,Taxable_Slab2,Remaining,Tax_Amount, Tax_Discount, Tax_Collected)

SELECT   EMP_id,'Actual' AS 'METHOD' 
			, ISNULL((Basic_Salary_Paid+Basic_Salary_Current+Basic_Salary_Remaining+Grade_Paid+Grade_Current
			+Grade_Remaining+Allowance_Paid+Allowance_Current+Allowance_Remaining+Adhoc_Benefits_Paid+Adhoc_Benefits_This_Month+
			Interest_Benefit+Vehicle_Benift+House_Benefit+Pension_Income+Premium_Paid_Employer+future_benefits+
			Contri_Paid_Employer+Contri_This_Month_Employer+Contri_To_Be_Paid_Employer),0) TOTAL_BENEFIT
			,Contri_Paid_Employer+Contri_This_Month_Employer+Contri_To_Be_Paid_Employer+Contri_Deducted_Employee+Contri_Current_Employee
			+Contri_Remaining_Employee  Retirement_Deduction
			,Premium_Deduction+Pension_Deduction+Disabled_Deduction+Donation_Normal+Donation_Special Other_deduction
			, 0 ALLOWED_BY_RULE, 0 Taxable_Amount,0 Taxable_Slab1,0 Taxable_Slab2,0 Remaining,0 Tax_Amount,0 Tax_Discount,0 Tax_Collected
FROM #TaxCalculationTEMP

SELECT @FRACTION=((TOTAL_BENEFIT*@UP)/@DOWN )*1 FROM #TEMPCONTRIBUTION WHERE METHOD='Actual'

INSERT  INTO #TEMPCONTRIBUTION (EMP_ID,METHOD,TOTAL_BENEFIT,Retirement_Deduction
,Other_deduction,ALLOWED_BY_RULE,Taxable_Amount,Taxable_Slab1,Taxable_Slab2,Remaining,Tax_Amount, Tax_Discount, Tax_Collected)
SELECT EMP_ID,'Full Contribution' ,TOTAL_BENEFIT,
CASE WHEN @CONTRIBUTION_HIGH_LOW_FLG='L' THEN dbo.FuncGetMIN(NULL,@FRACTION,@CONTRIBUTION_COMP_AMT,NULL,NULL)
	 WHEN @CONTRIBUTION_HIGH_LOW_FLG='H' THEN dbo.FuncGetMAX(NULL,@FRACTION,@CONTRIBUTION_COMP_AMT,NULL,NULL) END
,Other_deduction,ALLOWED_BY_RULE,Taxable_Amount,Taxable_Slab1,Taxable_Slab2, Remaining, Tax_Amount, Tax_Discount, Tax_Collected
FROM #TEMPCONTRIBUTION  WHERE METHOD='Actual'


IF @PROJECTION1 IS NOT NULL
BEGIN

INSERT  INTO #TEMPCONTRIBUTION (EMP_ID,METHOD,TOTAL_BENEFIT,Retirement_Deduction
,Other_deduction,ALLOWED_BY_RULE,Taxable_Amount,Taxable_Slab1,Taxable_Slab2,Tax_Amount, Tax_Discount, Tax_Collected, Remaining)
SELECT EMP_ID,'Additional Contribution of Rs. ' + CAST(@PROJECTION1 AS VARCHAR) +' Per Month',TOTAL_BENEFIT,
Retirement_Deduction + @PROJECTION1*@R_SMONTH + (@PROJECTION1/@M_DAY)*@R_SDAY
,Other_deduction,ALLOWED_BY_RULE,Taxable_Amount,Taxable_Slab1,Taxable_Slab2, Remaining, Tax_Amount, Tax_Discount, Tax_Collected
FROM #TEMPCONTRIBUTION WHERE METHOD='Actual'

END



IF @PROJECTION2 IS NOT NULL
BEGIN

INSERT  INTO #TEMPCONTRIBUTION (EMP_ID,METHOD,TOTAL_BENEFIT,Retirement_Deduction
,Other_deduction,ALLOWED_BY_RULE,Taxable_Amount,Taxable_Slab1,Taxable_Slab2,Tax_Amount, Tax_Discount, Tax_Collected, Remaining)
SELECT EMP_ID,'Additional Contribution of Rs. ' + CAST(@PROJECTION2 AS VARCHAR) +' Per Month',TOTAL_BENEFIT,
Retirement_Deduction + @PROJECTION2*@R_SMONTH + (@PROJECTION2/@M_DAY)*@R_SDAY
,Other_deduction,ALLOWED_BY_RULE,Taxable_Amount,Taxable_Slab1,Taxable_Slab2, Remaining, Tax_Amount, Tax_Discount, Tax_Collected
FROM #TEMPCONTRIBUTION WHERE METHOD='Actual'

END


IF @PROJECTION3 IS NOT NULL
BEGIN

INSERT  INTO #TEMPCONTRIBUTION (EMP_ID,METHOD,TOTAL_BENEFIT,Retirement_Deduction
,Other_deduction,ALLOWED_BY_RULE,Taxable_Amount,Taxable_Slab1,Taxable_Slab2,Tax_Amount, Tax_Discount, Tax_Collected, Remaining)
SELECT EMP_ID,'Additional Contribution of Rs. ' + CAST(@projection3 AS VARCHAR) +' Per Month',TOTAL_BENEFIT,
Retirement_Deduction + @PROJECTION3*@R_SMONTH + (@PROJECTION3/@M_DAY)*@R_SDAY
,Other_deduction,ALLOWED_BY_RULE,Taxable_Amount,Taxable_Slab1,Taxable_Slab2, Remaining, Tax_Amount, Tax_Discount, Tax_Collected
FROM #TEMPCONTRIBUTION WHERE METHOD='Actual'

END



/* Start Retirement Deduction for Projection*/
		UPDATE #TEMPCONTRIBUTION SET ALLOWED_BY_RULE=
		CASE WHEN @CONTRIBUTION_HIGH_LOW_FLG='L' THEN dbo.FuncGetMIN(Retirement_Deduction,@FRACTION,@CONTRIBUTION_COMP_AMT,NULL,NULL)
			 WHEN @CONTRIBUTION_HIGH_LOW_FLG='H' THEN dbo.FuncGetMax(Retirement_Deduction,@FRACTION,@CONTRIBUTION_COMP_AMT,NULL,NULL)
		END
		IF (@@ERROR <> 0) GOTO QuitWithRollback
			
/* End Retirement Deduction for Projection*/


/* Start Taxable Income for Projection*/
	--UPDATING TAXABLE AMOUNT FOR TAX CALCULATION
		UPDATE #TEMPCONTRIBUTION SET Taxable_Amount=TOTAL_BENEFIT-other_deduction-allowed_by_rule
		
		IF (@@ERROR <> 0) GOTO QuitWithRollback
			
/* End Taxable Income for Projection*/

/* Start Taxable Slab1 for Projection*/
				UPDATE #TEMPCONTRIBUTION SET Taxable_Slab1=ISNULL(
				CASE 
				WHEN (@Marital_Status='U' AND Taxable_Amount>=@UNMARRIED_SLAB1) THEN @UNMARRIED_SLAB1 
				WHEN (@Marital_Status='U' AND Taxable_Amount<@UNMARRIED_SLAB1 AND Taxable_Amount>0) THEN Taxable_Amount
				WHEN (@Marital_Status='M' AND Taxable_Amount>=@MARRIED_SLAB1) THEN @MARRIED_SLAB1 
				WHEN (@Marital_Status='M' AND Taxable_Amount<@MARRIED_SLAB1 AND Taxable_Amount>0) THEN Taxable_Amount
				END,0)
	
	IF (@@ERROR <> 0) GOTO QuitWithRollback
	
/* End Taxable Slab1 for Projection*/

/* Start Taxable Slab2 for Projection*/
	--UPDATING TAXABLE SLAB2 FOR TAX CALCULATION
			UPDATE #TEMPCONTRIBUTION SET Taxable_Slab2=ISNULL(
				CASE 
				WHEN (@Marital_Status='U' AND (Taxable_Amount-Taxable_Slab1)>=@UNMARRIED_SLAB2) THEN @UNMARRIED_SLAB2 
				WHEN (@Marital_Status='U' AND (Taxable_Amount-Taxable_Slab1)<@UNMARRIED_SLAB2 AND (Taxable_Amount-Taxable_Slab1)>0) THEN (Taxable_Amount-Taxable_Slab1)
				WHEN (@Marital_Status='M' AND (Taxable_Amount-Taxable_Slab1)>=@MARRIED_SLAB2) THEN @MARRIED_SLAB2 
				WHEN (@Marital_Status='M' AND (Taxable_Amount-Taxable_Slab1)<@MARRIED_SLAB2 AND (Taxable_Amount-Taxable_Slab1) > 0) THEN (Taxable_Amount-Taxable_Slab1)
				END ,0)
					
			IF (@@ERROR <> 0) GOTO QuitWithRollback
		
/* End Taxable Slab2 for Projection*/

/* Start Taxable Remaining for Projection*/
	
			UPDATE #TEMPCONTRIBUTION SET Remaining=ISNULL(( CASE WHEN Taxable_Amount >0 THEN Taxable_Amount ELSE 0 END -Taxable_Slab1-Taxable_Slab2),0) 
			
/* End Taxable Remaining for Projection*/

/* Start Tax Amount for Projection*/
		UPDATE #TEMPCONTRIBUTION SET Tax_Amount=ISNULL(
		CASE
			 WHEN @Marital_Status='M' THEN ((Taxable_Slab1*@MARRIED_RATE1)/100+(Taxable_Slab2*@MARRIED_RATE2)/100 + (Remaining*@MARRIED_RATE3)/100)
			 WHEN @Marital_Status='U' THEN ((Taxable_Slab1*@UNMARRIED_RATE1)/100+(Taxable_Slab2*@UNMARRIED_RATE2)/100 + (Remaining*@UNMARRIED_RATE3)/100)
		END ,0)
				
			IF (@@ERROR <> 0) GOTO QuitWithRollback
			
/* End Tax Amount for Projection*/

/*------Additional Tax Amount---------------*/


		UPDATE #TEMPCONTRIBUTION SET Tax_Amount= Tax_Amount +ISNULL(
				(Taxable_Amount-@AMT_FOR_ADD_TAX)*
				(CASE
				WHEN @Marital_Status='M' THEN @MARRIED_RATE3/100
				WHEN @Marital_Status='U' THEN @UNMARRIED_RATE3/100 END) * @ADD_TAX_RATE/100 ,0)
				WHERE Taxable_Amount>@AMT_FOR_ADD_TAX
        IF (@@ERROR <> 0) GOTO QuitWithRollback            

/*------------End Additional Tax Amount-------------------*/



/* Start Tax Discount for Projection*/
	IF EXISTS (SELECT EMPLOYEE_ID FROM Employee WHERE GENDER=211 AND EMPLOYEE_ID=@emp_id)
	BEGIN 
		UPDATE #TEMPCONTRIBUTION SET Tax_Discount=ISNULL((Tax_Amount*@WOMAN_DISC_RATE)/100 ,0)
	END
				
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
/* End Tax Discount for Projection*/


/* Start Tax Collected for Projection*/
	
		UPDATE #TEMPCONTRIBUTION SET Tax_Collected=ISNULL(				
			(SELECT SUM(TAX_COLLECTED) AS TAX_COLLECTED  FROM 
			(SELECT SUM(Tax_This_Month) AS TAX_COLLECTED 
				FROM TaxCalculation 
				
				WHERE FY_ID=@fiscalYear 
				AND EMP_ID=@emp_id
			UNION ALL
			SELECT CAST(SUM(TAX_DEDUCTED)AS MONEY) AS TAX_COLLECTED 
				FROM AdhocPayment 
				WHERE APPLIED_DATE BETWEEN @yearStartDate AND @yearEndDate 
				AND EMPLOYEE_ID=@emp_id
				)B )	,0)
				
	  IF (@@ERROR <> 0) GOTO QuitWithRollback
	  
/* End Tax Collected for Taxation*/



/* Start Tax Remaining for Projection*/
ALTER TABLE #TEMPCONTRIBUTION ADD Tax_Remaining MONEY
		UPDATE #TEMPCONTRIBUTION SET Tax_Remaining=ISNULL((Tax_Amount-Tax_Collected-Tax_Discount),0) 
			
		IF (@@ERROR <> 0) GOTO QuitWithRollback 
						
/* End Tax Remaining for Taxation*/

/* Start Tax This Month for Projection*/
	

			
	


SELECT SN,METHOD AS 'CONTRIBUTION METHOD',dbo.Showdecimal(TOTAL_BENEFIT) AS 'TOTAL BENEFIT', dbo.Showdecimal(Retirement_Deduction) AS 'CONTRIBUTION DONE',
dbo.Showdecimal(Other_deduction) AS 'OTHER DEDUCTIONS', dbo.Showdecimal(ALLOWED_BY_RULE) AS 'CONTRIBUTION ALLOWED',dbo.Showdecimal(Taxable_Amount )AS 'TAXABLE AMOUNT',
dbo.Showdecimal(Tax_Amount-Tax_Discount) AS 'TAX'
 FROM #TEMPCONTRIBUTION

declare 
@diff_tax as money,
@diff_contribution as money,
@actual_tax_saving as money,
@tax_current_amt as money,
@month as int,
@maxContri_Amt as money
	
select @diff_tax=a.Tax_Amount-b.Tax_Amount, @diff_contribution=b.Allowed_by_rule-a.Allowed_by_rule,@tax_current_amt=(a.Tax_Amount-a.Tax_Collected) ,
@actual_tax_saving= case when (a.tax_amount-b.tax_amount)<=a.Tax_Remaining then (a.tax_amount-b.tax_amount) else a.Tax_Remaining  end
 from (select * from #TEMPCONTRIBUTION where SN=1) a inner join (select * from #TEMPCONTRIBUTION where SN=2) b on a.Emp_Id=b.Emp_Id


if ISNULL(@diff_tax,0)=0
	begin
		select 'No Contribution Projection, '+@emp_name+' has already adjusted full contribution amount!' as [Projection Report]
		return;
	end
if @tax_current_amt<0
	begin
		select 'No Contribution Projection,tax already deducted in excess from '+@emp_name+' !' as [Projection Report]
		return;
	end
if @tax_current_amt=0
	begin
		select 'No Contribution Projection,tax already paid in full for '+@emp_name+' !' as [Projection Report]
		return;
	end	
	set @tax_current_amt=@tax_current_amt/(@R_SMONTH+1) 
	set @month=ceiling(@actual_tax_saving/@tax_current_amt)
	select @maxContri_Amt=allowed_by_rule from #TEMPCONTRIBUTION where SN=2
	
	select 'Calculated Contribution Amount (Present)' as [Projection Description],dbo.Showdecimal(cast(Retirement_Deduction as varchar)) as [Amount] from #TEMPCONTRIBUTION where SN=1
	union all
	
	select 'Maximum Contribution Amount Allowed' as [Projection Description],dbo.Showdecimal(cast(allowed_by_rule as varchar)) as [Amount] from  #TEMPCONTRIBUTION where SN=2
	union all
	
	select 'Additional Eligible Contribution Amount ' as [PF Amount],dbo.Showdecimal(cast((@diff_contribution) as varchar)) as [Amount]
	
	union all
	select 'Projected Full Tax Saving' as [PF Amount],dbo.Showdecimal(cast(@diff_tax as varchar)) as [Amount]
	
	union all
	select 'Required additional contribution' as [PF Amount],
	dbo.Showdecimal(cast(case when @diff_tax<=Tax_Remaining then @diff_contribution 
	else @diff_contribution -((@diff_tax-@actual_tax_saving)/(@diff_tax/@diff_contribution) )
	 end as varchar)) as [Amount/Month] from   #TEMPCONTRIBUTION where SN=1

	union all
	select 'Actual Tax Saving' as [PF Amount],dbo.Showdecimal(cast(@actual_tax_saving as varchar)) as [Amount/Month] 

	union all
	select 'Tax Per Month (Present)' as [PF Amount],dbo.Showdecimal(cast(@tax_current_amt as varchar)) as [Amount/Month] 
	
	union all
	
	select 'Latest Payment Start Month' as [Projection Description], dbo.GetRoundUPandMonth(@month)  as [Amount/Month]



	
	
GOTO  EndSave

QuitWithRollback:
COMMIT TRANSACTION 


EndSave: 
	
END
GO
