USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procBankaccount]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXEC procBankaccount 'i','1000','NIBL-20016','398','23300', 'False'
--EXEC procBankaccount 'i',0,'1020','ARB-0030','399','test bank account', 'True'
create procedure [dbo].[procBankaccount]
		@flag char(1),
		@ID int
		,@EMPLOYEE_ID varchar(50)
		,@ACCOUNT_NUMBER varchar(50)
		,@ACCOUNT_PROVIDER varchar(50)
		,@ACCOUNT_DETAILS varchar(50)
		,@IS_DEFAULT varchar(50)
 
AS
set nocount on;
DECLARE @ROWID VARCHAR(100);
 if @flag='i'
 begin
	if exists( select EMPLOYEE_ID from BankAccounts  with(nolock) where EMPLOYEE_ID=@EMPLOYEE_ID)
	begin
	
		INSERT INTO BankAccounts(EMPLOYEE_ID, ACCOUNT_NUMBER, ACCOUNT_PROVIDER,  ACCOUNT_DETAILS, IS_DEFAULT) 
		VALUES (@EMPLOYEE_ID, @ACCOUNT_NUMBER, @ACCOUNT_PROVIDER,  @ACCOUNT_DETAILS, @IS_DEFAULT)
	
	end
	else
	begin
	
		INSERT INTO BankAccounts(EMPLOYEE_ID, ACCOUNT_NUMBER, ACCOUNT_PROVIDER,  ACCOUNT_DETAILS, IS_DEFAULT) 
		VALUES (@EMPLOYEE_ID, @ACCOUNT_NUMBER, @ACCOUNT_PROVIDER,  @ACCOUNT_DETAILS, '1')
		
		
	end
	
	SELECT @ROWID = SCOPE_IDENTITY();
	SELECT @ROWID ID 

	
end
GO
