USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procholidayremarks]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[procholidayremarks]
				@flag char(1),
				@id int=null,
				@remarks varchar(max)=null,
				@leave_flag char(1)=null
				

as

	set nocount on;
if(@flag='i')				
begin
		insert into OfficialCalendar (LEAVE_FLAG, RMARKS)
			values (@leave_flag, @remarks)
end

if(@flag='u')
begin
	update OfficialCalendar 
		set RMARKS = @remarks 
	where ID = @id
end

if(@flag='d')
begin
	delete from OfficialCalendar
	where ID=@id
end
GO
