USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_appraisalOtherSection]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[proc_appraisalOtherSection]
		 @flag VARCHAR(2)
		,@appOtherSectionId   INT					 = NULL
		,@section		    VARCHAR(100)			 = NULL
		,@question			VARCHAR(MAX)		   	 = NULL
		,@templateId		VARCHAR(100)			 = NULL		
		,@user				VARCHAR(100)			 = NULL		
		,@answerType        VARCHAR(50)			 = NULL		
		
	
	
AS 
SET NOCOUNT ON;

/*
Exec proc_DisciplinaryComment @flag='a',@empId='1000',@commentType='Appreciation',@category='660'
,@remarks='best',@startDate='6/1/2011',@endDate=null,@sessionId='bs5no4bdzqcjnm55rspq1s45'
*/
BEGIN TRY

   IF @flag = 'i'
   BEGIN
   
      INSERT  INTO appraisalOtherSection(
									 section
									,question
									,templateId
									,answerType
									,createdBy
									,createdDate
									
								)
						SELECT 
								@section
							   ,@question
							   ,@templateId
							   ,@answerType
							   ,@user
							   ,GETDATE()
               SELECT '0' error_code, 'Data Record Successfully' msg
	END
	
	ELSE IF @flag = 's'
	BEGIN
			SELECT 
			     ROW_NUMBER() OVER(ORDER BY appOtherSectionId) SN
				,s.DETAIL_TITLE section
				,question
				,answerType
				--,'<img onclick = "DeleteNotification(' + CAST(appOtherSectionId AS VARCHAR(50)) + ')" class = "showHand" border = "0" title = "Delete Other Appraisal" src="../../Images/delete.gif" />' [Delete] 
				,'<span onclick = "DeleteNotification(' + CAST(appOtherSectionId AS VARCHAR(50)) + ')" style="cursor:pointer;" class="tool btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-times" aria-hidden="true"></i></span>' AS Action
			FROM appraisalOtherSection  ao INNER JOIN StaticDataDetail s 
			ON ao.section = s.ROWID
			WHERE templateId = @templateId
	
	
	END
	
	ELSE IF @flag = 'd'
	BEGIN
	
		DELETE appraisalOtherSection WHERE appOtherSectionId = @appOtherSectionId
		SELECT '0' error_code, 'Data Delete Successfully' msg
	END


END TRY


BEGIN CATCH

 IF @@TRANCOUNT > 0
 ROLLBACK TRANSACTION
 
 SELECT '1' ERROR_CODE, 'Eror In Operation! Please Insert Valid Data' msg

END CATCH
GO
