USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procStockInHand_18Feb2014]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Exec [procStockInHand] @flag='z',@from='2012/1/14',@to='2012/1/17'
CREATE proc [dbo].[procStockInHand_18Feb2014]
	@flag varchar(50),
	@Branch varchar(20)		= null,
	@product Varchar(20)	= null,
	@from varchar(20)		= null,
	@to varchar(20)			= null,
	@vendorId varchar(10)	= null
AS
Declare @sql varchar(3000)

if @flag='r' 
begin
			SELECT ROW_NUMBER() OVER(ORDER BY A.prod_code) [S.N.],
			A.prod_code as [Code No.],
			A.porduct_code AS [Product Name],
			B.package_unit AS [Package Unit],
			A.STOCK AS [Stock In Hand],
			B.REORDER_LEVEL AS [Re-Order Level],
			B.REORDER_QTY [Min Holding Qty],
			B.MAX_HOLDING_QTY [Max Holding Qty],
			A.OrderedButNotReceived [Ordered But Not Received Qty]
			FROM 
			(
				select p.prod_code,p.porduct_code,SUM(STOCK) STOCK,SUM(OrderedButNotReceived) OrderedButNotReceived from 
				(
					SELECT IP.prod_code,P.porduct_code,SUM(p_stk_remain) AS STOCK
					FROM IN_PURCHASE IP with(nolock) INNER JOIN IN_PRODUCT P WITH(NOLOCK) ON P.id=IP.prod_code
					WHERE IP.branch_id=@Branch
					GROUP BY IP.prod_code,P.porduct_code
				)p	
				left join 
				(
					select product_code,SUM(isnull(qty,0)-isnull(Received_Qty,0)) OrderedButNotReceived 
					from Purchase_Order A WITH(NOLOCK)
					INNER JOIN Purchase_Order_Message B ON B.id=A.order_message_id
					WHERE B.id in (
									select max(B.id) from Purchase_Order A WITH(NOLOCK)
									INNER JOIN Purchase_Order_Message B ON B.id=A.order_message_id
									WHERE B.status='Approved' and B.branch_id=@Branch
									GROUP BY product_code	
									)
					GROUP BY product_code			
						
				)q on p.prod_code=q.product_code
				group by p.prod_code,porduct_code		
			)A,
			(
				SELECT IB.PRODUCT_ID,P.package_unit,ISNULL(IB.REORDER_LEVEL,0)REORDER_LEVEL,IB.BRANCH_ID,
				ISNULL(IB.MAX_HOLDING_QTY,0) MAX_HOLDING_QTY,ISNULL(IB.REORDER_QTY,0) REORDER_QTY
				FROM IN_BRANCH IB WITH(NOLOCK) INNER JOIN IN_PRODUCT P ON P.id=IB.PRODUCT_ID
				WHERE IB.BRANCH_ID=@Branch
				
			)B WHERE A.prod_code=B.PRODUCT_ID AND A.STOCK<=B.REORDER_LEVEL AND A.prod_code =ISNULL(@product,A.prod_code)
				ORDER BY B.PRODUCT_ID ASC 

END

if @flag='br'--branch wise 
begin
		SELECT ROW_NUMBER() OVER(ORDER BY A.PRODUCT_ID) [S.N.]
			,A.PRODUCT_ID as [Code No.]
			,A.porduct_code AS [Product Name]
			,A.package_unit AS [Package Unit]
			,ISNULL(B.STOCK,0) AS [Stock In Hand]
			,ISNULL(A.REORDER_LEVEL,0) AS [Re-Order Level]
			,ISNULL(A.REORDER_QTY,0) [Min Holding Qty]
			,ISNULL(A.MAX_HOLDING_QTY,0) [Max Holding Qty] 
		FROM 
			(
				SELECT a.PRODUCT_ID,b.porduct_code,b.package_unit,a.REORDER_LEVEL,a.REORDER_QTY,a.MAX_HOLDING_QTY 
				FROM IN_BRANCH a with(nolock) 
				inner join IN_PRODUCT b with(nolock)  on a.PRODUCT_ID=b.id
				where a.BRANCH_ID=@Branch AND a.PRODUCT_ID = ISNULL(@product,a.PRODUCT_ID)
			)A 
			left join
			(					
				select prod_code,SUM(p_qty) stock from IN_PURCHASE where branch_id=@Branch
				AND prod_code = ISNULL(@product,prod_code)
				group by prod_code
			)B 	ON A.PRODUCT_ID=B.prod_code 

END

---START PRICE WISE STOCK IN HAND REPORT---
if @flag='a'
begin
		SELECT p.id AS [CODE NO.]
			,p.porduct_code AS  [PRODUCT NAME]
			,P.package_unit AS [PACKAGE UNIT]
			,ISNULL(SUM(b.p_stk_remain),0) AS STOCK
			,dbo.ShowDecimal(b.p_rate) AS [RATE]
			,dbo.ShowDecimal(SUM( ISNULL(b.p_rate,0) * ISNULL(b.p_stk_remain,0))) AS [AMOUNT (Rs.)]

		FROM IN_PURCHASE b,IN_PRODUCT p
		WHERE b.prod_code=p.id 	and b.branch_id like ISNULL(@Branch,'%') and prod_code like ISNULL(@product,'%')
		GROUP BY p.id,p.porduct_code,b.p_rate,P.package_unit

end

---END PRICE WISE STOCK IN HAND REPORT---
if @flag='d'
begin
--PRICE WISE EXPENSES REPORT--

	SET @sql='SELECT P.id as [CODE NO.],P.porduct_code AS [PRODUCT NAME],P.package_unit as [PACKAGE UNIT],SUM(S.s_qty) AS QTY,dbo.ShowDecimal(S.s_rate) AS [UNIT PRICE],
		dbo.ShowDecimal(SUM(S.s_qty)* S.s_rate) AS [AMOUNT (Rs.)]
		FROM IN_SALES S INNER JOIN IN_PRODUCT P ON  S.s_prod_id=P.id INNER JOIN IN_Requisition_Message R ON R.id=S.msg_id 
		INNER JOIN Branches B ON B.BRANCH_ID=R.branch_id WHERE 1=1 '

	if @Branch is not null
		set @sql=@sql + '  AND B.BRANCH_ID = '+ @Branch
		
	if @product is not null
		set @sql=@sql + ' AND P.id = '+ @product	
	
	set @sql=@sql + ' GROUP BY P.porduct_code,S.s_rate,P.id,P.package_unit ORDER BY P.id '
	Exec (@sql)

end

if @flag='e'
begin


--INVENTORY EXPENSES SUMMARY REPORT--
	SELECT s_prod_id [PROD CODE]
		,IP.porduct_code AS [PRODUCT NAME]
		,IP.package_unit [PACKAGE UNIT]
		,SUM(s_qty) QTY,SUM(s_qty*s_rate)/SUM(s_qty) RATE
		,SUM(s_qty*s_rate) AMOUNT
	FROM IN_SALES SAL INNER JOIN IN_PRODUCT IP ON SAL.s_prod_id=IP.ID INNER JOIN IN_Requisition_Message IRM ON IRM.id=SAL.msg_id
	WHERE from_branch=to_branch AND from_branch LIKE ISNULL(@Branch,'%') AND IRM.dept_id LIKE ISNULL(@from,'%') and SAL.s_prod_id LIKE ISNULL(@product,'%')
	GROUP BY s_prod_id,IP.porduct_code,IP.package_unit,IP.id
	
	order by IP.id


end

if @flag='f'
begin

--INVENTORY EXPENSES BRANCH WISE REPORT--

	SET @sql='	
	select p.id AS [CODE NO.],p.porduct_code AS [PRODUCT NAME],SUM(s.s_qty) as QTY,dbo.showdecimal(avg(s.s_rate)) as RATE,
		dbo.showdecimal(SUM(s.s_qty*s.s_rate)) as [AMOUNT (Rs.)] from IN_SALES s 
		inner join IN_PRODUCT p on p.id=s.s_prod_id
		inner join IN_Requisition_Message r on r.id=s.msg_id
		inner join Branches b on b.BRANCH_ID=r.branch_id
		INNER JOIN Departments d ON d.DEPARTMENT_ID=r.dept_id
	WHERE 1=1'
	

	if @Branch is not null
	set @sql=@sql + ' AND b.BRANCH_ID = '+ @Branch	
	
	if @product is not null
	set @sql=@sql + ' AND d.DEPARTMENT_ID='+ @product
	
	set @sql=@sql + '  group by p.id,p.porduct_code ORDER BY P.porduct_code '
	Exec (@sql)

end

--START REORDERED-LEVEL REPORT--


--- Start Vendor Wise purchased Record Report---
if @flag='v'
begin
	SELECT IP.prod_code [PROD CODE],prod.porduct_code [PRODUCT NAME],prod.package_unit [PACKAGE UNIT],SUM(IP.p_qty) QTY
			,SUM(IP.p_qty*IP.p_rate)/CASE WHEN SUM(IP.p_qty)=0 THEN 1 ELSE SUM(IP.p_qty) END AS RATE
			,SUM(IP.p_qty*IP.p_rate) AS [AMOUNT (Rs.)] 
		FROM IN_PURCHASE IP INNER JOIN Bill_info BI ON IP.bill_id=BI.bill_id inner join IN_PRODUCT prod on prod.id=IP.prod_code
	WHERE req_id IS NULL AND branch_id LIKE ISNULL(@Branch,'%') AND  BI.party_code LIKE ISNULL(@from,'%')  and IP.prod_code like ISNULL(@product,'%')
	GROUP BY IP.prod_code,prod.porduct_code,prod.package_unit
		
end
--- End Vendor Wise purchased Record Report---

if @flag='p'
begin
	if @product='undefined'
		set @product=null
	Select p.id as [CODE NO.]
	,'<b>'+p.porduct_code+'</b> ( PO No:'+ c.order_no +' ,Received Date'+cast(b.entered_date as varchar)+')' as  [PRODUCT NAME]
	,P.package_unit AS [PACKAGE UNIT]
	,isnull(p_qty,0) as STOCK
	,dbo.ShowDecimal(isnull(b.p_rate,0)) as [RATE (Unit Price(Rs.))]
	,dbo.ShowDecimal((isnull(p_qty,0)*isnull(p_rate,0))) as [AMOUNT (Rs.)]
	from IN_PURCHASE b with(nolock) 
	inner join IN_PRODUCT p with(nolock) on b.prod_code=p.id
	inner join Purchase_Order_Message c with(nolock) on c.id=b.order_msg_id
	where b.entered_date between @from and @to+' 23:59:59'
	and b.branch_id = ISNULL(@Branch,b.prod_code)
	and b.prod_code = ISNULL(@product,b.prod_code)
	and c.vendor_code=ISNULL(@vendorId,c.vendor_code)
	order by p.porduct_code

end
--Exec [procStockInHand] 'j','1',null,'4/1/2011','4/30/2011'
if @flag='j'
begin

	SELECT s_prod_id [PROD CODE]
		,IP.porduct_code AS [PRODUCT NAME]
		,IP.package_unit [PACKAGE UNIT]
		,SUM(s_qty) QTY,SUM(s_qty*s_rate)/SUM(s_qty) RATE
		,SUM(s_qty*s_rate) AMOUNT
	FROM IN_SALES SAL INNER JOIN IN_PRODUCT IP ON SAL.s_prod_id=IP.ID 
	WHERE from_branch=to_branch AND from_branch LIKE ISNULL(@branch,'%') AND entered_date BETWEEN @FROM AND @TO+' 23:59:59'
	GROUP BY s_prod_id,IP.porduct_code,IP.package_unit,IP.id
	
	order by IP.id asc


end

IF @flag='x'
BEGIN
      SET @sql='select ROW_NUMBER()OVER(ORDER BY BRANCH_SHORT_NAME) AS [S.N.],BRANCH_NAME as [Branch Name],SUM(s.s_qty*s.s_rate) as [Amount(Rs.)] from IN_SALES s 
				inner join IN_Requisition_Message r on r.id=s.msg_id
				inner join Branches b on b.BRANCH_ID=r.branch_id
				INNER JOIN Departments d ON d.DEPARTMENT_ID=r.dept_id 		
				WHERE 1=1 and from_branch=to_branch and s.entered_date between '''+@from+''' and '''+@to+' 23:59:59'''
				
				
				IF @Branch IS NOT NULL
					SET @sql=@sql + ' AND b.BRANCH_ID = '+ @Branch	
					
				SET @sql=@sql + '  group by  BRANCH_NAME,BRANCH_SHORT_NAME ORDER BY BRANCH_SHORT_NAME'
				
				EXEC (@sql)
END

	
IF @flag='z'
BEGIN
		SELECT ROW_NUMBER()OVER(ORDER BY BRANCH_SHORT_NAME) AS [S.N.],B.BRANCH_SHORT_NAME [Branch Code],BRANCH_NAME as [Branch Name],
		isnull(sum(a.s_qty*a.s_rate),0) as Amount	from IN_SALES a inner join Branches b on a.to_branch=b.BRANCH_ID
		inner join IN_Requisition_Message c on c.id=a.msg_id
		where a.from_branch=1 and a.entered_date between @from and @to+' 23:23:59' 
		and sales_type='T'
		and to_branch<>1 group by  
		BRANCH_NAME,BRANCH_SHORT_NAME ORDER BY BRANCH_SHORT_NAME
		
		
END
GO
