USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procEntryBillByBill]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Exec procEntryBillByBill 'session','date','acnum','refnum'

create proc [dbo].[procEntryBillByBill]
	@sessionID varchar(50),
	@date varchar(20),
	@ac_num varchar(20),
	@ref_num varchar(20)
as
begin
set nocount on;


	-- UPDATE BILL BY BILLL	
	
		declare @refrence as varchar(500)
		
	--------------------------------------------------------------------	
	if (select top 1 isnew from temp_tran where refrence<>'' and sessionID=@sessionID and acct_num= @ac_num )='y'
			begin
			
				SELECT @refrence= refrence FROM temp_tran WHERE  acct_num= @ac_num and sessionID=@sessionID and refrence<>''
				
				if not exists(
				SELECT ACC_NUM FROM BILL_BY_BILL WHERE BILL_REF=@refrence and ACC_NUM=@ac_num
				and REMAIN_AMT <> 0
				)
				begin
					
					INSERT INTO BILL_BY_BILL ([TRN_DATE],[TRN_REFNO]
						,[ACC_NUM] ,[PART_TRN_TYPE],[VOUCHER_TYPE] ,[TRAN_AMT],[REMAIN_AMT],[BILL_REF],[OPENING_BAL]
						)
					select @date,@ref_num,acct_num,part_tran_type,'y',tran_amt,tran_amt,refrence,tran_amt
					from temp_tran t where t.refrence<>'' and sessionID=@sessionID
					
					return;	
				end	
	end
	

		update BILL_BY_BILL set REMAIN_AMT=NEWAMT, PART_TRN_TYPE=TRN_TYPE
		from BILL_BY_BILL u , (		
		select BILL_REF, acct_num,
		case when PART_TRN_TYPE=part_tran_type then
			REMAIN_AMT+t.tran_amt
		when PART_TRN_TYPE<>part_tran_type and REMAIN_AMT >= t.tran_amt then
			REMAIN_AMT-t.tran_amt
		when PART_TRN_TYPE<>part_tran_type and REMAIN_AMT < t.tran_amt and PART_TRN_TYPE='dr' then
			t.tran_amt-REMAIN_AMT
		when PART_TRN_TYPE<>part_tran_type and REMAIN_AMT < t.tran_amt and PART_TRN_TYPE='cr' then
			t.tran_amt-REMAIN_AMT
		else
			t.tran_amt
		end as NEWAMT,
		case 
		when PART_TRN_TYPE<>part_tran_type and REMAIN_AMT < t.tran_amt and PART_TRN_TYPE='dr' then
			'cr'
		
		when PART_TRN_TYPE<>part_tran_type and REMAIN_AMT < t.tran_amt and PART_TRN_TYPE='cr' then
			'dr'
		else
			PART_TRN_TYPE
		end as TRN_TYPE
		
		from BILL_BY_BILL b , temp_tran t 
		where b.BILL_REF=t.refrence and t.acct_num=b.ACC_NUM
		and t.acct_num = @ac_num
		) a
		where u.ACC_NUM=a.acct_num and u.BILL_REF=a.BILL_REF
		and a.acct_num = @ac_num


end
-------------------------------------------------------------------------
GO
