USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procGetAppraisalReport]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Exec procGetAppraisalReport 's',null,'2010-04-01','2010-06-01'
CREATE proc [dbo].[procGetAppraisalReport](
	@flag varchar(1),
	@emp_id varchar(20)=null,
	@from_date varchar(20)=null,
	@to_date varchar(20)=null
)
as
	set nocount on
	set xact_abort on

if @flag='s'
begin

	declare @sql varchar(8000)
--set @sql='SELECT dbo.GetEmployeeFullNameOfId(a.EMPLOYEE_ID) AS ''Employee Name'',ROUND(AVG(CAST(s.DETAIL_DESC AS FLOAT)),2) AS ''Total Marks (%)'',
--             SUM(am.WEIGHTAGE) as ''On Total Weightage'' FROM AppraisalDetails ad INNER JOIN Appraisal a ON a.ID=ad.APPRAISAL_ID  inner join AppraisalMatrix am on
--            ad.APPRAISAL_MATRIC_ID=am.ID inner join StaticDataDetail s on s.ROWID=ad.WEIGHT where ad.WEIGHT<>'''' '
set @sql='SELECT dbo.GetEmployeeFullNameOfId(a.EMPLOYEE_ID) AS ''Employee Name'',ROUND(AVG(CAST(s.DETAIL_DESC AS FLOAT)),2) AS ''Total Marks (%)'' 
			FROM AppraisalDetails ad INNER JOIN Appraisal a ON a.ID=ad.APPRAISAL_ID  inner join AppraisalMatrix am on
            ad.APPRAISAL_MATRIC_ID=am.ID inner join StaticDataDetail s on s.ROWID=ad.WEIGHT where ad.WEIGHT<>'''' '

		if @emp_id is NOT null
			set @sql= @sql + ' and a.EMPLOYEE_ID='''+@emp_id+''''
		if	@from_date is not null 
			set @sql= @sql + ' and a.FROM_DATE between '''+@from_date+''' and '''+@to_date+''''
		
		set @sql=@sql+' GROUP BY APPRAISAL_ID,a.EMPLOYEE_ID'
			
	--select @sql		
	exec(@sql)
end
GO
