USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[ProcManageAllocationSetup]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*

EXEC [ProcManageAllocationSetup] @FLAG='i',@BRANCH_ID='1', @Position='168',@ALLOCATION='2', @USER='admin'

*/


CREATE PROCEDURE [dbo].[ProcManageAllocationSetup]
	@FLAG AS VARCHAR(1),
	@ID AS INT=NULL,
	@BRANCH_ID AS INT=NULL,
	@DEPT_ID AS INT=NULL,
	@POSITION AS INT=NULL,
	@ALLOCATION AS VARCHAR(500)=NULL,
	@USER AS VARCHAR(50)=NULL

AS
SET NOCOUNT ON;

IF @flag='i'
BEGIN	

	SELECT * FROM Darbandi_Allocation
	INSERT INTO Darbandi_Allocation(BRANCH_ID,DEPT_ID,POSITION,ALLOCATION,CREATED_BY,CREATED_DATE)VALUES
	(@BRANCH_ID,@DEPT_ID,@POSITION,@ALLOCATION,@USER,GETDATE())

END

IF @flag='u'
BEGIN
	
	UPDATE Darbandi_Allocation SET BRANCH_ID=@BRANCH_ID,DEPT_ID=@DEPT_ID,POSITION=@POSITION,ALLOCATION=@ALLOCATION,MODIFIED_BY=@USER,MODIFIED_DATE=GETDATE()
	WHERE ID=@ID							
	
END

IF @flag='s'
BEGIN

	SELECT BRANCH_ID,DEPT_ID,POSITION,ALLOCATION FROM Darbandi_Allocation where ID=@ID
END

IF @flag='d'
BEGIN

	DELETE FROM Darbandi_Allocation WHERE ID=@ID
END
GO
