USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procManageFuturePayable]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Exec procManageFuturePayable @flag='i',@emp_id='1001',@benifit_id='393' ,@amount='145516',@row_id=null,'admin'

CREATE proc [dbo].[procManageFuturePayable](
	@flag varchar(2),	
	@emp_id int=null,
	@benifit_id int=null,
	@amount money=null,
	@row_id INT=NULL,
	@fy_id	varchar(10)=null,
	@status varchar(20)=null,
	@user varchar(100)=null

)
AS
set nocount on;
DECLARE @OLD_AMT AS MONEY

	set @fy_id=(select FISCAL_YEAR_NEPALI from FiscalYear where FLAG=1)

if @flag='i'
BEGIN
	INSERT INTO FuturePayable(EMPLOYEE_ID,BENEFIT_ID,AMOUNT,CREATED_BY,CREATED_DATE,FY_ID)
	VALUES(@emp_id,@benifit_id,@amount,@user,GETDATE(),@fy_id)
	SELECT @row_id = SCOPE_IDENTITY()
	SELECT @row_id ID

END
if @flag='u'
BEGIN
	
	
	SELECT @OLD_AMT=AMOUNT FROM FuturePayable WHERE ID=@row_id
	UPDATE FuturePayable SET EMPLOYEE_ID=@emp_id,BENEFIT_ID=@benifit_id,AMOUNT=@amount,MODIFIED_BY=@user,MODIFIED_DATE=GETDATE(),FY_ID=@fy_id WHERE ID=@row_id
	
	INSERT INTO job_history(job_name,job_time,job_user,job_value,job_remarks,update_row,old_value)
		VALUES('FuturePayable',GETDATE(),@user,@amount,'UPDATED',@row_id,@OLD_AMT)

END

IF @flag='d'
BEGIN

	SELECT @OLD_AMT=AMOUNT FROM FuturePayable WHERE ID=@row_id
	
	DELETE FROM FuturePayable WHERE ID=@row_id	
	
	INSERT INTO job_history(job_name,job_time,job_user,job_value,job_remarks,update_row,old_value)
		VALUES('FuturePayable',GETDATE(),@user,@OLD_AMT,'DELETED',@row_id,0)
END
GO
