USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[PROCGETJOBFILEINFO]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROCGETJOBFILEINFO]  
  ( @JOBID INT  
  )  
  --SELECT * FROM WF_DOC_HISTORY  
  AS  
  BEGIN  
  SELECT DOC_ID,DOC_DESCRIPTION,FILE_EXTENSION FROM WF_DOC_HISTORY  
  WHERE WF_JOBID = @JOBID  
  END
GO
