USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procLeaveFileUpload]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[procLeaveFileUpload]
				 @flag   varchar(10) 
				,@id varchar(200)=null
				,@fileDesc varchar(100)=null				
				,@fileType varchar(100)=null
				,@session_id varchar(50)=null
				,@user varchar(100)=null
as

set nocount on;
DECLARE @SQL VARCHAR(8000)

if(@flag='i')
begin

	insert into leaveRequestFile(file_name,file_type,created_by,created_date,session_id)
	values(@fileDesc,@fileType,@user,GETDATE(),@session_id)

	set @id= @@IDENTITY
	
	select @id as msg


end
if(@flag='u')
begin

	insert into leaveRequestFile(leave_req_id,file_name,file_type,created_by,created_date)
	values(@id,@fileDesc,@fileType,@user,GETDATE())

	set @id= @@IDENTITY
	
	select @id as msg 

end


if(@flag='s')
begin

	SELECT id,ROW_NUMBER() over(order by id) [S.N.],file_name [File Name],file_type [File Type] 
	FROM leaveRequestFile  
	WHERE session_id = @session_id  

end

if(@flag='s1')
begin

	SELECT id,ROW_NUMBER() over(order by id) [S.N.],file_name [File Name],file_type [File Type] 
	FROM leaveRequestFile  
	WHERE leave_req_id=@id 

end

if @flag='d'
begin   

	SET @SQL='SELECT CAST(id AS VARCHAR) + ''.'' + file_type AS FILENAME FROM leaveRequestFile WHERE id IN (' + @id + ')'  
	EXEC(@SQL) 
	SET @SQL='DELETE FROM leaveRequestFile WHERE id IN (' + @id + ')'  
	EXEC(@SQL) 

end
GO
