USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_probationSalary]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
	EXEC proc_probationSalary @flag = 'a', @proSalId = 4
*/

CREATE PROC [dbo].[proc_probationSalary]
	 @flag                               VARCHAR(50)    = NULL
	,@user                               VARCHAR(100)    = NULL
	,@proSalId                           VARCHAR(100)    = NULL
	,@empId                              VARCHAR(100)    = NULL
	,@currentEmpType                     VARCHAR(100)    = NULL
	,@newEmpType                         VARCHAR(100)    = NULL
	,@effectiveDate                      VARCHAR(100)    = NULL
	,@currentPosition                    VARCHAR(100)    = NULL
	,@newPosition                        VARCHAR(100)    = NULL
	,@newSalarySet                       VARCHAR(100)    = NULL
	,@currentBranch                      VARCHAR(100)    = NULL
	,@currentDept                        VARCHAR(100)    = NULL
	,@newBranch                          VARCHAR(100)    = NULL
	,@newDept                            VARCHAR(100)    = NULL
	,@salarySetMasterId					 VARCHAR(100)    = NULL
	,@gradeType							 VARCHAR(100)    = NULL	
	,@promotionFlag                      VARCHAR(4)     = NULL
	,@transferFlag                       VARCHAR(4)     = NULL
	,@flagExecuted                       CHAR(1)        = NULL	
	,@gradeId                            VARCHAR(100)    = NULL	
	


AS
SET NOCOUNT ON
SET XACT_ABORT ON
BEGIN TRY
	
	IF @flag = 'i'
	BEGIN
		BEGIN TRANSACTION
			INSERT INTO probationSalary (
				 empId
				,currentEmpType
				,newEmpType
				,effectiveDate
				,currentPosition
				,newPosition
				,currentBranch
				,currentDept
				,newBranch
				,newDept
				,promotionFlag
				,transferFlag
				,salarySetMasterId
				,gradeId
				,createdBy
				,createdDate
			)
			SELECT
				 @empId
				,@currentEmpType
				,@newEmpType
				,@effectiveDate
				,@currentPosition
				,@newPosition
				,@currentBranch
				,@currentDept
				,@newBranch
				,@newDept
				,@promotionFlag
				,@transferFlag
				,@salarySetMasterId
				,@gradeId
				,@user
				,GETDATE()
			SET @proSalId = SCOPE_IDENTITY()
			
			IF @effectiveDate <= GETDATE()
			BEGIN
			
			If @promotionFlag ='OP'
			 BEGIN
			   UPDATE Employee SET 
			       EMP_TYPE = @newEmpType
			      ,PERMANENT_DATE = @effectiveDate
			      WHERE EMPLOYEE_ID = @empId
			    
			 END
			 ELSE
			 BEGIN
			   UPDATE Employee SET 
			       EMP_TYPE = @newEmpType
			      ,POSITION_ID = @newPosition
			      ,PERMANENT_DATE = @effectiveDate
			      WHERE EMPLOYEE_ID = @empId
			 
			 END
			
			    
			 
			     
			      
			END
			
			 EXEC proc_probationSalaryPayroll 
											 'i'
											,@user                               
											,@proSalId                          
											,@empId                             
											,@newEmpType                        
											,@effectiveDate                      
											,@salarySetMasterId					
											,@gradeType							 
											,@promotionFlag
											,@newPosition
										         
			

			IF(@newBranch IS NOT NULL AND @newDept IS NOT NULL AND @newBranch <> @currentBranch)
			BEGIN
				INSERT INTO ExternalTransferPlan (
					 STAFF_ID
					,EFFECTIVE_DATE
					,ACTUAL_REPORT_DATE
					,FROM_BRANCH
					,FROM_DEPARTMENT
					,WHICH_BRANCH
					,WHICH_DEPARTMENT
					,TRANSFER_DESCRIPTION
					,WHICH_POSITION
					,TRANSFER_TYPE
					,CREATED_BY
					,CREATED_DATE
				)
				SELECT
					 @empId
					,@effectiveDate
					,@effectiveDate
					,@currentBranch
					,@currentDept
					,@newBranch
					,@newDept
					,'Employee Promotion'
					,@newPosition
					,'e'
					,@user
					,GETDATE()	
			END
			IF(@newBranch IS NOT NULL AND @newDept IS NOT NULL AND @newBranch = @currentBranch AND @newDept <> @currentDept)
			BEGIN
				INSERT INTO ExternalTransferPlan (
					 STAFF_ID
					,EFFECTIVE_DATE
					,ACTUAL_REPORT_DATE
					,FROM_BRANCH
					,FROM_DEPARTMENT
					,WHICH_BRANCH
					,WHICH_DEPARTMENT
					,TRANSFER_DESCRIPTION
					,WHICH_POSITION
					,TRANSFER_TYPE
					,CREATED_BY
					,CREATED_DATE
				)
				SELECT
					 @empId
					,@effectiveDate
					,@effectiveDate
					,@currentBranch
					,@currentDept
					,@newBranch
					,@newDept
					,'Employee Promotion'
					,@newPosition
					,'i'
					,@user
					,GETDATE()	
			END
			SELECT '0' as error_code  , 'Record has been added successfully.', @proSalId

		COMMIT TRANSACTION	
		
	END
	ELSE IF @flag = 'a'
	BEGIN
		SELECT 
			 empId
			,currentEmpType
			,newEmpType
			,effectiveDate
			,currentPosition
			,newPosition
			,currentBranch
			,currentDept
			,newBranch 
			,newDept
			,createdBy
			,createdDate
			,promotionFlag
			,transferFlag
			,flagExecuted
			,executedDate
			,salarySetMasterId
			,gradeId
			,empName = (SELECT dbo.GetEmployeeInfoById(EMPLOYEE_ID) FROM Employee WHERE EMPLOYEE_ID = (SELECT empId FROM probationSalary WHERE proSalId = @proSalId)) 	
		FROM probationSalary WITH(NOLOCK) WHERE proSalId = @proSalId
		
	END

	ELSE IF @flag = 'u'
	BEGIN
		BEGIN TRANSACTION
			UPDATE probationSalary SET
				 empId                          = @empId
				,currentEmpType                 = @currentEmpType
				,newEmpType                     = @newEmpType
				,effectiveDate                  = @effectiveDate
				,currentPosition                = @currentPosition
				,newPosition                    = @newPosition
				,currentBranch                  = @currentBranch
				,currentDept                    = @currentDept
				,newBranch                      = @newBranch
				,newDept                        = @newDept
				,promotionFlag					= @promotionFlag
				,transferFlag					= @transferFlag
				,salarySetMasterId				= @salarySetMasterId
				,gradeId						= @gradeId
			WHERE proSalId = @proSalId
				
			IF(@newBranch IS NOT NULL AND @newDept IS NOT NULL)
			BEGIN
				UPDATE ExternalTransferPlan SET
					 EFFECTIVE_DATE					= @effectiveDate
					,ACTUAL_REPORT_DATE				= @effectiveDate
					,FROM_BRANCH					= @currentBranch
					,FROM_DEPARTMENT				= @currentDept
					,WHICH_BRANCH					= @newBranch
					,WHICH_DEPARTMENT				= @newDept
					,WHICH_POSITION					= @newPosition
					,MODIFIED_BY					= @user
					,MODIFIED_DATE					= GETDATE()
				WHERE STAFF_ID = @empId
			END	
			IF @effectiveDate <= GETDATE()
			BEGIN
				
				If @promotionFlag ='OP'
				 BEGIN
				   UPDATE Employee SET 
					   EMP_TYPE = @newEmpType
					  ,PERMANENT_DATE = @effectiveDate
					  WHERE EMPLOYEE_ID = @empId
				    
				 END
				 ELSE
				 BEGIN
				   UPDATE Employee SET 
					   EMP_TYPE = @newEmpType
					  ,POSITION_ID = @newPosition
					  ,PERMANENT_DATE = @effectiveDate
					  WHERE EMPLOYEE_ID = @empId
				 
				 END
			    -----######Delete from contribution#######-----
			    
			    DELETE Contribution where ID = (
								SELECT Table_ID FROM Emp_Type_payrollHist h
								INNER JOIN probationSalary p ON h.PS_ID = p.proSalId
								WHERE PS_ID = @proSalId and Table_name = 'Contribution' and p.empId = @empId
						)
						
				  -----######Delete from Adhoc_contribution#######-----
				 DELETE Adhoc_Contribution where ID = (
								SELECT Table_ID FROM Emp_Type_payrollHist h
								INNER JOIN probationSalary p ON h.PS_ID = p.proSalId
								WHERE PS_ID = @proSalId and Table_name = 'Adhoc_Contribution' and p.empId = @empId
						)
						
				  -----######Delete from AdhocPayable#######-----
			    
			    DECLARE @intPayableId INT,@intTotalPayableId int
		    
					SELECT 
					   Table_ID into #_tempAdhocPaymentId 
					FROM Emp_Type_payrollHist h
					INNER JOIN probationSalary p on h.PS_ID = p.proSalId
					WHERE PS_ID = @proSalId and Table_name = 'AdhocPayment' and p.empId = @empId
				

				
					ALTER TABLE #_tempAdhocPaymentId ADD tempId INT IDENTITY(1,1)
					SELECT @intPayableId=max(tempId) from #_tempAdhocPaymentId 
			  
			     	SET @intTotalPayableId = 1
			    
				     
				    WHILE(@intTotalPayableId <= @intPayableId)
					  BEGIN
						  
							DELETE AdhocPayment where ID = (select Table_ID from #_tempAdhocPaymentId where tempId = @intTotalPayableId)
							SET @intTotalPayableId=@intTotalPayableId+1
					    
					  END
					  
			   -----############## Delete History Table for specific employee##########-----------
					  
			   Delete Emp_Type_payrollHist where PS_ID = @proSalId
				
			END
			
			----######### Hit Payroll Tables #########-------------
			 EXEC proc_probationSalaryPayroll 
											 'i'
											,@user                               
											,@proSalId                          
											,@empId                             
											,@newEmpType                        
											,@effectiveDate                      
											,@salarySetMasterId					
											,@gradeType							 
											,@promotionFlag
											,@newPosition
			
			
			
			
			
			SELECT '0' as error_code  , 'Record has been updated successfully.', @proSalId	
		COMMIT TRANSACTION
	END
	ELSE IF @flag = 'd'
	BEGIN
		DELETE probationSalary WHERE proSalId = @proSalId
	END
	
	ELSE IF @flag = 'p'
	BEGIN
					SELECT 
							x.Payable_Head  [Payable Head]
							,dbo.ShowDecimal(payableValue)  [Payable Value]
							
						FROM (
								SELECT s.DETAIL_TITLE as Payable_Head
								,payableValue as payableValue
								FROM salarySetMaster sm
								INNER JOIN salarySetDetails sd ON sm.salarySetMasterId = sd.salarySetMasterId 
								INNER JOIN StaticDataDetail s ON s.ROWID = sd.payableHead WHERE sm.salarySetMasterId = @salarySetMasterId

								
							)x      
	END
	ELSE IF(@flag = 'ssm')				---Load Salary Set Master according to EmployeeId
	BEGIN	
		DECLARE @ssmId INT
		SELECT DISTINCT @ssmId = Set_ID FROM Payable WHERE EMPLOYEE_ID = @empId
		SELECT
			salarySet = CAST(@ssmId AS VARCHAR) + '-' + CAST(BENEFIT_ID AS VARCHAR) 
		FROM Payable 
		WHERE EMPLOYEE_ID = @empId AND BENEFIT_ID IN (SELECT rowid FROM StaticDataDetail WHERE TYPE_ID = 79) 
	END



END TRY
BEGIN CATCH
     IF @@TRANCOUNT > 0
     ROLLBACK TRANSACTION
     DECLARE @errorMessage VARCHAR(MAX)
     SET @errorMessage = ERROR_MESSAGE()
    SELECT @errorMessage, @proSalId
END CATCH
GO
