USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procExternalTransferPlanParameterised]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[procExternalTransferPlanParameterised]
	@FromBranchId	    varchar(25) ,
	@ToBranchId			varchar(25) = null,
	@startDate			varchar(25) = null,
	@endDate			varchar(25) = null,
	@reportType			varchar(25) 

AS
SET NOCOUNT ON;
BEGIN
-- ** EXTERNAL TRANSFER PLAN ** --

	declare @SQL varchar(8000)
	select 
			[Full Name - GUID],	
			[FROM_BRANCHID],					
			[From Banch],
			b.BRANCH_ID			AS [TO_BRANCHID],
			b.BRANCH_NAME		AS [To Branch],
			[FROM_DEPTID],
			[From Department],
			d.DEPARTMENT_ID		AS [TO_DEPTID],
			d.DEPARTMENT_NAME	AS [To Department],
			e.POSITION_ID		AS [From Position],
			[To Position],
			[Is Approved],
			CDATE,			
			MDATE
		INTO #TMP		
			from (				
				select 
					e.EMPLOYEE_ID,
					e.FIRST_NAME + ' ' + e.MIDDLE_NAME + ' ' + e.LAST_NAME+ ' - [' + CAST(e.EMPLOYEE_ID AS VARCHAR(50)) +']' AS 'Full Name - GUID',
					b.BRANCH_ID			as [FROM_BRANCHID],
					b.BRANCH_NAME		as [From Banch],	
					d.DEPARTMENT_ID		as [FROM_DEPTID],			
					d.DEPARTMENT_NAME	as [From Department],
					etp.WHICH_BRANCH	as [To_Branch],
					etp.WHICH_DEPARTMENT as [To_Department],
					etp.WHICH_POSITION	 as [To Position],
					case when etp.IS_APPROVED = 0 then 'No' else 'Yes' end as [Is Approved],
					etp.CREATED_DATE as CDATE,			
					etp.MODIFIED_DATE as MDATE
				from ExternalTransferPlan	as etp
					inner join Branches		as b on b.BRANCH_ID		= etp.FROM_BRANCH --and b.BRANCH_ID=@FromBranchId
					inner join Departments  as d on d.DEPARTMENT_ID	= etp.WHICH_DEPARTMENT
					inner join Employee		as e on e.EMPLOYEE_ID	= etp.STAFF_ID					
					where etp.IS_APPROVED = (case when 	@reportType = 'Planned' then '0' else '1' end)			
				) as tmp
				
			inner join Branches		as b on b.BRANCH_ID		= tmp.To_Branch 
			inner join Departments  as d on d.DEPARTMENT_ID	= tmp.To_Department
			inner join Employee		as e on e.EMPLOYEE_ID	= tmp.EMPLOYEE_ID
			--inner join Position		as p on p.POSITION_ID=e.POSITION_ID			
			order by [Full Name - GUID],[From Department],e.POSITION_ID
		

		SET @SQL = 'SELECT
						[Full Name - GUID],						
						[From Banch],					
						[To Branch],					
						[From Department],					
						[To Department],
						[From Position],
						[To Position],
						[Is Approved]			
					FROM #TMP WHERE 1 = 1 '	
			
			
			if ( @ToBranchId is not null)
			begin
				set @SQL = @SQL + ' and [TO_BRANCHID] =' + cast(@ToBranchId as varchar) 
			end
			
			if ( @startDate is not null and  @endDate is not null)
			begin
				set @SQL = @SQL + ' and (CDATE between ''' + cast(@startDate as varchar) + ''' and ''' + cast(@endDate as varchar) + ''')'
						+ ' OR (MDATE between ''' + cast(@startDate as varchar) + ''' and ''' + cast(@endDate as varchar) + ''')'
			end
			
			set @SQL = @SQL + ' order by [Full Name - GUID],[From Department],[From Position]'														
	exec (@SQL)	
END
GO
