USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procApprovalAssetCapitalizeRequest]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[procApprovalAssetCapitalizeRequest]
	@flag VARCHAR(1),
	@table_id VARCHAR(20)=NULL,	
	@user AS VARCHAR(50)=NULL,
	@queue_id AS VARCHAR(20)=NULL
AS
SET NOCOUNT ON;				
IF(@flag ='i')
BEGIN

	
	BEGIN TRANSACTION	

	DECLARE @NEPLI_MONTH AS INT,@default_nep_month AS INT,@IS_AMORTISED AS VARCHAR(1),@DEP_VALUE AS MONEY,@depre_pct AS FLOAT,
	@monthEndDate AS VARCHAR(20),@monthStartDate AS VARCHAR(20),@FY_YR AS VARCHAR(20),@SQL VARCHAR(500),@SQL1 VARCHAR(500),@DEFAULT_DEP_VALUE AS MONEY
	DECLARE @assetid AS INT,@capitalization_date AS DATE,@book_value AS MONEY,@capitalization_amt AS MONEY,@narration AS VARCHAR(MAX),@created_by as varchar(50),
	@created_date as date

	
	select @assetid=asset_id,@capitalization_date=Capitalization_date,@book_value=Book_value,@capitalization_amt=Capitalization_amt,
	@narration=Narration,@created_by=created_by,@created_date=created_date from ASSET_CAPITALIZATION_TEMP where id= @table_id
	
	INSERT INTO ASSET_CAPITALIZATION_HISTORY(asset_id, Capitalization_date,Book_value,Capitalization_amt,Narration,created_by,created_date,approved_by,approved_date)
	SELECT @assetid, @capitalization_date,@book_value,@capitalization_amt,@narration,@created_by,@created_date,@user,GETDATE() 
									
		IF (@@ERROR <> 0) GOTO QuitWithRollback    
         
        SELECT @IS_AMORTISED=is_amortised,@depre_pct=depre_pct FROM ASSET_INVENTORY WHERE ID=@assetid
        
        IF (@@ERROR <> 0) GOTO QuitWithRollback 
        
        UPDATE ASSET_INVENTORY SET purchase_value=purchase_value+@capitalization_amt WHERE id=@assetid
		
		IF (@@ERROR <> 0) GOTO QuitWithRollback 
		
		IF @is_amortised='N'
		BEGIN
			
			DECLARE @Monthdays AS INT,@START_DEP_VALUE AS MONEY,@actualDays AS INT
			SET @FY_YR=dbo.FNAReturnCurrentFiscalYear(@capitalization_date)
			SET @NEPLI_MONTH=dbo.GetNepaliMonth(@capitalization_date)
			SET @monthStartDate= dbo.GetMonthStartDateEng(@FY_YR,@NEPLI_MONTH)
			SET @monthEndDate= dbo.GetMonthEndDateEng(@FY_YR,@NEPLI_MONTH)
			
			SET @default_nep_month = @NEPLI_MONTH
			
			IF (@@ERROR <> 0) GOTO QuitWithRollback 
			
			SET @Monthdays=DATEDIFF(DAY,@monthStartDate,@monthEndDate)+1
			SET @actualDays =DATEDIFF(DAY,@capitalization_date,@monthEndDate)+1	
			SET @DEP_VALUE=ROUND((@capitalization_amt*@depre_pct/100)/12,2)				
			SET @START_DEP_VALUE=ROUND(@DEP_VALUE/@Monthdays,2)*@actualDays
			
			IF (@@ERROR <> 0) GOTO QuitWithRollback
			
			DECLARE @m_list TABLE(VALUE MONEY)
			
			SET @SQL1= 'SELECT M'+ CAST(@default_nep_month AS VARCHAR) +' FROM depreciation_setup WHERE ASSET_ID='+CAST(@assetid AS VARCHAR)+' and fiscal_year='''+CAST(@FY_YR AS VARCHAR) +''''

			INSERT @m_list
			EXEC(@SQL1)
			SELECT @DEFAULT_DEP_VALUE = VALUE FROM @m_list
			
			
			
			
			IF (@@ERROR <> 0) GOTO QuitWithRollback
			
			IF @NEPLI_MONTH<=3
			BEGIN
					WHILE @NEPLI_MONTH < =3 
					BEGIN						
						SET @SQL= 'update depreciation_setup set M'+ CAST(@NEPLI_MONTH AS VARCHAR) +'=M'+ CAST(@NEPLI_MONTH AS VARCHAR) +' + '+ CAST(@DEP_VALUE AS VARCHAR) +' 
						where asset_id='+CAST(@assetid AS VARCHAR)+' and fiscal_year='''+CAST(@FY_YR AS VARCHAR) +''''
						
						EXECUTE(@SQL)	
							
						IF (@@ERROR <> 0) GOTO QuitWithRollback				
						SET @NEPLI_MONTH=@NEPLI_MONTH+1
						
					END	

			END	
			ELSE
			BEGIN
				WHILE @NEPLI_MONTH < =12 
				BEGIN
					
					SET @SQL= 'update depreciation_setup set M'+ CAST(@NEPLI_MONTH AS VARCHAR) +'=M'+ CAST(@NEPLI_MONTH AS VARCHAR) +' + '+ CAST(@DEP_VALUE AS VARCHAR) +' 
					where asset_id='+CAST(@assetid AS VARCHAR)+' and fiscal_year='''+CAST(@FY_YR AS VARCHAR) +''''
					
					EXECUTE(@SQL)	
					
					IF (@@ERROR <> 0) GOTO QuitWithRollback		
					SET @NEPLI_MONTH=@NEPLI_MONTH+1			
					
				END	
				
				UPDATE depreciation_setup SET m1=m1+@DEP_VALUE,m2=m2+@DEP_VALUE,m3=m3+@DEP_VALUE WHERE asset_id=@assetid AND fiscal_year=@FY_YR
				IF (@@ERROR <> 0) GOTO QuitWithRollback
									
			END	
			
			--- Updating First Month (Day Wise) Depreciation Value ------			
			SET @SQL= 'update depreciation_setup set M'+ CAST(@default_nep_month AS VARCHAR) +'= '+ CAST(@DEFAULT_DEP_VALUE AS VARCHAR) +'  + '+ CAST(@START_DEP_VALUE AS VARCHAR) +' 
									where asset_id='+CAST(@assetid AS VARCHAR)+' and fiscal_year='''+CAST(@FY_YR AS VARCHAR) +''''								
			EXECUTE(@SQL)
			IF (@@ERROR <> 0) GOTO QuitWithRollback
			
		END
			

	DELETE FROM changesApprovalQueue WHERE dataid=@table_id AND rowId=@queue_id
	
	DELETE FROM ASSET_CAPITALIZATION_TEMP WHERE id=@table_id	
		
	COMMIT TRANSACTION

	GOTO EndSave	
	QuitWithRollback:
	ROLLBACK TRANSACTION 
				
	SELECT  'ERROR TO COMPLETE THIS TRANSACTION' AS MSG	
				 	
	EndSave:  
		
END
GO
