USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_getpass]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_getpass]
				@flag	CHAR(1),
				@id		INT=NULL,
				@user	VARCHAR(10)=NULL,
				@getpass_date	VARCHAR(10)=NULL,
				@returnable		VARCHAR(10)=NULL,
				@out_message	VARCHAR(50)=NULL,
				@asset_id		VARCHAR(20)=NULL,
				@session_id		VARCHAR(100)=NULL,
				@delivered_to VARCHAR(500)=NULL
AS
SET NOCOUNT ON;
			
IF(@flag ='i')--temproary table				
BEGIN
	DECLARE	@branchid		VARCHAR(200)
	DECLARE	@dept			VARCHAR(200)
	DECLARE	@assetholder	VARCHAR(200)
	DECLARE @bookvalue		VARCHAR(200)
	DECLARE @acc_depriciation VARCHAR (200)
	
	SELECT @branchid = branch_id, @dept = dept_id, @assetholder = asset_holder, @bookvalue = purchase_value - acc_depriciation
	, @acc_depriciation = acc_depriciation 
	FROM ASSET_INVENTORY WITH (NOLOCK) 
	WHERE id = @asset_id
	
	IF NOT EXISTS ( SELECT * FROM Asset_Temp_Gatepass 
					WHERE asset_id = @asset_id AND session_id = @session_id)
	BEGIN
			INSERT INTO Asset_Temp_Gatepass (asset_id, branch_id, dept_id,asset_holder, accumulated_dep, book_value, session_id)
			VALUES(@asset_id,@branchid, @dept,@assetholder, @acc_depriciation, @bookvalue, @session_id) 
	END		
END
IF(@flag ='p')--permanent table
BEGIN
	INSERT INTO Asset_Getpass_Out_Message (Get_Pass_Date, Returnable, Out_Message, Createdby, Createddate, delivered_to)
			VALUES (@getpass_date, @returnable, @out_message, @user, GETDATE(), @delivered_to)	
	
	SET @id = SCOPE_IDENTITY()
	
	INSERT INTO Asset_Get_Pass (asset_id,Get_pass_message_id, branch_id, dept_id, asset_holder, in_out, accumulated_dep, book_value)
	SELECT asset_id, id = @id, branch_id, dept_id, asset_holder, 'o', accumulated_dep, book_value 
		FROM Asset_Temp_Gatepass
		WHERE session_id = @session_id
	
	UPDATE ASSET_INVENTORY SET in_out = 'o' 
	WHERE id IN( SELECT asset_id 
				 FROM Asset_Get_Pass 
				 WHERE Get_pass_message_id=@id)
	
	DELETE 
		FROM Asset_Temp_Gatepass 
		WHERE session_id = @session_id
		
		SELECT @id 'Gatepassid'
END				
IF(@flag = 's')
BEGIN
	SELECT b.BRANCH_NAME, d.DEPARTMENT_NAME, e.FIRST_NAME + ' ' + e.MIDDLE_NAME + ' ' + e.LAST_NAME AS asset_holder,
			(purchase_value - acc_depriciation) AS bookvalue,ai.purchase_value,ai.acc_depriciation,ai.narration
		FROM ASSET_INVENTORY ai WITH (NOLOCK) INNER JOIN 
			Branches b ON ai.branch_id = b.BRANCH_ID LEFT JOIN Departments d ON ai.dept_id = d.DEPARTMENT_ID
			LEFT JOIN Employee e	ON ai.asset_holder = e.EMPLOYEE_ID 
		WHERE id =@asset_id
END
IF(@flag='d')
BEGIN
	DELETE 
		FROM Asset_Temp_Gatepass 
		WHERE id = @id
END
GO
