USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_uploadAgentforMkt]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[proc_uploadAgentforMkt](
	 @flag				VARCHAR(10)	= NULL
	,@file_path			VARCHAR(MAX) = NULL
	,@user				VARCHAR(30)	= NULL
)AS 
SET NOCOUNT ON
SET XACT_ABORT ON
BEGIN TRY
	IF @flag='u'
	BEGIN
		DECLARE @msg VARCHAR(MAX)
		DECLARE @SQL VARCHAR(MAX)

		create table #tempTable
		(
			 mapCodeInt		int not null
			,agentName		VARCHAR(200)
			,Zone			VARCHAR(50)
			,District		VARCHAR(50)
			,agentaddress	VARCHAR(200)
			,agentGrp		VARCHAR(50)
			,contactPerson1 VARCHAR(100)
			,agentphone1	VARCHAR(200)
		)

		SET @SQL = ' BULK INSERT #tempTable  FROM '''+@file_path+''' 
						 WITH (FIELDTERMINATOR = '','',FIRSTROW  = 2, ROWTERMINATOR =''\n'') '	
				 
		exec(@SQL)	

		update #tempTable
    	set 
		mapCodeInt		=replace(ltrim(mapCodeInt),'á',''),
		agentName		=replace(ltrim(agentName),'á',''),
		Zone			=replace(ltrim(Zone),'á',''),
		District		=replace(ltrim(District),'á',''),
		agentaddress	=replace(ltrim(agentaddress),'á',''),
		agentGrp		=replace(ltrim(agentGrp),'á',''),
		contactPerson1	=replace(ltrim(contactPerson1),'á',''),
		agentphone1		=replace(ltrim(agentphone1),'á','')

		update #tempTable
    	set 
			mapCodeInt		=replace((mapCodeInt),' ',''),
			agentName		=replace((agentName),' ',''),
			Zone			=replace((Zone),' ',''),
			District		=replace((District),' ',''),
			agentaddress	=replace((agentaddress),' ',''),
			agentGrp		=replace((agentGrp),' ',''),
			contactPerson1	=replace((contactPerson1),' ',''),
			agentphone1		=replace((agentphone1),' ','')


		DELETE FROM #tempTable 						
			FROM #tempTable t
			INNER JOIN HRManagement.dbo.agentmaster d ON cast(t.mapCodeInt as varchar) = d.mapCodeInt

		insert into HRManagement.dbo.agentmaster (mapCodeInt,agentname,Zone,District,agentaddress,agentGrp,contactPerson1,agentphone1)
		select * from #tempTable

		declare @count int
		select @count = count('x') from #tempTable

		select @msg = cast(@count as varchar)+' agent(s) migrated in IMS system.' 
		drop table #tempTable

		SELECT '0' errorCode,@msg msg,null

	END
END TRY
BEGIN CATCH

     IF @@TRANCOUNT > 0
     ROLLBACK TRANSACTION
     DECLARE @errorMessage VARCHAR(MAX)
     SET @errorMessage = ERROR_MESSAGE()
     EXEC proc_errorHandler 1, @errorMessage, ''

END CATCH
GO
