USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procManageAssetOrderReceive]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[procManageAssetOrderReceive]
		@flag char(5),
		@msg varchar(1000),
		@order_msg_id int,		
		@session_id varchar(50),
		@user int
		
		
AS
	SET NOCOUNT ON;

IF(@flag ='i')
BEGIN	
	 if exists(select * 
					from asset_temp_order 
					where session_id=@session_id and order_message_id=@order_msg_id)
	 BEGIN
	 
		INSERT INTO ASSET_ORDER_RECEIVED(order_id,order_message_id,asset_id,qty,rate,amount,req_id,receive_msg,received_date,received_by,remaining_qty)
		
		(SELECT order_id,order_message_id,asset_id,qty,rate,amount,req_id,@msg,GETDATE(),@user, qty  
			from asset_temp_order 
			where session_id=@session_id and order_message_id=@order_msg_id)	
		
		update ASSET_PURCHASE_ORDER set received_qty=isnull(received_qty,0) + q.qty
		from ASSET_PURCHASE_ORDER a, 
			(select qty,asset_id,order_id,req_id 
				from asset_temp_order 
				where session_id=@session_id and order_message_id=@order_msg_id)q
		where a.asset_id= q.asset_id and a.id =q.order_id and a.req_id=q.req_id 
		
		
		
		--START UPDATING ASSET_PURCHASE_ORDER_MESSAGE IF ORDER AND RECEIVE HAS BEEN MADE--
		
		if not exists (SELECT asset_id,(approved_qty-ISNULL(order_qty,0)),id FROM ASSET_REQUISITION
				where requistion_message_id=@order_msg_id and (approved_qty-ISNULL(order_qty,0))<>0)
			BEGIN
				if not exists (SELECT id,asset_id,(qty-ISNULL(received_qty,0))from ASSET_PURCHASE_ORDER  
					where order_message_id=@order_msg_id and (qty-ISNULL(received_qty,0))<>0)
				BEGIN
					UPDATE ASSET_PURCHASE_ORDER_MESSAGE SET status='Received' where id=@order_msg_id
					UPDATE ASSET_REQUISITION_MESSAGE set status='Received' where id= (select requistion_message_id from ASSET_PURCHASE_ORDER_MESSAGE where id=@order_msg_id)
				END
			END 
			ELSE
			BEGIN
				if not exists (SELECT id,asset_id,(qty-ISNULL(received_qty,0))from ASSET_PURCHASE_ORDER  
					where order_message_id=@order_msg_id and (qty-ISNULL(received_qty,0))<>0)
				BEGIN
					UPDATE ASSET_PURCHASE_ORDER_MESSAGE SET status='Received' where id=@order_msg_id 
				END
			END
			
		--END UPDATING ASSET_PURCHASE_ORDER_MESSAGE IF ORDER AND RECEIVE HAS BEEN MADE--
		
		
		DELETE from asset_temp_order where session_id=@session_id and order_message_id=@order_msg_id
		SELECT 'sucess' AS MSG
		
	 END
	 ELSE
	 BEGIN
		SELECT 'No asset type detail for receive!' AS MSG
	 END
	
END
GO
