USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_AppliedGradeReport]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Exec proc_AppliedGradeReport '70-71'

CREATE Proc [dbo].[proc_AppliedGradeReport]
	@year varchar(10)
as

	Declare 
		 @yearStartDate Date
		,@yearEndDate Date
		
	Select 
		 @yearStartDate=EN_YEAR_START_DATE
		,@yearEndDate=EN_YEAR_END_DATE 
	from FiscalYear 
	where FISCAL_YEAR_NEPALI=@year

	select
		 ROW_NUMBER() over (order by sdd.DETAIL_TITLE ,Emp_Id) [SNo]
		,''''+EMP_CODE [Employee Code]
		,rtrim(dbo.GetEmployeeFullNameOfId(Emp_Id)) Name
		,dbo.GetDetailTitle(POSITION_ID) [position]
		,sdd.DETAIL_TITLE [Appraisal Rating]
		,Case When Grade_Year=Previous_Grade_year Then Grade_Year 
		when (Grade_Year=20 and g.App_Rating<>'903') Then Previous_Grade_year 
		else (case when g.App_Rating='905' then Grade_Year-3  
		when g.App_Rating='906' then Grade_Year-2 
		when g.App_Rating='903' then Grade_Year-1 end) END [Previous Grade year]
		,Grade_Year [Current Grade Year]
		,convert(varchar,Effective_Date,107) [Effective Date]
		,convert(varchar,Apply_Date,107) [Apply Date]
		,OLD_BASIC [Old Basic Salary]
		,Amount as [New Basic Salary]
		,Amount-OLD_BASIC [Increment]
	from Grade g 
	inner join Employee E on g.Emp_Id=e.EMPLOYEE_ID
	--inner join 
	inner join StaticDataDetail sdd 
	on g.App_Rating=sdd.ROWID
	Where Effective_Date between @yearStartDate and @yearEndDate
GO
