USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procManageAssetRequisition]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[procManageAssetRequisition]
		@flag char(5),	
		@session_id varchar(50),
		@branch_to int=null,		
		@priority varchar(20)=null,
		@forward_to int=null,
		@message varchar(1000)=null,
		@branch_from int=null,
		@dept_from int=null,
		@user varchar(50)
		
AS
	SET NOCOUNT ON;

IF(@flag ='i')
BEGIN	
	
	if exists (select id,qty,product_code from Temp_Purchase where session_id=@session_id and flag='r')
	BEGIN
		DECLARE @message_id AS INT
			--select * from asset_requisition_MESSAGE
		INSERT INTO ASSET_REQUISITION_MESSAGE(forwarded_branch,approved_by,priority,narration,branch_id,dept_id,created_by,created_date,status)VALUES
		(@branch_to,@forward_to,@priority,@message,@branch_from,@dept_from,@user,GETDATE(),'Requested')
		
		set @message_id=@@IDENTITY
		
		--select * from asset_requisition
		INSERT INTO ASSET_REQUISITION(asset_id,qty,price,requistion_message_id,approved_qty)
		(SELECT product_code,qty,amount,@message_id,qty FROM Temp_Purchase 
		WHERE session_id=@session_id and flag='r')
		
		DELETE FROM Temp_Purchase WHERE session_id=@session_id and flag='r'
		 		
	END
	ELSE
	BEGIN
		SELECT 'There is no product information for purchase order!'
	END
END
GO
