USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_PerformanceAppraisal]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[proc_PerformanceAppraisal]  
 @flag VARCHAR(10)  
   ,@perAppMatSetUpId     int      = NULL  
   ,@templateId       int   = NULL  
   ,@appraisalTopic      int   = NULL  
   ,@appraisalSubTopic     int   = NULL  
   ,@jobElement       int   = NULL  
   ,@appraisalSubTopicWeight   varchar(100) = NULL  
   ,@jobElementWeight     varchar(100) = NULL  
   ,@ratingBy       varchar(100)   = NULL  
   ,@appraisalId      varchar(100)   = NULL  
   ,@raterType       varchar(10)    = NULL  
   ,@ratingRoles      varchar(10) = NULL  
   ,@ratingRolesId         varchar(10) = NULL  
   ,@fromDate                        varchar(100)   = NULL  
   ,@toDate        varchar(100)   = NULL  
     
  
AS   
SET NOCOUNT ON;  
  
DECLARE @SQL VARCHAR(MAX)  
  
/*  
  
exec [proc_PerformanceAppraisal] @flag='nsup',@ratingRolesId='1097'  
  
Exec proc_DisciplinaryComment @flag='a',@empId='1000',@commentType='Appreciation',@category='660'  
,@remarks='best',@startDate='6/1/2011',@endDate=null,@sessionId='bs5no4bdzqcjnm55rspq1s45'  
*/  
BEGIN TRY  
   IF @flag = 'i'  
   BEGIN  
     
     
    IF EXISTS(SELECT jobElement FROM performanceAppMatrixSetup WHERE appraisalSubTopic = @appraisalSubTopic AND jobElement = @jobElement AND templateId = @templateId)  
    BEGIN  
      
      SELECT '1' as error_code, 'You cannot Assign multiple Job Element' msg  
      RETURN  
      
    END  
    IF (SELECT SUM(jobElementWeight) weightSum from performanceAppMatrixSetup where appraisalSubTopic = @appraisalSubTopic AND templateId = @templateId) >100  
    BEGIN  
      
       SELECT '1' as error_code, 'You Must Choose Another Sub Topic' msg   
       RETURN  
    END  
      
    IF (SELECT (SUM(jobElementWeight) + @jobElementWeight) weightSum   
  from performanceAppMatrixSetup where appraisalSubTopic = @appraisalSubTopic AND templateId = @templateId) > 100  
    BEGIN  
      
       SELECT '1' as error_code, 'You Cannot Assign Job Element Weight More than 100%' msg   
       RETURN  
    END  
      
     
      
   IF (SELECT SUM((appraisalSubTopicWeight * jobElementWeight)/100 ) + (cast(@appraisalSubTopicWeight as Int) *cast(@jobElementWeight as Int))/100 FROM performanceAppMatrixSetup WHERE  templateId = @templateId) > 100  
   BEGIN  
       
    SELECT '1' as error_code ,'Total weight and Appraisal Sub Topic Weight cannot  be exceed 100%' msg  
    RETURN  
     
   END  
     
if exists(select * from performanceAppMatrixSetup where appraisalSubTopic=@appraisalSubTopic and templateId = @templateId )  
begin  
  
  
    
   IF (SELECT (SUM(x.appraisalSubTopicWeight)) weightSum   
   FROM (SELECT DISTINCT appraisalSubTopic,appraisalSubTopicWeight   
   from performanceAppMatrixSetup WHERE templateId = @templateId)x) > 100  
  BEGIN  
       
     SELECT '1' as error_code, 'You Cannot Assign Appraisal Sub Topic Weight More than 100%' msg   
     RETURN  
  END  
    
  
  select @appraisalSubTopicWeight = appraisalSubTopicWeight   
  from performanceAppMatrixSetup   
  where appraisalSubTopic=@appraisalSubTopic and templateId = @templateId  
   
    
    
  INSERT INTO performanceAppMatrixSetup(  
         templateId  
        ,appraisalTopic  
        ,appraisalSubTopic  
        ,jobElement  
        ,appraisalSubTopicWeight  
        ,jobElementWeight  
       )  
      SELECT   
            @templateId  
           ,@appraisalTopic  
           ,@appraisalSubTopic  
           ,@jobElement  
           ,@appraisalSubTopicWeight  
           ,@jobElementWeight  
     SELECT '0' as error_code, 'Record Save Successfully' msg  
end  
else  
begin  
   IF (SELECT (SUM(x.appraisalSubTopicWeight)+ @appraisalSubTopicWeight) weightSum   
   FROM (SELECT DISTINCT appraisalSubTopic,appraisalSubTopicWeight   
   from performanceAppMatrixSetup WHERE templateId = @templateId)x) > 100  
  BEGIN  
       
     SELECT '1' as error_code, 'You Cannot Assign Appraisal Sub Topic Weight More than 100%' msg   
     RETURN  
  END  
  
  INSERT INTO performanceAppMatrixSetup(  
         templateId  
        ,appraisalTopic  
        ,appraisalSubTopic  
        ,jobElement  
        ,appraisalSubTopicWeight  
        ,jobElementWeight  
       )  
      SELECT   
            @templateId  
           ,@appraisalTopic  
           ,@appraisalSubTopic  
           ,@jobElement  
           ,@appraisalSubTopicWeight  
           ,@jobElementWeight  
                       SELECT '0' as error_code, 'Record Save Successfully' msg  
  
END  
   END  
   ELSE IF @flag = 's'  
   BEGIN  
 SELECT   
   ROW_NUMBER() OVER(ORDER BY perAppMatSetUpId) SN   
   ,s.DETAIL_DESC [Appriasal Sub Topic]  
   ,appraisalSubTopicWeight [Weight(%)]  
   ,s1.DETAIL_DESC [Job Element]  
   ,jobElementWeight [Weight(%)]  
   ,(appraisalSubTopicWeight * jobElementWeight)/100 [Total Weight (%)]  
   --,'<img onclick = "EditNotification(' + CAST(perAppMatSetUpId AS VARCHAR(50)) + ')" class = "showHand" border = "0" title = "Edit Appraisal" src="../../Images/but_edit.gif" />' [Edit]  
   --,'<img onclick = "DeleteNotification(' + CAST(perAppMatSetUpId AS VARCHAR(50)) + ')" class = "showHand" border = "0" title = "Delete Appraisal" src="../../Images/delete.gif" />' [Delete] 
   ,'<span onclick="DeleteNotification(' + CAST(perAppMatSetUpId AS VARCHAR(50)) + ')" style="cursor:pointer;" class="tool btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-times" aria-hidden="true"></i></span>' AS Action
 FROM performanceAppMatrixSetup   
 p INNER JOIN StaticDataDetail s ON s.ROWID = p.appraisalSubTopic  
 INNER JOIN StaticDataDetail s1 ON s1.ROWID = p.jobElement  
 WHERE templateId = @templateId order by appraisalSubTopic  
     
   END  
     
   ELSE IF @flag = 'u'  
   BEGIN  
    UPDATE performanceAppMatrixSetup SET  
   appraisalSubTopic    = @appraisalSubTopic  
   ,jobElement      = @jobElement  
   ,appraisalSubTopicWeight  = @appraisalSubTopicWeight  
   ,jobElementWeight       = @jobElementWeight  
    WHERE perAppMatSetUpId            = @perAppMatSetUpId  
      SELECT '0' as error_code, 'Record Update Successfully' msg  
     
   END  
  
  ELSE IF @flag = 'd'  
  BEGIN  
    DELETE performanceAppMatrixSetup where perAppMatSetUpId = @perAppMatSetUpId  
    SELECT 'Record Delete Successfully' msg  
    
  END  
    
  ELSE IF @flag = 'all'  
  BEGIN  
    
    
  DECLARE @supervisor AS FLOAT, @reviewer AS FLOAT  
  
  
  SELECT @supervisor=trm.percentage,@reviewer=trm1.percentage FROM Appraisal a  
    INNER JOIN appraisalPosition ap on ap.position = a.POSITION_ID  
    INNER JOIN templateRecord t on t.templateId = ap.templateId  
    INNER JOIN templateRecordMarking trm on trm.templateId = t.templateId and trm.markingBy='741'  
    INNER JOIN templateRecordMarking trm1 on trm1.templateId = t.templateId and trm1.markingBy='742'  
  where a.ID=@appraisalId  
  
    
 
SELECT  
   main.*  
  ,[ar_a] = ar.a   
  ,[ar_r] = ar.r  
  ,[ar_s] = ar.s  
  ,[comment_a] = comment.a   
  ,[comment_r] = comment.r  
  ,[comment_s] = comment.s   
 FROM (  
  SELECT     
    ROW_NUMBER() OVER(PARTITION BY appraisalSubTopic ORDER BY appraisalSubTopic ASC) SN    
   ,ar.matrixId     
   ,p.appraisalSubTopic    
   ,[appraisal Sub Topic] = s.DETAIL_DESC    
   ,[Weight(%)] = appraisalSubTopicWeight     
   ,[Job Element] = s1.DETAIL_DESC   
   ,[WeightJE(%)] = jobElementWeight    
   ,[Total Weight (%)] = (appraisalSubTopicWeight * jobElementWeight)/100   
   ,ar.[s]    
   ,ar.[r]    
   ,ar.[a]    
   ,[Total Weight] = (((@supervisor*0.01)*isnull(ar.[s],0)) + ((@reviewer*0.01)*isnull(ar.[r],0)))* ((appraisalSubTopicWeight * jobElementWeight)*0.01)*0.01      
  FROM performanceAppMatrixSetup p     
  INNER JOIN StaticDataDetail s ON s.ROWID = p.appraisalSubTopic    
  INNER JOIN StaticDataDetail s1 ON s1.ROWID = p.jobElement    
  INNER JOIN templateRecord t ON t.templateId = p.templateId    
      
  INNER JOIN (    
  SELECT     
    matrixId   
   ,[s]    
   ,[r]    
   ,[a]    
  FROM (    
    SELECT        
   matrixId   
   ,raterType    
     ,isnull(rating,'')rating    
    FROM appraisalRating  where appraisalId = @appraisalId    
  ) st    
  PIVOT(    
   MAX(rating)    
   FOR raterType IN ([s], [r], [a])    
  ) p     
    ) ar ON ar.matrixId = p.perAppMatSetUpId    
     
  INNER JOIN appraisalRating ar2 ON ar.matrixId = ar2.matrixId    
  WHERE  ar2.appraisalId = @appraisalId  and ar2.raterType = @raterType  
 ) main  
 LEFT JOIN (  
  SELECT     
     
    ar.matrixId  
   ,ar.[s]    
   ,ar.[r]    
   ,ar.[a]  
  FROM performanceAppMatrixSetup p    
  INNER JOIN (    
  SELECT     
    matrixId   
   ,[s]    
   ,[r]    
   ,[a]    
  FROM (    
    SELECT        
   matrixId   
   ,raterType    
     ,isnull(R_flag,'')ar    
    FROM appraisalRating  where appraisalId = @appraisalId    
  ) st    
  PIVOT(    
   MAX(ar)    
   FOR raterType IN ([s], [r], [a])    
  ) p     
    ) ar ON ar.matrixId = p.perAppMatSetUpId    
     
  INNER JOIN appraisalRating ar2 ON ar.matrixId = ar2.matrixId    
  WHERE  ar2.appraisalId = @appraisalId  and ar2.raterType = @raterType  
 ) ar ON main.matrixId = ar.matrixId  
   
 LEFT JOIN (  
  SELECT     
    ar.matrixId    
   ,ar.[s]    
   ,ar.[r]    
   ,ar.[a]    
     
  FROM performanceAppMatrixSetup p     
   
      
  INNER JOIN (    
  SELECT     
   matrixId   
   ,[s]    
   ,[r]    
   ,[a]    
  FROM (    
    SELECT        
   matrixId   
   ,raterType    
     ,isnull(R_comments,'')comment    
    FROM appraisalRating  where appraisalId = @appraisalId    
  ) st    
  PIVOT(    
   MAX(comment)    
   FOR raterType IN ([s], [r], [a])    
  ) p     
    ) ar ON ar.matrixId = p.perAppMatSetUpId    
     
  INNER JOIN appraisalRating ar2 ON ar.matrixId = ar2.matrixId    
  WHERE  ar2.appraisalId = @appraisalId  and ar2.raterType = @raterType  
 ) comment ON main.matrixId = comment.matrixId  
  
  END  
    
  ----- exec [proc_PerformanceAppraisal] @flag='su',@ratingRoles='656', @ratingRolesId='1000',@fromDate='7/5/2011',@toDate = '7/14/2011' 
  ---exec [proc_PerformanceAppraisal] @flag='su',@ratingRoles='743', @ratingRolesId='1249',@fromDate='1/29/2012',@toDate = '3/10/2012' 
    
  ELSE IF @flag = 'su'  
  BEGIN  
  declare @rater varchar(100)  
    
  select  @rater = DETAIL_TITLE from StaticDataDetail where ROWID = @ratingRoles  
  ---- seft or Appraisee = 656  
    
  IF @rater = 'Appraisee'  
  BEGIN  
  SET @SQL = '  
      SELECT   
   AP.EMPLOYEE_ID [EmpID]  
   ,AP.ID appraisalId  
   ,Ap.POSITION_ID positionId   
   ,ROW_NUMBER() over(order by AP.ID) [S.N.]  
   ,CONVERT(VARCHAR,AP.FROM_DATE,107) AS [From Date]  
   ,CONVERT(VARCHAR,AP.TO_DATE,107) AS [To Date]  
   ,CONVERT(VARCHAR,AP.previousAppraisalDate,107) AS [Previous Appraisal Date]  
   ,E.FIRST_NAME + '' '' + E.MIDDLE_NAME + '' '' + E.LAST_NAME AS  Name  
   FROM Appraisal AP INNER JOIN   
  Employee E on AP.EMPLOYEE_ID = E.EMPLOYEE_ID  
   WHERE AP.EMPLOYEE_ID = '''+@ratingRolesId+''''  
       
      IF @fromDate is not null and @toDate is not null  
   SET @sql= @sql + ' AND AP.FROM_DATE  between '''+@fromDate+''' and '''+@toDate+''''   
   EXEC(@SQL) 
   
   --print @SQL  
  
END    
     
 ---- appraisar or supervisor  '657'  
  IF @rater = 'Appraiser'  
  BEGIN  
   SET @SQL = 'SELECT   
    AP.EMPLOYEE_ID [EmpID]  
   ,AP.ID appraisalId  
   ,Ap.POSITION_ID positionId   
     
   , ROW_NUMBER() over(order by AP.ID) [S.N.]  
   ,CONVERT(VARCHAR,AP.FROM_DATE,107) AS [From Date]  
   ,CONVERT(VARCHAR,AP.TO_DATE,107) AS [To Date]  
   ,CONVERT(VARCHAR,AP.previousAppraisalDate,107) AS [Previous Appraisal Date]  
   ,E.FIRST_NAME + '' '' + E.MIDDLE_NAME + '' '' + E.LAST_NAME AS  Name  
   ,E.EMPLOYEE_ID [EmpID]  
  FROM Appraisal AP   
  INNER JOIN    
    (  
    SELECT   
     EMP   
    FROM appraisalSupervisorAssignment   
    WHERE SUPERVISOR = '''+@ratingRolesId+''' AND record_status=''y'' and SUPERVISOR_TYPE =''s''  
    ) su  
   ON AP.EMPLOYEE_ID = su.EMP  
   INNER JOIN Employee AS E   
   ON E.EMPLOYEE_ID = AP.EMPLOYEE_ID WHERE  1=1'  
     
      IF @fromDate is not null and @toDate is not null  
   SET @sql= @sql + ' AND AP.FROM_DATE  between '''+@fromDate+''' and '''+@toDate+''''   
   EXEC(@SQL)  
   --print @SQL
   
  END  
  
  ---- revisor = 658  
  IF @rater = 'Reviewer' 
   
  BEGIN 
  
  SET @SQL = 'SELECT   
     AP.EMPLOYEE_ID [EmpID]  
    ,AP.ID appraisalId  
    ,Ap.POSITION_ID positionId   
    , ROW_NUMBER() over(order by AP.ID) [S.N.]  
    ,CONVERT(VARCHAR,AP.FROM_DATE,107) AS [From Date]  
    ,CONVERT(VARCHAR,AP.TO_DATE,107) AS [To Date]  
    ,CONVERT(VARCHAR,AP.previousAppraisalDate,107) AS [Previous Appraisal<br/> Date]  
    ,E.FIRST_NAME + '' '' + E.MIDDLE_NAME + '' '' + E.LAST_NAME AS  Name   
  FROM Appraisal AP   
  INNER JOIN    
    (  
    SELECT   
     EMP   
    FROM appraisalSupervisorAssignment   
    WHERE SUPERVISOR = '''+@ratingRolesId+''' AND record_status=''y'' and SUPERVISOR_TYPE =''r''  
    ) su  
   ON AP.EMPLOYEE_ID = su.EMP  
   INNER JOIN Employee AS E   
   ON E.EMPLOYEE_ID = AP.EMPLOYEE_ID WHERE  1=1'  
     
      IF @fromDate is not null and @toDate is not null  
   SET @sql= @sql + ' AND AP.FROM_DATE  between '''+@fromDate+''' and '''+@toDate+''''   
   EXEC(@SQL)   
   --print @SQL  
     
  END  
   
   
  ------ HR = 659  or HR Commetteee 
  IF @rater = 'HR'  
  BEGIN  
   set @SQL = ' SELECT   
    AP.EMPLOYEE_ID [EmpID]  
    ,AP.ID appraisalId  
    ,Ap.POSITION_ID positionId   
    , ROW_NUMBER() over(order by AP.ID) [S.N.]  
    ,CONVERT(VARCHAR,AP.FROM_DATE,107) AS [From Date]  
    ,CONVERT(VARCHAR,AP.TO_DATE,107) AS [To Date]  
    ,CONVERT(VARCHAR,AP.previousAppraisalDate,107) AS [Previous Appraisal Date]  
    ,E.FIRST_NAME + '' '' + E.MIDDLE_NAME + '' '' + E.LAST_NAME AS  Name  
    FROM Appraisal AP INNER JOIN  
    (
		SELECT EMP FROM appraisalSupervisorAssignment WHERE SUPERVISOR_TYPE = ''hrc'' and record_status = ''y''   
		and SUPERVISOR = '''+@ratingRolesId+'''
    ) su  
    ON AP.EMPLOYEE_ID = su.EMP  
    INNER JOIN Employee AS E   
    ON E.EMPLOYEE_ID = AP.EMPLOYEE_ID'  
    IF @fromDate is not null and @toDate is not null  
    SET @sql= @sql + ' AND AP.FROM_DATE  between '''+@fromDate+''' and '''+@toDate+''''   
    EXEC(@SQL) 
    PRINT @SQL 
  END  
       
  -------- CEO = 660  
  IF @rater = 'CEO'  
  BEGIN  
   IF @ratingRolesId = '1096'  
    BEGIN  
    SELECT   
     AP.EMPLOYEE_ID [EmpID]  
     ,AP.ID appraisalId  
     ,Ap.POSITION_ID positionId   
     ,ROW_NUMBER() over(order by AP.ID) [S.N.]  
     ,CONVERT(VARCHAR,AP.FROM_DATE,107) AS [From Date]  
     ,CONVERT(VARCHAR,AP.TO_DATE,107) AS [To Date]  
     ,CONVERT(VARCHAR,AP.previousAppraisalDate,107) AS [Previous Appraisal Date]  
     ,E.FIRST_NAME + '' + E.MIDDLE_NAME + '' + E.LAST_NAME AS  Name  
    FROM Appraisal AP INNER JOIN   
    Employee E on AP.EMPLOYEE_ID = E.EMPLOYEE_ID  
    WHERE 1 = 1   --APP_STATUS='Active' and
     
      
    END  
    ELSE  
     SELECT EMP_CODE from Employee where EMP_CODE = '4dfd5f4df'  
       
     END      
 END  
  
-- Exec [proc_PerformanceAppraisal] @flag='n', @ratingRolesId='1102'  
  
IF @flag ='n'  
BEGIN  
  
  DECLARE @APPRAISEE_DATE INT  
  DECLARE @APPRAISER_DATE INT  
  DECLARE @REVIEWER_DATE INT  
  DECLARE @HRC_DATE INT  
    
    
  SELECT TOP 1 @APPRAISEE_DATE = ISNULL(CAST(APPRAISEE_DATE AS VARCHAR),0)   
  FROM Appraisal   
  WHERE EMPLOYEE_ID=ISNULL(@ratingRolesId,'')    
  AND APPRAISEE_DATE IS NULL  
  --AND APP_STATUS='Active'  
    
    
  
 ---- seft or Appraisee ------------------------------------  
 IF @APPRAISEE_DATE = 0  
  BEGIN   
	SELECT   
		 AP.EMPLOYEE_ID [EmpID]  
		,AP.ID appraisalId  
		,Ap.POSITION_ID positionId   
		,ROW_NUMBER() over(order by AP.ID) [S.N.]  
		,CONVERT(VARCHAR,AP.FROM_DATE,107) AS [From Date]  
		,CONVERT(VARCHAR,AP.TO_DATE,107) AS [To Date]  
		,CONVERT(VARCHAR,AP.previousAppraisalDate,107) AS [Previous Appraisal Date]  
		,RTRIM(dbo.GetEmployeeFullNameOfId(EMPLOYEE_ID)) AS  Name  
	FROM Appraisal AP INNER JOIN   
	appraisalSupervisorAssignment ASA 
	on AP.EMPLOYEE_ID = ASA.EMP and record_status = 'y'  
	WHERE ASA.SUPERVISOR= @ratingRolesId 
	and ASA.SUPERVISOR_TYPE='sf'
	and APPRAISEE_DATE is null  
    --AND AP.APP_STATUS='Active'  
      
  END   
End  
  
-- exec [proc_PerformanceAppraisal] @flag='nsup',@ratingRolesId='1096'  
  
  
IF @flag ='nsup'  
Begin  
    
  select TOP 1 @APPRAISER_DATE=ISNULL(CAST(APPRAISER_DATE AS VARCHAR),0)  
  from Appraisal   
  where SUPERVISIOR_ID=@ratingRolesId   
  AND APPRAISER_DATE IS NULL   
  AND APPRAISEE_DATE IS NOT NULL  
  --AND APP_STATUS='Active'  
  
 --------------------- appraisar or supervisor -----------------------------  
  IF @APPRAISER_DATE = 0   
 BEGIN   
	SELECT   
		 AP.EMPLOYEE_ID [EmpID]  
		,AP.ID appraisalId  
		,Ap.POSITION_ID positionId   
		,ROW_NUMBER() over(order by AP.ID) [S.N.]  
		,CONVERT(VARCHAR,AP.FROM_DATE,107) AS [From Date]  
		,CONVERT(VARCHAR,AP.TO_DATE,107) AS [To Date]  
		,CONVERT(VARCHAR,AP.previousAppraisalDate,107) AS [Previous Appraisal Date]  
		,RTRIM(dbo.GetEmployeeFullNameOfId(EMPLOYEE_ID)) AS  Name  
	FROM Appraisal AP   
	INNER JOIN appraisalSupervisorAssignment AS ASA   
	ON ASA.EMP = AP.EMPLOYEE_ID and record_status = 'y'   
	WHERE APPRAISER_DATE is null   
	AND APPRAISEE_DATE IS NOT NULL   
	AND ASA.SUPERVISOR = @ratingRolesId  
	and ASA.SUPERVISOR_TYPE='s'
    --AND APP_STATUS='Active'  
 END  
  
End  
  ---- revisor------------------------------------------------------  
 -- exec [proc_PerformanceAppraisal] @flag='nrev',@ratingRolesId='1096'  
  
IF @flag ='nrev'  
Begin  
  
    
  select TOP 1 @REVIEWER_DATE=ISNULL(CAST(REVIEWER_DATE AS VARCHAR),0)    
  from Appraisal   
  where REVIEWER_ID=@ratingRolesId   
  AND REVIEWER_DATE IS NULL   
  AND APPRAISER_DATE IS NOT NULL  
  --AND APP_STATUS='Active'  
  
  
  IF @REVIEWER_DATE = 0   
 BEGIN    
    SELECT   
    AP.EMPLOYEE_ID [EmpID]  
    ,AP.ID appraisalId  
    ,Ap.POSITION_ID positionId   
    , ROW_NUMBER() over(order by AP.ID) [S.N.]  
    ,CONVERT(VARCHAR,AP.FROM_DATE,107) AS [From Date]  
    ,CONVERT(VARCHAR,AP.TO_DATE,107) AS [To Date]  
    ,CONVERT(VARCHAR,AP.previousAppraisalDate,107) AS [Previous Appraisal<br/> Date]  
    ,rtrim(dbo.GetEmployeeFullNameOfId(emp)) AS  Name  
	FROM Appraisal AP  
	INNER JOIN appraisalSupervisorAssignment AS ASA  
    ON ASA.EMP = AP.EMPLOYEE_ID and record_status = 'y'   
    WHERE ASA.SUPERVISOR= @ratingRolesId  
    and ASA.SUPERVISOR_TYPE='r' 
    and REVIEWER_DATE is null   
    AND APPRAISER_DATE IS NOT NULL   
    --AND APP_STATUS='Active'    
 END  
   
End  
  
-- exec [proc_PerformanceAppraisal] @flag='nrev',@ratingRolesId='1096'  
  
IF @flag ='nhr'  
Begin  
  
  select TOP 1 @HRC_DATE=ISNULL(CAST(HRC_DATE AS VARCHAR),0)  from Appraisal AP INNER JOIN (SELECT SUPERVISOR,EMP FROM appraisalSupervisorAssignment WHERE SUPERVISOR_TYPE = 'hrc' and record_status = 'y') su   
  ON AP.EMPLOYEE_ID = su.EMP where SU.SUPERVISOR=@ratingRolesId AND HRC_DATE IS NULL AND REVIEWER_DATE IS NOT NULL   
  
   --------------------------HR-------------------------------  
  IF @HRC_DATE = 0  
 BEGIN     
     
	SELECT   
		 AP.EMPLOYEE_ID [EmpID]  
		,AP.ID appraisalId  
		,Ap.POSITION_ID positionId   
		,ROW_NUMBER() over(order by AP.ID) [S.N.]  
		,CONVERT(VARCHAR,AP.FROM_DATE,107) AS [From Date]  
		,CONVERT(VARCHAR,AP.TO_DATE,107) AS [To Date]  
		,CONVERT(VARCHAR,AP.previousAppraisalDate,107) AS [Previous Appraisal Date]  
		,RTRIM(dbo.GetEmployeeFullNameOfId(EMPLOYEE_ID)) AS  Name  
	FROM Appraisal AP 
	where AP.HRC_DATE is null
	and AP.REVIEWER_DATE is not null

 END  
   
    
END  
    
  
END TRY  
  
  
BEGIN CATCH  
  
 IF @@TRANCOUNT > 0  
 ROLLBACK TRANSACTION  
   
 SELECT '1' ERROR_CODE, ERROR_MESSAGE() msg  
  print @SQL
  
END CATCH
GO
