USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_employeeProfileWithEducation]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXEC proc_employeeProfileWithEducation @FLAG='A',@EMP_ID=NULL
CREATE PROCEDURE [dbo].[proc_employeeProfileWithEducation]
			@FLAG CHAR(1),
			@EMP_ID	CHAR(100)=NULL

AS
SET NOCOUNT ON;
IF @FLAG='A'
BEGIN
	DECLARE
	 @sql VARCHAR(MAX)
	,@fields VARCHAR(MAX)
	,@fields_NoNull VARCHAR(MAX) 

	
	DECLARE @leaveMain TABLE(EMPLOYEE_ID INT, LEVELS VARCHAR(200), 
							Degree VARCHAR(200), Faculty  VARCHAR(200), Percentage VARCHAR(200), Division VARCHAR(200),
							PassedYear VARCHAR(200),Institution VARCHAR(200),CountryName VARCHAR(200))
							
	IF OBJECT_ID('tempdb..#leaveDetails') IS NOT NULL
	DROP TABLE #leaveDetails 

	CREATE TABLE #leaveDetails (EMPLOYEE_ID INT, LEVELS VARCHAR(500), pivotField VARCHAR(250), Field VARCHAR(200), Data VARCHAR(200))

	INSERT @leaveMain(EMPLOYEE_ID, LEVELS, Degree, Faculty, Percentage,Division,PassedYear,Institution,CountryName)
	SELECT EMPLOYEE_ID,LEVELS,DEGREE,dbo.GetDetailTitle(FECULTY),PERCENTAGE,dbo.GetDetailTitle(DIVISION),
	PASSED_YEAR,NAMEOF_INSTITUTION,dbo.GetDetailTitle(COUNTRY_NAME) FROM Employee_Education

	INSERT #leaveDetails(
		EMPLOYEE_ID
		,LEVELS
		,Field
		,Data
	)
	SELECT 
		 
		 EMPLOYEE_ID
		,DETAIL_TITLE
		,Field
		,Data
	FROM
		(
			SELECT EMPLOYEE_ID,SDD.DETAIL_TITLE,Degree, Faculty, Percentage,Division,PassedYear,Institution,CountryName
			FROM @leaveMain lm INNER JOIN StaticDataDetail SDD ON SDD.ROWID=lm.LEVELS
			
		) p
		UNPIVOT 
		(
			Data FOR Field IN(Degree, Faculty, Percentage,Division,PassedYear,Institution,CountryName)
		)AS unPVT
		order by EMPLOYEE_ID
	

	UPDATE #leaveDetails SET
	pivotField = LEVELS + '_' + Field


	SELECT
		 @fields = ISNULL(@fields + ',', '') + CHAR(13) + '[' + pivotField + ']'
		,@fields_NoNull = ISNULL(@fields_NoNull + ',', '') + CHAR(13) + 'ISNULL([' + pivotField + '], '''') [' + pivotField + ']'
	FROM
		(
			SELECT DISTINCT
				ld.pivotField,ld.LEVELS
			FROM #leaveDetails ld
		) pivotField


	SET @sql = 'SELECT * FROM ( SELECT EMPLOYEE_ID,
									   Name,Gender,
									   DOB,
									   [Marital Status],
									   Branch,
									   Dept,
									   Post,
									   [Blood Group],
									   [Pan Number],
									   [Appointment Date],
									   [Joined Date],
									   [Functional Title],
									   [Employee Status],
									   [Employee Type],
									   [Permanent Date],
									   [Card No],
									   [Permanent Country],
									   [Permanent Zone],
									   [Permanent District],
									   [Permanent Municipality/VDC],
									   [Permanent Ward No.],
									   [Permanent Street Name],
									   [Permanent House No.],
									   [Temporary Country],
									   [Temporary Zone],
									   [Temporary District],
									   [Temporary Municipality/VDC],
									   [Temporary Ward No.], 
									   [TemporaryStreet Name],
									   [Temporary House No.],
									   [Phone (Office)],
									   [Phone (Res.)],
									   [Mobile (Office)],
									   [Mobile (Personal)],
									   [Fax (Office)],
									   [Fax (Personal)],
									   [Extension No.],
									   [Email (Office)],
									   [Emergency Contact Name],
									   [Address],
									   [Relationship],
									   [Contact1],
									   [Contact2],
									   [Contact3],
									   [Email]									   
										,' + @fields_NoNull + '
				FROM (
						SELECT
							e.EMPLOYEE_ID
							,REPLACE(ISNULL(e.first_name, '''') + '' '' + ISNULL(e.middle_name, '''') + '' '' + ISNULL(e.last_name, ''''), '' '', '' '') [Name]
							,isnull(dbo.GetDetailTitle(GENDER),'''') Gender
							,isnull(BIRTH_DATE,'''') DOB
							,isnull(dbo.GetDetailTitle(MERITAL_STATUS),'''') [Marital Status]
							,isnull(dbo.GetBranchName(BRANCH_ID),'''') Branch
							,isnull(dbo.GetDeptName(DEPARTMENT_ID),'''') Dept
							,isnull(dbo.GetDetailTitle(POSITION_ID),'''') Post
							,isnull(dbo.GetDetailTitle(BLOOD_GROUP),'''') [Blood Group]
							,isnull(PAN_NUMBER,'''') [Pan Number]
							,isnull(APPOINTMENT_DATE,'''') [Appointment Date]
							,isnull(JOINED_DATE,'''') [Joined Date]
							,isnull(dbo.GetDetailTitle(FUNCTIONAL_TITLE),'''') [Functional Title]
							,isnull(dbo.GetDetailTitle(EMP_STATUS),'''') [Employee Status]
							,isnull(dbo.GetDetailTitle(EMP_TYPE),'''') [Employee Type]
							,isnull(PERMANENT_DATE,'''') [Permanent Date]
							,isnull(ATT_CARD_ID,'''') [Card No]
							,isnull(dbo.GetDetailTitle(PER_COUNTRY),'''') [Permanent Country]
							,isnull(dbo.GetDetailTitle(PER_ZONE),'''') [Permanent Zone]
							,isnull(dbo.GetDetailTitle(PER_DISTRICT),'''') [Permanent District]
							,isnull(PER_MUNICIPALITY_VDC,'''') [Permanent Municipality/VDC]
							,isnull(PER_WARD_NO,'''') [Permanent Ward No.]
							,isnull(PER_STREET_NAME,'''') [Permanent Street Name]
							,isnull(PER_HOUSE_NO,'''') [Permanent House No.]
							,isnull(dbo.GetDetailTitle(TEMP_COUNTRY),'''') [Temporary Country]
							,isnull(dbo.GetDetailTitle(TEMP_ZONE),'''') [Temporary Zone]
							,isnull(dbo.GetDetailTitle(TEMP_DISTRICT),'''') [Temporary District]
							,isnull(TEMP_MUNICIPALITY_VDC,'''') [Temporary Municipality/VDC]
							,isnull(TEMP_WARD_NO,'''') [Temporary Ward No.]
							,isnull(TEMP_STREET_NAME,'''') [TemporaryStreet Name]
							,isnull(TEMP_HOUSE_NO,'''') [Temporary House No.]
							,isnull(OFFICE_PHONE,'''') [Phone (Office)]
							,isnull(HOME_PHONE,'''') [Phone (Res.)]
							,isnull(OFFICE_MOBILE,'''') [Mobile (Office)]
							,isnull(PERSONAL_MOBILE,'''') [Mobile (Personal)]
							,isnull(OFFICE_FAX,'''') [Fax (Office)]
							,isnull(PERSONAL_FAX,'''') [Fax (Personal)]
							,isnull(EXTENSION_NUMBER,'''') [Extension No.]
							,isnull(OFFICIAL_EMAIL,'''') [Email (Office)]
							,isnull(PERSONAL_EMAIL,'''') [Email (Personal)]
							,isnull(EM_NAME,'''') [Emergency Contact Name]
							,isnull(EM_ADDRESS,'''') [Address]
							,isnull(dbo.GetDetailTitle(EM_RELATIONSHIP),'''') [Relationship]
							,isnull(EM_CONTACTNO1,'''') [Contact1]
							,isnull(EM_CONTACTNO2,'''') [Contact2]
							,isnull(EM_CONTACTNO3,'''') [Contact3]
							,isnull(EM_EMAIL,'''') [Email]
							,pivotField, Data 
						FROM 
						Employee e WITH(NOLOCK) LEFT JOIN 
						#leaveDetails ld WITH(NOLOCK) ON e.EMPLOYEE_ID = ld.EMPLOYEE_ID
				) p

				PIVOT (
					MAX([Data]) FOR pivotField IN( ' + @fields + ' )
				)AS pvt) x ORDER BY x.Name ASC'

		--SELECT DISTINCT
		--	ld.LEVELS
		--FROM #leaveDetails ld
	
		

	PRINT @sql
	EXEC(@sql)
END
GO
