USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[Proc_SalaryVoucher_trial]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
SELECT * FROM STATICDATADETAIL WHERE TYPE_ID=86

Exec [Proc_SalaryVoucher_trial] @fiscalYear='69-70',@runmonth='11',@BRANCH_ID='10'

*/

CREATE proc [dbo].[Proc_SalaryVoucher_trial]
	 @fiscalYear VARCHAR(10)
	,@runmonth INT
	,@BRANCH_ID INT = null

AS

SET NOCOUNT OFF;

DECLARE
	 @monthStartDate VARCHAR(20)
	,@monthEndDate VARCHAR(20)
	,@monthname VARCHAR(20)
	
SET @monthStartDate =dbo.GetMonthStartDateEng(@fiscalYear , @runMonth )
SET @monthEndDate =dbo. GetMonthEndDateEng(@fiscalYear , @runMonth)
SET @monthname = dbo.FNAGetNepMonthName(@runMonth)



SELECT accNo,DESCRIPTION,ROUND(SUM(PAID_AMOUNT),2) AS AMOUNT, flag
FROM (

-- Basic expenses
	SELECT 
		 accNo 
		,DESCRIPTION
		,CASE WHEN Sum(PAID_AMOUNT)<0 THEN Sum(PAID_AMOUNT)*(-1) ELSE Sum(PAID_AMOUNT) END PAID_AMOUNT
		,SN
		,Case when Sum(PAID_AMOUNT)<0 Then 'c' else 'd' end flag
	FROM
	(
		SELECT 
			br.BRANCH_SHORT_NAME+sl.Ledger_Number accNo
			,Ledger_Name  DESCRIPTION 
			, PAID_AMOUNT ,1 SN,'d' flag
		FROM PayableHistory_trial A WITH ( NOLOCK)
		Inner join TaxCalculation_Trial T on A.EMPLOYEE_ID=T.Emp_Id
		Inner join StaticDataDetail sdd on A.BENEFIT_ID=sdd.ROWID
		inner join Employee E on A.EMPLOYEE_ID=E.EMPLOYEE_ID
		INNER JOIN Branches BR ON T.BRANCH_ID=BR.BRANCH_ID
		inner join SalaryLeadgerMapping sl on A.BENEFIT_ID=sl.Head_ID 
				and sl.Branch_ID=T.Branch_Id
		WHERE A.FY_ID=@fiscalYear
		AND A.RUN_MONTH = @runmonth
		AND sdd.TYPE_ID IN (36,37)
		AND BR.BRANCH_ID=ISNULL(@BRANCH_ID,BR.BRANCH_ID)
	
		UNION ALL

		SELECT 
			br.BRANCH_SHORT_NAME+sl.Ledger_Number 
			, Ledger_Name
			,CASE WHEN A.ADD_DEDUCT='A' THEN ROUND(A.AMOUNT,2)ELSE ROUND(A.AMOUNT*-1,2) END AS AMOUNT,1,'d'
		FROM Adhocpayment_trial A WITH ( NOLOCK ) 
		INNER JOIN StaticDataDetail s WITH ( NOLOCK ) ON A.HEAD_ID= s.ROWID
		Inner join TaxCalculation_Trial T on A.EMPLOYEE_ID=T.Emp_Id
		INNER JOIN Employee E ON A.EMPLOYEE_ID=E.EMPLOYEE_ID
		INNER JOIN Branches BR ON T.BRANCH_ID=BR.BRANCH_ID
		inner join SalaryLeadgerMapping sl on A.HEAD_ID=sl.Head_ID 
				and sl.Branch_ID=T.Branch_Id
		WHERE A.APPLIED_DATE BETWEEN @monthStartDate AND @monthEndDate
		AND isnull(a.IS_PAID,0)=0
		AND s.TYPE_ID in ('36','37')
		AND BR.BRANCH_ID=ISNULL(@BRANCH_ID,BR.BRANCH_ID)
	
		UNION ALL

		SELECT 
			br.BRANCH_SHORT_NAME+sl.Ledger_Number 
			, Ledger_Name
			,CASE WHEN A.ADD_DEDUCT='A' THEN ROUND(A.AMOUNT,2)ELSE ROUND(A.AMOUNT*-1,2) END AS AMOUNT,1,'d'
		FROM Adhocpayment A WITH ( NOLOCK ) 
		INNER JOIN StaticDataDetail s WITH ( NOLOCK ) ON A.HEAD_ID= s.ROWID
		Inner join TaxCalculation_Trial T on A.EMPLOYEE_ID=T.Emp_Id
		INNER JOIN Employee E ON A.EMPLOYEE_ID=E.EMPLOYEE_ID
		INNER JOIN Branches BR ON T.BRANCH_ID=BR.BRANCH_ID
		inner join SalaryLeadgerMapping sl on A.HEAD_ID=sl.Head_ID 
				and sl.Branch_ID=T.Branch_Id
		WHERE A.APPLIED_DATE IS NULL
		AND isnull(a.IS_PAID,0)=0
		AND s.TYPE_ID in ('36','37')
		AND BR.BRANCH_ID=ISNULL(@BRANCH_ID,BR.BRANCH_ID)
	)Basic
	GROUP BY  accNo ,DESCRIPTION,SN

-- Allowance expenses
	UNION ALL

	SELECT 
		 accNo 
		,DESCRIPTION
		,CASE WHEN Sum(PAID_AMOUNT)<0 THEN Sum(PAID_AMOUNT)*(-1) ELSE Sum(PAID_AMOUNT) END PAID_AMOUNT
		,SN
		,Case when Sum(PAID_AMOUNT)<0 Then 'c' else 'd' end flag 
	FROM 
	(
		SELECT
			br.BRANCH_SHORT_NAME+sl.Ledger_Number accNo
			,Ledger_Name  DESCRIPTION 
			, PAID_AMOUNT ,2 SN,'d' flag
		FROM PayableHistory_trial A WITH ( NOLOCK)
		INNER JOIN Employee E ON A.EMPLOYEE_ID=E.EMPLOYEE_ID
		Inner join TaxCalculation_Trial T on A.EMPLOYEE_ID=T.Emp_Id
		Inner join StaticDataDetail sdd on A.BENEFIT_ID=sdd.ROWID
		INNER JOIN Branches BR ON T.BRANCH_ID=BR.BRANCH_ID
		inner join SalaryLeadgerMapping sl on A.BENEFIT_ID=sl.Head_ID and sl.Branch_ID=T.Branch_Id
		WHERE A.FY_ID=@fiscalYear
		AND A.RUN_MONTH = @runmonth
		AND sdd.TYPE_ID =38
		AND BR.BRANCH_ID=ISNULL(@BRANCH_ID,BR.BRANCH_ID)

		UNION ALL

		SELECT 
			br.BRANCH_SHORT_NAME+sl.Ledger_Number,
			 Ledger_Name
			,CASE WHEN A.ADD_DEDUCT='A' THEN ROUND(A.AMOUNT ,2)ELSE ROUND(A.AMOUNT*-1,2) END AS AMOUNT,2,'d'
		FROM Adhocpayment_trial A WITH ( NOLOCK ) 
		INNER JOIN StaticDataDetail s WITH ( NOLOCK ) ON A.HEAD_ID= s.ROWID
		Inner join TaxCalculation_Trial T on A.EMPLOYEE_ID=T.Emp_Id
		INNER JOIN Employee E ON A.EMPLOYEE_ID=E.EMPLOYEE_ID
		INNER JOIN Branches BR ON T.BRANCH_ID=BR.BRANCH_ID
		inner join SalaryLeadgerMapping sl on A.HEAD_ID=sl.Head_ID and sl.Branch_ID=T.Branch_Id
		WHERE A.APPLIED_DATE BETWEEN @monthStartDate AND @monthEndDate
		AND isnull(a.IS_PAID,0)=0
		AND s.TYPE_ID = 38
		AND BR.BRANCH_ID=ISNULL(@BRANCH_ID,BR.BRANCH_ID)
	
		UNION ALL

		SELECT 
			br.BRANCH_SHORT_NAME+sl.Ledger_Number,
			 Ledger_Name
			,CASE WHEN A.ADD_DEDUCT='A' THEN ROUND(A.AMOUNT ,2)ELSE ROUND(A.AMOUNT*-1,2) END AS AMOUNT,2,'d'
		FROM Adhocpayment A WITH ( NOLOCK ) 
		INNER JOIN StaticDataDetail s WITH ( NOLOCK ) ON A.HEAD_ID= s.ROWID
		Inner join TaxCalculation_Trial T on A.EMPLOYEE_ID=T.Emp_Id
		INNER JOIN Employee E ON A.EMPLOYEE_ID=E.EMPLOYEE_ID
		INNER JOIN Branches BR ON T.BRANCH_ID=BR.BRANCH_ID
		inner join SalaryLeadgerMapping sl on A.HEAD_ID=sl.Head_ID and sl.Branch_ID=T.Branch_Id
		WHERE A.APPLIED_DATE IS NULL
		AND isnull(a.IS_PAID,0)=0
		AND s.TYPE_ID = 38
		AND BR.BRANCH_ID=ISNULL(@BRANCH_ID,BR.BRANCH_ID)
	)ALLOWANCE
	GROUP BY  accNo ,DESCRIPTION,SN
	
-- ADHOC BENEFITS
	UNION ALL

	SELECT br.BRANCH_SHORT_NAME+sl.Ledger_Number,
		 s.DETAIL_DESC + + ' Expenses A/c  Dr'
		,CASE WHEN A.ADD_DEDUCT='A' THEN ROUND(A.AMOUNT ,2)ELSE ROUND(A.AMOUNT*-1,2) END AS AMOUNT,4,'d'
	FROM AdhocPayment A WITH ( NOLOCK ) 
	INNER JOIN StaticDataDetail s WITH ( NOLOCK ) ON A.HEAD_ID= s.ROWID
		Inner join TaxCalculation_Trial T on A.EMPLOYEE_ID=T.Emp_Id
	INNER JOIN Employee E ON A.EMPLOYEE_ID=E.EMPLOYEE_ID
	INNER JOIN Branches BR ON T.BRANCH_ID=BR.BRANCH_ID
	inner join SalaryLeadgerMapping sl on A.HEAD_ID=sl.Head_ID and sl.Branch_ID=T.Branch_Id
	WHERE A.APPLIED_DATE IS NULL
	AND isnull(a.IS_PAID,0)=0
	AND s.TYPE_ID ='41'
	AND BR.BRANCH_ID=ISNULL(@BRANCH_ID,BR.BRANCH_ID)

	UNION ALL

	SELECT 
		br.BRANCH_SHORT_NAME+sl.Ledger_Number,
		 UPPER(RTRIM(DBO.GetDetailTitle(A .CONTRIBUTED_TO))) + ' Expenses A/c  Dr'
		,CAST(ISNULL(B. AMOUNT_EMPLOYER ,0.00) AS MONEY), 5,'d'
	FROM Contribution A WITH ( NOLOCK ) 
	INNER JOIN ContributionHistory_trial B WITH ( NOLOCK )
	ON A.ID=B. CONTRIBUTION_ID
		Inner join TaxCalculation_Trial T on A.EMPLOYEE_ID=T.Emp_Id
	INNER JOIN Employee E ON A.EMPLOYEE_ID=E.EMPLOYEE_ID
	INNER JOIN Branches BR ON T.BRANCH_ID=BR.BRANCH_ID
	inner join SalaryLeadgerMapping sl on A.CONTRIBUTED_TO=sl.Head_ID and sl.Branch_ID=T.Branch_Id
	WHERE B . FY_ID=@fiscalYear AND B .RUN_MONTH = @runmonth
	AND BR.BRANCH_ID=ISNULL(@BRANCH_ID,BR.BRANCH_ID)

	UNION ALL

	SELECT br.BRANCH_SHORT_NAME+sl.Ledger_Number,
		 UPPER(RTRIM(DBO.GetDetailTitle(CONTB_TO))) + ' Expenses A/c  Dr'
		,CAST(ISNULL( CONTB_AMOUNT_EMPLOYER ,0.00) AS MONEY), 5,'d'
	FROM Adhoc_Contribution A WITH ( NOLOCK)
	INNER JOIN Employee E ON A.EMPLOYEE_ID=E.EMPLOYEE_ID
		Inner join TaxCalculation_Trial T on A.EMPLOYEE_ID=T.Emp_Id
	INNER JOIN Branches BR ON T.BRANCH_ID=BR.BRANCH_ID
	inner join SalaryLeadgerMapping sl on A.CONTB_TO=sl.Head_ID and sl.Branch_ID=T.Branch_Id
	WHERE CONTB_DATE IS NULL
	AND ISNULL(IS_Paid,0)=0
	AND BR.BRANCH_ID=ISNULL(@BRANCH_ID,BR.BRANCH_ID)

	UNION ALL

	SELECT 
		--BA.ACCOUNT_NUMBER,
		'StaffAc',
		 CHAR(9)+'TO Staff Salary A/C'
		,sum(ROUND((BASIC_SALARY_CURRENT+GRADE_CURRENT+ ALLOWANCE_CURRENT
		+ADHOC_BENEFITS_THIS_MONTH+ROUND(CONTRI_THIS_MONTH_EMPLOYER,2) -
		(ROUND(CONTRI_THIS_MONTH_EMPLOYER,2)+ ROUND(CONTRI_CURRENT_EMPLOYEE,2)+ROUND(TAX_THIS_MONTH,2)+
		ADHOC_DEDUCTION_CURRENT+LOAN_DEDUCTION+ADVANCE_DEDUCTION+isnull(pd.Deduction_Amt,0))),2)) AS AMOUNT 
		,6
		,CASE WHEN sum(ROUND((BASIC_SALARY_CURRENT+GRADE_CURRENT+ ALLOWANCE_CURRENT
		+ADHOC_BENEFITS_THIS_MONTH+ROUND(CONTRI_THIS_MONTH_EMPLOYER,2) -
		(ROUND(CONTRI_THIS_MONTH_EMPLOYER,2)+ ROUND(CONTRI_CURRENT_EMPLOYEE,2)+ROUND(TAX_THIS_MONTH,2)+
		ADHOC_DEDUCTION_CURRENT+LOAN_DEDUCTION+ADVANCE_DEDUCTION+isnull(pd.Deduction_Amt,0))),2))<0 THEN 'd' ELSE 'c' END
	FROM TaxCalculation_Trial A WITH ( NOLOCK)
	INNER JOIN Employee E ON A.EMP_ID=E.EMPLOYEE_ID
	INNER JOIN Branches BR ON A.BRANCH_ID=BR.BRANCH_ID
	inner join BankAccounts BA on A.Emp_Id=BA.EMPLOYEE_ID
	Left Join (select EMP_ID,SUM(Deduction_Amt) Deduction_Amt
				from PremiumDeduction_Trial 
				where Deduction_Date 
					between @monthStartDate and @monthEndDate
				group by EMP_ID
			  ) pd on A.Emp_Id=pd.EMP_ID
	WHERE FY_ID=@fiscalYear
	AND Run_Month=@runmonth
	AND BR.BRANCH_ID=ISNULL(@BRANCH_ID,BR.BRANCH_ID)
	AND isnull(BA.IS_DEFAULT,0)=1


	UNION ALL

	SELECT 
		sdd.DETAIL_DESC,
		 CHAR(9)+'TO ' + UPPER(RTRIM(DBO.GetDetailTitle(A .CONTRIBUTED_TO))) +' A/C'
		,CAST(ISNULL(B. AMOUNT_EMPLOYER ,0.00)+ISNULL(B. AMOUNT_EMPLOYEE ,0.00) AS MONEY) AMT, 7,'c'
	FROM Contribution A WITH ( NOLOCK ) 
	INNER JOIN ContributionHistory_trial B WITH ( NOLOCK )
	ON A . ID=B. CONTRIBUTION_ID
	INNER JOIN Employee E ON A.EMPLOYEE_ID=E.EMPLOYEE_ID
	Inner join TaxCalculation_Trial T on A.EMPLOYEE_ID=T.Emp_Id
	INNER JOIN Branches BR ON T.BRANCH_ID=BR.BRANCH_ID
	INNER JOIN StaticDataDetail sdd ON CAST(A.CONTRIBUTED_TO AS VARCHAR)=sdd.DETAIL_TITLE
	WHERE B . FY_ID=@fiscalYear AND B .RUN_MONTH = @runmonth
	AND BR.BRANCH_ID=ISNULL(@BRANCH_ID,BR.BRANCH_ID)

	UNION ALL

	SELECT sdd.DETAIL_DESC,
		 CHAR(9)+'TO ' + UPPER(RTRIM( DBO.GetDetailTitle(CONTB_TO))) +' A/C'
		,CAST(ISNULL(CONTB_AMOUNT_EMPLOYER ,0.00) + ISNULL( CONTB_AMOUNT_EMPLOYEE ,0.00) AS MONEY)AMT,7,'c'
	FROM Adhoc_Contribution A WITH ( NOLOCK)
		Inner join TaxCalculation_trial T on A.EMPLOYEE_ID=T.Emp_Id
	INNER JOIN Branches BR ON T.BRANCH_ID=BR.BRANCH_ID
	INNER JOIN StaticDataDetail sdd ON CAST(A.CONTB_TO AS VARCHAR)=sdd.DETAIL_TITLE
	WHERE CONTB_DATE is null
	AND ISNULL(IS_Paid,0)=0
	AND BR.BRANCH_ID=ISNULL(@BRANCH_ID,BR.BRANCH_ID)

	UNION ALL

	---TDS PAYABLE---
	SELECT sdd.DETAIL_DESC,
		CHAR(9)+'TO TDS ON SALARY A/C',ROUND(SUM(Tax_This_Month),2)AS AMOUNT,8,'c'
	FROM TaxCalculation_Trial T WITH (NOLOCK)
	INNER JOIN Branches BR ON T.BRANCH_ID=BR.BRANCH_ID
	inner join StaticDataDetail sdd WITH (NOLOCK) on DETAIL_TITLE='TDS ON SALARY'
	WHERE FY_ID =@fiscalYear AND Run_Month= @runMonth
	AND BR.BRANCH_ID=ISNULL(@BRANCH_ID,BR.BRANCH_ID)
	group by DETAIL_DESC

	UNION ALL


	--Insurance Deduction--
	SELECT '93752001003',
		CHAR(9)+ 'TO ' + UPPER(B.Insurance_For) +' A/C'
		,ROUND(SUM(Deduction_Amt),2) AS AMOUNT,9,'c'
	FROM PremiumDeduction_Trial A WITH (NOLOCK)
	INNER JOIN Insurance B WITH (NOLOCK)ON A.Insurance_ID=B.ID
	Inner join TaxCalculation_Trial T on B.EMPLOYEE_ID=T.Emp_Id
	INNER JOIN Branches BR ON T.BRANCH_ID=BR.BRANCH_ID
	WHERE A.Deduction_Date BETWEEN @monthStartDate AND @monthEndDate
	AND A.NARRATION LIKE '%BY SYSTEM%'
	AND BR.BRANCH_ID=ISNULL(@BRANCH_ID,BR.BRANCH_ID)
	AND SALARY_DEDUCTION='Y'
	AND FREQUENCY='M'
	GROUP BY B.Insurance_For

	UNION ALL

	--LOAN PAYMENT--
	SELECT 
	--B.ledger_code,
	case when LOAN_TYPE='389' then '0106017500009' ELSE sdd.DETAIL_DESC END,
		CHAR(9)+ 'TO ' + UPPER(RTRIM(DBO.GetDetailTitle(B.LOAN_TYPE))) +' A/C'
		,ROUND(SUM(paid_amount),2) AS AMOUNT,9,'c'
	FROM loan_collection_trial A WITH (NOLOCK)
	INNER JOIN LOAN B WITH (NOLOCK)ON A.loan_id=B.ID
	Inner join TaxCalculation_Trial T on B.EMPLOYEE_ID=T.Emp_Id
	INNER JOIN Branches BR ON T.BRANCH_ID=BR.BRANCH_ID
	Inner join StaticDataDetail sdd on sdd.ROWID=B.LOAN_TYPE
	WHERE A.paid_date BETWEEN @monthStartDate AND @monthEndDate
	AND A.NARRATION LIKE '%BY SYSTEM%'
	AND BR.BRANCH_ID=ISNULL(@BRANCH_ID,BR.BRANCH_ID)
	GROUP BY B.LOAN_TYPE,DETAIL_DESC,B.ledger_code


	UNION ALL

	--ADVANCE PAYMENT---
	SELECT LEDGER_CODE,
		 CHAR(9)+'TO ' + UPPER(RTRIM(DBO.GetDetailTitle(B.ADVANCE_TYPE))) +' A/C'
		,ROUND(SUM(paid_amount),2) AS AMOUNT ,10,'c'
	FROM AdvanceCollection_trial A WITH (NOLOCK)
	INNER JOIN Advance B WITH (NOLOCK)ON A.ADVANCE_ID=B.ID
		Inner join TaxCalculation_Trial T on B.EMPLOYEE_ID=T.Emp_Id
	INNER JOIN Branches BR ON T.BRANCH_ID=BR.BRANCH_ID
	WHERE A.paid_date BETWEEN @monthStartDate AND @monthEndDate
	AND A.NARRATION LIKE '%BY SYSTEM%'
	AND BR.BRANCH_ID=ISNULL(@BRANCH_ID,BR.BRANCH_ID)
	GROUP BY B.ADVANCE_TYPE,LEDGER_CODE

	UNION ALL

	SELECT sl.Ledger_Number,
		CHAR(9)+ 'TO ' + UPPER(RTRIM(DBO.GetDetailTitle(A.HEAD_ID))) + +' A/C'
		,AMOUNT,11,'c'
	FROM AdhocPayment A WITH ( NOLOCK ) INNER JOIN StaticDataDetail B WITH ( NOLOCK ) ON A.HEAD_ID= B .ROWID
		Inner join TaxCalculation_Trial T on A.EMPLOYEE_ID=T.Emp_Id
	INNER JOIN Branches BR ON T.BRANCH_ID=BR.BRANCH_ID
	Inner join SalaryLeadgerMapping sl on sl.Head_ID=A.HEAD_ID and sl.Branch_ID=T.Branch_Id
	WHERE A.APPLIED_DATE BETWEEN @monthStartDate AND @monthEndDate
	AND isnull(a.IS_PAID,0)=0
	AND B.TYPE_ID =40
	AND BR.BRANCH_ID=ISNULL(@BRANCH_ID,BR.BRANCH_ID)

) Z
WHERE PAID_AMOUNT<>0
GROUP BY DESCRIPTION,SN,flag,accNo
ORDER BY SN
GO
