USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procImportAttendance_TEST]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Exec [procImportAttendance_TEST]   @flag='a'
CREATE proc [dbo].[procImportAttendance_TEST]
	@flag varchar(1),
	@att_date varchar(20)=null
AS

set nocount on;
if @flag='a'
begin 	

	if @att_date is null
		set @att_date=GETDATE()	  		
		
	IF OBJECT_ID('tempdb..#temp') IS NOT NULL
	drop table #temp
	
	
	IF OBJECT_ID('tempdb..#TEMP_TABLE') IS NOT NULL
	drop table #TEMP_TABLE
	
	select card_number,
	CAST(ATN_YEAR AS VARCHAR)+'-'+CAST(ATN_MONTH AS VARCHAR)+'-'+CAST(ATN_DAY AS VARCHAR)+' '+CAST(ATN_HOUR AS VARCHAR)+':'+CAST(ATN_MINUTE AS VARCHAR) as att_date
	into #temp from AID_ATN_DEVICE_DATA
	WHERE  ATTENDANCE_DATE=CONVERT(VARCHAR,'2012-05-2',110)

	CREATE TABLE #TEMP_TABLE
	(
		EMPLOYEE_ID varchar(20) NULL,
		CARD_NUMBER VARCHAR(500) NULL,
		ATT_DATE DATETIME NULL,
		LOGIN_TIME DATETIME NULL,
		LOGOUT_TIME DATETIME NULL		
	) 	

	INSERT INTO #TEMP_TABLE(CARD_NUMBER,ATT_DATE,LOGIN_TIME,LOGOUT_TIME)
	SELECT a.card_number,a.att_date,a.login_date,
	CASE WHEN a.login_date=a.logout_date 
	THEN null ELSE logout_date
	END logout_date
	FROM 
	(
		SELECT card_number , 
		convert(varchar,cast(att_date as DATE),102) att_date,
		min(cast(att_date as datetime)) as login_date, 
		max(cast(att_date as datetime)) logout_date   from #temp 
		group by card_number, convert(varchar,cast(att_date as DATE),102)
		
	)a   
	
	UPDATE #TEMP_TABLE SET EMPLOYEE_ID=B.EMPLOYEE_ID FROM  #TEMP_TABLE A ,
	(
		SELECT CARD_NUMBER,EMPLOYEE_ID FROM Employee 
		
	)B WHERE CAST(B.CARD_NUMBER AS VARCHAR)=CAST(A.CARD_NUMBER AS VARCHAR)

	update atttendance set login_time=b.LOGIN_TIME
	FROM atttendance A,
	(	
	   SELECT * FROM #TEMP_TABLE where LOGIN_TIME is not null	   
	)B
	where A.emp_id=B.EMPLOYEE_ID AND CONVERT(VARCHAR,A.att_date,102)=CONVERT(VARCHAR,B.ATT_DATE,102) 
	
	update atttendance set logout_time=b.LOGOUT_TIME
	FROM atttendance A,
	(	
	   SELECT * FROM #TEMP_TABLE where LOGOUT_TIME is not null	   
	)B
	where A.emp_id=B.EMPLOYEE_ID AND CONVERT(VARCHAR,A.att_date,102)=CONVERT(VARCHAR,B.ATT_DATE,102) 	

	 INSERT INTO atttendance(emp_id,card_number,att_date,login_time,logout_time,remarks,created_by,created_date)
	 
	 SELECT EMPLOYEE_ID,CARD_NUMBER,att_date,LOGIN_TIME,LOGOUT_TIME,'DEVICE LOGIN','1000',GETDATE()  AS REMARKS 
	 FROM	#TEMP_TABLE WHERE EMPLOYEE_ID NOT IN 
	 (
	 SELECT emp_id
	 FROM atttendance WHERE CONVERT(VARCHAR,cast(ATT_DATE as datetime),102)=CONVERT(VARCHAR,'2012-05-2',102) 
	 )  
	  
	 drop table #TEMP_TABLE
	 drop table #temp
end
GO
