USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_appraisalPosition]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[proc_appraisalPosition]
	@flag VARCHAR(2) 
	,@positionId INT = NULL
	,@position VARCHAR(200) = NULL
	,@templateId INT = NULL
	,@sessionId VARCHAR(100) = NULL
	
AS
SET NOCOUNT ON;

/*
Exec [proc_appraisalPosition] @flag='d',@sessionId='5d5xug55mox5zdadgh3sqk55',@positionId='8',@templateId='1'
*/

IF @flag='i'
BEGIN
	IF EXISTS( SELECT position FROM appraisalPosition WHERE position =@position )
 
   BEGIN
      SELECT 'Position is already Assigned to Other Template!' MSG
      RETURN   
   END
		INSERT INTO appraisalPosition(	templateId 
										,position
										,sessionId
									) 
							SELECT @templateId
									,@position
									,@sessionId
END

IF @flag = 's'
BEGIN
		SELECT ROW_NUMBER() over (order by positionId) [SN] 
				,sdd.DETAIL_TITLE [Position]
				,'<span class="text-center tool btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" title="View" onclick = "DeleteNotification(' + CAST(positionId AS VARCHAR(10)) + ')" style="cursor:pointer;" title = "Delete"><i class="fa fa-times" aria-hidden="true"></i></span>' AS Actions
				--,'<img onclick = "DeleteNotification(' + CAST(positionId AS VARCHAR(10)) + ')" class = "showHand" border = "0" title = "Delete Notification" src="../../Images/delete.gif" />' [Delete] 		   
			FROM appraisalPosition ap
			INNER JOIN StaticDataDetail sdd ON sdd.ROWID = ap.position
		WHERE sessionId = @sessionId OR templateId = @templateId
END

IF @flag = 'd'
BEGIN
		DELETE FROM appraisalPosition WHERE positionId = @positionId
		
		SELECT 'Record Deleted Successfully' AS MSG
END

IF @flag = 'fs'
BEGIN

		UPDATE appraisalPosition 
			SET templateId = @templateId
				,sessionId = ''
		WHERE sessionId = @sessionId
		
		SELECT 'Position Saved Successfully' AS MSG
END

/*
select * from appraisalPosition
truncate table appraisalPosition
*/
GO
