USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_probationSalaryPayroll]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
  exec proc_probationSalaryPayroll @flag='i',@user='1000'
  ,@empId='1065',@newEmpType='185',@effectiveDate='12/24/2011',@salarySetMasterId='10',@gradeType='876',@promotionFlag='OP'

*/

CREATE PROC [dbo].[proc_probationSalaryPayroll]
	 @flag                               VARCHAR(50)     = NULL
	,@user                               VARCHAR(100)    = NULL
	,@proSalId                           VARCHAR(100)    = NULL
	,@empId                              VARCHAR(100)    = NULL
	,@newEmpType                         VARCHAR(100)    = NULL
	,@effectiveDate                      VARCHAR(100)    = NULL
    ,@salarySetMasterId					 VARCHAR(100)    = NULL
	,@gradeType							 VARCHAR(100)    = NULL	
	,@promotionFlag                      VARCHAR(4)      = NULL
	,@newPosition						 VARCHAR(100)    = NULL	
	
				
	

	


AS
SET NOCOUNT ON
SET XACT_ABORT ON
BEGIN TRY
	
	IF @flag = 'i'
	BEGIN
	-- BEGIN TRANSACTION
	  
	   DECLARE 
			 @MONTH INT
			,@FY_ID VARCHAR(10)
			,@CURRENT_MONTH_START_DATE DATE
			,@CURRENT_MONTH_END_DATE DATE
			,@DAY FLOAT
			,@TOTALDAYS FLOAT
			,@intPayableId INT
			,@intTotalPayableId INT
			,@TolCalAmount FLOAT
			,@baseAmont    FLOAT
			,@cnbtNo       FLOAT
			,@contributionRowId INT
			,@adhocContributionRowId INT
			,@AdhocPaymentRowId  INT
			
          --##### SET MONTH_START_DATE AND MONTH_END_DATE###############--------
			SELECT @MONTH= MONTH(nep_date) FROM tbl_calendar WHERE eng_date= CAST(@effectiveDate AS DATE)
			SELECT @Fy_ID=FISCAL_YEAR_NEPALI FROM FiscalYear WHERE FLAG='1'
			SELECT @CURRENT_MONTH_START_DATE = dbo.GetMonthStartDateEng(@Fy_ID,@month) 
			SELECT @CURRENT_MONTH_END_DATE = dbo.GetMonthEndDateEng(@Fy_ID,@month)
			SELECT @DAY= DATEDIFF (DAY , @CURRENT_MONTH_START_DATE , CAST(@effectiveDate AS DATE))+1
			SELECT @TOTALDAYS =DATEDIFF (DAY , @CURRENT_MONTH_START_DATE ,@CURRENT_MONTH_END_DATE)+1
	
	 
	
				
			INSERT INTO tempProbationSalary(
							   payableHeadId
							  ,amount
							  ,flag
							  ,empId
							  ,createdBy
							  ,effectiveDate
							  ,promotionFlag
							  ,newEmpType
							  ,newPosition
				       )
				  SELECT 
							Payable_Head_Id
							,amount 
							,flag
							,@empId
							,@user
							,@effectiveDate
							,@promotionFlag
							,@newEmpType
							,@newPosition
							
							
						FROM (
								SELECT sd.payableHead as Payable_Head_Id
								,payableValue as amount
								,'C' as flag
								FROM salarySetMaster sm
								INNER JOIN salarySetDetails sd ON sm.salarySetMasterId = sd.salarySetMasterId 
								INNER JOIN StaticDataDetail s ON s.ROWID = sd.payableHead WHERE sm.salarySetMasterId = @salarySetMasterId

								 UNION ALL 
								 
						       SELECT BENEFIT_ID,AMOUNT,'O' FROM Payable WHERE EMPLOYEE_ID = @empId
						     
							)x 
							
			 --UPDATE  tempProbationSalary SET empId = @empId
		      --select * from tempProbationSalary
		      --return
			  
		
			IF @effectiveDate <= GETDATE()
			BEGIN 
			 
		    IF @newEmpType = (SELECT ROWID FROM StaticDataDetail WHERE TYPE_ID =10 and ROWID =185)
			BEGIN
			 -----############# WITHOUT PROMOTION ##########------
			    IF @promotionFlag ='OP'
			    BEGIN
			    
			    
			   
			     --------#########INSERT INTO CONTRIBUTION TABLE ############-------------
					  IF @effectiveDate = @CURRENT_MONTH_START_DATE
					  BEGIN
				         
				         INSERT INTO Contribution(
									  EMPLOYEE_ID
									 ,CONTRIBUTED_TO
									 ,CONTRIBUTION_CODE
									 ,VALUE_EMPLOYEE
									 ,CONTRIBUTION_BASIS_EMPLOYEE
									 ,FLAG_EMPLOYEE
									 ,VALUE_EMPLOYER
									 ,CONTRIBUTION_BASIS_EMPLOYER
									 ,FLAG_EMPLOYER
									 ,CONTRIBUTION_FROM_DATE_EMPLOYEE
									 ,CONTRIBUTION_FROM_DATE_EMPLOYER
									 ,CREATED_BY
									 )
							SELECT 
							        @empId
							       ,'263'
							       ,'0001'
							       ,'10'
							       ,'36,37'	
							       ,'P'	
							       ,'10'	
							       ,'36,37'	
							       ,'P'	
							       ,@CURRENT_MONTH_START_DATE
							       ,@CURRENT_MONTH_START_DATE
							       ,@user
							       
							     SET @contributionRowId = SCOPE_IDENTITY()
							     
							
								INSERT INTO  Emp_Type_payrollHist(
											 PS_ID
											,Table_name
											,Table_ID
											,Amount 
											)
									SELECT 
									        @proSalId
									       ,'Contribution'
									       ,@contributionRowId
									       ,null
									      
							
							     
					 END 
					 
				
				 ----------############### INSERT INTO CONTRIBUTION TABLE  AND INSERT INTO ADHOC_CONTRIBUTION TABLE#############--------
				 
				 
				 IF @effectiveDate BETWEEN @CURRENT_MONTH_START_DATE AND @CURRENT_MONTH_END_DATE
					 BEGIN
					 
				       -----------########CONTRIBUTION########------------
						  INSERT INTO Contribution(
										  EMPLOYEE_ID
										 ,CONTRIBUTED_TO
										 ,CONTRIBUTION_CODE
										 ,VALUE_EMPLOYEE
										 ,CONTRIBUTION_BASIS_EMPLOYEE
										 ,FLAG_EMPLOYEE
										 ,VALUE_EMPLOYER
										 ,CONTRIBUTION_BASIS_EMPLOYER
										 ,FLAG_EMPLOYER
										 ,CONTRIBUTION_FROM_DATE_EMPLOYEE
										 ,CONTRIBUTION_FROM_DATE_EMPLOYER
										 ,CREATED_BY
										 )
								SELECT 
										@empId
									   ,'236'
									   ,'0001'
									   ,'10'
									   ,'36,37'	
									   ,'P'	
									   ,'10'	
									   ,'36,37'	
									   ,'P'	
									   ,DATEADD(D,1, @CURRENT_MONTH_END_DATE)
									   ,DATEADD(D,1, @CURRENT_MONTH_END_DATE)
									   ,@user
				     
					 END
					 
				 -----------############### ADHOC_CONTRIBUTION ##########---------
				    SELECT @baseAmont =  SUM(AMOUNT)  FROM
									    (
											SELECT AMOUNT	FROM tempProbationSalary 
											WHERE empId= @empId AND flagExecuted IS NULL AND flag='C' AND payableHeadId IN ('390')
												UNION ALL 
											SELECT AMOUNT	FROM tempProbationSalary 
											WHERE empId= @empId AND flagExecuted IS NULL AND flag='C' AND payableHeadId =@gradeType
									     )a
										
										
										
										
				    SELECT  @cnbtNo =  ((@DAY/@TOTALDAYS)* @baseAmont) * 0.1
				 
					 	
				   INSERT INTO Adhoc_Contribution(
									 EMPLOYEE_ID		
									,CONTB_CODE		
									,CONTB_TO	
									,CONTB_AMOUNT_EMPLOYEE	
									,CONTB_AMOUNT_EMPLOYER 	
									,NARRATION 
									,IS_Paid
									,CONTB_DATE
									,CREATED_BY
									,CREATED_DATE
								 )
								 
							SELECT 
									 @empId
									,'001'
									,'236' 
									,@cnbtNo
									,@cnbtNo
									,'Adjustment By System'
									,'0'
									,NULL
									,@user
									,GETDATE()	
						
						
			        --------############Payble ############----------------------------
			        
			              DELETE FROM PAYABLE WHERE EMPLOYEE_ID = @empId and BENEFIT_ID NOT IN(SELECT ROWID FROM StaticDataDetail WHERE TYPE_ID =79) 
						
							INSERT INTO Payable (
												
												 EMPLOYEE_ID
												,BENEFIT_ID
												,AMOUNT
												,CREATED_BY
												,CREATED_DATE
												
												)
									SELECT
										   empId
										  ,payableHeadId
										  ,amount
										  ,@user
										  ,GETDATE()
									       FROM 
									      tempProbationSalary 
							      WHERE flag = 'C' AND flagExecuted IS NULL	
							--UPDATE Payable SET 
							--AMOUNT = t.amount
							--FROM Payable p 
							--INNER JOIN tempProbationSalary t
							--ON p.BENEFIT_ID = t.payableHeadId
							--AND p.EMPLOYEE_ID = t.empId
							--WHERE t.flag = 'C' AND t.flagExecuted IS NULL	
							
									
					
					---------------########history for payroll###########--------------------
					
					  INSERT INTO  Emp_Type_payrollHist(
											 PS_ID
											,Table_name
											,Table_ID
											,Amount 
											)
									SELECT 
									        @proSalId
									       ,'Adhoc_Contribution'
									       ,@contributionRowId
									       ,null
									      
					
						  					
						   
			    END 
			 
			-----############# WITH PROMOTION ##########------              
			IF @promotionFlag ='WP'
			BEGIN
			 	
			IF @effectiveDate <= @CURRENT_MONTH_START_DATE
			  BEGIN
		   --------##### PAYBLE #####------
		   
		       
		       DELETE FROM PAYABLE WHERE EMPLOYEE_ID = @empId and BENEFIT_ID NOT IN(SELECT ROWID FROM StaticDataDetail WHERE TYPE_ID =79) 
						
							INSERT INTO Payable (
												
												 EMPLOYEE_ID
												,BENEFIT_ID
												,AMOUNT
												,CREATED_BY
												,CREATED_DATE
												
												)
									SELECT
										   empId
										  ,payableHeadId
										  ,amount
										  ,@user
										  ,GETDATE()
									       FROM 
									      tempProbationSalary 
							      WHERE flag = 'C' AND flagExecuted IS NULL	
		  
			      
									
			  ---------######### CONTRIBUTION #############----------
					  INSERT INTO Contribution(
									  EMPLOYEE_ID
									 ,CONTRIBUTED_TO
									 ,CONTRIBUTION_CODE
									 ,VALUE_EMPLOYEE
									 ,CONTRIBUTION_BASIS_EMPLOYEE
									 ,FLAG_EMPLOYEE
									 ,VALUE_EMPLOYER
									 ,CONTRIBUTION_BASIS_EMPLOYER
									 ,FLAG_EMPLOYER
									 ,CONTRIBUTION_FROM_DATE_EMPLOYEE
									 ,CONTRIBUTION_FROM_DATE_EMPLOYER
									 ,CREATED_BY
									 ,CREATED_DATE
									 )
							SELECT 
							        @empId
							       ,'236'
							       ,'0001'
							       ,'10'
							       ,'36,37'	
							       ,'P'	
							       ,'10'	
							       ,'36,37'	
							       ,'P'	
							       ,@CURRENT_MONTH_START_DATE
							       ,@CURRENT_MONTH_START_DATE
							       ,@user
							       ,GETDATE()
							     
							     SET @contributionRowId = SCOPE_IDENTITY()
							       
							     	INSERT INTO  Emp_Type_payrollHist(
											 PS_ID
											,Table_name
											,Table_ID
											,Amount 
											)
									SELECT 
									        @proSalId
									       ,'Contribution'
									       ,@contributionRowId
									       ,null
									      
			  
			  END
			
			IF @effectiveDate BETWEEN @CURRENT_MONTH_START_DATE AND @CURRENT_MONTH_END_DATE
			  BEGIN
			  
			  
			  DELETE FROM PAYABLE WHERE EMPLOYEE_ID = @empId and BENEFIT_ID NOT IN(SELECT ROWID FROM StaticDataDetail WHERE TYPE_ID =79) 
						
							INSERT INTO Payable (
												
												 EMPLOYEE_ID
												,BENEFIT_ID
												,AMOUNT
												,CREATED_BY
												,CREATED_DATE
												
												)
									SELECT
										   empId
										  ,payableHeadId
										  ,amount
										  ,@user
										  ,GETDATE()
									       FROM 
									      tempProbationSalary 
							      WHERE flag = 'C' AND flagExecuted IS NULL	
			  
			  
			
			   ----####### INSERT INTO ADHOC_PAYMENT #####--------------- 
				
				SELECT 
				   payableHeadId
				  ,amount
				  ,empId
				  ,flag
				  INTO #_PayableHeadValues  
				 FROM tempProbationSalary  WHERE empId= @empId AND flagExecuted IS NULL  
				
				
				ALTER TABLE #_PayableHeadValues ADD tempId INT IDENTITY(1,1)
				SELECT @intPayableId=max(tempId) from #_PayableHeadValues 
			  
			     	SET @intTotalPayableId = 1
			    
				     
				  WHILE(@intTotalPayableId <= @intPayableId)
					BEGIN
					IF (SELECT flag FROM #_PayableHeadValues WHERE  tempId = @intTotalPayableId) = 'C'
					 BEGIN
					   SELECT  @TolCalAmount =  (@DAY/@TOTALDAYS)* amount FROM #_PayableHeadValues WHERE  tempId = @intTotalPayableId AND flag = 'C'
					  
					    INSERT INTO AdhocPayment(
											  EMPLOYEE_ID
											 ,ADD_DEDUCT
											 ,HEAD_ID
											 ,AMOUNT
											 ,APPLIED_DATE
											 ,IS_PAID
											 ,NARRATION
											 ,CREATED_BY
											 ,CREATED_DATE
										 ) 
									SELECT 
									        @empId
									       ,'D'
									       ,payableHeadId
									       ,@TolCalAmount
									       ,GETDATE()
									       ,0
									       ,'PROMOTION-PROBATION EMPLOYEE'
									       ,@user
									       ,GETDATE()
									       FROM
						                 #_PayableHeadValues
						               WHERE tempId = @intTotalPayableId
						               
						             
						             set   @AdhocPaymentRowId = SCOPE_IDENTITY()
						             
						         	INSERT INTO  Emp_Type_payrollHist(
											 PS_ID
											,Table_name
											,Table_ID
											,Amount 
											)
									SELECT 
									        @proSalId
									       ,'AdhocPayment'
									       ,@AdhocPaymentRowId
									       ,null
									      
						           
					    END
					 
					 ELSE
					 BEGIN
					    SELECT  @TolCalAmount =  (@DAY/@TOTALDAYS)* amount FROM #_PayableHeadValues WHERE  tempId = @intTotalPayableId AND flag = 'O'
					    INSERT INTO AdhocPayment(
											  EMPLOYEE_ID
											 ,ADD_DEDUCT
											 ,HEAD_ID
											 ,AMOUNT
											 ,APPLIED_DATE
											 ,IS_PAID
											 ,NARRATION
											 ,CREATED_BY
											 ,CREATED_DATE
										 ) 
									SELECT 
									        empId
									       ,'A'
									       ,payableHeadId
									       ,@TolCalAmount
									       ,GETDATE()
									       ,0
									       ,'PROMOTION-PROBATION EMPLOYEE'
									       ,@user
									       ,GETDATE()
									       FROM
						                 #_PayableHeadValues
						               WHERE tempId = @intTotalPayableId
						               
						            SET   @AdhocPaymentRowId = SCOPE_IDENTITY()
						             
						         	INSERT INTO  Emp_Type_payrollHist(
											 PS_ID
											,Table_name
											,Table_ID
											,Amount 
											)
									SELECT 
									        @proSalId
									       ,'AdhocPayment'
									       ,@AdhocPaymentRowId
									       ,null
					 
					 END
					SET @intTotalPayableId=@intTotalPayableId+1
					

			END
			
			

			-----------########CONTRIBUTION########------------
						  INSERT INTO Contribution(
										  EMPLOYEE_ID
										 ,CONTRIBUTED_TO
										 ,CONTRIBUTION_CODE
										 ,VALUE_EMPLOYEE
										 ,CONTRIBUTION_BASIS_EMPLOYEE
										 ,FLAG_EMPLOYEE
										 ,VALUE_EMPLOYER
										 ,CONTRIBUTION_BASIS_EMPLOYER
										 ,FLAG_EMPLOYER
										 ,CONTRIBUTION_FROM_DATE_EMPLOYEE
										 ,CONTRIBUTION_FROM_DATE_EMPLOYER
										 )
								SELECT 
										@empId
									   ,'263'
									   ,'0001'
									   ,'10'
									   ,'36,37'	
									   ,'P'	
									   ,'10'	
									   ,'36,37'	
									   ,'P'	
									   ,DATEADD(D,1, @CURRENT_MONTH_END_DATE)
									   ,DATEADD(D,1, @CURRENT_MONTH_END_DATE)
									   
								 SET   @contributionRowId = SCOPE_IDENTITY()
						             
						         	INSERT INTO  Emp_Type_payrollHist(
											 PS_ID
											,Table_name
											,Table_ID
											,Amount 
											)
									SELECT 
									        @proSalId
									       ,'Contribution'
									       ,@contributionRowId
									       ,null
				     
					 END
					 
				 -----------############### ADHOC_CONTRIBUTION ##########---------
				    SELECT @baseAmont =  SUM(AMOUNT)  FROM
									 (
										SELECT AMOUNT	FROM tempProbationSalary 
										WHERE empId= @empId AND flagExecuted IS NULL AND flag='C' AND payableHeadId ='390'
											UNION ALL 
										SELECT AMOUNT	FROM tempProbationSalary 
										WHERE empId= @empId AND flagExecuted IS NULL AND flag='C' AND payableHeadId =@gradeType
									)a
					SELECT  @cnbtNo =  ((@DAY/@TOTALDAYS)* @baseAmont) * 0.1					
				    --SELECT  @cnbtNo =  ((@DAY/@TOTALDAYS)* @baseAmont)*(10/100)
				    
				
				    
				    
					 	
				   INSERT INTO Adhoc_Contribution(
									 EMPLOYEE_ID		
									,CONTB_CODE		
									,CONTB_TO	
									,CONTB_DATE 
									,CONTB_AMOUNT_EMPLOYEE	
									,CONTB_AMOUNT_EMPLOYER 	
									,NARRATION 
									,IS_Paid
									,CREATED_BY
									,CREATED_DATE
								 )
								 
							SELECT 
									 @empId
									,'001'
									,'263' 
									,NULL
									,@cnbtNo
									,@cnbtNo
									,'Adjustment By System'
									,'0'
									,@user
									,GETDATE()	
									
								  SET   @adhocContributionRowId = SCOPE_IDENTITY()
						             
						         	INSERT INTO  Emp_Type_payrollHist(
											 PS_ID
											,Table_name
											,Table_ID
											,Amount 
											)
									SELECT 
									        @proSalId
									       ,'Adhoc_Contribution'
									       ,@adhocContributionRowId
									       ,null
									   
		   --------######### DROP TEMP TABLE #########--------
			 DROP TABLE #_PayableHeadValues
			 
	
				
			  END
			
		  IF @effectiveDate <= GETDATE()
		  BEGIN
		  	 UPDATE tempProbationSalary  SET 
					 flagExecuted = 'y'
					,executeDate= GETDATE()
			WHERE empId = @empId AND flagExecuted IS NULL
		
		   END
		END
		
		    END
		
			 
	--COMMIT TRANSACTION
	END
END TRY
BEGIN CATCH
     IF @@TRANCOUNT > 0
     ROLLBACK TRANSACTION
     DECLARE @errorMessage VARCHAR(MAX)
     SET @errorMessage = ERROR_MESSAGE()
    SELECT @errorMessage, @proSalId
END CATCH
GO
