USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[balancesheetDrilldown3]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[balancesheetDrilldown3]
	@flag char(1),
	@glcode varchar(20)=null,
	@date varchar(20)=null,
	@company_id varchar(20)=null
AS

	set nocount on;

if @flag='a'
begin

	set @glcode= cast(cast(@glcode as float)as int)


			select acct_num,acct_name,sum(total)as Total from(
			
			select a.acct_num,a.acct_name,
				sum(case when part_tran_type='dr' then tran_amt*(-1) else tran_amt end) Total
				from tran_master e  with(nolock) ,ac_master a  with(nolock)  
				where a.acct_num=e.acc_num
				and left(gl_sub_head_code,2) =@glcode
				and tran_date <= cast( @date as datetime)
				and a.company_id like isnull(@company_id, '%')
				group by a.acct_num,a.acct_name

				union all

			select a.acct_num,a.acct_name,
				sum(case when part_tran_type='dr' then tran_amt*(-1) else tran_amt end) Total
				from tran_history e  with(nolock) ,ac_master a  with(nolock)  
				where a.acct_num=e.acc_num
				and left(gl_sub_head_code,2) =@glcode
				and tran_date <= cast( @date as datetime)
				and a.company_id like isnull(@company_id, '%')
				group by a.acct_num,a.acct_name
				
		) a group by acct_num,acct_name
		order by acct_name

	

end
if @flag='d'
begin

	set @glcode= cast(cast(@glcode as float)as int)

	select acc_num,acct_name,
	isnull(sum(case when part_tran_type='dr' then tran_amt end),0) DRTotal,
	isnull(sum(case when part_tran_type='cr' then tran_amt end),0) cRTotal
	from tran_history  t with(nolock) ,ac_master a with(nolock)   
	where acc_num=acct_num and left(gl_sub_head_code,2) =@glcode
	and t.company_id like isnull(@company_id, '%')
	group by acc_num,acct_name
	order by acct_name

end

if @flag='g'

begin
	select acct_num,acct_name,sum(total)as Total from(
		select a.acct_num,a.acct_name,
				sum(case when part_tran_type='dr' then tran_amt*(-1) else tran_amt end) Total
				from tran_master e  with(nolock) ,ac_master a  with(nolock)  
				where a.acct_num=e.acc_num
				and left(gl_sub_head_code,4) =@glcode and tran_date <= cast( @date as datetime)
				and a.company_id like isnull(@company_id, '%')
				group by a.acct_num,a.acct_name
				
				union all
			select a.acct_num,a.acct_name,
				sum(case when part_tran_type='dr' then tran_amt*(-1) else tran_amt end) Total
				from tran_history e  with(nolock) ,ac_master a  with(nolock)  
				where a.acct_num=e.acc_num
				and left(gl_sub_head_code,4) =@glcode and tran_date <= cast( @date as datetime)
				and a.company_id like isnull(@company_id, '%')
				group by a.acct_num,a.acct_name
		) a group by acct_num,acct_name
		order by acct_name
end
if @flag='t'
begin


	select acct_num,acct_name,sum(total)as Total,
	case when sum(total) < 0 then sum(total) else 0 end as DR, 
	case when sum(total) > 0 then sum(total) else 0 end as CR 
	
	from(
		select a.acct_num,a.acct_name,
				sum(case when part_tran_type='dr' then tran_amt*(-1) else tran_amt end) Total
				from tran_master e  with(nolock) ,ac_master a  with(nolock)  
				where a.acct_num=e.acc_num
				and gl_sub_head_code =@glcode and tran_date <= cast(@date as datetime)
				and a.company_id like isnull(@company_id, '%')
				group by a.acct_num,a.acct_name
		) a group by acct_num,acct_name
		order by acct_name
		
end
GO
