USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[ProcGetSupervisorEmployee]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec [ProcGetSupervisorEmployee] 'a','1024'
CREATE PROC [dbo].[ProcGetSupervisorEmployee]
(
	@FLAG VARCHAR(10),
	@SUPERVISOR_ID VARCHAR(200)=NULL,
	@SUP_TYPE VARCHAR(10)=NULL
)
AS
SET NOCOUNT ON
SET XACT_ABORT ON

DECLARE @branchid int

IF @FLAG='a'
BEGIN
	SELECT E.EMPLOYEE_ID,E.FIRST_NAME+' '+E.MIDDLE_NAME+' '+E.LAST_NAME AS EMPLOYEE_NAME 
		FROM SuperVisroAssignment SVA INNER JOIN Employee E ON E.EMPLOYEE_ID=SVA.EMP 
	WHERE SUPERVISOR=@SUPERVISOR_ID AND SUPERVISOR_TYPE IN ('s','i') 
	and record_status='y' AND E.EMP_STATUS='458'--ACTIVE EMPLOYEE
END

IF @FLAG='b'
BEGIN
	SELECT E.EMPLOYEE_ID,E.FIRST_NAME+' '+E.MIDDLE_NAME+' '+E.LAST_NAME AS EMPLOYEE_NAME 
		FROM SuperVisroAssignment SVA INNER JOIN Employee E ON E.EMPLOYEE_ID=SVA.EMP 
	WHERE SUPERVISOR=@SUPERVISOR_ID AND SUPERVISOR_TYPE =@SUP_TYPE
	and record_status='y' AND E.EMP_STATUS='458'--ACTIVE EMPLOYEE
END

IF @FLAG='br'
BEGIN

	Select EMPLOYEE_ID,FIRST_NAME+isnull(' '+MIDDLE_NAME+' ',' ')+LAST_NAME AS EMPLOYEE_NAME from Employee 
	where 
	BRANCH_ID=(SELECT BRANCH_ID 
				FROM EMPLOYEE
				WHERE EMPLOYEE_ID=@SUPERVISOR_ID
			  )
	AND EMP_STATUS='458' 

END
GO
