USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procImportAttendance_v2]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*

Exec [procImportAttendance_v2] @flag='a',@att_date='06/23/2014',@att_Todate='06/23/2014'

*/
CREATE PROC [dbo].[procImportAttendance_v2]
	@flag varchar(1),
	@att_date varchar(20)=null,
	@att_Todate varchar(50)=null
AS

set nocount on;
if @flag='a'
begin 	

	if @att_date is null
		set @att_date=cast(cast(GETDATE() as date) as varchar)+' 00:00:00'
	
	if @att_Todate is null
		set @att_Todate=cast(cast(GETDATE() as date) as varchar)+' 23:59:59'

	SET @att_date = CONVERT(VARCHAR, CAST(@att_date AS DATETIME), 102)
	SET @att_Todate = CONVERT(VARCHAR, CAST(@att_Todate AS DATETIME), 102)
		
	IF OBJECT_ID('tempdb..#temp') IS NOT NULL
	drop table #temp

	IF OBJECT_ID('tempdb..#TEMP_TABLE') IS NOT NULL
	drop table #TEMP_TABLE
	
	select card_number,
	CAST(ATN_YEAR AS VARCHAR)+'-'+CAST(ATN_MONTH AS VARCHAR)+'-'+CAST(ATN_DAY AS VARCHAR)+' '+CAST(ATN_HOUR AS VARCHAR)+':'+CAST(ATN_MINUTE AS VARCHAR) as att_date,DEVICE_ADDRESS
	into #temp from attendence_data
	WHERE convert(varchar,ATTENDANCE_DATE,110) between CONVERT(VARCHAR,cast(@att_date as datetime),110) 
	and CONVERT(VARCHAR,cast(@att_Todate as datetime),110)

	CREATE TABLE #TEMP_TABLE
	(
		EMPLOYEE_ID varchar(20) NULL,
		CARD_NUMBER VARCHAR(500) NULL,
		ATT_DATE DATETIME NULL,
		LOGIN_TIME DATETIME NULL,
		LOGOUT_TIME DATETIME NULL,
		IP_IN VARCHAR(100) NULL,
		IP_Out VARCHAR(100) NULL		
	) 	

	INSERT INTO #TEMP_TABLE(CARD_NUMBER,ATT_DATE,LOGIN_TIME,LOGOUT_TIME)
	SELECT a.card_number
		,a.att_date
		,a.login_date
		,CASE WHEN a.login_date=a.logout_date 
	THEN null ELSE logout_date END logout_date
	FROM 
	(
		SELECT card_number , 
		convert(varchar,cast(att_date as DATE),102) att_date,
		min(cast(att_date as datetime)) as login_date, 
		max(cast(att_date as datetime)) logout_date
		from #temp 
		group by card_number, convert(varchar,cast(att_date as DATE),102)
	)a  
	
	UPDATE #TEMP_TABLE SET IP_IN=T.DEVICE_ADDRESS
	FROM #TEMP_TABLE TT
	INNER JOIN #temp T ON CAST(TT.CARD_NUMBER AS VARCHAR) COLLATE DATABASE_DEFAULT=CAST(T.CARD_NUMBER AS VARCHAR) COLLATE DATABASE_DEFAULT 
	AND TT.LOGIN_TIME=cast(T.att_date as datetime)

	UPDATE #TEMP_TABLE SET 
		IP_Out=T.DEVICE_ADDRESS
	FROM #TEMP_TABLE TT
	INNER JOIN #temp T ON TT.CARD_NUMBER COLLATE DATABASE_DEFAULT=T.CARD_NUMBER COLLATE DATABASE_DEFAULT
	AND TT.LOGOUT_TIME=cast(T.att_date as datetime)


	UPDATE #TEMP_TABLE SET EMPLOYEE_ID=B.EMPLOYEE_ID FROM  #TEMP_TABLE A ,
	(
		SELECT CARD_NUMBER,EMPLOYEE_ID FROM Employee 
		
	)B WHERE CAST(B.CARD_NUMBER AS VARCHAR)=CAST(A.CARD_NUMBER AS VARCHAR)
	
	--SELECT * FROM #TEMP_TABLE WHERE CARD_NUMBER ='01018' 
	--RETURN;
	-- ## update login time 
	update atttendance set login_time=b.LOGIN_TIME,
		login_ip=IP_IN
	FROM atttendance A,
	(	
	   SELECT * FROM #TEMP_TABLE where LOGIN_TIME is not null	   
	)B
	where A.emp_id=B.EMPLOYEE_ID 
	AND CONVERT(VARCHAR,A.att_date,102)=CONVERT(VARCHAR,B.ATT_DATE,102) 
	--AND A.login_time is null

	-- ## update login time
	update atttendance set 
		login_time = b.LOGIN_TIME,
		login_ip = IP_IN
	FROM atttendance A,
	(	
	   SELECT * FROM #TEMP_TABLE where LOGIN_TIME is not null	   
	)B
	where A.emp_id=B.EMPLOYEE_ID 
	AND CONVERT(VARCHAR,A.att_date,102)=CONVERT(VARCHAR,B.ATT_DATE,102) 
	and A.login_time < B.LOGIN_TIME

	-- ## update logout time
	update atttendance set logout_time=b.LOGOUT_TIME,
		logout_ip=IP_Out
	FROM atttendance A,
	(	
	   SELECT * FROM #TEMP_TABLE where LOGOUT_TIME is not null	   
	)B
	where A.emp_id=B.EMPLOYEE_ID AND CONVERT(VARCHAR,A.att_date,102)=CONVERT(VARCHAR,B.ATT_DATE,102) 	
	--AND A.logout_time is null

	-- ## update logout time
	update atttendance set 
		logout_time = b.LOGOUT_TIME,
		logout_ip = IP_Out
	FROM atttendance A,
	(	
	   SELECT * FROM #TEMP_TABLE where LOGOUT_TIME is not null	   
	)B
	WHERE A.emp_id=B.EMPLOYEE_ID AND CONVERT(VARCHAR,A.att_date,102)=CONVERT(VARCHAR,B.ATT_DATE,102) 	
	AND A.logout_time < B.LOGOUT_TIME  


	DELETE #TEMP_TABLE 
	WHERE EMPLOYEE_ID  IN 
	(
		SELECT isnull(emp_id,0)
		FROM atttendance WHERE CONVERT(VARCHAR,cast(ATT_DATE as datetime),102) = CONVERT(VARCHAR,cast(@att_date as datetime),102) 
	)	

	INSERT INTO atttendance(emp_id,card_number,att_date,login_time,logout_time,remarks,created_by,created_date,login_ip,logout_ip)
	SELECT EMPLOYEE_ID,CARD_NUMBER,att_date,LOGIN_TIME,LOGOUT_TIME,'DEVICE LOGIN','1000',GETDATE(),IP_IN,IP_Out
	FROM #TEMP_TABLE   

	drop table #TEMP_TABLE
	drop table #temp
	
end
GO
