USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[ProcManageTNA]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
EXEC [ProcManageTNA]  @FLAG='i', @ID=null, @EMPLOYEE_ID='1000', @POSITION_ID='169', @BRANCH_ID='1', @DEPT_ID='1', @IMM_SUP_ID='1021', @IMM_SUP_POSITION_ID='165', 
@IMM_SUB_ID='1021', @IMM_SUB_POSITION_ID='165', @ANS_ONE=null, @ANS_TWO_A='45', @ANS_TWO_B ='345', @ANS_TWO_C='345', @ANS_THREE_MASTER='True', 
@ANS_THREE_BACHELOR='True', @ANS_THREE_SPECIAL='False', @ANS_THREE_SPECIAL_DEGREE=null, @ANS_THREE_PROF='False', @ANS_THREE_PROF_DEGREE=null, 
@ANS_THREE_OTHER='False', @ANS_THREE_OTHER_DEGREE=null, @ANS_FIVE='SDVSDFVSDFVDSFV', @ANS_SIX_STRESSFULL='False', @ANS_SIX_BORING='False', 
@ANS_SIX_EASY='False', @ANS_SIX_DIFFICULT='False', @ANS_SIX_INTERESTING='False', @ANS_SIX_OTHER='False', @ANS_SIX_OTHER_DETAIL=null, 
@ANS_SIX_WHY='DFVDSFV', @ANS_SEVEN='SDFVSDFVSDFV', @ANS_EIGHT='SDFVSDFV', @ANS_TEN='SDFVDSFVDSFV', @ANS_ELEVEN_TRAINING='True', 
@ANS_ELEVEN_OTHER='False', @ANS_ELEVEN_OTHER_DETAIL=null, @USER ='1000'

Exec [ProcManageTNA] @FLAG='s',@ID=1
*/
create PROCEDURE [dbo].[ProcManageTNA]
	@FLAG VARCHAR(1),
    @ID INT =NULL,
    @EMPLOYEE_ID INT=NULL,
    @POSITION_ID INT=NULL,
    @BRANCH_ID INT=NULL,
    @DEPT_ID INT =NULL,
    @IMM_SUP_ID INT=NULL,
    @IMM_SUP_POSITION_ID INT=NULL,
    @IMM_SUB_ID INT=NULL,
    @IMM_SUB_POSITION_ID INT=NULL,
    @ANS_ONE VARCHAR(MAX)=NULL,
    @ANS_TWO_A VARCHAR(20)=NULL,
    @ANS_TWO_B VARCHAR(20)=NULL,
    @ANS_TWO_C VARCHAR(20)=NULL,
    @ANS_THREE_MASTER  BIT=NULL,
    @ANS_THREE_BACHELOR BIT=NULL,
    @ANS_THREE_SPECIAL BIT=NULL,
    @ANS_THREE_SPECIAL_DEGREE VARCHAR(MAX)=NULL,
    @ANS_THREE_PROF BIT=NULL,
    @ANS_THREE_PROF_DEGREE VARCHAR(MAX)=NULL,
    @ANS_THREE_OTHER BIT=NULL,
    @ANS_THREE_OTHER_DEGREE VARCHAR(MAX)=NULL,
    @ANS_FIVE VARCHAR(MAX)=NULL,
    @ANS_SIX_STRESSFULL BIT=NULL,
    @ANS_SIX_BORING BIT=NULL,
    @ANS_SIX_EASY BIT=NULL,
    @ANS_SIX_DIFFICULT BIT=NULL,
    @ANS_SIX_INTERESTING BIT=NULL,
    @ANS_SIX_OTHER BIT=NULL,
    @ANS_SIX_OTHER_DETAIL VARCHAR(200)=NULL,
    @ANS_SIX_WHY VARCHAR(MAX)=NULL,
    @ANS_SEVEN VARCHAR(MAX)=NULL,
    @ANS_EIGHT VARCHAR(MAX)=NULL,
    @ANS_TEN VARCHAR(MAX)=NULL,
    @ANS_ELEVEN_TRAINING BIT=NULL,
    @ANS_ELEVEN_OTHER BIT=NULL,
    @ANS_ELEVEN_OTHER_DETAIL VARCHAR(MAX)=NULL,
    @SESSION_ID VARCHAR(50)=NULL,
    @USER VARCHAR(50)=NULL
      
 
AS
SET NOCOUNT ON
DECLARE @TNA_ID AS INT
IF @flag = 'i'
BEGIN
	
	INSERT INTO TRAINING_NEED_ASSESSMENT(EMPLOYEE_ID,POSITION_ID,BRANCH_ID,DEPT_ID,IMM_SUP_ID,IMM_SUP_POSITION_ID,IMM_SUB_ID,IMM_SUB_POSITION_ID,
	ANS_ONE,ANS_TWO_A,ANS_TWO_B,ANS_TWO_C,ANS_THREE_MASTER,ANS_THREE_BACHELOR,ANS_THREE_SPECIAL,ANS_THREE_SPECIAL_DEGREE,ANS_THREE_PROF,ANS_THREE_PROF_DEGREE,
	ANS_THREE_OTHER,ANS_THREE_OTHER_DEGREE,ANS_FIVE,ANS_SIX_STRESSFULL,ANS_SIX_BORING,ANS_SIX_EASY,ANS_SIX_DIFFICULT,ANS_SIX_INTERESTING,ANS_SIX_OTHER,
	ANS_SIX_OTHER_DETAIL,ANS_SIX_WHY,ANS_SEVEN,ANS_EIGHT,ANS_TEN,ANS_ELEVEN_TRAINING,ANS_ELEVEN_OTHER,ANS_ELEVEN_OTHER_DETAIL,CREATED_BY,CREATED_DATE)
	VALUES
	(@EMPLOYEE_ID,@POSITION_ID,@BRANCH_ID,@DEPT_ID,@IMM_SUP_ID,@IMM_SUP_POSITION_ID,@IMM_SUB_ID,@IMM_SUB_POSITION_ID
	,@ANS_ONE,@ANS_TWO_A,@ANS_TWO_B,@ANS_TWO_C,@ANS_THREE_MASTER,@ANS_THREE_BACHELOR,@ANS_THREE_SPECIAL,@ANS_THREE_SPECIAL_DEGREE,@ANS_THREE_PROF,
	@ANS_THREE_PROF_DEGREE,@ANS_THREE_OTHER,@ANS_THREE_OTHER_DEGREE,@ANS_FIVE,@ANS_SIX_STRESSFULL,@ANS_SIX_BORING,@ANS_SIX_EASY,@ANS_SIX_DIFFICULT,
	@ANS_SIX_INTERESTING,@ANS_SIX_OTHER,@ANS_SIX_OTHER_DETAIL,@ANS_SIX_WHY,@ANS_SEVEN,@ANS_EIGHT,@ANS_TEN,@ANS_ELEVEN_TRAINING,@ANS_ELEVEN_OTHER,
	@ANS_ELEVEN_OTHER_DETAIL,@USER,GETDATE())	
	
	SET @TNA_ID=@@IDENTITY
	
	INSERT INTO TNA_RESPONSIBILITY(TRAIN_NEED_ASS_ID,GENERAL_RESPONSIBILLY,DAILY,WEEKLY,MONTHLY,YEARLY,FLAG)
	SELECT @TNA_ID,DATA1,DATA2,DATA3,DATA4,DATA5,'MAJOR' FROM TNA_TEMP_TABLE WHERE SESSION_ID=@SESSION_ID AND FLAG='res'
	
	INSERT INTO TNA_RESPONSIBILITY(TRAIN_NEED_ASS_ID,GENERAL_RESPONSIBILLY,DAILY,WEEKLY,MONTHLY,YEARLY,FLAG)
	SELECT @TNA_ID,DATA1,DATA2,DATA3,DATA4,DATA5,'UNIQUE' FROM TNA_TEMP_TABLE WHERE SESSION_ID=@SESSION_ID AND FLAG='res1'
	
	INSERT INTO TNA_TRAINING_ATTENDED(TRAIN_NEED_ASS_ID,TRAINING_NAME,LOCATION,DURATION)
	SELECT @TNA_ID,DATA1,DATA2,DATA3 FROM TNA_TEMP_TABLE WHERE SESSION_ID=@SESSION_ID AND FLAG='train'
	
	INSERT INTO TNA_TRAINING_REQUIREMENT(TRAIN_NEED_ASS_ID,TRAINING_REQ_NAME,FLAG)
	SELECT @TNA_ID,DATA1,'TRAINING_REQ' FROM TNA_TEMP_TABLE WHERE SESSION_ID=@SESSION_ID AND FLAG='train_req'
	
	INSERT INTO TNA_TRAINING_REQUIREMENT(TRAIN_NEED_ASS_ID,TRAINING_REQ_NAME,FLAG)
	SELECT @TNA_ID,DATA1,'TRAINING_REQ_SOFT' FROM TNA_TEMP_TABLE WHERE SESSION_ID=@SESSION_ID AND FLAG='soft_train_req'
	
	--SELECT * FROM TNA_RESPONSIBILITY
	--SELECT * FROM TNA_TRAINING_ATTENDED
	--SELECT * FROM TNA_TRAINING_REQUIREMENT
	--SELECT * FROM TNA_TEMP_TABLE
	DELETE FROM TNA_TEMP_TABLE  WHERE SESSION_ID=@SESSION_ID AND FLAG IN ('soft_train_req','train_req','train','res1','res')
	
	SELECT 'Save Successfully!' AS msg

END
IF @FLAG='u'
BEGIN

	UPDATE TRAINING_NEED_ASSESSMENT SET 	
						 EMPLOYEE_ID=@EMPLOYEE_ID
						,POSITION_ID=@POSITION_ID
						,BRANCH_ID=@BRANCH_ID
						,DEPT_ID=@DEPT_ID
						,IMM_SUP_ID=@IMM_SUP_ID
						,IMM_SUP_POSITION_ID=@IMM_SUP_POSITION_ID
						,IMM_SUB_ID=@IMM_SUB_ID
						,IMM_SUB_POSITION_ID=@IMM_SUB_POSITION_ID
						,ANS_ONE=@ANS_ONE
						,ANS_TWO_A=@ANS_TWO_A
						,ANS_TWO_B=@ANS_TWO_B
						,ANS_TWO_C=@ANS_TWO_C
						,ANS_THREE_MASTER=@ANS_THREE_MASTER
						,ANS_THREE_BACHELOR=@ANS_THREE_BACHELOR
						,ANS_THREE_SPECIAL=@ANS_THREE_SPECIAL_DEGREE
						,ANS_THREE_PROF=@ANS_THREE_PROF
						,ANS_THREE_PROF_DEGREE=@ANS_THREE_PROF_DEGREE
						,ANS_THREE_OTHER=@ANS_THREE_OTHER
						,ANS_THREE_OTHER_DEGREE=@ANS_THREE_OTHER_DEGREE
						,ANS_FIVE=@ANS_FIVE
						,ANS_SIX_STRESSFULL=@ANS_SIX_STRESSFULL
						,ANS_SIX_BORING=@ANS_SIX_BORING
						,ANS_SIX_EASY=@ANS_SIX_EASY
						,ANS_SIX_DIFFICULT=@ANS_SIX_DIFFICULT
						,ANS_SIX_INTERESTING=@ANS_SIX_INTERESTING
						,ANS_SIX_OTHER=@ANS_SIX_OTHER
						,ANS_SIX_OTHER_DETAIL=@ANS_SIX_OTHER_DETAIL
						,ANS_SIX_WHY=@ANS_SIX_WHY
						,ANS_SEVEN=@ANS_SEVEN
						,ANS_EIGHT=@ANS_EIGHT
						,ANS_TEN=@ANS_TEN
						,ANS_ELEVEN_TRAINING=@ANS_ELEVEN_TRAINING
						,ANS_ELEVEN_OTHER=@ANS_ELEVEN_OTHER
						,ANS_ELEVEN_OTHER_DETAIL=@ANS_ELEVEN_OTHER_DETAIL
						,MODIFIED_BY=@USER
						,MODIFIED_DATE=GETDATE()
		WHERE ID=@ID
		SELECT 'Update Successfully!' AS msg					
	
END

IF @FLAG='s'
BEGIN

		SELECT e.FIRST_NAME +' '+e.MIDDLE_NAME+' '+e.LAST_NAME+' | '+ cast(e.EMPLOYEE_ID as varchar)empName,ta.EMPLOYEE_ID,ta.BRANCH_ID,ta.POSITION_ID,ta.BRANCH_ID,DEPT_ID,IMM_SUP_ID,IMM_SUP_POSITION_ID,IMM_SUB_ID,IMM_SUB_POSITION_ID,ANS_ONE,
		ANS_TWO_A,ANS_TWO_B,ANS_TWO_C,ANS_THREE_MASTER,ANS_THREE_BACHELOR,ANS_THREE_SPECIAL,ANS_THREE_SPECIAL_DEGREE,ANS_THREE_PROF,
		ANS_THREE_PROF_DEGREE,ANS_THREE_OTHER,ANS_THREE_OTHER_DEGREE,ANS_FIVE,ANS_SIX_STRESSFULL,ANS_SIX_BORING,ANS_SIX_EASY,ANS_SIX_DIFFICULT,ANS_SIX_INTERESTING,
		ANS_SIX_OTHER,ANS_SIX_OTHER_DETAIL,ANS_SIX_WHY,ANS_SEVEN,ANS_EIGHT,ANS_TEN,ANS_ELEVEN_TRAINING,ANS_ELEVEN_OTHER,ANS_ELEVEN_OTHER_DETAIL
		FROM TRAINING_NEED_ASSESSMENT ta inner join Employee e on ta.EMPLOYEE_ID = e.EMPLOYEE_ID WHERE ID=@ID


END
GO
