USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procManageAttendanceGroup]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[procManageAttendanceGroup]
	@flag varchar(1),
	@id int=null,
	@name varchar(500)=null,
	@desc varchar(max)=null,
	@status varchar(50)=null,
	@user varchar(50)=null
as
set nocount on;


if @flag='i'
begin 
	insert into attendance_group(name,description,status,created_by,created_date)values
	(@name,@desc,@status,@user,GETDATE()) 
	select 'Success' as msg
end

if @flag='u'
begin 
	update attendance_group set name=@name,description=@desc,status=@status,modified_by=@user,modified_date=GETDATE()
	where id=@id 
	select 'Success' as msg
end

if @flag='d'
begin 
	delete from attendance_group 
	where id=@id 
	select 'Success' as msg
end

if @flag='s'
begin 
	select name,description,status from attendance_group 
	where id=@id 
end
GO
