USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_recordTada]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
select POSITION_ID from employee where EMPLOYEE_ID=1003
select * from tadaMatrix where headId=1445 
select categoryId from tadaPositionCategory where positionId=794 and category_for=1505

select * from staticdatadetail where rowid=1441
select ZoneId from tadaClassificationOfAreas where countriesId=136
select * from staticdatatype where type_desc like '%category%'
select dbo.GetDetailTitle(headId) headId,currencyId currency,dbo.ShowDecimalExceptComma(amount) perDayEnt from tadaMatrix where categoryId=1435 and zoneId=1441	and headId=1445
exec proc_recordTada @flag='Sr',@session_id='xqcy2l2r4gmwuvz3fljoeiwn'
*/
create procedure [dbo].[proc_recordTada]
	@FLAG VARCHAR(10),
	@ID INT=null,
	@empId int =null,
	@tadaId	int=null,
	@headId	int=null,
	@currencyId int=null,
	@perDayEntitle money =null,
	@totalEntitle money=null,
	@billsToBeClosed varchar(20)=null,
	@claimAmount Money =null,
	@fileExt varchar(20)=null,
	@user	varchar(50)=null,
	@isdelete varchar(50)=null,
	@remarks varchar(max)=null,
	@fromDate date=null,
	@toDate date=null,
	@countryId int=null,
	@otherExpenses varchar(500)=null,
	@destination_city		VARCHAR(25)=null
	,@destination_country	VARCHAR(25)=null
	,@reason_for_travel		int=null
	,@duration_FROM			date =null
	,@duration_to			date =null
	,@extensiON				VARCHAR(25)=null 
	,@durex_FROM			date=null 
	,@durex_to				date=null
	,@durex_city			VARCHAR(25)=null
	,@durex_country			VARCHAR(25)=null
	,@dur_leave				VARCHAR(25) =null
	,@mode_of_travel		int =null
	,@trasportation			int=null
	,@acomodatiON			int=null
	,@fooding				int=null
	,@cashadvance			VARCHAR(25)=null
	,@currency				int=null 
	,@amount				money=null 
	,@authorised_by			int				=null
	,@rowid					varchar(10)		= null
	,@session_id			varchar(100)	= null
	,@travelDesc			varchar(max)	= null
	,@flightDate			date			= NULL
	,@FromPlace				varchar(500)	= NULL
	,@ToPlace				varchar(500)	= NULL
	,@flightTime			varchar(500)	= NULL
	,@returnFlightDate		date			= NULL
	,@returnFromPlace		varchar(500)	= NULL
	,@returnToPlace			varchar(500)	= NULL
	,@returnFlightTime		varchar(500)	= NULL
	,@ccList				varchar(max)	= null
	,@extFromDate			date			= NULL
	,@extToDate				date			= NULL
	,@extRemarks			varchar(max)	= NULL
	,@isManual				varchar(1)		= NULL
	,@IsExtention			varchar(1)      = NULL
	,@IsReimbursement		varchar(1)      = NULL
	AS
SET NOCOUNT ON;
DECLARE @postId as int,@categoryId as int,@zoneId as int,@days as int

/*
EXEC Proc_recordTada @flag='i',@id=null,@empId='1000',@destination_city='fgh',@destination_country='136',
@reason_for_travel='1443',@duration_from='6/23/2013',@duration_to='6/27/2013',@extension='No',@durex_from=null,@durex_to=null,
@durex_city=null,@durex_country=null,@dur_leave=null,@mode_of_travel='1416',@trasportation='1421',@acomodation='1422',
@fooding='1425',@cashadvance='No',@travelDesc='sgh',@session_id='dsbbehlbxjlbp53ifd3rursc',@flightDate=null,@FromPlace=null,
@ToPlace=null,@flightTime=null,@returnFlightDate=null,@returnFromPlace=null,@returnToPlace=null,@returnFlightTime=null,@ccList='',
@extFromDate='6/28/2013',@extToDate='6/30/2013',@extRemarks='sdfgsdfg',@IsExtention='Y',@IsReimbursement='Y'

*/

IF @FLAG='I'--Final Insert
	BEGIN
		INSERT  INTO TADA
		(
			 emp_id
			,branch_id
			,department_id
			,position_id
			,destination_city
			,destination_country
			,reason_for_travel
			,duration_from
			,duration_to
			,extension
			,durex_from
			,durex_to
			,durex_city
			,durex_country
			,dur_leave
			,mode_of_travel
			,transportation
			,accomodation
			,fooding
			,cashadvance
			,travelDescription
			,tada_status
			,flightDate
			,fromPlace
			,toPlace
			,flightTime
			,returnFlightDate
			,ReturnFromPlace
			,returnToPlace
			,returnFlightTime
			,cclist
			,Ismanual
			,ExtFromDate
			,ExtToDate
			,ExtRemarks
			,IsExtention
			,IsReimbursement
		)				
		SELECT 
			@empid 
			,branch_id 
			,department_id 
			,position_id  
			,@destination_city 
			,@destination_country 
			,@reason_for_travel 
			,@duration_FROM  
			,@duration_to  
			,@extensiON  
			,@durex_FROM 
			,@durex_to 
			,@durex_city 
			,@durex_country 
			,@dur_leave  
			,@mode_of_travel 
			,@trasportatiON 
			,@acomodatiON 
			,@fooding 
			,@cashadvance
			,@travelDesc
			,'Approved'
			,@flightDate
			,@FromPlace
			,@ToPlace
			,@flightTime
			,@returnFlightDate
			,@returnFromPlace
			,@returnToPlace
			,@returnFlightTime
			,@ccList
			,'N'
			,@extFromDate	
			,@extToDate		
			,@extRemarks
			,@IsExtention
			,@IsReimbursement	
			FROM Employee WHERE EMPLOYEE_ID = @empid				
		-- select 'Success' as msg;
		SET @rowid = @@IDENTITY  

		Update TADA_Authorization
		Set tada_id=@rowid,Session_id=NULL 
		WHERE Session_id = @session_id and tada_id is null
		
		Update tadaReimbersement SET  tadaId = @rowid   
									,sessionId = NULL  
		WHERE sessionId = @session_id AND tadaId IS NULL
		
		UPDATE tada_currency
		SET  tada_id = @rowid
			,@session_id = NULL
		WHERE Session_id = @session_id and tada_id is null
		
		SELECT 'Success' AS msg
	END
IF @FLAG='D'--
	BEGIN 
		 DELETE FROM TADA WHERE id = @id
		 SELECT 'Success' AS MSG
	END	
if @FLAG='Z'
	begin
			SELECT top 1
				employee.employee_id,
				Employee.FIRST_NAME+Employee.MIDDLE_NAME+Employee.LAST_NAME as empname,
				TADA.destination_city,
				TADA.destination_country,
				TADA.reason_for_travel,
				CONVERT(VARCHAR,TADA.duration_from,107)  [duration_from],
				CONVERT(VARCHAR,TADA.duration_to,107)  [duration_to],
				TADA.extension,
				CONVERT(VARCHAR,TADA.durex_from,107)  [durex_from],
				CONVERT(VARCHAR,TADA.durex_to,107)  [durex_to],
				TADA.durex_city,
				TADA.durex_country,
				TADA.dur_leave,
			    TADA.mode_of_travel,
				TADA.accomodation,
			    TADA.fooding,
				TADA.transportation,
				TADA.cashadvance,
				TADA.tada_status,
				Branches.BRANCH_NAME,
				Branches.BRANCH_ID,
				Departments.DEPARTMENT_ID,
				StaticDataDetail.ROWID,
				StaticDataDetail.detail_title,
				Departments.DEPARTMENT_NAME,
				TADA.travelDescription [Travel Description],
				tada.tada_status,
				flightDate,
				fromPlace,
				toPlace,
				flightTime,
				returnFlightDate,
				ReturnFromPlace,
				returnToPlace,
				returnFlightTime,
				IsExtention,
				CONVERT(VARCHAR,TADA.ExtFromDate,107) [ExtFromDate],
				CONVERT(VARCHAR,TADA.ExtToDate,107) [ExtToDate],
				TADA.ExtRemarks,
				TADA.IsReimbursement
			FROM TADA LEFT JOIN Employee ON TADA.emp_id=Employee.EMPLOYEE_ID 
			LEFT JOIN Departments ON TADA.department_id=Departments.DEPARTMENT_ID 
			LEFT JOIN Branches ON Branches.BRANCH_ID=TADA.branch_id
			LEFT JOIN StaticDataDetail ON StaticDataDetail.ROWID=Employee.POSITION_ID
			WHERE TADA.id = @id
	end	
IF @FLAG = 'Ia'--Inserting Authorised person
	BEGIN
	DECLARE @Counter int = NULL,
	@Counter1 int = NULL,
	@counter2 int = NULL
	
			SELECT @Counter = COUNT(id) FROM TADA_Authorization WHERE forward = 'Y' AND tada_id = @tadaId
			SELECT @Counter1 = COUNT(id) FROM TADA_Authorization WHERE forward = 'Y' AND Created_By = @user  and tada_id = @tadaId 
			SELECT @counter2 = COUNT(id) FROM TADA_Authorization WHERE Created_By = @user AND Authorised_By = @authorised_by AND tada_id = @tadaId
		
		--print @Counter
		--print @Counter1
		--print @counter2
		
		IF @Counter1=0 AND @counter2=0 AND @Counter <= 3
			BEGIN
				INSERT INTO TADA_Authorization(
											tada_id --Added
											, authorised_by
											,Session_id
											,created_by
											,created_date
										)
				SELECT  @tadaId
						,@authorised_by
						,@session_id
						,@user
						,GETDATE()
						
				SELECT
				   Id  
				  ,dbo.GetEmployeeFullNameOfId(Authorised_By) [Authorised By]  
			   FROM TADA_Authorization WHERE session_id=@session_id AND tada_id IS NULL 
			END
			ELSE
			BEGIN
				SELECT '1' [return_id], 'Sorry!!'[return_message]
			END
	END
IF @FLAG='Rr' --display matrix data for tadaRecord
BEGIN

	select @postId=POSITION_ID from Employee where EMPLOYEE_ID=@empId
	select @categoryId=categoryId from tadaPositionCategory  where positionId=@postId and category_for=1505
	select @zoneId=zoneId from tadaClassificationOfAreas  where countriesId=@countryId
	select dbo.GetDetailTitle(headId) headId
		,currencyId currency
		,dbo.ShowDecimalExceptComma(amount) perDayEnt
		from tadaMatrix where categoryId=@categoryId and zoneId=@zoneId	and headId=@headId	
END	
IF @FLAG='Ir' --insert expensnes head
BEGIN
	if exists(select * from tadaReimbersement where headId = @headId and fromDate=@fromDate and toDate=@toDate and tadaId = @tadaId)
	BEGIN
		select 'Already Added!' as msg
		return;
	end
	else
	begin
		insert into tadaReimbersement(
			 tadaId
			,headId
			,currency
			,perDayEntitle
			,totalEntitle
			,billsToBeClosed
			,claimAmount
			,fileExt
			,createdBy
			,createdDate
			,sessionId
			,isdelete
			,status_tr
			,flag
			,remarks
			,fromDate
			,toDate)
		values
		(@tadaId
		,@headId
		,@currencyId
		,@perDayEntitle
		,@totalEntitle
		,@billsToBeClosed
		,@claimAmount
		,@fileExt
		,@user
		,GETDATE()
		,@session_id
		,'N'
		,'Approved'
		,'r'
		,@remarks
		,@fromDate
		,@toDate)
	end
END	
IF @FLAG='Sr' --select expensnes head
BEGIN
	--select * from tadaReimbersement
	--truncate table tadaReimbersement
	
	IF EXISTS(SELECT sessionId FROM tadaReimbersement WHERE sessionId=@session_id and  tadaId is null )
	BEGIN
		SELECT 
				 id
				,tadaId [TADA ID]
				,dbo.GetDetailTitle(headId) [Head]
				,convert(varchar(12),fromDate,107) [From Date]
				,convert(varchar(12),toDate,107) [To Date]
				,dbo.GetDetailTitle(currency) [Currency]
				,dbo.ShowDecimal(perDayEntitle) [Per Day Entitlement]
				,dbo.ShowDecimal(totalEntitle) [Total Entitlement]
				,dbo.ShowDecimal(claimAmount) [Claim Amount]
				,billsToBeClosed [Is Bill Enclosed]
				,status_tr [Status]
		FROM tadaReimbersement 
		WHERE sessionId=@session_id AND isdelete = 'N' AND flag='r' and tadaId is null
	
	/* -- when bills are allowed to upload
		SELECT 
		id,tadaId [TADA ID],dbo.GetDetailTitle(headId) [Head],dbo.GetDetailTitle(currency) [Currency],
		dbo.ShowDecimal(perDayEntitle) [Per Day Entitlement],dbo.ShowDecimal(totalEntitle) [Total Entitlement],
		dbo.ShowDecimal(claimAmount) [Claim Amount],
		billsToBeClosed [Is Bill Enclosed],
		fileExt,
		CASE WHEN billsToBeClosed='Yes' THEN CAST(id AS VARCHAR)+'.'+fileExt ELSE '' END AS [Bills],
		status_tr [Status]
		FROM tadaReimbersement 
		WHERE tadaId=@tadaId AND isdelete = 'N' AND flag='r'
	*/
	END
	ELSE
	BEGIN
		SELECT   id
				,fileExt
				,status_tr
				,tadaId [TADA ID]
				,dbo.GetDetailTitle(headId) [Head]
				,convert(varchar(12),fromDate,107) [From Date]
				,convert(varchar(12),toDate,107) [To Date]
				,dbo.GetDetailTitle(currency) [Currency]
				,dbo.ShowDecimal(perDayEntitle) [Per Day Entitlement]
				,dbo.ShowDecimal(totalEntitle) [Total Entitlement]
				,dbo.ShowDecimal(claimAmount) [Claim Amount]
				,CASE WHEN billsToBeClosed='Yes' THEN CAST(id AS VARCHAR)+'.'+fileExt ELSE '' END AS [Bills]
				,billsToBeClosed [Is Bill Enclosed]	
		FROM tadaReimbersement 
		WHERE  sessionId=@session_id AND isdelete = 'N' AND flag='r' and tadaId is null
    END
END
IF @FLAG='Sdr' --Populate Reimbursement expense head
BEGIN
		SELECT 
				 id
				,tadaId [TADA ID]
				,dbo.GetDetailTitle(headId) [Head]
				,convert(varchar(12),fromDate,107) [From Date]
				,convert(varchar(12),toDate,107) [To Date]
				,dbo.GetDetailTitle(currency) [Currency]
				,dbo.ShowDecimal(perDayEntitle) [Per Day Entitlement]
				,dbo.ShowDecimal(totalEntitle) [Total Entitlement]
				,dbo.ShowDecimal(claimAmount) [Claim Amount]
				,billsToBeClosed [Is Bill Enclosed]
				,status_tr [Status]
		FROM tadaReimbersement 
		WHERE flag='r' and isdelete='N' and tadaId=@tadaId
	
	END
	

IF @FLAG='Ioe' --insert other expensnes
BEGIN
	--select * from tadaReimbersement
	if exists(select * from tadaReimbersement where sessionId=@session_id and tadaId=@tadaId and headId=@headId and isdelete='N')
	begin
		select 'Already Added!' as msg
		return;
	end
							insert into tadaReimbersement(
								tadaId
								,currency
								,claimAmount
								,sessionId
								,flag
								,isdelete
								,status_tr
								,otherExpenses)
								values
								(@tadaId
								,@currencyId
								,@claimAmount
								,@session_id
								,'o'
								,'N','Approved'
								,@otherExpenses)
								select 'Success' as msg

	
END	
IF @FLAG='Soe' --select other expenses
BEGIN
      if exists(select sessionId from tadaReimbersement where sessionId=@session_id and tadaId is null )
	BEGIN
		select id,tadaId [TADA ID]
			,otherExpenses [Head]
			,sdd.DETAIL_TITLE [Currency]
			,dbo.ShowDecimal(claimAmount) [Claim Amount]
			,status_tr [Status]
		from tadaReimbersement tr
		inner join StaticDataDetail sdd on tr.currency=sdd.ROWID
		where sessionId=@session_id  and flag='o' and isdelete='N' and tadaId is null
	end
	select id,tadaId [TADA ID]
		,dbo.GetDetailTitle(headId) [Head]
		,dbo.ShowDecimal(claimAmount) [Claim Amount]
	from tadaReimbersement 
	where sessionId=@session_id and flag='o' and isdelete='N' and tadaId is null
END	
IF @FLAG='Sodr' --Populate other expenses
BEGIN
     
		select id,tadaId [TADA ID]
			,otherExpenses [Head]
			,sdd.DETAIL_TITLE [Currency]
			,dbo.ShowDecimal(claimAmount) [Claim Amount]
			,status_tr [Status]
		from tadaReimbersement tr
		inner join StaticDataDetail sdd on tr.currency=sdd.ROWID
		where  flag='o' and isdelete='N' and tadaId=@tadaId
END	
IF @FLAG='Dr' --Delete From Expenses head
	BEGIN
		UPDATE tadaReimbersement SET
		isdelete='Y' WHERE id=@ID
	END
IF @FLAG='D0' -- Delete From Other Expenses
	BEGIN
		UPDATE tadaReimbersement SET
		isdelete='Y' WHERE id=@ID
	END
GO
