USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_DeleteLeaveTypes]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
exec proc_DeleteLeaveTypes 'd','2','admin'
*/
create procedure [dbo].[proc_DeleteLeaveTypes]
				@flag char(1),
				@id int,
				@user varchar(50)
As				

	set nocount on;

if(@flag='d')
begin
select * from LeaveTypes
	delete from LeaveTypes where ID = @id
	--exec procExecuteSQLString 'd' , 'delete from LeaveTypes' , ' and  ID=''' + @id + '''', ''+ @user +''
end
GO
