USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procPayRollReport]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Exec [procPayRollReport] 'a','67-68','1'
-- Exec [procPayRollReport] 'a','67-68',null
CREATE PROC [dbo].[procPayRollReport]
	@flag VARCHAR(10)=NULL,
	@year VARCHAR(100)=NULL,
	@month VARCHAR(20)=NULL,
	@brach VARCHAR(20)=NULL	
	
AS
SET NOCOUNT ON;
IF @flag = 'a'
BEGIN
	SELECT ROW_NUMBER() over(order by mas.EMP_CODE) as [S.N.],mas.EMP_CODE AS [Emp Code],mas.[Employee Name],shawan.NET_SALARY AS [Shawan],bhadra.NET_SALARY [Bhadra],ashoj.NET_SALARY [Ashoj],
		kartik.NET_SALARY AS [Kartik],mangsir.NET_SALARY AS [Mangshir],poush.NET_SALARY AS [Poush],magh.NET_SALARY AS [Magh],falgun.NET_SALARY AS [Falgun],
		chaitra.NET_SALARY AS [Chaitra],baishak.NET_SALARY AS [Baishak],jestha.NET_SALARY AS [Jestha],ashad.NET_SALARY AS [Ashad] FROM 
		(
			SELECT EMPLOYEE_ID,EMP_CODE,FIRST_NAME+' '+MIDDLE_NAME+' '+LAST_NAME AS [Employee Name] FROM Employee 
				WHERE EMPLOYEE_ID IN (SELECT DISTINCT emp_id FROM TaxCalculation WHERE FY_ID=@year AND BRANCH_ID LIKE ISNULL(@brach ,'%'))
		)mas 
		LEFT JOIN
		(
			SELECT Emp_Id,(BASIC_SALARY_CURRENT+GRADE_CURRENT+ ALLOWANCE_CURRENT+
				ADHOC_BENEFITS_THIS_MONTH+CONTRI_THIS_MONTH_EMPLOYER-
				dbo.showdecimal(CONTRI_THIS_MONTH_EMPLOYER+CONTRI_CURRENT_EMPLOYEE+TAX_THIS_MONTH+
				ADHOC_DEDUCTION_CURRENT+LOAN_DEDUCTION+ADVANCE_DEDUCTION)) AS NET_SALARY FROM TaxCalculation WHERE Run_Month=4 AND FY_ID=@year
				AND BRANCH_ID LIKE ISNULL(@brach ,'%')
		)shawan ON shawan.Emp_Id=mas.EMPLOYEE_ID
		LEFT JOIN 
		(
			SELECT Emp_Id,(BASIC_SALARY_CURRENT+GRADE_CURRENT+ ALLOWANCE_CURRENT+
				ADHOC_BENEFITS_THIS_MONTH+CONTRI_THIS_MONTH_EMPLOYER-
				dbo.showdecimal(CONTRI_THIS_MONTH_EMPLOYER+CONTRI_CURRENT_EMPLOYEE+TAX_THIS_MONTH+
				ADHOC_DEDUCTION_CURRENT+LOAN_DEDUCTION+ADVANCE_DEDUCTION)) AS NET_SALARY FROM TaxCalculation WHERE Run_Month=5
				AND BRANCH_ID LIKE ISNULL(@brach ,'%')
		)bhadra ON mas.EMPLOYEE_ID=bhadra.Emp_Id
		LEFT JOIN 
		(
			SELECT Emp_Id,(BASIC_SALARY_CURRENT+GRADE_CURRENT+ ALLOWANCE_CURRENT+
				ADHOC_BENEFITS_THIS_MONTH+CONTRI_THIS_MONTH_EMPLOYER-
				dbo.showdecimal(CONTRI_THIS_MONTH_EMPLOYER+CONTRI_CURRENT_EMPLOYEE+TAX_THIS_MONTH+
				ADHOC_DEDUCTION_CURRENT+LOAN_DEDUCTION+ADVANCE_DEDUCTION)) AS NET_SALARY FROM TaxCalculation WHERE Run_Month=6
				AND BRANCH_ID LIKE ISNULL(@brach ,'%')
		)ashoj ON mas.EMPLOYEE_ID=ashoj.Emp_Id
		LEFT JOIN 
		(
			SELECT Emp_Id,(BASIC_SALARY_CURRENT+GRADE_CURRENT+ ALLOWANCE_CURRENT+
				ADHOC_BENEFITS_THIS_MONTH+CONTRI_THIS_MONTH_EMPLOYER-
				dbo.showdecimal(CONTRI_THIS_MONTH_EMPLOYER+CONTRI_CURRENT_EMPLOYEE+TAX_THIS_MONTH+
				ADHOC_DEDUCTION_CURRENT+LOAN_DEDUCTION+ADVANCE_DEDUCTION)) AS NET_SALARY FROM TaxCalculation WHERE Run_Month=7
				AND BRANCH_ID LIKE ISNULL(@brach ,'%')
		)kartik ON kartik.Emp_Id=mas.EMPLOYEE_ID
		LEFT JOIN 
		(
			SELECT Emp_Id,(BASIC_SALARY_CURRENT+GRADE_CURRENT+ ALLOWANCE_CURRENT+
				ADHOC_BENEFITS_THIS_MONTH+CONTRI_THIS_MONTH_EMPLOYER-
				dbo.showdecimal(CONTRI_THIS_MONTH_EMPLOYER+CONTRI_CURRENT_EMPLOYEE+TAX_THIS_MONTH+
				ADHOC_DEDUCTION_CURRENT+LOAN_DEDUCTION+ADVANCE_DEDUCTION)) AS NET_SALARY FROM TaxCalculation WHERE Run_Month=8
				AND BRANCH_ID LIKE ISNULL(@brach ,'%')
		)mangsir ON mangsir.Emp_Id=mas.EMPLOYEE_ID
		LEFT JOIN 
		(
			SELECT Emp_Id,(BASIC_SALARY_CURRENT+GRADE_CURRENT+ ALLOWANCE_CURRENT+
				ADHOC_BENEFITS_THIS_MONTH+CONTRI_THIS_MONTH_EMPLOYER-
				dbo.showdecimal(CONTRI_THIS_MONTH_EMPLOYER+CONTRI_CURRENT_EMPLOYEE+TAX_THIS_MONTH+
				ADHOC_DEDUCTION_CURRENT+LOAN_DEDUCTION+ADVANCE_DEDUCTION)) AS NET_SALARY FROM TaxCalculation WHERE Run_Month=9
				AND BRANCH_ID LIKE ISNULL(@brach ,'%')
		)poush ON mas.EMPLOYEE_ID=poush.Emp_Id
		LEFT JOIN 
		(
			SELECT Emp_Id,(BASIC_SALARY_CURRENT+GRADE_CURRENT+ ALLOWANCE_CURRENT+
				ADHOC_BENEFITS_THIS_MONTH+CONTRI_THIS_MONTH_EMPLOYER-
				dbo.showdecimal(CONTRI_THIS_MONTH_EMPLOYER+CONTRI_CURRENT_EMPLOYEE+TAX_THIS_MONTH+
				ADHOC_DEDUCTION_CURRENT+LOAN_DEDUCTION+ADVANCE_DEDUCTION)) AS NET_SALARY FROM TaxCalculation WHERE Run_Month=10
				AND BRANCH_ID LIKE ISNULL(@brach ,'%')
		)magh ON magh.Emp_Id=mas.EMPLOYEE_ID
		LEFT JOIN 
		(
			SELECT Emp_Id,(BASIC_SALARY_CURRENT+GRADE_CURRENT+ ALLOWANCE_CURRENT+
				ADHOC_BENEFITS_THIS_MONTH+CONTRI_THIS_MONTH_EMPLOYER-
				dbo.showdecimal(CONTRI_THIS_MONTH_EMPLOYER+CONTRI_CURRENT_EMPLOYEE+TAX_THIS_MONTH+
				ADHOC_DEDUCTION_CURRENT+LOAN_DEDUCTION+ADVANCE_DEDUCTION)) AS NET_SALARY FROM TaxCalculation WHERE Run_Month=11
				AND BRANCH_ID LIKE ISNULL(@brach ,'%')
		)falgun ON mas.EMPLOYEE_ID=falgun.Emp_Id
		LEFT JOIN 
		(
			SELECT Emp_Id,(BASIC_SALARY_CURRENT+GRADE_CURRENT+ ALLOWANCE_CURRENT+
				ADHOC_BENEFITS_THIS_MONTH+CONTRI_THIS_MONTH_EMPLOYER-
				dbo.showdecimal(CONTRI_THIS_MONTH_EMPLOYER+CONTRI_CURRENT_EMPLOYEE+TAX_THIS_MONTH+
				ADHOC_DEDUCTION_CURRENT+LOAN_DEDUCTION+ADVANCE_DEDUCTION)) AS NET_SALARY FROM TaxCalculation WHERE Run_Month=12
				AND BRANCH_ID LIKE ISNULL(@brach ,'%')
		)chaitra ON chaitra.Emp_Id=mas.EMPLOYEE_ID
		LEFT JOIN 
		(
			SELECT Emp_Id,(BASIC_SALARY_CURRENT+GRADE_CURRENT+ ALLOWANCE_CURRENT+
				ADHOC_BENEFITS_THIS_MONTH+CONTRI_THIS_MONTH_EMPLOYER-
				dbo.showdecimal(CONTRI_THIS_MONTH_EMPLOYER+CONTRI_CURRENT_EMPLOYEE+TAX_THIS_MONTH+
				ADHOC_DEDUCTION_CURRENT+LOAN_DEDUCTION+ADVANCE_DEDUCTION)) AS NET_SALARY FROM TaxCalculation WHERE Run_Month=1
				AND BRANCH_ID LIKE ISNULL(@brach ,'%')
		)baishak ON mas.EMPLOYEE_ID=baishak.Emp_Id
		LEFT JOIN 
		(
			SELECT Emp_Id,(BASIC_SALARY_CURRENT+GRADE_CURRENT+ ALLOWANCE_CURRENT+
				ADHOC_BENEFITS_THIS_MONTH+CONTRI_THIS_MONTH_EMPLOYER-
				dbo.showdecimal(CONTRI_THIS_MONTH_EMPLOYER+CONTRI_CURRENT_EMPLOYEE+TAX_THIS_MONTH+
				ADHOC_DEDUCTION_CURRENT+LOAN_DEDUCTION+ADVANCE_DEDUCTION)) AS NET_SALARY FROM TaxCalculation WHERE Run_Month=2
				AND BRANCH_ID LIKE ISNULL(@brach ,'%')
		)jestha ON jestha.Emp_Id=mas.EMPLOYEE_ID
		LEFT JOIN 
		(
			SELECT Emp_Id,(BASIC_SALARY_CURRENT+GRADE_CURRENT+ ALLOWANCE_CURRENT+
				ADHOC_BENEFITS_THIS_MONTH+CONTRI_THIS_MONTH_EMPLOYER-
				dbo.showdecimal(CONTRI_THIS_MONTH_EMPLOYER+CONTRI_CURRENT_EMPLOYEE+TAX_THIS_MONTH+
				ADHOC_DEDUCTION_CURRENT+LOAN_DEDUCTION+ADVANCE_DEDUCTION)) AS NET_SALARY FROM TaxCalculation WHERE Run_Month=3
				AND BRANCH_ID LIKE ISNULL(@brach ,'%')
		)ashad ON mas.EMPLOYEE_ID=ashad.Emp_Id

END
GO
