USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[ProcAssetGroupWiseReport]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Exec ProcAssetGroupWiseReport  'a','8','16','9'
--Exec ProcAssetGroupWiseReport  'b','8',null,'9'
CREATE procedure [dbo].[ProcAssetGroupWiseReport]    
		@flag varchar(1),
		@assetgroup varchar(50)=null,  
		@assettype varchar(50)=null ,
		@branch varchar(50)=null
    
as  
 set nocount on;       
 Declare @sql varchar(3000) 
 if @flag='a'
 begin 
 
    set @sql='SELECT AP.porduct_code [Asset Type],A.asset_number [Asset Number],CONVERT(VARCHAR,A.booked_date,107) AS [Booked Date],
				convert(varchar,A.depr_start_date,107) as [Dep. Start Date],
				dbo.ShowDecimal(A.purchase_value) as [Purchase Value], 
				dbo.ShowDecimal(A.acc_depriciation) as [Acc. Dep],dbo.ShowDecimal(A.purchase_value-A.acc_depriciation) as [Booked Value],	
				A.asset_status [Status],A.depre_pct [Dep. Per],
				case when A.is_amortised=''N'' then ''No'' when A.is_amortised=''Y'' then ''Yes'' end as [Is Amortized],A.life_in_month as [Life In Month],
				b.Branch_name as [Branch Name],
				D.DEPARTMENT_NAME [Department Name],
				dbo.GetEmployeeFullNameOfId(asset_holder) as [Asset Owner]
				,model [Asset Model]
				,brand [Brand]
				,a.old_asset_no [Old Asset Number]
				,a.old_asset_code [Old Asset Code]
				FROM ASSET_INVENTORY A WITH(NOLOCK)
				INNER JOIN ASSET_PRODUCT AP WITH(NOLOCK) ON A.product_id=AP.ID
				inner join ASSET_ITEM c on c.id=AP.item_id 
				left join Branches b on b.branch_id=A.branch_id
				LEFT JOIN Departments D ON D.DEPARTMENT_ID=A.dept_id
				LEFT JOIN Employee E ON E.EMPLOYEE_ID=A.asset_holder where A.asset_status=''Active'' and A.asset_type is null ' 
	
	if @assetgroup is not null
		set @sql=@sql + ' and c.parent_id = '+ @assetgroup
		
	if @assettype is not null
		set @sql=@sql + ' and A.product_id = '+ @assettype
		
	if @branch is not null
		set @sql=@sql + ' and A.branch_id = '+ @branch	
			
	set @sql=@sql + ' order by AP.porduct_code asc '

	Exec (@sql)
  
 end  
    
if @flag='b'
begin
	SELECT AP.porduct_code AS [Asset Type],asset_number [Asset Number],CONVERT(VARCHAR,booked_date,107) AS [Book Date],
		CONVERT(VARCHAR,depr_start_date,107) AS [Dep. Start Date]
		,purchase_value [Purchase Value],acc_depriciation [Acc. Dep],purchase_value-acc_depriciation [Net Value],b.BRANCH_NAME [Branch Name],
		d.DEPARTMENT_NAME [Dept. Name],dbo.GetEmployeeFullNameOfId(asset_holder)[Asset Holder],asset_status [Status],narration [Narration]
		FROM ASSET_INVENTORY ai INNER JOIN Branches b ON b.BRANCH_ID=ai.branch_id INNER JOIN ASSET_PRODUCT AP ON AP.id=AI.PRODUCT_ID LEFT JOIN 
		Departments d ON d.DEPARTMENT_ID=ai.dept_id 
		WHERE product_id LIKE ISNULL(@assettype,'%')
		AND ai.branch_id LIKE ISNULL(@branch,'%') AND
		group_id LIKE ISNULL(@assetgroup,'%') AND asset_status='Active'
		order by AP.porduct_code
end
GO
