USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procuploadmedicalclaimamount]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*

exec [procuploadmedicalclaimamount] @flag='b',@file_path='D:\Swift Projects\ERP Projects\ERP_NABIL\SwiftHrManagement.web\doc\payroll_upload\payable\testclaim.csv',@user='1000'

select * from medicalclaim

*/

CREATE PROC [dbo].[procuploadmedicalclaimamount]
	@FLAG CHAR(1),
	@FILE_PATH VARCHAR(200),
	@USER VARCHAR(50)

AS

IF @FLAG='B'
BEGIN

	SET NOCOUNT ON;
	DECLARE @SQL1 VARCHAR(1000)	
	SET @FILE_PATH = REPLACE(@FILE_PATH,'\\','\')	

	CREATE TABLE #TEMPNUMBERUPLOAD1
		(
		CLAIMID INT NULL,
		REMARKS VARCHAR(MAX) NULL,
		AMOUNT MONEY NULL
		)

				    
		SET @SQL1 = ' BULK INSERT #tempNumberUpload1  FROM '''+@file_path+''' 
					 WITH (FIELDTERMINATOR = '','',FIRSTROW  = 2, ROWTERMINATOR =''\n'') '
					 
	EXEC(@SQL1)


	UPDATE #TEMPNUMBERUPLOAD1
    	SET 
		CLAIMID=REPLACE(LTRIM(CLAIMID),'Á',''),
		REMARKS=REPLACE(LTRIM(REMARKS),'Á',''),
		AMOUNT=REPLACE(LTRIM(AMOUNT),'Á','')

UPDATE #TEMPNUMBERUPLOAD1
    	SET 
		CLAIMID=REPLACE((CLAIMID),' ',''),
		--REMARKS=REPLACE((REMARKS),' ',''),		
		AMOUNT=REPLACE((AMOUNT),' ','')	
		
IF EXISTS(SELECT * FROM #TEMPNUMBERUPLOAD1 WHERE ISNUMERIC(AMOUNT)<=0) 
	BEGIN

		SELECT 'SOME WRONG AMOUNT!' AS REMARKS
		RETURN;

	END
		
IF EXISTS (SELECT * FROM #TEMPNUMBERUPLOAD1 WHERE CLAIMID NOT IN (SELECT ID FROM MEDICALCLAIM))
BEGIN
	SELECT 'SOME CLAIM ID IS INVALID!' AS REMARKS
	RETURN;
END
	

	UPDATE MEDICALCLAIM 
	SET 
		remarks=t1.REMARKS
		,actAmount=AMOUNT
		,modifiedby=@USER
		,modifieddate=GETDATE()
		,ReimbrusedBy=@USER
		,claimStatus='Reimbursement'
	FROM #TEMPNUMBERUPLOAD1 t1
	WHERE ID=CLAIMID

	DROP TABLE #TEMPNUMBERUPLOAD1
	SELECT 'UPLOAD COMPLETED SUCESSFULLY!' AS MSG;

END
GO
