USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_Approve_PurchaseOrder]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- exec proc_Approve_PurchaseOrder 'f','1','1000'

-- proc_Approve_PurchaseOrder 'a','1','1313'

CREATE PROCEDURE [dbo].[proc_Approve_PurchaseOrder]
		@flag CHAR(1),
		@id INT=NULL,
		@approver_id VARCHAR(50)=NULL
				
AS
	SET NOCOUNT ON;	
	SET XACT_ABORT ON;			

		
IF(@flag='a')
BEGIN

	UPDATE Purchase_Order_Message SET 
			forwarded_date	=	GETDATE(),
			approved_by		=	@approver_id,
			Approved_Date	=	GETDATE(), 
			status			=	'Approved'
	WHERE id = @id
	

END	

IF(@flag='f')
BEGIN
	BEGIN TRANSACTION
		
	INSERT INTO Purchase_Order_Message_History(Ord_id, Requ_date, from_user,to_user)     
		SELECT id, created_date,forwarded_to ,@approver_id  
		FROM Purchase_Order_Message WHERE id=@id
	
	UPDATE Purchase_Order_Message SET 
	forwarded_to=@approver_id,forwarded_date=GETDATE()
	WHERE id = @id
	
	COMMIT TRANSACTION	
	
END
GO
