USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procAssetReport]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[procAssetReport]
	@flag			varchar(50),
	@fy				VARCHAR(50)		=	NULL,
	@month			varchar(10)		=	null,
	@branchId		varchar(20)		=	null,
	@deptId			varchar(10)		=	null,
	@groupId		varchar(10)		=	null,
	@assetType		Varchar(20)		=	null,
	@assetNumber	varchar(100)	=	null,
	@rptType		varchar(50)		=   null,
	@pageNumber		varchar(50)		=	null,
	@pageSize		varchar(50)		=	null,
	@user			varchar(50)		=	null

AS
Declare @sql varchar(max),@subSql varchar(200) 
DECLARE
	 @heading						VARCHAR(MAX)
	,@heading_select				VARCHAR(MAX)
	,@headingSum					VARCHAR(MAX)

if @flag='detail'
begin

	Declare @date varchar(20),@currMonth varchar(2),@sql1 varchar(max),@sql2 varchar(max),@sql3 varchar(max)

	set @date=convert(varchar,getDate(),101)
	set @fy=dbo.FNAReturnCurrentFiscalYear(@date)
	SET @currMonth=dbo.GetNepaliMonth(@date)

	SET @sql1='select 
				 asset_id = op.asset_id
				,accDepTillLastYr = op.acc_dep  
			from asset_opening_balance op with(nolock)
			where op.fiscal_year = '''+@fy+''''

	SET @sql2='
			select 
				 asset_id
				,accDepThisYr= sum(ds.dep_value)  
			from depreciation_status ds with(nolock) 
		where ds.fiscal_year = '''+@fy+''''
	SET @sql3='
		select ds.asset_id,
		accDepThisMonth = sum(ds.dep_value)  from depreciation_status ds with(nolock) 
		where ds.fiscal_year ='''+@fy+''' 
		and run_month = '''+@currMonth+''''	

	IF @branchId is not null
	BEGIN
		SET	@sql1=@sql1+'and op.branch_id ='''+@branchId+''''
		SET	@sql2=@sql2+'and ds.branch_id = '''+@branchId+''''
		SET	@sql3=@sql3+'and ds.branch_id ='''+@branchId+''''
	END

	SET @sql2=@sql2+'group by ds.asset_id'
	SET @sql3=@sql3+'group by ds.asset_id'
	
	set @sql='	SELECT 
			 [S.N.] = row_number() over(order by f.item_name,AP.porduct_code,b.branch_name)
			,[Asset Group] = f.item_name
			,[Asset Type] = AP.porduct_code 
			,[Branch] = b.branch_name
			,[Department] = replace(dbo.getdeptName(a.dept_id),''All Departments'','''')
			,[Asset Number] = A.asset_number 
			,[Booked Date] = CONVERT(VARCHAR,A.booked_date,107)  
			,[Dep. Start Date] = convert(varchar,A.depr_start_date,107)  
			,[Purchase Value] = dbo.ShowDecimal(A.purchase_value)  
			,[Acc. Dep] = dbo.ShowDecimal(A.acc_depriciation) 
			,[Booked Value] = dbo.ShowDecimal(A.purchase_value-A.acc_depriciation)						
			,[Accumulated Depreciation_Till Last Year] = isnull(ly.accDepTillLastYr,0)
			,[Accumulated Depreciation_This Year]=isnull(ty.accDepThisYr,0)
			,[Accumulated Depreciation_This Month]=isnull(tm.accDepThisMonth,0)
			,[Dep. Per] = A.depre_pct 
			,[Status] = A.asset_status 
			,[Is Amortized] = case when A.is_amortised=''N'' then ''No'' when A.is_amortised=''Y'' then ''Yes'' end  
			,[Life In Month] = A.life_in_month
			,[Remaining Life]=a.remain_month 		
			,[Model] = model 
			,[Serial] = asset_serial
			,[Narration] = A.narration  
			,[OldAssetNo]=A.old_asset_no
	FROM ASSET_INVENTORY A WITH(NOLOCK)
	INNER JOIN ASSET_PRODUCT AP WITH(NOLOCK) ON A.product_id=AP.ID
	inner join ASSET_ITEM c on c.id=AP.item_id 
	inner join ASSET_ITEM f on c.parent_Id = f.id
	left join Branches b on b.branch_id=A.branch_id
	LEFT JOIN Departments D ON D.DEPARTMENT_ID=A.dept_id
	LEFT JOIN Employee E ON E.EMPLOYEE_ID=A.asset_holder 
	left join 
	(
		'+@sql1+'
	)ly on a.id = ly.asset_id
	left join
	(
		'+@sql2+'
	)ty on a.id =ty.asset_id
	left join
	(
		'+@sql3+'
	)tm on a.id = tm.asset_id
	where asset_status=''Active'' and  asset_type is null '

	if @branchId is not null
		set @sql=@sql + ' and A.branch_id = '+ @branchId
		
	if @deptId is not null
		set @sql=@sql + ' and A.dept_id = '+ @deptId	
	
	if @groupId is not null
		set @sql=@sql + ' and c.parent_id = '+ @groupId	
			
	if @assetType is not null
		set @sql=@sql + ' and A.product_id = '+ @assetType
		
	if @assetNumber is not null
		set @sql=@sql + ' and A.asset_number = '''+ @assetNumber+''''	
			
	set @sql=@sql + ' order by f.item_name,AP.porduct_code,b.branch_name '
	
	print @sql
	Exec (@sql)

	EXEC proc_errorHandler '0', 'Report has been prepared successfully.', NULL
			
	SELECT 'Branch' head,case when @branchId is null then 'All' else (select branch_name from dbo.Branches with(nolock) where branch_id = @branchId) end VALUE
	UNION ALL
	SELECT 'Department' head, case when @deptId is null then 'All' else (select department_name from dbo.Departments with(nolock) where department_id  = @deptId) end VALUE
	UNION ALL
	SELECT 'Group Name' head, case when @groupId is null then 'All' else (select item_name from dbo.asset_item with(nolock) where id = @groupId) end VALUE
	UNION ALL
	SELECT 'Asset Type' head,case when @assetType is null then 'All' else (select porduct_code from asset_product with(nolock) where id = @assetType) end VALUE
	UNION ALL
	SELECT 'Asset Number' head,case when @assetNumber is null then 'All' else @assetNumber end VALUE	

	SELECT 'Asset Detailed Report' title	
	
end

if @flag='b'
begin
	set @sql='SELECT AP.porduct_code [Asset Type],A.asset_number [Asset Number],CONVERT(VARCHAR,A.booked_date,107) AS [Booked Date],				
				A.purchase_value as [Purchase Value],
					asset_serial as [Serial Number],
				A.asset_status [Status],
				b.Branch_name as [Branch Name],
				D.DEPARTMENT_NAME [Department Name],
				dbo.GetEmployeeFullNameOfId(asset_holder) as [Asset Owner],A.narration as [Narration]
				FROM ASSET_INVENTORY A WITH(NOLOCK)
				INNER JOIN ASSET_PRODUCT AP WITH(NOLOCK) ON A.product_id=AP.ID
				inner join ASSET_ITEM c on c.id=AP.item_id 
				left join Branches b on b.branch_id=A.branch_id
				LEFT JOIN Departments D ON D.DEPARTMENT_ID=A.dept_id
				LEFT JOIN Employee E ON E.EMPLOYEE_ID=A.asset_holder where asset_status=''Active'' and asset_type=''R'' '
		
	if @branchId is not null
		set @sql=@sql + ' and A.branch_id = '+ @branchId
		
	if @deptId is not null
		set @sql=@sql + ' and A.dept_id = '+ @deptId	
	
	if @groupId is not null
		set @sql=@sql + ' and c.parent_id = '+ @groupId	
			
	if @assetType is not null
		set @sql=@sql + ' and A.product_id = '+ @assetType
		
	if @assetNumber is not null
		set @sql=@sql + ' and A.asset_number = '''+ @assetNumber+''''	
			
	set @sql=@sql + ' order by A.id asc '

	Exec (@sql)
	--print (@sql)
	
end

if @flag ='fa_summary'
begin
	if @rptType = 'grpWise'
	BEGIN
		SELECT [S.N.] = ROW_NUMBER()OVER(ORDER BY a.item_name) 
			,[Asset Group Name] = a.item_name 
			,[Total Cost] = isnull(a.purchase_value,0)
			,[Acc. Depreciation] = isnull(a.acc_dep,0) 
			,[Net Value] = isnull(a.net_value,0) 
			FROM 
			(	
					SELECT 
					x.id,x.item_name,SUM(purchase_value) as purchase_value,SUM(acc_depriciation) AS acc_dep,
					SUM(purchase_value)-SUM(acc_depriciation) AS net_value
					FROM ASSET_INVENTORY a 
					INNER JOIN ASSET_PRODUCT ap ON a.product_id = ap.id
					INNER JOIN ASSET_ITEM ai ON ap.item_id = ai.id
					INNER JOIN 
						(
							SELECT id, item_name 
							FROM ASSET_ITEM
							WHERE id IN(SELECT DISTINCT parent_id FROM ASSET_ITEM WHERE is_product = '1')					 
						) x ON x.id = ai.parent_id

						WHERE a.asset_status='Active' 
							AND branch_id = isnull(@branchId,branch_id) 
							AND asset_type is null
						GROUP BY x.id, x.item_name
			) a 
		EXEC proc_errorHandler '0', 'Report has been prepared successfully.', NULL
			
		SELECT 'Branch' head,case when @branchId is null then 'All' else (select branch_name from dbo.Branches with(nolock) where branch_id = @branchId) end VALUE
		UNION ALL
		SELECT 'Report Type', 'Group Wise -Summary' value

		SELECT 'Group Wise -Summary' title	
		return;
	END

	IF @rptType = 'branchWise'
	BEGIN
		SELECT   [S.N.] = ROW_NUMBER() OVER(ORDER BY b.branch_id)  
				,[Branch Name] = B.BRANCH_NAME  
				,[Total Cost] = SUM(purchase_value)  
				,[Accumulation Depreciation] = SUM(acc_depriciation)   
				,[Net Value] = SUM(purchase_value)-SUM(acc_depriciation) 
		FROM ASSET_INVENTORY AI 
			INNER JOIN Branches B ON B.BRANCH_ID=AI.branch_id
		WHERE asset_status='Active' 
			and AI.branch_id = ISNULL(@branchId,AI.branch_id)
		GROUP BY B.BRANCH_NAME,B.BRANCH_ID ORDER BY b.branch_id
		EXEC proc_errorHandler '0', 'Report has been prepared successfully.', NULL
			
		SELECT 'Branch' head,case when @branchId is null then 'All' else (select branch_name from dbo.Branches with(nolock) where branch_id = @branchId) end VALUE
		union all
		SELECT 'Report Type', 'Branch Wise -Summary' value
		SELECT 'Branch Wise -Summary' title	
		return;
	END
			
	SELECT
		 @heading			= ISNULL(@heading + ',', '') + '[' + [headings] + ']'
		,@heading_select	= ISNULL(@heading_select + ', ', '') + 'ISNULL([' + [headings] + '], 0) ' + '[' + [headings] + ']'
		,@headingSum		= ISNULL(@headingSum + '+', '') + 'ISNULL([' + [headings] + '], 0)'		
	FROM(SELECT id, item_name  [headings] FROM ASSET_ITEM WHERE id IN(SELECT DISTINCT parent_id FROM ASSET_ITEM WHERE is_product = '1')) HEAD

	if @branchId is not null
		set @subSql = ' and mas.branch_id = '''+@branchId+''''
	else
		set @subSql = ''

	IF @rptType = 'cost'
	BEGIN
		SET @sql = '
		SELECT row_number() over(order by y.branch_name) [SN],Y.branch_name AS [Branch],' + @heading_select +','+@headingSum+' TOTAL
		FROM (
				SELECT * FROM 
				(	
					SELECT 
						 [headings] = x.item_name
						,branchId = mas.branch_Id  
						,Amount = SUM(purchase_value)  
					FROM ASSET_INVENTORY mas with(nolock)
					inner join asset_product ap with(nolock) on mas.product_id = ap.id
					inner join asset_item ai with(nolock) on ap.item_id = ai.id
					INNER JOIN 
					(
						SELECT id, item_name  
						FROM ASSET_ITEM
						WHERE id IN(SELECT DISTINCT parent_id FROM ASSET_ITEM WHERE is_product = ''1'')			 
					) x ON x.id = ai.parent_id
					WHERE asset_status=''Active''
					'+@subSql+'
					GROUP BY x.item_name,mas.BRANCH_ID
				) x 					
			
			) dataList
			PIVOT
			(
				SUM(Amount)
				FOR headings IN(' + @heading+ ')
			) x 
		INNER JOIN 
		(
			select branch_id, branch_name from branches a with(nolock) 

		 )Y ON x.branchId = Y.branch_id ORDER BY Y.branch_name'
		
		EXEC(@sql)
	END

	IF @rptType = 'accDep'
	BEGIN
		SET @sql = '
		SELECT row_number() over(order by y.branch_name) [SN],Y.branch_name AS [Branch],' + @heading_select +','+@headingSum+' TOTAL
		FROM (
				SELECT * FROM 
				(	
					SELECT 
						 [headings] = x.item_name
						,branchId = mas.branch_Id  
						,Amount = SUM(isnull(acc_depriciation,0))  
					FROM ASSET_INVENTORY mas with(nolock)
					inner join asset_product ap with(nolock) on mas.product_id = ap.id
					inner join asset_item ai with(nolock) on ap.item_id = ai.id
					INNER JOIN 
					(
						SELECT id, item_name  
						FROM ASSET_ITEM
						WHERE id IN(SELECT DISTINCT parent_id FROM ASSET_ITEM WHERE is_product = ''1'')			 
					) x ON x.id = ai.parent_id
					WHERE asset_status=''Active''
					'+@subSql+'
					GROUP BY x.item_name,mas.BRANCH_ID
				) x 					
			
			) dataList
			PIVOT
			(
				SUM(Amount)
				FOR headings IN(' + @heading+ ')
			) x 
		INNER JOIN 
		(
			select branch_id, branch_name from branches a with(nolock) 

		 )Y ON x.branchId = Y.branch_id ORDER BY Y.branch_name'
		
		EXEC(@sql)
	END

	IF @rptType = 'netValue'
	BEGIN
		SET @sql = '
		SELECT row_number() over(order by y.branch_name) [SN],Y.branch_name AS [Branch],' + @heading_select +','+@headingSum+' TOTAL
		FROM (
				SELECT * FROM 
				(	
					SELECT 
						 [headings] = x.item_name
						,branchId = mas.branch_Id  
						,Amount = SUM(isnull(purchase_value,0)) - SUM(isnull(acc_depriciation,0)) 
					FROM ASSET_INVENTORY mas with(nolock)
					inner join asset_product ap with(nolock) on mas.product_id = ap.id
					inner join asset_item ai with(nolock) on ap.item_id = ai.id
					INNER JOIN 
					(
						SELECT id, item_name  
						FROM ASSET_ITEM
						WHERE id IN(SELECT DISTINCT parent_id FROM ASSET_ITEM WHERE is_product = ''1'')			 
					) x ON x.id = ai.parent_id
					WHERE asset_status=''Active''
					'+@subSql+'
					GROUP BY x.item_name,mas.BRANCH_ID
				) x 					
			
			) dataList
			PIVOT
			(
				SUM(Amount)
				FOR headings IN(' + @heading+ ')
			) x 
		INNER JOIN 
		(
			select branch_id, branch_name from branches a with(nolock) 
		 )Y ON x.branchId = Y.branch_id ORDER BY Y.branch_name'
		
		EXEC(@sql)
	END

	EXEC proc_errorHandler '0', 'Report has been prepared successfully.', NULL			
	SELECT 'Branch' head,case when @branchId is null then 'All' else (select branch_name from dbo.Branches with(nolock) where branch_id = @branchId) end VALUE
	UNION ALL
	SELECT 'Report Type', case when @rptType = 'cost' then 'Group Vs Branch -Cost Wise'
							   when @rptType = 'accDep' then 'Group Vs Branch -Acc. Dep. Wise'
							   when @rptType = 'netValue' then 'Group Vs Branch -Net Value Wise' end value
	SELECT 'Asset Group Wise Report' title	
end

if @flag='dep_detail_rpt'
begin
	SELECT 
			 [S.N.]							= row_number() over(order by f.item_name,AP.porduct_code,b.branch_name)
			,[Asset Group]					= f.item_name
			,[Asset Type]					= AP.porduct_code 
			,[Branch]						= b.branch_name
			,[Asset Number]					= A.asset_number 
			,[Booked Date]					= CONVERT(VARCHAR,A.booked_date,107)  
			,[Dep. Start Date]				= convert(varchar,A.depr_start_date,107) 
			,[Purchase Value]				= dbo.ShowDecimal(A.purchase_value) 
			,[Accumulated Depreciation_Up to previous FY]	= isnull(op.opening,0)
			,[Accumulated Depreciation_Till last month]	= isnull(till.tillLastMonth,0)
			,[Accumulated Depreciation_For this month]		= isnull(this.thisMonth,0)		 
			,[Accumulated Depreciation_Total]						= dbo.ShowDecimal(isnull(A.acc_depriciation,0)) 
			,[Booked Value]					= dbo.ShowDecimal(isnull(A.purchase_value,0)-isnull(A.acc_depriciation,0))			
			,[Status]						= A.asset_status 
			,[Dep. Per]						= A.depre_pct 
			,[Is Amortized]					= case when A.is_amortised='N' then 'No' when A.is_amortised='Y' then 'Yes' end  
			,[Life In Month]				= A.life_in_month 
			,[Model]						= model 
			,[Serial]						= asset_serial
			,[Narration]					= A.narration  
			,[OldAssetNo]					= A.old_asset_no
			
	FROM ASSET_INVENTORY a with(nolock)	
	INNER JOIN ASSET_PRODUCT AP with(nolock) on A.product_id=AP.ID
	inner join ASSET_ITEM c with(nolock) on c.id=AP.item_id 
	inner join ASSET_ITEM f with(nolock) on c.parent_Id = f.id
	left join Branches b with(nolock) on b.branch_id=A.branch_id
	left join 
	(
		select op.asset_id,op.acc_dep opening from asset_opening_balance op with(nolock)
		where op.fiscal_year = @fy
			and op.branch_id = isnull(@branchId,op.branch_id)
	)op on a.id = op.asset_id
	left join
	(
		select asset_id,sum(ds.dep_value) tillLastMonth from depreciation_status ds with(nolock) 
		where ds.fiscal_year = @fy 
			and run_month < @month
			and branch_id = isnull(@branchId,branch_id)
		group by asset_id
	)till on a.id =till.asset_id
	left join
	(
		select ds.asset_id,sum(ds.dep_value) thisMonth from depreciation_status ds with(nolock) 
		where ds.fiscal_year = @fy 
			and run_month = isnull(@month,run_month)
			and ds.branch_id = isnull(@branchId,ds.branch_id)
		group by ds.asset_id
	)this on a.id = this.asset_id
	where 1=1 
	and a.branch_id  =  isnull(@branchId, a.branch_id)	
	and a.asset_type is null 
	order by f.item_name,AP.porduct_code 

	EXEC proc_errorHandler '0', 'Report has been prepared successfully.', NULL
	
	SELECT 'Branch' head,case when @branchId is null then 'All' else (select branch_name from dbo.Branches with(nolock) where branch_id = @branchId) end VALUE
	union all			
	SELECT 'Fiscal Year' head,@fy VALUE
	union all
	SELECT 'Run Month' head, case when @month is null then 'All' else (select Name from dbo.monthList with(nolock) where month_number = @month) end VALUE 

	SELECT 'Depreciation Report' title	

end

if @flag='dep_groupwise_rpt'
begin
		SELECT
		 @heading			= ISNULL(@heading + ',', '') + '[' + [headings] + ']'
		,@heading_select	= ISNULL(@heading_select + ', ', '') + 'ISNULL([' + [headings] + '], 0) ' + '[' + [headings] + ']'
		,@headingSum		= ISNULL(@headingSum + '+', '') + 'ISNULL([' + [headings] + '], 0)'		
	FROM(SELECT id, item_name  [headings] FROM ASSET_ITEM WHERE id IN(SELECT DISTINCT parent_id FROM ASSET_ITEM WHERE is_product = '1')) HEAD

	if @fy is not null
		set @subSql = ' and ds.fiscal_year = '''+@fy+''''

	if @month is not null
		set @subSql = @subSql+ ' and ds.run_month = '''+@month+''''

	if @branchId is not null
		set @subSql = @subSql+' and mas.branch_id = '''+@branchId+''''

	if @subSql is null
		set @subSql = ''

	SET @sql = '
	SELECT row_number() over(order by y.branch_name) [SN],Y.branch_name AS [Branch],' + @heading_select +','+@headingSum+' TOTAL
	FROM (
			SELECT * FROM 
			(	
				SELECT 
					 [headings] = x.item_name
					,branchId = mas.branch_Id  
					,Amount = SUM(isnull(ds.dep_value,0))  
				FROM ASSET_INVENTORY mas with(nolock)
				inner join depreciation_status ds on mas.id=ds.asset_id
				inner join asset_product ap with(nolock) on mas.product_id = ap.id
				inner join asset_item ai with(nolock) on ap.item_id = ai.id
				INNER JOIN 
				(
					SELECT id, item_name  
					FROM ASSET_ITEM
					WHERE id IN(SELECT DISTINCT parent_id FROM ASSET_ITEM WHERE is_product = ''1'')			 
				) x ON x.id = ai.parent_id
				WHERE 1=1
				'+@subSql+'
				GROUP BY x.item_name,mas.BRANCH_ID
			) x 					
			
		) dataList
		PIVOT
		(
			SUM(Amount)
			FOR headings IN(' + @heading+ ')
		) x 
	INNER JOIN 
	(
		select branch_id, branch_name from branches a with(nolock) 

		)Y ON x.branchId = Y.branch_id ORDER BY Y.branch_name'
	print(@sql)	
	EXEC(@sql)
	EXEC proc_errorHandler '0', 'Report has been prepared successfully.', NULL
	
	SELECT 'Branch' head,case when @branchId is null then 'All' else (select branch_name from dbo.Branches with(nolock) where branch_id = @branchId) end VALUE
	union all			
	SELECT 'Fiscal Year' head,@fy VALUE
	union all
	SELECT 'Run Month' head, case when @month is null then 'All' else (select Name from dbo.monthList with(nolock) where month_number = @month) end VALUE 

	SELECT 'Depreciation Report' title	

end

if @flag = 'dep_summary'
begin
	DECLARE 
	     @FYEndDate as varchar(20)
		,@FYStartDate as varchar(20)

	SELECT @FYEndDate=EN_YEAR_END_DATE FROM FiscalYear with(nolock) where FISCAL_YEAR_NEPALI=@fy
	SELECT @FYStartDate=EN_YEAR_START_DATE FROM FiscalYear with(nolock) where FISCAL_YEAR_NEPALI=@fy

	select 
		 [S.N.]	 = row_number()over(order by mas.groupName)
		,[Group Name] = mas.groupName
		,[Product Name] = mas.productName
		,[Dep %] = mas.depPer
		,[Cost_Opening Balance] = isnull(op.opening_balance,0)
		,[Cost_This Year] = isnull(this.thisYr,0)
		,[Cost_Sold] = isnull(sale.sold,0)
		,[Cost_WriteOff] = isnull(writeoff.writeoff,0)
		,[Cost_Closing Balance] = isnull(op.opening_balance,0) + isnull(this.thisYr,0) - isnull(sale.sold,0) - isnull(writeoff.writeoff,0)
		,[Accumulated Depreciation_Opening Balance] = isnull(opDep.opDep,0)
		,[Accumulated Depreciation_This Year] = isnull(thisYrDep.thisYrDep,0)
		,[Accumulated Depreciation_Sold] = isnull(soldDep.soldDep,0)
		,[Accumulated Depreciation_Write Off] = isnull(writeoffDep.writeoffDep,0)
		,[Accumulated Depreciation_Closing Balance] = isnull(opDep.opDep,0) + isnull(thisYrDep.thisYrDep,0) - isnull(soldDep.soldDep,0) - isnull(writeoffDep.writeoffDep,0)
		,[Net Book Value <br/> (NPV)] = (isnull(op.opening_balance,0) + isnull(this.thisYr,0) - isnull(sale.sold,0) - isnull(writeoff.writeoff,0))
									-
									isnull(opDep.opDep,0) + isnull(thisYrDep.thisYrDep,0) - isnull(soldDep.soldDep,0) - isnull(writeoffDep.writeoffDep,0)
	from 
	(
			select distinct 
				 groupName		= ai.item_name 
				,groupId		= ai.id
				,productName	= ap.porduct_code
				,productId		= ap.id
				,depPer = am.depre_pct from ASSET_INVENTORY am with(nolock) 
			inner join asset_product ap with(nolock) on am.product_id = ap.id
			inner join asset_item ai with(nolock) on am.group_id = ai.id
			--inner join asset_opening_balance aob with(nolock) on am.id = aob.asset_id
			--where aob.fiscal_year = @fy
	)mas
	left join 
	(
			SELECT 
				 ai.product_id
				,opening_balance = sum(a.purchase_value)   
			FROM Asset_Opening_Balance a with(nolock) 
			inner join asset_inventory ai with(nolock) on a.asset_id = ai.id
			where a.fiscal_year = @fy 
			and a.booked_date < @FYStartDate 
			GROUP BY ai.product_id
	)op on mas.productId = op.product_id
	left join 
	(
			SELECT ai.product_id,sum(ai.purchase_value) as thisYr
			FROM asset_inventory ai with(nolock) 
			where ai.booked_date between @FYStartDate and @FYEndDate 	
			GROUP BY ai.product_id
	)this on mas.productId = this.product_id
	left join
	(
			SELECT 
				 product_id = b.product_id
				,sold = sum(a.accumulate_dep+a.book_value)   
			FROM ASSET_SALES_HISTORY a with(nolock)
			INNER JOIN ASSET_INVENTORY b with(nolock) on a.asset_id=b.id
			where a.sold_date between @FYStartDate and @FYEndDate 
			GROUP BY b.product_id
	)sale on mas.productId = sale.product_id
	left join
	(
			SELECT 
				 product_id = b.product_id
				,writeoff= sum(a.accumulate_dep+a.book_value)  
			FROM ASSET_WRITEOF_HISTORY a with(nolock)
			INNER JOIN ASSET_INVENTORY b with(nolock) on a.asset_id=b.id
			where a.write_off_date between @FYStartDate and @FYEndDate 
			GROUP BY b.product_id
	)writeoff on mas.productId = writeoff.product_id

	--depreciation
	left join 
	(
			SELECT 
				 ai.product_id
				,opDep = sum(a.acc_dep)   
			FROM Asset_Opening_Balance a with(nolock) 
			inner join asset_inventory ai with(nolock) on a.asset_id = ai.id
			where a.fiscal_year = @fy 
			and a.booked_date < @FYStartDate 
			GROUP BY ai.product_id

	)opDep on mas.productId = opDep.product_id
	left join 
	(
			----SELECT 
			----	 ai.product_id
			----	,thisYrDep = sum(ai.acc_depriciation)  
			----FROM asset_inventory ai with(nolock) 
			----where ai.booked_date between @FYStartDate and @FYEndDate 	
			----GROUP BY ai.product_id

			SELECT ai.product_id
				,thisYrDep = sum(x.dep) 
				FROM asset_inventory ai with(nolock) 
				inner join ( select asset_id , sum(dep_value) dep from depreciation_status where fiscal_year=@fy group by asset_id) x
				on ai.id=x.asset_id
				GROUP BY ai.product_id
		
			)thisYrDep on mas.productId = thisYrDep.product_id
	left join
	(
			SELECT 
				 product_id = b.product_id
				,soldDep = sum(accumulate_dep)   
			FROM ASSET_SALES_HISTORY a with(nolock)
			INNER JOIN ASSET_INVENTORY b with(nolock) on a.asset_id=b.id
			where a.sold_date between @FYStartDate and @FYEndDate 
			GROUP BY b.product_id
	)soldDep on mas.productId = soldDep.product_id
	left join
	(
			SELECT 
				 product_id = b.product_id
				,writeoffDep= sum(a.accumulate_dep)  
			FROM ASSET_WRITEOF_HISTORY a with(nolock)
			INNER JOIN ASSET_INVENTORY b with(nolock) on a.asset_id=b.id
			where a.write_off_date between @FYStartDate and @FYEndDate 
			GROUP BY b.product_id
	)writeoffDep on mas.productId = writeoffDep.product_id

	EXEC proc_errorHandler '0', 'Report has been prepared successfully.', NULL
	
	
	SELECT 'Fiscal Year' head,@fy VALUE

	SELECT 'Depreciation Yearly Summary Report' title	
end
GO
