USE [ERP_copt_new];
GO
/****** Object:  StoredProcedure [dbo].[proc_In_listemployeeName]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON;
GO
SET QUOTED_IDENTIFIER ON;
GO
--select top 20 product_desc +' ('+ p.porduct_code +') |' + cast(p.id as varchar) as product from IN_BRANCH B with(nolock) , IN_PRODUCT P with(nolock) 
	--where b.PRODUCT_ID=P.id and B.BRANCH_ID=@branch
	--and product_desc like @product +'%' 
	--order by product_desc

ALTER PROCEDURE [dbo].[proc_In_listemployeeName]
    @fname VARCHAR(100) ,
    @empId INT = NULL ,
    @flag VARCHAR(100) = NULL
AS
    SET NOCOUNT ON;
					
    IF @flag = 'a'
        BEGIN
            SELECT  FIRST_NAME + ' ' + MIDDLE_NAME + ' ' + LAST_NAME + ' -'
                    + EMP_CODE + ' (' + b.BRANCH_NAME + ') ' + '|'
                    + CONVERT(VARCHAR, EMPLOYEE_ID) AS EmployeeName
            FROM    Employee e WITH ( NOLOCK )
                    INNER JOIN Branches b ON e.BRANCH_ID = b.BRANCH_ID
            WHERE   FIRST_NAME LIKE @fname + '%'
                    AND e.EMP_STATUS = '458'
                    AND e.EMPLOYEE_ID != @empId
            ORDER BY FIRST_NAME;
        END;
    ELSE
        BEGIN
            SELECT  FIRST_NAME + ' ' + MIDDLE_NAME + ' ' + LAST_NAME + ' -'
                    + EMP_CODE + ' (' + b.BRANCH_NAME + ') ' + '|'
                    + CONVERT(VARCHAR, EMPLOYEE_ID) AS EmployeeName
            FROM    Employee e WITH ( NOLOCK )
                    INNER JOIN Branches b ON e.BRANCH_ID = b.BRANCH_ID
            WHERE   FIRST_NAME LIKE @fname + '%'
                    AND e.EMP_STATUS = '458'
            ORDER BY FIRST_NAME;
        END;
  

GO
