USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procEndStartFiscalYear]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
 EXEC [procEndStartFiscalYear] 'i','67-68','admin'
*/
CREATE PROC [dbo].[procEndStartFiscalYear]
	@flag VARCHAR(1),
	@endFY VARCHAR(20),
	@user VARCHAR(20)
AS
	SET NOCOUNT ON;
	set xact_abort on;	
	
IF @flag='i'
BEGIN	
	
	DECLARE @DEP_VALUE AS MONEY,@monthStartDate as varchar(20),@monthEndDate as varchar(20)
	DECLARE @startFY AS VARCHAR(30)
	SET @monthStartDate=dbo.GetMonthStartDateEng(@endFY,'4')
	SET @monthEndDate=dbo.GetMonthEndDateEng(@endFY,'3')
	
	SELECT @startFY=FISCAL_YEAR_NEPALI FROM FiscalYear WHERE en_year_start_date= DATEADD(DAY,1,
	(SELECT en_year_end_date FROM FiscalYear WHERE FISCAL_YEAR_NEPALI=@endFY))
	
	if not exists(select top 1 * from depreciation_status where run_month=3 and fiscal_year=@endFY)
	begin
		select 'Depreciation booking is not completed for '+@endFY+' fiscal year!' as MSG
		return;
	end
	if exists(select distinct(branch_id) from ASSET_INVENTORY where branch_id not in 
		(select branch_id from depreciation_status where fiscal_year=@endFY and run_month=3) and depr_start_date<@monthEndDate and asset_status='Active')
	BEGIN
			DECLARE @strMissingList VARCHAR(200)
			SELECT @strMissingList =COALESCE(@strMissingList + ', ', '') + A.branch_name from 
				(select branch_id,branch_name from branches)A,
				(select distinct(branch_id) from ASSET_INVENTORY where branch_id not in 
				(select branch_id from depreciation_status where fiscal_year=@endFY and run_month=3) 
					and depr_start_date<@monthEndDate and asset_status='Active')B WHERE A.BRANCH_ID=B.branch_id

			SELECT @strMissingList+' are still pending branches to book depreciation for the previous '+@endFY+' fiscal year!' AS REMARKS
			RETURN;
	END
	
	IF NOT EXISTS(SELECT top 1 fiscal_year FROM depreciation_setup WHERE fiscal_year=@endFY)
	BEGIN
		SELECT 'Depreciation for '+@endFY+' fiscal year has not setup yet!' AS MSG
		RETURN;
	END	
	
	IF exists(SELECT top 1 fiscal_year FROM depreciation_setup WHERE fiscal_year=@endFY)
	BEGIN			
		
		SELECT id AS asset_id,@startFY as fiscal_year,
		round(((((purchase_value-acc_depriciation)*depre_pct)/100)/12),2) as m1,round(((((purchase_value-acc_depriciation)*depre_pct)/100)/12),2) as m2,
		ROUND(((purchase_value-acc_depriciation)*depre_pct/100)- (((((purchase_value-acc_depriciation)*depre_pct)/100)/12)*11),2) as m3,
		round(((((purchase_value-acc_depriciation)*depre_pct)/100)/12),2) as m4,
		round(((((purchase_value-acc_depriciation)*depre_pct)/100)/12),2) as m5,round(((((purchase_value-acc_depriciation)*depre_pct)/100)/12),2) as m6,
		round(((((purchase_value-acc_depriciation)*depre_pct)/100)/12),2) as m7,round(((((purchase_value-acc_depriciation)*depre_pct)/100)/12),2) as m8,
		round(((((purchase_value-acc_depriciation)*depre_pct)/100)/12),2) as m9,round(((((purchase_value-acc_depriciation)*depre_pct)/100)/12),2) as m10,
		round(((((purchase_value-acc_depriciation)*depre_pct)/100)/12),2) as m11,round(((((purchase_value-acc_depriciation)*depre_pct)/100)/12),2) as m12,
		
		depre_pct as dep_pct,acc_depriciation as acc_dep,(purchase_value-acc_depriciation) as base_value 
		INTO #TEMP_TABLE 
		FROM ASSET_INVENTORY 
			where is_amortised='N' and asset_status='Active' and depr_start_date<=@monthEndDate
				
		DELETE FROM #temp_table 						
			FROM #temp_table t
			INNER JOIN depreciation_setup ds ON t.asset_id = ds.asset_id
			AND  ds.fiscal_year = t.fiscal_year AND ds.fiscal_year = @startFY
		
		INSERT INTO depreciation_setup(asset_id,fiscal_year,m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12,dep_pct,acc_dep,base_price)			
		SELECT * FROM #temp_table
		
		
		SELECT id AS asset_id,booked_date,depr_start_date,fiscal_year,
			branch_id,acc_depriciation,purchase_value,created_by,created_date
		INTO #TEMP_TABLE1
		FROM
		(
			SELECT id,booked_date,depr_start_date,@startFY as fiscal_year,
				branch_id,acc_depriciation,purchase_value,@user as created_by,GETDATE() as created_date 		
				FROM ASSET_INVENTORY 
				WHERE is_amortised='N' and asset_status='Active' and depr_start_date<=@monthEndDate
		
			UNION ALL
		
			SELECT id,booked_date,depr_start_date,@startFY as fiscal_year,
				branch_id,acc_depriciation,purchase_value,@user as created_by,GETDATE() as created_date 		
			FROM ASSET_INVENTORY 
			WHERE is_amortised='Y' and asset_status='Active' AND depr_start_date<=@monthEndDate 
		)A
		
		DELETE FROM #TEMP_TABLE1 						
			FROM #TEMP_TABLE1 t1
			INNER JOIN Asset_Opening_Balance op ON t1.asset_id = op.asset_id
			AND  op.fiscal_year = t1.fiscal_year AND op.fiscal_year = @startFY
		
		INSERT INTO Asset_Opening_Balance(asset_id,booked_date,dep_start_date,fiscal_year,branch_id,acc_dep,purchase_value,created_by,created_date)
		SELECT * FROM #TEMP_TABLE1
		
		UPDATE FiscalYear SET FLAG='TRUE' WHERE FISCAL_YEAR_NEPALI=@startFY
		UPDATE FiscalYear SET FLAG='FALSE' WHERE FISCAL_YEAR_NEPALI=@endFY
			
		SELECT 'Depreciation value for '+@startFY+' fiscal year has been setup!' AS MSG
	END	
	
END
GO
