USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procSuperVisorRpt]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Exec procSuperVisorRpt @flag='A',@branch_id='1',@dept_id=null

CREATE PROC [dbo].[procSuperVisorRpt]
	   @flag CHAR(1),
	   @branch_id INT=null,
	   @dept_id int=null,
	   @EMP_ID INT =NULL

AS	
SET NOCOUNT ON;
SET XACT_ABORT ON;		
IF @flag='A'
BEGIN	
		  
	select emp,dbo.GetEmployeeInfoById(emp)	  from
	(
		select distinct emp from SuperVisroAssignment a inner join Employee b on a.EMP=b.EMPLOYEE_ID
		where record_status='y' and b.BRANCH_ID =ISNULL(@branch_id,BRANCH_ID) and b.DEPARTMENT_ID =ISNULL(@dept_id,DEPARTMENT_ID)
	)a
END
IF @flag='B'
BEGIN
	select B.EMP_CODE [EMP CODE],dbo.GetEmployeeInfoById(SUPERVISOR) [Supervisor Name],
	case when SUPERVISOR_TYPE='i' then 'Immediate Supervisor' else 'Supervisor' end [Supervisor Type],
	dbo.GetEmployeeFullNameOfId(a.CREATED_BY) [Created By],CONVERT(varchar,a.CREATED_DATE,107) [Created Date] 
	from SuperVisroAssignment A INNER JOIN EMPLOYEE B ON A.SUPERVISOR=B.EMPLOYEE_ID
	where record_status='y'	and EMP=@EMP_ID
	order by emp
END

IF @flag='C'
BEGIN
	SELECT A.EMPLOYEE_ID,A.EMP_CODE [EMP CODE],A.EMP_NAME [EMPLOYEE NAME],B.IMM_SUP [IMMEDIATE SUPERVISOR],C.SUPERVISOR,B.IM_CERATED_BY [IMM. CREATED BY]
	,B.IM_CERATED_DATE [IMM. CREATED DATE],C.SUP_CREATED_BY [SUP CREATED BY],C.SUP_CREATED_DATE [SUP CREATED DATE] FROM 
	(
		SELECT EMPLOYEE_ID,EMP_CODE,FIRST_NAME+' '+MIDDLE_NAME+' '+LAST_NAME EMP_NAME,BRANCH_ID,DEPARTMENT_ID from Employee 
		where EMP_STATUS=458
	)A 
	LEFT JOIN
	(
		SELECT emp,DBO.GetEmployeeFullNameOfId(SUPERVISOR) IMM_SUP,
		DBO.GetEmployeeFullNameOfId(CREATED_BY) IM_CERATED_BY,convert(varchar,CREATED_DATE,107) IM_CERATED_DATE
		FROM SuperVisroAssignment WHERE record_status='y' AND SUPERVISOR_TYPE='i'
	)B ON A.EMPLOYEE_ID=B.EMP
	LEFT JOIN
	(
		SELECT emp,DBO.GetEmployeeFullNameOfId(SUPERVISOR) SUPERVISOR,DBO.GetEmployeeFullNameOfId(CREATED_BY) SUP_CREATED_BY,
		convert(varchar,CREATED_DATE,107) SUP_CREATED_DATE
		FROM SuperVisroAssignment WHERE record_status='y' AND SUPERVISOR_TYPE='s'
	)C ON A.EMPLOYEE_ID=C.EMP  
	WHERE A.EMPLOYEE_ID<>1000 
	AND A.BRANCH_ID=ISNULL(@branch_id,A.BRANCH_ID) AND A.DEPARTMENT_ID=ISNULL(@dept_id,A.DEPARTMENT_ID)
	order by a.EMP_CODE
END
GO
