USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[porcLeaveRemarksReport]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--select * from OfficialCalendar
CREATE procedure [dbo].[porcLeaveRemarksReport]
				@fromdate varchar(10)=null,
				@todate varchar(10)=null

As
	set nocount on;				
	
	begin
		select TITLE 'Holliday Name', CONVERT(varchar, [DATE], 107) 'Date', NATURE 'NATURE', DESCRIPTION 'Holiday Details'
			from OfficialCalendar
			where TYPE ='H' and [DATE] between @fromdate and @todate

		select DESCRIPTION 'Remarks'
			from OfficialCalendar
			where TYPE ='R'
	end
GO
