USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[Proc_Wisher]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[Proc_Wisher]

as

Begin

	-- Declare variables for E-mail Notification.
	DECLARE 
	 @empname AS VARCHAR(20)
	,@leaveName AS VARCHAR(500)
	,@msgContent AS VARCHAR(MAX)
	,@recipient AS VARCHAR(500)
	,@strList varchar(MAX)
			
			
			-- Set variable for Email Notification.
			
	SET @msgContent=
	'Dear Sir/Madam
		Happy Birthday!!!
		
	Thanks & Regards
	Sunrise Bank Ltd (HR Department)'

		SELECT @recipient = rtrim(CAST(OFFICIAL_EMAIL AS varchar(200)))+';' + ISNULL(@recipient, '')  FROM Employee E 
		INNER JOIN StaticDataDetail SDD ON SDD.ROWID=E.SALUTATION
		WHERE DATEPART(mm,BIRTH_DATE)=DATEPART(mm,GETDATE())
        AND DATEPART(dd,BIRTH_DATE)=DATEPART(dd,GETDATE()) AND EMPLOYEE_ID<>1000 AND EMP_STATUS = 458
        OR E.DEPARTMENT_ID=28

       If exists (SELECT rtrim(CAST(OFFICIAL_EMAIL AS varchar(200)))+';' + ISNULL(@recipient, '')  FROM Employee E 
		INNER JOIN StaticDataDetail SDD ON SDD.ROWID=E.SALUTATION
		WHERE DATEPART(mm,BIRTH_DATE)=DATEPART(mm,GETDATE())
        AND DATEPART(dd,BIRTH_DATE)=DATEPART(dd,GETDATE()) AND EMPLOYEE_ID<>1000 AND EMP_STATUS = 458)
        begin

			EXEC PROC_MAIL_SEND @recipient=@recipient, @subject_text='Birthday Wish!', @msg_text=@msgContent
		End
		Else
		Return;
		
End
GO
