USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procOnSiteDutyReport]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
EXEC procOnSiteDutyReport '1004','2011-03-07','2011-03-07'
exec ProcOnSiteDutyReport null,'2/20/2011','3/11/2011'

*/

CREATE PROCEDURE [dbo].[procOnSiteDutyReport]
			
         @empid			varchar(20) = null
         ,@datefrom		varchar(20) = null
         ,@dateto		varchar(20) = null
         ,@branch		varchar(20) = null
         ,@dept			varchar(20) = null
		

AS


SET NOCOUNT ON
DECLARE @SQL VARCHAR(MAX) 

BEGIN
    
	SET @SQL='SELECT dbo.GetBranchName(branch) AS BRANCH
	,dbo.GetDeptName(dept) AS DEPARTMENT
	,DBO.GetEmployeeFullNameOfId(empID) AS EMPLOYEE
	,CAST(sitedatefrom  AS VARCHAR(10))+'' to ''+CAST(sitedateto  AS VARCHAR(10)) AS [SITE DATE]
	,siteLocation LOCATION,purpose PURPOSE,[description] DESCRIPTION
	FROM onsiteDuty
	WHERE 1=1 '
	
	IF @branch IS NOT NULL
		SET @SQL=@SQL+' AND BRANCH='+@branch
		
	IF @dept IS NOT NULL
		SET @SQL=@SQL+' AND DEPT='+@dept
	
	IF @empid IS NOT NULL
		SET @SQL=@SQL+' AND empID='+@empid
		
	SET @SQL=@SQL+' AND sitedatefrom BETWEEN '''+@datefrom+''' AND '''+@dateto+''''
	--PRINT @SQL
	EXEC (@SQL)
	
	
END
GO
