USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_templateRecord]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[proc_templateRecord]
	@flag varchar(2) 
	,@templateId INT = NULL
	,@templateName VARCHAR(500) = NULL
	,@tDescription VARCHAR(500) = NULL
	,@markingBy VARCHAR(100) = NULL
	,@markingType VARCHAR(50) = NULL
	,@percentage INT = NULL
	,@createdBy INT = NULL
	,@createdDate DATETIME = NULL
	,@sessionId VARCHAR(100) = NULL
	,@modifiedBy VARCHAR(100) = NULL
	,@modifiedDate DATETIME = NULL
	,@rowId INT = NULL
	
	
AS
SET NOCOUNT ON;

/*
Exec [proc_templateRecord] @flag='as',@templateId='1',@sessionId='uvwien2155hhd4553zcmaanr'
Exec [proc_templateRecord] @flag='a',@markingBy='664',@markigType='n',@percentage=null
Exec [proc_templateRecord] @flag='fs',@templateName='Officer Level (O - SO)',@tDescription='Officer Level (O - SO)',@createdBy='1000'
Exec [proc_templateRecord] @flag='s',@sessionId='jmoukczedlfdtkrsc3qcvrnp',@templateId='1'
Exec [proc_templateRecord] @flag='fs',@templateName='Assistant Level (JA - SA)',@tDescription='Assistant Level (JA - SA)',@createdBy='1000',@sessionId='tvnp3o55adv1wramhjitj045'
*/
IF @percentage is null
set @percentage = 0;

IF @sessionId is null
set @sessionId = ''

IF @flag = 'a'
BEGIN
	  IF EXISTS( SELECT markingBy FROM templateRecordMarking WHERE markingBy =@markingBy and   ISNULL(sessionId, '') in(case isnull(@sessionId,'') when  '' then '' else @sessionId end))
 
   BEGIN
      SELECT 'Record is already Added!' MSG
      RETURN   
   END

		INSERT INTO templateRecordMarking(markingBy
								  ,markingType
								  ,percentage
								  ,sessionId
								  ,templateId
								  )
							SELECT @markingBy
								  ,@markingType
								  ,@percentage
								  ,@sessionId
								  ,@templateId 
								  
		SELECT 'Data Inserted Successfully'	AS MSG						
END

IF @flag='s'
BEGIN
		SELECT ROW_NUMBER() over (order by ttr.rowId) [ID]
				,sdd.DETAIL_TITLE [Marking By]
				,CASE markingType WHEN 'y' THEN 'YES' ELSE 'NO' END [Marking Type]
				,percentage [Percentage]
				--,'<img onclick = "DeleteNotification(' + CAST(ttr.rowId AS VARCHAR(10)) + ')" class = "showHand" border = "0" title = "Delete Notification" src="../../Images/delete.gif" />' [Delete] 		
				,'<span onclick = "DeleteNotification(' + CAST(ttr.rowId AS VARCHAR(10)) + ')" style="cursor:pointer;" class="tool btn btn-primary btn-xs" data-toggle="tooltip" data-placement="top" title="Delete"><i class="fa fa-times" aria-hidden="true"></i></span>' AS Action   
		FROM templateRecordMarking ttr
		INNER JOIN StaticDataDetail sdd ON sdd.ROWID = ttr.markingBy
		WHERE isnull(sessionId,'') in(case isnull(@sessionId,'') when '' then '' else @sessionId end) and   isnull(templateId,'') in(case isnull(@templateId,'') when '' then '' else @templateId end)
END

IF @flag='ds'
BEGIN
		INSERT INTO templateRecordMarking(markingBy
								  ,markingType
								  ,percentage
								  ,sessionId
								  ,templateId
								  )
							SELECT @markingBy
								  ,@markingType
								  ,@percentage
								  ,@sessionId
								  ,@templateId 
		
		UPDATE templateRecord 
			SET templateName = @templateName
				,templateDescription = @tDescription
				,modifyBy = @modifiedBy
				,modifyDate = GETDATE()
		WHERE templateId = @templateId
END

IF @flag = 'd'
BEGIN
		DELETE FROM templateRecordMarking WHERE rowId = @rowId
		
		SELECT 'Record Deleted Successfully' AS MSG
END

IF @flag = 'fs'
BEGIN

	 IF EXISTS( SELECT templateName FROM templateRecord WHERE templateName = @templateName)
 
	   BEGIN
		  SELECT 'Record is already Added!' MSG
		  RETURN   
	   END
		INSERT INTO templateRecord(templateName
									,templateDescription
									,createdBy
									,createdDate
								   )
							select @templateName
									,@tDescription
									,@createdBy
									,GETDATE()
									
		SET @templateId = SCOPE_IDENTITY()
		
		UPDATE templateRecordMarking 
			SET templateId = @templateId
				,sessionId = ''
		WHERE sessionId = @sessionId							
		
		SELECT 'Record Saved successfully' AS MSG
END

IF @flag = 'u'
BEGIN
		UPDATE templateRecord 
			SET templateName = @templateName
				,templateDescription = @tDescription
				,modifyBy = @modifiedBy
				,modifyDate = GETDATE()
		WHERE templateId = @templateId
		
		UPDATE templateRecordMarking
			SET templateId=@templateId
				,sessionId = ''
		WHERE sessionId =@sessionId
		
		SELECT 'Record Updated Successfully' AS MSG
END

/*
truncate table templateRecord
truncate table temp_templateRecord
select * from temp_templateRecord
select * from templateRecord
delete from temp_templateRecord where sessionId='v3imoe55pizw1l45zjo5ni45'
*/
GO
