USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procManageFlightDetails]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[procManageFlightDetails]
			 @flag				CHAR(5)			=	NULL
			,@id				INT				=	NULL
			,@emp_id			INT				=	NULL
			,@branch_id			INT				=	NULL
			,@department_id		INT				=	NULL
			,@position_id		INT				=	NULL
			,@flightDate		DATE			=	NULL
			,@fromPlace			VARCHAR(500)	=	NULL
			,@toPlace			VARCHAR(500)	=	NULL
			,@flightTime		VARCHAR(500)	=	NULL
			,@returnFlightDate	DATE			=	NULL
			,@returnFromPlace	VARCHAR(500)	=	NULL
			,@returnToPlace		VARCHAR(500)	=	NULL
			,@returnFlightTime	VARCHAR(500)	=	NULL
			,@purpose			VARCHAR(500)	=	NULL
			,@user				INT				=	NULL
			,@session_id		VARCHAR(100)	=	NULL
			,@rowId				VARCHAR(10)		=	NULL
			,@authorised_by		INT				=	NULL
			,@FLG				VARCHAR(2)		=	NULL
			,@flightId          INT				=	NULL
			,@approvalMsg		VARCHAR(MAX)	=	NULL
			,@verificationMsg	VARCHAR(MAX)	=	NULL
			,@ackMsg			VARCHAR(MAX)	=	NULL
			,@paidMsg			VARCHAR(MAX)	=	NULL
		AS

		------ Insert into the table -------
		IF @flag = 'i'
		BEGIN
			INSERT INTO FlightDetails(emp_id,
										branch_id,	
										department_id,
										position_id,
										flightDate,
										FromPlace,
										ToPlace,
										FlightTime,
										ReturnFlightDate,
										ReturnFromPlace,
										ReturnToPlace,
										ReturnFlightTime,
										Purpose,
										ApproveStatus,
										ackStatus,
										verificationStatus,
								        paidStatus,
									    CreatedBy,
									    CreatedDate)
								SELECT @emp_id,
										BRANCH_ID,
										DEPARTMENT_ID,
										POSITION_ID,
										@flightDate,
										@fromPlace,
										@toPlace,
										@flightTime,
										@returnFlightDate,
										@returnFromPlace,
										@returnToPlace,
										@returnFlightTime,
										@purpose,
										'Pending',
										'Pending',
										'Pending',
										'Pending',
										@user,
										GETDATE()
			FROM Employee WHERE EMPLOYEE_ID = @emp_id

			SET @rowid = @@IDENTITY

			UPDATE Flight_Authorization SET
				 flightId	= @rowId
				,Session_id = NULL
			WHERE Session_id = @session_id AND flightId IS NULL

			-----------Send Mail While Requesting For Flight Detail-------------------

			Declare @reqmsg varchar(max),@reqrecipient varchar(max), @reqEmp_Info varchar(500),@reqstrList varchar(MAX),@autho varchar(max)
			SELECT @autho=ISNULL(@autho+';','')+cast(authorised_by as varchar) from Flight_Authorization where flightId=@rowid and Session_id is null
			SELECT @reqstrList = ISNULL(@reqstrList + '; ', '') +
				   CAST(isnull(OFFICIAL_EMAIL,'') AS varchar(200))
				   FROM Employee where EMPLOYEE_ID in (select Name from dbo.split(@autho, ';'))
			
			select  @emp_id = emp_id,
						@fromPlace=FromPlace,
						@toPlace=ToPlace,
						@flightDate = flightDate,
						@purpose = ISNULL(Purpose,'')
						from FlightDetails where id = @rowid

				select @reqEmp_Info= FIRST_NAME+isnull(' '+MIDDLE_NAME+' ',' ')+LAST_NAME+' ('+rtrim(dbo.GetBranchOfId(BRANCH_ID))+' - '+
						rtrim(dbo.GetDeptName(DEPARTMENT_ID))+' - '+rtrim(dbo.GetDetailTitle(POSITION_ID))+')' 
						from Employee 
						where EMPLOYEE_ID=@emp_id
					
				SET @reqmsg=
					    'Dear Sir/Madam '+','+CHAR(10)+
					    @reqEmp_Info +'has requested For Flight Detail.'+CHAR(10)+
					    'From: '+isnull(@fromPlace,'')+CHAR(10)+
						'To: '+isnull(@toPlace,'')+CHAR(10)+
						'For the Purpose of: '+isnull(@purpose,'')+CHAR(10)+
						'FlightDate: '+cast(isnull(@flightDate,'') as varchar) +CHAR(10)+
						 @reqEmp_Info +' is seeking your approval for above concerned details.
						Click here to go in system: http://hrms.nabilbank.com/'
				SELECT @reqrecipient=@reqstrList
				Exec procEmailNotes @flag='Insert',@sendTo=@reqrecipient,@subject='Flight Detail Request',@notesText=@reqmsg
			-------Sending email Terminated---------------------------------------
		END
		
		------ Insert into the table for recording process-------
		IF @flag = 'R'
		BEGIN
			INSERT INTO FlightDetails(emp_id,
										branch_id,	
										department_id,
										position_id,
										flightDate,
										FromPlace,
										ToPlace,
								   		FlightTime,
										ReturnFlightDate,
										ReturnFromPlace,
										ReturnToPlace,
										ReturnFlightTime,
										Purpose,
										ApproveStatus,
										CreatedBy,
										CreatedDate)
								SELECT @emp_id,
										BRANCH_ID,
										DEPARTMENT_ID,
										POSITION_ID,
										@flightDate,
										@fromPlace,
										@toPlace,
										@flightTime,
										@returnFlightDate,
										@returnFromPlace,
										@returnToPlace,
										@returnFlightTime,
										@purpose,
										'Approved',
										@user,
			GETDATE()
			FROM Employee WHERE EMPLOYEE_ID = @emp_id

			SET @rowid = @@IDENTITY

			UPDATE Flight_Authorization SET
				 flightId	= @rowId
				,Session_id = NULL
			WHERE Session_id = @session_id AND flightId IS NULL
			
			
		

				
		END
		------- Update the table ----------
		
		IF @flag = 'u'
		BEGIN
			UPDATE FlightDetails SET
				 flightDate			= @flightDate
				,FromPlace			= @fromPlace
				,ToPlace			= @toPlace
				,FlightTime			= @flightTime
				,ReturnFlightDate	= @returnFlightDate
				,ReturnFromPlace	= @returnFromPlace
				,ReturnToPlace		= @returnToPlace
				,ReturnFlightTime	= @returnFlightTime
				,Purpose			= @purpose
				,ModifiedBy		= @user
				,ModifiedDate	= GETDATE()
			WHERE id = @id
			UPDATE	Flight_Authorization SET
					flightId	= @id
					,Session_id	= NULL
			WHERE Session_id	= @session_id
			SELECT 'SUCCESS!' AS MSG
			RETURN;
		END


		------------------------Displaying all the details on the page---------------------
		IF @flag = 's'
		BEGIN
			SELECT
				e.employee_id,
				e.FIRST_NAME+' '+e.MIDDLE_NAME+' '+e.LAST_NAME empName,
				b.BRANCH_NAME branchName,
				d.DEPARTMENT_NAME departmentName,
				sdd.DETAIL_TITLE POSITION,
				CONVERT(VARCHAR(12),fd.flightDate,107) AS flightDate,
				fd.FromPlace,
				fd.ToPlace,
				fd.FlightTime
				,CONVERT(VARCHAR(12),fd.ReturnFlightDate,107) AS ReturnFlightDate
				,ISNULL(fd.ReturnFromPlace,'N/A') ReturnFromPlace
				,ISNULL(fd.ReturnToPlace,'N/A') ReturnToPlace
				,ISNULL(fd.ReturnFlightTime,'N/A') ReturnFlightTime
				,fd.Purpose
			FROM FlightDetails fd
			LEFT JOIN Employee e ON fd.emp_id = e.EMPLOYEE_ID
			LEFT JOIN Departments d ON fd.department_id = d.DEPARTMENT_ID
			LEFT JOIN Branches b ON b.BRANCH_ID = fd.branch_id
			LEFT JOIN StaticDataDetail sdd ON sdd.ROWID = e.POSITION_ID
			WHERE fd.id = @id
		END


		----------- Deleting from the table
		IF @flag = 'd'
		BEGIN
			DELETE FROM FlightDetails
			WHERE id = @id
			DELETE FROM Flight_Authorization
			WHERE flightId=@flightId
			SELECT 'Success' AS msg
		END


		------- Displaying the authorised person on the grid  --------------
		IF @flag = 'sa'
		BEGIN	
			SELECT
				Id  
				,dbo.GetEmployeeFullNameOfId(Authorised_By) [Authorised BY]
			FROM Flight_Authorization
			WHERE flightId = @id
		END

		------ Get Approval Status -------
		IF @flag = 'as'
		BEGIN
			SELECT ApproveStatus FROM FlightDetails
			WHERE id = @id
		END


		------- Get Employee Details -------
		IF @flag='b'
		BEGIN		  
			SELECT
				 e.EMPLOYEE_ID
				,e.FIRST_NAME+e.MIDDLE_NAME+e.LAST_NAME AS empname
				,b.BRANCH_ID
				,b.BRANCH_NAME
				,d.DEPARTMENT_ID
				,d.DEPARTMENT_NAME
				,sdd.ROWID
				,sdd.DETAIL_TITLE
			FROM Employee e 
			LEFT JOIN Branches b ON e.BRANCH_ID=b.BRANCH_ID
			LEFT JOIN Departments d ON d.DEPARTMENT_ID=e.DEPARTMENT_ID
			LEFT JOIN StaticDataDetail sdd ON sdd.ROWID=e.POSITION_ID
			WHERE e.EMPLOYEE_ID = @emp_id
		END

		-------- Inserting authorised value to table -----------
		IF @flag = 'ia'--Inserting Authorised person
		BEGIN
			--DECLARE @Counter int = NULL,
			--@Counter1 int = NULL,
			--@counter2 int = NULL
	
			--SELECT @Counter = COUNT(id) FROM Flight_Authorization WHERE forward ='Y' AND flightId = @id
			--SELECT @Counter1 = COUNT(id) FROM Flight_Authorization WHERE forward ='Y' AND Created_By = @user and flightId = @id 
			--SELECT @counter2 = COUNT(id) FROM Flight_Authorization WHERE Created_By = @user AND Authorised_By = @authorised_by AND flightId = @id
		
			--print @Counter
			--print @Counter1
			--print @counter2
		
			--IF @Counter1=0 AND @counter2=0 AND @Counter <= 3
			--BEGIN
				INSERT INTO Flight_Authorization(
											flightId --Added
											,authorised_by
											,Session_id
											,created_by
											,created_date
										)
				SELECT   @id
						,@authorised_by
						,@session_id
						,@user
						,GETDATE()
						
				SELECT
					Id  
					,dbo.GetEmployeeFullNameOfId(Authorised_By) [Authorised BY]  
				FROM Flight_Authorization WHERE session_id = @session_id AND flightId IS NULL 
	
				--IF @FLG ='af'
				--BEGIN
				--	DECLARE @check INT = NULL,
			--		@FrCnter INT = NULL
			--			SELECT @check = COUNT(id)FROM tada WHERE id=@id AND tada_status='Approved'
			--			SELECT @FrCnter = COUNT(id) FROM Flight_Authorization WHERE forward ='Y' AND flightId = @id
			--				IF @check=0 AND @FrCnter <= 3
			--					BEGIN
			--						UPDATE Flight_Authorization SET Forward='Y',Modified_By = @user,Modified_Date = GETDATE() WHERE flightId = @id
			--						SELECT '0'[return_id], 'Request has been forwarded' [return_message]
			--					END
			--				ELSE
			--					BEGIN
			--						SELECT '1' [return_id], 'Request has been approved or forward out of range' [return_message]
			--					END
			--	END
			   
			--END
			--ELSE
			--BEGIN
			--	SELECT '1' [return_id], 'Sorry!!'[return_message]
			--END
		END

		IF @flag = 'a'
		BEGIN
			SELECT TOP 1
				employee.employee_id,
				emp_id,
				Employee.FIRST_NAME+ ' '+Employee.MIDDLE_NAME+ ' '+Employee.LAST_NAME AS empname,
				Branches.BRANCH_NAME,
				Branches.BRANCH_ID,
				Departments.DEPARTMENT_ID,
				Departments.DEPARTMENT_NAME,
				s4.DETAIL_TITLE POSITION,
				CONVERT(VARCHAR,fd.flightDate,107) flightDate,
				fd.FromPlace,
				fd.ToPlace,
				fd.FlightTime,
				CONVERT(VARCHAR,fd.ReturnFlightDate,107) ReturnFlightDate,
				fd.ReturnFromPlace,
				fd.ReturnToPlace,
				fd.ReturnFlightTime,
				fd.purpose,
				fd.approvalMsg,
				fd.verificationMsg,
				fd.verificationStatus,
				fd.ackMsg,
				fd.ackStatus,
				fd.paidMsg,
				fd.paidStatus,
				fa.Authorised_By AS authorised_id,
				ApproveStatus
			FROM FlightDetails fd
			LEFT JOIN Employee ON fd.emp_id = Employee.EMPLOYEE_ID 
			LEFT JOIN Departments ON fd.department_id = Departments.DEPARTMENT_ID 
			LEFT JOIN Branches ON Branches.BRANCH_ID = fd.branch_id
			LEFT JOIN StaticDataDetail s4 ON fd.position_id = s4.ROWID
			INNER JOIN Flight_Authorization fa ON fa.flightId = fd.id
			WHERE fa.flightId = @id ORDER BY fa.Id
			
			SELECT ROW_NUMBER() OVER(ORDER BY id ASC) AS SNO
			, dbo.GetEmployeeFullNameOfId(ta.Authorised_By) authorised_by FROM Flight_Authorization ta WHERE flightId = @id
		END

		IF @flag='ae'
		BEGIN
					UPDATE FlightDetails SET ApproveStatus = 'Approved',ApprovedBy = @user,approvalMsg=@approvalMsg WHERE id = @id
					SELECT '0' [return_id],'Request Has Been Approved' [return_message]


			------------ Email After Approval Of Flight Detail -----------------------------	
			
				
					Declare @msg varchar(max),@recipient varchar(max), @Emp_Info varchar(500),@hrlist varchar(max),@personal varchar(max)
					Declare @perPlusHrlist varchar(max),@strPersonList varchar(max)
					select @personal = isnull(@personal+';','')+cast(DETAIL_DESC as varchar) from StaticDataDetail where TYPE_ID=206
					select @hrlist = isnull(@hrlist+';','')+cast(EMPLOYEE_ID as varchar) from employee where department_id='28'
					set @perPlusHrlist=@hrlist+';'+@personal
					SELECT @strPersonList = ISNULL(@strPersonList + '; ', '') +
					CAST(isnull(OFFICIAL_EMAIL,'') AS varchar(200))
					FROM Employee where EMPLOYEE_ID in (select Name from dbo.split(@perPlusHrlist, ';'))
					

					select  @emp_id = emp_id,
							@fromPlace=FromPlace,
							@toPlace=ToPlace,
							@flightDate = flightDate,
							@purpose = ISNULL(Purpose,'')
					from FlightDetails where id =@id

					select 
					@Emp_Info= FIRST_NAME+isnull(' '+MIDDLE_NAME+' ',' ')+LAST_NAME+' ('+rtrim(dbo.GetBranchOfId(BRANCH_ID))+' - '+
					rtrim(dbo.GetDeptName(DEPARTMENT_ID))+' - '+rtrim(dbo.GetDetailTitle(POSITION_ID))+')' 
					from Employee 
					where EMPLOYEE_ID=@emp_id
					
					SET @msg=
					 'Dear Sir/Madam '+','+CHAR(10)+
					 'The Request of '+isnull(@Emp_Info,'')+' For Flight Detail.'+CHAR(10)+
					 'From: '+isnull(@fromPlace,'')+CHAR(10)+
					 'To: '+isnull(@toPlace,'')+CHAR(10)+
					 'For the Purpose of: '+isnull(@purpose,'')+CHAR(10)+
					 'FlightDate: '+cast(isnull(@flightDate,'') as varchar) +CHAR(10)+
					 'has been Approved.'+CHAR(10)+
					+'You are kindly requested to take necessary action.

					Click here to go in system: http://10.0.0.67/'

				SELECT @recipient=@strPersonList

				Exec procEmailNotes @flag='Insert',@sendTo=@recipient,@subject='Flight Detail Approved',@notesText=@msg

			------------Email After Approval Of Flight Detail Terminated-----------------------------	
		END
		------------------------ Displaying employee details ---------------------
		IF @flag = 'e'
		BEGIN
			SELECT
				 dbo.GetBranchName(BRANCH_ID) branchName
				,dbo.GetDeptName(DEPARTMENT_ID) departmentName
				,dbo.GetDetailTitle(POSITION_ID) POSITION
			FROM Employee
			WHERE EMPLOYEE_ID = @emp_id
		END
		
		IF @flag='dr'
		BEGIN
			DELETE FROM FlightDetails
			WHERE id = @id
			
			DELETE FROM Flight_Authorization
			WHERE flightId=@flightId
			SELECT 'Success' AS msg
		END
		
		------------------------ Verifying Flight Details ---------------------
		
		IF @flag='v'
		BEGIN
			UPDATE FlightDetails SET verificationStatus = 'Verified',verificationMsg=@verificationMsg,verifiedBy= @user WHERE id = @id
			SELECT '0' [return_id],'Request Has Been Verified' [return_message]
		END
		
		------------------------ Acknowledging Flight Details ---------------------
		
		IF @flag='ack'
		BEGIN
			UPDATE FlightDetails SET ackStatus = 'Ack',ackMsg=@ackMsg,verifiedBy= @user WHERE id = @id
			SELECT '0' [return_id],'Request Has Been Acknowledged' [return_message]
		END
		------------------------ Payment  Details		---------------------
		
		IF @flag='py'
		BEGIN
			UPDATE FlightDetails SET paidStatus = 'Paid',paidMsg=@paidMsg,verifiedBy= @user WHERE id = @id
			SELECT '0' [return_id],'Request Has Been Paid' [return_message]
		END
GO
