USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_LeaveRequest]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[proc_LeaveRequest]	
	 @flag					char(2)
	,@Employee_ID			int					=	null
	,@LeaveType				int					=	null
	,@Remdays				float				=	null
	,@ReqFromDate			VARCHAR(10)			=	null
	,@ReqToDate				VARCHAR(10)			=	null
	,@ReqDays				float				=	null
	,@AppFromDate			VARCHAR(10)			=	null
	,@AppToDate				VARCHAR(10)			=	null
	,@AppDays				float				=	null
	,@HalfDay				int					=	null
	,@LFA					int					=	null	
	,@SubstituteDate		date				=	null
	,@Relieving				int					=	null
	,@Status				varchar(50)			=	null
	,@RecommendedBy			int					=	null
	,@ApprovedBy			int					=	null
	,@Purpose				varchar(300)		=	null
	,@Is_Manual				int					=	null
	,@ccList				varchar(max)		=	null
	,@entryUser				varchar(10)			=	null
	,@entryDate				date				=	null
	,@ID					int					=	null
	,@session_id			varchar(50)			=   null

as

SET NOCOUNT ON;

	DECLARE @IS_HALFDAY INT
	,@IS_LFA INT
	,@IS_SUBSTITUTED INT
	,@IS_UNLIMITED INT
	,@IS_RELIEVING INT
	,@FORCE_LEAVE_DEDUCT MONEY
	,@LFA_Taken INT
	,@BRANCH INT
	,@DEPARTMENT INT
	,@POSITION	INT
	,@fromDate Date
	,@toDate Date
	,@Max_req_days float
	,@leaveAssign_ID INT
	,@MIN_REQ_DAYS INT
	,@leave_name varchar(500)
	,@Check_From_Date date
	,@Check_To_Date date
	
	select -- @Max_req_days=max_req_days,@MIN_REQ_DAYS=ISNULL(MIN_REQ_DAYS,@ReqDays),
		@leave_name=NAME_OF_LEAVE  
	from LeaveTypes where ID=@LeaveType
	
	select @Check_From_Date = Fromdate 
		from leaveAssignment 
		where EMPLOYEE_ID=@Employee_ID 
		AND IS_DISABLED='1' 
		AND LEAVE_TYPE_ID=@leaveType
		
		select @Check_To_Date = Todate 
		from leaveAssignment 
		where EMPLOYEE_ID=@Employee_ID
		AND IS_DISABLED='1'
		AND LEAVE_TYPE_ID=@leaveType
	
	SELECT Top 1 
		 @IS_HALFDAY		=	ISNULL(IS_HALFDAY,0)
		,@IS_LFA			=	ISNULL(IS_LFA,0)
		,@IS_SUBSTITUTED	=	ISNULL(IS_SUBSTITUTED,0)
		,@IS_UNLIMITED		=	ISNULL(IS_UNLIMITED,0)
		,@IS_RELIEVING		=	ISNULL(RELIEVING,0)
		,@FORCE_LEAVE_DEDUCT=	ISNULL(FORCE_LEAVE_DEDUCT,0)
		,@LFA_Taken			=	ISNULL(LFA_Taken,0)
		,@leaveAssign_ID	=	ID
		,@fromDate			=	FromDate
		,@toDate			=	ToDate
		,@Max_req_days=max_req_days
		,@MIN_REQ_DAYS=ISNULL(MIN_REQ_DAYS,@ReqDays)
	FROM leaveAssignment
	WHERE LEAVE_TYPE_ID = @LeaveType
		AND EMPLOYEE_ID = @Employee_ID
		AND IS_DISABLED=1
		
		
	SELECT Top 1
		@BRANCH = BRANCH_ID, @DEPARTMENT = DEPARTMENT_ID, @POSITION = POSITION_ID
	FROM Employee
	WHERE EMPLOYEE_ID = @Employee_ID

	IF @flag = 'p' --POPULATE LEAVE TYPES
	BEGIN
		
		SELECT lt.NAME_OF_LEAVE ,
				lt.ID 
		FROM LeaveTypes lt, leaveAssignment la
		WHERE lt.ID = la.LEAVE_TYPE_ID
			and la.EMPLOYEE_ID=@Employee_ID
			and IS_DISABLED=1
		
	END
	
	IF @flag='i' OR @flag='u'

	--VALIDATION
	BEGIN
		--Had Requested Leave been assigned to employee?
		IF NOT EXISTS (SELECT ID FROM leaveAssignment 
							WHERE EMPLOYEE_ID = @Employee_ID 
							AND LEAVE_TYPE_ID = @LeaveType
							and IS_DISABLED=1 
						)
		BEGIN
			SELECT '0' SUCCESS
					,'NO SUCH LEAVE BEEN ASSIGNED ' REMARKS
			RETURN
		END
			
		
		--DATE
		IF (
			(ISDATE(@ReqFromDate)=0 AND @ReqFromDate IS NOT NULL)
			OR
			(ISDATE(@ReqToDate)=0 AND @ReqToDate IS NOT NULL)
			OR
			(ISDATE(@AppFromDate)=0 AND @AppFromDate IS NOT NULL)
			OR
			(ISDATE(@AppToDate)=0 AND @AppToDate IS NOT NULL)
			)
		BEGIN
			SELECT '0' SUCCESS
					,'INVALID DATE' REMARKS
			RETURN
		END
		
		---CANT ASSING SAME REQ FROM - TO DATE
		IF EXISTS(SELECT * FROM LeaveRequest
		WHERE ((@ReqFromDate BETWEEN APPROVED_FROM AND APPROVED_TO)
		OR (@ReqToDate BETWEEN APPROVED_FROM AND APPROVED_TO))
		AND REQUESTED_BY = @Employee_ID
		And LEAVE_STATUS<>'Cancelled'
		AND ID NOT IN (CASE @flag WHEN 'i' THEN 0 ELSE @ID END)
		)
		BEGIN
		SELECT '0' SUCCESS
		,'Your leave already approved between requested dates!' REMARKS
		RETURN

		END
		
		--REQ AND REM DAYS
		IF @ReqDays >ISNULL(@Remdays,0) AND @IS_UNLIMITED = 0
		BEGIN
			SELECT '0' SUCCESS
					,'Sorry, You have no remaining leave days!' REMARKS
			RETURN
		END
		
		--- Check if the requested days is more than maximum days allowed to be requested

		
		if @Max_req_days<@ReqDays
		BEGIN
			
			SELECT '0' SUCCESS,
		   'You can''t apply '+lower(@leave_name)+' more than '+cast(@Max_req_days as varchar)+' days!' REMARKS;
			RETURN
		END
		
		IF @IS_SUBSTITUTED = 1 AND @ReqDays<>1
		BEGIN
			SELECT '0' SUCCESS
					,'REQUESTED DAYS MUST BE 1!' REMARKS
			RETURN
		END
		
		--HALF DAY
		IF @IS_HALFDAY = 0 AND @HalfDay IS NOT NULL
		BEGIN
			SELECT '0' SUCCESS
					,'HALF DAY LEAVE NOT ALLOWED!' REMARKS
			RETURN			
		END
		
		IF @ReqDays > 0.5 AND @HalfDay IS NOT NULL
		BEGIN
			SELECT '0' SUCCESS
					,'INTERRUPTED, ERROR TAKING HALF DAY LEAVE!' REMARKS
			RETURN			
		END
		
		
		--LFA DAYS
		IF @IS_LFA = 0 AND @LFA = 1
		BEGIN
			SELECT '0' SUCCESS
					,'CAN''T REQUEST LFA' REMARKS
			RETURN
		END
		
		--IF @IS_LFA =1 AND @LFA = 1 AND 
		
		IF @ReqDays < @FORCE_LEAVE_DEDUCT and ISNULL(@LFA,0) = 1
		BEGIN
			SELECT '0' SUCCESS
					,'CAN''T REQUEST LESS LFA THAN ASSIGNED' REMARKS
			RETURN
		END
		
		IF (cast(@ReqFromDate as DATE)<@Check_From_Date )
		BEGIN
			SELECT '0' Success, 'Leave Request can only be applied between the Assigned dates!! ' REMARKS
			RETURN;
		END
		
		IF (cast(@ReqToDate as DATE)>@Check_To_Date )
		BEGIN
			SELECT '0' Success, 'Leave Request can only be applied between the Assigned dates!! ' REMARKS
			RETURN;
		END
		/*
			EXEC proc_LeaveRequest @flag = 'i', @ID = null, @Employee_ID ='1640'
			, @LeaveType ='1', @ReqFromDate ='10/1/2013', @ReqToDate	 ='10/16/2013'
			, @ReqDays   ='16', @HalfDay =null, @Status ='Pending', @Purpose ='test', @RecommendedBy ='1541'
			, @ApprovedBy ='1541', @Remdays ='30.825', @LFA =1, @Relieving =null, @SubstituteDate =null
			, @entryUser ='1131', @session_id ='nest5zg4ssleajsjqxrpzkw1', @cclist =''
		*/
		
		--select @IS_LFA,@LFA_Taken,@Remdays, @ReqDays,@FORCE_LEAVE_DEDUCT
		--return;
		IF ISNULL(@LFA,0) = 1 AND ISNULL(@LFA_Taken,0) = 0 AND @ReqDays<@FORCE_LEAVE_DEDUCT --(@Remdays - @ReqDays < @FORCE_LEAVE_DEDUCT)
		BEGIN
			SELECT '0' SUCCESS
					,'YOU MUST TAKE LFA' REMARKS
			RETURN
		END 
		
		IF @LFA = 1 AND @LFA_Taken = 1
		BEGIN
			SELECT '0' SUCCESS
					,'YOU HAVE ALREADY TAKEN LFA' REMARKS
			RETURN
		END 
		
		--COMPULSORY FIELDS
		IF @LeaveType IS NULL
		BEGIN
			SELECT '0' SUCCESS
					,'PLEASE SELECT LEAVE TYPE' REMARKS
			RETURN
		END
		
		IF @ReqFromDate IS NULL OR @ReqToDate IS NULL
		BEGIN
			SELECT '0' SUCCESS
					,'PLEASE SET LEAVE REQUEST DATES' REMARKS
			RETURN
		END
		
		IF @IS_SUBSTITUTED = 1 AND @SubstituteDate IS NULL
		BEGIN
			SELECT '0' SUCCESS
					,'SUBSTITUTION DATE IS COMPULSORY' REMARKS
			RETURN
		END
		
		IF @RecommendedBy IS NULL OR @ApprovedBy IS NULL
		BEGIN
			SELECT '0' SUCCESS
					,'RECOMMENDER AND APPROVER ARE REQUIRED' REMARKS
			RETURN
		END
		
		--RELIEVING remaining
		IF @IS_RELIEVING = 1 AND @Relieving IS NULL
		BEGIN
			SELECT '0' SUCCESS
					,'SUBSTITUTED BY IS COMPULSORY' REMARKS
			RETURN
		END
		
		--Releiving person and requested by person different
		IF @Relieving = @Employee_ID
		BEGIN
			SELECT '0' SUCCESS
					,'SUBSTITUTED PERSON CAN''T BE REQUESTING PERSON HIMSELF' REMARKS
			RETURN
		END
		IF ISNULL(@LFA,0) = 1 AND @ReqDays<15 AND ISNULL(@IS_LFA,0)=1
		BEGIN
			SELECT '0' SUCCESS
					,'You can not apply leave with LFA, LFA needs 15 days!' REMARKS
			RETURN
		END

--- ### CHEKING MINIMUM REQUEST DAYS WHILE APPLYING LEAVE
		IF @ReqDays<@MIN_REQ_DAYS 
		BEGIN
		   SELECT '0' SUCCESS,
		   'You can''t apply '+lower(@leave_name)+' less than '+cast(@MIN_REQ_DAYS as varchar)+' days!' REMARKS;
		   RETURN;
		END 
		
	END


	-- Declare variables for E-mail Notification.
	DECLARE 
	 @empname AS VARCHAR(20)
	,@leaveName AS VARCHAR(500)
	,@msgContent AS VARCHAR(MAX)
	,@recipient AS VARCHAR(500)
	,@msgContent1 AS VARCHAR(MAX)
	,@msgContent2 as varchar(max)
	,@leave_Id as int
	,@strList varchar(MAX)
	,@REQUESTER_Name as Varchar (100)
	,@msgContent3 AS VARCHAR(MAX)
	

	
	BEGIN TRY
	--SELECT
		IF @flag = 's'
		BEGIN
			SELECT dbo.GetEmployeeInfoById(R.REQUESTED_BY)	[REQUESTED_BY]
					,R.LEAVE_TYPE_ID
					,ISNULL(REMAINING_DAYS,0)			[REMAINING_DAYS]
					,LEAVE_STATUS
					,CONVERT(VARCHAR,FROM_DATE,101)		[FROM_DATE]
					,CONVERT(VARCHAR,TO_DATE,101)		[TO_DATE]
					,ISNULL(REQUESTED_DAYS,0)			[REQUESTED_DAYS]
					,ISNULL(REQUESTED_HRS_STATUS,0)		[REQUESTED_HRS_STATUS]
					,ISNULL(R.IS_LFA,0)					[IS_LFA]
					,ISNULL(A.IS_LFA,0)					[APPLY_LFA]
					,CONVERT(VARCHAR,SUBSTITUTED_FROM,101)[SUBSTITUTED_FROM]
					,ISNULL(A.IS_SUBSTITUTED,0)			[IS_SUBSTITUTED]
					,dbo.GetEmployeeInfoById(R.substituted_with)	[substituted_with]
					,LEAVE_PURPOSE
					,REQUESTED_WITH
					,APPROVED_BY
					,CONVERT(VARCHAR,APPROVED_FROM,101)	[APPROVED_FROM]
					,CONVERT(VARCHAR,APPROVED_TO,101)	[APPROVED_TO]
					,ISNULL(APPROVED_DAYS,0)			[APPROVED_DAYS]
					,RECOMMEND_REMARKS
					,REMARKS 
					,c.MAX_REQ_DAYS
			FROM LeaveRequest R
			join leaveAssignment A		
				on R.LEAVE_TYPE_ID = A.LEAVE_TYPE_ID and R.REQUESTED_BY=A.EMPLOYEE_ID
			inner join LeaveTypes c on c.ID=r.LEAVE_TYPE_ID 
			WHERE R.ID = @ID
			
			SELECT ROW_NUMBER() OVER (ORDER BY FROM_DATE) AS [SN]
					,CONVERT(VARCHAR,FROM_DATE,0)		[FROM DATE]
					,CONVERT(VARCHAR,TO_DATE,0)			[TO DATE]
					,ISNULL(CALL_BACK_DAYS,0)			[CALL BACK DAYS]
			FROM LeaveCallBack
			WHERE LEAVE_REQUEST_ID = @ID
			
			RETURN
		END
	
		--INSERT
		
		IF @flag = 'i'
		BEGIN
			declare @leave_req_id as int
			IF EXISTS
				(
					SELECT ID FROM LeaveRequest 
					WHERE LEAVE_TYPE_ID = @LeaveType
						AND REQUESTED_BY = @Employee_ID
						AND LEAVE_STATUS  in ('Pending','Recommended')
				)
			BEGIN
				SELECT '0' SUCCESS
						,'Your previous requested leave is not approved on '+@leave_name+'!' REMARKS
				RETURN
			END
			
			if @LeaveType=3 and	 cast(@ReqDays as int)>=4
			begin
					if not exists(select top 1 * from leaveRequestFile 
								where session_id=@session_id )
					begin
						 select	 '0' SUCCESS
						 ,'Document need to be attached!' as REMARKS
						 return;
					end
			end
		
			
			INSERT INTO LeaveRequest
			(
				REQUESTED_BY,LEAVE_TYPE_ID,FROM_DATE,TO_DATE,REQUEST_DATE,REQUESTED_DAYS
				,REQUESTED_HRS_STATUS
				,LEAVE_PURPOSE,REQUESTED_WITH
				,REQUESTED_WITH_date
				,RECOMMEND_REMARKS
				,APPROVED_BY,APPROVED_FROM,APPROVED_TO,APPROVED_DAYS
				,LEAVE_STATUS
				,REMAINING_DAYS
				,CREATED_BY,CREATED_DATE
				,ISMANUAL,IS_LFA,substituted_with,SUBSTITUTED_FROM
				,BRANCH_ID,DEPARTMENT_ID,POSITION_ID,ccList,leaveAssignId
			)
			SELECT @Employee_ID,@LeaveType,@ReqFromDate,@ReqToDate,GETDATE(),@ReqDays
				,@HalfDay
				,@Purpose,@RecommendedBy
				,REQUESTED_WITH_date = CASE
					WHEN @RecommendedBy = @ApprovedBy THEN GETDATE()
					ELSE NULL END
				,RECOMMEND_REMARKS = CASE
					WHEN @RecommendedBy = @ApprovedBy THEN 'Recommended'
					ELSE NULL END
				,@ApprovedBy,@ReqFromDate,@ReqToDate,@ReqDays
				,LEAVE_STATUS = CASE
					WHEN @RecommendedBy = @ApprovedBy THEN 'Recommended'
					ELSE @Status END
				,@Remdays
				,@entryUser,GETDATE()
				,@Is_Manual,@LFA,@Relieving,@SubstituteDate
				,@BRANCH,@DEPARTMENT,@POSITION,@ccList,@leaveAssign_ID
			
			set @leave_req_id=@@IDENTITY;
			
			update leaveRequestFile set leave_req_id=@leave_req_id,session_id=''
			where session_id=@session_id
			
			SELECT '1' SUCCESS
						,'LEAVE REQUEST SUCCESSFULLY DONE..' REMARKS
			
			-- Set variable for Email Notification.
			select @empname=FIRST_NAME+' '+MIDDLE_NAME+' '+LAST_NAME from Employee where EMPLOYEE_ID= @Employee_ID
			set @empname=ISNULL(@empname,'')
			SELECT @leaveName=NAME_OF_LEAVE FROM LeaveTypes WHERE ID=@LeaveType
			
				SET @msgContent=
				'Dear Sir/Madam

				'+@empname+' has applied '+@leaveName+' from '+CONVERT(VARCHAR,@ReqFromDate,107)+' to '+
				CONVERT(VARCHAR,@ReqToDate,107)+', ('+cast(@ReqDays as varchar)+' days).
				'+@empname+' is seeking your recommendation for above concerned details.

				click here to go in system : http://hrms.nabilbank.com/

				Thanks & Regards
				Nabil Bank Limited (HR Department)'

			SELECT @recipient=OFFICIAL_EMAIL FROM Employee WHERE EMPLOYEE_ID=@RecommendedBy
			 
			Exec procEmailNotes @flag='Insert',@sendTo=@recipient,@subject='Leave Recommendation Request',@notesText=@msgContent
						
									
			RETURN
			
		END
		
		--UPDATE
		IF @flag = 'u'
		BEGIN
			IF EXISTS
				(
					SELECT ID FROM LeaveRequest 
					WHERE ID = @ID
						AND LEAVE_STATUS = 'Approved'
				)
			BEGIN
				SELECT '0' SUCCESS
						,'THE REQUESTED LEAVE IS APPROVED!' REMARKS
				RETURN
			END
			
			if @LeaveType=3 and	 cast(@ReqDays as int)>=4
			begin
					if not exists(select top 1 * from leaveRequestFile 
								where leave_req_id=@id )
					begin
						 select	 '0' SUCCESS
						 ,'Document need to be attached!' as REMARKS
						 return;
					end
			end
			
			UPDATE LeaveRequest
			SET REQUESTED_BY		= @Employee_ID		
				,LEAVE_TYPE_ID		= @LeaveType
				,FROM_DATE			= @ReqFromDate		
				,TO_DATE			= @ReqToDate						
				,REQUESTED_DAYS		= @ReqDays
				,REQUESTED_HRS_STATUS=@HalfDay		
				,REQUESTED_WITH		= @RecommendedBy 				
				,RECOMMEND_REMARKS	= CASE
									WHEN @RecommendedBy = @ApprovedBy and @Status='Pending'
										THEN 'Recommended'
									ELSE NULL END
				,APPROVED_BY		= @ApprovedBy		
				,APPROVED_FROM		= @ReqFromDate
				,APPROVED_TO		= @ReqToDate		
				,APPROVED_DAYS		= @ReqDays
				,LEAVE_STATUS		= CASE
									WHEN @RecommendedBy = @ApprovedBy and @Status='Pending'
										THEN 'Recommended'
									ELSE @Status END
				,REMAINING_DAYS		= @Remdays
				,MODIFIED_BY		= @entryUser		
				,MODIFIED_DATE		= @entryDate
				,ISMANUAL			= @Is_Manual		
				,IS_LFA				= @LFA	
				,substituted_with	= @Relieving		
				,SUBSTITUTED_FROM	= @SubstituteDate
				,BRANCH_ID			= @BRANCH			
				,DEPARTMENT_ID		= @DEPARTMENT
				,POSITION_ID		= @POSITION			
				,ccList				= @ccList
				,LEAVE_PURPOSE		= @Purpose
			WHERE ID = @ID	
			
			SELECT '1' SUCCESS
						,'LEAVE REQUEST SUCCESSFULLY UPDATED..' REMARKS
			RETURN
		END
		
		
		--delete
		
		IF @flag = 'd'
		BEGIN
			IF NOT EXISTS
				(
					SELECT ID FROM LeaveRequest 
					WHERE ID = @ID
						AND LEAVE_STATUS = 'Pending'
				)
			BEGIN
				SELECT '0' SUCCESS
						,'YOU CAN''T DELETE THIS LEAVE..' REMARKS
				RETURN
			END
			
			DELETE FROM LeaveRequest
				WHERE ID = @ID
			SELECT '1' SUCCESS
						,'LEAVE REQUEST SUCCESSFULLY DELETED..' REMARKS
			RETURN
			
		END

	END TRY
	
	
	BEGIN CATCH
		SELECT '0' SUCCESS
						,'SORRY, FAILED TO PROCESS.' REMARKS
			RETURN
	END CATCH
GO
