USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[ProcAdhocContribution]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Exec [ProcAdhocContribution] 'u','admin',3,'1000','CMS','262', '4/1/2010','1,500.00','250.00','TESTING TESTING'
create Proc [dbo].[ProcAdhocContribution]
	@FLAG char(1),
	@USER varchar(200)= null,
	@ID int =null,
	@EMPID VARCHAR(50)=NULL,
	@CONTB_CODE	varchar(100) =null,
	@CONTB_TO	varchar(50) =null,
	@CONTB_DATE	varchar(20) =null,
	@CONTB_AMOUNT_EMPLOYEE varchar(100) = null,
	@CONTB_AMOUNT_EMPLOYER varchar(100) =null,
	@NARRATION	varchar(5000)= null,
	@Is_Paid varchar(5)= null
	
AS

	set nocount on;
	DECLARE @OLD_AMT AS MONEY
	
if @flag='i'
begin

	--select * from adhoc_contribution
	
	insert into adhoc_contribution(
				EMPLOYEE_ID,
				CONTB_CODE,
				CONTB_TO,
				CONTB_DATE,
				CONTB_AMOUNT_EMPLOYEE,
				CONTB_AMOUNT_EMPLOYER,
				NARRATION,
				Is_Paid,
				CREATED_BY,
				CREATED_DATE)
	values		
			(@EMPID,@CONTB_CODE,
				@CONTB_TO,
				@CONTB_DATE,
				@CONTB_AMOUNT_EMPLOYEE,
				@CONTB_AMOUNT_EMPLOYER,
				@NARRATION,
				@Is_Paid,
				@user,
				GETDATE())
			SELECT @ID = SCOPE_IDENTITY()
			SELECT @ID ID	
end
if @flag='u'
begin
         SELECT @OLD_AMT=CONTB_AMOUNT_EMPLOYEE FROM adhoc_contribution WHERE ID=@ID
         
		 update adhoc_contribution 
			set	CONTB_CODE = @CONTB_CODE,
				CONTB_TO = @CONTB_TO,
				CONTB_DATE = @CONTB_DATE,
				CONTB_AMOUNT_EMPLOYEE = @CONTB_AMOUNT_EMPLOYEE,
				CONTB_AMOUNT_EMPLOYER = @CONTB_AMOUNT_EMPLOYER,
				NARRATION = @NARRATION,
				Is_Paid=@Is_Paid,
				MODIFIED_BY = @user,
				MODIFIED_DATE = GETDATE()
		where 	ID=@ID
		
		INSERT INTO job_history(job_name,job_time,job_user,job_value,job_remarks,update_row,old_value)
		VALUES('Adhoc Contribution',GETDATE(),@user,@CONTB_AMOUNT_EMPLOYEE,'UPDATED',@ID,@OLD_AMT)
				
end
if @flag='s'
begin
		 select  CONTB_CODE, CONTB_TO, CONTB_DATE, dbo.showdecimal(CONTB_AMOUNT_EMPLOYEE), 
				dbo.showdecimal(CONTB_AMOUNT_EMPLOYER), NARRATION ,Is_Paid from adhoc_contribution
		where 	ID= @ID				
end

if @flag='d'
begin
	

	SELECT @OLD_AMT=CONTB_AMOUNT_EMPLOYEE FROM adhoc_contribution WHERE ID=@ID
	
	DELETE FROM adhoc_contribution WHERE ID=@ID	
	
	INSERT INTO job_history(job_name,job_time,job_user,job_value,job_remarks,update_row,old_value)
		VALUES('Adhoc Contribution',GETDATE(),@user,@OLD_AMT,'DELETED',@ID,0)	
		
	-- Exec JobHistoryRecord 'i','Adhoc Contribution',0,@OLD_AMT,'DELETED',@ID,@user	
end
GO
