USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procDeleteInventorySetup]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Exec [procDeleteInventorySetup] 'ass_booked','4381','admin'
CREATE PROCEDURE [dbo].[procDeleteInventorySetup]
		@FLAG CHAR(20),
		@ID INT,
		@USER AS VARCHAR(100)
AS
SET NOCOUNT ON;

BEGIN

	BEGIN TRANSACTION 

	DECLARE @ITEM_ID AS INT
	DECLARE @OUT VARCHAR(MAX)

	IF @flag='group'
	BEGIN
		IF EXISTS(SELECT TOP 1 * FROM IN_ITEM WHERE parent_id=@id)
		BEGIN
			SELECT 'Sorry! No Delete Operation, Already Used Group!' AS MSG
			RETURN;
		END		
		
		EXEC [proc_GetColumnToRow] 'IN_ITEM','ID',@ID, @OUT OUT		
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
		EXEC [proc_applicationLogs] @flag='i',@log_type='DELETE',@table_name='IN_ITEM',@data_id=@ID,@user=@USER,@old_data=@OUT,@new_data='',@created_by=@USER		
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
		DELETE FROM IN_ITEM WHERE id=@id
		SELECT 'SUCCESS!' AS MSG
		
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
	END
	IF @flag='product'
	BEGIN
		IF EXISTS(SELECT TOP 1 * FROM IN_PURCHASE WHERE prod_code=@id)
		BEGIN
			SELECT 'Sorry! No Delete Operation, Already Used Product!' AS MSG
			RETURN;
		END
		IF EXISTS(SELECT TOP 1 * FROM IN_SALES WHERE s_prod_id=@id)
		BEGIN
			SELECT 'Sorry! No Delete Operation, Already Used Product!' AS MSG
			RETURN;
		END
		
		EXEC [proc_GetColumnToRow] 'IN_PRODUCT','ID',@ID, @OUT OUT		
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
		EXEC [proc_applicationLogs] @flag='i',@log_type='DELETE',@table_name='IN_PRODUCT',@data_id=@ID,@user=@USER,@old_data=@OUT,@new_data='',@created_by=@USER		
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
		
		SELECT @ITEM_ID=ITEM_ID FROM IN_PRODUCT WHERE id=@ID
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
		DELETE FROM IN_PRODUCT WHERE id=@id
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
		DELETE FROM IN_ITEM WHERE ID = @ITEM_ID
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
		DELETE FROM IN_BRANCH WHERE PRODUCT_ID=@ID
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
		SELECT 'SUCCESS!' AS MSG

	END
	IF @FLAG='req'
	BEGIN

		IF NOT EXISTS(SELECT * FROM IN_Requisition_Message WHERE id=@ID AND Delivered_Date IS NULL)
		BEGIN
			SELECT 'Sorry! No Delete Operation, Already Dispatched Requisition!'
			RETURN;
		END
		
		EXEC [proc_GetColumnToRow] 'IN_Requisition_Message','ID',@ID, @OUT OUT		
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
		EXEC [proc_applicationLogs] @flag='i',@log_type='DELETE',@table_name='IN_Requisition_Message',@data_id=@ID,@user=@USER,@old_data=@OUT,@new_data='',@created_by=@USER		
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
		DELETE FROM IN_Requisition_Message WHERE ID=@ID AND Delivered_Date IS NULL

		SELECT 'SUCCESS!' AS MSG

	END
	IF @flag='ass_group'
	BEGIN
		IF EXISTS(SELECT TOP 1 * FROM ASSET_ITEM WHERE parent_id=@id)
		BEGIN
			SELECT 'Sorry! No Delete Operation, Already Used Group!' AS MSG
			RETURN;
		END
		
		EXEC [proc_GetColumnToRow] 'ASSET_ITEM','ID',@ID, @OUT OUT		
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
		EXEC [proc_applicationLogs] @flag='i',@log_type='DELETE',@table_name='ASSET_ITEM',@data_id=@ID,@user=@USER,@old_data=@OUT,@new_data='',@created_by=@USER		
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
		DELETE FROM ASSET_ITEM WHERE id=@id
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
		SELECT 'SUCCESS!' AS MSG


	END
	IF @flag='ass_product'
	BEGIN
		IF EXISTS(SELECT TOP 1 * FROM ASSET_INVENTORY WHERE product_id=@id)
		BEGIN
			SELECT 'Sorry! No Delete Operation, Already Used Asset Type!' AS MSG
			RETURN;
		END
		
		EXEC [proc_GetColumnToRow] 'ASSET_PRODUCT','ID',@ID, @OUT OUT		
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
		EXEC [proc_applicationLogs] @flag='i',@log_type='DELETE',@table_name='ASSET_PRODUCT',@data_id=@ID,@user=@USER,@old_data=@OUT,@new_data='',@created_by=@USER		
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
		SELECT @ITEM_ID=ITEM_ID FROM ASSET_PRODUCT WHERE id=@ID
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
		DELETE FROM ASSET_PRODUCT WHERE id=@ID
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
		DELETE FROM ASSET_ITEM WHERE ID = @ITEM_ID
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
		DELETE FROM ASSET_BRANCH WHERE PRODUCT_ID=@ID
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
		SELECT 'SUCCESS!' AS MSG

	END

	IF @flag='ass_booked'
	BEGIN
		IF EXISTS(SELECT TOP 1 * FROM depreciation_status WHERE asset_id=@ID)
		BEGIN
			SELECT 'Sorry! No Delete Operation, Already Booked Depreciation!' AS MSG
			RETURN;
		END
		
		EXEC [proc_GetColumnToRow] 'ASSET_INVENTORY','ID',@ID, @OUT OUT		
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
		EXEC [proc_applicationLogs] @flag='i',@log_type='DELETE',@table_name='ASSET_INVENTORY',@data_id=@ID,@user=@USER,@old_data=@OUT,@new_data='',@created_by=@USER		
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
		DELETE FROM depreciation_status WHERE asset_id = @ID
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
		DELETE FROM depreciation_setup WHERE asset_id=@ID
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
		DELETE FROM Asset_Opening_Balance WHERE asset_id=@ID
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
		DECLARE @ASSET_ID AS INT,@BRANCH_ID AS INT,@ASSET_TYPE_ID AS INT

		SELECT @BRANCH_ID=branch_id,@ASSET_TYPE_ID=product_id FROM ASSET_INVENTORY WHERE ID=@ID
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
		SELECT TOP 1 @ASSET_ID=ID FROM ASSET_INVENTORY WHERE product_id=@ASSET_TYPE_ID AND branch_id=@BRANCH_ID ORDER BY ID DESC

		IF (@ASSET_ID=@ID)
		BEGIN
			UPDATE ASSET_BRANCH SET ASSET_NEXT_NUM=ASSET_NEXT_NUM-1 WHERE BRANCH_ID=@BRANCH_ID AND PRODUCT_ID=@ID
		END
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
		DELETE FROM ASSET_INVENTORY WHERE id=@ID
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
		SELECT 'SUCCESS!' AS MSG

	END
	IF @flag='ass_delete'
		BEGIN
			UPDATE ASSET_INVENTORY SET IsDeleteStatus='Pending'
			WHERE id=@ID
			SELECT 'SUCCESS!' AS MSG
		END
	COMMIT TRANSACTION


GOTO  EndSave

QuitWithRollback:
ROLLBACK TRANSACTION 


EndSave: 


END
GO
