USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_Asset_writeoff]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_Asset_writeoff]
	@flag VARCHAR(1),
	@table_id VARCHAR(20)=NULL,	
	@user AS VARCHAR(50)=NULL,
	@queue_id AS VARCHAR(20)=NULL
AS
SET NOCOUNT ON;				
IF(@flag ='i')
BEGIN
	
	DECLARE @ASSETID AS INT
	
	SELECT @ASSETID=asset_id FROM ASSET_WRITEOFF_TEMP WHERE id=@table_id
	
	INSERT INTO ASSET_WRITEOF_HISTORY (asset_id, write_off_date, accumulate_dep, book_value, narration, created_date, created_by,approved_by,approved_date,Scrap_Value,Net_Profit_Loss)
	SELECT asset_id,write_off_date,accumulate_dep,book_value,narration,created_date,created_by,@user,GETDATE(),Scrap_Value,Net_Profit_Loss FROM ASSET_WRITEOFF_TEMP WHERE id=@table_id
	        
	UPDATE ASSET_INVENTORY SET asset_status='Write-Off' WHERE ID=@ASSETID	
		 
	DELETE FROM changesApprovalQueue WHERE dataid=@table_id AND rowId=@queue_id
	
	DELETE FROM ASSET_WRITEOFF_TEMP WHERE id=@table_id		
	
END
GO
