USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procTrainingFeedbackEvaluationAndParticipants]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* 
	(1)Procedure Definition:
    ------------------------
	THIS PROCEDURE PREPARES REPORT OF ABOUT PARTICIPANTS, EVALUATION AND FEEDBACK
	 of specified Training Program 
	 based on TrainingProgramId, TrainingListId, BranchId and current date
		
	(2) Relational Overview:
	------------------------
	(a) relation between above all parameters
	(b) relation of dbo.TrainingProgram and dbo.TrainingList, 
	    dbo.Employee 
	(c) 
	*/

--  procTrainingFeedbackEvaluationAndParticipants 1

create PROCEDURE [dbo].[procTrainingFeedbackEvaluationAndParticipants]
	@branchId		    varchar(25) = null,
	@trainingProgramId  varchar(25) = null,
	@reportType			varchar(25) = null
	--	@startDate varchar(25) = null,
	--	@endDate varchar(25) =null
AS
SET NOCOUNT ON; -- SET NOCOUNT ON added to prevent extra result sets from
BEGIN

 if @reportType='Feedback'
	begin
		SELECT
			tl.CATEGORY				  'Category',
			tl.TRAINING_NAME		  'Training Name',
			
			tp.TRAINING_PROGRAM_TITLE 'Training Title',
			tp.VENUE				  'Venue',
			tp.COUNTRY				  'Country',
			tp.ACTUAL_START_DATE	  'From',
			tp.ACTUAL_END_DATE		  'Till',
			
			tf.CREATED_BY			  'Feedback By',
			tf.CREATED_DATE			  'Feedback Date',
			tf.FEEDBACK				  'Feedback'
				
		from TrainingFeedback as tf
			 inner join TrainingProgram as tp on tf.TRAINING_PROGRAM_ID=tp.ID
			 inner join TrainingList	as tl on tl.ID=tp.TRAINING_ID
	--	where 
	--			tp.ACTUAL_START_DATE >= @startDate
	--		and tp.ACTUAL_END_DATE <=@endDate 
	end

  else if @reportType='Evaluation'
	begin
		SELECT
			tl.CATEGORY				'Category',
			tl.TRAINING_NAME		'Training Name',
			
			tp.TRAINING_PROGRAM_TITLE 'Training Title',
			tp.VENUE				'Venue',
			tp.COUNTRY				'Country',
			tp.ACTUAL_START_DATE	'From',
			tp.ACTUAL_END_DATE		'Till',
			
			te.CREATED_BY			'Evaluation By',
			te.CREATED_DATE			'Evaluation Date',
			te.EVALUATION			'Evaluation'
				
		from TrainingEvaluation as te
			inner join TrainingProgram  as tp on tp.ID = te.TRAINING_PROGRAM_ID
			inner join TrainingList		as tl on tl.ID=tp.TRAINING_ID
	end

  else if @reportType='Participants'
	begin
		SELECT
			-- from dbo.Employees
			e.FIRST_NAME + ' ' + e.MIDDLE_NAME + ' ' + e.LAST_NAME+ ' - [' + CAST(e.EMPLOYEE_ID AS VARCHAR(50)) +']' AS 'Full Name - GUID',		
			-- from dbo.TrainingList
			tl.CATEGORY			'Category',
			tl.TRAINING_NAME	'Training Name',
			-- frm dbo.TrainingProgram
			tp.TRAINING_PROGRAM_TITLE 'Training Title',
			tp.VENUE			 'Venue',
			tp.COUNTRY			 'Country',
			tp.ACTUAL_START_DATE 'From',
			tp.ACTUAL_END_DATE   'Till'
				
		from TrainingParticipants		as tParticipants
			inner join TrainingProgram	as tp on tp.ID = tParticipants.TRAINING_PROGRAM_ID
			inner join TrainingList		as tl on tl.ID=tp.TRAINING_ID
			inner join Employee			as e  on tParticipants.STAFF_ID=e.EMPLOYEE_ID
		where 
			tp.ID = @trainingProgramId
		order by
		'Full Name - GUID' asc
					
	end
END
GO
