USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_probationSalaryPayrollSchedule]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
  Exec proc_probationSalaryPayrollSchedule

*/

CREATE PROC [dbo].[proc_probationSalaryPayrollSchedule]
	
AS
SET NOCOUNT ON
SET XACT_ABORT ON
BEGIN TRY
	

	BEGIN
	-- BEGIN TRANSACTION
	  
	   DECLARE 
			 @MONTH INT
			,@FY_ID VARCHAR(10)
			,@CURRENT_MONTH_START_DATE DATE
			,@CURRENT_MONTH_END_DATE DATE
			,@DAY FLOAT
			,@TOTALDAYS FLOAT
			,@intPayableId INT
			,@intTotalPayableId INT
			,@TolCalAmount FLOAT
			,@baseAmont    FLOAT
			,@cnbtNo       FLOAT
			,@contributionRowId INT
			,@adhocContributionRowId INT
			,@AdhocPaymentRowId  INT
			,@effectiveDate  DATE 
			,@promotionWithoutFlag char(2)
			,@promotionWithFlag char(2)
			,@count INT
			,@intRowId INT
			
			
			SET @effectiveDate = (SELECT DISTINCT EFFECTIVEDATE FROM tempProbationSalary WHERE flagExecuted IS NULL AND  effectiveDate <= GETDATE() AND promotionFlag IS NOT NULL ) 
			
          --##### SET MONTH_START_DATE AND MONTH_END_DATE###############--------
			SELECT @MONTH= MONTH(nep_date) FROM tbl_calendar WHERE eng_date= CAST(@effectiveDate AS DATE)
			SELECT @Fy_ID=FISCAL_YEAR_NEPALI FROM FiscalYear WHERE FLAG='1'
			SELECT @CURRENT_MONTH_START_DATE = dbo.GetMonthStartDateEng(@Fy_ID,@month) 
			SELECT @CURRENT_MONTH_END_DATE = dbo.GetMonthEndDateEng(@Fy_ID,@month)
			SELECT @DAY= DATEDIFF (DAY , @CURRENT_MONTH_START_DATE , CAST(@effectiveDate AS DATE))+1
			SELECT @TOTALDAYS =DATEDIFF (DAY , @CURRENT_MONTH_START_DATE ,@CURRENT_MONTH_END_DATE)+1
	
	       
	       
	       
	
					SELECT 
						 payableHeadId
						,amount
						,empId
						,flag
						,effectiveDate
						,promotionFlag

					INTO #_tempProbationSalary  
					FROM (
							SELECT payableHeadId,amount,empId,flag,effectiveDate,promotionFlag FROM tempProbationSalary WHERE flagExecuted IS NULL 
							AND  effectiveDate <= GETDATE() AND promotionFlag IS NOT NULL
						 )a
			
			IF NOT EXISTS(select 'X' from #_tempProbationSalary)
			BEGIN
			     SELECT 'No Transaction Found' as MSG
			
			END

		
		
		
		    SET @promotionWithFlag = (SELECT DISTINCT promotionFlag FROM tempProbationSalary WHERE flagExecuted IS NULL 
							           AND  effectiveDate <= GETDATE() AND promotionFlag='WP')
							           
	        SET @promotionWithoutFlag = (SELECT DISTINCT promotionFlag FROM tempProbationSalary WHERE flagExecuted IS NULL 
							           AND  effectiveDate <= GETDATE() AND promotionFlag='Op')				           
			
			--select * from #_tempProbationSalary
			--return
			----drop table #_tempProbationSalary
			  
			  
			
			SELECT empId INTO  #_tempEmployee FROM 
			(
				SELECT DISTINCT empId FROM #_tempProbationSalary
			)a

			ALTER TABLE #_tempEmployee ADD rowId INT IDENTITY(1,1)
			SELECT @intRowId=max(rowId) from #_tempEmployee 
			
		
			IF @effectiveDate <= GETDATE()
			BEGIN 
			 
		
		
			 -----############# WITHOUT PROMOTION ##########------
			    IF @promotionWithoutFlag ='OP'
			    BEGIN
			   
			    UPDATE e SET 
			       EMP_TYPE = t.newEmpType
			      ,PERMANENT_DATE = @effectiveDate
			     FROM  Employee e
			     INNER JOIN (SELECT DISTINCT empId,newEmpType,newPosition FROM tempProbationSalary WHERE flagExecuted IS NULL AND effectiveDate <= @effectiveDate AND promotionFlag='op') t
			     ON e.EMPLOYEE_ID = t.empId
			     
			    
			  
			      
			     --------#########INSERT INTO CONTRIBUTION TABLE ############-------------
					  IF @effectiveDate = @CURRENT_MONTH_START_DATE
					  BEGIN
				         
				         INSERT INTO Contribution(
									  EMPLOYEE_ID
									 ,CONTRIBUTED_TO
									 ,CONTRIBUTION_CODE
									 ,VALUE_EMPLOYEE
									 ,CONTRIBUTION_BASIS_EMPLOYEE
									 ,FLAG_EMPLOYEE
									 ,VALUE_EMPLOYER
									 ,CONTRIBUTION_BASIS_EMPLOYER
									 ,FLAG_EMPLOYER
									 ,CONTRIBUTION_FROM_DATE_EMPLOYEE
									 ,CONTRIBUTION_FROM_DATE_EMPLOYER
									 ,CREATED_BY
									 )
							SELECT 
							       DISTINCT  empId 
							       ,'263'
							       ,'0001'
							       ,'10'
							       ,'36,37'	
							       ,'P'	
							       ,'10'	
							       ,'36,37'	
							       ,'P'	
							       ,@CURRENT_MONTH_START_DATE
							       ,@CURRENT_MONTH_START_DATE
							       ,'System'
							       from #_tempProbationSalary  
							       
							     SET @contributionRowId = SCOPE_IDENTITY()
							     
							
									      
							
							     
					 END 
					 
				
				 ----------############### INSERT INTO CONTRIBUTION TABLE  AND INSERT INTO ADHOC_CONTRIBUTION TABLE#############--------
				 
				 
				 IF @effectiveDate BETWEEN @CURRENT_MONTH_START_DATE AND @CURRENT_MONTH_END_DATE
					 BEGIN
					 
				       -----------########CONTRIBUTION########------------
						  INSERT INTO Contribution(
										  EMPLOYEE_ID
										 ,CONTRIBUTED_TO
										 ,CONTRIBUTION_CODE
										 ,VALUE_EMPLOYEE
										 ,CONTRIBUTION_BASIS_EMPLOYEE
										 ,FLAG_EMPLOYEE
										 ,VALUE_EMPLOYER
										 ,CONTRIBUTION_BASIS_EMPLOYER
										 ,FLAG_EMPLOYER
										 ,CONTRIBUTION_FROM_DATE_EMPLOYEE
										 ,CONTRIBUTION_FROM_DATE_EMPLOYER
										 ,CREATED_BY
										 )
								SELECT 
										DISTINCT empId
									   ,'263'
									   ,'0001'
									   ,'10'
									   ,'36,37'	
									   ,'P'	
									   ,'10'	
									   ,'36,37'	
									   ,'P'	
									   ,DATEADD(D,1, @CURRENT_MONTH_END_DATE)
									   ,DATEADD(D,1, @CURRENT_MONTH_END_DATE)
									   ,'System'
									  FROM #_tempProbationSalary  where flag = 'c'
				     
					 END
					 
					 

					
					
					
				
					
				SET @count = 1
				WHILE (@count <= @intRowId)
				BEGIN
					     
					     -----------############### ADHOC_CONTRIBUTION ##########---------
				    SELECT @baseAmont =  SUM(AMOUNT)  FROM
									    (
											SELECT AMOUNT	FROM #_tempProbationSalary 
											WHERE empId= (select empId from #_tempEmployee where rowId = @count )  AND flag='C' AND payableHeadId IN ('390')
											--	UNION ALL 
											--SELECT AMOUNT	FROM #_tempProbationSalary 
											--WHERE empId= (select empId from #_tempEmployee where rowId = @count )   AND flag='C' AND payableHeadId IN (select * from StaticDataDetail where TYPE_ID =37)
											----AND payableHeadId =@gradeType
									     )a
										
										
										
										
				    SELECT  @cnbtNo =  ((@DAY/@TOTALDAYS)* @baseAmont) * 0.1
				 
					 	
				   INSERT INTO Adhoc_Contribution(
									 EMPLOYEE_ID		
									,CONTB_CODE		
									,CONTB_TO	
									,CONTB_AMOUNT_EMPLOYEE	
									,CONTB_AMOUNT_EMPLOYER 	
									,NARRATION 
									,IS_Paid
									,CONTB_DATE
									,CREATED_BY
									,CREATED_DATE
								 )
								 
							SELECT 
									 empId
									,'001'
									,'263' 
									,@cnbtNo
									,@cnbtNo
									,'Adjustment By System'
									,'0'
									,NULL
									,'System'
									,GETDATE()
								  from #_tempEmployee where rowId = @count
					       
					
					  set @count = @count +1
					
					END
					
					   --------############Payble ############----------------------------
			        
			              DELETE FROM PAYABLE WHERE EMPLOYEE_ID IN(select empId from #_tempProbationSalary where flag = 'c') and BENEFIT_ID NOT IN(SELECT ROWID FROM StaticDataDetail WHERE TYPE_ID =79) 
						
							INSERT INTO Payable (
												
												 EMPLOYEE_ID
												,BENEFIT_ID
												,AMOUNT
												,CREATED_BY
												,CREATED_DATE
												
												)
									SELECT
										   empId
										  ,payableHeadId
										  ,amount
										  ,'System'
										  ,GETDATE()
									       FROM 
									      #_tempProbationSalary 
							      WHERE flag = 'C' 
						
							
									
					
					
					
						  					
						   
			    END 
			 
			-----############# WITH PROMOTION ##########------              
			IF @promotionWithFlag ='WP'
			BEGIN
			
			   UPDATE e SET 
			        EMP_TYPE = t.newEmpType
			      ,POSITION_ID = t.newPosition
			      ,PERMANENT_DATE = @effectiveDate
			     FROM  Employee e
			     INNER JOIN (SELECT DISTINCT empId,newEmpType,newPosition FROM tempProbationSalary WHERE flagExecuted IS NULL AND effectiveDate <= @effectiveDate AND promotionFlag='wp') t
			     ON e.EMPLOYEE_ID = t.empId
			     
			 	
			IF @effectiveDate <= @CURRENT_MONTH_START_DATE
			  BEGIN
		   --------##### PAYBLE #####------
		   
		       
		       DELETE FROM PAYABLE WHERE EMPLOYEE_ID IN(select distinct empId from #_tempProbationSalary  where flag='c' )  and BENEFIT_ID NOT IN(SELECT ROWID FROM StaticDataDetail WHERE TYPE_ID =79) 
						
							INSERT INTO Payable (
												
												 EMPLOYEE_ID
												,BENEFIT_ID
												,AMOUNT
												,CREATED_BY
												,CREATED_DATE
												
												)
									SELECT
										   empId
										  ,payableHeadId
										  ,amount
										  ,'system'
										  ,GETDATE()
									       FROM 
									      #_tempProbationSalary 
							      WHERE flag = 'C' 
		  
			      
									
			  ---------######### CONTRIBUTION #############----------
					  INSERT INTO Contribution(
									  EMPLOYEE_ID
									 ,CONTRIBUTED_TO
									 ,CONTRIBUTION_CODE
									 ,VALUE_EMPLOYEE
									 ,CONTRIBUTION_BASIS_EMPLOYEE
									 ,FLAG_EMPLOYEE
									 ,VALUE_EMPLOYER
									 ,CONTRIBUTION_BASIS_EMPLOYER
									 ,FLAG_EMPLOYER
									 ,CONTRIBUTION_FROM_DATE_EMPLOYEE
									 ,CONTRIBUTION_FROM_DATE_EMPLOYER
									 ,CREATED_BY
									 ,CREATED_DATE
									 )
							SELECT 
							        DISTINCT empId
							       ,'263'
							       ,'0001'
							       ,'10'
							       ,'36,37'	
							       ,'P'	
							       ,'10'	
							       ,'36,37'	
							       ,'P'	
							       ,@CURRENT_MONTH_START_DATE
							       ,@CURRENT_MONTH_START_DATE
							       ,'System'
							       ,GETDATE()
							       from #_tempProbationSalary where flag = 'c'
							     
							     SET @contributionRowId = SCOPE_IDENTITY()
							       
							     	
									      
			  
			  END
			
			IF @effectiveDate BETWEEN @CURRENT_MONTH_START_DATE AND @CURRENT_MONTH_END_DATE
			  BEGIN
			  
			  
			  DELETE FROM PAYABLE WHERE EMPLOYEE_ID IN (select distinct empId from #_tempProbationSalary where flag='c') and BENEFIT_ID NOT IN(SELECT ROWID FROM StaticDataDetail WHERE TYPE_ID =79) 
						
							INSERT INTO Payable (
												
												 EMPLOYEE_ID
												,BENEFIT_ID
												,AMOUNT
												,CREATED_BY
												,CREATED_DATE
												
												)
									SELECT
										   empId
										  ,payableHeadId
										  ,amount
										  ,'system'
										  ,GETDATE()
									       FROM 
									      #_tempProbationSalary 
							      WHERE flag = 'C' 
			  
			  
			
			   ----####### INSERT INTO ADHOC_PAYMENT #####--------------- 
				
				SELECT 
				   payableHeadId
				  ,amount
				  ,empId
				  ,flag
				  INTO #_PayableHeadValues  
				 FROM #_tempProbationSalary  
				
				
				ALTER TABLE #_PayableHeadValues ADD tempId INT IDENTITY(1,1)
				SELECT @intPayableId=max(tempId) from #_PayableHeadValues 
			  
			     	SET @intTotalPayableId = 1
			    
				     
				  WHILE(@intTotalPayableId <= @intPayableId)
					BEGIN
					IF (SELECT flag FROM #_PayableHeadValues WHERE  tempId = @intTotalPayableId) = 'C'
					 BEGIN
					   SELECT  @TolCalAmount =  (@DAY/@TOTALDAYS)* amount FROM #_PayableHeadValues WHERE  tempId = @intTotalPayableId AND flag = 'C'
					  
					    INSERT INTO AdhocPayment(
											  EMPLOYEE_ID
											 ,ADD_DEDUCT
											 ,HEAD_ID
											 ,AMOUNT
											 ,APPLIED_DATE
											 ,IS_PAID
											 ,NARRATION
											 ,CREATED_BY
											 ,CREATED_DATE
										 ) 
									SELECT 
									        empId
									       ,'D'
									       ,payableHeadId
									       ,@TolCalAmount
									       ,GETDATE()
									       ,0
									       ,'PROMOTION-PROBATION EMPLOYEE'
									       ,'System'
									       ,GETDATE()
									       FROM
						                 #_PayableHeadValues
						               WHERE tempId = @intTotalPayableId
						               
						             
						             set   @AdhocPaymentRowId = SCOPE_IDENTITY()
						             
						         	
									      
						           
					    END
					 
					 ELSE
					 BEGIN
					    SELECT  @TolCalAmount =  (@DAY/@TOTALDAYS)* amount FROM #_PayableHeadValues WHERE  tempId = @intTotalPayableId AND flag = 'O'
					    INSERT INTO AdhocPayment(
											  EMPLOYEE_ID
											 ,ADD_DEDUCT
											 ,HEAD_ID
											 ,AMOUNT
											 ,APPLIED_DATE
											 ,IS_PAID
											 ,NARRATION
											 ,CREATED_BY
											 ,CREATED_DATE
										 ) 
									SELECT 
									        empId
									       ,'A'
									       ,payableHeadId
									       ,@TolCalAmount
									       ,GETDATE()
									       ,0
									       ,'PROMOTION-PROBATION EMPLOYEE'
									       ,'System'
									       ,GETDATE()
									       FROM
						                 #_PayableHeadValues
						               WHERE tempId = @intTotalPayableId
						               
						            SET   @AdhocPaymentRowId = SCOPE_IDENTITY()
						             
						         
					 
					 END
					SET @intTotalPayableId=@intTotalPayableId+1
					

			END
			
			

			-----------########CONTRIBUTION########------------
						  INSERT INTO Contribution(
										  EMPLOYEE_ID
										 ,CONTRIBUTED_TO
										 ,CONTRIBUTION_CODE
										 ,VALUE_EMPLOYEE
										 ,CONTRIBUTION_BASIS_EMPLOYEE
										 ,FLAG_EMPLOYEE
										 ,VALUE_EMPLOYER
										 ,CONTRIBUTION_BASIS_EMPLOYER
										 ,FLAG_EMPLOYER
										 ,CONTRIBUTION_FROM_DATE_EMPLOYEE
										 ,CONTRIBUTION_FROM_DATE_EMPLOYER
										 )
								SELECT 
										DISTINCT empId
									   ,'263'
									   ,'0001'
									   ,'10'
									   ,'36,37'	
									   ,'P'	
									   ,'10'	
									   ,'36,37'	
									   ,'P'	
									   ,DATEADD(D,1, @CURRENT_MONTH_END_DATE)
									   ,DATEADD(D,1, @CURRENT_MONTH_END_DATE)
									   FROM #_tempProbationSalary where flag ='c'
									   
								 SET   @contributionRowId = SCOPE_IDENTITY()
						          
				     
					 END
					 
				 -----------############### ADHOC_CONTRIBUTION ##########---------
				 -- 	ALTER TABLE #_tempEmployee ADD rowId INT IDENTITY(1,1)
					--SELECT @intRowId=max(rowId) from #_tempEmployee 
					
				SET @count = 1
				WHILE (@count <= @intRowId)
				BEGIN
					     
					     -----------############### ADHOC_CONTRIBUTION ##########---------
				    SELECT @baseAmont =  SUM(AMOUNT)  FROM
									    (
											SELECT AMOUNT	FROM #_tempProbationSalary 
											WHERE empId= (select empId from #_tempEmployee where rowId = @count )  AND flag='C' AND payableHeadId IN ('390','391')
											--	UNION ALL 
											--SELECT AMOUNT	FROM tempProbationSalary 
											--WHERE empId= (select empId from #_tempEmployee where rowId = @count )   AND flag='C' 
											--AND payableHeadId =@gradeType
									     )a
										
										
										
										
				    SELECT  @cnbtNo =  ((@DAY/@TOTALDAYS)* @baseAmont) * 0.1
				 
					 	
				   INSERT INTO Adhoc_Contribution(
									 EMPLOYEE_ID		
									,CONTB_CODE		
									,CONTB_TO	
									,CONTB_AMOUNT_EMPLOYEE	
									,CONTB_AMOUNT_EMPLOYER 	
									,NARRATION 
									,IS_Paid
									,CONTB_DATE
									,CREATED_BY
									,CREATED_DATE
								 )
								 
							SELECT 
									 empId
									,'001'
									,'263' 
									,@cnbtNo
									,@cnbtNo
									,'Adjustment By System'
									,'0'
									,NULL
									,'System'
									,GETDATE()
								  from #_tempEmployee where rowId = @count
					       
					
					  set @count = @count +1
					
					END
									   
		   --------######### DROP TEMP TABLE #########--------
			 DROP TABLE #_PayableHeadValues
			 
	
				
			  END
			
		  IF @effectiveDate <= GETDATE()
		  BEGIN
		  	 UPDATE tempProbationSalary  SET 
					 flagExecuted = 'y'
					,executeDate= GETDATE()
			WHERE   flagExecuted IS NULL
		
		   END
	
	    DROP TABLE #_tempEmployee
		
		    END
		
			 
	--COMMIT TRANSACTION
	END
END TRY
BEGIN CATCH
     IF @@TRANCOUNT > 0
     ROLLBACK TRANSACTION
     DECLARE @errorMessage VARCHAR(MAX)
     SET @errorMessage = ERROR_MESSAGE()
    SELECT @errorMessage
END CATCH
GO
