USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[Proc_ASSET_MAINTENANCE_HISTORY]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--select next_maintenance_date ,* from ASSET_INVENTORY
--select * from ASSET_MAINTENANCE_HISTORY
CREATE PROCEDURE [dbo].[Proc_ASSET_MAINTENANCE_HISTORY]
				@flag CHAR(4),
				@id INT=NULL,
				@assetid VARCHAR(50)=NULL,
				@maint_date VARCHAR(10)=NULL,
				@maintby VARCHAR(50)=NULL,
				@next_maintenance_date VARCHAR(10)=NULL,
				@expense_amt VARCHAR(50)=NULL,
				@payment_ledger VARCHAR(100)=NULL,
				@narration VARCHAR(500)=NULL,
				@user VARCHAR(50)=NULL,
				@forwarded_to varchar(50)=null
AS
SET NOCOUNT ON;	
	CREATE TABLE #msg(errorCode INT, msg VARCHAR(100), id INT)
		
	DECLARE 
	 @sql			VARCHAR(MAX)
	,@oldValue		VARCHAR(MAX)
	,@newValue		VARCHAR(MAX)
	,@tableName		VARCHAR(50)	

	DECLARE 
	 @gridName				VARCHAR(50)		
	,@addEditFunctionId		INT
	,@deleteFunctionId		INT
	,@approveFunctionId		INT
	,@tableNameAudit		VARCHAR(100)
	,@identifierField		VARCHAR(100)
	,@modType				VARCHAR(6)
	,@tableDescription		VARCHAR(100)
	
	SELECT
	 @tableNameAudit	= 'ASSET_MAINTENANCE_TEMP'
	,@identifierField	= 'id'
	,@tableDescription	= 'ASSET MAINTENANCE REQUEST'
	,@modType			= 'insert'
	
	DECLARE @accumulate_dep money,@bookvalue money,@row_id as int
	SELECT @bookvalue = (purchase_value - acc_depriciation), @accumulate_dep =  acc_depriciation FROM ASSET_INVENTORY WHERE id = @assetid
IF(@flag ='i')
BEGIN
	
	BEGIN TRANSACTION
		
		INSERT INTO ASSET_MAINTENANCE_TEMP(asset_id, maint_date, maint_by, accumulate_dep,book_value, narration, payment_ledger, expense_amt, 
					next_maintenance_date, created_by, created_date,forwarded_to,forwarded_date,status)
					VALUES (@assetid, @maint_date, @maintby, @accumulate_dep, @bookvalue, @narration, @payment_ledger, @expense_amt, 
					@next_maintenance_date, @user, GETDATE(),@forwarded_to,GETDATE(),'Requested') 	
					
		set @row_id =@@IDENTITY
		
		INSERT INTO #msg(errorCode, msg, id)
					EXEC proc_changesApprovalQueue 
						 @flag = 'i'
						,@user = @user
						,@dataId = @row_id
						,@identifierField = @identifierField
						,@tableName = @tableNameAudit
						,@modType = @modType			
						,@description = @tableDescription
						,@functionId = @approveFunctionId
						,@addEditFunctionId	= @addEditFunctionId
						,@forwarded_to=@forwarded_to
		 IF @@TRANCOUNT > 0
	 COMMIT TRANSACTION			
END
IF(@flag='u')
BEGIN
	BEGIN TRANSACTION
	
		UPDATE ASSET_MAINTENANCE_TEMP SET asset_id = @assetid, maint_date = @maint_date, maint_by = maint_by,book_value=@bookvalue,
			accumulate_dep=@accumulate_dep,narration = @narration, payment_ledger = @payment_ledger, expense_amt = @expense_amt,
			modified_by=@user,modified_date=GETDATE(),forwarded_to=@forwarded_to,forwarded_date=GETDATE(),status='Requested'
		WHERE id = @id

		DELETE FROM changesApprovalQueue WHERE tableName=@tableNameAudit AND dataid=@id 
				
		INSERT INTO #msg(errorCode, msg, id)
					EXEC proc_changesApprovalQueue 
						 @flag = 'i'
						,@user = @user
						,@dataId = @id
						,@identifierField = @identifierField
						,@tableName = @tableNameAudit
						,@modType = @modType			
						,@description = @tableDescription
						,@functionId = @approveFunctionId
						,@addEditFunctionId	= @addEditFunctionId
						,@forwarded_to=@forwarded_to
		 IF @@TRANCOUNT > 0
	 COMMIT TRANSACTION
END

IF(@flag='s')
BEGIN
	SELECT	ai.id
			,ai.asset_number+'|'+CAST(ai.id AS VARCHAR) AS asset_number
			,dbo.showdecimal(ai.purchase_value-ai.acc_depriciation) AS book_value
			,dbo.showdecimal(ai.purchase_value) purchase_value
			,ai.narration AS asset_narration
			,accumulate_dep acc_dep
			,expense_amt
			,maint_date
			,at.next_maintenance_date
			,at.payment_ledger
			,dbo.GetEmployeeFullNameOfId(at.maint_by) as maint_by
			,at.narration
			,at.forwarded_to
			,at.rejection_reason
	FROM ASSET_MAINTENANCE_TEMP at INNER JOIN ASSET_INVENTORY ai ON ai.id=at.asset_id WHERE ai.id = @id	

END

IF(@flag='d')
BEGIN
	DELETE FROM ASSET_MAINTENANCE_TEMP WHERE id = @id	

END
GO
