USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procDepreciationMonthWiseRpt]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[procDepreciationMonthWiseRpt]
	@flag VARCHAR(1),
	@fiscal_year VARCHAR(20)=NULL,
	@group_id VARCHAR(20)=NULL,
	@branch_id VARCHAR(10)=NULL

AS

DECLARE @yearStartDate AS VARCHAR(20),@yearEndDate AS VARCHAR(20)
SELECT @yearStartDate=EN_YEAR_START_DATE FROM FiscalYear WHERE FISCAL_YEAR_NEPALI=@fiscal_year
SELECT @yearEndDate=EN_YEAR_END_DATE FROM FiscalYear WHERE FISCAL_YEAR_NEPALI=@fiscal_year
IF @flag='a'
BEGIN	
	----Asset Active (Current) Report----
	SELECT 
				 ROW_NUMBER()OVER(ORDER BY x1.id) AS [S.N.]
				,x1.asset_number AS [Asset Number]
				,x1.old_asset_no AS [Old Asset Number]
				,x1.booked_date AS [Asset Book Date]
				,ISNULL(x1.purchase_value,0) [Total Cost]
				,ISNULL(x1.acc_depriciation,0) AS [Total Ac Depreciation]
				,ISNULL(a.Shawan,0) AS Shawan
				,ISNULL(b.Bhadra,0) AS Bhadra
				,ISNULL(c.Ashoj,0) AS Ashoj
				,ISNULL(d.Kartik,0) AS Kartik
				,ISNULL(e.Mangshir,0) AS Mangshir
				,ISNULL(f.Poush,0) AS Poush
				,ISNULL(g.Magh,0) AS Magh
				,ISNULL(h.Falgun,0) AS Falgun
				,ISNULL(i.Chaitra,0) AS Chaitra
				,ISNULL(j.Baishak,0) AS Baishak
				,ISNULL(k.Jestha,0) AS Jestha
				,ISNULL(l.Ashad,0) AS Ashad
				,ISNULL(x1.acc_dep,0) AS [Opening Ac Depreciation]
				,(ISNULL(x1.purchase_value,0)-ISNULL(x1.acc_dep,0)-ISNULL(a.Shawan,0)-ISNULL(b.Bhadra,0)-ISNULL(c.Ashoj,0)-ISNULL(d.Kartik,0)-ISNULL(e.Mangshir,0)-
		ISNULL(f.Poush,0)-ISNULL(g.Magh,0)-ISNULL(h.Falgun,0)-ISNULL(i.Chaitra,0)-ISNULL(j.Baishak,0)-ISNULL(k.Jestha,0)-ISNULL(l.Ashad,0)) AS [Closing Cost]
		FROM 
		(			
				SELECT a.id,asset_number,a.purchase_value,b.acc_dep,a.acc_depriciation,old_asset_no,a.booked_date FROM ASSET_INVENTORY a 
					INNER JOIN Asset_Opening_Balance b ON a.id=b.asset_id								
					WHERE a.branch_id=isnull(@branch_id,a.branch_id) AND a.group_id=@group_id				
						AND b.fiscal_year=@fiscal_year AND b.branch_id=isnull(@branch_id,b.branch_id) AND a.asset_status='Active'		
		) x1		
		LEFT JOIN 
		(
			SELECT asset_id,dep_value AS Shawan FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id
				WHERE a.fiscal_year=@fiscal_year AND a.run_month=4 
				AND a.branch_id=isnull(@branch_id,a.branch_id) AND b.group_id=@group_id
			
		) a ON x1.id = a.asset_id
		LEFT JOIN 
		(
			SELECT asset_id,dep_value Bhadra FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id

				WHERE a.fiscal_year=@fiscal_year AND a.run_month=5 
				AND a.branch_id=isnull(@branch_id,a.branch_id) AND b.group_id=@group_id
				
		) b ON x1.id = b.asset_id
		LEFT JOIN 
		(
			SELECT asset_id,dep_value Ashoj FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id

				WHERE a.fiscal_year=@fiscal_year AND a.run_month=6 
				AND a.branch_id=isnull(@branch_id,a.branch_id) AND b.group_id=@group_id
				
		) c ON x1.id = c.asset_id
		LEFT JOIN 
		(
			SELECT asset_id,dep_value Kartik FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id

				WHERE a.fiscal_year=@fiscal_year AND a.run_month=7
				AND a.branch_id=isnull(@branch_id,a.branch_id) AND b.group_id=@group_id
				
		) d ON x1.id = d.asset_id		
		LEFT JOIN 
		(
			SELECT asset_id,dep_value Mangshir FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id

				WHERE a.fiscal_year=@fiscal_year AND a.run_month=8
				AND a.branch_id=isnull(@branch_id,a.branch_id) AND b.group_id=@group_id
				
		) e ON x1.id = e.asset_id
		LEFT JOIN 
		(
			SELECT asset_id,dep_value Poush FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id

				WHERE a.fiscal_year=@fiscal_year AND a.run_month=9
				AND a.branch_id=isnull(@branch_id,a.branch_id) AND b.group_id=@group_id
		) f ON x1.id = f.asset_id
		LEFT JOIN 
		(
			SELECT asset_id,dep_value Magh FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id

				WHERE a.fiscal_year=@fiscal_year AND a.run_month=10
				AND a.branch_id=isnull(@branch_id,a.branch_id) AND b.group_id=@group_id
				
		) g ON x1.id = g.asset_id
		LEFT JOIN 
		(
			SELECT asset_id,dep_value Falgun FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id

				WHERE a.fiscal_year=@fiscal_year AND a.run_month=11
				AND a.branch_id=isnull(@branch_id,a.branch_id) AND b.group_id=@group_id
		) h ON x1.id = h.asset_id
		LEFT JOIN 
		(
			SELECT asset_id,dep_value Chaitra FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id

				WHERE a.fiscal_year=@fiscal_year AND a.run_month=12
				AND a.branch_id=isnull(@branch_id,a.branch_id) AND b.group_id=@group_id
		) i ON x1.id = i.asset_id
		
		LEFT JOIN 
		(
			SELECT asset_id,dep_value Baishak FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id

				WHERE a.fiscal_year=@fiscal_year AND a.run_month=1
				AND a.branch_id=isnull(@branch_id,a.branch_id) AND b.group_id=@group_id
		) j ON x1.id = j.asset_id
		
		LEFT JOIN 
		(
			SELECT asset_id,dep_value Jestha FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id

				WHERE a.fiscal_year=@fiscal_year AND a.run_month=2
				AND a.branch_id=isnull(@branch_id,a.branch_id) AND b.group_id=@group_id
		) k ON x1.id = k.asset_id
		
		LEFT JOIN 
		(
			SELECT asset_id,dep_value Ashad FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id

				WHERE a.fiscal_year=@fiscal_year AND a.run_month=3
				AND a.branch_id=isnull(@branch_id,a.branch_id) AND b.group_id=@group_id
		) l ON x1.id = l.asset_id
END
IF @flag='b'
BEGIN
	----Asset IN (Transfered) Report---
	SELECT ROW_NUMBER()OVER(ORDER BY x1.id) AS [S.N.],x1.asset_number AS [Asset Number],ISNULL(x1.purchase_value,0) [Total Cost],
		ISNULL(x1.acc_dep,0) AS [Total Acc. Dep],
		ISNULL(a.Shawan,0) AS Shawan,
		ISNULL(b.Bhadra,0) AS Bhadra,
		ISNULL(c.Ashoj,0) AS Ashoj,ISNULL(d.Kartik,0) AS Kartik,ISNULL(e.Mangshir,0) AS Mangshir,ISNULL(f.Poush,0) AS Poush,ISNULL(g.Magh,0) AS Magh,
		ISNULL(h.Falgun,0) AS Falgun,ISNULL(i.Chaitra,0) AS Chaitra,ISNULL(j.Baishak,0) AS Baishak,ISNULL(k.Jestha,0) AS Jestha,ISNULL(l.Ashad,0) AS Ashad,
		(ISNULL(x1.purchase_value,0)-ISNULL(x1.acc_dep,0)-ISNULL(a.Shawan,0)-ISNULL(b.Bhadra,0)-ISNULL(c.Ashoj,0)-ISNULL(d.Kartik,0)-ISNULL(e.Mangshir,0)-
		ISNULL(f.Poush,0)-ISNULL(g.Magh,0)-ISNULL(h.Falgun,0)-ISNULL(i.Chaitra,0)-ISNULL(j.Baishak,0)-ISNULL(k.Jestha,0)-ISNULL(l.Ashad,0)) AS [Closing Cost]
		FROM 
		(					
				SELECT asset_id AS id,b.asset_number,book_value+accumulated_dep AS purchase_value,accumulated_dep AS acc_dep FROM ASSET_TRANSFER_HISTORY a 
					INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id 					  
					WHERE b.branch_id=@branch_id AND b.group_id=@group_id 
						AND to_branch=@branch_id AND from_branch<>to_branch 
						AND a.created_date BETWEEN @yearStartDate AND @yearEndDate
			
		) x1		
		LEFT JOIN 
		(
			SELECT a.asset_id,dep_value AS Shawan FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id
			INNER JOIN ASSET_TRANSFER_HISTORY c ON c.asset_id=a.asset_id
			WHERE a.fiscal_year=@fiscal_year AND a.run_month=4 
			AND a.branch_id=@branch_id AND b.group_id=@group_id 
			
		) a ON x1.id = a.asset_id
		LEFT JOIN 
		(
			SELECT a.asset_id,dep_value Bhadra FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id
			INNER JOIN ASSET_TRANSFER_HISTORY c ON c.asset_id=a.asset_id
				WHERE a.fiscal_year=@fiscal_year AND a.run_month=5 
				AND a.branch_id=@branch_id AND b.group_id=@group_id 
				
		) b ON x1.id = b.asset_id
		LEFT JOIN 
		(
			SELECT a.asset_id,dep_value Ashoj FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id
			INNER JOIN ASSET_TRANSFER_HISTORY c ON c.asset_id=a.asset_id
				WHERE a.fiscal_year=@fiscal_year AND a.run_month=6 
				AND a.branch_id=@branch_id AND b.group_id=@group_id 
		) c ON x1.id = c.asset_id
		LEFT JOIN 
		(
			SELECT a.asset_id,dep_value Kartik FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id
			INNER JOIN ASSET_TRANSFER_HISTORY c ON c.asset_id=a.asset_id
				WHERE a.fiscal_year=@fiscal_year AND a.run_month=7
				AND a.branch_id=@branch_id AND b.group_id=@group_id 
		) d ON x1.id = d.asset_id		
		LEFT JOIN 
		(
			SELECT a.asset_id,dep_value Mangshir FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id
				INNER JOIN ASSET_TRANSFER_HISTORY c ON c.asset_id=a.asset_id
				WHERE a.fiscal_year=@fiscal_year AND a.run_month=8
				AND a.branch_id=@branch_id AND b.group_id=@group_id 
		) e ON x1.id = e.asset_id
		LEFT JOIN 
		(
			SELECT a.asset_id,dep_value Poush FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id
			INNER JOIN ASSET_TRANSFER_HISTORY c ON c.asset_id=a.asset_id
				WHERE a.fiscal_year=@fiscal_year AND a.run_month=9
				AND a.branch_id=@branch_id AND b.group_id=@group_id 
		) f ON x1.id = f.asset_id
		LEFT JOIN 
		(
			SELECT a.asset_id,dep_value Magh FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id
			INNER JOIN ASSET_TRANSFER_HISTORY c ON c.asset_id=a.asset_id
				WHERE a.fiscal_year=@fiscal_year AND a.run_month=10
				AND a.branch_id=@branch_id AND b.group_id=@group_id 
		) g ON x1.id = g.asset_id
		LEFT JOIN 
		(
			SELECT a.asset_id,dep_value Falgun FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id
			INNER JOIN ASSET_TRANSFER_HISTORY c ON c.asset_id=a.asset_id
				WHERE a.fiscal_year=@fiscal_year AND a.run_month=11
				AND a.branch_id=@branch_id AND b.group_id=@group_id 
		) h ON x1.id = h.asset_id
		LEFT JOIN 
		(
			SELECT a.asset_id,dep_value Chaitra FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id
			INNER JOIN ASSET_TRANSFER_HISTORY c ON c.asset_id=a.asset_id
				WHERE a.fiscal_year=@fiscal_year AND a.run_month=12
				AND a.branch_id=@branch_id AND b.group_id=@group_id 
		) i ON x1.id = i.asset_id
		
		LEFT JOIN 
		(
			SELECT a.asset_id,dep_value Baishak FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id
				INNER JOIN ASSET_TRANSFER_HISTORY c ON c.asset_id=a.asset_id
				WHERE a.fiscal_year=@fiscal_year AND a.run_month=1
				AND a.branch_id=@branch_id AND b.group_id=@group_id 
		) j ON x1.id = j.asset_id
		
		LEFT JOIN 
		(
			SELECT a.asset_id,dep_value Jestha FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id
				INNER JOIN ASSET_TRANSFER_HISTORY c ON c.asset_id=a.asset_id
				WHERE a.fiscal_year=@fiscal_year AND a.run_month=12
				AND a.branch_id=@branch_id AND b.group_id=@group_id 
		) k ON x1.id = k.asset_id
		
		LEFT JOIN 
		(
			SELECT a.asset_id,dep_value Ashad FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id
				INNER JOIN ASSET_TRANSFER_HISTORY c ON c.asset_id=a.asset_id
				WHERE a.fiscal_year=@fiscal_year AND a.run_month=12
				AND a.branch_id=@branch_id AND b.group_id=@group_id 
		) l ON x1.id = l.asset_id
END
IF @flag='c'
BEGIN
	----Asset INACTIVE Report---
	SELECT ROW_NUMBER()OVER(ORDER BY x1.id) AS [S.N.],x1.asset_number AS [Asset Number],ISNULL(x1.purchase_value,0) [Total Cost],
		ISNULL(x1.acc_dep,0) AS [Total Acc. Dep],ISNULL(a.Shawan,0) AS Shawan,ISNULL(b.Bhadra,0) AS Bhadra,
		ISNULL(c.Ashoj,0) AS Ashoj,ISNULL(d.Kartik,0) AS Kartik,ISNULL(e.Mangshir,0) AS Mangshir,ISNULL(f.Poush,0) AS Poush,ISNULL(g.Magh,0) AS Magh,
		ISNULL(h.Falgun,0) AS Falgun,ISNULL(i.Chaitra,0) AS Chaitra,ISNULL(j.Baishak,0) AS Baishak,ISNULL(k.Jestha,0) AS Jestha,ISNULL(l.Ashad,0) AS Ashad,
		(ISNULL(x1.purchase_value,0)-ISNULL(x1.acc_dep,0)-ISNULL(a.Shawan,0)-ISNULL(b.Bhadra,0)-ISNULL(c.Ashoj,0)-ISNULL(d.Kartik,0)-ISNULL(e.Mangshir,0)-
		ISNULL(f.Poush,0)-ISNULL(g.Magh,0)-ISNULL(h.Falgun,0)-ISNULL(i.Chaitra,0)-ISNULL(j.Baishak,0)-ISNULL(k.Jestha,0)-ISNULL(l.Ashad,0)) AS [Closing Cost]
		FROM 
		(					
			SELECT a.id,asset_number,a.purchase_value,b.acc_dep FROM ASSET_INVENTORY a 
				INNER JOIN Asset_Opening_Balance b ON a.id=b.asset_id								
					WHERE a.branch_id=@branch_id AND a.group_id=@group_id				
					AND b.fiscal_year=@fiscal_year AND b.branch_id=@branch_id AND a.asset_status='Inactive'	
				
		) x1		
		LEFT JOIN 
		(
			SELECT a.asset_id,dep_value AS Shawan FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id			
			WHERE a.fiscal_year=@fiscal_year AND a.run_month=4 AND b.asset_status='Inactive'
			AND a.branch_id=@branch_id AND b.group_id=@group_id 
			
		) a ON x1.id = a.asset_id
		LEFT JOIN 
		(
			SELECT a.asset_id,dep_value Bhadra FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id
				WHERE a.fiscal_year=@fiscal_year AND a.run_month=5 AND b.asset_status='Inactive'
				AND a.branch_id=@branch_id AND b.group_id=@group_id 
				
		) b ON x1.id = b.asset_id
		LEFT JOIN 
		(
			SELECT a.asset_id,dep_value Ashoj FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id
				WHERE a.fiscal_year=@fiscal_year AND a.run_month=6 AND b.asset_status='Inactive'
				AND a.branch_id=@branch_id AND b.group_id=@group_id 
		) c ON x1.id = c.asset_id
		LEFT JOIN 
		(
			SELECT a.asset_id,dep_value Kartik FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id
				WHERE a.fiscal_year=@fiscal_year AND a.run_month=7 AND b.asset_status='Inactive'
				AND a.branch_id=@branch_id AND b.group_id=@group_id 
		) d ON x1.id = d.asset_id		
		LEFT JOIN 
		(
			SELECT a.asset_id,dep_value Mangshir FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id
				WHERE a.fiscal_year=@fiscal_year AND a.run_month=8 AND b.asset_status='Inactive'
				AND a.branch_id=@branch_id AND b.group_id=@group_id 
		) e ON x1.id = e.asset_id
		LEFT JOIN 
		(
			SELECT a.asset_id,dep_value Poush FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id
				WHERE a.fiscal_year=@fiscal_year AND a.run_month=9 AND b.asset_status='Inactive'
				AND a.branch_id=@branch_id AND b.group_id=@group_id 
		) f ON x1.id = f.asset_id
		LEFT JOIN 
		(
			SELECT a.asset_id,dep_value Magh FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id
				WHERE a.fiscal_year=@fiscal_year AND a.run_month=10 AND b.asset_status='Inactive'
				AND a.branch_id=@branch_id AND b.group_id=@group_id 
		) g ON x1.id = g.asset_id
		LEFT JOIN 
		(
			SELECT a.asset_id,dep_value Falgun FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id
				WHERE a.fiscal_year=@fiscal_year AND a.run_month=11 AND b.asset_status='Inactive'
				AND a.branch_id=@branch_id AND b.group_id=@group_id 
		) h ON x1.id = h.asset_id
		LEFT JOIN 
		(
			SELECT a.asset_id,dep_value Chaitra FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id
				WHERE a.fiscal_year=@fiscal_year AND a.run_month=12 AND b.asset_status='Inactive'
				AND a.branch_id=@branch_id AND b.group_id=@group_id 
		) i ON x1.id = i.asset_id
		
		LEFT JOIN 
		(
			SELECT a.asset_id,dep_value Baishak FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id
				WHERE a.fiscal_year=@fiscal_year AND a.run_month=1 AND b.asset_status='Inactive'
				AND a.branch_id=@branch_id AND b.group_id=@group_id 
		) j ON x1.id = j.asset_id
		
		LEFT JOIN 
		(
			SELECT a.asset_id,dep_value Jestha FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id
				WHERE a.fiscal_year=@fiscal_year AND a.run_month=12 AND b.asset_status='Inactive'
				AND a.branch_id=@branch_id AND b.group_id=@group_id 
		) k ON x1.id = k.asset_id
		
		LEFT JOIN 
		(
			SELECT a.asset_id,dep_value Ashad FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id
				WHERE a.fiscal_year=@fiscal_year AND a.run_month=12 AND b.asset_status='Inactive'
				AND a.branch_id=@branch_id AND b.group_id=@group_id 
		) l ON x1.id = l.asset_id	
END
IF @flag='d'
BEGIN
	----Asset OUT (Transfered) Report---
	SELECT ROW_NUMBER()OVER(ORDER BY x1.id) AS [S.N.],x1.asset_number AS [Asset Number],ISNULL(x1.purchase_value,0) [Total Cost],
		ISNULL(x1.acc_dep,0) AS [Total Acc. Dep],
		ISNULL(a.Shawan,0) AS Shawan,
		ISNULL(b.Bhadra,0) AS Bhadra,
		ISNULL(c.Ashoj,0) AS Ashoj,ISNULL(d.Kartik,0) AS Kartik,ISNULL(e.Mangshir,0) AS Mangshir,ISNULL(f.Poush,0) AS Poush,ISNULL(g.Magh,0) AS Magh,
		ISNULL(h.Falgun,0) AS Falgun,ISNULL(i.Chaitra,0) AS Chaitra,ISNULL(j.Baishak,0) AS Baishak,ISNULL(k.Jestha,0) AS Jestha,ISNULL(l.Ashad,0) AS Ashad,
		(ISNULL(x1.purchase_value,0)-ISNULL(x1.acc_dep,0)-ISNULL(a.Shawan,0)-ISNULL(b.Bhadra,0)-ISNULL(c.Ashoj,0)-ISNULL(d.Kartik,0)-ISNULL(e.Mangshir,0)-
		ISNULL(f.Poush,0)-ISNULL(g.Magh,0)-ISNULL(h.Falgun,0)-ISNULL(i.Chaitra,0)-ISNULL(j.Baishak,0)-ISNULL(k.Jestha,0)-ISNULL(l.Ashad,0)) AS [Closing Cost]
		FROM 
		(					
				SELECT asset_id AS id,b.asset_number,book_value+accumulated_dep AS purchase_value,accumulated_dep AS acc_dep FROM ASSET_TRANSFER_HISTORY a 
					INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id 					  
					WHERE b.branch_id=@branch_id AND b.group_id=@group_id 
						AND from_branch=@branch_id AND from_branch<>to_branch 
						AND a.created_date BETWEEN @yearStartDate AND @yearEndDate
			
		) x1		
		LEFT JOIN 
		(
			SELECT a.asset_id,dep_value AS Shawan FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id
			INNER JOIN ASSET_TRANSFER_HISTORY c ON c.asset_id=a.asset_id
			WHERE a.fiscal_year=@fiscal_year AND a.run_month=4 
			AND a.branch_id=@branch_id AND b.group_id=@group_id 
			
		) a ON x1.id = a.asset_id
		LEFT JOIN 
		(
			SELECT a.asset_id,dep_value Bhadra FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id
			INNER JOIN ASSET_TRANSFER_HISTORY c ON c.asset_id=a.asset_id
				WHERE a.fiscal_year=@fiscal_year AND a.run_month=5 
				AND a.branch_id=@branch_id AND b.group_id=@group_id 
				
		) b ON x1.id = b.asset_id
		LEFT JOIN 
		(
			SELECT a.asset_id,dep_value Ashoj FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id
			INNER JOIN ASSET_TRANSFER_HISTORY c ON c.asset_id=a.asset_id
				WHERE a.fiscal_year=@fiscal_year AND a.run_month=6 
				AND a.branch_id=@branch_id AND b.group_id=@group_id 
		) c ON x1.id = c.asset_id
		LEFT JOIN 
		(
			SELECT a.asset_id,dep_value Kartik FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id
			INNER JOIN ASSET_TRANSFER_HISTORY c ON c.asset_id=a.asset_id
				WHERE a.fiscal_year=@fiscal_year AND a.run_month=7
				AND a.branch_id=@branch_id AND b.group_id=@group_id 
		) d ON x1.id = d.asset_id		
		LEFT JOIN 
		(
			SELECT a.asset_id,dep_value Mangshir FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id
				INNER JOIN ASSET_TRANSFER_HISTORY c ON c.asset_id=a.asset_id
				WHERE a.fiscal_year=@fiscal_year AND a.run_month=8
				AND a.branch_id=@branch_id AND b.group_id=@group_id 
		) e ON x1.id = e.asset_id
		LEFT JOIN 
		(
			SELECT a.asset_id,dep_value Poush FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id
			INNER JOIN ASSET_TRANSFER_HISTORY c ON c.asset_id=a.asset_id
				WHERE a.fiscal_year=@fiscal_year AND a.run_month=9
				AND a.branch_id=@branch_id AND b.group_id=@group_id 
		) f ON x1.id = f.asset_id
		LEFT JOIN 
		(
			SELECT a.asset_id,dep_value Magh FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id
			INNER JOIN ASSET_TRANSFER_HISTORY c ON c.asset_id=a.asset_id
				WHERE a.fiscal_year=@fiscal_year AND a.run_month=10
				AND a.branch_id=@branch_id AND b.group_id=@group_id 
		) g ON x1.id = g.asset_id
		LEFT JOIN 
		(
			SELECT a.asset_id,dep_value Falgun FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id
			INNER JOIN ASSET_TRANSFER_HISTORY c ON c.asset_id=a.asset_id
				WHERE a.fiscal_year=@fiscal_year AND a.run_month=11
				AND a.branch_id=@branch_id AND b.group_id=@group_id 
		) h ON x1.id = h.asset_id
		LEFT JOIN 
		(
			SELECT a.asset_id,dep_value Chaitra FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id
			INNER JOIN ASSET_TRANSFER_HISTORY c ON c.asset_id=a.asset_id
				WHERE a.fiscal_year=@fiscal_year AND a.run_month=12
				AND a.branch_id=@branch_id AND b.group_id=@group_id 
		) i ON x1.id = i.asset_id
		
		LEFT JOIN 
		(
			SELECT a.asset_id,dep_value Baishak FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id
				INNER JOIN ASSET_TRANSFER_HISTORY c ON c.asset_id=a.asset_id
				WHERE a.fiscal_year=@fiscal_year AND a.run_month=1
				AND a.branch_id=@branch_id AND b.group_id=@group_id 
		) j ON x1.id = j.asset_id
		
		LEFT JOIN 
		(
			SELECT a.asset_id,dep_value Jestha FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id
				INNER JOIN ASSET_TRANSFER_HISTORY c ON c.asset_id=a.asset_id
				WHERE a.fiscal_year=@fiscal_year AND a.run_month=12
				AND a.branch_id=@branch_id AND b.group_id=@group_id 
		) k ON x1.id = k.asset_id
		
		LEFT JOIN 
		(
			SELECT a.asset_id,dep_value Ashad FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id
				INNER JOIN ASSET_TRANSFER_HISTORY c ON c.asset_id=a.asset_id
				WHERE a.fiscal_year=@fiscal_year AND a.run_month=12
				AND a.branch_id=@branch_id AND b.group_id=@group_id 
		) l ON x1.id = l.asset_id	
END
IF @flag='e'
BEGIN
	----Asset SOLD Report---
	SELECT ROW_NUMBER()OVER(ORDER BY x1.id) AS [S.N.],x1.asset_number AS [Asset Number],ISNULL(x1.purchase_value,0) [Total Cost],
		ISNULL(x1.acc_dep,0) AS [Total Acc. Dep],
		ISNULL(a.Shawan,0) AS Shawan,
		ISNULL(b.Bhadra,0) AS Bhadra,
		ISNULL(c.Ashoj,0) AS Ashoj,ISNULL(d.Kartik,0) AS Kartik,ISNULL(e.Mangshir,0) AS Mangshir,ISNULL(f.Poush,0) AS Poush,ISNULL(g.Magh,0) AS Magh,
		ISNULL(h.Falgun,0) AS Falgun,ISNULL(i.Chaitra,0) AS Chaitra,ISNULL(j.Baishak,0) AS Baishak,ISNULL(k.Jestha,0) AS Jestha,ISNULL(l.Ashad,0) AS Ashad,
		(ISNULL(x1.purchase_value,0)-ISNULL(x1.acc_dep,0)-ISNULL(a.Shawan,0)-ISNULL(b.Bhadra,0)-ISNULL(c.Ashoj,0)-ISNULL(d.Kartik,0)-ISNULL(e.Mangshir,0)-
		ISNULL(f.Poush,0)-ISNULL(g.Magh,0)-ISNULL(h.Falgun,0)-ISNULL(i.Chaitra,0)-ISNULL(j.Baishak,0)-ISNULL(k.Jestha,0)-ISNULL(l.Ashad,0)) AS [Closing Cost]
		FROM 
		(					
				SELECT asset_id AS id,b.asset_number,book_value+accumulate_dep AS purchase_value,accumulate_dep AS acc_dep FROM ASSET_SALES_HISTORY a 
					INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id 					  
					WHERE b.branch_id=@branch_id AND b.group_id=@group_id 
						AND a.sold_date BETWEEN @yearStartDate AND @yearEndDate			
		) x1		
		LEFT JOIN 
		(
			SELECT a.asset_id,dep_value AS Shawan FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id
			INNER JOIN ASSET_SALES_HISTORY c ON c.asset_id=a.asset_id
			WHERE a.fiscal_year=@fiscal_year AND a.run_month=4 
			AND a.branch_id=@branch_id AND b.group_id=@group_id 
			
		) a ON x1.id = a.asset_id
		LEFT JOIN 
		(
			SELECT a.asset_id,dep_value Bhadra FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id
			INNER JOIN ASSET_SALES_HISTORY c ON c.asset_id=a.asset_id
				WHERE a.fiscal_year=@fiscal_year AND a.run_month=5 
				AND a.branch_id=@branch_id AND b.group_id=@group_id 
				
		) b ON x1.id = b.asset_id
		LEFT JOIN 
		(
			SELECT a.asset_id,dep_value Ashoj FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id
			INNER JOIN ASSET_SALES_HISTORY c ON c.asset_id=a.asset_id
				WHERE a.fiscal_year=@fiscal_year AND a.run_month=6 
				AND a.branch_id=@branch_id AND b.group_id=@group_id 
		) c ON x1.id = c.asset_id
		LEFT JOIN 
		(
			SELECT a.asset_id,dep_value Kartik FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id
			INNER JOIN ASSET_SALES_HISTORY c ON c.asset_id=a.asset_id
				WHERE a.fiscal_year=@fiscal_year AND a.run_month=7
				AND a.branch_id=@branch_id AND b.group_id=@group_id 
		) d ON x1.id = d.asset_id		
		LEFT JOIN 
		(
			SELECT a.asset_id,dep_value Mangshir FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id
				INNER JOIN ASSET_SALES_HISTORY c ON c.asset_id=a.asset_id
				WHERE a.fiscal_year=@fiscal_year AND a.run_month=8
				AND a.branch_id=@branch_id AND b.group_id=@group_id 
		) e ON x1.id = e.asset_id
		LEFT JOIN 
		(
			SELECT a.asset_id,dep_value Poush FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id
			INNER JOIN ASSET_SALES_HISTORY c ON c.asset_id=a.asset_id
				WHERE a.fiscal_year=@fiscal_year AND a.run_month=9
				AND a.branch_id=@branch_id AND b.group_id=@group_id 
		) f ON x1.id = f.asset_id
		LEFT JOIN 
		(
			SELECT a.asset_id,dep_value Magh FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id
			INNER JOIN ASSET_SALES_HISTORY c ON c.asset_id=a.asset_id
				WHERE a.fiscal_year=@fiscal_year AND a.run_month=10
				AND a.branch_id=@branch_id AND b.group_id=@group_id 
		) g ON x1.id = g.asset_id
		LEFT JOIN 
		(
			SELECT a.asset_id,dep_value Falgun FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id
			INNER JOIN ASSET_SALES_HISTORY c ON c.asset_id=a.asset_id
				WHERE a.fiscal_year=@fiscal_year AND a.run_month=11
				AND a.branch_id=@branch_id AND b.group_id=@group_id 
		) h ON x1.id = h.asset_id
		LEFT JOIN 
		(
			SELECT a.asset_id,dep_value Chaitra FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id
			INNER JOIN ASSET_SALES_HISTORY c ON c.asset_id=a.asset_id
				WHERE a.fiscal_year=@fiscal_year AND a.run_month=12
				AND a.branch_id=@branch_id AND b.group_id=@group_id 
		) i ON x1.id = i.asset_id
		
		LEFT JOIN 
		(
			SELECT a.asset_id,dep_value Baishak FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id
				INNER JOIN ASSET_SALES_HISTORY c ON c.asset_id=a.asset_id
				WHERE a.fiscal_year=@fiscal_year AND a.run_month=1
				AND a.branch_id=@branch_id AND b.group_id=@group_id 
		) j ON x1.id = j.asset_id
		
		LEFT JOIN 
		(
			SELECT a.asset_id,dep_value Jestha FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id
				INNER JOIN ASSET_SALES_HISTORY c ON c.asset_id=a.asset_id
				WHERE a.fiscal_year=@fiscal_year AND a.run_month=12
				AND a.branch_id=@branch_id AND b.group_id=@group_id 
		) k ON x1.id = k.asset_id
		
		LEFT JOIN 
		(
			SELECT a.asset_id,dep_value Ashad FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id
				INNER JOIN ASSET_SALES_HISTORY c ON c.asset_id=a.asset_id
				WHERE a.fiscal_year=@fiscal_year AND a.run_month=12
				AND a.branch_id=@branch_id AND b.group_id=@group_id 
		) l ON x1.id = l.asset_id	
END
IF @flag='f'
BEGIN
	----Asset WRITEOFF Report---
	SELECT ROW_NUMBER()OVER(ORDER BY x1.id) AS [S.N.],x1.asset_number AS [Asset Number],ISNULL(x1.purchase_value,0) [Total Cost],
		ISNULL(x1.acc_dep,0) AS [Total Acc. Dep],ISNULL(a.Shawan,0) AS Shawan,ISNULL(b.Bhadra,0) AS Bhadra,
		ISNULL(c.Ashoj,0) AS Ashoj,ISNULL(d.Kartik,0) AS Kartik,ISNULL(e.Mangshir,0) AS Mangshir,ISNULL(f.Poush,0) AS Poush,ISNULL(g.Magh,0) AS Magh,
		ISNULL(h.Falgun,0) AS Falgun,ISNULL(i.Chaitra,0) AS Chaitra,ISNULL(j.Baishak,0) AS Baishak,ISNULL(k.Jestha,0) AS Jestha,ISNULL(l.Ashad,0) AS Ashad,
		(ISNULL(x1.purchase_value,0)-ISNULL(x1.acc_dep,0)-ISNULL(a.Shawan,0)-ISNULL(b.Bhadra,0)-ISNULL(c.Ashoj,0)-ISNULL(d.Kartik,0)-ISNULL(e.Mangshir,0)-
		ISNULL(f.Poush,0)-ISNULL(g.Magh,0)-ISNULL(h.Falgun,0)-ISNULL(i.Chaitra,0)-ISNULL(j.Baishak,0)-ISNULL(k.Jestha,0)-ISNULL(l.Ashad,0)) AS [Closing Cost]
		FROM 
		(					
			SELECT asset_id AS id,b.asset_number,book_value+accumulate_dep AS purchase_value,accumulate_dep AS acc_dep FROM ASSET_WRITEOF_HISTORY a 
			INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id 					  
			WHERE b.branch_id=@branch_id AND b.group_id=@group_id 
			AND a.write_off_date BETWEEN @yearStartDate AND @yearEndDate	
				
		) x1		
		LEFT JOIN 
		(
			SELECT a.asset_id,dep_value AS Shawan FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id
			INNER JOIN ASSET_WRITEOF_HISTORY c ON c.asset_id=a.asset_id
			WHERE a.fiscal_year=@fiscal_year AND a.run_month=4 
			AND a.branch_id=@branch_id AND b.group_id=@group_id 
			
		) a ON x1.id = a.asset_id
		LEFT JOIN 
		(
			SELECT a.asset_id,dep_value Bhadra FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id
			INNER JOIN ASSET_WRITEOF_HISTORY c ON c.asset_id=a.asset_id
				WHERE a.fiscal_year=@fiscal_year AND a.run_month=5 
				AND a.branch_id=@branch_id AND b.group_id=@group_id 
				
		) b ON x1.id = b.asset_id
		LEFT JOIN 
		(
			SELECT a.asset_id,dep_value Ashoj FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id
			INNER JOIN ASSET_WRITEOF_HISTORY c ON c.asset_id=a.asset_id
				WHERE a.fiscal_year=@fiscal_year AND a.run_month=6 
				AND a.branch_id=@branch_id AND b.group_id=@group_id 
		) c ON x1.id = c.asset_id
		LEFT JOIN 
		(
			SELECT a.asset_id,dep_value Kartik FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id
			INNER JOIN ASSET_WRITEOF_HISTORY c ON c.asset_id=a.asset_id
				WHERE a.fiscal_year=@fiscal_year AND a.run_month=7
				AND a.branch_id=@branch_id AND b.group_id=@group_id 
		) d ON x1.id = d.asset_id		
		LEFT JOIN 
		(
			SELECT a.asset_id,dep_value Mangshir FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id
				INNER JOIN ASSET_WRITEOF_HISTORY c ON c.asset_id=a.asset_id
				WHERE a.fiscal_year=@fiscal_year AND a.run_month=8
				AND a.branch_id=@branch_id AND b.group_id=@group_id 
		) e ON x1.id = e.asset_id
		LEFT JOIN 
		(
			SELECT a.asset_id,dep_value Poush FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id
			INNER JOIN ASSET_WRITEOF_HISTORY c ON c.asset_id=a.asset_id
				WHERE a.fiscal_year=@fiscal_year AND a.run_month=9
				AND a.branch_id=@branch_id AND b.group_id=@group_id 
		) f ON x1.id = f.asset_id
		LEFT JOIN 
		(
			SELECT a.asset_id,dep_value Magh FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id
			INNER JOIN ASSET_WRITEOF_HISTORY c ON c.asset_id=a.asset_id
				WHERE a.fiscal_year=@fiscal_year AND a.run_month=10
				AND a.branch_id=@branch_id AND b.group_id=@group_id 
		) g ON x1.id = g.asset_id
		LEFT JOIN 
		(
			SELECT a.asset_id,dep_value Falgun FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id
			INNER JOIN ASSET_WRITEOF_HISTORY c ON c.asset_id=a.asset_id
				WHERE a.fiscal_year=@fiscal_year AND a.run_month=11
				AND a.branch_id=@branch_id AND b.group_id=@group_id 
		) h ON x1.id = h.asset_id
		LEFT JOIN 
		(
			SELECT a.asset_id,dep_value Chaitra FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id
			INNER JOIN ASSET_WRITEOF_HISTORY c ON c.asset_id=a.asset_id
				WHERE a.fiscal_year=@fiscal_year AND a.run_month=12
				AND a.branch_id=@branch_id AND b.group_id=@group_id 
		) i ON x1.id = i.asset_id
		
		LEFT JOIN 
		(
			SELECT a.asset_id,dep_value Baishak FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id
				INNER JOIN ASSET_WRITEOF_HISTORY c ON c.asset_id=a.asset_id
				WHERE a.fiscal_year=@fiscal_year AND a.run_month=1
				AND a.branch_id=@branch_id AND b.group_id=@group_id 
		) j ON x1.id = j.asset_id
		
		LEFT JOIN 
		(
			SELECT a.asset_id,dep_value Jestha FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id
				INNER JOIN ASSET_WRITEOF_HISTORY c ON c.asset_id=a.asset_id
				WHERE a.fiscal_year=@fiscal_year AND a.run_month=12
				AND a.branch_id=@branch_id AND b.group_id=@group_id 
		) k ON x1.id = k.asset_id
		
		LEFT JOIN 
		(
			SELECT a.asset_id,dep_value Ashad FROM depreciation_status a INNER JOIN ASSET_INVENTORY b ON a.asset_id=b.id
				INNER JOIN ASSET_WRITEOF_HISTORY c ON c.asset_id=a.asset_id
				WHERE a.fiscal_year=@fiscal_year AND a.run_month=12
				AND a.branch_id=@branch_id AND b.group_id=@group_id 
		) l ON x1.id = l.asset_id
END
GO
