USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[ProcRecordAppraisalRating]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ProcRecordAppraisalRating]
	 @flag			VARCHAR(2)
	,@fy_id			VARCHAR(10)		= NULL
	,@rating		VARCHAR(20)		= NULL
	,@emp_ids		VARCHAR(max)	= NULL
	,@branch		INT				= NULL
	,@dept			INT				= NULL
	,@user			INT				= NULL

AS

IF @flag='a'
BEGIN

	INSERT INTO AppraisalRatingHistory(EMP_ID,FY_ID,RATING,CREATED_BY,CREATED_DATE)
	SELECT NAME,@fy_id,@rating,@user,GETDATE()
	FROM DBO.split(@emp_ids,',')

	Select 'Record Saved Successfully!!!' MSG

END

IF @FLAG='s'
BEGIN

	SELECT  
		 FY_ID
		,FIRST_NAME+ISNULL(' '+MIDDLE_NAME+' ',' ')+LAST_NAME AS [NAME]
		,RATING [Appraisal Rating]
	FROM AppraisalRatingHistory A
	INNER JOIN EMPLOYEE E ON A.EMP_ID=E.EMPLOYEE_ID
	WHERE A.FY_ID=@fy_id
	AND E.BRANCH_ID= ISNULL(@branch,E.BRANCH_ID)
	AND E.DEPARTMENT_ID = ISNULL(@dept,E.DEPARTMENT_ID)
	AND A.RATING = ISNULL(@rating,A.RATING)

END
GO
