USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[ProcLeaveSummaryReport]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Exec [ProcLeaveSummaryReport] 'i','6','1','1001','2009-12-18','2010-12-18'
--EXEC ProcLeaveSummaryReport 'a', @empID='1047',@datefrom='11/1/2010',@dateto='11/29/2010'

CREATE proc [dbo].[ProcLeaveSummaryReport]
	@flag char(1),
	@branch varchar(20)=null,
	@dept varchar(20)=null,
	@empID varchar(20)=null,	
	@datefrom varchar(20)=null,
	@dateto varchar(20)=null
AS
set nocount on;
declare @SQL as varchar(7000)


set @dateto=@dateto +' 23:59'


if @flag='i'
BEGIN 


		select t.NAME_OF_LEAVE as Leave, 
			isnull(SUM(b.AssignedLeave),0) [Assigned Leave],
			isnull(SUM(b.UsedLeave),0) [Used Leave], 
			isnull(SUM(b.AssignedLeave),0) - isnull(SUM(b.UsedLeave),0) as [Remain Leave] 

		from  leaveTypes t left join 
		 (
				select * from
				(
				 select r.LEAVE_TYPE_ID, SUM(ISNULL(r.NO_OF_DAYS_ACTUAL,0)+ISNULL(LAST_YEAR_LEAVE,0)) AssignedLeave 
					from leaveAssignment r with (nolock)
				   group by r.LEAVE_TYPE_ID
				   
					
				)a LEFT JOIN
				(
					 select r.LEAVE_TYPE_ID as LeaveID, SUM(ISNULL(r.APPROVED_DAYS,0)) UsedLeave 
						from LeaveRequest r with (nolock)
						where  r.FROM_DATE between @datefrom and @dateto 
					group by r.LEAVE_TYPE_ID
				)b
				ON  B.LeaveID=A.LEAVE_TYPE_ID
		)b on t.ID=b.LEAVE_TYPE_ID
		group by t.NAME_OF_LEAVE


END

if @flag='a'
BEGIN
		
		
			select a.NAME_OF_LEAVE as Leave, 
			  	CONVERT(varchar(20) ,r.FROM_DATE,107) as [Leave From], 
				CONVERT(varchar(20) ,r.TO_DATE,107)  as [Leave To],
				dbo.GetEmployeeFullNameOfId(r.REQUESTED_WITH) [Recommended By],
				dbo.GetEmployeeFullNameOfId(r.APPROVED_BY) [Approved By], 
				r.REQUESTED_DAYS as [Requestd Day] ,
				r.APPROVED_DAYS as  [Approved Day]
			from LeaveRequest r, LeaveTypes a
			where  
			r.LEAVE_TYPE_ID=a.ID
			and r.REQUESTED_BY=@empID
			and r.FROM_DATE between @datefrom and @dateto 
			
	
END
GO
