USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procMonthlyAttendanceReport]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
Exec [procMonthlyAttendanceReport] 'a','1945-05-07', '1945-05-16','1855'
Exec [procMonthlyAttendanceReport] 'a','2012-07-01', '2012-07-31','1855'

*/

CREATE Proc [dbo].[procMonthlyAttendanceReport]
	@flag varchar(1),
	@dtDateFrom varchar(20),
	@dtDateto varchar(20)=null,
	@intEmpCode varchar(20)
AS

set nocount on;
if @flag='a'
begin


	declare @intStartValue as int
	declare @intEndValue as int
	declare @intIncremental as int

	set @intEndValue = DATEDIFF(dd,@dtDateFrom,@dtDateto)
	set @intStartValue=DAY(@dtDateFrom)

	Create table #tzATTREcords 
	(
		ATT_DATE varchar(20),
		ATT_DAY varchar(20),
		ATT_STATUS VARCHAR(20),
		ATT_HOUR VARCHAR(20)
	)
	
	Create table #tzATTHRs 
	(
		ATT_DATE varchar(20),
		ATT_HOUR varchar(20),
		ATT_STATUS VARCHAR(20)
	)

	INSERT INTO #tzATTREcords(ATT_DATE,ATT_DAY,ATT_STATUS,ATT_HOUR)
	select Convert(varchar,cast(@dtDateFrom as datetime),102), DATENAME(dw, @dtDateFrom),'ABSENT','' 

	set @intIncremental=1
	while @intIncremental <=  @intEndValue
	begin
		INSERT INTO #tzATTREcords(ATT_DATE,ATT_DAY,ATT_STATUS,ATT_HOUR)
		select convert(varchar, cast( DATEADD(dd,@intIncremental,@dtDateFrom) as datetime) ,102) , 
		DATENAME(dw, DATEADD(dd,@intIncremental,@dtDateFrom)),'ABSENT','' 
		set @intIncremental=@intIncremental+1		
	end

	INSERT INTO #tzATTHRs(ATT_DATE,ATT_HOUR,ATT_STATUS) 
	Exec procFindEmpAttendence @intEmpCode, @dtDateFrom,@dtDateto


   
	update #tzATTREcords set
		 ATT_STATUS='ON LEAVE'
		,ATT_HOUR='0'
	from #tzATTREcords r, 
	(	 	
		select REQUESTED_BY	,b.NAME_OF_LEAVE
			,l.APPROVED_FROM, l.APPROVED_TO	   
		FROM LeaveRequest l	inner join LeaveTypes b on l.LEAVE_TYPE_ID=b.id
		where LEAVE_STATUS='Approved' and APPROVED_DAYS>0.5 
		and l.REQUESTED_BY=@intEmpCode 
	
	)a	where  r.ATT_DATE between a.APPROVED_FROM and a.APPROVED_TO
	
	update #tzATTREcords set
		 ATT_STATUS=CASE WHEN ATT_STATUS='ABSENT' THEN 'HOLIDAY' END 
		,ATT_HOUR='0'
	from #tzATTREcords r, 
	(	 	
		SELECT * FROM OfficialCalendar WHERE TYPE='H' 
	
	)a	where  MONTH(r.ATT_DATE)=MONTH(A.DATE) AND DAY(R.ATT_DATE)=DAY(A.DATE) AND YEAR(r.ATT_DATE)=YEAR(A.DATE)

	UPDATE #tzATTREcords SET 
	ATT_STATUS='HOLIDAY'
	FROM  #tzATTREcords a,
	(
	   SELECT * FROM #tzATTREcords
	)B WHERE A.ATT_DATE=B.ATT_DATE AND DATENAME(WEEKDAY,B.ATT_DATE)='Saturday'
	 
	
	UPDATE #tzATTREcords SET 
	ATT_STATUS=B.ATT_STATUS
	FROM  #tzATTREcords a,
	(
	   SELECT * FROM #tzATTHRs
	)B WHERE A.ATT_DATE=B.ATT_DATE

	
	DECLARE @DOJ AS Date
	SELECT @DOJ=ISNULL(JOINED_DATE,'1900-01-01') FROM EMPLOYEE WHERE EMPLOYEE_ID=@intEmpCode
	
	UPDATE #tzATTREcords SET ATT_STATUS='NOT JOINED'
	Where ATT_DATE <@DOJ 

	SELECT	
		a.ATT_DATE 'Date' ,ATT_DAY 'Attendance Day',
		case When  CAST(t.ATT_DATE AS date)<CAST(@DOJ AS date) Then 'NOT JOINED' ELSE
		isnull(t.ATT_STATUS,a.ATT_STATUS) END  'Attendance Status' ,
		isnull(t.ATT_HOUR,0) 'Attendance Hours'
	from #tzATTREcords a
	left join #tzATTHRs  t on a.ATT_DATE=t.ATT_DATE
	
	
	DROP table #tzATTREcords;

end
GO
