USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procManageCustomer]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[procManageCustomer]        
 (	   @ID                     INT       = NULL      
      ,@CUSTOMERNAME        VARCHAR(50)  = NULL         
      ,@CUSTOMERADDRESS     VARCHAR(250) = NULL         
      ,@CUSTOMERTELNO       VARCHAR(20)  = NULL     
      ,@CUSTOMERTELNOSEC VARCHAR(20)  = NULL        
      ,@CUSTOMERMOBILENO    VARCHAR(20)  = NULL         
      ,@CUSTOMEFAX          VARCHAR(20)  = NULL         
      ,@CONTACTPERSONFIRST  VARCHAR(50)  = NULL         
      ,@CONTACTPERSONSEC    VARCHAR(50)  = NULL         
      ,@CONTACTPERSONTHIRD  VARCHAR(50)  = NULL         
      ,@CUSTOMEREMAIL       VARCHAR(50)  = NULL         
      ,@CUSTOMERWEBSITE     VARCHAR(50)  = NULL         
      ,@BUSINESSDETAILS     VARCHAR(250) = NULL         
      ,@FACILITYDETAILS     VARCHAR(250) = NULL       
      ,@CONTMOBILE1   VARCHAR(20)  = NULL      
      ,@CONTMOBILE2   VARCHAR(20)  = NULL        
      ,@CONTMOBILE3   VARCHAR(20)  = NULL      
      ,@CONTEMAIL1   VARCHAR(20)  = NULL      
      ,@CONTEMAIL2   VARCHAR(20)  = NULL      
      ,@CONTEMAIL3   VARCHAR(20)  = NULL
      ,@ACTIONBY	VARCHAR(50)   = NULL
      ,@ACTIONDATE	DATETIME = NULL      
      ,@MODE                VARCHAR(5)   = NULL   
      ,@ISACTVE VARCHAR(2)=NULL   )   
 AS        
 BEGIN   
		SET NOCOUNT ON
		     
IF (@MODE = 'I')        
BEGIN   		
	
		          declare  @RowId as int    
		          declare @ven_code as varchar(200) 
		          
     INSERT INTO  CUSTOMER (CUSTOMERNAME         
            , CUSTOMERADDRESS         
            , CUSTOMERTELNO      
            , CUSTOMERTELNOSEC       
            , CustomerPANNo         
            , CUSTOMEFAX         
            , CONTACTPERSONFIRST         
            , CONTACTPERSONSEC         
            , CONTACTPERSONTHIRD         
            , CUSTOMEREMAIL         
            , CUSTOMERWEBSITE         
            , BUSINESSDETAILS         
            , FACILITYDETAILS       
            , CONTACTPERSONMOBILE1      
            , CONTACTPERSONEMAIL1      
            , CONTACTPERSONMOBILE2      
            , CONTACTPERSONEMAIL2      
            , CONTACTPERSONMOBILE3      
            , CONTACTPERSONEMAIL3
            , CREATEDDATE
            , CREATEDBY
            , ISACTIVE)      
        VALUES (       
			@CUSTOMERNAME        
           ,@CUSTOMERADDRESS        
           ,@CUSTOMERTELNO     
           ,@CUSTOMERTELNOSEC       
           ,@CUSTOMERMOBILENO        
           ,@CUSTOMEFAX        
           ,@CONTACTPERSONFIRST        
           ,@CONTACTPERSONSEC        
           ,@CONTACTPERSONTHIRD        
           ,@CUSTOMEREMAIL        
           ,@CUSTOMERWEBSITE        
           ,@BUSINESSDETAILS        
           ,@FACILITYDETAILS      
           ,@CONTMOBILE1      
           ,@CONTEMAIL1      
           ,@CONTMOBILE2      
           ,@CONTEMAIL2      
           ,@CONTMOBILE3      
           ,@CONTEMAIL3
           ,@ACTIONDATE
           ,@ACTIONBY
           ,@ISACTVE )  
           
		set @RowId = @@IDENTITY	
		update Customer set CustomerCode='VEN-'+CAST(@RowId AS VARCHAR)WHERE ID=@RowId
               
END        

IF (@MODE='U')        
      
   BEGIN            
                   
  UPDATE CUSTOMER        
  SET      
  [CUSTOMERNAME]   = @CUSTOMERNAME        
  ,[CUSTOMERADDRESS]  = @CUSTOMERADDRESS        
  ,[CUSTOMERTELNO]   = @CUSTOMERTELNO        
  ,[CUSTOMERTELNOSEC] = @CUSTOMERTELNOSEC    
  ,[CustomerPANNo]  = @CUSTOMERMOBILENO         
  ,[CUSTOMEFAX]    = @CUSTOMEFAX        
  ,[CONTACTPERSONFIRST]  = @CONTACTPERSONFIRST         
  ,[CONTACTPERSONSEC]  = @CONTACTPERSONSEC        
  ,[CONTACTPERSONTHIRD]  = @CONTACTPERSONTHIRD        
  ,[CUSTOMEREMAIL]   = @CUSTOMEREMAIL        
  ,[CUSTOMERWEBSITE]  = @CUSTOMERWEBSITE        
  ,[BUSINESSDETAILS]  = @BUSINESSDETAILS        
  ,[FACILITYDETAILS]  = @FACILITYDETAILS        
  ,[CONTACTPERSONMOBILE1] = @CONTMOBILE1      
  ,[CONTACTPERSONEMAIL1] = @CONTEMAIL1      
  ,[CONTACTPERSONMOBILE2] = @CONTMOBILE2      
  ,[CONTACTPERSONEMAIL2] = @CONTEMAIL2      
  ,[ContactPersonMobile3] = @CONTMOBILE3      
  ,[ContactPersonEmail3] = @CONTEMAIL3      
  ,[ModifiedDate]	= @ACTIONDATE
  ,[ModifiedBy]	= @ACTIONBY
  ,[ISACTIVE]=@ISACTVE
 WHERE ID = @ID        
  END        
        
		IF (@MODE = 'D')        
		BEGIN      
			DELETE FROM CUSTOMER WHERE ID = @ID      
		END      
 END
GO
