USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procOtReport]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[procOtReport](
	@flag varchar(1),
	@branchId varchar(20)= null,
	@deptId  varchar(20)=null,
	@emp_id varchar(20)=null,
	@from_date varchar(20)=null,
	@to_date varchar(20)=null
)
as
	set nocount on
	set xact_abort on

if @flag='s'
begin

	  declare @sql varchar(8000)

	  set @sql='SELECT dbo.GetBranchName(e.BRANCH_ID) [Branch Name],dbo.GetDeptName(DEPARTMENT_ID)[Department Name],
				dbo.GetEmployeeFullNameOfId(EMPLOYEE_ID)[Employee Name],CONVERT(varchar, cast(ot.requested_date as date),113) as [Requested Date]
				,CONVERT(varchar, cast(ot.hr_approve_date as date),113) as [HR Approved Date]
				,st.DETAIL_DESC [Requested Type]
				,sd.DETAIL_TITLE [Requested Sub Type Head]
				,ot.request_in_time [Request in Hrs],ot.request_out_time [Request out Hrs],
				cast(datediff(MINUTE, ot.request_in_time, ot.request_out_time )/60 AS VARCHAR(5)) + '':'' +
				RIGHT(''0'' + cast(datediff(MINUTE, ot.request_in_time, ot.request_out_time )%60 AS VARCHAR(2)), 2)[Requested Hrs],ot.request_remark as [Reason]
				,Rtrim(dbo.GetEmployeeFullNameOfId(ot.approved_by)) [Approved By]
				,isnull(cast(ot.hr_approve_time AS VARCHAR),0) [Approved Hrs],dbo.ShowDecimal(isnull(ot_amount,0)) [Amount]
				FROM OverTimeDetails ot 
				WITH (NOLOCK) INNER JOIN	
				Employee  e  WITH (NOLOCK) 
				ON e.EMPLOYEE_ID=ot.requested_by
				INNER JOIN
				StaticDataDetail sd on ot.head_id=sd.ROWID
				join StaticDataDetail st on ot.requesting_type=st.ROWID  where 1=1'
				
		if @branchId is not null
			set @sql=@sql +' and e.BRANCH_ID='''+@branchId+''''
			
		if @deptId is not null
			set @sql=@sql +' and e.DEPARTMENT_ID='''+@deptId+''''    
		
		if @emp_id is NOT null
			set @sql= @sql + ' and e.EMPLOYEE_ID='''+@emp_id+''''
			
		if	@from_date is not null and @to_date is not null
			set @sql= @sql + ' and ot.hr_approve_date between '''+@from_date+''' and '''+@to_date+''''					
	
		exec(@sql)
end

if @flag='a'
begin
	  
		---OT ADJUSTED IN SYSTEM PAYROLL
	SELECT a.EMPLOYEE_ID [Employee ID],A.EMP_NAME [Employee Name ],convert(varchar,a.APPLIED_DATE,107) [Applied in Payroll],SUM(a.AMOUNT) [Amount] FROM 
	(
		select ID,A.EMPLOYEE_ID,DBO.GetEmployeeFullNameOfId(B.EMPLOYEE_ID) EMP_NAME,AMOUNT,APPLIED_DATE 
		from AdhocPayment A INNER JOIN Employee B ON A.EMPLOYEE_ID=B.EMPLOYEE_ID
		where HEAD_ID=591   and APPLIED_DATE is not null
	)a inner join 
	(
		select paid_id,requested_by,paid_by,paid_date,SUM(isnull(ot_amount,0)) amount
		 from OverTimeDetails where paid_date is not null
		 group by paid_id,requested_by,paid_by,paid_date
	)b on a.ID=b.paid_id  WHERE A.APPLIED_DATE BETWEEN @from_date AND @to_date +' 23:23:59'
	GROUP BY a.ID,a.EMPLOYEE_ID,a.APPLIED_DATE,A.EMP_NAME	
	ORDER BY A.EMP_NAME
	
end
if @flag='b'
begin

		--OT APPROVED BY SUPERVISOR BUT STILL PENDING IN HR 
	SELECT B.EMPLOYEE_ID [Employee ID],dbo.GetEmployeeFullNameOfId(B.EMPLOYEE_ID) [Employee Name],convert(varchar,A.requested_date,107) [Req From Date],
	A.request_in_time [From Time],convert(varchar,A.requested_to_date,107) [Req To Date]
	,A.request_out_time [To Time],A.supervisor_approv_time [OT Approved Time] 
	FROM OverTimeDetails A INNER JOIN Employee B ON A.requested_by=B.EMPLOYEE_ID
	WHERE approved_date IS NOT NULL AND paid_date IS NULL
	AND A.requested_date BETWEEN @from_date AND @to_date +' 23:23:59'
	order by dbo.GetEmployeeFullNameOfId(B.EMPLOYEE_ID)
	

end
if @flag='c'
begin

		--OT APPROVED BY HR BUT STILL PENDING IN AHOC PAYMENT												 
	SELECT A.EMPLOYEE_ID [Employee ID],DBO.GetEmployeeFullNameOfId(B.EMPLOYEE_ID) [Employee Name],SUM(ISNULL(A.AMOUNT,0)) [Amount]
	FROM AdhocPayment A INNER JOIN Employee B ON A.EMPLOYEE_ID=B.EMPLOYEE_ID
	WHERE HEAD_ID=591 AND APPLIED_DATE IS NULL
	AND A.CREATED_DATE BETWEEN @from_date AND @to_date +' 23:23:59'
	GROUP BY A.EMPLOYEE_ID,DBO.GetEmployeeFullNameOfId(B.EMPLOYEE_ID)
	order by DBO.GetEmployeeFullNameOfId(B.EMPLOYEE_ID) 
	
end
GO
