USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procCEA_Setup]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[procCEA_Setup]    
  @flag char(1),    
  @rowids varchar(max)=null,    
  @CEAAmount varchar(max)=null,    
  @user varchar(50)=null    
      
as        
set nocount on;    
if(@flag='s')    
begin    
 SELECT ROWID [POSITION ID],DETAIL_TITLE [POSITION NAME],(CEAvalue) [CEA AMOUNT]     
 from StaticDataDetail where TYPE_id=4    
end      
if(@flag='i')    
begin    
    
 update StaticDataDetail set CEAvalue=b.amount,MODIFIED_BY=@user,MODIFIED_DATE=GETDATE()     
 from StaticDataDetail a,    
 (      
  SELECT a.name rowid,b.name amount FROM     
  (    
   SELECT id,name FROM DBO.split(@rowids,',')    
  )A inner join    
  (    
   SELECT id,name FROM DBO.split(@CEAAmount,',')    
  )B   on a.id=b.id    
 )b where a.ROWID=b.rowid    
     
 select 'Update Success!' as msg    
      
end
GO
