USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[Proc_ServiceEvents]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--   exec [Proc_ServiceEvents] @FLAG='a',@Emp_ID=1001
CREATE PROC [dbo].[Proc_ServiceEvents]
	 @FLAG VARCHAR(5)
	,@Emp_ID INT

AS
if @FLAG='a'
Begin

Declare 
	@transfer_date DATE,@transfer_id INT,@post INT,@branch_id INT,@dept_id INT, @confirmed_date DATE
	
create table #TEMP_TABLE
(
	id varchar(50) null,
	s_event varchar(500) null,
	effective_date varchar(500) null,
	branch_name varchar(500) null,
	dept_name varchar(500) null,
	position varchar(500) null,	
	emp_type varchar(500) null,
	remarks varchar(max) null
)
	

--### EMPLOYEE APPOINTMENT

   insert into #TEMP_TABLE(id,s_event, effective_date,branch_name,dept_name,position,emp_type,remarks)
   SELECT * FROM
   (
	SELECT
		id,
		'Appointment' [Service Event], 
		effective_date [Effective Date],
		dbo.GetBranchName(BRANCH_ID) Branch,
		dbo.GetDeptName(dept_id) Department,
		rtrim(ltrim(dbo.GetDetailTitle(position_id))) [Position],				 
		dbo.GetDetailTitle(emp_type) emp_type,
		''	 remarks
	FROM emp_log 
	WHERE 
		EMP_ID=@Emp_ID	and flag='a'
		
	UNION ALL	
		
--### EMPLOYEE PROMOTION	 
 
	SELECT
		ROWID,
		'Promotion' [Service Event], 
		PROMOTION_DATE [Effective Date],
		dbo.GetBranchName(BRANCH_ID) Branch,
		dbo.GetDeptName(DETP_ID) Department,
		rtrim(ltrim(dbo.GetPosOfId(POSITION_ID)))[Position],		 
		dbo.GetDetailTitle(emp_type) emp_type,
		'From '+rtrim(ltrim(dbo.GetPosOfId(OLD_POSITION)))+' <b>To</b> '+rtrim(ltrim(dbo.GetPosOfId(POSITION_ID)))  remarks
	FROM Promotion 
	WHERE 
		EMP_ID=@Emp_ID and UPDATE_FLAG='Y' 

	 UNION ALL
--### EMPLOYEE EXTERNAL TRASNFER

	SELECT 
		ID,
		'External Transfer' service_event,
		EFFECTIVE_DATE AS eff_date,
		rtrim(ltrim(dbo.GetBranchName(WHICH_BRANCH))) branch,
		rtrim(ltrim(dbo.GetDeptName(WHICH_DEPARTMENT))) dept,
		rtrim(ltrim(dbo.GetDeptName(from_position))) position,
		dbo.GetDetailTitle(emp_type) emp_type  ,
		'From Branch '+rtrim(ltrim(dbo.GetBranchName(FROM_BRANCH)))+' <b>To</b> '+ rtrim(ltrim(dbo.GetBranchName(WHICH_BRANCH)))+', '+
		'From Department '+rtrim(ltrim(dbo.GetDeptName(FROM_DEPARTMENT)))+' <b>To</b> '+rtrim(ltrim(dbo.GetDeptName(WHICH_DEPARTMENT))) remarks
	FROM ExternalTransferPlan
	WHERE 
		STAFF_ID = @Emp_ID	and TRANSFER_TYPE='e' and EXECUTED_DATE is not null
		
		--select * from ExternalTransferPlan

	UNION ALL
--### EMPLOYEE INTERNAL TRASNFER

	SELECT	
		ID,
		'Internal Transfer' service_event,
		EFFECTIVE_DATE AS eff_date,
		rtrim(ltrim(dbo.GetBranchName(WHICH_BRANCH))) branch,
		rtrim(ltrim(dbo.GetDeptName(WHICH_DEPARTMENT))) dept,
		rtrim(ltrim(dbo.GetDeptName(from_position))) position,
		dbo.GetDetailTitle(emp_type) emp_type,
		'From Branch '+rtrim(ltrim(dbo.GetBranchName(FROM_BRANCH)))+' <b>To</b> '+ rtrim(ltrim(dbo.GetBranchName(WHICH_BRANCH)))+', '+
		'From Department '+rtrim(ltrim(dbo.GetDeptName(FROM_DEPARTMENT)))+' <b>To</b> '+rtrim(ltrim(dbo.GetDeptName(WHICH_DEPARTMENT))) remarks
	FROM ExternalTransferPlan
	WHERE 
		STAFF_ID = @Emp_ID   and TRANSFER_TYPE='i' and EXECUTED_DATE is not null

	UNION ALL
--### EMPLOYEE TEMPORARY TRASNFER

	SELECT 
		ID,
		CASE WHEN SERVICE_FLAG='T' THEN 'Temporary Transfer'
                WHEN SERVICE_FLAG='AR' THEN  'Additional Responsibility'
                WHEN SERVICE_FLAG='A' THEN 'Assignment'
                WHEN SERVICE_FLAG='TA' THEN 'Temporary Assignment'
                END AS service_event,
		EFFECTIVE_DATE AS eff_date,
		rtrim(ltrim(dbo.GetBranchName(WHICH_BRANCH))) branch,
		rtrim(ltrim(dbo.GetDeptName(WHICH_DEPARTMENT))) dept,
		rtrim(ltrim(dbo.GetDeptName(position_id))) position,
		dbo.GetDetailTitle(emp_type) emp_type,
		'From Branch '+rtrim(ltrim(dbo.GetBranchName(FROM_BRANCH)))+' <b>To</b> '+ rtrim(ltrim(dbo.GetBranchName(WHICH_BRANCH)))+', '+
		'From Department '+rtrim(ltrim(dbo.GetDeptName(FROM_DEPARTMENT)))+' <b>To</b> '+rtrim(ltrim(dbo.GetDeptName(WHICH_DEPARTMENT)))+', '+
		'From Dated '+cast(EFFECTIVE_DATE as varchar) +' <b>To</b> '+ cast(END_DATE as varchar) remarks
	FROM Temporary_Transfer
	WHERE 
		EMPLOYEE_ID = @Emp_ID  and Start_Executed_Date is not null

	UNION ALL
--### EMPLOYEE PERMANENT/CONFIRMATION 

	SELECT
		id,
		'Confirmation' [Service Event], 
		effective_date [Effective Date],
		dbo.GetBranchName(BRANCH_ID) Branch,
		dbo.GetDeptName(dept_id) Department,
		rtrim(ltrim(dbo.GetDetailTitle(position_id))) [Position],		 
		dbo.GetDetailTitle(emp_type) emp_type  ,
		''	remarks
	FROM emp_log 
	WHERE 
		EMP_ID=@Emp_ID	and flag='c'
		
	UNION ALL	
--### EMPLOYEE PERMANENT/CONFIRMATION 

	select
	RowID, 
	FLAG service_event,
	Cont_DateFrm  eff_date,
	dbo.GetBranchName(branch_id) branch,
	dbo.GetDeptName(dept_id) dept,
	dbo.GetDetailTitle(position_id) position,
	dbo.GetDetailTitle(emp_type) emp_type,
	'From Dated '+ cast(Cont_DateFrm as varchar) +' <b>To</b> '+ CAST( Cont_DateTo as varchar)	 as remarks
	from Employee_Contract	where EMPLOYEE_ID=@Emp_ID  AND FLAG IS NOT NULL
	
	Union ALL
--### EMPLOYEE DISCOUNTINUATION

	select 
		ID,
	'Discountinuation-'+rtrim(ltrim(dbo.GetDetailTitle(DISCONTINUOUS_REASON))) service_event,
	EFFECTIVE_DATE eff_date,
	dbo.GetBranchName(BRANCH_ID) branch,
	dbo.GetDeptName(DEPT_ID) dept,
	dbo.GetDetailTitle(POST_ID) position,
	dbo.GetDetailTitle(EMP_TYPE) emp_type,
	DISCRIPTION	as remarks
	from EmployeeDiscontinuousPlan	where STAFF_ID=@Emp_ID	
	
	UNION ALL
----### EMPLOYEE ONSITE DUTY

	select 
		exitIntId,
	'Exit Interview' service_event,
	createdDate eff_date,
	dbo.GetBranchName(branch) branch,
	dbo.GetDeptName(dept) dept,
	dbo.GetDetailTitle(post_id) position,
	dbo.GetDetailTitle(EMP_TYPE) emp_type,
	exitReason	as remarks
	from ExitInterview	where empId=@Emp_ID

	UNION ALL
	
	----### EMPLOYEE ONSITE DUTY
	select 
		onsiteID,
	'ON SITE DUTY' service_event,
	sitedatefrom eff_date,
	dbo.GetBranchName(branch) branch,
	dbo.GetDeptName(dept) dept,
	dbo.GetDetailTitle(post_id) position,
	dbo.GetDetailTitle(EMP_TYPE) emp_type,
	purpose+' - '+siteLocation+' -To Date '+convert(varchar,sitedateto,101) as remarks
	from onsiteDuty	where empId=@Emp_ID
	
	UNION ALL
	
	----### EMPLOYEE ON TRAINING PARTICIPATION
	select 
	a.id,
	'ON TRAINING' service_event,
	b.startDate eff_date,
	dbo.GetBranchName(branchId) branch,
	dbo.GetDeptName(deptId) dept,
	dbo.GetDetailTitle(positionId) position,
	dbo.GetDetailTitle(emp_type) emp_type,
	'Program : '+ b.programName +'; Desc: ' +b.narration+'; To Date :'+CONVERT(varchar,b.endDate,101) as remarks
	from trainingParticipation a inner join training b on a.trainingId=b.id
	where employeeId=@Emp_ID
	
	)A	
	
	SELECT	ID,
			s_event AS [Service Events],
			effective_date AS [Effective Date],
			branch_name AS [Branch Name],
			dept_name AS [Department Name],
			position AS [Position] ,
			emp_type AS [Service Status] ,
			remarks [Description]
	 FROM	#TEMP_TABLE	 order by effective_date asc

end
GO
