USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procManageAppraisal]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[procManageAppraisal]      
 (      
   @flag          varchar(10)  =null      
   ,@user          varchar(50)  =null      
   ,@rowId          varchar(50)  =null      
   ,@empId          varchar(20)  =null      
   ,@fromDate         varchar(50)  =null      
   ,@toDate         varchar(50)  =null       
   ,@Appointment_Date       varchar(10)     = NULL      
   ,@Academic         varchar(50)  = NULL      
   ,@Appointment_Position      INT            = NULL      
   ,@Probation_Period_From      varchar(10)     = NULL      
   ,@Probation_Period_To      varchar(10)     = NULL      
   ,@Permanent_Position      INT            = NULL      
   ,@Effective_Date       varchar(50)     = NULL      
   ,@Basic_Salary        MONEY          = NULL      
   ,@Grade          MONEY          = NULL      
   ,@Other_Allowance       MONEY          = NULL      
   ,@Transfer_Record       VARCHAR(3000)  = NULL      
   ,@Promotion_Record       VARCHAR(3000)  = NULL      
   ,@Training_Record       VARCHAR(3000)  = NULL      
   ,@Notes_on_file        VARCHAR(3000)  = NULL      
   ,@supervisor_id        varchar(20)=null      
   ,@reviewer_id        varchar(20)=null      
   ,@chief_id         varchar(20)=null     
   ,@selfDays         varchar(20)=null     
   ,@supDays         varchar(20)=null     
   ,@revDays         varchar(20)=null     
   ,@branchId   VARCHAR(50) = NULL  
   ,@deptId    VARCHAR(50)= NULL  
 )      
as      
set nocount on;      
      
DECLARE @positionId AS VARCHAR(50),@AppraisalId as varchar(10),@appraisal_id as int      
      
if @flag='i'      
BEGIN      
      
   --SELECT @positionId= POSITION_ID,@branchId=BRANCH_ID,@deptId=DEPARTMENT_ID FROM Employee WHERE EMPLOYEE_ID=@empId      
   SELECT @positionId = POSITION_ID FROM Employee WHERE EMPLOYEE_ID=@empId      
      
   INSERT INTO Appraisal      
   (      
    BRANCH_ID,      
    DEPARTMENT_ID,      
    POSITION_ID,      
    EMPLOYEE_ID,      
    FROM_DATE,      
    TO_DATE,      
    Appointment_Date,                         
    Appointment_Position ,                   
    Probation_Period_From ,                   
    Probation_Period_To ,                     
    Permanent_Position ,                      
    Effective_Date ,                         
    Basic_Salary,                             
    Grade ,                                   
    Other_Allowance ,                         
    Transfer_Record ,                         
    Promotion_Record ,                       
    Training_Record  ,                        
    Notes_on_file  ,         
    CREATED_BY,      
    CREATED_DATE,      
    Academic_Qualification      
          
   )      
   VALUES      
   (      
    @branchId,      
    @deptId,      
    --@positionId,   
    @Appointment_Position,    
    @empId,      
    @fromDate,      
    @toDate,      
    @Appointment_Date ,                       
    @Appointment_Position,                     
    @Probation_Period_From,                   
    @Probation_Period_To,                    
    @Permanent_Position ,                     
    @Effective_Date,                       
    @Basic_Salary ,                            
    @Grade  ,                                  
    @Other_Allowance ,                         
    @Transfer_Record ,                         
    @Promotion_Record ,                       
    @Training_Record ,                         
    @Notes_on_file  ,         
    @user,      
    GETDATE()      
    ,@Academic      
      
   )      
       
 SET @appraisal_id=@@IDENTITY      
     
  INSERT INTO appraisalSupervisorAssignment(emp,supervisor,supervisor_type,created_by,created_date,record_status,appraisal_id,[days])      
 select @empId,@empId,'sf',@user,GETDATE(),'y',@appraisal_id,DATEADD(DAY, CAST(@selfDays AS Int) ,GETDATE()) -- @toDate  
       
 INSERT INTO appraisalSupervisorAssignment(emp,supervisor,supervisor_type,created_by,created_date,record_status,appraisal_id,[days])      
 select @empId,@supervisor_id,'s',@user,GETDATE(),'y',@appraisal_id,DATEADD(DAY,CAST(@selfDays as INT) + CAST(@supDays as INT),@toDate)      
      
 INSERT INTO appraisalSupervisorAssignment(emp,supervisor,supervisor_type,created_by,created_date,record_status,appraisal_id,[days])      
 select @empId,@reviewer_id,'r',@user,GETDATE(),'y',@appraisal_id,DATEADD(DAY,CAST(@supDays as INT)  + CAST(@selfDays as INT) +CAST(@revDays as INT),@toDate)    

       
    
       
 --INSERT INTO appraisalSupervisorAssignment(emp,supervisor,supervisor_type,created_by,created_date,record_status)      
 --select @empId,@chief_id,'h',@user,GETDATE(),'y'      
       
 --INSERT INTO appraisalSupervisorAssignment(emp,supervisor,supervisor_type,created_by,created_date,record_status)      
 --select @empId,@chief_id,'hc',@user,GETDATE(),'y'      
       
 --HR Committee--hc      
 --HR-----h      
       
END      
      
IF @flag='u'      
BEGIN      
 SELECT @positionId= POSITION_ID FROM Employee WHERE EMPLOYEE_ID=@empId    --,@branchId=BRANCH_ID,@deptId=DEPARTMENT_ID   
       
 UPDATE Appraisal SET       
   BRANCH_ID    =@branchId      
  ,DEPARTMENT_ID   =@deptId      
  --,POSITION_ID   =@positionId  
  ,POSITION_ID   =@Appointment_Position      
  ,EMPLOYEE_ID    =@empId      
  ,FROM_DATE    =@fromDate      
  ,TO_DATE    =@toDate      
  ,Appointment_Date  =@Appointment_Date                        
  ,Appointment_Position = @Appointment_Position                  
  ,Probation_Period_From  =@Probation_Period_From                
  ,Probation_Period_To =@Probation_Period_To                  
  ,Permanent_Position   =@Permanent_Position                   
  ,Effective_Date   =@Effective_Date                   
  ,Basic_Salary    =@Basic_Salary                      
  ,Grade     =@Grade                           
  ,Other_Allowance  =@Other_Allowance                       
  ,Transfer_Record  =@Transfer_Record                      
  ,Promotion_Record  =@Promotion_Record                     
  ,Training_Record  =@Training_Record                      
  ,Notes_on_file   =@Notes_on_file      
  ,Academic_Qualification  =@Academic      
  ,MODIFIED_BY   =@user      
  ,MODIFY_DATE   =GETDATE()             
  WHERE ID=@rowId    
    
   UPDATE appraisalSupervisorAssignment   
  SET   
  -- EMP   =  @empId  
  --,BRANCH   =  @branchId  
  --,DEPT   =  @deptId  
   --SUPERVISOR  =  @supervisor_id  
  [days]   =  DATEADD(DAY, CAST(@selfDays AS Int) ,@toDate)  
   WHERE SUPERVISOR_TYPE = 'sf' and appraisal_id = @rowId     
     
    UPDATE appraisalSupervisorAssignment   
  SET   
   SUPERVISOR  =  @supervisor_id   
  ,[days]   =   DATEADD(DAY,CAST(@selfDays as INT) + CAST(@supDays as INT),@toDate)  
   WHERE SUPERVISOR_TYPE = 's' and appraisal_id = @rowId    
     
     UPDATE appraisalSupervisorAssignment   
  SET    
   SUPERVISOR  =  @reviewer_id  
  ,[days]   =   DATEADD(DAY,CAST(@supDays as INT)  + CAST(@selfDays as INT) +CAST(@revDays as INT),@toDate)  
   WHERE SUPERVISOR_TYPE = 'r' and appraisal_id = @rowId    
      
END      
      
IF @flag='s'      
BEGIN      
      
DECLARE @strList AS VARCHAR(1000)      
SET @strList=NULL       
      
SELECT @strList = COALESCE(@strList + ', ', '') +      
CAST(DEGREE AS VARCHAR(MAX))      
FROM  Employee_Education WHERE EMPLOYEE_ID = @empId and LEVELS<>'180'      
      
SELECT ISNULL(CONVERT(VARCHAR,e.APPOINTMENT_DATE,101),'') [APPOINTMENT_DATE],      
  CONVERT(VARCHAR,e.permanent_date,101)    [permanent_date],      
  CONVERT(VARCHAR,Cont_DateFrm,101)             [ProbationPeriodFrom],      
  CONVERT(VARCHAR,Cont_DateTo,101)              [ProbationPeriodTo],      
  @strList as DEGREE        
        
  FROM Employee e      
  left join Employee_Contract EC ON e.EMPLOYEE_ID= EC.EMPLOYEE_ID      
  WHERE e.EMPLOYEE_ID =@empId       
      
  select EMP_ID,'Old Position:'+sdd.DETAIL_TITLE+'Promotion Date:'+cast(p.PROMOTION_DATE as varchar)+'Promotion To:'+sd.DETAIL_TITLE [Description] from Promotion p  
  inner join StaticDataDetail sdd on sdd.ROWID=p.old_position   
  inner join StaticDataDetail sd on sd.ROWID=p.POSITION_ID        
  where EMP_ID = @empId       
          
  select STAFF_ID,TPG.TRAINING_PROGRAM_TITLE + ' from '+CAST(ACTUAL_START_DATE as varchar) + ' to ' +CAST(ACTUAL_END_DATE as varchar)  [TRAINING_PROGRAM_TITLE] from TrainingParticipants TP       
    inner join TrainingProgram TPG on TP.TRAINING_PROGRAM_ID = TPG.ID  where STAFF_ID = @EmpId and IS_APPROVED=1      
          
  select STAFF_ID,      
  'From '+cast(dbo.GetBranchName(FROM_BRANCH) as varchar)+','+   CAST(dbo.GetDeptName(FROM_DEPARTMENT) as varchar) +      
  ' to '+cast(dbo.GetBranchName(WHICH_BRANCH) as varchar)+','+ CAST(dbo.GetDeptName(WHICH_DEPARTMENT) as varchar)  [TransferDetail],TRANSFER_DESCRIPTION      
  ,case transfer_type when 'e' then 'External' else 'Internal' end [transfer] from ExternalTransferPlan ETP where STAFF_ID = @empId      
        
  SELECT EMPLOYEE_ID,dbo.ShowDecimal(SUM(Basic_sal))  Basic_sal,      
  dbo.ShowDecimal(SUM(Grade)) Grade,      
  dbo.ShowDecimal(SUM(Basic_sal)+SUM(Grade)) total_basic,      
  dbo.ShowDecimal(SUM(gen_all)) gen_all,      
  dbo.ShowDecimal(SUM(Basic_sal)+SUM(Grade)+SUM(gen_all)) gross      
  FROM (      
    SELECT EMPLOYEE_ID,CASE WHEN s.TYPE_ID=36 THEN SUM(AMOUNT) ELSE 0 END AS Basic_sal      
    ,CASE WHEN s.TYPE_ID=37 THEN SUM(AMOUNT) ELSE 0 END Grade      
    ,CASE WHEN s.TYPE_ID=38 THEN SUM(AMOUNT) ELSE 0 END gen_all      
    FROM Payable p       
    Inner join StaticDataDetail s      
    ON p.BENEFIT_ID=s.ROWID      
    WHERE EMPLOYEE_ID =@empId      
    GROUP BY EMPLOYEE_ID,s.TYPE_ID      
    )a      
  GROUP BY EMPLOYEE_ID      
      
      
END      
      
      
IF @flag='a'      
BEGIN      
      
 DECLARE @super as int,@reviewer as int,@chief as int      
 select @super=SUPERVISOR from appraisalSupervisorAssignment where appraisal_id=@rowId and supervisor_type='s'      
 select @reviewer=SUPERVISOR from appraisalSupervisorAssignment where appraisal_id=@rowId and supervisor_type='r'      
 select @chief=SUPERVISOR from appraisalSupervisorAssignment where appraisal_id=@rowId and supervisor_type='cf'      
       
 SELECT ID,dbo.GetEmployeeFullNameOfId(EMPLOYEE_ID) EmployeeName,      
  dbo.GetEmployeeFullNameOfId(@super) as supervisor ,       
  dbo.GetEmployeeFullNameOfId(@reviewer) as reviewer,      
  dbo.GetEmployeeFullNameOfId(@chief) as chief,      
  EMPLOYEE_ID,      
  CONVERT(VARCHAR,FROM_DATE,101) AS FROM_DATE,      
  CONVERT(VARCHAR,TO_DATE,101)AS TO_DATE,TITLE,      
  BRANCH_ID,      
  DEPARTMENT_ID,      
  POSITION_ID,      
  Academic_Qualification,      
  ISNULL(Appointment_Position,0)       [Appointment_Position] ,       
  ISNULL(Permanent_Position,0)       [Permanent_Position],      
  CONVERT(VARCHAR,Appointment_Date,101)  [Appointment_Date],      
        CONVERT(VARCHAR,Appointment_Date,101)  [Appointment_Date],              
  CONVERT(VARCHAR,Probation_Period_From,101) [Probation_Period_From],                    
        CONVERT(VARCHAR,Probation_Period_To,101)  [Probation_Period_To],      
     CONVERT(VARCHAR,Effective_Date,101)   [Effective_Date],              
  dbo.ShowDecimal(ISNULL(Basic_Salary,0))      [Basic_Salary],                             
  dbo.ShowDecimal(ISNULL(Grade,0))        [Grade] ,                                   
  dbo.ShowDecimal(ISNULL(Other_Allowance,0))     [Other_Allowance] ,      
        
  dbo.ShowDecimal(ISNULL(Basic_Salary,0) + ISNULL(Grade,0)) [total_basic],      
  dbo.ShowDecimal(ISNULL(Basic_Salary,0) + ISNULL(Grade,0) + ISNULL(Other_Allowance,0)) [grossSalary] ,       
                        
  Transfer_Record ,                         
  Promotion_Record ,                       
  Training_Record  ,                        
  Notes_on_file ,         
  dbo.GetEmployeeInfoById(sa.self_Id) self_name,  
  dbo.GetEmployeeInfoById(sa.supervisor_id) supervisor_name,  
  dbo.GetEmployeeInfoById(sa.reviewer_id) reviewer_name,  
  DATEDIFF(DAY,a.TO_DATE,asa.self_deadline) self_deadline,  
  DATEDIFF(DAY,a.TO_DATE,asa.appraisal_deadline)  - DATEDIFF(DAY,a.TO_DATE,asa.self_deadline)  appraisal_deadline,  
  DATEDIFF(DAY,a.TO_DATE,asa.reviewer_deadline) - DATEDIFF(DAY,a.TO_DATE,asa.appraisal_deadline)  reviewer_deadline   
 FROM APPRAISAL a  
   
  INNER JOIN  
  (   
    SELECT p.appraisal_id,p.sf[self_deadline],p.s [appraisal_deadline],p.r[reviewer_deadline] FROM(  
    SELECt appraisal_id,days,SUPERVISOR_TYPE from appraisalSupervisorAssignment  
  
    )a  
    pivot (  
    max ([days]) for SUPERVISOR_TYPE IN([sf],[s],[r])  
    )  
    p  
  )asa   
    
 ON a.ID = asa.appraisal_id    
   
  INNER JOIN  
  (   
     select p.appraisal_id,p.sf [self_Id],p.s [supervisor_id],p.r[reviewer_id] from(  
     select appraisal_id,SUPERVISOR_TYPE,SUPERVISOR from appraisalSupervisorAssignment  
  
     )a  
     pivot (  
     max (SUPERVISOR) for SUPERVISOR_TYPE IN([sf],[s],[r])  
     )  
     p  
   )sa   
  on sa.appraisal_id = a.ID   
    
      
 WHERE ID=@rowId      
      
--select * from appraisalSupervisorAssignment      
--select SUPERVISOR,* from SuperVisroAssignment      
--select * from appraisal      
      
END      
      
IF @flag='d'      
BEGIN      
 IF EXISTS(SELECT TOP 1 * FROM appraisalRating WHERE appraisalId=@rowId)      
 BEGIN      
  SELECT 'Already Appraised!' AS msg      
  RETURN;      
 END      
 DELETE FROM appraisal WHERE ID=@rowId      
 DELETE FROM appraisalSupervisorAssignment WHERE appraisal_id=@rowId      
 SELECT 'Success!' AS msg      
       
END      
       
       
IF @flag='AP'  
BEGIN  
  
  SELECT DISTINCT  
    E.POSITION_ID  
   ,RTRIM(dbo.GetPosOfId(E.POSITION_ID)) AS [POSITION]  
  FROM Employee E  
  
 --IF NOT EXISTS(SELECT * FROM Promotion WHERE EMP_ID=@empId)  
 --BEGIN  
 -- SELECT distinct  
 --   E.POSITION_ID  
 --  ,RTRIM(dbo.GetPosOfId(E.POSITION_ID)) AS [POSITION]  
 -- FROM Employee E  
 -- WHERE EMPLOYEE_ID=@empId  
 --END  
 --ELSE   
 --BEGIN    
 -- SELECT   
 --  Top 1  
 --   P.OLD_POSITION AS POSITION_ID  
 --  ,RTRIM(dbo.GetPosOfId(P.OLD_POSITION)) AS [POSITION]  
 -- FROM Employee E  
 -- LEFT JOIN Promotion P ON E.EMPLOYEE_ID=P.EMP_ID   
 -- WHERE EMP_ID=@empId  
 -- ORDER BY P.PROMOTION_DATE  
 --END  
  
END
GO
