USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_HeadTotal]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Exec proc_HeadTotal 'a',@fiscalYear='69-70',@runMonth='7'

CREATE proc [dbo].[proc_HeadTotal]
	@flag varchar(1),
	@fiscalYear varchar(20)=null,
	@runMonth varchar(10)=null


AS

DECLARE 
	@monthStartDate DATE,
	@monthEndDate DATE,
	@previousmonth Varchar(10),
	@previousMonthStart Date,
	@previousMonthEnd Date,
	@yearStartDate varchar(12),
	@previousfy VARCHAR(10)

SELECT 
	@previousfy = FISCAL_YEAR_NEPALI 
FROM FiscalYear 
WHERE EN_YEAR_END_DATE=DATEADD(D,-1,@yearStartDate)

SELECT 
	@yearStartDate = EN_YEAR_START_DATE 
FROM FiscalYear 
WHERE FISCAL_YEAR_NEPALI=@fiscalYear

SELECT @previousfy = CASE WHEN CAST(@runMonth AS INT)=4 THEN @previousfy ELSE @fiscalYear END

SET @monthStartDate =dbo.GetMonthStartDateEng(@fiscalYear , @runMonth )
SET @monthEndDate =dbo. GetMonthEndDateEng(@fiscalYear , @runMonth)
SELECT @PreviousMonth = Case @runMonth when 4 then 12 when 1 then 12 else @runMonth-1 end
SET @previousMonthStart =dbo.GetMonthStartDateEng(@fiscalYear , @previousmonth)
SET @previousMonthEnd =dbo.GetMonthEndDateEng(@fiscalYear , @previousmonth)

IF OBJECT_ID('tempdb..#TempReport') IS NOT NULL
DROP TABLE #TempReport

Create Table #TempReport 
(
	 Ledger_Name			Varchar(50)
	,Ledger_Number			Varchar(50)
	,Current_Month_Amount	Money
	,Previous_Month_Amount	Money
)


if @flag='a'
begin

Insert into #TempReport(Ledger_Name,Ledger_Number,Current_Month_Amount)

SELECT Ledger_Name [Ledger Name],''''+Ledger_Number [Ledger Number], dbo.ShowDecimal(isnull(Amount,0)) Amount FROM
(
---- Basic Salary
Select 
	 Ledger_Name
	,Ledger_Number
	,sum(AMOUNT) Amount 
From 
(
	Select 
		 Ledger_Name
		,SL.Ledger_Number
		,PAID_AMOUNT Amount 
	from PayableHistory PH
	Inner join TaxCalculation T on Ph.EMPLOYEE_ID=T.Emp_Id
	Inner join StaticDataDetail sdd on PH.BENEFIT_ID=sdd.ROWID
	Inner join (select distinct Branch_id, Head_ID,Ledger_Number,Ledger_Name from SalaryLeadgerMapping) SL on PH.BENEFIT_ID=Sl.Head_ID AND T.Branch_Id=SL.Branch_ID
	where 
		PH.FY_ID=@fiscalYear 
	and PH.Run_Month=@runMonth
	and	T.FY_ID=@fiscalYear
	and T.Run_Month=@runMonth
	and sdd.TYPE_ID=36
	and sdd.ROWID=390

	Union ALL

	Select 
		 Ledger_Name
		,SL.Ledger_Number
		,Case when ADD_DEDUCT='A' Then Amount else Amount*(-1) END Amount 
	from Adhocpayment AP
	Inner join TaxCalculation T on AP.EMPLOYEE_ID=T.Emp_Id
	Inner join StaticDataDetail sdd on AP.Head_ID=sdd.ROWID
	Inner join (select distinct Branch_ID,Head_ID,Ledger_Number,Ledger_Name from SalaryLeadgerMapping) SL on AP.Head_ID=Sl.Head_ID AND T.Branch_Id=SL.Branch_ID
	where 
	APPLIED_DATE between @monthStartDate and @monthEndDate
	and	T.FY_ID=@fiscalYear
	and T.Run_Month=@runMonth
	and isnull(IS_PAID,0)= 0
	and sdd.TYPE_ID=36
	and sdd.ROWID=390

) BS
Group by Ledger_Name,Ledger_Number

UNION ALL

---- Allowance
Select 
	 Ledger_Name
	,Ledger_Number
	,sum(AMOUNT) Amount 
From 
(
	Select 
		 Ledger_Name
		,SL.Ledger_Number
		,PAID_AMOUNT Amount 
	from PayableHistory PH
	Inner join TaxCalculation T on ph.EMPLOYEE_ID=T.Emp_Id
	Inner join StaticDataDetail sdd on PH.BENEFIT_ID=sdd.ROWID
	Inner join (select distinct Branch_ID,Head_ID,Ledger_Number,Ledger_Name from SalaryLeadgerMapping) SL on ph.BENEFIT_ID=Sl.Head_ID AND T.Branch_Id=SL.Branch_ID
	where 
	Ph.FY_ID=@fiscalYear 
	and Ph.RUN_MONTH=@runMonth
	and	T.FY_ID=@fiscalYear
	and T.Run_Month=@runMonth
	and sdd.TYPE_ID=38
	and BENEFIT_ID='1452'

	Union ALL

	Select 
		 Ledger_Name
		,SL.Ledger_Number
		,Case when ADD_DEDUCT='A' Then Amount else Amount*(-1) END Amount 
	from Adhocpayment AP
	Inner join TaxCalculation T on AP.EMPLOYEE_ID=T.Emp_Id
	Inner join StaticDataDetail sdd on AP.Head_ID=sdd.ROWID
	Inner join (select distinct Branch_ID, Head_ID,Ledger_Number,Ledger_Name from SalaryLeadgerMapping) SL on AP.Head_ID=Sl.Head_ID AND T.Branch_Id=SL.Branch_ID
	where 
	APPLIED_DATE between @monthStartDate and @monthEndDate
	and	T.FY_ID=@fiscalYear
	and T.Run_Month=@runMonth
	and isnull(IS_PAID,0)= 0
	and sdd.TYPE_ID=38
	and sdd.ROWID='1452'

) Allowance
Group by Ledger_Name,Ledger_Number

UNION ALL

--- Employer Contribution
Select 
	 Ledger_Name
	,Ledger_Number
	,sum(AMOUNT) Amount 
From 
(
	Select 
		 Ledger_Name
		,SL.Ledger_Number
		,AMOUNT_EMPLOYER Amount 
	from ContributionHistory PH
	Inner join Contribution C on PH.CONTRIBUTION_ID=c.ID
	Inner join TaxCalculation T on PH.EMPLOYEE_ID=T.Emp_Id
	Inner join StaticDataDetail sdd on C.CONTRIBUTED_TO=sdd.ROWID
	Inner join (select distinct Branch_ID,Head_ID,Ledger_Number,Ledger_Name from SalaryLeadgerMapping) SL on C.CONTRIBUTED_TO=Sl.Head_ID AND T.Branch_Id=SL.Branch_ID
	where 
	PH.FY_ID=@fiscalYear 
	and PH.RUN_MONTH=@runMonth
	and	T.FY_ID=@fiscalYear
	and T.Run_Month=@runMonth

	UNION ALL

	SELECT 
		 Ledger_Name
		,SL.Ledger_Number
		,AC.CONTB_AMOUNT_EMPLOYER Amount  
	FROM Adhoc_Contribution AC
	Inner join TaxCalculation T on AC.EMPLOYEE_ID=T.Emp_Id
	Inner join StaticDataDetail sdd on AC.CONTB_TO=sdd.ROWID
	Inner join (select distinct Branch_ID,Head_ID,Ledger_Number,Ledger_Name from SalaryLeadgerMapping) SL on AC.CONTB_TO=Sl.Head_ID AND T.Branch_Id=SL.Branch_ID
	where 
	CONTB_DATE  between @monthStartDate and @monthEndDate
	and	T.FY_ID=@fiscalYear
	and T.Run_Month=@runMonth

)Employer_Contribution
Group by Ledger_Name,Ledger_Number

UNION ALL

---- Contract Salary
Select 
	 Ledger_Name
	,Ledger_Number
	,sum(AMOUNT) Amount 
From 
(
	Select 
		 Ledger_Name
		,SL.Ledger_Number
		,PAID_AMOUNT Amount 
	from PayableHistory PH
	Inner join TaxCalculation T on PH.EMPLOYEE_ID=T.Emp_Id
	Inner join StaticDataDetail sdd on PH.BENEFIT_ID=sdd.ROWID
	Inner join (select distinct Branch_ID,Head_ID,Ledger_Number,Ledger_Name from SalaryLeadgerMapping) SL on PH.BENEFIT_ID=Sl.Head_ID AND T.Branch_Id=SL.Branch_ID
	where 
	PH.FY_ID=@fiscalYear
	and PH.RUN_MONTH=@runMonth
	and	T.FY_ID=@fiscalYear
	and T.Run_Month=@runMonth
	and sdd.TYPE_ID=36
	and sdd.ROWID<>390
	
	Union ALL

	Select 
		 Ledger_Name
		,SL.Ledger_Number
		,Case when ADD_DEDUCT='A' Then Amount else Amount*(-1) END Amount 
	from Adhocpayment AP
	Inner join TaxCalculation T on AP.EMPLOYEE_ID=T.Emp_Id
	Inner join StaticDataDetail sdd on AP.Head_ID=sdd.ROWID
	Inner join (select distinct Branch_ID,Head_ID,Ledger_Number,Ledger_Name from SalaryLeadgerMapping) SL on AP.Head_ID=Sl.Head_ID AND T.Branch_Id=SL.Branch_ID
	where 
	APPLIED_DATE between @monthStartDate and @monthEndDate
	and	T.FY_ID=@fiscalYear
	and T.Run_Month=@runMonth
	and isnull(IS_PAID,0)= 0
	and sdd.TYPE_ID=36
	and sdd.ROWID<>390
	
) BS
Group by Ledger_Name,Ledger_Number

UNION ALL

---- Other Allowance
Select 
	 Ledger_Name
	,Ledger_Number
	,sum(AMOUNT) Amount 
From 
(
	Select 
		 Ledger_Name
		,SL.Ledger_Number
		,PAID_AMOUNT Amount 
	from PayableHistory PH
	Inner join TaxCalculation T on PH.EMPLOYEE_ID=T.Emp_Id
	Inner join StaticDataDetail sdd on PH.BENEFIT_ID=sdd.ROWID
	Inner join (select distinct Branch_ID, Head_ID,Ledger_Number,Ledger_Name from SalaryLeadgerMapping) SL on PH.BENEFIT_ID=Sl.Head_ID AND T.Branch_Id=SL.Branch_ID
	where 
	PH.FY_ID=@fiscalYear 
	and PH.RUN_MONTH=@runMonth
	and	T.FY_ID=@fiscalYear
	and T.Run_Month=@runMonth
	and sdd.TYPE_ID=38
	and BENEFIT_ID<>'1452'


	Union ALL

	Select 
		 Ledger_Name
		,SL.Ledger_Number
		,Case when ADD_DEDUCT='A' Then Amount else Amount*(-1) END Amount 
	from Adhocpayment AP
	Inner join TaxCalculation T on Ap.EMPLOYEE_ID=T.Emp_Id
	Inner join StaticDataDetail sdd on AP.Head_ID=sdd.ROWID
	Inner join (select distinct Branch_ID,Head_ID,Ledger_Number,Ledger_Name from SalaryLeadgerMapping) SL on AP.Head_ID=Sl.Head_ID AND T.Branch_Id=SL.Branch_ID
	where 
	APPLIED_DATE between @monthStartDate and @monthEndDate
	and	T.FY_ID=@fiscalYear
	and T.Run_Month=@runMonth
	and isnull(IS_PAID,0)= 0
	and sdd.TYPE_ID=38
	and sdd.ROWID<>'1452'


) OtherAllowance
Group by Ledger_Name,Ledger_Number

UNION ALL

--- Adhoc Benefits
Select 
	 Ledger_Name
	,SL.Ledger_Number
	,sum(AMOUNT) Amount 
from AdhocPayment PH
Inner join TaxCalculation T on PH.EMPLOYEE_ID=T.Emp_Id
Inner join StaticDataDetail sdd on PH.HEAD_ID=sdd.ROWID
Inner join (select distinct Branch_ID, Head_ID,Ledger_Number,Ledger_Name from SalaryLeadgerMapping) SL on PH.HEAD_ID=Sl.Head_ID AND T.Branch_Id=SL.Branch_ID
where 
APPLIED_DATE  between @monthStartDate and @monthEndDate
and isnull(IS_PAID,0)= 0
and sdd.TYPE_ID=41
	and	T.FY_ID=@fiscalYear
	and T.Run_Month=@runMonth
group by Ledger_Name,SL.Ledger_Number

UNION ALL

-- Contribution Deposits
Select 
	 sdd.DETAIL_Title+' Deposit'
	,SL.DETAIL_DESC
	,sum(ph.AMOUNT_EMPLOYEE+AMOUNT_EMPLOYER) Amount 
from ContributionHistory PH
Inner join Contribution C on PH.CONTRIBUTION_ID=c.ID
Inner join StaticDataDetail sdd on C.CONTRIBUTED_TO=sdd.ROWID
Inner join StaticDataDetail SL on c.CONTRIBUTED_TO=Sl.DETAIL_TITLE
where 
FY_ID=@fiscalYear
and RUN_MONTH=@runMonth

group by sdd.DETAIL_Title,SL.DETAIL_DESC

UNION ALL

--- PF LOAN
Select 
	sdd.DETAIL_DESC
	,l.LEDGER_CODE
	,sum(paid_amount) Amount
From loan_collection lc
inner join Loan L on lc.loan_id=l.ID
inner join StaticDataDetail sdd on l.LOAN_TYPE=sdd.ROWID
where Sdd.rowid=389
AND lc.paid_date between @monthStartDate and @monthEndDate
group by sdd.DETAIL_DESC,l.LEDGER_CODE


UNION ALL

--- Vehicle LOAN
Select 
	sdd.DETAIL_DESC
	,''
	,sum(paid_amount-lc.interest_amt) Amount
From loan_collection lc
inner join Loan L on lc.loan_id=l.ID
inner join StaticDataDetail sdd on l.LOAN_TYPE=sdd.ROWID
where Sdd.rowid=388
AND lc.paid_date between @monthStartDate and @monthEndDate
group by sdd.DETAIL_DESC

UNION ALL

--- Loan Interest
Select 
	sdd.DETAIL_DESC+' Interest'
	,''
	,sum(interest_amt) Amount
From loan_collection lc
inner join Loan L on lc.loan_id=l.ID
inner join StaticDataDetail sdd on l.LOAN_TYPE=sdd.ROWID
where Sdd.rowid=388
AND lc.paid_date between @monthStartDate and @monthEndDate
group by sdd.DETAIL_DESC

UNION ALL

--- Premium Deduction
Select 
	sdd.DETAIL_TITLE+' '+sdd1.DETAIL_TITLE
	,''
	,sum(pd.Deduction_Amt) Amount
From PremiumDeduction PD
inner join Insurance I on PD.Insurance_ID=I.ID
inner join StaticDataDetail sdd on I.INSURER=sdd.ROWID
inner join StaticDataDetail sdd1 on I.Insurance_For=sdd1.ROWID
AND pd.Deduction_Date between @monthStartDate and @monthEndDate
group by sdd.DETAIL_TITLE,sdd1.DETAIL_TITLE


UNION ALL

Select 
	'A/R Staff H/l premium'
	,'93752001003'
	,sum(pd.Deduction_Amt) Amount
From PremiumDeduction PD
inner join Insurance I on PD.Insurance_ID=I.ID
inner join StaticDataDetail sdd on I.INSURER=sdd.ROWID
inner join StaticDataDetail sdd1 on I.Insurance_For=sdd1.ROWID
where pd.Deduction_Date between @monthStartDate and @monthEndDate

UNION ALL

--- Tax 
Select 
	 'Tax Deduction' 
	,sdd.DETAIL_DESC
	,Sum(Tax_This_Month)
from TaxCalculation T
Inner join StaticDataDetail sdd on DETAIL_TITLE='TDS ON SALARY'
where FY_ID=@fiscalYear and Run_Month=@runMonth
AND Branch_Id<>6
group by sdd.DETAIL_DESC

UNION ALL

--- Tax 
Select 
	 'Tax Deduction' 
	,'3506017500005'
	,Sum(Tax_This_Month)
from TaxCalculation T
Inner join StaticDataDetail sdd on DETAIL_TITLE='TDS ON SALARY'
where FY_ID=@fiscalYear and Run_Month=@runMonth
AND Branch_Id=6
group by sdd.DETAIL_DESC

)a

Update #TempReport set Previous_Month_Amount=Amount from #TempReport T
Inner join 
(
SELECT Ledger_Name,''''+Ledger_Number Ledger_Number, dbo.ShowDecimal(isnull(Amount,0)) Amount FROM
(
---- Basic Salary
Select 
	 Ledger_Name
	,Ledger_Number
	,sum(AMOUNT) Amount 
From 
(
	Select 
		 Ledger_Name
		,SL.Ledger_Number
		,PAID_AMOUNT Amount 
	from PayableHistory PH
	Inner join TaxCalculation T on Ph.EMPLOYEE_ID=T.Emp_Id
	Inner join StaticDataDetail sdd on PH.BENEFIT_ID=sdd.ROWID
	Inner join (select distinct Branch_id, Head_ID,Ledger_Number,Ledger_Name from SalaryLeadgerMapping) SL on PH.BENEFIT_ID=Sl.Head_ID AND T.Branch_Id=SL.Branch_ID
	where 
		PH.FY_ID=@previousfy 
	and PH.Run_Month=@previousmonth
	and	T.FY_ID=@previousfy 
	and T.Run_Month=@previousmonth
	and sdd.TYPE_ID=36
	and sdd.ROWID=390

	Union ALL

	Select 
		 Ledger_Name
		,SL.Ledger_Number
		,Case when ADD_DEDUCT='A' Then Amount else Amount*(-1) END Amount 
	from AdhocPayment AP
	Inner join TaxCalculation T on Ap.EMPLOYEE_ID=T.Emp_Id
	Inner join StaticDataDetail sdd on Ap.HEAD_ID=sdd.ROWID
	Inner join (select distinct Branch_id, Head_ID,Ledger_Number,Ledger_Name from SalaryLeadgerMapping) SL on Ap.HEAD_ID=Sl.Head_ID AND T.Branch_Id=SL.Branch_ID
	where 
	APPLIED_DATE between @previousMonthStart and @previousMonthEnd
	and isnull(IS_PAID,0)= 0
	and sdd.TYPE_ID=36
	and sdd.ROWID=390
) BS
Group by Ledger_Name,Ledger_Number

UNION ALL

---- Allowance
Select 
	 Ledger_Name
	,Ledger_Number
	,sum(AMOUNT) Amount 
From 
(
	Select 
		 Ledger_Name
		,SL.Ledger_Number
		,PAID_AMOUNT Amount 
	from PayableHistory PH
	Inner join TaxCalculation T on Ph.EMPLOYEE_ID=T.Emp_Id
	Inner join StaticDataDetail sdd on PH.BENEFIT_ID=sdd.ROWID
	Inner join (select distinct Branch_id, Head_ID,Ledger_Number,Ledger_Name from SalaryLeadgerMapping) SL on PH.BENEFIT_ID=Sl.Head_ID AND T.Branch_Id=SL.Branch_ID
	where 
		PH.FY_ID=@previousfy 
	and PH.Run_Month=@previousmonth
	and	T.FY_ID=@previousfy 
	and T.Run_Month=@previousmonth
	and sdd.TYPE_ID=38
	and BENEFIT_ID='1452'

	Union ALL

	Select 
		 Ledger_Name
		,SL.Ledger_Number
		,Case when ADD_DEDUCT='A' Then Amount else Amount*(-1) END Amount 
	from AdhocPayment AP
	Inner join TaxCalculation T on Ap.EMPLOYEE_ID=T.Emp_Id
	Inner join StaticDataDetail sdd on Ap.HEAD_ID=sdd.ROWID
	Inner join (select distinct Branch_id, Head_ID,Ledger_Number,Ledger_Name from SalaryLeadgerMapping) SL on Ap.HEAD_ID=Sl.Head_ID AND T.Branch_Id=SL.Branch_ID
	where 
	APPLIED_DATE between @previousMonthStart and @previousMonthEnd
	and isnull(IS_PAID,0)= 0
	and sdd.TYPE_ID=38
	and sdd.ROWID='1452'
) Allowance
Group by Ledger_Name,Ledger_Number

UNION ALL

--- Employer Contribution
Select 
	 Ledger_Name
	,Ledger_Number
	,sum(AMOUNT) Amount 
From 
(
	Select 
		 Ledger_Name
		,SL.Ledger_Number
		,AMOUNT_EMPLOYER Amount 
	from ContributionHistory PH
	Inner join Contribution C on PH.CONTRIBUTION_ID=c.ID
	Inner join TaxCalculation T on Ph.EMPLOYEE_ID=T.Emp_Id
	Inner join StaticDataDetail sdd on C.CONTRIBUTED_TO=sdd.ROWID
	Inner join (select distinct Branch_id, Head_ID,Ledger_Number,Ledger_Name from SalaryLeadgerMapping) SL on C.CONTRIBUTED_TO=Sl.Head_ID AND T.Branch_Id=SL.Branch_ID
	where 
		PH.FY_ID=@previousfy 
	and PH.Run_Month=@previousmonth
	and	T.FY_ID=@previousfy 
	and T.Run_Month=@previousmonth

	UNION ALL

	SELECT 
		 Ledger_Name
		,SL.Ledger_Number
		,AC.CONTB_AMOUNT_EMPLOYER Amount  
	FROM Adhoc_Contribution AC
	Inner join TaxCalculation T on AC.EMPLOYEE_ID=T.Emp_Id
	Inner join StaticDataDetail sdd on AC.CONTB_TO=sdd.ROWID
	Inner join (select distinct Branch_id, Head_ID,Ledger_Number,Ledger_Name from SalaryLeadgerMapping) SL on AC.CONTB_TO=Sl.Head_ID AND T.Branch_Id=SL.Branch_ID
	where 
	CONTB_DATE between @previousMonthStart and @previousMonthEnd

)Employer_Contribution
Group by Ledger_Name,Ledger_Number

UNION ALL

---- Contract Salary
Select 
	 Ledger_Name
	,Ledger_Number
	,sum(AMOUNT) Amount 
From 
(
	Select 
		 Ledger_Name
		,SL.Ledger_Number
		,PAID_AMOUNT Amount 
	from PayableHistory PH
	Inner join TaxCalculation T on Ph.EMPLOYEE_ID=T.Emp_Id
	Inner join StaticDataDetail sdd on PH.BENEFIT_ID=sdd.ROWID
	Inner join (select distinct Branch_id, Head_ID,Ledger_Number,Ledger_Name from SalaryLeadgerMapping) SL on PH.BENEFIT_ID=Sl.Head_ID AND T.Branch_Id=SL.Branch_ID
	where 
		PH.FY_ID=@previousfy 
	and PH.Run_Month=@previousmonth
	and	T.FY_ID=@previousfy 
	and T.Run_Month=@previousmonth
	and sdd.TYPE_ID=36
	and sdd.ROWID<>390
	

	Union ALL

	Select 
		 Ledger_Name
		,SL.Ledger_Number
		,Case when ADD_DEDUCT='A' Then Amount else Amount*(-1) END Amount 
	from AdhocPayment AP
	Inner join TaxCalculation T on Ap.EMPLOYEE_ID=T.Emp_Id
	Inner join StaticDataDetail sdd on Ap.HEAD_ID=sdd.ROWID
	Inner join (select distinct Branch_id, Head_ID,Ledger_Number,Ledger_Name from SalaryLeadgerMapping) SL on Ap.HEAD_ID=Sl.Head_ID AND T.Branch_Id=SL.Branch_ID
	where 
	APPLIED_DATE between @previousMonthStart and @previousMonthEnd
	and isnull(IS_PAID,0)= 0
	and sdd.TYPE_ID=36
	and sdd.ROWID<>390
) BS
Group by Ledger_Name,Ledger_Number

UNION ALL

---- Other Allowance
Select 
	 Ledger_Name
	,Ledger_Number
	,sum(AMOUNT) Amount 
From 
(
	Select 
		 Ledger_Name
		,SL.Ledger_Number
		,PAID_AMOUNT Amount 
	from PayableHistory PH
	Inner join TaxCalculation T on Ph.EMPLOYEE_ID=T.Emp_Id
	Inner join StaticDataDetail sdd on PH.BENEFIT_ID=sdd.ROWID
	Inner join (select distinct Branch_id, Head_ID,Ledger_Number,Ledger_Name from SalaryLeadgerMapping) SL on PH.BENEFIT_ID=Sl.Head_ID AND T.Branch_Id=SL.Branch_ID
	where 
	PH.FY_ID=@previousfy 
	and PH.Run_Month=@previousmonth
	and	T.FY_ID=@previousfy 
	and T.Run_Month=@previousmonth
	and sdd.TYPE_ID=38
	and BENEFIT_ID<>'1452'

	Union ALL

	Select 
		 Ledger_Name
		,SL.Ledger_Number
		,Case when ADD_DEDUCT='A' Then Amount else Amount*(-1) END Amount 
	from AdhocPayment AP
	Inner join TaxCalculation T on Ap.EMPLOYEE_ID=T.Emp_Id
	Inner join StaticDataDetail sdd on Ap.HEAD_ID=sdd.ROWID
	Inner join (select distinct Branch_id, Head_ID,Ledger_Number,Ledger_Name from SalaryLeadgerMapping) SL on Ap.HEAD_ID=Sl.Head_ID AND T.Branch_Id=SL.Branch_ID
	where 
	APPLIED_DATE between @previousMonthStart and @previousMonthEnd
	and isnull(IS_PAID,0)= 0
	and sdd.TYPE_ID=38
	and sdd.ROWID<>'1452'

) OtherAllowance
Group by Ledger_Name,Ledger_Number

UNION ALL

--- Adhoc Benefits
Select 
	 Ledger_Name
	,SL.Ledger_Number
	,sum(AMOUNT) Amount 
from AdhocPayment Ap
Inner join TaxCalculation T on Ap.EMPLOYEE_ID=T.Emp_Id
	Inner join StaticDataDetail sdd on Ap.HEAD_ID=sdd.ROWID
	Inner join (select distinct Branch_id, Head_ID,Ledger_Number,Ledger_Name from SalaryLeadgerMapping) SL on Ap.HEAD_ID=Sl.Head_ID AND T.Branch_Id=SL.Branch_ID
where 
APPLIED_DATE between @previousMonthStart and @previousMonthEnd
and isnull(IS_PAID,0)= 0
and sdd.TYPE_ID=41
group by Ledger_Name,SL.Ledger_Number

UNION ALL

-- Contribution Deposits
Select 
	 sdd.DETAIL_Title+' Deposit'
	,SL.DETAIL_DESC
	,sum(ph.AMOUNT_EMPLOYEE+AMOUNT_EMPLOYER) Amount 
from ContributionHistory PH
Inner join Contribution C on PH.CONTRIBUTION_ID=c.ID
Inner join StaticDataDetail sdd on C.CONTRIBUTED_TO=sdd.ROWID
Inner join StaticDataDetail SL on c.CONTRIBUTED_TO=Sl.DETAIL_TITLE
where 
FY_ID=@previousfy and Run_Month=@previousmonth
group by sdd.DETAIL_Title,SL.DETAIL_DESC

UNION ALL

--- PF LOAN
Select 
	sdd.DETAIL_DESC
	,l.LEDGER_CODE
	,sum(paid_amount) Amount
From loan_collection lc
inner join Loan L on lc.loan_id=l.ID
inner join StaticDataDetail sdd on l.LOAN_TYPE=sdd.ROWID
where Sdd.rowid=389
AND lc.paid_date between @previousMonthStart and @previousMonthEnd
group by sdd.DETAIL_DESC,l.LEDGER_CODE


UNION ALL

--- Vehicle LOAN
Select 
	sdd.DETAIL_DESC
	,''
	,sum(paid_amount-lc.interest_amt) Amount
From loan_collection lc
inner join Loan L on lc.loan_id=l.ID
inner join StaticDataDetail sdd on l.LOAN_TYPE=sdd.ROWID
where Sdd.rowid=388
AND lc.paid_date between @previousMonthStart and @previousMonthEnd
group by sdd.DETAIL_DESC

UNION ALL

--- Loan Interest
Select 
	sdd.DETAIL_DESC+' Interest'
	,''
	,sum(interest_amt) Amount
From loan_collection lc
inner join Loan L on lc.loan_id=l.ID
inner join StaticDataDetail sdd on l.LOAN_TYPE=sdd.ROWID
where Sdd.rowid=388
AND lc.paid_date between @previousMonthStart and @previousMonthEnd
group by sdd.DETAIL_DESC

UNION ALL

--- Premium Deduction
Select 
	sdd.DETAIL_TITLE+' '+sdd1.DETAIL_TITLE
	,''
	,sum(pd.Deduction_Amt) Amount
From PremiumDeduction PD
inner join Insurance I on PD.Insurance_ID=I.ID
inner join StaticDataDetail sdd on I.INSURER=sdd.ROWID
inner join StaticDataDetail sdd1 on I.Insurance_For=sdd1.ROWID
AND pd.Deduction_Date between @previousMonthStart and @previousMonthEnd
group by sdd.DETAIL_TITLE,sdd1.DETAIL_TITLE


UNION ALL

Select 
	'A/R Staff H/l premium'
	,'93752001003'
	,sum(pd.Deduction_Amt) Amount
From PremiumDeduction PD
inner join Insurance I on PD.Insurance_ID=I.ID
inner join StaticDataDetail sdd on I.INSURER=sdd.ROWID
inner join StaticDataDetail sdd1 on I.Insurance_For=sdd1.ROWID
where pd.Deduction_Date between @previousMonthStart and @previousMonthEnd

UNION ALL

--- Tax 
Select 
	 'Tax Deduction' 
	,sdd.DETAIL_DESC
	,Sum(Tax_This_Month)
from TaxCalculation T
Inner join StaticDataDetail sdd on DETAIL_TITLE='TDS ON SALARY'
where FY_ID=@previousfy and Run_Month=@previousmonth
AND Branch_id<>6
group by sdd.DETAIL_DESC

UNION ALL

Select 
	 'Tax Deduction'
	,'3506017500005'
	,Sum(Tax_This_Month)
from TaxCalculation T
Inner join StaticDataDetail sdd on DETAIL_TITLE='TDS ON SALARY'
where FY_ID=@previousfy and Run_Month=@previousmonth
AND Branch_id=6
group by sdd.DETAIL_DESC

)a
)x on T.Ledger_Name=x.Ledger_Name 
AND T.Ledger_Number=x.Ledger_Number

SELECT 
	 Ledger_Name [Ledger Name]
	,Ledger_Number [Ledger Number]
	,Previous_Month_Amount [Previous Month]
	,Current_Month_Amount [Current Month]
	,abs(Previous_Month_Amount-Current_Month_Amount) [Difference]
FROM #TempReport

end
GO
