USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[DeletePurchaseVoucher]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DeletePurchaseVoucher]



 @flag char(1) 



,@bill_id int 

AS

   BEGIN



			IF @flag ='s' --



					BEGIN



							DELETE FROM Bill_info where bill_id = @bill_id 



					END



						SELECT 'DELETED' AS MSG



			

   END
GO
