USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[ProcCheckEmployee]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXEC [ProcCheckEmployee] 'i','12342sdf0000'
create PROC [dbo].[ProcCheckEmployee]
	   @FLAG VARCHAR(1),
	   @EMPLOYEE_ID VARCHAR(50)=NULL

AS	
SET NOCOUNT ON;
SET XACT_ABORT ON;	
	
IF @flag='i'
BEGIN

	IF EXISTS(SELECT EMPLOYEE_ID FROM Employee WHERE CAST(EMPLOYEE_ID AS VARCHAR)=@EMPLOYEE_ID)
	BEGIN
		SELECT '1' AS MSG;
	END
	ELSE
	BEGIN
		SELECT '0' AS MSG;
	END
	  
END
GO
