USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_GlobalLeaveUpdate]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[proc_GlobalLeaveUpdate]
	@flag		CHAR		= NULL
	,@jobType	VARCHAR(5)	= NULL
	,@leaveType INT			= NULL
	,@branch	INT 
	,@position	INT 
	,@empId		INT			= NULL
	,@value		FLOAT		= NULL
	,@user		INT			= NULL

AS 
SET NOCOUNT ON;
/*
Exec [proc_GlobalLeaveUpdate] @branch='1',@position='702',@empId='1018',@leaveType='1',@value='11',@jobType='add'
*/

BEGIN TRY
SELECT EMPLOYEE_ID INTO #empList FROM Employee WHERE BRANCH_ID = @branch AND POSITION_ID = @position AND EMPLOYEE_ID = ISNULL(@empId, EMPLOYEE_ID)

WHILE EXISTS(SELECT 'X' FROM #empList)
BEGIN
	SELECT TOP 1 @empId = EMPLOYEE_ID FROM #empList
	IF EXISTS(SELECT 'X' FROM leaveAssignment WHERE EMPLOYEE_ID = @empId AND LEAVE_TYPE_ID = @leaveType)
	BEGIN
		IF @jobType = 'in' --increment
		BEGIN
			UPDATE leaveAssignment SET NO_OF_DAYS_ACTUAL = ISNULL(NO_OF_DAYS_ACTUAL, 0) + @value
			WHERE EMPLOYEE_ID = @empId AND LEAVE_TYPE_ID = @leaveType
		END
		ELSE IF @jobType = 'de' -- decrement
		BEGIN
			UPDATE leaveAssignment SET NO_OF_DAYS_ACTUAL = ISNULL(NO_OF_DAYS_ACTUAL, 0) - @value
			WHERE EMPLOYEE_ID = @empId AND LEAVE_TYPE_ID = @leaveType
		END

	END

	DELETE FROM #empList WHERE EMPLOYEE_ID = @empId
END
SELECT '1' error_code,'Record Save Successfully' msg

END TRY

BEGIN CATCH
IF @@TRANCOUNT > 0
ROLLBACK TRANSACTION

SELECT '1' ERROR_CODE , ERROR_MESSAGE() MSG , @branch ID

END CATCH
GO
