USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[Proc_ManageMedicalBill]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*

Exec Proc_ManageMedicalBill @flag='',@id='',@emp_id='',@bill_date='',@bill_Amount='',@narration='',@user=''

Exec Proc_ManageMedicalBill @flag='d',@id=1

*/

CREATE Proc [dbo].[Proc_ManageMedicalBill]
	@flag Varchar(1)
	,@id int = NUll
	,@emp_id int = NUll
	,@bill_date date = NUll
	,@bill_Amount float = NUll
	,@narration varchar(500) = NULL
	,@user varchar(20) = NUll

As

Begin

	Declare @date date, @status Varchar(5), @msg varchar(500)
	
	Select @date = Getdate()
	
	--Insert Data
	if @flag='i'
	Begin
		select * from MedicalBills
		Insert into MedicalBills (EMP_ID,BILL_DATE,BILL_AMOUNT,NARRATION,CREATED_BY,CREATED_DATE)
		Values (@emp_id,@bill_date,@bill_Amount,@narration,@user,@date)
	
	End
	
	-- Update Data
	IF @flag='u'
	Begin
		select @status=status from MedicalBills where ID=@id
		If @status='U' -- check if the data has been processed or not.
		Begin
			-- MSG if the data has been calculated in the tax.
			SELECT 'The data has been processed. Cannot Delete' REMARKS
			RETURN 
		End
		Else
			Update MedicalBills set
				 BILL_DATE=@bill_date
				,BILL_AMOUNT=@bill_Amount
				,NARRATION=@narration
				,MODIFIED_BY=@user
				,MODIFIED_DATE=@date
				where ID=@id
			
		
	End
	
	-- Delete Data
	If @flag='d'
	Begin
	
		select @status=status from MedicalBills where ID=@id
		
		If @status='U' -- check if the data has been processed or not.
		Begin
			-- MSG if the data has been calculated in the tax.
			SELECT 'The data has been processed. Cannot Delete' REMARKS
			RETURN 
		End
		Else
			delete MedicalBills where ID=@id
			
	
	End


End
GO
