USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_activityDailyDetail]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_activityDailyDetail](
   
             @flag						VARCHAR(10)
            ,@activityDetailId          INT				= NULL
			,@fromTime					VARCHAR(100)	= NULL
			,@toTime					VARCHAR(100)	= NULL
			,@details					VARCHAR(max)	= NULL
			,@sessionId					VARCHAR(100)	= NULL
			,@activityMasterId			VARCHAR(100)	= NULL
			,@activityId				INT				= NULL
			,@branch					VARCHAR(100)	= NULL
			,@department				VARCHAR(100)	= NULL
			,@position					VARCHAR(100)	= NULL
			,@empId						VARCHAR(100)	= NULL
			,@verifyBy					VARCHAR(100)	= NULL
			,@verifyPosition			VARCHAR(100)	= NULL
			,@status					VARCHAR(100)	= NULL
			,@comments					VARCHAR(max)	= NULL
			,@fromDate					DATE			= NULL
			,@toDate					DATE			= NULL
			,@getDate					DATE			= NULL
			,@recommendedTo				INT			    = NULL
		 	
)

AS 

SET NOCOUNT ON 

/*
Exec [proc_activityDailyDetail] @flag='sm',@activityId='1',@status='r'
select * from activitymaster
*/

/*

  id -> insert for activityDetail
  im -> insert for activityMaster
  sd -> select from activityDetail to populate in div
  sa -> select for travelOrderAllowance
  sm -> select from tables for detail report display
  sr -> select from activityDetail for report
  sv -> save verification
  d -> delete travelOrderAllowance
  ae -> edit travelOrderAllowance

*/


BEGIN TRY 
		 IF @flag = 'id'
		 BEGIN
			IF EXISTS(SELECT * FROM activityMaster WHERE enterDate =@getDate AND empId =@empId AND status ='v')
			BEGIN
				SELECT 'Your Daily Activity Has already been Approved' msg
				RETURN

			END
				INSERT INTO activityDetail(
				
									fromTime
									,toTime
									,details
									,sessionId
									)
						
							SELECT 
							   @fromTime
							  ,@toTime
							  ,@details
							  ,@sessionId
							  
				SELECT 'Data Record SuccessFully' msg , '1' error_code
		  END
		  
		 IF @flag = 'im'
		 BEGIN
				IF EXISTS(SELECT * FROM activityMaster WHERE enterDate =@getDate AND empId =@empId AND status ='v')
				BEGIN
					 SELECT 'Your Daily Activity Has already been Approved' msg
					 RETURN
				
			    END
				
				IF EXISTS(SELECT * FROM activityMaster WHERE enterDate =@getDate and empId =@empId)
				BEGIN
				   
				SELECT  @activityMasterId = activityId from activityMaster where enterDate =@getDate
				UPDATE activityDetail SET 
								activityMasterId = @activityMasterId
							   ,sessionId        = ''
						  WHERE sessionId = @sessionId 
				
				END
				ELSE
				BEGIN
				
				INSERT INTO activityMaster(
				
								 branch
								,department
								,position
								,empId
								,enterDate
								,status
								,recommendedTo
									)
						
							SELECT 
							  @branch
							 ,@department
							 ,@position
							 ,@empId
							 ,@getDate
							 ,'r'
							 ,@recommendedTo
					   SET @activityMasterId = @@IDENTITY
						
						
						UPDATE activityDetail SET 
								activityMasterId = @activityMasterId
							   ,sessionId        = ''
						  WHERE sessionId = @sessionId 
		 END
				SELECT  'Date Record Successfully' msg , '1' error_code
		  END
		  
		IF @flag = 'sd'
		BEGIN
			
				SELECT activityDetailId [Id]
					,fromTime [From Date]
					,toTime [To Date]
					,details [Details] 
					,'<img onclick = "DeleteDailyActivity(' + CAST(activityDetailId AS VARCHAR(50)) + ')" class = "showHand" border = "0" title = "Delete Activity Details" src="../../Images/delete.gif" />' [Delete] 
				FROM activityDetail 
				WHERE sessionId = @sessionId
			END
			
		IF @flag = 'ed'
		BEGIN
			
			UPDATE activityDetail SET 
					fromTime = @fromTime
				   ,toTime	 = @toTime
				   ,details  = @details
			 WHERE activityDetailId = @activityDetailId  
			 
				
		END
			
		IF @flag = 'sa'
		BEGIN
			
				SELECT 
						FIRST_NAME + ' '+ MIDDLE_NAME +' '+ LAST_NAME+' |' + CAST(EMPLOYEE_ID AS VARCHAR) empName
						,dbo.GetBranchName(BRANCH_ID) branchName
						,dbo.GetDeptName(DEPARTMENT_ID) deptName 
				FROM Employee 
				WHERE EMPLOYEE_ID = @empId
		
			END
	  IF @flag = 'sc'
		BEGIN
			
				SELECT 
				         ad.activityDetailId [Sn]
						,ad.fromTime [From Time]
						,ad.toTime[To Time]
						,ad.details [Details]
						,CASE am.status WHEN 'r' THEN 'Request' WHEN 'v' THEN 'Verify'  END [Status] 
						,CASE WHEN [status]  = 'r' 
							THEN '<img onclick = "EditActivityDetails(' + CAST(ad.activityDetailId AS VARCHAR(50)) + ')" 
							class = "showHand" border = "0" title = "Edit Travel Order" src="../../Images/but_edit.gif" />' 
						ELSE 'Verified' 
						END  [Edit]
						,recommendedTo
						
				FROM activityDetail ad 
				INNER JOIN  activityMaster am 
				ON am.activityId = ad.activityMasterId
				WHERE am.empId = @empId and 
			    @getDate between @getDate and am.enterDate
				
			END
			
			
	   	IF @flag = 'dd'
		BEGIN
			
		  DELETE activityDetail WHERE activityDetailId = @activityDetailId
		  SELECT 'Data Record Delete Successfully' msg
		
	    END		
	   
	   
	   

		IF @flag = 'sm'
		 BEGIN
			
				SELECT 
					dbo.GetBranchName(branch) BRANCH
					, dbo.GetDeptName(department) DEPARTMENT
					,sdd.DETAIL_DESC[position]
					,dbo.GetEmployeeFullNameOfId(empId)[empId]
					,convert(varchar,enterDate ,101)[enterDate]
					,dbo.GetEmployeeFullNameOfId(isnull(verifyBy,'')) verifyBy
					,convert(varchar,verifyDate ,101)[verifyDate]
					,sdd1.DETAIL_DESC[verifyPosition]
					,comments
				FROM activityMaster am
					INNER JOIN StaticDataDetail sdd ON sdd.ROWID = am.position
					LEFT JOIN StaticDataDetail sdd1 ON sdd1.ROWID = am.verifyPosition
				WHERE activityId = @activityId and [status] = @status



				SELECT cast(fromTime as varchar(8))[fromTime],cast(toTime as varchar(8))[toTime],details 
						FROM activityDetail 
				WHERE activityMasterId = @activityId
		END
		
		
		IF @flag = 'sr'
		BEGIN 
		
				SELECT 
					activityId
					,convert(varchar,enterDate,101) [Requested Date]
					,dbo.GetEmployeeFullNameOfId(empId)[Employee Name]
					,sdd.DETAIL_DESC[Position]
					,case status when 'r' then 'Request' when 'v' then 'Verify' end [Activity Status]
					,[status]
					
					FROM activityMaster am
				INNER JOIN StaticDataDetail sdd 
				ON sdd.ROWID = am.position
				WHERE enterDate BETWEEN @fromDate AND  @toDate AND empId = @empId

		
		
		END

		IF @flag = 'sv'
		BEGIN
				
				UPDATE activityMaster SET 
					 verifyBy			 = @verifyBy
					, verifyDate		 = GETDATE()
					, verifyPosition	 = @verifyPosition
					, comments			 = @comments
					, [status]			 = 'v'
				WHERE activityId		 = @activityId
			
			SELECT [status] from activityMaster AS MSG

				
				
		END

    
    
  

END TRY 

BEGIN CATCH

IF @@TRANCOUNT > 0

ROLLBACK TRANSACTION
SELECT '1' ERROR_CODE ,ERROR_MESSAGE() MSG, @activityDetailId ID

END CATCH
GO
