USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procManagePurchaseVoucher]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Exec [procManagePurchaseVoucher] 'i','2','12','10','126.256', 'tth0usrqlxwf3445nhzpyk22','admin'
CREATE PROCEDURE [dbo].[procManagePurchaseVoucher]
		@flag char(5),
		@product_code varchar(100),
		@qty int,
		@rate money,
		@amount money,
		@session_id varchar(200),
		@user varchar(50)
AS
	SET NOCOUNT ON;

IF(@flag ='i')
BEGIN

	if exists(select * from Temp_Purchase where session_id=@session_id and flag='p' and product_code=@product_code)
	begin
			select 'Product has been already added!' as msg
			return;
	end
	
	INSERT INTO Temp_Purchase(session_id,product_code,qty,rate,amount,flag,created_by,created_date)VALUES(
	@session_id,@product_code,@qty,@rate,@amount,'p',@user,GETDATE())
	
END	
 
IF(@flag ='o')
BEGIN
	if exists(select * from Temp_Purchase where session_id=@session_id and flag='o' and product_code=@product_code)
	begin
			select 'Product has been already added!' as msg
			return;
	end
	INSERT INTO Temp_Purchase(session_id,product_code,qty,rate,amount,flag,created_by,created_date)VALUES(
	@session_id,@product_code,@qty,@rate,@amount,'o',@user,GETDATE())
	
END
GO
