USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[GETUserOfTRN]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GETUserOfTRN]
	@user varchar(20),
	@date1 varchar(20),
	@date2 varchar(20),
	@company_id varchar(20)
AS
set nocount on;

begin

	SELECT DISTINCT entry_user_id FROM tran_history 
	WHERE entry_user_id like @user and convert(varchar,tran_date,102) 
	between convert(varchar,cast(@date1 as datetime),102) 
	and convert(varchar,cast(@date2 as datetime),102)
	and company_id=@company_id
	union all 
	SELECT DISTINCT entry_user_id FROM tran_master
	WHERE entry_user_id like @user and convert(varchar,tran_date,102) 
	between convert(varchar,cast(@date1 as datetime),102) 
	and convert(varchar,cast(@date2 as datetime),102)
	and company_id=@company_id
end
GO
