USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_Asset_Bill]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--select * from ASSET_BILL
/*
exec proc_Asset_Bill 'u', 4,'1070','122','5/12/2010', '1','12.0000','7'
*/
CREATE procedure [dbo].[proc_Asset_Bill]
				@flag char(4),
				@id int,
				@user varchar(10),
				@bill_no varchar(10)=null,
				@bill_date	varchar(10)=null,
				@vendor_id varchar(10)=null,
				@bill_amt varchar(50)=null,
				@branch_id varchar(10)=null,
				@narration varchar(500)=null
As				
set nocount on;
if(@flag='i')
begin
	insert into ASSET_BILL (bill_no, bill_date, vendor_id, bill_amt, branch_id, created_by, created_date,narration)
			values	(@bill_no, @bill_date, @vendor_id, @bill_amt, @branch_id, @user, GETDATE(),@narration)
end
if(@flag='u')
begin
	update ASSET_BILL set bill_no = @bill_no, bill_date = @bill_date, vendor_id = @vendor_id, bill_amt = @bill_amt,
			branch_id = @branch_id, modify_by = @user, modify_date = GETDATE(),narration=@narration where id = @id
end
if(@flag='s')
begin
	select bill_no ,bill_amt, bill_date, vendor_id, branch_id,narration  from  ASSET_BILL with (nolock) where id = @id
end
GO
