USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[ProcAbsence2UnpaidLeave]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXEC ProcAbsence2UnpaidLeave @flag='i',@emp_id=1382

-- select * from leaverequest where leave_purpose like 'System Generated%'

CREATE Proc [dbo].[ProcAbsence2UnpaidLeave]
	 @flag Varchar(2)
	,@fromdate date = null
	,@todate date = null
	,@emp_id int = null
AS

set nocount on;
	 declare 
			 @intStartValue as int
			,@intEndValue as int
			,@intIncremental as int

	IF @todate is null
		Set @todate=convert(varchar,GETDATE(),101)
		
	IF @fromdate is null
		Select @fromdate = convert(varchar,MIN(login_time),101) from atttendance where emp_id=@emp_id

	
	SET @intStartValue =DAY(@fromdate)
	SET @intEndValue =DATEDIFF(dd,@fromdate,@todate)

	--select @intStartValue,@intEndValue
	
	IF OBJECT_ID('tempdb..#REPORT') IS NOT NULL
	drop table #REPORT
	
	IF OBJECT_ID('tempdb..#DATELIST') IS NOT NULL
	drop table #DATELIST
	
	IF OBJECT_ID('tempdb..#EMPLIST') IS NOT NULL
	drop table #EMPLIST
	
	CREATE TABLE #EMPLIST
	(
		Emp_id int,
		emp_name varchar(70)
	)
	
	CREATE TABLE #REPORT
	(
	
		Emp_id int,
		ATT_DATE DATETIME,
		ATT_DAY varchar(20),
		emp_name varchar(70),
		LOGIN_TIME varchar(20),
		LOGOUT_TIME varchar(20),
		ATT_STATUS VARCHAR(20),
		ATT_HOUR VARCHAR(20),
		REASON_IN VARCHAR(500),
		REASON_OUT VARCHAR(500),
		HR_COMMENT VARCHAR(MAX)
	)
	
	CREATE TABLE #DATELIST
	(
		Emp_id int,
		ATT_DATE DATETIME,
		ATT_DAY varchar(20),
		ATT_STATUS VARCHAR(20)
	)

	------------------ insert into #employee list-------------------

	insert into #EMPLIST(Emp_id,emp_name)
	select EMPLOYEE_ID, FIRST_NAME + ' ' + MIDDLE_NAME + ' ' + LAST_NAME  from Employee E
	where EMPLOYEE_ID <> '1000'and EMP_STATUS<>'459' and EMPLOYEE_ID=isnull(@emp_id,EMPLOYEE_ID)
	
	------------------------------insert into #datelist----------------------------
	set @intIncremental=0
	while @intIncremental <=  @intEndValue
	begin

		INSERT INTO #DATELIST(ATT_DATE,ATT_DAY,ATT_STATUS,Emp_id)
		select  convert(varchar,cast( DATEADD(dd,@intIncremental,@fromdate) as datetime) ,102) , 
		DATENAME(dw, DATEADD(dd,@intIncremental,@fromdate)),'ABSENT',0

		set @intIncremental=@intIncremental+1
		
	end

	-------------------------------Insert into Main report---------------------------------------
	
	INSERT INTO #REPORT(ATT_DATE,ATT_DAY,ATT_STATUS,Emp_id,emp_name,LOGIN_TIME,LOGOUT_TIME,ATT_HOUR)
	select d.ATT_DATE, d.ATT_DAY, d.ATT_STATUS, r.Emp_id,r.emp_name,'00:00:00','00:00:00',' ' from #EMPLIST r,  #DATELIST d 
	
	--- Present Days
	DELETE #REPORT
	from #REPORT r, 
	(
	select EMPLOYEE_ID
			,CONVERT(date,ATT_DATE_IN,101) ATT_DATE
			,cast(CONVERT(time,ATT_DATE_IN,101) as varchar(8)) as [LOGINTIME]
			,cast(CONVERT(time,ATT_DATE_OUT,101) as varchar(8)) AS [LOGOUTTIME]
			,round(cast(sum(isnull(datediff(second,[ATT_DATE_IN],[ATT_DATE_OUT]),0))as float)/3600,0) AS [TOTALHOURS]
		FROM 
			(	SELECT 
					emp_id EMPLOYEE_ID,login_time ATT_DATE_IN,logout_time ATT_DATE_OUT,ISNULL(a.REMARKS,'') [HR_REMARKS]
				FROM atttendance a  WHERE EMP_ID <> '1000'
			) a 
		where dbo.FNADateFormat(ATT_DATE_IN,'d') between dbo.FNADateFormat(@fromdate,'d') and dbo.FNADateFormat(@todate,'d')+ ' 23:59'
		GROUP BY  EMPLOYEE_ID,a.ATT_DATE_IN,A.ATT_DATE_IN,A.ATT_DATE_OUT
	)a
	where  a.EMPLOYEE_ID=r.Emp_id and  CONVERT(date,r.ATT_DATE,101) = CONVERT(date,a.ATT_DATE,101)
	
	-- Approved leave
	DELETE #REPORT
	from #REPORT r, 
	(
	
		select REQUESTED_BY
			,l.APPROVED_FROM, l.APPROVED_TO
		FROM LeaveRequest l
		where LEAVE_STATUS='Approved'
	
	)a
	where  a.REQUESTED_BY=r.Emp_id and r.ATT_DATE between a.APPROVED_FROM and a.APPROVED_TO

	--training Program
	Delete #REPORT 
	from #REPORT r, 
	(		
		SELECT P.employeeId,T.plannedStartDate,T.plannedEndDate,T.narration,startDate,endDate
		FROM trainingParticipation P, training T WHERE P.trainingId=T.ID
	
	)a	where  a.employeeId=r.Emp_id and r.ATT_DATE between a.plannedStartDate and a.plannedEndDate
	
	--- Onsite Duty
	Delete #REPORT
	from #REPORT r, 
	(
		 --select * from onsiteDuty
		select TP.empId,sitedatefrom,sitedateto 
		from onsiteDuty TP
	
	)a
	where  a.empId=r.Emp_id and r.ATT_DATE between a.sitedatefrom and a.sitedateto

	--- Travel Order
	Delete #REPORT
	from #REPORT r, 
	(
		 --select * from tada
		select ta.emp_id,duration_from,duration_to 
		from tada ta where ta.tada_status='Approved'
	
	)a
	where  a.emp_id=r.Emp_id and r.ATT_DATE between a.duration_from and a.duration_to
	
	--- saturday... 
	Delete #REPORT where ATT_DAY='Saturday'

	--- Holiday
	DELETE FROM #REPORT
	FROM  #REPORT A	,
	(
		SELECT DATE ATT_DATE FROM OfficialCalendar WHERE TYPE='H'
	)B WHERE CONVERT(VARCHAR,A.ATT_DATE,102)=CONVERT(VARCHAR,B.ATT_DATE,102)
	


IF @flag='a'
BEGIN
	select	
			 ROW_NUMBER() over (order by Emp_id) [Sno]
			,Emp_id [Employee ID]
			,dbo.GetEmployeeFullNameOfId(emp_id) [Name]
			,count(Emp_id) [No of Days]
	from #REPORT r
	Inner join Employee e on r.Emp_id=e.EMPLOYEE_ID
	where Emp_id = ISNULL(@emp_id,Emp_id)
	group by Emp_id
END

IF @flag='d'
BEGIN

	select	
			 ROW_NUMBER() over (order by Emp_id) [Sno]
			,convert(varchar,ATT_DATE,101) [Absent Date]
			,ATT_DAY [Absent Day]
	from #REPORT r
	Inner join Employee e on r.Emp_id=e.EMPLOYEE_ID
	Where Emp_id=@emp_id


END

IF @flag='i'
BEGIN

	select	
			 ROW_NUMBER() over (order by Emp_id) [Sno]
			,e.EMP_CODE [Employee Code] 
			,convert(varchar,ATT_DATE,101) [Absent Date]
			,ATT_DAY [Absent Day]
	from #REPORT r
	Inner join Employee e on r.Emp_id=e.EMPLOYEE_ID
	Where Emp_id=@emp_id

	select * from #REPORT
END
GO
