USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_Approve_requisition]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Exec proc_Approve_requisition 'd','1','1000','this is test'
CREATE PROCEDURE [dbo].[proc_Approve_requisition]
		@flag CHAR(5),
		@id INT=NULL,
		@approver_id VARCHAR(50)=NULL,
		@approver_msg VARCHAR(500)=NULL,
		@stkFlag AS VARCHAR(1)=NULL	,
		@SESSION_ID VARCHAR(50)=NULL,
		@req_id int=null,
		@dispatch_date as varchar(20)=null			
AS
	SET NOCOUNT ON;	
	SET XACT_ABORT ON;			

	DECLARE @from_branch AS INT,@to_branch AS INT,@date AS VARCHAR(20)
	DECLARE @BRANCH_ID AS INT,@SENDER_ID AS INT
	DECLARE @recipient as varchar(500),@msgContent as varchar(max),@SENDER AS VARCHAR(200)
	
IF(@flag='rec')--RECOMMEND
BEGIN

	UPDATE IN_Requisition_Message SET recommed_by=@approver_id,recommed_date=GETDATE(),
			recommed_message = @approver_msg,status='Recommended'
	WHERE id = @id

	-- START EMIAL-NOTIFICATION ---

	SELECT @BRANCH_ID=Forwarded_To,@SENDER_ID=Requ_by FROM IN_Requisition_Message WHERE id = @id
	
	SELECT @SENDER=sdd.DETAIL_TITLE+' '+FIRST_NAME+' '+MIDDLE_NAME+' '+LAST_NAME  
	FROM Employee a inner join StaticDataDetail sdd on sdd.ROWID=a.SALUTATION
	WHERE EMPLOYEE_ID=@SENDER_ID
					 
	SELECT @recipient = rtrim(CAST(B.OFFICIAL_EMAIL AS varchar(200)))+';' + ISNULL(@recipient, '')   FROM 
	(
		SELECT USER_ID FROM user_role WHERE role_id IN 
		(SELECT role_id FROM roles_detail WHERE function_id=122)
	)A 
	INNER JOIN 
	(
		SELECT B.AdminID,A.EMPLOYEE_ID,OFFICIAL_EMAIL 
		FROM Employee A INNER JOIN Admins B ON A.EMPLOYEE_ID=B.Name WHERE A.BRANCH_ID =@BRANCH_ID
		
	)B ON A.user_id=B.AdminID
	
	SET @msgContent='Dear Sir/Madam
	
	'+@SENDER+' has been requested a requisition for your approval.
	
	Note: This requisition has already recommended.
	Click here to login: http://10.0.0.70
	
Thanks & Regards
Nabil Bank Limited (Administration Department)'
	EXEC PROC_MAIL_SEND @recipient=@recipient, @subject_text='Please Approve Requisition!', @msg_text=@msgContent
	-- END EMIAL-NOTIFICATION ---

END	

IF(@flag='m')--APPROVE
BEGIN

	UPDATE IN_Requisition_Message SET Approver_id = @approver_id, Approved_Date = GETDATE(), 
	Approver_message = @approver_msg,status='Approved'
	WHERE id = @id
	
	UPDATE IN_Requisition SET Delivered_Quantity = Approved_Quantity
	WHERE Requistion_message_id = @id

		-- START EMIAL-NOTIFICATION ---
	SELECT @BRANCH_ID=Forwarded_To,@SENDER_ID=Requ_by FROM IN_Requisition_Message WHERE id = @id
	
	SELECT @SENDER=sdd.DETAIL_TITLE+' '+FIRST_NAME+' '+MIDDLE_NAME+' '+LAST_NAME  
	FROM Employee a inner join StaticDataDetail sdd on sdd.ROWID=a.SALUTATION
	WHERE EMPLOYEE_ID=@SENDER_ID
					 
	SELECT @recipient = rtrim(CAST(B.OFFICIAL_EMAIL AS varchar(200)))+';' + ISNULL(@recipient, '')   FROM 
	(
		SELECT USER_ID FROM user_role WHERE role_id IN 
		(SELECT role_id FROM roles_detail WHERE function_id=121)
	)A 
	INNER JOIN 
	(
		SELECT B.AdminID,A.EMPLOYEE_ID,OFFICIAL_EMAIL 
		FROM Employee A INNER JOIN Admins B ON A.EMPLOYEE_ID=B.Name WHERE A.BRANCH_ID =@BRANCH_ID
		
	)B ON A.user_id=B.AdminID
	
	SET @msgContent='Dear Sir/Madam
	
	'+@SENDER+' has been requested a requisition for your full dispatch. 
	
	Note: This requisition has already recommended & Approved.
	
	Click here to login: http://10.0.0.70
	
Thanks & Regards
Nabil Bank Limited (Administration Department)'
	EXEC PROC_MAIL_SEND @recipient=@recipient, @subject_text='Please Dispatch Requisition!', @msg_text=@msgContent
	-- END EMIAL-NOTIFICATION ---
	

END	

IF(@flag='d')--DISPACTH
BEGIN
		
	delete from IN_Requisition_detail where Requistion_message_id = @id and session_id=@SESSION_ID 
	and Delivered_Quantity =0
		
	SELECT @from_branch=Forwarded_To,@to_branch=branch_id,@date=GETDATE() FROM IN_Requisition_Message	WHERE id=@id
	IF EXISTS (
		SELECT PRODUCT_ID FROM 		
				(SELECT PRODUCT_ID, SUM(ISNULL(STOCK_IN_HAND,0)) AS STOCK_IN_HAND, 
					SUM(ISNULL(DISPATCH_QUANTITY,0)) +SUM(NOT_ACKNOWLEDGED_QTY) AS CHECKING_QTY FROM 
				(
				
				SELECT R.item AS PRODUCT_ID,0.00 AS STOCK_IN_HAND, 0.00 AS DISPATCH_QUANTITY,
				ISNULL( Delivered_Quantity,0) AS NOT_ACKNOWLEDGED_QTY FROM 
				IN_Requisition_detail R WITH (NOLOCK)
					INNER JOIN IN_Requisition_Message M WITH (NOLOCK) ON R.Requistion_message_id=M.id 
					inner join IN_PRODUCT c on c.id=r.item
					WHERE 
					M.Forwarded_To=@from_branch 
					AND R.Requistion_message_id=@id 
					AND R.SESSION_ID=@SESSION_ID
					
				UNION ALL
				
				SELECT PRODUCT_ID,ISNULL(stock_in_hand,0) AS stock_in_hand,0.00 AS DISPATCH_QUANTITY, 
				0.00 AS NOT_ACKNOWLEDGED_QTY FROM IN_BRANCH B
					WHERE BRANCH_ID=@from_branch
					AND PRODUCT_ID IN (SELECT item FROM IN_Requisition_detail R WITH (NOLOCK) 
					WHERE Requistion_message_id=@id AND SESSION_ID=@SESSION_ID)
				) XY GROUP BY PRODUCT_ID
				)zy WHERE stock_in_hand<checking_qty)
		BEGIN
			SELECT 'You have no sufficient stock in hand!' AS msg
		END
	ELSE
	BEGIN
		
		--SELECT @from_branch=Forwarded_To,@to_branch=branch_id,@date=GETDATE() FROM IN_Requisition_Message where id=@id

		UPDATE IN_Requisition_detail SET Received_Quantity = Delivered_Quantity ,REMAIN= Delivered_Quantity
		WHERE Requistion_message_id = @id and session_id=@SESSION_ID
		
		EXEC [procINReceiveProductVoucher] @id,@from_branch,@to_branch,@approver_id,@date,@stkFlag,@SESSION_ID,@dispatch_date,@approver_msg
		
		--UPDATING DISPATCHED QUANTITY IN MASTER TABLE
		UPDATE IN_Requisition SET Received_Quantity=ISNULL(Received_Quantity,0)+B.Delivered_Quantity FROM IN_Requisition A,
		(
			SELECT Delivered_Quantity,item FROM IN_Requisition_detail 
			WHERE Requistion_message_id=@id and session_id=@SESSION_ID
			
		)B WHERE A.item=B.item AND A.Requistion_message_id=@id
		

		UPDATE IN_Requisition_Message SET status='Full Dispatched',Delivered_By=@approver_id,Delivered_Date=@dispatch_date,Delivery_Message=@approver_msg
		WHERE id = @id	
		

			-- ###EMAIL NOTIFICATION### -- 
	SELECT @SENDER_ID=Requ_by FROM IN_Requisition_Message WHERE id = @id

	SELECT @recipient=ISNULL(OFFICIAL_EMAIL,'info@sunrisebank.com.np') FROM Employee WHERE EMPLOYEE_ID=@SENDER_ID
	
	SET @msgContent='Dear Sir/Madam
	
	Your requisition has been dispatched, Please acknowledge your requisition.
	
	Click here to login: http://10.0.0.70	
		
Thanks & Regards
Nabil Bank Limited (Administration Department)'
	EXEC PROC_MAIL_SEND @recipient=@recipient, @subject_text='Please Acknowledge Your Requisition!', @msg_text=@msgContent

	--- ### END AUTO EMIAL NOTIFICATION ### ---
	
	END 

END

IF(@flag='r')--ACKNOWLEDGE
BEGIN
	if exists(select * from IN_DISPATCH_MESSAGE WHERE status='Full Acknowledged' and id = @id)
	begin
		select 'Already Acknowledged'
		return;
	end
	
	DECLARE @RECEIVED_MSG_ID AS INT,@isStock varchar(10),@FROM_BRANCH_R INT,@TO_BRANCH_R INT
	
	SELECT @isStock=A.STKFLAG,@FROM_BRANCH_R=B.Forwarded_To,@TO_BRANCH_R=B.branch_id
	FROM IN_DISPATCH_MESSAGE A INNER JOIN IN_Requisition_Message B ON A.req_id=B.id WHERE A.id=@id


	INSERT INTO IN_RECEIVED_MESSAGE(req_msg_id,dis_msg_id,received_by,received_date,received_msg)
	VALUES(@req_id,@id,@approver_id,GETDATE(),@approver_msg) 
	SET @RECEIVED_MSG_ID=@@IDENTITY
	
	INSERT INTO IN_RECEIVED(received_msg_id,product_id,received_qty)
	SELECT @RECEIVED_MSG_ID,product_id,remain FROM IN_DISPATCH where dispatch_msg_id=@id
	
	UPDATE IN_DISPATCH SET received_qty=dispatched_qty,remain=0,received_date=GETDATE() where dispatch_msg_id=@id
	

	 --### TRANSIT PART ###---
	
	
	if @isStock='N'	AND @FROM_BRANCH_R<> @TO_BRANCH_R
	begin
		--Stock Maintain with 0 stock level in Receiving Branch
		INSERT INTO IN_PURCHASE(prod_code, p_qty, p_rate, p_stk_remain, branch_id,entered_by,entered_date,req_id)
		SELECT product_id, dispatched_qty, Rate,dispatched_qty,to_branch,@approver_id,getdate(),@req_id 
		FROM IN_DISPATCH where dispatch_msg_id=@id
		
		update IN_BRANCH set stock_in_hand=stock_in_hand+b.dispatched_qty from IN_BRANCH a,
		(
			select product_id,sum(isnull(received_qty,0)) dispatched_qty 
			from IN_DISPATCH where dispatch_msg_id=@id
			group by product_id
		)b where a.PRODUCT_ID=b.product_id and a.BRANCH_ID=@TO_BRANCH_R
	end

	
	UPDATE IN_DISPATCH_MESSAGE SET status='Full Acknowledged'
			WHERE id = @id	
				
	UPDATE IN_Requisition_Message SET status='Full Acknowledged',Acknowledged_By=@approver_id,
	Acknowledged_Date=GETDATE(),Acknowledged_Message=@approver_msg
	WHERE id = @req_id		
		
END

IF(@flag='rej')--REJECTION
BEGIN
	
	UPDATE IN_Requisition_Message SET rejected_by = @approver_id , rejected_date = GETDATE(), rejected_message = @approver_msg,status='Rejected'
	WHERE id = @id	

END
GO
