USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procInsertAssetReqInTemp]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Exec procInsertProductInTemp 'i','j5ihl22djnyi2v55wejhx045','2','1070'

CREATE PROCEDURE [dbo].[procInsertAssetReqInTemp]
		@flag varchar(5),
		@session_id varchar(200),
		@requisition_id int,		
		@user varchar(50)
AS
	SET NOCOUNT ON;

IF(@flag ='i')
BEGIN

	select session_id,asset_req_id from Temp_Purchase where session_id=@session_id and asset_req_id=@requisition_id	
END
GO
