USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_faReport]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[proc_faReport]
	@flag varchar(50),
	@fromDate varchar(20)		= null,
	@toDate varchar(20)			= null,
	@branchId varchar(20)		= null,
	@groupId varchar(10)		= null,
	@assetId Varchar(20)		= null,
	@rptType varchar(50)		= null,
	@pageNumber varchar(100)	= null,
	@pageSize varchar(50)		= null,
	@user varchar(50)			= null

AS
Declare 
	@sql varchar(max)

	if @flag = 'group-wise'
	begin
		set @sql ='
		select 
			[S.N.]	= row_number() over(order by b.branch_name),
			[Branch] = b.BRANCH_NAME, 
			[Total Cost] = sum(isnull(purchase_value,0)),
			[Total Acc. Depn ] = sum(isnull(acc_depriciation,0)),
			[Net Value] = sum(isnull(purchase_value,0) - isnull(acc_depriciation,0)) 
		from asset_inventory ai with(nolock)
		inner join Branches b with(nolock) on ai.branch_id = b.branch_id where 1=1 '

		if @fromDate is not null and @toDate is not null
			set @sql =@sql +' and ai.booked_date between '''+@fromDate+''' and '''+@toDate+' 23:59:59''' 

		if @groupId is not null
			set @sql =@sql +' and ai.group_id = '''+@groupId+''''

		if @branchId is not null
			set @sql =@sql +' and ai.branch_id = '''+@branchId+''''

		set @sql = @sql+'
		group by b.BRANCH_NAME
		order by b.BRANCH_NAME'

		exec(@sql)
		EXEC proc_errorHandler '0', 'Report has been prepared successfully.', NULL
			
		
		SELECT 'Date Range', case when @fromDate is not null and @toDate is not null then @fromDate +' to '+ @toDate else ' - ' end value
		UNION ALL
		SELECT 'Branch' head,case when @branchId is null then 'All' else (select branch_name from dbo.Branches with(nolock) where branch_id = @branchId) end VALUE
		UNION ALL
		SELECT 'Group' head,case when @groupId is null then 'All' else (select item_name from asset_item with(nolock) where id = @groupId) end VALUE
		
		SELECT 'ASSET GROUPWISE SUMMARY REPORT ' title	
		return;
	end

	if @flag='grpwise'
	begin
		
		Declare @date varchar(20),@currMonth varchar(2),@sql1 varchar(max),@sql2 varchar(max),@sql3 varchar(max),@fy varchar(50)

			set @date=convert(varchar,getDate(),101)
			set @fy=dbo.FNAReturnCurrentFiscalYear(@date)
			SET @currMonth=dbo.GetNepaliMonth(@date)

			SET @sql1='select 
						 asset_id = op.asset_id
						,accDepTillLastYr = op.acc_dep  
					from asset_opening_balance op with(nolock)
					where op.fiscal_year = '''+@fy+''''

			SET @sql2='
					select 
						 asset_id
						,accDepThisYr= sum(ds.dep_value)  
					from depreciation_status ds with(nolock) 
				where ds.fiscal_year = '''+@fy+''''
			SET @sql3='
				select ds.asset_id,
				accDepThisMonth = sum(ds.dep_value)  from depreciation_status ds with(nolock) 
				where ds.fiscal_year ='''+@fy+''' 
				and run_month = '''+@currMonth+''''	

			IF @branchId is not null
			BEGIN
				SET	@sql1=@sql1+'and op.branch_id ='''+@branchId+''''
				SET	@sql2=@sql2+'and ds.branch_id = '''+@branchId+''''
				SET	@sql3=@sql3+'and ds.branch_id ='''+@branchId+''''
			END

			SET @sql2=@sql2+'group by ds.asset_id'
			SET @sql3=@sql3+'group by ds.asset_id'

		if @rptType = 'book'						
			set @sql='SELECT 
							[S.N.]				= row_number() over(order by am.booked_date),
							[Asset Type]		= AP.porduct_code,
							[Asset Number]		= am.asset_number,
							[Booked Date]		= CONVERT(VARCHAR,am.booked_date,107),
							[Dep. Start Date]	= convert(varchar,am.depr_start_date,107),
							[Purchase Value]	= dbo.ShowDecimal(am.purchase_value),
							[Acc. Dep]			= dbo.ShowDecimal(am.acc_depriciation),
							[Booked Value]		= dbo.ShowDecimal(am.purchase_value-am.acc_depriciation),	
							[Status]			= am.asset_status,
							[Dep. Per]			= am.depre_pct,
							[Is Amortized]		= case when am.is_amortised=''N'' then ''No'' when am.is_amortised=''Y'' then ''Yes'' end, 
							[Life In Month]		= am.life_in_month,
							[Branch Name]		= b.Branch_name,
							[Department Name]	= D.DEPARTMENT_NAME,
							[Asset Owner]		= dbo.GetEmployeeFullNameOfId(asset_holder),
							[Accumulated Depreciation_Till Last Year] = isnull(ly.accDepTillLastYr,0),
							[Accumulated Depreciation_This Year]=isnull(ty.accDepThisYr,0),
							[Accumulated Depreciation_This Month]=isnull(tm.accDepThisMonth,0),
							[Narration]			= am.narration,
							[OldAssetNo]		= am.old_asset_no
					FROM ASSET_INVENTORY am WITH(NOLOCK)
					INNER JOIN ASSET_PRODUCT AP WITH(NOLOCK) ON am.product_id = AP.ID
					inner join ASSET_ITEM c with(nolock) on c.id = AP.item_id 
					inner join dbo.Branches b with(nolock) on b.branch_id = am.branch_id
					left join dbo.departments d with(nolock) on am.dept_Id = d.department_id
					left join 
					(
						'+@sql1+'
					)ly on am.id = ly.asset_id
					left join
					(
						'+@sql2+'
					)ty on am.id =ty.asset_id
					left join
					(
						'+@sql3+'
					)tm on am.id = tm.asset_id
					where am.asset_status = ''Active''	and am.booked_date between '''+@fromDate+''' and '''+@toDate+' 23:59:59'''

		if @rptType = 'sales'
		set @sql='select 
			[S.N.] =row_number()over(order by am.booked_date),
 			[Asset Information_Type] = ap.porduct_code,
			[Asset Information_Number] = am.asset_number,
			[Asset Information_Branch] = b.BRANCH_NAME,
			[Asset Information_Booked Date] = am.booked_date,
			[Asset Information_Purchase Value] = am.purchase_value,		
			[Asset Information_Acc Dep] = aSal.accumulate_dep,
			[Asset Information_Booked Value] = aSal.book_value,
			[Asset Information_Dep Start Date] = am.depr_start_date,
			[Asset Information_Status] = am.asset_status,
			[Sales Information_Sold Date] = sold_date,
			[Sales Information_Sold By] = sold_by,
			[Sales Information_Sold Amount] = sold_amt,
			[Sales Information_Profit/Loss] = aSal.profit_loss,
			[Sales Information_Narration] = aSal.narration,
			[Sales Information_Entered By] = aSal.created_by,
			[Sales Information_Entered Date] = aSal.created_date,
			[Sales Information_Approved By] = aSal.approved_by,
			[Sales Information_Approved Date] = aSal.approved_date
		from ASSET_SALES_HISTORY aSal with(nolock) 
			inner join asset_inventory am with(nolock) on aSal.asset_id = am.id
			INNER JOIN ASSET_PRODUCT AP WITH(NOLOCK) on am.product_id = AP.ID
			inner join ASSET_ITEM c with(nolock) on c.id = AP.item_id 
			inner join dbo.Branches b with(nolock) on b.branch_id = am.branch_id
		where aSal.approved_date between '''+@fromDate+''' and '''+@toDate+' 23:59:59'''

		if @rptType = 'transfer'
		set @sql='select 
			[S.N.] =row_number()over(order by am.booked_date),
 			[Asset Information_Type] = ap.porduct_code,
			[Asset Information_Number] = am.asset_number,
			[Asset Information_Branch] = b.BRANCH_NAME,
			[Asset Information_Booked Date] = am.booked_date,
			[Asset Information_Purchase Value] = am.purchase_value,		
			[Asset Information_Acc Dep] = sub.accumulated_dep,
			[Asset Information_Booked Value] = sub.book_value,
			[Asset Information_Dep Start Date] = am.depr_start_date,
			[Asset Information_Status] = am.asset_status,
			
			[Transfer Information_From Branch] = dbo.getbranchName(from_branch),
			[Transfer Information_From Dept] = dbo.GetDeptName(from_dept),
			[Transfer Information_From Holder] = from_holder,

			[Transfer Information_To Branch] = dbo.getbranchName(to_branch),
			[Transfer Information_To Dept] = dbo.GetDeptName(to_dept),
			[Transfer Information_To Holder] = to_holder,
			[Transfer Information_Remarks] = sub.narration,
			
			[Transfer Information_Entered By] = dbo.GetEmployeeFullNameOfId(sub.created_by),
			[Transfer Information_Entered Date] = sub.created_date,
			[Transfer Information_Approved By] = dbo.GetEmployeeFullNameOfId(sub.approved_by),
			[Transfer Information_Approved Date] = sub.approved_date,

			[Transfer Information_Dep This Year]=isnull(ty.accDepThisYr,0),	
			[Transfer Information_Old Assest No.]=am.old_asset_no,
			[Transfer Information_Narration]=am.narration

		from asset_transfer_History sub with(nolock) 
			inner join asset_inventory am with(nolock) on sub.asset_id = am.id
			INNER JOIN ASSET_PRODUCT AP WITH(NOLOCK) on am.product_id = AP.ID
			inner join ASSET_ITEM c with(nolock) on c.id = AP.item_id 
			inner join dbo.Branches b with(nolock) on b.branch_id = am.branch_id
			left join
			(
				'+@sql2+'
			)ty on am.id =ty.asset_id		
		where sub.approved_date between '''+@fromDate+''' and '''+@toDate+' 23:59:59'''

		if @rptType = 'writeoff'
		set @sql='select 
			[S.N.] = row_number()over(order by am.booked_date),
 			[Asset Information_Type] = ap.porduct_code,
			[Asset Information_Number] = am.asset_number,
			[Asset Information_Branch] = b.BRANCH_NAME,
			[Asset Information_Booked Date] = am.booked_date,
			[Asset Information_Purchase Value] = am.purchase_value,		
			[Asset Information_Acc Dep] = sub.accumulate_dep,
			[Asset Information_Booked Value] = sub.book_value,
			[Asset Information_Dep Start Date] = am.depr_start_date,
			[Asset Information_Status] = am.asset_status,
			[Asset Information_Narration] = am.narration,
		
			[Depreciation This Year]=isnull(ty.accDepThisYr,0),			

			[Writeoff Information_Writeoff Date] = sub.write_off_date,
			[Writeoff Information_Writeoff By] = dbo.GetEmployeeFullNameOfId(sub.created_by),
			[Writeoff Information_Remarks] = sub.narration,						

			[Writeoff Information_Entered By] = sub.created_by,
			[Writeoff Information_Entered Date] = sub.created_date,
			[Writeoff Information_Approved By] = dbo.GetEmployeeFullNameOfId(sub.approved_by),
			[Writeoff Information_Approved Date] = sub.approved_date,

			[Old Assest No.]=am.old_asset_no,
			[Disposal Amount]=sub.Scrap_Value,
			[Net Profit_Loss]=sub.Net_Profit_Loss

		from ASSET_WRITEOF_HISTORY sub with(nolock) 
			inner join asset_inventory am with(nolock) on sub.asset_id = am.id
			INNER JOIN ASSET_PRODUCT AP WITH(NOLOCK) on am.product_id = AP.ID
			inner join ASSET_ITEM c with(nolock) on c.id = AP.item_id 
			inner join dbo.Branches b with(nolock) on b.branch_id = am.branch_id			
			left join
			(
				'+@sql2+'
			)ty on am.id =ty.asset_id			
		where sub.approved_date between '''+@fromDate+''' and '''+@toDate+' 23:59:59'''
	
		if @rptType = 'maintenance'
		set @sql='select 
			[S.N.] = row_number()over(order by am.booked_date),
 			[Asset Information_Type] = ap.porduct_code,
			[Asset Information_Number] = am.asset_number,
			[Asset Information_Branch] = b.BRANCH_NAME,
			[Asset Information_Booked Date] = am.booked_date,
			[Asset Information_Purchase Value] = am.purchase_value,		
			[Asset Information_Acc Dep] = sub.accumulate_dep,
			[Asset Information_Booked Value] = sub.book_value,
			[Asset Information_Dep Start Date] = am.depr_start_date,
			[Asset Information_Status] = am.asset_status,

			[Maintenance Information_Maint. Date] = sub.maint_date,
			[Maintenance Information_Maint. By] = sub.maint_by,
			[Maintenance Information_Expenses Amt] = sub.expense_amt,
			[Maintenance Information_Remarks] = sub.narration,
			[Maintenance Information_Entered By] = dbo.GetEmployeeFullNameOfId(sub.created_by),
			[Maintenance Information_Entered Date] = sub.created_date,
			[Maintenance Information_Approved By] = dbo.GetEmployeeFullNameOfId(sub.approved_by),
			[Maintenance Information_Approved Date] = sub.approved_date

		from ASSET_MAINTENANCE_HISTORY sub with(nolock) 
			inner join asset_inventory am with(nolock) on sub.asset_id = am.id
			INNER JOIN ASSET_PRODUCT AP WITH(NOLOCK) on am.product_id = AP.ID
			inner join ASSET_ITEM c with(nolock) on c.id = AP.item_id 
			inner join dbo.Branches b with(nolock) on b.branch_id = am.branch_id
		where sub.approved_date between '''+@fromDate+''' and '''+@toDate+' 23:59:59'''

		if @rptType = 'capitalization'
		set @sql='select 
			[S.N.] = row_number()over(order by am.booked_date),
 			[Asset Information_Type] = ap.porduct_code,
			[Asset Information_Number] = am.asset_number,
			[Asset Information_Branch] = b.BRANCH_NAME,
			[Asset Information_Booked Date] = am.booked_date,
			[Asset Information_Purchase Value] = am.purchase_value,		
			[Asset Information_Acc Dep] = am.acc_depriciation,
			[Asset Information_Booked Value] = sub.book_value,
			[Asset Information_Dep Start Date] = am.depr_start_date,
			[Asset Information_Status] = am.asset_status,

			[Capitalization Information_Capitalized Date] = sub.Capitalization_date,
			[Capitalization Information_Capitalized By] = dbo.GetEmployeeFullNameOfId(sub.created_by),
			[Capitalization Information_Capitalized Amt] = sub.Capitalization_amt,
			[Capitalization Information_Remarks] = sub.narration,


			[Old Assest No.]=am.old_asset_no,
			[Assest Narration]=am.narration

		from ASSET_CAPITALIZATION_HISTORY sub with(nolock) 
			inner join asset_inventory am with(nolock) on sub.asset_id = am.id
			INNER JOIN ASSET_PRODUCT AP WITH(NOLOCK) on am.product_id = AP.ID
			inner join ASSET_ITEM c with(nolock) on c.id = AP.item_id 
			inner join dbo.Branches b with(nolock) on b.branch_id = am.branch_id			
		where sub.approved_date between '''+@fromDate+''' and '''+@toDate+' 23:59:59'''

		/*
		select * from ASSET_SALES_HISTORY
		select * from asset_transfer_History
		select * from ASSET_WRITEOF_HISTORY
		select * from [dbo].[ASSET_MAINTENANCE_HISTORY]
		select * from [dbo].[ASSET_CAPITALIZATION_TEMP]

		alter table ASSET_CAPITALIZATION_TEMP add approved_by varchar(50),approved_date datetime
		*/

		--select @sql

		if @branchId is not null
			set @sql=@sql + ' and am.branch_id = '+ @branchId
	
		if @groupId is not null
			set @sql=@sql + ' and c.parent_id = '+ @groupId	
			
		if @assetId is not null
			set @sql=@sql + ' and am.product_id = '+ @assetId
			
		set @sql=@sql + ' order by am.booked_date asc '
		print(@sql)
		Exec (@sql)

		EXEC proc_errorHandler '0', 'Report has been prepared successfully.', NULL
			
		SELECT 'Date Range' head, @fromDate+' To '+ @toDate VALUE
		UNION ALL
		SELECT 'Branch' head, (select branch_name from dbo.Branches with(nolock) where branch_id = @branchId) VALUE
		UNION ALL
		SELECT 'Group' head,case when @groupId is null then 'All' else (select item_name from ASSET_ITEM with(nolock) where id = @groupId) end VALUE
		UNION ALL
		SELECT 'Asset Type' head,case when @assetId is null then 'All' else (select porduct_code from asset_product with(nolock) where id = @assetId) end VALUE	
		Union all
		select 'Report Type' head, 
		case 
			when @rptType='book' then 'Booking'
            when @rptType='sales' then 'Sales'
            when @rptType='writeoff' then 'WriteOff'
            when @rptType='transfer' then 'Transfer'
            when @rptType='maintenance' then 'Maintenance'
            when @rptType='capitalization' then 'Capitalization'
		end
		SELECT 'Fixed Asset Date Wise Report ' title
	
	end
GO
