USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[ProcReceivePurchaseOrderRpt]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
exec ProcReceivePurchaseOrderRpt 'r','1'
exec ProcReceivePurchaseOrderRpt 'o','38'
exec ProcReceivePurchaseOrderRpt @flag='a',@id=1
exec ProcReceivePurchaseOrderRpt @flag='c',@id='1'
*/
CREATE procedure [dbo].[ProcReceivePurchaseOrderRpt]
				@flag varchar(1)=null,
				@id int=null	
As
Set Nocount on;

	if @flag='a'
	begin
		
		SELECT  ROW_NUMBER() OVER(order by ip.porduct_code) AS SN 
				,ip.id [PROD CODE]
				,ip.porduct_code [PRODUCT NAME]
				,ip.package_unit AS [UOM]
				,po.qty QTY
				,dbo.ShowDecimal(po.rate) RATE 
				,dbo.ShowDecimal(po.amount) AMOUNT	
			from Purchase_Order po	inner join IN_PRODUCT ip on po.product_code = ip.id
			where po.order_message_id = @id
			
	end
	if @flag='b'
	begin	
		
		declare @vat_amt as money
		select @vat_amt=isnull(vat_amt,0) from Purchase_Order_Message where id=@id

		select  dbo.ShowDecimal(SUM(po.amount)) 'Total',case when @vat_amt>0 then 
			dbo.ShowDecimal(SUM(po.amount)*0.13) else
			'0.00' end
			as VAT
			,dbo.ShowDecimal(SUM(po.amount)+case when @vat_amt>0 then 
			dbo.ShowDecimal(SUM(po.amount)*0.13) else
			'0.00' end) as Grand_Amt
			from Purchase_Order po
			inner join IN_PRODUCT ip on po.product_code = ip.id
			where po.order_message_id = @id
			
	end

	if @flag='c'
	begin
		 declare @specif as varchar(max),@remarks as varchar(max)
		 SELECT @specif=prod_specfic,@remarks=remarks 
		 FROM	Purchase_Order_Message WHERE id=@id
		select * from dbo.split(@remarks,'~')
		 select * from dbo.split(@specif,'~')

	end

	
if @flag='r'		
begin
	select ROW_NUMBER() OVER(order by P.porduct_code) AS SN,P.porduct_code AS [PRODUCT NAME],P.package_unit AS [PACKAGE UNIT],SUM(qty) as QTY,
		dbo.ShowDecimal(AVG(Rate)) as RATE,dbo.ShowDecimal(SUM(amount)) AS AMOUNT 
		from Purchase_Order_Received PR INNER JOIN IN_PRODUCT P ON P.id=PR.Product_Id
		where PR.Order_Message_Id=@id group by P.porduct_code,P.package_unit
		
		
	select pom.remarks,ob.FIRST_NAME + ' ' + ob.MIDDLE_NAME + ' ' + ob.LAST_NAME as received_by,
		CONVERT(varchar, pom.received_date, 107) received_date  
		from Purchase_Order_Message pom 
		inner join Employee ob on pom.received_by = ob.EMPLOYEE_ID
		where pom.id=@id
		
	select  dbo.ShowDecimal(SUM(r.amount)) 'Total',dbo.ShowDecimal(SUM(r.amount)*0.13) as VAT
		from Purchase_Order_Received r
		inner join IN_PRODUCT ip on r.Product_Id = ip.id
		where r.order_message_id = @id
end
GO
