USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_Get_AssetInventoriesDetails]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_Get_AssetInventoriesDetails]
 ( @ASSETID	VARCHAR(30) )
 AS
 BEGIN
	 
	SELECT a.id,(a.purchase_value-a.acc_depriciation) AS [book Value],a.acc_depriciation,a.branch_id,b.BRANCH_NAME,a.dept_id,d.DEPARTMENT_NAME,
		a.asset_holder,a.purchase_value,a.narration,
		 E.FIRST_NAME + ' ' + E.MIDDLE_NAME + ' ' +E.LAST_NAME AS holder_name
		 FROM ASSET_INVENTORY a with(nolock)
		 left join Branches b with(nolock) on b.BRANCH_ID=a.branch_id
		 left join Departments d with(nolock) on d.DEPARTMENT_ID=a.dept_id
		 left join Employee e with(nolock) on e.EMPLOYEE_ID=a.asset_holder	 
		 where id=@ASSETID
 
 END
GO
