USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procGetInsuranceDetails]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Exec procGetInsuranceDetails 'i','2'
create proc [dbo].[procGetInsuranceDetails]
	@flag char(1),
	@insuranceId int=null
as
if @flag='i'
begin
	if (select PAYMENT_AMOUNT from InsurancePremium where INSURANCE_ID=@insuranceId) is not null
	BEGIN
		SELECT I.INSURED_AMOUNT- SUM(IP.PAYMENT_AMOUNT) AS UNPAID_AMOUNT,I.INSURANCE_POLICY FROM InsurancePremium IP
		inner join Insurance I ON I.ID=IP.INSURANCE_ID  WHERE INSURANCE_ID=@insuranceId GROUP BY I.INSURANCE_POLICY, I.INSURED_AMOUNT
	END
	ELSE
	BEGIN
		SELECT INSURED_AMOUNT AS UNPAID_AMOUNT,INSURANCE_POLICY FROM Insurance where ID=@insuranceId
	END
end

--select PAYMENT_AMOUNT from InsurancePremium where INSURANCE_ID=2
--SELECT dbo.ShowDecimal(INSURED_AMOUNT) AS UNPAID_AMOUNT,INSURANCE_POLICY FROM Insurance where ID=2
GO
