USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[prcDisplayProduct]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Exec prcDisplayProduct '1','NOTE'
CREATE PROC [dbo].[prcDisplayProduct]
	@branch VARCHAR(20),
	@product VARCHAR(200)
AS
BEGIN
	
	SET NOCOUNT ON;


	SELECT TOP 20 porduct_code +'|' + CAST(p.id AS VARCHAR) AS product 
	FROM IN_BRANCH B WITH(NOLOCK) , IN_PRODUCT P with(nolock)
	where b.PRODUCT_ID=P.id  AND B.BRANCH_ID=@branch
	AND porduct_code+'|' + cast(p.id as varchar) LIKE '%'+@product +'%'
	AND B.is_active=1   AND p.is_active=1  
	order by P.id


END
GO
