USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procManageEmployeeJD]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
 Exec [procManageEmployeeJD] @flag='u',@ROW_ID=0, @CUST_ID='1',
 @FILE_DESC='519',@UPLOAD_BY='admin',@FILE_TYPE='jpg',@session_id=''
*/


CREATE procedure [dbo].[procManageEmployeeJD]
				 @flag   varchar(1) 
				,@id varchar(200)=null
				,@emp_id int=null
				,@branch_id int=null
				,@dept_id int=null
				,@position_id int=null
				,@supervisor_id int=null
				,@from_date datetime=null
				,@to_date datetime =null
				,@fileDesc varchar(100)=null				
				,@fileType varchar(100)=null
				,@user varchar(100)=null
as

set nocount on;
DECLARE @SQL VARCHAR(8000)

if(@flag='i')
begin
	
	--SELECT * FROM JD_FILE
	--SELECT * FROM JD_EMPLOYEE

	insert into JD_EMPLOYEE(employee_id,branch_id,dept_id,position_id,supervisor_id,from_date,to_date,file_desc,file_type,
	created_date,created_by)
	values(@emp_id,@branch_id,@dept_id,@position_id,@supervisor_id,@from_date,@to_date,@fileDesc,@fileType,
	GETDATE(),@user)

	set @id= @@IDENTITY
	
	select @id as msg 
end


if(@flag='s')     
  
begin

	SELECT id,employee_id,branch_id,dept_id,position_id,supervisor_id,convert(varchar,from_date,101) as from_date,
	convert(varchar,to_date,101) as to_date,file_desc,file_type,
	created_date,created_by FROM JD_EMPLOYEE  
	WHERE id = @id  

end

if @flag='d'
begin   

	DELETE FROM	 JD_EMPLOYEE WHERE id=@id

end
GO
