USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_GetColumnToRowFull]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--SELECT * FROM ASSET_INVENTORY_TEMP
--select * from changesApprovalQueue
-- EXEC [proc_GetColumnToRowFull] 'ASSET_INVENTORY_TEMP','ID','2',NULL
CREATE PROC [dbo].[proc_GetColumnToRowFull](
	 @tableName		VARCHAR(100)
	,@fieldName		VARCHAR(50)
	,@dataId		VARCHAR(50)
	,@dataList		VARCHAR(MAX) = NULL OUTPUT 
)
AS
BEGIN
	SET NOCOUNT ON	
	DECLARE @separator VARCHAR(10)
	SET @separator = '-:::-'
	DECLARE @columnList TABLE(columnName VARCHAR(250))
	DECLARE @table VARCHAR(MAX)	
	
	--------ASSET BOOKING APPROVAL LIST------------------
	IF @tableName IN ('ASSET_INVENTORY_TEMP')	
	BEGIN
		INSERT @columnList(columnName)
		SELECT 'Group Name'				UNION ALL
		SELECT 'Asset Type'				UNION ALL                                    
		SELECT 'Book Date'				UNION ALL
		SELECT 'Dep Start Date'			UNION ALL	
		SELECT 'Purchase Date'			UNION ALL 
		SELECT 'Purchase Value'			UNION ALL 
		SELECT 'Acc Dep'				UNION ALL 
		SELECT 'Branch Name'			UNION ALL 
		SELECT 'Dept Name'				UNION ALL 
		SELECT 'Narration'				UNION ALL 
		SELECT 'Bill Info'				UNION ALL 
		SELECT 'Insurance Info'			UNION ALL 		
		SELECT 'Asset Owner'			UNION ALL
		SELECT 'Warrenty Date'			UNION ALL
		SELECT 'Asset Serial'			UNION ALL
		SELECT 'Next Maint. Date'		UNION ALL
		SELECT 'Status'					UNION ALL
		SELECT 'Dep (%)'				UNION ALL
		SELECT 'Is Amortised'			UNION ALL
		SELECT 'Life In Month'			UNION ALL
		SELECT 'Requested Date'			UNION ALL
		SELECT 'Requested By'			UNION ALL
		SELECT 'Remain Month'			UNION ALL	
		SELECT 'Old Asset No'			UNION ALL
		SELECT 'Old Asset Code'			UNION ALL
		SELECT 'Model'					UNION ALL
		SELECT 'Brand'
		SET @table = '(
						SELECT TOP 1

			AI.item_name										AS [Group Name],
			AP.porduct_code										AS [Asset Type],
			CONVERT(VARCHAR,AIT.booked_date,107)				AS [Book Date],
			CONVERT(VARCHAR,AIT.depr_start_date,107)			AS [Dep Start Date],
			CONVERT(VARCHAR,AIT.purchase_date,107)				AS [Purchase Date],
			dbo.ShowDecimal(purchase_value)						AS [Purchase Value],
			dbo.ShowDecimal(acc_depriciation)					AS [Acc Dep],
			B.BRANCH_NAME										AS [Branch Name],
			D.DEPARTMENT_NAME									AS [Dept Name],
			AIT.narration										AS [Narration],
			E.FIRST_NAME+'' ''+MIDDLE_NAME+'' ''+LAST_NAME		AS [Asset Owner],
			cast(bill_id as varchar)							AS [Bill Info],
			cast(ins_id	as varchar)								[Insurance Info],
			convert(varchar,warr_expiry,107)					[Warrenty Date],
			convert(varchar,next_maintenance_date,107)			[Next Maint. Date],
			asset_status										[Status],
			asset_serial										[Asset Serial],
			AIT.depre_pct										[Dep (%)],
			is_amortised										[Is Amortised],
			cast(life_in_month	as varchar)						[Life In Month],
			cast(remain_month as varchar)						[Remain Month],
			old_asset_no										[Old Asset No],
			old_asset_code										[Old Asset Code],
			model												[Model],
			Brand												[Brand],
			dbo.GetEmployeeFullNameOfId(AIT.created_by)			[Requested By],
			AIT.created_date									[Requested Date]   
	FROM ' + @tableName + ' AIT 
			INNER JOIN ASSET_PRODUCT AP ON AP.id=AIT.product_id 
			INNER JOIN ASSET_ITEM AI ON AI.id=AIT.group_id 
			INNER JOIN Branches B ON B.BRANCH_ID=AIT.branch_id
			LEFT JOIN Departments D ON D.DEPARTMENT_ID=AIT.dept_id	
			LEFT JOIN EMPLOYEE E ON E.EMPLOYEE_ID=CAST(AIT.asset_holder AS INT)
	WHERE AIT.' + @fieldName + ' = ''' + @dataId + ''' 
			ORDER BY AIT.created_date DESC
					) x '

	
	END
	
	--------ASSET WRITEOFF APPROVAL LIST------------------
	
	IF @tableName IN ('ASSET_WRITEOFF_TEMP')	
	BEGIN
		INSERT @columnList(columnName)
		SELECT 'Asset Type'				UNION ALL
		SELECT 'Asset Number'			UNION ALL                                    
		SELECT 'Purchase Value'				UNION ALL
		SELECT 'Acc. Dep'			UNION ALL	
		SELECT 'Book Value'			UNION ALL 
		SELECT 'Booked Date'			UNION ALL 
		SELECT 'Writeoff Date'			UNION ALL 
		SELECT 'Narration' 
		
		
		SET @table = '(
						SELECT TOP 1 
								AP.porduct_code AS							[Asset Type],
								AI.asset_number as							[Asset Number],
								AI.purchase_value as						[Purchase Value],
								AI.acc_depriciation as						[Acc. Dep],
								AI.purchase_value-AI.acc_depriciation as	[Book Value],
								AI.booked_date as							[Booked Date],
								AWT.write_off_date as						[Writeoff Date],
								AWT.narration as							[Narration] 
						FROM ' + @tableName + ' AWT	INNER JOIN ASSET_INVENTORY AI ON AI.id=AWT.ASSET_ID
								INNER JOIN ASSET_PRODUCT AP ON AP.id=AI.product_id
						WHERE AWT.' + @fieldName + '=''' + @dataId + ''' 
						ORDER BY AWT.created_date DESC
					) x '

	
	END
	
	--------ASSET SALES APPROVAL LIST------------------
	
	IF @tableName IN ('ASSET_SALES_HISTORY_TEMP')	
	BEGIN
		INSERT @columnList(columnName)
		SELECT 'ASSET TYPE'				UNION ALL
		SELECT 'ASSET NUMBER'			UNION ALL                                    
		SELECT 'PURCHASE VALUE'			UNION ALL
		SELECT 'BOOK VALUE'				UNION ALL	
		SELECT 'ASSET NARRATION'		UNION ALL 
		SELECT 'SOLD DATE'				UNION ALL 
		SELECT 'SOLD AMOUNT'			UNION ALL 
		SELECT 'SOLD BY'				UNION ALL
		SELECT 'LEDGER'					UNION ALL
		SELECT 'NARRATION'				
		
		
		SET @table = '(
						SELECT TOP 1	AP.porduct_code							AS [ASSET TYPE],
										AI.asset_number							AS [ASSET NUMBER],
										AI.purchase_value						AS [PURCHASE VALUE],
										AI.purchase_value-AI.acc_depriciation	AS [BOOK VALUE],
										AI.narration							AS [ASSET NARRATION],
										AT.sold_date							AS [SOLD DATE],
										AT.sold_amt								AS [SOLD AMOUNT],
										DBO.GetEmployeeFullNameOfId(AT.sold_by) AS [SOLD BY],
										AT.collection_ledger					AS [LEDGER],
										AT.narration							AS [NARRATION] 
									FROM ' + @tableName + ' AT 
									INNER JOIN ASSET_INVENTORY AI ON AI.id=AT.asset_id 
									INNER JOIN ASSET_PRODUCT AP ON AP.id=AI.product_id
									WHERE AT.' + @fieldName + '=''' + @dataId + '''
									ORDER BY AT.created_date DESC
					) x '
	END	
	
	--------ASSET CAPITALIZATIOON APPROVAL LIST------------------

	IF @tableName IN ('ASSET_CAPITALIZATION_TEMP')	
	BEGIN
		INSERT @columnList(columnName)
		SELECT 'ASSET TYPE'				UNION ALL
		SELECT 'ASSET NUMBER'			UNION ALL                                    
		SELECT 'PURCHASE VALUE'			UNION ALL
		SELECT 'BOOK DATE'				UNION ALL
		SELECT 'BOOK VALUE'				UNION ALL	
		SELECT 'ASSET NARRATION'		UNION ALL 
		SELECT 'CAPITALIZED DATE'		UNION ALL 
		SELECT 'CAPITALIZED AMOUNT'		UNION ALL 
		SELECT 'NARRATION'				
		
		
		SET @table = '(
						SELECT TOP 1 ap.porduct_code				AS [ASSET TYPE],
							AI.asset_number							AS [ASSET NUMBER],
							AI.purchase_value						AS [PURCHASE VALUE],
							AI.booked_date							AS [BOOK DATE],
							AT.Book_value							AS [BOOK VALUE],	
							AI.Narration							AS [ASSET NARRATION],
							at.Capitalization_date					AS [CAPITALIZED DATE],
							at.Capitalization_amt					AS [CAPITALIZED AMOUNT],
							at.Narration							AS [NARRATION] 
						FROM ' + @tableName + ' at 
						inner join ASSET_INVENTORY ai on ai.id=at.Asset_id 
						inner join ASSET_PRODUCT ap on ap.id=ai.product_id
						WHERE AT.' + @fieldName + '=''' + @dataId + '''
						ORDER BY AT.Created_date DESC
					) x '
	END
	--------ASSET MAINTENANCE APPROVAL LIST------------------

	IF @tableName IN ('ASSET_MAINTENANCE_TEMP')	
	BEGIN
		INSERT @columnList(columnName)
		SELECT 'ASSET TYPE'				UNION ALL
		SELECT 'ASSET NUMBER'			UNION ALL                                    
		SELECT 'PURCHASE VALUE'			UNION ALL
		SELECT 'BOOK DATE'				UNION ALL
		SELECT 'BOOK VALUE'				UNION ALL
		SELECT 'ACCUMULATED DEP'		UNION ALL	
		SELECT 'ASSET NARRATION'		UNION ALL 		
		SELECT 'MAINTENANCE COST'		UNION ALL 
		SELECT 'MAINTENANCE DATE'		UNION ALL 
		SELECT 'NEXT MAINTENANCE DATE'	UNION ALL
		SELECT 'PAYMENT LEDGER'			UNION ALL
		SELECT 'MAINTAIN BY'			UNION ALL
		SELECT 'NARRATION'								
		
		
		SET @table = '(
						SELECT TOP 1 AP.porduct_code								[ASSET TYPE],
								AI.asset_number										[ASSET NUMBER],
								AI.purchase_value									[PURCHASE VALUE],
								AI.booked_date										[BOOK DATE],
								AT.book_value										[BOOK VALUE],
								AI.acc_depriciation									[ACCUMULATED DEP],
								AI.narration										[ASSET NARRATION],
								AT.expense_amt										[MAINTENANCE COST],
								AT.maint_date										[MAINTENANCE DATE],
								AT.next_maintenance_date							[NEXT MAINTENANCE DATE],
								AT.payment_ledger									[PAYMENT LEDGER],
								dbo.GetEmployeeFullNameOfId(AT.maint_by)			[MAINTAIN BY],
								AT.narration										[NARRATION]		
						FROM ASSET_MAINTENANCE_TEMP AT 
						INNER JOIN ASSET_INVENTORY AI ON AI.id=AT.asset_id 
						INNER JOIN ASSET_PRODUCT AP ON AP.id=AI.product_id
						WHERE AT.' + @fieldName + '=''' + @dataId + '''
						ORDER BY AT.created_date DESC
					) x '
	END
	
		--------ASSET DEPRECIATION BOOK APPROVAL LIST------------------
	IF @tableName IN ('DEPRECIATION_BOOKING_REQUEST')	
	BEGIN
		INSERT @columnList(columnName)
		SELECT 'FISCAL YEAR'				UNION ALL
		SELECT 'RUN MONTH'					UNION ALL  
		SELECT 'BRANCH NAME'								
		
		
		SET @table = '(
						SELECT TOP 1	D.fiscal_year							[FISCAL YEAR],
										M.Name									[RUN MONTH],
										ISNULL(B.BRANCH_NAME,''All'')			[BRANCH NAME] 
						 FROM DEPRECIATION_BOOKING_REQUEST D INNER JOIN MonthList M ON D.run_month=M.Month_Number
						 LEFT JOIN Branches B ON B.BRANCH_ID=D.branch_id
						 WHERE D.' + @fieldName + '=''' + @dataId + '''
						 ORDER BY D.created_date DESC
					) x '
	END

	--------ASSET TRANSFER APPROVAL LIST------------------

	IF @tableName IN ('ASSET_TRANSFER_TEMP')	
	BEGIN
		INSERT @columnList(columnName)
		SELECT 'ASSET TYPE'				UNION ALL
		SELECT 'ASSET NUMBER'			UNION ALL                                    
		SELECT 'PURCHASE VALUE'			UNION ALL
		SELECT 'BOOK DATE'				UNION ALL
		SELECT 'ACC. DEP'				UNION ALL
		SELECT 'BOOK VALUE'				UNION ALL			
		SELECT 'ASSET NARRATION'		UNION ALL 		
		SELECT 'FROM BRANCH'			UNION ALL 
		SELECT 'FROM DEPARTMENT'		UNION ALL 
		SELECT 'FROM HOLDER'			UNION ALL
		SELECT 'TO BRANCH'				UNION ALL
		SELECT 'TO DEPARTMENT'			UNION ALL
		SELECT 'TO HOLDER'				UNION ALL
		SELECT 'NARRATION'								
		
		
		SET @table = '(
						SELECT	TOP 1	AP.porduct_code								AS [ASSET TYPE],
										AI.asset_number								AS [ASSET NUMBER],
										AI.purchase_value							AS [PURCHASE VALUE],
										AI.booked_date								AS [BOOK DATE],
										AI.acc_depriciation							AS [ACC. DEP],
										T.book_value								AS [BOOK VALUE],
										AI.narration								AS [ASSET NARRATION],
										dbo.GetBranchName(from_branch)				AS [FROM BRANCH],
										D.DEPARTMENT_NAME							AS [FROM DEPARTMENT],
										dbo.GetEmployeeFullNameOfId(from_holder)	AS [FROM HOLDER],
										dbo.GetBranchName(T.to_branch)				AS [TO BRANCH],
										D1.DEPARTMENT_NAME							AS [TO DEPARTMENT],
										dbo.GetEmployeeFullNameOfId(T.to_holder)	AS [TO HOLDER],
										T.narration									AS [NARRATION]
						FROM ASSET_TRANSFER_TEMP T INNER JOIN ASSET_INVENTORY AI ON AI.id=T.asset_id INNER JOIN ASSET_PRODUCT AP ON AP.id=AI.product_id
						LEFT JOIN Departments D ON D.DEPARTMENT_ID=T.from_dept LEFT JOIN Departments D1 ON D1.DEPARTMENT_ID=T.to_dept
						WHERE T.' + @fieldName + '=''' + @dataId + '''
						ORDER BY T.created_date DESC
					) x '
	END

	
	DECLARE 
		 @fieldList			VARCHAR(MAX)
		,@fieldList2		VARCHAR(MAX)		
		,@sql				VARCHAR(MAX)


	SELECT @fieldList = NULL, @fieldList2 = NULL
	
	SELECT 
		 @fieldList = ISNULL(@fieldList + ', ', '') + + '[' + columnName + ']'
		,@fieldList2 = ISNULL(@fieldList2 + ', ', '') + 'CAST (ISNULL(' + '[' +  columnName + '] , '''') AS VARCHAR(MAX)) [' + columnName + ']'
	FROM @columnList
	
	SET @sql = '
			SELECT field, data
			FROM 
				(
					SELECT '  +	@fieldList2 + ' FROM ' + @table + '
				) p
			UNPIVOT (Data FOR Field IN 
			      ( '  + @fieldList + ' )
			
			)AS unpvt;'
			
	DECLARE @temp_table TABLE(Field VARCHAR(50), Data VARCHAR(MAX))
	INSERT @temp_table (Field, data)
	EXEC (@sql)
	
	SET @fieldList = NULL

	SELECT 
		 @fieldList = ISNULL(@fieldList +  @separator, '') + Field + ' = ' + Data	
	FROM @temp_table

	SET @dataList = @fieldList
	
	SELECT @dataList
END
GO
