USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procManagePurchaseOrder]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Exec [procManagePurchaseOrder] 'i','6/21/2010', '7','adcasdvcasdv','1000', 'ilv3tc55menssp45itimvp45','1000','145.6'
CREATE PROCEDURE [dbo].[procManagePurchaseOrder]
		@flag char(5),	
		@order_date varchar(100)=null,
		@vendor_code	varchar(100)=null,
		@forwarded_to int=null,
		@session_id varchar(50)=null,
		@user varchar(50)=null,
		@vat money=null,
		@branch_id int =null,
		@department_id int=null,
		@specification  varchar(max)=null,
		@notes varchar(max)=null,
		@delivery_date datetime =null
AS
	SET NOCOUNT ON;

IF(@flag ='i')
BEGIN	

	if exists (select * from Temp_Purchase where session_id=@session_id and flag='o')
	BEGIN
		
		DECLARE @message_id AS int,@FY AS VARCHAR(20)
		
		BEGIN TRANSACTION
		
		INSERT INTO Purchase_Order_Message(order_no,order_date,vendor_code,remarks,
			forwarded_to,vat_amt,created_by,created_date,status,branch_id,department_id,
			prod_specfic,delivery_date)VALUES
		('',@order_date,@vendor_code,@notes,@forwarded_to,@vat,@user,GETDATE(),'Requested',
		@branch_id,@department_id,@specification,@delivery_date)
		
		set @message_id=@@IDENTITY
		
		
		select @FY=ISNULL(FISCAL_YEAR_NEPALI,'') from FiscalYear where @order_date between EN_YEAR_START_DATE and EN_YEAR_END_DATE
		IF @FY='' or @FY is null
			set @FY='N/A'
		
		update Purchase_Order_Message set order_no='NBL/'+cast(@message_id as varchar)+'/'+@FY  where id=@message_id
		
		INSERT INTO Purchase_Order_Message_History(Ord_id, Requ_date, from_user,to_user)     
		SELECT @message_id, GETDATE(),created_by, forwarded_to    
		FROM Purchase_Order_Message WHERE id=@message_id
		
		INSERT INTO Purchase_Order(order_message_id,product_code,qty,rate,amount)
		(SELECT @message_id,right(product_code,len(product_code)-(CHARINDEX('|',product_code,1))),qty,rate,amount FROM Temp_Purchase 
		WHERE session_id=@session_id and flag='o')
		
		DELETE FROM Temp_Purchase WHERE session_id=@session_id and flag='o'
		
		COMMIT TRANSACTION
	END
	ELSE
	BEGIN
		SELECT 'There is no product information for purchase order!'
	END
END
GO
