USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_appraisalComments]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[proc_appraisalComments]    
 @flag VARCHAR(20)    
   ,@commentId   INT    = NULL    
   ,@appraisalId  INT    = NULL    
   ,@questionId   INT    = NULL    
   ,@comments   VARCHAR(MAX) = NULL    
   ,@soleComment  VARCHAR(50)  = NULL    
   ,@commentBy   INT    = NULL    
   ,@commentDate  DATE   = NULL    
   ,@raterTypeFlag  CHAR(10)  = NULL    
   ,@sFlag    CHAR(10)  = NULL    
   ,@sendMailFlag  VARCHAR(10)  = NULL    
    
AS     
SET NOCOUNT ON;    
    
BEGIN TRY    
  IF @flag = 'i'    
  BEGIN    
   IF EXISTS(SELECT DISTINCT appraisalId FROM appraisalComments WHERE appraisalId = @appraisalId )    
   BEGIN    
   delete appraisalComments where appraisalId  = @appraisalId and raterTypeFlag = @raterTypeFlag     
   END    
      
      INSERT INTO appraisalComments(    
       appraisalId    
      ,questionId    
      ,comments    
      ,soleComment    
      ,commentBy    
      ,commentDate    
      ,raterTypeFlag    
      ,flag    
     )    
        SELECT     
          @appraisalId    
         ,@questionId    
         ,@comments    
         ,@soleComment    
         ,@commentBy    
         ,GETDATE()    
         ,@raterTypeFlag    
         ,@sFlag    
             
    SELECT '0' error_code, 'Data Save Successfully' msg    
        
    declare @setflag varchar(2)    
    select @setflag = setFlag from appraisalrating where appraisalId=@appraisalId and raterType=@raterTypeFlag     
        
    IF(@setflag='sf')    
  BEGIN        
        
    -- Send Email Notification to Appraisee.    
   Declare @msgContent Varchar(max)    
   ,@Appraisee varchar(300)    
   ,@recipient Varchar(max)    
   ,@sub_text varchar(max)    
       
   Select @Appraisee = EMPLOYEE_ID  from Appraisal where ID =@appraisalId    
       
    SET @msgContent=    
    'Dear Sir/Madam '    
     +Rtrim(dbo.GetEmployeeFullNameOfId(@commentBy))+' has appraised you.    
     Please review the appraisal.    
        
    click here to go in system : http://192.168.1.6/    
    
    Thanks & Regards    
    Nabil Bank Ltd. (HR Department)'    
    
   SELECT @recipient = ISNULL(@recipient + '; ', '') +    
   CAST(OFFICIAL_EMAIL AS varchar(200)) FROM Employee WHERE EMPLOYEE_ID =@Appraisee    
    
   EXEC PROC_MAIL_SEND @recipient=@recipient, @subject_text='Performance Appraisal', @msg_text=@msgContent     
       
  -- Send Email Notification to Reviewer.    
   Declare @msgContent1 Varchar(max)    
   ,@Review varchar(300)    
   ,@employee Varchar(5)    
   ,@recipient1 Varchar(max)    
       
   select @employee= EMPLOYEE_ID from Appraisal where ID=@appraisalId    
   Select @Review =  REVIEWER_ID  from Appraisal where ID =@appraisalId    
       
    SET @msgContent1=    
    'Dear Sir/Madam '    
     +Rtrim(dbo.GetEmployeeFullNameOfId(@commentBy))+' has appraised '+Rtrim(dbo.GetEmployeeFullNameOfId(@employee))+'.    
     Please review and appraise the employee.    
        
    click here to go in system : http://192.168.1.6/    
    
    Thanks & Regards    
    Nabil Bank Ltd (HR Department)'    
    
   SELECT @recipient1 = ISNULL(@recipient1 + '; ', '') +    
   CAST(OFFICIAL_EMAIL AS varchar(200)) FROM Employee WHERE EMPLOYEE_ID =@Review    
    
   set @sub_text='Performance Appraisal of '+@employee    
    
   EXEC PROC_MAIL_SEND @recipient=@recipient1, @subject_text='Performance Appraisal', @msg_text=@msgContent1    
  END    
 END    
    
    
    
    
    
    
 IF @flag = 'insertRC' -- reviewCommentInsert    
  BEGIN    
   IF EXISTS(SELECT DISTINCT appraisalId FROM appraisalComments WHERE appraisalId = @appraisalId and raterTypeFlag = @raterTypeFlag and commentBy=@commentBy and ISNULL(flag,'n')='t' and questionId is null)    
   BEGIN    
  IF @soleComment in ('Substandard','Acceptable','Good','Very Good','Excellent')  
  delete appraisalComments where appraisalId  = @appraisalId and raterTypeFlag = @raterTypeFlag and commentBy=@commentBy and ISNULL(flag,'n')='t' and questionId is null and soleComment in ('Substandard','Acceptable','Good','Very Good','Excellent')  
    else     
  delete appraisalComments where appraisalId  = @appraisalId and raterTypeFlag = @raterTypeFlag and commentBy=@commentBy and ISNULL(flag,'n')='t' and questionId is null      
   END    
     
      INSERT INTO appraisalComments(    
       appraisalId    
      ,questionId    
      ,comments    
      ,soleComment    
      ,commentBy    
      ,commentDate    
      ,raterTypeFlag    
      ,flag    
     )    
        SELECT     
          @appraisalId    
         ,@questionId    
         ,@comments    
         ,@soleComment    
         ,@commentBy    
         ,GETDATE()    
         ,@raterTypeFlag    
         ,@sFlag    
             
 SELECT '0' error_code, 'Data Save Successfully' msg    
            
    IF(@sendMailFlag='sf')    
  BEGIN        
        
    -- Send Email Notification to Appraisee.    
   Declare @Content Varchar(max)    
   ,@Appraisee1 varchar(300)    
   ,@recipientMail Varchar(max)    
   ,@sub_text1 varchar(max)    
       
   Select @Appraisee1 = EMPLOYEE_ID  from Appraisal where ID =@appraisalId    
       
    SET @Content=    
    'Dear Sir/Madam '    
     +Rtrim(dbo.GetEmployeeFullNameOfId(@commentBy))+' has appraised you.    
     Please review the appraisal.    
        
    click here to go in system : http://192.168.1.6/    
    
    Thanks & Regards    
    Nabil Bank Ltd. (HR Department)'    
    
   SELECT @recipientMail = ISNULL(@recipientMail + '; ', '') +    
   CAST(OFFICIAL_EMAIL AS varchar(200)) FROM Employee WHERE EMPLOYEE_ID =@Appraisee1    
    
   EXEC PROC_MAIL_SEND @recipient=@recipientMail, @subject_text='Performance Appraisal', @msg_text=@Content     
       
  -- Send Email Notification to Reviewer.    
   Declare @Content1 Varchar(max)    
   ,@Review1 varchar(300)    
   ,@employee1 Varchar(5)    
   ,@recipientMail1 Varchar(max)    
       
   select @employee1= EMPLOYEE_ID from Appraisal where ID=@appraisalId    
   Select @Review1 =  REVIEWER_ID  from Appraisal where ID =@appraisalId    
       
    SET @Content1=    
    'Dear Sir/Madam '    
     +Rtrim(dbo.GetEmployeeFullNameOfId(@commentBy))+' has appraised '+Rtrim(dbo.GetEmployeeFullNameOfId(@employee1))+'.    
     Please review and appraise the employee.    
        
    click here to go in system : http://192.168.1.6/    
    
    Thanks & Regards    
    Nabil Bank Ltd (HR Department)'    
    
   SELECT @recipientMail1 = ISNULL(@recipientMail1 + '; ', '') +    
   CAST(OFFICIAL_EMAIL AS varchar(200)) FROM Employee WHERE EMPLOYEE_ID =@Review1    
    
   set @sub_text1='Performance Appraisal of '+@employee1    
    
   EXEC PROC_MAIL_SEND @recipient=@recipientMail1, @subject_text='Performance Appraisal', @msg_text=@Content1    
  END    
 END    
    
    
    
    
    
    
    
    
    
    
    
END TRY    
    
BEGIN CATCH    
    
 IF @@TRANCOUNT > 0    
 ROLLBACK TRANSACTION    
     
 SELECT '1' ERROR_CODE, 'Error In Operation! Please Insert Valid Data' msg    
    
END CATCH
GO
