USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procManageAttWeeklySchedule]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[procManageAttWeeklySchedule]
	@flag varchar(1),
	@id int=null,
	@name varchar(500)=null,
	@desc varchar(500)=null,
	@status varchar(50)=null,
	@user varchar(50)=null
as
set nocount on;


if @flag='i'
begin 
	insert into att_weekly_schedule(name,description,status,created_by,created_date)values
	(@name,@desc,@status,@user,GETDATE()) 
	select 'Success' as msg
end

if @flag='u'
begin 
	update att_weekly_schedule set name=@name,description=@desc,status=@status,modified_by=@user,modified_date=GETDATE()
	where id=@id 
	select 'Success' as msg
end

if @flag='d'
begin 
	delete from att_weekly_schedule 
	where id=@id 
	select 'Success' as msg
end

if @flag='s'
begin 
	select id,name,description,status from att_weekly_schedule 
	where id=@id 
	select 'Success' as msg
end
GO
