USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procOJT_DETAILS]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*

Exec [procOJT_DETAILS] @Flag='i',@OJT_ID=null,@BRANCH_ID='6',@DEPT_ID='94',@EMP_ID='1194',@SUPERVISOR = '1091',@JOB_GROUP_ID='1',
@FROM_DATE='2/2/2011',@TO_DATE='2/2/2011',@TRN_TYPE='o',@CREATED_BY='admin'

select * from JobFeedBackDetails
select * from OJTDETAILS

*/


CREATE PROCEDURE [dbo].[procOJT_DETAILS](

          @Flag				varchar(1)		= null
		,@OJT_ID			int				= null
		,@JOB_ID			INT				= NULL
		,@BRANCH_ID			int				= null	
		,@DEPT_ID			int				= null
		,@EMP_ID			int				= null
		,@SUPERVISOR		int				= null
		,@JOB_GROUP_ID		int				= null
		,@FROM_DATE			varchar(50)		= null
		,@TO_DATE			varchar(50)		= null
		,@TRN_TYPE			varchar(1)		= null
		,@CREATED_BY		varchar(50)		= null
		,@TRAINEE_ID		int				= null
		,@STATUS			VARCHAR(1)		= NULL
		,@FEEDBACK_BY		INT				= NULL
		,@MAIN_ID			INT				= NULL
		,@EVALUATOR			INT				= NULL
)
AS 
SET NOCOUNT ON


BEGIN TRY
  
  IF @Flag='i'
  BEGIN
  BEGIN TRANSACTION
		INSERT INTO OJTDETAILS(

							 BRANCH_ID
							,DEPT_ID
							,EMP_ID
							,SUPERVISOR
							,JOB_GROUP_ID
							,FROM_DATE
							,TO_DATE
							,TRN_TYPE
							,EVALUATOR
							,CREATED_BY
							,CREATED_DATE
											
						)
						
				SELECT
						@BRANCH_ID
					   ,@DEPT_ID
					   ,@EMP_ID
					   ,@SUPERVISOR
					   ,@JOB_GROUP_ID
					   ,@FROM_DATE
					   ,@TO_DATE
					   ,@TRN_TYPE
					   ,@EVALUATOR
					   ,@CREATED_BY
					   ,GETDATE()
					   
				SELECT @OJT_ID=SCOPE_IDENTITY()		   
					   
				
			
				
				
		COMMIT TRANSACTION		   
		SELECT 0 error_code,ERROR_MESSAGE() msg, @OJT_ID Id
							   	 
  
  END
  
  ELSE IF @Flag='u'
  BEGIN
  
	UPDATE OJTDETAILS SET 
				
					 BRANCH_ID			=	@BRANCH_ID
					,DEPT_ID			=	@DEPT_ID
					,EMP_ID				=	@EMP_ID
					,SUPERVISOR			=	@SUPERVISOR
					,JOB_GROUP_ID		=	@JOB_GROUP_ID
					,FROM_DATE			=	@FROM_DATE
					,TO_DATE			=	@TO_DATE
					,TRN_TYPE			=	@TRN_TYPE
					,EVALUATOR			=   @EVALUATOR
			WHERE   OJT_ID				=   @OJT_ID	
			
				IF @EMP_ID<>0
						UPDATE	JobFeedBackDetails  SET
							FEEDBACK_BY = @EMP_ID WHERE OJT_ID = @OJT_ID AND STATUS = 'T'
							
				IF @SUPERVISOR<>0
					UPDATE	JobFeedBackDetails  SET
						FEEDBACK_BY = @SUPERVISOR WHERE OJT_ID = @OJT_ID AND STATUS = 'S'			
							
										
									
										
										
					
			
			
					
		SELECT 0 error_code,ERROR_MESSAGE() msg, @OJT_ID Id	   
					   	 
		 
  
  END
  
  ELSE IF @Flag='d'
  BEGIN
  
		DELETE OJTDETAILS WHERE OJT_ID=@OJT_ID
		SELECT 0 error_code,ERROR_MESSAGE() msg, @OJT_ID Id	   
  
  END
  
  
  
  ELSE IF @Flag='a'
  BEGIN
  SELECT 
			 OJT_ID
			,ot.BRANCH_ID
			,DEPT_ID
			,EMP_ID
			,SUPERVISOR
			,CAST(dbo.GetEmployeeFullNameOfId(EVALUATOR) AS VARCHAR(20)) + '-'  +EMP_CODE + ' ('+b.BRANCH_NAME +') ' +  '|' + CONVERT(VARCHAR, ot.EVALUATOR) [EVALUATOR]
			,JOB_GROUP_ID
			,CONVERT(VARCHAR,FROM_DATE,101) [FROM_DATE]
			,CONVERT(VARCHAR,TO_DATE,101) [TO_DATE]
			,TRN_TYPE
		FROM OJTDETAILS ot WITH (NOLOCK) 
			INNER JOIN Employee e WITH (NOLOCK)
				ON ot.EMP_ID=e.EMPLOYEE_ID
			INNER JOIN Branches b 
				ON b.BRANCH_ID=ot.BRANCH_ID 
		WHERE OJT_ID=@OJT_ID
  
  END
  
  --- EXEC procOJT_DETAILS @Flag='s',@OJT_ID='1',@SUPERVISOR=1091,@TRAINEE_ID=NULL
  ELSE IF @Flag='s'
  BEGIN
  
   
  	SELECT JF.JFD_ID,	'	<input type="hidden" value="'+CAST(JF.JFD_ID as varchar)+'" name="hdn_" />

  				<input name="feedback_" id="jobtype_'+CAST(JF.JFD_ID as varchar)+'" value="'+SD.DETAIL_DESC +'" readonly="readonly"/>' [JOB TYPE],
  				
  	
  			--	'<select name="feedback_" id="feedback_'+CAST(JF.JFD_ID as varchar)+'" style="width: 100px">
					--<option value="">select</option>
					--<option value="NG"'+ case when JOB_FEEDBACK_CAT='NG' then 'selected' else '' end +'>Not Good</option>
					--<option value="G"'+ case when JOB_FEEDBACK_CAT='G' then 'selected' else '' end +'>Good</option>
					--</select>' [FEEDBACK CAT],
				
				
				'<textarea onblur="checkComma(this);" style="width:300px; height:50px;"   name="feedback_" id="jobdesc_'+ CAST( JF.JFD_ID as varchar)+'">'+ JF.JOB_DESC +'</textarea>' [JOB DESCRIPTION],
				
					'<select ID="weight_'+CAST(JF.JFD_ID as varchar)+'" name="feedback_">
						<option value="">select</option>
						<option value="4"'+ case when [WEIGHT]='4' then 'selected' else '' end +'>Excellent</option>
						<option value="3"'+ case when [WEIGHT]='3' then 'selected' else '' end +'>Good</option>
						<option value="2"'+ case when [WEIGHT]='2' then 'selected' else '' end +'>Satisfactory</option>
						<option value="1"'+ case when [WEIGHT]='1' then 'selected' else '' end +'>Bad</option>
					</select>' [WEIGHT],JF.JOB_FEEDBACK_CAT [JOB FEEDBACK CAT]
				
  			FROM JobFeedBackDetails JF 
  				INNER JOIN JOBDESCRIPTION JD 
					ON JD.JOB_ID=JF.JOB_ID
						INNER JOIN StaticDataDetail SD 
						ON SD.ROWID=JD.JOB_STATIC_TYPE
			WHERE  JF.OJT_ID=@OJT_ID AND MAIN_ID = @MAIN_ID
			 --AND  JF.FEEDBACK_BY =(SELECT CASE ISNULL(@SUPERVISOR,'')  WHEN '' THEN @TRAINEE_ID  ELSE @SUPERVISOR END)
				--	AND JF.STATUS=@STATUS

  
	END
	
	
	-- EXEC procOJT_DETAILS @Flag = 't' ,@JOB_GROUP_ID = '1'
	IF @Flag = 't'
	BEGIN
		SELECT JD.JOB_ID ,
		'<input type="hidden" value="'+CAST(JD.JOB_ID as varchar)+'" name="hdn_" /><input name="feedback_" id="jobtype_'+CAST(JD.JOB_ID as varchar)+'" value="'+SD.DETAIL_DESC +'" readonly="readonly"/>' [JOB TYPE],
	
		'<textarea   name="feedback_" id="jobdesc_'+ CAST( JD.JOB_ID as varchar)+'"> </textarea>' [JOB DESCRIPTION],

		'<select ID="weight_'+CAST(JD.JOB_ID as varchar)+'" name="feedback_">
		<option value="">select</option>
		<option value="4">Excellent</option>
		<option value="3">Good</option>
		<option value="2">Satisfactory</option>
		<option value="1">Bad</option>
		</select>' [WEIGHT],JD.JOB_STATIC_TYPE [JOB FEEDBACK CAT] 
	  FROM JOBDESCRIPTION JD 
		INNER JOIN StaticDataDetail SD ON SD.ROWID = JD.JOB_STATIC_TYPE WHERE JD.JOB_GROUP_ID = @JOB_GROUP_ID

	END
	
	IF @Flag = 'z'
	BEGIN
		INSERT INTO JobFeedBackMaster(
							JOB_GROUP_ID
							,OJT_ID
							,FEEDBACK_BY
							,FROM_DATE
							,TO_DATE
							,CREATED_BY
							,CREATED_DATE
							)
						SELECT 
						@JOB_GROUP_ID
						,@OJT_ID
						,@FEEDBACK_BY
						,@FROM_DATE
						,@TO_DATE
						,@CREATED_BY
						,GETDATE()
				SELECT @JOB_ID = SCOPE_IDENTITY()
									
           SELECT @JOB_ID [JFBM_ID]
             
	
	END
  
  
  
END TRY
  
BEGIN CATCH

 SELECT 1 error_code, ERROR_MESSAGE() mes,@OJT_ID id
 
END  CATCH
GO
