USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_Manage_DepreciationRules]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[proc_Manage_DepreciationRules]
 (
	 @id		int = null
	,@fyid	varchar(20) = null
	,@numerator1	float = null
	,@denominator1	float = null
	,@numerator2	float = null
	,@denominator2	float = null
	,@numerator3	float = null
	,@denominator3	float = null
	,@numerator4	float = null
	,@denominator4	float = null
	,@actionby		int = null
	,@actiondate	datetime = null
	,@mode			varchar(1) = null
 )
 as 
 begin 
	set nocount on
	
	if (@mode = 'I')
	begin
		INSERT INTO [DepreciationRules]
			   ([FY_ID],[Numerator_1],[Denomenator_1],[Numerator_2],[Denomenator_2],[Numerator_3]
			   ,[Denomenator_3],[Numerator_4],[Denomenator_4],[CreatedBy],[CreatedDate])
		 VALUES
			   (@fyid,@numerator1,@denominator1,@numerator2,@denominator2,@numerator3,@denominator3,
				@numerator4,@denominator4,@actionby,@actiondate)
    end        
    
    if (@mode = 'U')
    begin
		 UPDATE [DepreciationRules]
		 SET [FY_ID] = @fyid
		,[Numerator_1] = @numerator1
		,[Denomenator_1] = @denominator1
		,[Numerator_2] = @numerator2
		,[Denomenator_2] = @denominator2
		,[Numerator_3] = @numerator3
		,[Denomenator_3] = @denominator3
		,[Numerator_4] = @numerator4
		,[Denomenator_4] = @denominator4
		,[ModifiedBy] = @actionby
		,[ModifiedDate] = @actiondate
    WHERE id = @id
    end

 end
GO
