USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procManageEmployeeType]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[procManageEmployeeType](
	@flag varchar(1),
	@id int=null,
	@emp_id int=null,
	@from_date varchar(50)=null,
	@to_date varchar(50)=null,
	@user varchar(50)=null
	)
	AS
	set nocount on;
	if @flag='a'
	begin
		--select * from Employee_Contract
		
		insert into Employee_Contract(EMPLOYEE_ID,Cont_DateFrm,Cont_DateTo,Created_By,Created_Date,branch_id,dept_id,position_id,emp_type)
		select @emp_id,@from_date,@to_date,@user,GETDATE(),BRANCH_ID,DEPARTMENT_ID,POSITION_ID,EMP_TYPE
		from Employee where EMPLOYEE_ID=@emp_id
		
		select 'Success!' as msg
	end		

	if @flag='b'
	begin		
		update Employee_Contract set Cont_DateFrm=@from_date,Cont_DateTo=@to_date,modified_by=@user,modified_date=GETDATE()
		where RowID=@id
		select 'Success!' as msg
	end
	if @flag='c'
	begin		
		delete from Employee_Contract where RowID=@id
		select 'Success!' as msg
	end
	
	if @flag='d'
	begin		
		select RowID,EMPLOYEE_ID,dbo.GetEmployeeFullNameOfId(EMPLOYEE_ID) emp_name,convert(varchar,Cont_DateFrm,101) Cont_DateFrm,
		convert(varchar,Cont_DateTo,101) Cont_DateTo,CONVERT(varchar,Created_Date,101) created_date,Created_By created_by,
		dbo.GetBranchName(branch_id) branch_name,dbo.GetDeptName(dept_id) dept_name,dbo.GetDetailTitle(position_id)post_name,
		dbo.GetDetailTitle(emp_type) emp_type
		from Employee_Contract where RowID=@id
	end
GO
