USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procOnSiteDuty]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
Exec [procOnSiteDuty] @flag='insert',@empId=1000,@approvedBy=1000,@description='test',@user = 1000
Exec procOnSiteDuty @flag = 'DisplayA', @osd_id = 1
*/

CREATE PROCEDURE [dbo].[procOnSiteDuty]
		
		  @flag			varchar(20)
		 ,@id			int = null
		 ,@osd_id		int = null
		 ,@empId		int = null
		 ,@fromDate		date = null
         ,@toDate		date = null
         ,@location		varchar(500) = null
         ,@purpose		varchar(max) = null
		 ,@approvedBy	int = null
         ,@approvedDate	date = null
		 ,@description	varchar(max) = null
         ,@appRemarks	varchar(max) = null
		 ,@sessionId	varchar(50) = null
         ,@user			varchar(20) = null
		

AS


SET NOCOUNT ON
DECLARE @SQL VARCHAR(MAX), @count int 
		



IF @flag = 'insert'
BEGIN
	
	IF @empId is null
	begin
		INSERT INTO onsiteDuty (sitedatefrom,sitedateto,empID,branch,dept,emp_type,post_id,siteLocation,purpose,[description],createdDate,createdBy,recorded,Approved_By,Approved_Date,status,Approved_Remarks) 
		SELECT @fromDate,@toDate,EmpId,Branch,Dept,EmpType,Position,@location,@purpose,@description,GETDATE(),@user,'Y',@approvedBy,@approvedDate,
		CASE WHEN @approvedDate IS NULL THEN 'Pending' ELSE 'Approved' END,@appRemarks FROM TempOSD WHERE SessionId = @sessionId
		DELETE FROM TempOSD WHERE SessionId = @sessionId
		SELECT 'Success!' AS msg
	END
	Else
	BEGIN
		INSERT INTO onsiteDuty(sitedatefrom,sitedateto,empID,branch,dept,emp_type,post_id,siteLocation,purpose,[description],createdBy,createdDate,Recorded,Approved_by,[Status])
		SELECT @fromDate,@toDate,@empId,BRANCH_ID,DEPARTMENT_ID,EMP_TYPE,POSITION_ID,@location,@purpose,@description,@user,GETDATE(),'N',@approvedBy,'Pending'
		FROM Employee WHERE EMPLOYEE_ID = @empId

		-----Send Mail to Supervisor while requesting Onsite Duty----------
		Declare @msg varchar(max),@recipient varchar(max), @Emp_Info varchar(500)
	
				select 
				@Emp_Info= FIRST_NAME+isnull(' '+MIDDLE_NAME+' ',' ')+LAST_NAME+' ('+rtrim(dbo.GetBranchOfId(BRANCH_ID))+' - '+
				rtrim(dbo.GetDeptName(DEPARTMENT_ID))+' - '+rtrim(dbo.GetDetailTitle(POSITION_ID))+')' 
				from Employee 
				where EMPLOYEE_ID=@empId

				SET @msg=
					'Dear Sir/Madam '+','+CHAR(10)+

				@Emp_Info +'has requested for onsite Duty for the date '+convert(varchar,@fromDate,107)+'to '+convert(varchar,@toDate,107)+'.'+char(13)+
	
				@Emp_Info +' is seeking your approval for above concerned details.

						Click here to go in system: http://hrms.nabilbank.com/'
		
				SELECT @recipient= isnull(official_email,'') from employee where EMPLOYEE_ID=@approvedBy

				Exec procEmailNotes @flag='Insert',@sendTo=@recipient,@subject='Onsite Duty Request',@notesText=@msg
		/*End Send Mail*/
	END
END

IF @flag = 'update'
BEGIN
	UPDATE onsiteDuty SET
		 sitedatefrom = @fromDate
		,sitedateto = @toDate
		,siteLocation = @location
		,purpose = @purpose
		,[description] = @description
		,Approved_By = @approvedBy
		,modifiedBy = @user
		,modifiedDate = GETDATE()
	WHERE onsiteID = @id
END

IF @flag = 'insertOSD'
BEGIN
	IF EXISTS(SELECT * FROM TempOSD WHERE EmpId = @empId)
	BEGIN
		SELECT 'Employee Already added!' AS msg
		return;
	END
	ELSE
	BEGIN
		INSERT INTO TempOSD(EmpId,Branch,Dept,Position,EmpType,SessionId)
		SELECT @empId,BRANCH_ID,DEPARTMENT_ID,POSITION_ID,EMP_TYPE,@sessionId FROM Employee
		WHERE EMPLOYEE_ID = @empId
	END
END

----------------------------- Display after adding in the temp table ---------------------------------
IF @flag = 'DisplayA'
BEGIN
	/*SELECT 
				id,
				ROW_NUMBER() OVER(order by osd_id) [S.N.],
				dbo.GetEmployeeFullNameOfId(EmpId)
			FROM OSD_Staff WHERE osd_id = @osd_id*/
	SELECT
			 onsiteID
			,ROW_NUMBER() OVER(ORDER BY onsiteID) [S.N.]
			,dbo.GetEmployeeFullNameOfId(empID)
		FROM onsiteDuty WHERE onsiteID = @id
END

----------------------------- Display after saving the record ---------------------------------
IF @flag = 'DisplayB'
BEGIN
	/*SELECT 
				id,
				ROW_NUMBER() OVER(order by osd_id) [S.N.],
				dbo.GetEmployeeFullNameOfId(EmpId)
			FROM onsiteDuty WHERE Session_id = @sessionId*/
	SELECT
		 Id
		,ROW_NUMBER() OVER(ORDER BY Id) [S.N.]
		,dbo.GetEmployeeFullNameOfId(EmpId)
	FROM TempOSD where SessionId = @sessionId
END

IF @flag = 'DisplayC'
BEGIN
	/*SELECT 
				id,
				ROW_NUMBER() OVER(order by osd_id) [S.N.],
				dbo.GetEmployeeFullNameOfId(EmpId)
			FROM onsiteDuty WHERE Session_id = @sessionId*/
	SELECT
		 Id
	FROM TempOSD where SessionId = @sessionId and Id = @osd_id
END


if @flag='detailDelete'
BEGIN
	DELETE FROM TempOSD WHERE SessionId = @sessionId and Id = @osd_id
	SELECT 'Success!' AS msg
END

IF @flag = 'appstatus'
BEGIN	
	SELECT
		Status [status]
	FROM onsiteDuty
	WHERE onsiteID = @id
END
GO
