USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[Proc_AssetGatepassreport]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXEC [Proc_AssetGatepassreport] '1'
CREATE procedure [dbo].[Proc_AssetGatepassreport]
				@gatepassid char(5)
As
set nocount on;				
begin
			select ap.porduct_code 'Asset Type', ai.asset_number 'Asset No.', d.DEPARTMENT_NAME 'Department',
				case when agp.in_out='i' then 'In'
				when agp.in_out ='o' then 'Out' end 'Status'
				from Asset_Get_Pass agp
				inner join Branches b on agp.branch_id = b.BRANCH_ID             
				inner join ASSET_INVENTORY ai on agp.asset_id = ai.id
				left join Departments d on ai.dept_id = d.DEPARTMENT_ID
				inner join ASSET_PRODUCT ap on ai.product_id = ap.id
			where agp.Get_pass_message_id = @gatepassid
				
			select id, Get_Pass_Date, Out_Message, delivered_to, e.FIRST_NAME + ' ' + e.MIDDLE_NAME + ' ' + e.LAST_NAME 'Preaperedby', Createddate 'Preapereddate'
				from Asset_Getpass_Out_Message
				inner join Employee e on Asset_Getpass_Out_Message.Createdby = e.EMPLOYEE_ID
			where id = @gatepassid
			
			select top 1 b.BRANCH_NAME from Branches b
			inner join Asset_Get_Pass agp on b.BRANCH_ID = agp.branch_id
			where agp.Get_pass_message_id = @gatepassid
end
GO
