USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procUploadCustFileHistory]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[procUploadCustFileHistory]   
 (  @DOCID INT = NULL,    
 @CUSTID INT = NULL,    
 @DOCNAME VARCHAR(50) = NULL,    
 @DOCDESCRIPTION VARCHAR(250) = NULL,    
 @FILEEXTENSION VARCHAR(20) = NULL,    
 @UPLOADBY VARCHAR(50) = NULL,    
 @CREATEDDATE DATETIME = NULL,    
 @MODE VARCHAR(5) = NULL    
 )    
 AS    
 BEGIN    
  IF (@MODE = 'I')    
  BEGIN    
   INSERT INTO [Cust_Doc_History]    
           ([Cust_ID]    
           ,[DOC_Name]    
           ,[Doc_Description]    
           ,[File_Extension]    
           ,[UploadBy]    
           ,[CreatedDate])    
        VALUES    
           (@CUSTID    
           ,@DOCNAME    
           ,@DOCDESCRIPTION    
           ,@FILEEXTENSION    
           ,@UPLOADBY    
           ,@CREATEDDATE)    
  END    
 
 END
GO
