USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[ProcUppaidLeaveReport]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- EXEC [ProcUppaidLeaveReport] @flag='L',@FROM_DATE='1/1/2012',@TO_DATE='2/1/2012'
  -- EXEC [ProcUppaidLeaveReport] @flag='A',@FROM_DATE='05/16/2012',@TO_DATE='05/16/2012'
CREATE PROC [dbo].[ProcUppaidLeaveReport]
(
	@FLAG VARCHAR(10),
	@ID INT=NULL,
	@AMOUNT MONEY=NULL,
	@FROM_DATE VARCHAR(20)=NULL,
	@TO_DATE VARCHAR(20)=NULL ,
	@USER VARCHAR(50)=NULL
)
AS
set xact_abort on;
set nocount on;
declare @maxId int,@maxId1 AS INT
IF @FLAG='L'
BEGIN

	-- ## LEAVE PROCEDURE
	--truncate table leave_deduction_history
		
	IF OBJECT_ID('tempdb..#LEAVE') IS NOT NULL
	drop table #LEAVE
	 	
	CREATE TABLE #LEAVE
	(
		leave_id int,
		employee_id varchar(70),
		approved_days FLOAT,
		approved_from datetime,
		approved_to datetime,
		deducted_amt money
	)
	
	-- ### START CALCULATING BASIC, GRADE & ALLOWANCE
		IF OBJECT_ID('tempdb..#temp') IS NOT NULL
		drop table #temp
		select a.EMPLOYEE_ID,isnull(b.basic,0) BASIC,ISNULL(c.allowance,0) ALLOWANCE,ISNULL(d.grade,0) GRADE 
		into #temp
		from
		(
			select EMPLOYEE_ID from Employee 
		)a
		left join
		(
			select EMPLOYEE_ID,SUM(amount) basic 
			from Payable a inner join StaticDataDetail b on a.BENEFIT_ID=b.ROWID where TYPE_ID=36
			group by EMPLOYEE_ID
		)b on a.EMPLOYEE_ID=b.EMPLOYEE_ID
		left join
		(
			select EMPLOYEE_ID,SUM(amount) allowance
			from Payable a inner join StaticDataDetail b on a.BENEFIT_ID=b.ROWID where TYPE_ID=38
			group by EMPLOYEE_ID
		)c	on a.EMPLOYEE_ID=c.EMPLOYEE_ID
		left join
		(
			select EMPLOYEE_ID,SUM(amount) grade
			from Payable a inner join StaticDataDetail b on a.BENEFIT_ID=b.ROWID where TYPE_ID=37
			group by EMPLOYEE_ID
		)d on d.EMPLOYEE_ID=a.EMPLOYEE_ID
		
	-- ### END CALCULATING BASIC, GRADE & ALLOWANCE
	
	 INSERT INTO #LEAVE(leave_id,employee_id,approved_days,approved_from,approved_to,deducted_amt)	 
	 SELECT B.ID,A.EMPLOYEE_ID,B.APPROVED_DAYS,B.APPROVED_FROM,B.APPROVED_TO,
	 ROUND((B.APPROVED_DAYS*A.GROSS_SAL)/30,2) DEDUCT_AMT
	 FROM 
	 (
		SELECT X.EMPLOYEE_ID,ISNULL(X.AMOUNT,0)+ISNULL(Y.AMOUNT,0) GROSS_SAL FROM 
		(
			SELECT EMPLOYEE_ID,SUM(AMOUNT) AMOUNT  FROM Payable GROUP BY EMPLOYEE_ID
		)X 
		LEFT JOIN
		(
		 	SELECT EMPLOYEE_ID ,round(isnull(B.CONTRI_TO_PAY,0),0) AMOUNT FROM  
			(	  
						-----FOR FLAT AMOUNT BY EMPLOYER-----
				SELECT Z.EMPLOYEE_ID, SUM (Z.CONTRI_TO_PAY) AS CONTRI_TO_PAY 
				FROM 			
				(			
					select a.EMPLOYEE_ID,  VALUE_EMPLOYER as CONTRI_TO_PAY
					from Contribution a with (nolock) inner join Employee b with (nolock)
					on a.EMPLOYEE_ID=b.EMPLOYEE_ID
					where a.FLAG_EMPLOYER='F'
					and b.EMP_STATUS=458
					and a.CONTRIBUTION_FROM_DATE_EMPLOYER<=GETDATE()

					UNION ALL
						-----FOR % BASIS BY EMPLOYER----- 			

					SELECT Q.EMPLOYEE_ID,(q.VALUE_EMPLOYER * (BASIC+GRADE+ALLOWANCE))/100 AS CONTRI_TO_PAY
					FROM (
							SELECT A.EMPLOYEE_ID, VALUE_EMPLOYER,
							CASE WHEN  ISNULL(SUBSTRING(CONTRIBUTION_BASIS_EMPLOYER,1,2),0)='36' THEN (BASIC)   ELSE 0 END  AS BASIC ,
							CASE WHEN  ISNULL(SUBSTRING(CONTRIBUTION_BASIS_EMPLOYER,4,2),0)='37' THEN (GRADE)   ELSE 0 END  AS GRADE ,
							CASE WHEN  ISNULL(SUBSTRING(CONTRIBUTION_BASIS_EMPLOYER,7,2),0)='38' THEN ALLOWANCE  ELSE 0 END  AS ALLOWANCE
							FROM  Contribution A,#temp B 
							WHERE A.EMPLOYEE_ID=B.EMPLOYEE_ID				
							AND A.FLAG_EMPLOYER='P'
							AND A.CONTRIBUTION_FROM_DATE_EMPLOYER<=GETDATE() 				
						) Q
				) Z GROUP BY EMPLOYEE_ID
			  
			)B
		)Y ON X.EMPLOYEE_ID=Y.EMPLOYEE_ID		
		
	 )A
	 INNER JOIN
	 (
		SELECT ID,REQUESTED_BY,APPROVED_DAYS,APPROVED_FROM,APPROVED_TO FROM LeaveRequest 
		WHERE LEAVE_TYPE_ID='8' and APPROVED_FROM BETWEEN @FROM_DATE AND @TO_DATE+' 23:59:59' 
		
	 )B ON A.EMPLOYEE_ID=B.REQUESTED_BY

	delete from	 leave_deduction_history
	from  leave_deduction_history A,
	(
		SELECT * FROM #LEAVE
		
	)B WHERE A.leave_id=B.leave_id AND A.employee_id=B.employee_id
	AND A.flag IS NULL
	
	delete from	 #LEAVE
	from  #LEAVE A,
	(
		SELECT * FROM leave_deduction_history
		
	)B WHERE A.leave_id=B.leave_id AND A.employee_id=B.employee_id
	AND B.flag  IN ('r','a')
	
	set @maxId = isnull((select isnull(max(ID),0) from leave_deduction_history with (nolock)),0)
	
	ALTER TABLE #LEAVE ADD ID INT IDENTITY(1,1)
	
	INSERT INTO leave_deduction_history(ID,leave_id,employee_id,approved_days,approved_from,approved_to,deducted_amt)
	SELECT @maxId+ID,leave_id,employee_id,approved_days,approved_from,approved_to,deducted_amt FROM #LEAVE
	

	
	DECLARE
		 @sql							VARCHAR(MAX)
		,@heading						VARCHAR(MAX)
		,@heading_select				VARCHAR(MAX)
		
	SELECT
		 @heading = ISNULL(@heading + ',', '') + '[' + [headings] + ']'
		,@heading_select = ISNULL(@heading_select + ', ', '') + 'ISNULL([' + [headings] + '], 0) ' + '[' + [headings] + ']'
		
	FROM(
			select distinct sdd.DETAIL_TITLE [headings] 
			from Payable a inner join StaticDataDetail sdd on sdd.ROWID=a.BENEFIT_ID
			JOIN leave_deduction_history l on l.employee_id=a.EMPLOYEE_ID
			WHERE  APPROVED_FROM BETWEEN @FROM_DATE AND @TO_DATE+' 23:59:59' 
			
			union all
			select 'PF'			
		
		 ) HEAD

	SET @sql = '
	SELECT Y.id,Y.[S.N.],Y.[Employee Name],Y.[Leave Days],Y.[Leave From],Y.[Leave To],Y.[Ded. Amt],' + @heading_select + ',
	Y.[Status]
	FROM (
			select employee_id,sum(amount) amount,sdd.DETAIL_TITLE [headings] 
			from payable	a inner join StaticDataDetail sdd on sdd.ROWID=a.BENEFIT_ID	
			group by  employee_id,   sdd.DETAIL_TITLE
			
			union all 
			
			SELECT EMPLOYEE_ID ,round(isnull(B.CONTRI_TO_PAY,0),0) AMOUNT, ''PF'' AS [headings] FROM  
			(	  
						-----FOR FLAT AMOUNT BY EMPLOYER-----
				SELECT Z.EMPLOYEE_ID, SUM (Z.CONTRI_TO_PAY) AS CONTRI_TO_PAY 
				FROM 			
				(			
					select a.EMPLOYEE_ID,  VALUE_EMPLOYER as CONTRI_TO_PAY
					from Contribution a with (nolock) inner join Employee b with (nolock)
					on a.EMPLOYEE_ID=b.EMPLOYEE_ID
					where a.FLAG_EMPLOYER=''F''
					and b.EMP_STATUS=458
					and a.CONTRIBUTION_FROM_DATE_EMPLOYER<=GETDATE()

					UNION ALL
						-----FOR % BASIS BY EMPLOYER----- 			

					SELECT Q.EMPLOYEE_ID,(q.VALUE_EMPLOYER * (BASIC+GRADE+ALLOWANCE))/100 AS CONTRI_TO_PAY
					FROM (
							SELECT A.EMPLOYEE_ID, VALUE_EMPLOYER,
							CASE WHEN  ISNULL(SUBSTRING(CONTRIBUTION_BASIS_EMPLOYER,1,2),0)=''36'' THEN (BASIC)   ELSE 0 END  AS BASIC ,
							CASE WHEN  ISNULL(SUBSTRING(CONTRIBUTION_BASIS_EMPLOYER,4,2),0)=''37'' THEN (GRADE)   ELSE 0 END  AS GRADE ,
							CASE WHEN  ISNULL(SUBSTRING(CONTRIBUTION_BASIS_EMPLOYER,7,2),0)=''38'' THEN ALLOWANCE  ELSE 0 END  AS ALLOWANCE
							FROM  Contribution A,#temp B 
							WHERE A.EMPLOYEE_ID=B.EMPLOYEE_ID				
							AND A.FLAG_EMPLOYER=''P''
							AND A.CONTRIBUTION_FROM_DATE_EMPLOYER<=GETDATE() 				
						) Q
				) Z GROUP BY EMPLOYEE_ID
			  
			)B
			
		) dataList
		PIVOT
		(
			SUM(Amount)
			FOR headings IN(' + @heading+ ')
	) x 
	INNER JOIN 
	(
			
		SELECT   id
				,ROW_NUMBER() OVER(ORDER BY DBO.GetEmployeeFullNameOfId(EMPLOYEE_ID)) [S.N.]
				,EMPLOYEE_ID 
				,DBO.GetEmployeeFullNameOfId(EMPLOYEE_ID) [Employee Name]
				,APPROVED_DAYS [Leave Days]
				,CONVERT(VARCHAR,APPROVED_FROM,107) [Leave From]
				,CONVERT(VARCHAR,APPROVED_TO,107) [Leave To]
				,DEDUCTED_AMT [Ded. Amt]
				,case when flag IS null then ''Not Approve'' when flag=''a'' then ''Approved''
				 when flag=''r'' then ''Rejected'' 
				 END [Status]
		FROM  leave_deduction_history  
		WHERE  APPROVED_FROM between '''+@from_date+''' and '''+@to_date+' 23:59:59''
	
	
	
	)Y ON x.employee_id=Y.EMPLOYEE_ID ORDER BY x.employee_id'
	
	IF @sql IS NULL	
	BEGIN 	
		SELECT   id
				,ROW_NUMBER() OVER(ORDER BY DBO.GetEmployeeFullNameOfId(EMPLOYEE_ID)) [S.N.]
				,DBO.GetEmployeeFullNameOfId(EMPLOYEE_ID) [Employee Name]
				,APPROVED_DAYS [Leave Days]
				,CONVERT(VARCHAR,APPROVED_FROM,107) [Leave From]
				,CONVERT(VARCHAR,APPROVED_TO,107) [Leave To]
				,DEDUCTED_AMT [Ded. Amt]
				,case when flag IS null then 'Not Approve' when flag='a' then 'Approved'
				 when flag='r' then 'Rejected' 
				 END [Status]
		FROM  leave_deduction_history  
		WHERE  APPROVED_FROM between @from_date and @to_date+' 23:59:59' 
	END
	ELSE
		EXEC (@SQL)
	
END

IF @FLAG='A'
BEGIN
-- ## ABSENT PROCEDURE

	declare @intStartValue as int
	declare @intEndValue as int
	declare @intIncremental as int

	SET @intStartValue =DAY(@FROM_DATE)
	SET @intEndValue =DATEDIFF(dd,@FROM_DATE,@TO_DATE)
	
	IF OBJECT_ID('tempdb..#REPORT') IS NOT NULL
	drop table #REPORT
	
	IF OBJECT_ID('tempdb..#DATELIST') IS NOT NULL
	drop table #DATELIST
	
	IF OBJECT_ID('tempdb..#EMPLIST') IS NOT NULL
	drop table #EMPLIST
	
	CREATE TABLE #EMPLIST
	(
		EMPLOYEE_ID int,
		EMPLOYEE_NAME varchar(70)
	)
	
	CREATE TABLE #REPORT
	( 	
		EMPLOYEE_ID int,
		EMPLOYEE_NAME VARCHAR(500),
		ATT_DATE DATETIME,
		ATT_DAY varchar(20),
		LOGIN_TIME varchar(20),
		LOGOUT_TIME varchar(20),
		ATT_STATUS VARCHAR(20),
	)
	
	CREATE TABLE #DATELIST
	(
		EMPLOYEE_ID int,
		ATT_DATE DATETIME,
		ATT_DAY varchar(20),
		ATT_STATUS VARCHAR(20)
	)

	------------------ insert into #employee list-------------------

	insert into #EMPLIST(EMPLOYEE_ID,EMPLOYEE_NAME)
	select EMPLOYEE_ID,FIRST_NAME + ' ' + MIDDLE_NAME + ' ' + LAST_NAME from Employee
	where EMPLOYEE_ID <> '1000'and EMP_STATUS='458'

	------------------------------insert into #datelist----------------------------
	
	set @intIncremental=0
	while @intIncremental <=  @intEndValue
	begin

		INSERT INTO #DATELIST(ATT_DATE,ATT_DAY,ATT_STATUS,EMPLOYEE_ID)
		select convert(varchar,cast( DATEADD(dd,@intIncremental,@FROM_DATE) as datetime) ,102) , 
		DATENAME(dw, DATEADD(dd,@intIncremental,@FROM_DATE)),'ABSENT',0
		
		set @intIncremental=@intIncremental+1
		
	end
	
	-------------------------------Insert into Main report---------------------------------------
	
	INSERT INTO #REPORT(ATT_DATE,ATT_DAY,ATT_STATUS,EMPLOYEE_ID,EMPLOYEE_NAME,LOGIN_TIME,LOGOUT_TIME)
	select d.ATT_DATE, d.ATT_DAY, d.ATT_STATUS, r.EMPLOYEE_ID,EMPLOYEE_NAME,'00:00:00','00:00:00' 
	from #EMPLIST r,  #DATELIST d 
	
  --### DELETING ATTENDANCE DETAILS
	
	
	--select * from   #REPORT
	--return;
	DELETE FROM #REPORT 
	from #REPORT r, 
	(
		select emp_id
			,CONVERT(date,att_date,101) ATT_DATE
			,cast(CONVERT(time,login_time,101) as varchar(8)) as [LOGINTIME]
			,cast(CONVERT(time,logout_time,101) as varchar(8)) AS [LOGOUTTIME]	
		FROM 
			(	
				SELECT emp_id,login_time,logout_time,att_date
				FROM atttendance 
			) a 
		where dbo.FNADateFormat(login_time,'d') between dbo.FNADateFormat(@FROM_DATE,'d') 
		and dbo.FNADateFormat(@TO_DATE,'d')+ ' 23:59'
		GROUP BY  emp_id,a.att_date,A.login_time,A.logout_time
	)a
	where  a.emp_id=r.EMPLOYEE_ID 
	and CONVERT(date,r.ATT_DATE,101) = CONVERT(date,a.ATT_DATE,101)
	 
  --### DELETING LEAVE APPROVED DETAILS
  	
	DELETE FROM #REPORT 
	from #REPORT r, 
	(  
		select REQUESTED_BY
			,l.APPROVED_FROM, l.APPROVED_TO
		FROM LeaveRequest l
		where LEAVE_STATUS='Approved'	
	)a
	where  a.REQUESTED_BY=r.EMPLOYEE_ID 
	and r.ATT_DATE 
	between a.APPROVED_FROM and a.APPROVED_TO

  --### DELETING SATURDAY DETAILS
  
	DELETE FROM #REPORT
	FROM  #REPORT A	,
	(
		SELECT DATENAME(WEEKDAY,ATT_DATE) DAY_NAME,ATT_DATE FROM #REPORT 
		WHERE	DATENAME(WEEKDAY,ATT_DATE)='Saturday'
	)B WHERE CONVERT(VARCHAR,A.ATT_DATE,102)=CONVERT(VARCHAR,B.ATT_DATE,102)

    --### DELETING HOLIDAY MADE BY COMPANY DETAILS
    
	DELETE FROM #REPORT
	FROM  #REPORT A	,
	(
		SELECT DATE ATT_DATE FROM OfficialCalendar WHERE TYPE='H'
	)B WHERE CONVERT(VARCHAR,A.ATT_DATE,102)=CONVERT(VARCHAR,B.ATT_DATE,102)

	
	--SELECT DATENAME(WEEKDAY,ATT_DATE) DAY_NAME,* FROM #REPORT	 ORDER BY   EMPLOYEE_NAME
	SELECT ROW_NUMBER() OVER(ORDER BY  B.EMPLOYEE_NAME) [S.N.],B.EMPLOYEE_ID [Employee Id],
	B.EMPLOYEE_NAME [Employee Name]
	,B.TOTAL_ABSENT [Total Absent days],ROUND((B.TOTAL_ABSENT*A.GROSS_SAL)/30,2) [Deduction Amount] FROM 
	(
		SELECT EMPLOYEE_NAME,EMPLOYEE_ID,COUNT(*) AS TOTAL_ABSENT FROM #REPORT 
		WHERE ATT_STATUS='ABSENT' AND ATT_DATE BETWEEN @FROM_DATE AND @TO_DATE+' 23:59:59'
		GROUP BY EMPLOYEE_NAME,EMPLOYEE_ID	
	)B
	LEFT JOIN
	(
		SELECT EMPLOYEE_ID,SUM(AMOUNT) GROSS_SAL FROM Payable
		GROUP BY EMPLOYEE_ID

	)A	ON A.EMPLOYEE_ID=B.EMPLOYEE_ID

END

IF @FLAG='APP'
BEGIN

	 update leave_deduction_history set 
			flag='a',
			deducted_amt=@AMOUNT,
			modified_by=@USER,
			modified_date=GETDATE()
	 where id=@ID
	 
	 insert into AdhocPayment
		(EMPLOYEE_ID,ADD_DEDUCT,HEAD_ID,AMOUNT,NARRATION,IS_TAXED,CREATED_BY,CREATED_DATE)
	 select employee_id,'D','404',deducted_amt,'Auto Unpaid Leave Deduction','True',@USER,GETDATE()
	 from leave_deduction_history where id=@ID

END

IF @FLAG='REJ'
BEGIN 
	 update leave_deduction_history set 
			flag='r',
			modified_by=@USER,
			modified_date=GETDATE()
	 where id=@ID
END
GO
