USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procManageApprovedAssetTransfer]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
SELECT * FROM ASSET_TRANSFER_TEMP
SELECT * FROM changesApprovalQueue
select * from ASSET_TRANSFER_HISTORY
EXEC procManageApprovedAssetTransfer 'i','1','admin','12'

*/
CREATE PROCEDURE [dbo].[procManageApprovedAssetTransfer]
 (  
	@flag VARCHAR(2) = NULL,
	@table_id INT =NULL	,
	@user VARCHAR(50)=NULL,
	@queue_id VARCHAR(10)=NULL
  )
  AS
  SET NOCOUNT ON;
IF @flag='i'  
BEGIN 
  
	DECLARE @ASSET_ID AS INT,@BRANCH_ID AS INT,@DEPT_ID AS INT,@HOLDER AS INT,@ASSET_TYPE_ID AS INT,@BOOKING_DATE AS VARCHAR(20)
	
	DECLARE @ASSET_NUMBER AS VARCHAR(200)
	
	SELECT @ASSET_ID=asset_id
			,@BRANCH_ID=to_branch
			,@DEPT_ID=to_dept
			,@HOLDER=to_holder
	FROM ASSET_TRANSFER_TEMP WHERE id=@table_id
	
	SELECT @ASSET_TYPE_ID=product_id
		,@BOOKING_DATE=booked_date
		,@ASSET_NUMBER = asset_number 
	FROM ASSET_INVENTORY WHERE id=@ASSET_ID

	---INSERTING DATA INTO HISTORY FROM TEMP AFTER APPROVAL---
	INSERT INTO ASSET_TRANSFER_HISTORY (asset_id, accumulated_dep, book_value, from_branch, from_dept, from_holder,to_branch,
										to_dept,to_holder,narration,asset_number,created_by,created_date,approved_by,approved_date)
										
	SELECT asset_id, accumulated_dep, book_value, from_branch, from_dept, from_holder,to_branch,
										to_dept,to_holder,narration,@ASSET_NUMBER,created_by,created_date,@user,GETDATE() 
	FROM ASSET_TRANSFER_TEMP WHERE id=@table_id
	
	
	
	---UPDATING ASSET MASTER TABLE---
	UPDATE ASSET_INVENTORY 
			SET branch_id=@BRANCH_ID
				,dept_id=@DEPT_ID
				,asset_holder=@HOLDER 
	WHERE ID=@ASSET_ID

	DELETE FROM changesApprovalQueue WHERE dataid=@table_id AND rowId=@queue_id
	
	DELETE FROM ASSET_TRANSFER_TEMP WHERE id=@table_id	
	
END
GO
