USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_UpdateFiscalMonth]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[proc_UpdateFiscalMonth] 
	 @year VARCHAR(10)
as
Begin
	Update Fiscal_Month
		Set DefaultYr='N'
	Where nplYear=@year

	Update Fiscal_Month
		Set DefaultYr='1'
	Where nplYear=@year+1
END
GO
