USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procLeaveYearEndOther]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- exec [procLeaveYearEndOther] @year='2070',@USER=1000

CREATE proc [dbo].[procLeaveYearEndOther]
	 @year VARCHAR(10)
	,@user INT
as

set nocount on;

BEGIN

	DECLARE 
		 @YearStartDate		VARCHAR(10)
		,@YearEndDate		VARCHAR(10)
		,@NxtYrStartDate	VARCHAR(10)
		,@NxtYrEndDate		VARCHAR(10)
		,@CL				FLOAT
		,@SL				FLOAT
		,@AL				FLOAT
		,@MAX_SL			FLOAT
		,@MAX_AL			FLOAT

	SELECT 
		 @YearStartDate=engDateBaisakh
		,@YearEndDate= DATEADD(DD,baisakh+jestha+ashadh+shrawan+bhadra+ashwin+kartik+mangshir+poush+magh+falgun+chaitra-1,engDateBaisakh)
	FROM Fiscal_Month
	WHERE nplYear =@year

	select  
		 @NxtYrStartDate=engDateBaisakh
		,@NxtYrEndDate=DATEADD(DD, baisakh+jestha+ashadh+shrawan+bhadra+ashwin+kartik+mangshir+poush+magh+falgun+chaitra-1,engDateBaisakh)
	FROM Fiscal_Month
	WHERE nplYear=@year+1

	CREATE TABLE #TempLeaveEnd
	(
		 Emp_Id				INT
	)

	--- GET ACTIVE EMPLOYEE LIST
	INSERT INTO #TempLeaveEnd (Emp_ID)
	SELECT distinct
		E.EMPLOYEE_ID
	FROM Employee E
	inner join leaveAssignment la on E.EMPLOYEE_ID=la.EMPLOYEE_ID
	WHERE E.EMPLOYEE_ID<>1000
	AND LEAVE_TYPE_ID=9

	--SELECT * FROM #TempLeaveEnd
	--RETURN

	update leaveAssignment 
		set IS_DISABLED='0' 
	from leaveAssignment La  
	Inner join #TempLeaveEnd T on T.Emp_Id=la.EMPLOYEE_ID
	WHERE LA.LEAVE_TYPE_ID=9
	AND LA.FromDate BETWEEN @YearStartDate AND @YearEndDate
	AND LA.ToDate BETWEEN @YearStartDate AND @YearEndDate

	INSERT INTO leaveAssignment(
		 EMPLOYEE_ID
		,LEAVE_TYPE_ID
		,NO_OF_DAYS_ACTUAL
		,IS_DISABLED
		,IS_SATURDAY
		,IS_HOLIDAY
		,LAST_YEAR_LEAVE
		,FORCE_LEAVE_DEDUCT
		,LEAVE_TAKEN_THIS_YEAR
		,CREATED_BY
		,CREATED_DATE
		,IS_LFA
		,IS_CASHABLE
		,IS_UNLIMITED
		,IS_HALFDAY
		,IS_SUBSTITUTED
		,RELIEVING
		,LFA_Taken
		,NxtYrDefault
		,NxtYrDays
		,FromDate
		,ToDate
		,min_req_days
		,max_req_days
	)
	select 
		 emp_id
		,LT.ID Leave_type_id
		,lt.NO_OF_DAYS_DEFAULT
		,'1' is_disabled
		,LT.IS_SATURDAY
		,IS_HOLIDAY 
		,'0' last_year_leave
		,LT.LFADAYS force_leave_deduct
		,'0' Leave_taken_this_year
		,@user Created_By
		,GETDATE() Created_Date
		,LT.IS_LFA
		,LT.IS_CASHABLE
		,LT.IS_UNLIMITED
		,LT.IS_HOURLY
		,LT.IS_SUBSTITUTED
		,LT.RELIEVING
		,'0' LFA_Taken
		,'1' NxtYrDefault
		,'0' NxtYrDays
		,@NxtYrstartDate FromDate
		,@NxtYrEndDate ToDate
		,LT.min_req_days
		,LT.max_req_days  max_req_days
	from #TempLeaveEnd T
	Inner join LeaveTypes LT on LT.ID=9

END
GO
