USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procSearchProduct]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Exec procSearchProduct 's', 'b',null,null

CREATE proc [dbo].[procSearchProduct]
	@flag char(1),
	@code varchar(50)=null,
	@name varchar(200)=null,
	@group varchar(200)=null	
AS

SET NOCOUNT ON;

IF @flag ='s'
BEGIN


	Declare @sql as varchar(MAX)
	
	set @sql = 'SELECT p.id as ID,
		porduct_code as [ProductCode],i.item_name [ProductName],
		product_desc as [ProductDescription],
		case when is_tangible=''True'' then ''Yes'' 
			when is_tangible=''False'' then ''No'' end as [IsTangible],
		package_unit as [PackageUnit],
	case when is_active=''True'' then ''Yes'' when is_active=''False'' then ''No'' end as [IsActive],
	p.product_desc+'' (''+p.porduct_code+'') |''+cast(p.id as varchar) as prod_info
	FROM IN_PRODUCT p 
	inner join IN_ITEM i on p.item_id=i.id where 1=1'
	
	if @code is not null
	set @sql = @sql +' and  porduct_code like '''+  @code +'%'''
	
	if @name is not null
	set @sql = @sql +' and  item_name like '''+  @name +'%'''
	
	if @group is not null
	set @sql = @sql +' and  product_desc like '''+  @group +'%'''
	
	
	exec(@sql)
 
 END
GO
