USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[ProcUploadInterestBenefit]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
exec [ProcUploadInterestBenefit] @flag='a',@type='410', @file_path='D:\Asp_Projects\DotNetProjects\ERP_NEW\SwiftHrManagement.web\doc\payroll_upload\interest_benefit.csv',@user='1000', @year='68-69'

exec [ProcUploadInterestBenefit] @flag='a',@type='409', @file_path='D:\PROJECTS\ERP_NEW\SwiftHrManagement.web\doc\Interest_Benifit\Upload\interest benefit.csv',@user='1000', @year='68-69'


*/
CREATE proc [dbo].[ProcUploadInterestBenefit]
	@flag char(1),
	@type as int,
	@file_path varchar(200),
	@user varchar(50),
	@year varchar(20) = null
	
AS
SET NOCOUNT ON;
IF @flag='a'
BEGIN
	
declare @SQL varchar(1000)	
	set @file_path = replace(@file_path,'\\','\')	

create table #tempNumberUpload
	(
	
		EMPLOYEE_ID int null,
		ACTUAL_INT_PAID money null,
		APPLIED_INT_RATE money null,
		MARKET_INT_RATE money null,
		NARRATION varchar(max) null
	)

SET @SQL = ' BULK INSERT #tempNumberUpload  FROM '''+@file_path+''' 
				 WITH (FIELDTERMINATOR = '','',FIRSTROW  = 2, ROWTERMINATOR =''\n'') '
				 
exec(@SQL)

--select * from #tempNumberUpload
--return;
update #tempNumberUpload
    	set 
		EMPLOYEE_ID=replace(ltrim(EMPLOYEE_ID),'á',''),
		ACTUAL_INT_PAID=replace(ltrim(ACTUAL_INT_PAID),'á',''),
		APPLIED_INT_RATE=replace(ltrim(APPLIED_INT_RATE),'á',''),
		MARKET_INT_RATE=replace(ltrim(MARKET_INT_RATE),'á','')

update #tempNumberUpload
    	set 
		EMPLOYEE_ID=replace((EMPLOYEE_ID),' ',''),
		ACTUAL_INT_PAID=replace((ACTUAL_INT_PAID),' ',''),		
		APPLIED_INT_RATE=replace((APPLIED_INT_RATE),' ',''),	
		MARKET_INT_RATE=replace((MARKET_INT_RATE),' ','')

	if exists(select * from #tempNumberUpload where isnumeric(ACTUAL_INT_PAID)<=0.00) 
	begin

		select 'Some wrong amount on Actual Interest Paid!' as remarks
		return;

	end
	if exists(select * from #tempNumberUpload where isnumeric(APPLIED_INT_RATE)<0.00) 
	begin

		select 'Some wrong amount on Applied Interest Rate!' as remarks
		return;

	end
	
	if exists(select * from #tempNumberUpload where isnumeric(MARKET_INT_RATE)<0.00) 
	begin

		select 'Some wrong amount on Market Interest Rate!' as remarks
		return;

	end
	
	if exists (select 'A' from #tempNumberUpload where APPLIED_INT_RATE>MARKET_INT_RATE)
	BEGIN
		select 'Applied int rate canot be greater than Market int rate!' as remarks
		return;
	
	END 
	
	if exists (select * from #tempNumberUpload where EMPLOYEE_ID not in (select EMPLOYEE_ID from Employee))
	begin
		select 'Some Employee ID is Invalid!' as remarks
		return;
	end
	
	
	Insert into InterestBenefitsOnlyForTaxSetting (EMPLOYEE_ID
				,INTEREST_BENIFIT_TYPE
				,FISCAL_YEAR
				,ACTUAL_INT_PAID
				,APPLIED_INT_RATE
				,MARKET_INT_RATE
				,TAXABLE_INT_AMT
				,NARRATION
				,CREATED_BY
				,CREATED_DATE)
	SELECT		EMPLOYEE_ID
				,@type
				,@year
				,ACTUAL_INT_PAID
				,APPLIED_INT_RATE
				,MARKET_INT_RATE
				,(((ACTUAL_INT_PAID*100)/APPLIED_INT_RATE)*((MARKET_INT_RATE-APPLIED_INT_RATE)/100))
				,NARRATION
				,@user
				,GETDATE()
	from #tempNumberUpload			
	
	--INSERT INTO AdhocPayment (HEAD_ID,EMPLOYEE_ID,AMOUNT,CREATED_BY,CREATED_DATE,ADD_DEDUCT,IS_PAID,APPLIED_DATE,TAX_DEDUCTED
	--,NARRATION,APPLY_ON,APPLIED_FOR_YEAR,APPLIED_FOR_MONTH	)
	--	SELECT @head,emp_id,amount,@user,GETDATE(),@type,@isApplied,@AppliedDate,tax_deducted_amt,narration,@applied_on
	--	,@year,@month FROM #tempNumberUpload

	DROP TABLE #tempNumberUpload
	select 'Upload Completed Sucessfully!' as msg;
	--select * from InterestBenefitsOnlyForTaxSetting
END
GO
