USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procDisplayProductbyGroup]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Exec prcDisplayProduct '2','a'    
CREATE proc [dbo].[procDisplayProductbyGroup]
  @parentId int= null, 
  @product varchar(10) = null 
  as
  BEGIN
	  select Top 20 porduct_code +'|' + CAST(id AS VARCHAR) AS product
	  from IN_PRODUCT 
	  where item_id in(select id from IN_ITEM where parent_id=@parentId) 
	  ANd is_active = 1
	  order by id
  END
GO
