USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_messagePortal]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[proc_messagePortal]
@flag char(1),
@groupName varchar(50) = null,
@is_Active char(1) = null,
@groupId int = null,
@senderId VARCHAR(10) = null,
@receiverId VARCHAR(10) = null,
@empId VARCHAR(MAX) = NULL,
@msgType CHAR(1) = NULL,
@message VARCHAR(500) = NULL
AS
SET NOCOUNT ON;
SET XACT_ABORT ON;

BEGIN
	IF @flag='i'--create new group
		BEGIN
			IF EXISTS (SELECT GroupName FROM dbo.MsgPortalGrp WHERE GroupName = @groupName)
			BEGIN
				SELECT 'ERROR' as REMARKS
				RETURN
			END
			ELSE
			BEGIN
				INSERT INTO MsgPortalGrp(GroupName,Is_Active)
				SELECT @groupName,@is_Active
				
				SELECT 'SUCCESS' as REMARKS
			END
		END
		
	IF @flag = 'm'--insert employees into group
		BEGIN
			INSERT INTO MsgPortalGrpMembers(EmployeeId, GroupId)
			
			SELECT name,@groupId FROM dbo.split(@empId,',') 
			
			SELECT 'SUCCESS' as REMARKS
		END
		
		
	IF @flag = 'r'--remove employees from group
		BEGIN
			
			DELETE FROM dbo.MsgPortalGrpMembers WHERE GroupId = @groupId AND EmployeeId IN (SELECT name FROM dbo.split(@empId,','))
			--UPDATE MsgPortalGrpMembers SET is_Active = 'N' WHERE GroupId = @groupId AND EmployeeId IN (SELECT name FROM dbo.split(@empId,','))
			
			SELECT 'SUCCESS' as REMARKS
		END
		
		
	IF @flag = 's'--send message
		BEGIN 
			BEGIN TRAN
				BEGIN TRY
					DECLARE @tempMsgId INT
				
					INSERT INTO dbo.Messages ( SenderId, MsgType, Message )
					SELECT @senderId, @msgType, @message
									
					SET @tempMsgId=@@IDENTITY
					
					IF @msgType = 'G'
					BEGIN
						INSERT INTO MsgDetails (Msgid, Is_Seen, Groupid, ReceiverId)
						SELECT @tempMsgId, 'N', @groupId, EmployeeId FROM MsgPortalGrpMembers WHERE GroupId=@groupId
					END
					ELSE
					BEGIN
						INSERT INTO MsgDetails (Msgid, Is_Seen, Groupid, ReceiverId)
						SELECT @tempMsgId, 'N', @groupId, @receiverId
					END
					SELECT 'SUCCESS' as REMARKS
					COMMIT TRAN
				END TRY
				BEGIN CATCH
					ROLLBACK TRAN
					SELECT 'ERROR' AS REMARKS
				END CATCH
		END
	IF @flag = 'n' --notofication
		BEGIN
			SELECT TOP 5 dbo.GetEmployeeFullNameOfId(M.SenderId) AS Sender, dbo.GetEmployeeFullNameOfId(MD.ReceiverId) AS Receiver,M.Message, MD.Is_Seen
			FROM dbo.Messages M INNER JOIN dbo.MsgDetails MD ON MD.Msgid = M.MsgId WHERE MD.ReceiverId = @receiverId ORDER BY MD.RowId DESC
			
			SELECT COUNT(M.Message) AS Count FROM dbo.Messages M INNER JOIN dbo.MsgDetails MD ON MD.Msgid = M.MsgId WHERE MD.ReceiverId = @receiverId
			AND MD.Is_Seen = 'N'
		END
END
GO
