USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procTrainingManage]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec [procTrainingManage] @flag='a',@id='133'
CREATE PROCEDURE [dbo].[procTrainingManage]
	 @flag				VARCHAR(10)	
	,@id				int=null
	,@type				varchar(100)=null
	,@name				varchar(500)=null
	,@startDate			varchar(20)=null
	,@endDate			varchar(20)=null
	,@conductedBy		varchar(200)=null
	,@venue				varchar(200)=null
	,@totcapacity		varchar(100)=null
	,@city				varchar(200)=null
	,@country			varchar(100)=null
	,@noOfDays			float=null
	,@noOfHours			float=null
	,@costEstimate		varchar(200)=null
	,@nomineeWithin		varchar(20)=null
    ,@narration			varchar(max)=null
	,@user				varchar(50)=null 
	,@nomineeId			int=null
	,@forwardEmp		int=null
	,@status            varchar(50)=null
	,@categoryId		int=null
	,@trainerCost		money=null
	,@foodVenueCost		money=null
	,@perPersonCost		money=null
	,@otherCost			money=null
	,@sessionId			varchar(50)=null
	,@plannedStartDate	varchar(50)=null
	,@plannedEndDate	varchar(50)=null
	
	--select * from training
AS

SET NOCOUNT ON
	declare @trainingId as int
	if @flag='i'
	begin  
		
		insert into training(
								 programType
								,programName
								,startDate
								,endDate
								,conductedBy
								,venue
								,totCapacity
								,city
								,country
								,noOfDays
								,noOfHours
								,costEstimate
								,nomineeWithin
								,narration
								,status
								,forwardWith
								,createdBy
								,createdDate
								,categoryId
								,trainerCost
								,foodVenueCost
								,perPersonCost
								,otherCost
								,plannedStartDate
								,plannedEndDate
								)
								values
								(				
								 @type				
								,@name				
								,@startDate			
								,@endDate			
								,@conductedBy		
								,@venue				
								,@totcapacity		
								,@city				
								,@country			
								,@noOfDays			
								,@noOfHours			
								,@costEstimate		
								,@nomineeWithin		
								,@narration	
								,@status
								,@forwardEmp		
								,@user	
								,getdate()
								,@categoryId
								,@trainerCost
								,@foodVenueCost
								,@perPersonCost
								,@otherCost
								,@plannedStartDate
								,@plannedEndDate
							)	
							
		set @id=@@IDENTITY

		update trainingParticipation set trainingId=@id ,sessionId='' where sessionId=@sessionId  

		SELECT 'Success' AS MSG
		
	end
	
	if @flag='u'
	begin
	   update training set 
				 programType=@type
				,programName=@name
				,startDate=@startDate
				,endDate=@endDate
				,conductedBy=@conductedBy
				,venue=@venue
				,totCapacity=@totcapacity
				,city=@city
				,country=@country
				,noOfDays=@noOfDays
				,noOfHours=@noOfHours
				,costEstimate=@costEstimate
				,nomineeWithin=@nomineeWithin
				,narration=@narration
				,forwardedBy=@user
				,forwaredDate=GETDATE()
				,forwardWith=@forwardEmp
				,status=@status
				,categoryId=@categoryId
				,trainerCost=@trainerCost
				,foodVenueCost=@foodVenueCost
				,perPersonCost=@perPersonCost
				,otherCost=@otherCost
				,plannedStartDate=@plannedStartDate
				,plannedEndDate=@plannedEndDate
				
		where id=@id
		
		select 'Success!' as msg
	end
	
	if @flag='d'
	begin
		delete from training where id=@id
		delete from trainingDocs where training_id=@id
		delete from trainingParticipation where trainingId=@id
		select 'Success!' as msg
	end
	
	if @flag='s'
	begin
		 select categoryId,programType,programName,convert(varchar,startDate,101) as startDate
		 ,convert(varchar,endDate,101) as endDate
		,conductedBy,venue,totCapacity,city,country,noOfDays,noOfHours
		,dbo.[ShowDecimalExceptComma](costEstimate) costEstimate,convert(varchar,nomineeWithin,101) as nomineeWithin
		,narration,status,forwardWith
		,b.FIRST_NAME+' '+b.MIDDLE_NAME+' '+b.LAST_NAME+' -'+b.EMP_CODE+' ('+c.BRANCH_NAME+')|'+cast(b.EMPLOYEE_ID as varchar) as forwardWithName
		,dbo.[ShowDecimalExceptComma](trainerCost) trainerCost
		,dbo.[ShowDecimalExceptComma](foodVenueCost) foodVenueCost
		,dbo.[ShowDecimalExceptComma](perPersonCost) perPersonCost
		,dbo.[ShowDecimalExceptComma](otherCost) otherCost
		,CONVERT(varchar,plannedStartDate,101) plannedStartDate
		,CONVERT(varchar,plannedEndDate,101) plannedEndDate
		 from training a left join EMPLOYEE b on a.forwardWith=b.EMPLOYEE_ID
		 left join Branches c on c.BRANCH_ID=b.BRANCH_ID
		 where id=@id
	end
	
	
	if @flag='a'  --## display in label
	begin
		
		declare @totParticipants int
		select @totParticipants=count(*) from trainingParticipation where trainingId=@id
		select  dbo.GetTrainingCategory(categoryId) categoryId
		,dbo.GetDetailTitle(programType) programType
		,programName
		,convert(varchar,startDate,107) as startDate
		,convert(varchar,endDate,107) as endDate
		,conductedBy
		,venue
		,totCapacity
		,city
		,country
		,noOfDays
		,noOfHours
		,dbo.ShowDecimal(isnull(costEstimate,0)) costEstimate
		,convert(varchar,nomineeWithin,107) as nomineeWithin
		,narration,status,dbo.GetEmployeeFullNameOfId(createdBy) createdBy
		,CONVERT(varchar,createdDate,107)  createdDate   ,
		dbo.GetEmployeeFullNameOfId(approvedBy) approvedBy,
		CONVERT(varchar,approvedDate,107) approvedDate 
		,dbo.[ShowDecimal](trainerCost) trainerCost
		,dbo.[ShowDecimal](foodVenueCost) foodVenueCost
		,dbo.[ShowDecimal](perPersonCost) perPersonCost
		,dbo.[ShowDecimal](otherCost) otherCost
		,CONVERT(varchar,plannedStartDate,107) plannedStartDate
		,CONVERT(varchar,plannedEndDate,107) plannedEndDate
		,dbo.[ShowDecimal](ISNULL(perPersonCost,0)*isnull(totCapacity,0)) totCost

		from training where id=@id
	end
	
	declare @branch_id int, @dept_id int, @position_id int,@emp_type as int
	if @flag='b'
	begin
		

		
		if exists(select id from trainingParticipation where trainingId=@id and employeeId=@nomineeId and sessionId=@sessionId)
		begin
		   select 'Already addded!'	 as msg
		   return;
		end
		select	@branch_id=branch_id,@dept_id=DEPARTMENT_ID,@position_id=POSITION_ID,@emp_type=EMP_TYPE
		from Employee where EMPLOYEE_ID=@nomineeId
		insert into trainingParticipation(trainingId,branchId,deptId,positionId
							,employeeId,createdBy,createdDate,emp_type)values
		(@id,@branch_id,@dept_id,@position_id,@nomineeId,@user,GETDATE(),@emp_type)
		
		select 'Success!' as msg
	end
	if @flag='b1'
	begin
		
		if exists(select id from trainingParticipation where trainingId=@id and employeeId=@nomineeId and sessionId=@sessionId)
		begin
		   select 'Already addded!'	 as msg
		   return;
		end
		select	@branch_id=branch_id,@dept_id=DEPARTMENT_ID,@position_id=POSITION_ID,@emp_type=EMP_TYPE
		from Employee where EMPLOYEE_ID=@nomineeId
		insert into trainingParticipation(trainingId,branchId,deptId,positionId
							,employeeId,createdBy,createdDate,emp_type,sessionId)values
		(@id,@branch_id,@dept_id,@position_id,@nomineeId,@user,GETDATE(),@emp_type,@sessionId)
		
		select 'Success!' as msg
	end
					 
	if @flag='e'
	begin
		select id,ROW_NUMBER() Over(order by dbo.GetEmployeeFullNameOfId(employeeId)) [S.N.],dbo.GetBranchName(branchId) [Branch Name],
		dbo.GetDeptName(deptId) [Dept Name],
		dbo.GetDetailTitle(positionId)[Position],dbo.GetEmployeeFullNameOfId(employeeId) [Employee Name]
		,dbo.GetEmployeeFullNameOfId(createdBy) [Created By],CONVERT(varchar,createdDate,107) [Created Date]
		from trainingParticipation where trainingId=@id  order by dbo.GetEmployeeFullNameOfId(employeeId) 
	end
	
	if @flag='e1'
	begin
		select id,ROW_NUMBER() Over(order by dbo.GetEmployeeFullNameOfId(employeeId)) [S.N.],dbo.GetBranchName(branchId) [Branch Name],
		dbo.GetDeptName(deptId) [Dept Name],
		dbo.GetDetailTitle(positionId)[Position],dbo.GetEmployeeFullNameOfId(employeeId) [Employee Name]
		,dbo.GetEmployeeFullNameOfId(createdBy) [Created By],CONVERT(varchar,createdDate,107) [Created Date]
		from trainingParticipation where sessionId=@sessionId
		order by dbo.GetEmployeeFullNameOfId(employeeId) 
	end
	if @flag='f'
	begin
		delete 
		from trainingParticipation where id=@id
		select 'Success!' as msg
	end
	
	
	if @flag='app'
	begin

		update training set approvedBy=@user,approvedDate=GETDATE(),status='Approved' where id=@id
		select 'Success!' as msg
	end
	if @flag='close'
	begin

		update training set modifiedBy=@user,modifiedDate=GETDATE(),status='Closed' where id=@id
		select 'Success!' as msg		
		
	end
	
	if @flag='r'
	begin

		update training set modifiedBy=@user,modifiedDate=GETDATE(),status='Rejected' where id=@id
		select 'Success!' as msg		
		
	end
	
	if @flag='forward'
	begin

		update training set modifiedBy=@user,modifiedDate=GETDATE(),status='Forwarded',forwardWith=@forwardEmp where id=@id
		select 'Success!' as msg		
		
	end
	
	if @flag='reopen'
	begin
		update training set modifiedBy=@user,modifiedDate=GETDATE(),status='Forwarded' where id=@id
		select 'Success!' as msg
	end
GO
