USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procOJTWiseReport]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- exec [procOJTWiseReport]'e','2011-02-02','2011-02-02'
-- exec [procOJTWiseReport] 'e','2/2/2011','2/2/2011',null,null,null,'b'


create proc [dbo].[procOJTWiseReport]
	@flag varchar(1),
	@from varchar(20)=null,
	@to varchar(20)=null,
	@Branch varchar(20)=null,
	@dpt Varchar(20)=null,
	@empId Varchar(50)=null,
	@TrainingId Varchar(50)=null
	
AS
Declare @sql varchar(3000)

if @flag='e'
begin

/***************** EXTERNALTRAININGSUMMARYREPORT  ************************/

	SET @sql='	
				select dbo.GetBranchName(BRANCH_ID)[Branch Name] ,
				dbo.GetDeptName(oj.DEPT_ID)[Department Name],
				dbo.GetEmployeeFullNameOfId(EMP_ID)[Employee Name],
				jb.GROUP_NAME [Job Type],
				Convert( varchar,FROM_DATE,101) [From Date],
				Convert( varchar,TO_DATE,101) [To Date]  from OJTDETAILS oj
				inner join JOBGROUP jb on oj.JOB_GROUP_ID=jb.JOB_GROUP_ID
			'

     IF (@from<>'' or @from is not null) and (@to<>'' or @to is not null)
				SET @SQL=@SQL+ ' AND FROM_DATE BETWEEN '''+ @from +''' AND '''+ @to+''''
		
		
	 if @TrainingId ='o'
	 set @sql=@sql + ' AND oj.TRN_TYPE = '''+ @TrainingId+''''		
	
	 if @TrainingId ='b'
	 set @sql=@sql + ' AND oj.TRN_TYPE = '''+ @TrainingId+''''
		
				
	 if @Branch is not null
	 set @sql=@sql + ' AND oj.BRANCH_ID = '+ @Branch	
	 
	  if @dpt is not null
	 set @sql=@sql + ' AND oj.DEPT_ID = '+ @dpt	
	 
	  if @empId is not null
	 set @sql=@sql + ' AND EMP_ID = '+ @empId		
	
	
	 	
	set @sql=@sql + ' ORDER BY EMP_ID asc'
	--print(@sql)
	Exec (@sql)

end
GO
