USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procDisplayProductAll]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--select * from IN_BRANCH
-- Exec procDisplayProductAll '3'
CREATE PROC [dbo].[procDisplayProductAll]
	@product VARCHAR(200)
AS
BEGIN

	SET NOCOUNT ON;

	SELECT TOP 20 porduct_code +'|' + CAST(p.id AS VARCHAR) AS PRODUCT 
	FROM IN_PRODUCT P with(nolock)
	WHERE porduct_code+'|' + CAST(P.id AS VARCHAR) LIKE '%'+@product +'%'
	AND P.is_active=1  
	ORDER BY p.id


end
GO
