USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procFindEmpAttendence]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Batch submitted through debugger: SQLQuery9.sql|7|0|C:\Documents and Settings\Dipesh\Local Settings\Temp\~vs157.sql

-- Exec procFindEmpAttendence '1000', '2012-05-16', '2012-05-16'

CREATE proc [dbo].[procFindEmpAttendence]
	@intEmpCode varchar(20),
	@dtDateFrom varchar(20)=null,
	@dtDateto varchar(20)=null

AS
begin


	SELECT CONVERT(varchar, cast(login_time as datetime),102) LOGINDATE,
		 round(cast(sum(isnull(datediff(second,login_time,logout_time),0))as float)/3600,0) AS OFFICEHOUR
		 ,'PRESENT'	 ATT_STATUS
	FROM atttendance
	where emp_id=@intEmpCode 
		AND login_time between @dtDateFrom and @dtDateto + ' 23:59:59'
	group by CONVERT(varchar, login_time,102)

end
GO
