USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procStockDepartWiseRpt]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
--exec procStockDepartWiseRpt	 @flag='a',@branch_id=null,@dept_id=null,@from_date='2012-04-01',@to_date='2013-05-30',@product_id=null
--exec procStockDepartWiseRpt	 @flag='b',@branch_id=null,@dept_id=null,@from_date='2012-04-13',@to_date='2012-04-30',@product_id='58'

*/
CREATE PROC [dbo].[procStockDepartWiseRpt]
	@flag VARCHAR(1),
	@branch_id VARCHAR(20)=NULL,
	@dept_id VARCHAR(20)=NULL,
	@from_date VARCHAR(20)=NULL,
	@to_date VARCHAR(20)=NULL,
	@product_id VARCHAR(50)=NULL
AS

IF @flag='a'
BEGIN
	SELECT 
			c.from_branch branchId,
			dbo.GetBranchName(c.from_branch) HEAD,
			c.s_prod_id [Prod Code],
			e.porduct_code [Product Name],
			SUM(ISNULL(c.s_qty,0)) QTY,
			SUM(ISNULL(c.s_amt,0))/SUM(ISNULL(S_QTY,0)) RATE,
			SUM(ISNULL(c.s_amt,0)) AMOUNT 
	INTO #RPT
	FROM IN_Requisition_Message a 
	INNER JOIN IN_SALES c ON c.msg_id=a.id
	INNER JOIN Departments d ON d.DEPARTMENT_ID=a.dept_id
	INNER JOIN IN_PRODUCT e ON e.id=c.s_prod_id
	WHERE c.entered_date BETWEEN @from_date AND @to_date+' 23:59:59'
	AND a.dept_id=ISNULL(@dept_id,a.dept_id) AND a.branch_id=ISNULL(@branch_id,a.branch_id)
	AND c.s_prod_id=ISNULL(@product_id,c.s_prod_id)	AND c.from_branch=to_branch
	GROUP BY c.from_branch,e.porduct_code,c.s_prod_id
	ORDER BY c.from_branch
	
	SELECT DISTINCT HEAD,branchId FROM #RPT
	SELECT * FROM #RPT
END
IF @flag='b'
BEGIN

	SELECT ROW_NUMBER()OVER(ORDER BY c.s_prod_id) [S.N.],
			dbo.GetBranchName(d.BRANCH_ID) [Branch Name],
			d.DEPARTMENT_NAME [Department Name],
			c.s_prod_id [Prod Code],
			e.porduct_code [Product Name],
			SUM(ISNULL(c.s_qty,0)) QTY,
			SUM(ISNULL(c.s_amt,0))/SUM(ISNULL(S_QTY,0)) Rate,
			SUM(ISNULL(c.s_amt,0)) Amount 
	FROM IN_Requisition_Message a
	INNER JOIN IN_SALES c ON c.msg_id=a.id
	INNER JOIN dbo.Departments d ON d.DEPARTMENT_ID=a.dept_id
	INNER JOIN IN_PRODUCT e ON e.id=c.s_prod_id
	WHERE c.entered_date BETWEEN @from_date AND @to_date+' 23:59:59'
	AND a.dept_id=ISNULL(@dept_id,a.dept_id) 
	AND a.branch_id=ISNULL(@branch_id,a.branch_id)
	AND c.s_prod_id=ISNULL(@product_id,c.s_prod_id) 
	AND c.from_branch=1
	GROUP BY d.DEPARTMENT_NAME,d.BRANCH_ID,e.porduct_code,c.s_prod_id
	ORDER BY c.s_prod_id
	
END
/*
exec procStockDepartWiseRpt	 @flag='c',@branch_id=1,@dept_id=null,
@from_date='2012-04-01',@to_date='2013-05-30',@product_id=null
*/
IF @flag='c'-->> department wise report
BEGIN
	SELECT  d.DEPARTMENT_ID,
			d.DEPARTMENT_NAME HEAD,
			c.s_prod_id [Prod Code],
			e.porduct_code [Product Name],
			SUM(ISNULL(c.s_qty,0)) QTY,
			SUM(ISNULL(c.s_amt,0))/SUM(ISNULL(S_QTY,0)) RATE,
			SUM(ISNULL(c.s_amt,0)) AMOUNT 
	INTO #RPT1
	FROM IN_Requisition_Message a 
	INNER JOIN IN_SALES c ON c.msg_id=a.id
	INNER JOIN Departments d ON d.DEPARTMENT_ID=a.dept_id
	INNER JOIN IN_PRODUCT e ON e.id=c.s_prod_id
	WHERE c.entered_date BETWEEN @from_date AND @to_date+' 23:59:59'
	AND a.dept_id=ISNULL(@dept_id,a.dept_id) 
	AND a.branch_id=ISNULL(@branch_id,a.branch_id)
	AND c.s_prod_id=ISNULL(@product_id,c.s_prod_id)	
	AND c.from_branch=to_branch
	GROUP BY d.DEPARTMENT_ID,d.DEPARTMENT_NAME,e.porduct_code,c.s_prod_id
	ORDER BY d.DEPARTMENT_NAME
	
	SELECT DISTINCT HEAD,DEPARTMENT_ID FROM #RPT1
	SELECT * FROM #RPT1
END
/*
exec procStockDepartWiseRpt	 @flag='D',@branch_id=15,@dept_id='165',
	@from_date='2012-04-01',@to_date='2013-05-30',@product_id=null
*/
IF @flag='D'
BEGIN
	SELECT 
			dbo.GetEmployeeFullNameOfId(a.Requ_by) [HEAD],
			convert(varchar,a.Requ_date,107) [Requested Date],
			convert(varchar,a.Delivered_Date,107) [Dispatched Date],
			c.s_prod_id [Prod Code],
			e.porduct_code [Product Name],
			SUM(ISNULL(F.Approved_Quantity,0)) [Requested QTY],
			SUM(ISNULL(c.s_qty,0)) QTY,
			SUM(ISNULL(c.s_amt,0))/SUM(ISNULL(S_QTY,0)) RATE,
			SUM(ISNULL(c.s_amt,0)) AMOUNT 
	INTO #RPT2
	FROM IN_Requisition_Message a WITH(NOLOCK)
	INNER JOIN IN_SALES c WITH(NOLOCK) ON c.msg_id=a.id
	INNER JOIN Departments d WITH(NOLOCK) ON d.DEPARTMENT_ID=a.dept_id
	INNER JOIN IN_PRODUCT e WITH(NOLOCK) ON e.id=c.s_prod_id
	INNER JOIN IN_Requisition F WITH(NOLOCK) ON a.id=F.Requistion_message_id 
	WHERE c.entered_date BETWEEN @from_date AND @to_date+' 23:59:59'
	AND a.dept_id=ISNULL(@dept_id,a.dept_id) 
	AND a.branch_id=ISNULL(@branch_id,a.branch_id)
	AND c.s_prod_id=ISNULL(NULL,c.s_prod_id)	
	AND c.from_branch=to_branch
	GROUP BY e.porduct_code,c.s_prod_id,a.Requ_by,convert(varchar,a.Requ_date,107),convert(varchar,a.Delivered_Date,107)
		
	SELECT DISTINCT HEAD FROM #RPT2
	SELECT * FROM #RPT2
	
END
GO
