USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procManageAttShiftGroup]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[procManageAttShiftGroup]
	@flag varchar(1),
	@id int=null,
	@shift_id int=null,
	@att_shift_id int=null,
	@att_group_id int=null,
	@status varchar(50)=null,
	@user varchar(50)=null
as
set nocount on;

if @flag='i'
begin 
	insert into att_shift_group(att_shift_id,att_group_id,status,created_by,created_date)values
	(@att_shift_id,@att_group_id,@status,@user,GETDATE()) 
	select 'Success' as msg
end

if @flag='u'
begin 
	update att_shift_group set att_shift_id=@att_shift_id,att_group_id=@att_group_id,status=@status,modified_by=@user,modified_date=GETDATE()
	where id=@id 
	select 'Success' as msg
end

if @flag='d'
begin 
	delete from att_shift_group where id=@id 
	select 'Success' as msg
end

if @flag='s'
begin 
	select a.id,sdd.DETAIL_TITLE name,a.att_group_id,a.status from att_shift_group a inner join attendance_group b 
	on a.att_group_id=b.id inner join StaticDataDetail sdd on sdd.ROWID=b.name
	where a.id=@id 
end

if @flag='b'
begin 
	select a.id,sdd.DETAIL_TITLE [Shift Name],sdd1.DETAIL_TITLE [Group Name],a.status [Status] 
	from att_shift_group a inner join attendance_shift b 
	on a.att_shift_id=b.id inner join StaticDataDetail sdd on sdd.ROWID=b.name
	inner join attendance_group c on c.id=a.att_group_id inner join StaticDataDetail sdd1 on sdd1.ROWID=c.name
	where a.status='Active'	 and a.att_shift_id=@shift_id
end
GO
