USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procSaveMenuRole]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--procSaveMenuRole @role_id ='276',@menu_List='65,66,72,3,5,7,9,30'
CREATE proc [dbo].[procSaveMenuRole](
	@role_Id int,
	@menu_List varchar(max)
)
as
begin
	set nocount on;
	begin transaction
		delete from roles_detail 
			where role_id=@role_Id

		declare @maxId int
		set @maxId = isnull((select isnull(max(rowid),0) from roles_detail with (nolock)),0)
		
		insert into roles_detail (rowid,role_id,function_id)
		select @maxId + Id as rowId,@role_Id,name from dbo.split(@menu_List,',')
		
	commit transaction		
end
GO
