USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procDispatchProductRequisition]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
	select * from IN_SALES
	select * from IN_PURCHASE
	SELECT * FROM IN_Requisition where Requistion_message_id=3
	SELECT * FROM IN_Requisition_Message where id=4
*/

--- Exec [procINReceiveProductVoucher] '4','1','1','1000','2010-5-22'

CREATE proc [dbo].[procDispatchProductRequisition]
	@msg_id varchar(20),
	@branch_id varchar(20),
	@branch_id2 varchar(20),
	@user varchar(50),
	@date varchar(20)
AS


	SET NOCOUNT ON;
	set xact_abort on;

	declare @item varchar(20),	@Received_Quantity float, @INVENTORY_AC varchar(20),
		@COMM_AC varchar(20),@pur_id varchar(20), @p_rate float, @p_stk_remain float, @intPartId int,
		@intTotalRows int, @strAgentID varchar(20), @tempID int, @temp_item int, 
		@strRefNum as varchar(20), @intBillid as int,
		@strAccountNum as varchar(25), @dblTotalAmt as float, @strTranType as varchar(50)
	
	
if @branch_id<>@branch_id2 
begin

	


set @intTotalRows=1
while @intPartId > =  @intTotalRows
begin

	select @temp_item=item from #tempFIFOReceived where RowID=@intTotalRows
	--select @temp_item
	
START_CALCULATE1:

		--
		select
			@tempID= a.id,
			@item=item, 
			@Received_Quantity=
				case when a.Remain<=b.p_stk_remain then  a.Remain else p_stk_remain end,
			@INVENTORY_AC = inventory_ac, 
			@COMM_AC=Comm_AC, 
			@p_rate=b.p_rate, 
			@pur_id= b.pur_id
		from 
		(
			SELECT  a.id, a.item,a.Received_Quantity,c.INVENTORY_AC,c.COMM_AC,remain, 
			a.Requistion_message_id
			FROM IN_Requisition  a with(nolock)
			 inner join IN_Requisition_Message b with(nolock) on a.Requistion_message_id=b.id
			 inner join IN_BRANCH c with(nolock) on a.item=c.product_id
				and  a.Requistion_message_id =@msg_id
				and c.BRANCH_ID=b.branch_id
			    and item=@temp_item
			    AND REMAIN > 0
			)a,
			(
				select top 1 
					pur_id,prod_code,p_rate,p_stk_remain from IN_PURCHASE  with(nolock)
					where branch_id=@branch_id 
					and prod_code in (select item from IN_Requisition with(nolock) where Requistion_message_id=@msg_id)
					and p_stk_remain >0
					and prod_code= @temp_item
					
				)b
			where a.item=b.prod_code
		
			--if not exists(select * from #tempFIFOReceived)
		    --  goto ENDLoop
		
	 --select @item, @Received_Quantity*@p_rate, @Received_Quantity, @p_rate,@msg_id, 'R'
	 
	 INSERT INTO IN_SALES (s_prod_id,s_amt,s_qty,s_rate, msg_id, sales_type)
	 select @item, @Received_Quantity*@p_rate, @Received_Quantity, @p_rate,@msg_id, 'R'
		
	IF (@@ERROR <> 0) GOTO QuitWithRollback 


	INSERT INTO IN_PURCHASE(prod_code, p_qty, p_rate, p_stk_remain, branch_id, bill_id)
	 select @item, @Received_Quantity, @p_rate,@Received_Quantity, @branch_id2, @msg_id
	 
	 
	 
	IF (@@ERROR <> 0) GOTO QuitWithRollback 
		
	-- ############ update IN_PURCHASE
	  update IN_PURCHASE set  
			p_stk_remain=p_stk_remain-@Received_Quantity
		where pur_id = @pur_id
		
	IF (@@ERROR <> 0) GOTO QuitWithRollback 
		
	-- ############ update Temp Table
	  update IN_Requisition set  
			REMAIN=REMAIN-@Received_Quantity
		where ID = @tempID
		
		
		IF (@@ERROR <> 0) GOTO QuitWithRollback 
		
		
		   set @Received_Quantity=0
		  --select @temp_item
		
	-- ######## Check weather 0 is done or not
		if (SELECT  COUNT(*)
			FROM IN_Requisition  a inner join IN_Requisition_Message b on a.Requistion_message_id=b.id
				inner join IN_BRANCH c on a.item=c.product_id
				and  a.Requistion_message_id =@msg_id
				and c.BRANCH_ID=b.branch_id
			    and item= @temp_item
			    and REMAIN > 0
			    )=0  or 
		(select COUNT(*)
				    from IN_PURCHASE 
					where branch_id=@branch_id
					and prod_code in (select item from IN_Requisition where Requistion_message_id=@msg_id)
					and p_stk_remain>0
					and prod_code= @temp_item )=0
		begin
			
				goto ENDLoop
				--select 'ENDLoop'
				
		end
		else
		begin

			goto START_CALCULATE1
			-- select 'START_CALCULATE'
		end
		
		
		IF (@@ERROR <> 0) GOTO QuitWithRollback1 
		
		
ENDLoop1:


set @intTotalRows=@intTotalRows+1
end

		update  IN_BRANCH set 
				stock_in_hand= stock_in_hand-a.Received_Quantity
			FROM IN_Requisition  a 
				inner join IN_Requisition_Message b on a.Requistion_message_id=b.id
				inner join IN_BRANCH c on a.item=c.product_id
				and  a.Requistion_message_id =@msg_id
				and c.BRANCH_ID=b.branch_id
				and c.BRANCH_ID=@branch_id
				
		IF (@@ERROR <> 0) GOTO QuitWithRollback1
		
			update  IN_BRANCH set
				stock_in_hand= stock_in_hand+a.Received_Quantity
			FROM IN_Requisition  a 
				inner join IN_Requisition_Message b on a.Requistion_message_id=b.id
				inner join IN_BRANCH c on a.item=c.product_id
				and  a.Requistion_message_id =3
				and c.BRANCH_ID=b.Forwarded_To 
				and c.BRANCH_ID=@branch_id2
				
		IF (@@ERROR <> 0) GOTO QuitWithRollback1
		

COMMIT TRANSACTION
	
	
	SELECT ACCT_NUM,isnull(amount,0)as AMT,TRN_TYPE
	into #_tzRemittanceTranHit1
	FROM (
			   SELECT c.INVENTORY_AC as ACCT_NUM, 'DR' TRN_TYPE, sum(s_amt) as amount 
			   FROM IN_SALES S with(nolock) , IN_BRANCH c with(nolock)
				where s.s_prod_id= c.PRODUCT_ID
					and c.BRANCH_ID=@branch_id
					and s.msg_id=@msg_id
				group by INVENTORY_AC
				UNION ALL
				SELECT c.INVENTORY_AC  as ACCT_NUM, 'CR' TRN_TYPE, sum(s_amt) as AMT 
				FROM IN_SALES S  with(nolock), IN_BRANCH c with(nolock)
				where s.s_prod_id= c.PRODUCT_ID
					and c.BRANCH_ID=@branch_id2
					and s.msg_id=@msg_id
				group by INVENTORY_AC
		)a
	
	
	--DR Or CR Exist or not checcking
	if not exists(
		Select  trn_type from #_tzRemittanceTranHit1 where trn_type='DR'
	)
	Or 
	not exists(
		Select  trn_type from #_tzRemittanceTranHit1 where trn_type='CR'
	)
	begin
			Select  'DR or CR Balance not exists' as REMARKS
			return;	
	
	end

	if (Select  cast(sum(AMT)as money) from #_tzRemittanceTranHit1 where trn_type='DR' group by trn_type)
		<> (select  cast(sum(AMT) as money) from #_tzRemittanceTranHit1  where trn_type='CR' group by trn_type)
	begin

			Select  'DR and CR Balance is not Equal' as REMARKS
			return;			
	end	
	
	Alter table #_tzRemittanceTranHit1 add RowID INT IDENTITY(1,1)
	select @intPartId=max(RowID) from #_tzRemittanceTranHit1
	
--########## CREATE SUMMARY SEND TRANSACTION 

BEGIN TRANSACTION
	
	select @strRefNum=purchase_voucher from billSetting where company_id=1
		IF (@@ERROR <> 0) GOTO QuitWithRollback 
		
	update billSetting set purchase_voucher=cast(purchase_voucher as float)+1 where company_id=1
		IF (@@ERROR <> 0) GOTO QuitWithRollback 
     
         -- ############### TRAN MASTER DETAIL
		insert into tran_master (entry_user_id,acc_num
			,part_tran_type,ref_num,tran_amt, tran_date,
			tran_type,company_id,part_tran_srl_num,created_date,rpt_code, billno)
		Select @user,c.ACCT_NUM,
			TRN_TYPE,@strRefNum ,AMT,@date,
			'p','1',ROW_NUMBER() OVER(ORDER BY TRN_TYPE desc) AS SrNo, GETDATE(),'s',@intBillid
		from #_tzRemittanceTranHit1 c 
		
		IF (@@ERROR <> 0) GOTO QuitWithRollback 
			
		-- ############### TRAN MASTER DETAIL ENTRY
		INSERT INTO [tran_masterDetail]([ref_num] ,[tran_particular],tran_type, company_id,tranDate )
		Select  @strRefNum,'Send Transaction ','p','1',@date
		

COMMIT TRANSACTION

	SELECT  'Voucher Save Successfully, Voucher No: '+ @strRefNum AS REMARKS

--########## Drop TEMP TABLE
	drop table #_tzRemittanceTranHit1
	
	
GOTO  EndSave

QuitWithRollback1:
ROLLBACK TRANSACTION 


EndSave1: 


end

if @branch_id=@branch_id2 
begin

	-- drop table #tempFIFOReceived	
	-- SELECT * FROM IN_Requisition	
	--UPDATE IN_Requisition
	
	SELECT a.item,a.Received_Quantity,c.INVENTORY_AC,c.COMM_AC,REMAIN, 
			a.Requistion_message_id
		   into #tempFIFOReceived
	FROM IN_Requisition  a inner join IN_Requisition_Message b on a.Requistion_message_id=b.id
		inner join IN_BRANCH c on a.item=c.product_id
		and  a.Requistion_message_id=@msg_id
		and c.BRANCH_ID=b.branch_id
		and ISNULL(REMAIN,0) > 0
		
	
		if not exists(select * from #tempFIFOReceived)
		begin
		
			SELECT 'NO TRN FOUND' as REMARKS
			return
		end 
	
		Alter table #tempFIFOReceived add RowID INT IDENTITY(1,1)
		select @intPartId=max(RowID) from #tempFIFOReceived
		--select  @intPartId
			
BEGIN TRANSACTION


set @intTotalRows=1
while @intPartId > =  @intTotalRows
begin

	select @temp_item=item from #tempFIFOReceived where RowID=@intTotalRows
	--select @temp_item
	
START_CALCULATE:

		select
			@tempID= a.id,
			@item=item, 
			@Received_Quantity=
				case when a.Remain<=b.p_stk_remain then  a.Remain else p_stk_remain end,
			@INVENTORY_AC = inventory_ac, 
			@COMM_AC=Comm_AC, 
			@p_rate=b.p_rate, 
			@pur_id= b.pur_id
		from 
		(
			SELECT  a.id, a.item,a.Received_Quantity,c.INVENTORY_AC,c.COMM_AC,remain, 
			a.Requistion_message_id
			FROM IN_Requisition  a with(nolock)
			 inner join IN_Requisition_Message b with(nolock) on a.Requistion_message_id=b.id
			 inner join IN_BRANCH c with(nolock) on a.item=c.product_id
				and  a.Requistion_message_id =@msg_id
				and c.BRANCH_ID=b.branch_id
			    and item=@temp_item
			   -- AND REMAIN > 0
			)a,
			(
				select top 1 
					pur_id,prod_code,p_rate,p_stk_remain from IN_PURCHASE  with(nolock)
					where branch_id=@branch_id
					and prod_code in (select item from IN_Requisition with(nolock) where Requistion_message_id=@msg_id)
					and p_stk_remain >0
					and prod_code= @temp_item
					
				)b
			where a.item=b.prod_code
	
	
	
			--if not exists(select * from #tempFIFOReceived)
		    --  goto ENDLoop
		
	 --select @item, @Received_Quantity*@p_rate, @Received_Quantity, @p_rate,@msg_id, 'R'
	 
	 INSERT INTO IN_SALES (s_prod_id,s_amt,s_qty,s_rate, msg_id, sales_type)
	 select @item, @Received_Quantity*@p_rate, @Received_Quantity, @p_rate,@msg_id, 'R'
		

	IF (@@ERROR <> 0) GOTO QuitWithRollback 
		
	-- ############ update IN_PURCHASE
	  update IN_PURCHASE set  
			p_stk_remain=p_stk_remain-@Received_Quantity
		where pur_id = @pur_id
		
	IF (@@ERROR <> 0) GOTO QuitWithRollback 
		
	-- ############ update Temp Table
	  update IN_Requisition set  
			REMAIN=REMAIN-@Received_Quantity
		where ID = @tempID
		
		IF (@@ERROR <> 0) GOTO QuitWithRollback 
		
		
			
		   set @Received_Quantity=0
		   
		  --select @temp_item
		
	-- ######## Check weather 0 is done or not
		if (SELECT  COUNT(*)
			FROM IN_Requisition  a inner join IN_Requisition_Message b on a.Requistion_message_id=b.id
				inner join IN_BRANCH c on a.item=c.product_id
				and  a.Requistion_message_id =@msg_id
				and c.BRANCH_ID=b.branch_id
			    and item= @temp_item
			    and REMAIN > 0
			    )=0  or 
		(select COUNT(*)
				    from IN_PURCHASE 
					where branch_id=@branch_id 
					and prod_code in (select item from IN_Requisition where Requistion_message_id=@msg_id)
					and p_stk_remain>0
					and prod_code= @temp_item )=0
		begin
			
				goto ENDLoop
				--select 'ENDLoop'
				
		end
		else
		begin

			goto START_CALCULATE
			-- select 'START_CALCULATE'
		end
		
		
		IF (@@ERROR <> 0) GOTO QuitWithRollback 
		
		
ENDLoop:


set @intTotalRows=@intTotalRows+1
end


		update  IN_BRANCH set 
				stock_in_hand= stock_in_hand-a.Received_Quantity
			FROM IN_Requisition  a 
				inner join IN_Requisition_Message b on a.Requistion_message_id=b.id
				inner join IN_BRANCH c on a.item=c.product_id
				and  a.Requistion_message_id =@msg_id
				and c.BRANCH_ID=b.branch_id
				and c.BRANCH_ID=@branch_id
				
		IF (@@ERROR <> 0) GOTO QuitWithRollback 
				

COMMIT TRANSACTION
	

	SELECT ACCT_NUM,isnull(amount,0)as AMT,TRN_TYPE
	into #_tzRemittanceTranHit
	FROM (
			   SELECT SALES_AC as ACCT_NUM, 'DR' TRN_TYPE, sum(s_amt) as amount 
			   FROM IN_SALES S with(nolock) , IN_BRANCH c with(nolock)
				where s.s_prod_id= c.PRODUCT_ID
					and c.BRANCH_ID=@branch_id
					and s.msg_id=@msg_id
				group by SALES_AC
				UNION ALL
				SELECT COMM_AC as ACCT_NUM, 'CR' TRN_TYPE, sum(s_amt) as AMT 
				FROM IN_SALES S  with(nolock), IN_BRANCH c with(nolock)
				where s.s_prod_id= c.PRODUCT_ID
					and c.BRANCH_ID=@branch_id
					and s.msg_id=@msg_id
				group by COMM_AC
		)a

	--DR Or CR Exist or not checcking
	
	if not exists(
		Select  trn_type from #_tzRemittanceTranHit where trn_type='DR'
	)
	Or 
	not exists(
		Select  trn_type from #_tzRemittanceTranHit where trn_type='CR'
	)
	begin
			Select  'DR or CR Balance not exists' as REMARKS
			return;	
	
	end

	if (Select  cast(sum(AMT)as money) from #_tzRemittanceTranHit where trn_type='DR' group by trn_type)
		<> (select  cast(sum(AMT) as money) from #_tzRemittanceTranHit  where trn_type='CR' group by trn_type)
	begin

			Select  'DR and CR Balance is not Equal' as REMARKS
			return;			
	end	
	
	
	Alter table #_tzRemittanceTranHit add RowID INT IDENTITY(1,1)
	select @intPartId=max(RowID) from #_tzRemittanceTranHit
	
--########## CREATE SUMMARY SEND TRANSACTION 

BEGIN TRANSACTION
	
	select @strRefNum=purchase_voucher from billSetting where company_id=1
		IF (@@ERROR <> 0) GOTO QuitWithRollback 
		
	update billSetting set purchase_voucher=cast(purchase_voucher as float)+1 where company_id=1
		IF (@@ERROR <> 0) GOTO QuitWithRollback 
         
         -- ############### TRAN MASTER DETAIL
		insert into tran_master (entry_user_id,acc_num
			,part_tran_type,ref_num,tran_amt, tran_date,
			tran_type,company_id,part_tran_srl_num,created_date,rpt_code, billno)
		Select @user,c.ACCT_NUM,
			TRN_TYPE,@strRefNum ,AMT,@date,
			'p','1',ROW_NUMBER() OVER(ORDER BY TRN_TYPE desc) AS SrNo, GETDATE(),'s',@intBillid
		from #_tzRemittanceTranHit c 
		
		IF (@@ERROR <> 0) GOTO QuitWithRollback 
			
		-- ############### TRAN MASTER DETAIL ENTRY
		INSERT INTO [tran_masterDetail]([ref_num] ,[tran_particular],tran_type, company_id,tranDate )
		Select  @strRefNum,'INVENTORY TRANSFERED','p','1',@date
		

COMMIT TRANSACTION

	SELECT  'Voucher Save Successfully, Voucher No: '+ @strRefNum AS REMARKS

--########## Drop TEMP TABLE
	drop table #_tzRemittanceTranHit
	
	
GOTO  EndSave

QuitWithRollback:
ROLLBACK TRANSACTION 


EndSave: 


end
GO
