USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procManageLeaveRequest]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[procManageLeaveRequest]
	@flag char(1),
	@requestedBy varchar(20),
	@leaveId varchar(20),
	@requestWith varchar(20),
	@fromDate varchar(20),
	@toDate varchar(20),
	@requestDays varchar(20),
	@requestPurpose varchar(1000),
	@leaveStatus varchar(10),
	@rowid int =null
as
set nocount on;

if @flag='i'
BEGIN

	INSERT INTO LEAVEREQUEST (FROM_DATE,TO_DATE,LEAVE_TYPE_ID,REQUESTED_DAYS,REQUESTED_BY,REQUESTED_WITH,LEAVE_STATUS,LEAVE_PURPOSE,CREATED_BY,CREATED_DATE) 
		VALUES (@fromDate,@toDate,@leaveId,@requestDays,@requestedBy,@requestWith,@leaveStatus,@requestPurpose,@requestedBy,GETDATE())
        
END

if @flag='u'
BEGIN
		
	UPDATE LeaveRequest SET REQUESTED_BY=@requestedBy,LEAVE_TYPE_ID=@leaveId,REQUESTED_WITH=@requestWith,FROM_DATE=@fromDate,TO_DATE=@toDate,
		REQUESTED_DAYS=@requestDays,LEAVE_PURPOSE=@requestPurpose,LEAVE_STATUS=@leaveStatus,MODIFIED_BY=@requestedBy,MODIFIED_DATE=GETDATE() 
		WHERE ID=@rowid
	
END
GO
