USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procUpcomingAndRunningTrainingProgramBranchWise]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* 
	(1)Procedure Definition:
    ------------------------
	THIS PROCEDURE PREPARES REPORT OF CURRNTLY RUNNING AND UPCMOING TRAINING PROGRAMS
	 based on TrainingProgramId, TrainingListId, BranchId and current date
		
	(2) Relational Overview:
	------------------------
	(a) relation between above all parameters
	(b) relation of dbo.TrainingProgram and dbo.TrainingList, 
	    dbo.Employee and dbo.Departments, dbo.Departments and dbo.Branches
	*/

-- exec procUpcomingAndRunningTrainingProgramBranchWise 6,null, 'Planned'

create procedure [dbo].[procUpcomingAndRunningTrainingProgramBranchWise]
		
		@branchId varchar(25) = null,
		@trainingProgramId varchar(25) = null,
		@reportType varchar(25) = null -- contains either Running or Planned

as 
set nocount on;
declare @reportDate date = getdate()

-- IF dropdownlist named reportType is selected as 'Planned'

if @reportType='Planned'	
	begin
	-- case : all upcoming training programs as on today's date
			select 
				tl.TRAINING_NAME 'Training Name',
				tl.CATEGORY 'Category',
				tp.TRAINING_PROGRAM_TITLE 'Training Title',
				tp.PLANNED_START_DATE 'From',
				tp.PLANNED_END_DATE 'Till',
				tp.MAXIMUM_CAPACITY 'MAX Capacity',
				tp.VENUE 'Venue',
				tp.CITY 'City',
				tp.COUNTRY 'Country',
				tp.NUMBER_OF_DAYS 'Days',
				tp.TOTAL_HOURS 'Hours',
				tp.HOURS_EACH_DAY 'Hours / Day'
					
			 from TrainingProgram as tp
				inner join TrainingList as tl on tl.ID=tp.TRAINING_ID 
				where 
					--	tp.ACTUAL_START_DATE is null
					--  and tp.ACTUAL_END_DATE is null
					tp.PLANNED_START_DATE > @reportDate
					and tp.BRANCH_ID=@branchId
					
	end
-- IF dropdownlist named reportType is selected as 'Running'

	-- case : all running training programs as on today's date
 else if @reportType='Running'
	  begin 
			select  
				tl.TRAINING_NAME 'Training Name',
				tl.CATEGORY 'Category',
				tp.TRAINING_PROGRAM_TITLE 'Training Title',
				tp.PLANNED_START_DATE 'Planned From',
				tp.PLANNED_END_DATE 'Planned Till',
				tp.ACTUAL_START_DATE 'From',
				tp.ACTUAL_END_DATE 'Till',
				tp.MAXIMUM_CAPACITY 'MAX Capacity',
				tp.VENUE 'Venue',
				tp.CITY 'City',
				tp.COUNTRY 'Country',
				tp.NUMBER_OF_DAYS 'Days',
				tp.TOTAL_HOURS 'Hours',
				tp.HOURS_EACH_DAY 'Hours / Day'
					
			 from TrainingProgram as tp
				inner join TrainingList as tl on tl.ID=tp.TRAINING_ID 
				where 
						tp.ACTUAL_START_DATE is not null
					and tp.ACTUAL_END_DATE is not null
					and tp.ACTUAL_START_DATE >= @reportDate
					and tp.ACTUAL_END_DATE <= @reportDate
					and tp.BRANCH_ID=@branchId					
	end
GO
