USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_CustomerFileUpload]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[proc_CustomerFileUpload]  
(  
 @flag   varchar(1),  
 @ROWID   int = 0 output,  
 @CUST_ID   int = 0,  
 @FILE_DESC  varchar(200) = null,  
 @UPLOAD_BY  varchar(50) = null,   
 @FILE_TYPE  varchar(50) = null     
)  
  
as  
  
if @flag = 'i'  
begin  
     -------------- 
        INSERT INTO [Cust_Doc_History]
           ([Cust_ID]
           ,[Doc_Description]           
           ,[UploadBy]
           ,[CreatedDate]
           ,[File_Extension])
     VALUES
           (@CUST_ID
           ,@FILE_DESC
           ,@UPLOAD_BY
           ,GETDATE()
           ,@FILE_TYPE)
      
     -- --------------- 
 set @ROWID = SCOPE_IDENTITY()  
end  
else if @flag = 'd'  
begin  
 delete from [Cust_Doc_History] where Doc_ID=@ROWID  
end
GO
