USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procRptTraining]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[procRptTraining]    
   @flag varchar(1)    
  ,@startDate as varchar(20)=null    
  ,@endDate as varchar(20)=null    
  ,@trainingType varchar(20)=null    
  ,@category varchar(50)=null    
  ,@status varchar(50)=null    
  ,@trainer varchar(max)=null    
  ,@costFrom money =null    
  ,@costTo money =null   
  ,@emp_id varchar (50) = null   
  ,@branch_id varchar(50) = null
  ,@depart_id varchar(50) = null
    
AS    
SET NOCOUNT ON    
/*    
 exec [procRptTraining] @flag='a',@startDate='05/1/2012',@endDate='05/24/2012',@trainingType=null    
 exec [procRptTraining] @flag='c',@startDate='05/1/2009',@endDate='05/24/2012',@trainer='dip'    
 exec [procRptTraining] @flag='d',@startDate='05/1/2009',@endDate='05/24/2012',@costFrom=null,@costTo=null    
*/    
     
if @flag='a'    
 BEGIN    
  IF OBJECT_ID('tempdb..#TEMP_TABLE') IS NOT NULL     
  DROP TABLE #TEMP_TABLE     
    
  SELECT *     
  INTO #TEMP_TABLE    
  FROM       
  (    
   SELECT     
   ID    
   ,categoryId    
   ,programType  programType    
   ,programName     
   ,conductedBy     
   ,venue    
   ,city     
   ,country     
   ,costEstimate     
   ,convert(varchar,startDate,107) startDate    
   ,convert(varchar,endDate,107) endDate    
   ,noOfDays     
   ,noOfHours    
   ,totCapacity     
   ,narration     
   ,status    
   from training     
   where startDate between @startDate and @endDate+' 23:59:59' and programType =ISNULL(@trainingType,programType)     
   and categoryId = ISNULL(@category,categoryId) and [status] =ISNULL(@status,[status])    
  )A     
  LEFT JOIN     
  (       
   select trainingProgramId,count(*) totFeedback from TrainingFeedback A INNER JOIN  training B ON A.trainingProgramId=B.id      
   where startDate between @startDate and @endDate+' 23:59:59' and programType =ISNULL(@trainingType,programType)     
   and categoryId = ISNULL(@category,categoryId) and [status] =ISNULL(@status,[status])    
   group by trainingProgramId     
       
  )B ON A.id=B.trainingProgramId    
  left join    
  (    
   select trainingId,count(*) totParticipants from trainingParticipation a inner join  training B ON A.trainingId=B.id      
   where startDate between @startDate and @endDate+' 23:59:59' and programType =ISNULL(@trainingType,programType)    
   and categoryId = ISNULL(@category,categoryId) and [status] =ISNULL(@status,[status])    
   group by trainingId    
       
  )C on C.trainingId=A.id    
    
    
  ALTER TABLE #TEMP_TABLE ADD ROW_ID INT IDENTITY(1,1)    
    
  ALTER TABLE #TEMP_TABLE ADD RESOURCE_PERSON VARCHAR(MAX)    
      
  DECLARE @T_ID AS INT,@MAX_ROW_ID AS INT,@ROW_ID AS INT=1,@strList VARCHAR(MAX)    
      
  SELECT @MAX_ROW_ID=MAX(ROW_ID) FROM #TEMP_TABLE    
     
  WHILE @MAX_ROW_ID >=  @ROW_ID    
  BEGIN    
    set @strList=NULL     
    SELECT @T_ID=ID FROM  #TEMP_TABLE WHERE ROW_ID=@ROW_ID    
        
    SELECT @strList = COALESCE(@strList + ', ', '') +    
     CAST(trainer AS VARCHAR(MAX))    
     from    
     (       
     SELECT distinct trainer FROM trainingSchedule WHERE trainingId=@T_ID    
     )a    
        
     UPDATE #TEMP_TABLE SET RESOURCE_PERSON=@strList WHERE ROW_ID=@ROW_ID    
        
  SET @ROW_ID=@ROW_ID+1    
  END    
    
  SELECT ROW_NUMBER() over(order by ID ) [S.N.],    
    dbo.GetTrainingCategory(categoryId) [Training Category],    
    dbo.GetDetailTitle(programType) [Training Type],    
    programName [Training Name],    
    conductedBy [Organizer],    
    venue [Venue],    
    city [City],    
    country [Country],    
    RESOURCE_PERSON [Resource Person],    
    dbo.ShowDecimal(isnull(costEstimate,0)) [Total Estimate Cost],    
    convert(varchar,startDate,107) [Start Date],    
    convert(varchar,endDate,107) [End Date],    
    noOfDays [No. of Days],    
    noOfHours [No. of Hours],    
    totParticipants [Total no. of Participants],    
    narration Remarks,    
    status [Status],    
    totFeedback [Submitted Feedback No.] FROM #TEMP_TABLE   WHERE 1=1      
 END    
    
    
if @flag='b'    
 BEGIN    
   select id,'Program Name- (Type): '+programName+' -'+ dbo.GetDetailTitle(programType)+', Start Date: '+convert(varchar,startDate,107)+', End Date: '+ convert(varchar,endDate,107)+', Conducted By: '+conductedBy     
       
   from training where startDate between @startDate and @endDate+' 23:59:59'    
   and programType =ISNULL(@trainingType,programType)    
   and categoryId = ISNULL(@category,categoryId) and [status] =ISNULL(@status,[status])    
       
        
 END    
     
if @flag='c'    
begin    
  if @trainer is null    
  begin    
  select ROW_NUMBER() over(order by a.id ) [S.N.],    
  a.categoryId [Training Category],    
  a.programType [Training Type],    
  a.programName [Program Type],    
  a.trainer [Resource Person],    
  a.topic [Topic],    
  a.fromTime [From Time],    
  a.toTime [To Time],    
  a.venue [Venue],    
  a.startDate [Start Date],    
  a.endDate [End Date],    
  b.totParticipants [Number of Participants],    
  a.[Status] [Status]    
  from    
  (    
   select b.id,    
   dbo.GetTrainingCategory(b.categoryId) categoryId,    
   dbo.GetDetailTitle(b.programType)  programType,    
   b.programName,    
   a.trainer,    
   a.topic,    
   a.fromTime,    
   a.toTime,    
   b.venue,    
   convert(varchar,startDate,107) startDate,    
   convert(varchar,endDate,107) endDate,    
   status [Status]    
   from training b LEFT join trainingSchedule a on a.trainingId=b.id     
   where b.startDate between @startDate and @endDate+' 23:59:59'     
  )a     
  left join    
  (    
   select trainingId,count(*) totParticipants     
   from trainingParticipation a inner join  training B ON A.trainingId=B.id      
   where startDate between @startDate and @endDate+' 23:59:59'    
   group by trainingId    
  )b on a.id=b.trainingId    
  end    
  else    
  begin    
   select ROW_NUMBER() over(order by a.id ) [S.N.],    
   a.categoryId [Training Category],    
   a.programType [Training Type],    
   a.programName [Program Type],    
   a.trainer [Resource Person],    
   a.topic [Topic],    
   a.fromTime [From Time],    
   a.toTime [To Time],    
   a.venue [Venue],    
   a.startDate [Start Date],    
   a.endDate [End Date],    
   b.totParticipants [Number of Participants],    
   a.[Status] [Status]    
   from    
   (    
    select b.id,    
    dbo.GetTrainingCategory(b.categoryId) categoryId,    
    dbo.GetDetailTitle(b.programType)  programType,    
    b.programName,    
    a.trainer,    
    a.topic,    
    a.fromTime,    
    a.toTime,    
    b.venue,    
    convert(varchar,startDate,107) startDate,    
    convert(varchar,endDate,107) endDate,    
    status [Status]    
    from training b inner join trainingSchedule a on a.trainingId=b.id     
    where trainer like '%'+@trainer+'%' and b.startDate between @startDate and @endDate+' 23:59:59'     
   )a     
   left join    
   (    
    select trainingId,count(*) totParticipants     
    from trainingParticipation a inner join  training B ON A.trainingId=B.id      
    where startDate between @startDate and @endDate+' 23:59:59'    
    group by trainingId    
   )b on a.id=b.trainingId    
  end    
end    
    
if @flag='d'    
begin    
    
  if @costFrom is null     
  begin     
   select ROW_NUMBER() over(order by a.id ) [S.N.],    
   a.categoryId [Training Category],    
   a.programType [Training Type],    
   a.programName [Program Type],    
   a.venue [Venue],    
   a.startDate [Start Date],    
   a.endDate [End Date],    
   b.totParticipants [Number of Participants],    
   dbo.[ShowDecimal](a.trainerCost) [Cost of Trainer],    
   dbo.[ShowDecimal](a.foodVenueCost) [Cost of Food/Venue],    
   dbo.[ShowDecimal](a.perPersonCost) [Cost  per Person],    
   dbo.[ShowDecimal](a.otherCost) [Other Cost],    
   dbo.[ShowDecimal](perPersonCost*b.totParticipants) [Total Actual Cost],    
   a.[Status] [Status]    
   from    
   (    
    select b.id,    
    dbo.GetTrainingCategory(b.categoryId) categoryId,    
    dbo.GetDetailTitle(b.programType)  programType,    
    b.programName,    
    b.venue,    
    isnull(trainerCost,0) trainerCost,    
    ISNULL(foodVenueCost,0) foodVenueCost,    
    ISNULL(perPersonCost,0) perPersonCost,    
    ISNULL(otherCost,0) otherCost,    
    convert(varchar,startDate,107) startDate,    
    convert(varchar,endDate,107) endDate,    
    status [Status]    
    from training b     
    where b.startDate between @startDate and @endDate+' 23:59:59'       
        
   )a     
   left join    
   (    
    select trainingId,count(*) totParticipants     
    from trainingParticipation a inner join  training B ON A.trainingId=B.id      
    where startDate between @startDate and @endDate+' 23:59:59'    
    group by trainingId    
   )b on a.id=b.trainingId    
  end    
  else    
  begin    
    
   if @costTo is null    
    set @costTo=@costFrom     
       
   select ROW_NUMBER() over(order by a.id ) [S.N.],    
   a.categoryId [Training Category],    
   a.programType [Training Type],    
   a.programName [Program Type],    
   a.venue [Venue],    
   a.startDate [Start Date],    
   a.endDate [End Date],    
   b.totParticipants [Number of Participants],    
   dbo.[ShowDecimal](a.trainerCost) [Cost of Trainer],    
   dbo.[ShowDecimal](a.foodVenueCost) [Cost of Food/Venue],    
   dbo.[ShowDecimal](a.perPersonCost) [Cost  per Person],    
   dbo.[ShowDecimal](a.otherCost) [Other Cost],    
   dbo.[ShowDecimal](perPersonCost*b.totParticipants) [Total Actual Cost],    
   a.[Status] [Status]    
   from    
   (    
    select b.id,    
    dbo.GetTrainingCategory(b.categoryId) categoryId,    
    dbo.GetDetailTitle(b.programType)  programType,    
    b.programName,    
    b.venue,    
    isnull(trainerCost,0) trainerCost,    
    ISNULL(foodVenueCost,0) foodVenueCost,    
    ISNULL(perPersonCost,0) perPersonCost,    
    ISNULL(otherCost,0) otherCost,    
    convert(varchar,startDate,107) startDate,    
    convert(varchar,endDate,107) endDate,    
    status [Status]    
    from training b     
    where b.startDate between @startDate and @endDate+' 23:59:59'      
        
   )a     
   left join    
   (    
    select trainingId,count(*) totParticipants     
    from trainingParticipation a inner join  training B ON A.trainingId=B.id      
    where startDate between @startDate and @endDate+' 23:59:59'    
    group by trainingId    
   )b on a.id=b.trainingId where     
   (perPersonCost*b.totParticipants) between @costFrom and @costTo     
        
  end    
end  
  
if @flag = 'p'  
begin  
  
 select dbo.GetEmployeeFullNameOfId(tp.employeeId),b.BRANCH_NAME,d.DEPARTMENT_NAME,rtrim(t.programName) [Training Title],t.conductedBy [Conducted By],convert (varchar,t.startDate,101) [Start Date],convert (varchar,t.endDate,101) [End Date] from trainingParticipation tp  
  inner join training t on tp.trainingId=t.id 
  inner join Branches b on tp.branchId= b.BRANCH_ID 
  inner join Departments d on tp.deptId= d.DEPARTMENT_ID   
  where t.startDate between convert(varchar,@startDate,107) and convert(varchar,@endDate,107)
  and tp.employeeId like ISNULL(@emp_id,'%')   
 and tp.branchId =isnull(@branch_id,tp.branchId)   
 and tp.deptId like ISNULL(@depart_id,'%')    
  
end
GO
