USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procManageINBudget]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[procManageINBudget]
		@FLAG VARCHAR(1),
		@ID INT =NULL,
		@FY VARCHAR(50)=NULL,
		@BRANCH_ID INT =NULL,
		@PRODUCT_ID INT=NULL,
		@BUDGET_QTY INT=NULL,
		@RATE MONEY	=NULL,
		@REMARKS VARCHAR(MAX)=NULL,
		@IS_ACTIVE VARCHAR(50)=NULL,
		@USER VARCHAR(50)=NULL

AS
SET NOCOUNT ON;
IF @FLAG='I'
BEGIN 
	IF EXISTS(SELECT TOP 1 * FROM IN_BUDGET WHERE FY=@FY AND BRANCH_ID=@BRANCH_ID AND PRODUCT_ID=@PRODUCT_ID)
	BEGIN
		SELECT 'SORRY, ALREADY EXISTS!' AS MSG
		RETURN;
	END
	INSERT INTO IN_BUDGET(FY,BRANCH_ID,PRODUCT_ID,BUDGET_QTY,RATE,REMARKS,IS_ACTIVE,CREATED_BY,CREATED_DATE)
	VALUES
	(@FY,@BRANCH_ID,@PRODUCT_ID,@BUDGET_QTY,@RATE,@REMARKS,@IS_ACTIVE,@USER,GETDATE())
	
	SELECT 'SUCCESS' AS MSG
END
IF @FLAG='U'
BEGIN 
	IF EXISTS(SELECT TOP 1 * FROM IN_BUDGET 
				WHERE FY=@FY AND BRANCH_ID=@BRANCH_ID AND PRODUCT_ID=@PRODUCT_ID
				AND ID<>@ID
			  )
	BEGIN
		SELECT 'SORRY, ALREADY EXISTS!' AS MSG
		RETURN;
	END
	UPDATE IN_BUDGET SET FY=@FY,BRANCH_ID=@BRANCH_ID,PRODUCT_ID=@PRODUCT_ID,
						BUDGET_QTY=@BUDGET_QTY,RATE=@RATE,REMARKS=@REMARKS,
						IS_ACTIVE=@IS_ACTIVE,MODIFIED_BY=@USER,MODIFIED_DATE=GETDATE()
	WHERE ID=@ID
	SELECT 'SUCCESS' AS MSG
END
IF @FLAG='D'
BEGIN
	DELETE FROM IN_BUDGET WHERE ID=@ID
	SELECT 'SUCCESS' AS MSG
END
IF @FLAG='S'
BEGIN
	SELECT  FY,
			BRANCH_ID,
			PRODUCT_ID,
			B.porduct_code +'|' + cast(B.id as varchar) PRODUCT_NAME,
			BUDGET_QTY,
			RATE,
			REMARKS,
			A.IS_ACTIVE
	FROM IN_BUDGET A INNER JOIN IN_PRODUCT B ON A.PRODUCT_ID=B.ID WHERE A.ID=@ID

END
GO
