USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procDepreciationGroupWiseSummaryRpt]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[procDepreciationGroupWiseSummaryRpt]
	@flag VARCHAR(1),
	@fiscal_year VARCHAR(20)=NULL,
	@branch_id VARCHAR(10)=NULL

AS
IF @flag='a'
BEGIN
	
		SELECT ROW_NUMBER()over(order by x.item_name) as [S.N.],x.item_name as [Asset Group Name],ISNULL(m.[Opening Balance],0) AS [Opening Balance],ISNULL(x1.Shawan,0) Shawan,ISNULL(b.Bhadra,0) AS Bhadra,ISNULL(c.Ashoj,0) AS Ashoj,
		ISNULL(d.Kartik,0) AS Kartik,ISNULL(e.Mangshir,0) AS Mangshir,ISNULL(f.Poush,0) AS Poush,ISNULL(g.Magh,0) AS Magh,ISNULL(h.Falgun,0) AS Falgun,
		ISNULL(i.Chaitra,0) AS Chaitra,ISNULL(j.Baishak,0) AS Baishak,ISNULL(k.Jestha,0) AS Jestha,ISNULL(l.Ashad,0) AS Ashad,
		(ISNULL(m.[Opening Balance],0)+ISNULL(x1.Shawan,0)+ISNULL(b.Bhadra,0)+ISNULL(c.Ashoj,0)+ISNULL(d.Kartik,0)+ISNULL(e.Mangshir,0)+ISNULL(f.Poush,0)+
		ISNULL(g.Magh,0)+ISNULL(h.Falgun,0)+ISNULL(i.Chaitra,0)+ISNULL(j.Baishak,0)+ISNULL(k.Jestha,0)+ISNULL(l.Ashad,0)) AS [Closing Balance]
		 FROM 
		 (
			select id, item_name from ASSET_ITEM a inner join 
			(
				select distinct group_id from ASSET_INVENTORY where branch_id=isnull(@branch_id,branch_id)
			)b on a.id=b.group_id
		 )x
		 left join
		(
					SELECT 
						x.id,x.item_name, SUM(da.dep_value) [Shawan]
						FROM depreciation_status da
						INNER JOIN ASSET_INVENTORY ainv ON da.asset_id = ainv.id
						INNER JOIN ASSET_PRODUCT ap ON ainv.product_id = ap.id
						INNER JOIN ASSET_ITEM ai ON ap.item_id = ai.id

					INNER JOIN 
					(
						SELECT id, item_name 
						FROM ASSET_ITEM
						WHERE id IN(SELECT DISTINCT parent_id FROM ASSET_ITEM WHERE is_product = '1') 
						AND id <>241 
					) x ON x.id = ai.parent_id

					WHERE da.fiscal_year=@fiscal_year AND run_month=4
					AND da.branch_id=isnull(@branch_id,da.branch_id) and ainv.asset_status<>'Inactive'
					GROUP BY x.id, x.item_name
				
		)x1 on x.id=x1.id
		LEFT JOIN 
		(
			SELECT 
				x.id,x.item_name [Asset GROUP Head] , SUM(da.dep_value) [Bhadra]
				FROM depreciation_status da
				INNER JOIN ASSET_INVENTORY ainv ON da.asset_id = ainv.id
				INNER JOIN ASSET_PRODUCT ap ON ainv.product_id = ap.id
				INNER JOIN ASSET_ITEM ai ON ap.item_id = ai.id

			INNER JOIN 
			(
				SELECT id, item_name 
				FROM ASSET_ITEM
				WHERE id IN(SELECT DISTINCT parent_id FROM ASSET_ITEM WHERE is_product = '1') 
				AND id <>241 
			) x ON x.id = ai.parent_id

			WHERE da.fiscal_year=@fiscal_year AND run_month=5 
			AND da.branch_id=isnull(@branch_id,da.branch_id) and ainv.asset_status<>'Inactive'
			 GROUP BY x.id, x.item_name
		)b ON x.id=b.id
		LEFT JOIN
		(
			SELECT 
				x.id,x.item_name [Asset GROUP Head] , SUM(da.dep_value) [Ashoj]
				FROM depreciation_status da
				INNER JOIN ASSET_INVENTORY ainv ON da.asset_id = ainv.id
				INNER JOIN ASSET_PRODUCT ap ON ainv.product_id = ap.id
				INNER JOIN ASSET_ITEM ai ON ap.item_id = ai.id

			INNER JOIN 
			(
				SELECT id, item_name 
				FROM ASSET_ITEM
				WHERE id IN(SELECT DISTINCT parent_id FROM ASSET_ITEM WHERE is_product = '1') 
				AND id <>241 
			) x ON x.id = ai.parent_id

			WHERE da.fiscal_year=@fiscal_year AND run_month=6
			AND da.branch_id=isnull(@branch_id,da.branch_id) and ainv.asset_status<>'Inactive'
			 GROUP BY x.id, x.item_name
		)c ON c.id=x.id
		LEFT JOIN
		(
			SELECT 
				x.id,x.item_name [Asset GROUP Head] , SUM(da.dep_value) Kartik
				FROM depreciation_status da
				INNER JOIN ASSET_INVENTORY ainv ON da.asset_id = ainv.id
				INNER JOIN ASSET_PRODUCT ap ON ainv.product_id = ap.id
				INNER JOIN ASSET_ITEM ai ON ap.item_id = ai.id

			INNER JOIN 
			(
				SELECT id, item_name 
				FROM ASSET_ITEM
				WHERE id IN(SELECT DISTINCT parent_id FROM ASSET_ITEM WHERE is_product = '1') 
				AND id <>241 
			) x ON x.id = ai.parent_id

			WHERE da.fiscal_year=@fiscal_year AND da.run_month=7 and ainv.asset_status<>'Inactive'
			AND da.branch_id=isnull(@branch_id,da.branch_id)
			 GROUP BY x.id, x.item_name
		)d ON d.id=x.id
				LEFT JOIN
				(
					SELECT 
						x.id,x.item_name [Asset GROUP Head] , SUM(da.dep_value) Mangshir
						FROM depreciation_status da
						INNER JOIN ASSET_INVENTORY ainv ON da.asset_id = ainv.id
						INNER JOIN ASSET_PRODUCT ap ON ainv.product_id = ap.id
						INNER JOIN ASSET_ITEM ai ON ap.item_id = ai.id

					INNER JOIN 
					(
						SELECT id, item_name 
						FROM ASSET_ITEM
						WHERE id IN(SELECT DISTINCT parent_id FROM ASSET_ITEM WHERE is_product = '1') 
						AND id <>241 
					) x ON x.id = ai.parent_id

					WHERE da.fiscal_year=@fiscal_year AND run_month=8
					AND da.branch_id=isnull(@branch_id,da.branch_id) and ainv.asset_status<>'Inactive'
					 GROUP BY x.id, x.item_name
			
				)e ON e.id=x.id
				LEFT JOIN
				(
					SELECT 
						x.id,x.item_name [Asset GROUP Head] , SUM(da.dep_value) Poush
						FROM depreciation_status da
						INNER JOIN ASSET_INVENTORY ainv ON da.asset_id = ainv.id
						INNER JOIN ASSET_PRODUCT ap ON ainv.product_id = ap.id
						INNER JOIN ASSET_ITEM ai ON ap.item_id = ai.id

					INNER JOIN 
					(
						SELECT id, item_name 
						FROM ASSET_ITEM
						WHERE id IN(SELECT DISTINCT parent_id FROM ASSET_ITEM WHERE is_product = '1') 
						AND id <>241 
					) x ON x.id = ai.parent_id

					WHERE da.fiscal_year=@fiscal_year AND run_month=9
					AND da.branch_id=isnull(@branch_id,da.branch_id) and ainv.asset_status<>'Inactive'
					 GROUP BY x.id, x.item_name
			
				)f ON f.id=x.id
				LEFT JOIN
				(
					SELECT 
						x.id,x.item_name [Asset GROUP Head] , SUM(da.dep_value) Magh
						FROM depreciation_status da
						INNER JOIN ASSET_INVENTORY ainv ON da.asset_id = ainv.id
						INNER JOIN ASSET_PRODUCT ap ON ainv.product_id = ap.id
						INNER JOIN ASSET_ITEM ai ON ap.item_id = ai.id

					INNER JOIN 
					(
						SELECT id, item_name 
						FROM ASSET_ITEM
						WHERE id IN(SELECT DISTINCT parent_id FROM ASSET_ITEM WHERE is_product = '1') 
						AND id <>241 
					) x ON x.id = ai.parent_id

					WHERE da.fiscal_year=@fiscal_year AND run_month=10
					AND da.branch_id=isnull(@branch_id,da.branch_id) and ainv.asset_status<>'Inactive'
					 GROUP BY x.id, x.item_name
				
				)g ON g.id=x.id
				LEFT JOIN
				(
					SELECT 
						x.id,x.item_name [Asset GROUP Head] , SUM(da.dep_value) Falgun
						FROM depreciation_status da
						INNER JOIN ASSET_INVENTORY ainv ON da.asset_id = ainv.id
						INNER JOIN ASSET_PRODUCT ap ON ainv.product_id = ap.id
						INNER JOIN ASSET_ITEM ai ON ap.item_id = ai.id

					INNER JOIN 
					(
						SELECT id, item_name 
						FROM ASSET_ITEM
						WHERE id IN(SELECT DISTINCT parent_id FROM ASSET_ITEM WHERE is_product = '1') 
						AND id <>241 
					) x ON x.id = ai.parent_id

					WHERE da.fiscal_year=@fiscal_year AND run_month=11
					AND da.branch_id=isnull(@branch_id,da.branch_id) and ainv.asset_status<>'Inactive'
					 GROUP BY x.id, x.item_name

				)h ON h.id=x.id
				LEFT JOIN
				(
					SELECT 
						x.id,x.item_name [Asset GROUP Head] , SUM(da.dep_value) Chaitra
						FROM depreciation_status da
						INNER JOIN ASSET_INVENTORY ainv ON da.asset_id = ainv.id
						INNER JOIN ASSET_PRODUCT ap ON ainv.product_id = ap.id
						INNER JOIN ASSET_ITEM ai ON ap.item_id = ai.id

					INNER JOIN 
					(
						SELECT id, item_name 
						FROM ASSET_ITEM
						WHERE id IN(SELECT DISTINCT parent_id FROM ASSET_ITEM WHERE is_product = '1') 
						AND id <>241 
					) x ON x.id = ai.parent_id

					WHERE da.fiscal_year=@fiscal_year AND run_month=12
					AND da.branch_id=isnull(@branch_id,da.branch_id) and ainv.asset_status<>'Inactive'
					 GROUP BY x.id, x.item_name

				)i ON i.id=x.id
				LEFT JOIN 
				(
					SELECT 
						x.id,x.item_name [Asset GROUP Head] , SUM(da.dep_value) Baishak
						FROM depreciation_status da
						INNER JOIN ASSET_INVENTORY ainv ON da.asset_id = ainv.id
						INNER JOIN ASSET_PRODUCT ap ON ainv.product_id = ap.id
						INNER JOIN ASSET_ITEM ai ON ap.item_id = ai.id

					INNER JOIN 
					(
						SELECT id, item_name 
						FROM ASSET_ITEM
						WHERE id IN(SELECT DISTINCT parent_id FROM ASSET_ITEM WHERE is_product = '1') 
						AND id <>241 
					) x ON x.id = ai.parent_id

					WHERE da.fiscal_year=@fiscal_year AND run_month=1
					AND da.branch_id=isnull(@branch_id,da.branch_id) and ainv.asset_status<>'Inactive'
					 GROUP BY x.id, x.item_name

				)j ON j.id=x.id
				LEFT JOIN
				(
					SELECT 
						x.id,x.item_name [Asset GROUP Head] , SUM(da.dep_value) Jestha
						FROM depreciation_status da
						INNER JOIN ASSET_INVENTORY ainv ON da.asset_id = ainv.id
						INNER JOIN ASSET_PRODUCT ap ON ainv.product_id = ap.id
						INNER JOIN ASSET_ITEM ai ON ap.item_id = ai.id

					INNER JOIN 
					(
						SELECT id, item_name 
						FROM ASSET_ITEM
						WHERE id IN(SELECT DISTINCT parent_id FROM ASSET_ITEM WHERE is_product = '1') 
						AND id <>241 
					) x ON x.id = ai.parent_id

					WHERE da.fiscal_year=@fiscal_year AND run_month=2
					AND da.branch_id=isnull(@branch_id,da.branch_id) and ainv.asset_status<>'Inactive'
					 GROUP BY x.id, x.item_name

				)k ON k.id=x.id
				LEFT JOIN
				(
					SELECT 
						x.id,x.item_name [Asset GROUP Head] , SUM(da.dep_value) Ashad
						FROM depreciation_status da
						INNER JOIN ASSET_INVENTORY ainv ON da.asset_id = ainv.id
						INNER JOIN ASSET_PRODUCT ap ON ainv.product_id = ap.id
						INNER JOIN ASSET_ITEM ai ON ap.item_id = ai.id

					INNER JOIN 
					(
						SELECT id, item_name 
						FROM ASSET_ITEM
						WHERE id IN(SELECT DISTINCT parent_id FROM ASSET_ITEM WHERE is_product = '1') 
						AND id <>241 
					) x ON x.id = ai.parent_id

					WHERE da.fiscal_year=@fiscal_year AND run_month=3
					AND da.branch_id=isnull(@branch_id,da.branch_id) and ainv.asset_status<>'Inactive'
					 GROUP BY x.id, x.item_name

				)l ON l.id=x.id
				LEFT JOIN
				(
					SELECT 
						x.id,x.item_name [Asset GROUP Head] , SUM(da.acc_dep) [Opening Balance]
						FROM Asset_Opening_Balance da
						INNER JOIN ASSET_INVENTORY ainv ON da.asset_id = ainv.id
						INNER JOIN ASSET_PRODUCT ap ON ainv.product_id = ap.id
						INNER JOIN ASSET_ITEM ai ON ap.item_id = ai.id

					INNER JOIN 
					(
						SELECT id, item_name 
						FROM ASSET_ITEM
						WHERE id IN(SELECT DISTINCT parent_id FROM ASSET_ITEM WHERE is_product = '1') 
						AND id <>241 
					) x ON x.id = ai.parent_id

					WHERE da.fiscal_year=@fiscal_year 
					AND da.branch_id=isnull(@branch_id,da.branch_id) and ainv.asset_status<>'Inactive'
					 GROUP BY x.id, x.item_name 
				)m ON m.id=x.id
				
		ORDER BY  x.item_name
END

IF @flag='s'
BEGIN
	SELECT ROW_NUMBER() OVER(ORDER BY b.branch_id) AS [S.N.]
	,B.BRANCH_NAME AS [Branch Name]
	,SUM(purchase_value) AS [Total Cost]
	,SUM(acc_depriciation) AS [Accumulation Depreciation] 
	,SUM(purchase_value)-SUM(acc_depriciation) [Net Value]
	FROM ASSET_INVENTORY AI INNER JOIN Branches B ON B.BRANCH_ID=AI.branch_id

	WHERE asset_status='Active' and AI.branch_id LIKE ISNULL(@BRANCH_ID,'%')
	GROUP BY B.BRANCH_NAME,B.BRANCH_ID ORDER BY b.branch_id
END
GO
