USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[ProcManageAssetBranchLinkage]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ProcManageAssetBranchLinkage]
	@FLAG CHAR(1),				
	@BRANCH_ID  VARCHAR(50)=NULL,
	@GROUP_ID  VARCHAR(50)=NULL,
	@AEET_TYPE	VARCHAR(50)	= NULL,
	@ASSET_AC VARCHAR(50)=NULL,				
	@DEP_AC VARCHAR(50)=NULL,				
	@ACC_DEP_AC VARCHAR(10)=NULL,
	@WRITEOFF_AC VARCHAR(10)=NULL,
	@PROFIT_LOSS_AC VARCHAR(10)=NULL,
	@MAINTENANCE_AC VARCHAR(10)=NULL,
	@IS_ACTIVE AS VARCHAR(10)=NULL,
	@USER VARCHAR(50)=NULL
AS			

BEGIN TRY
SET NOCOUNT ON;
SET XACT_ABORT ON

	IF(@flag='a')
	BEGIN
			DECLARE @assetType AS VARCHAR(200),@branch_name AS VARCHAR(200)
			SELECT @branch_name = branch_name FROM Branches with(nolock) WHERE branch_id = @branch_id
			SELECT @assetType = porduct_code FROM ASSET_PRODUCT with(nolock) WHERE id = @AEET_TYPE

			CREATE TABLE #tempBRANCH
			(
				BRANCH_ID VARCHAR(500)
			)
			if @BRANCH_ID is null
			begin
				INSERT INTO #tempBRANCH(BRANCH_ID)
				SELECT distinct BRANCH_ID FROM ASSET_BRANCH WITH(NOLOCK) WHERE 
				PRODUCT_ID = @AEET_TYPE
			end
			else
			begin
				INSERT INTO #tempBRANCH(BRANCH_ID)
				SELECT distinct BRANCH_ID FROM ASSET_BRANCH WITH(NOLOCK) WHERE BRANCH_ID = @BRANCH_ID AND 
				PRODUCT_ID = @AEET_TYPE
			end

			if not exists(select 'x' from Branches with(nolock) where BRANCH_ID not in (select BRANCH_ID from #tempBRANCH))
			begin
				select 'Asset Type Already Assign!'
				return;			
			end

			--select * from #tempBRANCH
			--return;

			INSERT INTO ASSET_BRANCH(ASSET_AC,DEPRECIATION_EXP_AC,ACCUMULATED_DEP_AC,WRITE_OFF_EXP_AC,SALES_PROFIT_LOSS_AC,
					MAINTAINANCE_EXP_AC,BRANCH_ID,PRODUCT_ID,IS_ACTIVE,ASSET_NEXT_NUM,CREATED_BY,CREATED_DATE)
			SELECT @ASSET_AC,@DEP_AC,@ACC_DEP_AC,@WRITEOFF_AC,@PROFIT_LOSS_AC,@MAINTENANCE_AC,BRANCH_ID,@AEET_TYPE,@IS_ACTIVE,'1',@user,GETDATE()
				 FROM Branches with(nolock) where BRANCH_ID not in (select BRANCH_ID from #tempBRANCH) and branch_id = isnull(@branch_id,branch_id)
		
			SELECT 'Asset Type >> '+@assetType+' has been assigned with '+isnull(@branch_name,'All Branches') +'!' AS msg		
			DROP TABLE #tempBRANCH
	END	 
END TRY
BEGIN CATCH
	IF @@TRANCOUNT > 0
	ROLLBACK TRANSACTION 
	SELECT ERROR_MESSAGE() msg
END CATCH
GO
