USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procUploadAssetBooking_All]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
	exec procUploadAssetBooking_All 'a', 'D:\SwiftERP\Application\doc\Asset_Doc\biratnagar\equipment.csv','1000'
*/

CREATE PROC [dbo].[procUploadAssetBooking_All]
	@flag CHAR(1),
	@file_path VARCHAR(2000),
	@user VARCHAR(50)
AS
	set xact_abort on;
	set nocount on;
	
IF @flag='a'
BEGIN

			SET NOCOUNT ON;
			DECLARE @SQL VARCHAR(1000)	
			DECLARE @intTotalRows AS INT,@intPartId AS INT,@FY_YR AS VARCHAR(10),@NEPLI_MONTH AS INT,@default_nep_month AS INT
			SET @file_path = REPLACE(@file_path,'\\','\')	

			CREATE TABLE #temAssetNum
				(
					asset_number VARCHAR(500)
				)

			CREATE TABLE #tempNumberUpload
				(
					asset_type VARCHAR(10) NULL,
					branch_id VARCHAR(10) NULL,
					booking_date VARCHAR(100) NULL,
					purchase_value VARCHAR(200) NULL,
					acc_dep VARCHAR(100) NULL,			
					dep_start_date VARCHAR(50) NULL,		
					narration VARCHAR(MAX) NULL
				)

			SET @SQL = ' BULK INSERT #tempNumberUpload  FROM '''+@file_path+''' 
							 WITH (FIELDTERMINATOR = '','',FIRSTROW  = 2, ROWTERMINATOR =''\n'') '
							 
			EXEC(@SQL)

			--begin transaction
			ALTER TABLE #tempNumberUpload ADD RowID INT IDENTITY(1,1)
			SELECT @intPartId=MAX(RowID) FROM #tempNumberUpload	

			UPDATE #tempNumberUpload
					SET 
					acc_dep=REPLACE(LTRIM(acc_dep),'á',''),
					asset_type=REPLACE(LTRIM(asset_type),'á',''),
					branch_id=REPLACE(LTRIM(branch_id),'á',''),
					purchase_value=REPLACE(LTRIM(purchase_value),'á','')

			UPDATE #tempNumberUpload
					SET 
					acc_dep=REPLACE((acc_dep),' ',''),
					asset_type=REPLACE((asset_type),' ',''),
					branch_id=REPLACE((branch_id),' ',''),
					purchase_value=REPLACE((purchase_value),' ','')
					
			DELETE FROM #tempNumberUpload WHERE asset_type IS NULL

			IF EXISTS (SELECT * FROM #tempNumberUpload WHERE branch_id NOT IN (SELECT branch_id FROM ASSET_BRANCH WHERE PRODUCT_ID=asset_type))
			BEGIN
				SELECT 'Please assign asset type to branch with required account details!' AS msg
				RETURN;
			END
			
BEGIN TRANSACTION

			--########### Start loop count
			SET @intTotalRows=1
			WHILE @intPartId >=  @intTotalRows
			BEGIN
				DECLARE @asset_id AS INT,@purchase_value AS MONEY,@DEP_VALUE AS MONEY,
				@depre_pct AS FLOAT,@booking_date AS VARCHAR(20),@acc_dep AS MONEY,@group_id as int,
				@branch_id AS INT,@asset_number AS VARCHAR(500),@asset_type AS VARCHAR(20),@dep_start_date AS VARCHAR(20)
				
				SELECT	@purchase_value=ROUND(purchase_value,2),				
						@booking_date=booking_date,
						@dep_start_date=dep_start_date,
						@branch_id=branch_id,
						@asset_type=asset_type,
						@acc_dep=ROUND(acc_dep,2)				
				FROM  #tempNumberUpload 
				WHERE RowID=@intTotalRows	
				
				INSERT #temAssetNum
				EXEC procGenerateAssetNumber @branch_id,@asset_type,@booking_date
			
				SELECT @asset_number=asset_number FROM #temAssetNum				
					IF (@@ERROR <> 0) GOTO QuitWithRollback 
					
				SELECT @depre_pct=DBO.FNAGetDepPrcnt(@asset_type)
					IF (@@ERROR <> 0) GOTO QuitWithRollback 
				
				SET @group_id=dbo.GetGroupID(@asset_type)
				
				INSERT INTO ASSET_INVENTORY(branch_id,narration,product_id,booked_date,asset_number,purchase_value,
				acc_depriciation,depr_start_date,asset_status,depre_pct,is_amortised,created_by,created_date,group_id)
				SELECT branch_id,narration,@asset_type,@booking_date,@asset_number,
					ROUND(@purchase_value,2),ROUND(@acc_dep,2),@dep_start_date,'Active',@depre_pct,'N',@user,GETDATE(),@group_id
					FROM  #tempNumberUpload WHERE RowID=@intTotalRows
				
				SET @asset_id=@@IDENTITY				
					IF (@@ERROR <> 0) GOTO QuitWithRollback 
					
					
				SET @FY_YR=dbo.FNAReturnCurrentFiscalYear(@dep_start_date)
				SET @NEPLI_MONTH=dbo.GetNepaliMonth(@dep_start_date)
				SET @default_nep_month = @NEPLI_MONTH	
				
				--#################INSERTING ASSET DETAILS FOR OPENING BALANCE######################---
				INSERT INTO asset_opening_balance(asset_id,booked_date,dep_start_date,fiscal_year,branch_id,acc_dep,purchase_value,created_by,created_date)
				SELECT @asset_id,@booking_date,@dep_start_date,@FY_YR,@branch_id,ROUND(@acc_dep,2),ROUND(@purchase_value,2),@user,GETDATE()
					IF (@@ERROR <> 0) GOTO QuitWithRollback 
				
				SET @DEP_VALUE=ROUND(ROUND(((@purchase_value-@acc_dep)*@depre_pct/100),2)/12,2)	
				IF @DEP_VALUE>=0
				BEGIN			
				IF NOT EXISTS (SELECT * FROM depreciation_setup WHERE asset_id=@asset_id AND fiscal_year=@FY_YR)
				BEGIN
					INSERT INTO depreciation_setup(asset_id,fiscal_year,m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12,dep_pct,acc_dep,base_price)
					VALUES (@asset_id,@FY_YR,0,0,0,0,0,0,0,0,0,0,0,0,@depre_pct,@acc_dep,@purchase_value)		
						
					DECLARE @RowId AS INT
					SET @RowId=@@IDENTITY	
						IF (@@ERROR <> 0) GOTO QuitWithRollback 
						
					IF @NEPLI_MONTH<=3
					BEGIN
							WHILE @NEPLI_MONTH <=3 
							BEGIN
								
								SET @SQL= 'update depreciation_setup set M'+ CAST(@NEPLI_MONTH AS VARCHAR) +' = '+ CAST(@DEP_VALUE AS VARCHAR) +' 
								where id='+CAST(@RowId AS VARCHAR)
								
								EXECUTE (@SQL)								
								SET @NEPLI_MONTH=@NEPLI_MONTH+1
								IF (@@ERROR <> 0) GOTO QuitWithRollback 
								
							END	
					END	
					ELSE
					BEGIN
							WHILE @NEPLI_MONTH <=12 
							BEGIN
								
								SET @SQL= 'update depreciation_setup set M'+ CAST(@NEPLI_MONTH AS VARCHAR) +' = '+ CAST(@DEP_VALUE AS VARCHAR) +' 
								where id='+CAST(@RowId AS VARCHAR)
								
								EXECUTE (@SQL)			
								SET @NEPLI_MONTH=@NEPLI_MONTH+1		
								IF (@@ERROR <> 0) GOTO QuitWithRollback 	
								
							END	
							UPDATE depreciation_setup SET m1=@DEP_VALUE,m2=@DEP_VALUE WHERE ID=@RowId
									
							IF @default_nep_month=4
							BEGIN
								DECLARE @DEP_VALUE3 AS MONEY								
								SET @DEP_VALUE3=ROUND(((@purchase_value-@acc_dep)*@depre_pct/100),2)-@DEP_VALUE*11
								UPDATE depreciation_setup SET m3=@DEP_VALUE3 WHERE id=@RowId	
								IF (@@ERROR <> 0) GOTO QuitWithRollback 							
							END	
							ELSE
							BEGIN
								UPDATE depreciation_setup SET m3=@DEP_VALUE WHERE id=@RowId
								IF (@@ERROR <> 0) GOTO QuitWithRollback 
							END					
					END	
				END		
				END
				ELSE
				BEGIN
					INSERT INTO depreciation_setup(asset_id,fiscal_year,m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12,dep_pct,acc_dep,base_price)
					VALUES (@asset_id,@FY_YR,0,0,0,0,0,0,0,0,0,0,0,0,0,0,@purchase_value)
					IF (@@ERROR <> 0) GOTO QuitWithRollback 
				END
				
			UPDATE ASSET_BRANCH SET ASSET_NEXT_NUM = ASSET_NEXT_NUM +1  WHERE PRODUCT_ID=@asset_type  AND BRANCH_ID=@branch_id		
			IF (@@ERROR <> 0) GOTO QuitWithRollback 			
			TRUNCATE TABLE #temAssetNum		
			SET @intTotalRows=@intTotalRows+1
					
		END
		
COMMIT TRANSACTION

		DROP TABLE #temAssetNum
		DROP TABLE #tempNumberUpload
		SELECT 'Asset Booking Upload Completed Sucessfully!' AS msg
		
		GOTO  EndSave
		QuitWithRollback:
		ROLLBACK TRANSACTION 
		EndSave: 
END
GO
