USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_GlobalSalaryCRUDOperation]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[proc_GlobalSalaryCRUDOperation]
		 @flag						CHAR(3)
		,@branchId					VARCHAR(100)			 = NULL
		,@positionId			    VARCHAR(100)			 = NULL
		,@empId						VARCHAR(100)			 = NULL
		,@BENEFIT_ID				VARCHAR(100)             = NULL
		,@AMOUNT					VARCHAR(100)			 = NULL
		,@USER						VARCHAR(100)			 = NULL
		,@flatOrPercentage			VARCHAR(100)			 = NULL
		

AS 
SET NOCOUNT ON;
/*

EXEC [proc_GlobalSalaryCRUDOperation] @flag = 'a',@branchId ='1',@positionId ='702'
,@empId = '1018',@BENEFIT_ID = '390',@AMOUNT = '120',@USER= '1000'


*/


BEGIN TRY
    DECLARE @oldValue VARCHAR(MAX),@newValue VARCHAR(MAX),@payableId VARCHAR(50)
	SELECT EMPLOYEE_ID INTO #empList FROM Employee WHERE BRANCH_ID = @branchId AND POSITION_ID = @positionId AND EMPLOYEE_ID = ISNULL(@empId, EMPLOYEE_ID)
	--select * from  #empList
	--RETURN
	--drop table #empList
	
  

	WHILE EXISTS(SELECT 'X' FROM #empList)
		BEGIN
	
		  SELECT TOP 1 @empId = EMPLOYEE_ID FROM #empList
			IF EXISTS(SELECT 'X' FROM Payable WHERE EMPLOYEE_ID = @empId AND BENEFIT_ID = @BENEFIT_ID)
			BEGIN
				SELECT @payableId =  ID from Payable where EMPLOYEE_ID = @empId and BENEFIT_ID = @BENEFIT_ID
				IF @flag = 'i' --increment
				BEGIN
				    IF @flatOrPercentage = 'f'
				   BEGIN
				    EXEC [dbo].proc_GetColumnToRow  'Payable', 'ID', @payableId, @oldValue OUTPUT
				    
					UPDATE Payable SET AMOUNT = ISNULL(AMOUNT,0) + @AMOUNT 
					WHERE EMPLOYEE_ID = @empId AND BENEFIT_ID = @BENEFIT_ID 
					
					 EXEC [dbo].proc_GetColumnToRow  'Payable', 'ID', @payableId, @newValue OUTPUT
					 EXEC proc_applicationLogs 'i', NULL, 'UPDATE', 'Payable', @payableId, @user, @oldValue, @newValue
					 
				   END
				   ELSE
				   BEGIN
				      EXEC [dbo].proc_GetColumnToRow  'Payable', 'ID', @payableId, @oldValue OUTPUT
				   
					 UPDATE Payable SET AMOUNT = ISNULL(AMOUNT,0) + (ISNULL(AMOUNT,0) * CAST(@AMOUNT as float)/100)
					 WHERE EMPLOYEE_ID = @empId AND BENEFIT_ID = @BENEFIT_ID 
					 
					 EXEC [dbo].proc_GetColumnToRow  'Payable', 'ID', @payableId, @newValue OUTPUT
					 EXEC proc_applicationLogs 'i', NULL, 'UPDATE', 'Payable', @payableId, @user, @oldValue, @newValue
				   END
				END
				ELSE IF @flag = 'd' -- decrement
				BEGIN
					IF @flatOrPercentage = 'f'
				   BEGIN
				     EXEC [dbo].proc_GetColumnToRow  'Payable', 'ID', @payableId, @oldValue OUTPUT
					UPDATE Payable SET AMOUNT = ISNULL(AMOUNT,0) - @AMOUNT 
					WHERE EMPLOYEE_ID = @empId AND BENEFIT_ID = @BENEFIT_ID 
					
				     EXEC [dbo].proc_GetColumnToRow  'Payable', 'ID', @payableId, @newValue OUTPUT
					 EXEC proc_applicationLogs 'i', NULL, 'UPDATE', 'Payable', @payableId, @user, @oldValue, @newValue
				   END
				   ELSE
				   BEGIN
				     EXEC [dbo].proc_GetColumnToRow  'Payable', 'ID', @payableId, @oldValue OUTPUT
					 UPDATE Payable SET AMOUNT = ISNULL(AMOUNT,0) - (ISNULL(AMOUNT,0) * CAST(@AMOUNT as float)/100)
					 WHERE EMPLOYEE_ID = @empId AND BENEFIT_ID = @BENEFIT_ID 
					 
					 EXEC [dbo].proc_GetColumnToRow  'Payable', 'ID', @payableId, @newValue OUTPUT
					 EXEC proc_applicationLogs 'i', NULL, 'UPDATE', 'Payable', @payableId, @user, @oldValue, @newValue
				   END
				END
				--IF @flag = 'a' -- add
				--BEGIN
				--	UPDATE Payable SET AMOUNT = @AMOUNT 
				--	WHERE EMPLOYEE_ID = @empId AND BENEFIT_ID = @BENEFIT_ID 
			
				--END
				SELECT '1' error_code,'Record Update Successfully' msg
				
		END
	ELSE
		BEGIN
		IF @flag = 'a'
		BEGIN

		 INSERT INTO Payable(
						 EMPLOYEE_ID
						,BENEFIT_ID
						,AMOUNT
						,CREATED_BY
						,CREATED_DATE
						
						)
			SELECT  @empId
				   ,@BENEFIT_ID
				   ,@AMOUNT
				   ,@USER
				   ,GETDATE()
		 SET @payableId = @@IDENTITY
		 
		 EXEC [dbo].proc_GetColumnToRow  'Payable', 'ID', @payableId, @newValue OUTPUT		
		 EXEC proc_applicationLogs 'i', NULL, 'INSERT', 'Payable', @payableId, @user, @oldValue, @newValue
		 SELECT '1' error_code,'Record Insert Successfully' msg

		END
	END
		DELETE FROM #empList WHERE EMPLOYEE_ID = @empId
	END
	
	
	

END TRY

BEGIN CATCH
	 IF @@TRANCOUNT > 0
	 ROLLBACK TRANSACTION
	 
	 SELECT '1' ERROR_CODE , ERROR_MESSAGE() MSG , @branchId ID  

END CATCH
GO
