USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procPayLFA]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Exec procPayLFA @flag='u',@rowid='1',@tax='3',@pDate='44',@user=1 
--exec procPayLFA @flag='u',@rowid='1',@pdate='1/21/2011',@tax='10',@user='001'
CREATE proc [dbo].[procPayLFA]
	@flag char(1),
	@rowid varchar(10) =null,
	@pDate varchar(20)=null,
	@tax varchar(20)=null,
	@user varchar(20)=null
		
as

set nocount on;
if @flag='u'
begin
/*

select * from StaticDataDetail where type_id=41
StaticDataDetail
@headID
ROWID	TYPE_ID	DETAIL_TITLE	DETAIL_DESC	
395		38		LFA				Leave Fare Allowance	

*/
	DECLARE @headID VARCHAR(10)
	
	DECLARE @LFAFROM VARCHAR(10)
	DECLARE @LFATO VARCHAR(10)
	DECLARE @NARRATION VARCHAR(100)
	DECLARE @AID INT
	
	SELECT @LFAFROM=FROM_DATE,@LFATO=TO_DATE FROM LeaveRequest LR
	JOIN LFAHistory LH ON LR.ID=LH.Req_ID
	WHERE LFA_ID=@rowid
	
	if @tax is null
		set @tax=0
	
	SET @NARRATION='LFA FROM '+@LFAFROM +' TO '+@LFATO
	SELECT @headID='822'
	
	INSERT INTO AdhocPayment
	(EMPLOYEE_ID,ADD_DEDUCT,HEAD_ID,APPLIED_DATE,AMOUNT,TAX_DEDUCTED,IS_PAID,
	NARRATION,IS_TAXED,CREATED_BY,CREATED_DATE)
	SELECT emp_ID,'A',@headID,@pDate,Amount,@tax,1,@NARRATION,0,@user,GETDATE() FROM LFAHistory
	
	set @AID=@@IDENTITY
	
	update LFAHistory set status=@AID where LFA_ID=@rowid

end
GO
