USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procRptPaymentWisePurchase]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Ecex     
CREATE PROCEDURE [dbo].[procRptPaymentWisePurchase]      
    @flag CHAR(1),      
    @from_date varchar(20)=NULL,      
    @to_date VARCHAR(20)=NULL,      
    @branch_id varchar(50)=NULL,    
    @vendor_id varchar(50)=NULL,
    @status varchar(10)=null
AS          
SET NOCOUNT ON;    
      
IF(@flag='a')      
BEGIN  
	if @status='All'
	begin
		select a.bill_id,a.billno [Bill No.],convert(varchar,a.bill_date,107) as [Bill Date],b.CustomerName [Vendor Name],dbo.ShowDecimal(a.vat_amt) [Vat Amount],
		dbo.ShowDecimal(a.bill_amount) [Bill Amount],a.bill_notes [Bill Remarks],a.entered_by [Received By],convert(varchar,a.entered_date,107) as [Received Date],
		paid_by [Paid By],convert(varchar,paid_date,107) [Paid Date],case when paid_date IS null then 'Unpaid' else 'Paid' end as [Payment Status]
		from Bill_info a inner join Customer b on a.party_code=b.id
		where entered_date between @from_date and @to_date+' 23:59:59'
		and a.party_code like ISNULL(@vendor_id,'%')  
	end
	
	if @status='Paid'
	begin
		select a.bill_id,a.billno [Bill No.],convert(varchar,a.bill_date,107) as [Bill Date],b.CustomerName [Vendor Name],dbo.ShowDecimal(a.vat_amt) [Vat Amount],
		dbo.ShowDecimal(a.bill_amount) [Bill Amount],a.bill_notes [Bill Remarks],a.entered_by [Received By],convert(varchar,a.entered_date,107) as [Received Date],
		paid_by [Paid By],convert(varchar,paid_date,107) [Paid Date],case when paid_date IS null then 'Unpaid' else 'Paid' end as [Payment Status]
		from Bill_info a inner join Customer b on a.party_code=b.id
		where entered_date between @from_date and @to_date+' 23:59:59'
		and a.party_code like ISNULL(@vendor_id,'%')  and paid_date is not null
	end
	if @status='Unpaid'
	begin
		select a.bill_id,a.billno [Bill No.],convert(varchar,a.bill_date,107) as [Bill Date],b.CustomerName [Vendor Name],dbo.ShowDecimal(a.vat_amt) [Vat Amount],
		dbo.ShowDecimal(a.bill_amount) [Bill Amount],a.bill_notes [Bill Remarks],a.entered_by [Received By],convert(varchar,a.entered_date,107) as [Received Date],
		paid_by [Paid By],convert(varchar,paid_date,107) [Paid Date],case when paid_date IS null then 'Unpaid' else 'Paid' end as [Payment Status]
		from Bill_info a inner join Customer b on a.party_code=b.id
		where entered_date between @from_date and @to_date+' 23:59:59'
		and a.party_code like ISNULL(@vendor_id,'%')  and paid_date is null
	end
END
GO
