USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procUploadInBudget]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*  
exec [procUploadInBudget] @FLAG='a',@FY='70-71', @BRANCH_ID='1',  
@FILE_PATH='D:\\BUDGET_CSV.csv', @USER='1000'  
*/  
CREATE PROC [dbo].[procUploadInBudget]  
 @FLAG VARCHAR(1),  
 @FY AS VARCHAR(50),  
 @BRANCH_ID AS INT,  
 @FILE_PATH VARCHAR(MAX),  
 @USER VARCHAR(50)  
AS  
 SET NOCOUNT ON;  
IF @FLAG='a'  
BEGIN   
 DECLARE @SQL VARCHAR(MAX)  
 SET @file_path = REPLACE(@file_path,'\\','\')   
  
 CREATE TABLE #tempNumberUpload  
  (  
   PRODUCT_ID VARCHAR(50) NULL,  
   QTY VARCHAR(50) NULL,  
   RATE VARCHAR(50) NULL,  
   REMARKS VARCHAR(MAX) NULL  
  )  
  
 SET @SQL = ' BULK INSERT #tempNumberUpload  FROM '''+@file_path+'''   
      WITH (FIELDTERMINATOR = '','',FIRSTROW  = 2, ROWTERMINATOR =''\n'') '  
        
 EXEC(@SQL)  
  
 UPDATE #tempNumberUpload  
      SET   
   PRODUCT_ID=replace(ltrim(PRODUCT_ID),'á',''),  
   QTY=replace(ltrim(QTY),'á','')   ,  
   RATE=replace(ltrim(RATE),'á',''),  
   REMARKS=replace(ltrim(REMARKS),'á','')  
  
 update #tempNumberUpload  
      SET   
   PRODUCT_ID=replace((PRODUCT_ID),' ',''),  
   QTY=replace((QTY),' ',''),  
   RATE=replace((RATE),' ',''),  
   REMARKS=replace((REMARKS),' ','')  
   
 if exists(select * from #tempNumberUpload where isnumeric(RATE)<=0)   
 begin  
  
  select 'Sorry! Unable to uplaod, Some rates are invalid!' as remarks  
  return;  
  
 end  
 if exists(select * from #tempNumberUpload where isnumeric(QTY)<0)   
 begin  
  
  select 'Sorry! Unable to uplaod, Some qty are invalid!' as remarks  
  return;  
  
 end  
 if exists (select * from #tempNumberUpload where PRODUCT_ID not in (select id from IN_PRODUCT))  
 begin  
  select 'Sorry! Unable to uplaod, Some product id are invalid!' as remarks  
  return;  
 end  
   
  
 UPDATE IN_BUDGET SET PRODUCT_ID=B.PRODUCT_ID,BUDGET_QTY=B.QTY,RATE=B.RATE,  
       REMARKS=B.REMARKS,IS_ACTIVE='Active',MODIFIED_BY=@USER,MODIFIED_DATE=GETDATE() FROM IN_BUDGET A,  
 (  
  SELECT PRODUCT_ID,QTY,RATE,REMARKS FROM #tempNumberUpload  
 )B WHERE A.PRODUCT_ID=B.PRODUCT_ID AND A.FY=@FY AND A.BRANCH_ID=@BRANCH_ID  
  
 DELETE FROM #tempNumberUpload         
  FROM #tempNumberUpload A  
  INNER JOIN IN_BUDGET B ON A.PRODUCT_ID = B.PRODUCT_ID  
  AND  B.FY=@FY AND B.BRANCH_ID=@BRANCH_ID  
    
 INSERT INTO IN_BUDGET(FY,BRANCH_ID,PRODUCT_ID,BUDGET_QTY,RATE,REMARKS,IS_ACTIVE,CREATED_BY,CREATED_DATE)  
 SELECT @FY,@BRANCH_ID,PRODUCT_ID,QTY,RATE,REMARKS,'Active',@USER,GETDATE()  
 FROM  #tempNumberUpload  
   
 DROP TABLE #tempNumberUpload  
 SELECT 'UPLOAD SUCCESS!' as msg;  
  
END
GO
