USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procFindDefaultLeaveDays]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[procFindDefaultLeaveDays]
		@LEAVENAME VARCHAR(50),
		@EMPLOYEEID VARCHAR(10)	
as
	set nocount on;				
	
DECLARE @DEFAULTDAYS float
DECLARE @DATEOFJOIN DATE
DECLARE @JOINYEAR VARCHAR(5)
DECLARE @CURRENTYEAR DATE
DECLARE @ENDDATE DATE
DECLARE @WORKINGDAYS float

if ISNUMERIC(@LEAVENAME)=0
	SELECT @DEFAULTDAYS=NO_OF_DAYS_DEFAULT FROM LeaveTypes WHERE NAME_OF_LEAVE=@LEAVENAME
else
	SELECT @DEFAULTDAYS=NO_OF_DAYS_DEFAULT FROM LeaveTypes WHERE ID=@LEAVENAME

IF @LEAVENAME IN ('1','2','3','Annual Leave','Casual Leave','Sick Leave')
BEGIN
	--SELECT * FROM Employee
	SELECT @DATEOFJOIN=JOINED_DATE FROM Employee WHERE EMPLOYEE_ID=@EMPLOYEEID


	Select @JOINYEAR=SUBSTRING(dbo.[GetNepaliDate](@DATEOFJOIN),7,4)
	--SELECT @CURRENTYEAR=SUBSTRING(dbo.[GetNepaliDate](GETDATE()),7,4)
	SELECT @CURRENTYEAR=GETDATE()

	IF SUBSTRING(dbo.[GetNepaliDate](@CURRENTYEAR),7,4)=@JOINYEAR
	BEGIN
		select @ENDDATE=eng_date from tbl_calendar  where nep_date='12-30-'+@JOINYEAR
		--SET @DATEOFJOIN='2010-8-19'
		SELECT @WORKINGDAYS=DATEDIFF(DAY,@DATEOFJOIN,@ENDDATE)+1

		SELECT ROUND((@DEFAULTDAYS*@WORKINGDAYS)/365,0) AS NO_OF_DAYS_DEFAULT,@DEFAULTDAYS as defaultdays
		return;
	END
END

SELECT @DEFAULTDAYS AS NO_OF_DAYS_DEFAULT,@DEFAULTDAYS as defaultdays
GO
