USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[ProcUserLogin]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Exec ProcUserLogin 'dipesh', 'dipesh','1'

CREATE proc [dbo].[ProcUserLogin]
	@user varchar(50),
	@pass varchar(50),
	@ip varchar(100) = null
	--@usercode varchar(20)
AS

set nocount on;
begin

	declare @Fiscal_nepali varchar(20) 
	declare @Fiscal_English varchar(20)
	
	
	select @Fiscal_nepali= fiscal_year_nepali, @Fiscal_English=fiscal_year_english from FiscalYear

	
	SELECT AdminID,UserName,UserPassword,e.BRANCH_ID,e.DEPARTMENT_ID, e.POSITION_ID,e.EMPLOYEE_ID,
		E.FIRST_NAME + ' ' + E.MIDDLE_NAME + ' ' + E.LAST_NAME+' ('+B.BRANCH_NAME+', '+D.DEPARTMENT_NAME+')' as Name
		,session,user_type,agent_id,@Fiscal_nepali as Fiscal_nepali, @Fiscal_English as Fiscal_English
		FROM Admins a with(nolock), Employee e with(nolock), Branches b with (nolock), Departments d with(nolock)
		WHERE 1=1 and status='Y'
		and a.Name=e.EMPLOYEE_ID
		and e.BRANCH_ID=b.BRANCH_ID
		and e.DEPARTMENT_ID=d.DEPARTMENT_ID 
		and  convert(varbinary(255),UserName) =convert(varbinary(255),@user) 
		and convert(varbinary(255),dbo.decryptDb(UserPassword))=convert(varbinary(255),@pass) 
		--and convert(varbinary(255),cast(adminID as varchar) )=convert(varbinary(255),cast(@usercode as varchar) )

		
	--###### Exec JobHistoryRecord 'i','JOB NAME','OLD VALUE','NEW VALUE','REMARKS','UPDATED ROW','user'
		if exists(SELECT AdminID FROM Admins WHERE convert(varbinary(255),UserName) =convert(varbinary(255),@user) 
		and convert(varbinary(255),dbo.decryptDb(UserPassword))=convert(varbinary(255),@pass) 
		--and convert(varbinary(255),adminID)=convert(varbinary(255),cast(@usercode as varchar)) 
		)
			Exec JobHistoryRecord 'i','USER LOGIN','','success',@user ,'',@user
		else
			Exec JobHistoryRecord 'i','USER LOGIN','','fail',@user ,'',@user

end
GO
