USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_MonthList]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[proc_MonthList](
	@flag	  varchar(1),
	@month_Number  varchar(20) = null,
	@month_Name  varchar(20) = null
	
)
as
set nocount on;
set Xact_abort on;
/*
	@flag:	's' -- Select
			'i' --update/insert

*/
if @flag='s' 
begin
	select 
		isnull((select name from MonthList where Month_Number = '1'), '')  as Month1,
		isnull((select name from MonthList where Month_Number = '2'), '')  as Month2,
		isnull((select name from MonthList where Month_Number = '3'), '')  as Month3,
		isnull((select name from MonthList where Month_Number = '4'), '')  as Month4,
		isnull((select name from MonthList where Month_Number = '5'), '')  as Month5,
		isnull((select name from MonthList where Month_Number = '6'), '')  as Month6,
		isnull((select name from MonthList where Month_Number = '7'), '')  as Month7,
		isnull((select name from MonthList where Month_Number = '8'), '')  as Month8,
		isnull((select name from MonthList where Month_Number = '9'), '')  as Month9,
		isnull((select name from MonthList where Month_Number = '10'),'')  as Month10,
		isnull((select name from MonthList where Month_Number = '11'),'')  as Month11,
		isnull((select name from MonthList where Month_Number = '12'),'')  as Month12
	return;
end
else if @flag in ('i','u')
begin
	-----------------------Month[1]------------------------------
	if @month_Name is not null
	begin
		if exists(select top 1 * from MonthList where Month_Number=@month_Number)
			update MonthList set Name=@month_Name where Month_Number=@month_Number
		else
			insert into [MonthList]([Name],[Month_Number])values(@month_Name,@month_Number)
	end
	end
GO
