USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[prcManageInventoryMaster]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
Exec prcManageInventoryMaster 'i',null,'1','17','78','1/6/2011',null,'000-Desktop-Computer-20110106-0001', '90000','0','1/15/2011',null, null,
'Active',null,null, null,'TESTING',null,'25',null,'N',null,5,'1000'
*/
CREATE PROC [dbo].[prcManageInventoryMaster]
	@flag VARCHAR(1),
	@row_id INT=NULL,
	@branch_id INT=NULL,
	@dept_id INT=NULL,
	@product_id INT=NULL,
	@booked_date VARCHAR(40)=NULL,
	@purchase_date VARCHAR(50)=NULL,
	@qty AS INT =null,
	@purchase_value MONEY=NULL,
	@acc_depriciation MONEY=NULL,
	@dep_start_date VARCHAR(400)=NULL,
	@ins_id INT=NULL,
	@bill_id INT=NULL,
	@asset_status VARCHAR(50)=NULL,
	@warr_expiry VARCHAR(40)=NULL,
	@asset_holder INT=NULL,
	@next_maintenance_date VARCHAR(40)=NULL,
	@narration VARCHAR(1000)=NULL,
	@asset_serial VARCHAR(200)=NULL,
	@depre_pct VARCHAR(20)=NULL,
	@received_id VARCHAR(10)=NULL,
	@is_amortised VARCHAR(2)=NULL,
	@life_month AS INT =null,	
	@user AS VARCHAR(50) =null,
	@vendor_id int =null,
	@old_asset_no varchar(50)=null,
	@old_asset_code varchar(50) = null,
	@model varchar(200) = null,
	@brand varchar(200) = null,
	@remian_month int = null

	
AS
	SET NOCOUNT ON;
	SET XACT_ABORT ON;	
	
	IF(@received_id = NULL)
		SET @received_id = 0
	
IF @flag='i'
BEGIN	

	DECLARE @NEPLI_MONTH AS INT,@remainMonth AS INT
	DECLARE @DEP_VALUE AS MONEY
	DECLARE @FY_YR AS VARCHAR(20)
	DECLARE @SQL VARCHAR(500)
	DECLARE @RowId AS INT	
	DECLARE @remainingqty AS INT
	DECLARE @default_nep_month AS INT
	DECLARE @asset_id AS INT
	DECLARE @intTotalRows AS INT,@asset_number AS VARCHAR(500),@group_id AS INT
	DECLARE @monthStartDate AS VARCHAR(20),@monthEndDate as varchar(20)

	
	CREATE TABLE #temAssetNum
	(
		asset_number VARCHAR(500)
	)
-- BEGIN TRANSACTION
BEGIN TRANSACTION	
SET @intTotalRows=1
WHILE @qty >=  @intTotalRows
BEGIN	
	INSERT #temAssetNum
			EXEC procGenerateAssetNumber @branch_id,@product_id,@booked_date
	SELECT @asset_number=asset_number FROM #temAssetNum		
	
	SET @group_id=dbo.GetGroupID(@product_id)
	
	INSERT INTO ASSET_INVENTORY(branch_id,dept_id,product_id,booked_date,asset_number,purchase_value,acc_depriciation,depr_start_date,
				ins_id,bill_id,asset_status,warr_expiry,asset_holder,next_maintenance_date,narration,asset_serial,depre_pct,receive_id,is_amortised,
				life_in_month,remain_month,purchase_date,created_by,created_date,group_id,VendorId)
    		VALUES(@branch_id,@dept_id,@product_id,@booked_date,@asset_number,@purchase_value,@acc_depriciation,@dep_start_date,@ins_id,
    			@bill_id,@asset_status,@warr_expiry,@asset_holder,@next_maintenance_date,@narration,@asset_serial,@depre_pct,@received_id,
    			@is_amortised,@life_month,@life_month,@purchase_date,@user,GETDATE(),@group_id,@vendor_id)    
    
    
    SET @asset_id=@@IDENTITY
    
	SET @FY_YR=dbo.FNAReturnCurrentFiscalYear(@dep_start_date)
	SET @NEPLI_MONTH=dbo.GetNepaliMonth(@dep_start_date)
	SET @default_nep_month = @NEPLI_MONTH
	SET @monthStartDate= dbo.GetMonthStartDateEng(@FY_YR,@NEPLI_MONTH)
	SET @monthEndDate= dbo.GetMonthEndDateEng(@FY_YR,@NEPLI_MONTH)
     
     --#################INSERTING ASSET DETAILS FOR OPENING BALANCE######################---
    INSERT INTO asset_opening_balance(asset_id,booked_date,dep_start_date,fiscal_year,branch_id,acc_dep,purchase_value,created_by,created_date)VALUES
	(@asset_id,@booked_date,@dep_start_date,@FY_YR,@branch_id,@acc_depriciation,@purchase_value,@user,GETDATE())
     
     
     
    IF (@@ERROR <> 0) GOTO QuitWithRollback 
    
    SELECT @remainingqty = remaining_qty FROM ASSET_ORDER_RECEIVED WHERE id = @received_id		
	IF (@remainingqty > 0)
	BEGIN
			SET @remainingqty = @remainingqty - 1
			UPDATE ASSET_ORDER_RECEIVED SET remaining_qty = @remainingqty 
				WHERE id = @received_id
	END	      
    
               
                   
	IF (@@ERROR <> 0) GOTO QuitWithRollback 
	
	IF @is_amortised='N'
	BEGIN
		
		SET @DEP_VALUE=ROUND(ROUND(((@purchase_value-ROUND(@acc_depriciation,2))*@depre_pct/100),2)/12,2)
		IF @DEP_VALUE>=0
		BEGIN
			---DECLARING VARIABLES FOR DAILY DEP VALUE CALCULATION--
			DECLARE @Monthdays AS INT,@START_DEP_VALUE AS MONEY,@actualDays AS INT			
			SET @Monthdays=DATEDIFF(DAY,@monthStartDate,@monthEndDate)+1
			SET @actualDays =DATEDIFF(DAY,@dep_start_date,@monthEndDate)+1
			SET @DEP_VALUE=ROUND((((@purchase_value-@acc_depriciation)*@depre_pct)/100)/12,2)					
			SET @START_DEP_VALUE=ROUND(@DEP_VALUE/@Monthdays,2)*@actualDays
			
			IF NOT EXISTS (SELECT * FROM depreciation_setup WHERE asset_id=@asset_id AND fiscal_year=@FY_YR)
			BEGIN
		
			INSERT INTO depreciation_setup(asset_id,fiscal_year,m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12,dep_pct,acc_dep,base_price)
			VALUES (@asset_id,@FY_YR,0,0,0,0,0,0,0,0,0,0,0,0,@depre_pct,ROUND(@acc_depriciation,2),@purchase_value)		

			SET @RowId=@@IDENTITY	

			IF @NEPLI_MONTH<=3
			BEGIN
					WHILE @NEPLI_MONTH < =3 
					BEGIN						
						SET @SQL= 'update depreciation_setup set M'+ CAST(@NEPLI_MONTH AS VARCHAR) +' = '+ CAST(@DEP_VALUE AS VARCHAR) +' 
						where id='+CAST(@RowId AS VARCHAR)
						
						EXECUTE (@SQL)						
						SET @NEPLI_MONTH=@NEPLI_MONTH+1
					END	

			END	
			ELSE
			BEGIN
					WHILE @NEPLI_MONTH < =12 
					BEGIN
						
						SET @SQL= 'update depreciation_setup set M'+ CAST(@NEPLI_MONTH AS VARCHAR) +' = '+ CAST(@DEP_VALUE AS VARCHAR) +' 
						where id='+CAST(@RowId AS VARCHAR)
						
						EXECUTE (@SQL)			
						SET @NEPLI_MONTH=@NEPLI_MONTH+1			
						
					END	
					
					UPDATE depreciation_setup SET m1=@DEP_VALUE,m2=@DEP_VALUE WHERE ID=@RowId
						
					IF @default_nep_month=4
					BEGIN
						DECLARE @DEP_VALUE3 AS MONEY
						
						SET @DEP_VALUE3=	ROUND(((@purchase_value-0)*@depre_pct/100),2)-@DEP_VALUE*11
						UPDATE depreciation_setup SET m3=@DEP_VALUE3 WHERE id=@RowId
					END	
					ELSE
					BEGIN
						UPDATE depreciation_setup SET m3=@DEP_VALUE WHERE id=@RowId
					END					
			END	
			SET @SQL= 'update depreciation_setup set M'+ CAST(@default_nep_month AS VARCHAR) +' = '+ CAST(@START_DEP_VALUE AS VARCHAR) +' 
									where id='+CAST(@RowId AS VARCHAR)									
			EXECUTE (@SQL)
		END		
		END
		ELSE
		BEGIN
			INSERT INTO depreciation_setup(asset_id,fiscal_year,m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12,dep_pct,acc_dep,base_price)
				VALUES (@asset_id,@FY_YR,0,0,0,0,0,0,0,0,0,0,0,0,0,0,@purchase_value)
		END
	END
	
	IF (@@ERROR <> 0) GOTO QuitWithRollback 
	
	UPDATE ASSET_BRANCH SET ASSET_NEXT_NUM = ASSET_NEXT_NUM +1  
	WHERE PRODUCT_ID=@product_id  AND BRANCH_ID=@branch_id
	
	IF (@@ERROR <> 0) GOTO QuitWithRollback 
		

	SET @intTotalRows=@intTotalRows+1
END

	SELECT  'SUCCESS' AS REMARKS
	
COMMIT TRANSACTION

GOTO EndSave	
QuitWithRollback:
ROLLBACK TRANSACTION 
			
	SELECT  'ERROR TO COMPLETE THIS TRANSACTION' AS MSG	
			 	
EndSave:			
END


IF @flag='u'
BEGIN	
	UPDATE ASSET_INVENTORY SET dept_id=@dept_id,ins_id=@ins_id,bill_id=@bill_id,asset_status=@asset_status,booked_date=@booked_date,
					purchase_date=@purchase_date,warr_expiry=@warr_expiry,next_maintenance_date=@next_maintenance_date,asset_holder=@asset_holder,
					narration=@narration,asset_serial=@asset_serial,depre_pct = @depre_pct,VendorId=@vendor_id WHERE id=@row_id
					

END

			------------------------------Modify Asset Location Branchwise------------------------------------------------
IF @flag='m'
BEGIN	
	UPDATE ASSET_INVENTORY SET 
							 dept_id=@dept_id,
							 ins_id=@ins_id,
							 bill_id=@bill_id,
							 asset_status=@asset_status,
							 booked_date=@booked_date,
							purchase_date=@purchase_date,
							warr_expiry=@warr_expiry,
							next_maintenance_date=@next_maintenance_date,
							asset_holder=@asset_holder,
							narration=@narration,
							asset_serial=@asset_serial,
							depre_pct = @depre_pct,
							VendorId=@vendor_id 
							WHERE id=@row_id
END
GO
