--USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procGetUserMenu]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec procGetUserMenu 'admin','HR'
alter procedure [dbo].[procGetUserMenu]  
@username varchar(50), 
@menuType varchar(2)  
as  
begin

 set nocount on;  
 declare @userId int  
 
 
		 if @username='admin'
		 begin
		 
				select distinct menu.sno,menu.function_name,menu.dis_order,menu.menu_group,menu.link_file 
				from user_function  menu WITH (NOLOCK)  where main_menu=@menuType  order by dis_order 
				 
			
		 end
		 else
		 begin
		 
			SELECT 
				distinct menu.sno,menu.function_name,menu.dis_order,menu.menu_group,menu.link_file 
			from Admins a with(nolock) 
						  inner join user_role ur with(nolock) on a.AdminID = ur.[user_id]   
						  inner join roles_detail rd with(nolock) on ur.role_id = rd.role_id   
						  inner join user_function menu with(nolock)  on rd.function_id = menu.sno  
			where a.UserName =@username and main_menu=@menuType
			order by cast(dis_order as int)  
			
		end
 
end
GO
