USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procDepreciationMonthlyRpt]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[procDepreciationMonthlyRpt]
	@flag VARCHAR(1),
	@fiscal_year VARCHAR(20)=null,
	@runMonth VARCHAR(10)=null,
	@branch_id VARCHAR(10)=null

AS

	DECLARE @month as varchar(20),@FYEndDate as varchar(20),@FYStartDate as varchar(20)
	declare @monthStartDate as varchar(20),@monthEndDate as varchar(20)
	SELECT @monthEndDate=dbo.GetMonthEndDateEng(@fiscal_year,@runMonth)
	SELECT @monthStartDate=dbo.GetMonthStartDateEng(@fiscal_year,@runMonth)

	SELECT @FYEndDate=EN_YEAR_END_DATE FROM FiscalYear where FISCAL_YEAR_NEPALI=@fiscal_year
	SELECT @FYStartDate=EN_YEAR_START_DATE FROM FiscalYear where FISCAL_YEAR_NEPALI=@fiscal_year
	
	
IF @flag='a'
BEGIN

-----##### ASSET REPORTING ####----------
	SELECT ROW_NUMBER() OVER(ORDER BY p.item_name) AS [S.N.],p.item_name as [Asset Group Name],isnull(p1.opening_balance,0) as [Opening Balance],
	isnull(q.addition_this_year,0) as [Addition This Year],isnull(q1.This_month,0) as [This Month],isnull(s.asset_in,0) as [Asset Transfer In],
	isnull(r.asset_out,0) as [Asset Transfer Out],isnull(t.asset_sold,0)+isnull(u.asset_writeof,0) as [Sold/WriteOff],
	isnull(p1.opening_balance,0)+isnull(q.addition_this_year,0)+isnull(s.asset_in,0)-isnull(r.asset_out,0)-isnull(t.asset_sold,0)-isnull(u.asset_writeof,0)
	as [Closing Balance]
	FROM 
	(
		select id, item_name from ASSET_ITEM a inner join 
		(
			select distinct group_id from ASSET_INVENTORY where branch_id=@branch_id
		)b on a.id=b.group_id
	)p
	left join 
	(
			SELECT x.id,x.item_name,sum(a.purchase_value) as opening_balance FROM Asset_Opening_Balance a 
			INNER JOIN ASSET_INVENTORY b on a.asset_id=b.id
			INNER JOIN ASSET_PRODUCT c on b.product_id=c.id
			INNER JOIN ASSET_ITEM d on c.item_id=d.id

			INNER JOIN 
			(
				SELECT id, item_name 
				FROM ASSET_ITEM
				WHERE id IN(SELECT DISTINCT parent_id FROM ASSET_ITEM WHERE is_product = '1') 
				
			) x ON x.id = d.parent_id

			where a.booked_date < @FYStartDate and a.branch_id=@branch_id and b.asset_status<>'Inactive'
			GROUP BY x.id, x.item_name
	
	)p1 on p1.id=p.id
	
---addition this month---
	left JOIN 
	(
		SELECT x.id,x.item_name,sum(a.purchase_value) as addition_this_year FROM Asset_Opening_Balance a 
		INNER JOIN ASSET_INVENTORY b on a.asset_id=b.id
		INNER JOIN ASSET_PRODUCT c on b.product_id=c.id
		INNER JOIN ASSET_ITEM d on c.item_id=d.id

		INNER JOIN 
		(
			SELECT id, item_name 
			FROM ASSET_ITEM
			WHERE id IN(SELECT DISTINCT parent_id FROM ASSET_ITEM WHERE is_product = '1') 
		
		) x ON x.id = d.parent_id

		where a.booked_date between @FYStartDate and @monthEndDate and b.asset_status<>'Inactive'
		
		and a.branch_id=@branch_id

		GROUP BY x.id, x.item_name
	)q on p.id=q.id
	left JOIN 
	(
		SELECT x.id,x.item_name,sum(a.purchase_value) as This_month FROM Asset_Opening_Balance a 
		INNER JOIN ASSET_INVENTORY b on a.asset_id=b.id
		INNER JOIN ASSET_PRODUCT c on b.product_id=c.id
		INNER JOIN ASSET_ITEM d on c.item_id=d.id

		INNER JOIN 
		(
			SELECT id, item_name 
			FROM ASSET_ITEM
			WHERE id IN(SELECT DISTINCT parent_id FROM ASSET_ITEM WHERE is_product = '1') 
		
		) x ON x.id = d.parent_id

		where a.booked_date between @monthStartDate and @monthEndDate and b.asset_status<>'Inactive'
		and a.branch_id=@branch_id

		GROUP BY x.id, x.item_name
	)q1 on p.id=q1.id
--transfer out----
	left JOIN 
	(
		SELECT x.id,x.item_name,sum(a.book_value+a.accumulated_dep) as asset_out FROM ASSET_TRANSFER_HISTORY a 
		INNER JOIN ASSET_INVENTORY b on a.asset_id=b.id
		INNER JOIN ASSET_PRODUCT c on b.product_id=c.id
		INNER JOIN ASSET_ITEM d on c.item_id=d.id

		INNER JOIN 
		(
			SELECT id, item_name 
			FROM ASSET_ITEM
			WHERE id IN(SELECT DISTINCT parent_id FROM ASSET_ITEM WHERE is_product = '1') 
		
		) x ON x.id = d.parent_id
		where a.created_date between @FYStartDate and @monthEndDate and FROM_branch=@branch_id and to_branch<>from_branch
		GROUP BY x.id, x.item_name
	)r on p.id=r.id

---transfet in----
	left JOIN 
	(
		SELECT x.id,x.item_name,sum(a.book_value+a.accumulated_dep) as asset_in FROM ASSET_TRANSFER_HISTORY a 
		INNER JOIN ASSET_INVENTORY b on a.asset_id=b.id
		INNER JOIN ASSET_PRODUCT c on b.product_id=c.id
		INNER JOIN ASSET_ITEM d on c.item_id=d.id

		INNER JOIN 
		(
			SELECT id, item_name 
			FROM ASSET_ITEM
			WHERE id IN(SELECT DISTINCT parent_id FROM ASSET_ITEM WHERE is_product = '1') 
		
		) x ON x.id = d.parent_id
	where a.created_date between @FYStartDate and @monthEndDate  and to_branch=@branch_id and to_branch<>from_branch
	GROUP BY x.id, x.item_name
	)s on s.id=p.id

	left JOIN 
	(
	---sold this year----
		SELECT x.id,x.item_name,sum(a.accumulate_dep+a.book_value) as asset_sold FROM ASSET_SALES_HISTORY a 
		INNER JOIN ASSET_INVENTORY b on a.asset_id=b.id
		INNER JOIN ASSET_PRODUCT c on b.product_id=c.id
		INNER JOIN ASSET_ITEM d on c.item_id=d.id

		INNER JOIN 
		(
			SELECT id, item_name 
			FROM ASSET_ITEM
			WHERE id IN(SELECT DISTINCT parent_id FROM ASSET_ITEM WHERE is_product = '1') 
		
		) x ON x.id = d.parent_id


		where a.sold_date between @FYStartDate and @monthEndDate  and b.branch_id=@branch_id
		GROUP BY x.id, x.item_name
	)t on p.id=t.id

	---write off this year----
	left JOIN 
	(
		SELECT x.id,x.item_name,sum(a.accumulate_dep+a.book_value) as asset_writeof FROM ASSET_WRITEOF_HISTORY a 
		INNER JOIN ASSET_INVENTORY b on a.asset_id=b.id
		INNER JOIN ASSET_PRODUCT c on b.product_id=c.id
		INNER JOIN ASSET_ITEM d on c.item_id=d.id

		INNER JOIN 
		(
			SELECT id, item_name 
			FROM ASSET_ITEM
			WHERE id IN(SELECT DISTINCT parent_id FROM ASSET_ITEM WHERE is_product = '1') 
		
		) x ON x.id = d.parent_id


		where a.write_off_date between @FYStartDate and @monthEndDate and b.branch_id=@branch_id
		GROUP BY x.id, x.item_name
	)u on p.id=u.id

order by p.item_name
END
IF @flag='b'
BEGIN
	------#####----DEPRECIATION REPORT----#####-------
		--delete from #tempDepAmount
		create table #tempDepAmount
			(
				fiscal_year varchar(20) null,
				run_month varchar(2) null,
				asset_id varchar(20) null,
				branch_id varchar(20) null,
				dep_value money null
			)

		IF @runMonth='1'
		BEGIN
			INSERT INTO #tempDepAmount(fiscal_year,run_month,asset_id,branch_id,dep_value)
			select fiscal_year,run_month,asset_id,branch_id,dep_value from 
			(
				SELECT * FROM depreciation_status WHERE fiscal_year=@fiscal_year AND run_month BETWEEN '4' AND '12' AND BRANCH_ID=@branch_id
				UNION ALL 
				SELECT * FROM depreciation_status WHERE fiscal_year=@fiscal_year AND run_month =1 AND branch_id=@branch_id
			)a
		END

		IF @runMonth='2'
		BEGIN
			INSERT INTO #tempDepAmount(fiscal_year,run_month,asset_id,branch_id,dep_value)
			SELECT fiscal_year,run_month,asset_id,branch_id,dep_value FROM 
			(
				SELECT * FROM depreciation_status WHERE fiscal_year=@fiscal_year AND run_month BETWEEN '4' AND '12' AND branch_id=@branch_id
					UNION ALL 
				SELECT * FROM depreciation_status WHERE fiscal_year=@fiscal_year AND run_month =1 AND branch_id=@branch_id
					UNION ALL 
				SELECT * FROM depreciation_status WHERE fiscal_year=@fiscal_year AND run_month =2 AND branch_id=@branch_id
			)a
		END
		IF @runMonth='3'
		BEGIN
			INSERT INTO #tempDepAmount(fiscal_year,run_month,asset_id,branch_id,dep_value)
			SELECT fiscal_year,run_month,asset_id,branch_id,dep_value FROM 
			(
				SELECT * FROM depreciation_status WHERE fiscal_year=@fiscal_year AND branch_id=@branch_id
			)A
		END
		IF @runMonth>=4
		BEGIN
			INSERT INTO #tempDepAmount(fiscal_year,run_month,asset_id,branch_id,dep_value)
			SELECT fiscal_year,run_month,asset_id,branch_id,dep_value FROM 
			(
				SELECT * FROM depreciation_status WHERE fiscal_year=@fiscal_year AND run_month BETWEEN '4' AND @runMonth AND branch_id=@branch_id
			)A
		END
	
	
	SELECT ROW_NUMBER() OVER(ORDER BY p.item_name) AS [S.N.],p.item_name as [Asset Group Name],isnull(p1.opening_balance,0) as [Opening Balance],
	isnull(q.addition_this_year,0) as [Addition This Year],isnull(q1.this_month,0) as [This Month],isnull(s.asset_in,0) as [Asset Transfer In],isnull(r.asset_out,0) as [Asset Transfer Out],
	isnull(t.asset_sold,0)+isnull(u.asset_writeof,0) as [Sold/WriteOff],
	isnull(p1.opening_balance,0)+isnull(q.addition_this_year,0)+isnull(s.asset_in,0)-isnull(r.asset_out,0)-isnull(t.asset_sold,0)-isnull(u.asset_writeof,0)
	as [Closing Balance]
	FROM 
	(
		select id, item_name from ASSET_ITEM a inner join 
		(
			select distinct group_id from ASSET_INVENTORY where branch_id=@branch_id
		)b on a.id=b.group_id
	)p
	left join 	
	(
			SELECT x.id,x.item_name,sum(a.acc_dep) as opening_balance FROM Asset_Opening_Balance a 
			INNER JOIN ASSET_INVENTORY b on a.asset_id=b.id
			INNER JOIN ASSET_PRODUCT c on b.product_id=c.id
			INNER JOIN ASSET_ITEM d on c.item_id=d.id

			INNER JOIN 
			(
				SELECT id, item_name 
				FROM ASSET_ITEM
				WHERE id IN(SELECT DISTINCT parent_id FROM ASSET_ITEM WHERE is_product = '1') 
			
			) x ON x.id = d.parent_id
		where --a.booked_date < @FYStartDate and 
		a.branch_id=@branch_id and b.asset_status<>'Inactive'
		GROUP BY x.id, x.item_name
	)p1 on p1.id=p.id 

	---addition this month---
	left JOIN 
	(
		
		SELECT x.id,x.item_name,sum(a.dep_value) as addition_this_year FROM depreciation_status a 
		INNER JOIN ASSET_INVENTORY b on a.asset_id=b.id
		INNER JOIN ASSET_PRODUCT c on b.product_id=c.id
		INNER JOIN ASSET_ITEM d on c.item_id=d.id

		INNER JOIN 
		(
			SELECT id, item_name 
			FROM ASSET_ITEM
			WHERE id IN(SELECT DISTINCT parent_id FROM ASSET_ITEM WHERE is_product = '1') 
	
		) x ON x.id = d.parent_id
		
		WHERE a.fiscal_year=@fiscal_year and b.asset_status<>'Inactive'
		and a.branch_id=@branch_id

		GROUP BY x.id, x.item_name
		
	)q on p.id=q.id
	left JOIN 
	(
			SELECT x.id,x.item_name,sum(a.dep_value) as this_month FROM depreciation_status a 
			INNER JOIN ASSET_INVENTORY b on a.asset_id=b.id
			INNER JOIN ASSET_PRODUCT c on b.product_id=c.id
			INNER JOIN ASSET_ITEM d on c.item_id=d.id

			INNER JOIN 
			(
				SELECT id, item_name 
				FROM ASSET_ITEM
				WHERE id IN(SELECT DISTINCT parent_id FROM ASSET_ITEM WHERE is_product = '1') 

			) x ON x.id = d.parent_id

			WHERE a.fiscal_year= @fiscal_year 
			and a.branch_id=@branch_id and run_month=@runMonth and b.asset_status<>'Inactive'

			GROUP BY x.id, x.item_name

	)q1 on p.id=q1.id
--transfer out----
	left JOIN 	
	(
		SELECT x.id,x.item_name,sum(a.accumulated_dep) as asset_out FROM ASSET_TRANSFER_HISTORY a 
		INNER JOIN ASSET_INVENTORY b on a.asset_id=b.id
		INNER JOIN ASSET_PRODUCT c on b.product_id=c.id
		INNER JOIN ASSET_ITEM d on c.item_id=d.id

		INNER JOIN 
		(
			SELECT id, item_name 
			FROM ASSET_ITEM
			WHERE id IN(SELECT DISTINCT parent_id FROM ASSET_ITEM WHERE is_product = '1') 
	
		) x ON x.id = d.parent_id
		
		where a.created_date between @FYStartDate and @monthEndDate and FROM_branch=@branch_id and to_branch<>from_branch
		GROUP BY x.id, x.item_name
	)r on p.id=r.id

	---transfet in----
	left JOIN 
	(
		SELECT x.id,x.item_name,sum(a.accumulated_dep) as asset_in FROM ASSET_TRANSFER_HISTORY a 
		INNER JOIN ASSET_INVENTORY b on a.asset_id=b.id
		INNER JOIN ASSET_PRODUCT c on b.product_id=c.id
		INNER JOIN ASSET_ITEM d on c.item_id=d.id

		INNER JOIN 
		(
			SELECT id, item_name 
			FROM ASSET_ITEM
			WHERE id IN(SELECT DISTINCT parent_id FROM ASSET_ITEM WHERE is_product = '1') 
	
		) x ON x.id = d.parent_id

		where a.created_date between @FYStartDate and @monthEndDate and to_branch=@branch_id and to_branch<>from_branch
		GROUP BY x.id, x.item_name
	)s on s.id=p.id

---sold this year----
	left JOIN 
	(	
		SELECT x.id,x.item_name,sum(a.accumulate_dep) as asset_sold FROM ASSET_SALES_HISTORY a 
		INNER JOIN ASSET_INVENTORY b on a.asset_id=b.id
		INNER JOIN ASSET_PRODUCT c on b.product_id=c.id
		INNER JOIN ASSET_ITEM d on c.item_id=d.id

		INNER JOIN 
		(
			SELECT id, item_name 
			FROM ASSET_ITEM
			WHERE id IN(SELECT DISTINCT parent_id FROM ASSET_ITEM WHERE is_product = '1') 

		) x ON x.id = d.parent_id

		where a.sold_date between @FYStartDate and @monthEndDate and b.branch_id=@branch_id
		GROUP BY x.id, x.item_name
	)t on p.id=t.id

---writeoff this year----
	left JOIN 
	(	
		SELECT x.id,x.item_name,sum(a.accumulate_dep) as asset_writeof FROM ASSET_WRITEOF_HISTORY a 
		INNER JOIN ASSET_INVENTORY b on a.asset_id=b.id
		INNER JOIN ASSET_PRODUCT c on b.product_id=c.id
		INNER JOIN ASSET_ITEM d on c.item_id=d.id

		INNER JOIN 
		(
			SELECT id, item_name 
			FROM ASSET_ITEM
			WHERE id IN(SELECT DISTINCT parent_id FROM ASSET_ITEM WHERE is_product = '1') 
		
		) x ON x.id = d.parent_id

		where a.write_off_date between @FYStartDate and @monthEndDate and b.branch_id=@branch_id
		GROUP BY x.id, x.item_name
	)u on p.id=u.id
order by p.item_name

END
GO
