USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_OtRuleSetUp]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[proc_OtRuleSetUp]
         @flag							varchar(10)			= NULL
        ,@otsetup_id					int					= NULL 
        ,@days_in_month					int					= NULL
	    ,@hour_in_day					decimal(4,2)		= NULL
	    ,@overtime_on					varchar(200)		= NULL
		,@created_by					varchar(50)			= NULL
	    ,@modified_by					varchar(50)			= NULL	--1-24
		


AS

SET NOCOUNT ON 

BEGIN TRY 
    

		
		
	  IF @flag='i'
		BEGIN
		insert into OtRuleSetUp (
					 days_in_month
					,hour_in_day
					,overtime_on
					,created_by
					,created_date
					
					
					)
					SELECT
					@days_in_month
				   ,@hour_in_day
				   ,@overtime_on
				   ,@created_by
				   ,GETDATE()
				 
				     
				    SET @otsetup_id=SCOPE_IDENTITY()
						      
					SELECT  'Data has been added successfully.' mes
		
		
	     
		END 
		
		
END TRY

BEGIN CATCH

           SELECT ERROR_MESSAGE() mgs
           
END CATCH
GO
