--USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procManageHolidayCalender]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXEC [procManageHolidayCalender] @FLAG='s',@id='2'
/*

select * from OfficialCalendar where TITLE='test5' and DATE='2013-01-01'

Exec procManageHolidayCalender @FLAG='i',@BRANCHES='59', @TITLE='Ghatasthapana',@DATE='10/16/2012', @DESC='Ghatasthapana',@FEMALE_ONLY='A', @USER='1000'

Exec procManageHolidayCalender @FLAG='i',@BRANCHES='1,2,3,4,5,6,7,37,38,39,40,', @TITLE='test5',@DATE='11/9/2012', @DESC='test5',@FEMALE_ONLY='A', @USER='1000'

*/

ALTER  PROCEDURE [dbo].[procManageHolidayCalender]
	 @FLAG				VARCHAR(10)	
	,@ID				int=null
	,@BRANCH_ID			INT=NULL
	,@BRANCHES			VARCHAR(MAX)=NULL
	,@TITLE				VARCHAR(500)=NULL
	,@DATE				VARCHAR(50)=NULL
	,@DESC				VARCHAR(MAX)=NULL
	,@FEMALE_ONLY		CHAR(1)=NULL
	,@BRANCH_GROUP		VARCHAR(50)=NULL
	,@USER				VARCHAR(50)=NULL
	

AS

SET NOCOUNT ON
	if @flag='i'
	begin  	
				
			Declare @TBranchCount int,@BranchCount INT

			Select @TBranchCount = count(branch_id) from Branches

			Select @BranchCount=count(name) from dbo.split(@Branches,',')
			
			If  @TBranchCount=@BranchCount
			Begin
				INSERT INTO OFFICIALCALENDAR(
						 BRANCHID
						,TITLE
						,DATE
						,NATURE
						,TYPE
						,DESCRIPTION
						,BRANCH_GROUP
						,FEMALE_ONLY
						,CREATEDBY
						,CREATEDDATE)
			SELECT NAME,@TITLE,@DATE,'FULL DAY','H',@DESC,@BRANCH_GROUP,@FEMALE_ONLY,@USER,GETDATE()
			FROM DBO.SPLIT(@BRANCHES,',') a,branches b where b.BRANCH_ID = NAME

			SELECT 'SUCCESS!' AS MSG
			END

			If  @TBranchCount<>@BranchCount
			Begin
				INSERT INTO OfficialCalendar(
						 BRANCHID
						,TITLE
						,DATE
						,NATURE
						,TYPE
						,DESCRIPTION
						,FEMALE_ONLY
						,BRANCH_GROUP
						,CREATEDBY
						,CREATEDDATE)

				SELECT  name ,@TITLE,@DATE,'Full Day','H',@DESC,@FEMALE_ONLY,@BRANCH_GROUP,@USER,GETDATE()
				FROM DBO.split(@BRANCHES,',') B
				Where name not in (Select BRANCHID from OfficialCalendar where TITLE=@TITLE and DATE=@DATE)
				Group by name
			END

			SELECT 'Success!' AS msg
	end
	
	if @flag='u'
	begin
					
		   update OfficialCalendar set
					 BRANCHID=@BRANCH_ID	 
					,TITLE=@TITLE
					,DATE=@DATE
					,DESCRIPTION=@DESC
					,FEMALE_ONLY=@FEMALE_ONLY
					,BRANCH_GROUP=@BRANCH_GROUP
					,MODIFIEDBY=@USER
					,MODIFIEDDATE=GETDATE()
			  where ID=@ID
						
			select 'Success!' as msg
	END
	
	if @flag='d'
	begin

		DELETE FROM OfficialCalendar WHERE ID=@ID 	
		
		SELECT 'Success!' AS msg
	end
	
	if @flag='s'
	begin
		SELECT ID,BRANCHID[BRANCH_ID],TITLE,CONVERT(VARCHAR,DATE,101) DATE,TYPE,DESCRIPTION,FEMALE_ONLY,BRANCH_GROUP
		FROM OfficialCalendar WHERE ID=@ID
	end
	
  	if @flag='b'
	begin
		if(@BRANCH_GROUP is null)
		begin
			SELECT BRANCH_ID,0 as FLAG,ROW_NUMBER() OVER(ORDER BY BRANCH_ID) [S.N.],
			UPPER(BRANCH_NAME+' ('+BRANCH_SHORT_NAME+')') [BRANCH NAME] FROM BRANCHES
		end
		else
		begin
			SELECT BRANCH_ID,0 as FLAG,ROW_NUMBER() OVER(ORDER BY BRANCH_ID) [S.N.],
			UPPER(BRANCH_NAME+' ('+BRANCH_SHORT_NAME+')') [BRANCH NAME] FROM BRANCHES
		where BRANCH_GROUP=@BRANCH_GROUP
		end
	end
	
	if @flag='x'
	begin
		SELECT BRANCH_ID,FLAG,ROW_NUMBER() OVER(ORDER BY BRANCH_ID) [S.N.],[BRANCH NAME] FROM (		
		SELECT distinct BRANCH_ID,1 as FLAG,b.BRANCH_GROUP,
		UPPER(BRANCH_NAME+' ('+BRANCH_SHORT_NAME+')') [BRANCH NAME] FROM BRANCHES a inner join OfficialCalendar b 
		on a.BRANCH_ID=b.BRANCHID WHERE b.TITLE = @TITLE and b.DATE = @DATE
		
		UNION ALL	
		
		SELECT distinct BRANCH_ID,0 as FLAG,BRANCH_GROUP, UPPER(BRANCH_NAME+' ('+BRANCH_SHORT_NAME+')') [BRANCH NAME] FROM BRANCHES 
		where BRANCH_ID not in ( select BRANCHID from OfficialCalendar WHERE TITLE = @TITLE and DATE = @DATE )) A
		where A.BRANCH_GROUP=isnull(@BRANCH_GROUP,BRANCH_GROUP) 
	end
	
	IF @FLAG='C'
	BEGIN
	
		IF EXISTS(SELECT * FROM Branches WHERE BRANCH_ID NOT IN(
		SELECT BRANCHID FROM OfficialCalendar WHERE DATE=@DATE))
		BEGIN
				SELECT dbo.GetBranchName(BRANCHID) [BRANCH NAME],
						Title as [HOLIDAY/EVENT TITLE], 
						convert(varchar, DATE, 107) as [HOLIDAY DATE], 
						Venue as [VENUE/NATURE], 
						Description as [DESCRIPTION], 
						CASE WHEN type ='H' then 'HOLIDAY' when type='E' 
						then 'EVENT' end 'TYPE' 
				FROM OfficialCalendar where DATE=@DATE
		END
		ELSE
		BEGIN
			  SELECT DISTINCT 'ALL BRANCHES' [BRANCH NAME],
						Title as [HOLIDAY/EVENT TITLE], 
						convert(varchar, DATE, 107) as [HOLIDAY DATE], 
						Venue as [VENUE/NATURE], 
						Description as [DESCRIPTION], 
						CASE WHEN type ='H' then 'HOLIDAY' when type='E' 
						then 'EVENT' end 'TYPE' 
				FROM OfficialCalendar where DATE=@DATE
		END

	END
	
	if @flag='e'
	begin
	
		if exists(select * from OfficialCalendar where BRANCHID=@BRANCH_ID and [DATE]=@DATE)
		begin
		   select 1
		   return;
		end
		else
		begin
			select 0
			return;
		end
	end
GO
