USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procVariousEmployeeInformation]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* 
	(1)Procedure Definition:
    ------------------------
	THIS PROCEDURE PREPARES VARIETY OF REPORTS ABOUT STAFFS
	 		
	(2) Relational Overview:
	------------------------
	(a) relation between above STAFF AND THEIR EDUCATION
	(b) relation between above STAFF AND CONTACT INFORMATION
	(c) relation between above DEPARTMENT AND STAFFS
	(d) relation between above BRANCH AND STAFFS
	(e) relation between above DEPARTMENT AND CONTACT LIST OF STAFFS
	(f) relation between above BRANCH AND CONTACT LIST OF STAFFS

*/
-- [ PROCEDURE_NAME	BRANCHID, DEPARTMENTID, POSITIONID, EMPLOYEEID, REPORTTYPE ]
-- exec  procVariousEmployeeInformation 6, null, null, null, EmployeeList

create PROCEDURE [dbo].[procVariousEmployeeInformation]
	@branchId		    varchar(25) = null,
	@departmentId		varchar(25) = null,
	@employeeId			varchar(25) = null,
	@positionId			varchar(25) = null,
	@reportType			varchar(25) = null

AS
SET NOCOUNT ON;
BEGIN

-- ** EMPLOYEE LIST AND THEIR CONTACT INFORMATION ** --

--1-A-- list out all EMPLOYEES in a particular BRANCH

	if @branchId is not null --*--
		and @departmentId is null
			and @employeeId is null
				and @positionId is null
					and @reportType = 'EmployeeList'
		begin
			select 
				e.FIRST_NAME + ' ' + e.MIDDLE_NAME + ' ' + e.LAST_NAME+ ' - [' + CAST(e.EMPLOYEE_ID AS VARCHAR(50)) +']' AS 'Full Name - GUID'
				,d.DEPARTMENT_NAME as 'Department'
			from Employee as e
				inner join Departments as d on d.DEPARTMENT_ID=e.DEPARTMENT_ID
				inner join Branches as b on b.BRANCH_ID=@branchId
			order by 
				e.FIRST_NAME
		end

--1-B-- list out all EMPLOYEES in a particular BRANCH with their CONTACT INFORMATION

	else if @branchId is not null
		and @departmentId is null
			and @positionId is null
				and @employeeId is null
					and @reportType = 'EmployeeList'
		begin
			select 
				e.FIRST_NAME + ' ' + e.MIDDLE_NAME + ' ' + e.LAST_NAME+ ' - [' + CAST(e.EMPLOYEE_ID AS VARCHAR(50)) +']' AS 'Full Name - GUID',
				e.OFFICE_PHONE		as 'Phone -Office',
				e.OFFICE_MOBILE		as 'Mobile -Office',
				e.OFFICIAL_EMAIL	as 'Official Email',
				e.PERSONAL_MOBILE	as 'Mobile - Personal'
				
			from Employee as e
				inner join Departments as d on d.DEPARTMENT_ID=e.DEPARTMENT_ID
				inner join Branches as b on b.BRANCH_ID=@branchId
			order by 
				e.FIRST_NAME
		end

--1-C-- list out all EMPLOYEES in a particular DEPARTMENT

	if @branchId is not null
		and @departmentId is not null
			and @positionId is null
				and @employeeId is null
					and @reportType = 'EmployeeList'
		begin
			select 
				e.FIRST_NAME + ' ' + e.MIDDLE_NAME + ' ' + e.LAST_NAME+ ' - [' + CAST(e.EMPLOYEE_ID AS VARCHAR(50)) +']' AS 'Full Name - GUID'
			from Employee as e
				inner join Departments as d on d.DEPARTMENT_ID=e.DEPARTMENT_ID
				inner join Branches as b on b.BRANCH_ID=@branchId
			order by 
				e.FIRST_NAME
		end

--1-D-- list out all EMPLOYEES in a particular DEPARTMENT with their CONTACT INFORMATION

	else if @branchId is not null
		and @departmentId is not null
			and @positionId is null
				and @employeeId is null
					and @reportType = 'EmployeeList'
		begin
			select 
				e.FIRST_NAME + ' ' + e.MIDDLE_NAME + ' ' + e.LAST_NAME+ ' - [' + CAST(e.EMPLOYEE_ID AS VARCHAR(50)) +']' AS 'Full Name - GUID',
				e.OFFICE_PHONE		as 'Phone -Office',
				e.OFFICE_MOBILE		as 'Mobile -Office',
				e.OFFICIAL_EMAIL	as 'Official Email',
				e.PERSONAL_MOBILE	as 'Mobile - Personal'
				
			from Employee as e
				inner join Departments as d on d.DEPARTMENT_ID=@departmentId
				inner join Branches as b on b.BRANCH_ID=@branchId
			order by 
				e.FIRST_NAME
		end

--1-E-- list out contact information of an EMPLOYEE in a particular DEPARTMENT with his/her CONTACT INFORMATION

	else if @branchId is not null
		and @departmentId is not null
			and @positionId is null
				and @employeeId is not null
					and @reportType = 'EmployeeList'
		begin
			select 
				e.FIRST_NAME + ' ' + e.MIDDLE_NAME + ' ' + e.LAST_NAME+ ' - [' + CAST(e.EMPLOYEE_ID AS VARCHAR(50)) +']' AS 'Full Name - GUID',
				e.OFFICE_PHONE		as 'Phone -Office',
				e.OFFICE_MOBILE		as 'Mobile -Office',
				e.OFFICIAL_EMAIL	as 'Official Email',
				e.PERSONAL_MOBILE	as 'Mobile - Personal'
				
			from Employee as e
				inner join Departments as d on d.DEPARTMENT_ID=@departmentId
				inner join Branches as b on b.BRANCH_ID=@branchId
		end
		
-- ** POSITIONWISE EMPLOYEE LIST AND THEIR CONTACT INFORMATION ** --
		
--2-A-- list out all EMPLOYEES in a particular BRANCH - based on POSITION 

	if @branchId is not null
		and @departmentId is null
			and @positionId is not null
				and @employeeId is null
					and @reportType = 'EmployeeListPositionWiseInBranch'
		begin
			select
				e.FIRST_NAME + ' ' + e.MIDDLE_NAME + ' ' + e.LAST_NAME+ ' - [' + CAST(e.EMPLOYEE_ID AS VARCHAR(50)) +']' AS 'Full Name - GUID'
			from Employee as e
				inner join Departments as d on d.DEPARTMENT_ID=e.DEPARTMENT_ID
				inner join Branches as b on b.BRANCH_ID=d.BRANCH_ID and b.BRANCH_ID = @branchId
				where 
					e.POSITION_ID =@positionId	
					  order by 
						e.FIRST_NAME
		end

--2-B--  list out all EMPLOYEES in a particular DEPARTMENT - based on POSITION 

	else if @branchId is not null
		and @departmentId is not null
			and @positionId is not null
				and @employeeId is null
					and @reportType = 'EmployeeListPositionWiseInDepartment'
		begin
			select
				e.FIRST_NAME + ' ' + e.MIDDLE_NAME + ' ' + e.LAST_NAME+ ' - [' + CAST(e.EMPLOYEE_ID AS VARCHAR(50)) +']' AS 'Full Name - GUID',
				p.POSITION_NAME as 'Designation'
			from 
				Employee as e, 
				Position as p
					inner join Departments as d on d.DEPARTMENT_ID=@departmentId
					inner join Branches as b on b.BRANCH_ID=@branchId
					 where 
						e.POSITION_ID =@positionId	
						  order by 
							e.FIRST_NAME, p.POSITION_NAME
		end
END
GO
