USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procManageExitInterview]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[procManageExitInterview]
	@flag char(1),
	@empId varchar(10)=null,
	@questionId varchar(10)=null,
	@answer varchar(1000)=null,
	@user varchar(50)=null,
	@rowid varchar(10)=null
AS

set nocount on ;


if @flag ='i'
BEGIN
		INSERT INTO ExitInterview (EMPLOYEE_ID,QUESTION_ID,ANSWER,CREATED_BY,CREATED_DATE)VALUES 
			(@empId,@questionId,@answer,@user,GETDATE())
END
GO
