USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procRptTransfer]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
select * from ExternalTransferPlan

SN	STAFF_ID	EFFECTIVE_DATE	ACTUAL_REPORT_DATE	FROM_DEPARTMENT	FROM_BRANCH	WHICH_BRANCH	WHICH_DEPARTMENT	TRANSFER_DESCRIPTION	TRANSFER_TYPE

Exec [procRptTransfer]
	 @flag='a'
	,@startDate='01-02-2010'
	,@endDate='01-02-2012'
	,@transferType=null
	,@frmBranch=null
	,@frmDepartment=null
	,@staffId=null
*/

CREATE proc [dbo].[procRptTransfer]
	 @flag varchar(1)
	,@startDate as varchar(20)=null
	,@endDate as varchar(20)=null
	,@transferType varchar(20)=null
	,@frmBranch varchar(20)=null
	,@frmDepartment varchar(20)=null
	,@staffId int=null
AS
SET NOCOUNT ON
 if @flag='a'
 BEGIN
 
 
	select ROW_NUMBER() over(order by id ) [S.N.]
	,E.EMP_CODE [EMPLOYEE CODE]
	,dbo.GetEmployeeFullNameOfId(STAFF_ID) [EMPLOYEE NAME]

	,CASE WHEN TRANSFER_TYPE='e' THEN 'External' ELSE 'Internal' END [TRANSFER TYPE]
	,convert(varchar,EFFECTIVE_DATE,107) [EFEECTIVE DATE]
	,dbo.GetBranchName(FROM_BRANCH) [FROM BRANCH]
	,dbo.GetDeptName(FROM_DEPARTMENT) [FROM DEPARTMENT]
	,dbo.GetBranchName(WHICH_BRANCH) [TO BRANCH]
	,dbo.GetDeptName(WHICH_DEPARTMENT) [TO DEPARTMENT]
	,TRANSFER_DESCRIPTION [TRANSFER DESCRIPTION]
	from ExternalTransferPlan ETP
	Inner join Employee E On ETP.STAFF_ID= E.EMPLOYEE_ID
	where EFFECTIVE_DATE between @startDate and @endDate+' 23:59:59'
	and TRANSFER_TYPE=ISNULL(@transferType,TRANSFER_TYPE)
	and FROM_BRANCH = ISNULL(@frmBranch,FROM_BRANCH) 
	and FROM_DEPARTMENT=ISNULL(@frmDepartment,FROM_DEPARTMENT)
	and STAFF_ID=ISNULL(@staffId,STAFF_ID)

END
GO
