USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_AppraiserRating]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROC [dbo].[proc_AppraiserRating]              
@flag VARCHAR(20)              
,@positionId int = null              
,@appraisalId int = null              
,@raterType varchar(5) = null              
,@questionId varchar(max) = NULL              
,@comments varchar(max) = NULL              
,@solecomment varchar(max) = NULL              
,@commentBy int = NULL              
,@commentDate datetime = NULL              
,@rating varchar(max) = nULL              
,@ratingBy int = NULL              
,@matrixId varchar(max) = NULL              
,@raterTypeFlag      varchar(10) = NULL              
,@R_comments         varchar(max) = null            
,@setFlag       varchar(10) = NULL              
,@letterIssuedOn VARCHAR(50) = NULL            
,@incrementEffectedOn VARCHAR(50) = NULL            
,@srComments VARCHAR(MAX) = NULL            
,@sendMailFlag  VARCHAR(10)  = NULL            
            
AS               
SET NOCOUNT ON;              
/*              
select * from appraisalRating where appraisalId = 4              
Exec [proc_AppraiserRating] @flag = 's',@appraisalId='67',@raterType='a'              
Exec [proc_AppraiserRating] @flag = 'pc',@appraisalId='4'              
Exec [proc_AppraiserRating] @flag='i',@appraisalId='2',@commentBy='1000',@questionId='18,19,20,21,22',@comments='test,test,test,test,test'              
Exec [proc_AppraiserRating] flag='i',@appraisalId='2',@commentBy='1000',@questionId='1,2,4,6,7,8,9,10,11,12,13,16,15,17',@comments='YES,NO,YES,22,33,44,55,66,test1,test1,test1,test1,test1,test1'              
*/              
              
BEGIN TRY              
IF @flag='s'              
BEGIN               
              
              
declare @supervisor as float, @reviewer as float              
              
              
SELECT @supervisor=trm.percentage,@reviewer=trm1.percentage from Appraisal a              
inner join appraisalPosition ap on ap.position = a.POSITION_ID              
inner join templateRecord t on t.templateId = ap.templateId              
inner join templateRecordMarking trm on trm.templateId = t.templateId and trm.markingBy='741'              
inner join templateRecordMarking trm1 on trm1.templateId = t.templateId and trm1.markingBy='742'              
where a.ID=@appraisalId              
              
 SELECT            
   main.*            
  ,[ar_a] = ar.a             
  ,[ar_r] = ar.r            
  ,[ar_s] = ar.s            
  ,[comment_a] = comment.a             
  ,[comment_r] = comment.r            
  ,[comment_s] = comment.s             
 FROM (            
  SELECT               
    ROW_NUMBER() OVER(PARTITION BY appraisalSubTopic ORDER BY appraisalSubTopic ASC) SN              
   ,ar.matrixId               
   ,p.appraisalSubTopic              
   ,[appraisal Sub Topic] = s.DETAIL_DESC              
   ,[Weight(%)] = appraisalSubTopicWeight               
   ,[Job Element] = s1.DETAIL_DESC             
   ,[WeightJE(%)] = jobElementWeight              
   ,[Total Weight (%)] = (appraisalSubTopicWeight * jobElementWeight)/100             
   ,ar.[s]              
   ,ar.[r]              
   ,ar.[a]              
   ,[Total Weight] = (((@supervisor*0.01)*isnull(ar.[s],0)) + ((@reviewer*0.01)*isnull(ar.[r],0)))* ((appraisalSubTopicWeight * jobElementWeight)*0.01)*0.01                
  FROM performanceAppMatrixSetup p               
  INNER JOIN StaticDataDetail s ON s.ROWID = p.appraisalSubTopic              
  INNER JOIN StaticDataDetail s1 ON s1.ROWID = p.jobElement              
  INNER JOIN templateRecord t ON t.templateId = p.templateId              
                
  INNER JOIN (              
  SELECT               
    matrixId             
   ,[s]              
   ,[r]              
   ,[a]              
  FROM (              
    SELECT                  
   matrixId             
   ,raterType              
     ,isnull(rating,'')rating              
    FROM appraisalRating  where appraisalId = @appraisalId              
  ) st              
  PIVOT(              
   MAX(rating)              
   FOR raterType IN ([s], [r], [a])              
  ) p               
    ) ar ON ar.matrixId = p.perAppMatSetUpId              
               
  INNER JOIN appraisalRating ar2 ON ar.matrixId = ar2.matrixId             
  WHERE  ar2.appraisalId = @appraisalId  and ar2.raterType = @raterType            
 ) main            
 LEFT JOIN (            
  SELECT               
               
    ar.matrixId            
   ,ar.[s]              
   ,ar.[r]              
   ,ar.[a]            
  FROM performanceAppMatrixSetup p              
  INNER JOIN (              
  SELECT               
    matrixId             
   ,[s]              
   ,[r]              
   ,[a]              
  FROM (         
    SELECT                  
   matrixId             
   ,raterType              
     ,isnull(R_flag,'')ar              
    FROM appraisalRating  where appraisalId = @appraisalId              
  ) st              
  PIVOT(              
   MAX(ar)              
   FOR raterType IN ([s], [r], [a])              
  ) p               
    ) ar ON ar.matrixId = p.perAppMatSetUpId              
               
  INNER JOIN appraisalRating ar2 ON ar.matrixId = ar2.matrixId              
  WHERE  ar2.appraisalId = @appraisalId  and ar2.raterType = @raterType            
 ) ar ON main.matrixId = ar.matrixId            
             
 LEFT JOIN (            
  SELECT               
    ar.matrixId              
   ,ar.[s]              
   ,ar.[r]              
   ,ar.[a]              
               
  FROM performanceAppMatrixSetup p               
             
                
  INNER JOIN (              
  SELECT               
   matrixId             
   ,[s]              
   ,[r]              
   ,[a]              
  FROM (              
    SELECT                  
   matrixId             
   ,raterType              
     ,isnull(R_comments,'')comment              
    FROM appraisalRating  where appraisalId = @appraisalId              
  ) st              
  PIVOT(              
   MAX(comment)              
   FOR raterType IN ([s], [r], [a])              
  ) p               
    ) ar ON ar.matrixId = p.perAppMatSetUpId              
               
  INNER JOIN appraisalRating ar2 ON ar.matrixId = ar2.matrixId              
  WHERE  ar2.appraisalId = @appraisalId  and ar2.raterType = @raterType            
 ) comment ON main.matrixId = comment.matrixId            
              
              
END              
              
IF @flag = 'ir'              
BEGIN              
            
DECLARE @supervisorID int, @reviewerId  int            
            
  IF EXISTS(SELECT DISTINCT appraisalId FROM appraisalRating WHERE appraisalId = @appraisalId and raterType = @raterType)            
  BEGIN            
     delete appraisalRating where appraisalId  = @appraisalId and raterType = @raterType            
  END            
              
 SELECT @supervisorID=SUPERVISOR from appraisalSupervisorAssignment WHERE appraisal_id=@appraisalId and SUPERVISOR_TYPE='s'            
            
 SELECT @reviewerId=SUPERVISOR from appraisalSupervisorAssignment WHERE appraisal_id=@appraisalId and SUPERVISOR_TYPE='r'            
             
 INSERT INTO appraisalRating(appraisalId              
          ,raterType              
          ,ratingBy              
          ,ratingDate              
          ,matrixId              
          ,rating              
          ,setFlag            
          ,srComments               
          )              
       SELECT @appraisalId              
         ,@raterType              
         ,@ratingBy              
         ,GETDATE()              
         ,m.name              
         ,r.name              
         ,@setFlag            
         ,REPLACE(sr.name,'~',',')--sr.name               
         FROM dbo.split(@matrixId, ',') m              
         INNER JOIN (SELECT id, NULLIF(LTRIM(name), '') as name            
         FROM dbo.split(@rating, ',')) r ON m.id = r.id              
         LEFT JOIN (SELECT id,  NULLIF(LTRIM(name), '') as name             
   FROM dbo.split(@srComments, ',') ) sr on sr.id = m.id            
             
 IF @supervisorID=@reviewerId             
 BEGIN            
             
 INSERT INTO appraisalRating(appraisalId              
          ,raterType              
          ,ratingBy              
          ,ratingDate              
          ,matrixId              
          ,rating              
          ,setFlag            
          ,srComments               
          )              
       SELECT @appraisalId              
         ,'r'              
         ,@ratingBy              
         ,GETDATE()              
         ,m.name              
         ,r.name              
         ,'p'            
         ,REPLACE(sr.name,'~',',')--sr.name                
         FROM dbo.split(@matrixId, ',') m              
         INNER JOIN (SELECT id, NULLIF(LTRIM(name), '') as name            
         FROM dbo.split(@rating, ',')) r ON m.id = r.id              
     LEFT JOIN (SELECT id,  NULLIF(LTRIM(name), '') as name             
   FROM dbo.split(@srComments, ',') ) sr on sr.id = m.id            
 END            
              
              
  IF @raterType='s'              
   UPDATE Appraisal SET APPRAISER_DATE = GETDATE() WHERE ID = @appraisalId                    
                        
  SELECT  '0' error_code, 'Data Save Successfully' AS msg                        
                       
END            
              
IF @flag = 'i'              
BEGIN              
            
  IF EXISTS(SELECT DISTINCT appraisalId FROM appraisalComments WHERE appraisalId = @appraisalId AND raterTypeFlag = @raterTypeFlag AND ISNULL(flag,'n')<>'t')            
  BEGIN            
  delete appraisalComments where appraisalId  = @appraisalId AND raterTypeFlag = @raterTypeFlag AND ISNULL(flag,'n')<>'t'             
  END            
              
  INSERT INTO appraisalComments(appraisalId              
     ,soleComment              
     ,commentBy              
     ,commentDate              
     ,raterTypeFlag             
     ,flag             
     ,questionId              
     ,comments            
          )              
       SELECT @appraisalId              
         ,@solecomment              
         ,@commentBy              
         ,GETDATE()              
         ,@raterTypeFlag            
         ,@setFlag              
         ,q.name              
         ,REPLACE(f.name,'~',',') --f.name              
          FROM dbo.split(@questionId, ',') q              
          INNER JOIN (              
           SELECT               
            id, name               
           FROM dbo.split(@comments, ',')              
          ) f ON q.id = f.id              
                      
  IF @raterTypeFlag='rc'              
   UPDATE Appraisal SET HRC_DATE = GETDATE() WHERE ID=@appraisalId                   
                        
  SELECT  '0' error_code, 'Data Save Successfully' as msg                
              
    --declare @setflag varchar(2)            
    select @setflag = setFlag from appraisalrating where appraisalId=@appraisalId and raterType=@raterTypeFlag             
                
    IF(@setflag='sf')            
  BEGIN                
                  
  -- Send Email Notification to Appraisee.              
   Declare @msgContent Varchar(max)              
   ,@Appraisee varchar(300)              
   ,@recipient Varchar(max)              
   ,@sub_text varchar(max)              
                 
   Select @Appraisee = EMPLOYEE_ID  from Appraisal where ID =@appraisalId              
                 
    SET @msgContent=              
    'Dear Sir/Madam '              
     +Rtrim(dbo.GetEmployeeFullNameOfId(@commentBy))+' has appraised you.              
     Please review the appraisal.              
                  
    click here to go in system : http://192.168.1.6/              
              
    Thanks & Regards              
    Nabil Bank (HR Department)'              
              
   SELECT @recipient = ISNULL(@recipient + '; ', '') +              
   CAST(OFFICIAL_EMAIL AS varchar(200)) FROM Employee WHERE EMPLOYEE_ID =@Appraisee              
              
   EXEC PROC_MAIL_SEND @recipient=@recipient, @subject_text='Performance Appraisal', @msg_text=@msgContent               
                 
  -- Send Email Notification to HR Commitee.              
   Declare @msgContent1 Varchar(max)              
   ,@Review varchar(300)              
   ,@employee Varchar(5)              
   ,@recipient1 Varchar(max)              
                 
   select @employee= EMPLOYEE_ID from Appraisal where ID=@appraisalId              
   Select @Review =  ISNULL(@Review + ',', '')+cast(SUPERVISOR as varchar) from SuperVisroAssignment where EMP=@employee and SUPERVISOR_TYPE='h'              
                 
    SET @msgContent1=              
    'Dear Sir/Madam '              
     +Rtrim(dbo.GetEmployeeFullNameOfId(@commentBy))+' has appraised '+Rtrim(dbo.GetEmployeeFullNameOfId(@employee))+'.              
     Please review and appraise the employee.              
                  
    click here to go in system : http://192.168.1.6/              
              
    Thanks & Regards              
    Nabil Bank (HR Department)'              
              
   SELECT @recipient1 = ISNULL(@recipient1 + '; ', '') +              
   CAST(OFFICIAL_EMAIL AS varchar(200)) FROM Employee WHERE EMPLOYEE_ID in (@Review)              
                 
   EXEC PROC_MAIL_SEND @recipient=@recipient1, @subject_text='Performance Appraisal', @msg_text=@msgContent1               
                
    END             
                       
END              
            
IF @flag = 'insertRC'  -- insert review comments            
BEGIN              
            
  IF EXISTS(SELECT DISTINCT appraisalId FROM appraisalComments WHERE appraisalId = @appraisalId AND raterTypeFlag = @raterTypeFlag AND ISNULL(flag,'n')='t' and questionId is not null and commentBy=@commentBy)            
  BEGIN            
  delete appraisalComments where appraisalId  = @appraisalId AND raterTypeFlag = @raterTypeFlag AND ISNULL(flag,'n')='t' and questionId is not null and commentBy=@commentBy            
  END            
              
  INSERT INTO appraisalComments(appraisalId              
     ,soleComment              
     ,commentBy              
     ,commentDate              
     ,raterTypeFlag             
     ,flag             
     ,questionId              
     ,comments            
          )              
       SELECT @appraisalId              
         ,@solecomment              
         ,@commentBy              
         ,GETDATE()              
         ,@raterTypeFlag            
         ,@setFlag              
         ,q.name              
         ,REPLACE(f.name,'~',',') --f.name              
          FROM dbo.split(@questionId, ',') q              
          INNER JOIN (              
           SELECT               
            id, name               
           FROM dbo.split(@comments, ',')              
          ) f ON q.id = f.id              
                      
  IF @raterTypeFlag='rc'              
   UPDATE Appraisal SET HRC_DATE = GETDATE() WHERE ID=@appraisalId                   
                        
  SELECT  '0' error_code, 'Data Save Successfully' as msg                
                
   IF(@sendMailFlag='sf')            
  BEGIN                
                
    -- Send Email Notification to Appraisee.            
   Declare @Content Varchar(max)            
   ,@Appraisee1 varchar(300)            
   ,@recipientMail Varchar(max)            
   ,@sub_text1 varchar(max)            
               
   Select @Appraisee1 = EMPLOYEE_ID  from Appraisal where ID =@appraisalId            
               
    SET @Content=            
    'Dear Sir/Madam '            
     +Rtrim(dbo.GetEmployeeFullNameOfId(@commentBy))+' has appraised you.            
     Please review the appraisal.            
                
    click here to go in system : http://192.168.1.6/            
            
    Thanks & Regards            
    Nabil Bank Ltd. (HR Department)'            
            
   SELECT @recipientMail = ISNULL(@recipientMail + '; ', '') +            
   CAST(OFFICIAL_EMAIL AS varchar(200)) FROM Employee WHERE EMPLOYEE_ID =@Appraisee1            
            
   EXEC PROC_MAIL_SEND @recipient=@recipientMail, @subject_text='Performance Appraisal', @msg_text=@Content             
               
  -- Send Email Notification to Reviewer.            
   Declare @Content1 Varchar(max)            
   ,@Review1 varchar(300)            
   ,@employee1 Varchar(5)            
   ,@recipientMail1 Varchar(max)            
               
   select @employee1= EMPLOYEE_ID from Appraisal where ID=@appraisalId            
   Select @Review1 =  REVIEWER_ID  from Appraisal where ID =@appraisalId            
               
    SET @Content1=            
    'Dear Sir/Madam '            
     +Rtrim(dbo.GetEmployeeFullNameOfId(@commentBy))+' has appraised '+Rtrim(dbo.GetEmployeeFullNameOfId(@employee1))+'.            
     Please review and appraise the employee.            
                
    click here to go in system : http://192.168.1.6/            
            
    Thanks & Regards            
    Nabil Bank Ltd (HR Department)'            
            
   SELECT @recipientMail1 = ISNULL(@recipientMail1 + '; ', '') +            
   CAST(OFFICIAL_EMAIL AS varchar(200)) FROM Employee WHERE EMPLOYEE_ID =@Review1            
            
   set @sub_text1='Performance Appraisal of '+@employee1            
            
   EXEC PROC_MAIL_SEND @recipient=@recipientMail1, @subject_text='Performance Appraisal', @msg_text=@Content1            
  END            
                       
END              
            
              
IF @flag='s2'              
BEGIN              
  SELECT ao.appOtherSectionId, sdd.DETAIL_DESC [Title],sdd.DETAIL_TITLE[sectionId],ao.section,ao.question,ao.answerType,x.templateId FROM               
                      (SELECT ap.templateId,a.ID FROM Appraisal a inner join appraisalPosition ap ON a.POSITION_ID = ap.position) x               
                      INNER JOIN appraisalOtherSection ao ON ao.templateId = x.templateId               
                      INNER JOIN StaticDataDetail sdd ON sdd.ROWID = ao.section                                 
                      WHERE x.ID = @appraisalId order by ao.section              
END              
              
IF @flag = 'pc'              
BEGIN              
  SELECT ao.appOtherSectionId, sdd.DETAIL_DESC [Title],sdd.DETAIL_TITLE[sectionId],ao.section,ao.question,ao.answerType,x.templateId              
  , ac.comments               
  FROM               
                  (SELECT ap.templateId,a.ID FROM Appraisal a INNER JOIN appraisalPosition ap ON a.POSITION_ID = ap.position) x               
                  INNER JOIN appraisalOtherSection ao ON ao.templateId = x.templateId              
                  LEFT JOIN appraisalComments ac ON ac.questionId = ao.appOtherSectionId and ac.appraisalId = x.ID              
                  INNER JOIN StaticDataDetail sdd ON sdd.ROWID = ao.section                                 
                  WHERE ac.appraisalId = @appraisalId order by ao.section              
END              
            
IF @flag = 'rj'              
BEGIN             
            
   UPDATE appraisalRating SET            
    R_flag = 'r'            
   ,R_comments = @R_comments            
  where appraisalId = @appraisalId AND matrixId = @matrixId AND raterType = @raterType            
               
END             
            
IF @flag = 'ru'              
BEGIN              
            
   UPDATE appraisalRating SET            
    R_flag = 's'            
   ,rating = @rating            
  where appraisalId = @appraisalId AND matrixId = @matrixId AND raterType = @raterType            
             
END             
            
IF @flag = 's3'            
 BEGIN            
 SELECT sdd.appOtherSectionId, sdd.question,ac.comments,sdd.answerType FROM appraisalOtherSection sdd WITH(NOLOCK)            
 INNER JOIN templateRecord tr WITH(NOLOCK) ON sdd.templateId = tr.templateId            
 INNER JOIN appraisalPosition ap WITH(NOLOCK) ON ap.templateId = tr.templateId            
 INNER JOIN appraisal apr WITH(NOLOCK) ON apr.POSITION_ID = ap.position            
 LEFT JOIN appraisalComments ac WITH(NOLOCK) ON sdd.appOtherSectionId = ac.questionId AND ac.appraisalId=@appraisalId             
 --WHERE sdd.section = 1963 AND apr.ID = @appraisalId             
 WHERE sdd.section = 1917 AND apr.ID = @appraisalId             
 RETURN             
 END             
             
IF @flag = 's4'            
 BEGIN            
 SELECT sdd.appOtherSectionId, sdd.question,ac.comments,sdd.answerType FROM appraisalOtherSection sdd WITH(NOLOCK)            
 INNER JOIN templateRecord tr WITH(NOLOCK) ON sdd.templateId = tr.templateId            
 INNER JOIN appraisalPosition ap WITH(NOLOCK) ON ap.templateId = tr.templateId            
 INNER JOIN appraisal apr WITH(NOLOCK) ON apr.POSITION_ID = ap.position            
 LEFT JOIN appraisalComments ac WITH(NOLOCK) ON sdd.appOtherSectionId = ac.questionId AND ac.appraisalId=@appraisalId             
 WHERE sdd.section = 1918 AND apr.ID = @appraisalId             
 RETURN             
 END             
            
 IF @flag = 's6'            
 BEGIN            
 declare @sickleave varchar(10) = null;          
 select @sickleave =SUM(REQUESTED_DAYS) from LeaveRequest lr          
 inner join appraisal a on a.EMPLOYEE_ID=lr.REQUESTED_BY           
 where a.ID=1261 and REQUESTED_BY = a.EMPLOYEE_ID and LEAVE_TYPE_ID = '3'           
 and REQUEST_DATE between convert(varchar,a.FROM_DATE,101) and convert(varchar,a.TO_DATE,101)          
          
 SELECT         
 sdd.appOtherSectionId        
 ,sdd.question        
  ,comments = case when  sdd.appOtherSectionId = 48 then isnull(@sickleave ,'0')        
    else ac.comments end        
 ,sdd.answerType        
  FROM appraisalOtherSection sdd WITH(NOLOCK)            
 INNER JOIN templateRecord tr WITH(NOLOCK) ON sdd.templateId = tr.templateId            
 INNER JOIN appraisalPosition ap WITH(NOLOCK) ON ap.templateId = tr.templateId            
 INNER JOIN appraisal apr WITH(NOLOCK) ON apr.POSITION_ID = ap.position            
 LEFT JOIN appraisalComments ac WITH(NOLOCK) ON sdd.appOtherSectionId = ac.questionId AND ac.appraisalId=@appraisalId             
 WHERE sdd.section = 1920 AND apr.ID = @appraisalId             
 RETURN             
 END            
             
 IF @flag = 's8'            
 BEGIN            
 SELECT sdd.appOtherSectionId, sdd.question,ac.comments,sdd.answerType FROM appraisalOtherSection sdd WITH(NOLOCK)            
 INNER JOIN templateRecord tr WITH(NOLOCK) ON sdd.templateId = tr.templateId            
 INNER JOIN appraisalPosition ap WITH(NOLOCK) ON ap.templateId = tr.templateId            
 INNER JOIN appraisal apr WITH(NOLOCK) ON apr.POSITION_ID = ap.position            
 LEFT JOIN appraisalComments ac WITH(NOLOCK) ON sdd.appOtherSectionId = ac.questionId AND ac.appraisalId=@appraisalId            
 WHERE sdd.section = 1922 AND apr.ID = @appraisalId             
 RETURN             
 END            
             
            
IF @flag = 'hDepComment'            
BEGIN            
 INSERT INTO appraisalComments(letterIssuedOn,incrementEffectedOn,appraisalId,commentBy,commentDate, raterTypeFlag,flag)            
 SELECT @letterIssuedOn,@incrementEffectedOn,@appraisalId,@commentBy,GETDATE(),'h' ,'f'            
             
 UPDATE Appraisal SET CEO_DATE = GETDATE() WHERE ID=@appraisalId             
               
 SELECT  '0' error_code, 'Data Save Successfully' as msg                    
END            
            
IF @flag = 'getHdepComment'            
BEGIN            
 SELECT letterIssuedOn = convert(VARCHAR, letterIssuedOn,101), incrementEffectedOn= CONVERT(VARCHAR, incrementEffectedOn,101) FROM appraisalComments WHERE appraisalId = @appraisalId AND raterTypeFlag ='h' AND flag='f'            
END            
            
--IF @flag = 'sr6'            
--BEGIN            
-- SELECT AC.questionId appOtherSectionId ,AOS.question,AC.comments ,answerType            
-- FROM appraisalComments AC WITH(NOLOCK)            
-- INNER JOIN appraisalOtherSection AOS WITH(NOLOCK) ON AC.questionId=AOS.appOtherSectionId            
-- WHERE APPRAISALID=@appraisalId AND raterTypeFlag='rc'            
-- RETURN             
--END            
            
END TRY            
              
BEGIN CATCH              
              
 IF @@TRANCOUNT > 0              
 ROLLBACK TRANSACTION             
   SELECT '0' ERROR_CODE, 'Error In Operation! Please Insert Valid Data' msg              
              
END CATCH              
/*              
select * from appraisalRating              
select * from appraisalComments              
truncate table appraisalRating              
truncate table appraisalComments              
select * from appraisalComments              
*/
GO
