USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procAssetBookingApproval]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[procAssetBookingApproval]
	@flag VARCHAR(1),
	@table_id INT=NULL,	
	@user AS VARCHAR(50)=null,
	@queue_id as int=null
	
AS
	SET NOCOUNT ON;
	SET XACT_ABORT ON;	

	
IF @flag='i'
BEGIN	

	DECLARE @NEPLI_MONTH AS INT,@remainMonth AS INT
	DECLARE @DEP_VALUE AS MONEY
	DECLARE @FY_YR AS VARCHAR(20)
	DECLARE @SQL VARCHAR(500)
	DECLARE @RowId AS INT	
	DECLARE @remainingqty AS INT
	DECLARE @default_nep_month AS INT
	DECLARE @asset_id AS INT
	DECLARE @asset_number AS VARCHAR(500),@group_id AS INT
	DECLARE @monthStartDate AS VARCHAR(20),@monthEndDate AS VARCHAR(20)

	
	CREATE TABLE #temAssetNum
	(
		asset_number VARCHAR(500)
	)
	
	
	--SELECT * FROM ASSET_INVENTORY_TEMP
	--EXEC [procAssetBookingApproval] 'i','1','1000'
	
	DECLARE @branch_id AS INT,@dept_id AS INT,@product_id AS INT, @vendor_id as INT ,@booked_date AS VARCHAR(20),@purchase_value AS MONEY,
			@acc_depriciation AS MONEY,@dep_start_date AS VARCHAR(20),@ins_id AS INT,@bill_id AS INT,@asset_status AS VARCHAR(20),@warr_expiry VARCHAR(20),
			@asset_holder AS INT,@next_maintenance_date AS VARCHAR(20),@narration AS VARCHAR(MAX),@asset_serial AS VARCHAR(200),@depre_pct AS VARCHAR(20),
			@is_amortised AS VARCHAR(2),@life_month AS INT,@remain_month AS INT,@purchase_date AS VARCHAR(20),@old_asset_no AS VARCHAR(50),@old_asset_code AS VARCHAR(50),
			@model AS VARCHAR(200),@brand AS VARCHAR(200)
	
	SELECT @branch_id=branch_id,@dept_id=dept_id,@product_id=product_id,@booked_date=booked_date,@purchase_value=purchase_value,
		@acc_depriciation=acc_depriciation,@dep_start_date=depr_start_date,@ins_id=ins_id,@bill_id=bill_id,@asset_status=asset_status,
		@warr_expiry=warr_expiry,@asset_holder=asset_holder,@next_maintenance_date=next_maintenance_date,@narration=narration,
		@asset_serial=asset_serial,@depre_pct=depre_pct,@is_amortised=is_amortised,@life_month=life_in_month,@remain_month=remain_month,
		@purchase_date=purchase_date,@old_asset_no=old_asset_no,@old_asset_code=old_asset_code,@model=model,@brand=Brand,@vendor_id=VendorId
	FROM ASSET_INVENTORY_TEMP where id=@table_id
	
BEGIN TRANSACTION	

	INSERT #temAssetNum
			EXEC procGenerateAssetNumber @branch_id,@product_id,@booked_date
	SELECT @asset_number=asset_number FROM #temAssetNum		
	
	SET @group_id=dbo.GetGroupID(@product_id)
	
	INSERT INTO ASSET_INVENTORY(branch_id,dept_id,product_id,booked_date,asset_number,purchase_value,acc_depriciation,depr_start_date,
				ins_id,bill_id,asset_status,warr_expiry,asset_holder,next_maintenance_date,narration,asset_serial,depre_pct,is_amortised,
				life_in_month,remain_month,purchase_date,created_by,created_date,group_id,approved_by,approved_date,old_asset_no,old_asset_code,
				model,Brand,VendorId)
    VALUES(@branch_id,@dept_id,@product_id,@booked_date,@asset_number,@purchase_value,@acc_depriciation,@dep_start_date,@ins_id,
    			@bill_id,@asset_status,@warr_expiry,@asset_holder,@next_maintenance_date,@narration,@asset_serial,@depre_pct,
    			@is_amortised,@life_month,@remain_month,@purchase_date,@user,GETDATE(),@group_id,@user,GETDATE(),@old_asset_no,@old_asset_code,
    			@model,@brand,@vendor_id)    

    SET @asset_id=@@IDENTITY
    
	SET @FY_YR=dbo.FNAReturnCurrentFiscalYear(@dep_start_date)
	SET @NEPLI_MONTH=dbo.GetNepaliMonth(@dep_start_date)
	SET @default_nep_month = @NEPLI_MONTH
	SET @monthStartDate= dbo.GetMonthStartDateEng(@FY_YR,@NEPLI_MONTH)
	SET @monthEndDate= dbo.GetMonthEndDateEng(@FY_YR,@NEPLI_MONTH)
     
     --#################INSERTING ASSET DETAILS FOR OPENING BALANCE######################---
    INSERT INTO asset_opening_balance(asset_id,booked_date,dep_start_date,fiscal_year,branch_id,acc_dep,purchase_value,created_by,created_date)VALUES
	(@asset_id,@booked_date,@dep_start_date,@FY_YR,@branch_id,@acc_depriciation,@purchase_value,@user,GETDATE())
     
                   
	IF (@@ERROR <> 0) GOTO QuitWithRollback 
	
	IF @is_amortised='N'
	BEGIN
		
		SET @DEP_VALUE=ROUND(ROUND(((@purchase_value-ROUND(@acc_depriciation,2))*@depre_pct/100),2)/12,2)
		IF @DEP_VALUE>=0
		BEGIN
			---DECLARING VARIABLES FOR DAILY DEP VALUE CALCULATION--
			DECLARE @Monthdays AS INT,@START_DEP_VALUE AS MONEY,@actualDays AS INT			
			SET @Monthdays=DATEDIFF(DAY,@monthStartDate,@monthEndDate)+1
			SET @actualDays =DATEDIFF(DAY,@dep_start_date,@monthEndDate)+1
			SET @DEP_VALUE=ROUND((((@purchase_value-@acc_depriciation)*@depre_pct)/100)/12,2)					
			SET @START_DEP_VALUE=ROUND(@DEP_VALUE/@Monthdays,2)*@actualDays
			
			IF NOT EXISTS (SELECT * FROM depreciation_setup WHERE asset_id=@asset_id AND fiscal_year=@FY_YR)
			BEGIN
		
			INSERT INTO depreciation_setup(asset_id,fiscal_year,m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12,dep_pct,acc_dep,base_price)
			VALUES (@asset_id,@FY_YR,0,0,0,0,0,0,0,0,0,0,0,0,@depre_pct,ROUND(@acc_depriciation,2),@purchase_value)		

			SET @RowId=@@IDENTITY	

			IF @NEPLI_MONTH<=3
			BEGIN
					WHILE @NEPLI_MONTH < =3 
					BEGIN						
						SET @SQL= 'update depreciation_setup set M'+ CAST(@NEPLI_MONTH AS VARCHAR) +' = '+ CAST(@DEP_VALUE AS VARCHAR) +' 
						where id='+CAST(@RowId AS VARCHAR)
						
						EXECUTE (@SQL)						
						SET @NEPLI_MONTH=@NEPLI_MONTH+1
					END	

			END	
			ELSE
			BEGIN
					WHILE @NEPLI_MONTH < =12 
					BEGIN
						
						SET @SQL= 'update depreciation_setup set M'+ CAST(@NEPLI_MONTH AS VARCHAR) +' = '+ CAST(@DEP_VALUE AS VARCHAR) +' 
						where id='+CAST(@RowId AS VARCHAR)
						
						EXECUTE (@SQL)			
						SET @NEPLI_MONTH=@NEPLI_MONTH+1			
						
					END	
					
					UPDATE depreciation_setup SET m1=@DEP_VALUE,m2=@DEP_VALUE WHERE ID=@RowId
						
					IF @default_nep_month=4
					BEGIN
						DECLARE @DEP_VALUE3 AS MONEY
						
						SET @DEP_VALUE3=	ROUND(((@purchase_value-0)*@depre_pct/100),2)-@DEP_VALUE*11
						UPDATE depreciation_setup SET m3=@DEP_VALUE3 WHERE id=@RowId
					END	
					ELSE
					BEGIN
						UPDATE depreciation_setup SET m3=@DEP_VALUE WHERE id=@RowId
					END					
			END	
			SET @SQL= 'update depreciation_setup set M'+ CAST(@default_nep_month AS VARCHAR) +' = '+ CAST(@DEP_VALUE AS VARCHAR) +' 
									where id='+CAST(@RowId AS VARCHAR)									
			EXECUTE (@SQL)
		END		
		END
		ELSE
		BEGIN
			INSERT INTO depreciation_setup(asset_id,fiscal_year,m1,m2,m3,m4,m5,m6,m7,m8,m9,m10,m11,m12,dep_pct,acc_dep,base_price)
				VALUES (@asset_id,@FY_YR,0,0,0,0,0,0,0,0,0,0,0,0,0,0,@purchase_value)
		END
	END
	
	IF (@@ERROR <> 0) GOTO QuitWithRollback 
	
	UPDATE ASSET_BRANCH SET ASSET_NEXT_NUM = ASSET_NEXT_NUM +1  
	WHERE PRODUCT_ID=@product_id  AND BRANCH_ID=@branch_id	
	IF (@@ERROR <> 0) GOTO QuitWithRollback 
		
	DELETE FROM changesApprovalQueue WHERE dataid=@table_id AND rowId=@queue_id
	
	DELETE FROM ASSET_INVENTORY_TEMP WHERE id=@table_id
	
	IF (@@ERROR <> 0) GOTO QuitWithRollback 

	SELECT  'SUCCESS' AS REMARKS
	
	COMMIT TRANSACTION

	GOTO EndSave	
	QuitWithRollback:
	ROLLBACK TRANSACTION 
				
		SELECT  'ERROR TO COMPLETE THIS TRANSACTION' AS MSG	
				 	
	EndSave:			
END


IF @flag='u'
BEGIN	
	UPDATE ASSET_INVENTORY SET dept_id=@dept_id,ins_id=@ins_id,bill_id=@bill_id,asset_status=@asset_status,booked_date=@booked_date,
			purchase_date=@purchase_date,warr_expiry=@warr_expiry,next_maintenance_date=@next_maintenance_date,asset_holder=@asset_holder,
			narration=@narration,asset_serial=@asset_serial,depre_pct = @depre_pct,old_asset_no=@old_asset_no,old_asset_code=@old_asset_code
			,model=@model,Brand=@brand,VendorId=@vendor_id WHERE id=@table_id
					

END
GO
