USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[ProcGetLeaveTakenDays]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--SELECT * FROM leaveAssignment
--SELECT * FROM OfficialCalendar
--EXEC ProcGetLeaveTakenDays '4/5/2011','4/12/2011','1002','2'
--EXEC ProcGetLeaveTakenDays '7/1/2010','7/8/2010','1007','2'
--EXEC ProcGetLeaveTakenDays '11/12/2010','11/24/2010','1090','1'
--EXEC ProcGetLeaveTakenDays '4/1/2011','4/3/2011','1001','1'

create proc [dbo].[ProcGetLeaveTakenDays]
	@FROM_DATE varchar(20),
	@TO_DATE varchar(20),
	@EMP_ID AS INT,
	@LEAVE_TYPE_ID AS INT
AS

SET NOCOUNT ON;
BEGIN
	DECLARE @DAYS AS INT,@H_FLAG AS VARCHAR(10),
	@S_FLAG AS VARCHAR(20),@S_DAYS AS INT,@H_DAYS AS INT
	SET @DAYS=DATEDIFF(DAY,@FROM_DATE,@TO_DATE)
	SET @DAYS=@DAYS+1
	set @S_DAYS=0
	set @H_DAYS=0
	
	SELECT @S_FLAG=CASE WHEN IS_SATURDAY='1' THEN 'Yes' 
		when IS_SATURDAY='0' then 'No' end FROM leaveAssignment with(nolock)
				where EMPLOYEE_ID=@EMP_ID AND LEAVE_TYPE_ID=@LEAVE_TYPE_ID
		
	SELECT @H_FLAG=CASE WHEN IS_HOLIDAY='1' THEN 'Yes' 
			when IS_HOLIDAY='0' then 'No' end FROM leaveAssignment with(nolock)
				where EMPLOYEE_ID=@EMP_ID AND LEAVE_TYPE_ID=@LEAVE_TYPE_ID
	
	
	
		if (@S_FLAG ='No' AND @H_FLAG ='No')
		BEGIN
				SELECT @S_DAYS=dbo.FNFindSaturdayCount(@FROM_DATE,@TO_DATE)
				SELECT @H_DAYS = dbo.FNFindHolidayCount(@FROM_DATE,@TO_DATE)
		END
		
		IF(@S_FLAG ='Yes' AND @H_FLAG='Yes')
		BEGIN
					SET @S_DAYS=0
					SET @H_DAYS=0
		END
		
		IF(@S_FLAG ='Yes' AND @H_FLAG='No')
		BEGIN
			SELECT @H_DAYS= dbo.FNFindHolidayCount(@FROM_DATE,@TO_DATE)
			SET @S_DAYS=0
		END    
		
		IF(@S_FLAG ='No' AND @H_FLAG='Yes')
		BEGIN
			SELECT @S_DAYS= dbo.FNFindSaturdayCount(@FROM_DATE,@TO_DATE)
			SET @H_DAYS=0
		END

	   SET @DAYS=@DAYS-@S_DAYS-@H_DAYS
	     --select @days,@S_DAYS,@H_DAYS
	
	DECLARE @LFA_DAYS AS INT,@LFA_FLAG AS INT
	
	IF EXISTS(SELECT EMPLOYEE_ID FROM Employee with(nolock)
		WHERE EMPLOYEE_ID=@EMP_ID
		and @LEAVE_TYPE_ID =isnull((select Top 1 LEAVE_TYPE_ID from leaveAssignment with(nolock)
		where EMPLOYEE_ID=@EMP_ID and isnull(FORCE_LEAVE_DEDUCT,0) > 0 ),0)) 
	BEGIN
	
		SELECT @LFA_DAYS=isnull(FORCE_LEAVE_DEDUCT,0) FROM leaveAssignment with(nolock) 
		WHERE EMPLOYEE_ID=@EMP_ID AND LEAVE_TYPE_ID=@LEAVE_TYPE_ID
		
	
		
		IF @DAYS>=@LFA_DAYS
		BEGIN	
			SET @LFA_FLAG=1
		END
		
		ELSE
		BEGIN
			SET @LFA_FLAG=0
		END
		
		SELECT @DAYS AS REQUESTED_DAYS,@LFA_DAYS AS LFA_DAYS,@LFA_FLAG AS LFA_FLAG
		
	END
	ELSE
	BEGIN
	
		SELECT @DAYS AS REQUESTED_DAYS,0 AS LFA_DAYS,0 AS LFA_FLAG
		
	END
	
	
END
GO
