USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procLeaveRemain]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[procLeaveRemain]
	@flag char(1),
	@empid varchar(20),
	@leavetype varchar(20),
	@rowid varchar(10) =null,
	@approvedDays int=null,
	@APPROVED_HOUR int =null,
	@APPROVED_BY varchar(100)=null,
	@APPROVED_FROM date=null,
	@APPROVED_TO date=null,
	@REMARKS varchar(100)=null,
	@Leave_Request_Id  varchar(100)=null
	,@Record	char(1)=null --flag for leaveRecord
as

set nocount on;

Declare 
			@dayBal               INT =null
			,@hrsBal              INT =null
			,@daysTaken           INT =null
			,@hrsTaken			  INT =null
			,@working_hrs_per_day INT = null
			,@total_bal_in_hrs    INT = null
			,@total_leave_in_hrs  INT = null

			
			select 
					@dayBal    =   ISNULL( NO_OF_DAYS_ACTUAL,0)
				   ,@hrsBal    =   CAST(ISNULL( HOUR_BALANCE ,0.00)as Int)
				   ,@daysTaken =   ISNULL(LEAVE_TAKEN_THIS_YEAR,0)
				   ,@hrsTaken  =   CAST(ISNULL(HOUR_TAKEN,0.00)as Int)
				   ,@working_hrs_per_day = dbo.FNAGetWorkingHours(@leavetype)
				   from leaveAssignment	WITH (NOLOCK)  
		    WHERE EMPLOYEE_ID=@empid and LEAVE_TYPE_ID=@leavetype
				   
				   
if @flag='a'
begin	

     if(dbo.FNAGetWorkingHours(@leavetype)<>0)
      begin
				

				   SET @total_bal_in_hrs =  (@dayBal *  @working_hrs_per_day) + @hrsBal	
				   SET @total_leave_in_hrs =  (@daysTaken *  @working_hrs_per_day) + @hrsTaken	
				   SET @total_bal_in_hrs =  @total_bal_in_hrs - @total_leave_in_hrs	
	      
				   SET @hrsBal = @total_bal_in_hrs % @working_hrs_per_day	
				   SET @dayBal  =(@total_bal_in_hrs - @hrsBal) / @working_hrs_per_day	
			         
				   SELECT @dayBal AS REMAIN_LEAVE , @hrsBal AS REMAIN_HOUR
				   
				  /* SELECT (isnull(@dayBal,0) + isnull(LAST_YEAR_LEAVE,0) - isnull(@daysTaken,0)) AS REMAIN_LEAVE ,
				   (isnull(@hrsBal,0.00)) AS REMAIN_HOUR
				    FROM leaveAssignment WITH (NOLOCK) 
				   WHERE EMPLOYEE_ID=@empid and LEAVE_TYPE_ID=@leavetype */
     end
     else
     begin
          
			   SELECT (isnull(NO_OF_DAYS_ACTUAL,0) + 
					isnull(LAST_YEAR_LEAVE,0) - isnull(LEAVE_TAKEN_THIS_YEAR,0)) AS REMAIN_LEAVE ,
					(isnull(HOUR_BALANCE,0.00)) AS REMAIN_HOUR
				FROM leaveAssignment WITH (NOLOCK) 
				WHERE EMPLOYEE_ID=@empid and LEAVE_TYPE_ID=@leavetype 

     end


end

if @flag='c'
begin


		select ID from LeaveRequest 
		where REQUESTED_BY=@empid and LEAVE_TYPE_ID=@leavetype and (LEAVE_STATUS='Pending' or LEAVE_STATUS='Recommended') and ID<>@rowid	

		
end

if @flag='u'
begin
--select 'here'

-- DECLARE @Leave_Request_Id as int	

BEGIN TRANSACTION 

		if @Record is null
		begin
			UPDATE LEAVEREQUEST SET 
		                APRPROVED_DATE = GETDATE(),
			            APPROVED_DAYS=@approvedDays,  
			            LEAVE_STATUS='Approved',
						APPROVED_BY=@APPROVED_BY,
						APPROVED_FROM=@APPROVED_FROM,
						APPROVED_TO=@APPROVED_TO,
						REMARKS=@REMARKS,
					    APPROVED_HOUR=@APPROVED_HOUR
					    WHERE ID=@Leave_Request_Id			
		end	
         if(dbo.FNAGetWorkingHours(@leavetype)<>0)
         
            begin
				set @hrsTaken=convert(decimal,(isnull(@hrsTaken,0.00)+isnull(@APPROVED_HOUR,0.00)))
                 if  @hrsTaken >= 8
				begin
					
					set @daysTaken=@daysTaken + 1
					set @hrsTaken=0
				end
                 
                 update leaveAssignment 
	               set Leave_taken_this_year= isnull(@daysTaken,0) + isnull(@approvedDays,0) 
	               ,HOUR_TAKEN = @hrsTaken
	               where EMPLOYEE_ID=@empid and LEAVE_TYPE_ID=@leavetype
			
             end

        else
        
            begin
	            update leaveAssignment 
	              set  Leave_taken_this_year=isnull(Leave_taken_this_year,0)+ isnull(@approvedDays,0)
	                   ,HOUR_TAKEN = isnull(HOUR_TAKEN,0.00)+isnull(@APPROVED_HOUR,0.00)
	              where EMPLOYEE_ID=@empid and LEAVE_TYPE_ID=@leavetype
	         end


  COMMIT TRANSACTION 	
end
GO
