USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procManageAssetWriteoffRequest]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXEC [procManageAssetWriteoffRequest] 'i',null,'1000','1','06/12/2011','test','1000'
CREATE PROCEDURE [dbo].[procManageAssetWriteoffRequest]
				@flag CHAR(5),
				@id INT=NULL,
				@user INT=NULL,
				@asset_id VARCHAR(50)=NULL,
				@writeoff_date VARCHAR(10)=NULL,
				@narration VARCHAR(1000)=NULL,
				@forwarded_to varchar(50)=null,
				@scrapValue money=null,
				@netProfitLoss money=null
				
AS
SET NOCOUNT ON;	
SET XACT_ABORT ON;	

	CREATE TABLE #msg(errorCode INT, msg VARCHAR(100), id INT)
		
	DECLARE 
	 @sql			VARCHAR(MAX)
	,@oldValue		VARCHAR(MAX)
	,@newValue		VARCHAR(MAX)
	,@tableName		VARCHAR(50)	

	DECLARE 
	 @gridName				VARCHAR(50)		
	,@addEditFunctionId		INT
	,@deleteFunctionId		INT
	,@approveFunctionId		INT
	,@tableNameAudit		VARCHAR(100)
	,@identifierField		VARCHAR(100)
	,@modType				VARCHAR(6)
	,@tableDescription		VARCHAR(100)
	
	SELECT
	 @tableNameAudit	= 'ASSET_WRITEOFF_TEMP'
	,@identifierField	= 'ID'
	,@tableDescription	= 'ASSET WRITEOFF'
	
	DECLARE @acc_dep MONEY,@ROW_ID AS INT
	DECLARE @bookvalue MONEY
				
IF(@flag ='i')
BEGIN

	SELECT @bookvalue = (purchase_value - acc_depriciation), @acc_dep =  acc_depriciation FROM ASSET_INVENTORY WHERE id = @asset_id
	
	BEGIN TRANSACTION
	
		INSERT INTO ASSET_WRITEOFF_TEMP (asset_id, write_off_date, accumulate_dep, book_value,
				narration, created_date, created_by,forwarded_to,forwarded_date,status,Scrap_Value,Net_Profit_Loss)
		VALUES (@asset_id, @writeoff_date, @acc_dep, @bookvalue, @narration, GETDATE(),
				@user,@forwarded_to,GETDATE(),'Requested',@scrapValue,@netProfitLoss)	
		
		SET @ROW_ID = SCOPE_IDENTITY()	
		
		INSERT INTO #msg(errorCode, msg, id)
				EXEC proc_changesApprovalQueue 
					 @flag = 'i'
					,@user = @user
					,@dataId = @ROW_ID
					,@identifierField = @identifierField
					,@tableName = @tableNameAudit
					,@modType = 'insert'			
					,@description = 'ASSET WRITEOFF REQUEST'
					,@functionId = @approveFunctionId
					,@addEditFunctionId	= @addEditFunctionId
					,@forwarded_to=@forwarded_to
    		
    IF @@TRANCOUNT > 0
	COMMIT TRANSACTION
	
	
	
END
IF(@flag = 'u')
BEGIN

	BEGIN TRANSACTION
		
		SELECT @bookvalue = (purchase_value - acc_depriciation), @acc_dep =  acc_depriciation FROM ASSET_INVENTORY WHERE id = @asset_id
		
		UPDATE ASSET_WRITEOFF_TEMP 
			SET  asset_id = @asset_id
				,write_off_date = @writeoff_date
				,narration = @narration
				,forwarded_to = @forwarded_to
				,accumulate_dep = @acc_dep
				,book_value = @bookvalue
				,status = 'Requested'
				,Scrap_Value = @scrapValue
				,Net_Profit_Loss = @netProfitLoss
		WHERE id = @id
		
		DELETE FROM changesApprovalQueue WHERE tableName=@tableNameAudit AND dataid=@id
				
				INSERT INTO #msg(errorCode, msg, id)
					EXEC proc_changesApprovalQueue 
						 @flag = 'i'
						,@user = @user
						,@dataId = @id
						,@identifierField = @identifierField
						,@tableName = @tableNameAudit
						,@modType = 'insert'			
						,@description = 'ASSET WRITEOFF REQUEST'
						,@functionId = @approveFunctionId
						,@addEditFunctionId	= @addEditFunctionId
						,@forwarded_to = @forwarded_to
    		
	IF @@TRANCOUNT > 0
	COMMIT TRANSACTION
			
END

IF(@flag='a')
BEGIN
	
	SELECT
			 dbo.ShowDecimal(purchase_value-acc_depriciation) AS Book_Value
			,dbo.ShowDecimal(purchase_value) AS purchase_value
			,dbo.ShowDecimal(acc_depriciation) AS acc_depreciation
			,b.BRANCH_NAME AS branch_id
			,[narration]=isnull(narration,'') + ' (Booked Date : '+ convert(varchar,ai.booked_date ,107) + ')'
		FROM ASSET_INVENTORY ai
		INNER JOIN Branches b ON b.BRANCH_ID = ai.branch_id
		WHERE id = @asset_id
	
END

			
IF(@flag='s')
BEGIN
	
	SELECT
			 ai.id
			,ai.asset_number+'|'+cast(ai.id as varchar) as asset_number
			,ai.purchase_value-ai.acc_depriciation as book_value
			,ai.purchase_value
			,[asset_narration]=isnull(ai.narration,'') + ' (Booked Date : '+ convert(varchar,ai.booked_date ,107) + ')'
			,convert(varchar,at.write_off_date,101) as write_off_date
			,at.forwarded_to
			,at.status
			,at.rejection_reason
			,ai.acc_depriciation
			,ai.branch_id
			,Scrap_Value
			,Net_Profit_Loss
			,at.narration
			,ai.booked_date
	FROM ASSET_WRITEOFF_TEMP at 
	INNER JOIN ASSET_INVENTORY ai on ai.id = at.asset_id 
	where at.id=@id
	
END

IF(@flag='d')
BEGIN
	
	DELETE FROM ASSET_WRITEOFF_TEMP WHERE id=@id
	
END

IF(@flag='z')
BEGIN
	
	SELECT
		round(purchase_value-acc_depriciation,2) AS book_value
	from ASSET_INVENTORY
	WHERE id = @id
	
END

--EXEC procManageAssetWriteoffRequest @flag='z',@id='402'
GO
