USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_ClearingSheet]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--- EXEC [proc_ClearingSheet] @flag='s',@discount_id=1
CREATE PROC [dbo].[proc_ClearingSheet]
	 @flag VARCHAR(2)
	,@discount_id int = null
	,@rowId varchar(max) = null
	,@sel_choice varchar(max) = null
	,@remarks varchar(max) = NULL
	,@user varchar(50) = NULL
AS 
SET NOCOUNT ON;
IF @flag = 'i'
BEGIN
		
		DELETE FROM CLEARANCE_SHEET WHERE discon_id=@discount_id
		
		INSERT INTO CLEARANCE_SHEET(DISCON_ID,ROW_ID,IS_OBJECTION,REMARKS,CREATED_DATE,CREATED_BY)
		SELECT	@discount_id,m.name,r.name,a.name,GETDATE(),@user
				FROM dbo.split(@rowId, ',') m   INNER JOIN 
					(
						SELECT 
							id, name 
						FROM dbo.split(@sel_choice, ',')
					) r ON m.id = r.id
					INNER JOIN 
					(
					   SELECT 
							id, name 
						FROM dbo.split(@remarks, ',')
								)a on a.id=m.id
		
		UPDATE EmployeeDiscontinuousPlan SET is_clearance='Y' WHERE ID=@discount_id
		
		SELECT  'SUCCESS!' as msg											
									
END
IF @flag = 's'
BEGIN
	SELECT a.ROWID,a.[S.N.],a.[Name of the Department],B.IS_OBJECTION [Selection],B.REMARKS [Remarks] FROM 
	(
		SELECT ROWID,ROW_NUMBER() OVER(ORDER BY ROWID) [S.N.],DETAIL_TITLE [Name of the Department]
			FROM StaticDataDetail A  WHERE TYPE_ID=79
	)A
	LEFT JOIN
	(   
		SELECT DISCON_ID,ROW_ID,IS_OBJECTION,REMARKS FROM CLEARANCE_SHEET   WHERE DISCON_ID=@discount_id
	)B ON A.ROWID=B.ROW_ID							
									
END
IF @flag = 'p'
BEGIN
		SELECT DBO.GetEmployeeFullNameOfId(STAFF_ID) NAME,RTRIM(DBO.GetDetailTitle(POST_ID)) POST,
		RTRIM(DBO.GetBranchName(BRANCH_ID))+' ('+RTRIM(DBO.GetDeptName(DEPT_ID))+')' BRANCH_DEPT,
		CONVERT(VARCHAR,EFFECTIVE_DATE,107) EFFECTIVE_DATE 
		FROM EmployeeDiscontinuousPlan WHERE ID=@discount_id
END
IF @flag = 'a'
BEGIN
		SELECT ROW_NUMBER()OVER(ORDER BY ID) [S.N.],SDD.DETAIL_TITLE [Name of the Department],
		CASE WHEN A.IS_OBJECTION='1' THEN 'Yes' when A.IS_OBJECTION='0' then 'No' end as [Is Objection],
		REMARKS [Remarks],'' [Singnature] FROM CLEARANCE_SHEET A INNER JOIN StaticDataDetail SDD ON SDD.ROWID=A.ROW_ID
		WHERE DISCON_ID=@discount_id
END
GO
