USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_Requisition]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_Requisition]    
    @flag CHAR(5),    
    @id INT=NULL,    
    @item VARCHAR(50)=NULL,    
    @quantity INT=NULL,    
    @unit VARCHAR(100)=NULL,    
    @session_id VARCHAR(500)=NULL,    
    @user VARCHAR(50)=NULL,    
    @message VARCHAR(MAX)=NULL,    
    @forwarded_to INT=NULL,    
    @mode CHAR(2)=NULL,    
    @branch INT=NULL,    
    @department INT=NULL,    
    @priority CHAR(1)=NULL,
    @approver VARCHAR(10)=NULL  ,
    @unSchReason varchar(20)=null 
AS    
 SET NOCOUNT ON;    
   DECLARE  @COUNT_QTY INT
IF(@flag ='i')    
BEGIN  
	
	if not exists(select id from IN_PRODUCT where id=@item)
	begin
		select 'Invalid Product!'   as msg
		return;
	end
	 
	SELECT @COUNT_QTY=COUNT(*) FROM IN_Temp_Requisition where session_id = @session_id

	IF @COUNT_QTY>25
	BEGIN
	   SELECT 'Sorry, 25 products only per requisition!' AS MSG
	   RETURN;
	END
	 
	IF EXISTS(SELECT * FROM IN_Temp_Requisition WHERE Item = @item AND session_id = @session_id)
	BEGIN
		SELECT 'Product Already Requested'
	END
	ELSE
	BEGIN
		INSERT INTO IN_Temp_Requisition (Item, quantity, unit, session_id, created_by, created_date)    
		VALUES (@item, @quantity, @unit, @session_id, @user, GETDATE())    
	END
END        
IF(@flag ='s')    
BEGIN    
 SELECT IN_ITEM.id, IN_ITEM.Product_Code, quantity, unit, session_id, IN_ITEM.item_name FROM IN_Temp_Requisition  WITH(NOLOCK)   
     INNER JOIN IN_ITEM  WITH(NOLOCK) ON IN_Temp_Requisition.Product_Code = IN_ITEM.Product_Code    
 WHERE  session_id = @session_id    
END    
IF(@flag ='j')    
BEGIN

	IF NOT EXISTS(SELECT * FROM IN_Temp_Requisition  WHERE session_id=@session_id)
	BEGIN			
		SELECT 'Sorry, Please add required product!' AS msg
		RETURN;
	END	
	
	DECLARE @IS_SCH VARCHAR(10)
	
	IF @unSchReason IS NULL
		SET @IS_SCH='Yes'
	ELSE
		SET  @IS_SCH='No'
		
	INSERT INTO IN_Requisition_Message
				(
					Requ_Message, 
					Requ_by, 
					Requ_date, 
					Forwarded_To, 
					priority, 
					branch_id, 
					dept_id, 
					recommed_by,
					status,
					UNSCHEDULE_REASON,
					IS_SCHEDULE
					
				)    
	VALUES		(	
					@message, 
					@user, 
					GETDATE(), 
					@forwarded_to, 
					@priority, 
					@branch, 
					@department, 
					@approver,
					'Requested',
					@unSchReason,
					@IS_SCH					
				)   

	SET @id = SCOPE_IDENTITY()    

	INSERT INTO IN_Requisition(item, quantity, Approved_Quantity,unit, Requistion_message_id)     
	SELECT Item, quantity,quantity, unit, @id   
	FROM IN_Temp_Requisition WHERE session_id = @session_id    
		
	DELETE FROM IN_Temp_Requisition WHERE session_id = @session_id  
	
	-- ###EMAIL NOTIFICATION### -- 
	declare @recipient as varchar(max),@msgContent as varchar(max),@SENDER AS VARCHAR(max)
	
	SELECT @SENDER=sdd.DETAIL_TITLE+' '+FIRST_NAME+' '+MIDDLE_NAME+' '+LAST_NAME  
		FROM Employee a inner join StaticDataDetail sdd on sdd.ROWID=a.SALUTATION
					 WHERE EMPLOYEE_ID=@user
	SELECT @recipient=OFFICIAL_EMAIL FROM Employee WHERE EMPLOYEE_ID=@approver
	
	SET @msgContent='Dear Sir/Madam
	
	'+@SENDER+' has been requested a requisition for your recommendation.
	
	Click here to login: http://10.0.0.70
		
Thanks & Regards
Nabil Bank Limited (Administration Department)'

	EXEC PROC_MAIL_SEND @recipient=@recipient, @subject_text='Please Recommed Requisition!', @msg_text=@msgContent
	
	--- ### END AUTO EMIAL NOTIFICATION ###--
	
	SELECT 'Success!' AS msg	  
END 
 
IF(@flag='u')--approval    
BEGIN    
	UPDATE IN_Requisition SET Approved_Quantity = @quantity WHERE id = @id    
END  
IF(@flag='d')--Delivery    
BEGIN    
	 UPDATE IN_Requisition_DETAIL SET Delivered_Quantity = isnull(@quantity,0) WHERE id = @id    
	 --UPDATE IN_Requisition_DETAIL SET Delivered_Quantity =  @quantity  WHERE id = @id  
END 
IF(@flag='r')--Receive    
BEGIN    
 
		DECLARE @msgid INT, @dt VARCHAR(20)
		SET @dt= GETDATE()
		
	 
		SELECT * FROM IN_Requisition WHERE id = @id  
	 
		 IF @branch='' OR @forwarded_to='' OR @user='' OR @msgid=''
		 BEGIN
			
			SELECT 'No Information is passed'
			RETURN;
			
		 END
		 
		 UPDATE IN_Requisition SET Received_Quantity = @quantity WHERE id = @id   
		 EXEC [procINReceiveProductVoucher]  @msgid,@branch,@forwarded_to,@user,@dt
		  
END
IF (@flag ='c')--delete
BEGIN
	IF EXISTS(SELECT Approved_Date FROM IN_Requisition_Message WHERE id = @id AND Approved_Date IS NULL)
		BEGIN
			DELETE FROM IN_Requisition WHERE id = @id
			SELECT 'Operation Completed Successfully'
		END
	ELSE
		BEGIN
			SELECT 'Product Already Has Been Approved'
		END	
END

IF (@flag ='apm')--get approved Message while acknowledging the product
BEGIN
	SELECT Approver_message FROM  IN_Requisition_Message where id=@id
END
GO
