USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procperformanceAppraisal]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[procperformanceAppraisal]
	(
		@APPRAISAL_ID varchar(20),
		@APPRAISAL_MATRIC_ID varchar(20)=null,
		@REMARKS varchar(500)=null,
		@WEIGHT varchar(100)=null					
	)
as
set nocount on;

begin

		INSERT INTO AppraisalDetails(APPRAISAL_ID,APPRAISAL_MATRIC_ID,REMARKS,[WEIGHT])
		values (@APPRAISAL_ID,@APPRAISAL_MATRIC_ID,@REMARKS,@WEIGHT)	
end
GO
