USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procTrainingFileUpload]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
 Exec procCustFormFileUploader @flag='u',@ROW_ID=0, @CUST_ID='1',
 @FILE_DESC='519',@UPLOAD_BY='admin',@FILE_TYPE='jpg',@session_id=''
*/


CREATE procedure [dbo].[procTrainingFileUpload]
				 @flag   varchar(1) 
				,@id varchar(200)=null
				,@trainingId varchar(100)=null
				,@fileDesc varchar(100)=null				
				,@fileType varchar(100)=null
				,@user varchar(100)=null
as

set nocount on;
DECLARE @SQL VARCHAR(8000)

if(@flag='i')
begin
	
	insert into trainingDocs(training_id,doc_name,doc_desc,doc_ext,created_by,created_date)
	values(@trainingId,@fileDesc,@fileDesc,@fileType,@user,GETDATE())

	set @id= @@IDENTITY
	
	select @id as msg


end


if(@flag='s')     
  
begin

	SELECT rowid,training_id,doc_desc,doc_ext FROM trainingDocs  
	WHERE training_id = @trainingId  

end

if @flag='d'
begin   

	SET @SQL='SELECT CAST(rowid AS VARCHAR) + ''.'' + doc_ext AS FILENAME FROM trainingDocs WHERE rowid IN (' + @id + ')'  
	EXEC(@SQL) 
	SET @SQL='DELETE FROM trainingDocs WHERE rowid IN (' + @id + ')'  
	EXEC(@SQL) 

end
GO
