USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_LeaveSubstituteAssign]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec proc_LeaveSubstituteAssign @flag='I',@id=1  
/*  
  exec proc_LeaveSubstituteAssign @flag='i',@EMP_ID='1000',@WROKING_DATE='5/1/2012',@user='1000'  
*/  
CREATE PROCEDURE [dbo].[proc_LeaveSubstituteAssign]  
  @FLAG    VARCHAR(10)   
 ,@ID    int=null  
 ,@EMP_ID   INT=NULL  
 ,@WROKING_DATE  VARCHAR(50)=NULL  
 ,@USER    VARCHAR(50)=NULL  
 ,@gender   int = NULL  
 ,@requested_by  int = NULL  
  
AS  
  
SET NOCOUNT ON  
    DECLARE @IS_HOLIDAY INT=0,@day_name AS VARCHAR(20)  
 if @flag='i'  
 begin    
 SELECT @gender = GENDER FROM EMPLOYEE WHERE EMPLOYEE_ID=@requested_by  
  
   IF NOT EXISTS(SELECT * FROM atttendance WHERE CONVERT(VARCHAR,att_date,102)=CONVERT(VARCHAR,CAST(@WROKING_DATE AS DATE),102) and emp_id=@EMP_ID)  
   BEGIN  
     SELECT 'SORRY,'+ UPPER(DBO.GetEmployeeFullNameOfId(@EMP_ID))+' IS NOT PRESENT ON '+@WROKING_DATE+' DATE!' AS MSG  
     RETURN;  
   END  
   IF EXISTS(SELECT * FROM atttendance WHERE CONVERT(VARCHAR,att_date,102)=CONVERT(VARCHAR,CAST(@WROKING_DATE AS DATE),102) AND emp_id=@EMP_ID)  
   BEGIN  
       
     IF (SELECT DATEDIFF(HH,login_time,logout_time) FROM atttendance   
     WHERE CONVERT(VARCHAR,att_date,102)=CONVERT(VARCHAR,CAST(@WROKING_DATE AS DATE),102) AND emp_id=@EMP_ID)<5  
     BEGIN  
      SELECT 'SORRY,'+ UPPER(DBO.GetEmployeeFullNameOfId(@EMP_ID))+' IS PRESENT BUT NOT SUFFICIENT FOR SUNBSTITUTE LEAVE ON '+@WROKING_DATE+' DATE!' AS MSG  
      RETURN;  
        END  
   END  
     
   IF EXISTS(SELECT * FROM OfficialCalendar WHERE [DATE]=@WROKING_DATE AND TYPE='H')      
   BEGIN  
      SET @IS_HOLIDAY=1  
   END  
   SELECT @day_name=DATENAME(WEEKDAY,CAST(@WROKING_DATE AS DATE))  
     
   IF @day_name='Saturday'  
   BEGIN  
      SET @IS_HOLIDAY=1  
   END  
     
     
   IF @IS_HOLIDAY=0  
   BEGIN  
    SELECT 'SORRY, '+ CONVERT(VARCHAR,CAST(@WROKING_DATE AS DATE),107) +' DATE IS NOT A HOLIDAY!' AS MSG   
    RETURN;  
   END   
     
   IF EXISTS(SELECT * FROM OverTimeDetails   
   WHERE requested_by=@EMP_ID   
   AND CONVERT(VARCHAR,CAST(requested_date AS DATE),102) =CONVERT(VARCHAR,CAST(@WROKING_DATE AS DATE),102) and @gender='109')  
   BEGIN  
       SELECT 'SORRY, '+ UPPER(DBO.GetEmployeeFullNameOfId(@EMP_ID))+' HAS BEEN ALREADY APPLIED OT CLAIM ON '+ CONVERT(VARCHAR,CAST(@WROKING_DATE AS DATE),107) +'!' AS MSG;  
       RETURN;  
   END  
      
   INSERT INTO LeaveAssignSubstitute(  
       EMP_ID  
      ,WORKING_DATE  
      ,CREATED_BY  
      ,CREATED_DATE)VALUES(      
       @EMP_ID      
      ,@WROKING_DATE    
      ,@USER      
      ,GETDATE()  
    )  
   
         
   if exists(select * from leaveAssignment where EMPLOYEE_ID=@EMP_ID and LEAVE_TYPE_ID=9 and IS_DISABLED = 1)  
   BEGIN   
    UPDATE leaveAssignment  
    SET  NO_OF_DAYS_ACTUAL=ISNULL(NO_OF_DAYS_ACTUAL,0)  + 1  
    WHERE LEAVE_TYPE_ID = 9 AND EMPLOYEE_ID = @EMP_ID      
   END  
   ELSE  
   BEGIN  
    DECLARE @from_date DATE,@to_date DATE  
    SELECT TOP 1 @from_date=FromDate,@to_date=todate   
    FROM leaveAssignment WHERE EMPLOYEE_ID=@EMP_ID order by fromdate desc  
  
    INSERT INTO  leaveAssignment(  
        EMPLOYEE_ID  
       ,LEAVE_TYPE_ID  
       ,NO_OF_DAYS_ACTUAL  
       ,IS_DISABLED  
       ,IS_SATURDAY  
       ,IS_HOLIDAY  
       ,LAST_YEAR_LEAVE  
       ,LEAVE_TAKEN_THIS_YEAR  
       ,CREATED_BY  
       ,CREATED_DATE  
       ,IS_LFA  
       ,IS_UNLIMITED  
       ,IS_CASHABLE  
       ,IS_HALFDAY  
       ,IS_SUBSTITUTED  
       ,RELIEVING  
       ,FromDate  
       ,ToDate  
           )  
    SELECT   @EMP_ID  
      ,ID  
      ,1  
      ,IS_ACTIVE  
      ,IS_SATURDAY  
      ,IS_HOLIDAY  
      ,'0'  
      ,'0'  
      ,@USER  
      ,GETDATE()  
      ,IS_LFA  
      ,IS_UNLIMITED  
      ,IS_CASHABLE  
      ,IS_HOURLY  
      ,IS_SUBSTITUTED  
      ,RELIEVING  
      ,@from_date  
      ,@to_date   
    FROM LeaveTypes WHERE ID=9  --CALLED BACK LEAVE ASSIGNED  
   
   END  
      
  SELECT 'Success!' AS msg  
 end  
   
 if @flag='u'  
 begin  
   IF NOT EXISTS(SELECT * FROM atttendance WHERE CONVERT(VARCHAR,att_date,102)=CONVERT(VARCHAR,CAST(@WROKING_DATE AS DATE),102) AND emp_id=@EMP_ID)  
   BEGIN  
     SELECT 'SORRY,'+ UPPER(DBO.GetEmployeeFullNameOfId(@EMP_ID))+' IS NOT PRESENT ON '+@WROKING_DATE+' DATE!' AS MSG  
     RETURN;  
   END  
   IF EXISTS(SELECT * FROM atttendance WHERE CONVERT(VARCHAR,att_date,102)=CONVERT(VARCHAR,CAST(@WROKING_DATE AS DATE),102) AND emp_id=@EMP_ID)  
   BEGIN  
     IF (SELECT DATEDIFF(HH,login_time,logout_time) FROM atttendance   
     WHERE CONVERT(VARCHAR,att_date,102)=CONVERT(VARCHAR,CAST(@WROKING_DATE AS DATE),102) AND emp_id=@EMP_ID)<5  
     BEGIN  
      SELECT 'SORRY,'+ UPPER(DBO.GetEmployeeFullNameOfId(@EMP_ID))+' IS PRESENT BUT NOT SUFFICIENT FOR SUNBSTITUTE LEAVE ON '+@WROKING_DATE+' DATE!' AS MSG  
      RETURN;  
        END  
   END  
     
   IF EXISTS(SELECT * FROM OfficialCalendar WHERE CONVERT(VARCHAR,[DATE],102)=CONVERT(VARCHAR,CAST(@WROKING_DATE AS DATE),102) AND TYPE='H')  
   BEGIN  
      SET @IS_HOLIDAY=1  
   END  
   SELECT @day_name=DATENAME(WEEKDAY,@WROKING_DATE)  
     
   IF @day_name='Saturday'  
   BEGIN  
      SET @IS_HOLIDAY=1  
   END  
     
     
   IF @IS_HOLIDAY=0  
   BEGIN  
    SELECT 'SORRY,'+ @WROKING_DATE +' DATE IS NOT A HOLIDAY!' AS MSG   
    RETURN;  
   END    
      
     update LeaveAssignSubstitute set   
      EMP_ID=@EMP_ID  
     ,WORKING_DATE=@WROKING_DATE  
     ,MODIFIED_BY=@USER  
     ,MODIFIED_DATE=GETDATE()  
       
   where ID=@ID  
     
   select 'Success!' as msg  
 end  
   
 if @flag='d'  
 begin  
   
  SELECT @EMP_ID=emp_id FROM LeaveAssignSubstitute WHERE ID=@ID  
    
  IF EXISTS(SELECT * FROM leaveAssignment WHERE EMPLOYEE_ID=@EMP_ID AND LEAVE_TYPE_ID=9  
  AND (ISNULL(NO_OF_DAYS_ACTUAL,0))+(ISNULL(LAST_YEAR_LEAVE,0))-(ISNULL(LEAVE_TAKEN_THIS_YEAR,0))<1)  
  BEGIN  
     SELECT 'SORRY, SUBSTITUTE LEAVE HAS BEEN ALREADY TAKEN!' MSG  
     RETURN;  
  END  
    
  DELETE FROM LeaveAssignSubstitute WHERE ID=@ID    
    
  UPDATE leaveAssignment  
    SET  NO_OF_DAYS_ACTUAL=ISNULL(NO_OF_DAYS_ACTUAL,0)  - 1  
    WHERE LEAVE_TYPE_ID = 9 AND EMPLOYEE_ID = @EMP_ID   
    
  SELECT 'Success!' AS msg  
 end  
   
 if @flag='s'  
 begin  
  SELECT ID,EMP_ID,dbo.GetEmployeeInfoById(EMP_ID) EMP_NAME,CONVERT(VARCHAR,WORKING_DATE,101)   
  WORKING_DATE  
  FROM LeaveAssignSubstitute WHERE ID=@ID  
 end
GO
