USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[PROCUPLOADJOBFILEHISORY]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROCUPLOADJOBFILEHISORY]  
 (  @DOCID INT = NULL,  
 @JOBID INT = NULL,  
 @DOCNAME VARCHAR(50) = NULL,  
 @DOCDESCRIPTION VARCHAR(250) = NULL,  
 @FILEEXTENSION VARCHAR(20) = NULL,  
 @UPLOADBY VARCHAR(50) = NULL,  
 @CREATEDDATE DATETIME = NULL,  
 @MODE VARCHAR(5) = NULL  
 )  
 AS  
 BEGIN  
  IF (@MODE = 'I')  
  BEGIN  
   INSERT INTO [WF_Doc_History]  
           ([WF_JobID]  
           ,[WF_DOC_Name]  
           ,[Doc_Description]  
           ,[File_Extension]  
           ,[UploadBy]  
           ,[CreatedDate])  
        VALUES  
           (@JOBID  
           ,@DOCNAME  
           ,@DOCDESCRIPTION  
           ,@FILEEXTENSION  
           ,@UPLOADBY  
           ,@CREATEDDATE)  
  END  
  ELSE  
  BEGIN  
   UPDATE [WF_Doc_History]  
     SET [WF_JobID] = @JOBID  
     ,[WF_DOC_Name] = @DOCNAME  
     ,[Doc_Description] = @DOCDESCRIPTION  
     ,[File_Extension] = @FILEEXTENSION  
     ,[UploadBy] = @UPLOADBY  
     ,[CreatedDate] = @CREATEDDATE  
   WHERE Doc_ID = @DOCID  
  
  END  
 END
GO
