USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procSaveDisposalVoucher]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[procSaveDisposalVoucher]
	@flag CHAR(1),
	@mesage VARCHAR(1000),
	@date VARCHAR(20),
	@sessionid VARCHAR(200),
	@billno VARCHAR(200),
	@user VARCHAR(50),
	@branchid VARCHAR (20),
	@pur_id VARCHAR(20)
	
AS
BEGIN
	
	SET XACT_ABORT ON;
	SET NOCOUNT ON;
	
	DECLARE @intPartId INT, @intTotalRows AS INT, @strRefNum AS VARCHAR(20), @intBillid AS INT,
	@disQty as int,@remainQty as int
	
	DECLARE @strAccountNum AS VARCHAR(25), @dblTotalAmt AS FLOAT, @strTranType AS VARCHAR(5)
	
	SELECT @remainQty= ISNULL(p_stk_remain,0) FROM IN_PURCHASE WHERE pur_id=@pur_id			
	SELECT @disQty = ISNULL(qty,0) FROM Temp_Disposal t WHERE t.session_id =@sessionid AND t.flag='d' AND ac_type='cr'
	
	IF @disQty>@remainQty
	BEGIN
			SELECT  'Dispose Qty is greater than remain qty!' AS REMARKS
			RETURN;	
	END
	
	SELECT ACCT_NUM,ISNULL(amount,0)AS AMT,TRN_TYPE
	INTO #_tzRemittanceTranHit
	FROM (
			  
	  		SELECT RIGHT(t.product_code,LEN(t.product_code)-(CHARINDEX('|',t.product_code,1))) 
			AS ACCT_NUM, t.amount , 'DR' AS TRN_TYPE 
			FROM Temp_Disposal t
			WHERE t.session_id =@sessionid AND t.flag='d' AND ac_type='dr'

			UNION ALL

			SELECT b.INVENTORY_AC AS ACCT_NUM,round(SUM(t.qty*t.rate),4) AS amount , 'CR' AS TRN_TYPE 
			FROM IN_BRANCH b, IN_PRODUCT p, Temp_Disposal t
			WHERE  b.PRODUCT_ID=p.id 
				AND p.id=t.product_code
				AND b.BRANCH_ID=@branchid
				AND t.session_id =@sessionid AND t.flag='d' AND ac_type='cr'
				GROUP BY b.INVENTORY_AC
		)a
	
	--DR Or CR Exist or not checcking
	IF NOT EXISTS(
		SELECT  trn_type FROM #_tzRemittanceTranHit WHERE trn_type='DR'
	)
	OR 
	NOT EXISTS(
		SELECT  trn_type FROM #_tzRemittanceTranHit WHERE trn_type='CR'
	)
	BEGIN
			SELECT  'DR or CR Balance not exists' AS REMARKS
			RETURN;	
	
	END

	IF (SELECT  CAST(SUM(AMT)AS MONEY) FROM #_tzRemittanceTranHit WHERE trn_type='DR' GROUP BY trn_type)
		<> (SELECT  CAST(SUM(AMT) AS MONEY) FROM #_tzRemittanceTranHit  WHERE trn_type='CR' GROUP BY trn_type)
	BEGIN

			SELECT  'DR and CR Balance is not Equal' AS REMARKS
			RETURN;			
	END	

	ALTER TABLE #_tzRemittanceTranHit ADD RowID INT IDENTITY(1,1)
	SELECT @intPartId=MAX(RowID) FROM #_tzRemittanceTranHit
	
--########## CREATE SUMMARY SEND TRANSACTION 

BEGIN TRANSACTION
	
	SELECT @strRefNum=disposal_voucher FROM billSetting WHERE company_id=1
		IF (@@ERROR <> 0) GOTO QuitWithRollback 
		
	UPDATE billSetting SET disposal_voucher=CAST(disposal_voucher AS FLOAT)+1 WHERE company_id=1
		IF (@@ERROR <> 0) GOTO QuitWithRollback 
			

--########### Start loop count
SET @intTotalRows=1
WHILE @intPartId >=  @intTotalRows
BEGIN

			SELECT @strAccountNum=ACCT_NUM,@dblTotalAmt=AMT,@strTranType=TRN_TYPE 
				FROM #_tzRemittanceTranHit WHERE RowID=@intTotalRows
				IF (@@ERROR <> 0) GOTO QuitWithRollback 
				
			EXEC ProcDrCrUpdateFinal @strTranType ,@strAccountNum, @dblTotalAmt
				IF (@@ERROR <> 0) GOTO QuitWithRollback 


SET @intTotalRows=@intTotalRows+1
END

		-- ############### TRAN BILLING INFO
		SET @dblTotalAmt =(SELECT DISTINCT SUM(AMT) FROM #_tzRemittanceTranHit WHERE TRN_TYPE='DR') 

		INSERT INTO [IN_Disposal_history]
		(approval_number,approval_date,disposed_amount,disposal_notes,entered_by,entered_date)
         VALUES
           (@billno , @date , @dblTotalAmt, @mesage ,@user,GETDATE() )
           
           SET @intBillid= @@IDENTITY
           
          
         -- ############### TRAN MASTER DETAIL
		INSERT INTO tran_master (entry_user_id,acc_num,gl_sub_head_code
			,part_tran_type,ref_num,tran_amt, tran_date,
			tran_type,company_id,part_tran_srl_num,created_date,rpt_code, billno)
		SELECT @user,c.ACCT_NUM,dbo.FunGetGLCode(ACCT_NUM),
			TRN_TYPE,@strRefNum ,AMT,GETDATE(),
			'j','1',ROW_NUMBER() OVER(ORDER BY TRN_TYPE DESC) AS SrNo, GETDATE(),'d',@intBillid
		FROM #_tzRemittanceTranHit c 
		
		IF (@@ERROR <> 0) GOTO QuitWithRollback 
			
		-- ############### TRAN MASTER DETAIL ENTRY
		INSERT INTO [tran_masterDetail]([ref_num] ,[tran_particular],tran_type, company_id,tranDate )
		SELECT  @strRefNum,@mesage,'d','1',GETDATE()

		IF (@@ERROR <> 0) GOTO QuitWithRollback 
		
		
		-- ############### DISPOSAL ENTRY
		INSERT INTO [IN_DISPOSAL]
			([disposal_id],[prod_code],[p_qty],[p_rate],[p_sn_from],[p_sn_to],[p_batch],
			 branch_id,[entered_by],[entered_date])
		
		SELECT @intBillid,t.product_code,
		CASE WHEN o.qty IS NULL THEN t.qty ELSE o.qty END Qty,t.rate,	o.sn_from, o.sn_to,o.batch, b.BRANCH_ID,@user , GETDATE() 
		FROM IN_BRANCH b 
			JOIN Temp_disposal t ON b.PRODUCT_ID =t.product_code
			LEFT JOIN Temp_Disposal_Other o ON o.session_id=t.session_id AND t.id=o.temp_disposal_id 
		WHERE b.BRANCH_ID=@branchid
			AND t.session_id =@sessionid AND t.flag='d' AND ac_type='cr'

		
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
				
		--##############STOCK UPDATE IN IN_BRANCH TABLE
		UPDATE  IN_BRANCH SET 
			stock_in_hand=  ISNULL(b.stock_in_hand,0) - ISNULL(t.qty,0)	
		FROM IN_BRANCH b, Temp_disposal t
		WHERE  b.PRODUCT_ID =t.product_code
		AND b.BRANCH_ID=@branchid
			AND t.session_id =@sessionid AND t.flag='d' AND ac_type='cr'
		
		--##########STOCK UPDATE IN IN_PURCHASE TABLE
			
		UPDATE  IN_PURCHASE SET 
			p_stk_remain=  ISNULL(b.p_stk_remain,0) - ISNULL(t.qty,0)	
		FROM IN_PURCHASE b, Temp_disposal t
		WHERE  b.prod_code =t.product_code
		AND b.BRANCH_ID=@branchid
			AND t.session_id =@sessionid AND t.flag='d' AND ac_type='cr' AND b.pur_id=@pur_id
           IF (@@ERROR <> 0) GOTO QuitWithRollback 
         
         --############# CLEAN TEMP TABLE FOR SESSION

         DELETE FROM Temp_disposal WHERE session_id = @sessionid
         DELETE FROM Temp_disposal_Other WHERE session_id= @sessionid
         
COMMIT TRANSACTION

	SELECT  'Voucher Save Successfully, Voucher No: '+ @strRefNum AS REMARKS

--########## Drop TEMP TABLE
	DROP TABLE #_tzRemittanceTranHit
	
	
GOTO  EndSave

QuitWithRollback:
ROLLBACK TRANSACTION 


EndSave: 

END
GO
