USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[ProcInsertAppraisalFeedback]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ProcInsertAppraisalFeedback]    
( 
 @AppraisalID      INT,    
 @FeedbackDetails  VARCHAR(MAX),    
 @UserName         VARCHAR(30) = NULL,    
 @CreatedDate      DATETIME = NULL  	
 )     
AS    
BEGIN    
 SET NOCOUNT ON;      
  
  INSERT INTO AppraisalFeedback    
           (Appraisal_Id    
           ,Feedback_Details    
           ,CreatedBy    
           ,CreatedDate)    
                        
     VALUES(@AppraisalID    
           ,@FeedbackDetails    
           ,@UserName    
           ,@CreatedDate)       
END
GO
