USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[ProcManageAssetPurchaseOrder]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ProcManageAssetPurchaseOrder]
		@flag char(5),
		@deliver_date varchar(20),
		@order_date varchar(20),
		@vendor_id int,
		@remmarks varchar(200),
		@session_id varchar(50),
		@req_mess_id int,
		@user int	
		
AS
	SET NOCOUNT ON;

IF(@flag ='i')
BEGIN	

	DECLARE @order_message_id AS INT
	
	INSERT INTO ASSET_PURCHASE_ORDER_MESSAGE(deliver_date,order_date,vendor_id,narration,created_by,created_date,requistion_message_id)VALUES
	(@deliver_date,@order_date,@vendor_id,@remmarks,@user,GETDATE(),@req_mess_id)
	
	set @order_message_id=@@IDENTITY
	
	UPDATE ASSET_PURCHASE_ORDER_MESSAGE SET order_no='ORD-'+cast(@order_message_id as varchar)+'' WHERE id=@order_message_id
	
	INSERT INTO ASSET_PURCHASE_ORDER(order_message_id,asset_id,qty,rate,amount,req_id)
	(SELECT @order_message_id,asset_id,qty,rate,amount,req_id FROM asset_temp_order where session_id=@session_id and req_message_id=@req_mess_id and qty<>0)
	
	
	update ASSET_REQUISITION set order_qty=isnull(order_qty,0) + q.qty
	from ASSET_REQUISITION a, (select qty,asset_id,req_id from asset_temp_order where
		session_id=@session_id and req_message_id=@req_mess_id)q
	where a.asset_id= q.asset_id and a.id =q.req_id
	
	
	delete from asset_temp_order where session_id=@session_id and req_message_id=@req_mess_id
	
END
GO
