USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procTaxCalculation_Trialrun]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[procTaxCalculation_Trialrun]
	@flag CHAR(1),
	@fiscalYear VARCHAR(20),
	@runMonth INT,	
	@branchid VARCHAR(20)=NULL,
	@emp_id VARCHAR(20)=NULL,
	@user VARCHAR(50)
AS
IF @flag='i'
BEGIN
	
	SET NOCOUNT ON ;	
	SET XACT_ABORT ON;
	
	DECLARE @remainMonth INT
	DECLARE @yearStartDate DATE
	DECLARE @yearEndDate DATE
	DECLARE @monthStartDate DATE
	DECLARE @monthEndDate DATE
	DECLARE @monthname VARCHAR(20)
	DECLARE @applieddate DATE	
	
	SET @remainMonth=(CASE WHEN @runMonth=1 THEN 2 WHEN @runMonth=2 THEN 1 WHEN @runMonth=3 THEN 0 ELSE 12-@runMonth+3 END)
	SELECT @yearStartDate=EN_YEAR_START_DATE FROM FiscalYear WHERE FISCAL_YEAR_NEPALI=@fiscalYear
	SELECT @yearEndDate=EN_YEAR_END_DATE FROM FiscalYear WHERE FISCAL_YEAR_NEPALI=@fiscalYear
	SET @monthStartDate=dbo.GetMonthStartDateEng(@fiscalYear,@runMonth) 
	SET @monthEndDate=dbo.GetMonthEndDateEng(@fiscalYear,@runMonth)
	SELECT @monthname=Name FROM MonthList WHERE Month_Number=@runMonth
	SET @applieddate= CASE WHEN GETDATE() BETWEEN @monthStartDate AND @monthEndDate THEN GETDATE() ELSE @monthEndDate END
	
	IF NOT EXISTS(SELECT * FROM TaxRuleSetup WHERE FY_ID=@fiscalYear)
	BEGIN
			SELECT 'You have no rule setup for '+@fiscalYear+' fiscal year!' AS remarks
			RETURN;
	END
	
	TRUNCATE TABLE TaxCalculation_Trial	
	TRUNCATE TABLE loan_collection_trial
	TRUNCATE TABLE AdvanceCollection_trial
	TRUNCATE TABLE ContributionHistory_trial
	TRUNCATE TABLE PayableHistory_trial
	TRUNCATE TABLE allowance_history_trial
	
	INSERT INTO TaxCalculation_Trial(Emp_Id,Branch_Id,Dept_Id,Post_Id,Marital_Status,FY_ID,Run_Month,Run_By,Basic_Salary_Paid,Basic_Salary_Current,
	Basic_Salary_Remaining,Grade_Paid,Grade_Current,Grade_Remaining,Allowance_Paid,Allowance_Current,Allowance_Remaining,Adhoc_Benefits_Paid,
	Adhoc_Benefits_This_Month,Interest_Benefit,Vehicle_Benift,House_Benefit,Pension_Income,Premium_Paid_Employer,Contri_Paid_Employer,
	Contri_This_Month_Employer,Contri_To_Be_Paid_Employer,Contri_Deducted_Employee,Contri_Current_Employee,Contri_Remaining_Employee,
	Donation_Normal,Donation_Special,Premium_Deduction,Disabled_Deduction,Pension_Deduction,Retirement_Deduction,Taxable_Amount,Taxable_Slab1,
	Taxable_Slab2,Remaining,Tax_Amount,Tax_Collected,Tax_Discount,Tax_Remaining,Tax_This_Month,Adhoc_Deduction,Adhoc_Deduction_Current,
	Loan_Deduction,Advance_Deduction)
	
	(SELECT EMPLOYEE_ID,BRANCH_ID,DEPARTMENT_ID,POSITION_ID,MARITAL_STATUS,@fiscalYear,@runMonth,@user,
	0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0 
	FROM Employee 
	WHERE 
		EMP_STATUS=458 AND EMP_TYPE<>519
		AND EMPLOYEE_ID<>1000 
		AND BRANCH_ID LIKE ISNULL(@branchid ,'%')
		AND EMPLOYEE_ID LIKE ISNULL(@emp_id ,'%')
	)	

BEGIN TRANSACTION
	
	IF (@@ERROR <> 0) GOTO QuitWithRollback	
	
/* Start Basic Salary*/
	--UPDATING BASIC SALARY PAID IN TAX CALCULATION
		UPDATE TaxCalculation_Trial SET Basic_Salary_Paid=ISNULL(B.PAID_AMOUNT,0) FROM TaxCalculation_Trial A,  
		(SELECT EMPLOYEE_ID,SUM(PAID_AMOUNT) AS PAID_AMOUNT FROM (
			SELECT EMPLOYEE_ID,PAID_AMOUNT AS PAID_AMOUNT FROM PayableHistory a INNER JOIN StaticDataDetail s ON a.BENEFIT_ID=s.ROWID 
			WHERE s.TYPE_ID=36 
			AND FY_ID=@fiscalYear
				UNION ALL
			SELECT A.Employee_id, CASE WHEN ADD_DEDUCT='D' THEN amount*-1 ELSE AMOUNT END AS AMOUNT FROM AdhocPayment a WITH (NOLOCK)
			INNER JOIN  StaticDataDetail c WITH (NOLOCK)ON a.HEAD_id=C.rowid
			WHERE C.TYPE_ID=36
			AND A.APPLIED_DATE BETWEEN @yearStartDate AND @monthEndDate) q 	GROUP BY EMPLOYEE_ID
		)B WHERE A.Emp_Id =B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth
	
	
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
		
		--UPDAING BASIC SALARY CURRENT IN TAX CALCULATION
		
		UPDATE TaxCalculation_Trial SET Basic_Salary_Current=ROUND(ISNULL(B.BASIC_CURRENT,0),2) FROM TaxCalculation_Trial A,
		(SELECT EMPLOYEE_ID,SUM(PAID_AMOUNT) AS BASIC_CURRENT FROM (
			SELECT EMPLOYEE_ID,AMOUNT AS PAID_AMOUNT FROM Payable a INNER JOIN StaticDataDetail s ON a.BENEFIT_ID=s.ROWID 
			WHERE s.TYPE_ID=36
				UNION ALL
			SELECT A.Employee_id, CASE WHEN ADD_DEDUCT='D' THEN amount*-1 ELSE AMOUNT END AS AMOUNT FROM AdhocPayment a WITH (NOLOCK)
			INNER JOIN  StaticDataDetail c WITH (NOLOCK)ON a.HEAD_id=C.rowid
			WHERE C.TYPE_ID=36
			AND (A.APPLIED_DATE IS NULL )) q GROUP BY EMPLOYEE_ID 
		)B WHERE A.Emp_Id=B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth
	
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
	--UPDATING BASIC SALARY TO BE PAID IN TAX CALCULATION
					
		UPDATE TaxCalculation_Trial SET Basic_Salary_Remaining=ISNULL(B.BASIC_CURRENT*@remainMonth,0) FROM TaxCalculation_Trial A,
		(SELECT EMPLOYEE_ID,SUM(AMOUNT) AS BASIC_CURRENT FROM Payable a INNER JOIN StaticDataDetail s ON a.BENEFIT_ID=s.ROWID WHERE s.TYPE_ID=36
		GROUP BY EMPLOYEE_ID )B WHERE A.Emp_Id=B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth
		
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
/* End Basic Salary*/

/* Start Grade*/		
		--UPDATING GRADE PAID IN TAX CALCULATION
		UPDATE TaxCalculation_Trial SET Grade_Paid=ISNULL(B.GRADE_PAID,0) FROM TaxCalculation_Trial A,  
		(SELECT EMPLOYEE_ID,SUM(PAID_AMOUNT) AS GRADE_PAID FROM (
			SELECT EMPLOYEE_ID,PAID_AMOUNT FROM PayableHistory a INNER JOIN StaticDataDetail s ON a.BENEFIT_ID=s.ROWID 
			WHERE s.TYPE_ID=37 and FY_ID=@fiscalYear
				UNION ALL
			SELECT A.Employee_id, CASE WHEN ADD_DEDUCT='D' THEN amount*-1 ELSE AMOUNT END AS AMOUNT FROM AdhocPayment a WITH (NOLOCK)
			INNER JOIN  StaticDataDetail c WITH (NOLOCK)ON a.HEAD_id=C.rowid
			WHERE C.TYPE_ID=37
			AND A.APPLIED_DATE BETWEEN @yearStartDate AND  @monthEndDate) q 	GROUP BY EMPLOYEE_ID
		)B WHERE A.Emp_Id =B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth
	
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
		--UPDAING GRADE CURRENT IN TAX CALCULATION
		
		UPDATE TaxCalculation_Trial SET Grade_Current=ISNULL(B.GRADE_CURRENT,0) FROM TaxCalculation_Trial A,
		(SELECT EMPLOYEE_ID,SUM(AMOUNT) AS GRADE_CURRENT FROM (
			SELECT EMPLOYEE_ID,AMOUNT FROM Payable a INNER JOIN StaticDataDetail s ON a.BENEFIT_ID=s.ROWID 
			WHERE s.TYPE_ID=37
				UNION ALL
			SELECT A.Employee_id, CASE WHEN ADD_DEDUCT='D' THEN amount*-1 ELSE AMOUNT END AS AMOUNT FROM AdhocPayment a WITH (NOLOCK)
			INNER JOIN  StaticDataDetail c WITH (NOLOCK)ON a.HEAD_id=C.rowid
			WHERE C.TYPE_ID=37
			AND (A.APPLIED_DATE IS NULL)) q GROUP BY EMPLOYEE_ID 
		)B WHERE A.Emp_Id=B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth
	
	
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
	--UPDATING GRADE TO BE PAID IN TAX CALCULATION
					
		UPDATE TaxCalculation_Trial SET Grade_Remaining=ISNULL(B.GRADE_REMAINING*@remainMonth,0) FROM TaxCalculation_Trial A,
		(SELECT EMPLOYEE_ID,SUM(AMOUNT) AS GRADE_REMAINING FROM Payable a INNER JOIN StaticDataDetail s ON a.BENEFIT_ID=s.ROWID WHERE s.TYPE_ID=37
		GROUP BY EMPLOYEE_ID )B WHERE A.Emp_Id=B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth
		
		
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
/* End Grade*/		

/* Start Allowance*/

		--UPDATING ALLOWANCE PAID IN TAX CALCULATION
		UPDATE TaxCalculation_Trial SET Allowance_Paid=ISNULL(B.PAID_ALLOWANCE,0) FROM TaxCalculation_Trial A,  
		(SELECT EMPLOYEE_ID,SUM(PAID_AMOUNT) AS PAID_ALLOWANCE FROM (
		
			SELECT EMPLOYEE_ID,PAID_AMOUNT AS PAID_AMOUNT FROM PayableHistory a INNER JOIN StaticDataDetail s ON a.BENEFIT_ID=s.ROWID 
			WHERE s.TYPE_ID=38 and FY_ID=@fiscalYear
			
				UNION ALL
				
			SELECT A.Employee_id, CASE WHEN ADD_DEDUCT='D' THEN amount*-1 ELSE AMOUNT END AS AMOUNT FROM AdhocPayment a WITH (NOLOCK)
			INNER JOIN  StaticDataDetail c WITH (NOLOCK)ON a.HEAD_id=C.rowid
			WHERE C.TYPE_ID=38
			AND A.APPLIED_DATE BETWEEN @yearStartDate AND  @monthEndDate
			
			) q 	GROUP BY EMPLOYEE_ID
		)B WHERE A.Emp_Id =B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth
	
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
		--UPDAING ALLOWANCE CURRENT IN TAX CALCULATION
		
		UPDATE TaxCalculation_Trial SET Allowance_Current=ISNULL(B.ALLOWANCE_CURRENT,0) FROM TaxCalculation_Trial A,
		(SELECT EMPLOYEE_ID,SUM(PAID_AMOUNT) AS ALLOWANCE_CURRENT FROM (
			SELECT EMPLOYEE_ID,AMOUNT AS PAID_AMOUNT FROM Payable a INNER JOIN StaticDataDetail s ON a.BENEFIT_ID=s.ROWID 
			WHERE s.TYPE_ID=38
				UNION ALL
			SELECT A.Employee_id, CASE WHEN ADD_DEDUCT='D' THEN amount*-1 ELSE AMOUNT END AS AMOUNT FROM AdhocPayment a WITH (NOLOCK)
			INNER JOIN  StaticDataDetail c WITH (NOLOCK)ON a.HEAD_id=C.rowid
			WHERE C.TYPE_ID=38
			AND A.APPLIED_DATE IS NULL 
			
			) q GROUP BY EMPLOYEE_ID 
		)B WHERE A.Emp_Id=B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth
	
	
	IF (@@ERROR <> 0) GOTO QuitWithRollback
	

	
	----UPDATING ALLOWANCE TO BE PAID IN TAX CALCULATION
					
		UPDATE TaxCalculation_Trial SET Allowance_Remaining=ISNULL(B.ALLOWANCE_REMAINING*@remainMonth,0) FROM TaxCalculation_Trial A,
		(SELECT EMPLOYEE_ID,SUM(AMOUNT) AS ALLOWANCE_REMAINING FROM Payable a INNER JOIN StaticDataDetail s ON a.BENEFIT_ID=s.ROWID WHERE s.TYPE_ID=38
		GROUP BY EMPLOYEE_ID )B WHERE A.Emp_Id=B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth
		
		
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
/* End Allowance*/

/* Start Adhoc Benefits Calculation*/
	--UPDATING ADHOC BENEFITS PAID IN TAX CALCULATION
		UPDATE TaxCalculation_Trial SET Adhoc_Benefits_Paid=ISNULL(B.ADHOC_BENEFITS_PAID,0) FROM TaxCalculation_Trial A,  
			(SELECT A.Employee_id, SUM(AMOUNT) AS ADHOC_BENEFITS_PAID FROM AdhocPayment a WITH (NOLOCK)
			INNER JOIN  StaticDataDetail c WITH (NOLOCK)ON a.HEAD_id=C.rowid
			WHERE C.TYPE_ID=41
			AND A.APPLIED_DATE BETWEEN @yearStartDate AND @monthEndDate GROUP BY A.Employee_id
		)B WHERE A.Emp_Id =B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth
	
	--UPDATING ADHOC BENEFITS CURRENT MONTH IN TAX CALCULATION		
		UPDATE TaxCalculation_Trial SET Adhoc_Benefits_This_Month=ISNULL(B.ADHOC_BENEFITS_CURRENT,0) 
		FROM TaxCalculation_Trial A,  
			(SELECT A.Employee_id, SUM(AMOUNT) AS ADHOC_BENEFITS_CURRENT 
			FROM AdhocPayment a WITH (NOLOCK)
			INNER JOIN  StaticDataDetail c WITH (NOLOCK)ON a.HEAD_id=C.rowid
			WHERE C.TYPE_ID=41
			AND A.APPLIED_DATE IS NULL 
			GROUP BY A.Employee_id
		)B WHERE A.Emp_Id =B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth
		
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
/* End Adhoc Benefits Calculation*/

/*Start Interest Benefits for Taxation*/
	--UPDATING INTEREST BENEFITS IN TAX CALCULATION
	UPDATE TaxCalculation_Trial SET Interest_Benefit=ISNULL(B.INTEREST_BENEFITS,0) 
	FROM TaxCalculation_Trial A,  
	(SELECT EMPLOYEE_ID,SUM(TAXABLE_INT_AMT) AS INTEREST_BENEFITS 
	FROM InterestBenefitsOnlyForTaxSetting 
	WHERE FISCAL_YEAR=@fiscalYear 
	GROUP BY EMPLOYEE_ID)B 
	WHERE A.Emp_Id=B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth
	
	IF (@@ERROR <> 0) GOTO QuitWithRollback
	
/*End Interest Benefits for Taxation*/

/*Start House Benefits for Taxation*/
	--UPDATING HOUSE BENEFITS IN TAX CALCULATION
		UPDATE TaxCalculation_Trial SET House_Benefit=ISNULL(B.HOUSE_BENEFITS,0) FROM TaxCalculation_Trial A,  
		 (SELECT Y.EMP_ID,(Y.HOUSE_FACILITY_RATE*(Y.BASIC+Y.GRADE+Y.ALLOWANCE+Y.ADHOC))/100 AS HOUSE_BENEFITS   FROM 
		 (SELECT  A.EMP_ID, HOUSE_FACILITY_RATE,
		 CASE WHEN  ISNULL(SUBSTRING(HOUSE_FACILITY_OF,1,2),0)='36' THEN Basic_Salary_Paid +Basic_Salary_Current +Basic_Salary_Remaining  ELSE 0 END  AS BASIC ,
		 CASE WHEN  ISNULL(SUBSTRING(HOUSE_FACILITY_OF,4,2),0)='37' THEN Grade_Paid + Grade_Current +Grade_Remaining  ELSE 0 END  AS GRADE ,
		 CASE WHEN  ISNULL(SUBSTRING(HOUSE_FACILITY_OF,7,2),0)='38' THEN Allowance_Paid +Allowance_Current + Allowance_Remaining ELSE 0 END  AS ALLOWANCE,
		 CASE WHEN HOUSE_FACILITY_OF='36,37,38' THEN Adhoc_Benefits_Paid+Adhoc_Benefits_This_Month ELSE 0 END AS ADHOC
		 FROM TaxCalculation_Trial A,TaxRuleSetup B
		 WHERE  A.FY_ID=B.FY_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth) Y INNER JOIN  Employee Z  ON  Y.Emp_Id=Z.EMPLOYEE_ID
		  AND Z.AVAILED_HOUSE_RENT_FACILITY='Y')B WHERE A.Emp_Id=B.Emp_Id AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth


		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
		
/*End House Benefits for Taxation*/


/*Start Vehicle Benefits for Taxation*/
	--UPDATING Vehicle BENEFITS IN TAX CALCULATION
	UPDATE TaxCalculation_Trial SET Vehicle_Benift=ISNULL(B.VEHICLE_BENIFIT,0) FROM TaxCalculation_Trial A,  
		 (SELECT Y.EMP_ID,(Y.VHCL_FACILITY_RATE*(Y.BASIC+Y.GRADE+Y.ALLOWANCE+Y.ADHOC))/100 AS VEHICLE_BENIFIT   FROM 
		 (SELECT  A.EMP_ID, VHCL_FACILITY_RATE,
		 CASE WHEN  ISNULL(SUBSTRING(VHCL_FACILITY_OF,1,2),0)='36' THEN Basic_Salary_Paid +Basic_Salary_Current +Basic_Salary_Remaining  ELSE 0 END  AS BASIC ,
		 CASE WHEN  ISNULL(SUBSTRING(VHCL_FACILITY_OF,4,2),0)='37' THEN Grade_Paid + Grade_Current +Grade_Remaining  ELSE 0 END  AS GRADE ,
		 CASE WHEN  ISNULL(SUBSTRING(VHCL_FACILITY_OF,7,2),0)='38' THEN Allowance_Paid +Allowance_Current + Allowance_Remaining ELSE 0 END  AS ALLOWANCE,
		 CASE WHEN HOUSE_FACILITY_OF='36,37,38' THEN Adhoc_Benefits_Paid+Adhoc_Benefits_This_Month ELSE 0 END AS ADHOC
		 FROM TaxCalculation_Trial A,TaxRuleSetup B
		 WHERE  A.FY_ID=B.FY_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth) Y INNER JOIN  Employee Z  ON  Y.Emp_Id=Z.EMPLOYEE_ID
		  AND Z.AVAAILED_VEHICLE_FACILITY='Y')B WHERE A.Emp_Id=B.Emp_Id AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth
	
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
		
/*End Vehicle Benefits for Taxation*/

/*Start Pension Benefits for Taxation*/
	UPDATE TaxCalculation_Trial SET Pension_Income=ISNULL(B.PENSION_AMOUNT,0) FROM TaxCalculation_Trial A,  
		 (SELECT EMPLOYEE_ID,PENSION_AMOUNT FROM Employee 
		 WHERE PENSION_AMOUNT>0)B WHERE A.Emp_Id=B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth

	IF (@@ERROR <> 0) GOTO QuitWithRollback
	
/*End Pension Benefits for Taxation*/



/*Start Insurance Benefits for Taxation*/

	UPDATE TaxCalculation_Trial SET Premium_Paid_Employer=ISNULL(B.PREMIUM_PAID,0) 
	FROM TaxCalculation_Trial A,  
		  (SELECT I.EMPLOYEE_ID,SUM(IP.PAYMENT_AMOUNT) AS PREMIUM_PAID 
		  FROM InsurancePremium IP INNER JOIN Insurance I ON IP.INSURANCE_ID=I.ID 
			WHERE I.PREMIUM_PAYER='EMPLOYER' AND 
		  IP.PAYMENT_DATE BETWEEN @yearStartDate AND @yearEndDate 
		  GROUP BY I.EMPLOYEE_ID)B 
	  WHERE A.Emp_Id=B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth

	IF (@@ERROR <> 0) GOTO QuitWithRollback
	
/*End Insurance Benefits for Taxation*/


/*Start Contribution Paid  By Employer for Taxation*/

IF CAST(@runMonth AS INT)<>4
BEGIN
	UPDATE TaxCalculation_Trial SET Contri_Paid_Employer=ISNULL(B.CONTRI_PAID,0) 
	FROM TaxCalculation_Trial A,  
	  (
		SELECT  EMPLOYEE_ID, SUM (CONTRI_PAID) AS CONTRI_PAID  
		FROM (
			  SELECT EMPLOYEE_ID,AMOUNT_EMPLOYER AS CONTRI_PAID 
			  FROM ContributionHistory
			  WHERE FY_ID=@fiscalYear  			   

			   UNION ALL
			   
			  SELECT EMPLOYEE_ID,CAST(ISNULL(CONTB_AMOUNT_EMPLOYER,0) AS MONEY) AS  CONTRI_PAID
			  FROM Adhoc_Contribution 
			  WHERE CONTB_DATE BETWEEN @yearStartDate AND DATEADD(DAY,-1, @monthStartDate)

			  
		) Q GROUP BY EMPLOYEE_ID
	  )B WHERE A.Emp_Id=B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth
END

	IF (@@ERROR <> 0) GOTO QuitWithRollback
	
/*End Contribution Paid By Employer for Taxation*/

/*Start Contribution Paid This Month By  Employer for Taxation*/
	UPDATE TaxCalculation_Trial SET Contri_This_Month_Employer=ISNULL(B.CONTRI_THIS_MONTH,0) FROM TaxCalculation_Trial A,  
	  (
			-----FOR FLAT AMOUNT BY EMPLOYER-----
			SELECT Z.EMPLOYEE_ID, SUM (Z.CONTRI_THIS_MONTH) AS CONTRI_THIS_MONTH FROM 			
			(			
			SELECT a.EMPLOYEE_ID,  VALUE_EMPLOYER AS CONTRI_THIS_MONTH
			FROM Contribution a WITH (NOLOCK) INNER JOIN Employee b WITH (NOLOCK)
			ON a.EMPLOYEE_ID=b.EMPLOYEE_ID
			WHERE a.FLAG_EMPLOYER='F'
			AND b.EMP_STATUS=458
			AND a.CONTRIBUTION_FROM_DATE_EMPLOYER<=@monthEndDate
			UNION ALL
		   
			SELECT EMPLOYEE_ID,ISNULL(CONTB_AMOUNT_EMPLOYER,0) 
			FROM Adhoc_Contribution 
			WHERE CONTB_DATE BETWEEN @monthStartDate AND @monthEndDate
			
			UNION ALL
			-----FOR % BASIS BY EMPLOYER-----
			SELECT EMPLOYEE_ID,(q.VALUE_EMPLOYER * (BASIC+GRADE+ALLOWANCE))/100 AS CONTRI_THIS_MONTH
			FROM (
			SELECT EMPLOYEE_ID, VALUE_EMPLOYER,
			CASE WHEN  ISNULL(SUBSTRING(CONTRIBUTION_BASIS_EMPLOYER,1,2),0)='36' THEN Basic_Salary_Current   ELSE 0 END  AS BASIC ,
			CASE WHEN  ISNULL(SUBSTRING(CONTRIBUTION_BASIS_EMPLOYER,4,2),0)='37' THEN Grade_Current   ELSE 0 END  AS GRADE ,
			CASE WHEN  ISNULL(SUBSTRING(CONTRIBUTION_BASIS_EMPLOYER,7,2),0)='38' THEN Allowance_Current  ELSE 0 END  AS ALLOWANCE
		 	FROM  Contribution A,  TaxCalculation_Trial B
			WHERE A.EMPLOYEE_ID=B.Emp_Id
			AND B.FY_ID=@fiscalYear AND B.Run_Month=@runMonth
			AND A.FLAG_EMPLOYER='P'
			AND A.CONTRIBUTION_FROM_DATE_EMPLOYER<=@monthEndDate) Q
			) Z GROUP BY EMPLOYEE_ID
			  
	  )B WHERE A.Emp_Id=B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth

	 IF (@@ERROR <> 0) GOTO QuitWithRollback	 
	 
/*End Contribution Paid This Month By  Employer for Taxation*/

/*Start Contribution to be Paid By  Employer for Taxation*/
	UPDATE TaxCalculation_Trial SET Contri_To_Be_Paid_Employer=ISNULL(B.CONTRI_TO_PAY,0) FROM TaxCalculation_Trial A,  
	  (	  
			-----FOR FLAT AMOUNT BY EMPLOYER-----
			SELECT Z.EMPLOYEE_ID, SUM (Z.CONTRI_TO_PAY) AS CONTRI_TO_PAY 
			FROM 			
			(			
			SELECT a.EMPLOYEE_ID,  VALUE_EMPLOYER*@remainMonth AS CONTRI_TO_PAY
			FROM Contribution a WITH (NOLOCK) INNER JOIN Employee b WITH (NOLOCK)
			ON a.EMPLOYEE_ID=b.EMPLOYEE_ID
			WHERE a.FLAG_EMPLOYER='F'
			AND b.EMP_STATUS=458
			AND a.CONTRIBUTION_FROM_DATE_EMPLOYER<=@monthEndDate
			
			UNION ALL
			-----FOR % BASIS BY EMPLOYER-----
			SELECT EMPLOYEE_ID,(q.VALUE_EMPLOYER * (BASIC+GRADE+ALLOWANCE))/100 AS CONTRI_TO_PAY
			FROM (
			SELECT EMPLOYEE_ID, VALUE_EMPLOYER,
			CASE WHEN  ISNULL(SUBSTRING(CONTRIBUTION_BASIS_EMPLOYER,1,2),0)='36' THEN Basic_Salary_Remaining   ELSE 0 END  AS BASIC ,
			CASE WHEN  ISNULL(SUBSTRING(CONTRIBUTION_BASIS_EMPLOYER,4,2),0)='37' THEN Grade_Remaining   ELSE 0 END  AS GRADE ,
			CASE WHEN  ISNULL(SUBSTRING(CONTRIBUTION_BASIS_EMPLOYER,7,2),0)='38' THEN Allowance_Remaining  ELSE 0 END  AS ALLOWANCE
		 	FROM  Contribution A,  TaxCalculation_Trial B
			WHERE A.EMPLOYEE_ID=B.Emp_Id
			AND B.FY_ID=@fiscalYear AND B.Run_Month=@runMonth
			AND A.FLAG_EMPLOYER='P'
			AND A.CONTRIBUTION_FROM_DATE_EMPLOYER<=@monthEndDate) Q
			) Z GROUP BY EMPLOYEE_ID
			  
	  )B WHERE A.Emp_Id=B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth

	  IF (@@ERROR <> 0) GOTO QuitWithRollback
	  
	  
/*End Contribution to be Paid  By  Employer for Taxation*/

/*Start Contribution Paid  By Employee for Taxation*/
IF CAST(@runMonth AS INT)<>4
BEGIN
	UPDATE TaxCalculation_Trial SET Contri_Deducted_Employee=ISNULL(B.CONTRI_PAID,0) FROM TaxCalculation_Trial A,  
	  (
		SELECT  EMPLOYEE_ID, SUM (CONTRI_PAID) AS CONTRI_PAID  FROM (
			  SELECT EMPLOYEE_ID,AMOUNT_EMPLOYEE AS CONTRI_PAID 
			  FROM ContributionHistory
			  WHERE FY_ID=@fiscalYear 
			     UNION ALL
			  SELECT EMPLOYEE_ID,ISNULL(CONTB_AMOUNT_EMPLOYEE ,0)
			  FROM Adhoc_Contribution 
			  WHERE CONTB_DATE BETWEEN @yearStartDate AND DATEADD(DAY,-1,@monthStartDate)
		) Q GROUP BY EMPLOYEE_ID
	  )B WHERE A.Emp_Id=B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth
END
	  IF (@@ERROR <> 0) GOTO QuitWithRollback
	  
/*End Contribution Paid By Employee for Taxation*/

/*Start Contribution Paid This Month By  Employee for Taxation*/
	UPDATE TaxCalculation_Trial SET Contri_Current_Employee=ISNULL(B.CONTRI_THIS_MONTH,0) 
	FROM TaxCalculation_Trial A,  
	  (
			-----FOR FLAT AMOUNT BY EMPLOYEE-----
			SELECT Z.EMPLOYEE_ID, SUM (Z.CONTRI_THIS_MONTH) AS CONTRI_THIS_MONTH FROM 			
			(			
			SELECT a.EMPLOYEE_ID,VALUE_EMPLOYEE AS CONTRI_THIS_MONTH
			FROM Contribution a WITH (NOLOCK) INNER JOIN Employee b WITH (NOLOCK)
			ON a.EMPLOYEE_ID=b.EMPLOYEE_ID
			WHERE a.FLAG_EMPLOYEE='F'
			AND b.EMP_STATUS=458
			AND a.CONTRIBUTION_FROM_DATE_EMPLOYEE<=@monthEndDate
			
			 UNION ALL
			
			SELECT EMPLOYEE_ID,ISNULL(CONTB_AMOUNT_EMPLOYEE,0) 
			FROM Adhoc_Contribution 
			WHERE CONTB_DATE BETWEEN @monthStartDate AND @monthEndDate
			
			UNION ALL
			
			-----FOR % BASIS BY EMPLOYEE-----
			SELECT EMPLOYEE_ID,(q.VALUE_EMPLOYEE * (BASIC+GRADE+ALLOWANCE))/100 AS CONTRI_THIS_MONTH
			FROM (
			SELECT EMPLOYEE_ID, VALUE_EMPLOYEE,
			CASE WHEN  ISNULL(SUBSTRING(CONTRIBUTION_BASIS_EMPLOYEE,1,2),0)='36' THEN Basic_Salary_Current   ELSE 0 END  AS BASIC ,
			CASE WHEN  ISNULL(SUBSTRING(CONTRIBUTION_BASIS_EMPLOYEE,4,2),0)='37' THEN Grade_Current   ELSE 0 END  AS GRADE ,
			CASE WHEN  ISNULL(SUBSTRING(CONTRIBUTION_BASIS_EMPLOYEE,7,2),0)='38' THEN Allowance_Current  ELSE 0 END  AS ALLOWANCE
		 	FROM  Contribution A,  TaxCalculation_Trial B
			WHERE A.EMPLOYEE_ID=B.Emp_Id
			AND B.FY_ID=@fiscalYear AND B.Run_Month=@runMonth
			AND A.FLAG_EMPLOYEE='P'
			AND A.CONTRIBUTION_FROM_DATE_EMPLOYEE<=@monthEndDate) Q
			) Z 
			GROUP BY EMPLOYEE_ID  
	  )B 
	  WHERE A.Emp_Id=B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth

	  IF (@@ERROR <> 0) GOTO QuitWithRollback
		
/*End Contribution Paid This Month By  Employee for Taxation*/


/*Start Contribution to be Paid By  Employee for Taxation*/
	UPDATE TaxCalculation_Trial SET Contri_Remaining_Employee=ISNULL(B.CONTRI_TO_PAY,0) FROM TaxCalculation_Trial A,  
	  (
			-----FOR FLAT AMOUNT BY EMPLOYEE-----
			SELECT Z.EMPLOYEE_ID, SUM (Z.CONTRI_TO_PAY) AS CONTRI_TO_PAY FROM 			
			(			
				SELECT a.EMPLOYEE_ID,  VALUE_EMPLOYEE*@remainMonth AS CONTRI_TO_PAY
				FROM Contribution a WITH (NOLOCK) INNER JOIN Employee b WITH (NOLOCK)
				ON a.EMPLOYEE_ID=b.EMPLOYEE_ID
				WHERE a.FLAG_EMPLOYEE='F'
				AND b.EMP_STATUS=458
				AND a.CONTRIBUTION_FROM_DATE_EMPLOYEE<=@monthEndDate
				
			UNION ALL
			
			-----FOR % BASIS BY EMPLOYEE-----
			SELECT EMPLOYEE_ID,(q.VALUE_EMPLOYEE * (BASIC+GRADE+ALLOWANCE))/100 AS CONTRI_TO_PAY
			FROM (
				SELECT EMPLOYEE_ID, VALUE_EMPLOYEE,
				CASE WHEN  ISNULL(SUBSTRING(CONTRIBUTION_BASIS_EMPLOYEE,1,2),0)='36' THEN Basic_Salary_Remaining   ELSE 0 END  AS BASIC ,
				CASE WHEN  ISNULL(SUBSTRING(CONTRIBUTION_BASIS_EMPLOYEE,4,2),0)='37' THEN Grade_Remaining   ELSE 0 END  AS GRADE ,
				CASE WHEN  ISNULL(SUBSTRING(CONTRIBUTION_BASIS_EMPLOYEE,7,2),0)='38' THEN Allowance_Remaining  ELSE 0 END  AS ALLOWANCE
		 		FROM  Contribution A,  TaxCalculation_Trial B
				WHERE A.EMPLOYEE_ID=B.Emp_Id
				AND B.FY_ID=@fiscalYear AND B.Run_Month=@runMonth
				AND A.FLAG_EMPLOYEE='P'
				AND A.CONTRIBUTION_FROM_DATE_EMPLOYEE<=@monthEndDate) Q
			) Z GROUP BY EMPLOYEE_ID
	  )B WHERE A.Emp_Id=B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth

	  IF (@@ERROR <> 0) GOTO QuitWithRollback
	
/*End Contribution to be Paid  By  Employee for Taxation*/

/*Start Donation Deduction for Taxation*/
	
	--UPDATING DONATION SPECIAL FOR TAX CALCULATION
		UPDATE TaxCalculation_Trial SET Donation_Special=ISNULL(B.AMOUNT_SPECIAL,0) 
		FROM TaxCalculation_Trial A,  	
		(SELECT EMPLOYEE_ID,SUM((DONATION_AMOUNT*ISNULL(GOVT_APPROVED_RATE,0))/100) AS AMOUNT_SPECIAL  
			FROM Donations 
			WHERE DONATION_DATE
			BETWEEN @yearStartDate AND @yearEndDate 
			GROUP BY EMPLOYEE_ID)B 
		WHERE A.Emp_Id=B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth
		
		IF (@@ERROR <> 0) GOTO QuitWithRollback

	--UPDATING DONATION NORMAL FOR TAX CALCULATION	
		UPDATE TaxCalculation_Trial SET Donation_Special=ISNULL(X.DONATION_AMT,0) FROM TaxCalculation_Trial A, 
		(SELECT EMPLOYEE_ID,CASE WHEN DONATION_HIGH_LOW_FLG='L' THEN dbo.FuncGetMIN(AMT1,AMT2,AMT3,NULL,NULL)  WHEN DONATION_HIGH_LOW_FLG='H'
			 THEN dbo.FuncGetMax(AMT1,AMT2,AMT3,NULL,NULL) END AS DONATION_AMT FROM 
			(SELECT A.EMPLOYEE_ID,DONATION_HIGH_LOW_FLG, A.AMOUNT_NORMAL AS AMT1,(B.ADJUSTED_INCOME*C.DONATION_DED_RATE)/100  AS AMT2, C.DONATION_COMP_AMT AS AMT3 
			FROM 
				(SELECT EMPLOYEE_ID,@fiscalYear AS FY_ID, SUM(DONATION_AMOUNT) AS AMOUNT_NORMAL  
				FROM Donations 
				WHERE DONATION_DATE
					BETWEEN @yearStartDate AND @yearEndDate  AND GOVT_APPROVED_RATE=0
				GROUP BY EMPLOYEE_ID)A,
				(SELECT EMP_ID,FY_ID,(Basic_Salary_Paid+Basic_Salary_Current+Basic_Salary_Remaining+Grade_Paid+Grade_Current
					+Grade_Remaining+Allowance_Paid+Allowance_Current+Allowance_Remaining+Adhoc_Benefits_Paid+Adhoc_Benefits_This_Month
					+Interest_Benefit+Vehicle_Benift+House_Benefit+Pension_Income+Premium_Paid_Employer+Contri_Paid_Employer+Contri_This_Month_Employer
					+Contri_To_Be_Paid_Employer-Contri_Paid_Employer-Contri_This_Month_Employer-Contri_To_Be_Paid_Employer
					-Contri_Deducted_Employee-Contri_Current_Employee-Contri_Remaining_Employee) AS ADJUSTED_INCOME 
					FROM TaxCalculation_Trial 
					WHERE FY_ID=@fiscalYear AND 
						Run_Month=@runMonth)B,
				(SELECT FY_ID,DONATION_DED_RATE,DONATION_COMP_AMT,DONATION_HIGH_LOW_FLG 
					FROM TaxRuleSetup 
					WHERE FY_ID=@fiscalYear) C
					WHERE A.FY_ID=B.FY_ID AND B.FY_ID=C.FY_ID AND A.EMPLOYEE_ID=B.Emp_Id)D )X 
					WHERE A.Emp_Id=X.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth
			
					IF (@@ERROR <> 0) GOTO QuitWithRollback
					
/*End Donation Deduction for Taxation*/

/*Start Premium Deduction for Taxation*/

	--UPDATING PREMIMUM AMOUNT FOR TAX CULCULATION	
	UPDATE TaxCalculation_Trial SET Premium_Deduction=ISNULL(X.PREMIUM_AMT,0) FROM TaxCalculation_Trial A, 
	(SELECT EMPLOYEE_ID,CASE WHEN INSURANCE_HIGH_LOW_FLG='L' THEN dbo.FuncGetMIN(AMT1,AMT2,AMT3,NULL,NULL)  WHEN INSURANCE_HIGH_LOW_FLG='H'
			 THEN dbo.FuncGetMax(AMT1,AMT2,AMT3,NULL,NULL) END AS PREMIUM_AMT 
		FROM 
		(SELECT A.EMPLOYEE_ID,CASE WHEN INSURANCE_DED_RATE_OF='PREMIUM' THEN (B.PREMIUM_PAID*C.INSURANCE_DED_RATE)/100 ELSE 
		(A.INSURED_AMT*C.INSURANCE_DED_RATE)/100 END AS AMT1,C.INSURANCE_COMP_AMT AS AMT2,CASE WHEN 
		(INSURANCE_COMP_ACTUAL_FLG='Y' AND INSURANCE_DED_RATE_OF='PREMIUM') THEN B.PREMIUM_PAID WHEN 
		(INSURANCE_COMP_ACTUAL_FLG='Y' AND INSURANCE_DED_RATE_OF<>'PREMIUM') THEN  A.INSURED_AMT ELSE 0 END AS AMT3,INSURANCE_HIGH_LOW_FLG FROM 
		(SELECT EMPLOYEE_ID,@fiscalYear AS FY_ID,SUM(INSURED_AMOUNT) AS INSURED_AMT 
		FROM Insurance 
		WHERE EXPIRY_DATE>=@yearEndDate 
			GROUP BY EMPLOYEE_ID)A,
		(SELECT I.EMPLOYEE_ID,SUM(IP.PAYMENT_AMOUNT) AS PREMIUM_PAID 
			FROM InsurancePremium IP 
				INNER JOIN Insurance I ON IP.INSURANCE_ID=I.ID
			WHERE IP.PAYMENT_DATE BETWEEN @yearStartDate AND @yearEndDate 
			GROUP BY I.EMPLOYEE_ID)B,
		(SELECT FY_ID,INSURANCE_COMP_ACTUAL_FLG,INSURANCE_COMP_AMT,INSURANCE_DED_RATE,INSURANCE_DED_RATE_OF,INSURANCE_HIGH_LOW_FLG  
			FROM TaxRuleSetup 
			WHERE FY_ID=@fiscalYear)C 
			WHERE A.EMPLOYEE_ID=B.EMPLOYEE_ID AND A.FY_ID= C.FY_ID)Z)X		
			 WHERE A.Emp_Id=X.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth	
			 
			 IF (@@ERROR <> 0) GOTO QuitWithRollback	
	
/*End Premium Deduction for Taxation*/

/* Start Disabled Deduction for Taxation*/
	--UPDATING DISABLED AMOUNT FOR TAX CULCULATION
	
	UPDATE TaxCalculation_Trial SET Disabled_Deduction=ISNULL(D.DISABLED_AMT,0) FROM TaxCalculation_Trial A, 
		(SELECT C.EMPLOYEE_ID,CASE WHEN C.DISABLE_HIGH_LOW_FLG='L' THEN dbo.FuncGetMIN(C.AMT1,C.AMT2,NULL,NULL,NULL) WHEN C.DISABLE_HIGH_LOW_FLG='H' THEN
		dbo.FuncGetMax(AMT1,AMT2,NULL,NULL,NULL) END AS DISABLED_AMT 
		FROM 
		(SELECT A.EMPLOYEE_ID,B.DISABLE_COMP_AMT AS AMT1,CASE WHEN A.MARITAL_STATUS='U' THEN B.UNMARRIED_DISABLED ELSE B.MARRIED_DISABLED 
			END AS AMT2,B.DISABLE_HIGH_LOW_FLG 
			FROM
			(SELECT @fiscalYear AS FY_ID,EMPLOYEE_ID,MARITAL_STATUS FROM Employee WHERE IS_DISABLED='Y')A,
			(SELECT FY_ID,DISABLE_COMP_AMT,CASE WHEN DISABLE_DED_RATE_OF='FIRST SLAB' THEN (MARRIED_SLAB1*DISABLE_DED_RATE)/100 ELSE (MARRIED_SLAB2*DISABLE_DED_RATE)/100 END 
			AS MARRIED_DISABLED ,CASE WHEN DISABLE_DED_RATE_OF='FIRST SLAB' THEN (UNMARRIED_SLAB1*DISABLE_DED_RATE)/100 ELSE (UNMARRIED_SLAB2*DISABLE_DED_RATE)/100 END 
			AS UNMARRIED_DISABLED,DISABLE_HIGH_LOW_FLG FROM TaxRuleSetup WHERE FY_ID=@fiscalYear)B WHERE A.FY_ID=B.FY_ID)C)D	
	WHERE A.Emp_Id=D.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth	

	IF (@@ERROR <> 0) GOTO QuitWithRollback
	
/* End Disabled Deduction for Taxation*/

/* Start Pension Deduction for Taxation*/
		--UPDATING PENSION AMOUNT FOR TAX CULCULATION
		UPDATE TaxCalculation_Trial SET Pension_Deduction=ISNULL(D.PENSION_AMT,0) FROM TaxCalculation_Trial A, 
		(SELECT C.EMPLOYEE_ID,CASE WHEN C.PENSION_HIGH_LOW_FLG='L' THEN dbo.FuncGetMIN(C.AMT1,C.AMT2,NULL,NULL,NULL) WHEN C.PENSION_HIGH_LOW_FLG='H' THEN
		dbo.FuncGetMax(AMT1,AMT2,NULL,NULL,NULL) END AS PENSION_AMT FROM 
		(SELECT A.EMPLOYEE_ID,A.PENSION_AMOUNT AS AMT1,CASE WHEN A.MARITAL_STATUS='U' THEN B.UNMARRIED_PENSION ELSE B.MARRIED_PENSION
			END AS AMT2,B.PENSION_HIGH_LOW_FLG FROM
			(SELECT @fiscalYear AS FY_ID,EMPLOYEE_ID,MARITAL_STATUS,PENSION_AMOUNT FROM Employee WHERE IS_PENSION_HOLDER='Y')A,
			(SELECT FY_ID,CASE WHEN PENSION_DED_RATE_OF='FIRST SLAB' THEN (MARRIED_SLAB1*PENSION_DED_RATE)/100 ELSE (MARRIED_SLAB2*PENSION_DED_RATE)/100 END 
				AS MARRIED_PENSION ,CASE WHEN PENSION_DED_RATE_OF='FIRST SLAB' THEN (UNMARRIED_SLAB1*PENSION_DED_RATE)/100 ELSE (UNMARRIED_SLAB2*PENSION_DED_RATE)/100 END 
				AS UNMARRIED_PENSION,PENSION_HIGH_LOW_FLG 
				FROM TaxRuleSetup 
				WHERE FY_ID=@fiscalYear)B 
				WHERE A.FY_ID=B.FY_ID)C)D		
			WHERE A.Emp_Id=D.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth	

		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
/* End Pension Deduction for Taxation*/
/* Start Retirement Deduction for Taxation*/
		UPDATE TaxCalculation_Trial SET Retirement_Deduction=ISNULL(Z.RETIREMENT_AMT,0) 
		FROM TaxCalculation_Trial A, 
		(SELECT X.EMPLOYEE_ID,CASE WHEN X.CONTRIBUTION_HIGH_LOW_FLG='L' THEN dbo.FuncGetMIN(X.AMT1,X.AMT2,X.AMT3,NULL,NULL) WHEN X.CONTRIBUTION_HIGH_LOW_FLG='H' THEN
			dbo.FuncGetMax(AMT1,AMT2,AMT3,NULL,NULL) END AS RETIREMENT_AMT FROM 
		
			(SELECT A.Emp_Id AS EMPLOYEE_ID,A.AMT1,(A.AMT2*B.UP)/B.DOWN AS AMT2,B.AMT3,B.CONTRIBUTION_HIGH_LOW_FLG 
			FROM 
					(SELECT FY_id,Emp_Id,
					Contri_Paid_Employer+Contri_This_Month_Employer+Contri_To_Be_Paid_Employer+Contri_Deducted_Employee+Contri_Current_Employee
					+Contri_Remaining_Employee AS AMT1,(Basic_Salary_Paid+Basic_Salary_Current+Basic_Salary_Remaining+Grade_Paid+Grade_Current
					+Grade_Remaining+Allowance_Paid+Allowance_Current+Allowance_Remaining+Adhoc_Benefits_Paid+Adhoc_Benefits_This_Month+
					Interest_Benefit+Vehicle_Benift+House_Benefit+Pension_Income+Premium_Paid_Employer+
					Contri_Paid_Employer+Contri_This_Month_Employer+Contri_To_Be_Paid_Employer) AS AMT2
					FROM  TaxCalculation_Trial)A,
					(SELECT FY_ID,CONTRIBUTION_COMP_AMT AS AMT3, 
					CAST(SUBSTRING(CONTRIBUTION_FRACTION,1,CHARINDEX('/', CONTRIBUTION_FRACTION,1)-1)AS INT)AS UP,
					CAST(SUBSTRING(CONTRIBUTION_FRACTION,CHARINDEX('/', CONTRIBUTION_FRACTION,1)+1, LEN(CONTRIBUTION_FRACTION))AS INT)AS DOWN,
					CONTRIBUTION_HIGH_LOW_FLG  
				FROM TaxRuleSetup 
				WHERE FY_ID=@fiscalYear) B
				WHERE A.FY_ID=B.FY_ID) X)Z 
			WHERE A.Emp_Id=Z.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth	

			IF (@@ERROR <> 0) GOTO QuitWithRollback
			
/* End Retirement Deduction for Taxation*/

/* Start Taxable Income for Taxation*/
	--UPDATING TAXABLE AMOUNT FOR TAX CALCULATION
		UPDATE TaxCalculation_Trial SET Taxable_Amount=ISNULL((Basic_Salary_Paid+Basic_Salary_Current+Basic_Salary_Remaining+Grade_Paid+Grade_Current
			+Grade_Remaining+Allowance_Paid+Allowance_Current+Allowance_Remaining+Adhoc_Benefits_Paid+Adhoc_Benefits_This_Month+
			Interest_Benefit+Vehicle_Benift+House_Benefit+Pension_Income+Premium_Paid_Employer+
			Contri_Paid_Employer+Contri_This_Month_Employer+Contri_To_Be_Paid_Employer-Premium_Deduction-Pension_Deduction-Disabled_Deduction
			-Retirement_Deduction-Donation_Normal-Donation_Special),0) 
		WHERE FY_ID=@fiscalYear AND Run_Month=@runMonth
		
		IF (@@ERROR <> 0) GOTO QuitWithRollback
			
/* End Taxable Income for Taxation*/

/* Start Taxable Slab1 for Taxation*/
	--UPDATING TAXABLE SLAB1 FOR TAX CALCULATION
			UPDATE TaxCalculation_Trial SET Taxable_Slab1=ISNULL(Y.TAXABLE_SLAB1,0) FROM TaxCalculation_Trial X, 
				(SELECT B.Emp_Id AS EMPLOYEE_ID,
				CASE 
				WHEN (Marital_Status='U' AND Taxable_Amount>=UNMARRIED_SLAB1) THEN UNMARRIED_SLAB1 
				WHEN (Marital_Status='U' AND Taxable_Amount<UNMARRIED_SLAB1 AND Taxable_Amount>0) THEN Taxable_Amount
				WHEN (Marital_Status='M' AND Taxable_Amount>=MARRIED_SLAB1) THEN MARRIED_SLAB1 
				WHEN (Marital_Status='M' AND Taxable_Amount<MARRIED_SLAB1 AND Taxable_Amount>0) THEN Taxable_Amount
				END AS TAXABLE_SLAB1
				FROM 
				(SELECT FY_ID,MARRIED_SLAB1,UNMARRIED_SLAB1 
					FROM TaxRuleSetup 
					WHERE FY_ID=@fiscalYear)A,
					(SELECT FY_ID,Emp_Id,Marital_Status,Taxable_Amount 
					FROM TaxCalculation_Trial 
					WHERE FY_ID=@fiscalYear AND Run_Month=@runMonth)B
					WHERE A.FY_ID=B.FY_ID)Y 
				WHERE X.Emp_Id=Y.EMPLOYEE_ID AND X.FY_ID=@fiscalYear AND X.Run_Month=@runMonth	
	
	IF (@@ERROR <> 0) GOTO QuitWithRollback
	
/* End Taxable Slab1 for Taxation*/

/* Start Taxable Slab2 for Taxation*/
	--UPDATING TAXABLE SLAB2 FOR TAX CALCULATION
			UPDATE TaxCalculation_Trial SET Taxable_Slab2=ISNULL(Y.TAXABLE_SLAB2,0) 
			FROM TaxCalculation_Trial X, 
				(SELECT B.Emp_Id AS EMPLOYEE_ID,
				CASE 
				WHEN (Marital_Status='U' AND Taxable_Amount>=UNMARRIED_SLAB2) THEN UNMARRIED_SLAB2 
				WHEN (Marital_Status='U' AND Taxable_Amount<UNMARRIED_SLAB2 AND Taxable_Amount>0) THEN Taxable_Amount
				WHEN (Marital_Status='M' AND Taxable_Amount>=MARRIED_SLAB2) THEN MARRIED_SLAB2 
				WHEN (Marital_Status='M' AND Taxable_Amount<MARRIED_SLAB2 AND Taxable_Amount > 0) THEN Taxable_Amount
				END AS TAXABLE_SLAB2
				FROM 
				(SELECT FY_ID,MARRIED_SLAB2,UNMARRIED_SLAB2 
					FROM TaxRuleSetup 
					WHERE FY_ID=@fiscalYear)A,
				(SELECT FY_ID,Emp_Id,Marital_Status,(Taxable_Amount-Taxable_Slab1) AS Taxable_Amount 
					FROM TaxCalculation_Trial 
					WHERE FY_ID=@fiscalYear AND Run_Month=@runMonth)B
					WHERE A.FY_ID=B.FY_ID)Y 
				WHERE X.Emp_Id=Y.EMPLOYEE_ID AND X.FY_ID=@fiscalYear AND X.Run_Month=@runMonth	
	
			IF (@@ERROR <> 0) GOTO QuitWithRollback
	
/* End Taxable Slab2 for Taxation*/

/* Start Taxable Remaining for Taxation*/
	--UPDATING TAXABLE REMAINING FOR TAX CALCULATION
			UPDATE TaxCalculation_Trial SET Remaining=ISNULL(( CASE WHEN Taxable_Amount >0 THEN Taxable_Amount ELSE 0 END -Taxable_Slab1-Taxable_Slab2),0) WHERE FY_ID=@fiscalYear AND Run_Month=@runMonth	
			
/* End Taxable Remaining for Taxation*/

/* Start Tax Amount for Taxation*/
	--UPDATING TAX AMOUNT FOR TAX CALCULATION
		UPDATE TaxCalculation_Trial SET Tax_Amount=ISNULL(Y.TAX_AMOUNT,0) FROM TaxCalculation_Trial X, 
				(SELECT Emp_Id,CASE
				 WHEN Marital_Status='M' THEN ((Taxable_Slab1*MARRIED_RATE1)/100+(Taxable_Slab2*MARRIED_RATE2)/100 + (Remaining*MARRIED_RATE3)/100)
				 WHEN Marital_Status='U' THEN ((Taxable_Slab1*UNMARRIED_RATE1)/100+(Taxable_Slab2*UNMARRIED_RATE2)/100 + (Remaining*UNMARRIED_RATE3)/100)
				 END AS TAX_AMOUNT
				 FROM 
				(SELECT FY_ID,Emp_Id,Marital_Status,Taxable_Slab1,Taxable_Slab2,Remaining 
					FROM TaxCalculation_Trial 
					WHERE FY_ID=@fiscalYear AND Run_Month=@runMonth)A,
				(SELECT FY_ID,MARRIED_RATE1,MARRIED_RATE2,MARRIED_RATE3,UNMARRIED_RATE1,UNMARRIED_RATE2,UNMARRIED_RATE3 
					FROM TaxRuleSetup WHERE 
					FY_ID=@fiscalYear)B 
					WHERE A.FY_ID=B.FY_ID)Y 
				WHERE X.Emp_Id=Y.Emp_Id AND X.FY_ID=@fiscalYear AND X.Run_Month=@runMonth	
				
			IF (@@ERROR <> 0) GOTO QuitWithRollback
			
/* End Tax Amount for Taxation*/

 --UPDATING ADDITIONAL TAX AMOUNT FOR TAX CALCULATION 
        UPDATE TaxCalculation_trial SET Tax_Amount= Tax_Amount +ISNULL(Y.ADD_TAX_AMOUNT,0) FROM TaxCalculation_trial X,
                   (SELECT A.FY_ID,Run_Month,Emp_Id,  
                   ((A.Taxable_Amount-B.AMT_FOR_ADD_TAX)*  CASE
                   WHEN Marital_Status='M' THEN MARRIED_RATE3/100
                   WHEN Marital_Status='U' THEN UNMARRIED_RATE3/100 END) * ADD_TAX_RATE/100 AS ADD_TAX_AMOUNT
                    FROM TaxCalculation_trial A, TaxRuleSetup B
                    WHERE A.FY_ID=B.FY_ID
                    AND  A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth   AND B.FY_ID= @fiscalYear
                    AND A.Taxable_Amount >B.AMT_FOR_ADD_TAX           
                    )Y
                WHERE X.Emp_Id=Y.Emp_Id AND X.FY_ID=@fiscalYear AND X.Run_Month=@runMonth      
                 
            IF (@@ERROR <> 0) GOTO QuitWithRollback       

/* Start Tax Collected for Taxation*/
	--UPDATING TAX COLLECTED FOR TAX CALCULATION
		UPDATE TaxCalculation_Trial SET Tax_Collected=ISNULL(Y.TAX_COLLECTED,0)
		FROM TaxCalculation_Trial X, 
		(				
			SELECT EMP_ID,SUM(TAX_COLLECTED) AS TAX_COLLECTED FROM 
			(
			
			SELECT EMP_ID,CAST(SUM(Tax_This_Month) AS MONEY) AS TAX_COLLECTED 
				FROM TaxCalculation 
				WHERE FY_ID=@fiscalYear 
				GROUP BY EMP_ID
				
			UNION ALL
			
			SELECT EMPLOYEE_ID,CAST(SUM(ISNULL(TAX_DEDUCTED,0)) AS MONEY) AS TAX_COLLECTED 
				FROM AdhocPayment 
				WHERE APPLIED_DATE BETWEEN @yearStartDate AND @yearEndDate 
			GROUP BY EMPLOYEE_ID
			
			)B 
		GROUP BY Emp_Id				
		)Y WHERE X.Emp_Id=Y.Emp_Id AND X.FY_ID=@fiscalYear AND X.Run_Month=@runMonth	
				
	  IF (@@ERROR <> 0) GOTO QuitWithRollback
	  
/* End Tax Collected for Taxation*/

/* Start Tax Discount for Taxation*/
	--UPDATING TAX DISCOUNT FOR TAX CALCULATION
		UPDATE TaxCalculation_Trial SET Tax_Discount=ISNULL(Y.TAX_DISCOUNT,0) FROM TaxCalculation_Trial X, 
		(	
			SELECT B.EMPLOYEE_ID,(C.Tax_Amount*A.WOMAN_DISC_RATE)/100 AS TAX_DISCOUNT 
			FROM 
			(SELECT FY_ID,WOMAN_DISC_RATE 
				FROM TaxRuleSetup 
				WHERE FY_ID=@fiscalYear)A,
			(SELECT EMPLOYEE_ID 
				FROM Employee 
				WHERE GENDER=211
				)B,
			(SELECT FY_ID,Emp_Id,Tax_Amount 
				FROM TaxCalculation_Trial
				WHERE FY_ID=@fiscalYear AND Run_Month=@runMonth)C 
		 WHERE A.FY_ID=C.FY_ID AND B.EMPLOYEE_ID=C.Emp_Id)Y		
		 WHERE X.Emp_Id=Y.EMPLOYEE_ID AND X.FY_ID=@fiscalYear AND X.Run_Month=@runMonth	
				
		IF (@@ERROR <> 0) GOTO QuitWithRollback
		
/* End Tax Discount for Taxation*/


/* Start Tax Remaining for Taxation*/
	--UPDATING TAX REMAINING FOR TAX CALCULATION
		UPDATE TaxCalculation_Trial SET Tax_Remaining=ISNULL((Tax_Amount-Tax_Collected-Tax_Discount),0) 
		FROM TaxCalculation_Trial 
		WHERE FY_ID=@fiscalYear AND Run_Month=@runMonth	
		
	    IF (@@ERROR <> 0) GOTO QuitWithRollback 
						
/* End Tax Remaining for Taxation*/

/* Start Tax This Month for Taxation*/
	--UPDATING TAX THIS MONTH(CURRENT) FOR TAX CALCULATION	
		--UPDATE TaxCalculation_Trial SET Tax_This_Month=isnull(Tax_Remaining/(@remainMonth+1),0) 
		--FROM TaxCalculation_Trial 
		--WHERE FY_ID=@fiscalYear AND Run_Month=@runMonth		
		/* Start Tax This Month for Taxation*/ 
    --UPDATING TAX THIS MONTH(CURRENT) FOR TAX CALCULATION    
        UPDATE TaxCalculation_Trial SET Tax_This_Month=(CASE WHEN ISNULL(Tax_Remaining,0)<0 THEN 0 ELSE ISNULL(Tax_Remaining,0) END)  /(@remainMonth+1) 
        FROM TaxCalculation_Trial 
        WHERE FY_ID=@fiscalYear AND Run_Month=@runMonth        
        
            IF (@@ERROR <> 0) GOTO QuitWithRollback
			
			
	--UPDATING TAX THIS MONTH(CURRENT) FOR NON NEPALI EMPLOYEE IN TAX CALCULATION		
		UPDATE TaxCalculation_Trial SET Tax_This_Month=C.TAX_AMOUNT 
			FROM TaxCalculation_Trial D,
		(SELECT Emp_Id,(BENEFIT_AMOUNT*NON_NEPALI_RATE)/100 AS TAX_AMOUNT 
		FROM 		
		(SELECT FY_ID,NON_NEPALI_RATE 
			FROM TaxRuleSetup 
			WHERE FY_ID=@fiscalYear)A,
		(SELECT FY_ID,Emp_Id,Basic_Salary_Current+Grade_Current+Allowance_Current+Adhoc_Benefits_This_Month+Premium_Paid_Employer AS BENEFIT_AMOUNT
		 FROM TaxCalculation_Trial TC INNER JOIN Employee E ON E.EMPLOYEE_ID=TC.Emp_Id
		 WHERE  E.NATIONALITY='N' AND FY_ID=@fiscalYear AND Run_Month=@runMonth )B 
		 WHERE A.FY_ID=B.FY_ID)C
		 WHERE D.Emp_Id=C.Emp_Id AND D.FY_ID=@fiscalYear AND D.Run_Month=@runMonth	
				
		IF (@@ERROR <> 0) GOTO QuitWithRollback 
					
/* End Tax This Month for Taxation*/

/* Start Adhoc Deductions Calculation*/
	--UPDATING ADHOC DEDUCTIONS IN TAX CALCULATION
		UPDATE TaxCalculation_Trial SET Adhoc_Deduction=ISNULL(B.ADHOC_DEDUCTION_TAXABLE,0) FROM TaxCalculation_Trial A,  
			(SELECT A.Employee_id, SUM(AMOUNT) AS ADHOC_DEDUCTION_TAXABLE FROM AdhocPayment a WITH (NOLOCK)
			INNER JOIN  StaticDataDetail c WITH (NOLOCK)ON a.HEAD_id=C.rowid
			WHERE C.TYPE_ID=40 
			AND A.APPLIED_DATE BETWEEN @yearStartDate AND  DATEADD(DAY,-1, @monthStartDate) GROUP BY A.Employee_id
		)B WHERE A.Emp_Id =B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth
	
			IF (@@ERROR <> 0) GOTO QuitWithRollback 
			
			
	--UPDATING ADHOC DEDUCTIONS CURRENT MONTH IN TAX CALCULATION		
		UPDATE TaxCalculation_Trial SET Adhoc_Deduction_Current=ISNULL(B.ADHOC_DEDUCTION_CURRENT_TAXABLE,0) FROM TaxCalculation_Trial A,  
			(SELECT A.Employee_id, SUM(AMOUNT) AS ADHOC_DEDUCTION_CURRENT_TAXABLE FROM AdhocPayment a WITH (NOLOCK)
			INNER JOIN  StaticDataDetail c WITH (NOLOCK)ON a.HEAD_id=C.rowid
			WHERE C.TYPE_ID=40 
			AND (A.APPLIED_DATE IS NULL ) GROUP BY A.Employee_id
			---OR A.APPLIED_DATE BETWEEN @monthStartDate AND @monthEndDate
		)B WHERE A.Emp_Id =B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth

		IF (@@ERROR <> 0) GOTO QuitWithRollback 
		
/* End Adhoc Deduction  Calculation*/

/* Start Advance Deduction  Calculation*/
	--UPDATING ADVANCE DEDUCTION CALCULATION FOR SALARY CALCULATION
	UPDATE TaxCalculation_Trial SET Advance_Deduction=ISNULL(B.ADVANCE_DEDUCTION,0) 
	FROM TaxCalculation_Trial A,  
		(SELECT EMPLOYEE_ID,SUM(CASE WHEN DEDUCTION_AMT<=REMAINING_BAL THEN DEDUCTION_AMT ELSE REMAINING_BAL END) AS ADVANCE_DEDUCTION FROM Advance  
			WITH (NOLOCK) WHERE next_run_month=@runMonth AND DEDUCTION_START_DATE<=@monthEndDate
			GROUP BY EMPLOYEE_ID)B 
			WHERE A.Emp_Id =B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth

			IF (@@ERROR <> 0) GOTO QuitWithRollback 
			
			
/* End Advance Deduction  Calculation*/

/* START LOAN Deduction  Calculation*/
	--UPDATING LOAN DEDUCTION FRO CALCULATING SALARY
		UPDATE TaxCalculation_Trial SET Loan_Deduction=ISNULL(B.LOAN_DEDUCTION,0) 
		FROM TaxCalculation_Trial A,  
			(SELECT EMPLOYEE_ID,SUM(INSTALLMENT_AMT) AS LOAN_DEDUCTION FROM loan WITH (NOLOCK) WHERE NEXT_RUN_MONTH=@runMonth
				 AND REMAINING_INSTALLMENT>0 AND INSTALLMENT_START_DATE<=@monthEndDate GROUP BY EMPLOYEE_ID)B 
		WHERE A.Emp_Id =B.EMPLOYEE_ID AND A.FY_ID=@fiscalYear AND A.Run_Month=@runMonth

			IF (@@ERROR <> 0) GOTO QuitWithRollback 
			
/* End LOAN Deduction  Calculation*/

---------##################################################################################################################################----------

				--================Start Recording in hisory==========----
		
			
/* START RECORDING IN PAYABLE HISTORY */
	INSERT INTO PayableHistory_trial(benefit_id,EMPLOYEE_ID,FY_ID,RuN_MONTH,PAID_AMOUNT)
	(
	
		SELECT BENEFIT_ID,EMPLOYEE_ID,@fiscalYear,@runMonth,SUM(AMOUNT) AS AMOUNT FROM
		(	
			SELECT  BENEFIT_ID,A.EMPLOYEE_ID,AMOUNT FROM Payable a INNER JOIN StaticDataDetail s ON a.BENEFIT_ID=s.ROWID 
			INNER JOIN TaxCalculation_Trial T ON T.Emp_Id=A.EMPLOYEE_ID
			WHERE T.Run_Month=@runMonth AND T.FY_ID=@fiscalYear and s.TYPE_ID in (36,37,38)
			
			UNION ALL
			
			SELECT HEAD_ID,A.EMPLOYEE_ID,CASE WHEN ADD_DEDUCT='D' THEN amount*-1 ELSE AMOUNT END AS AMOUNT FROM AdhocPayment a WITH (NOLOCK)
			INNER JOIN  StaticDataDetail c WITH (NOLOCK)ON a.HEAD_id=C.rowid INNER JOIN TaxCalculation_Trial T ON T.Emp_Id=A.EMPLOYEE_ID
			WHERE T.Run_Month=@runMonth AND T.FY_ID=@fiscalYear
			AND A.APPLIED_DATE IS NULL and c.TYPE_ID in (36,37,38)
			
		)a GROUP BY A.BENEFIT_ID,A.EMPLOYEE_ID
		
	)
	


		IF (@@ERROR <> 0) GOTO QuitWithRollback 
	
		
/* END RECORDING IN PAYABLE HISTORY */


/* START RECORDING IN CONTRIBUTION HISTORY */

	--select * from ContributionHistory
	INSERT INTO ContributionHistory_trial (CONTRIBUTION_ID,EMPLOYEE_ID,FY_ID,RUN_MONTH,AMOUNT_EMPLOYEE,AMOUNT_EMPLOYER)(
	SELECT Z.ID,Z.EMPLOYEE_ID,@fiscalYear,@runMonth, SUM (AMOUNT_EMPLOYEE) AMOUNT_EMPLOYEE, SUM (AMOUNT_EMPLOYER) AMOUNT_EMPLOYER 
	FROM (
			-----FOR FLAT BASIS BY EMPLOYER-----		
			SELECT a.id,a.EMPLOYEE_ID, 0 AMOUNT_EMPLOYEE, VALUE_EMPLOYER AS AMOUNT_EMPLOYER
			FROM Contribution a WITH (NOLOCK) INNER JOIN Employee b WITH (NOLOCK)
			ON a.EMPLOYEE_ID=b.EMPLOYEE_ID
			WHERE a.FLAG_EMPLOYER='F'
			AND b.EMP_STATUS=458
			AND a.CONTRIBUTION_FROM_DATE_EMPLOYER<=@monthEndDate
			
			UNION ALL
			-----FOR % BASIS BY EMPLOYER-----
			SELECT Q.ID, EMPLOYEE_ID,0 AMOUNT_EMPLOYEE,(q.VALUE_EMPLOYER * (BASIC+GRADE+ALLOWANCE))/100 AS AMOUNT_EMPLOYER
				FROM (SELECT A.ID,EMPLOYEE_ID, VALUE_EMPLOYER,
				CASE WHEN  ISNULL(SUBSTRING(CONTRIBUTION_BASIS_EMPLOYER,1,2),0)='36' THEN Basic_Salary_Current   ELSE 0 END  AS BASIC ,
				CASE WHEN  ISNULL(SUBSTRING(CONTRIBUTION_BASIS_EMPLOYER,4,2),0)='37' THEN Grade_Current   ELSE 0 END  AS GRADE ,
				CASE WHEN  ISNULL(SUBSTRING(CONTRIBUTION_BASIS_EMPLOYER,7,2),0)='38' THEN Allowance_Current  ELSE 0 END  AS ALLOWANCE
		 		FROM  Contribution A,  TaxCalculation_Trial B
				WHERE A.EMPLOYEE_ID=B.Emp_Id
				AND B.FY_ID=@fiscalYear AND B.Run_Month=@runMonth
				AND A.FLAG_EMPLOYER='P'
				AND A.CONTRIBUTION_FROM_DATE_EMPLOYER<=@monthEndDate)q

			UNION ALL

			-----FOR FLAT AMOUNT BY EMPLOYER-----		
			SELECT A.ID, a.EMPLOYEE_ID,VALUE_EMPLOYEE AS AMOUNT_EMPLOYEE,0 AMOUNT_EMPLOYER
			FROM Contribution a WITH (NOLOCK) INNER JOIN Employee b WITH (NOLOCK)
			ON a.EMPLOYEE_ID=b.EMPLOYEE_ID
			WHERE a.FLAG_EMPLOYEE='F'
			AND b.EMP_STATUS=458
			AND a.CONTRIBUTION_FROM_DATE_EMPLOYEE<=@monthEndDate
			AND B.EMPLOYEE_ID<>1000 
	AND B.BRANCH_ID LIKE ISNULL(@branchid ,'%')
	AND B.EMPLOYEE_ID LIKE ISNULL(@emp_id ,'%')
			
			UNION ALL
			 -----FOR % BASIS BY EMPLOYER-----
			SELECT Q.ID,EMPLOYEE_ID,(q.VALUE_EMPLOYEE * (BASIC+GRADE+ALLOWANCE))/100 AS AMOUNT_EMPLOYEE, 0 AMOUNT_EMPLOYER
			FROM (
			SELECT A.ID,EMPLOYEE_ID, VALUE_EMPLOYEE,
			CASE WHEN  ISNULL(SUBSTRING(CONTRIBUTION_BASIS_EMPLOYEE,1,2),0)='36' THEN Basic_Salary_Current   ELSE 0 END  AS BASIC ,
			CASE WHEN  ISNULL(SUBSTRING(CONTRIBUTION_BASIS_EMPLOYEE,4,2),0)='37' THEN Grade_Current   ELSE 0 END  AS GRADE ,
			CASE WHEN  ISNULL(SUBSTRING(CONTRIBUTION_BASIS_EMPLOYEE,7,2),0)='38' THEN Allowance_Current  ELSE 0 END  AS ALLOWANCE
		 	FROM  Contribution A,  TaxCalculation_Trial B
			WHERE A.EMPLOYEE_ID=B.Emp_Id
			AND B.FY_ID=@fiscalYear AND B.Run_Month=@runMonth
			AND A.FLAG_EMPLOYEE='P'
			AND A.CONTRIBUTION_FROM_DATE_EMPLOYEE<=@monthEndDate)q
			
		) Z
		GROUP BY ID,EMPLOYEE_ID)
		
		IF (@@ERROR <> 0) GOTO QuitWithRollback 
		
/* END RECORDING IN CONTRIBUTION HISTORY */


/* START RECORDING IN ADVANCECOLLECTION */

		INSERT INTO AdvanceCollection_trial(ADVANCE_ID,PAID_AMOUNT,PAID_DATE,CREATED_BY,CREATED_DATE,NARRATION)
				(SELECT ID,CASE WHEN DEDUCTION_AMT<=REMAINING_BAL THEN DEDUCTION_AMT ELSE REMAINING_BAL END AS PAID_AMOUNT,
				@applieddate,@user,GETDATE(),'Collected for ' + @monthname + ' ' + @fiscalYear + ' by system' AS NARRATION
				FROM Advance A WITH (NOLOCK)  INNER JOIN Employee B WITH (NOLOCK)
				ON A.EMPLOYEE_ID=B.EMPLOYEE_ID
				AND B.EMP_STATUS=458
				AND next_run_month=@runMonth
				AND DEDUCTION_START_DATE<=@monthEndDate
				
				AND B.EMPLOYEE_ID<>1000 
	AND B.BRANCH_ID LIKE ISNULL(@branchid ,'%')
	AND B.EMPLOYEE_ID LIKE ISNULL(@emp_id ,'%'))
		
		IF (@@ERROR <> 0) GOTO QuitWithRollback 
		
		
/* END RECORDING IN ADVANCECOLLECTION */

/* START RECORDING IN LOAN_COLLECTION */

INSERT INTO loan_collection_trial(EMP_ID,LOAN_ID,PAID_AMOUNT,PAID_DATE,CREATED_BY,CREATED_DATE,NARRATION)
		(SELECT A.EMPLOYEE_ID,ID,INSTALLMENT_AMT,
		@applieddate,@user,GETDATE(),'Collected for ' + @monthname + ' ' + @fiscalYear + ' by system' AS NARRATION
		FROM LOAN A WITH (NOLOCK)  INNER JOIN Employee B WITH (NOLOCK)
		ON A.EMPLOYEE_ID=B.EMPLOYEE_ID
		AND B.EMP_STATUS=458 
		AND NEXT_RUN_MONTH=@runMonth
		AND REMAINING_INSTALLMENT>0 
		AND INSTALLMENT_START_DATE<=@monthEndDate 
		
		AND B.EMPLOYEE_ID<>1000 
	AND B.BRANCH_ID LIKE ISNULL(@branchid ,'%')
	AND B.EMPLOYEE_ID LIKE ISNULL(@emp_id ,'%'))
		
IF (@@ERROR <> 0) GOTO QuitWithRollback 
		
/* END RECORDING IN LOAN_COLLECTION */

COMMIT TRANSACTION

	SELECT 'Payroll Generated Sucessfully!' AS remarks
	
	
GOTO  EndSave

QuitWithRollback:
ROLLBACK TRANSACTION 


EndSave: 
	
END
GO
