USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procManageNumberSequence]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[procManageNumberSequence]  
(   
  @SEQDATEFORMAT  VARCHAR(20) = NULL
 ,@NUMSEQUENCE   VARCHAR(20)  = NULL
 ,@ISSEQUENCESEP  VARCHAR(1)  = NULL
 ,@NUMSEQUENCESEP VARCHAR(1)  = NULL
 ,@ISCOMPSHORTCODE VARCHAR(1) = NULL
 ,@ISCOMPSEP   VARCHAR(1)	  = NULL	
 ,@COMPSEPARATOR  VARCHAR(1)  = NULL
 ,@ISBRANCHCODE  VARCHAR(1)  = NULL
 ,@ISBRANCHSEP  VARCHAR(1)  = NULL
 ,@BRANCHSEPARATOR VARCHAR(1)  = NULL
 ,@ISASSETCODE  VARCHAR(1)  = NULL
 ,@ISASSETCODESEP VARCHAR(1)  = NULL
 ,@ASSETSEPARATOR VARCHAR(1) = NULL
 ,@ISDATECODE	VARCHAR(1) = NULL
 ,@ACTIONBY   INT  = NULL
 ,@ACTIONDATE  DATETIME  = NULL
 )  
   
AS  
BEGIN  
 DECLARE @CNT INT  
   
 SELECT @CNT = COUNT(*) FROM [ASSET_NumberSequence]   
   
 IF (@CNT > 0)  
 BEGIN  
  UPDATE [ASSET_NumberSequence]  
   SET   
     [SeqDateFormat] = @SEQDATEFORMAT  
    ,[NumSequence] = @NUMSEQUENCE  
    ,[IsSequenceSep] = @ISSEQUENCESEP  
    ,[SequenceSep] =   @NUMSEQUENCESEP  
    ,[IsCompShortCode] = @ISCOMPSHORTCODE  
    ,[IsCompSep] = @ISCOMPSEP  
    ,[CompSeparator] = @COMPSEPARATOR  
    ,[IsBranchCode] =  @ISBRANCHCODE  
    ,[IsBranchSep] = @ISBRANCHSEP  
    ,[BranchSeparator] = @BRANCHSEPARATOR  
    ,[IsAssetCode] = @ISASSETCODE  
    ,[IsAssetCodeSep] = @ISASSETCODESEP  
    ,[AssetSeparator] = @ASSETSEPARATOR  
    ,[IsDateCode] = @ISDATECODE   
    ,[ModifiedBy] = @ACTIONBY  
    ,[ModifiedDate] = @ACTIONDATE    
 END  
   
 ELSE  
 BEGIN  
  INSERT INTO [ASSET_NumberSequence]  
           ([SeqDateFormat]  
           ,[NumSequence]  
           ,[IsSequenceSep]  
           ,[SequenceSep]  
           ,[IsCompShortCode]  
           ,[IsCompSep]  
           ,[CompSeparator]  
           ,[IsBranchCode]  
           ,[IsBranchSep]  
           ,[BranchSeparator]  
           ,[IsAssetCode]  
           ,[IsAssetCodeSep]  
           ,[AssetSeparator]  
           ,[IsDateCode]
           ,[CreatedBy]  
           ,[CreatedDate])  
     VALUES  
           (@SEQDATEFORMAT  
           ,@NUMSEQUENCE  
           ,@ISSEQUENCESEP  
           ,@NUMSEQUENCESEP  
           ,@ISCOMPSHORTCODE  
           ,@ISCOMPSEP  
           ,@COMPSEPARATOR  
           ,@ISBRANCHCODE  
           ,@ISBRANCHSEP  
           ,@BRANCHSEPARATOR  
           ,@ISASSETCODE  
           ,@ISASSETCODESEP  
           ,@ASSETSEPARATOR 
           ,@ISDATECODE            
           ,@ACTIONBY  
           ,@ACTIONBY)  
 END  
   
END
GO
