USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[ProcAttendanceRpt]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- EXEC [ProcAttendanceRpt] 'I','Absent','2012-05-16','2012-05-16',null,null
-- EXEC [ProcAttendanceRpt] 'I','Late_Early','2011-11-01','2011-11-02',null,null

CREATE PROC [dbo].[ProcAttendanceRpt]
	@FLAG VARCHAR(1),
	@RPT_NATURE VARCHAR(20),
	@FROM_DATE VARCHAR(20)=NULL,
	@TO_DATE VARCHAR(20)=NULL,
	@BRANCH_ID VARCHAR(20)=NULL,
	@DEPT_ID VARCHAR(20)=NULL
AS
SET NOCOUNT ON;

IF @flag ='I'
BEGIN

	---START PROC ATTENDANCE LATE IN----
	IF @RPT_NATURE='LateIn'
	BEGIN
			SELECT
				 ROW_NUMBER()OVER(ORDER BY A.login_time) AS [S.N.]
				--,A.EMPLOYEE_ID
				,E.EMP_CODE as [EMP CODE]
				,E.FIRST_NAME+' '+MIDDLE_NAME+' '+LAST_NAME AS [EMPLOYEE NAME]
				,DBO.GETBRANCHnAME(E.BRANCH_ID) AS [BRANCH NAME]
				,CONVERT(VARCHAR,login_time,107) [ATT. DATE]
				,CAST(CONVERT(TIME,login_time,101) AS VARCHAR(8)) AS [LOGIN TIME]
				,AR.reason_detail_in AS [LOGIN REASON]
				,CAST(CONVERT(TIME,logout_time,101) AS VARCHAR(8)) AS [LOGOUT TIME]
				,AR.reason_detail_out AS [LOGOUT REASON] 
			FROM atttendance A 
				INNER JOIN Employee E ON E.EMPLOYEE_ID=A.emp_id LEFT JOIN ATT_REASON_DETAIL AR ON AR.att_id=A.id
			WHERE 
				CONVERT(TIME,login_time,101) >'09:30:00' AND
				dbo.FNADateFormat(login_time,'d') BETWEEN dbo.FNADateFormat(@FROM_DATE,'d') AND dbo.FNADateFormat(@TO_DATE,'d')+ ' 23:59' AND
				E.BRANCH_ID LIKE ISNULL(@BRANCH_ID,'%') AND
				E.DEPARTMENT_ID LIKE ISNULL(@DEPT_ID,'%')
				
			ORDER BY login_time
	END

---END PROC ATTENDANCE LATE IN----

---START PROC ATTENDANCE ON TIME----

	IF @RPT_NATURE='OnTime'
	BEGIN
			SELECT
				 ROW_NUMBER()OVER(ORDER BY A.login_time) AS [S.N.]
				--,A.EMPLOYEE_ID
				,E.EMP_CODE [EMP CODE]
				,E.FIRST_NAME+' '+MIDDLE_NAME+' '+LAST_NAME AS [EMPLOYEE NAME]
				,DBO.GETBRANCHnAME(E.BRANCH_ID) AS [BRANCH NAME]
				,CONVERT(VARCHAR,login_time,107) [ATT. DATE]
				,CAST(CONVERT(TIME,login_time,101) AS VARCHAR(8)) AS [LOGIN TIME]
				,AR.reason_detail_in AS [LOGIN REASON]
				,CAST(CONVERT(TIME,logout_time,101) AS VARCHAR(8)) AS [LOGOUT TIME]
				,AR.reason_detail_out AS [LOGOUT REASON]
			FROM atttendance A 
				INNER JOIN Employee E ON E.EMPLOYEE_ID=A.emp_id LEFT JOIN ATT_REASON_DETAIL AR ON AR.att_id=A.id
			WHERE 
				CONVERT(TIME,login_time,101) <= '09:30:00' AND
				dbo.FNADateFormat(login_time,'d') BETWEEN dbo.FNADateFormat(@FROM_DATE,'d') AND dbo.FNADateFormat(@TO_DATE,'d')+ ' 23:59' AND
				E.BRANCH_ID LIKE ISNULL(@BRANCH_ID,'%') AND
				E.DEPARTMENT_ID LIKE ISNULL(@DEPT_ID,'%')
			ORDER BY login_time
	END

---START PROC ATTENDANCE ON TIME----

---START PROC ATTENDANCE EARLY OUT---
	
	IF @RPT_NATURE='EarlyOut'
	BEGIN
			SELECT
				 ROW_NUMBER()OVER(ORDER BY A.login_time) AS [S.N.]
				--,A.EMPLOYEE_ID
				,E.EMP_CODE [EMP CODE]
				,E.FIRST_NAME+' '+MIDDLE_NAME+' '+LAST_NAME AS [EMPLOYEE NAME]
				,DBO.GETBRANCHnAME(E.BRANCH_ID) AS [BRANCH NAME]
				,CONVERT(VARCHAR,login_time,107) [ATT. DATE]
				,CAST(CONVERT(TIME,login_time,101) AS VARCHAR(8)) AS [LOGIN TIME]
				,AR.reason_detail_in AS [LOGIN REASON],
				CAST(CONVERT(TIME,logout_time,101) AS VARCHAR(8)) AS [LOGOUT TIME]
				,AR.reason_detail_out AS [LOGOUT REASON] 
			FROM atttendance A 
				INNER JOIN Employee E ON E.EMPLOYEE_ID=A.emp_id 
				LEFT JOIN ATT_REASON_DETAIL AR ON AR.att_id=A.id
			WHERE 
				CONVERT(TIME,logout_time,101) < '17:00:00' AND
				dbo.FNADateFormat(login_time,'d') BETWEEN dbo.FNADateFormat(@FROM_DATE,'d') AND dbo.FNADateFormat(@TO_DATE,'d')+ ' 23:59' AND 
				E.BRANCH_ID LIKE ISNULL(@BRANCH_ID,'%') AND
				E.DEPARTMENT_ID LIKE ISNULL(@DEPT_ID,'%')
			ORDER BY login_time
	END

---END PROC ATTENDANCE EARLY OUT--

---START PROC ATTENDANCE ABSENT--

	IF @RPT_NATURE='Absent'
	BEGIN
				
		IF OBJECT_ID('tempdb..#REPORT') IS NOT NULL
		drop table #REPORT
		
		CREATE TABLE #REPORT
		(	
			empId int,
			attDate DATETIME,
			BRANCH_ID VARCHAR(20)
		)	

				
		DECLARE @tmpDate DATE = @FROM_DATE
		
		WHILE @tmpDate <= @TO_DATE
		BEGIN		
			INSERT INTO #REPORT (empId,attDate,BRANCH_ID)
			
			SELECT EMPLOYEE_ID , @tmpDate,BRANCH_ID
			FROM Employee 
			WHERE EMP_STATUS='458' AND EMPLOYEE_ID<>1000				
			SET @tmpDate = DATEADD(d,1, @tmpDate)
	
		END
		
	-- ### DELETE LEAVE RECORDS
		DELETE FROM #REPORT 						
		FROM #REPORT t
		INNER JOIN LeaveRequest ds ON t.empId = ds.REQUESTED_BY
		where LEAVE_STATUS='Approved' and
		convert(varchar,t.attDate,102)  between convert(varchar,ds.APPROVED_FROM,102)
		and convert(varchar,ds.APPROVED_TO,102)
	
	-- ### DELETE ATTENDANCE RECORDS
		DELETE FROM #REPORT 						
		FROM #REPORT t INNER JOIN 
		atttendance b on convert(varchar,t.attDate,102)=convert(varchar,b.att_date,102)
		and t.empId=b.emp_id
		
	-- ### DELETE SATURDAY RECORDS
		DELETE FROM #REPORT
		FROM  #REPORT A	,
		(
			SELECT DATENAME(WEEKDAY,attDate) DAY_NAME,attDate FROM #REPORT 
			WHERE	DATENAME(WEEKDAY,attDate)='Saturday'
			
		)B WHERE CONVERT(VARCHAR,A.attDate,102)=CONVERT(VARCHAR,B.attDate,102)

	--### DELETING HOLIDAY MADE BY COMPANY DETAILS	    
		DELETE FROM #REPORT
		FROM  #REPORT A	,
		(
			SELECT DATE ATT_DATE,BRANCHID FROM OfficialCalendar WHERE TYPE='H'
		)B WHERE CONVERT(VARCHAR,A.attDate,102)=CONVERT(VARCHAR,B.ATT_DATE,102)	 

	--### DELETING TRAINING RECORDS
	DELETE #REPORT
	from #REPORT r, 
	(
	
		select TP.employeeId,Pr.plannedStartDate,Pr.plannedEndDate 
		from trainingParticipation TP
		Inner Join training Pr on TP.trainingId=Pr.ID
	)a
	where  a.employeeId=r.empId and r.attDate between a.plannedStartDate and a.plannedEndDate
	
	DELETE #REPORT 
	FROM #REPORT R,
	(
		SELECT EMPLOYEE_ID,JOINED_DATE FROM Employee 
	)A WHERE R.empId=A.EMPLOYEE_ID AND R.attDate<A.JOINED_DATE
		
		
		select ROW_NUMBER()over(Order by attDate,E.emp_code) AS [S.N]
		,dbo.GetEmployeeFullNameOfId(empId) AS [EMPLOYEE NAME]
		,dbo.GetBranchName(A.BRANCH_ID) AS [BRANCH]
		,dbo.GetDeptName(DEPARTMENT_ID) AS [DEPARTMENT]
		,convert(varchar,attDate,107) AS [DATE]
		,DATENAME(WEEKDAY,attDate) AS [DAY]
		 from #REPORT A		
		LEFT join Employee E on A.empId=E.EMPLOYEE_ID 	
		where E.BRANCH_ID =ISNULL(@BRANCH_ID,E.BRANCH_ID)
		AND E.DEPARTMENT_ID=ISNULL(@DEPT_ID,E.DEPARTMENT_ID)
		
	END
	
---END PROC ATTENDANCE ABSENT--
  	IF @RPT_NATURE='Late_Early'
	BEGIN
			SELECT
				 ROW_NUMBER()OVER(ORDER BY A.login_time) AS [S.N.]
				--,A.EMPLOYEE_ID
				,E.EMP_CODE [EMP CODE]
				,E.FIRST_NAME+' '+MIDDLE_NAME+' '+LAST_NAME AS [EMPLOYEE NAME]
				,DBO.GETBRANCHnAME(E.BRANCH_ID) AS [BRANCH NAME]
				,CONVERT(VARCHAR,login_time,107) [ATT. DATE]
				,CAST(CONVERT(TIME,login_time,101) AS VARCHAR(8)) AS [LOGIN TIME]
				,AR.reason_detail_in AS [LOGIN REASON],
				CAST(CONVERT(TIME,logout_time,101) AS VARCHAR(8)) AS [LOGOUT TIME]
				,AR.reason_detail_out AS [LOGOUT REASON] 
			FROM atttendance A 
				INNER JOIN Employee E ON E.EMPLOYEE_ID=A.emp_id 
				LEFT JOIN ATT_REASON_DETAIL AR ON AR.att_id=A.id
			WHERE 
				CONVERT(TIME,logout_time,101) < '17:00:00' AND	CONVERT(TIME,login_time,101) >'09:30:00' AND
				dbo.FNADateFormat(login_time,'d') BETWEEN dbo.FNADateFormat(@FROM_DATE,'d') AND dbo.FNADateFormat(@TO_DATE,'d')+ ' 23:59' AND 
				E.BRANCH_ID LIKE ISNULL(@BRANCH_ID,'%') AND
				E.DEPARTMENT_ID LIKE ISNULL(@DEPT_ID,'%')
			ORDER BY login_time
	END
END
GO
