USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[ProcCompanySummaryReport]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Exec ProcCompanySummaryReport
create proc [dbo].[ProcCompanySummaryReport]
	@flag char(1),
	@Branch_code int =null,
	@dept_code int=null,
	@emp_code int=null
AS

set nocount on;
if @flag='a'
begin

	select COMP_NAME,TOTALBRANCH,TOTALDEPT,TOTALEMP from Company, (
	select count(*) as TOTALBRANCH from  Branches
	) br, (select count(*) as TOTALDEPT from  Departments) dp,
	(select count(*) as TOTALEMP from  Employee) em

end
if @flag='b'
begin

	select br.BRANCH_NAME,TOATLDEPT,TOTALEMP from Branches br, 
	(select BRANCH_ID,count(*)as TOATLDEPT from  Departments group by BRANCH_ID) dp,
	(	
		select BRANCH_NAME,sum(e.TOTALEMP) as TOTALEMP from Branches b, 
		(select d.BRANCH_ID, d.Department_id, count(*) as TOTALEMP from  Departments d, Employee e 
		where d.DEPARTMENT_ID=e.DEPARTMENT_ID group by d.Department_id,d.BRANCH_ID )e
		where e.BRANCH_ID=b.BRANCH_ID
		group by BRANCH_NAME
	)f
	where dp.BRANCH_ID=br.BRANCH_ID and f.BRANCH_NAME=br.BRANCH_NAME
	
end

if @flag='d'
begin

	select COMP_NAME,TOTALBRANCH,TOTALDEPT,TOTALEMP from Company, (
	select count(*) as TOTALBRANCH from  Branches
	) br, (select count(*) as TOTALDEPT from  Departments) dp,
	(select count(*) as TOTALEMP from  Employee) em

end
if @flag='e'
begin

	select COMP_NAME,TOTALBRANCH,TOTALDEPT,TOTALEMP from Company, (
	select count(*) as TOTALBRANCH from  Branches
	) br, (select count(*) as TOTALDEPT from  Departments) dp,
	(select count(*) as TOTALEMP from  Employee) em

end
GO
