USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_gradeIncrement]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*  
 exec proc_gradeIncrement @flag='FY'  
 exec proc_gradeIncrement @flag='AR'  
 exec proc_gradeIncrement @flag='branch'  
 exec proc_gradeIncrement @flag='dept'  
 exec proc_gradeIncrement @flag='post'  
  
 EXEC proc_gradeIncrement @flag='save',@fiscalYear='69-70',@appRating='906',@effectiveDate='7/14/2012',@applyDate='9/17/2012',@emp_ids='',@user='1000'  
  
EXEC proc_gradeIncrement @flag='save',@fiscalYear='71-72',@appRating='2028',@effectiveDate='7/16/2014',  
@applyDate='2/25/2015',@emp_ids='1964',@user='1000'  
  
 */   
CREATE PROC [dbo].[proc_gradeIncrement]  
 @flag VARCHAR(20),  
 @branchId int   = null,  
 @deptId int    = null,  
 @postionId int   = null,  
 @salarySet int   = null,  
 @fiscalYear varchar(50) = null,  
 @appRating varchar(50) = null,  
 @effectiveDate date = null,  
 @applyDate  date = null,  
 @emp_ids  varchar(max) = null,  
 @user   varchar(50) = null  
   
   
AS  
SET NOCOUNT ON  
SET XACT_ABORT ON  
BEGIN TRY  
  
 if @flag='save'  
 begin  
  IF OBJECT_ID('tempdb..#TempTable') IS NOT NULL  
  DROP TABLE #TempTable  
    
    
  CREATE TABLE #TempTable  
  (  
   EMPLOYEE_ID INT NULL,     
   PROMOTION_DATE DATE NULL,       
   BENEFIT_ID INT NULL,        
   SET_ID INT NULL,        
   INCREMENT_BY INT NULL,       
   Diff INT NulL,       
   OLD_GRADE FLOAT NULL,        
   NEW_GRADE FLOAT NULL,        
   OLD_BASIC MONEY NULL,        
   NEW_BASIC MONEY NULL       
  )    
    
  /*  
   EXEC proc_gradeIncrement @flag='save',@fiscalYear='69-70',@appRating='905',@effectiveDate='09/01/2012',@applyDate='09/01/2012'  
   ,@emp_ids='1320,1321,1322,1323,1324,1325,1326,1327'  
    
  */  
    
 DECLARE @INCREMENT_BY AS INT,@intTotalRows INT        
          
  IF @appRating='2027'         
   SET @INCREMENT_BY=3        
  IF @appRating='2028'         
   SET  @INCREMENT_BY=2        
  IF @appRating='2026'         
   SET  @INCREMENT_BY=1        
          
  IF @emp_ids is not null        
  BEGIN        
        
  INSERT INTO #TempTable       
 SELECT EMPLOYEE_ID,max(PROMOTION_DATE)as PROMOTION_DATE,BENEFIT_ID,SET_ID,@INCREMENT_BY,datediff(mm,max(PROMOTION_DATE),@effectiveDate) as Diff,Grade,NULL,AMOUNT ,NULL    
FROM (SELECT b.EMPLOYEE_ID,P.Promotion_Date,b.BENEFIT_ID,b.SET_ID,C.GRADE,'' as blank,b.AMOUNT FROM      
  (     
  select * from dbo.split(@emp_ids,',')--Employee where EMP_TYPE=185      
  )a     
  INNER JOIN  Payable b ON a.name=b.EMPLOYEE_ID       
  INNEr JOIN EMPLOYEE C ON C.EMPLOYEE_ID=A.name     
  LEFT JOIN Promotion P ON P.emp_id =C.EMPLOYEE_ID     
  WHERE b.BENEFIT_ID=390 AND effective_upto >='2999-07-16'-- and p.emp_id =a.id    
  )x group by EMPLOYEE_ID,BENEFIT_ID,SET_ID,Grade,blank,AMOUNT      
      
        
  set @intTotalRows=1        
  while @INCREMENT_BY >=  @intTotalRows        
  begin        
    -- UPDATE #TempTable SET NEW_GRADE = OLD_GRADE+@intTotalRows        
      UPDATE #TempTable SET NEW_GRADE =  CASE WHEN diff < 6 THEN OLD_GRADE  ELSE OLD_GRADE + @intTotalRows  END      
    --select * from #TempTable        
        
    --DELETE FROM #TempTable WHERE NEW_GRADE>20        
        
    UPDATE #TempTable SET NEW_BASIC= CASE WHEN B.NEW_GRADE <> A.OLD_GRADE THEN ISNULL(A.OLD_BASIC,0)+ISNULL(B.Amount,0) ELSE ISNULL(A.OLD_BASIC,0) END FROM #TempTable A,        
    (        
     SELECT A.*,B.Salary_set_id,B.Grade,B.Amount         
     FROM #TempTable A INNER JOIN Grade_Setup B         
     ON A.SET_ID=B.Salary_set_id AND A.NEW_GRADE=B.Grade        
             
    )B WHERE A.EMPLOYEE_ID = B.EMPLOYEE_ID AND A.SET_ID = B.SET_ID --AND B.NEW_GRADE <> A.OLD_GRADE        
            
    set @intTotalRows=@intTotalRows+1        
            
  end        
        
  END        
        
  If (@emp_ids is null or @emp_ids='')        
  begin        
   INSERT INTO #TempTable       
 SELECT EMPLOYEE_ID,max(PROMOTION_DATE)as PROMOTION_DATE,BENEFIT_ID,SET_ID,@INCREMENT_BY,datediff(mm,max(PROMOTION_DATE),@effectiveDate) as Diff,Grade,NULL,AMOUNT ,NULL    
FROM (SELECT b.EMPLOYEE_ID,P.Promotion_Date,b.BENEFIT_ID,b.SET_ID,C.GRADE,'' as blank,b.AMOUNT FROM      
  (     
  select emp_id name from TempGradeIncrement     
  )a     
  INNER JOIN  Payable b ON a.name=b.EMPLOYEE_ID       
  INNEr JOIN EMPLOYEE C ON C.EMPLOYEE_ID=A.name     
  LEFT JOIN Promotion P ON P.emp_id =C.EMPLOYEE_ID     
  WHERE b.BENEFIT_ID=390 AND effective_upto >='2999-07-16'-- and p.emp_id =a.id    
  )x group by EMPLOYEE_ID,BENEFIT_ID,SET_ID,Grade,blank,AMOUNT    
  
   set @intTotalRows=1        
  while @INCREMENT_BY >=  @intTotalRows        
  begin        
    -- UPDATE #TempTable SET NEW_GRADE = OLD_GRADE+@intTotalRows        
      UPDATE #TempTable SET NEW_GRADE =  CASE WHEN diff < 6 THEN OLD_GRADE  ELSE OLD_GRADE + @intTotalRows  END      
    --select * from #TempTable        
        
    --DELETE FROM #TempTable WHERE NEW_GRADE>20        
        
    UPDATE #TempTable SET NEW_BASIC= CASE WHEN B.NEW_GRADE <> A.OLD_GRADE THEN ISNULL(A.OLD_BASIC,0)+ISNULL(B.Amount,0) ELSE ISNULL(A.OLD_BASIC,0) END FROM #TempTable A,        
    (        
     SELECT A.*,B.Salary_set_id,B.Grade,B.Amount         
     FROM #TempTable A INNER JOIN Grade_Setup B         
     ON A.SET_ID=B.Salary_set_id AND A.NEW_GRADE=B.Grade        
             
    )B WHERE A.EMPLOYEE_ID = B.EMPLOYEE_ID AND A.SET_ID = B.SET_ID --AND B.NEW_GRADE <> A.OLD_GRADE        
            
    set @intTotalRows=@intTotalRows+1  
      
   end  
  END  
  
  INSERT INTO Grade (emp_Id,FY_ID,APP_RATING,GRADE_YEAR,amount,effective_Date,APPLY_DATE,created_By,created_Date,OLD_BASIC,previous_grade_year)  
    
  SELECT EMPLOYEE_ID,@fiscalYear,@appRating,case when NEW_GRADE>20 then '20' else NEW_GRADE end,  
  NEW_BASIC,@effectiveDate,@applyDate,@user,GETDATE(),OLD_BASIC,OLD_GRADE  
  FROM #TempTable  
    
      
  UPDATE Payable SET effective_upto=PAID_UPTO,IS_ACTIVE='N' FROM Payable A,  
  (  
   SELECT * FROM #TempTable   
  )B WHERE A.EMPLOYEE_ID=B.EMPLOYEE_ID AND A.BENEFIT_ID='390' AND effective_upto >= '2999-07-16' AND IS_ACTIVE='Y'  
  
  INSERT INTO Payable (EMPLOYEE_ID,BENEFIT_ID,AMOUNT,EFFECTIVE_FROM,APPLY_FROM,SET_ID,  
   BRANCH_ID,DEPT_ID,POSITION_ID,CREATED_BY,CREATED_DATE,effective_upto,IS_ACTIVE)  
     
  SELECT A.EMPLOYEE_ID,BENEFIT_ID,NEW_BASIC,@effectiveDate,@applyDate,SET_ID,B.BRANCH_ID,B.DEPARTMENT_ID,B.POSITION_ID,@user,GETDATE(),  
  '2999-07-16','Y' FROM #TempTable A INNER JOIN  
  EMPLOYEE B ON A.EMPLOYEE_ID=B.EMPLOYEE_ID  
    
  UPDATE Employee SET GRADE=NEW_GRADE FROM Employee A,  
  (  
   SELECT EMPLOYEE_ID,case when NEW_GRADE>20 then '20' else NEW_GRADE end as NEW_GRADE FROM #TempTable   
  )B WHERE A.EMPLOYEE_ID=B.EMPLOYEE_ID   
  
  Truncate table TempGradeIncrement  
    
  SELECT 'SUCCESS' AS MSG  
  
 end  
   
 if @flag='FY'  
 begin  
  select FISCAL_YEAR_NEPALI,isnull(FLAG,'0') flag from FiscalYear  
  order by FISCAL_YEAR_NEPALI  
 end  
   
 if @flag='DFY'  
 begin  
  select FISCAL_YEAR_NEPALI from FiscalYear where FLAG=1  
 end  
   
 if @flag='AR'  
 begin  
   
  select ROWID,DETAIL_TITLE from StaticDataDetail where TYPE_ID=106   
  --AND ROWID NOT IN (904,907,908)  
  order by value desc  
    
 end  
   
 if @flag='branch'  
 begin  
  select BRANCH_ID,BRANCH_NAME from Branches  
  order by BRANCH_NAME  
 end  
   
 if @flag='dept'  
 begin  
  select DEPARTMENT_ID,DEPARTMENT_NAME from Departments where BRANCH_ID=@branchId  
 end  
   
 if @flag='post'  
 begin  
  select distinct position_id,dbo.GetDetailTitle(position_id) position_Name from Employee a   
  where BRANCH_ID=@branchId and DEPARTMENT_ID=@deptId  
 end  
   
 if @flag='salSet'  
 begin  
    
  select salarySetMasterId,dbo.GetDetailTitle(Salary_Title) Salary_Title from salarySetMaster  
 end  
   
 if @flag='search'  
 begin  
  SELECT EMPLOYEE_ID,FIRST_NAME+' '+MIDDLE_NAME+' '+LAST_NAME+' ('+EMP_CODE+')' EMPLOYEE_NAME from Employee   
  WHERE BRANCH_ID=ISNULL(@branchId,BRANCH_ID)   
  AND DEPARTMENT_ID=ISNULL(@deptId,DEPARTMENT_ID)  
  AND POSITION_ID = ISNULL(@postionId,POSITION_ID)  
  AND ISNULL(Salary_Title,'') = ISNULL(@salarySet,ISNULL(Salary_Title,''))  
  AND EMPLOYEE_ID NOT IN(SELECT EMP_ID FROM Grade   
  WHERE FY_ID=@fiscalYear   
  AND effective_Date=@effectiveDate AND APPLY_DATE=@applyDate)   
  AND EMP_STATUS=458 AND EMPLOYEE_ID<>1000  
    
  ORDER BY FIRST_NAME  
 end   
  
END TRY  
BEGIN CATCH  
     IF @@TRANCOUNT > 0  
     ROLLBACK TRANSACTION  
     SELECT 1 error_code, ERROR_MESSAGE() mes, null id  
END CATCH
GO
