USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procGetSupervisorInfo]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Exec [procGetSupervisorInfo] @flag='a',@emp_id='1001'
CREATE proc [dbo].[procGetSupervisorInfo]
	@flag varchar(1),
	@emp_id int
as
set nocount on;

if @flag='a'
begin
	select 
				SV_ASSIGN_ID [id]
				,ROW_NUMBER() over(order by SV_ASSIGN_ID asc) [S.N]
				,dbo.GetEmployeeFullNameOfId(SUPERVISOR) [Supervisor Name]
				,case when SUPERVISOR_TYPE='s' then 'Supervisor' when SUPERVISOR_TYPE='i' then 
				'Immediate Supervisor' end as [Supervisor Type] 
				,dbo.GetEmployeeFullNameOfId(CREATED_BY)  [Created By]
				,CONVERT(varchar,CREATED_DATE,107) [Created Date]
	from SuperVisroAssignment
	where EMP=@emp_id and record_status='y'
end
if @flag='b'
begin

	select dbo.GetBranchName(BRANCH_ID) BRANCH_ID,dbo.GetDeptName(DEPARTMENT_ID) DEPARTMENT_ID,
	dbo.GetDetailTitle(POSITION_ID)  POSITION_ID from Employee where EMPLOYEE_ID=@emp_id
				
end

--select * from SuperVisroAssignment where emp=1000
GO
