USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_SuperVisroAssignment]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_SuperVisroAssignment](
		 @flag					VARCHAR(1)
		,@ID         			INT				=   NULL		
		,@EMP_ID				INT				=	NULL
		,@SUP_ID				INT				=	NULL
		,@SUP_TYPE				VARCHAR(1)		=	NULL
		,@USER					varchar(20)		=	NULL
)
AS 

SET NOCOUNT ON;
DECLARE	  @BRANCH AS INT,  @DEPT AS INT , @POSITION AS INT
	SELECT @BRANCH=BRANCH_ID,@DEPT=DEPARTMENT_ID,@POSITION=POSITION_ID 
	FROM Employee WHERE EMPLOYEE_ID=@EMP_ID

	IF @flag='i'
	BEGIN
		
		IF EXISTS(SELECT * FROM SuperVisroAssignment WHERE EMP=@EMP_ID AND SUPERVISOR=@SUP_ID AND record_status='y' AND SUPERVISOR_TYPE=@SUP_TYPE)
		BEGIN
		   SELECT 'ALREADY EXISTS!' AS MSG
		   RETURN;
		END
		
		INSERT INTO SuperVisroAssignment(									
			 BRANCH
			,DEPT
			,POSITION
			,EMP
			,SUPERVISOR
			,SUPERVISOR_TYPE
			,record_status
			,CREATED_BY
			,CREATED_DATE
			)Values
			(@BRANCH,@DEPT,@POSITION,@EMP_ID,@SUP_ID,@SUP_TYPE,'y',@USER,GETDATE())
			
		SELECT 'SUCCESS!' AS MSG
		RETURN;
					
	END			
	IF @flag = 'm'
	BEGIN
			SELECT 
				dbo.GetEmployeeFullNameOfId(EMP)[empName]
				,SUPERVISOR_TYPE,
				CAST(dbo.GetEmployeeFullNameOfId(sa.SUPERVISOR) AS VARCHAR(20)) + '-'  +EMP_CODE + ' ('+cast(dbo.GetBranchName(sa.BRANCH) 
				as varchar(35)) +') ' +  '|' + CONVERT(VARCHAR, sa.SUPERVISOR) [SUPERVISOR] 
				FROM SuperVisroAssignment sa  inner join 
				Employee e ON e.EMPLOYEE_ID = sa.SUPERVISOR
				WHERE SV_ASSIGN_ID=@ID AND record_status = 'y'
				                 
		    
	END
GO
