USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procCheckUserForAttendance]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
--Exec procCheckUserForAttendance 'admin','admin@Mega'
Exec procCheckUserForAttendance @FLAG='b',@USER_NAME='admin',
                                @USER_PASSWORD='admin@Mega'

*/
create PROC [dbo].[procCheckUserForAttendance]
	@FLAG VARCHAR(1),
	@USER_NAME VARCHAR(200),
	@USER_PASSWORD VARCHAR(200)

AS
SET NOCOUNT ON;

BEGIN
	--CHECKING FOR INVALID USER
	IF @FLAG='a'
	BEGIN
		IF NOT EXISTS(SELECT AdminID FROM Admins WHERE  UserName =@USER_NAME AND dbo.decryptDb(UserPassword)=@USER_PASSWORD)
		BEGIN
			SELECT 'INVALID' AS REMARKS
			RETURN;		
		END 
		ELSE
		BEGIN
			SELECT 'VALID' AS REMARKS
		END
	END
	--CHECKING WEATHER USER ON LEAVE OR NOT
	IF @FLAG='b'
	BEGIN
		DECLARE @EMPLOYEE_ID AS INT,@TODAY_DATE AS DATE
		SELECT @EMPLOYEE_ID=Name,@TODAY_DATE=GETDATE() FROM Admins WHERE UserName =@USER_NAME AND dbo.decryptDb(UserPassword)=@USER_PASSWORD
		
		IF EXISTS(SELECT ID FROM LeaveRequest WHERE REQUESTED_BY=@EMPLOYEE_ID 
					AND LEAVE_STATUS='Approved' 
					AND @TODAY_DATE BETWEEN APPROVED_FROM AND APPROVED_TO AND REQUESTED_HRS_STATUS=0)
		BEGIN
			SELECT 'Sorry, You can not login! You are on leave.' AS REMARKS
			RETURN;
		END
		ELSE
		BEGIN
			SELECT 'VALID' AS REMARKS
		END

	END
END
GO
