USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procApprovaAssetSalesRequest]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[procApprovaAssetSalesRequest]
	@flag VARCHAR(1),
	@table_id VARCHAR(20)=NULL,	
	@user AS VARCHAR(50)=NULL,
	@queue_id AS VARCHAR(20)=NULL
AS
SET NOCOUNT ON;				
IF(@flag ='i')
BEGIN

	DECLARE @ASSETID AS INT
	
	SELECT @ASSETID=asset_id FROM ASSET_SALES_HISTORY_TEMP WHERE id=@table_id
	
	
	INSERT INTO ASSET_SALES_HISTORY (asset_id, sold_date, sold_by, accumulate_dep, book_value, narration, profit_loss,sold_amt,collection_ledger,
									created_by,created_date,approved_by,approved_date)
	SELECT asset_id,sold_date,sold_by,accumulate_dep,book_value,narration,profit_loss,sold_amt,collection_ledger,created_by,created_date,
									@user,GETDATE() FROM ASSET_SALES_HISTORY_TEMP WHERE id=@table_id
									
	        
	UPDATE ASSET_INVENTORY SET asset_status='Sold' WHERE ID=@ASSETID	
		 
	DELETE FROM changesApprovalQueue WHERE dataid=@table_id AND rowId=@queue_id
	
	DELETE FROM ASSET_SALES_HISTORY_TEMP WHERE id=@table_id		
	
END
GO
