USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procCheckAppraiseeComments]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[procCheckAppraiseeComments]
	@flag varchar(2)
	,@app_id varchar(20) = null

AS
SET NOCOUNT ON;

IF @flag='a'
BEGIN
	if exists(select Top 1 * from appraisalRating where appraisalId=@app_id and raterType='s')
	begin
		select '1' as msg
		return;
	end
	else
	begin
		select '0' as msg
		return;
	end
END

IF @flag='b'
BEGIN
	if exists(select top 1 * from appraisalComments where raterTypeFlag='a' and appraisalId=@app_id and ISNULL(flag,'')<>'t')
	begin
		select '1' as msg
		return;
	end
	else
	begin
		select '0' as msg
		return;
	end
END

IF @flag='c'
BEGIN
	if exists(select top 1 * from appraisalRating where raterType='a' and appraisalId=@app_id)
	begin
		select '1' as msg
		return;
	end
	else
	begin
		select '0' as msg
		return;
	end
END

IF @flag='d'
BEGIN
	
	if exists(select Top 1 appraisalId from appraisalRating where appraisalId=@app_id and raterType='a' ) and
	(
			SELECT Top(1)t.markingType
                        FROM performanceAppMatrixSetup p 
                        INNER JOIN templateRecord t ON t.templateId = p.templateId
                        INNER JOIN appraisalPosition a ON a.templateId=p.templateId
                        INNER JOIN Appraisal a2 ON a2.POSITION_ID = a.position
                        WHERE a2.POSITION_ID = (select POSITION_ID from appraisal where ID=@app_id )
    )='y'
	begin
	
	
		select '1' as msg
		return;
		
	end
	else if exists(select Top 1 appraisalId from appraisalRating where appraisalId=@app_id and raterType='s')
	begin
		select '1' as msg
		return;
	end
	else
	begin
		select '0' as msg
		return;
	end
END
GO
