USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procLeaveRequestDetails]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*

 exec [procLeaveRequestDetails] 'i', '2/10/2011','2/11/2011','1','2','1091','1090','Pending','This is testing email', 
	'016','2/10/2011 11:46:59 AM','24','2/10/2011','2/11/2011','2','1090',null,'0'

*/
CREATE PROCEDURE [dbo].[procLeaveRequestDetails]
		@flag CHAR(1),
		@FROM_DATE DATETIME = NULL,
		@TO_DATE DATETIME = NULL,
		@LEAVE_TYPE_ID INT=NULL,
		@REQUESTED_DAYS INT=NULL,
		@REQUESTED_BY VARCHAR(100)=NULL,
		@REQUESTED_WITH VARCHAR(100)=NULL,
		@LEAVE_STATUS VARCHAR(50)=NULL,
		@LEAVE_PURPOSE VARCHAR(100)=NULL,
		@USER VARCHAR(100)=NULL,
		@CREATED_DATE DATETIME = NULL,
		@REMAINING_DAYS INT=NULL,
		@APPROVED_FROM DATE=NULL,
		@APPROVED_TO DATE=NULL,
		@APPROVED_DAYS INT=NULL,
		@APPROVED_BY VARCHAR(100)=NULL,
		@ID INT=NULL,
		@IsLFA VARCHAR(10)=NULL
 
AS
SET NOCOUNT ON
IF @flag = 'i'
BEGIN
		IF NOT EXISTS(SELECT * FROM LeaveRequest WHERE IS_LFA='1' AND REQUESTED_BY=@REQUESTED_BY AND LEAVE_TYPE_ID='1')
		BEGIN
		
			INSERT INTO 
			LEAVEREQUEST(FROM_DATE, TO_DATE, LEAVE_TYPE_ID,
				  REQUESTED_DAYS, REQUESTED_BY, 
				  REQUESTED_WITH,LEAVE_STATUS,LEAVE_PURPOSE,
				  CREATED_BY, CREATED_DATE,REMAINING_DAYS,
				  APPROVED_FROM,APPROVED_TO,APPROVED_DAYS,APPROVED_BY,IS_LFA)
			VALUES(@FROM_DATE,@TO_DATE,@LEAVE_TYPE_ID,@REQUESTED_DAYS,@REQUESTED_BY,
				   @REQUESTED_WITH,@LEAVE_STATUS,@LEAVE_PURPOSE,
				   @USER,GETDATE(),@REMAINING_DAYS,@APPROVED_FROM,
				   @APPROVED_TO,@APPROVED_DAYS,@APPROVED_BY,@IsLFA)
		END
		ELSE
		BEGIN
		
			INSERT INTO 
			LEAVEREQUEST(FROM_DATE, TO_DATE, LEAVE_TYPE_ID,
				  REQUESTED_DAYS, REQUESTED_BY, 
				  REQUESTED_WITH,LEAVE_STATUS,LEAVE_PURPOSE,
				  CREATED_BY, CREATED_DATE,REMAINING_DAYS,
				  APPROVED_FROM,APPROVED_TO,APPROVED_DAYS,APPROVED_BY,IS_LFA)
			VALUES(@FROM_DATE,@TO_DATE,@LEAVE_TYPE_ID,@REQUESTED_DAYS,@REQUESTED_BY,
				   @REQUESTED_WITH,@LEAVE_STATUS,@LEAVE_PURPOSE,
				   @USER,GETDATE(),@REMAINING_DAYS,@APPROVED_FROM,
				   @APPROVED_TO,@APPROVED_DAYS,@APPROVED_BY,0)
		END
		
	---Sending E-Mail Notification
		DECLARE @empname AS VARCHAR(20),@leaveName AS VARCHAR(500),@msgContent AS VARCHAR(MAX),@recipient AS VARCHAR(500)
		SET @empname=dbo.GetEmployeeFullNameOfId(@REQUESTED_BY)
		SELECT @leaveName=NAME_OF_LEAVE FROM LeaveTypes WHERE ID=@LEAVE_TYPE_ID
		
		SET @msgContent=
			'Dear Sir/Madam
					
				'+@empname+'has been applied '+@leaveName+' for '+CONVERT(VARCHAR,@FROM_DATE,107)+' To '+
					 CONVERT(VARCHAR,@TO_DATE,107)+' ('+cast(@REQUESTED_DAYS as varchar)+' days).
				'+@empname+' is seeking your recommendation of above concerned details.
				
				click here to go in system : http://192.168.1.6/
					

			Thanks & Regards		
			Janata Sanjal (HR Department)

			'
		
		SELECT @recipient=OFFICIAL_EMAIL FROM Employee WHERE EMPLOYEE_ID=@REQUESTED_WITH
		
		EXEC PROC_MAIL_SEND @recipient=@recipient, @subject_text='Leave Request For Approval', @msg_text=@msgContent
		
		
	   
	IF (SELECT  ISNULL(IS_UNLIMITED,0) FROM LeaveTypes WHERE ID=@LEAVE_TYPE_ID) =1
		BEGIN
			UPDATE leaveAssignment 
				SET NO_OF_DAYS_ACTUAL=NO_OF_DAYS_ACTUAL+@REQUESTED_DAYS
			WHERE LEAVE_TYPE_ID=@LEAVE_TYPE_ID 
			AND EMPLOYEE_ID=@REQUESTED_BY
		END
END
	
	
	
IF @flag = 'u'
BEGIN
		 UPDATE LEAVEREQUEST SET 
		  FROM_DATE=@FROM_DATE,
          TO_DATE=@TO_DATE,
          LEAVE_TYPE_ID=@LEAVE_TYPE_ID,
          REQUESTED_DAYS=@REQUESTED_DAYS,
          REQUESTED_BY=@REQUESTED_BY,
          REQUESTED_WITH=@REQUESTED_WITH,
          LEAVE_STATUS=@LEAVE_STATUS, 
          LEAVE_PURPOSE=@LEAVE_PURPOSE ,
          MODIFIED_BY=@USER,
          MODIFIED_DATE=GETDATE(),
          REMAINING_DAYS=@REMAINING_DAYS,
          APPROVED_FROM=@APPROVED_FROM,
          APPROVED_TO=@APPROVED_TO,
          APPROVED_DAYS=@APPROVED_DAYS,
          APPROVED_BY=@APPROVED_BY,
          IS_LFA=@IsLFA
          WHERE ID=@ID        
    
END

IF @flag='d'

BEGIN

	BEGIN TRANSACTION

		SELECT @APPROVED_DAYS=APPROVED_DAYS,@REQUESTED_BY=REQUESTED_BY,
		@LEAVE_TYPE_ID=LEAVE_TYPE_ID FROM LeaveRequest WHERE id=@id

		INSERT INTO Delete_leave_RequestHistory
		(LEAVE_TYPE_ID, REQUESTED_DAYS, REQUESTED_BY, REQUEST_DATE, REQUESTED_WITH, APPROVED_FROM,
		APPROVED_TO, FROM_DATE , TO_DATE,
		LEAVE_PURPOSE, APPROVED_BY, LEAVE_STATUS, REMAINING_DAYS, REMARKS, CREATED_DATE, CREATED_BY, APPROVED_DAYS,
		APRPROVED_DATE,ISMANUAL,IS_LFA,REQUESTED_WITH_date,substituted_with)

		SELECT LEAVE_TYPE_ID, REQUESTED_DAYS, REQUESTED_BY, REQUEST_DATE, REQUESTED_WITH, APPROVED_FROM,
		APPROVED_TO, FROM_DATE , TO_DATE,
		LEAVE_PURPOSE, APPROVED_BY, LEAVE_STATUS, REMAINING_DAYS, REMARKS, CREATED_DATE, CREATED_BY, APPROVED_DAYS,
		APRPROVED_DATE,ISMANUAL,IS_LFA,REQUESTED_WITH_date,substituted_with
		FROM LeaveRequest WHERE id=@id

		if exists(SELECT LEAVE_STATUS FROM LeaveRequest WHERE ID=@ID and LEAVE_STATUS='Approved')
		BEGIN

			UPDATE leaveAssignment
			SET Leave_taken_this_year=isnull(Leave_taken_this_year,0) - @APPROVED_DAYS
			,IS_LFA=CASE WHEN (SELECT is_lfa FROM LeaveRequest WHERE ID=@id)=1 THEN 0
			ELSE IS_LFA END
			WHERE EMPLOYEE_ID=@requested_by and LEAVE_TYPE_ID=@LEAVE_TYPE_ID

			IF (SELECT is_lfa FROM LeaveRequest WHERE ID=@id)=1
			DELETE FROM LFAHistory WHERE Req_ID=@id

	END


		DELETE FROM LeaveRequest WHERE ID = @id
		COMMIT TRANSACTION

end
GO
