USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procFindfirstNlastdayofYear]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec procFindfirstNlastdayofYear @flag='f',@fyear='2067'
--exec procFindfirstNlastdayofYear @flag='c',@fyear='2067',@fdate='5/4/2009'
create proc [dbo].[procFindfirstNlastdayofYear]
	@flag char(1),
	@fyear varchar(5),
	@fromdate date = null
	,@todate date = null
	
AS

SET NOCOUNT ON;
	declare @firstday date
	declare @lastday date
	declare @daysInYr int
	
	select @daysInYr = baisakh + jestha + ashadh + shrawan + bhadra + ashwin
					+ kartik + mangshir + poush + magh + falgun + chaitra 
	from Fiscal_Month
	
	--select @firstday=eng_date from tbl_calendar where nep_date='01/01/'+@fyear
	select @firstday = engDateBaisakh
	, @lastday = dateadd(day,@daysInYr,engDateBaisakh)
	from Fiscal_Month where nplYear = @fyear

if @flag='f'
begin	
	select convert(varchar,@firstday,101)+'|'+convert(varchar,@lastday,101) result	
end

if @flag='c'
begin
	if (@fromdate between @firstday and @lastday) and (@todate between @firstday and @lastday)
	begin
		select '1' as remarks -- success
		return
	end
	select '0' as remarks -- error
	
end
GO
