USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procLeaveAssignment]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[procLeaveAssignment]
	@flag VARCHAR(1),
    @id INT =NULL
      
 
AS
SET NOCOUNT ON
IF @flag = 's'
BEGIN
	SELECT l.ID,l.EMPLOYEE_ID,em.FIRST_NAME+' '+em.MIDDLE_NAME+' '+em.LAST_NAME+' - '+em.EMP_CODE+' | '+ cast(em.EMPLOYEE_ID as varchar) as emp_name
		,LEAVE_TYPE_ID,NO_OF_DAYS_ACTUAL,CASE WHEN l.IS_DISABLED='1' THEN 'Yes' WHEN
		l.IS_DISABLED='0' THEN 'No' END AS IS_DISABLED,CASE WHEN IS_SATURDAY='1' THEN 'Yes' WHEN IS_SATURDAY='0'
		THEN 'No' END AS IS_SATURDAY,CASE WHEN IS_HOLIDAY='1' THEN 'Yes' WHEN IS_HOLIDAY='0' THEN 'No' END AS IS_HOLIDAY
		--APPROVED_THORUGH,e.EMP_CODE +' | '+ e.FIRST_NAME+' '+ e.MIDDLE_NAME+' '+ e.LAST_NAME AS approved_name,
		--RECOMMEND_THROUGH,e1.EMP_CODE +' | '+ e1.FIRST_NAME+' '+ e1.MIDDLE_NAME+' '+ e1.LAST_NAME AS recommend_name,
		--supported_by,e2.EMP_CODE +' | '+ e2.FIRST_NAME+' '+ e2.MIDDLE_NAME+' '+ e2.LAST_NAME AS supported_name
		FROM  leaveAssignment l 
		               -- LEFT JOIN Employee e ON e.EMPLOYEE_ID=l.APPROVED_THORUGH 
						--LEFT JOIN Employee e1 ON e1.EMPLOYEE_ID=l.RECOMMEND_THROUGH 
						--LEFT JOIN Employee e2 ON e2.employee_id=l.supported_by
						inner join Employee em on em.EMPLOYEE_ID=l.EMPLOYEE_ID
		 where l.ID=@id

END
GO
