USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procManageLoanCollection]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Exec procManageLoanCollection 'i','30000','6/16/2010','ajdhcvkadvca'
create Proc [dbo].[procManageLoanCollection]
	@flag char(1),
	@loan_id int= null,
	@paid_amt money =null,
	@paid_date VARCHAR(50)=NULL,
	@narration	varchar(1000) =null,
	@user varchar(50) =null
	
AS
	set nocount on;
	--SELECT * FROM loan_collection
	
	--select * from AdvanceCollection
	DECLARE @ROWID  VARCHAR(100)
if @flag='i'
begin

	INSERT INTO loan_collection(loan_id,paid_amount,paid_date,narration,created_by,created_date)
		VALUES(@loan_id,@paid_amt,@paid_date,@narration,@user,GETDATE())
	SELECT @ROWID = SCOPE_IDENTITY()
	SELECT @ROWID ID
	
	
end
if @flag='d'
begin
	delete from loan_collection where id=@loan_id
end
GO
