USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procStockInHandBranchWise]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[procStockInHandBranchWise]
	@flag VARCHAR(1),
	@branch_id VARCHAR(20)=NULL,
	@product_id VARCHAR(20)=NULL
AS

IF @flag='a'
BEGIN

		IF @branch_id IS NOT NULL
		BEGIN
			SELECT prod_code
					,porduct_code [PRODUCT NAME]
					,package_unit [PACKAGE UNIT]
					,SUM(PURCHASED) PURCHASED
					,SUM(AMOUNT_PURCHASED)/CASE WHEN SUM(PURCHASED)=0 THEN 1 ELSE SUM(PURCHASED) END RATE
					,SUM(AMOUNT_PURCHASED) AMOUNT_PURCHASED
					,SUM(TRANSFEREDIN) TRANSFEREDIN
					,SUM(AMOUNT_TRANSFEREDIN)/CASE WHEN SUM(TRANSFEREDIN)=0 THEN 1 ELSE SUM(TRANSFEREDIN) END  RATE
					,SUM(AMOUNT_TRANSFEREDIN) AMOUNT_TRANSFEREDIN
					,SUM(PURCHASED)+SUM(TRANSFEREDIN) AS CLOSING
					,(SUM(AMOUNT_PURCHASED)+SUM(AMOUNT_TRANSFEREDIN))/CASE WHEN (SUM(PURCHASED)+SUM(TRANSFEREDIN))=0 THEN 1 ELSE (SUM(PURCHASED)+SUM(TRANSFEREDIN)) END RATE
					,SUM(AMOUNT_PURCHASED)+SUM(AMOUNT_TRANSFEREDIN) AMOUNT_CLOSING
					FROM 
					(
						SELECT prod_code,PROD.porduct_code,PROD.package_unit,SUM(p_stk_remain) AS PURCHASED,SUM(p_stk_remain*p_rate) AMOUNT_PURCHASED,0 TRANSFEREDIN,0 AMOUNT_TRANSFEREDIN 
						FROM IN_PURCHASE  PUR INNER JOIN IN_PRODUCT PROD ON PROD.id=PUR.prod_code
						WHERE req_id IS NULL AND branch_id=@branch_id AND prod_code LIKE ISNULL(@product_id,'%')
						GROUP BY prod_code,PROD.porduct_code,PROD.package_unit


						UNION ALL 

						SELECT prod_code,PROD.porduct_code,PROD.package_unit,0 AS PURCHASED,0 AMOUNT_PURCHASED,SUM(p_stk_remain) AS TRANSFEREDIN,SUM(p_stk_remain*p_rate) AMOUNT_TRANSFEREDIN 
						FROM IN_PURCHASE  PUR INNER JOIN IN_PRODUCT PROD ON PROD.id=PUR.prod_code
						WHERE req_id IS NOT NULL AND branch_id=@branch_id AND prod_code LIKE ISNULL(@product_id,'%')
						GROUP BY prod_code,PROD.porduct_code,PROD.package_unit
					)A GROUP BY prod_code,porduct_code,package_unit order by prod_code
		END
		IF @branch_id IS NULL
		BEGIN
			select * from 
			(
			SELECT 
				 [PROD CODE] = prod_code 
				,[BRANCH NAME] = b.BRANCH_NAME
				,[PRODUCT NAME] = PROD.porduct_code  
				,[PACKAGE UNIT] = PROD.package_unit  
				,[STOCK] = SUM(p_stk_remain)  
				,[RATE] = SUM(p_stk_remain*p_rate)/case when SUM(p_stk_remain) =0 then 1 else SUM(p_stk_remain)end 
				,[AMOUNT] = SUM(p_stk_remain*p_rate)  				
				FROM IN_PURCHASE  PUR 
				INNER JOIN IN_PRODUCT PROD ON PROD.id=PUR.prod_code
				inner join Branches b with(nolock) on pur.branch_id = b.BRANCH_ID
				WHERE prod_code LIKE ISNULL(@product_id,'%') 
				GROUP BY prod_code,PROD.porduct_code,PROD.package_unit,b.BRANCH_NAME
				
				)x where x.STOCK >0
				order by [PRODUCT NAME]
		END
	
END
GO
