USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[ProcAppraisalMatrix]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Proc [dbo].[ProcAppraisalMatrix]
	@flag char(1),
	@id int,
	@positionid varchar(20),
	@topic varchar(50),
	@subtopic varchar(50),
	@jobelement varchar(50),
	@weightage int,
	@priority_id int
AS

	set nocount on;
	
if @flag='s'
begin
	
	select * from AppraisalMatrix
	
end

if @flag='i'
begin
	
		insert into AppraisalMatrix (POSITION_ID, TOPIC_ID, SUBTOPIC_ID, JOB_ELEMENT_ID, WEIGHTAGE ,PRIORITY_ID) 
			values 
		(@positionid, @topic, @subtopic, @jobelement,@weightage ,@priority_id )
end
if @flag='u'
begin
	
		update AppraisalMatrix set POSITION_ID = @positionid, 
								   TOPIC_ID = @topic, 
								   SUBTOPIC_ID = @subtopic, 
								   JOB_ELEMENT_ID = @jobelement,
								   PRIORITY_ID = @priority_id,
								   WEIGHTAGE = @weightage 
		where ID = @id
		
end
GO
