USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_GradeSchedule]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- EXEC [proc_GradeSchedule]

CREATE PROC [dbo].[proc_GradeSchedule]
   

AS
SET NOCOUNT ON
SET XACT_ABORT ON
BEGIN TRY

	CREATE TABLE #TEMP_TABLE 
	(
		ID					VARCHAR(200) null,
		EMP_ID				VARCHAR(500) null,
		EFFECTIVE_DATE		VARCHAR(50) NULL,
		GRADE_VALUE			VARCHAR(100) null,
		AMOUNT				VARCHAR(200) NULL
	)
	
	INSERT INTO	 #TEMP_TABLE(ID,EMP_ID,EFFECTIVE_DATE,GRADE_VALUE,AMOUNT)
	SELECT gradeId,empId,effectiveDate,grade,amount FROM Grade	
	WHERE isEffective IS NULL AND isEffective IS NULL AND effectiveDate<=GETDATE()
	
	
	IF EXISTS(SELECT * FROM #TEMP_TABLE)
	BEGIN

		DECLARE		@day					FLOAT		--Day of the Nepali Effective Date e.g 1 is the day for 2068-2-1			
					,@totalDays				FLOAT		--Total number of Days in a month of Effective Date
					,@previousGradeAmt		MONEY		--Previous Grade Amount in the Payable Table
					,@currentGradeAmt		MONEY		--Current Grade Amount From the Grade Table
					,@deductAmt				MONEY		--Calculated for Adhoc_Payment
					,@addAmt				MONEY		--Calculated for Adhoc_Payment
					,@effNepaliDate			DATE		--English Effective Date converted to Nepali Effective Date
					,@month					INT			--Current Month
					,@monthStartDate		DATE		--Current Month Start Date
					,@monthEndDate			DATE		--Current Month End Date
					,@fy_id					VARCHAR(20)	
					,@intTotalRows			INT
					,@intPartId				INT	
					,@effectiveDate			DATE
					,@amount				MONEY
					,@empId					INT
					,@gradeID				INT
					
		ALTER TABLE #TEMP_TABLE ADD ROWID INT IDENTITY(1,1)
		SELECT @intPartId=max(ROWID) from #TEMP_TABLE
		
		--### FINDING CURRENT FISCAL YEAR & MONTH
		SELECT @fy_id = fiscal_year_nepali  FROM fiscalYear 
		WHERE GETDATE() BETWEEN en_year_start_date AND en_year_end_date

		SELECT @month = MONTH(nep_date)  FROM tbl_calendar  WHERE eng_date = CAST(GETDATE() AS DATE)

		--###Finding current month start and end date	
		SELECT @monthStartDate=dbo.GetMonthStartDateEng(@fy_id,@month)
		SELECT @monthEndDate=dbo.GetMonthEndDateEng(@fy_id,@month)
				
		SET @intTotalRows=1
		BEGIN TRANSACTION
		WHILE @intPartId >=  @intTotalRows
		BEGIN
			SELECT @effectiveDate=EFFECTIVE_DATE,@amount=AMOUNT,@empId=EMP_ID,@gradeID=ID
				FROM #TEMP_TABLE WHERE ROWID=@intTotalRows
			
			SET	@effNepaliDate = DBO.GetNepaliDate(@effectiveDate)	
			SELECT @day	= DAY(@effNepaliDate)

			IF @effectiveDate BETWEEN @monthStartDate AND @monthEndDate
			BEGIN
				
				--### Check	if the effective date is before	or is equal	to current date
				IF (@effectiveDate <= CAST(GETDATE() AS	DATE))
				BEGIN
					
					SET	@totalDays = dbo.[GetTotalDaysOfMonth](@effectiveDate)
					SET	@currentGradeAmt = @amount
					
					-- ### Check if	there is grade in payable table
					IF EXISTS(SELECT 'X' FROM Payable WHERE	BENEFIT_ID IN 
						(SELECT	ROWID FROM StaticDataDetail	WHERE TYPE_ID =	37)	AND	EMPLOYEE_ID	= @empId)
					BEGIN
						
						--Assign previous grade	amount to a	variable
						SELECT 
							@previousGradeAmt =	amount 
						FROM payable 
						WHERE EMPLOYEE_ID=@empId 
							AND	BENEFIT_ID IN (SELECT ROWID	FROM staticDataDetail WHERE	TYPE_ID	= 37)
						
						--Updating the Payable table with new grade	amount
						UPDATE Payable SET
							AMOUNT = @amount
						WHERE EMPLOYEE_ID =	@empId AND BENEFIT_ID IN (SELECT ROWID FROM	StaticDataDetail WHERE TYPE_ID = 37)
						
						IF @day<>1
						BEGIN
							--Inserting	adjustment amounts in the Adhoc	Payable	Table
							SET	@addAmt	= ((@day-1)/@totalDays)	* @previousGradeAmt
							SET	@deductAmt = ((@day-1)/@totalDays) * @currentGradeAmt
							
							--Insert Add Amount
							INSERT INTO	AdhocPayment
							(
								 EMPLOYEE_ID
								,ADD_DEDUCT
								,HEAD_ID
								,AMOUNT
								,TAX_DEDUCTED
								,NARRATION
								,CREATED_BY
								,CREATED_DATE
							)
							SELECT 
								 @empId
								,'A'
								,391
								,@addAmt
								,0
								,'Grade	Adjustment-	Added'
								,'1000'
								,GETDATE() 
							
							--Insert Deduct	Amount	
							INSERT INTO	AdhocPayment
							(
								 EMPLOYEE_ID
								,ADD_DEDUCT
								,HEAD_ID
								,AMOUNT
								,TAX_DEDUCTED
								,NARRATION
								,CREATED_BY
								,CREATED_DATE
							)
							SELECT 
								 @empId
								,'D'
								,391
								,@deductAmt
								,0
								,'Grade	Adjustment-	Deducted'
								,'1000'
								,GETDATE()
						
							update Grade set isEffective='Y',isEffectiveDate=GETDATE() where gradeId=@gradeID
						END
					
					END	

					-- ### Check if	there is no	grade in payable table
					IF NOT EXISTS(SELECT 'X' FROM Payable WHERE	BENEFIT_ID IN 
						(SELECT	ROWID FROM StaticDataDetail	WHERE TYPE_ID =	37)	
							AND	EMPLOYEE_ID	= @empId)
					BEGIN
						
						SET	@previousGradeAmt =	0 
						-- Insert into Payable Table
						INSERT INTO	Payable
						(
							 EMPLOYEE_ID
							,BENEFIT_ID
							,AMOUNT
							,CREATED_BY
							,CREATED_DATE
						)
						SELECT 
							 @empId
							,'391'
							,@amount
							,'1000'
							,GETDATE()

					-- ### Check if	effectiveDate is not the start date	of the month	
					IF @day	<> 1				
					BEGIN
						-- Insert amount to	be adjusted	into Adhocpayment table
							SET	@deductAmt = ((@day-1)/@totalDays) * @currentGradeAmt
						
							INSERT INTO	AdhocPayment
							(
								 EMPLOYEE_ID
								,ADD_DEDUCT
								,HEAD_ID
								,AMOUNT
								,TAX_DEDUCTED
								,NARRATION
								,CREATED_BY
								,CREATED_DATE
							)
							SELECT 
								 @empId
								,'D'
								,391
								,@deductAmt
								,0
								,'Grade	Adjustment-Deducted'
								,'1000'
								,GETDATE() 
							
					update Grade set isEffective='Y',isEffectiveDate=GETDATE() where gradeId=@gradeID
					
					END

				END
			
				END
				
			END			
			IF @effectiveDate< @monthStartDate
			BEGIN 
				DELETE FROM	Payable	WHERE EMPLOYEE_ID=@empId and BENEFIT_ID=391
				
				INSERT INTO	Payable
				(
					 EMPLOYEE_ID
					,BENEFIT_ID
					,AMOUNT
					,CREATED_BY
					,CREATED_DATE
				)
				SELECT 
					 @empId
					,'391'
					,@amount
					,'1000'
					,GETDATE()
					
				update Grade set isEffective='Y',isEffectiveDate=GETDATE() where gradeId=@gradeID
			END	
			
			SET	@intTotalRows=@intTotalRows+1
				
		END	
			
		IF @@TRANCOUNT > 0
		COMMIT TRANSACTION
	END
END TRY
BEGIN CATCH
	 IF @@TRANCOUNT > 0
	 ROLLBACK TRANSACTION
END CATCH
GO
