USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_tadaReimbersement]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- EXEC proc_tadaReimbersement @FLAG='ddf',@fromDate='1/1/2013',@toDate='1/4/2013',@headId='1447',@tadaId=5
-- EXEC proc_tadaReimbersement @FLAG='A',@ID='1'
CREATE PROC [dbo].[proc_tadaReimbersement]
	@FLAG VARCHAR(10),
	@ID INT=null,
	@tadaId	int=null,
	@headId	int=null,
	@currencyId int=null,
	@perDayEntitle money =null,
	@totalEntitle money=null,
	@billsToBeClosed varchar(20)=null,
	@claimAmount Money =null,
	@fileExt varchar(20)=null,
	@sessionId varchar(50)=null,
	@user	varchar(50)=null,
	@isdelete varchar(50)=null,
	@remarks varchar(max)=null,
	@fromDate date=null,
	@toDate date=null,
	@otherExpenses varchar(500)=null
	
	
--tadaId,headId,currency,perDayEntitle,totalEntitle,billsToBeClosed,claimAmount,fileExt,createdBy,createdDate
AS
SET NOCOUNT ON;
DECLARE @postId as int,@empId as int,@countryId as int,@categoryId int,@zoneId as int,@days as int
IF @FLAG='A' --display matrix data for tada
BEGIN


	select  @empId=emp_id,
			@postId=position_id,
			@countryId=destination_country,
			@days=DATEDIFF(dd,duration_from,duration_to) 
	from tada where id=@ID

	select @categoryId=categoryId from tadaPositionCategory  where positionId=@postId
	select @zoneId=zoneId from tadaClassificationOfAreas  where countriesId=@countryId

	select 
		
		 dbo.GetDetailTitle(headId) headId
		,currencyId currency
		,dbo.ShowDecimalExceptComma(amount) perDayEnt
		,dbo.ShowDecimalExceptComma(amount*@days) totEnt
		from tadaMatrix 
		where categoryId=@categoryId and zoneId=@zoneId	and headId=@headId	
			
	
END	

IF @FLAG='b' --insert other expensnes
BEGIN
	--select * from tadaReimbersement
	if exists(select * from tadaReimbersement where sessionId=@sessionId and tadaId=@tadaId and headId=@headId and isdelete='N')
	begin
		select 'Already Added!' as msg
		return;
	end
	insert into tadaReimbersement(tadaId,currency,claimAmount,sessionId,flag,isdelete,status_tr,otherExpenses)
	values(@tadaId,@currencyId,@claimAmount,@sessionId,'o','N','Pending',@otherExpenses)
	select 'Success' as msg

	
END			

IF @FLAG='c' --select other expenses
BEGIN
      if exists(select tadaId from tadaReimbersement where tadaId=@tadaId )
	BEGIN
		select id,tadaId [TADA ID]
			,otherExpenses [Head]
			,sdd.DETAIL_TITLE [Currency]
			,dbo.ShowDecimal(claimAmount) [Claim Amount]
			,status_tr [Status]
		from tadaReimbersement tr
		inner join StaticDataDetail sdd on tr.currency=sdd.ROWID
		where tadaId=@tadaId  and flag='o' and isdelete='N'
	end
	select id,tadaId [TADA ID]
		,dbo.GetDetailTitle(headId) [Head]
		,dbo.ShowDecimal(claimAmount) [Claim Amount]
	from tadaReimbersement 
	where tadaId=@tadaId and sessionId=@sessionId and flag='o' and isdelete='N'
END			

IF @FLAG='d' --delete reimbursement
BEGIN

Update tadaReimbersement set isdelete='Y' where id=@ID
--delete from tadaTempTable where id=@ID
--select * from tadaTempTable
END		

IF @FLAG='do'-- delete other expenses
BEGIN
Update tadaReimbersement set isdelete='Y' where id=@ID
END

IF @FLAG='i' --insert expensnes head
BEGIN
	--select * from tadaReimbersement
--select * from tadaReimbersement where sessionId='kgdrgqpifxme41hqllkeljzo' and headId=1438 and isdelete='N'	
	--select 'Success' as msg
	
	if exists(select * from tadaReimbersement where headId = @headId and fromDate=@fromDate and toDate=@toDate and tadaId = @tadaId)
	begin
		select 'Already Added!' as msg
		return;
	end
	else
	begin
		insert into tadaReimbersement(
			 tadaId
			,headId
			,currency
			,perDayEntitle
			,totalEntitle
			,billsToBeClosed
			,claimAmount
			,fileExt
			,createdBy
			,createdDate
			,sessionId
			,isdelete
			,status_tr
			,flag
			,remarks
			,fromDate
			,toDate)
		values(@tadaId,@headId,@currencyId,@perDayEntitle,@totalEntitle,@billsToBeClosed,@claimAmount,@fileExt,@user,GETDATE(),@sessionId,'N','Pending','r',@remarks,@fromDate,@toDate)
	end
END			

if @FLAG='ph'
begin
	select @postId=position_id,@countryId=destination_country
	from tada where id=@ID

	select @categoryId=categoryId from tadaPositionCategory  where positionId=@postId
	select @zoneId=zoneId from tadaClassificationOfAreas  where countriesId=@countryId
	
	select 
		headId
		,dbo.GetDetailTitle(headId) headName
		from tadaMatrix 
		where categoryId=@categoryId and zoneId=@zoneId	
	

end

IF @FLAG='ss' --select expensnes head
BEGIN
	--select * from tadaReimbersement
	--truncate table tadaReimbersement
	
	IF EXISTS(SELECT tadaId FROM tadaReimbersement WHERE tadaId=@tadaId )
	BEGIN
		SELECT 
				 id
				,tadaId [TADA ID]
				,dbo.GetDetailTitle(headId) [Head]
				,convert(varchar(12),fromDate,107) [From Date]
				,convert(varchar(12),toDate,107) [To Date]
				,dbo.GetDetailTitle(currency) [Currency]
				,dbo.ShowDecimal(perDayEntitle) [Per Day Entitlement]
				,dbo.ShowDecimal(totalEntitle) [Total Entitlement]
				,dbo.ShowDecimal(claimAmount) [Claim Amount]
				,billsToBeClosed [Is Bill Enclosed]
				,status_tr [Status]
		FROM tadaReimbersement 
		WHERE tadaId=@tadaId AND isdelete = 'N' AND flag='r'
	
	/* -- when bills are allowed to upload
		SELECT 
		id,tadaId [TADA ID],dbo.GetDetailTitle(headId) [Head],dbo.GetDetailTitle(currency) [Currency],
		dbo.ShowDecimal(perDayEntitle) [Per Day Entitlement],dbo.ShowDecimal(totalEntitle) [Total Entitlement],
		dbo.ShowDecimal(claimAmount) [Claim Amount],
		billsToBeClosed [Is Bill Enclosed],
		fileExt,
		CASE WHEN billsToBeClosed='Yes' THEN CAST(id AS VARCHAR)+'.'+fileExt ELSE '' END AS [Bills],
		status_tr [Status]
		FROM tadaReimbersement 
		WHERE tadaId=@tadaId AND isdelete = 'N' AND flag='r'
	*/
	END
	ELSE
	BEGIN
		SELECT   id
				,fileExt
				,status_tr
				,tadaId [TADA ID]
				,dbo.GetDetailTitle(headId) [Head]
				,convert(varchar(12),fromDate,107) [From Date]
				,convert(varchar(12),toDate,107) [To Date]
				,dbo.GetDetailTitle(currency) [Currency]
				,dbo.ShowDecimal(perDayEntitle) [Per Day Entitlement]
				,dbo.ShowDecimal(totalEntitle) [Total Entitlement]
				,dbo.ShowDecimal(claimAmount) [Claim Amount]
				,CASE WHEN billsToBeClosed='Yes' THEN CAST(id AS VARCHAR)+'.'+fileExt ELSE '' END AS [Bills]
				,billsToBeClosed [Is Bill Enclosed]	
		FROM tadaReimbersement 
		WHERE tadaId=@tadaId AND sessionId=@sessionId AND isdelete = 'N' AND flag='r'
    END
END
		   
IF @FLAG='finalSave' --insert expensnes head
BEGIN
	UPDATE tadaReimbersement SET createdBy=@user,createdDate=GETDATE(),sessionId=''
	WHERE sessionId=@sessionId and tadaId=@tadaId
	SELECT 'Success' AS msg
END	

IF @FLAG='pr'
BEGIN
	SELECT tr.id,ta.emp_id,headID,perDayEntitle,totalEntitle,dbo.GetDetailTitle(headID) HeadExpenses
	,dbo.GetDetailTitle(tr.currency) Currency
	,dbo.ShowDecimal(perDayEntitle) PerDayEntitle
	,dbo.ShowDecimal(totalEntitle) TotalEntitle
	,claimAmount
	,tda.Authorised_By
	,status_tr
	,billsToBeClosed FROM tadaReimbersement tr
	LEFT JOIN tada ta ON ta.id=tr.tadaId
	LEFT JOIN TADA_Authorization tda ON tda.tada_id = ta.id
	where tadaId=@Id AND flag='r' AND isdelete='N'
END	  

IF @FLAG='por'
BEGIN
	SELECT id,otherExpenses HeadExpenses
	,dbo.ShowDecimal(claimAmount) claimAmount
	,sdd.DETAIL_TITLE currency
	FROM tadaReimbersement tr
	INNER JOIN StaticDataDetail sdd ON tr.currency=sdd.ROWID
	WHERE flag='o' AND tadaId=@tadaId AND isdelete='N'
END

IF @FLAG='ddf'
BEGIN 
	SELECT fromDate,toDate,headId FROM tadaReimbersement WHERE tadaId = @tadaId and fromDate = @fromDate and toDate=@toDate and headId=@headId
	SELECT toDate FROM tadaReimbersement where tadaId=@tadaId and headId=@headId and
	(fromDate  between  @fromDate and @toDate )and
	(toDate between  @fromDate and @toDate)
END
GO
