USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_Asset_Insurance]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
proc_Asset_Insurance u,1,1070,  '383','122.0000','5/7/2010 12:00:00 AM', '5/14/2010 12:00:00 AM','test 11', 6
*/
--select ROWID, DETAIL_TITLE from StaticDataDetail where TYPE_ID = 33
CREATE procedure [dbo].[proc_Asset_Insurance]
				@flag char(5),
				@id int,
				@user varchar(100)=null,
				@insurer varchar(500)=null,
				@insured_amt varchar(100)=null,
				@insured_date varchar(10)=null,
				@expiry_date varchar(10)=null,
				@narration varchar(500)=null,
				@branchid varchar(20)=null
As
	set nocount on;
					
if(@flag ='i')
begin
	insert into ASSET_INSURENCE (insurer, insured_amt, insured_date, [expiry_date], narration, created_by, created_date, Branch_Id)
		   values (@insurer, @insured_amt, @insured_date, @expiry_date, @narration, @user, GETDATE(), @branchid)
end
if(@flag='u')
begin
	update ASSET_INSURENCE set insurer = @insurer, insured_amt = @insured_amt, insured_date = @insured_date, [expiry_date] = @expiry_date,
					modify_by = @user, modify_date = GETDATE(), Branch_Id = @branchid, narration = @narration where id = @id
end
if(@flag='s')
begin
	select id ,insurer, insured_amt, CONVERT(varchar, insured_date, 101) as insured_date, CONVERT(varchar, [expiry_date], 101) as [expiry_date], narration, Branch_Id 
	from ASSET_INSURENCE where id = @id
end
GO
