USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procRoleDetails]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[procRoleDetails](
	@tran_Mode	varchar(1) =null,
	@role_Id	int = null,
	@role_Name	varchar(50)=null,
	@role_Type	varchar(50)=null,
	@user		varchar(50)=null
	
)
as
begin
	--ineserting new record
	set Xact_abort on;
	set nocount on;
	
	if(@tran_Mode='i')
	begin
		set @role_Id = ISNULL((select max(role_id) + 1 from role_master),1)
		insert into role_master (role_id,role_name,role_type,created_by,created_date,modified_by,modified_date)
		values (@role_id,@role_Name,@role_Type,@user,getdate(),@user,getdate())
		select 'New record has been added' as res
		return
	end
	else if(@tran_Mode='u')
	begin
		update role_master set role_name = @role_Name,role_type=@role_Type,modified_by=@user,modified_date=getdate()
			where role_id = @role_Id
		
		select 'Record has been updated' as res
		return
	end
	else if (@tran_Mode='a')
	begin
		select * from role_master
	end	
	else if (@tran_Mode='s')
	begin
		select * from role_master where role_id=@role_Id
	end	
	else if (@tran_Mode='d')
	begin
		delete from role_master where role_id=@role_Id
	end	
end
GO
