USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procGetBirthdayList]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXEC [procGetBirthdayList] 'A','3/12/2011','12/12/2011'
--EXEC [procGetBirthdayList] 'B','3/12/2011','12/12/2011'
CREATE PROCEDURE [dbo].[procGetBirthdayList]
			@FLAG VARCHAR(20)=NULL, 
			@FROM_DATE VARCHAR(20)=NULL,
			@TO_DATE VARCHAR(20)=NULL

AS
SET NOCOUNT ON;
IF @FLAG='A'
BEGIN

	DECLARE @F_FDATE AS DATE,@T_DATE AS DATE
	SET @F_FDATE=CAST(@FROM_DATE AS DATE)
	SET @T_DATE=CAST(@TO_DATE AS DATE)
	
	 
	SELECT ROW_NUMBER() OVER(ORDER BY LEFT(CONVERT(VARCHAR,BIRTH_DATE,101),2)) AS [S.N.]
		,EMP_CODE [EMP CODE]
		,FIRST_NAME+' '+MIDDLE_NAME+' '+LAST_NAME AS [EMPLOYEE NAME]
		,CONVERT(VARCHAR,BIRTH_DATE,107) AS [BIRTH DATE]
		FROM Employee WHERE LEFT(CONVERT(VARCHAR,BIRTH_DATE,101),2)BETWEEN LEFT(CONVERT(VARCHAR,@F_FDATE,101),2) AND LEFT(CONVERT(VARCHAR,@T_DATE,101),2)
		AND EMPLOYEE_ID<>1000 AND EMP_STATUS = 458
	ORDER BY LEFT(CONVERT(VARCHAR,BIRTH_DATE,101),2)

END
IF @FLAG='B'
BEGIN
SELECT 'HAPPY BIRTHDAY '+UPPER(SDD.DETAIL_TITLE)+' '+UPPER(FIRST_NAME)+' '+UPPER(MIDDLE_NAME)+' '+UPPER(LAST_NAME)+' !!!' as BIRTHDAY 
		FROM Employee E INNER JOIN StaticDataDetail SDD ON SDD.ROWID=E.SALUTATION
		WHERE DATEPART(mm,BIRTH_DATE)=DATEPART(mm,GETDATE())
		AND DATEPART(dd,BIRTH_DATE)=DATEPART(dd,GETDATE()) AND EMPLOYEE_ID<>1000 AND EMP_STATUS = 458 and isnull(birthdayFlag,'Y')<>'N'
END
GO
