USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_Asset_sales]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
exec [proc_Asset_sales] @flag='u',@user='1000', @asset_id='1',@sold_date='6/8/2011 12:00:00 AM', @sold_by='1000',
@narration='aaaa', @soldamt='45000.0000',@collection_ledger=null, @forwarded_to='1170'
*/
CREATE procedure [dbo].[proc_Asset_sales]
		@flag char(3),
		@id int=null,
		@user varchar(20)=null,
		@asset_id varchar(50)=null,
		@sold_date varchar(50)=null,
		@sold_by varchar(20)=null,
		@narration varchar(500)=null,
		@soldamt money = null,
		@collection_ledger varchar(50) = null,
		@forwarded_to varchar(20)=null
As
set nocount on;

	CREATE TABLE #msg(errorCode INT, msg VARCHAR(100), id INT)
		
	DECLARE 
	 @sql			VARCHAR(MAX)
	,@oldValue		VARCHAR(MAX)
	,@newValue		VARCHAR(MAX)
	,@tableName		VARCHAR(50)	

	DECLARE 
	 @gridName				VARCHAR(50)		
	,@addEditFunctionId		INT
	,@deleteFunctionId		INT
	,@approveFunctionId		INT
	,@tableNameAudit		VARCHAR(100)
	,@identifierField		VARCHAR(100)
	,@modType				VARCHAR(6)
	,@tableDescription		VARCHAR(100)
	
	SELECT
	 @tableNameAudit	= 'ASSET_SALES_HISTORY_TEMP'
	,@identifierField	= 'ID'
	,@tableDescription	= 'ASSET SALES REQUEST'
	,@modType			= 'insert'
	declare @acc_dep money
	declare @bookvalue money
	declare @profit money
	
	select @bookvalue = (purchase_value - acc_depriciation), @acc_dep =  acc_depriciation from ASSET_INVENTORY where id = @asset_id
	
	select @profit = @soldamt - @bookvalue
	
if(@flag='i')
begin
	
	BEGIN TRANSACTION 
	DECLARE @ROW_ID AS INT
	
	insert into ASSET_SALES_HISTORY_TEMP (asset_id, sold_date, sold_by, accumulate_dep, book_value, narration, profit_loss, sold_amt, collection_ledger,
		                             created_by, created_date,forwarded_to,forwarded_date,status)
    values (@asset_id, @sold_date, @sold_by, @acc_dep, @bookvalue, @narration, @profit, @soldamt, @collection_ledger, @user, 
    GETDATE(),@forwarded_to,GETDATE(),'Requested')
		
	 
	 SET @ROW_ID = SCOPE_IDENTITY()	
		
	INSERT INTO #msg(errorCode, msg, id)
				EXEC proc_changesApprovalQueue 
					 @flag = 'i'
					,@user = @user
					,@dataId = @ROW_ID
					,@identifierField = @identifierField
					,@tableName = @tableNameAudit
					,@modType = @modType			
					,@description = @tableDescription
					,@functionId = @approveFunctionId
					,@addEditFunctionId	= @addEditFunctionId
					,@forwarded_to=@forwarded_to
	 IF @@TRANCOUNT > 0
	 COMMIT TRANSACTION
end


if(@flag='a')
begin
	select dbo.showdecimal(purchase_value-acc_depriciation) as Book_Value,dbo.showdecimal(purchase_value) as purchase_value,narration 
		from ASSET_INVENTORY where id = @asset_id	
end

if(@flag='s')
begin
	select ai.id,ai.asset_number+'|'+CAST(ai.id as varchar) as asset_number,dbo.showdecimal(ai.purchase_value-ai.acc_depriciation) as Book_Value,
	dbo.showdecimal(ai.purchase_value) purchase_value,ai.narration as asset_narration,asset_id,sold_date,dbo.GetEmployeeFullNameOfId(sold_by) sold_by,
	accumulate_dep,book_value,sold_by as sold_id,
	t.narration,sold_amt,collection_ledger,forwarded_to,rejection_reason
	from ASSET_SALES_HISTORY_TEMP t inner join ASSET_INVENTORY ai on ai.id=t.asset_id where t.id = @id	
end

if(@flag='u')
begin
	
	BEGIN TRANSACTION 

	update ASSET_SALES_HISTORY_TEMP set asset_id=@asset_id, sold_date=@sold_date, sold_by=@sold_by, accumulate_dep=@acc_dep, book_value=@bookvalue,
	narration=@narration, profit_loss=@profit, sold_amt=@soldamt, collection_ledger=@collection_ledger,created_by=@user,created_date=getdate(),
	forwarded_to=@forwarded_to,forwarded_date=getdate(),status='Requested'
	where id=@id
		
	DELETE FROM changesApprovalQueue WHERE tableName=@tableNameAudit AND dataid=@id 
			
	INSERT INTO #msg(errorCode, msg, id)
				EXEC proc_changesApprovalQueue 
					 @flag = 'i'
					,@user = @user
					,@dataId = @id
					,@identifierField = @identifierField
					,@tableName = @tableNameAudit
					,@modType = @modType			
					,@description = @tableDescription
					,@functionId = @approveFunctionId
					,@addEditFunctionId	= @addEditFunctionId
					,@forwarded_to=@forwarded_to
	 IF @@TRANCOUNT > 0
	 COMMIT TRANSACTION
end
GO
