USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procJobGroup]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--- Exec procJobGroup @Flag='s',@JOB_GROUP_ID=1


create PROCEDURE [dbo].[procJobGroup](
			 @Flag					varchar(1)
			,@JOB_GROUP_ID			int			= null
			,@GROUP_NAME			varchar(50) = null
			,@DEPT_ID				int			= null
			,@POSITION_ID			int			= null
			,@JOB_STATIC_TYPE		INT			= NULL
			,@JOB_ID				INT			= NULL
			)
			
AS 		
SET NOCOUNT ON;
/*
 j  -> insert job assign 


*/
BEGIN TRY

	IF @Flag='i'
	BEGIN
	    INSERT INTO JOBGROUP(
					 GROUP_NAME
					,DEPT_ID
					,POSITION_ID
					)
					SELECT 
					@GROUP_NAME
				   ,@DEPT_ID
				   ,@POSITION_ID
				   
				   
				   SET @JOB_GROUP_ID = SCOPE_IDENTITY();
				   
				   SELECT 0 error_code,ERROR_MESSAGE(),@JOB_GROUP_ID AS ID

	END	
	
	ELSE IF @Flag='u'
	BEGIN
		UPDATE JOBGROUP SET
					GROUP_NAME		= @GROUP_NAME
					,DEPT_ID		= @DEPT_ID
					,POSITION_ID	= @POSITION_ID
			WHERE 	JOB_GROUP_ID	= @JOB_GROUP_ID	
			
	   
	   SELECT 0 error_code,ERROR_MESSAGE(),@JOB_GROUP_ID AS ID
	
	
	END
	
	
	ELSE IF @Flag='d'
	BEGIN
	   DELETE FROM 
	   JOBGROUP 
	   WHERE JOB_GROUP_ID= @JOB_GROUP_ID
	   
	  SELECT 0 error_code,ERROR_MESSAGE(),@JOB_GROUP_ID AS ID
	
	
	END
	ELSE IF @Flag='s'
	BEGIN
	    SELECT 
	    
			 GROUP_NAME
			,DEPT_ID
			,POSITION_ID
			
		FROM JOBGROUP 
		WHERE JOB_GROUP_ID=@JOB_GROUP_ID
	
	END
	
	
	ELSE IF @Flag='j'
	BEGIN
	   IF EXISTS(SELECT JOB_STATIC_TYPE from JOBDESCRIPTION WHERE JOB_STATIC_TYPE=@JOB_STATIC_TYPE  AND JOB_GROUP_ID=@JOB_GROUP_ID)
			BEGIN 
			
				SELECT 'Job Is Already Assigned!' as msg
				RETURN
			
			END
	
	
			INSERT INTO JOBDESCRIPTION(
								JOB_STATIC_TYPE
								,JOB_GROUP_ID
							)
					SELECT  
						   @JOB_STATIC_TYPE
						  ,@JOB_GROUP_ID 
					      
					      
						  SET @JOB_ID=SCOPE_IDENTITY()
						  
						
						
					      
					 --SELECT 0 error_code,ERROR_MESSAGE() meg, @JOB_GROUP_ID Id
		
	END
	
	--EXEC [procJobGroup] @Flag='g',@JOB_GROUP_ID='1'
	ELSE IF @Flag='g'
	BEGIN
	SELECT 
				ROW_NUMBER() OVER (ORDER BY JOB_ID DESC) [S.n.]
				,SD.DETAIL_TITLE [Job Title],
				'<img onclick = "DeleteNotification(' + CAST(JD.JOB_ID AS VARCHAR(50)) + ')" class = "showHand" border = "0" title = "Delete Notification" src="../../Images/delete.gif" />' [Delet] 
			FROM	JOBDESCRIPTION		JD		WITH(NOLOCK)
				INNER JOIN StaticDataDetail		SD	WITH(NOLOCK) 
				ON SD.ROWID=JD.JOB_STATIC_TYPE
			WHERE JOB_GROUP_ID=@JOB_GROUP_ID
			
	
	END
	
	
	ELSE IF @Flag='m'
	BEGIN
	    
	  DELETE FROM JOBDESCRIPTION WHERE JOB_ID=@JOB_ID
	
	END
	
	
	
	
END TRY
	
	
BEGIN CATCH
	
	SELECT 1 error_code,ERROR_MESSAGE() msg, @JOB_GROUP_ID Id
	
END CATCH
GO
