USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procContributionReport]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*

EXEC [procContributionReport] 's', '67-68','5','1','16','1059'
EXEC [procContributionReport] 'd', '67-68','4'

EXEC [procContributionReport] 'd', '67-68','','','','1059'

*/


CREATE proc [dbo].[procContributionReport]
@flag varchar(1),
@fiscalyear varchar(20)=null,
@month varchar(20)=null,
@barnchid varchar(20)=null,
@deptId varchar(20)=null,
@empId varchar(20)=null

as
Set nocount on;
declare @SQL as varchar(7000)

if(@flag='s')


begin
						
--if @month<>0 and @month is not null
begin
				   set @SQL='SELECT a.EMP_CODE as [Emp Code ],dbo.GetEmployeeFullNameOfId(a.EMPLOYEE_ID) AS [Emp Name] ,
							a.AMOUNT_EMPLOYEE [Amt Employee],a.AMOUNT_EMPLOYER [Amt Employer],
							isnull(XY.CONTB_AMOUNT_EMPLOYEE,0) as [Retirement Fund Employee ],
							dbo.FNAGetNepMonthName(a.RUN_MONTH) as [Run Month]

							FROM 
							(
								select e.EMP_CODE,e.EMPLOYEE_ID,e.BRANCH_ID,e.DEPARTMENT_ID,RUN_MONTH,SUM(AMOUNT_EMPLOYEE) as AMOUNT_EMPLOYEE,
								SUM(AMOUNT_EMPLOYER) as AMOUNT_EMPLOYER from ContributionHistory 
								inner join Employee e on ContributionHistory.EMPLOYEE_ID=e.EMPLOYEE_ID
								where 
								FY_ID='''+@fiscalyear+'''
								group by e.EMP_CODE, e.EMPLOYEE_ID,RUN_MONTH,BRANCH_ID,DEPARTMENT_ID
							)a
							Left join
							( 
								select EMPLOYEE_ID,isnull(sum(CONTB_AMOUNT_EMPLOYEE),0) [CONTB_AMOUNT_EMPLOYEE],
								CAST(LEFT(dbo.FNANepaliDate(CONTB_DATE),2) AS INT) RUN_MONTH 
								from Adhoc_Contribution 
								WHERE CONTB_DATE BETWEEN (SELECT EN_YEAR_START_DATE from FiscalYear where FISCAL_YEAR_NEPALI='''+@fiscalyear+''')
								AND (SELECT EN_YEAR_END_DATE from FiscalYear where FISCAL_YEAR_NEPALI='''+@fiscalyear+''' ) 
								and CAST(LEFT(dbo.FNANepaliDate(CONTB_DATE),2) AS INT)='''+@month+'''
								group by EMPLOYEE_ID,CONTB_DATE
							)

							XY on XY.EMPLOYEE_ID=a.EMPLOYEE_ID where 1=1 '
							
							set @SQL=@SQL+' and  a.RUN_MONTH='''+@month+'''' 	  
							if @barnchid<>0 and @barnchid is not null
							set @SQL=@SQL+' and a.BRANCH_ID='''+@barnchid+'''' 

							if @deptId<>0 and @deptId is not null
							set @SQL=@SQL+' and a.DEPARTMENT_ID='''+@deptId+'''' 

							if @empId<>0 and @empId is not null
							set @SQL=@SQL+' and a.EMPLOYEE_ID='''+@empId+'''' 
end
	
							
							
set @SQL=@SQL+' order by a.EMP_CODE '

Exec(@SQL);
print @SQL;

end 

if(@flag='d')
begin
				declare @yearstart date, @yearend date
				select  @yearstart= en_year_start_date from FiscalYear where FISCAL_YEAR_NEPALI=''+@fiscalyear+''
				select  @yearend= en_year_end_date from FiscalYear where FISCAL_YEAR_NEPALI=''+@fiscalyear+''
				set @SQL='SELECT a.EMP_CODE as [Emp Code ],dbo.FNAGetNepMonthName(a.RUN_MONTH) as [Run Month],
						a.AMOUNT_EMPLOYEE [Amt Employee],a.AMOUNT_EMPLOYER [Amt Employer],isnull(XY.CONTB_AMOUNT_EMPLOYEE,0) as [Ad.Retirement Fund employee ]
					  ,(isnull(a.AMOUNT_EMPLOYER,0)+isnull(a.AMOUNT_EMPLOYER,0)+isnull(XY.CONTB_AMOUNT_EMPLOYEE,0)) as Total
						FROM
						(
								SELECT e.EMP_CODE , RUN_MONTH,h.FY_ID,e.BRANCH_ID,e.DEPARTMENT_ID, h.EMPLOYEE_ID ,
								sum(AMOUNT_EMPLOYEE) AMOUNT_EMPLOYEE ,
								sum(AMOUNT_EMPLOYER) AMOUNT_EMPLOYER
								FROM ContributionHistory h
								inner join Employee e on h.EMPLOYEE_ID=e.EMPLOYEE_ID
								WHERE FY_ID='''+@fiscalyear+''' and h.EMPLOYEE_ID='''+@empId+'''
								group by e.EMP_CODE , h.EMPLOYEE_ID ,RUN_MONTH, h.FY_ID,e.BRANCH_ID,e.DEPARTMENT_ID
						)a
						Left join
						(
								SELECT e.EMP_CODE [employee code],a.EMPLOYEE_ID,cast(left(dbo.GetNepaliDate(contb_date),2) as Int) Nepali_month,'''+@fiscalyear+''' year,
								a.EMPLOYEE_ID [employee id],''Adhoc'' as HEAD,  ISNULL(sum(CONTB_AMOUNT_EMPLOYEE),0) CONTB_AMOUNT_EMPLOYEE
								FROM Adhoc_Contribution a 
								inner join Employee e on e.EMPLOYEE_ID=a.EMPLOYEE_ID
								WHERE a.EMPLOYEE_ID='''+@empId+''' 
								and CONTB_DATE BETWEEN '''+cast(@yearstart as varchar)+''' and  '''+cast(@yearend as varchar)+''' 
								group by e.EMP_CODE,CONTB_DATE,a.EMPLOYEE_ID
						)
						XY on XY.EMPLOYEE_ID=a.EMPLOYEE_ID and XY.year=a.FY_ID and XY.Nepali_month=a.RUN_MONTH
						where 1=1 '
										
							if @month<>0 and @month is not null
							set @SQL=@SQL+' and a.RUN_MONTH='''+@month+''''

							if @barnchid<>0 and @barnchid is not null
							set @SQL=@SQL+' and a.BRANCH_ID='''+@barnchid+''''

							if @deptId<>0 and @deptId is not null
							set @SQL=@SQL+' and a.DEPARTMENT_ID='''+@deptId+'''' 
							
							
				




Exec (@SQL);
print @SQL;


end
GO
