USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[PROCINSERTUPDATEJOBPROCESSING]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PROCINSERTUPDATEJOBPROCESSING]                    
 (                      
 @ID   INT = NULL,                    
 @JOBID     INT = NULL,                    
 @ACTEMPID INT = NULL,                    
 @FORWARDTO INT = NULL,                    
 @ACTDATE DATETIME = NULL,                    
 @COMMENTS VARCHAR(MAX) = NULL,                    
 @JOBSTATUS VARCHAR(30) = NULL,                   
 @JOBMODE VARCHAR(20) = NULL,                 
 @MODE  VARCHAR(5) = NULL                    
 )                    
 AS                    
 BEGIN              
             
   DECLARE @ROWID INT               
   IF (@MODE = 'A')                    
   BEGIN                 
    
			SET  @ROWID = (SELECT TOP 1 ID FROM WF_DETAILS WHERE FORWARD_TO = @ACTEMPID
				AND WF_JOBID = @JOBID ORDER BY ID DESC)                 
			UPDATE WF_DETAILS SET FLAG='Y' WHERE ID = @ROWID          
                        
			INSERT INTO [WF_Details]                    
				   ([WF_JobID]                    
				   ,[Action_By_EmpID]                    
				   ,[Action_Date]                    
				   ,[Forward_To]                               
				   ,[Comments]                    
				   ,[Job_Status]                  
				   ,[Mode] 
				   ,[FLAG]                     
				   ,[Parent_ID])                  
			VALUES                    
				   (@JOBID                    
				   ,@ACTEMPID                    
				   ,@ACTDATE                    
				   ,@FORWARDTO                               
				   ,@COMMENTS                    
				   ,@JOBSTATUS                  
				   ,@JOBMODE  
				   ,'A'                   
				   ,@ROWID)                    
	END             
					
                  
  IF (@MODE = 'I')                    
  BEGIN         
       
		SELECT  TOP 1 @ROWID = ID FROM WF_DETAILS WHERE ACTION_BY_EMPID = @ACTEMPID AND FORWARD_TO = 0       
		AND WF_JOBID = @JOBID  AND MODE NOT IN ('ACCEPTED') ORDER BY ID DESC      
		        
		--SELECT  @ROWID = ID FROM WF_DETAILS WHERE Action_By_EmpID = @ACTEMPID AND Mode = 'Accepted' AND FLAG IS NULL          
		UPDATE WF_DETAILS SET FLAG='Y' WHERE ID = @ROWID  
		UPDATE WF_DETAILS SET FLAG='F' WHERE ID = @ID         
                     
		INSERT INTO [WF_Details]                    
		   ([WF_JobID]                    
		   ,[Action_By_EmpID]                    
		   ,[Action_Date]                    
		   ,[Forward_To]                               
		   ,[Comments]                    
		   ,[Job_Status]                  
		   ,[Mode])                  
		VALUES                    
		   (@JOBID                    
		   ,@ACTEMPID                    
		   ,@ACTDATE                    
		   ,@FORWARDTO                               
		   ,@COMMENTS                    
		   ,@JOBSTATUS                  
		   ,@JOBMODE )                    
     END                          
                               
      IF (@MODE = 'U')                           
      BEGIN                    
			UPDATE [WF_Details]                    
				SET [WF_JobID] = @JOBID                    
				,[Action_By_EmpID] = @ACTEMPID                    
				,[Action_Date] = @ACTDATE                    
				,[Forward_To] = @FORWARDTO                    
				,[Comments] = @COMMENTS                    
				,[Job_Status] = @JOBSTATUS                    
			WHERE ID = @ID                                    
      END                 
                  
    IF (@MODE = 'D')            
    BEGIN            
			DELETE FROM [WF_Details] WHERE ID = @ID            
    END  
    
    IF (@MODE = 'M')            
    BEGIN            
			DELETE FROM [WF_Details] WHERE ID = @ID     
			--select * from       [WF_Details] 
    END                   
                      
 END
GO
