USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procManageTaxRulesSetup]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[procManageTaxRulesSetup]        
  (          
	 @ID  INT    = null    
	,@FYID VARCHAR(10) = null       
	,@MARRIEDAMOUNT1 FLOAT = null      
	,@MARRIEDTAXRATE1 FLOAT = null       
	,@UNMARRIEDAMOUNT1 FLOAT = null       
	,@UNMARRIEDTAXRATE1 FLOAT = null        
	,@MARRIEDAMOUNT2 FLOAT = null    
	,@MARRIEDTAXRATE2 FLOAT = null       
	,@UNMARRIEDAMOUNT2 FLOAT = null    
	,@UNMARRIEDTAXRATE2 FLOAT = null       
	,@MARRIEDAMOUNT3 VARCHAR(20) = null       
	,@MARRIEDTAXRATE3 FLOAT = null       
	,@UNMARIEDAMOUNT3 VARCHAR(20) = null     
	,@UNMARRIEDTAXRATE3 FLOAT = null       
	,@NONRESIDENTIALTAXRATE FLOAT = null       
	,@NONRESIDENTIALTAXRATEOF VARCHAR(50) = null       
	,@VEHICLERATE FLOAT = null       
	,@VEHICLERATEOF VARCHAR(50) = null        
	,@HOUSERATE FLOAT = null       
	,@HOUSERATEOF VARCHAR(50) = null    
	,@DISCOUNTRATE FLOAT = null       
	,@DISCOUNTRATEOF VARCHAR(50) = null        
	,@PENSIONRATE FLOAT = null       
	,@PENSIONRATEOF VARCHAR(50) = null        
	,@PENSIONCOMPAMOUNT FLOAT = null       
	,@PENSIONHIGHERLOWER VARCHAR(10) = null    
	,@PENSIONCOMPAREFLG VARCHAR(10) = null        
	,@DISABLERATE FLOAT = null       
	,@DISABLERATEOF VARCHAR(50) = null        
	,@DISABLECOMPAMOUNT FLOAT  = null      
	,@DISABLEHIGHERLOVER VARCHAR(10) = null        
	,@DISABLECOMPAREFLG VARCHAR(10)  = null       
	,@DONATIONRATE FLOAT = null       
	,@DONATIONRATEOF VARCHAR(50) = null        
	,@DONATIONCOMPAMOUNT FLOAT   = null      
	,@DONATIONHIGHERLOWER VARCHAR(10) = null       
	,@DONATIONCOMPAREFLG VARCHAR(10)  = null      
	,@INSURANCERATE FLOAT = null       
	,@INSURANCERATEOF VARCHAR(50) = null        
	,@INSURANCECOMPAMOUNT FLOAT = null        
	,@INSURANCEHIGHERLOWER VARCHAR(10) = null         
	,@INSURANCECOMPAREFLG VARCHAR(10) = null       
	,@FRACTION VARCHAR(10) = null       
	,@FRACTIONOF VARCHAR(50) = null       
	,@CONTRIBUTIONCOMPAMOUNT FLOAT = null       
	,@CONTRIBUTIONHIGHERLOWER VARCHAR(10) = null        
	,@CONTRIBUTIONACTUALCOMPFLG VARCHAR(10) = null       
	,@ACTIONBY INT = null       
	,@ACTIONDATE DATETIME  = null
	,@amt_for_add_tax float = null
	,@add_tax_rate float = null
	,@add_tax_rate_of varchar(100) = null
	,@rl_groupA Float = null
	,@rl_groupB Float = null
	,@rl_groupC float = null
	,@rl_groupD float =null
	,@rl_groupE Float = null
	,@medical_tax_pcnt money =null
	,@medical_tax_limit money = null       
	,@MODE  VARCHAR(1) = null       
    )            
    AS             
    BEGIN    
   --SET NOCOUNT ON  
    -- SELECT ID FROM TAXRULESETUP WHERE FY_ID = '65-66'  
  --  IF EXISTS(SELECT ID FROM TAXRULESETUP WHERE FY_ID = @FYID)  
  --  BEGIN  
  --SET @MODE = 'U'  
  --  END  
            
    IF (@MODE = 'I')        
    BEGIN        
  INSERT INTO [TaxRuleSetup]        
           ([FY_ID]        
           ,[MARRIED_SLAB1]        
           ,[MARRIED_RATE1]        
           ,[MARRIED_SLAB2]        
           ,[MARRIED_RATE2]        
           ,[MARRIED_SLAB3]        
           ,[MARRIED_RATE3]        
           ,[UNMARRIED_SLAB1]        
           ,[UNMARRIED_RATE1]        
           ,[UNMARRIED_SLAB2]        
           ,[UNMARRIED_RATE2]        
           ,[UNMARRIED_SLAB3]        
           ,[UNMARRIED_RATE3]        
           ,[NON_NEPALI_RATE]        
           ,[NON_NEPALI_RATE_OF]        
           ,[VHCL_FACILITY_RATE]        
           ,[VHCL_FACILITY_OF]        
           ,[HOUSE_FACILITY_RATE]        
           ,[HOUSE_FACILITY_OF]        
           ,[WOMAN_DISC_RATE]        
           ,[WOMAN_DISC_RATE_OF]        
           ,[PENSION_DED_RATE]        
           ,[PENSION_DED_RATE_OF]        
           ,[PENSION_COMP_AMT]        
           ,[PENSION_COMP_ACTUAL_FLG]        
           ,[PENSION_HIGH_LOW_FLG]        
           ,[DISABLE_DED_RATE]        
           ,[DISABLE_DED_RATE_OF]        
           ,[DISABLE_COMP_AMT]        
           ,[DISABLE_COMP_ACTUAL_FLG]        
           ,[DISABLE_HIGH_LOW_FLG]        
           ,[DONATION_DED_RATE]        
           ,[DONATION_DED_RATE_OF]        
           ,[DONATION_COMP_AMT]        
           ,[DONATION_COMP_ACTUAL_FLG]        
           ,[DONATION_HIGH_LOW_FLG]        
           ,[INSURANCE_DED_RATE]        
           ,[INSURANCE_DED_RATE_OF]        
           ,[INSURANCE_COMP_AMT]        
           ,[INSURANCE_COMP_ACTUAL_FLG]        
           ,[INSURANCE_HIGH_LOW_FLG]        
           ,[CONTRIBUTION_FRACTION]        
           ,[CONTRIBUTION_FRACTION_OF]        
           ,[CONTRIBUTION_COMP_AMT]        
           ,[CONTRIBUTION_COMP_ACTUAL_FLG]        
           ,[CONTRIBUTION_HIGH_LOW_FLG]        
           ,[CREATEDBY]        
           ,[CREATEDDATE]
           ,amt_for_add_tax 
		   ,add_tax_rate
		   ,add_tax_rate_of
           ,rl_groupA
           ,rl_groupB
           ,rl_groupC
           ,rl_groupD
           ,rl_groupE
           ,medical_tax_pcnt
           ,medical_tax_limit
           )              
     VALUES        
           (@FYID        
           ,@MARRIEDAMOUNT1        
           ,@MARRIEDTAXRATE1        
           ,@MARRIEDAMOUNT2        
           ,@MARRIEDTAXRATE2        
           ,@MARRIEDAMOUNT3        
           ,@MARRIEDTAXRATE3        
           ,@UNMARRIEDAMOUNT1        
           ,@UNMARRIEDTAXRATE1        
           ,@UNMARRIEDAMOUNT2        
           ,@UNMARRIEDTAXRATE2        
           ,@UNMARIEDAMOUNT3         
           ,@UNMARRIEDTAXRATE3        
           ,@NONRESIDENTIALTAXRATE        
           ,@NONRESIDENTIALTAXRATEOF        
           ,@VEHICLERATE        
           ,@VEHICLERATEOF        
           ,@HOUSERATE        
           ,@HOUSERATEOF        
           ,@DISCOUNTRATE        
           ,@DISCOUNTRATEOF        
           ,@PENSIONRATE        
           ,@PENSIONRATEOF        
           ,@PENSIONCOMPAMOUNT        
           ,@PENSIONCOMPAREFLG        
           ,@PENSIONHIGHERLOWER        
           ,@DISABLERATE        
           ,@DISABLERATEOF        
           ,@DISABLECOMPAMOUNT        
           ,@DISABLECOMPAREFLG        
           ,@DISABLEHIGHERLOVER        
           ,@DONATIONRATE        
           ,@DONATIONRATEOF        
           ,@DONATIONCOMPAMOUNT        
           ,@DONATIONCOMPAREFLG        
           ,@DONATIONHIGHERLOWER        
           ,@INSURANCERATE        
           ,@INSURANCERATEOF        
           ,@INSURANCECOMPAMOUNT        
           ,@INSURANCECOMPAREFLG        
           ,@INSURANCEHIGHERLOWER        
           ,@FRACTION        
           ,@FRACTIONOF        
           ,@CONTRIBUTIONCOMPAMOUNT        
           ,@CONTRIBUTIONACTUALCOMPFLG         
           ,@CONTRIBUTIONHIGHERLOWER         
           ,@ACTIONBY        
           ,@ACTIONDATE
           ,@amt_for_add_tax 
		   ,@add_tax_rate
		   ,@add_tax_rate_of
           ,@rl_groupA
           ,@rl_groupB
           ,@rl_groupC
           ,@rl_groupD
           ,@rl_groupE
           ,@medical_tax_pcnt
           ,@medical_tax_limit)        
        
  END        
          
  IF (@MODE = 'U')        
  BEGIN        
   UPDATE [TaxRuleSetup]        
   SET [FY_ID] = @FYID        
	,[MARRIED_SLAB1] = @MARRIEDAMOUNT1        
	,[MARRIED_RATE1] = @MARRIEDTAXRATE1        
	,[MARRIED_SLAB2] = @MARRIEDAMOUNT2        
	,[MARRIED_RATE2] = @MARRIEDTAXRATE2        
	,[MARRIED_SLAB3] = @MARRIEDAMOUNT3        
	,[MARRIED_RATE3] = @MARRIEDTAXRATE3        
	,[UNMARRIED_SLAB1] = @UNMARRIEDAMOUNT1        
	,[UNMARRIED_RATE1] = @UNMARRIEDTAXRATE1        
	,[UNMARRIED_SLAB2] = @UNMARRIEDAMOUNT2        
	,[UNMARRIED_RATE2] = @UNMARRIEDTAXRATE2        
	,[UNMARRIED_SLAB3] = @UNMARIEDAMOUNT3        
	,[UNMARRIED_RATE3] = @UNMARRIEDTAXRATE3        
	,[NON_NEPALI_RATE] = @NONRESIDENTIALTAXRATE        
	,[NON_NEPALI_RATE_OF] = @NONRESIDENTIALTAXRATEOF        
	,[VHCL_FACILITY_RATE] = @VEHICLERATE        
	,[VHCL_FACILITY_OF] = @VEHICLERATEOF        
	,[HOUSE_FACILITY_RATE] = @HOUSERATE        
	,[HOUSE_FACILITY_OF] = @HOUSERATEOF        
	,[WOMAN_DISC_RATE] = @DISCOUNTRATE        
	,[WOMAN_DISC_RATE_OF] = @DISCOUNTRATEOF        
	,[PENSION_DED_RATE] = @PENSIONRATE        
	,[PENSION_DED_RATE_OF] = @PENSIONRATEOF        
	,[PENSION_COMP_AMT] = @PENSIONCOMPAMOUNT        
	,[PENSION_COMP_ACTUAL_FLG] = @PENSIONCOMPAREFLG        
	,[PENSION_HIGH_LOW_FLG] = @PENSIONHIGHERLOWER        
	,[DISABLE_DED_RATE] = @DISABLERATE        
	,[DISABLE_DED_RATE_OF] = @DISABLERATEOF        
	,[DISABLE_COMP_AMT] = @DISABLECOMPAMOUNT        
	,[DISABLE_COMP_ACTUAL_FLG] = @DISABLECOMPAREFLG        
	,[DISABLE_HIGH_LOW_FLG] = @DISABLEHIGHERLOVER        
	,[DONATION_DED_RATE] = @DONATIONRATE        
	,[DONATION_DED_RATE_OF] = @DONATIONRATEOF        
	,[DONATION_COMP_AMT] = @DONATIONCOMPAMOUNT        
	,[DONATION_COMP_ACTUAL_FLG] = @DONATIONCOMPAREFLG        
	,[DONATION_HIGH_LOW_FLG] = @DONATIONHIGHERLOWER        
	,[INSURANCE_DED_RATE] = @INSURANCERATE        
	,[INSURANCE_DED_RATE_OF] = @INSURANCERATEOF        
	,[INSURANCE_COMP_AMT] = @INSURANCECOMPAMOUNT        
	,[INSURANCE_COMP_ACTUAL_FLG] = @INSURANCECOMPAREFLG        
	,[INSURANCE_HIGH_LOW_FLG] = @INSURANCEHIGHERLOWER        
	,[CONTRIBUTION_FRACTION] = @FRACTION        
	,[CONTRIBUTION_FRACTION_OF] = @FRACTIONOF        
	,[CONTRIBUTION_COMP_AMT] = @CONTRIBUTIONCOMPAMOUNT        
	,[CONTRIBUTION_COMP_ACTUAL_FLG] = @CONTRIBUTIONACTUALCOMPFLG        
	,[CONTRIBUTION_HIGH_LOW_FLG] = @CONTRIBUTIONHIGHERLOWER        
	,[MODIFIEDBY] = @ACTIONBY        
	,[MODIFIEDDATE] = @ACTIONDATE
	,amt_for_add_tax =@amt_for_add_tax
	,add_tax_rate = @add_tax_rate
	,add_tax_rate_of = @add_tax_rate_of
	,rl_groupA = @rl_groupA
	,rl_groupB = @rl_groupB
	,rl_groupC= @rl_groupC
	,rl_groupD= @rl_groupD
	,rl_groupE= @rl_groupE
	,medical_tax_pcnt=@medical_tax_pcnt
	,medical_tax_limit=@medical_tax_limit
  WHERE ID = @ID        
  END        
          
  IF (@MODE ='D')        
  BEGIN        
   DELETE FROM TaxRuleSetup WHERE ID = @ID        
  END        
          
    END
GO
