USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procInsertProductInTemp]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[procInsertProductInTemp]          
  @flag varchar(5) = null,          
  @session_id varchar(200) = null,      
  @order_id int = null,            
  @user varchar(50) = null,      
  @updateQty varchar(20) = null          
AS          
SET NOCOUNT ON;          
             
IF(@flag ='i')          
BEGIN          
          
 if not exists (select session_id,order_message_id from Temp_Purchase  where session_id=@session_id and order_message_id=@order_id)          
 BEGIN          
            
	   INSERT INTO Temp_Purchase(session_id,product_code,qty,rate,amount,flag,created_by,created_date,order_message_id)       
	   (select @session_id,product_code,(qty - ISNULL(Received_Qty,0)),rate,round(((qty - ISNULL(Received_Qty,0))*rate),2) as amount,'P',@user,GETDATE(),@order_id           
	   from Purchase_Order           
	   WHERE order_message_id=@order_id and (qty - ISNULL(Received_Qty,0))<>0)     
	        
 END         
         
 ELSE        
 BEGIN        
         
    delete from Temp_Purchase where session_id=@session_id and order_message_id=@order_id
    delete from Temp_Purchase_Other where session_id=@session_id
    
    INSERT INTO Temp_Purchase(session_id,product_code,qty,rate,amount,flag,created_by,created_date,order_message_id)       
		   (SELECT @session_id,product_code,(qty - ISNULL(Received_Qty,0)),rate,round(((qty - ISNULL(Received_Qty,0))*rate),2) as amount,'P',@user,GETDATE(),@order_id           
		   FROM Purchase_Order           
		   WHERE order_message_id=@order_id and (qty - ISNULL(Received_Qty,0))<>0)   
 END        
           
END
GO
