USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_absentAttendanceNotificaton]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXEC [proc_lateAttendanceNotificaton]
CREATE PROCEDURE [dbo].[proc_absentAttendanceNotificaton]      
AS 
SET NOCOUNT ON; 
SET XACT_ABORT ON;  
  
BEGIN 
		declare @date1 as date,@date as varchar(20),@intPartId int,
		@intTotalRows int,@recipient varchar(200),@attDate as varchar(20)
		,@msgContent varchar(max),@empId as int
		set @date1=GETDATE()
		select @date=cast(@date1 as varchar)+' 09:30:01 '

		IF OBJECT_ID('tempdb..#tempTable') IS NOT NULL
		drop table #tempTable

		CREATE TABLE #tempTable
		(	
			empId int,
			loginDate DATETIME
		)	
		insert into #tempTable(empId,loginDate)
		select emp_id,login_time from atttendance where login_time >@date
		and emp_id<>1319 

		Alter table #tempTable add RowID INT IDENTITY(1,1)
		select @intPartId=max(RowID) from #tempTable
		set @intTotalRows=1
		while @intPartId >=  @intTotalRows
		begin
			
			select @empId=empId,@attDate=convert(varchar,loginDate,100) from #tempTable	 where RowID=@intTotalRows
			select @recipient=OFFICIAL_EMAIL from Employee where EMPLOYEE_ID=@empId
			
			set @msgContent=	
			'Dear Sir/Madam
			
			Your attendance for today has been recorded as '+@attDate+'.

		We expect your timely attendance.

		Thanks & Regards
		Nabil Bank Limited (HR Department)'
			EXEC PROC_MAIL_SEND @recipient=@recipient, 
			@subject_text='Attendance Notification', @msg_text=@msgContent
			
			
			set @intTotalRows=@intTotalRows+1
		end

		drop table #tempTable	 
END
GO
