USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procApproveAssetMaintenanceRequest]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[procApproveAssetMaintenanceRequest]
	@flag VARCHAR(1),
	@table_id VARCHAR(20)=NULL,	
	@user AS VARCHAR(50)=NULL,
	@queue_id AS VARCHAR(20)=NULL
	
	AS
	SET NOCOUNT ON;				
IF(@flag ='i')
	BEGIN
		
		DECLARE @ASSETID AS INT,@NEXT_MAINTENANCE_DATE AS DATE
		
		SELECT @ASSETID=asset_id,@NEXT_MAINTENANCE_DATE=next_maintenance_date FROM ASSET_MAINTENANCE_TEMP WHERE id=@table_id
		
		SELECT * FROM ASSET_MAINTENANCE_HISTORY
		
		INSERT INTO ASSET_MAINTENANCE_HISTORY(asset_id, maint_date, maint_by, accumulate_dep,book_value, narration, payment_ledger, expense_amt, 
						next_maintenance_date,created_by,created_date,modified_by,modified_date,approved_by,approved_date)
						
		SELECT asset_id, maint_date, maint_by, accumulate_dep,book_value, narration, payment_ledger, expense_amt, 
						next_maintenance_date,created_by,created_date,modified_by,modified_date,@user,GETDATE() FROM ASSET_MAINTENANCE_TEMP
						 WHERE id=@table_id

		        
		UPDATE ASSET_INVENTORY SET NEXT_MAINTENANCE_DATE =@NEXT_MAINTENANCE_DATE WHERE ID=@ASSETID	
			 
		DELETE FROM changesApprovalQueue WHERE dataid=@table_id AND rowId=@queue_id
		
		DELETE FROM ASSET_MAINTENANCE_TEMP WHERE id=@table_id	
		
	END
GO
