USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[ProcGetEmpDetails]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Exec ProcGetEmpDetails 's','1',NULL,NULL
--Exec ProcGetEmpDetails 's', '1','',''
CREATE Proc [dbo].[ProcGetEmpDetails]
	@flag char(1),
	@branch_id varchar(10)=null,
	@dept_id varchar(10)=null,
	@emp_id varchar(10)=null
	
AS
if @flag='s'
begin
	set nocount on;
	declare @SQL as varchar(7000)
	
	set @SQL='select EMPLOYEE_ID as [Employee ID],EMP_CODE ,FIRST_NAME + '' '' + MIDDLE_NAME + '' '' + LAST_NAME AS [Employee Name] from Employee where EMPLOYEE_ID<>1000 and emp_status=''458'''
	
	if @branch_id is not null
	set @SQl=@SQl + ' and BRANCH_ID = '''+@branch_id+''''

	if @dept_id is not null
	set @SQl=@SQl + ' and DEPARTMENT_ID= '''+ @dept_id +''''

	if @emp_id is not null
	set @SQl=@SQl + ' and EMPLOYEE_ID= '''+ @emp_id +''''
	
	set @SQL=@SQL+' order by EMP_CODE'
	--print @SQL
	exec(@SQL)
		
end
GO
