USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[Proc_SalaryAssignment]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
Exec [Proc_SalaryAssignment] @flag='e',@branch_id='1',@dept_id=null,@salary_title=null
select * from staticdatadetail where type_id=38

EXEC Proc_SalaryAssignment @flag='i', @emp_ids='1001,1002,1003,1004,1005',@new_Salary_set=2,@salaryheads='390,575,576',@HeadAmt='30000,10000,2189.3',@user='1000'
,@effectiveDate='2012-04-18',@applicableDate='2012-06-01', @new_Grade_set='1',@grade='5',@gradeAmt='34000'

select * from grade_setup

Exec Proc_SalaryAssignment @flag='i',@new_Salary_set='4', @grade=null,@gradeAmt=null,@effectiveDate='12/1/2012', @applicableDate='12/1/2012',@user='1000', @emp_ids='1864',@salaryDetailId='4,35'

select * from salaryset

*/

CREATE Proc [dbo].[Proc_SalaryAssignment]
	 @flag				VARCHAR(2)	
	,@Branch_id			INT				= NULL
	,@dept_id			INT				= NULL
	,@salary_title		INT				= NULL
	,@salary_set		INT				= NULL
	,@emp_ids			VARCHAR(5000)	= NULL
	,@new_Salary_set	INT				= NULL
	,@grade				INT				= NULL
	,@gradeAmt			MONEY			= NULL
	,@salaryHeads		VARCHAR(1000)	= NULL
	,@HeadAmt			VARCHAR(1000)	= NULL
	,@effectiveDate		DATE			= NULL
	,@applicableDate	DATE			= NULL
	,@user				INT				= NULL
	,@salaryDetailId	varchar(max)	= NULL
AS

set nocount off;

Declare 
	@basic				MONEY			= NULL,
	@gradeAmount		MONEY			= NULL
	
	select @basic=payableValue from salarySetDetails where salarySetMasterId=@new_Salary_set and payableHead='390'
	
	Select @gradeAmount = dbo.ShowDecimal(@basic+sum(amount)) from Grade_Setup where salary_set_id=@new_Salary_set and grade <= @grade

----------###### Get employee List
IF @flag='e'
BEGIN

	SELECT EMPLOYEE_ID,EMP_CODE [Emp Code],FIRST_NAME+isnull(' '+MIDDLE_NAME,'')+isnull(' '+LAST_NAME,'') [Employee Name] 
	FROM Employee 
	WHERE BRANCH_ID = isnull(@Branch_id,BRANCH_ID) 
	AND DEPARTMENT_ID = isnull(@dept_id,DEPARTMENT_ID) 
	AND Salary_Title = isnull(@salary_title,Salary_Title)

END

----------###### Get payable List of a salary set
IF @flag = 'ss'
BEGIN
	
	SELECT salaryDetailId,d.DETAIL_TITLE [Payable Head],dbo.ShowDecimal(payableValue) [Payable Amount] FROM salarySetDetails s 
	inner join StaticDataDetail d on d.ROWID=s.payableHead
	WHERE salarySetMasterId=@new_Salary_set AND VALUE_FOR = 'A'

END

----------###### Get Grade Amount
IF @flag='g'
BEGIN
	
	SELECT
			 salaryDetailId
			,d.DETAIL_TITLE [Payable Head]
			,case when DETAIL_DESC = 'Basic Salary' then dbo.ShowDecimal(@gradeAmount)
			 else dbo.ShowDecimal(s.payableValue) end as [Payable Amount]
		FROM salarySetDetails s 
		inner join StaticDataDetail d on d.ROWID=s.payableHead
		WHERE salarySetMasterId=@new_Salary_set AND VALUE_FOR = 'A'

END


----------###### Insert into Payable table
IF @flag='i'
BEGIN
	
	-- Exec Proc_SalaryAssignment @flag='i',@new_Salary_set='4', @grade=null,@gradeAmt=null,@effectiveDate='12/1/2012', @applicableDate='12/1/2012',@user='1000', @emp_ids='1864',@salaryDetailId='4,35'


	--insert payable details
	Insert into Payable(EMPLOYEE_ID,BENEFIT_ID,AMOUNT,EFFECTIVE_FROM,APPLY_FROM,SET_ID,BRANCH_ID,DEPT_ID,POSITION_ID,CREATED_BY,CREATED_DATE,is_active,effective_upto) 
	Select 
		emp.name,
		payable.payableHead,
		payable.payableValue,
		@effectiveDate,
		@applicableDate,
		@new_Salary_set,
		e.BRANCH_ID,
		e.DEPARTMENT_ID,
		e.POSITION_ID,
		@user,
		getdate(),
		'Y' ,
		'2999-07-16'
	from dbo.split(@emp_ids,',') emp ,
	(
	Select payableHead,payableValue
	from salarySetDetails where salaryDetailId in (select name from dbo.split(@salaryDetailId,','))
	) payable
	,Employee e where emp.name=e.employee_id
	order by emp.name
	
	SELECT 'Success!' AS msg

END
GO
