USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[sp_NabilAttendanceMail]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---EXEC sp_NabilAttendanceMail  
  
CREATE Proc [dbo].[sp_NabilAttendanceMail]  
AS  
BEGIN  
  
 IF OBJECT_ID('tempdb..#temp') IS NOT NULL  
 DROP TABLE #temp  
   
 SET NOCOUNT ON;  
  
 CREATE TABLE #temp (emp_id INT,Name VARCHAR(100),login_time DATETIME,logout_time DATETIME,OFFICIAL_EMAIL VARCHAR(100),td VARCHAR(500))  
  
 INSERT INTO #temp  
  SELECT  emp_id,E.FIRST_NAME + ' ' + E.MIDDLE_NAME + ' ' + E.LAST_NAME AS 'Name',  
  A.login_time ,A.logout_time,E.OFFICIAL_EMAIL,null td    
  FROM atttendance A INNER JOIN Employee E on A.emp_id=E.EMPLOYEE_ID  
  INNER JOIN Fiscal_Month F ON CAST((A.att_date)as Date)>=f.engDateBaisakh   
  LEFT JOIN  attendance_reason c ON c.att_id=a.id   
  where logout_time IS NULL AND f.DefaultYr='1' and e.OFFICIAL_EMAIL is not null order by emp_id    
 ---- WHERE emp_id IN  
 ---- (  
 ---- SELECT emp_id FROM (  
 ---- SELECT count(*) cnt,emp_id from atttendance group by emp_id  
 ----)x  WHERE cnt between 1 and 700  
 ---- )  
   
UPDATE #temp SET td = '<tr><td>'+CONVERT(VARCHAR,login_time,101)+'</td>'+'<td>'+CONVERT(VARCHAR,login_time,108)+'</td>'+'<td> &nbsp; </td>'+'</td>'+'<td> Pending </td></tr>'  
  
----select *  from #temp  
----return  
  
DECLARE @empcnt TABLE(id INT IDENTITY(1,1),emp_id INT)  
  
INSERT INTO @empcnt  
SELECT DISTINCT emp_id FROM #temp  
  
DECLARE @cnt INT = 0,@emp_id INT  
DECLARE @recipient VARCHAR(200)  
DECLARE @table     VARCHAR(MAX)=''  
DECLARE @msgContent VARCHAR(MAX)  
SET @msgContent='Dear Sir/Madam <br><br> We have noted your pending attendance for following dates in HRMS. <br><br> <strong>Attendance Record </strong><br><br>'  
  
--loop start here  
 SELECT @cnt = COUNT(*) FROM @empcnt  
 WHILE @cnt > 0   
 BEGIN   
   
  SELECT @emp_id = emp_id FROM @empcnt WHERE id = @cnt  
  
  SELECT TOP 1 @recipient = OFFICIAL_EMAIL FROM #temp WHERE emp_id = @emp_id   
  
  SELECT @table=@msgContent+'<table border="1"> <tr><th>Date</th><th>Login_time</th> <th>Logout_time</th><th>Remarks</th></tr> '  
    
  SELECT @table += td  FROM #temp WHERE emp_id = @emp_id   
  
  SELECT @table +='</table>'  
   
 ----insert into mail table  
  
 EXEC procEmailNotes @flag='Insert',@sendTo=@recipient,@subject='Attendance Records',@notesText=@table  
   
  
 SET @cnt = @cnt - 1  
END    
  
  
 --IF OBJECT_ID('tempdb..#temp') IS NOT NULL  
 --DROP TABLE #temp  
  
select * from emailNotes order by notesid desc  
  
 --truncate table emailNotes  
   
END
GO
