USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[PROC_LEAVE_INCASHMENT]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[PROC_LEAVE_INCASHMENT]
	@flag char(1),
	@bs_year varchar(20),
	@branchid varchar(20)=null,
	@dept varchar(10)=null,
	@emp_id varchar(10)=null
	
AS

Declare @sql varchar(3000)

SET NOCOUNT ON;

----- employeewise\leavetype wise report

IF @flag='d'
BEGIN
		SET @sql='Select emp_id,Rtrim(dbo.GetEmployeeFullNameOfId(emp_id)) EmpName ,bs_year Year,dbo.showdecimal(Gross) Gross,TotEncashment_Days,dbo.showdecimal(Encashment_Amount) Encashment_Amount
				from leaveEncashment le
				inner join Employee e on le.Emp_Id=e.EMPLOYEE_ID
				'
			
			SET @sql=@sql + ' WHERE BS_YEAR='''+@bs_year+''' and TotEncashment_Days <> 0'
			
			IF @branchid is not null
			SET @sql=@sql + ' AND e.BRANCH_ID = '''+ @branchid	+''''
			 
			IF @dept is not null
			SET @sql=@sql + ' AND e.DEPARTMENT_ID = '''+ @dept+''''
			 
			IF @emp_id is not null
			SET @sql=@sql + ' AND le.EMP_ID = '''+ @emp_id	+''''

			Set @sql = @sql+'order by TotEncashment_Days desc'
			
			--SET @sql='SELECT ROW_NUMBER() OVER (ORDER BY NAME_OF_LEAVE ASC) SN
			--			,NAME_OF_LEAVE [LEAVE NAME]
			--			,TOTAL_ASSIGNED_DAYS [ASSIGNED]
			--			,TOTAL_TAKEN_DAYS [TAKEN]
			--			,NO_OF_DAYS_DEFAULT[DEFAULT]
			--			,MAX_ACCUMULATION [MAX ACCUMULATION]
			--			,INCASHABLE_DAYS [INCASHABLE]
			--			,LAPSED_DAYS [LAPSED] 
			--			FROM ('+@sql+')T'
--print @sql
Print @sql
 EXEC (@sql)
END
----- employeewise summary report

IF @flag='s'
BEGIN

		SET @sql='	SELECT dbo.GetEmployeeFullNameOfId(LAH.EMPLOYEE_ID) NAME  
			,SUM(ISNULL(LAH.NO_OF_DAYS_ACTUAL,0)+ ISNULL(LAH.LAST_YEAR_LEAVE,0)  + CASE WHEN ISNULL(LAH.HOUR_BALANCE,0) >0 THEN 0.5 ELSE 0 END) AS TOTAL_ASSIGNED_DAYS
			,SUM(ISNULL(LAH.LEAVE_TAKEN_THIS_YEAR,0)+  CASE WHEN ISNULL(LAH.HOUR_TAKEN,0) >0 THEN 0.5 ELSE 0 END) AS TOTAL_TAKEN_DAYS
			,SUM(ISNULL(LAH.NO_OF_DAYS_DEFAULT,0)) NO_OF_DAYS_DEFAULT
			,SUM(ISNULL(LAH.MAX_ACCUMULATION,0)) MAX_ACCUMULATION
			,SUM(CASE WHEN ISNULL(LAH.IS_CASHABLE,0)=1 THEN ISNULL(LAH.BALANCEDAYS,0) + CASE WHEN ISNULL(LAH.BALANCEHOURS,0)>0 THEN 0.5 ELSE 0 END ELSE 0 END) AS INCASHABLE_DAYS
			,SUM(CASE WHEN ISNULL(LAH.IS_CASHABLE,0)=0 THEN ISNULL(LAH.BALANCEDAYS,0) + CASE WHEN ISNULL(LAH.BALANCEHOURS,0)>0 THEN 0.5 ELSE 0 END ELSE 0 END) AS LAPSED_DAYS
			FROM leaveAssignmentHistory LAH '
			SET @sql=@sql + 'WHERE LAH.BS_YEAR='''+@bs_year+''''
			
			IF @branchid is not null
			SET @sql=@sql + ' AND LAH.YE_BRANCH_ID = '''+ @branchid	+''''
			 
			IF @dept is not null
			SET @sql=@sql + ' AND LAH.YE_DEPARTMENT_ID = '''+ @dept+''''
			 
			 
			IF @emp_id is not null
			SET @sql=@sql + ' AND LAH.EMPLOYEE_ID = '''+ @emp_id	+''''
			
			SET @sql=@sql + ' GROUP BY LAH.EMPLOYEE_ID'

			SET @sql='SELECT ROW_NUMBER() OVER (ORDER BY NAME ASC) SN
						,NAME
						,TOTAL_ASSIGNED_DAYS [ASSIGNED]
						,TOTAL_TAKEN_DAYS [TAKEN]
						,NO_OF_DAYS_DEFAULT[DEFAULT]
						,MAX_ACCUMULATION [MAX ACCUMULATION]
						,INCASHABLE_DAYS [INCASHABLE]
						,LAPSED_DAYS [LAPSED] 
						FROM ('+@sql+')T'
--PRINT @SQL
 EXEC (@sql)




END
GO
