USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procGetRoleMenu]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- exec procGetRoleMenu 276

CREATE procedure [dbo].[procGetRoleMenu]
@roleId int =null
as
begin	
	select distinct menu.sno,menu.function_name,menu.dis_order,menu.menu_group,menu.link_file,0 as granted into #menu from user_function as menu
	
	update #menu
		set granted = 1
		where sno in (select sno from user_function where sno in 
					 (select function_id from dbo.roles_detail where role_id  = @roleId))
			
	
	select * from #menu
	
end
GO
