USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procReceivePurchaseOrder]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[procReceivePurchaseOrder]  
 ( @msgID varchar(50)=null,  
   @sessionid varchar(200) = null,
   @userid	varchar(10) = null  
 )  
 as  
 begin    
 
   BEGIN TRANSACTION 
    
		INSERT INTO Purchase_Order_Received(Order_Message_Id,Product_Id,Qty,Rate,Amount,Received_By,Received_Date,foc_qty)  
		SELECT order_message_id,product_code,qty,rate,amount,@userid,GETDATE(),foc_qty FROM  
		Temp_Purchase where session_id = @sessionid and order_message_id = @msgID  and qty is not null

		UPDATE Purchase_Order SET Received_Qty = ISNULL(received_qty,0) + q.qty FROM Purchase_Order a,
		(
			SELECT qty,product_code,order_message_id FROM Temp_Purchase      
			WHERE session_id = @sessionid and order_message_id = @msgID and qty is not null
		)q WHERE a.product_code = q.product_code 
				and a.order_message_id = q.order_message_id  
	  
		DELETE FROM Temp_Purchase WHERE session_id = @sessionid
		DELETE FROM Temp_Purchase_Other WHERE session_id= @sessionid  
    
		if not exists(SELECT product_code,(qty - ISNULL(Received_Qty,0)) AS Qty
		FROM Purchase_Order 
		WHERE order_message_id=@msgID and (qty - ISNULL(Received_Qty,0))>0)
		BEGIN
				update Purchase_Order_Message set status='Received' where id=@msgID
		END  
						
  COMMIT TRANSACTION 
end
GO
