USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[ProcManageSalaryLedgerMapping]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ProcManageSalaryLedgerMapping]
	@flag AS VARCHAR(1),
	@Id AS INT=NULL,
	@branch_id AS INT=NULL,
	@head_id AS INT=NULL,
	@acc_name AS VARCHAR(500)=NULL,
	@acc_number AS VARCHAR(100)=NULL,
	@user AS VARCHAR(50)=NULL

AS
SET NOCOUNT ON;

DECLARE @type_ID AS INT, @branch_code AS VARCHAR(100)
IF @flag='i'
BEGIN	
	
	
	SELECT @type_ID=TYPE_ID FROM StaticDataDetail WHERE ROWID=@head_id
	SELECT @branch_code=BRANCH_SHORT_NAME FROM Branches WHERE BRANCH_ID=@branch_id
	
	INSERT INTO SalaryLeadgerMapping(Branch_ID,Branch_Code,Head_ID,Head_Type_ID,Ledger_Name,Ledger_Number,CreatedBy,CreatedDate)VALUES
				(@branch_id,@branch_code,@head_id,@type_ID,@acc_name,@acc_number,@user,GETDATE())

END

IF @flag='u'
BEGIN
	
	SELECT @type_ID=TYPE_ID FROM StaticDataDetail WHERE ROWID=@head_id
	SELECT @branch_code=BRANCH_SHORT_NAME FROM Branches WHERE BRANCH_ID=@branch_id
	
	UPDATE SalaryLeadgerMapping SET Branch_ID=@branch_id,branch_code=@branch_code,Head_ID=@head_id,Head_Type_ID=@type_ID,Ledger_Name=@acc_name
			,Ledger_Number=@acc_number,ModifiedBy=@user,ModifiedDate=GETDATE()
	WHERE ID=@Id
	
END

IF @flag='s'
BEGIN
	SELECT Branch_ID,Branch_Code,Head_ID,sdt.TYPE_TITLE AS Head_Type_ID,Ledger_Name,Ledger_Number 
	FROM SalaryLeadgerMapping slm INNER JOIN StaticDataType sdt ON slm.Head_Type_ID=sdt.ROWID 
	WHERE ID=@Id
END
GO
