USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procYearlyTax]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Exec [procYearlyTax] 'a','68-69','1','1'
-- select * from adhocpayment where employee_id=1093
-- select * from taxcalculation where emp_id=1093
CREATE PROC [dbo].[procYearlyTax]
	@flag VARCHAR(10)=NULL,
	@year VARCHAR(100)=NULL,
	@month VARCHAR(20)=NULL,
	@brach VARCHAR(20)=NULL,
	@dept VARCHAR(30) = NULL	
	
AS
SET NOCOUNT ON;
IF @flag = 'a'
BEGIN

		Declare  @monthstartdate4 varchar(10), @monthenddate4 varchar(10)
					,@monthstartdate5 varchar(10), @monthenddate5 varchar(10)
					,@monthstartdate6 varchar(10), @monthenddate6 varchar(10)
					,@monthstartdate7 varchar(10), @monthenddate7 varchar(10)
					,@monthstartdate8 varchar(10), @monthenddate8 varchar(10)
					,@monthstartdate9 varchar(10), @monthenddate9 varchar(10)
					,@monthstartdate10 varchar(10), @monthenddate10 varchar(10)
					,@monthstartdate11 varchar(10), @monthenddate11 varchar(10)
					,@monthstartdate12 varchar(10), @monthenddate12 varchar(10)
					,@monthstartdate1 varchar(10), @monthenddate1 varchar(10)
					,@monthstartdate2 varchar(10), @monthenddate2 varchar(10)
					,@monthstartdate3 varchar(10), @monthenddate3 varchar(10)
			
			select   @monthstartdate4= dbo.GetMonthStartDateEng(@year,4),@monthenddate4= dbo.GetMonthEndDateEng(@year,4)
					,@monthstartdate5= dbo.GetMonthStartDateEng(@year,5),@monthenddate5= dbo.GetMonthEndDateEng(@year,5)
					,@monthstartdate6= dbo.GetMonthStartDateEng(@year,6),@monthenddate6= dbo.GetMonthEndDateEng(@year,6)
					,@monthstartdate7= dbo.GetMonthStartDateEng(@year,7),@monthenddate7= dbo.GetMonthEndDateEng(@year,7)
					,@monthstartdate8= dbo.GetMonthStartDateEng(@year,8),@monthenddate8= dbo.GetMonthEndDateEng(@year,8)
					,@monthstartdate9= dbo.GetMonthStartDateEng(@year,9),@monthenddate9= dbo.GetMonthEndDateEng(@year,9)
					,@monthstartdate10= dbo.GetMonthStartDateEng(@year,10),@monthenddate10= dbo.GetMonthEndDateEng(@year,10)
					,@monthstartdate11= dbo.GetMonthStartDateEng(@year,11),@monthenddate11= dbo.GetMonthEndDateEng(@year,11)
					,@monthstartdate12= dbo.GetMonthStartDateEng(@year,12),@monthenddate12= dbo.GetMonthEndDateEng(@year,12)
					,@monthstartdate1= dbo.GetMonthStartDateEng(@year,1),@monthenddate1= dbo.GetMonthEndDateEng(@year,1)
					,@monthstartdate2= dbo.GetMonthStartDateEng(@year,2),@monthenddate2= dbo.GetMonthEndDateEng(@year,2)
					,@monthstartdate3= dbo.GetMonthStartDateEng(@year,3),@monthenddate3= dbo.GetMonthEndDateEng(@year,3)

	SELECT ROW_NUMBER() over(order by mas.POSITION_ID) as [S.N.],mas.[Employee Name]
		,Isnull(shawan.Tax_This_Month,'0.00') AS [Shawan]
		,Isnull(bhadra.Tax_This_Month,'0.00') [Bhadra]
		,Isnull(ashoj.Tax_This_Month,'0.00') [Ashoj]
		,Isnull(kartik.Tax_This_Month,'0.00') AS [Kartik]
		,Isnull(mangsir.Tax_This_Month,'0.00') AS [Mangshir]
		,Isnull(poush.Tax_This_Month,'0.00') AS [Poush]
		,Isnull(magh.Tax_This_Month,'0.00') AS [Magh]
		,Isnull(falgun.Tax_This_Month,'0.00') AS [Falgun]
		,Isnull(chaitra.Tax_This_Month,'0.00') AS [Chaitra]
		,Isnull(baishak.Tax_This_Month,'0.00') AS [Baishak]
		,Isnull(jestha.Tax_This_Month,'0.00') AS [Jestha]
		,Isnull(ashad.Tax_This_Month,'0.00') AS [Ashad]
		,(Isnull(shawan.Tax_This_Month,'0.00')+Isnull(bhadra.Tax_This_Month,'0.00')+Isnull(ashoj.Tax_This_Month,'0.00')+Isnull(kartik.Tax_This_Month,'0.00')
		+Isnull(mangsir.Tax_This_Month,'0.00')+Isnull(poush.Tax_This_Month,'0.00')+Isnull(magh.Tax_This_Month,'0.00')+Isnull(falgun.Tax_This_Month,'0.00')
		+Isnull(chaitra.Tax_This_Month,'0.00')+Isnull(baishak.Tax_This_Month,'0.00')+Isnull(jestha.Tax_This_Month,'0.00')+Isnull(ashad.Tax_This_Month,'0.00')) as [Total Tax]
		FROM 
		(
			SELECT EMPLOYEE_ID,EMP_CODE,FIRST_NAME+' '+MIDDLE_NAME+' '+LAST_NAME AS [Employee Name],e.POSITION_ID FROM Employee E
			Inner Join StaticDataDetail s on e.POSITION_ID=s.ROWID
			WHERE EMPLOYEE_ID IN 
			(
			SELECT DISTINCT emp_id FROM TaxCalculation WHERE FY_ID=@year 
				  AND BRANCH_ID like  CASE WHEN NULLIF(@brach, 0) IS NOT NULL THEN  ISNULL(@brach,'%') ELSE BRANCH_ID END
				 AND Dept_Id like  CASE WHEN NULLIF(@dept, 0) IS NOT NULL THEN  ISNULL(@dept,'%') ELSE Dept_Id END
			)
		)mas 
		LEFT JOIN
		(
			Select Emp_Id, sum(Tax_This_Month) Tax_This_Month from 
			(
				select Emp_Id,Tax_This_Month from TaxCalculation where Run_Month=4 And FY_ID=@year
				Union ALL 
				Select EMPLOYEE_ID Emp_Id, TAX_DEDUCTED Tax_This_Month from AdhocPayment where APPLIED_DATE between @monthstartdate4 and @monthenddate4
			)x group by Emp_Id
			
		)shawan ON shawan.EMP_ID=mas.EMPLOYEE_ID
		LEFT JOIN 
		(
			Select Emp_Id, sum(Tax_This_Month) Tax_This_Month from 
			(
				select Emp_Id,Tax_This_Month from TaxCalculation where Run_Month=5 And FY_ID=@year
				Union ALL 
				Select EMPLOYEE_ID Emp_Id, TAX_DEDUCTED Tax_This_Month from AdhocPayment where APPLIED_DATE between @monthstartdate5 and @monthenddate5
			)x group by Emp_Id
			
		)bhadra ON mas.EMPLOYEE_ID=bhadra.EMP_ID
		LEFT JOIN 
		(
			Select Emp_Id, sum(Tax_This_Month) Tax_This_Month from 
			(
				select Emp_Id,Tax_This_Month from TaxCalculation where Run_Month=6 And FY_ID=@year
				Union ALL 
				Select EMPLOYEE_ID Emp_Id, TAX_DEDUCTED Tax_This_Month from AdhocPayment where APPLIED_DATE between @monthstartdate6 and @monthenddate6
			)x group by Emp_Id
			
		)ashoj ON mas.EMPLOYEE_ID=ashoj.EMP_ID
		LEFT JOIN 
		(
			Select Emp_Id, sum(Tax_This_Month) Tax_This_Month from 
			(
				select Emp_Id,Tax_This_Month from TaxCalculation where Run_Month=7 And FY_ID=@year
				Union ALL 
				Select EMPLOYEE_ID Emp_Id, TAX_DEDUCTED Tax_This_Month from AdhocPayment where APPLIED_DATE between @monthstartdate7 and @monthenddate7
			)x group by Emp_Id
			
		)kartik ON kartik.EMP_ID=mas.EMPLOYEE_ID
		LEFT JOIN 
		(
			Select Emp_Id, sum(Tax_This_Month) Tax_This_Month from 
			(
				select Emp_Id,Tax_This_Month from TaxCalculation where Run_Month=8 And FY_ID=@year
				Union ALL 
				Select EMPLOYEE_ID Emp_Id, TAX_DEDUCTED Tax_This_Month from AdhocPayment where APPLIED_DATE between @monthstartdate8 and @monthenddate8
			)x group by Emp_Id
			
		)mangsir ON mangsir.EMP_ID=mas.EMPLOYEE_ID
		LEFT JOIN 
		(
			Select Emp_Id, sum(Tax_This_Month) Tax_This_Month from 
			(
				select Emp_Id,Tax_This_Month from TaxCalculation where Run_Month=9 And FY_ID=@year
				Union ALL 
				Select EMPLOYEE_ID Emp_Id, TAX_DEDUCTED Tax_This_Month from AdhocPayment where APPLIED_DATE between @monthstartdate9 and @monthenddate9
			)x group by Emp_Id
			
		)poush ON mas.EMPLOYEE_ID=poush.EMP_ID
		LEFT JOIN 
		(
			Select Emp_Id, sum(Tax_This_Month) Tax_This_Month from 
			(
				select Emp_Id,Tax_This_Month from TaxCalculation where Run_Month=10 And FY_ID=@year
				Union ALL 
				Select EMPLOYEE_ID Emp_Id, TAX_DEDUCTED Tax_This_Month from AdhocPayment where APPLIED_DATE between @monthstartdate10 and @monthenddate10
			)x group by Emp_Id
			
		)magh ON magh.EMP_ID=mas.EMPLOYEE_ID
		LEFT JOIN 
		(
			Select Emp_Id, sum(Tax_This_Month) Tax_This_Month from 
			(
				select Emp_Id,Tax_This_Month from TaxCalculation where Run_Month=11 And FY_ID=@year
				Union ALL 
				Select EMPLOYEE_ID Emp_Id, TAX_DEDUCTED Tax_This_Month from AdhocPayment where APPLIED_DATE between @monthstartdate11 and @monthenddate11
			)x group by Emp_Id
			
		)falgun ON mas.EMPLOYEE_ID=falgun.EMP_ID
		LEFT JOIN 
		(
			Select Emp_Id, sum(Tax_This_Month) Tax_This_Month from 
			(
				select Emp_Id,Tax_This_Month from TaxCalculation where Run_Month=12 And FY_ID=@year
				Union ALL 
				Select EMPLOYEE_ID Emp_Id, TAX_DEDUCTED Tax_This_Month from AdhocPayment where APPLIED_DATE between @monthstartdate12 and @monthenddate12
			)x group by Emp_Id
			
		)chaitra ON chaitra.EMP_ID=mas.EMPLOYEE_ID
		LEFT JOIN 
		(
			Select Emp_Id, sum(Tax_This_Month) Tax_This_Month from 
			(
				select Emp_Id,Tax_This_Month from TaxCalculation where Run_Month=1 And FY_ID=@year
				Union ALL 
				Select EMPLOYEE_ID Emp_Id, TAX_DEDUCTED Tax_This_Month from AdhocPayment where APPLIED_DATE between @monthstartdate1 and @monthenddate1
			)x group by Emp_Id
		
		)baishak ON mas.EMPLOYEE_ID=baishak.EMP_ID
		LEFT JOIN 
		(
			Select Emp_Id, sum(Tax_This_Month) Tax_This_Month from 
			(
				select Emp_Id,Tax_This_Month from TaxCalculation where Run_Month=2 And FY_ID=@year
				Union ALL 
				Select EMPLOYEE_ID Emp_Id, TAX_DEDUCTED Tax_This_Month from AdhocPayment where APPLIED_DATE between @monthstartdate2 and @monthenddate2
			)x group by Emp_Id
			
		)jestha ON jestha.EMP_ID=mas.EMPLOYEE_ID
		LEFT JOIN 
		(
			Select Emp_Id, sum(Tax_This_Month) Tax_This_Month from 
			(
				select Emp_Id,Tax_This_Month from TaxCalculation where Run_Month=3 And FY_ID=@year
				Union ALL 
				Select EMPLOYEE_ID Emp_Id, TAX_DEDUCTED Tax_This_Month from AdhocPayment where APPLIED_DATE between @monthstartdate3 and @monthenddate3
			)x group by Emp_Id
			
		)ashad ON mas.EMPLOYEE_ID=ashad.EMP_ID
		where 
		(Isnull(shawan.Tax_This_Month,'0.00')+Isnull(bhadra.Tax_This_Month,'0.00')+Isnull(ashoj.Tax_This_Month,'0.00')+Isnull(kartik.Tax_This_Month,'0.00')
		+Isnull(mangsir.Tax_This_Month,'0.00')+Isnull(poush.Tax_This_Month,'0.00')+Isnull(magh.Tax_This_Month,'0.00')+Isnull(falgun.Tax_This_Month,'0.00')
		+Isnull(chaitra.Tax_This_Month,'0.00')+Isnull(baishak.Tax_This_Month,'0.00')+Isnull(jestha.Tax_This_Month,'0.00')+Isnull(ashad.Tax_This_Month,'0.00'))<>0

END
GO
