USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[ManageCMSPageList]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- exec ManageCMSPageList '1'
-- select * from cms_document
--  select * from CMS_functions
create proc [dbo].[ManageCMSPageList]
	(
		@func_id varchar(50)			
	)
as
set nocount on;

BEGIN
	--select func_type,* from CMS_functions where id=9

	declare @func_type varchar(20),@func_detail varchar(MAX)
	select @func_type=func_type from CMS_functions where id=@func_id
	
	
	if @func_type='Query' 
	BEGIN
	
		select  func_type,func_head  from CMS_functions where id=@func_id
		select @func_detail=func_detail  from CMS_functions where id=@func_id
		
		exec(@func_detail)
		--print @func_detail
		return;	
	END
	
	if @func_type<>'Query'
	BEGIN 
		select func_type,func_head,func_detail  from CMS_functions where id=@func_id
		
		select rowid,funct_id,ROW_NUMBER() OVER(order by rowid asc) AS SN,doc_desc,convert(varchar,file_date,107) as file_date,
		doc_ext,convert(varchar,created_date,107) as created_date from CMS_document where funct_id=@func_id order by rowid desc
	END	
	
END
GO
