USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procLeaveHistoryReport]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
EXEC procLeaveHistoryReport @FLAG='L',@YEAR='2070'

*/
CREATE PROC [dbo].[procLeaveHistoryReport]
	@FLAG CHAR(10),
	@YEAR VARCHAR(10)=NULL,
	@EMP_ID VARCHAR(300)=NULL
	
AS

SET NOCOUNT ON ;
SET XACT_ABORT ON
DECLARE @defaultYr varchar(20)
SELECT @defaultYr=DefaultYr FROM Fiscal_Month WHERE nplYear = @year

	DECLARE 
		 @YearStartDate		VARCHAR(10)
		,@YearEndDate		VARCHAR(10)

	SELECT 
		 @YearStartDate=engDateBaisakh
		,@YearEndDate= DATEADD(DD,baisakh+jestha+ashadh+shrawan+bhadra+ashwin+kartik+mangshir+poush+magh+falgun+chaitra-1,engDateBaisakh)
	FROM Fiscal_Month
	WHERE nplYear =@year

IF @defaultYr='Y'
BEGIN
	IF @FLAG ='L'
	BEGIN	
		SELECT 
			ROW_NUMBER()OVER(ORDER BY E.EMP_CODE) AS [S.N.]
			,E.EMP_CODE [Emp Code]
			,E.FIRST_NAME+' '+E.MIDDLE_NAME+' '+LAST_NAME AS [Employee Name]
			,LT.NAME_OF_LEAVE AS [Leave Name]
			,ISNULL(LA.NO_OF_DAYS_ACTUAL,0) AS [Assigned Leave]
			,ISNULL(LA.LAST_YEAR_LEAVE,0) AS [Last Year Leave]
			,ISNULL(LA.NO_OF_DAYS_ACTUAL,0)+ISNULL(LA.LAST_YEAR_LEAVE,0) AS [Total Assigned Days]
			,ISNULL(LA.LEAVE_TAKEN_THIS_YEAR,0) AS [Taken Leave]
			,ISNULL(LA.NO_OF_DAYS_ACTUAL,0)+ISNULL(LA.LAST_YEAR_LEAVE,0)-ISNULL(LA.LEAVE_TAKEN_THIS_YEAR,0) AS [Remaining Days]
		FROM leaveAssignment LA INNER JOIN Employee E ON E.EMPLOYEE_ID=LA.EMPLOYEE_ID INNER JOIN LeaveTypes LT ON LT.ID=LA.LEAVE_TYPE_ID
		WHERE la.IS_DISABLED='1'
		AND LA.EMPLOYEE_ID LIKE ISNULL(@EMP_ID,'%') 
		ORDER BY E.EMP_CODE	
	END


	IF @FLAG='LD'
	BEGIN
				SELECT ROW_NUMBER() OVER(ORDER BY A.ID) [S.N.] ,A.[EMPLOYEE NAME] [Employee Name],A.[LEAVE NAME] [Leave Name],
				CONVERT(VARCHAR,A.APPROVED_FROM,107) [From Date],CONVERT(VARCHAR,A.APPROVED_TO,107) [To Date],A.APPROVED_DAYS [Approved Days],
				RECOMMENDED_BY [Recommended By],A.APPROVED_BY [Approved By],LEAVE_STATUS [Status] FROM 
				(
					SELECT A.ID,REQUESTED_BY,dbo.GetEmployeeFullNameOfId(REQUESTED_BY) [EMPLOYEE NAME],B.NAME_OF_LEAVE [LEAVE NAME],
					A.APPROVED_FROM,A.APPROVED_TO,APPROVED_DAYS,dbo.GetEmployeeFullNameOfId(REQUESTED_WITH) RECOMMENDED_BY,LEAVE_STATUS,
					dbo.GetEmployeeFullNameOfId(APPROVED_BY) APPROVED_BY
					from LeaveRequest A 
					INNER JOIN LeaveTypes B ON A.LEAVE_TYPE_ID=B.ID
				)A
				WHERE A.REQUESTED_BY LIKE ISNULL(@EMP_ID,'%') 
				AND A.LEAVE_STATUS='Approved'
				AND A.APPROVED_FROM between @YearStartDate and @YearEndDate
				AND A.APPROVED_TO between @YearStartDate and @YearEndDate
				ORDER BY A.ID DESC
				
	END
END
ELSE
BEGIN
	IF @FLAG ='L'
	BEGIN	
		SELECT 
			ROW_NUMBER()OVER(ORDER BY E.EMP_CODE) AS [S.N.]
			,E.EMP_CODE [Emp Code]
			,E.FIRST_NAME+' '+E.MIDDLE_NAME+' '+LAST_NAME AS [Employee Name]
			,LT.NAME_OF_LEAVE AS [Leave Name]
			,ISNULL(LA.NO_OF_DAYS_ACTUAL,0) AS [Assigned Leave]
			,ISNULL(LA.LAST_YEAR_LEAVE,0) AS [Last Year Leave]
			,ISNULL(LA.NO_OF_DAYS_ACTUAL,0)+ISNULL(LA.LAST_YEAR_LEAVE,0) AS [Total Assigned Days]
			,ISNULL(LA.LEAVE_TAKEN_THIS_YEAR,0) AS [Taken Leave]
			,ISNULL(LA.NO_OF_DAYS_ACTUAL,0)+ISNULL(LA.LAST_YEAR_LEAVE,0)-ISNULL(LA.LEAVE_TAKEN_THIS_YEAR,0) AS [Remaining Days]
		FROM leaveAssignment LA 
		INNER JOIN Employee E ON E.EMPLOYEE_ID=LA.EMPLOYEE_ID 
		INNER JOIN LeaveTypes LT ON LT.ID=LA.LEAVE_TYPE_ID
		WHERE 1=1 AND LA.EMPLOYEE_ID LIKE ISNULL(@EMP_ID,'%') 
		AND LA.FromDate between @YearStartDate and @YearEndDate
		AND LA.ToDate between @YearStartDate and @YearEndDate
		ORDER BY E.EMP_CODE	
	END


	IF @FLAG='LD'
	BEGIN
			SELECT ROW_NUMBER() OVER(ORDER BY A.ID) [S.N.] ,A.[EMPLOYEE NAME] [Employee Name],A.[LEAVE NAME] [Leave Name],
				CONVERT(VARCHAR,A.APPROVED_FROM,107) [From Date],CONVERT(VARCHAR,A.APPROVED_TO,107) [To Date],A.APPROVED_DAYS [Approved Days],
				RECOMMENDED_BY [Recommended By],A.APPROVED_BY [Approved By],LEAVE_STATUS [Status] FROM 
			(
				SELECT A.ID,REQUESTED_BY,dbo.GetEmployeeFullNameOfId(REQUESTED_BY) [EMPLOYEE NAME],B.NAME_OF_LEAVE [LEAVE NAME],
				A.APPROVED_FROM,A.APPROVED_TO,APPROVED_DAYS,dbo.GetEmployeeFullNameOfId(REQUESTED_WITH) RECOMMENDED_BY,LEAVE_STATUS,
				dbo.GetEmployeeFullNameOfId(APPROVED_BY) APPROVED_BY
				from LeaveRequest A INNER JOIN LeaveTypes B ON A.LEAVE_TYPE_ID=B.ID	
				WHERE A.APPROVED_FROM between @YearStartDate and @YearEndDate
				AND A.APPROVED_TO between @YearStartDate and @YearEndDate
			)A
			WHERE A.REQUESTED_BY LIKE ISNULL(@EMP_ID,'%') AND A.LEAVE_STATUS='Approved'
			ORDER BY A.ID DESC
				
	END
END
GO
