USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_LFARpt]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_LFARpt]
(
	 @flag CHAR(3),
	 @fromDate VARCHAR(50) = NULL,
	 @toDate VARCHAR(50)= NULL,
	 @branchId VARCHAR(50) = NULL
)
AS
SET NOCOUNT ON 
DECLARE @sql VARCHAR(MAX)
BEGIN
IF @flag='s'
	BEGIN
		SET @sql='
SELECT
	 [S.N.] = ROW_NUMBER() OVER (ORDER BY lr.id ASC) 
	,Name = ISNULL(e.FIRST_NAME,'''')+ISNULL('' ''+e.MIDDLE_NAME,'''')+ISNULL('' ''+e.LAST_NAME,'''')
	,Branch = b.BRANCH_NAME
	,[From Date]=CONVERT(VARCHAR,lr.FROM_DATE,101) 
	,[To Date]=CONVERT(VARCHAR,lr.TO_DATE,101) 
	FROM LeaveRequest lr 
	INNER JOIN 
	Branches b ON lr.BRANCH_ID=b.BRANCH_ID
	INNER JOIN 
	Employee e	ON e.EMPLOYEE_ID=lr.REQUESTED_BY WHERE lr.IS_LFA=1 
	AND lr.APPROVED_FROM BETWEEN ''' + @fromDate + ''' AND ''' + @toDate+''''
	
	IF @branchId IS NOT NULL
	SET @sql=@sql+' 
	 AND lr.BRANCH_ID='''+@branchId+''''
	 EXEC (@sql)
	END 
END
GO
