USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_DisciplinaryComment]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[proc_DisciplinaryComment]
	@flag VARCHAR(2)
	,@commentId INT = NULL
	,@empId INT = NULL
	,@commentType VARCHAR(100) = NULL
	,@category INT = NULL
	,@remarks VARCHAR(MAX) = NULL
	,@startDate DATE = NULL
	,@endDate DATE = NULL
	,@sessionId VARCHAR(100) = NULL
	,@branchId INT = NULL
	,@departmentId INT = NULL
	
	
AS 
SET NOCOUNT ON;

/*
Exec proc_DisciplinaryComment @flag='a',@empId='1000',@commentType='Appreciation',@category='660'
,@remarks='best',@startDate='6/1/2011',@endDate=null,@sessionId='bs5no4bdzqcjnm55rspq1s45'
*/
IF @flag='a'
BEGIN 
	INSERT INTO disciplinaryComments(empId
									,commentType 
									,category
									,remarks
									,startDate
									,endDate
									,sessionId
									)
							SELECT @empId
								   ,@commentType
								   ,@category
								   ,@remarks
								   ,@startDate
								   ,@endDate
								   ,@sessionId	
								   
	SELECT 'RECORD ENTERED SUCCESSFULLY' AS MSG								   
END

IF @flag='fs'
BEGIN
	UPDATE disciplinaryComments 
		SET empId = @empId
			,branch_Id = @branchId
			,department_Id = @departmentId 
			,sessionId=''
	WHERE sessionId = @sessionId
	
	
END

IF @flag='s'
BEGIN
	SELECT commentId [ID]
		  ,commentType [Type]
		  ,sdd.DETAIL_TITLE [Category]
		  ,remarks [Remarks]
		  ,convert(varchar,startDate,101) [Start Date]
		  ,convert(varchar,endDate,101) [End Date]
		  ,'<img onclick = "DeleteNotification(' + CAST(commentId AS VARCHAR(50)) + ')" class = "showHand" border = "0" title = "Delete Notification" src="../../Images/delete.gif" />' [Delete] 		  
	FROM disciplinaryComments dc
	INNER JOIN StaticDataDetail sdd on sdd.ROWID = dc.category
	WHERE sessionId = @sessionId or empId = @empId
END

IF @flag='d'
BEGIN
	delete from disciplinaryComments where commentId = @commentId and sessionId=@sessionId
END

IF @flag='u'
BEGIN
	UPDATE disciplinaryComments 
	SET	endDate = @endDate 
	WHERE commentId = @commentId
END

/*
truncate table disciplinaryComments
select * from disciplinaryComments
*/
GO
