USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procInternalTransferPlanSummary]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
exec procInternalTransferPlanSummary '2001-11-03', '2020-01-08'
*/

CREATE proc [dbo].[procInternalTransferPlanSummary]
(
	@fromDate date,
	@ToDate date
)
As
set nocount on;
	begin
		select 
			count(*) as 'Total Transfer', dbo.GetDeptOfId(from_department) as 'From Department',
			dbo.GetDeptOfId(WHICH_DEPARTMENT) as 'To Department' from InternalTransferPlan
			where FROM_WHEN >= @fromDate and 
			TILL_WHEN <= @ToDate group
			by from_department, WHICH_DEPARTMENT
	end
GO
