USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[ProcMonthlyPayrollReport_Dyanamic]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*

 exec [ProcMonthlyPayrollReport_Dyanamic] 'a','69-70','4',1,NULL,null
 exec [ProcMonthlyPayrollReport] 'a',null,null,null,'67-68','8'
  
 */
 
CREATE PROC [dbo].[ProcMonthlyPayrollReport_Dyanamic]
	@flag VARCHAR(10)=NULL,
	@year VARCHAR(100)=NULL,
	@month VARCHAR(20)=NULL,
	@branch VARCHAR(5)=NULL,
	@dept VARCHAR(5)=NULL,
	@emp VARCHAR(5)=NULL
AS

SET NOCOUNT ON;

IF @flag = 'a'
BEGIN
	DECLARE @monthStartDate AS VARCHAR(20),@monthEndDate AS VARCHAR(20), @yearstartdate AS VARCHAR(20)
	SET @monthStartDate=dbo.GetMonthStartDateEng(@year,@month) 
	SET @monthEndDate=dbo.GetMonthEndDateEng(@year,@month)

	SELECT 
		@yearStartDate = EN_YEAR_START_DATE 
	FROM FiscalYear 
	WHERE FISCAL_YEAR_NEPALI=@Year


DECLARE
	 @sql							VARCHAR(MAX)
	,@heading						VARCHAR(MAX)
	,@heading_select				VARCHAR(MAX)


SELECT EMPLOYEE_ID, AMOUNT, headings, SN
INTO #TEMPCONTRIBUTION FROM ( 


	SELECT 
				EMPLOYEE_ID
				,ROUND(SUM(AMOUNT),2) AMOUNT
				,'EMPLOYER-' + DETAIL_TITLE [headings], 1  SN
				
				FROM (
				SELECT
					 c.EMPLOYEE_ID
					,ISNULL(ch.AMOUNT_EMPLOYER, 0) [AMOUNT]
					,sdd.DETAIL_TITLE 	
				FROM ContributionHistory ch
				INNER JOIN Contribution c ON ch.CONTRIBUTION_ID = c.ID
				INNER JOIN StaticDataDetail sdd ON sdd.ROWID = c.CONTRIBUTED_TO
					WHERE ch.RUN_MONTH = @month AND ch.FY_ID = @year
					AND ISNULL(ch.AMOUNT_EMPLOYER, 0)>0
					
				UNION ALL
					
				SELECT
					 ch.EMPLOYEE_ID
					,ISNULL(ch.CONTB_AMOUNT_EMPLOYER, 0) [AMOUNT]
					,sdd.DETAIL_TITLE [headings]	
				FROM ADHOC_CONTRIBUTION ch
				INNER JOIN StaticDataDetail sdd ON sdd.ROWID = ch.CONTB_TO
				WHERE 1=1
				AND ISNULL(CH.IS_PAID,0)=0
				and ch.CONTB_DATE between @monthStartDate and @monthEndDate
				AND ISNULL(ch.CONTB_AMOUNT_EMPLOYER, 0)>0
				) YX GROUP BY EMPLOYEE_ID,DETAIL_TITLE
				
				UNION ALL
				
				SELECT 
				EMPLOYEE_ID
				,ROUND(SUM(AMOUNT),2) AMOUNT
				,'EMPLOYEE-'+ DETAIL_TITLE [headings], 2 SN
				FROM (
				SELECT
					 c.EMPLOYEE_ID
					,ISNULL(ch.AMOUNT_EMPLOYEE, 0) [AMOUNT]
					,sdd.DETAIL_TITLE 	
				FROM ContributionHistory ch
				INNER JOIN Contribution c ON ch.CONTRIBUTION_ID = c.ID
				INNER JOIN StaticDataDetail sdd ON sdd.ROWID = c.CONTRIBUTED_TO
					WHERE  ch.RUN_MONTH = @month AND ch.FY_ID = @year
					AND ISNULL(ch.AMOUNT_EMPLOYEE, 0)>0
									
				UNION ALL
					
					SELECT
					 ch.EMPLOYEE_ID
					,ISNULL(ch.CONTB_AMOUNT_EMPLOYEE, 0) [AMOUNT]
					,sdd.DETAIL_TITLE [headings]	
				FROM ADHOC_CONTRIBUTION ch
				INNER JOIN StaticDataDetail sdd ON sdd.ROWID = ch.CONTB_TO
				WHERE 1=1
				AND ISNULL(CH.IS_PAID,0)=0
				and ch.CONTB_DATE between @monthStartDate and @monthEndDate
				AND ISNULL(ch.CONTB_AMOUNT_EMPLOYEE, 0)>0
				) YX GROUP BY EMPLOYEE_ID,DETAIL_TITLE
					

				---Total EPF
		UNION ALL
		SELECT 
				EMPLOYEE_ID
				,ROUND(SUM(AMOUNT),2) AMOUNT
				,'TOTAL-'+ DETAIL_TITLE as[headings], 3 SN
				FROM (
		
		SELECT
					 c.EMPLOYEE_ID
					,ISNULL(ch.AMOUNT_EMPLOYER, 0)  as AMOUNT 
					,sdd.DETAIL_TITLE 	
				FROM ContributionHistory ch
				INNER JOIN Contribution c ON ch.CONTRIBUTION_ID = c.ID
				INNER JOIN StaticDataDetail sdd ON sdd.ROWID = c.CONTRIBUTED_TO
					WHERE ch.RUN_MONTH = @month AND ch.FY_ID = @year
					AND ISNULL(ch.AMOUNT_EMPLOYER, 0)>0
					
					UNION ALL
					
					SELECT
					 ch.EMPLOYEE_ID
					,ISNULL(ch.CONTB_AMOUNT_EMPLOYER, 0) [AMOUNT]
					,sdd.DETAIL_TITLE [headings]	
				FROM ADHOC_CONTRIBUTION ch
				INNER JOIN StaticDataDetail sdd ON sdd.ROWID = ch.CONTB_TO
				WHERE 1=1
			    AND ISNULL(CH.IS_PAID,0)=0
				and ch.CONTB_DATE between @monthStartDate and @monthEndDate
				AND ISNULL(ch.CONTB_AMOUNT_EMPLOYER, 0)>0
				
				UNION ALL
				
				SELECT
					 c.EMPLOYEE_ID
					,ISNULL(ch.AMOUNT_EMPLOYEE, 0) [AMOUNT]
					,sdd.DETAIL_TITLE 	
				FROM ContributionHistory ch
				INNER JOIN Contribution c ON ch.CONTRIBUTION_ID = c.ID
				INNER JOIN StaticDataDetail sdd ON sdd.ROWID = c.CONTRIBUTED_TO
				WHERE  ch.RUN_MONTH = @month AND ch.FY_ID = @year
				AND ISNULL(ch.AMOUNT_EMPLOYEE, 0)>0
					
					
				UNION ALL
					
					SELECT
					 ch.EMPLOYEE_ID
					,ISNULL(ch.CONTB_AMOUNT_EMPLOYEE, 0) [AMOUNT]
					,sdd.DETAIL_TITLE [headings]	
				FROM ADHOC_CONTRIBUTION ch
				INNER JOIN StaticDataDetail sdd ON sdd.ROWID = ch.CONTB_TO
				WHERE 1=1
				AND ISNULL(CH.IS_PAID,0)=0
				and ch.CONTB_DATE between @monthStartDate and @monthEndDate
				AND ISNULL(ch.CONTB_AMOUNT_EMPLOYEE, 0)>0
				) YX GROUP BY EMPLOYEE_ID,DETAIL_TITLE

) Z


SELECT
	 @heading = ISNULL(@heading + ', ', '') + '[' + [headings] + ']'
	,@heading_select = ISNULL(@heading_select + ', ', '') + 'ISNULL([' + [headings] + '], 0) ' + '[' + [headings] + ']'
	
FROM (

	SELECT DISTINCT DETAIL_TITLE [headings] , TYPE_ID FROM (
		SELECT 	TYPE_ID,	
		sdd.DETAIL_TITLE 		
		FROM PayableHistory ph
		INNER JOIN StaticDataDetail sdd ON ph.BENEFIT_ID = sdd.ROWID
		INNER JOIN Employee emp ON emp.EMPLOYEE_ID = ph.EMPLOYEE_ID
		WHERE RUN_MONTH =@month AND FY_ID=@year
		AND TYPE_ID in (36,37,38)
		
		UNION ALL
		
		SELECT TYPE_ID,S.DETAIL_TITLE FROM Adhocpayment A JOIN StaticDataDetail S ON A.HEAD_ID=S.ROWID 
		WHERE S.TYPE_ID in (36,37,38)
		AND APPLIED_DATE BETWEEN @monthStartDate AND @monthEndDate

		--UNION ALL
		
		--SELECT TYPE_ID,S.DETAIL_TITLE FROM Adhocpayment A JOIN StaticDataDetail S ON A.HEAD_ID=S.ROWID 
		--WHERE S.TYPE_ID in (36,37,38)
		--AND APPLIED_DATE BETWEEN @monthStartDate AND @monthEndDate

		)Z
			
	) regular_payable_headings  ORDER BY TYPE_ID
	
SELECT
	 @heading = ISNULL(@heading + ', ', '') + '[' + [headings] + ']'
	,@heading_select = ISNULL(@heading_select + ', ', '') + 'ISNULL([' + [headings] + '], 0) ' + '[' + [headings] + ']'
FROM (

		SELECT DISTINCT headings AS [headings]	 FROM #TEMPCONTRIBUTION where headings like 'Employer-%'
			
		UNION ALL
		
		---- Adhoc Benefits current
		SELECT
			DISTINCT
			sdd.DETAIL_TITLE [headings]	
		FROM AdhocPayment ap
		INNER JOIN StaticDataDetail sdd ON sdd.ROWID = ap.HEAD_ID
		WHERE ADD_DEDUCT = 'A' AND TYPE_ID ='41'
		AND ap.APPLIED_DATE BETWEEN @monthStartDate AND @monthEndDate
		
		UNION ALL
	
		SELECT 'Gross Salary' AS [headings]	
		UNION ALL
		
		SELECT DISTINCT headings FROM #TEMPCONTRIBUTION where headings like 'Total-%'
			
		UNION ALL	
			
		SELECT 'TAX Amount' AS [headings]	
		
	) contribution_headings

	
SELECT
	@heading = ISNULL(@heading + ', ', '') + '[' + [headings] + ']'
	,@heading_select = ISNULL(@heading_select + ', ', '') + 'ISNULL([' + [headings] + '], 0) ' + '[' + [headings] + ']'
FROM (
		SELECT
			DISTINCT
			sdd.DETAIL_TITLE+'-Deduct' [headings]	
		FROM AdhocPayment ap
		INNER JOIN StaticDataDetail sdd ON sdd.ROWID = ap.HEAD_ID
			WHERE ADD_DEDUCT = 'D' 
			AND TYPE_ID in (40,41)
			AND ISNULL(IS_PAID,0)=0
			AND ap.APPLIED_DATE BETWEEN @monthStartDate AND @monthEndDate
	) adhoac_deduction_headings

SELECT
	 @heading = ISNULL(@heading + ', ', '') + '[' + [headings] + ']'
	,@heading_select = ISNULL(@heading_select + ', ', '') + 'ISNULL([' + [headings] + '], 0) ' + '[' + [headings] + ']'
FROM (
		SELECT
			DISTINCT
			sdd.DETAIL_TITLE [headings]	
		FROM loan_collection lc
		INNER JOIN Loan l ON lc.loan_id = l.ID
		INNER JOIN StaticDataDetail sdd ON sdd.ROWID = l.LOAN_TYPE
			WHERE lc.PAID_DATE BETWEEN @monthStartDate AND @monthEndDate
	) loan_deduction_headings
	
SELECT
	 @heading = ISNULL(@heading + ', ', '') + '[' + [headings] + ']'
	,@heading_select = ISNULL(@heading_select + ', ', '') + 'ISNULL([' + [headings] + '], 0) ' + '[' + [headings] + ']'
FROM (
		SELECT
			DISTINCT
			sdd.DETAIL_TITLE [headings]	
		FROM AdvanceCollection ap
		INNER JOIN Advance a ON ap.ADVANCE_ID = a.ID
		INNER JOIN StaticDataDetail sdd ON sdd.ROWID = a.ADVANCE_TYPE
			WHERE ap.PAID_DATE BETWEEN @monthStartDate AND @monthEndDate
			
		UNION ALL
		
		Select DISTINCT sdd.DETAIL_TITLE+' '+sdd1.DETAIL_TITLE
		From Insurance I
		inner join PremiumDeduction_Trial pd on I.ID=pd.Insurance_ID
		Inner join StaticDataDetail sdd on I.INSURER=sdd.ROWID
		Inner join StaticDataDetail sdd1 on I.Insurance_For=sdd1.ROWID
		Where SALARY_DEDUCTION='Y'
		AND FREQUENCY ='M'
		
		UNION ALL
		
		Select 'Total Deduction'

		UNION ALL

		SELECT 'Net Salary'	[headings]
		
		--UNION ALL
			 
		--SELECT 'Bank Account'	[headings]
		
	) advance_deduction_headings


SET @sql = '
	SELECT
		ROW_NUMBER() OVER(order by main.[Staff ID] asc) as [S.N.],Main.BRANCH_SHORT_NAME [Branch_name],
		main.[Staff ID] as [Emp Code],main.Emp_id [System ID],main.Emp_Name as [Employee Name],[Bank Account]
		,' + @heading_select +
		'
	FROM (
			SELECT * FROM (
				
				SELECT 
			 EMPLOYEE_id
			,SUM(AMOUNT) Amount
			,DETAIL_TITLE [headings]  FROM 
		(
			SELECT 
				 EMPLOYEE_ID	
				,PAID_AMOUNT AMOUNT
				,sdd.DETAIL_TITLE 		
			FROM PayableHistory ph
			INNER JOIN StaticDataDetail sdd ON ph.BENEFIT_ID = sdd.ROWID
			WHERE RUN_MONTH ='''+@month+''' AND FY_ID='''+@year+'''
		
			UNION ALL
		
			SELECT 
				 EMPLOYEE_ID
				, case when Add_deduct=''D'' Then AMOUNT*(-1) else Amount END AMOUNT
				, S.DETAIL_TITLE 
			FROM AdhocPayment A JOIN StaticDataDetail S ON A.HEAD_ID=S.ROWID 
			WHERE S.TYPE_ID IN (36,37,38) 
			AND APPLIED_DATE BETWEEN '''+@monthStartDate+''' AND '''+@monthEndDate+'''

			--UNION ALL
		
			--SELECT 
			--	 EMPLOYEE_ID
			--	,case when Add_deduct=''D'' Then AMOUNT*(-1) else Amount END AMOUNT
			--	,S.DETAIL_TITLE FROM AdhocPayment A JOIN StaticDataDetail S ON A.HEAD_ID=S.ROWID 
			--WHERE S.TYPE_ID IN (36,37,38) 
			--AND APPLIED_DATE BETWEEN '''+@monthStartDate+''' AND '''+@monthEndDate+'''

		)Z
		Group By EMPLOYEE_ID,DETAIL_TITLE
				
				--contribution
				UNION ALL
				
				SELECT 
				EMPLOYEE_ID
				,AMOUNT
				,headings AS [headings]
				FROM #TEMPCONTRIBUTION
					
									
				
				---Gross Salary
				union all
				
				select emp_id EMPLOYEE_ID,Basic_Salary_Current+Grade_Current+Allowance_Current+ 
				case when Adhoc_Benefits_This_Month<0 then 0 else Adhoc_Benefits_This_Month end +Contri_This_Month_Employer as Gross_Salary,
				''Gross Salary'' as [headings]
				from TaxCalculation where RUN_MONTH = '''+@month+''' AND FY_ID = '''+@year+'''
				
					
				---Total TAX
				union all
				select emp_id EMPLOYEE_ID,Tax_This_Month as [TAX Amount],
				''TAX Amount'' as [headings]
				from TaxCalculation where RUN_MONTH = '''+@month+''' AND FY_ID = '''+@year+'''
					
				--adhoac_addition
				UNION ALL
				SELECT
					 ap.EMPLOYEE_ID
					,ap.AMOUNT
					,sdd.DETAIL_TITLE [headings]	
				FROM AdhocPayment ap
				INNER JOIN StaticDataDetail sdd ON sdd.ROWID = ap.HEAD_ID
					WHERE ADD_DEDUCT = ''A'' 
						AND ap.APPLIED_DATE BETWEEN '''+ @monthStartDate+''' AND '''+@monthEndDate+'''
						AND sdd.TYPE_ID=''41''

				--adhoc_deduction
				UNION ALL
				SELECT
					 ap.EMPLOYEE_ID
					,ap.AMOUNT 
					,sdd.DETAIL_TITLE+''-Deduct'' [headings]	
				FROM AdhocPayment ap
				INNER JOIN StaticDataDetail sdd ON sdd.ROWID = ap.HEAD_ID
					WHERE ADD_DEDUCT = ''D''  
						AND ap.APPLIED_DATE BETWEEN '''+ @monthStartDate+''' AND '''+@monthEndDate+'''
							AND sdd.TYPE_ID in (40,41)

				
				
				--loan_deduction
				UNION ALL
				SELECT
					 l.EMPLOYEE_ID
					,lc.paid_amount [AMOUNT]
					,sdd.DETAIL_TITLE [headings]	
				FROM loan_collection lc
				INNER JOIN Loan l ON lc.loan_id = l.ID
				INNER JOIN StaticDataDetail sdd ON sdd.ROWID = l.LOAN_TYPE
					WHERE lc.PAID_DATE BETWEEN '''+@monthStartDate+''' AND '''+@monthEndDate+'''
					AND lc.NARRATION LIKE ''%by system%''
					
				--advance_deduction
				UNION ALL
				SELECT	
					 a.EMPLOYEE_ID
					,ac.PAID_AMOUNT [AMOUNT]
					,sdd.DETAIL_TITLE [headings]	
				FROM AdvanceCollection ac
				INNER JOIN Advance a ON ac.ADVANCE_ID = a.ID
				INNER JOIN StaticDataDetail sdd ON sdd.ROWID = a.ADVANCE_TYPE
					WHERE ac.PAID_DATE BETWEEN '''+@monthStartDate+''' AND '''+@monthEndDate+'''
					AND ac.NARRATION LIKE ''%by system%''
				
				UNION ALL
		
				Select emp_id,Sum(Deduction_Amt) Deduction_Amt,sdd.detail_title+'' ''+sdd1.detail_title 
				from PremiumDeduction P
				Inner join Insurance I on P.insurance_id=I.id
				Inner join StaticDataDetail sdd on I.INSURER=sdd.ROWID
				Inner join StaticDataDetail sdd1 on I.Insurance_For=sdd1.ROWID
				where Deduction_Date between '''+@monthStartDate+''' and '''+@monthEndDate+'''
				and SALARY_DEDUCTION=''Y''
				and frequency=''M''
				and I.expiry_date>'''+@yearstartdate+'''
				group by emp_id,sdd.detail_title,sdd1.detail_title
				
				UNION ALL
				
				Select T.Emp_Id, 
				round(Contri_Current_Employee,2)+round(Contri_This_Month_Employer,2)+ROUND(Tax_This_Month,2)+
				round(Loan_Deduction,2)+round(Advance_Deduction,2)+round(Adhoc_Deduction_Current,2)+isnull(pd.Deduction_Amt,0)
				-case when Adhoc_Benefits_This_Month<0 then Adhoc_Benefits_This_Month else 0 end 
				,''Total Deduction'' 
				from taxcalculation T
				Left Join (
						select EMP_ID, SUM(Deduction_Amt) Deduction_Amt from PremiumDeduction
						where Deduction_Date between '''+@monthStartDate+''' and '''+@monthEndDate+'''
						group by EMP_ID
					) pd on pd.EMP_ID=T.Emp_Id
				where FY_ID='''+@year+''' and Run_Month='''+@month+'''

				---Net Salary
				union all
				SELECT 
					 T.Emp_Id
					, Basic_Salary_Current+Grade_Current+Allowance_Current+Adhoc_Benefits_This_Month+Contri_This_Month_Employer
					  -Contri_This_Month_Employer-Contri_Current_Employee-Adhoc_Deduction_Current-Loan_Deduction-Advance_Deduction-isnull(Deduction_Amt,0)-Tax_This_Month Amount
					,''Net Salary''	[headings]
					FROM TaxCalculation T
					Left Join (
						select EMP_ID, SUM(Deduction_Amt) Deduction_Amt from PremiumDeduction
						where Deduction_Date between '''+@monthStartDate+''' and '''+@monthEndDate+'''
						group by EMP_ID
					) pd on pd.EMP_ID=T.Emp_Id
					where t.FY_ID='''+@Year+''' and Run_Month='''+@month+'''
				
			
				
			) x 
		) dataList
		PIVOT
		(
			SUM(AMOUNT)
			FOR headings IN(' + @heading+ ')
	) x 
	
	INNER JOIN (
				SELECT 
					 T.EMP_ID
					,e.EMP_CODE AS [Staff ID]
					,e.FIRST_NAME + '' '' + MIDDLE_NAME + '' '' + LAST_NAME AS Emp_Name
					,b.ACCOUNT_NUMBER as [Bank Account]
					,br.BRANCH_SHORT_NAME
				FROM TaxCalculation t 
				INNER JOIN Employee e ON e.EMPLOYEE_ID = t.Emp_Id
				Inner join Branches Br on T.branch_id=Br.branch_id 
				LEFT JOIN BankAccounts b ON b.EMPLOYEE_ID = t.Emp_Id where RUN_MONTH = '''+@month+''' AND FY_ID = '''+@year+''''
		
		if @branch<>0 and @branch is not null
					set @SQl=@SQl + ' and t.BRANCH_ID = '''+ @branch +''''

				if @dept<>0 and @dept is not null
					set @SQl=@SQl + ' and t.dept_id= '''+ @dept +''''

				if @emp<>'' and @emp is not null and @emp<>0
					set @SQl=@SQl + ' and t.emp_id= '''+ @emp +'''' 
					
					SET @sql= @sql+') main ON main.EMP_ID = x.EMPLOYEE_ID order by main.[Staff ID]'

PRINT @sql
EXEC (@sql)
 			
END
GO
