USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[ProcMonthlyReport]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec [ProcMonthlyReport] @flag='s',@fromdate='5/16/2012',@todate='5/16/2012',@emp='1707'
CREATE proc [dbo].[ProcMonthlyReport]
	@flag varchar(1),
	@fromdate varchar(20),
	@todate varchar(20)=null,
	@branch varchar(20)=null,
	@dept varchar(20)=null,
	@emp varchar(20)=null
AS

set nocount on;
---------------------------------ATTENDANCE SUMMARY REPORT--------------------------------------
if @flag='s'
begin

	-- Exec [ProcMonthlyReport] 's','2010-08-18',null,null,null

	SELECT b.BRANCH_NAME, 
	d.DEPARTMENT_NAME, 
	count(*) [Total Employee], 
	sum(isnull(PRESENT,0)) as [Total Present], 
	count(*) -  sum(isnull(PRESENT,0)) as [Total Absent]
	from Employee e with(nolock) left join
	(
		SELECT emp_id, 1 as PRESENT FROM atttendance with(nolock)
		Where login_time between @fromdate and @fromdate +' 23:59:59'
		group by emp_id
		
	) a on e.EMPLOYEE_ID = a.emp_id
	
	join Departments d with(nolock) on d.DEPARTMENT_ID =e.DEPARTMENT_ID 
	join Branches b  with(nolock) on b.BRANCH_ID=e.BRANCH_ID
	where 	
	b.BRANCH_ID like ISNULL(@branch,'%') 
	and d.DEPARTMENT_ID  like ISNULL(@dept,'%') and 
	e.EMPLOYEE_ID like ISNULL(@emp,'%') and
	e.EMPLOYEE_ID<>'1000' and e.EMP_STATUS=458
	group by d.DEPARTMENT_NAME, b.BRANCH_NAME	
	
end

---------------------------------ATTENDANCE DATEWISE REPORT--------------------------------
if @flag='d'
begin
	
	-- Exec [ProcMonthlyReport] 'd','2010-11-14','2010-11-14','',''
	
	declare @totDays as int
	select @totDays=datediff(DAY,@fromdate,@todate ) +1 
	
	select e.EMP_CODE [Employee Code],e.EMPLOYEE_ID [Employee ID], 
		e.FIRST_NAME + ' ' + e.MIDDLE_NAME + ' ' + e.LAST_NAME  [Employee Name], 
		sum(case when login_time is not null then 1 else 0 end)[Present Day],
		sum(case when login_time is null then 1 else 0 end) [Absent Day],
		sum(isnull(datediff(HOUR,login_time,logout_time),0)) [Total Hours]
	into #presentEmp		
	from Employee e with(nolock)
	left outer join atttendance a with(nolock)
	on e.EMPLOYEE_ID = a.emp_id
	Where 
		BRANCH_ID  like ISNULL(@branch,'%') 
		and DEPARTMENT_ID  like ISNULL(@dept,'%')  
		and login_time between @fromdate  and @todate +' 23:59:59'
		and e.EMPLOYEE_ID<>'1000' and e.EMP_STATUS=458
	group by e.FIRST_NAME,e.MIDDLE_NAME,e.LAST_NAME,e.EMP_CODE,e.EMPLOYEE_ID
	order by e.EMP_CODE	
	
	select * from (
				select 
					[Employee Code],
					[Employee Name],
					@totDays as [Total Day],
					[Present Day], 
					(@totDays- [Present Day]) as [Absent Day],
					[Total Hours] 
				from #presentEmp 
				
				
				union all
				
				select
					e.EMP_CODE [Employee Code],
					e.FIRST_NAME + ' ' + e.MIDDLE_NAME + ' ' + e.LAST_NAME  [Employee Name], 
					@totDays ,0,
					@totDays ,
					0 	
				from Employee e with(nolock)
				where 
						BRANCH_ID  like ISNULL(@branch,'%') 
						and DEPARTMENT_ID  like ISNULL(@dept,'%') 			
						and e.EMPLOYEE_ID not in( select [Employee ID] from #presentEmp) 
						and e.EMPLOYEE_ID<>'1000' and e.EMP_STATUS=458
				group by e.FIRST_NAME,e.MIDDLE_NAME,e.LAST_NAME,e.EMP_CODE
	) a
	order by [Employee Code]
	
	
	drop table #presentEmp
end


------------------------------------------------------------------------------------------------------------------------------
if @flag ='i'

--- EXEC ProcMonthlyReport 'i','4/1/2013', '4/30/2013',null,null, null
   
begin

     declare @intStartValue as int
	 declare @intEndValue as int
	 declare @intIncremental as int, @from_Date varchar(20), @to_date Varchar(20)

	SET @intStartValue =DAY(@fromdate)
	SET @intEndValue =DATEDIFF(dd,@fromdate,@todate)

	SELECT @from_Date=dbo.FNADateFormat(@fromdate,'d'), @to_date=dbo.FNADateFormat(@todate,'d')+ ' 23:59'
	
	IF OBJECT_ID('tempdb..#REPORT') IS NOT NULL
	drop table #REPORT
	
	IF OBJECT_ID('tempdb..#DATELIST') IS NOT NULL
	drop table #DATELIST
	
	IF OBJECT_ID('tempdb..#EMPLIST') IS NOT NULL
	drop table #EMPLIST
	
	CREATE TABLE #EMPLIST
	(
		Emp_id int,
		emp_name varchar(70) ,
		BRANCH_ID VARCHAR(20),
		JOINED_DATE VARCHAR(20)
	)
	
	CREATE TABLE #REPORT
	(	
		Emp_id int,
		ATT_DATE DATETIME,
		ATT_DAY varchar(20),
		emp_name varchar(70),
		BRANCH_ID VARCHAR(20),
		CARD_NUMBER VARCHAR(200),
		LOGIN_DATE VARCHAR(20),
		LOGOUT_DATE VARCHAR(20),
		LOGIN_TIME varchar(20),
		LOGOUT_TIME varchar(20),
		ATT_STATUS VARCHAR(20),
		ATT_HOUR VARCHAR(20),
		REASON_IN VARCHAR(500),
		REASON_OUT VARCHAR(500),
		LOGIN_IP	VARCHAR(50),
		LOGOUT_IP	VARCHAR(50),
		JOINED_DATE VARCHAR(20)
	)
	
	CREATE TABLE #DATELIST
	(
		Emp_id int,
		ATT_DATE DATETIME,
		ATT_DAY varchar(20),
		ATT_STATUS VARCHAR(20)

	)

	------------------ insert into #employee list-------------------

	insert into #EMPLIST(Emp_id,emp_name,BRANCH_ID,JOINED_DATE)
	select EMPLOYEE_ID, FIRST_NAME + ' ' + MIDDLE_NAME + ' ' + LAST_NAME,BRANCH_ID,JOINED_DATE  from Employee
	where BRANCH_ID like ISNULL(@branch,'%') 
	and DEPARTMENT_ID like ISNULL(@dept,'%')
	and EMPLOYEE_ID like ISNULL(@emp,'%')
	and EMPLOYEE_ID <> '1000' 
	AND EMP_STATUS=458
	
	--select * from #EMPLIST
	------------------------------insert into #datelist----------------------------
	
	set @intIncremental=0
	while @intIncremental <=  @intEndValue
	begin

		INSERT INTO #DATELIST(ATT_DATE,ATT_DAY,ATT_STATUS,Emp_id)
		select convert(varchar,cast( DATEADD(dd,@intIncremental,@fromdate) as datetime) ,102) , 
		DATENAME(dw, DATEADD(dd,@intIncremental,@fromdate)),'ABSENT',0
		
		set @intIncremental=@intIncremental+1
		
	end
	
	-------------------------------Insert into Main report---------------------------------------
	
	INSERT INTO #REPORT(ATT_DATE,ATT_DAY,ATT_STATUS,Emp_id,emp_name,LOGIN_TIME,LOGOUT_TIME,REASON_IN,REASON_OUT,ATT_HOUR,BRANCH_ID,LOGIN_IP,LOGOUT_IP,JOINED_DATE)
	select d.ATT_DATE, d.ATT_DAY, d.ATT_STATUS, r.Emp_id,r.emp_name,'00:00:00','00:00:00',' ',' ','',r.BRANCH_ID,'','',JOINED_DATE from #EMPLIST r,  #DATELIST d 

	update #REPORT set
		ATT_STATUS='PRESENT'
		,LOGIN_TIME=isnull(a.[LOGINTIME],'00:00:00')
		,LOGOUT_TIME=isnull(a.[LOGOUTTIME],'00:00:00')
		,REASON_IN=a.ReasonDetailIn
		,REASON_OUT=a.ReasonDetailOut
		,ATT_HOUR=a.TOTALHOURS
		,LOGIN_DATE=A.LOGIN_DATE
		,LOGOUT_DATE=A.LOGOUT_DATE
		,CARD_NUMBER=A.CARD_NUMBER
		,LOGIN_IP=a.login_ip
		,LOGOUT_IP=a.logout_ip
	from #REPORT r, 
	(
		select emp_id
				,CONVERT(date,att_date,101) ATT_DATE
				,a.CARD_NUMBER
				,a.login_ip
				,a.logout_ip
				,CONVERT(date,login_time,101)  LOGIN_DATE
				,CONVERT(date,logout_time,101)	LOGOUT_DATE
				,cast(CONVERT(time,login_time,101) as varchar(8)) as [LOGINTIME]
				,cast(CONVERT(time,logout_time,101) as varchar(8)) AS [LOGOUTTIME]
				,''	  [TOTALHOURS]
				,ISNULL(a.reason_detail_in,'') AS [ReasonDetailIn]
				,ISNULL(a.reason_detail_out,'') AS [ReasonDetailOut]
			FROM 
				(	
					SELECT 
						emp_id,
						att_date,
						a.CARD_NUMBER,
						a.login_ip,
						a.logout_ip,
						cast(login_time as datetime) login_time,
						cast(logout_time as datetime) logout_time,
						isnull(ard.login_reason,'') reason_detail_in ,
						isnull(ard.logout_reason,'') reason_detail_out
					FROM atttendance a left join attendance_reason ard ON A.id = ard.att_id  
					WHERE emp_id <> '1000'		 
				) a 
			where dbo.FNADateFormat(login_time,'d') between @from_Date and @to_Date
			GROUP BY  emp_id,a.login_time,A.login_time,A.logout_time,a.reason_detail_in,a.reason_detail_out,att_date,a.CARD_NUMBER,a.login_ip,a.logout_ip	
	)a
	where  a.emp_id=r.Emp_id and  CONVERT(date,r.ATT_DATE,101) = CONVERT(date,a.ATT_DATE,101)

	update #REPORT set
		ATT_STATUS='ON LEAVE'
		,LOGIN_TIME='00:00:00'
		,LOGOUT_TIME='00:00:00'
		,REASON_IN=a.NAME_OF_LEAVE
		,REASON_OUT=''
		,ATT_HOUR='0'
	from #REPORT r, 
	(
	
		select REQUESTED_BY	,b.NAME_OF_LEAVE
			,l.APPROVED_FROM, l.APPROVED_TO
		FROM LeaveRequest l	inner join LeaveTypes b on l.LEAVE_TYPE_ID=b.id
		where LEAVE_STATUS='Approved' and APPROVED_DAYS>0.5
	
	)a	where  a.REQUESTED_BY=r.Emp_id and r.ATT_DATE between a.APPROVED_FROM and a.APPROVED_TO

	 -------------------
	 
	update #REPORT set
		ATT_STATUS='ON HALF DAY LEAVE'
		,REASON_IN=a.NAME_OF_LEAVE
	from #REPORT r, 
	(
	
		select REQUESTED_BY	,b.NAME_OF_LEAVE
			,l.APPROVED_FROM, l.APPROVED_TO
		FROM LeaveRequest l	inner join LeaveTypes b on l.LEAVE_TYPE_ID=b.id
		where LEAVE_STATUS='Approved' and APPROVED_DAYS=0.5
	
	)a	where  a.REQUESTED_BY=r.Emp_id and r.ATT_DATE between a.APPROVED_FROM and a.APPROVED_TO

	update #REPORT set
		ATT_STATUS='ON SITE DUTY'
		,REASON_IN=a.purpose
	from #REPORT r, 
	(
	
		select EMPID,purpose
			,l.sitedatefrom, l.sitedateto 
		FROM onsiteDuty l
		
	)a	where  a.EMPID=r.Emp_id and r.ATT_DATE between a.sitedatefrom and a.sitedateto

	update #REPORT set
		ATT_STATUS='ON TRAINING'
		,REASON_IN=a.narration
	from #REPORT r, 
	(		
		SELECT P.employeeId,T.plannedStartDate,T.plannedEndDate,T.narration
		FROM trainingParticipation P, training T WHERE P.trainingId=T.ID
	
	)a	where  a.employeeId=r.Emp_id and r.ATT_DATE between a.plannedStartDate and a.plannedEndDate

	update #REPORT set
		ATT_STATUS='TADA'
		,REASON_IN=a.travelDescription
	from #REPORT r, 
	(		
		SELECT emp_id,duration_from,duration_to,travelDescription
		FROM tada 
		Where tada_status='Approved'
	
	)a	where  a.emp_id=r.Emp_id and r.ATT_DATE between a.duration_from and a.duration_to

	-- EXEC ProcMonthlyReport 'i','4/13/2012', '3/25/2013','1','28', '1144'

	update #REPORT set
	 ATT_STATUS=CASE WHEN ATT_STATUS='ABSENT' THEN 'HOLIDAY'  ELSE	ATT_STATUS END
	,REASON_IN=CASE WHEN ATT_STATUS='ABSENT' THEN B.TITLE  ELSE	REASON_IN  END
	FROM  #REPORT A	,
	(
		SELECT DATE ATT_DATE,isnull(BRANCHID,@branch) BRANCHID,TITLE FROM OfficialCalendar WHERE TYPE='H'
	)B 
	WHERE CONVERT(VARCHAR,A.ATT_DATE,102)=CONVERT(VARCHAR,B.ATT_DATE,102)	 

	UPDATE #REPORT SET ATT_STATUS= 'NOT JOINED'  
	WHERE Cast(ATT_DATE as date)<cast(JOINED_DATE as date)
						 
	--select * from #REPORT
	--return;

	 SELECT	
		e.EMP_CODE [Emp Code],
		emp_name [Employee Name],
		b.BRANCH_NAME [Branch Name],
		CONVERT(VARCHAR,ATT_DATE,107) [Attendence Date],
		ATT_DAY [Attendance day],
		LOGIN_DATE [Login Date],
		LOGOUT_DATE [Logout Date],
		LOGIN_TIME [Login Time],
		LOGOUT_TIME [Logout Time],
		ATT_STATUS [Status],
		REASON_IN [Login Reason],
		REASON_OUT[Logout Reason],
		tr.card_number [Card Number],
		ATT_HOUR [Working Hour],
		LOGIN_IP [Login IP],
		LOGOUT_IP [Logout IP] ,
		b.BRANCH_SHORT_NAME [Branch Sole ID],
		dbo.GetDetailTitle(e.POSITION_ID) Designation
	 FROM #REPORT tr 
	 INNER JOIN Employee e ON e.EMPLOYEE_ID=tr.Emp_id
	 INNER JOIN Branches b ON b.BRANCH_ID=e.BRANCH_ID
	 --Where ATT_STATUS ='Absent'
	 ORDER BY ATT_DATE

end
GO
