USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[ProcDisplayMenu]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- exec ProcDisplayMenu @flag='a',@displayFlag='o'

CREATE proc [dbo].[ProcDisplayMenu]
	@flag char (1)
as
if @flag='a'
begin

	set nocount on;
	
	select id, menu_desc,menu_name,func_id, linked_id 
		from CMS_Menu where   display_flag='o' and linked_id is null or linked_id='' 
		
		select * from CMS_Menu

	select id, menu_desc,menu_name,func_id,linked_id 
		from CMS_Menu where display_flag='o' and linked_id in (
		select id from CMS_Menu 
		where linked_id is null or linked_id='') 
end
if @flag='b'
begin

	set nocount on;
	
	select id, menu_desc,menu_name,func_id, linked_id 
		from CMS_Menu where linked_id is null or linked_id='' 

	select id, menu_desc,menu_name,func_id,linked_id 
		from CMS_Menu where linked_id in (
		select id from CMS_Menu 
		where linked_id is null or linked_id='') 
end
GO
