USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procDisplayProduct]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--select * from IN_BRANCH
-- Exec procDisplayProduct '1','3','2'
CREATE PROC [dbo].[procDisplayProduct]
	@branch VARCHAR(20),
	@product VARCHAR(200),
	@vendor VARCHAR(100)
AS
BEGIN

	SET NOCOUNT ON;

	SELECT TOP 20 p.porduct_code +'|' + CAST(p.id AS VARCHAR)+'|'+CAST(CONVERT(VARCHAR,CAST(ISNULL(V.price,0) AS MONEY),2) AS VARCHAR) AS product FROM
	IN_BRANCH B WITH(NOLOCK),IN_PRODUCT P WITH(NOLOCK) ,
	Vendor_Bid_Price V WITH(NOLOCK)
	WHERE b.PRODUCT_ID=P.id AND P.id=V.product_id AND B.BRANCH_ID=@branch  AND V.vendor_id=@vendor
	AND P.porduct_code+'|' + cast(P.id as varchar) LIKE '%'+@product +'%' 
	AND B.IS_ACTIVE=1 AND p.is_active=1
	ORDER BY p.id

END
GO
