USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procSupervisorMovement]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
Exec [procSupervisorMovement] @flag='m',@moveFrom='141',@moveTo='403',
@emp_ids='1000,1001,1002,1003,1004,1005,1006,1007'
*/

CREATE proc [dbo].[procSupervisorMovement]
@flag char(1),
@moveFrom varchar(50),
@moveTo varchar(50),
@emp_ids varchar(5000),
@supType1 varchar(50),
@supType2 varchar(50),
@user varchar(50)
AS
set nocount on;

If @flag='m'
begin

	declare @ExistOrNot as varchar(20)

	if @moveFrom='' or @moveTo='' or @emp_ids='' or	 @supType1='' or @supType2=''
	begin
		SELECT 'INVALID SUPERVISOR TO MOVE!' as REMARKS
		return;
	end

	set @ExistOrNot=''
	set @ExistOrNot=''+@emp_ids+''

	-- ### INSERTING NEW SUPERVISOR 
	INSERT INTO SuperVisroAssignment(BRANCH,DEPT,POSITION,EMP_TYPE,EMP,SUPERVISOR,SUPERVISOR_TYPE,
				CREATED_BY,CREATED_DATE,record_status)
	
	SELECT a.BRANCH_ID,a.DEPARTMENT_ID,a.POSITION_ID,a.EMP_TYPE,a.EMPLOYEE_ID,@moveTo,@supType2,
	@USER,GETDATE(),'y' FROM Employee a INNER JOIN
	(
	   SELECT name FROM dbo.split(@emp_ids,',')
	)b ON a.EMPLOYEE_ID=b.name

	-- ### UPDATING OLD SUPERVISOR AS INACTIVE	
	
	exec('update SuperVisroAssignment set record_status=''n'' where SUPERVISOR='+ @moveFrom +'
	and EMP in ('+ @emp_ids +') AND SUPERVISOR_TYPE='''+ @supType1 +''' AND  record_status=''y''')

	SELECT 'UPDATE SUCCESS!' as REMARKS

end
GO
