USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_asset_branch]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*    
 exec proc_ASSET_branch 'u',11,'sujit','201003010','221011246','','','','','6',16,'0','True' 
 exec [proc_in_branch] 's',1      
 exec proc_in_branch 'u',0,'admin','ST-1002','ST-1004','ST-1003','ST-1005','11',1      
*/      
      
CREATE PROCEDURE [dbo].[proc_asset_branch]      
    @flag CHAR(1),      
    @id INT=NULL,      
    @user VARCHAR(50)=NULL,      
    @asset_ac VARCHAR(50)=NULL,    
    @depreciation_exp_ac VARCHAR(50)=NULL,    
    @accumulated_dep_ac VARCHAR(50)=NULL,    
    @write_off_ac VARCHAR(50)=NULL,    
    @sales_pl_ac VARCHAR(50)=NULL,    
    @maintainance_ac VARCHAR(50)=NULL,      
    @branchid  VARCHAR(10)=NULL,      
    @productid  VARCHAR(20)=NULL,      
    @asset_nextnum VARCHAR(20)=NULL,    
    @isactive VARCHAR(5)=NULL      
AS          
SET NOCOUNT ON;      
      
    DECLARE @inserted VARCHAR(50)  
      
IF(@flag='i')      
BEGIN  
   
 IF EXISTS(SELECT BRANCH_ID FROM ASSET_BRANCH WHERE BRANCH_ID = @branchid AND PRODUCT_ID=@productid)   
 BEGIN  
	SELECT 'Already Assigned!' as msg
	RETURN;
 END	
 
       
   INSERT INTO ASSET_BRANCH(ASSET_AC, DEPRECIATION_EXP_AC, ACCUMULATED_DEP_AC, WRITE_OFF_EXP_AC,    
    SALES_PROFIT_LOSS_AC,MAINTAINANCE_EXP_AC,BRANCH_ID,ASSET_NEXT_NUM,PRODUCT_ID, CREATED_DATE, CREATED_BY,IS_ACTIVE)      
    VALUES (@asset_ac,@depreciation_exp_ac,@accumulated_dep_ac,@write_off_ac,@sales_pl_ac,    
            @maintainance_ac,@branchid,@asset_nextnum,@productid, GETDATE(), @user,@isactive)         
              
   SELECT 'SUCCESS!'  as msg          
      
END        
      
IF(@flag='u')      
BEGIN      
     
   UPDATE ASSET_BRANCH SET ASSET_AC = @asset_ac, DEPRECIATION_EXP_AC=@depreciation_exp_ac,       
     ACCUMULATED_DEP_AC=@accumulated_dep_ac, WRITE_OFF_EXP_AC=@write_off_ac,    
     SALES_PROFIT_LOSS_AC = @sales_pl_ac,MAINTAINANCE_EXP_AC=@maintainance_ac,    
     MODIFIED_DATE=GETDATE(), MODIFIED_BY=@user,    
    IS_ACTIVE = @isactive WHERE id = @id     
      
    SELECT 'SUCCESS!'  as msg  
   END 
                  
IF(@flag='s')      
BEGIN      
      
	 SELECT  ASSET_BRANCH.ASSET_AC,ASSET_BRANCH.DEPRECIATION_EXP_AC, ASSET_BRANCH.ACCUMULATED_DEP_AC,ASSET_PRODUCT.product_desc ,      
	  ASSET_BRANCH.WRITE_OFF_EXP_AC,ASSET_BRANCH.SALES_PROFIT_LOSS_AC,ASSET_BRANCH.MAINTAINANCE_EXP_AC,ASSET_BRANCH.BRANCH_ID,    
	  ASSET_BRANCH.PRODUCT_ID,ASSET_BRANCH.IS_ACTIVE, ASSET_ITEM.item_name  FROM ASSET_BRANCH       
	 INNER JOIN ASSET_PRODUCT ON ASSET_PRODUCT.ID = ASSET_BRANCH.PRODUCT_ID       
	 INNER JOIN ASSET_ITEM ON ASSET_ITEM.id = ASSET_PRODUCT.item_id WHERE ASSET_BRANCH.ID = @id      
 -- select * from IN_BRANCH      
END
	
 IF @flag='d'
 BEGIN
		IF((SELECT ASSET_NEXT_NUM FROM ASSET_BRANCH WHERE ID=@id)='1')
		BEGIN
			DELETE FROM ASSET_BRANCH WHERE ID=@id
			SELECT 'SUCCESS!' AS MSG
			RETURN;
		END
		ELSE
		BEGIN
			SELECT 'Sorry, No Delete! Already Used Asset Type!' AS MSG
			RETURN;
		END
 END
GO
