USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procLeaveYearEndReport]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- exec procLeaveYearEndReport @year='2071',@USER=1000

CREATE proc [dbo].[procLeaveYearEndReport]
	--@flag char(1),
	 @year VARCHAR(10)
	,@user INT = NULL

as

set nocount on;

BEGIN

	DECLARE 
		 @YearStartDate		VARCHAR(10)
		,@YearEndDate		VARCHAR(10)
		,@NxtYrStartDate	VARCHAR(10)
		,@NxtYrEndDate		VARCHAR(10)
		,@CL				FLOAT
		,@SL				FLOAT
		,@AL				FLOAT
		,@MAX_SL			FLOAT
		,@MAX_AL			FLOAT

	SELECT 
		 @YearStartDate=engDateBaisakh
		,@YearEndDate= DATEADD(DD,baisakh+jestha+ashadh+shrawan+bhadra+ashwin+kartik+mangshir+poush+magh+falgun+chaitra-1,engDateBaisakh)
	FROM Fiscal_Month
	WHERE nplYear =@year

	select  
		 @NxtYrStartDate=engDateBaisakh
		,@NxtYrEndDate=DATEADD(DD, baisakh+jestha+ashadh+shrawan+bhadra+ashwin+kartik+mangshir+poush+magh+falgun+chaitra-1,engDateBaisakh)
	FROM Fiscal_Month
	WHERE nplYear=@year+1

	CREATE TABLE #TempLeaveEnd
	(
		 Emp_Id				INT
		,Permanent_Date		Varchar(20)
		,Basic_Salary		MONEY
		,Allowance			MONEY
		,Gross				MONEY
		,Casual_Leave		FLOAT
		,Sick_Leave			FLOAT
		,Annual_Leave		FLOAT
		,Used_CL			FLOAT
		,Used_SL			FLOAT
		,Used_AL			FLOAT
		,CB_CL				FLOAT
		,CB_SL				FLOAT
		,CB_AL				FLOAT
		,Tot_Used_CL		FLOAT
		,Tot_Used_SL		FLOAT
		,Tot_Used_AL		FLOAT
		,Bal_CL				FLOAT
		,Bal_SL				FLOAT
		,Bal_AL				FLOAT
		,Cur_CL				FLOAT
		,Cur_SL				FLOAT
		,Cur_AL				FLOAT
		,Tot_AL				FLOAT
		,Tot_SL_EXC_AL		FLOAT
		,AL_Encashment_Days	FLOAT
		,TOT_SL_INC_AL		FLOAT
		,TotEncashment_Days	FLOAT
		,Carry_SL			FLOAT
		,Carry_AL			FLOAT
		,Encashment_Amount	MONEY
		,Tax				MONEY
	)

	--- GET ACTIVE EMPLOYEE LIST
	INSERT INTO #TempLeaveEnd (Emp_ID,Permanent_Date)
	SELECT 
		EMPLOYEE_ID,PERMANENT_DATE
	FROM Employee
	WHERE EMP_STATUS=458
	AND EMP_TYPE=185
	AND EMPLOYEE_ID <>1000
	AND BRANCH_ID<>'6'

	--- UPDATE USED LEAVE COLUMNS WITH 0
	UPDATE #TempLeaveEnd
		SET 
			 Annual_Leave=0
			,Casual_Leave=0
			,Sick_Leave  =0
			,Used_AL	 =0
			,Used_CL	 =0
			,Used_SL	 =0
			,CB_CL		 =0
			,CB_SL		 =0
			,CB_AL		 =0
			,Bal_AL		 =0
			,Bal_CL		 =0
			,Bal_SL		 =0

	--- GET EMPLOYEE'S CURRENT BASIC SALARY
	UPDATE #TempLeaveEnd
		SET
			Basic_Salary=P.AMOUNT
	FROM #TempLeaveEnd T
	INNER JOIN Payable P ON T.Emp_Id= P.EMPLOYEE_ID 
		AND BENEFIT_ID in (select ROWID from StaticDataDetail where TYPE_ID=36)
	WHERE P.effective_upto>@YearEndDate

	--- GET EMPLOYEE'S CURRENT GENERAL ALLOWANCE
	UPDATE #TempLeaveEnd
		SET
			Allowance=P.AMOUNT
	FROM #TempLeaveEnd T
	INNER JOIN Payable P ON T.Emp_Id= P.EMPLOYEE_ID 
		AND BENEFIT_ID =1452
	WHERE P.effective_upto>@YearEndDate

	--- GET EMPLOYEE'S CURRENT GROSS SALARY
	UPDATE #TempLeaveEnd
		SET
			Gross=isnull(Basic_Salary,0)+isnull(Allowance,0)

	--- GET ASSIGNED CASUAL LEAVE
	UPDATE #TempLeaveEnd
		SET
			Casual_Leave=isnull(LA.NO_OF_DAYS_ACTUAL,0)+isnull(LA.LAST_YEAR_LEAVE,0)
	FROM #TempLeaveEnd T
	INNER JOIN (select * from leaveAssignment where LEAVE_TYPE_ID='2') LA ON T.Emp_Id=LA.EMPLOYEE_ID  
	WHERE LA.IS_DISABLED='1'

	--- GET ASSIGNED SICK LEAVE
	UPDATE #TempLeaveEnd
		SET
			Sick_Leave=NO_OF_DAYS_ACTUAL+LAST_YEAR_LEAVE
	FROM #TempLeaveEnd T
	INNER JOIN leaveAssignment LA ON T.Emp_Id=LA.EMPLOYEE_ID
		AND LEAVE_TYPE_ID='3'
	WHERE LA.IS_DISABLED='1'

	--- GET ASSIGNED ANNUAL LEAVE
	UPDATE #TempLeaveEnd
		SET
			Annual_Leave=NO_OF_DAYS_ACTUAL+LAST_YEAR_LEAVE
	FROM #TempLeaveEnd T
	INNER JOIN leaveAssignment LA ON T.Emp_Id=LA.EMPLOYEE_ID
		AND LEAVE_TYPE_ID='1'
	WHERE LA.IS_DISABLED='1'

	--- GET USED CASUAL LEAVE FOR THE YEAR
	UPDATE #TempLeaveEnd
		SET
			Used_CL=ISNULL(LR.APPROVED_DAYS,0)
	FROM #TempLeaveEnd T
	INNER JOIN 
	(
		SELECT 
			REQUESTED_BY,LR.LEAVE_TYPE_ID ,SUM(ISNULL(APPROVED_DAYS,0)) APPROVED_DAYS 
		FROM LEAVEREQUEST  lr
		INNER JOIN leaveAssignment LA ON LR.leaveAssignId=LA.ID
		WHERE 
			(FROM_DATE BETWEEN @YearStartDate AND @YearEndDate) 
		AND (TO_DATE BETWEEN @YearStartDate AND @YearEndDate)
		AND LEAVE_STATUS='APPROVED'
		AND LR.LEAVE_TYPE_ID='2'
		AND LA.IS_DISABLED='1'
		GROUP BY REQUESTED_BY,LR.LEAVE_TYPE_ID
	)LR ON T.Emp_Id=LR.REQUESTED_BY
		
	--- GET USED SICK LEAVE FOR THE YEAR
	UPDATE #TempLeaveEnd
		SET
			Used_SL=ISNULL(LR.APPROVED_DAYS,0)
	FROM #TempLeaveEnd T
	INNER JOIN 
	(
		SELECT 
			REQUESTED_BY,LR.LEAVE_TYPE_ID ,SUM(ISNULL(APPROVED_DAYS,0)) APPROVED_DAYS 
		FROM LEAVEREQUEST  lr
		INNER JOIN leaveAssignment LA ON LR.REQUESTED_BY=LA.EMPLOYEE_ID AND LR.LEAVE_TYPE_ID=LA.LEAVE_TYPE_ID
		WHERE 
			(FROM_DATE BETWEEN @YearStartDate AND @YearEndDate) 
		AND (TO_DATE BETWEEN @YearStartDate AND @YearEndDate)
		AND LEAVE_STATUS='APPROVED'
		AND LR.LEAVE_TYPE_ID='3'
		AND LA.IS_DISABLED='1'
		GROUP BY REQUESTED_BY,LR.LEAVE_TYPE_ID
	)LR ON T.Emp_Id=LR.REQUESTED_BY	
	
	--- GET USED ANNUAL LEAVE FOR THE YEAR
	UPDATE #TempLeaveEnd
		SET
			Used_AL=ISNULL(LR.APPROVED_DAYS,0)
	FROM #TempLeaveEnd T
	INNER JOIN 
	(
		SELECT 
			REQUESTED_BY,LR.LEAVE_TYPE_ID ,
			CASE WHEN SUM(ISNULL(APPROVED_DAYS,0))>=LA.FORCE_LEAVE_DEDUCT AND LA.IS_LFA=1 
				 THEN SUM(ISNULL(APPROVED_DAYS,0)) 
				 wHEN SUM(ISNULL(APPROVED_DAYS,0))>=LA.FORCE_LEAVE_DEDUCT AND LA.IS_LFA=0 
				 THEN SUM(ISNULL(APPROVED_DAYS,0)) 
				 ELSE LA.FORCE_LEAVE_DEDUCT END APPROVED_DAYS 
		FROM LEAVEREQUEST  lr
		INNER JOIN leaveAssignment LA ON LR.REQUESTED_BY=LA.EMPLOYEE_ID AND LR.LEAVE_TYPE_ID=LA.LEAVE_TYPE_ID
		WHERE 
			(FROM_DATE BETWEEN @YearStartDate AND @YearEndDate) 
		AND LEAVE_STATUS='APPROVED'
		AND LR.LEAVE_TYPE_ID='1'
		AND LA.IS_DISABLED='1'
		GROUP BY REQUESTED_BY,LR.LEAVE_TYPE_ID,LA.FORCE_LEAVE_DEDUCT,LA.IS_LFA

	)LR ON T.Emp_Id=LR.REQUESTED_BY

	--- GET TOTAL USED LEAVES
	UPDATE #TempLeaveEnd
		SET 
			 Tot_Used_CL=Used_CL-CB_CL
			,Tot_Used_SL=Used_SL-CB_SL
			,Tot_Used_AL=Used_AL-CB_AL

	--- GET BALANCE LEAVE DAYS
	UPDATE #TempLeaveEnd
		SET 
			 Bal_CL=Casual_Leave-TOT_Used_CL
			,Bal_SL=Sick_Leave-TOT_Used_SL
			,Bal_AL=Annual_Leave-TOT_Used_AL
	
	--- GET CURRENT LEAVE DAYS
	SELECT 
		 @CL=NO_OF_DAYS_DEFAULT
	FROM LeaveTypes
	WHERE ID=2

	SELECT 
		 @SL=NO_OF_DAYS_DEFAULT 
		,@MAX_SL=MAX_ACCUMULATION
	FROM LeaveTypes
	WHERE ID=3

	SELECT  
		 @AL=NO_OF_DAYS_DEFAULT
		,@MAX_AL=MAX_ACCUMULATION
	FROM LeaveTypes
	WHERE ID=1

	--select @MAX_sL,@MAX_AL

	UPDATE #TempLeaveEnd
		SET 
			 Cur_CL=@CL
			,Cur_SL=@SL
			,CB_AL=@AL

	UPDATE #TempLeaveEnd
		SET
		 Cur_AL= CASE WHEN Permanent_Date BETWEEN @YearStartDate AND @YearEndDate 
			THEN round((CB_AL/12) *Casual_Leave,2)
			--round((CB_AL/12)*((MONTH(@YearEndDate)-MONTH(Permanent_Date))+(((cast(DAY(@YearEndDate) as float)-cast(DAY(Permanent_Date) as float)))/30)),2)
			ELSE CB_AL END

	--- GET TOTAL LEAVE DAYS
	UPDATE #TempLeaveEnd
		SET
			 Tot_AL=Bal_AL+Cur_AL
			,Tot_SL_EXC_AL=Bal_CL+Bal_SL+Cur_SL
	
	--- GET TOTAL ENCASHMENT DAYS
	UPDATE #TempLeaveEnd
		SET
			 Al_Encashment_Days=CASE WHEN Tot_AL<@MAX_AL THEN 0 ELSE TOT_AL-@MAX_AL END 

	UPDATE #TempLeaveEnd
		SET
			 TOT_SL_INC_AL=Tot_SL_EXC_AL+Al_Encashment_Days

	--- GET TOTAL ENCASHMENT DAYS
	UPDATE #TempLeaveEnd
		SET
			TotEncashment_Days=CASE WHEN (Tot_SL_EXC_AL+Al_Encashment_Days)<@MAX_SL THEN 0 ELSE (Tot_SL_EXC_AL+Al_Encashment_Days)-@MAX_SL END

	--- GET TOTAL ENCASHMENT AMOUNT
	UPDATE #TempLeaveEnd
		SET 
			Encashment_Amount=ROUND((isnull(Gross,0)/30)*isnull(TotEncashment_Days,0),2)

	--- GET TAX AMOUNT FOR ENCASHMENT AMOUNT
	UPDATE #TempLeaveEnd
		SET
			Tax=ROUND((CAST(25 AS MONEY)/CAST(100 AS MONEY))*Encashment_Amount ,2)

	--- GET CARRY OVER SICK LEAVE ASSIGNMENT
	UPDATE #TempLeaveEnd
		SET
			 Carry_SL=CASE WHEN TOT_SL_INC_AL>@MAX_SL THEN round(@MAX_SL-Cur_SL,2) ELSE round(TOT_SL_INC_AL-Cur_SL,2) END
			,Carry_AL=round(Bal_AL-AL_Encashment_Days,2)

------ ######## END OF LEAVE ENCASHMENT ######## --------

	select 
	 ROW_NUMBER() over (order by emp_id) sno
	,emp_id [Emp ID]
	,rtrim(dbo.GetEmployeeFullNameOfId(emp_id)) 
	,b.ACCOUNT_NUMBER
	,Basic_Salary [Basic Salary]
	,Allowance
	,Gross
	,Casual_Leave [Casual Leave]
	,Sick_Leave [Sick Leave]
	,Annual_Leave [Annual Leave]
	,Used_CL 
	,Used_SL
	,Used_AL
	,Bal_CL
	,Bal_SL
	,Bal_AL
	,Cur_CL
	,Cur_SL
	,Cur_AL
	,Tot_AL [Total Annual leave including balance leave of 2071 and earned leave for 2072]
	,AL_Encashment_Days [Annual leave excess of 60 days to be added to sick leave]
	,Tot_SL_EXC_AL [Total Sick leave including accumulated balance of casual and sick Leave of 2072]
	,TOT_SL_INC_AL [Total accumulated sick leave (Annual leave excess of 60 days , sick and casual leave remaing 2070 and Sick leave 2071]
	,TotEncashment_Days [Leave encashment days i.e accumulated sick leave excess of 45 days]
	,Encashment_Amount [Encashment Amount]
	,Cur_CL [CL for 2072]
	,Carry_SL+Cur_SL [SL for 2072]
	,Carry_AL+Cur_AL [AL for 2072]	
	from #TempLeaveEnd t
	inner join BankAccounts b on t.Emp_Id=b.EMPLOYEE_ID

END
GO
