USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[ProcDeleteRequisition]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
Exec ProcBrachAssignment 'a','1','2', '361070101','361070102','True', 'admin'
*/

CREATE PROCEDURE [dbo].[ProcDeleteRequisition]
				@flag char(1),				
				@req_id  int
as				
set nocount on;

if(@flag='a')
BEGIN

	delete from IN_Requisition_Message where id=@req_id
	delete from IN_Requisition where Requistion_message_id=@req_id
	
END
GO
