USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procGETJOBPOCESSINGDETAILS]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[procGETJOBPOCESSINGDETAILS]  
(                       
 -- @USERNAME VARCHAR(30) = NULL,                      
  @ROWID INT = NULL -- ,                  
  --@EMPID INT = NULL      
  )                      
   AS                      
   BEGIN                      
                      
     SELECT TOP 1 WF_JOB.WF_JOBID,WF_DETAILS.ACTION_BY_EMPID AS CREATEDBY,CONVERT(VARCHAR,WF_DETAILS.ACTION_DATE,101) AS ACTION_DATE,            
     WF_DETAILS.COMMENTS,E.FIRST_NAME + ' ' + E.MIDDLE_NAME + ' ' + E.LAST_NAME AS FIRST_NAME,WF_DETAILS.MODE,WF_DETAILS.JOB_STATUS,    
     WF_DETAILS.FLAG,WF_DETAILS.FORWARD_TO,WF_DETAILS.ACTION_BY_EMPID,DBO.FUNCGETMANAGEWFCOMMENTS(WF_DETAILS.PARENT_ID) AS ACCEPTEDCOMMENTS FROM WF_DETAILS                       
     INNER JOIN WF_JOB ON WF_JOB.WF_JOBID = WF_DETAILS.WF_JOBID                       
     INNER JOIN EMPLOYEE E ON E.EMPLOYEE_ID = WF_DETAILS.ACTION_BY_EMPID                      
     WHERE  WF_DETAILS.ID = @ROWID                      
     ORDER BY WF_DETAILS.ID DESC                    
                     
                        
   END
GO
