USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_PayRollReportMonthly]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--EXEC [proc_PayRollReportMonthly] '68-69','04','1010'
CREATE PROCEDURE [dbo].[proc_PayRollReportMonthly]
(
	@fiscalYear VARCHAR (20) = NULL ,
	@runMonth VARCHAR(20) = NULL ,
	@emp_id INT = NULL
)
AS
BEGIN

	SET  NOCOUNT ON;
			
	DECLARE @monthStartDate DATE
	DECLARE @monthEndDate DATE

	SET @monthStartDate =dbo.GetMonthStartDateEng(@fiscalYear , @runMonth )
	SET @monthEndDate =dbo. GetMonthEndDateEng(@fiscalYear , @runMonth)
	---- START BENEFIT----
	SELECT DETAIL_DESC, dbo.ShowDecimal(SUM(PAID_AMOUNT)) AS AMOUNT FROM
	(
		SELECT B.TYPE_ID, BENEFIT_ID , B.DETAIL_DESC, EMPLOYEE_ID , PAID_AMOUNT 
			FROM PayableHistory A WITH ( NOLOCK)
			INNER JOIN StaticDataDetail B WITH ( NOLOCK ) ON A. BENEFIT_ID = B.ROWID
		WHERE FY_ID=@fiscalYear
			AND RUN_MONTH = @runmonth
			AND EMPLOYEE_ID = @emp_id
		
		UNION ALL
			
		SELECT B.TYPE_ID , HEAD_ID BENEFIT_ID,B. DETAIL_DESC,EMPLOYEE_ID ,  AMOUNT   AS PAID_AMOUNT
			FROM AdhocPayment A WITH ( NOLOCK )
			INNER JOIN StaticDataDetail B WITH ( NOLOCK ) ON A.HEAD_ID= B .ROWID
			WHERE EMPLOYEE_ID =@emp_id
			AND APPLIED_DATE BETWEEN @monthStartDate AND @monthEndDate
			AND ADD_DEDUCT = 'A'
			AND ISNULL(a.IS_PAID,0)=0
		
	
	) X GROUP BY TYPE_ID , BENEFIT_ID , DETAIL_DESC , EMPLOYEE_ID 
	
	UNION ALL
	
	---RETIREMENT CONTRIBUTION---
	SELECT DETAIL_TITLE,dbo.ShowDecimal(SUM(B.AMOUNT_EMPLOYER)) AS AMOUNT FROM StaticDataDetail A WITH ( NOLOCK) ,
	( 
		SELECT A.CONTRIBUTED_TO,B.AMOUNT_EMPLOYER FROM Contribution A WITH ( NOLOCK ), ContributionHistory B WITH ( NOLOCK )
		WHERE A . ID=B. CONTRIBUTION_ID
		AND B . FY_ID=@fiscalYear AND B .RUN_MONTH = @runmonth
		AND A.EMPLOYEE_ID= @emp_id
		UNION ALL
		SELECT CONTB_TO , CONTB_AMOUNT_EMPLOYER FROM Adhoc_Contribution WITH ( NOLOCK) WHERE EMPLOYEE_ID= @emp_id
		AND CONTB_DATE BETWEEN @monthStartDate AND @monthEndDate
	) B 
	WHERE A.ROWID= B .CONTRIBUTED_TO GROUP BY DETAIL_TITLE
	
	
	
	---- START DEDUCTION----
			---ADHOC DEDUCTION--
	SELECT DETAIL_DESC,dbo.ShowDecimal(ABS(AMOUNT)) AS AMOUNT FROM 
	(
		SELECT TYPE_ID , BENEFIT_ID , DETAIL_DESC , EMPLOYEE_ID , SUM ( PAID_AMOUNT ) AS AMOUNT FROM
		(			
			SELECT B.TYPE_ID , HEAD_ID BENEFIT_ID,B. DETAIL_DESC,EMPLOYEE_ID ,  AMOUNT  AS PAID_AMOUNT
			FROM AdhocPayment A WITH ( NOLOCK )
			INNER JOIN StaticDataDetail B WITH ( NOLOCK ) ON A.HEAD_ID= B .ROWID
			WHERE EMPLOYEE_ID =@emp_id
			AND APPLIED_DATE BETWEEN @monthStartDate AND @monthEndDate
			AND ADD_DEDUCT = 'D'
			AND ISNULL(a.IS_PAID,0)=0
						
		)X GROUP BY TYPE_ID, BENEFIT_ID , DETAIL_DESC, EMPLOYEE_ID 
	) Z 

	
	UNION ALL
	
	---RETIREMENT DEDUCTION---
	SELECT DETAIL_TITLE,dbo.ShowDecimal(SUM(B.AMT)) AS AMOUNT FROM StaticDataDetail A WITH ( NOLOCK ) ,
	(
		SELECT A.CONTRIBUTED_TO,B.AMOUNT_EMPLOYER + B.AMOUNT_EMPLOYEE AS AMT FROM Contribution A WITH (NOLOCK), ContributionHistory B WITH ( NOLOCK )
		WHERE A . ID=B. CONTRIBUTION_ID
		AND B . FY_ID=@fiscalYear
		AND B .RUN_MONTH = @runmonth
		AND A.EMPLOYEE_ID=@emp_id
		UNION ALL
		
		SELECT CONTB_TO , ISNULL(CONTB_AMOUNT_EMPLOYER,0) + ISNULL(CONTB_AMOUNT_EMPLOYEE,0)  AS AMT FROM Adhoc_Contribution WITH (NOLOCK ) WHERE EMPLOYEE_ID=@emp_id
		AND CONTB_DATE BETWEEN @monthStartDate AND @monthEndDate
	) B
	WHERE A.ROWID= B .CONTRIBUTED_TO GROUP BY DETAIL_TITLE
	
	UNION ALL
	
	Select DETAIL_DESC, dbo.ShowDecimal(sum(Deduction_Amt)) 
	from PremiumDeduction PD WITH (NOLOCK)
	inner join Insurance I on I.ID=PD.Insurance_ID
	inner join StaticDataDetail sdd on sdd.ROWID=I.INSURER
	where Deduction_Date between @monthStartDate AND @monthEndDate
	AND PD.EMP_ID=@emp_id
	Group BY DETAIL_DESC
	
	UNION ALL
	
	--LOAN DEDUCTION---
	SELECT DETAIL_DESC, dbo.ShowDecimal(SUM(paid_amount)) AS AMOUNT FROM loan_collection A WITH (NOLOCK),LOAN B WITH (NOLOCK ), StaticDataDetail C WITH (NOLOCK)
		WHERE A.loan_id=B.ID
		AND B. LOAN_TYPE=C.ROWID
		AND A. emp_id =@emp_id
		AND A.paid_date BETWEEN @monthStartDate AND @monthEndDate
	GROUP BY DETAIL_DESC
	UNION ALL
	--ADVANCE DEDUCTION---
	SELECT DETAIL_DESC, dbo.ShowDecimal(SUM(paid_amount)) AS AMOUNT FROM AdvanceCollection A WITH (NOLOCK), ADVANCE B WITH (NOLOCK), StaticDataDetail C WITH (NOLOCK)
		WHERE A . ADVANCE_ID=B.ID
		AND B. ADVANCE_TYPE=C.ROWID
		AND B. EMPLOYEE_ID=@emp_id
		AND A.paid_date BETWEEN @monthStartDate AND @monthEndDate
	GROUP BY DETAIL_DESC
	UNION ALL
	-- TAX DEDUCTION---
	SELECT 'TAX Deducted' AS 'Tax Deducted',dbo.showdecimal(ROUND(Tax_This_Month,2))AS Tax_This_Month FROM TaxCalculation WITH (NOLOCK)
	WHERE Emp_Id= @emp_id AND FY_ID =@fiscalYear AND Run_Month= @runMonth
	
---END DEDUCTION----- 
END
GO
