USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_LeaveCallBack]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[proc_LeaveCallBack]	
	@flag					char(2)
	,@LEAVEREQ_ID			int					=	null
	,@CALLBACK_ID			INT					=	NULL
	,@FromDate				VARCHAR(10)			=	null
	,@ToDate				VARCHAR(10)			=	null
	,@Days					MONEY				=	null
	,@entryUser				varchar(10)			=	null
	,@entryDate				date				=	null
	

as

SET NOCOUNT ON;

	DECLARE @LeaveType				int
			,@Employee_ID			int
			,@FORCE_LEAVE_DEDUCT	MONEY
			,@APPROVED_DAYS			MONEY
			,@APPROVED_FROM			DATE
			,@APPROVED_TO			DATE
			,@TOTALCALLBACKDAYS		MONEY
	
	SELECT @entryDate = GETDATE()
	
	IF @CALLBACK_ID IS NOT NULL
	BEGIN
		SELECT TOP 1 @LEAVEREQ_ID = LEAVE_REQUEST_ID 
		FROM LeaveCallBack 
		WHERE ID = @CALLBACK_ID
	END
	
	
	SELECT TOP 1
			@Employee_ID	= REQUESTED_BY
			,@LeaveType		= LEAVE_TYPE_ID
			,@APPROVED_DAYS = APPROVED_DAYS
			,@APPROVED_FROM = APPROVED_FROM
			,@APPROVED_TO	= APPROVED_TO
	FROM LeaveRequest
	WHERE ID = @LEAVEREQ_ID
	
	SELECT @TOTALCALLBACKDAYS =SUM(CALL_BACK_DAYS) 
		FROM LeaveCallBack
		WHERE LEAVE_REQUEST_ID = @LEAVEREQ_ID
	
	SELECT Top 1 
		@FORCE_LEAVE_DEDUCT	= ISNULL(FORCE_LEAVE_DEDUCT,0)
	FROM leaveAssignment
	WHERE LEAVE_TYPE_ID = @LeaveType
		AND EMPLOYEE_ID = @Employee_ID
	
	
	IF @flag = 'sa' --SELECT WHILE ADDING
	BEGIN
		SELECT dbo.GetEmployeeInfoById(REQUESTED_BY) REQUESTED_BY
		,LEAVE_TYPE_ID
		,convert(varchar(10),APPROVED_FROM,101) APPROVED_FROM
		,convert(varchar(10),APPROVED_TO,101) APPROVED_TO
		,APPROVED_DAYS
		,convert(varchar(10),APPROVED_FROM,101)  CALLBACK_FROM
		,convert(varchar(10),APPROVED_TO,101)  CALLBACK_TO
		,APPROVED_DAYS CALL_BACK_DAYS
		FROM LeaveRequest WHERE ID = @LEAVEREQ_ID
		
		RETURN
	END
	
	IF @flag = 'sv' --SELECT WHILE VIEWING
	BEGIN
		SELECT R.REQUESTED_BY
			,R.LEAVE_TYPE_ID
			,R.APPROVED_FROM
			,R.APPROVED_TO
			,R.APPROVED_DAYS
			,C.FROM_DATE CALLBACK_FROM
			,C.TO_DATE CALLBACK_TO
			,C.CALL_BACK_DAYS
		FROM LeaveRequest R
			JOIN LeaveCallBack C 
			ON R.ID = C.LEAVE_REQUEST_ID
		WHERE R.ID = @LEAVEREQ_ID
			AND C.ID = @CALLBACK_ID
			
		RETURN
		
	END

	--VALIDATION
	BEGIN
		IF EXISTS(SELECT ID FROM LeaveRequest WHERE ISMANUAL = 1 AND ID = @LEAVEREQ_ID)
		BEGIN
			SELECT '0' SUCCESS
						,'SORRY, RECORDED LEAVE CAN''T BE CALLBACK.' REMARKS
			RETURN
		END
		
		IF EXISTS(SELECT ID FROM LeaveRequest WHERE SUBSTITUTED_FROM IS NOT NULL AND ID = @LEAVEREQ_ID)
		BEGIN
			SELECT '0' SUCCESS
						,'SORRY, SUBSTITUTED LEAVE CAN''T BE CALLBACK.' REMARKS
			RETURN
		END
		
		--IF EXISTS(SELECT ID FROM LeaveRequest WHERE IS_LFA =1
		--	AND @APPROVED_DAYS - ISNULL(@TOTALCALLBACKDAYS,0) - ISNULL(@Days,0) 
		--					< ISNULL(@FORCE_LEAVE_DEDUCT,0)
		--	 AND ID = @LEAVEREQ_ID)
		--BEGIN
		--	SELECT '0' SUCCESS
		--					,'SORRY, LFA DAYS WILL BE INSUFFICIENT.' REMARKS
		--	RETURN
		--END
		
		IF ( @Days > @APPROVED_DAYS )
		BEGIN
			SELECT '0' SUCCESS
							,'SORRY, CALLBACK DAYS MORE THAN APPROVED DAYS.' REMARKS
			RETURN
		END
		
		IF (DATEDIFF(DAY,@APPROVED_FROM,@FromDate)<0 
			OR DATEDIFF(DAY,@APPROVED_TO,@ToDate)>0)
		BEGIN
			SELECT '0' SUCCESS
							,'SORRY, CALLBACK DAYS MUST BE WITHIN APPROVED DAYS.' REMARKS
			RETURN
		END
		
		IF EXISTS(SELECT ID FROM LeaveCallBack
					WHERE @FromDate BETWEEN FROM_DATE AND TO_DATE
					OR @ToDate BETWEEN FROM_DATE AND TO_DATE
					AND LEAVE_REQUEST_ID = @LEAVEREQ_ID
					)
		BEGIN
			SELECT '0' SUCCESS
							,'SORRY, CALLBACK FOR SELECTED DAY ALREADY BEEN TAKEN' REMARKS
			RETURN
		END
		
	END
	
	BEGIN TRY
		IF @flag = 'i' --ADD CALLBACK
		BEGIN
			INSERT INTO LeaveCallBack										  
					(LEAVE_REQUEST_ID,FROM_DATE,TO_DATE,CALL_BACK_DAYS
					,APPROVED_FROM,APPROVED_TO
					,CALL_BACK_BY,CALL_BACK_DATE)
			SELECT @LEAVEREQ_ID,@FromDate,@ToDate,@Days
					,@APPROVED_FROM,@APPROVED_TO
					,@entryUser,@entryDate
					
			--UPDATE leaveAssignment
			--	SET LEAVE_TAKEN_THIS_YEAR = LEAVE_TAKEN_THIS_YEAR - @Days
			--	WHERE LEAVE_TYPE_ID = @LeaveType AND EMPLOYEE_ID = @Employee_ID


			if exists(select * from leaveAssignment where EMPLOYEE_ID=@Employee_ID and LEAVE_TYPE_ID=11)
			BEGIN	
				UPDATE leaveAssignment
				SET  NO_OF_DAYS_ACTUAL=ISNULL(NO_OF_DAYS_ACTUAL,0)  + @Days,
					max_req_days=@Days,
					min_req_days=@Days	
				WHERE LEAVE_TYPE_ID = 11 AND EMPLOYEE_ID = @Employee_ID				
			END
			ELSE
			BEGIN
				
				DECLARE @from_date DATE,@to_date DATE
				SELECT @from_date=FromDate,@to_date=todate FROM leaveAssignment WHERE ID=
				(SELECT leaveAssignId FROM LeaveRequest WHERE ID=@LEAVEREQ_ID)

				INSERT INTO	 leaveAssignment(
							 EMPLOYEE_ID
							,LEAVE_TYPE_ID
							,NO_OF_DAYS_ACTUAL
							,IS_DISABLED
							,IS_SATURDAY
							,IS_HOLIDAY
							,LAST_YEAR_LEAVE
							,LEAVE_TAKEN_THIS_YEAR
							,CREATED_BY
							,CREATED_DATE
							,IS_LFA
							,IS_UNLIMITED
							,IS_CASHABLE
							,IS_HALFDAY
							,IS_SUBSTITUTED
							,RELIEVING
							,FromDate
							,ToDate
							,max_req_days
							,min_req_days
											)
				SELECT   @Employee_ID
						,ID
						,@Days
						,IS_ACTIVE
						,IS_SATURDAY
						,IS_HOLIDAY
						,'0'
						,'0'
						,@entryUser
						,GETDATE()
						,IS_LFA
						,IS_UNLIMITED
						,IS_CASHABLE
						,IS_HOURLY
						,IS_SUBSTITUTED
						,RELIEVING
						,@from_date
						,@to_date 
						,@Days
						,@Days
				FROM LeaveTypes WHERE ID=11	 --CALLED BACK LEAVE ASSIGNED
				
			END
							
			SELECT '1' SUCCESS,'CALLBACK ADDED SUCCESSFULLY' REMARKS
			RETURN
		END
		
		IF @flag = 'd' --DELETE CALLBACK
		BEGIN
			DELETE FROM LeaveCallBack
				WHERE ID = @CALLBACK_ID
			
			UPDATE leaveAssignment
				SET NO_OF_DAYS_ACTUAL = NO_OF_DAYS_ACTUAL - @Days
				WHERE LEAVE_TYPE_ID = 11 AND EMPLOYEE_ID = @Employee_ID
							
			SELECT '1' SUCCESS,'CALLBACK DELETED SUCCESSFULLY' REMARKS
			RETURN
		END
		
	END TRY
	
	
	BEGIN CATCH
		SELECT '0' SUCCESS ,'SORRY, FAILED TO PROCESS.' REMARKS
			RETURN
	END CATCH
GO
