USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procFamilyMembersOfAnEmployee]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* 
	(1)Procedure Definition:
    ------------------------
	THIS PROCEDURE PREPARES REPORT ABOUT FAMILY MEMBERS OF AN EMPLOYEE
	 		
	(2) Relational Overview:
	------------------------
	(a) relation between above STAFF AND THEIR family Members
*/
-- [exec PROCEDURE_NAME	BRANCHID, DEPARTMENTID, EMPLOYEEID, POSITIONID, , REPORTTYPE ]

--  procFamilyMembersOfAnEmployee 6, null, null, null, FamilyCount
--  procFamilyMembersOfAnEmployee 6, 20, null, 1, FamilyCount

--  procFamilyMembersOfAnEmployee 6, 20, 1000, null, FamilyMembers

create PROCEDURE [dbo].[procFamilyMembersOfAnEmployee]
	@branchId		    varchar(25) = null,
	@departmentId		varchar(25) = null,
	@employeeId			varchar(25) = null,
	@positionId			varchar(25) = null,
	@reportType			varchar(25) = null

AS
SET NOCOUNT ON;
BEGIN

-- ** FAMILY MEMBERS OF AN EMPLOYEE ** --

--1-A-- COUNT FAMILY MEMBERS OF EMPLOYEES IN A BRANCH

	if @branchId is not null --*--
		and @departmentId is null
			and @employeeId is null
				and @positionId is null
					and @reportType = 'FamilyCount'
		begin
			select 
				e.FIRST_NAME + ' ' + e.MIDDLE_NAME + ' ' + e.LAST_NAME+ ' - [' + CAST(e.EMPLOYEE_ID AS VARCHAR(50)) +']' AS 'Full Name - GUID'
				,count(fm.ID) as 'Family Members'
			from Employee as e
				inner join Departments   as d  on d.DEPARTMENT_ID=e.DEPARTMENT_ID
				inner join Branches		 as b  on b.BRANCH_ID= D.BRANCH_ID AND D.BRANCH_ID= @branchId
				inner join FamilyMembers as fm on fm.EMPLOYEE_ID = e.EMPLOYEE_ID
				group by 
					e.FIRST_NAME + ' ' + e.MIDDLE_NAME + ' ' + e.LAST_NAME+ ' - [' + CAST(e.EMPLOYEE_ID AS VARCHAR(50)) +']'
		end

--1-B-- COUNT FAMILY MEMBERS OF EMPLOYEES IN A DEPARTMENT OF A PARTICULAR BRANCH

	if @branchId is not null --*--
		and @departmentId is not null --*--
			and @employeeId is null
				and @positionId is null
					and @reportType = 'FamilyCount'
		begin
			select
				e.FIRST_NAME + ' ' + e.MIDDLE_NAME + ' ' + e.LAST_NAME+ ' - [' + CAST(e.EMPLOYEE_ID AS VARCHAR(50)) +']' AS 'Full Name - GUID',
				count(fm.ID) as 'Family Members'
			
			from Employee as e
			
				inner join Departments	 as d  on d.DEPARTMENT_ID=e.DEPARTMENT_ID	AND e.DEPARTMENT_ID	= @departmentId
				inner join Branches		 as b  on b.BRANCH_ID= D.BRANCH_ID			AND D.BRANCH_ID		= @branchId
				inner join FamilyMembers as fm on fm.EMPLOYEE_ID = e.EMPLOYEE_ID
											
				group by 
					e.FIRST_NAME + ' ' + e.MIDDLE_NAME + ' ' + e.LAST_NAME+ ' - [' + CAST(e.EMPLOYEE_ID AS VARCHAR(50)) +']',
						b.BRANCH_NAME,
							d.DEPARTMENT_NAME,
								e.FIRST_NAME
				order by
					b.BRANCH_NAME,
						d.DEPARTMENT_NAME,
							e.FIRST_NAME
		end
		
--1-C-- COUNT FAMILY MEMBERS OF EMPLOYEES IN A PARTICULAR POSITION OF A PARTICULAR BRANCH 

	if @branchId is not null --*--
		and @departmentId is null 
			and @employeeId is null
				and @positionId is not null --*--
					and @reportType = 'FamilyCount'
		begin
			select
				e.FIRST_NAME + ' ' + e.MIDDLE_NAME + ' ' + e.LAST_NAME+ ' - [' + CAST(e.EMPLOYEE_ID AS VARCHAR(50)) +']' AS 'Full Name - GUID',
				count(fm.ID) as 'Family Members'
			
			from Employee as e
			
				inner join Departments	 as d	on d.DEPARTMENT_ID	= e.DEPARTMENT_ID
				inner join Branches		 as b	on b.BRANCH_ID		= D.BRANCH_ID	AND D.BRANCH_ID = @branchId
				inner join FamilyMembers as fm	on fm.EMPLOYEE_ID	= e.EMPLOYEE_ID
				inner join Position		 as p	on p.POSITION_ID	= e.POSITION_ID AND e.POSITION_ID=@positionId							
				group by 
					e.FIRST_NAME + ' ' + e.MIDDLE_NAME + ' ' + e.LAST_NAME+ ' - [' + CAST(e.EMPLOYEE_ID AS VARCHAR(50)) +']',
						b.BRANCH_NAME,
							d.DEPARTMENT_NAME,
								e.FIRST_NAME
				order by
					b.BRANCH_NAME,
						d.DEPARTMENT_NAME,
							e.FIRST_NAME
		end		
		
--1-D-- COUNT FAMILY MEMBERS OF EMPLOYEES IN A PARTICULAR POSITION OF A PARTICULAR BRANCH AND IN A PARTICULAR DEPARTMENT

	if @branchId is not null --*--
		and @departmentId is not null --*--
			and @employeeId is null
				and @positionId is not null --*--
					and @reportType = 'FamilyCount'
		begin
			select
				e.FIRST_NAME + ' ' + e.MIDDLE_NAME + ' ' + e.LAST_NAME+ ' - [' + CAST(e.EMPLOYEE_ID AS VARCHAR(50)) +']' AS 'Full Name - GUID',
				count(fm.ID) as 'Family Members'
			
			from Employee as e
			
				inner join Departments	 as d  on d.DEPARTMENT_ID	= e.DEPARTMENT_ID	AND D.DEPARTMENT_ID	= @departmentId
				inner join Branches		 as b  on b.BRANCH_ID		= D.BRANCH_ID		AND d.BRANCH_ID		= @branchId
				inner join FamilyMembers as fm on fm.EMPLOYEE_ID	= e.EMPLOYEE_ID
				inner join Position		 as p  on p.POSITION_ID		= e.POSITION_ID		AND e.POSITION_ID	= @positionId						
				
				group by
					e.FIRST_NAME + ' ' + e.MIDDLE_NAME + ' ' + e.LAST_NAME+ ' - [' + CAST(e.EMPLOYEE_ID AS VARCHAR(50)) +']',
						b.BRANCH_NAME,
							d.DEPARTMENT_NAME,
								e.FIRST_NAME
				order by
					b.BRANCH_NAME,
						d.DEPARTMENT_NAME,
							e.FIRST_NAME
		end		
		
--1-E-- LIST OUT FAMILY MEMBERS OF A PARTICULAR EMPLOYEE

	if @branchId is not null --*--
		and @departmentId is not null --*--
			and @employeeId is not null -- * --
				
					and @reportType = 'FamilyMembers'
		begin
			select
				e.FIRST_NAME + ' ' + e.MIDDLE_NAME + ' ' + e.LAST_NAME+ ' - [' + CAST(e.EMPLOYEE_ID AS VARCHAR(50)) +']' AS 'Full Name - GUID',
				fm.RELATION as 'Relation',
				fm.FIRST_NAME+ ' ' + fm.MIDDLE_NAME + ' ' + fm.LAST_NAME as 'Full Name of Relative',
				fm.MARITAL_STATUS as 'Marital Status',
				fm.DATE_OF_BIRTH as 'Birth Date'
			from Employee as e 
			inner join FamilyMembers as fm on fm.EMPLOYEE_ID=e.EMPLOYEE_ID
			and e.EMPLOYEE_ID =@employeeId				
		end		

END
GO
