USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_GetColumnToRow]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROC [dbo].[proc_GetColumnToRow](
@table_name VARCHAR(100)
,@field_name VARCHAR(100)
,@data_id VARCHAR(100)
,@dataList VARCHAR ( MAX) = NULL OUTPUT
)
AS
BEGIN
		SET NOCOUNT ON
		DECLARE
		@fieldList VARCHAR(MAX )
		,@fieldList2 VARCHAR(MAX)
		,@sql VARCHAR ( MAX )
		
		SELECT
			@fieldList = ISNULL ( @fieldList + ', ' , '') + + '[' + column_name + ']'
			,@fieldList2 = ISNULL(@fieldList2 + ', ', '' ) + 'CAST (ISNULL(' + '[' + column_name + '] , '''') AS VARCHAR(MAX)) [' + column_name + ']'
		FROM INFORMATION_SCHEMA . COLUMNS WHERE TABLE_NAME = @table_name
		SET @sql = '
				SELECT field, data
				FROM
				(
				SELECT ' + @fieldList2 + ' FROM ' + @table_name + ' WHERE ' + @field_name + ' = ''' + @data_id + '''
				) p
				UNPIVOT (Data FOR Field IN
				( ' + @fieldList + ' )
				)AS unpvt;'
				
		DECLARE @temp_table TABLE ( Field VARCHAR (50), Data VARCHAR ( MAX))
		
		INSERT @temp_table (Field, data)
		EXEC (@sql)
		SET @fieldList = NULL
		SELECT
			@fieldList = ISNULL ( @fieldList + '-:::-' , '' ) + Field + ' = ' + Data
		FROM @temp_table
		SET @dataList = @fieldList
		--SELECT @dataList
END
GO
