USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procManageVehicleInfo]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[procManageVehicleInfo]
(
	 @ID	INT
	,@VehNumber VARCHAR(50)
	,@VehRegNo	VARCHAR(50)
	,@ChassisNo	VARCHAR(50)
	,@EngineNo	VARCHAR(50)
	,@GearBoxNo	VARCHAR(50)
	,@BatteryNo	VARCHAR(50)
	,@ActionBy	VARCHAR(50)
	,@ActionDate DATETIME	
	,@Mode		VARCHAR(1)
)

AS 
BEGIN

	SET NOCOUNT ON
	
	IF ( @Mode ='I')
	BEGIN
		INSERT INTO [Vehicles]
           ([VehicleNumber]
           ,[VehRegNo]
           ,[ChassisNo]
           ,[EngineNo]
           ,[GearBoxNo]
           ,[BatteryNo]
           ,[CreatedBy]
           ,[CreatedDate])           
     VALUES
           (@VehNumber
           ,@VehRegNo
           ,@ChassisNo
           ,@EngineNo
           ,@GearBoxNo
           ,@BatteryNo
           ,@ActionBy
           ,@ActionDate)
    END
           
    IF (@Mode = 'U')
    BEGIN
			UPDATE [Vehicles]
			SET [VehicleNumber] = @VehNumber
			,[VehRegNo] = @VehRegNo
			,[ChassisNo] = @ChassisNo
			,[EngineNo] = @EngineNo
			,[GearBoxNo] = @GearBoxNo
			,[BatteryNo] = @BatteryNo
			,[ModifiedBy] = @ActionBy
			,[ModifiedDate] =  @ActionDate
    WHERE 
			VehID = @ID	
    END
    
    IF (@Mode = 'D')
    BEGIN
		DELETE FROM Vehicles WHERE VehID = @ID
    END
    
	
END
GO
