USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[ProcDrilDownRpt]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
EXEC [ProcDrilDownRpt] 'a','1','11'
EXEC [ProcDrilDownRpt] 'b','1','3'
*/
create PROCEDURE [dbo].[ProcDrilDownRpt]
				@FLAG VARCHAR(1),				
				@BRANCH_ID INT,
				@GROUP_ID INT
AS				
SET NOCOUNT ON;

IF(@FLAG='a')
BEGIN
			IF OBJECT_ID('tempdb..#TEMP_ASSET_DETAIL') IS NOT NULL
			DROP TABLE #TEMP_ASSET_DETAIL

			IF OBJECT_ID('tempdb..#temp_group_id') IS NOT NULL
			DROP TABLE #temp_group_id

			IF OBJECT_ID('tempdb..#TEMP_REQUIRED_TABLE') IS NOT NULL
			DROP TABLE #TEMP_REQUIRED_TABLE

			DECLARE @intPartId AS INT,@intTotalRows AS INT,@GROUP_NAME AS VARCHAR(100),@SUB_GROUP_ID AS INT

			SELECT CAST(id AS INT)AS id,item_name
			INTO #temp_group_id
			FROM ASSET_ITEM WHERE parent_id=@GROUP_ID


			ALTER TABLE #temp_group_id ADD RowID INT IDENTITY(1,1)

			SELECT @intPartId=MAX(RowID) FROM #temp_group_id

			CREATE TABLE #TEMP_REQUIRED_TABLE
			(
				GROUP_ID INT,
				GROUP_NAME VARCHAR(500),
				PURCHASE_VALUE MONEY,
				ACC_DEP MONEY
			)
				
			SET @intTotalRows=1
			WHILE @intPartId > =  @intTotalRows
			BEGIN
					SELECT @GROUP_NAME=item_name,@SUB_GROUP_ID=id FROM #temp_group_id WHERE RowID=@intTotalRows

					;WITH CTE(id,item_name,item_desc,parent_id,is_product)
					AS
					(		
						SELECT id,item_name,item_desc,parent_id,is_product  FROM ASSET_ITEM WHERE id  = @SUB_GROUP_ID

						UNION ALL
						
						SELECT d.id,d.item_name,d.item_desc,d.parent_id,d.is_product FROM ASSET_ITEM D
						INNER JOIN CTE c ON d.parent_id = c.id
					)
							
					SELECT AP.id,C.item_name
					INTO #TEMP_ASSET_DETAIL
					FROM CTE C INNER JOIN ASSET_PRODUCT AP ON AP.item_id=C.ID
					WHERE is_product = 1 
					ORDER BY AP.id ASC;
					
					INSERT #TEMP_REQUIRED_TABLE
					SELECT @SUB_GROUP_ID AS GROUP_ID,@GROUP_NAME AS GROUP_NAME,SUM(AI.purchase_value) AS PURCHASE_VALUE,SUM(AI.acc_depriciation) AS ACC_DEP 				
					FROM ASSET_INVENTORY AI INNER JOIN #TEMP_ASSET_DETAIL TEMP ON TEMP.ID=AI.product_id 
					WHERE AI.branch_id=@BRANCH_ID
					
					DROP TABLE #TEMP_ASSET_DETAIL
					SET @intTotalRows=@intTotalRows+1
			END
			SELECT GROUP_ID,GROUP_NAME as [Group Name],ISNULL(PURCHASE_VALUE,0) AS [Purchase Value],ISNULL(ACC_DEP,0) AS  [Acc. Depreciation],
			(ISNULL(PURCHASE_VALUE,0)-ISNULL(ACC_DEP,0)) AS [Net Value]
			FROM #TEMP_REQUIRED_TABLE
END

IF(@FLAG='b')
BEGIN
		SELECT
			 ROW_NUMBER() OVER(ORDER BY AI.asset_number) [S.N.] 
			,AP.porduct_code [Asset Type]
			,AI.asset_number AS [Asset Number]
			,CONVERT(VARCHAR,AI.booked_date,107) AS [Booked Date]
			,AI.purchase_value AS [Purchase Value]
			,AI.acc_depriciation AS [Acc. Dep.]
			,(AI.purchase_value-AI.acc_depriciation) AS [Net Value]
			,AI.narration [Narration]
		FROM ASSET_INVENTORY AI INNER JOIN ASSET_PRODUCT AP ON AP.id=AI.product_id WHERE AI.group_id=@GROUP_ID AND AI.branch_id=@BRANCH_ID
		AND AI.asset_status='Active'
END	
 
IF(@FLAG='c')
BEGIN

	IF EXISTS(SELECT TOP 1 * FROM ASSET_ITEM WHERE parent_id=@GROUP_ID AND is_product=0)
	BEGIN
		SELECT '1' AS msg
		RETURN;
	END
	ELSE
	BEGIN
		SELECT '0' AS msg
		RETURN;
	END
END
GO
