USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procAssignRoles]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[procAssignRoles]
	@flag varchar(2),
	@user_id varchar (20)=null,
	@role_id varchar(20)=null
as

if @flag='u'
begin
	set nocount on;
	
	delete from user_role where user_id=@user_id
	
	insert into user_role (user_id,role_id) 
	Values(@user_id,@role_id)
	
end

if @flag='a'
begin

	set nocount on;
	select * from user_role where user_id=@user_id
	
end
GO
