USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[ProcStaticDataView]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- EXEC ProcStaticDataView 'u',@rowid='563',@DETAIL_TITLE='General Service123',@DETAIL_DESC='General Service1',@user='admin'    
    
CREATE proc [dbo].[ProcStaticDataView]    
 @flag char(10),    
 @type_id int=null,    
 @mul_typeid varchar(200)=null,    
 @rowid int=null,    
 @DETAIL_TITLE varchar(200)=null,    
 @DETAIL_DESC varchar(500)=null,    
 @user varchar(100) =null,    
 @applyOT char(2)=null    
AS    
    
set nocount on ;    
    
if @flag ='a'    
begin    
     
     
 select * from StaticDataDetail with (nolock)      
 where [TYPE_ID]=@type_id    
     
end    
    
if @flag ='b'    
begin    
     
 select ROWID , DETAIL_TITLE, DETAIL_DESC from StaticDataDetail with (nolock)      
 where [TYPE_ID]=@type_id ORDER BY DETAIL_TITLE ASC    
END    
    
if @flag ='s'    
begin    
     
 select ROWID , DETAIL_TITLE, DETAIL_DESC,value from StaticDataDetail with (nolock)      
 where [TYPE_ID]=@type_id ORDER BY DETAIL_TITLE ASC    
     
end    
  
if @flag ='sd'    
begin    
     
 select ROWID , DETAIL_TITLE, DETAIL_DESC,value from StaticDataDetail with (nolock)      
 where [TYPE_ID]=@type_id and ROWID IN (1356,1357,1353,2054) ORDER BY DETAIL_TITLE ASC    
     
end   
    
if @flag ='m'    
begin    
    
 exec (' select ROWID, DETAIL_TITLE from StaticDataDetail where TYPE_ID in ('+@mul_typeid+')' )    
end    
    
if @flag ='u'    
begin    
     
 if exists(select ROWID from StaticDataDetail      
   where ROWID=@rowid and isnull(IS_DELETE,'Y')='N')    
 begin    
     
  select 'System Generated data can not modify'    
  return;    
      
 end    
    
 update StaticDataDetail  set    
  DETAIL_TITLE=@DETAIL_TITLE,    
  DETAIL_DESC=@DETAIL_DESC,    
  applyOT=@applyOT    
 where ROWID=@rowid and isnull(IS_DELETE,'Y')<>'N'    
     
     
end    
    
if @flag ='d'    
begin    
     
 DELETE     
  from StaticDataDetail      
 where ROWID=@rowid and isnull(IS_DELETE,'Y')<>'N'    
     
end
GO
