USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[ProcBranchSummaryRpt]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
Exec ProcBranchSummaryRpt @flag='t', @SUPERVISOR_ID='1439',@FROM_DATE='2012-04-01',@TO_DATE='2012-04-30'

*/

CREATE PROC [dbo].[ProcBranchSummaryRpt]
	@FLAG CHAR(10),
	@FROM_DATE VARCHAR(10)=NULL,
	@TO_DATE VARCHAR(20)=NULL,
	@SUPERVISOR_ID VARCHAR(20)=NULL,
	@EMPLOYEE_ID VARCHAR(300)=NULL
	
AS

SET NOCOUNT ON ;
SET XACT_ABORT ON

Declare @branchID INT

Select @branchID=BRANCH_ID from EMPLOYEE where EMPLOYEE_ID=@SUPERVISOR_ID

IF @FLAG ='L'
BEGIN	
	SELECT 
		ROW_NUMBER()OVER(ORDER BY E.EMP_CODE) AS [S.N.]
		,E.EMP_CODE [EMP CODE]
		,E.FIRST_NAME+' '+E.MIDDLE_NAME+' '+LAST_NAME AS [EMPLOYEE NAME]
		,LT.NAME_OF_LEAVE AS [LEAVE NAME]
		,ISNULL(LA.NO_OF_DAYS_ACTUAL,0) AS [ASSIGNED DAYS]
		,ISNULL(LA.LAST_YEAR_LEAVE,0) AS [ACCUMULATED LEAVE DAYS]
		,ISNULL(LA.NO_OF_DAYS_ACTUAL,0)+ISNULL(LA.LAST_YEAR_LEAVE,0) AS [TOTAL LEAVE DAYS]
		,ISNULL(LA.LEAVE_TAKEN_THIS_YEAR,0) AS [LEAVE TAKEN THIS YEAR]
		,ISNULL(LA.NO_OF_DAYS_ACTUAL,0)+ISNULL(LA.LAST_YEAR_LEAVE,0)-ISNULL(LA.LEAVE_TAKEN_THIS_YEAR,0) AS [REMAINING LEAVE DAYS]
	FROM leaveAssignment LA INNER JOIN Employee E ON E.EMPLOYEE_ID=LA.EMPLOYEE_ID INNER JOIN LeaveTypes LT ON LT.ID=LA.LEAVE_TYPE_ID
	WHERE E.BRANCH_ID=@branchID
	AND LA.EMPLOYEE_ID = ISNULL(@EMPLOYEE_ID,LA.EMPLOYEE_ID) 
	AND EMP_STATUS=458
	ORDER BY E.EMP_CODE
END

IF @FLAG='A'
begin

     declare @intStartValue as int
	 declare @intEndValue as int
	 declare @intIncremental as int

	SET @intStartValue =DAY(@FROM_DATE)
	SET @intEndValue =DATEDIFF(dd,@FROM_DATE,@TO_DATE)
	
	IF OBJECT_ID('tempdb..#REPORT') IS NOT NULL
	drop table #REPORT
	
	IF OBJECT_ID('tempdb..#DATELIST') IS NOT NULL
	drop table #DATELIST
	
	IF OBJECT_ID('tempdb..#EMPLIST') IS NOT NULL
	drop table #EMPLIST
	
	CREATE TABLE #EMPLIST
	(
		Emp_id int,
		emp_name varchar(70),
		JOINED_DATE VARCHAR(20)
	)
	
	CREATE TABLE #REPORT
	(	
		Emp_id int,
		ATT_DATE DATETIME,
		ATT_DAY varchar(20),
		emp_name varchar(70),
		CARD_NUMBER VARCHAR(200),
		LOGIN_DATE VARCHAR(20),
		LOGOUT_DATE VARCHAR(20),
		LOGIN_TIME varchar(20),
		LOGOUT_TIME varchar(20),
		ATT_STATUS VARCHAR(20),
		ATT_HOUR VARCHAR(20),
		REASON_IN VARCHAR(500),
		REASON_OUT VARCHAR(500),
		JOINED_DATE VARCHAR(20)
	)
	
	CREATE TABLE #DATELIST
	(
		Emp_id int,
		ATT_DATE DATETIME,
		ATT_DAY varchar(20),
		ATT_STATUS VARCHAR(20)
	)

	------------------ insert into #employee list-------------------

	insert into #EMPLIST(Emp_id,emp_name,JOINED_DATE)
	select EMPLOYEE_ID, FIRST_NAME + ' ' + MIDDLE_NAME + ' ' + LAST_NAME,JOINED_DATE  from Employee a
	WHERE BRANCH_ID=@branchID
	AND EMP_STATUS=458
	
	--select * from #EMPLIST
	------------------------------insert into #datelist----------------------------r
	
	set @intIncremental=0
	while @intIncremental <=  @intEndValue
	begin

		INSERT INTO #DATELIST(ATT_DATE,ATT_DAY,ATT_STATUS,Emp_id)
		select convert(varchar,cast( DATEADD(dd,@intIncremental,@FROM_DATE) as datetime) ,102) , 
		DATENAME(dw, DATEADD(dd,@intIncremental,@FROM_DATE)),'ABSENT',0
		
		set @intIncremental=@intIncremental+1
		
	end
	
	-------------------------------Insert into Main report---------------------------------------
	
	INSERT INTO #REPORT(ATT_DATE,ATT_DAY,ATT_STATUS,Emp_id,emp_name,LOGIN_TIME,LOGOUT_TIME,REASON_IN,REASON_OUT,ATT_HOUR,JOINED_DATE)
	select d.ATT_DATE, d.ATT_DAY, d.ATT_STATUS, r.Emp_id,r.emp_name,'00:00:00','00:00:00',' ',' ',' ',JOINED_DATE from #EMPLIST r,  #DATELIST d 
	
	--select * from #REPORT
	--return;
	
	update #REPORT set
		 ATT_STATUS='PRESENT'
		,LOGIN_TIME=isnull(a.[LOGINTIME],'00:00:00')
		,LOGOUT_TIME=isnull(a.[LOGOUTTIME],'00:00:00')
		,REASON_IN=a.ReasonDetailIn
		,REASON_OUT=a.ReasonDetailOut
		,ATT_HOUR=a.TOTALHOURS
		,LOGIN_DATE=A.LOGIN_DATE
		,LOGOUT_DATE=A.LOGOUT_DATE
		,CARD_NUMBER=A.CARD_NUMBER
		
	from #REPORT r, 
	(
		select emp_id
				,CONVERT(date,att_date,101) ATT_DATE
				,a.CARD_NUMBER
				,CONVERT(date,login_time,101)  LOGIN_DATE
				,CONVERT(date,logout_time,101)	LOGOUT_DATE
				,cast(CONVERT(time,login_time,101) as varchar(8)) as [LOGINTIME]
				,cast(CONVERT(time,logout_time,101) as varchar(8)) AS [LOGOUTTIME]
				,''	  [TOTALHOURS]
				,ISNULL(a.reason_detail_in,'') AS [ReasonDetailIn]
				,ISNULL(a.reason_detail_out,'') AS [ReasonDetailOut]
			FROM 
				(	
					SELECT 
						emp_id,
						att_date,
						a.CARD_NUMBER,
						cast(login_time as datetime) login_time,
						cast(logout_time as datetime) logout_time,
						isnull(ard.login_reason,'') reason_detail_in ,
						isnull(ard.logout_reason,'') reason_detail_out
					FROM atttendance a left join attendance_reason ard ON A.id = ard.att_id  WHERE emp_id <> '1000'
						 
				) a 
			where dbo.FNADateFormat(ATT_DATE,'d') between dbo.FNADateFormat(@FROM_DATE,'d') and dbo.FNADateFormat(@TO_DATE,'d')+ ' 23:59'
			
			GROUP BY  emp_id,a.login_time,A.login_time,A.logout_time,a.reason_detail_in,a.reason_detail_out,att_date,a.CARD_NUMBER
			
	)a
	where  a.emp_id=r.Emp_id and  CONVERT(date,r.ATT_DATE,102) = CONVERT(date,a.ATT_DATE,102)
	

	update #REPORT set
		ATT_STATUS='ON LEAVE'
		,LOGIN_TIME='00:00:00'
		,LOGOUT_TIME='00:00:00'
		,REASON_IN=a.NAME_OF_LEAVE
		,REASON_OUT=''
		,ATT_HOUR='0'
	from #REPORT r, 
	(
	
		select REQUESTED_BY	,b.NAME_OF_LEAVE
			,l.APPROVED_FROM, l.APPROVED_TO
		FROM LeaveRequest l	inner join LeaveTypes b on l.LEAVE_TYPE_ID=b.id
		where LEAVE_STATUS='Approved' and APPROVED_DAYS>0.5
	
	)a	where  a.REQUESTED_BY=r.Emp_id and r.ATT_DATE between a.APPROVED_FROM and a.APPROVED_TO
	

	 -------------------
	 
	update #REPORT set
		ATT_STATUS='ON HALF DAY LEAVE'
		,REASON_IN=a.NAME_OF_LEAVE
	from #REPORT r, 
	(
	
		select REQUESTED_BY	,b.NAME_OF_LEAVE
			,l.APPROVED_FROM, l.APPROVED_TO
		FROM LeaveRequest l	inner join LeaveTypes b on l.LEAVE_TYPE_ID=b.id
		where LEAVE_STATUS='Approved' and APPROVED_DAYS=0.5
	
	)a	where  a.REQUESTED_BY=r.Emp_id and r.ATT_DATE between a.APPROVED_FROM and a.APPROVED_TO
	 
	update #REPORT set
		ATT_STATUS='ON SITE DUTY'
		,REASON_IN=a.siteLocation
	from #REPORT r, 
	(
	
		select EMPID,siteLocation
			,l.sitedatefrom, l.sitedateto 
		FROM onsiteDuty l
		
	)a	where  a.EMPID=r.Emp_id and r.ATT_DATE between a.sitedatefrom and a.sitedateto
	
	update #REPORT set
		ATT_STATUS='ON TRAINING'
		,REASON_IN=a.narration
	from #REPORT r, 
	(		
		SELECT P.employeeId,T.startDate,T.endDate,T.narration
		FROM trainingParticipation P, training T WHERE P.trainingId=T.ID
	
	)a	where  a.employeeId=r.Emp_id and r.ATT_DATE between a.startDate and a.endDate
	
	update #REPORT set
	 ATT_STATUS=CASE WHEN ATT_STATUS='ABSENT' THEN 'HOLIDAY'  ELSE	 ATT_STATUS END
	,REASON_IN=CASE WHEN ATT_STATUS='ABSENT' THEN B.TITLE  ELSE	REASON_IN  END
		FROM  #REPORT A	,
		(
			SELECT DATE ATT_DATE,BRANCHID,TITLE FROM OfficialCalendar WHERE TYPE='H'
			
		)B WHERE CONVERT(VARCHAR,A.ATT_DATE,102)=CONVERT(VARCHAR,B.ATT_DATE,102)	 
		AND B.BRANCHID=(select BRANCHID from employee where EMPLOYEE_ID=@SUPERVISOR_ID)
	
	Update #REPORT Set ATT_STATUS ='SATURDAY' where ATT_DAY='Saturday'
		
	UPDATE #REPORT SET ATT_STATUS= 'NOT JOINED'    
	WHERE Cast(ATT_DATE as date)<=cast(JOINED_DATE as date)
	
	select e.EMP_CODE [Emp Code],emp_name [Employee Name],b.BRANCH_NAME [Branch Name],convert(varchar,ATT_DATE,107) [Attendence Date],
	 ATT_DAY [Attendance day],LOGIN_DATE [Login Date],LOGOUT_DATE [Logout Date],LOGIN_TIME [Login Time],
	 LOGOUT_TIME [Logout Time],ATT_STATUS [Status],
	 REASON_IN [Login Reason],REASON_OUT[Logout Reason],tr.card_number [Card Number],ATT_HOUR [Working Hour] 
	  from #REPORT tr inner join Employee e on e.EMPLOYEE_ID=tr.Emp_id
	 inner join Branches b on b.BRANCH_ID=e.BRANCH_ID
	 order by ATT_DATE

end
 

IF @FLAG='T'
BEGIN

	Select 
		 RTRIM(dbo.GetEmployeeFullNameOfId(TP.employeeId)) NAME
		,T.programName [TRAINING PROGRAM]
		,CONVERT(VARCHAR, T.startDate,107) [PROG START DATE]
		,CONVERT(VARCHAR,T.endDate,107) [PROG END DATE]
	from training T Inner join 
			trainingParticipation TP on T.id=TP.trainingId
	Inner join Employee E on TP.employeeId=e.EMPLOYEE_ID
	WHERE E.BRANCH_ID=@branchID
	AND	T.startDate BETWEEN @FROM_DATE AND @TO_DATE+' 23:59:59' 
	AND T.endDate BETWEEN @FROM_DATE AND @TO_DATE+' 23:59:59' 
	AND TP.employeeId = ISNULL(@EMPLOYEE_ID,TP.employeeId)
	order by T.id desc
END

IF @FLAG='LD'
BEGIN
			SELECT ROW_NUMBER() OVER(ORDER BY A.ID) [S.N.] ,A.[EMPLOYEE NAME],A.[LEAVE NAME],
			CONVERT(VARCHAR,A.APPROVED_FROM,107) [FROM DATE],CONVERT(VARCHAR,A.APPROVED_TO,107) [TO DATE],A.APPROVED_DAYS [APPROVED DAYS],
			RECOMMENDED_BY [RECOMMENDED BY],A.APPROVED_BY [APPROVED BY],LEAVE_STATUS [STATUS] FROM 
			(
				SELECT A.ID,REQUESTED_BY,dbo.GetEmployeeFullNameOfId(REQUESTED_BY) [EMPLOYEE NAME],B.NAME_OF_LEAVE [LEAVE NAME],
				A.APPROVED_FROM,A.APPROVED_TO,APPROVED_DAYS,dbo.GetEmployeeFullNameOfId(REQUESTED_WITH) RECOMMENDED_BY,
				dbo.GetEmployeeFullNameOfId(APPROVED_BY) APPROVED_BY,LEAVE_STATUS
				from LeaveRequest A INNER JOIN LeaveTypes B ON A.LEAVE_TYPE_ID=B.ID
			)A
			Inner Join Employee E on A.REQUESTED_BY=E.EMPLOYEE_ID
			WHERE BRANCH_ID=@branchID
			AND A.APPROVED_FROM BETWEEN @FROM_DATE AND @TO_DATE+' 23:59:59' and LEAVE_STATUS='Approved'
			AND A.REQUESTED_BY = ISNULL(@EMPLOYEE_ID,A.REQUESTED_BY) 
			AND E.EMP_STATUS=458
			order by A.ID desc
END
GO
