USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_ExtTrainingRecommend]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec proc_ExtTrainingRecommend @flag='i',@EMPID=1092,@SESSION='bpwx3q55ytaxpvinutrj5enk',@USER='admin'
--exec proc_ExtTrainingRecommend @flag='s',@SESSION='bpwx3q55ytaxpvinutrj5enk'
create proc [dbo].[proc_ExtTrainingRecommend] 
(
	@flag char(1)
	,@EMPID VARCHAR(10)=null
	,@SESSION VARCHAR(100)=null
	,@USER VARCHAR(20)=null
	,@external_assign_id_chk varchar(max)=null
--SELECT * FROM Employee WHERE EMPLOYEE_ID=@EMPID
)
as
set nocount on

if @flag='i'
begin
	if ISNUMERIC(@EMPID)=0
	begin
		return
	end
	
	if not exists(select employee from extTraineeRecommendedBy 
	where external_training_id=@SESSION and employee=@EMPID)
	begin
		INSERT INTO extTraineeRecommendedBy
		(external_training_id,branch,departmant,employee,designation,request_sendBy,request_sendDate)
		SELECT @SESSION,BRANCH_ID,DEPARTMENT_ID,@EMPID,POSITION_ID,@USER,GETDATE() FROM Employee WHERE EMPLOYEE_ID=@EMPID

		select '0' as msg
		return
	end
	select 'Already Added..' as msg
	

end

if @flag='s'
begin
	select '<input type = "checkbox" name = "chk_recoAssign_id" id = "chk_recoAssign_id" value ="' + CAST(external_recommendby_id AS VARCHAR(50)) + '" />&nbsp;&nbsp;&nbsp;'
				+ CAST(ROW_NUMBER() OVER(ORDER BY external_recommendby_id) as varchar(10)) as SN
				,Employee,Name from
	(
	select external_recommendby_id,external_training_id,Employee,dbo.GetEmployeeFullNameOfId(Employee) as Name from extTraineeRecommendedBy 	
	)T1
	where external_training_id=@SESSION
	
	
	
end

if @flag='d'
BEGIN
		declare @sql varchar(max)
		IF @external_assign_id_chk IS NULL SET @external_assign_id_chk = '-1'
		SET @sql = 'delete from extTraineeRecommendedBy WHERE external_recommendby_id IN (' + @external_assign_id_chk + ')'
		EXEC(@sql)
		

END

--exec [proc_ExtTrainingRecommend] @flag='d',@external_assign_id_chk=''bpwx3q55ytaxpvinutrj''
--select * from extTraineeRecommendedBy
--truncate table extTraineeRecommendedBy
GO
