USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_tadaMatrix]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec proc_travelOrderPostCategory @flag='i',@categoryId='1',@positionId='12,456,878,5454,541,54',@user='admin'
CREATE PROC [dbo].[proc_tadaMatrix]
				@flag varchar(10)=null, 
				@id int=null,
				@categoryId int=null,
				@zoneId int=null,
				@headId int=null,
				@currencyId	int=null,
				@amount	money=null,
				@user varchar(50)=null
				
AS	
set xact_abort on;
set nocount on;
if @flag='i'
BEGIN 
		--select * from tadaMatrix
		
		if exists(select * from tadaMatrix where categoryId=@categoryId and 
			zoneId=@zoneId and headId=@headId and isDeleted is null)
		begin
			select 'Already Exists!' as msg
			return;
		end
		INSERT INTO tadaMatrix
				(   
					categoryId,
					zoneId,
					headId,
					currencyId,
					amount,
					createdBy,
					createdDate
				)values
				
				(@categoryId,@zoneId,@headId,@currencyId,@amount,@user,GETDATE())	
				
		   
		
	
		
		select 'Success' as msg

END 


if @flag ='view'
begin
	
		select ID,ROW_NUMBER() over (order by id) [S.N.],dbo.GetDetailTitle(categoryId) [Category],dbo.GetDetailTitle(zoneId) [Zone],
		dbo.GetDetailTitle(headId) [Head],dbo.GetDetailTitle(currencyId)[Currency],
		dbo.ShowDecimal(amount) [Amount],dbo.GetEmployeeFullNameOfId(createdBy) [Created By],
		CONVERT(varchar,createdDate,107) [Created Date] from tadaMatrix where isDeleted is null
	
end

if @flag ='s'
begin
	
		select * from tadaMatrix where id=@id
	
end

if @flag='d'
begin

     update tadaMatrix set isDeleted='Y', deletedBy=@user,deletedDate=GETDATE() where id=@id

end
GO
