USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procRejectTerminateApproval]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
EXEC [procRejectTerminateApproval] 'r','4','1', '1000','ygckahdvckadsc'
EXEC [procRejectTerminateApproval] 'r','1','4', '1000','R'


*/
create PROC [dbo].[procRejectTerminateApproval]
	@flag VARCHAR(10),
	@table_id VARCHAR(20)=NULL,
	@queue_id VARCHAR(20)=NULL,
	@rejection_reason VARCHAR(MAX)=NULL,
	@user VARCHAR(50)=NULL
	
	
AS
	SET NOCOUNT ON;
	SET XACT_ABORT ON;	
	
	DECLARE @TABLE_NAME AS VARCHAR(200),@SQL AS VARCHAR(500),@IDENTIFIER_FIELD AS VARCHAR(20)
	SELECT @TABLE_NAME=tableName,@IDENTIFIER_FIELD=identifierField FROM changesApprovalQueue WHERE rowId=@queue_id	
		
	IF @flag='r'
	BEGIN	
			
		SET @SQL='UPDATE '+@TABLE_NAME+' SET STATUS=''Rejected'',rejection_reason='''+@rejection_reason+''' WHERE '+@IDENTIFIER_FIELD+'='+@table_id+''
		
		EXEC(@SQL)

		DELETE FROM changesApprovalQueue WHERE rowId=@queue_id
		
	END
	
	IF @flag='t'
	BEGIN	
		--maintening terminate history
		insert into
		changesApprovalQueueHistory(dataid,tableName,identifierField,modType,description,functionId,AddEditfunctionId,createdBy,
									createdDate,approveFlag,module,changeStatus,tableDescription,reasonForRejection,editLink,forwarded_to,
									forwarded_date) 
		select dataid,tableName,identifierField,modType,description,functionId,AddEditfunctionId,createdBy,
		createdDate,approveFlag,module,changeStatus,tableDescription,reasonForRejection,editLink,forwarded_to,
		forwarded_date from changesApprovalQueue where rowId=@queue_id
		
		SET @SQL='DELETE FROM '+@TABLE_NAME+' WHERE '+@IDENTIFIER_FIELD+'='+@table_id+''
		
		EXEC(@SQL)

		DELETE FROM changesApprovalQueue WHERE rowId=@queue_id

	END
GO
