USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[ProcManageUser]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[ProcManageUser]
	   @flag CHAR(1),
	   @user_id int=null,
	   @emp_id INT=NULL,
	   @user_name VARCHAR(200)=NULL,
	   @user_password varchar(200)=NULL,
	   @user_type varchar(1)=null,
	   @status varchar(10)=null,
	   @user VARCHAR(50)=NULL

AS	
SET NOCOUNT ON;
SET XACT_ABORT ON;	

	
IF @flag='i'
BEGIN
	
	IF NOT EXISTS (SELECT * FROM Admins WHERE Name=@emp_id and status<>'d')
	BEGIN
		INSERT INTO Admins(Name,UserName,UserPassword,user_type,status,created_by,CREATED_DATE)
		VALUES(@emp_id,@user_name,dbo.encryptDb(@user_password),@user_type,@status,@user,GETDATE())
		SELECT 'SUCCESS!' AS MSG
		RETURN;
	END
	ELSE
	BEGIN
		SELECT 'USER ALREADY EXISTS!' AS MSG
		RETURN;
	END
	
END
IF @flag='u'
BEGIN
	IF NOT EXISTS (SELECT * FROM Admins WHERE Name=@emp_id AND AdminID<>@user_id)
	BEGIN
		IF(@user_password is null)
		BEGIN			
			UPDATE Admins SET user_type=@user_type,
					status=@status
					,MODIFIED_BY=@user,MODIFIED_DATE=GETDATE() WHERE AdminID=@user_id	
				SELECT 'SUCCESS!' AS MSG
				RETURN;
		END
		ELSE
		BEGIN
				UPDATE Admins SET UserPassword=dbo.encryptDb(@user_password),user_type=@user_type,
					status=@status
					,MODIFIED_BY=@user,MODIFIED_DATE=GETDATE() WHERE AdminID=@user_id	
				SELECT 'SUCCESS!' AS MSG
				RETURN;
		END
		
	END	
	ELSE
	BEGIN
		SELECT 'USER ALREADY EXISTS!' AS MSG
		RETURN;
	END
END

IF @flag='d'
BEGIN

	update Admins set status='d' WHERE AdminID=@user_id
	SELECT 'SUCCESS' AS MSG

END
IF @flag='s'
BEGIN
	select UserName,dbo.decryptDb(UserPassword)UserPassword ,dbo.GetEmployeeInfoById(Name) emp_name
	,status,user_type from Admins where AdminID=@user_id
END
GO
