USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[ProcPayrollSummaryRpt]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
EXEC ProcPayrollSummaryRpt 'TDS','67-68',null
EXEC ProcPayrollSummaryRpt 'SALARY','67-68',null
EXEC ProcPayrollSummaryRpt 'PF','67-68',null
EXEC ProcPayrollSummaryRpt 'Home Loan-EMI','67-68',null
EXEC ProcPayrollSummaryRpt 'Home Loan-Insurance','67-68',null
EXEC ProcPayrollSummaryRpt 'Vehicle Loan','67-68',null

*/
create  PROC [dbo].[ProcPayrollSummaryRpt]
	@RPT_TYPE VARCHAR(50)=NULL,
	@YEAR VARCHAR(50)=NULL,
	@BRANCH VARCHAR(50)=NULL

AS

SET NOCOUNT ON;
DECLARE @SQL AS VARCHAR(7000)

IF @RPT_TYPE='TDS'
BEGIN
----------------START OF TDS SUMMARY QUERY------------------------

SELECT ROW_NUMBER() OVER(ORDER BY N.EMP_CODE) AS [S.N.],N.EMP_CODE AS [EMP CODE],N.EMPLOYEE_NAME AS [EMPLOYEE NAME],ISNULL(B.SHAWAN,0) AS SHAWAN,ISNULL(C.BHADRA,0) BHADRA,ISNULL(D.ASHOJ,0) AS ASHOJ,ISNULL(E.KARTIK,0) AS KARTIK,
ISNULL(F.MANGSHIR,0) AS MANGSHIR,ISNULL(G.POUSH,0) AS POUSH,ISNULL(H.MAGH,0) AS MAGH,ISNULL(I.FALGUN,0) AS FALGUN,ISNULL(J.CHAITRA,0) AS CHAITRA,
ISNULL(K.BAISHAK,0) AS BAISHAK,ISNULL(L.JESTA,0) AS JESTA,ISNULL(M.ASADH,0) AS ASADH FROM 
(
      SELECT DISTINCT Emp_Id AS EMPLOYEE_ID FROM TaxCalculation WHERE FY_ID =@YEAR AND  Branch_Id LIKE ISNULL(@BRANCH,'%')
)A 
LEFT JOIN 
(
      SELECT E.EMPLOYEE_ID,ISNULL(T.Tax_This_Month,0) AS SHAWAN
      FROM TaxCalculation T INNER JOIN Employee E ON E.EMPLOYEE_ID=T.Emp_Id where Run_Month=4 AND FY_ID=@YEAR 
     
)B ON A.EMPLOYEE_ID=B.EMPLOYEE_ID
LEFT JOIN 
(
      SELECT E.EMPLOYEE_ID,ISNULL(T.Tax_This_Month,0) AS  BHADRA
      FROM TaxCalculation T INNER JOIN Employee E ON E.EMPLOYEE_ID=T.Emp_Id where Run_Month=5 AND FY_ID=@YEAR
     
)C ON A.EMPLOYEE_ID=C.EMPLOYEE_ID
LEFT JOIN 
(
      SELECT E.EMPLOYEE_ID,ISNULL(T.Tax_This_Month,0) AS  ASHOJ
      FROM TaxCalculation T INNER JOIN Employee E ON E.EMPLOYEE_ID=T.Emp_Id where Run_Month=6 AND FY_ID=@YEAR
     
)D ON A.EMPLOYEE_ID=D.EMPLOYEE_ID
LEFT JOIN 
(
      SELECT E.EMPLOYEE_ID,ISNULL(T.Tax_This_Month,0) AS  KARTIK
      FROM TaxCalculation T INNER JOIN Employee E ON E.EMPLOYEE_ID=T.Emp_Id where Run_Month=7 AND FY_ID=@YEAR
      
)E ON A.EMPLOYEE_ID=E.EMPLOYEE_ID
LEFT JOIN 
(
      SELECT E.EMPLOYEE_ID,ISNULL(T.Tax_This_Month,0) AS  MANGSHIR
      FROM TaxCalculation T INNER JOIN Employee E ON E.EMPLOYEE_ID=T.Emp_Id where Run_Month=8 AND FY_ID=@YEAR
     
)F ON A.EMPLOYEE_ID=F.EMPLOYEE_ID
LEFT JOIN 
(
      SELECT E.EMPLOYEE_ID,ISNULL(T.Tax_This_Month,0) AS  POUSH
      FROM TaxCalculation T INNER JOIN Employee E ON E.EMPLOYEE_ID=T.Emp_Id where Run_Month=9 AND FY_ID=@YEAR
     
)G ON A.EMPLOYEE_ID=G.EMPLOYEE_ID
LEFT JOIN 
(
      SELECT E.EMPLOYEE_ID,ISNULL(T.Tax_This_Month,0) AS  MAGH
      FROM TaxCalculation T INNER JOIN Employee E ON E.EMPLOYEE_ID=T.Emp_Id where Run_Month=10 AND FY_ID=@YEAR
  
)H ON A.EMPLOYEE_ID=H.EMPLOYEE_ID
LEFT JOIN 
(
      SELECT E.EMPLOYEE_ID,ISNULL(T.Tax_This_Month,0) AS  FALGUN
      FROM TaxCalculation T INNER JOIN Employee E ON E.EMPLOYEE_ID=T.Emp_Id where Run_Month=11 AND FY_ID=@YEAR
 
)I ON A.EMPLOYEE_ID=I.EMPLOYEE_ID
LEFT JOIN 
(
      SELECT E.EMPLOYEE_ID,ISNULL(T.Tax_This_Month,0) AS  CHAITRA
      FROM TaxCalculation T INNER JOIN Employee E ON E.EMPLOYEE_ID=T.Emp_Id where Run_Month=12 AND FY_ID=@YEAR
   
)J ON A.EMPLOYEE_ID=J.EMPLOYEE_ID
LEFT JOIN 
(
      SELECT E.EMPLOYEE_ID,ISNULL(T.Tax_This_Month,0) AS  BAISHAK
      FROM TaxCalculation T INNER JOIN Employee E ON E.EMPLOYEE_ID=T.Emp_Id where Run_Month=1 AND FY_ID=@YEAR

)K ON A.EMPLOYEE_ID=K.EMPLOYEE_ID
LEFT JOIN 
(
      SELECT E.EMPLOYEE_ID,ISNULL(T.Tax_This_Month,0) AS  JESTA
      FROM TaxCalculation T INNER JOIN Employee E ON E.EMPLOYEE_ID=T.Emp_Id where Run_Month=2 AND FY_ID=@YEAR

)L ON A.EMPLOYEE_ID=L.EMPLOYEE_ID
LEFT JOIN 
(
      SELECT E.EMPLOYEE_ID,ISNULL(T.Tax_This_Month,0) AS  ASADH
      FROM TaxCalculation T INNER JOIN Employee E ON E.EMPLOYEE_ID=T.Emp_Id where Run_Month=3 AND FY_ID=@YEAR
  
)M ON A.EMPLOYEE_ID=M.EMPLOYEE_ID

INNER JOIN 
(
      SELECT EMPLOYEE_ID,EMP_CODE,FIRST_NAME+' '+MIDDLE_NAME+' '+LAST_NAME AS EMPLOYEE_NAME FROM Employee WHERE
      Branch_Id LIKE ISNULL(@BRANCH,'%')
)N ON N.EMPLOYEE_ID=A.EMPLOYEE_ID


----------------END OF TDS SUMMARY QUERY------------------------
END

IF @RPT_TYPE='SALARY'
BEGIN
	SELECT ROW_NUMBER() over(order by mas.EMP_CODE) as [S.N.],mas.EMP_CODE AS [Emp Code],mas.[Employee Name],
	ISNULL(shawan.NET_SALARY,0) AS [Shawan],ISNULL(bhadra.NET_SALARY,0) [Bhadra],ISNULL(ashoj.NET_SALARY,0) [Ashoj],
	ISNULL(kartik.NET_SALARY,0) AS [Kartik],ISNULL(mangsir.NET_SALARY,0) AS [Mangshir],ISNULL(poush.NET_SALARY,0) AS [Poush],
	ISNULL(magh.NET_SALARY,0) AS [Magh],ISNULL(falgun.NET_SALARY,0) AS [Falgun],ISNULL(chaitra.NET_SALARY,0) AS [Chaitra],
	ISNULL(baishak.NET_SALARY,0) AS [Baishak],ISNULL(jestha.NET_SALARY,0) AS [Jestha],ISNULL(ashad.NET_SALARY,0) AS [Ashad] FROM 
		(
			SELECT EMPLOYEE_ID,EMP_CODE,FIRST_NAME+' '+MIDDLE_NAME+' '+LAST_NAME AS [Employee Name] FROM Employee 
				WHERE EMPLOYEE_ID IN (SELECT DISTINCT emp_id FROM TaxCalculation WHERE FY_ID=@year AND BRANCH_ID LIKE ISNULL(@BRANCH ,'%'))
		)mas 
		LEFT JOIN
		(
			SELECT Emp_Id,(BASIC_SALARY_CURRENT+GRADE_CURRENT+ ALLOWANCE_CURRENT+
				ADHOC_BENEFITS_THIS_MONTH+CONTRI_THIS_MONTH_EMPLOYER-
				dbo.showdecimal(CONTRI_THIS_MONTH_EMPLOYER+CONTRI_CURRENT_EMPLOYEE+TAX_THIS_MONTH+
				ADHOC_DEDUCTION_CURRENT+LOAN_DEDUCTION+ADVANCE_DEDUCTION)) AS NET_SALARY FROM TaxCalculation WHERE Run_Month=4 AND FY_ID=@year
				AND BRANCH_ID LIKE ISNULL(@BRANCH ,'%')
		)shawan ON shawan.Emp_Id=mas.EMPLOYEE_ID
		LEFT JOIN 
		(
			SELECT Emp_Id,(BASIC_SALARY_CURRENT+GRADE_CURRENT+ ALLOWANCE_CURRENT+
				ADHOC_BENEFITS_THIS_MONTH+CONTRI_THIS_MONTH_EMPLOYER-
				dbo.showdecimal(CONTRI_THIS_MONTH_EMPLOYER+CONTRI_CURRENT_EMPLOYEE+TAX_THIS_MONTH+
				ADHOC_DEDUCTION_CURRENT+LOAN_DEDUCTION+ADVANCE_DEDUCTION)) AS NET_SALARY FROM TaxCalculation WHERE Run_Month=5 AND FY_ID=@year
				AND BRANCH_ID LIKE ISNULL(@BRANCH ,'%')
		)bhadra ON mas.EMPLOYEE_ID=bhadra.Emp_Id
		LEFT JOIN 
		(
			SELECT Emp_Id,(BASIC_SALARY_CURRENT+GRADE_CURRENT+ ALLOWANCE_CURRENT+
				ADHOC_BENEFITS_THIS_MONTH+CONTRI_THIS_MONTH_EMPLOYER-
				dbo.showdecimal(CONTRI_THIS_MONTH_EMPLOYER+CONTRI_CURRENT_EMPLOYEE+TAX_THIS_MONTH+
				ADHOC_DEDUCTION_CURRENT+LOAN_DEDUCTION+ADVANCE_DEDUCTION)) AS NET_SALARY FROM TaxCalculation WHERE Run_Month=6 AND FY_ID=@year
				AND BRANCH_ID LIKE ISNULL(@BRANCH ,'%')
		)ashoj ON mas.EMPLOYEE_ID=ashoj.Emp_Id
		LEFT JOIN 
		(
			SELECT Emp_Id,(BASIC_SALARY_CURRENT+GRADE_CURRENT+ ALLOWANCE_CURRENT+
				ADHOC_BENEFITS_THIS_MONTH+CONTRI_THIS_MONTH_EMPLOYER-
				dbo.showdecimal(CONTRI_THIS_MONTH_EMPLOYER+CONTRI_CURRENT_EMPLOYEE+TAX_THIS_MONTH+
				ADHOC_DEDUCTION_CURRENT+LOAN_DEDUCTION+ADVANCE_DEDUCTION)) AS NET_SALARY FROM TaxCalculation WHERE Run_Month=7 AND FY_ID=@year
				AND BRANCH_ID LIKE ISNULL(@BRANCH ,'%')
		)kartik ON kartik.Emp_Id=mas.EMPLOYEE_ID
		LEFT JOIN 
		(
			SELECT Emp_Id,(BASIC_SALARY_CURRENT+GRADE_CURRENT+ ALLOWANCE_CURRENT+
				ADHOC_BENEFITS_THIS_MONTH+CONTRI_THIS_MONTH_EMPLOYER-
				dbo.showdecimal(CONTRI_THIS_MONTH_EMPLOYER+CONTRI_CURRENT_EMPLOYEE+TAX_THIS_MONTH+
				ADHOC_DEDUCTION_CURRENT+LOAN_DEDUCTION+ADVANCE_DEDUCTION)) AS NET_SALARY FROM TaxCalculation WHERE Run_Month=8 AND FY_ID=@year
				AND BRANCH_ID LIKE ISNULL(@BRANCH ,'%')
		)mangsir ON mangsir.Emp_Id=mas.EMPLOYEE_ID
		LEFT JOIN 
		(
			SELECT Emp_Id,(BASIC_SALARY_CURRENT+GRADE_CURRENT+ ALLOWANCE_CURRENT+
				ADHOC_BENEFITS_THIS_MONTH+CONTRI_THIS_MONTH_EMPLOYER-
				dbo.showdecimal(CONTRI_THIS_MONTH_EMPLOYER+CONTRI_CURRENT_EMPLOYEE+TAX_THIS_MONTH+
				ADHOC_DEDUCTION_CURRENT+LOAN_DEDUCTION+ADVANCE_DEDUCTION)) AS NET_SALARY FROM TaxCalculation WHERE Run_Month=9 AND FY_ID=@year
				AND BRANCH_ID LIKE ISNULL(@BRANCH ,'%')
		)poush ON mas.EMPLOYEE_ID=poush.Emp_Id
		LEFT JOIN 
		(
			SELECT Emp_Id,(BASIC_SALARY_CURRENT+GRADE_CURRENT+ ALLOWANCE_CURRENT+
				ADHOC_BENEFITS_THIS_MONTH+CONTRI_THIS_MONTH_EMPLOYER-
				dbo.showdecimal(CONTRI_THIS_MONTH_EMPLOYER+CONTRI_CURRENT_EMPLOYEE+TAX_THIS_MONTH+
				ADHOC_DEDUCTION_CURRENT+LOAN_DEDUCTION+ADVANCE_DEDUCTION)) AS NET_SALARY FROM TaxCalculation WHERE Run_Month=10 AND FY_ID=@year
				AND BRANCH_ID LIKE ISNULL(@BRANCH ,'%')
		)magh ON magh.Emp_Id=mas.EMPLOYEE_ID
		LEFT JOIN 
		(
			SELECT Emp_Id,(BASIC_SALARY_CURRENT+GRADE_CURRENT+ ALLOWANCE_CURRENT+
				ADHOC_BENEFITS_THIS_MONTH+CONTRI_THIS_MONTH_EMPLOYER-
				dbo.showdecimal(CONTRI_THIS_MONTH_EMPLOYER+CONTRI_CURRENT_EMPLOYEE+TAX_THIS_MONTH+
				ADHOC_DEDUCTION_CURRENT+LOAN_DEDUCTION+ADVANCE_DEDUCTION)) AS NET_SALARY FROM TaxCalculation WHERE Run_Month=11 AND FY_ID=@year
				AND BRANCH_ID LIKE ISNULL(@BRANCH ,'%')
		)falgun ON mas.EMPLOYEE_ID=falgun.Emp_Id
		LEFT JOIN 
		(
			SELECT Emp_Id,(BASIC_SALARY_CURRENT+GRADE_CURRENT+ ALLOWANCE_CURRENT+
				ADHOC_BENEFITS_THIS_MONTH+CONTRI_THIS_MONTH_EMPLOYER-
				dbo.showdecimal(CONTRI_THIS_MONTH_EMPLOYER+CONTRI_CURRENT_EMPLOYEE+TAX_THIS_MONTH+
				ADHOC_DEDUCTION_CURRENT+LOAN_DEDUCTION+ADVANCE_DEDUCTION)) AS NET_SALARY FROM TaxCalculation WHERE Run_Month=12 AND FY_ID=@year
				AND BRANCH_ID LIKE ISNULL(@BRANCH ,'%')
		)chaitra ON chaitra.Emp_Id=mas.EMPLOYEE_ID
		LEFT JOIN 
		(
			SELECT Emp_Id,(BASIC_SALARY_CURRENT+GRADE_CURRENT+ ALLOWANCE_CURRENT+
				ADHOC_BENEFITS_THIS_MONTH+CONTRI_THIS_MONTH_EMPLOYER-
				dbo.showdecimal(CONTRI_THIS_MONTH_EMPLOYER+CONTRI_CURRENT_EMPLOYEE+TAX_THIS_MONTH+
				ADHOC_DEDUCTION_CURRENT+LOAN_DEDUCTION+ADVANCE_DEDUCTION)) AS NET_SALARY FROM TaxCalculation WHERE Run_Month=1 AND FY_ID=@year
				AND BRANCH_ID LIKE ISNULL(@BRANCH ,'%')
		)baishak ON mas.EMPLOYEE_ID=baishak.Emp_Id
		LEFT JOIN 
		(
			SELECT Emp_Id,(BASIC_SALARY_CURRENT+GRADE_CURRENT+ ALLOWANCE_CURRENT+
				ADHOC_BENEFITS_THIS_MONTH+CONTRI_THIS_MONTH_EMPLOYER-
				dbo.showdecimal(CONTRI_THIS_MONTH_EMPLOYER+CONTRI_CURRENT_EMPLOYEE+TAX_THIS_MONTH+
				ADHOC_DEDUCTION_CURRENT+LOAN_DEDUCTION+ADVANCE_DEDUCTION)) AS NET_SALARY FROM TaxCalculation WHERE Run_Month=2 AND FY_ID=@year
				AND BRANCH_ID LIKE ISNULL(@BRANCH ,'%')
		)jestha ON jestha.Emp_Id=mas.EMPLOYEE_ID
		LEFT JOIN 
		(
			SELECT Emp_Id,(BASIC_SALARY_CURRENT+GRADE_CURRENT+ ALLOWANCE_CURRENT+
				ADHOC_BENEFITS_THIS_MONTH+CONTRI_THIS_MONTH_EMPLOYER-
				dbo.showdecimal(CONTRI_THIS_MONTH_EMPLOYER+CONTRI_CURRENT_EMPLOYEE+TAX_THIS_MONTH+
				ADHOC_DEDUCTION_CURRENT+LOAN_DEDUCTION+ADVANCE_DEDUCTION)) AS NET_SALARY FROM TaxCalculation WHERE Run_Month=3 AND FY_ID=@year
				AND BRANCH_ID LIKE ISNULL(@BRANCH ,'%')
		)ashad ON mas.EMPLOYEE_ID=ashad.Emp_Id
END

IF @RPT_TYPE='PF'
BEGIN
SELECT ROW_NUMBER()OVER(ORDER BY N.EMP_CODE) AS [S.N.],N.EMP_CODE as [EMP CODE],N.EMPLOYEE_NAME AS [EMPLOYEE NAME],ISNULL(B.SHAWAN,0) AS SHAWAN,ISNULL(C.BHADRA,0) AS BHADRA,ISNULL(D.ASHOJ,0) AS ASHOJ,
ISNULL(E.KARTIK,0) AS KARTIK,ISNULL(F.MANGSHIR,0) AS MANGSHIR,ISNULL(G.POUSH,0) AS POUSH,ISNULL(H.MAGH,0) AS MAGH,
ISNULL(I.FALGUN,0) AS FALGUN,ISNULL(J.CHAITRA,0)AS CHAITRA,ISNULL(K.BAISHAK,0) AS BAISHAK,ISNULL(L.JESTA,0) AS JESTA,ISNULL(M.ASADH,0) AS ASADH
FROM 
(
      SELECT DISTINCT Emp_Id AS EMPLOYEE_ID FROM TaxCalculation  WHERE FY_ID =@YEAR AND  Branch_Id LIKE ISNULL(@BRANCH,'%')
)A 
LEFT JOIN 
(
      SELECT EMPLOYEE_ID,AMOUNT_EMPLOYEE SHAWAN 
      FROM ContributionHistory WHERE FY_ID=@YEAR AND RUN_MONTH=4
)B ON A.EMPLOYEE_ID=B.EMPLOYEE_ID
LEFT JOIN 
(
       SELECT EMPLOYEE_ID,AMOUNT_EMPLOYEE BHADRA 
      FROM ContributionHistory WHERE FY_ID=@YEAR AND RUN_MONTH=5
)C ON A.EMPLOYEE_ID=C.EMPLOYEE_ID
LEFT JOIN 
(
       SELECT EMPLOYEE_ID,AMOUNT_EMPLOYEE ASHOJ 
      FROM ContributionHistory WHERE FY_ID=@YEAR AND RUN_MONTH=6
)D ON A.EMPLOYEE_ID=D.EMPLOYEE_ID
LEFT JOIN 
(
       SELECT EMPLOYEE_ID,AMOUNT_EMPLOYEE KARTIK 
      FROM ContributionHistory WHERE FY_ID=@YEAR AND RUN_MONTH=7
)E ON A.EMPLOYEE_ID=E.EMPLOYEE_ID
LEFT JOIN 
(
      SELECT EMPLOYEE_ID,AMOUNT_EMPLOYEE AS  MANGSHIR
      FROM ContributionHistory WHERE FY_ID=@YEAR AND RUN_MONTH=8
)F ON A.EMPLOYEE_ID=F.EMPLOYEE_ID
LEFT JOIN 
(
      SELECT EMPLOYEE_ID,AMOUNT_EMPLOYEE AS  POUSH
      FROM ContributionHistory WHERE FY_ID=@YEAR AND RUN_MONTH=9
)G ON A.EMPLOYEE_ID=G.EMPLOYEE_ID
LEFT JOIN 
(
      SELECT EMPLOYEE_ID,AMOUNT_EMPLOYEE AS  MAGH
      FROM ContributionHistory WHERE FY_ID=@YEAR AND RUN_MONTH=10
)H ON A.EMPLOYEE_ID=H.EMPLOYEE_ID
LEFT JOIN 
(
      SELECT EMPLOYEE_ID,AMOUNT_EMPLOYEE AS  FALGUN
      FROM ContributionHistory WHERE FY_ID=@YEAR AND RUN_MONTH=11
)I ON A.EMPLOYEE_ID=I.EMPLOYEE_ID
LEFT JOIN 
(
      SELECT EMPLOYEE_ID,AMOUNT_EMPLOYEE AS  CHAITRA
      FROM ContributionHistory WHERE FY_ID=@YEAR AND RUN_MONTH=12
)J ON A.EMPLOYEE_ID=J.EMPLOYEE_ID
LEFT JOIN 
(
      SELECT EMPLOYEE_ID,AMOUNT_EMPLOYEE AS  BAISHAK
      FROM ContributionHistory WHERE FY_ID=@YEAR AND RUN_MONTH=1
)K ON A.EMPLOYEE_ID=K.EMPLOYEE_ID
LEFT JOIN 
(
      SELECT EMPLOYEE_ID,AMOUNT_EMPLOYEE AS  JESTA
      FROM ContributionHistory WHERE FY_ID=@YEAR AND RUN_MONTH=2
)L ON A.EMPLOYEE_ID=L.EMPLOYEE_ID
LEFT JOIN 
(
      SELECT EMPLOYEE_ID,AMOUNT_EMPLOYEE AS  ASADH
      FROM ContributionHistory WHERE FY_ID=@YEAR AND RUN_MONTH=3
)M ON A.EMPLOYEE_ID=M.EMPLOYEE_ID

INNER JOIN 
(
      SELECT EMPLOYEE_ID,EMP_CODE,FIRST_NAME+' '+MIDDLE_NAME+' '+LAST_NAME AS EMPLOYEE_NAME FROM Employee 
      WHERE Branch_Id LIKE ISNULL(@BRANCH,'%')
)N ON N.EMPLOYEE_ID=A.EMPLOYEE_ID


----END PF REPORT------
END

IF @RPT_TYPE='Home Loan-Insurance'
BEGIN
	---Home Loan-Insurance LOAN REPORT----

SELECT ROW_NUMBER()OVER(ORDER BY N.EMP_CODE) AS[S.N.],N.EMP_CODE AS [EMP CODE],N.EMPLOYEE_NAME AS [EMPLOYEE NAME],ISNULL(B.SHAWAN,0) AS SHAWAN,ISNULL(C.BHADRA,0) AS BHADRA,
ISNULL(D.ASHOJ,0) AS ASHOJ,ISNULL(E.KARTIK,0)AS KARTIK,ISNULL(F.MANGSHIR,0) AS MANGSHIR,ISNULL(G.POUSH,0) AS POUSH,ISNULL(H.MAGH,0) AS MAGH,
ISNULL(I.FALGUN,0) AS FALGUN,ISNULL(J.CHAITRA,0) AS CHAITRA,ISNULL(K.BAISHAK,0)AS BAISHAK,ISNULL(L.JESTA,0) AS JESTA,ISNULL(M.ASADH,0) AS ASADH FROM 

(
      SELECT DISTINCT Emp_Id AS EMPLOYEE_ID,'Home Loan-Insurance' as LOAN_TYPE FROM loan_collection LC INNER JOIN Loan L ON L.ID=LC.loan_id 
      WHERE L.LOAN_TYPE=599
)A 
LEFT JOIN 
(
            SELECT LC.emp_id AS EMPLOYEE_ID,ROUND(paid_amount,2) AS SHAWAN 
            FROM loan_collection LC INNER JOIN Loan L ON L.ID=LC.loan_id  
            INNER JOIN StaticDataDetail S ON S.ROWID=L.LOAN_TYPE
            WHERE L.LOAN_TYPE=599 AND dbo.[GetNepaliMonth](paid_date)=4
            
)B ON A.EMPLOYEE_ID=B.EMPLOYEE_ID
LEFT JOIN 
(
       SELECT LC.emp_id AS EMPLOYEE_ID,ROUND(paid_amount,2) AS BHADRA 
            FROM loan_collection LC INNER JOIN Loan L ON L.ID=LC.loan_id  
            INNER JOIN StaticDataDetail S ON S.ROWID=L.LOAN_TYPE
            WHERE L.LOAN_TYPE=599 AND dbo.[GetNepaliMonth](paid_date)=5
       
)C ON A.EMPLOYEE_ID=C.EMPLOYEE_ID
LEFT JOIN 
(
     SELECT LC.emp_id AS EMPLOYEE_ID,ROUND(paid_amount,2) AS ASHOJ 
            FROM loan_collection LC INNER JOIN Loan L ON L.ID=LC.loan_id  
            INNER JOIN StaticDataDetail S ON S.ROWID=L.LOAN_TYPE
            WHERE L.LOAN_TYPE=599 AND dbo.[GetNepaliMonth](paid_date)=6
     
)D ON A.EMPLOYEE_ID=D.EMPLOYEE_ID
LEFT JOIN 
(
      SELECT LC.emp_id AS EMPLOYEE_ID,ROUND(paid_amount,2) AS KARTIK 
            FROM loan_collection LC INNER JOIN Loan L ON L.ID=LC.loan_id  
            INNER JOIN StaticDataDetail S ON S.ROWID=L.LOAN_TYPE
            WHERE L.LOAN_TYPE=599 AND dbo.[GetNepaliMonth](paid_date)=7
            
)E ON A.EMPLOYEE_ID=E.EMPLOYEE_ID
LEFT JOIN 
(
      SELECT LC.emp_id AS EMPLOYEE_ID,ROUND(paid_amount,2) AS MANGSHIR 
            FROM loan_collection LC INNER JOIN Loan L ON L.ID=LC.loan_id  
            INNER JOIN StaticDataDetail S ON S.ROWID=L.LOAN_TYPE
            WHERE L.LOAN_TYPE=599 AND dbo.[GetNepaliMonth](paid_date)=8
            
)F ON A.EMPLOYEE_ID=F.EMPLOYEE_ID
LEFT JOIN 
(
      SELECT LC.emp_id AS EMPLOYEE_ID,ROUND(paid_amount,2) AS POUSH 
            FROM loan_collection LC INNER JOIN Loan L ON L.ID=LC.loan_id  
            INNER JOIN StaticDataDetail S ON S.ROWID=L.LOAN_TYPE
            WHERE L.LOAN_TYPE=599 AND dbo.[GetNepaliMonth](paid_date)=9
            
)G ON A.EMPLOYEE_ID=G.EMPLOYEE_ID
LEFT JOIN 
(
     SELECT LC.emp_id AS EMPLOYEE_ID,ROUND(paid_amount,2) AS MAGH 
            FROM loan_collection LC INNER JOIN Loan L ON L.ID=LC.loan_id  
            INNER JOIN StaticDataDetail S ON S.ROWID=L.LOAN_TYPE
            WHERE L.LOAN_TYPE=599 AND dbo.[GetNepaliMonth](paid_date)=10
            
)H ON A.EMPLOYEE_ID=H.EMPLOYEE_ID
LEFT JOIN 
(
      SELECT LC.emp_id AS EMPLOYEE_ID,ROUND(paid_amount,2) AS FALGUN 
            FROM loan_collection LC INNER JOIN Loan L ON L.ID=LC.loan_id  
            INNER JOIN StaticDataDetail S ON S.ROWID=L.LOAN_TYPE
            WHERE L.LOAN_TYPE=599 AND dbo.[GetNepaliMonth](paid_date)=11
            
)I ON A.EMPLOYEE_ID=I.EMPLOYEE_ID
LEFT JOIN 
(
      SELECT LC.emp_id AS EMPLOYEE_ID,ROUND(paid_amount,2) AS CHAITRA 
            FROM loan_collection LC INNER JOIN Loan L ON L.ID=LC.loan_id  
            INNER JOIN StaticDataDetail S ON S.ROWID=L.LOAN_TYPE
            WHERE L.LOAN_TYPE=599 AND dbo.[GetNepaliMonth](paid_date)=12
            
)J ON A.EMPLOYEE_ID=J.EMPLOYEE_ID
LEFT JOIN 
(
      SELECT LC.emp_id AS EMPLOYEE_ID,ROUND(paid_amount,2) AS BAISHAK 
            FROM loan_collection LC INNER JOIN Loan L ON L.ID=LC.loan_id  
            INNER JOIN StaticDataDetail S ON S.ROWID=L.LOAN_TYPE
            WHERE L.LOAN_TYPE=599 AND dbo.[GetNepaliMonth](paid_date)=1
            
)K ON A.EMPLOYEE_ID=K.EMPLOYEE_ID
LEFT JOIN 
(
      SELECT LC.emp_id AS EMPLOYEE_ID,ROUND(paid_amount,2) AS JESTA 
            FROM loan_collection LC INNER JOIN Loan L ON L.ID=LC.loan_id  
            INNER JOIN StaticDataDetail S ON S.ROWID=L.LOAN_TYPE
            WHERE L.LOAN_TYPE=599 AND dbo.[GetNepaliMonth](paid_date)=2
            
)L ON A.EMPLOYEE_ID=L.EMPLOYEE_ID
LEFT JOIN 
(
      SELECT LC.emp_id AS EMPLOYEE_ID,ROUND(paid_amount,2) AS ASADH 
            FROM loan_collection LC INNER JOIN Loan L ON L.ID=LC.loan_id  
            INNER JOIN StaticDataDetail S ON S.ROWID=L.LOAN_TYPE
            WHERE L.LOAN_TYPE=599 AND dbo.[GetNepaliMonth](paid_date)=3
            
)M ON A.EMPLOYEE_ID=M.EMPLOYEE_ID

INNER JOIN 
(
      SELECT EMPLOYEE_ID,EMP_CODE,FIRST_NAME+' '+MIDDLE_NAME+' '+LAST_NAME AS EMPLOYEE_NAME FROM Employee WHERE BRANCH_ID LIKE ISNULL(@BRANCH,'%')
)N ON N.EMPLOYEE_ID=A.EMPLOYEE_ID


---Home Loan-EMI LOAN REPORT----
END

IF @RPT_TYPE='Home Loan-EMI'
BEGIN
	---Home Loan-Insurance LOAN REPORT----

SELECT ROW_NUMBER()OVER(ORDER BY N.EMP_CODE) AS[S.N.],N.EMP_CODE AS [EMP CODE],N.EMPLOYEE_NAME AS [EMPLOYEE NAME],ISNULL(B.SHAWAN,0) AS SHAWAN,ISNULL(C.BHADRA,0) AS BHADRA,
ISNULL(D.ASHOJ,0) AS ASHOJ,ISNULL(E.KARTIK,0)AS KARTIK,ISNULL(F.MANGSHIR,0) AS MANGSHIR,ISNULL(G.POUSH,0) AS POUSH,ISNULL(H.MAGH,0) AS MAGH,
ISNULL(I.FALGUN,0) AS FALGUN,ISNULL(J.CHAITRA,0) AS CHAITRA,ISNULL(K.BAISHAK,0)AS BAISHAK,ISNULL(L.JESTA,0) AS JESTA,ISNULL(M.ASADH,0) AS ASADH FROM 

(
      SELECT DISTINCT Emp_Id AS EMPLOYEE_ID,'Home Loan-EMI' as LOAN_TYPE FROM loan_collection LC INNER JOIN Loan L ON L.ID=LC.loan_id 
      WHERE L.LOAN_TYPE=387
)A 
LEFT JOIN 
(
            SELECT LC.emp_id AS EMPLOYEE_ID,ROUND(paid_amount,2) AS SHAWAN 
            FROM loan_collection LC INNER JOIN Loan L ON L.ID=LC.loan_id  
            INNER JOIN StaticDataDetail S ON S.ROWID=L.LOAN_TYPE
            WHERE L.LOAN_TYPE=387 AND dbo.[GetNepaliMonth](paid_date)=4
            
)B ON A.EMPLOYEE_ID=B.EMPLOYEE_ID
LEFT JOIN 
(
       SELECT LC.emp_id AS EMPLOYEE_ID,ROUND(paid_amount,2) AS BHADRA 
            FROM loan_collection LC INNER JOIN Loan L ON L.ID=LC.loan_id  
            INNER JOIN StaticDataDetail S ON S.ROWID=L.LOAN_TYPE
            WHERE L.LOAN_TYPE=387 AND dbo.[GetNepaliMonth](paid_date)=5
       
)C ON A.EMPLOYEE_ID=C.EMPLOYEE_ID
LEFT JOIN 
(
     SELECT LC.emp_id AS EMPLOYEE_ID,ROUND(paid_amount,2) AS ASHOJ 
            FROM loan_collection LC INNER JOIN Loan L ON L.ID=LC.loan_id  
            INNER JOIN StaticDataDetail S ON S.ROWID=L.LOAN_TYPE
            WHERE L.LOAN_TYPE=387 AND dbo.[GetNepaliMonth](paid_date)=6
     
)D ON A.EMPLOYEE_ID=D.EMPLOYEE_ID
LEFT JOIN 
(
      SELECT LC.emp_id AS EMPLOYEE_ID,ROUND(paid_amount,2) AS KARTIK 
            FROM loan_collection LC INNER JOIN Loan L ON L.ID=LC.loan_id  
            INNER JOIN StaticDataDetail S ON S.ROWID=L.LOAN_TYPE
            WHERE L.LOAN_TYPE=387 AND dbo.[GetNepaliMonth](paid_date)=7
            
)E ON A.EMPLOYEE_ID=E.EMPLOYEE_ID
LEFT JOIN 
(
      SELECT LC.emp_id AS EMPLOYEE_ID,ROUND(paid_amount,2) AS MANGSHIR 
            FROM loan_collection LC INNER JOIN Loan L ON L.ID=LC.loan_id  
            INNER JOIN StaticDataDetail S ON S.ROWID=L.LOAN_TYPE
            WHERE L.LOAN_TYPE=387 AND dbo.[GetNepaliMonth](paid_date)=8
            
)F ON A.EMPLOYEE_ID=F.EMPLOYEE_ID
LEFT JOIN 
(
      SELECT LC.emp_id AS EMPLOYEE_ID,ROUND(paid_amount,2) AS POUSH 
            FROM loan_collection LC INNER JOIN Loan L ON L.ID=LC.loan_id  
            INNER JOIN StaticDataDetail S ON S.ROWID=L.LOAN_TYPE
            WHERE L.LOAN_TYPE=387 AND dbo.[GetNepaliMonth](paid_date)=9
            
)G ON A.EMPLOYEE_ID=G.EMPLOYEE_ID
LEFT JOIN 
(
     SELECT LC.emp_id AS EMPLOYEE_ID,ROUND(paid_amount,2) AS MAGH 
            FROM loan_collection LC INNER JOIN Loan L ON L.ID=LC.loan_id  
            INNER JOIN StaticDataDetail S ON S.ROWID=L.LOAN_TYPE
            WHERE L.LOAN_TYPE=387 AND dbo.[GetNepaliMonth](paid_date)=10
            
)H ON A.EMPLOYEE_ID=H.EMPLOYEE_ID
LEFT JOIN 
(
      SELECT LC.emp_id AS EMPLOYEE_ID,ROUND(paid_amount,2) AS FALGUN 
            FROM loan_collection LC INNER JOIN Loan L ON L.ID=LC.loan_id  
            INNER JOIN StaticDataDetail S ON S.ROWID=L.LOAN_TYPE
            WHERE L.LOAN_TYPE=387 AND dbo.[GetNepaliMonth](paid_date)=11
            
)I ON A.EMPLOYEE_ID=I.EMPLOYEE_ID
LEFT JOIN 
(
      SELECT LC.emp_id AS EMPLOYEE_ID,ROUND(paid_amount,2) AS CHAITRA 
            FROM loan_collection LC INNER JOIN Loan L ON L.ID=LC.loan_id  
            INNER JOIN StaticDataDetail S ON S.ROWID=L.LOAN_TYPE
            WHERE L.LOAN_TYPE=387 AND dbo.[GetNepaliMonth](paid_date)=12
            
)J ON A.EMPLOYEE_ID=J.EMPLOYEE_ID
LEFT JOIN 
(
      SELECT LC.emp_id AS EMPLOYEE_ID,ROUND(paid_amount,2) AS BAISHAK 
            FROM loan_collection LC INNER JOIN Loan L ON L.ID=LC.loan_id  
            INNER JOIN StaticDataDetail S ON S.ROWID=L.LOAN_TYPE
            WHERE L.LOAN_TYPE=387 AND dbo.[GetNepaliMonth](paid_date)=1
            
)K ON A.EMPLOYEE_ID=K.EMPLOYEE_ID
LEFT JOIN 
(
      SELECT LC.emp_id AS EMPLOYEE_ID,ROUND(paid_amount,2) AS JESTA 
            FROM loan_collection LC INNER JOIN Loan L ON L.ID=LC.loan_id  
            INNER JOIN StaticDataDetail S ON S.ROWID=L.LOAN_TYPE
            WHERE L.LOAN_TYPE=387 AND dbo.[GetNepaliMonth](paid_date)=2
            
)L ON A.EMPLOYEE_ID=L.EMPLOYEE_ID
LEFT JOIN 
(
      SELECT LC.emp_id AS EMPLOYEE_ID,ROUND(paid_amount,2) AS ASADH 
            FROM loan_collection LC INNER JOIN Loan L ON L.ID=LC.loan_id  
            INNER JOIN StaticDataDetail S ON S.ROWID=L.LOAN_TYPE
            WHERE L.LOAN_TYPE=387 AND dbo.[GetNepaliMonth](paid_date)=3
            
)M ON A.EMPLOYEE_ID=M.EMPLOYEE_ID

INNER JOIN 
(
      SELECT EMPLOYEE_ID,EMP_CODE,FIRST_NAME+' '+MIDDLE_NAME+' '+LAST_NAME AS EMPLOYEE_NAME FROM Employee 
      WHERE BRANCH_ID LIKE ISNULL(@BRANCH,'%')
)N ON N.EMPLOYEE_ID=A.EMPLOYEE_ID


---Home Loan-EMI LOAN REPORT----
END


IF @RPT_TYPE='Vehicle Loan'
BEGIN
	---Home Loan-Insurance LOAN REPORT----

SELECT ROW_NUMBER()OVER(ORDER BY N.EMP_CODE) AS[S.N.],N.EMP_CODE AS [EMP CODE],N.EMPLOYEE_NAME AS [EMPLOYEE NAME],ISNULL(B.SHAWAN,0) AS SHAWAN,ISNULL(C.BHADRA,0) AS BHADRA,
ISNULL(D.ASHOJ,0) AS ASHOJ,ISNULL(E.KARTIK,0)AS KARTIK,ISNULL(F.MANGSHIR,0) AS MANGSHIR,ISNULL(G.POUSH,0) AS POUSH,ISNULL(H.MAGH,0) AS MAGH,
ISNULL(I.FALGUN,0) AS FALGUN,ISNULL(J.CHAITRA,0) AS CHAITRA,ISNULL(K.BAISHAK,0)AS BAISHAK,ISNULL(L.JESTA,0) AS JESTA,ISNULL(M.ASADH,0) AS ASADH FROM 

(
      SELECT DISTINCT Emp_Id AS EMPLOYEE_ID,'Vehicle Loan' as LOAN_TYPE FROM loan_collection LC INNER JOIN Loan L ON L.ID=LC.loan_id 
      WHERE L.LOAN_TYPE=587 
)A 
LEFT JOIN 
(
            SELECT LC.emp_id AS EMPLOYEE_ID,ROUND(paid_amount,2) AS SHAWAN 
            FROM loan_collection LC INNER JOIN Loan L ON L.ID=LC.loan_id  
            INNER JOIN StaticDataDetail S ON S.ROWID=L.LOAN_TYPE
            WHERE L.LOAN_TYPE=587  AND dbo.[GetNepaliMonth](paid_date)=4
            
)B ON A.EMPLOYEE_ID=B.EMPLOYEE_ID
LEFT JOIN 
(
       SELECT LC.emp_id AS EMPLOYEE_ID,ROUND(paid_amount,2) AS BHADRA 
            FROM loan_collection LC INNER JOIN Loan L ON L.ID=LC.loan_id  
            INNER JOIN StaticDataDetail S ON S.ROWID=L.LOAN_TYPE
            WHERE L.LOAN_TYPE=587 AND dbo.[GetNepaliMonth](paid_date)=5
       
)C ON A.EMPLOYEE_ID=C.EMPLOYEE_ID
LEFT JOIN 
(
     SELECT LC.emp_id AS EMPLOYEE_ID,ROUND(paid_amount,2) AS ASHOJ 
            FROM loan_collection LC INNER JOIN Loan L ON L.ID=LC.loan_id  
            INNER JOIN StaticDataDetail S ON S.ROWID=L.LOAN_TYPE
            WHERE L.LOAN_TYPE=587 AND dbo.[GetNepaliMonth](paid_date)=6
     
)D ON A.EMPLOYEE_ID=D.EMPLOYEE_ID
LEFT JOIN 
(
      SELECT LC.emp_id AS EMPLOYEE_ID,ROUND(paid_amount,2) AS KARTIK 
            FROM loan_collection LC INNER JOIN Loan L ON L.ID=LC.loan_id  
            INNER JOIN StaticDataDetail S ON S.ROWID=L.LOAN_TYPE
            WHERE L.LOAN_TYPE=587 AND dbo.[GetNepaliMonth](paid_date)=7
            
)E ON A.EMPLOYEE_ID=E.EMPLOYEE_ID
LEFT JOIN 
(
      SELECT LC.emp_id AS EMPLOYEE_ID,ROUND(paid_amount,2) AS MANGSHIR 
            FROM loan_collection LC INNER JOIN Loan L ON L.ID=LC.loan_id  
            INNER JOIN StaticDataDetail S ON S.ROWID=L.LOAN_TYPE
            WHERE L.LOAN_TYPE=587 AND dbo.[GetNepaliMonth](paid_date)=8
            
)F ON A.EMPLOYEE_ID=F.EMPLOYEE_ID
LEFT JOIN 
(
      SELECT LC.emp_id AS EMPLOYEE_ID,ROUND(paid_amount,2) AS POUSH 
            FROM loan_collection LC INNER JOIN Loan L ON L.ID=LC.loan_id  
            INNER JOIN StaticDataDetail S ON S.ROWID=L.LOAN_TYPE
            WHERE L.LOAN_TYPE=587 AND dbo.[GetNepaliMonth](paid_date)=9
            
)G ON A.EMPLOYEE_ID=G.EMPLOYEE_ID
LEFT JOIN 
(
     SELECT LC.emp_id AS EMPLOYEE_ID,ROUND(paid_amount,2) AS MAGH 
            FROM loan_collection LC INNER JOIN Loan L ON L.ID=LC.loan_id  
            INNER JOIN StaticDataDetail S ON S.ROWID=L.LOAN_TYPE
            WHERE L.LOAN_TYPE=587 AND dbo.[GetNepaliMonth](paid_date)=10
            
)H ON A.EMPLOYEE_ID=H.EMPLOYEE_ID
LEFT JOIN 
(
      SELECT LC.emp_id AS EMPLOYEE_ID,ROUND(paid_amount,2) AS FALGUN 
            FROM loan_collection LC INNER JOIN Loan L ON L.ID=LC.loan_id  
            INNER JOIN StaticDataDetail S ON S.ROWID=L.LOAN_TYPE
            WHERE L.LOAN_TYPE=587 AND dbo.[GetNepaliMonth](paid_date)=11
            
)I ON A.EMPLOYEE_ID=I.EMPLOYEE_ID
LEFT JOIN 
(
      SELECT LC.emp_id AS EMPLOYEE_ID,ROUND(paid_amount,2) AS CHAITRA 
            FROM loan_collection LC INNER JOIN Loan L ON L.ID=LC.loan_id  
            INNER JOIN StaticDataDetail S ON S.ROWID=L.LOAN_TYPE
            WHERE L.LOAN_TYPE=587 AND dbo.[GetNepaliMonth](paid_date)=12
            
)J ON A.EMPLOYEE_ID=J.EMPLOYEE_ID
LEFT JOIN 
(
      SELECT LC.emp_id AS EMPLOYEE_ID,ROUND(paid_amount,2) AS BAISHAK 
            FROM loan_collection LC INNER JOIN Loan L ON L.ID=LC.loan_id  
            INNER JOIN StaticDataDetail S ON S.ROWID=L.LOAN_TYPE
            WHERE L.LOAN_TYPE=587 AND dbo.[GetNepaliMonth](paid_date)=1
            
)K ON A.EMPLOYEE_ID=K.EMPLOYEE_ID
LEFT JOIN 
(
      SELECT LC.emp_id AS EMPLOYEE_ID,ROUND(paid_amount,2) AS JESTA 
            FROM loan_collection LC INNER JOIN Loan L ON L.ID=LC.loan_id  
            INNER JOIN StaticDataDetail S ON S.ROWID=L.LOAN_TYPE
            WHERE L.LOAN_TYPE=587 AND dbo.[GetNepaliMonth](paid_date)=2
            
)L ON A.EMPLOYEE_ID=L.EMPLOYEE_ID
LEFT JOIN 
(
      SELECT LC.emp_id AS EMPLOYEE_ID,ROUND(paid_amount,2) AS ASADH 
            FROM loan_collection LC INNER JOIN Loan L ON L.ID=LC.loan_id  
            INNER JOIN StaticDataDetail S ON S.ROWID=L.LOAN_TYPE
            WHERE L.LOAN_TYPE=587 AND dbo.[GetNepaliMonth](paid_date)=3
            
)M ON A.EMPLOYEE_ID=M.EMPLOYEE_ID

INNER JOIN 
(
      SELECT EMPLOYEE_ID,EMP_CODE,FIRST_NAME+' '+MIDDLE_NAME+' '+LAST_NAME AS EMPLOYEE_NAME FROM Employee 
      WHERE BRANCH_ID LIKE ISNULL(@BRANCH,'%')
)N ON N.EMPLOYEE_ID=A.EMPLOYEE_ID


---Home Loan-EMI LOAN REPORT----
END
GO
