ALTER PROC [dbo].[proc_GetLeaveData]
    @jobflag VARCHAR(3) ,
    @searchEmpBy VARCHAR(100) = NULL ,
    @leaveType INT = NULL ,
    @emp_ID INT = NULL ,
    @departmentId INT = NULL ,
    @fromDate DATE = NULL ,
    @toDate DATE = NULL ,
    @ID INT = NULL
AS
    SET NOCOUNT ON;
	
    DECLARE @DAYCOUNT INT = 0;
    DECLARE @REMAININGDAY INT; 
    DECLARE @IS_SATURDAY INT;
    DECLARE @IS_HOLIDAY INT;
    DECLARE @branchId VARCHAR(5);
    DECLARE @DEFAULT_DAYS INT;
	
    DECLARE @REQFROM DATE;
    DECLARE @REQTO DATE;
	--search Employee
		
    IF @jobflag = 'SE'
        BEGIN
            SELECT  @branchId = BRANCH_ID
            FROM    dbo.Departments
            WHERE   DEPARTMENT_ID = @departmentId;
              PRINT @branchId      
            IF (( SELECT DEPARTMENT_SHORT_NAME
                 FROM   dbo.Departments(NOLOCK)
                 WHERE  DEPARTMENT_ID = @departmentId
               ) = 'Human Resources')
                BEGIN
                    IF @searchEmpBy IS NULL
                        BEGIN
                            SELECT  RTRIM(LTRIM(dbo.GetEmployeeInfoById(EMPLOYEE_ID))) EMPLOYEE_NAME ,
                                    EMPLOYEE_ID
                            FROM    Employee;
                   
							
                        END;
		
                    IF ISNUMERIC(@searchEmpBy) = 1
                        BEGIN
                            SELECT  RTRIM(LTRIM(dbo.GetEmployeeInfoById(EMPLOYEE_ID))) EMPLOYEE_NAME ,
                                    EMPLOYEE_ID
                            FROM    Employee
                            WHERE   EMPLOYEE_ID = @searchEmpBy;
                            
                        END;
                    ELSE IF @searchEmpBy IS NOT NULL
                        BEGIN
                            SELECT  RTRIM(LTRIM(dbo.GetEmployeeInfoById(EMPLOYEE_ID))) EMPLOYEE_NAME ,
                                    EMPLOYEE_ID
                            FROM    Employee
                            WHERE   dbo.GetEmployeeFullNameOfId(EMPLOYEE_ID) LIKE @searchEmpBy
                                    + '%';
                           
                        END;
		
		
                END;  
            ELSE
                BEGIN
                    IF @searchEmpBy IS NULL
                        BEGIN
                            SELECT  RTRIM(LTRIM(dbo.GetEmployeeInfoById(EMPLOYEE_ID))) EMPLOYEE_NAME ,
                                    EMPLOYEE_ID
                            FROM    Employee
                            WHERE   BRANCH_ID = @branchId;
                   
							
                        END;
		
                    IF ISNUMERIC(@searchEmpBy) = 1
                        BEGIN
                            SELECT  RTRIM(LTRIM(dbo.GetEmployeeInfoById(EMPLOYEE_ID))) EMPLOYEE_NAME ,
                                    EMPLOYEE_ID
                            FROM    Employee
                            WHERE   EMPLOYEE_ID = @searchEmpBy
                                    AND BRANCH_ID = @branchId;
                            
                        END;
                    ELSE
                        BEGIN
                            SELECT  RTRIM(LTRIM(dbo.GetEmployeeInfoById(EMPLOYEE_ID))) EMPLOYEE_NAME ,
                                    EMPLOYEE_ID
                            FROM    Employee
                            WHERE   dbo.GetEmployeeFullNameOfId(EMPLOYEE_ID) LIKE @searchEmpBy
                                    + '%'
                                    AND BRANCH_ID = @branchId;
                           
                        END;
                END;
                   
          
        END;
	
	--populate leavetype
    IF @jobflag = 'PL' --POPULATE LEAVE TYPES for ASSIGNMENT
        BEGIN
	
            SELECT  NAME_OF_LEAVE ,
                    ID
            FROM    LeaveTypes
            WHERE   ISNULL(IS_ACTIVE, 0) = '1';
		
        END;
	
	--on Emp Change
    IF @jobflag = 'CE'
        BEGIN
		--POPULATE LEAVETYPE FOR LEAVEREQUEST		
            BEGIN
                SELECT  LT.ID LEAVE_ID ,
                        LT.NAME_OF_LEAVE LEAVE_NAME
                FROM    leaveAssignment LA
                        JOIN LeaveTypes LT ON LA.LEAVE_TYPE_ID = LT.ID
                WHERE   EMPLOYEE_ID = @emp_ID
                        AND ISNULL(LA.IS_DISABLED, 0) = '1';
            END;
        END;
	
	--ON LEAVETYPE CHANGE
    IF @jobflag = 'CL'
        BEGIN		
		--FIND REMAINING DAYS		
            BEGIN
                SELECT  CASE WHEN ( ISNULL(LT.MAX_DAYS, 0) <> 0
                                    AND MAX_DAYS < ISNULL(NO_OF_DAYS_ACTUAL, 0)
                                    + ISNULL(LAST_YEAR_LEAVE, 0)
                                  )
                             THEN MAX_DAYS - ISNULL(LEAVE_TAKEN_THIS_YEAR, 0)
                             ELSE ISNULL(NO_OF_DAYS_ACTUAL, 0)
                                  + ISNULL(LAST_YEAR_LEAVE, 0)
                                  - ISNULL(LEAVE_TAKEN_THIS_YEAR, 0)
                        END AS REMAINLEAVE ,
                        LA.max_req_days
                FROM    leaveAssignment LA
                        JOIN LeaveTypes LT ON LA.LEAVE_TYPE_ID = LT.ID
                WHERE   EMPLOYEE_ID = @emp_ID
                        AND LEAVE_TYPE_ID = @leaveType
                        AND LA.IS_DISABLED = 1;
            END;
		
		--SHOWHIDE VALUES
            BEGIN
                SELECT  ISNULL(IS_HALFDAY, 0) IS_HALFDAY ,
                        ISNULL(IS_LFA, 0) IS_LFA ,
                        ISNULL(IS_SUBSTITUTED, 0) IS_SUBSTITUTED
				--, ISNULL(RELIEVING,0) RELIEVING
                FROM    leaveAssignment
                WHERE   EMPLOYEE_ID = @emp_ID
                        AND LEAVE_TYPE_ID = @leaveType
                        AND IS_DISABLED = 1;
            END;
        END;
	
	--ON From Date CHANGE
    IF @jobflag = 'GD'
        BEGIN	
            SELECT  @DEFAULT_DAYS = max_req_days
            FROM    LeaveTypes
            WHERE   ID = @leaveType; 
		--and EMPLOYEE_ID=@emp_ID
		
            SELECT  CONVERT(VARCHAR, DATEADD(D, @DEFAULT_DAYS - 1, @fromDate), 101);
        END;
	

	
	--FIND REQUESTED DAYS
    IF @jobflag = 'RD'
        BEGIN
		
		--EXEC proc_GetLeaveData @jobflag = 'RD', @emp_ID = '1000', @leaveType = '11', @fromDate = '5/1/2012', @toDate = '5/6/2012'
            SELECT  @branchId = BRANCH_ID
            FROM    Employee
            WHERE   EMPLOYEE_ID = @emp_ID;
            SELECT  @DAYCOUNT = DATEDIFF(DAY, @fromDate, @toDate) + 1;
		
            SELECT  @REMAININGDAY = ( ISNULL(NO_OF_DAYS_ACTUAL, 0)
                                      + ISNULL(LAST_YEAR_LEAVE, 0)
                                      - ISNULL(LEAVE_TAKEN_THIS_YEAR, 0) )
            FROM    leaveAssignment
            WHERE   EMPLOYEE_ID = @emp_ID
                    AND LEAVE_TYPE_ID = @leaveType
                    AND IS_DISABLED = 1;

            SELECT TOP 1
                    @IS_HOLIDAY = IS_HOLIDAY ,
                    @IS_SATURDAY = IS_SATURDAY
            FROM    leaveAssignment
            WHERE   EMPLOYEE_ID = @emp_ID
                    AND LEAVE_TYPE_ID = @leaveType
                    AND IS_DISABLED = 1;

            IF @IS_HOLIDAY <> 1
                BEGIN
                    SELECT  @DAYCOUNT = @DAYCOUNT
                            - ISNULL(dbo.FNFindBranchHolidayCount(@fromDate,
                                                              @toDate,
                                                              @branchId), 0);
                END;
		
            IF @IS_SATURDAY <> 1
                BEGIN
                    SELECT  @DAYCOUNT = @DAYCOUNT
                            - ISNULL(dbo.FNFindSaturdayCount(@fromDate,
                                                             @toDate), 0);
                END;
		
				
            SELECT  @DAYCOUNT REQDAYS ,
                    CASE WHEN @REMAININGDAY < @DAYCOUNT
                              AND IS_UNLIMITED = 0
                         THEN 'REQUESTED DAYS CANNOT BE GREATER THAN REMAINING DAYS'
                         WHEN @DAYCOUNT <> 1
                              AND IS_SUBSTITUTED = 1
                         THEN 'REQUESTED DAYS MUST BE 1'
                         ELSE ''
                    END REMARKS ,
                    CASE WHEN ( IS_HALFDAY = 1
                                AND @DAYCOUNT = 1
                              ) THEN 'True'
                         ELSE 'False'
                    END HALFDAY ,
                    ISNULL(IS_LFA, 0) IS_LFA ,
                    ISNULL(LFA_Taken, 0) LFA_Taken
            FROM    leaveAssignment
            WHERE   EMPLOYEE_ID = @emp_ID
                    AND LEAVE_TYPE_ID = @leaveType
                    AND IS_DISABLED = 1;
        END;
	
	--FIND approved DAYS
    IF @jobflag = 'AD'
        BEGIN
		

            SELECT  @DAYCOUNT = DATEDIFF(DAY, @fromDate, @toDate) + 1;
				
            SELECT  @emp_ID = REQUESTED_BY ,
                    @leaveType = LEAVE_TYPE_ID ,
                    @REQFROM = FROM_DATE ,
                    @REQTO = TO_DATE
            FROM    LeaveRequest
            WHERE   ID = @ID;
		
            SELECT  @branchId = BRANCH_ID
            FROM    Employee
            WHERE   EMPLOYEE_ID = @emp_ID;
		
            SELECT TOP 1
                    @IS_HOLIDAY = IS_HOLIDAY ,
                    @IS_SATURDAY = IS_SATURDAY
            FROM    leaveAssignment
            WHERE   EMPLOYEE_ID = @emp_ID
                    AND LEAVE_TYPE_ID = @leaveType
                    AND IS_DISABLED = 1;
		
            IF @IS_HOLIDAY <> 1
                BEGIN
                    SELECT  @DAYCOUNT = @DAYCOUNT
                            - ISNULL(dbo.FNFindBranchHolidayCount(@fromDate,
                                                              @toDate,
                                                              @branchId), 0);
                END;
		
            IF @IS_SATURDAY <> 1
                BEGIN
                    SELECT  @DAYCOUNT = @DAYCOUNT
                            - ISNULL(dbo.FNFindSaturdayCount(@fromDate,
                                                             @toDate), 0);
                END;
		
            SELECT  @DAYCOUNT APPDAYS ,
                    CASE WHEN ( DATEDIFF(DAY, @REQFROM, @fromDate) < 0
                                OR DATEDIFF(DAY, @REQTO, @toDate) > 0
                              )
                         THEN 'APPROVED DAYS MUSN''T BE OTHER THAN REQUESTED'
                         ELSE ''
                    END REMARKS;
        END;
	
	--FIND callback DAYS
    IF @jobflag = 'CD'
        BEGIN

            SELECT  @DAYCOUNT = DATEDIFF(DAY, @fromDate, @toDate) + 1;
				
            SELECT  @emp_ID = REQUESTED_BY ,
                    @leaveType = LEAVE_TYPE_ID ,
                    @REQFROM = FROM_DATE ,
                    @REQTO = TO_DATE
            FROM    LeaveRequest
            WHERE   ID = @ID;
		
            SELECT  @branchId = BRANCH_ID
            FROM    Employee
            WHERE   EMPLOYEE_ID = @emp_ID;
		
            SELECT TOP 1
                    @IS_HOLIDAY = IS_HOLIDAY ,
                    @IS_SATURDAY = IS_SATURDAY
            FROM    leaveAssignment
            WHERE   EMPLOYEE_ID = @emp_ID
                    AND LEAVE_TYPE_ID = @leaveType
                    AND IS_DISABLED = 1;
		
            IF @IS_HOLIDAY <> 1
                BEGIN
                    SELECT  @DAYCOUNT = @DAYCOUNT
                            - ISNULL(dbo.FNFindBranchHolidayCount(@fromDate,
                                                              @toDate,
                                                              @branchId), 0);
               END;
		
          IF @IS_SATURDAY <> 1
                BEGIN
                    SELECT  @DAYCOUNT = @DAYCOUNT
                            - ISNULL(dbo.FNFindSaturdayCount(@fromDate,
                                                             @toDate), 0);
                END;
		
            SELECT  @DAYCOUNT CALLBACKDAYS ,
                    CASE WHEN ( DATEDIFF(DAY, @REQFROM, @fromDate) < 0
                                OR DATEDIFF(DAY, @REQTO, @toDate) > 0
                              )
                         THEN 'CALLBACK DAYS MUSN''T BE OTHER THAN REQUESTED'
                         WHEN DATEDIFF(DAY, @fromDate, @toDate) < 0
                         THEN 'CALLBACK DAYS ERROR - FROM CAN''T BE GREATER THAN TO'
                         ELSE ''
                    END REMARKS;
        END;
	
	--EXEC proc_GetLeaveData  @jobflag = 'AD',@ID = '1',@fromdate = '5/11/2011',@todate='05/17/2011'
	


