USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procManagePayable]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[procManagePayable](
	@flag varchar(2),	
	@emp_id int=null,
	@benifit_id int=null,
	@amount money=null,
	@row_id INT=NULL,
	@user varchar(100)=null,
	@setId  int = null

)
AS
set nocount on;
DECLARE @OLD_AMT AS MONEY

if @flag='i'
BEGIN
	INSERT INTO Payable(EMPLOYEE_ID,BENEFIT_ID,AMOUNT,CREATED_BY,CREATED_DATE)
	VALUES(@emp_id,@benifit_id,@amount,@user,GETDATE())
	SELECT @row_id = SCOPE_IDENTITY()
	SELECT @row_id ID

END
if @flag='u'
BEGIN
	
	
	SELECT @OLD_AMT=AMOUNT FROM Payable WHERE ID=@row_id
	UPDATE Payable SET EMPLOYEE_ID=@emp_id,BENEFIT_ID=@benifit_id,AMOUNT=@amount,MODIFIED_BY=@user,MODIFIED_DATE=GETDATE() WHERE ID=@row_id
	
	INSERT INTO job_history(job_name,job_time,job_user,job_value,job_remarks,update_row,old_value)
		VALUES('PAYABLE',GETDATE(),@user,@amount,'UPDATED',@row_id,@OLD_AMT)

END

IF @flag='d'
BEGIN

	SELECT @OLD_AMT=AMOUNT FROM Payable WHERE ID=@row_id
	
	DELETE Payable WHERE ID = @row_id
	
	--DELETE Payable WHERE EMPLOYEE_ID = @emp_id AND  set_id = @setId

	
	INSERT INTO job_history(job_name,job_time,job_user,job_value,job_remarks,update_row,old_value)
		VALUES('PAYABLE',GETDATE(),@user,@OLD_AMT,'DELETED',@row_id,0)
END
GO
