USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[SearchEmployeeData]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--exec SearchEmployeeData @flag='s',@full_name='dip',@branch_name=Null,@dept_name=Null,@country=Null
create proc [dbo].[SearchEmployeeData]
	@flag char(1),
	@full_name varchar(50)=null,
	@branch_name varchar(50)=null,
	@dept_name varchar(20)=null,
	@country varchar(50)=null
	
AS
begin
	set nocount on;
	declare @SQL as varchar(7000)
	set @SQL='SELECT EMPLOYEE_ID,EMP_CODE,FIRST_NAME + '' '' + MIDDLE_NAME + '' '' + LAST_NAME AS EmpName FROM Employee with(nolock) where 1 = 1 '

	if @full_name is not null
	set @SQl=@SQl + ' and FIRST_NAME LIKE '''+ @full_name +'%'''

	if @dept_name is not null
	set @SQl=@SQl + ' and DEPARTMENT_ID= '''+ @dept_name +''''

	if @branch_name is not null
	set @SQl=@SQl + ' and BRANCH_ID= '''+ @branch_name +''''

	if @country is not null
	set @SQl=@SQl + ' and per_country= '''+ @country +''''

	 
	exec(@SQL)
	
		
end
GO
