USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_errorHandler]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[proc_errorHandler](
	 @errorCode	VARCHAR(10)
	,@msg		VARCHAR(MAX)
	,@id		VARCHAR(50)	
)	
AS
SET NOCOUNT ON
SELECT @errorCode errorCode, @msg msg, @id id
GO
