USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_PerformanceAppraisalMatrix]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[proc_PerformanceAppraisalMatrix]    
 @flag   VARCHAR(5)    
 ,@positionId VARCHAR(50) = null    
 ,@apprisalId INT = null    
 ,@matrixId  VARCHAR(max) = null    
 ,@ratingBy  VARCHAR(50) = null    
 ,@rating  VARCHAR(max) = null    
 ,@raterType  VARCHAR(2) = null    
 ,@templateId INT   = NULL    
 ,@questionId INT   = NULL    
 ,@soleComment VARCHAR(max) = NULL    
 ,@comments  VARCHAR(MAX)= NULL    
 ,@commentBy  INT   = NULL    
 ,@createdDate DATETIME = NULL    
 ,@raterTypeFlag varchar(10) = NULL 
 ,@setFlag       varchar(10) = NULL 
 ,@otherAchievements VARCHAR(MAX)= NULL    
 ,@specialAssignments  VARCHAR(MAX)= NULL
 ,@srComments	VARCHAR(MAX) = NULL
 ,@isAppraiseer VARCHAR(30) = NULL
AS     
SET NOCOUNT ON;    
    
BEGIN TRY    
    
 IF(@flag ='i')  
 BEGIN 
 
  IF EXISTS(SELECT DISTINCT appraisalId FROM appraisalRating WHERE appraisalId = @apprisalId and raterType = @raterType)
  BEGIN
	 delete appraisalRating where appraisalId  = @apprisalId and raterType = @raterType
  END
     
   --INSERT INTO appraisalRating(appraisalId  
   --       ,raterType  
   --       ,ratingBy  
   --       ,ratingDate  
   --       ,matrixId  
   --       ,rating  
   --       ,setFlag
   --       )  
   --    SELECT @appraisalId  
   --      ,@raterType
   --      ,@ratingBy  
   --      ,GETDATE()  
   --      ,m.name  
   --      ,r.name  
   --      ,@setFlag
   --       FROM dbo.split(@matrixId, ',') m  
   --       INNER JOIN (  
   --        SELECT   
   --         id, nullif(ltrim(name), '') as name
   --        FROM dbo.split(@rating, ',') 
   --       ) r ON m.id = r.id  
          
  
  INSERT INTO appraisalRating(appraisalId  
          ,raterType  
          ,ratingBy  
          ,ratingDate  
          ,matrixId  
          ,rating  
          ,setFlag
          ,srComments   
          )  
       SELECT @apprisalId  
         ,@raterType  
         ,@ratingBy  
         ,GETDATE()  
         ,m.name  
         ,r.name  
         ,@setFlag
         ,REPLACE(sr.name,'~',',')--sr.name	 
         FROM dbo.split(@matrixId, ',') m  
         INNER JOIN (SELECT id, NULLIF(LTRIM(name), '') as name
         FROM dbo.split(@rating, ',')) r ON m.id = r.id  
         LEFT JOIN (SELECT id,  NULLIF(LTRIM(name), '') as name 
		 FROM dbo.split(@srComments, ',') ) sr on sr.id = m.id
		  
		     
  IF @raterType='a'    
   UPDATE Appraisal SET APPRAISEE_DATE = GETDATE() where ID=@apprisalId    
  ELSE IF @raterType='r'    
   UPDATE Appraisal SET REVIEWER_DATE = GETDATE() where ID=@apprisalId            
              
  SELECT  '0' error_code, 'Data Save Successfully' as msg     
  return
      
  If @raterType='a' and @setFlag='sf'   
  Begin    
  -- Set variable for Email Notification.    
   Declare @msgContent Varchar(max)    
   ,@Appraiser varchar(300)    
   ,@recipient Varchar(max)    
       
   --Select @Appraiser =  ISNULL(@Appraiser + '; ', '')+SUPERVISOR from SuperVisroAssignment where EMP=@ratingBy and SUPERVISOR_TYPE='i' 
   Select @Appraiser =  ISNULL(@Appraiser + '; ', '')+SUPERVISOR from appraisalSupervisorAssignment where appraisal_id=@apprisalId  and SUPERVISOR_TYPE='s'   
       
	SET @msgContent=    
	'Dear Sir/Madam '    
	 +Rtrim(dbo.GetEmployeeFullNameOfId(@ratingBy))+' has self rated her/himself for performance appraisal.    
	 Please review and appraise the employee.    
        
	click here to go in system : http://10.0.0.70/     
    
	Thanks & Regards    
	Nabil Bank Ltd.(HR Department)'    
    
   SELECT @recipient = ISNULL(@recipient + '; ', '') +    
   CAST(OFFICIAL_EMAIL AS varchar(200)) FROM Employee WHERE EMPLOYEE_ID in (@Appraiser)    
    
   EXEC PROC_MAIL_SEND @recipient=@recipient, @subject_text='Performance Appraisal', @msg_text=@msgContent    
      
  End    
          
END       
   
 IF @flag = 's'    
 BEGIN       
  declare @appraiserPer as float, @reviewerPer as float, @empPosition varchar(10)
  SELECT @empPosition = POSITION_ID FROM appraisal WHERE ID =  @apprisalId
  
  SELECT @appraiserPer = cast((trm.percentage/100.0) as decimal(10,2))
  , @reviewerPer= cast((trm1.percentage/100.0) as decimal(10,2))
	FROM templateRecordMarking trm WITH(NOLOCK) 
	INNER JOIN appraisalPosition ap WITH(NOLOCK)
	ON trm.templateId = ap.templateId
	INNER JOIN templateRecordMarking trm1 ON trm1.templateId = ap.templateId
	WHERE ap.position = @empPosition 
	AND trm.markingBy = 1832 and trm1.markingBy = 1833

	SELECT    
	ROW_NUMBER() OVER(PARTITION BY appraisalSubTopic ORDER BY appraisalSubTopic ASC) SN    
	,p.perAppMatSetUpId     
	,p.appraisalSubTopic    
	,s.DETAIL_DESC [appraisal Sub Topic]    
	,appraisalSubTopicWeight [Weight(%)]    
	,s1.DETAIL_DESC [Job Element]    
	,jobElementWeight [jobElementWeight(%)]    
	,(appraisalSubTopicWeight * jobElementWeight)/100 [Total Weight (%)] 
	,ar.a
	,ar.s 
	,ar.r
	,ar.matrixId
	,sComment = src.s
	,rComment = src.r
	,(((@appraiserPer*isnull(ar.s,0))*(((appraisalSubTopicWeight * jobElementWeight)/100)/100.0)))+(((@reviewerPer*isnull(ar.r,0))*(((appraisalSubTopicWeight * jobElementWeight)/100)/100.0))) [weightedAverage]
	--(((@appraiserPer*isnull(ar.s,0))+(@reviewerPer* ISNULL(ar.r,0))) * ISNULL(jobElementWeight,0)/100.0) [weightedAverage]
	FROM performanceAppMatrixSetup p     
	INNER JOIN StaticDataDetail s ON s.ROWID = p.appraisalSubTopic    
	INNER JOIN StaticDataDetail s1 ON s1.ROWID = p.jobElement    
	INNER JOIN templateRecord t ON t.templateId = p.templateId    
	INNER JOIN appraisalPosition a ON a.templateId=p.templateId    
	INNER JOIN Appraisal a2 ON a2.POSITION_ID = a.position    
	LEFT JOIN (    
			SELECT     
				matrixId   
				,[s]    
				,[r]    
				,[a]    
				FROM (    
					  SELECT        
						matrixId   
						,raterType    
						,nullif(ltrim(rating), '') as rating--ISNULL(rating,'')rating    
						FROM appraisalRating  where appraisalId = @apprisalId 
		) st  
		PIVOT(    
				MAX(rating)    
				FOR raterType IN ([s], [r], [a])    
			 ) p     
		)ar on  ar.matrixId = p.perAppMatSetUpId
		
		LEFT JOIN (    
			SELECT     
				matrixId   
				,[s]    
				,[r]
				FROM (    
					  SELECT        
						matrixId   
						,raterType    
						,ISNULL(srComments, '') as comment
						FROM appraisalRating  where appraisalId = @apprisalId 
		) st  
		PIVOT(    
				MAX(comment)    
				FOR raterType IN ([s], [r])    
			 ) p     
		)src on  src.matrixId = p.perAppMatSetUpId

WHERE 
a2.POSITION_ID = @positionId AND 
a2.ID= @apprisalId   

   
--SELECT    
--  ROW_NUMBER() OVER(PARTITION BY appraisalSubTopic ORDER BY appraisalSubTopic ASC) SN    
-- ,p.perAppMatSetUpId     
-- ,p.appraisalSubTopic    
-- ,s.DETAIL_DESC [appraisal Sub Topic]    
-- ,appraisalSubTopicWeight [Weight(%)]    
-- ,s1.DETAIL_DESC [Job Element]    
-- ,jobElementWeight [Weight(%)]    
-- ,(appraisalSubTopicWeight * jobElementWeight)/100 [Total Weight (%)]    

--FROM performanceAppMatrixSetup p     
--INNER JOIN StaticDataDetail s ON s.ROWID = p.appraisalSubTopic    
--INNER JOIN StaticDataDetail s1 ON s1.ROWID = p.jobElement    
--INNER JOIN templateRecord t ON t.templateId = p.templateId    
--INNER JOIN appraisalPosition a ON a.templateId=p.templateId    
--INNER JOIN Appraisal a2 ON a2.POSITION_ID = a.position    
--WHERE a2.POSITION_ID = @positionId    
--AND a2.ID=@apprisalId    

  
END        
   
  ELSE IF @flag = 'all'    
  BEGIN    
    
declare @supervisor as float, @reviewer as float  
     
select @supervisor = trm.percentage,@reviewer = trm1.percentage from Appraisal a    
inner join appraisalPosition ap on ap.position = a.POSITION_ID    
inner join templateRecord t on t.templateId = ap.templateId    
inner join templateRecordMarking trm on trm.templateId = t.templateId and trm.markingBy='1832'    
inner join templateRecordMarking trm1 on trm1.templateId = t.templateId and trm1.markingBy='1833'    
where a.ID=@apprisalId    
    
 SELECT  
   main.*  
  ,[ar_a] = ar.a   
  ,[ar_r] = ar.r  
  ,[ar_s] = ar.s  
 ,[comment_a] = comment.a   
  ,[comment_r] = comment.r  
  ,[comment_s] = comment.s   
 FROM (  
  SELECT     
    ROW_NUMBER() OVER(PARTITION BY appraisalSubTopic ORDER BY appraisalSubTopic ASC) SN    
   ,ar.matrixId     
   ,p.appraisalSubTopic    
   ,[appraisal Sub Topic] = s.DETAIL_DESC    
   ,[Weight(%)] = appraisalSubTopicWeight     
   ,[Job Element] = s1.DETAIL_DESC   
   ,[WeightJE(%)] = jobElementWeight    
   ,[Total Weight (%)] = (appraisalSubTopicWeight * jobElementWeight)/100   
   ,ar.[s]    
   ,ar.[r]    
   ,ar.[a]    
   ,[Total Weight] = (((@supervisor*0.01)*isnull(ar.[s],0)) + ((@reviewer*0.01)*isnull(ar.[r],0)))* ((appraisalSubTopicWeight * jobElementWeight)*0.01)*0.01      
  FROM performanceAppMatrixSetup p     
  INNER JOIN StaticDataDetail s ON s.ROWID = p.appraisalSubTopic    
  INNER JOIN StaticDataDetail s1 ON s1.ROWID = p.jobElement    
  INNER JOIN templateRecord t ON t.templateId = p.templateId    
      
  INNER JOIN (    
  SELECT     
    matrixId   
   ,[s]    
   ,[r]    
   ,[a]    
  FROM (    
    SELECT        
   matrixId   
   ,raterType    
     ,isnull(rating,'')rating    
    FROM appraisalRating  where appraisalId = @apprisalId    
  ) st    
  PIVOT(    
   MAX(rating)    
   FOR raterType IN ([s], [r], [a])    
  ) p     
    ) ar ON ar.matrixId = p.perAppMatSetUpId    
     
  INNER JOIN appraisalRating ar2 ON ar.matrixId = ar2.matrixId    
  WHERE  ar2.appraisalId = @apprisalId  and ar2.raterType = @raterType  
 ) main  
 LEFT JOIN (  
  SELECT     
     
    ar.matrixId  
   ,ar.[s]    
   ,ar.[r]    
   ,ar.[a]  
  FROM performanceAppMatrixSetup p    
  INNER JOIN (    
  SELECT     
    matrixId   
   ,[s]    
   ,[r]    
   ,[a]    
  FROM (    
    SELECT        
   matrixId   
   ,raterType    
     ,isnull(R_flag,'')ar    
    FROM appraisalRating  where appraisalId = @apprisalId    
  ) st    
  PIVOT(    
   MAX(ar)    
   FOR raterType IN ([s], [r], [a])    
  ) p     
    ) ar ON ar.matrixId = p.perAppMatSetUpId    
     
  INNER JOIN appraisalRating ar2 ON ar.matrixId = ar2.matrixId    
  WHERE  ar2.appraisalId = @apprisalId  and ar2.raterType = @raterType  
 ) ar ON main.matrixId = ar.matrixId  
   
 LEFT JOIN (  
  SELECT     
    ar.matrixId    
   ,ar.[s]    
   ,ar.[r]    
   ,ar.[a]    
  FROM performanceAppMatrixSetup p
  INNER JOIN (    
  SELECT     
    matrixId   
   ,[s]    
   ,[r]    
   ,[a]    
  FROM (    
    SELECT        
   matrixId   
   ,raterType    
     ,isnull(R_comments,'')comment    
    FROM appraisalRating  where appraisalId = @apprisalId    
  ) st    
  PIVOT(    
   MAX(comment)    
   FOR raterType IN ([s], [r], [a])    
  ) p     
    ) ar ON ar.matrixId = p.perAppMatSetUpId    
     
  INNER JOIN appraisalRating ar2 ON ar.matrixId = ar2.matrixId    
  WHERE  ar2.appraisalId = @apprisalId  and ar2.raterType = @raterType  
 ) comment ON main.matrixId = comment.matrixId  
  END    
      
  IF @flag = 'sn'    
  BEGIN    
	INSERT INTO appraisalComments(appraisalId    
          ,questionId    
          ,soleComment    
          ,comments    
          ,commentBy    
          ,commentDate    
          ,raterTypeFlag  
          ,flag   
          )    
       SELECT @apprisalId    
         ,@questionId    
         ,@soleComment    
         ,@comments    
         ,@commentBy    
         ,GETDATE()    
         ,@raterTypeFlag 
         ,'f'   
             
     SELECT '0' as error_code , 'Data Save Successfully' as msg     
  END  
  
  IF @flag = 'a'  
  BEGIN  
	 IF(ISNULL(@raterTypeFlag,'N')='TRUE')
	 BEGIN
		IF  EXISTS(SELECT 'X' FROM appraisalComments WITH(NOLOCK) WHERE appraisalId = @apprisalId AND raterTypeFlag = 'a' AND flag IN('p','t'))
		BEGIN
			DELETE FROM appraisalComments WHERE appraisalId = @apprisalId AND raterTypeFlag = 'a' AND flag IN('p','t')
		END 
		INSERT INTO appraisalComments(appraisalId  
			  ,questionId  
			 -- ,soleComment  
			  ,comments  
			  ,commentBy  
			  ,commentDate  
			  ,raterTypeFlag  
			  ,flag 
			  ,otherAchievements
			  ,specialAssignments 
			  )  
		   SELECT @apprisalId  
			 ,@questionId  
			 --,@soleComment  
			 ,@comments  
			 ,@commentBy
			 ,GETDATE()  
			 ,'a'  
			 ,@setFlag--'t'
			 ,@otherAchievements
			 ,@specialAssignments 
			 
			 IF ISNULL(@setFlag,'N')='t'
			 BEGIN	
	-- Set variable for Email Notification.    
				  
	 --Select @Appraiser =  ISNULL(@Appraiser + '; ', '')+SUPERVISOR from SuperVisroAssignment where EMP=@ratingBy and SUPERVISOR_TYPE='i'  
	 Select @Appraiser =  ISNULL(@Appraiser + '; ', '')+SUPERVISOR from appraisalSupervisorAssignment where appraisal_id=@apprisalId  and SUPERVISOR_TYPE='s'  
				       
	SET @msgContent= 
	'Dear Sir/Madam' 
	+Rtrim(dbo.GetEmployeeFullNameOfId(@ratingBy))+'has initiated his/her performance appraisal.
	  			        
	click here to go in system : http://10.0.0.70/    
				    
	Thanks & Regards    
	Nabil Bank Ltd.(HR Department)'    
				    
				   SELECT @recipient = ISNULL(@recipient + '; ', '') +    
				   CAST(OFFICIAL_EMAIL AS varchar(200)) FROM Employee WHERE EMPLOYEE_ID in (@Appraiser)  				   
				    
				    --select  recipient=@recipient, subject_text='Performance Appraisal', msg_text=@msgContent 
				    --return; 
				   EXEC PROC_MAIL_SEND @recipient=@recipient, @subject_text='Performance Appraisal', @msg_text=@msgContent     
			 END
			 
		SELECT '0' as error_code , 'Data Save Successfully' as msg  
		RETURN 
	 END
	 ELSE IF(ISNULL(@raterTypeFlag,'N')='FALSE' AND ISNULL(@isAppraiseer,'N')='TRUE')
	 BEGIN	 
		IF(@soleComment IS NOT NULL)
		BEGIN
		    IF EXISTS(SELECT 'X' FROM appraisalComments WITH(NOLOCK) WHERE appraisalId = @apprisalId AND raterTypeFlag = 's' AND flag IN ('p','t'))
		    BEGIN
				DELETE FROM appraisalComments WHERE appraisalId = @apprisalId AND raterTypeFlag = 's' AND flag IN ('p','t')
		    END	
		    INSERT INTO appraisalComments(appraisalId  
			  ,questionId  
			  ,soleComment  
			  --,comments  
			  ,commentBy  
			  ,commentDate  
			  ,raterTypeFlag  
			  ,flag 
			  --,otherAchievements
			  ,specialAssignments 
			  )  
		   SELECT @apprisalId  
			 ,@questionId  
			 ,@soleComment  
			 --,@comments  
			 ,@commentBy  
			 ,GETDATE()  
			 ,'s'  
			 ,@setFlag--'t'
			 --,@otherAchievements
			 ,@specialAssignments 		
		END				  
		SELECT '0' as error_code , 'Data Save Successfully' as msg  
		RETURN		
	 END
	 SELECT '1' as error_code , 'Sorry! Operation Fail' as msg  
	 RETURN 
	  -- update appraisal set Appraisee_Task_Date = GETDATE() where id = @apprisalId    
  END
  
  IF @flag = 'sat' --For Appraisal Task
  BEGIN
	SELECT @comments = comments,@otherAchievements = otherAchievements FROM appraisalComments WITH(NOLOCK) WHERE appraisalId = @apprisalId AND ISNULL(flag,'') IN('t','p') AND raterTypeFlag = 'a'
	SELECT @soleComment = soleComment FROM appraisalComments WITH(NOLOCK) WHERE appraisalId = @apprisalId AND ISNULL(flag,'') IN('t','p') AND raterTypeFlag IN('a','s')  AND soleComment IS NOT NULL
	SELECT comments = @comments, soleComment = @soleComment,otherAchievements = @otherAchievements
	RETURN
  END
  
END TRY 
BEGIN CATCH    
 IF @@TRANCOUNT > 0    
 ROLLBACK TRANSACTION   
 SELECT '1' ERROR_CODE, ERROR_MESSAGE() msg
END CATCH    
    
/*    
select * from appraisalRating    
     
 truncate table appraisalRating    
*/
GO
