USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[procSalaryReportForMonth_trail]    Script Date: 08/15/2016 12:06:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[procSalaryReportForMonth_trail]
	@flag varchar(10)=null,
	@brach varchar(20)=null,
	@dept varchar(20)=null,
	@empid varchar(20) =null,
	@year varchar(100)=null,
	@month varchar(20)=null
as

set nocount on;

if @flag = 'a'
begin


declare @sql varchar(MAX)



	set @sql = 'SELECT 
		 FIRST_NAME+'' ''+MIDDLE_NAME+'' ''+ LAST_NAME AS EmployeeName, 
		 dbo.getdetailtitle(POSITION_ID)as Post,
		 Basic_Salary_Current as BasicSalary,
         Grade_Current as Grade,
         (BASIC_SALARY_CURRENT+GRADE_CURRENT) as ''Total Basic Salary'',
         ALLOWANCE_CURRENT as ''Monthly Allowance'',
         
         (Vehicle_Benift+House_Benefit+Pension_Income) as ''Other Allowance'',
         
          CONTRI_THIS_MONTH_EMPLOYER as ''Contribution to P.Fund'',
          
         (BASIC_SALARY_CURRENT+GRADE_CURRENT+ ALLOWANCE_CURRENT+CONTRI_THIS_MONTH_EMPLOYER) as ''Total Gross Salary'',
        
         (Contri_Current_Employee+Contri_This_Month_Employer) as CIT,
         
          TAX_THIS_MONTH as TDS,
         
          ISNULL(a.vehicle,0) as ''Vechicle Facility'',
          ISNULL(a.home,0) as ''Home Facility'' ,
          ISNULL(b. AMOUNT,0 )as Advance,
         
         (BASIC_SALARY_CURRENT+GRADE_CURRENT+ ALLOWANCE_CURRENT+
         ADHOC_BENEFITS_THIS_MONTH+CONTRI_THIS_MONTH_EMPLOYER-
         dbo.showdecimal(CONTRI_THIS_MONTH_EMPLOYER+CONTRI_CURRENT_EMPLOYEE+TAX_THIS_MONTH+
         ADHOC_DEDUCTION_CURRENT+LOAN_DEDUCTION+ADVANCE_DEDUCTION))   AS ''NET SALARY''
         
         from TaxCalculation_Trial TC
         INNER JOIN EMPLOYEE E with(nolock) ON E.EMPLOYEE_ID =TC.EMP_ID
         
         --LOAN DEDUCTION---
         
         left join (select x.emp_id,
	     sum(case
		 when DETAIL_DESC=''Home Loan'' then cast(loan as money)
		 else 0 
	     end) as home
	     ,
	     sum(case
		 when DETAIL_DESC=''Hirepurchase Loan'' then cast(loan as money)
		 else 0
	     end) as vehicle
	     from (SELECT emp_id,dbo.ShowDecimal(SUM(paid_amount))as loan,DETAIL_DESC FROM loan_collection_trial A WITH (NOLOCK),
         LOAN B WITH (NOLOCK ), StaticDataDetail C WITH (NOLOCK)
		 WHERE A.loan_id=B.ID
		 AND B. LOAN_TYPE=C.ROWID
		-- AND A. emp_id =B.EMPLOYEE_ID
		 GROUP BY DETAIL_DESC,emp_id)x group by emp_id) a on a.emp_id=TC.Emp_Id
		 
		--ADVANCE DEDUCTION---
	    left join (SELECT DETAIL_DESC,EMPLOYEE_ID, dbo.ShowDecimal(SUM(paid_amount)) AS AMOUNT FROM AdvanceCollection_trial A
		WITH (NOLOCK), ADVANCE B WITH (NOLOCK), StaticDataDetail C WITH (NOLOCK)
		WHERE A . ADVANCE_ID=B.ID
		AND B. ADVANCE_TYPE=C.ROWID
		GROUP BY DETAIL_DESC,EMPLOYEE_ID) b on B.EMPLOYEE_ID=TC.Emp_Id
		 
         WHERE    FY_ID = '''+ @year +''''

	
					if @brach is not null
					set @sql= @sql + ' and E.BRANCH_ID = '+ @brach
					
					if @dept is not null
					set @sql= @sql + ' and E.DEPARTMENT_ID = '+ @dept
					
					if @empid is not null
					set @sql= @sql + ' and E.EMPLOYEE_ID = '+ @empid
					
					if @month is not null
					set @sql= @sql + ' and cast(RUN_MONTH as int) = cast('+ @month +' as int) ' 
					
					set @sql=@sql+' order by emp_code '	
			 
 exec(@sql)
	--print(@sql)
			
end
GO
