USE [ERP_copt_new]
GO
/****** Object:  StoredProcedure [dbo].[proc_gradeIncrement_test]    Script Date: 08/15/2016 12:06:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*          
          
exec proc_gradeIncrement_test @flag='upload',@file_path='D:\PROJECTS\ERP_NABIL\SwiftHrManagement.web\doc\payroll_upload\grade\gradeUpload_sample.csv'          
          
EXEC proc_gradeIncrement_test @flag='save',@fiscalYear='69-70',@appRating='906',@effectiveDate='7/16/2012',@applyDate='9/17/2012',@user='1000'          
          
EXEC proc_gradeIncrement_test @flag='save',@fiscalYear='70-71',@appRating='906',@effectiveDate='4/14/2013',@applyDate='4/13/2014',@emp_ids='1189',@user='1000'          
          
 */           
CREATE PROC [dbo].[proc_gradeIncrement_test]          
 @flag VARCHAR(20),          
 @branchId int   = null,          
 @deptId int    = null,          
 @postionId int   = null,          
 @salarySet int   = null,          
 @fiscalYear varchar(50) = null,          
 @appRating varchar(50) = null,          
 @effectiveDate date = null,          
 @applyDate  date = null,          
 @emp_ids  varchar(max) = null,          
 @user   varchar(50) = null,          
 @file_path  varchar(max) =null          
           
AS          
SET NOCOUNT ON          
SET XACT_ABORT ON          
BEGIN TRY          
          
 if @flag='save'          
 begin          
  IF OBJECT_ID('tempdb..#TempTable') IS NOT NULL          
  DROP TABLE #TempTable          
           
  CREATE TABLE #TempTable          
  (          
   --EMPLOYEE_ID INT NULL,          
   --BENEFIT_ID INT NULL,          
   --SET_ID INT NULL,          
   --INCREMENT_BY INT NULL,          
   --OLD_GRADE FLOAT NULL,          
   --NEW_GRADE FLOAT NULL,          
   --OLD_BASIC MONEY NULL,          
   --NEW_BASIC MONEY NULL          
           
   EMPLOYEE_ID INT NULL,       
   PROMOTION_DATE DATE NULL,         
   BENEFIT_ID INT NULL,          
   SET_ID INT NULL,          
   INCREMENT_BY INT NULL,         
   Diff INT NulL,         
   OLD_GRADE FLOAT NULL,          
   NEW_GRADE FLOAT NULL,          
   OLD_BASIC MONEY NULL,          
   NEW_BASIC MONEY NULL              
  )            
            
  /*          
   EXEC proc_gradeIncrement_test @flag='save',@fiscalYear='69-70',@appRating='906',@effectiveDate='09/01/2012',@applyDate='09/01/2012'          
   ,@emp_ids='1320,1321,1322,1323,1324,1325,1326,1327'          
            
  */          
            
  DECLARE @INCREMENT_BY AS INT,@intTotalRows INT          
            
  IF @appRating='2027'           
   SET @INCREMENT_BY=3          
  IF @appRating='2028'           
   SET  @INCREMENT_BY=2          
  IF @appRating='2026'           
   SET  @INCREMENT_BY=1          
            
  IF @emp_ids is not null          
  BEGIN          
          
  INSERT INTO #TempTable         
 SELECT EMPLOYEE_ID,max(PROMOTION_DATE)as PROMOTION_DATE,BENEFIT_ID,SET_ID,@INCREMENT_BY,datediff(mm,max(PROMOTION_DATE),@effectiveDate) as Diff,Grade,NULL,AMOUNT ,NULL      
FROM (SELECT b.EMPLOYEE_ID,P.Promotion_Date,b.BENEFIT_ID,b.SET_ID,C.GRADE,'' as blank,b.AMOUNT FROM        
  (       
  select * from dbo.split(@emp_ids,',')--Employee where EMP_TYPE=185        
  )a       
  INNER JOIN  Payable b ON a.name=b.EMPLOYEE_ID         
  INNEr JOIN EMPLOYEE C ON C.EMPLOYEE_ID=A.name       
  LEFT JOIN Promotion P ON P.emp_id =C.EMPLOYEE_ID       
  WHERE b.BENEFIT_ID=390 AND effective_upto >='2999-07-16'-- and p.emp_id =a.id      
  )x group by EMPLOYEE_ID,BENEFIT_ID,SET_ID,Grade,blank,AMOUNT        
     
          
  set @intTotalRows=1          
  while @INCREMENT_BY >=  @intTotalRows          
  begin          
    -- UPDATE #TempTable SET NEW_GRADE = OLD_GRADE+@intTotalRows          
      UPDATE #TempTable SET NEW_GRADE =  CASE WHEN diff < 6 THEN OLD_GRADE  ELSE OLD_GRADE + @intTotalRows  END        
    --select * from #TempTable          
          
    --DELETE FROM #TempTable WHERE NEW_GRADE>20          
          
    UPDATE #TempTable SET NEW_BASIC= CASE WHEN B.NEW_GRADE <> A.OLD_GRADE THEN ISNULL(A.NEW_BASIC,0)+ISNULL(B.Amount,0) ELSE ISNULL(A.OLD_BASIC,0) END FROM #TempTable A,          
    (          
     SELECT A.*,B.Salary_set_id,B.Grade,B.Amount           
     FROM #TempTable A INNER JOIN Grade_Setup B           
     ON A.SET_ID=B.Salary_set_id AND A.NEW_GRADE=B.Grade          
               
    )B WHERE A.EMPLOYEE_ID = B.EMPLOYEE_ID AND A.SET_ID = B.SET_ID --AND B.NEW_GRADE <> A.OLD_GRADE          
              
    set @intTotalRows=@intTotalRows+1  
    
  end          
          
  END          
          
  If (@emp_ids is null or @emp_ids='')          
  begin          
  INSERT INTO #TempTable         
 SELECT EMPLOYEE_ID,max(PROMOTION_DATE)as PROMOTION_DATE,BENEFIT_ID,SET_ID,@INCREMENT_BY,datediff(mm,max(PROMOTION_DATE),@effectiveDate) as Diff,Grade,NULL,AMOUNT ,NULL      
FROM (SELECT b.EMPLOYEE_ID,P.Promotion_Date,b.BENEFIT_ID,b.SET_ID,C.GRADE,'' as blank,b.AMOUNT FROM        
  (       
  select emp_id name from TempGradeIncrement       
  )a       
  INNER JOIN  Payable b ON a.name=b.EMPLOYEE_ID         
  INNEr JOIN EMPLOYEE C ON C.EMPLOYEE_ID=A.name       
  LEFT JOIN Promotion P ON P.emp_id =C.EMPLOYEE_ID       
  WHERE b.BENEFIT_ID=390 AND effective_upto >='2999-07-16'-- and p.emp_id =a.id      
  )x group by EMPLOYEE_ID,BENEFIT_ID,SET_ID,Grade,blank,AMOUNT      
    
   set @intTotalRows=1          
  while @INCREMENT_BY >=  @intTotalRows          
  begin          
    -- UPDATE #TempTable SET NEW_GRADE = OLD_GRADE+@intTotalRows          
      UPDATE #TempTable SET NEW_GRADE =  CASE WHEN diff < 6 THEN OLD_GRADE  ELSE OLD_GRADE + @intTotalRows  END        
    --select * from #TempTable          
          
    --DELETE FROM #TempTable WHERE NEW_GRADE>20          
          
    UPDATE #TempTable SET NEW_BASIC= CASE WHEN B.NEW_GRADE <> A.OLD_GRADE THEN ISNULL(A.OLD_BASIC,0)+ISNULL(B.Amount,0) ELSE ISNULL(A.OLD_BASIC,0) END FROM #TempTable A,          
    (          
     SELECT A.*,B.Salary_set_id,B.Grade,B.Amount           
     FROM #TempTable A INNER JOIN Grade_Setup B           
     ON A.SET_ID=B.Salary_set_id AND A.NEW_GRADE=B.Grade          
               
    )B WHERE A.EMPLOYEE_ID = B.EMPLOYEE_ID AND A.SET_ID = B.SET_ID --AND B.NEW_GRADE <> A.OLD_GRADE          
              
    set @intTotalRows=@intTotalRows+1       
              
  end          
  END          
            
  SELECT A.EMPLOYEE_ID [EMPLOYEE ID]      
  ,B.EMP_CODE [EMP CODE]      
  ,LTRIM(RTRIM(dbo.GetEmployeeFullNameOfId(A.EMPLOYEE_ID))) [EMPLOYEE NAME],          
  dbo.GetBranchName(B.BRANCH_ID) [BRANCH],dbo.GetDeptName(B.DEPARTMENT_ID) [DEPARTMENT],dbo.GetDetailTitle(B.POSITION_ID) [POSITION],Diff         
  ,@fiscalYear [FISCAL YEAR],LTRIM(RTRIM(DBO.GetDetailTitle(@appRating))) [APPRAISAL RATING],          
  B.GRADE [OLD GRADE],case when NEW_GRADE>20 then '20' else NEW_GRADE end [NEW GRADE],          
  dbo.ShowDecimal(NEW_BASIC) [NEW BASIC],dbo.ShowDecimal(OLD_BASIC) [OLD BASIC],          
  dbo.ShowDecimal(NEW_BASIC-OLD_BASIC) [INCREMENTED AMOUNT], convert(varchar,@effectiveDate,107) [EFFECTIVE DATE],          
  convert(varchar,@applyDate,107) [APPLY ON]          
  FROM #TempTable A INNER JOIN Employee B ON A.EMPLOYEE_ID=B.EMPLOYEE_ID          
  order by A.EMPLOYEE_ID          
      
      
  --SELECT A.EMPLOYEE_ID [EMPLOYEE ID]      
  --,B.EMP_CODE [EMP CODE]      
  --,LTRIM(RTRIM(dbo.GetEmployeeFullNameOfId(A.EMPLOYEE_ID))) [EMPLOYEE NAME],          
  --dbo.GetBranchName(B.BRANCH_ID) [BRANCH],dbo.GetDeptName(B.DEPARTMENT_ID) [DEPARTMENT],dbo.GetDetailTitle(B.POSITION_ID) [POSITION],Diff         
  --,@fiscalYear [FISCAL YEAR],LTRIM(RTRIM(DBO.GetDetailTitle(@appRating))) [APPRAISAL RATING],          
  --B.GRADE [OLD GRADE],case when NEW_GRADE>20 then '20' else NEW_GRADE end [NEW GRADE],          
  --dbo.ShowDecimal(OLD_BASIC) [NEW BASIC],dbo.ShowDecimal(NEW_BASIC) [OLD BASIC],          
  --dbo.ShowDecimal(NEW_BASIC) [INCREMENTED AMOUNT], convert(varchar,@effectiveDate,107) [EFFECTIVE DATE],          
  --convert(varchar,@applyDate,107) [APPLY ON]          
  --FROM #TempTable A INNER JOIN Employee B ON A.EMPLOYEE_ID=B.EMPLOYEE_ID          
  --order by A.EMPLOYEE_ID          
           
  
 end          
          
 IF @flag='upload'          
 BEGIN          
          
 Truncate Table TempGradeIncrement          
          
 declare @SQL varchar(1000)           
 set @file_path = replace(@file_path,'\\','\')           
          
 create table #tempNumberUpload          
  (          
   EMP_ID INT NULL          
  )          
          
 SET @SQL = ' BULK INSERT #tempNumberUpload  FROM '''+@file_path+'''           
      WITH (FIELDTERMINATOR = '','',FIRSTROW  = 2, ROWTERMINATOR =''\n'') '          
               
 exec(@SQL)          
          
 --select * from #tempNumberUpload          
 --return;          
          
 update #tempNumberUpload          
      set           
   emp_id=replace(ltrim(emp_id),'á','')          
          
 update #tempNumberUpload          
      set           
   emp_id=replace((emp_id),' ','')          
          
          
  if exists (select * from #tempNumberUpload where emp_id not in (select EMPLOYEE_ID from Employee))          
  begin          
   select 'Some Employee ID is Invalid!' as remarks          
   return;          
  end          
              
  --Select * from #tempNumberUpload          
  --return;          
          
  insert into TempGradeIncrement          
  select * from #tempNumberUpload          
          
  DROP TABLE #tempNumberUpload          
  select 'Upload Completed Sucessfully!' as msg;          
 END          
          
          
END TRY          
BEGIN CATCH          
     IF @@TRANCOUNT > 0          
     ROLLBACK TRANSACTION          
     SELECT 1 error_code, ERROR_MESSAGE() mes, null id          
END CATCH
GO
