
body {
     background: rgb(204,204,204); 
 }
page {
    background: white;
    display: block;
    margin: 0 auto;
    margin-bottom: 0.5cm;
    box-shadow: 0 0 0.5cm rgba(0,0,0,0.5);
}
page[size="A4"] {  
    width: 21cm;
    height: 29.7cm; 
}
page[size="A4"][layout="portrait"] {
    width: 29.7cm;
    height: 21cm;  
}

@media print {
    body, page {
        margin: 0;
        box-shadow: 0;
    }
}
.Chkbox {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 15px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.Chkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border: 1px solid #000;
    background-color: #ffffff;
}

/* On mouse-over, add a grey background color */
.Chkbox:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.Chkbox input:checked ~ .checkmark {
    background-color: #000;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.Chkbox input:checked ~ .checkmark:after {
    display: block;
}

/* Style the checkmark/indicator */
.Chkbox .checkmark:after {
    left: 9px;
    top: -5px;
    width: 5px;
    height: 19px;
    border: solid white;
    border-width: 0 2px 2px 0;
    -webkit-transform: rotate(50deg);
    -ms-transform: rotate(45deg);
    transform: rotate(50deg);
}

@page {
    size: 7in 9.25in;
    margin: 27mm 16mm 27mm 16mm;
}
@media print {
    .myDivToPrint {
        background-color: white;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        padding: 15px;
        font-size: 14px;
        line-height: 18px;
    }
}

@import url('https://fonts.googleapis.com/css?family=Roboto:700,900');

.normal-container {
	position: absolute;
	height: 100%;
	width: 100%;
}

.smile-rating-container {
	position: relative;
	height: 10%;
	min-width: 220px;
	max-width: 520px;
	margin: auto;
	font-family: 'Roboto', sans-serif;
	top: 20%;
}

.submit-rating {
	display: flex;
	align-items: center;
	justify-content: center;
}
.rating-label {
	position: relative;
	font-size: 1.6em;
	text-align: center;
	flex: 0.34;
	z-index: 3;
	font-weight: bold;
	cursor: pointer;
	color: #d0cccd;
	transition: 500ms;
}
.rating-label:hover, .rating-label:active {
	color: #d0cccd;
}
.rating-label-fun {
	left: -58px;	
	text-align: right;
}
.rating-label-meh {
	left: 58px;	
	text-align: left;
	color: #222;
}
.smile-rating-container input {
	display: none;
}

.smile-rating-toggle-container {
	
}

.toggle-rating-pill {
	position: relative;
	height: 65px;
	width: 165px;
	background: #d0cccd;
	border-radius: 500px;
	transition: all 500ms;
}

.smile-rating-toggle {
	position: absolute;
	width: 54px;
	height: 54px;
	background-color: white;
	left: 182px;
	border-radius: 500px;
	transition: all 500ms;
	z-index: 4;
}
.rating-eye {
	position: absolute;
	height: 12px;
	width: 8px;
	top: 22px;
	background: #d0cccd;
	border-radius: 500px;
	z-index: 5;
	transition: all 440ms;
	animation: blink-eye 3s infinite;
}
@keyframes blink-eye {
	0% {
		height: 12px;
		width: 8px;
		top: 22px;
	}
	20% {
		height: 12px;
		width: 8px;
		top: 22px;
	}
	40% {
		height: 12px;
		width: 8px;
		top: 22px;		
	}
	60% {
		height: 12px;
		width: 8px;
		top: 22px;
	}
	80% {
		height: 12px;
		width: 8px;
		top: 22px;
	}
	90% {
		height: 12px;
		width: 8px;
		top: 22px;		
	}
	95% {
		height: 2px;
		width: 8px;
		top: 30px;
	}
	100% {
		height: 12px;
		width: 8px;
		top: 22px;
	}
}
.rating-eye-left {
	left: 192px;
}
.rating-eye-right {
	left: 216px;
}

.mouth {
	position: absolute;
	width: 28px;
	height: 20px;
	z-index: 6;
	border: 4px solid #d0cccd;
	border-radius: 10%;
	border-bottom-color: rgba(1,1,1,0);
	border-right-color: rgba(1,1,1,0);
	border-left-color: rgba(1,1,1,0);
	top: 42px;
	left: 190px;
	transition: all 500ms;
}

/*
Toggle Changes
*/

#meh:checked~.rating-label-meh {
	color: #555e63;
}
#fun:checked~.rating-label-meh {
	color: #d0cccd;
}
#fun:checked~.mouth {
	border: 4px solid #00b9ee;
	border-bottom-color: rgba(1,1,1,0);
	border-right-color: rgba(1,1,1,0);
	border-left-color: rgba(1,1,1,0);
	top: 23px;
	left: 291px;
	transform: rotateX(180deg);
	border-radius: 100%;
}

#fun:checked~.rating-label-fun {
	color: #555e63;
}
#fun:checked~.smile-rating-toggle {
	left: 282px;
}

#fun:checked~.rating-eye-left {
	left: 292px;
}
#fun:checked~.rating-eye-right {
	left: 316px;
}

#fun:checked~.toggle-rating-pill {
	background-color: #00b9ee;
}

#fun:checked~.rating-eye {
	background-color: #00b9ee;
}


@media only screen and (max-width:524px) {
	.normal-container {
		position: absolute;
		height: 100%;
		width: 100%;
	}
	.smile-rating-container {
		position: relative;
		height: 10%;
		width: 490px;
		margin: auto;
		font-family: 'Roboto', sans-serif;
		top: 20%;
	}

	.submit-rating {
		display: flex;
		align-items: center;
		justify-content: center;
	}
	.rating-label {
		position: relative;
		font-size: 1.6em;
		text-align: center;
		flex: 0.34;
		z-index: 3;
		font-weight: bold;
		cursor: pointer;
		color: #d0cccd;
		transition: 500ms;
	}
	.rating-label:hover, .rating-label:active {
		color: #d0cccd;
	}
	.rating-label-fun {
		left: -58px;	
		text-align: right;
	}
	.rating-label-meh {
		left: 50px;	
		text-align: left;
		color: #222;
	}
	.smile-rating-container input {
		display: none;
	}

	.smile-rating-toggle-container {

	}

	.toggle-rating-pill {
		position: relative;
		height: 65px;
		width: 165px;
		background: #d0cccd;
		border-radius: 500px;
		transition: all 500ms;
	}

	.smile-rating-toggle {
		position: absolute;
		width: 54px;
		height: 54px;
		background-color: white;
		left: 168px;
		border-radius: 500px;
		transition: all 500ms;
		z-index: 4;
	}
	.rating-eye {
		position: absolute;
		height: 12px;
		width: 8px;
		background: #d0cccd;
		border-radius: 500px;
		top: 22px;
		z-index: 5;
		transition: all 440ms;
	}
	.rating-eye-left {
		left: 180px;
	}
	.rating-eye-right {
		left: 201px;
	}

	.mouth {
		position: absolute;
		width: 28px;
		height: 20px;
		z-index: 6;
		border: 4px solid #d0cccd;
		border-radius: 10%;
		border-bottom-color: rgba(1,1,1,0);
		border-right-color: rgba(1,1,1,0);
		border-left-color: rgba(1,1,1,0);
		top: 42px;
		left: 177px;
		transition: all 500ms;
	}

	/*
	Toggle Changes
	*/

	#meh:checked~.rating-label-meh {
		color: #222222;
	}
	#fun:checked~.rating-label-meh {
		color: #d0cccd;
	}
	#fun:checked~.mouth {
		border: 4px solid #00008b;
		border-bottom-color: rgba(1,1,1,0);
		border-right-color: rgba(1,1,1,0);
		border-left-color: rgba(1,1,1,0);
		top: 23px;
		left: 275px;
		transform: rotateX(180deg);
		border-radius: 100%;
	}

	#fun:checked~.rating-label-fun {
		color: #008080;
	}
	#fun:checked~.smile-rating-toggle {
		left: 266px;
	}

	#fun:checked~.rating-eye-left {
		left: 275px;
	}
	#fun:checked~.rating-eye-right {
		left: 300px;
	}

	#fun:checked~.toggle-rating-pill {
		background-color: #00b9ee;
	}

	#fun:checked~.rating-eye {
		background-color: #00b9ee;
	}

}